openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Email Sending suppressions API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Email Sending suppressions
paths:
  /accounts/{account_id}/email/sending/suppression:
    get:
      operationId: get_publicListSuppressionSending
      summary: List account email suppressions
      description: Lists email suppressions for the specified account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: '54442216'
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 0
      - name: per_page
        in: query
        schema:
          type: integer
          default: 100
          maximum: 1000
          minimum: 0
      - name: order
        in: query
        schema:
          type: string
          default: created_at
          enum:
          - email
          - expires_at
          - created_at
      - name: direction
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Returns suppressed emails.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 0
                  per_page:
                    type: integer
                    example: 100
                  result:
                    type: array
                    items:
                      properties:
                        created_at:
                          type: string
                          format: date-time
                        email:
                          type: string
                          format: email
                          example: user@example.com
                        expires_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        id:
                          type: string
                          format: uuid
                        reason:
                          type: string
                          example: hard_bounce
                        zones:
                          type: array
                          items:
                            type: string
                          default: []
                      required:
                      - id
                      - email
                      - reason
                      - created_at
                      - expires_at
                      type: object
                  total:
                    type: integer
                    example: 1
                required:
                - page
                - per_page
                - total
                - result
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
                    example: false
                required:
                - success
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-ignore: true
      x-fern-sdk-group-name: email.suppressions
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: post_publicNewSuppressionSending
      summary: Create account email suppression
      description: Creates a new email suppression for the specified account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: '54442216'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                expires_at:
                  type:
                  - string
                  - 'null'
                  format: date-time
              required:
              - email
      responses:
        '200':
          description: Returns suppression.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                    required:
                    - id
                required:
                - result
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
                    example: false
                required:
                - success
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-ignore: true
      x-fern-sdk-group-name: email.suppressions
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/email/sending/suppression/{suppression_id}:
    delete:
      operationId: delete_publicDeleteSuppressionSending
      summary: Delete account email suppression
      description: Deletes an email suppression for the specified account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: '54442216'
      - name: suppression_id
        in: path
        required: true
        schema:
          type: string
          example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
      responses:
        '200':
          description: Deletes suppression.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
        '404':
          description: Suppression not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  success:
                    type: boolean
                    example: false
                required:
                - success
                - error
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-ignore: true
      x-fern-sdk-group-name: email.suppressions
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: get_publicGetSuppressionSending
      summary: Get account email suppression
      description: Retrieves a single email suppression for the specified account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: '54442216'
      - name: suppression_id
        in: path
        required: true
        schema:
          type: string
          example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
      responses:
        '200':
          description: Returns suppression.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      email:
                        type: string
                        format: email
                        example: user@example.com
                      expires_at:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      id:
                        type: string
                        format: uuid
                      reason:
                        type: string
                        example: hard_bounce
                      zones:
                        type: array
                        items:
                          type: string
                        default: []
                    required:
                    - id
                    - email
                    - reason
                    - created_at
                    - expires_at
                required:
                - result
        '404':
          description: Suppression not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  success:
                    type: boolean
                    example: false
                required:
                - success
                - error
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-ignore: true
      x-fern-sdk-group-name: email.suppressions
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/email/sending/suppressions:
    get:
      operationId: get_publicListSendingSuppressions
      summary: List account Email Sending suppressions
      description: 'Lists every active Email Sending suppression owned by the account: sending-domain suppressions first, then account-wide suppressions (including legacy rows with internal zone memberships). Each group is newest first.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID.
          type: string
          example: '12345678'
      - name: per_page
        in: query
        schema:
          description: Maximum number of suppressions to return per page.
          type: integer
          example: 100
          default: 100
          maximum: 1000
          minimum: 1
      - name: cursor
        in: query
        schema:
          description: Opaque pagination cursor returned as `result_info.next_cursor`. It carries the filters that produced it.
          type: string
          example: eyJ0Ijo0LCJwaCI6ImRvbWFpbiIsInAiOjEyMywiYyI6ImMzZGM1ZjBiMzRhMTRmZjhlMWIzZWMwNDg5NWUxYjIyIn0
          maxLength: 2048
      - name: email
        in: query
        schema:
          description: Exact email-address filter.
          type: string
          format: email
          example: user@example.com
      - name: search
        in: query
        schema:
          description: A complete address is an exact match; a value ending in `@` matches that username across every domain. Prefix searches may return short intermediate pages while the bounded account scan advances.
          type: string
          example: billing@
          maxLength: 320
          minLength: 1
      - name: reason
        in: query
        schema:
          description: Filter to suppressions with this reason.
          type: string
          example: hard_bounce
          enum:
          - manual
          - complaint
          - hard_bounce
          - soft_bounce
          - policy
      - name: scope_type
        in: query
        schema:
          description: 'Filter by scope: `account` returns only account-wide suppressions, `sending_domain` only sending-domain suppressions. Omit to list both, sending-domain suppressions first.'
          type: string
          example: sending_domain
          enum:
          - account
          - sending_domain
      - name: scope_value
        in: query
        schema:
          description: Exact sending-domain filter. Requires `scope_type=sending_domain`.
          type: string
          example: mail.example.com
          maxLength: 1024
      responses:
        '200':
          description: Returns Email Sending suppressions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: array
                    items:
                      properties:
                        created_at:
                          description: When the suppression was created.
                          type: string
                          format: date-time
                          example: '2026-01-02T02:20:00Z'
                        email:
                          description: The suppressed email address.
                          type: string
                          format: email
                          example: user@example.com
                        expires_at:
                          description: When the suppression expires. Null for a permanent suppression.
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2027-01-01T00:00:00Z'
                        id:
                          description: Unique identifier for this suppression.
                          type: string
                          format: uuid
                          example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
                        note:
                          description: Advisory note for this suppression, if any.
                          type:
                          - string
                          - 'null'
                          example: Imported from CRM
                        read_only:
                          description: Whether clients may mutate this suppression. This is determined by the server and must not be inferred from `reason`.
                          type: boolean
                          example: false
                        reason:
                          description: 'Why the address is suppressed: `manual`, `complaint`, `hard_bounce`, `soft_bounce`, or `policy`.'
                          type: string
                          example: hard_bounce
                        scope:
                          description: 'Where the suppression applies: `account` for every sending domain of the account, or `sending_domain` for one envelope MAIL FROM domain.'
                          example:
                            type: sending_domain
                            value: mail.example.com
                          oneOf:
                          - properties:
                              type:
                                description: Blocks the recipient for every sending domain of the account.
                                type: string
                                example: account
                                enum:
                                - account
                            required:
                            - type
                            type: object
                          - properties:
                              type:
                                description: Blocks the recipient only for mail whose envelope MAIL FROM uses `value`.
                                type: string
                                example: sending_domain
                                enum:
                                - sending_domain
                              value:
                                description: 'The sending domain: the domain part of the envelope MAIL FROM, lowercase, without a trailing dot.'
                                type: string
                                example: mail.example.com
                                maxLength: 1024
                            required:
                            - type
                            - value
                            type: object
                      required:
                      - id
                      - email
                      - reason
                      - created_at
                      - expires_at
                      - read_only
                      type: object
                  result_info:
                    description: Pagination metadata.
                    type: object
                    example:
                      count: 1
                      next_cursor: null
                      per_page: 100
                    properties:
                      count:
                        description: Number of suppressions in this page.
                        type: integer
                        example: 1
                      next_cursor:
                        description: Opaque cursor for the next page. Pass it back as the `cursor` query parameter and continue until it is `null`. A bounded large-account scan may return a short intermediate page. Sending-domain suppressions are listed before account suppressions; each group is newest first.
                        type:
                        - string
                        - 'null'
                        example: eyJ0Ijo0LCJwaCI6ImRvbWFpbiIsInAiOjEyMywiYyI6ImMzZGM1ZjBiMzRhMTRmZjhlMWIzZWMwNDg5NWUxYjIyIn0
                      per_page:
                        description: Maximum number of suppressions requested per page.
                        type: integer
                        example: 100
                    required:
                    - count
                    - per_page
                    - next_cursor
                  success:
                    type: boolean
                    example: true
                required:
                - errors
                - messages
                - success
                - result
                - result_info
        '400':
          description: Invalid list parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-availability: generally-available
      x-fern-sdk-group-name: email-sending.suppressions
      x-fern-sdk-method-name: list
    post:
      operationId: post_publicCreateSendingSuppression
      summary: Create account Email Sending suppression
      description: Creates a suppression for every sending domain of the account (default) or for one sending domain (`scope.type = sending_domain`). Creating an existing active suppression returns its identifier. If a mutable legacy zone-linked account row already exists, it is promoted without changing its identifier.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID.
          type: string
          example: '12345678'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: The email address to suppress.
                  type: string
                  format: email
                  example: user@example.com
                expires_at:
                  description: Expiration timestamp for the suppression. Omit or set to null for a permanent suppression that never expires.
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2027-01-01T00:00:00Z'
                note:
                  description: Advisory note for this suppression. Not enforced or validated beyond length.
                  type: string
                  example: Imported from CRM
                  maxLength: 1000
                scope:
                  description: 'Where the suppression applies. Omit for `{ "type": "account" }`, which blocks the recipient for every sending domain of the account.'
                  example:
                    type: sending_domain
                    value: mail.example.com
                  oneOf:
                  - properties:
                      type:
                        description: Blocks the recipient for every sending domain of the account.
                        type: string
                        example: account
                        enum:
                        - account
                    required:
                    - type
                    type: object
                  - properties:
                      type:
                        description: Blocks the recipient only for mail whose envelope MAIL FROM uses `value`.
                        type: string
                        example: sending_domain
                        enum:
                        - sending_domain
                      value:
                        description: 'The sending domain to suppress for: the domain part of the envelope MAIL FROM. It is lowercased and trailing dots are removed. Internationalized domains must use the ASCII (punycode) form. Ownership is not checked; a domain the account does not send from never matches.'
                        type: string
                        example: mail.example.com
                        maxLength: 1024
                    required:
                    - type
                    - value
                    type: object
              required:
              - email
      responses:
        '200':
          description: Suppression mutation completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                    properties:
                      id:
                        description: The suppression's identifier.
                        type: string
                        format: uuid
                        example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
                      scope:
                        description: 'Where the suppression applies: `account` for every sending domain of the account, or `sending_domain` for one envelope MAIL FROM domain.'
                        example:
                          type: sending_domain
                          value: mail.example.com
                        oneOf:
                        - properties:
                            type:
                              description: Blocks the recipient for every sending domain of the account.
                              type: string
                              example: account
                              enum:
                              - account
                          required:
                          - type
                          type: object
                        - properties:
                            type:
                              description: Blocks the recipient only for mail whose envelope MAIL FROM uses `value`.
                              type: string
                              example: sending_domain
                              enum:
                              - sending_domain
                            value:
                              description: 'The sending domain: the domain part of the envelope MAIL FROM, lowercase, without a trailing dot.'
                              type: string
                              example: mail.example.com
                              maxLength: 1024
                          required:
                          - type
                          - value
                          type: object
                    required:
                    - id
                  success:
                    type: boolean
                    example: true
                required:
                - errors
                - messages
                - success
                - result
        '400':
          description: Invalid suppression input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
        '403':
          description: This suppression is read-only.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
        '404':
          description: Suppression not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
        '409':
          description: Suppression conflicts with this operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-availability: generally-available
      x-fern-sdk-group-name: email-sending.suppressions
      x-fern-sdk-method-name: create
  /accounts/{account_id}/email/sending/suppressions/bulk:
    post:
      operationId: post_publicBulkCreateSendingSuppressions
      summary: Bulk import account Email Sending suppressions
      description: Imports up to 1,000 Email Sending suppressions in one request. Each item applies to every sending domain of the account (default) or to one sending domain.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID.
          type: string
          example: '12345678'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  description: Suppressions to import. Items with the same email address and scope are deduplicated before processing.
                  type: array
                  items:
                    properties:
                      email:
                        description: The email address to suppress.
                        type: string
                        example: user@example.com
                      expires_at:
                        description: Expiration timestamp for the suppression. Omit or set to null for a permanent suppression that never expires.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2027-01-01T00:00:00Z'
                      note:
                        description: Advisory note for this suppression. Not enforced or validated beyond length.
                        type: string
                        example: Imported from CRM
                        maxLength: 1000
                      scope:
                        description: 'Where the suppression applies. Omit for `{ "type": "account" }`, which blocks the recipient for every sending domain of the account.'
                        example:
                          type: sending_domain
                          value: mail.example.com
                        oneOf:
                        - properties:
                            type:
                              description: Blocks the recipient for every sending domain of the account.
                              type: string
                              example: account
                              enum:
                              - account
                          required:
                          - type
                          type: object
                        - properties:
                            type:
                              description: Blocks the recipient only for mail whose envelope MAIL FROM uses `value`.
                              type: string
                              example: sending_domain
                              enum:
                              - sending_domain
                            value:
                              description: 'The sending domain to suppress for: the domain part of the envelope MAIL FROM. It is lowercased and trailing dots are removed. Internationalized domains must use the ASCII (punycode) form. Ownership is not checked; a domain the account does not send from never matches.'
                              type: string
                              example: mail.example.com
                              maxLength: 1024
                          required:
                          - type
                          - value
                          type: object
                    required:
                    - email
                    type: object
                  example:
                  - email: user@example.com
                  - email: other@example.com
                    expires_at: '2027-01-01T00:00:00Z'
                    note: Imported from CRM
                    scope:
                      type: sending_domain
                      value: mail.example.com
                  maxItems: 1000
              required:
              - items
      responses:
        '200':
          description: Bulk import result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                    properties:
                      deduplicated:
                        description: Number of items dropped because their email address and scope repeated an earlier item in this request. Counted once and excluded from `items`.
                        type: integer
                        example: 1
                      errors:
                        description: Number of items that failed to import due to an unexpected error.
                        type: integer
                        example: 0
                      invalid:
                        description: Number of items with an invalid email address or sending domain.
                        type: integer
                        example: 1
                      items:
                        description: Per-item results, in the same order as the request body.
                        type: array
                        items:
                          properties:
                            email:
                              description: The submitted email address for this item.
                              type: string
                              format: email
                              example: user@example.com
                            error:
                              description: Human-readable error message. Present when `status` is `invalid`, `error`, or `skipped`.
                              type: string
                              example: Invalid email
                            id:
                              description: The created or promoted suppression's identifier. Present when `status` is `processed`.
                              type: string
                              format: uuid
                              example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
                            index:
                              description: Zero-based index of this item in the request body.
                              type: integer
                              example: 0
                            scope:
                              description: 'Where the suppression applies: `account` for every sending domain of the account, or `sending_domain` for one envelope MAIL FROM domain.'
                              example:
                                type: sending_domain
                                value: mail.example.com
                              oneOf:
                              - properties:
                                  type:
                                    description: Blocks the recipient for every sending domain of the account.
                                    type: string
                                    example: account
                                    enum:
                                    - account
                                required:
                                - type
                                type: object
                              - properties:
                                  type:
                                    description: Blocks the recipient only for mail whose envelope MAIL FROM uses `value`.
                                    type: string
                                    example: sending_domain
                                    enum:
                                    - sending_domain
                                  value:
                                    description: 'The sending domain: the domain part of the envelope MAIL FROM, lowercase, without a trailing dot.'
                                    type: string
                                    example: mail.example.com
                                    maxLength: 1024
                                required:
                                - type
                                - value
                                type: object
                            status:
                              description: Outcome for this item.
                              type: string
                              example: processed
                              enum:
                              - processed
                              - invalid
                              - error
                              - skipped
                          required:
                          - index
                          - status
                          type: object
                      processed:
                        description: Number of items successfully created or promoted.
                        type: integer
                        example: 2
                      skipped:
                        description: Number of items skipped because the existing suppression is not customer-managed (for example, a read-only policy suppression).
                        type: integer
                        example: 0
                      total:
                        description: Total number of items in the request body, including duplicates.
                        type: integer
                        example: 4
                    required:
                    - processed
                    - deduplicated
                    - errors
                    - invalid
                    - skipped
                    - total
                    - items
                  success:
                    type: boolean
                    example: true
                required:
                - errors
                - messages
                - success
                - result
        '429':
          description: Rate limited.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-availability: generally-available
      x-fern-sdk-group-name: email-sending.suppressions
      x-fern-sdk-method-name: import
  /accounts/{account_id}/email/sending/suppressions/{suppression_id}:
    delete:
      operationId: delete_publicDeleteSendingSuppression
      summary: Delete account Email Sending suppression
      description: Deletes the suppression, its note, and every legacy internal zone membership, allowing future delivery attempts to the address.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID.
          type: string
          example: '12345678'
      - name: suppression_id
        in: path
        required: true
        schema:
          description: The suppression's identifier.
          type: string
          format: uuid
          example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
      responses:
        '200':
          description: Suppression mutation completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                    properties:
                      id:
                        description: The suppression's identifier.
                        type: string
                        format: uuid
                        example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
                      scope:
                        description: 'Where the suppression applies: `account` for every sending domain of the account, or `sending_domain` for one envelope MAIL FROM domain.'
                        example:
                          type: sending_domain
                          value: mail.example.com
                        oneOf:
                        - properties:
                            type:
                              description: Blocks the recipient for every sending domain of the account.
                              type: string
                              example: account
                              enum:
                              - account
                          required:
                          - type
                          type: object
                        - properties:
                            type:
                              description: Blocks the recipient only for mail whose envelope MAIL FROM uses `value`.
                              type: string
                              example: sending_domain
                              enum:
                              - sending_domain
                            value:
                              description: 'The sending domain: the domain part of the envelope MAIL FROM, lowercase, without a trailing dot.'
                              type: string
                              example: mail.example.com
                              maxLength: 1024
                          required:
                          - type
                          - value
                          type: object
                    required:
                    - id
                  success:
                    type: boolean
                    example: true
                required:
                - errors
                - messages
                - success
                - result
        '400':
          description: Invalid suppression input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
        '403':
          description: This suppression is read-only.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
        '404':
          description: Suppression not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
        '409':
          description: Suppression conflicts with this operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-availability: generally-available
      x-fern-sdk-group-name: email-sending.suppressions
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation removes an Email Sending suppression and may allow email delivery to resume for the address.
    get:
      operationId: get_publicGetSendingSuppression
      summary: Get account Email Sending suppression
      description: Gets an Email Sending suppression owned by the account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID.
          type: string
          example: '12345678'
      - name: suppression_id
        in: path
        required: true
        schema:
          description: The suppression's identifier.
          type: string
          format: uuid
          example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
      responses:
        '200':
          description: Returns an Email Sending suppression owned by the account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                    properties:
                      created_at:
                        description: When the suppression was created.
                        type: string
                        format: date-time
                        example: '2026-01-02T02:20:00Z'
                      email:
                        description: The suppressed email address.
                        type: string
                        format: email
                        example: user@example.com
                      expires_at:
                        description: When the suppression expires. Null for a permanent suppression.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2027-01-01T00:00:00Z'
                      id:
                        description: Unique identifier for this suppression.
                        type: string
                        format: uuid
                        example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
                      note:
                        description: Advisory note for this suppression, if any.
                        type:
                        - string
                        - 'null'
                        example: Imported from CRM
                      read_only:
                        description: Whether clients may mutate this suppression. This is determined by the server and must not be inferred from `reason`.
                        type: boolean
                        example: false
                      reason:
                        description: 'Why the address is suppressed: `manual`, `complaint`, `hard_bounce`, `soft_bounce`, or `policy`.'
                        type: string
                        example: hard_bounce
                      scope:
                        description: 'Where the suppression applies: `account` for every sending domain of the account, or `sending_domain` for one envelope MAIL FROM domain.'
                        example:
                          type: sending_domain
                          value: mail.example.com
                        oneOf:
                        - properties:
                            type:
                              description: Blocks the recipient for every sending domain of the account.
                              type: string
                              example: account
                              enum:
                              - account
                          required:
                          - type
                          type: object
                        - properties:
                            type:
                              description: Blocks the recipient only for mail whose envelope MAIL FROM uses `value`.
                              type: string
                              example: sending_domain
                              enum:
                              - sending_domain
                            value:
                              description: 'The sending domain: the domain part of the envelope MAIL FROM, lowercase, without a trailing dot.'
                              type: string
                              example: mail.example.com
                              maxLength: 1024
                          required:
                          - type
                          - value
                          type: object
                    required:
                    - id
                    - email
                    - reason
                    - created_at
                    - expires_at
                    - read_only
                  success:
                    type: boolean
                    example: true
                required:
                - errors
                - messages
                - success
                - result
        '404':
          description: Suppression not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-availability: generally-available
      x-fern-sdk-group-name: email-sending.suppressions
      x-fern-sdk-method-name: get
    patch:
      operationId: patch_publicUpdateSendingSuppression
      summary: Update account Email Sending suppression
      description: Updates expiry or advisory note fields without changing legacy internal zone memberships. Scope cannot be changed.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID.
          type: string
          example: '12345678'
      - name: suppression_id
        in: path
        required: true
        schema:
          description: The suppression's identifier.
          type: string
          format: uuid
          example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expires_at:
                  description: New expiry. Send `null` to make the suppression permanent; omit to leave it unchanged.
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2027-01-01T00:00:00Z'
                note:
                  description: Replacement advisory note. Send an empty string to clear it; omit to leave it unchanged.
                  type: string
                  example: Customer re-confirmed opt-in
                  maxLength: 1000
                scope:
                  description: Not editable. Scope is fixed when the suppression is created; any value returns 400 with code `scope_immutable`. Delete and recreate the suppression to change it.
                  example:
                    type: account
      responses:
        '200':
          description: Returns the updated Email Sending suppression.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                    properties:
                      created_at:
                        description: When the suppression was created.
                        type: string
                        format: date-time
                        example: '2026-01-02T02:20:00Z'
                      email:
                        description: The suppressed email address.
                        type: string
                        format: email
                        example: user@example.com
                      expires_at:
                        description: When the suppression expires. Null for a permanent suppression.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2027-01-01T00:00:00Z'
                      id:
                        description: Unique identifier for this suppression.
                        type: string
                        format: uuid
                        example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
                      note:
                        description: Advisory note for this suppression, if any.
                        type:
                        - string
                        - 'null'
                        example: Imported from CRM
                      read_only:
                        description: Whether clients may mutate this suppression. This is determined by the server and must not be inferred from `reason`.
                        type: boolean
                        example: false
                      reason:
                        description: 'Why the address is suppressed: `manual`, `complaint`, `hard_bounce`, `soft_bounce`, or `policy`.'
                        type: string
                        example: hard_bounce
                      scope:
                        description: 'Where the suppression applies: `account` for every sending domain of the account, or `sending_domain` for one envelope MAIL FROM domain.'
                        example:
                          type: sending_domain
                          value: mail.example.com
                        oneOf:
                        - properties:
                            type:
                              description: Blocks the recipient for every sending domain of the account.
                              type: string
                              example: account
                              enum:
                              - account
                          required:
                          - type
                          type: object
                        - properties:
                            type:
                              description: Blocks the recipient only for mail whose envelope MAIL FROM uses `value`.
                              type: string
                              example: sending_domain
                              enum:
                              - sending_domain
                            value:
                              description: 'The sending domain: the domain part of the envelope MAIL FROM, lowercase, without a trailing dot.'
                              type: string
                              example: mail.example.com
                              maxLength: 1024
                          required:
                          - type
                          - value
                          type: object
                    required:
                    - id
                    - email
                    - reason
                    - created_at
                    - expires_at
                    - read_only
                  success:
                    type: boolean
                    example: true
                required:
                - errors
                - messages
                - success
                - result
        '400':
          description: No updatable fields supplied, or scope supplied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
        '403':
          description: This suppression is read-only.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
        '404':
          description: Suppression not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: 'Machine-readable error code, when one applies: `invalid_scope_value` (the sending domain is not valid), `scope_immutable` (scope cannot change after creation), or `scope_value_requires_type` (`scope_value` needs `scope_type=sending_domain`).'
                          type: string
                          example: invalid_scope_value
                          enum:
                          - invalid_scope_value
                          - scope_immutable
                          - scope_value_requires_type
                        message:
                          type: string
                          example: Suppression not found
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - errors
                - messages
                - result
                - success
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-availability: generally-available
      x-fern-sdk-group-name: email-sending.suppressions
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/email/sending/suppression:
    get:
      operationId: get_publicListSuppressionZoneSending
      summary: List zone email suppressions
      description: Lists email suppressions for the specified zone.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          type: string
          example: '88228822'
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 0
      - name: per_page
        in: query
        schema:
          type: integer
          default: 100
          maximum: 1000
          minimum: 0
      - name: order
        in: query
        schema:
          type: string
          default: created_at
          enum:
          - email
          - expires_at
          - created_at
      - name: direction
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Returns suppressed emails.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 0
                  per_page:
                    type: integer
                    example: 100
                  result:
                    type: array
                    items:
                      properties:
                        created_at:
                          type: string
                          format: date-time
                        email:
                          type: string
                          format: email
                          example: user@example.com
                        expires_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        id:
                          type: string
                          format: uuid
                        reason:
                          type: string
                          example: hard_bounce
                        zones:
                          type: array
                          items:
                            type: string
                          default: []
                      required:
                      - id
                      - email
                      - reason
                      - created_at
                      - expires_at
                      type: object
                  total:
                    type: integer
                    example: 1
                required:
                - page
                - per_page
                - total
                - result
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
                    example: false
                required:
                - success
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-ignore: true
      x-fern-sdk-group-name: email.suppressions
      x-fern-sdk-method-name: listByZone
      x-forge-hidden: true
    post:
      operationId: post_publicNewSuppressionZoneSending
      summary: Create zone email suppression
      description: Creates a new email suppression for the specified zone.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          type: string
          example: '88228822'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                expires_at:
                  type:
                  - string
                  - 'null'
                  format: date-time
              required:
              - email
      responses:
        '200':
          description: Returns suppression.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                    required:
                    - id
                required:
                - result
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  success:
                    type: boolean
                    example: false
                required:
                - success
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-ignore: true
      x-fern-sdk-group-name: email.suppressions
      x-fern-sdk-method-name: createByZone
      x-forge-hidden: true
  /zones/{zone_id}/email/sending/suppression/{suppression_id}:
    delete:
      operationId: delete_publicDeleteSuppressionZoneSending
      summary: Delete zone email suppression
      description: Deletes an email suppression for the specified zone.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          type: string
          example: '88228822'
      - name: suppression_id
        in: path
        required: true
        schema:
          type: string
          example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
      responses:
        '200':
          description: Deletes suppression.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
        '404':
          description: Suppression not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  success:
                    type: boolean
                    example: false
                required:
                - success
                - error
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-ignore: true
      x-fern-sdk-group-name: email.suppressions
      x-fern-sdk-method-name: deleteByZone
      x-forge-hidden: true
    get:
      operationId: get_publicGetSuppressionZoneSending
      summary: Get zone email suppression
      description: Retrieves a single email suppression for the specified zone.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          type: string
          example: '88228822'
      - name: suppression_id
        in: path
        required: true
        schema:
          type: string
          example: 396a5436-d4b0-42a6-b3fc-48e8fa522321
      responses:
        '200':
          description: Returns suppression.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      email:
                        type: string
                        format: email
                        example: user@example.com
                      expires_at:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      id:
                        type: string
                        format: uuid
                      reason:
                        type: string
                        example: hard_bounce
                      zones:
                        type: array
                        items:
                          type: string
                        default: []
                    required:
                    - id
                    - email
                    - reason
                    - created_at
                    - expires_at
                required:
                - result
        '404':
          description: Suppression not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  success:
                    type: boolean
                    example: false
                required:
                - success
                - error
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Sending suppressions
      x-fern-ignore: true
      x-fern-sdk-group-name: email.suppressions
      x-fern-sdk-method-name: getByZone
      x-forge-hidden: true
components:
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
[...]
