openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare URL Scanner API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: URL Scanner
paths:
  /accounts/{account_id}/urlscanner/v2/bulk:
    post:
      operationId: urlscanner-create-scan-bulk-v2
      summary: Bulk create URL Scans
      description: Submit URLs to scan. Check limits at https://developers.cloudflare.com/security-center/investigate/scan-limits/ and take into account scans submitted in bulk have lower priority and may take longer to finish.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: List of urls to scan (up to a 100).
              type: array
              items:
                properties:
                  agentReadiness:
                    description: Enable agent readiness checks.
                    type: boolean
                  customHeaders:
                    description: Set custom headers.
                    type: object
                    additionalProperties:
                      type: string
                  customagent:
                    type: string
                    maxLength: 4096
                  referer:
                    type: string
                    maxLength: 4096
                  screenshotsResolutions:
                    description: Take multiple screenshots targeting different device types.
                    type: array
                    items:
                      default: desktop
                      description: Device resolutions.
                      enum:
                      - desktop
                      - mobile
                      - tablet
                      type: string
                    default:
                    - desktop
                  url:
                    type: string
                    example: https://www.example.com
                  visibility:
                    description: The option `Public` means it will be included in listings like recent scans and search results. `Unlisted` means it will not be included in the aforementioned listings, users will need to have the scan's ID to access it. A a scan will be automatically marked as unlisted if it fails, if it contains potential PII or other sensitive material.
                    type: string
                    default: Public
                    enum:
                    - Public
                    - Unlisted
                required:
                - url
                type: object
      responses:
        '200':
          description: Scan bulk request accepted successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    api:
                      description: URL to api report.
                      type: string
                    options:
                      type: object
                      properties:
                        useragent:
                          type: string
                    result:
                      description: URL to report.
                      type: string
                    url:
                      description: Submitted URL
                      type: string
                    uuid:
                      description: Scan ID.
                      type: string
                      format: uuid
                    visibility:
                      description: Submitted visibility status.
                      type: string
                      example: public
                      enum:
                      - public
                      - unlisted
                  required:
                  - uuid
                  - result
                  - api
                  - visibility
                  - url
                  type: object
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        status:
                          description: Status code.
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Invalid url
                      required:
                      - title
                      - detail
                      - status
                      type: object
                  message:
                    type: string
                  status:
                    description: Status code.
                    type: integer
                    example: 400
                required:
                - message
                - status
                - errors
        '429':
          description: 'Scan request denied: rate limited.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                          example: DNS Error - Could not resolve domain.
                        status:
                          type: number
                          example: 400
                        title:
                          type: string
                          example: DNS Error - Could not resolve domain.
                      required:
                      - title
                      - detail
                      - status
                      type: object
                  message:
                    type: string
                  status:
                    type: number
                    example: 429
                required:
                - message
                - status
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - URL Scanner
      x-api-token-group:
      - URL Scanner Write
      - URL Scanner Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: url-scanner.scans
      x-fern-sdk-method-name: bulk-create
      x-forge-hidden: true
  /accounts/{account_id}/urlscanner/v2/dom/{scan_id}:
    get:
      operationId: urlscanner-get-scan-dom-v2
      summary: Get URL scan's DOM
      description: Returns a plain text response, with the scan's DOM content as rendered by Chrome.
      parameters:
      - name: scan_id
        in: path
        description: Scan UUID.
        required: true
        schema:
          description: Scan UUID.
          type: string
          format: uuid
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      responses:
        '200':
          description: Returns a plain text response, with the scan's DOM content as rendered by Chrome.
          content:
            text/plain:
              schema:
                description: HTML of webpage.
                type: string
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        status:
                          description: Status code.
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Invalid url
                      required:
                      - title
                      - detail
                      - status
                      type: object
                  message:
                    type: string
                  status:
                    description: Status code.
                    type: integer
                    example: 400
                required:
                - message
                - status
                - errors
        '404':
          description: Scan not found or in progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                          example: Queued
                        status:
                          description: Status code.
                          type: integer
                          example: 404
                        title:
                          type: string
                          example: Scan is not finished yet.
                      required:
                      - title
                      - detail
                      - status
                      type: object
                  message:
                    description: Scan not found or in progress.
                    type: string
                    example: Scan is not finished yet.
                  status:
                    description: Status code.
                    type: integer
                    example: 404
                  task:
                    type: object
                    properties:
                      status:
                        type: string
                        example: Queued
                      time:
                        type: string
                      url:
                        type: string
                      uuid:
                        type: string
                      visibility:
                        type: string
                        example: public
                    required:
                    - uuid
                    - url
                    - time
                    - status
                    - visibility
                required:
                - message
                - status
                - errors
                - task
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - URL Scanner
      x-api-token-group:
      - URL Scanner Write
      - URL Scanner Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: url-scanner.scans
      x-fern-sdk-method-name: dom
      x-forge-hidden: true
  /accounts/{account_id}/urlscanner/v2/har/{scan_id}:
    get:
      operationId: urlscanner-get-scan-har-v2
      summary: Get URL scan's HAR
      description: Get a URL scan's HAR file. See HAR spec at http://www.softwareishard.com/blog/har-12-spec/.
      parameters:
      - name: scan_id
        in: path
        description: Scan UUID.
        required: true
        schema:
          description: Scan UUID.
          type: string
          format: uuid
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      responses:
        '200':
          description: Returns the scan's har.
          content:
            application/json:
              schema:
                type: object
                properties:
                  log:
                    type: object
                    properties:
                      creator:
                        type: object
                        properties:
                          comment:
                            type: string
                            example: https://github.com/sitespeedio/chrome-har
                          name:
                            type: string
                            example: chrome-har
                          version:
                            type: string
                            example: 0.13.1
                        required:
                        - name
                        - version
                        - comment
                      entries:
                        type: array
                        items:
                          properties:
                            _initialPriority:
                              type: string
                              example: VeryHigh
                            _initiator_type:
                              type: string
                              example: other
                            _priority:
                              type: string
                              example: VeryHigh
                            _requestId:
                              type: string
                              example: DDC779F0CB3746BAF283EC1A51B0F2F8
                            _requestTime:
                              type: number
                              example: 114135.331081
                            _resourceType:
                              type: string
                              example: document
                            cache:
                              type: object
                            connection:
                              type: string
                              example: '33'
                            pageref:
                              type: string
                              example: page_1
                            request:
                              type: object
                              properties:
                                bodySize:
                                  type: number
                                headers:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        example: Upgrade-Insecure-Requests
                                      value:
                                        type: string
                                        example: '1'
                                    required:
                                    - name
                                    - value
                                    type: object
                                headersSize:
                                  type: number
                                  example: 197
                                httpVersion:
                                  type: string
                                  example: http/1.1
                                method:
                                  type: string
                                  example: GET
                                url:
                                  type: string
                                  example: http://example.com/
                              required:
                              - method
                              - url
                              - headersSize
                              - bodySize
                              - headers
                              - httpVersion
                            response:
                              type: object
                              properties:
                                _transferSize:
                                  type: number
                                  example: 1071
                                bodySize:
                                  type: number
                                  example: 648
                                content:
                                  properties:
                                    compression:
                                      type: integer
                                      example: 608
                                    mimeType:
                                      type: string
                                      example: text/html
                                    size:
                                      type: number
                                      example: 1256
                                  required:
                                  - mimeType
                                  - size
                                  type: object
                                headers:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        example: Content-Encoding
                                      value:
                                        type: string
                                        example: gzip
                                    required:
                                    - name
                                    - value
                                    type: object
                                headersSize:
                                  type: number
                                  example: 423
                                httpVersion:
                                  type: string
                                  example: http/1.1
                                redirectURL:
                                  type: string
                                status:
                                  type: number
                                  example: 200
                                statusText:
                                  type: string
                                  example: OK
                              required:
                              - httpVersion
                              - redirectURL
                              - status
                              - statusText
                              - content
                              - headersSize
                              - bodySize
                              - headers
                              - _transferSize
                            serverIPAddress:
                              type: string
                              example: 2606:2800:220:1:248:1893:25c8:1946
                            startedDateTime:
                              type: string
                              example: '2023-05-03T17:05:13.196Z'
                            time:
                              type: number
                              example: 268.64
                          required:
                          - cache
                          - startedDateTime
                          - _requestId
                          - _initialPriority
                          - _priority
                          - pageref
                          - request
                          - time
                          - _initiator_type
                          - _resourceType
                          - response
                          - connection
                          - serverIPAddress
                          - _requestTime
                          type: object
                      pages:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              example: page_1
                            pageTimings:
                              type: object
                              properties:
                                onContentLoad:
                                  type: number
                                  example: 305.408
                                onLoad:
                                  type: number
                                  example: 305.169
                              required:
                              - onLoad
                              - onContentLoad
                            startedDateTime:
                              type: string
                              example: '2023-05-03T17:05:13.195Z'
                            title:
                              type: string
                              example: http://example.com/
                          required:
                          - id
                          - startedDateTime
                          - title
                          - pageTimings
                          type: object
                      version:
                        type: string
                        example: '1.2'
                    required:
                    - version
                    - creator
                    - pages
                    - entries
                required:
                - log
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        status:
                          description: Status code.
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Invalid url
                      required:
                      - title
                      - detail
                      - status
                      type: object
                  message:
                    type: string
                  status:
                    description: Status code.
                    type: integer
                    example: 400
                required:
                - message
                - status
                - errors
        '404':
          description: Scan not found or in progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                          example: Queued
                        status:
                          description: Status code.
                          type: integer
                          example: 404
                        title:
                          type: string
                          example: Scan is not finished yet.
                      required:
                      - title
                      - detail
                      - status
                      type: object
                  message:
                    description: Scan not found or in progress.
                    type: string
                    example: Scan is not finished yet.
                  status:
                    description: Status code.
                    type: integer
                    example: 404
                  task:
                    type: object
                    properties:
                      status:
                        type: string
                        example: Queued
                      time:
                        type: string
                      url:
                        type: string
                      uuid:
                        type: string
                      visibility:
                        type: string
                        example: public
                    required:
                    - uuid
                    - url
                    - time
                    - status
                    - visibility
                required:
                - message
                - status
                - errors
                - task
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - URL Scanner
      x-api-token-group:
      - URL Scanner Write
      - URL Scanner Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: url-scanner.scans
      x-fern-sdk-method-name: har
      x-forge-hidden: true
  /accounts/{account_id}/urlscanner/v2/responses/{response_id}:
    get:
      operationId: urlscanner-get-response-v2
      summary: Get raw response
      description: Returns the raw response of the network request. Find the `response_id` in the `data.requests.response.hash`.
      parameters:
      - name: response_id
        in: path
        description: Response hash.
        required: true
        schema:
          description: Response hash.
          type: string
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      responses:
        '200':
          description: Get the raw response by its hash.
          content:
            text/plain:
              schema:
                description: Web resource or image.
                type: string
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        status:
                          description: Status code.
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Invalid url
                      required:
                      - title
                      - detail
                      - status
                      type: object
                  message:
                    type: string
                  status:
                    description: Status code.
                    type: integer
                    example: 400
                required:
                - message
                - status
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - URL Scanner
      x-api-token-group:
      - URL Scanner Write
      - URL Scanner Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: url-scanner.responses
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/urlscanner/v2/result/{scan_id}:
    get:
      operationId: urlscanner-get-scan-v2
      summary: Get URL scan
      description: Get URL scan by uuid
      parameters:
      - name: scan_id
        in: path
        description: Scan UUID.
        required: true
        schema:
          description: Scan UUID.
          type: string
          format: uuid
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      responses:
        '200':
          description: Scan has finished. It may or may not have been successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      console:
                        type: array
                        items:
                          properties:
                            message:
                              type: object
                              properties:
                                level:
                                  type: string
                                source:
                                  type: string
                                text:
                                  type: string
                                url:
                                  type: string
                              required:
                              - source
                              - level
                              - text
                              - url
                          required:
                          - message
                          type: object
                      cookies:
                        type: array
                        items:
                          properties:
                            domain:
                              type: string
                            expires:
                              type: number
                            httpOnly:
                              type: boolean
                            name:
                              type: string
                            path:
                              type: string
                            priority:
                              type: string
                            sameParty:
                              type: boolean
                            secure:
                              type: boolean
                            session:
                              type: boolean
                            size:
                              type: number
                            sourcePort:
                              type: number
                            sourceScheme:
                              type: string
                            value:
                              type: string
                          required:
                          - name
                          - value
                          - domain
                          - path
                          - expires
                          - size
                          - httpOnly
                          - secure
                          - session
                          - priority
                          - sameParty
                          - sourceScheme
                          - sourcePort
                          type: object
                      globals:
                        type: array
                        items:
                          properties:
                            prop:
                              type: string
                            type:
                              type: string
                          required:
                          - prop
                          - type
                          type: object
                      links:
                        type: array
                        items:
                          properties:
                            href:
                              type: string
                            text:
                              type: string
                          required:
                          - href
                          - text
                          type: object
                      performance:
                        type: array
                        items:
                          properties:
                            duration:
                              type: number
                            entryType:
                              type: string
                            name:
                              type: string
                            startTime:
                              type: number
                          required:
                          - name
                          - entryType
                          - startTime
                          - duration
                          type: object
                      requests:
                        type: array
                        items:
                          properties:
                            request:
                              type: object
                              properties:
                                documentURL:
                                  type: string
                                frameId:
                                  type: string
                                hasUserGesture:
                                  type: boolean
                                initiator:
                                  type: object
                                  properties:
                                    host:
                                      type: string
                                    type:
                                      type: string
                                    url:
                                      type: string
                                  required:
                                  - type
                                  - url
                                  - host
                                loaderId:
                                  type: string
                                primaryRequest:
                                  type: boolean
                                redirectHasExtraInfo:
                                  type: boolean
                                redirectResponse:
                                  type: object
                                  properties:
                                    charset:
                                      type: string
                                    headers:
                                      type: object
                                    mimeType:
                                      type: string
                                    protocol:
                                      type: string
                                    remoteIPAddress:
                                      type: string
                                    remotePort:
                                      type: number
                                    securityHeaders:
                                      type: array
                                      items:
                                        properties:
                                          name:
                                            type: string
                                          value:
                                            type: string
                                        required:
                                        - name
                                        - value
                                        type: object
                                    securityState:
                                      type: string
                                    status:
                                      type: number
                                    statusText:
                                      type: string
                                    url:
                                      type: string
                                  required:
                                  - url
                                  - status
                                  - statusText
                                  - mimeType
                                  - charset
                                  - remoteIPAddress
                                  - remotePort
                                  - protocol
                                  - securityState
                                  - securityHeaders
                                request:
                                  type: object
                                  properties:
                                    headers:
                                      type: object
                                    initialPriority:
                                      type: string
                                    isSameSite:
                                      type: boolean
                                    method:
                                      type: string
                                    mixedContentType:
                                      type: string
                                    referrerPolicy:
                                      type: string
                                    url:
                                      type: string
                                  required:
                                  - url
                                  - method
                                  - mixedContentType
                                  - initialPriority
                                  - referrerPolicy
                                  - isSameSite
                                requestId:
                                  type: string
                                type:
                                  type: string
                                wallTime:
                                  type: number
                              required:
                              - requestId
                              - documentURL
                              - request
                              - wallTime
                              - initiator
                              - redirectHasExtraInfo
                              - type
                              - hasUserGesture
                            requests:
                              type: array
                              items:
                                properties:
                                  documentURL:
                                    type: string
                                  frameId:
                                    type: string
                                  hasUserGesture:
                                    type: boolean
                                  initiator:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                    required:
                                    - type
                                  loaderId:
                                    type: string
                                  redirectHasExtraInfo:
                                    type: boolean
                                  request:
                                    type: object
                                    properties:
                                      headers:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                        required:
                                        - name
                                      initialPriority:
                                        type: string
                                      isSameSite:
                                        type: boolean
                                      method:
                                        type: string
                                      mixedContentType:
                                        type: string
                                      referrerPolicy:
                                        type: string
                                      url:
                                        type: string
                                    required:
                                    - url
                                    - method
                                    - headers
                                    - mixedContentType
                                    - initialPriority
                                    - referrerPolicy
                                    - isSameSite
                                  requestId:
                                    type: string
                                  type:
                                    type: string
                                  wallTime:
                                    type: number
                                required:
                                - requestId
                                - loaderId
                                - frameId
                                - documentURL
                                - wallTime
                                - request
                                - type
                                - initiator
                                - hasUserGesture
                                - redirectHasExtraInfo
                                type: object
                            response:
                              type: object
                              properties:
                                asn:
                                  type: object
                                  properties:
                                    asn:
                                      type: string
                                    country:
                                      type: string
                                    description:
                                      type: string
                                    ip:
                                      type: string
                                    name:
                                      type: string
                                    org:
                                      type: string
                                  required:
                                  - ip
                                  - asn
                                  - country
                                  - description
                                  - name
                                  - org
                                contentAvailable:
                                  type: boolean
                                dataLength:
                                  type: number
                                encodedDataLength:
                                  type: number
                                geoip:
                                  type: object
                                  properties:
                                    city:
                                      type: string
                                    country:
                                      type: string
                                    country_name:
                                      type: string
                                    geonameId:
                                      type: string
                                    ll:
                                      type: array
                                      items:
                                        type: number
                                    region:
                                      type: string
                                  required:
                                  - country
                                  - region
                                  - city
                                  - ll
                                  - country_name
                                  - geonameId
                                hasExtraInfo:
                                  type: boolean
                                hash:
                                  type: string
                                requestId:
                                  type: string
                                response:
                                  type: object
                                  properties:
                                    charset:
                                      type: string
                                    headers:
                                      type: object
                                    mimeType:
                                      type: string
                                    protocol:
                                      type: string
                                    remoteIPAddress:
                                      type: string
                                    remotePort:
                                      type: number
                                    securityDetails:
                                      type: object
                                      properties:
                                        certificateId:
                                          type: number
                                        certificateTransparencyCompliance:
                                          type: string
                                        cipher:
                                          type: string
                                        encryptedClientHello:
                                          type: boolean
                                        issuer:
                                          type: string
                                        keyExchange:
                                          type: string
                                        keyExchangeGroup:
                                          type: string
                                        protocol:
                                          type: string
                                        sanList:
                                          type: array
                                          items:
                                            type: string
                                        serverSignatureAlgorithm:
                                          type: number
                                        subjectName:
                                          type: string
                                        validFrom:
                                          type: number
                                        validTo:
                                          type: number
                                      required:
                                      - protocol
                                      - keyExchange
                                      - keyExchangeGroup
                                      - cipher
                                      - certificateId
                                      - subjectName
                                      - sanList
                                      - issuer
                                      - validFrom
                                      - validTo
                                      - certificateTransparencyCompliance
                                      - serverSignatureAlgorithm
                                      - encryptedClientHello
                                    securityHeaders:
                                      type: array
                                      items:
                                        properties:
                                          name:
                                            type: string
                                          value:
                                            type: string
                                        required:
                                        - name
                                        - value
                                        type: object
                                    securityState:
                                      type: string
                                    status:
                                      type: number
                                    statusText:
                                      type: string
                                    url:
                                      type: string
                                  required:
                                  - url
                                  - status
                                  - statusText
                                  - mimeType
                                  - charset
                                  - remoteIPAddress
                                  - remotePort
                                  - protocol
                                  - securityState
                                  - securityDetails
                                  - securityHeaders
                                size:
                                  type: number
                                type:
                                  type: string
                              required:
                              - encodedDataLength
                              - dataLength
                              - requestId
                              - type
                              - response
                              - hasExtraInfo
                              - size
                              - asn
                              - geoip
                          required:
                          - request
                          - response
                          type: object
                    required:
                    - requests
                    - cookies
                    - console
                    - links
                    - globals
                    - performance
                  lists:
                    type: object
                    properties:
                      asns:
                        type: array
                        items:
                          type: string
                      certificates:
                        type: array
                        items:
                          properties:
                            issuer:
                              type: string
                            subjectName:
                              type: string
                            validFrom:
                              type: number
                            validTo:
                              type: number
                          required:
                          - issuer
                          - subjectName
                          - validFrom
                          - validTo
                          type: object
                      continents:
                        type: array
                        items:
                          type: string
                      countries:
                        type: array
                        items:
                          type: string
                      domains:
                        type: array
                        items:
                          type: string
                      hashes:
                        type: array
                        items:
                          type: string
                      ips:
                        type: array
                        items:
                          type: string
                      linkDomains:
                        type: array
                        items:
                          type: string
                      servers:
                        type: array
                        items:
                          type: string
                      urls:
                        type: array
                        items:
                          type: string
                    required:
                    - ips
                    - countries
                    - continents
                    - asns
                    - domains
                    - servers
                    - urls
                    - linkDomains
                    - certificates
                    - hashes
                  meta:
                    type: object
                    properties:
                      processors:
                        type: object
                        properties:
                          agentReadiness:
                            type: object
                            properties:
                              checks:
                                type: object
                                properties:
                                  botAccessControl:
                                    type: object
                                    properties:
                                      contentSignals:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
                                            required:
                                            - code
                                          status:
                                            type: string
                                            example: pass
                                        required:
                                        - status
                                      robotsTxtAiRules:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
                                            required:
                                            - code
                                          status:
                                            type: string
                                            example: pass
                                        required:
                                        - status
                                      webBotAuth:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
                                            required:
                                            - code
                                          status:
                                            type: string
                                            example: fail
                                        required:
                                        - status
                                    required:
                                    - robotsTxtAiRules
                                    - contentSignals
                                    - webBotAuth
                                  commerce:
                                    type: object
                                    properties:
                                      acp:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
                                            required:
                                            - code
                                          status:
                                            type: string
                                            example: fail
                                        required:
                                        - status
                                      ap2:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
                                            required:
                                            - code
                                          status:
                                            type: string
                                            example: fail
                                        required:
                                        - status
                                      mpp:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
                                            required:
                                            - code
                                          status:
                                            type: string
                                            example: fail
                                        required:
                                        - status
                                      ucp:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
                                            required:
                                            - code
                                          status:
                                            type: string
                                            example: fail
                                        required:
                                        - status
                                      x402:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
                                            required:
                                            - code
                                          status:
                                            type: string
                                            example: fail
                                        required:
                                        - status
                                    required:
                                    - ucp
                                    - x402
                                    - mpp
                                    - acp
                                    - ap2
                                  contentAccessibility:
                                    type: object
                                    properties:
                                      markdownNegotiation:
                                        type: object
                                        properties:
                                          details:
                                            type: object
                                          durationMs:
                                            type: number
                                          evidence:
                                            type: array
                                            items:
                                              properties:
                                                action:
                                                  type: string
                                                  example: fetch
                                                finding:
                                                  type: object
                                                  properties:
                                                    outcome:
                                                      type: string
                                                      example: positive
                                                    summary:
                                                      type: string
                                                      example: Found valid robots.txt
                                                  required:
                                                  - outcome
                                                  - summary
                                                label:
                                                  type: string
                                                  example: GET /robots.txt
                                                request:
                                                  type: object
                                                  properties:
                                                    headers:
                                                      type: object
                                                    method:
                                                      type: string
                                                      example: GET
                                                    url:
                                                      type: string
                                                      example: https://example.com/robots.txt
                                                  required:
                                                  - url
                                                  - method
                                                response:
                                                  type: object
                                                  properties:
                                                    bodyPreview:
                                                      type: string
                                                    bodySize:
                                                      type: integer
                                                    headers:
                                                      type: object
                                                    redirectedTo:
                                                      type: string
                                                    status:
                                                      type: integer
                                                      example: 200
                                                    statusText:
                                                      type: string
                                                      example: OK
                                                  required:
                                                  - status
                                                  - statusText
                                              required:
                                              - action
                                              - label
                                              type: object
                                          message:
                                            type: string
                                          messageRef:
                                            type: object
                                            properties:
                                              code:
                                                description: Stable, translatable message code.
                                                type: string
                                                example: check.robotsTxt.valid
                                              params:
                                                type: object
[...]
