openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Workers Pipelines Other API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: workers_pipelines_other
paths:
  /accounts/{account_id}/pipelines:
    get:
      operationId: getV4AccountsByAccount_idPipelines_deprecated
      summary: '[DEPRECATED] List Pipelines'
      description: '[DEPRECATED] List, filter, and paginate pipelines in an account. Use the new /pipelines/v1/pipelines endpoint instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: search
        in: query
        schema:
          description: Specifies the prefix of pipeline name to search.
          type: string
      - name: page
        in: query
        schema:
          description: Specifies which page to retrieve.
          type: string
          default: '1'
      - name: per_page
        in: query
        schema:
          description: Specifies the number of pipelines per page.
          type: string
          default: '25'
      responses:
        '200':
          description: '[DEPRECATED] Lists the pipelines. Use /pipelines/v1/pipelines instead.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  result_info:
                    type: object
                    properties:
                      count:
                        description: Indicates the number of items on current page.
                        type: number
                        example: 1
                      page:
                        description: Indicates the current page number.
                        type: number
                        example: 0
                      per_page:
                        description: Indicates the number of items per page.
                        type: number
                        example: 10
                      total_count:
                        description: Indicates the total number of items.
                        type: number
                        example: 1
                    required:
                    - count
                    - page
                    - per_page
                    - total_count
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline'
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - results
                - result_info
        4XX:
          description: Indicates the error trying to list pipelines.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  results:
                    type:
                    - object
                    - 'null'
                    x-stainless-empty-object: true
                  success:
                    example: false
                    allOf:
                    - $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - results
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      - Pipelines Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: legacy-list
      x-forge-hidden: true
    post:
      operationId: postV4AccountsByAccount_idPipelines_deprecated
      summary: '[DEPRECATED] Create Pipeline'
      description: '[DEPRECATED] Create a new pipeline. Use the new /pipelines/v1/pipelines endpoint instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: object
                  properties:
                    batch:
                      type: object
                      properties:
                        max_bytes:
                          description: Specifies rough maximum size of files.
                          type: integer
                          default: 100000000
                          maximum: 100000000
                          minimum: 1000
                        max_duration_s:
                          description: Specifies duration to wait to aggregate batches files.
                          type: number
                          default: 300
                          maximum: 300
                          minimum: 0.25
                        max_rows:
                          description: Specifies rough maximum number of rows per file.
                          type: integer
                          default: 10000000
                          maximum: 10000000
                          minimum: 100
                    compression:
                      type: object
                      properties:
                        type:
                          description: Specifies the desired compression algorithm and format.
                          type: string
                          example: gzip
                          default: gzip
                          enum:
                          - none
                          - gzip
                          - deflate
                    credentials:
                      type: object
                      properties:
                        access_key_id:
                          description: Specifies the R2 Bucket Access Key Id.
                          type: string
                          example: <access key id>
                        endpoint:
                          description: Specifies the R2 Endpoint.
                          type: string
                          example: https://123f8a8258064ed892a347f173372359.r2.cloudflarestorage.com
                        secret_access_key:
                          description: Specifies the R2 Bucket Secret Access Key.
                          type: string
                          example: <secret key>
                      required:
                      - endpoint
                      - access_key_id
                      - secret_access_key
                    format:
                      description: Specifies the format of data to deliver.
                      type: string
                      enum:
                      - json
                    path:
                      type: object
                      example:
                        bucket: bucket
                        prefix: base
                      properties:
                        bucket:
                          description: Specifies the R2 Bucket to store files.
                          type: string
                          example: bucket
                        filename:
                          description: Specifies the name pattern to for individual data files.
                          example: ${slug}${extension}
                          allOf:
                          - type: string
                          - type: string
                        filepath:
                          description: Specifies the name pattern for directory.
                          type: string
                          example: ${date}/${hour}
                        prefix:
                          description: Specifies the base directory within the bucket.
                          type: string
                          example: base
                      required:
                      - bucket
                    type:
                      description: Specifies the type of destination.
                      type: string
                      enum:
                      - r2
                  required:
                  - type
                  - format
                  - batch
                  - compression
                  - path
                  - credentials
                name:
                  description: Defines the name of the pipeline.
                  type: string
                  example: sample_pipeline
                  maxLength: 128
                  minLength: 1
                source:
                  type: array
                  items:
                    discriminator:
                      mapping:
                        binding: '#/components/schemas/cloudflare-pipelines_workers_pipelines_binding_source'
                        http: '#/components/schemas/cloudflare-pipelines_workers_pipelines_http_source'
                      propertyName: type
                    oneOf:
                    - $ref: '#/components/schemas/cloudflare-pipelines_workers_pipelines_http_source'
                    - $ref: '#/components/schemas/cloudflare-pipelines_workers_pipelines_binding_source'
                  minItems: 1
              required:
              - name
              - source
              - destination
      responses:
        '200':
          description: '[DEPRECATED] Indicates a successfully created pipeline. Use /pipelines/v1/pipelines instead.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline'
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in creating a pipeline.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  results:
                    type:
                    - object
                    - 'null'
                    x-stainless-empty-object: true
                  success:
                    example: false
                    allOf:
                    - $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - results
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: legacy-create
      x-forge-hidden: true
  /accounts/{account_id}/pipelines/v1/pipelines:
    get:
      operationId: getV4AccountsByAccount_idPipelinesV1Pipelines
      summary: List Pipelines
      description: List/Filter Pipelines in Account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: page
        in: query
        schema:
          type: number
          default: 1
      - name: per_page
        in: query
        schema:
          type: number
      - name: name
        in: query
        description: Filters pipelines by name (case-insensitive substring).
        schema:
          type: string
          maxLength: 128
          minLength: 1
      responses:
        '200':
          description: Indicates a successfully listed Pipelines.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      properties:
                        created_at:
                          type: string
                        id:
                          description: Indicates a unique identifier for this pipeline.
                          type: string
                          example: 01234567890123457689012345678901
                        modified_at:
                          type: string
                        name:
                          description: Indicates the name of the Pipeline.
                          type: string
                          example: my_pipeline
                          maxLength: 128
                          minLength: 1
                        sql:
                          description: Specifies SQL for the Pipeline processing flow.
                          type: string
                          example: insert into sink select * from source;
                        status:
                          description: Indicates the current status of the Pipeline.
                          type: string
                      required:
                      - id
                      - name
                      - created_at
                      - modified_at
                      - sql
                      - status
                      type: object
                  result_info:
                    type: object
                    properties:
                      count:
                        description: Indicates the number of items on current page.
                        type: number
                        example: 1
                      page:
                        description: Indicates the current page number.
                        type: number
                        example: 0
                      per_page:
                        description: Indicates the number of items per page.
                        type: number
                        example: 10
                      total_count:
                        description: Indicates the total number of items.
                        type: number
                        example: 1
                    required:
                    - count
                    - page
                    - per_page
                    - total_count
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
                - result_info
        4XX:
          description: Indicates an error in listing Pipelines.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      - Pipelines Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: list
      x-forge-hidden: false
    post:
      operationId: postV4AccountsByAccount_idPipelinesV1Pipelines
      summary: Create Pipeline
      description: Create a new Pipeline.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Specifies the name of the Pipeline.
                  type: string
                  example: my_pipeline
                  maxLength: 128
                  minLength: 1
                sql:
                  description: Specifies SQL for the Pipeline processing flow.
                  type: string
                  example: insert into sink select * from source;
              required:
              - name
              - sql
      responses:
        '200':
          description: Indicates a successfully created Pipeline.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                      id:
                        description: Indicates a unique identifier for this pipeline.
                        type: string
                        example: 01234567890123457689012345678901
                      modified_at:
                        type: string
                      name:
                        description: Indicates the name of the Pipeline.
                        type: string
                        example: my_pipeline
                        maxLength: 128
                        minLength: 1
                      sql:
                        description: Specifies SQL for the Pipeline processing flow.
                        type: string
                        example: insert into sink select * from source;
                      status:
                        description: Indicates the current status of the Pipeline.
                        type: string
                    required:
                    - id
                    - name
                    - created_at
                    - modified_at
                    - sql
                    - status
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in creating a Pipeline.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: create
      x-forge-hidden: false
  /accounts/{account_id}/pipelines/v1/pipelines/{pipeline_id}:
    delete:
      operationId: deleteV4AccountsByAccount_idPipelinesV1PipelinesByPipeline_id
      summary: Delete Pipeline
      description: Delete Pipeline in Account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: pipeline_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline-id'
      responses:
        '200':
          description: Indicates a successfully deleted Pipeline.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in listing Pipelines.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: delete
      x-forge-hidden: false
    get:
      operationId: getV4AccountsByAccount_idPipelinesV1PipelinesByPipeline_id
      summary: Get Pipeline Details
      description: Get Pipeline details.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: pipeline_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline-id'
      responses:
        '200':
          description: Indicates a successfully retrieved Pipeline.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                      failure_reason:
                        description: Indicates the reason for the failure of the Pipeline.
                        type: string
                      id:
                        description: Indicates a unique identifier for this pipeline.
                        type: string
                        example: 01234567890123457689012345678901
                      modified_at:
                        type: string
                      name:
                        description: Indicates the name of the Pipeline.
                        type: string
                        example: my_pipeline
                        maxLength: 128
                        minLength: 1
                      sql:
                        description: Specifies SQL for the Pipeline processing flow.
                        type: string
                        example: insert into sink select * from source;
                      status:
                        description: Indicates the current status of the Pipeline.
                        type: string
                      tables:
                        description: List of streams and sinks used by this pipeline.
                        type: array
                        items:
                          properties:
                            id:
                              description: Unique identifier for the connection (stream or sink).
                              type: string
                              example: 1c9200d5872c018bb34e93e2cd8a438e
                            latest:
                              description: Latest available version of the connection.
                              type: integer
                              example: 5
                            name:
                              description: Name of the connection.
                              type: string
                              example: my_table
                              maxLength: 128
                              minLength: 1
                            type:
                              description: Type of the connection.
                              type: string
                              example: stream
                              enum:
                              - stream
                              - sink
                            version:
                              description: Current version of the connection used by this pipeline.
                              type: integer
                              example: 4
                          required:
                          - id
                          - version
                          - latest
                          - type
                          - name
                          type: object
                    required:
                    - id
                    - name
                    - created_at
                    - modified_at
                    - sql
                    - status
                    - tables
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in retrieving Pipelines.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      - Pipelines Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: get
      x-forge-hidden: false
  /accounts/{account_id}/pipelines/v1/sinks:
    get:
      operationId: getV4AccountsByAccount_idPipelinesV1Sinks
      summary: List Sinks
      description: List/Filter Sinks in Account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: pipeline_id
        in: query
        schema:
          type: string
      - name: name
        in: query
        description: Filters sinks by name (case-insensitive substring).
        schema:
          type: string
          maxLength: 128
          minLength: 1
      - name: page
        in: query
        schema:
          type: number
          default: 1
      - name: per_page
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Indicates successfully listed Sinks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      properties:
                        config:
                          description: Defines the configuration of the R2 Sink.
                          oneOf:
                          - $ref: '#/components/schemas/cloudflare-pipelines_r2TablePublic'
                          - $ref: '#/components/schemas/cloudflare-pipelines_r2_data_catalogTablePublic'
                        created_at:
                          type: string
                          format: date-time
                        format:
                          $ref: '#/components/schemas/cloudflare-pipelines_SinkFormat'
                        id:
                          description: Indicates a unique identifier for this sink.
                          type: string
                          example: 01234567890123457689012345678901
                        modified_at:
                          type: string
                          format: date-time
                        name:
                          description: Defines the name of the Sink.
                          type: string
                          example: my_sink
                          maxLength: 128
                          minLength: 1
                        schema:
                          $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                        type:
                          description: Specifies the type of sink.
                          type: string
                          example: r2
                          enum:
                          - r2
                          - r2_data_catalog
                          - basin_catalog
                      required:
                      - id
                      - name
                      - created_at
                      - modified_at
                      - type
                      type: object
                  result_info:
                    type: object
                    properties:
                      count:
                        description: Indicates the number of items on current page.
                        type: number
                        example: 1
                      page:
                        description: Indicates the current page number.
                        type: number
                        example: 0
                      per_page:
                        description: Indicates the number of items per page.
                        type: number
                        example: 10
                      total_count:
                        description: Indicates the total number of items.
                        type: number
                        example: 1
                    required:
                    - count
                    - page
                    - per_page
                    - total_count
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
                - result_info
        4XX:
          description: Indicates an error in listing Sinks.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      - Pipelines Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.sinks
      x-fern-sdk-method-name: list
      x-forge-hidden: false
    post:
      operationId: postV4AccountsByAccount_idPipelinesV1Sinks
      summary: Create Sink
      description: Create a new Sink.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  description: Defines the configuration of the R2 Sink.
                  oneOf:
                  - $ref: '#/components/schemas/cloudflare-pipelines_r2Table'
                  - $ref: '#/components/schemas/cloudflare-pipelines_r2_data_catalogTable'
                format:
                  $ref: '#/components/schemas/cloudflare-pipelines_SinkFormat'
                name:
                  description: Defines the name of the Sink.
                  type: string
                  example: my_sink
                  maxLength: 128
                  minLength: 1
                schema:
                  $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                type:
                  description: Specifies the type of sink.
                  type: string
                  example: r2
                  enum:
                  - r2
                  - r2_data_catalog
                  - basin_catalog
              required:
              - name
              - type
      responses:
        '200':
          description: Indicates a successfully created Sink.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      config:
                        oneOf:
                        - $ref: '#/components/schemas/cloudflare-pipelines_r2Table'
                        - $ref: '#/components/schemas/cloudflare-pipelines_r2_data_catalogTable'
                      created_at:
                        type: string
                        format: date-time
                      format:
                        $ref: '#/components/schemas/cloudflare-pipelines_SinkFormat'
                      id:
                        description: Indicates a unique identifier for this sink.
                        type: string
                        example: 01234567890123457689012345678901
                      modified_at:
                        type: string
                        format: date-time
                      name:
                        description: Defines the name of the Sink.
                        type: string
                        example: my_sink
                        maxLength: 128
                        minLength: 1
                      schema:
                        $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                      type:
                        description: Specifies the type of sink.
                        type: string
                        example: r2
                        enum:
                        - r2
                        - r2_data_catalog
                        - basin_catalog
                    required:
                    - id
                    - name
                    - created_at
                    - modified_at
                    - type
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in creating a Sink.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.sinks
      x-fern-sdk-method-name: create
      x-forge-hidden: false
  /accounts/{account_id}/pipelines/v1/sinks/{sink_id}:
    delete:
      operationId: deleteV4AccountsByAccount_idPipelinesV1SinksBySink_id
      summary: Delete Sink
      description: Delete Sink in Account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: sink_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-sink-id'
      responses:
        '200':
          description: Indicates a successfully deleted Sink.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in listing Sinks.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.sinks
      x-fern-sdk-method-name: delete
      x-forge-hidden: false
    get:
      operationId: getV4AccountsByAccount_idPipelinesV1SinksBySink_id
      summary: Get Sink Details
      description: Get Sink Details.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: sink_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-sink-id'
      responses:
        '200':
          description: Indicates that Sink was retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      config:
                        description: Defines the configuration of the R2 Sink.
                        oneOf:
                        - $ref: '#/components/schemas/cloudflare-pipelines_r2TablePublic'
                        - $ref: '#/components/schemas/cloudflare-pipelines_r2_data_catalogTablePublic'
                      created_at:
                        type: string
                        format: date-time
                      format:
                        $ref: '#/components/schemas/cloudflare-pipelines_SinkFormat'
                      id:
                        description: Indicates a unique identifier for this sink.
                        type: string
                        example: 01234567890123457689012345678901
                      modified_at:
                        type: string
                        format: date-time
                      name:
                        description: Defines the name of the Sink.
                        type: string
                        example: my_sink
                        maxLength: 128
                        minLength: 1
                      schema:
                        $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                      type:
                        description: Specifies the type of sink.
                        type: string
                        example: r2
                        enum:
                        - r2
                        - r2_data_catalog
                        - basin_catalog
                    required:
                    - id
                    - name
                    - created_at
                    - modified_at
                    - type
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in listing Sinks.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      - Pipelines Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.sinks
      x-fern-sdk-method-name: get
      x-forge-hidden: false
  /accounts/{account_id}/pipelines/v1/streams:
    get:
      operationId: getV4AccountsByAccount_idPipelinesV1Streams
      summary: List Streams
      description: List/Filter Streams in Account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: pipeline_id
        in: query
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline-id'
      - name: name
        in: query
        description: Filters streams by name (case-insensitive substring).
        schema:
          type: string
          maxLength: 128
          minLength: 1
      - name: page
        in: query
        schema:
          type: number
          default: 1
      - name: per_page
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Indicates a successfully created Stream.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      properties:
                        created_at:
                          type: string
                          format: date-time
                        endpoint:
                          description: Indicates the endpoint URL of this stream.
                          type: string
                          format: uri
                          example: https://01234567890123457689012345678901.ingest.cloudflare.com/v1
                        format:
                          $ref: '#/components/schemas/cloudflare-pipelines_Format'
                        http:
                          type: object
                          properties:
                            authentication:
                              description: Indicates that authentication is required for the HTTP endpoint.
                              type: boolean
                              example: false
                            cors:
                              description: Specifies the CORS options for the HTTP endpoint.
                              type: object
                              example: {}
                              properties:
                                origins:
                                  type: array
                                  items:
                                    type: string
                                  maxItems: 5
                            enabled:
                              description: Indicates that the HTTP endpoint is enabled.
                              type: boolean
                              example: true
                          required:
                          - enabled
                          - authentication
                        id:
                          description: Indicates a unique identifier for this stream.
                          type: string
                          example: 01234567890123457689012345678901
                        modified_at:
                          type: string
                          format: date-time
                        name:
                          description: Indicates the name of the Stream.
                          type: string
                          example: my_stream
                          maxLength: 128
                          minLength: 1
                        schema:
                          $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                        version:
                          description: Indicates the current version of this stream.
                          type: integer
                          example: 3
                        worker_binding:
                          type: object
                          properties:
                            enabled:
                              description: Indicates that the worker binding is enabled.
                              type: boolean
                              example: true
                          required:
                          - enabled
                      required:
                      - id
                      - name
                      - version
                      - created_at
                      - modified_at
                      - http
                      - worker_binding
                      type: object
                  result_info:
                    type: object
                    properties:
                      count:
                        description: Indicates the number of items on current page.
                        type: number
                        example: 1
                      page:
                        description: Indicates the current page number.
                        type: number
                        example: 0
                      per_page:
                        description: Indicates the number of items per page.
                        type: number
                        example: 10
                      total_count:
                        description: Indicates the total number of items.
                        type: number
                        example: 1
                    required:
                    - count
                    - page
                    - per_page
                    - total_count
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
                - result_info
        4XX:
          description: Indicates an error in listing Streams.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      - Pipelines Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.streams
      x-fern-sdk-method-name: list
      x-forge-hidden: false
    post:
      operationId: postV4AccountsByAccount_idPipelinesV1Streams
      summary: Create Stream
      description: Create a new Stream.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                format:
                  $ref: '#/components/schemas/cloudflare-pipelines_Format'
                http:
                  type: object
                  default:
                    authentication: false
                    enabled: true
                  properties:
                    authentication:
                      description: Indicates that authentication is required for the HTTP endpoint.
                      type: boolean
                      example: false
                    cors:
                      description: Specifies the CORS options for the HTTP endpoint.
                      type: object
                      example: {}
                      properties:
                        origins:
                          type: array
                          items:
                            type: string
                          maxItems: 5
                    enabled:
                      description: Indicates that the HTTP endpoint is enabled.
                      type: boolean
                      example: true
                  required:
                  - enabled
                  - authentication
                name:
                  description: Specifies the name of the Stream.
                  type: string
                  example: my_stream
                  maxLength: 128
                  minLength: 1
                schema:
                  $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                worker_binding:
                  type: object
                  default:
                    enabled: true
                  properties:
                    enabled:
                      description: Indicates that the worker binding is enabled.
                      type: boolean
                      example: true
                  required:
                  - enabled
              required:
              - name
      responses:
        '200':
          description: Indicates a successfully created Stream.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      endpoint:
                        description: Indicates the endpoint URL of this stream.
                        type: string
                        format: uri
                        example: https://01234567890123457689012345678901.ingest.cloudflare.com/v1
                      format:
                        $ref: '#/components/schemas/cloudflare-pipelines_Format'
                      http:
                        type: object
                        properties:
                          authentication:
                            description: Indicates that authentication is required for the HTTP endpoint.
                            type: boolean
                            example: false
                          cors:
                            description: Specifies the CORS options for the HTTP endpoint.
                            type: object
                            example: {}
                            properties:
                              origins:
                                type: array
                                items:
                                  type: string
                                maxItems: 5
                          enabled:
                            description: Indicates that the HTTP endpoint is enabled.
                            type: boolean
                            example: true
                        required:
                        - enabled
                        - authentication
                      id:
                        description: Indicates a unique identifier for this stream.
                        type: string
                        example: 01234567890123457689012345678901
                      modified_at:
                        type: string
                        format: date-time
                      name:
                        description: Indicates the name of the Stream.
                        type: string
                        example: my_stream
                        maxLength: 128
                        minLength: 1
                      schema:
                        $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                      version:
                        description: Indicates the current version of this stream.
                        type: integer
                        example: 3
                      worker_binding:
                        type: object
                        properties:
                          enabled:
                            description: Indicates that the worker binding is enabled.
                            type: boolean
                            example: true
                        required:
                        - enabled
                    required:
                    - id
                    - name
                    - version
                    - created_at
                    - modified_at
                    - http
                    - worker_binding
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in creating a Stream.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.streams
      x-fern-sdk-method-name: create
      x-forge-hidden: false
  /accounts/{account_id}/pipelines/v1/streams/{stream_id}:
    delete:
      operationId: deleteV4AccountsByAccount_idPipelinesV1StreamsByStream_id
      summary: Delete Stream
      description: Delete Stream in Account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: stream_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-stream-id'
      responses:
        '200':
          description: Indicates a successfully deleted Stream.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in listing Streams.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.streams
      x-fern-sdk-method-name: delete
      x-forge-hidden: false
    get:
      operationId: getV4AccountsByAccount_idPipelinesV1StreamsByStream_id
      summary: Get Stream Details
      description: Get Stream Details.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: stream_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-stream-id'
      responses:
        '200':
          description: Indicates a successfully retrieved Stream.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      endpoint:
                        description: Indicates the endpoint URL of this stream.
                        type: string
                        format: uri
                        example: https://01234567890123457689012345678901.ingest.cloudflare.com/v1
                      format:
                        $ref: '#/components/schemas/cloudflare-pipelines_Format'
                      http:
                        type: object
                        properties:
                          authentication:
                            description: Indicates that authentication is required for the HTTP endpoint.
                            type: boolean
                            example: false
                          cors:
                            description: Specifies the CORS options for the HTTP endpoint.
                            type: object
                            example: {}
                            properties:
                              origins:
                                type: array
                                items:
                                  type: string
                                maxItems: 5
                          enabled:
                            description: Indicates that the HTTP endpoint is enabled.
                            type: boolean
                            example: true
                        required:
                        - enabled
                        - authentication
                      id:
                        description: Indicates a unique identifier for this stream.
                        type: string
                        example: 01234567890123457689012345678901
                      modified_at:
                        type: string
                        format: date-time
                      name:
                        description: Indicates the name of the Stream.
                        type: string
                        example: my_stream
                        maxLength: 128
                        minLength: 1
                      schema:
                        $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                      version:
                        description: Indicates the current version of this stream.
                        type: integer
                        example: 3
                      worker_binding:
                        type: object
                        properties:
                          enabled:
                            description: Indicates that the worker binding is enabled.
                            type: boolean
                            example: true
                        required:
                        - enabled
                    required:
                    - id
                    - name
                    - version
                    - created_at
                    - modified_at
                    - http
                    - worker_binding
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in retrieving Stream.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      - Pipelines Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.streams
      x-fern-sdk-method-name: get
      x-forge-hidden: false
    patch:
      operationId: patchV4AccountsByAccount_idPipelinesV1StreamsByStream_id
      summary: Update Stream
      description: Update a Stream.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: stream_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-stream-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                http:
                  type: object
                  properties:
                    authentication:
                      description: Indicates that authentication is required for the HTTP endpoint.
                      type: boolean
                      example: false
                    cors:
                      description: Specifies the CORS options for the HTTP endpoint.
                      type: object
                      example: {}
                      properties:
                        origins:
                          type: array
                          items:
                            type: string
                          maxItems: 5
                    enabled:
                      description: Indicates that the HTTP endpoint is enabled.
                      type: boolean
                      example: true
                  required:
                  - enabled
                  - authentication
                worker_binding:
                  type: object
                  properties:
                    enabled:
                      description: Indicates that the worker binding is enabled.
                      type: boolean
                      example: true
                  required:
                  - enabled
      responses:
        '200':
          description: Indicates a successfully updated Stream.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      endpoint:
                        description: Indicates the endpoint URL of this stream.
                        type: string
                        format: uri
                        example: https://01234567890123457689012345678901.ingest.cloudflare.com/v1
                      format:
                        $ref: '#/components/schemas/cloudflare-pipelines_Format'
                      http:
                        type: object
                        properties:
                          authentication:
                            description: Indicates that authentication is required for the HTTP endpoint.
                            type: boolean
                            example: false
                          cors:
                            description: Specifies the CORS options for the HTTP endpoint.
                            type: object
                            example: {}
                            properties:
                              origins:
                                type: array
                                items:
                                  type: string
                                maxItems: 5
                          enabled:
                            description: Indicates that the HTTP endpoint is enabled.
                            type: boolean
                            example: true
                        required:
                        - enabled
                        - authentication
                      id:
                        description: Indicates a unique identifier for this stream.
                        type: string
                        example: 01234567890123457689012345678901
                      modified_at:
                        type: string
                        format: date-time
                      name:
                        description: Indicates the name of the Stream.
                        type: string
                        example: my_stream
                        maxLength: 128
                        minLength: 1
                      schema:
                        $ref: '#/components/schemas/cloudflare-pipelines_ConnectionSchema'
                      version:
                        description: Indicates the current version of this stream.
                        type: integer
                        example: 3
                      worker_binding:
                        type: object
                        properties:
                          enabled:
                            description: Indicates that the worker binding is enabled.
                            type: boolean
                            example: true
                        required:
                        - enabled
                    required:
                    - id
                    - name
                    - version
                    - created_at
                    - modified_at
                    - http
                    - worker_binding
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error in creating a Stream.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines.streams
      x-fern-sdk-method-name: update
      x-forge-hidden: false
  /accounts/{account_id}/pipelines/v1/validate_sql:
    post:
      operationId: postV4AccountsByAccount_idPipelinesV1Validate_sql
      summary: Validate SQL
      description: Validates that the Pipelines SQL is correct.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sql:
                  description: Specifies SQL to validate.
                  type: string
                  example: insert into sink select * from source;
              required:
              - sql
      responses:
        '200':
          description: Indicates SQL validation success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      graph:
                        $ref: '#/components/schemas/cloudflare-pipelines_PipelineGraph'
                      tables:
                        description: Indicates tables involved in the processing.
                        type: object
                        additionalProperties:
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            type:
                              type: string
                            version:
                              type: number
                          required:
                          - id
                          - version
                          - type
                          - name
                          type: object
                    required:
                    - tables
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        '422':
          description: Indicates SQL validation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  diagnostics:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                        span:
                          type:
                          - object
                          - 'null'
                          properties:
                            end:
                              type: object
                              properties:
                                column:
                                  type: integer
                                  minimum: 0
                                line:
                                  type: integer
                                  minimum: 0
                              required:
                              - line
                              - column
                            start:
                              type: object
                              properties:
                                column:
                                  type: integer
                                  minimum: 0
                                line:
                                  type: integer
                                  minimum: 0
                              required:
                              - line
                              - column
                          required:
                          - start
                          - end
                      required:
                      - message
                      type: object
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - errors
                - diagnostics
                - result
        4XX:
          description: Indicates SQL validation failed.
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: validate-sql
      x-forge-hidden: false
  /accounts/{account_id}/pipelines/{pipeline_name}:
    delete:
      operationId: deleteV4AccountsByAccount_idPipelinesByPipeline_name_deprecated
      summary: '[DEPRECATED] Delete Pipeline'
      description: '[DEPRECATED] Delete a pipeline. Use the new /pipelines/v1/pipelines endpoint instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: pipeline_name
        in: path
        required: true
        schema:
          description: Defines the name of the pipeline.
          type: string
          example: sample_pipeline
          maxLength: 128
          minLength: 1
      responses:
        '200':
          description: '[DEPRECATED] Indicates a successfully deleted pipeline.'
        4XX:
          description: Indicates an error in deleting a pipeline.
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: legacy-delete
      x-forge-hidden: true
    get:
      operationId: getV4AccountsByAccount_idPipelinesByPipeline_name_deprecated
      summary: '[DEPRECATED] Get Pipeline'
      description: '[DEPRECATED] Get configuration of a pipeline. Use the new /pipelines/v1/pipelines endpoint instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: pipeline_name
        in: path
        required: true
        schema:
          description: Defines the name of the pipeline.
          type: string
          example: sample_pipeline
          maxLength: 128
          minLength: 1
      responses:
        '200':
          description: '[DEPRECATED] Describes the configuration of a pipeline.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline'
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        '404':
          description: Indicates that the pipeline was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  results:
                    type:
                    - object
                    - 'null'
                    x-stainless-empty-object: true
                  success:
                    example: false
                    allOf:
                    - $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - results
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      - Pipelines Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: legacy-get
      x-forge-hidden: true
    put:
      operationId: putV4AccountsByAccount_idPipelinesByPipeline_name_deprecated
      summary: '[DEPRECATED] Update Pipeline'
      description: '[DEPRECATED] Update an existing pipeline. Use the new /pipelines/v1/pipelines endpoint instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id'
      - name: pipeline_name
        in: path
        required: true
        schema:
          description: Defines the name of the pipeline.
          type: string
          example: sample_pipeline
          maxLength: 128
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: object
                  properties:
                    batch:
                      type: object
                      properties:
                        max_bytes:
                          description: Specifies rough maximum size of files.
                          type: integer
                          default: 100000000
                          maximum: 100000000
                          minimum: 1000
                        max_duration_s:
                          description: Specifies duration to wait to aggregate batches files.
                          type: number
                          default: 300
                          maximum: 300
                          minimum: 0.25
                        max_rows:
                          description: Specifies rough maximum number of rows per file.
                          type: integer
                          default: 10000000
                          maximum: 10000000
                          minimum: 100
                    compression:
                      type: object
                      properties:
                        type:
                          description: Specifies the desired compression algorithm and format.
                          type: string
                          example: gzip
                          default: gzip
                          enum:
                          - none
                          - gzip
                          - deflate
                    credentials:
                      type: object
                      properties:
                        access_key_id:
                          description: Specifies the R2 Bucket Access Key Id.
                          type: string
                          example: <access key id>
                        endpoint:
                          description: Specifies the R2 Endpoint.
                          type: string
                          example: https://123f8a8258064ed892a347f173372359.r2.cloudflarestorage.com
                        secret_access_key:
                          description: Specifies the R2 Bucket Secret Access Key.
                          type: string
                          example: <secret key>
                      required:
                      - endpoint
                      - access_key_id
                      - secret_access_key
                    format:
                      description: Specifies the format of data to deliver.
                      type: string
                      enum:
                      - json
                    path:
                      type: object
                      example:
                        bucket: bucket
                        prefix: base
                      properties:
                        bucket:
                          description: Specifies the R2 Bucket to store files.
                          type: string
                          example: bucket
                        filename:
                          description: Specifies the name pattern to for individual data files.
                          example: ${slug}${extension}
                          allOf:
                          - type: string
                          - type: string
                        filepath:
                          description: Specifies the name pattern for directory.
                          type: string
                          example: ${date}/${hour}
                        prefix:
                          description: Specifies the base directory within the bucket.
                          type: string
                          example: base
                      required:
                      - bucket
                    type:
                      description: Specifies the type of destination.
                      type: string
                      enum:
                      - r2
                  required:
                  - type
                  - format
                  - batch
                  - compression
                  - path
                name:
                  description: Defines the name of the pipeline.
                  type: string
                  example: sample_pipeline
                  maxLength: 128
                  minLength: 1
                source:
                  type: array
                  items:
                    discriminator:
                      mapping:
                        binding: '#/components/schemas/cloudflare-pipelines_workers_pipelines_binding_source'
                        http: '#/components/schemas/cloudflare-pipelines_workers_pipelines_http_source'
                      propertyName: type
                    oneOf:
                    - $ref: '#/components/schemas/cloudflare-pipelines_workers_pipelines_http_source'
                    - $ref: '#/components/schemas/cloudflare-pipelines_workers_pipelines_binding_source'
                  minItems: 1
              required:
              - name
              - source
              - destination
      responses:
        '200':
          description: '[DEPRECATED] Indicates a successfully updated pipeline.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline'
                  success:
                    $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - result
        4XX:
          description: Indicates an error updating pipeline.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  results:
                    type:
                    - object
                    - 'null'
                    x-stainless-empty-object: true
                  success:
                    example: false
                    allOf:
                    - $ref: '#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success'
                required:
                - success
                - results
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - workers_pipelines_other
      x-api-token-group:
      - Pipelines Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: pipelines
      x-fern-sdk-method-name: legacy-update
      x-forge-hidden: true
      x-forge-params:
        destination.batch.max_bytes:
          default: null
        destination.batch.max_duration_s:
          default: null
        destination.batch.max_rows:
          default: null
        destination.compression.type:
          default: null
components:
  schemas:
    cloudflare-pipelines_SinkJsonFormat:
      allOf:
      - $ref: '#/components/schemas/cloudflare-pipelines_JsonFormat'
      - properties:
          compression:
            $ref: '#/components/schemas/cloudflare-pipelines_JsonCompression'
          type:
            type: string
            enum:
            - json
        required:
        - type
        type: object
      title: Json
    cloudflare-pipelines_r2_data_catalogTablePublic:
      description: R2 Data Catalog Sink public configuration.
      type: object
      properties:
        account_id:
          description: Cloudflare Account ID
          type: string
          format: uri
          example: 6791973bbe876d621f9e557f891e90b3
        bucket:
          description: The R2 Bucket that hosts this catalog
          type: string
          example: my-bucket
        namespace:
          description: Table namespace
          type: string
          title: Namespace
        rolling_policy:
          description: Rolling policy for file sinks (when & why to close a file and open a new one).
          type: object
          additionalProperties: false
          properties:
            file_size_bytes:
              description: Files will be rolled after reaching this number of bytes
              type: integer
              format: uint64
              minimum: 0
              title: File Size
            inactivity_seconds:
              description: Number of seconds of inactivity to wait before rolling over to a new file
              type: integer
              format: uint64
              minimum: 1
              title: Inactivity Seconds
            interval_seconds:
              description: Number of seconds to wait before rolling over to a new file
              type: integer
              format: uint64
              minimum: 1
              title: Interval Seconds
          title: File Rolling Policy
        table_name:
          description: Table name
          type: string
          title: Table Name
      additionalProperties: false
      required:
      - account_id
      - bucket
      - table_name
      title: R2DataCatalogSinkTablePublic
    cloudflare-pipelines_TimestampFormat:
      type: string
      enum:
      - rfc3339
      - unix_millis
    cloudflare-pipelines_workers-pipelines-account-id:
      description: Specifies the public ID of the account.
      type: string
      example: 0123105f4ecef8ad9ca31a8372d0c353
    cloudflare-pipelines_workers-pipelines-sink-id:
      description: Specifies the publid ID of the sink.
      type: string
      example: 0223105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      minLength: 32
    cloudflare-pipelines_ConnectionSchema:
      description: Defines the schema of the events in the data stream.
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/cloudflare-pipelines_SourceField'
        inferred:
          type:
          - boolean
          - 'null'
    cloudflare-pipelines_workers-pipelines-stream-id:
      description: Specifies the public ID of the stream.
      type: string
      example: 033e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      minLength: 32
    cloudflare-pipelines_PipelineGraph:
      description: Indicates the processing flow to implement the SQL.
      type: object
      properties:
        edges:
          type: array
          items:
            $ref: '#/components/schemas/cloudflare-pipelines_PipelineEdge'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/cloudflare-pipelines_PipelineNode'
      required:
      - nodes
      - edges
    cloudflare-pipelines_r2TablePublic:
      description: R2 Sink public configuration.
      type: object
      properties:
        account_id:
          description: Cloudflare Account ID for the bucket
          type: string
          title: Account ID
        bucket:
          description: R2 Bucket to write to
          type: string
          title: Bucket
        file_naming:
          description: Controls filename prefix/suffix and strategy.
          type: object
          additionalProperties: false
          properties:
            prefix:
              description: The prefix to use in file name. i.e prefix-<uuid>.parquet
              type: string
              title: Filename Prefix
            strategy:
              description: Filename generation strategy.
              type: string
              enum:
              - serial
              - uuid
              - uuid_v7
              - ulid
              title: Filename Strategy
            suffix:
              description: This will overwrite the default file suffix. i.e .parquet, use with caution
              type: string
              title: Filename Suffix
          title: File Naming
        jurisdiction:
          description: Jurisdiction this bucket is hosted in
          type: string
          title: Jurisdiction
        partitioning:
          description: Data-layout partitioning for sinks.
          type: object
          additionalProperties: false
          properties:
            time_pattern:
              description: The pattern of the date string
              type: string
              example: year=%Y/month=%m/day=%d/hour=%H
              title: Time Partition Pattern
          title: Partitioning Configuration
        path:
          description: Subpath within the bucket to write to
          type: string
          title: Path
        rolling_policy:
          description: Rolling policy for file sinks (when & why to close a file and open a new one).
          type: object
          additionalProperties: false
          properties:
            file_size_bytes:
              description: Files will be rolled after reaching this number of bytes
              type: integer
              format: uint64
              minimum: 0
              title: File Size
            inactivity_seconds:
              description: Number of seconds of inactivity to wait before rolling over to a new file
              type: integer
              format: uint64
              minimum: 1
              title: Inactivity Seconds
            interval_seconds:
              description: Number of seconds to wait before rolling over to a new file
              type: integer
              format: uint64
              minimum: 1
              title: Interval Seconds
          title: File Rolling Policy
      additionalProperties: false
      required:
      - account_id
      - bucket
      title: R2 Sink Public
    cloudflare-pipelines_PipelineEdge:
      type: object
      properties:
        dest_id:
          type: integer
          format: int32
          minimum: 0
        edge_type:
          type: string
        key_type:
          type: string
        src_id:
          type: integer
          format: int32
          minimum: 0
        value_type:
          type: string
      required:
      - src_id
      - dest_id
      - key_type
      - value_type
      - edge_type
    cloudflare-pipelines_ListField:
      type: object
      properties:
        items:
          $ref: '#/components/schemas/cloudflare-pipelines_SourceField'
      required:
      - items
    cloudflare-pipelines_ParquetFormat:
      type: object
      properties:
        compression:
          $ref: '#/components/schemas/cloudflare-pipelines_ParquetCompression'
        row_group_bytes:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 0
    cloudflare-pipelines_FieldType:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          type:
            type: string
            enum:
            - int32
        required:
        - type
        title: Int32
        type: object
      - properties:
          type:
            type: string
            enum:
            - int64
        required:
        - type
        title: Int64
        type: object
      - properties:
          type:
            type: string
            enum:
            - float32
        required:
        - type
        title: Float32
        type: object
      - properties:
          type:
            type: string
            enum:
            - float64
        required:
        - type
        title: Float64
        type: object
      - properties:
          type:
            type: string
            enum:
            - bool
        required:
        - type
        title: Bool
        type: object
      - properties:
          type:
            type: string
            enum:
            - string
        required:
        - type
        title: String
        type: object
      - properties:
          type:
            type: string
            enum:
            - binary
        required:
        - type
        title: Binary
        type: object
      - allOf:
        - $ref: '#/components/schemas/cloudflare-pipelines_TimestampField'
        - properties:
            type:
              type: string
              enum:
              - timestamp
          required:
          - type
          type: object
        title: Timestamp
      - properties:
          type:
            type: string
            enum:
            - json
        required:
        - type
        title: Json
        type: object
      - allOf:
        - $ref: '#/components/schemas/cloudflare-pipelines_StructField'
        - properties:
            type:
              type: string
              enum:
              - struct
          required:
          - type
          type: object
        title: Struct
      - allOf:
        - $ref: '#/components/schemas/cloudflare-pipelines_ListField'
        - properties:
            type:
              type: string
              enum:
              - list
          required:
          - type
          type: object
        title: List
    cloudflare-pipelines_JsonCompression:
      description: Specifies the compression applied to JSON sink output.
      type: string
      default: uncompressed
      enum:
      - uncompressed
      - gzip
    cloudflare-pipelines_PipelineNode:
      type: object
      properties:
        description:
          type: string
        node_id:
          type: integer
          format: int32
          minimum: 0
        operator:
          type: string
        parallelism:
          type: integer
          format: int32
          minimum: 0
      required:
      - node_id
      - operator
      - description
      - parallelism
    cloudflare-pipelines_SinkFormat:
      description: Defines the output data format of a sink.
      discriminator:
        mapping:
          json: '#/components/schemas/cloudflare-pipelines_SinkJsonFormat'
          parquet: '#/components/schemas/cloudflare-pipelines_SinkParquetFormat'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/cloudflare-pipelines_SinkJsonFormat'
      - $ref: '#/components/schemas/cloudflare-pipelines_SinkParquetFormat'
    cloudflare-pipelines_r2Table:
      type: object
      properties:
        account_id:
          description: Cloudflare Account ID for the bucket
          type: string
          title: Account ID
        bucket:
          description: R2 Bucket to write to
          type: string
          title: Bucket
        credentials:
          type: object
          additionalProperties: false
          properties:
            access_key_id:
              description: Cloudflare Account ID for the bucket
              type: string
              format: var-str
              title: Access Key ID
            secret_access_key:
              description: Cloudflare Account ID for the bucket
              type: string
              format: var-str
              title: Access Key ID
              x-sensitive: true
          required:
          - access_key_id
          - secret_access_key
          title: R2 Credentials
        file_naming:
          description: Controls filename prefix/suffix and strategy.
          type: object
          additionalProperties: false
          properties:
            prefix:
              description: The prefix to use in file name. i.e prefix-<uuid>.parquet
              type: string
              title: Filename Prefix
            strategy:
              description: Filename generation strategy.
              type: string
              enum:
              - serial
              - uuid
              - uuid_v7
              - ulid
              title: Filename Strategy
            suffix:
              description: This will overwrite the default file suffix. i.e .parquet, use with caution
              type: string
              title: Filename Suffix
          title: File Naming
        jurisdiction:
          description: Jurisdiction this bucket is hosted in
          type: string
          title: Jurisdiction
        partitioning:
          description: Data-layout partitioning for sinks.
          type: object
          additionalProperties: false
          properties:
            time_pattern:
              description: The pattern of the date string
              type: string
              example: year=%Y/month=%m/day=%d/hour=%H
              title: Time Partition Pattern
          title: Partitioning Configuration
        path:
          description: Subpath within the bucket to write to
          type: string
          title: Path
        rolling_policy:
          description: Rolling policy for file sinks (when & why to close a file and open a new one).
          type: object
          additionalProperties: false
          properties:
            file_size_bytes:
              description: Files will be rolled after reaching this number of bytes
              type: integer
              format: uint64
              minimum: 0
              title: File Size
            inactivity_seconds:
              description: Number of seconds of inactivity to wait before rolling over to a new file
              type: integer
              format: uint64
              minimum: 1
              title: Inactivity Seconds
            interval_seconds:
              description: Number of seconds to wait before rolling over to a new file
              type: integer
              format: uint64
              minimum: 1
              title: Interval Seconds
          title: File Rolling Policy
      additionalProperties: false
      required:
      - account_id
      - bucket
      - credentials
      title: R2 Sink
    cloudflare-pipelines_workers-pipelines-pipeline:
      description: '[DEPRECATED] Describes the configuration of a pipeline. Use the new streams/sinks/pipelines API instead.'
      type: object
      properties:
        destination:
          type: object
          properties:
            batch:
              type: object
              properties:
                max_bytes:
                  description: Specifies rough maximum size of files.
                  type: integer
                  default: 100000000
                  maximum: 100000000
                  minimum: 1000
                max_duration_s:
                  description: Specifies duration to wait to aggregate batches files.
                  type: number
                  default: 300
                  maximum: 300
                  minimum: 0.25
                max_rows:
                  description: Specifies rough maximum number of rows per file.
                  type: integer
                  default: 10000000
                  maximum: 10000000
                  minimum: 100
              required:
              - max_rows
              - max_bytes
              - max_duration_s
            compression:
              type: object
              properties:
                type:
                  description: Specifies the desired compression algorithm and format.
                  type: string
                  example: gzip
                  default: gzip
                  enum:
                  - none
                  - gzip
                  - deflate
              required:
              - type
            format:
              description: Specifies the format of data to deliver.
              type: string
              enum:
              - json
            path:
              type: object
              example:
                bucket: bucket
                prefix: base
              properties:
                bucket:
                  description: Specifies the R2 Bucket to store files.
                  type: string
                  example: bucket
                filename:
                  description: Specifies the name pattern to for individual data files.
                  example: ${slug}${extension}
                  allOf:
                  - type: string
                  - type: string
                filepath:
                  description: Specifies the name pattern for directory.
                  type: string
                  example: ${date}/${hour}
                prefix:
                  description: Specifies the base directory within the bucket.
[...]
