openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare URL Scanner (Deprecated) API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: URL Scanner (Deprecated)
paths:
  /accounts/{account_id}/urlscanner/response/{response_id}:
    get:
      operationId: urlscanner-get-response-text
      summary: Get raw response
      description: Returns the plain response of the network request.
      parameters:
      - name: response_id
        in: path
        description: Response hash.
        required: true
        schema:
          description: Response hash.
          type: string
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      responses:
        '200':
          description: When `har.log.entries[].response._cf.contentAvailable` is `true`, use `response._cf.hash` value to fetch the raw response.
          content:
            text/plain:
              schema:
                description: Web resource text/image.
                type: string
        '400':
          description: Invalid params.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Scan ID is not a valid UUID.
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
        '404':
          description: Scan not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Scan not found.
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - URL Scanner (Deprecated)
      x-api-token-group:
      - URL Scanner Write
      - URL Scanner Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: url-scanner.response
      x-fern-sdk-method-name: get
      x-forge-hidden: true
      x-forge-sunset:
        date: '2030-01-01T00:00:00Z'
      x-stainless-deprecation-message: Use [V2](https://developers.cloudflare.com/api/resources/url_scanner/subresources/responses/methods/get/) instead.
  /accounts/{account_id}/urlscanner/scan:
    get:
      operationId: urlscanner-search-scans
      summary: Search URL scans
      description: 'Search scans by date and webpages'' requests, including full URL (after redirects), hostname, and path.

        A successful scan will appear in search results a few minutes after finishing but may take much longer if the system in under load. By default, only successfully completed scans will appear in search results, unless searching by `scanId`. Please take into account that older scans may be removed from the search index at an unspecified time.'
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: scan_id
        in: query
        description: Scan UUID.
        schema:
          description: Scan UUID.
          type: string
          format: uuid
      - name: limit
        in: query
        description: Limit the number of objects in the response.
        schema:
          description: Limit the number of objects in the response.
          type: integer
          example: 100
      - name: next_cursor
        in: query
        description: Pagination cursor to get the next set of results.
        schema:
          description: Pagination cursor to get the next set of results.
          type: string
      - name: date_start
        in: query
        description: Filter scans requested after date (inclusive).
        schema:
          description: Filter scans requested after date (inclusive).
          type: string
          format: date-time
      - name: date_end
        in: query
        description: Filter scans requested before date (inclusive).
        schema:
          description: Filter scans requested before date (inclusive).
          type: string
          format: date-time
      - name: url
        in: query
        description: Filter scans by URL of _any_ request made by the webpage
        schema:
          description: Filter scans by URL of _any_ request made by the webpage
          type: string
          example: https://example.com/?hello
      - name: hostname
        in: query
        description: Filter scans by hostname of _any_ request made by the webpage.
        schema:
          description: Filter scans by hostname of _any_ request made by the webpage.
          type: string
          example: example.com
      - name: path
        in: query
        description: Filter scans by url path of _any_ request made by the webpage.
        schema:
          description: Filter scans by url path of _any_ request made by the webpage.
          type: string
          example: /samples/subresource-integrity/
      - name: ip
        in: query
        description: Filter scans by IP address (IPv4 or IPv6) of _any_ request made by the webpage.
        schema:
          description: Filter scans by IP address (IPv4 or IPv6) of _any_ request made by the webpage.
          type: string
          example: 1.1.1.1
      - name: hash
        in: query
        description: Filter scans by hash of any html/js/css request made by the webpage.
        schema:
          description: Filter scans by hash of any html/js/css request made by the webpage.
          type: string
      - name: page_url
        in: query
        description: Filter scans by submitted or scanned URL
        schema:
          description: Filter scans by submitted or scanned URL
          type: string
      - name: page_hostname
        in: query
        description: Filter scans by main page hostname (domain of effective URL).
        schema:
          description: Filter scans by main page hostname (domain of effective URL).
          type: string
      - name: page_path
        in: query
        description: Filter scans by exact match of effective URL path (also supports suffix search).
        schema:
          description: Filter scans by exact match of effective URL path (also supports suffix search).
          type: string
      - name: page_asn
        in: query
        description: Filter scans by main page Autonomous System Number (ASN).
        schema:
          description: Filter scans by main page Autonomous System Number (ASN).
          type: string
      - name: page_ip
        in: query
        description: Filter scans by  main page IP address (IPv4 or IPv6).
        schema:
          description: Filter scans by  main page IP address (IPv4 or IPv6).
          type: string
      - name: account_scans
        in: query
        description: Return only scans created by account.
        schema:
          description: Return only scans created by account.
          type: boolean
      - name: is_malicious
        in: query
        description: Filter scans by malicious verdict.
        schema:
          description: Filter scans by malicious verdict.
          type: boolean
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Error
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: OK
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      tasks:
                        type: array
                        items:
                          properties:
                            country:
                              description: Alpha-2 country code
                              type: string
                            success:
                              description: Whether scan was successful or not
                              type: boolean
                            time:
                              description: When scan was submitted (UTC)
                              type: string
                              format: date-time
                            url:
                              description: Scan url (after redirects)
                              type: string
                              example: https://www.example.com/
                            uuid:
                              description: Scan id
                              type: string
                              format: uuid
                            visibility:
                              description: Submitted visibility status.
                              type: string
                              example: public
                              enum:
                              - public
                              - unlisted
                          required:
                          - uuid
                          - url
                          - success
                          - time
                          - country
                          - visibility
                          type: object
                    required:
                    - tasks
                  success:
                    description: Whether search request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
                - result
        '400':
          description: Invalid params.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Scan ID is not a valid UUID.
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - URL Scanner (Deprecated)
      x-api-token-group:
      - URL Scanner Write
      - URL Scanner Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: url-scanner.scan.get.urlscanner
      x-fern-sdk-method-name: scans
      x-forge-hidden: true
      x-forge-sunset:
        date: '2030-01-01T00:00:00Z'
      x-stainless-deprecation-message: Use [V2](https://developers.cloudflare.com/api/resources/url_scanner/subresources/scans/methods/list/) instead.
    post:
      operationId: urlscanner-create-scan
      summary: Create URL Scan
      description: Submit a URL to scan. You can also set some options, like the visibility level and custom headers. Check limits at https://developers.cloudflare.com/security-center/investigate/scan-limits/.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  description: Country to geo egress from
                  type: string
                  enum:
                  - AF
                  - AL
                  - DZ
                  - AD
                  - AO
                  - AG
                  - AR
                  - AM
                  - AU
                  - AT
                  - AZ
                  - BH
                  - BD
                  - BB
                  - BY
                  - BE
                  - BZ
                  - BJ
                  - BM
                  - BT
                  - BO
                  - BA
                  - BW
                  - BR
                  - BN
                  - BG
                  - BF
                  - BI
                  - KH
                  - CM
                  - CA
                  - CV
                  - KY
                  - CF
                  - TD
                  - CL
                  - CN
                  - CO
                  - KM
                  - CG
                  - CR
                  - CI
                  - HR
                  - CU
                  - CY
                  - CZ
                  - CD
                  - DK
                  - DJ
                  - DM
                  - DO
                  - EC
                  - EG
                  - SV
                  - GQ
                  - ER
                  - EE
                  - SZ
                  - ET
                  - FJ
                  - FI
                  - FR
                  - GA
                  - GE
                  - DE
                  - GH
                  - GR
                  - GL
                  - GD
                  - GT
                  - GN
                  - GW
                  - GY
                  - HT
                  - HN
                  - HU
                  - IS
                  - IN
                  - ID
                  - IR
                  - IQ
                  - IE
                  - IL
                  - IT
                  - JM
                  - JP
                  - JO
                  - KZ
                  - KE
                  - KI
                  - KW
                  - KG
                  - LA
                  - LV
                  - LB
                  - LS
                  - LR
                  - LY
                  - LI
                  - LT
                  - LU
                  - MO
                  - MG
                  - MW
                  - MY
                  - MV
                  - ML
                  - MR
                  - MU
                  - MX
                  - FM
                  - MD
                  - MC
                  - MN
                  - MS
                  - MA
                  - MZ
                  - MM
                  - NA
                  - NR
                  - NP
                  - NL
                  - NZ
                  - NI
                  - NE
                  - NG
                  - KP
                  - MK
                  - 'NO'
                  - OM
                  - PK
                  - PS
                  - PA
                  - PG
                  - PY
                  - PE
                  - PH
                  - PL
                  - PT
                  - QA
                  - RO
                  - RU
                  - RW
                  - SH
                  - KN
                  - LC
                  - VC
                  - WS
                  - SM
                  - ST
                  - SA
                  - SN
                  - RS
                  - SC
                  - SL
                  - SK
                  - SI
                  - SB
                  - SO
                  - ZA
                  - KR
                  - SS
                  - ES
                  - LK
                  - SD
                  - SR
                  - SE
                  - CH
                  - SY
                  - TW
                  - TJ
                  - TZ
                  - TH
                  - BS
                  - GM
                  - TL
                  - TG
                  - TO
                  - TT
                  - TN
                  - TR
                  - TM
                  - UG
                  - UA
                  - AE
                  - GB
                  - US
                  - UY
                  - UZ
                  - VU
                  - VE
                  - VN
                  - YE
                  - ZM
                  - ZW
                customHeaders:
                  description: Set custom headers.
                  type: object
                  additionalProperties:
                    type: string
                screenshotsResolutions:
                  description: Take multiple screenshots targeting different device types.
                  type: array
                  items:
                    default: desktop
                    description: Device resolutions.
                    enum:
                    - desktop
                    - mobile
                    - tablet
                    type: string
                  default:
                  - desktop
                url:
                  type: string
                  example: https://www.example.com
                visibility:
                  description: The option `Public` means it will be included in listings like recent scans and search results. `Unlisted` means it will not be included in the aforementioned listings, users will need to have the scan's ID to access it. A a scan will be automatically marked as unlisted if it fails, if it contains potential PII or other sensitive material.
                  type: string
                  default: Public
                  enum:
                  - Public
                  - Unlisted
              required:
              - url
      responses:
        '200':
          description: Scan request accepted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Submission unsuccessful
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Submission successful
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      time:
                        description: Time when url was submitted for scanning.
                        type: string
                        format: date-time
                      url:
                        description: Canonical form of submitted URL. Use this if you want to later search by URL.
                        type: string
                      uuid:
                        description: Scan ID.
                        type: string
                        format: uuid
                      visibility:
                        description: Submitted visibility status.
                        type: string
                        example: public
                        enum:
                        - public
                        - unlisted
                    required:
                    - visibility
                    - uuid
                    - url
                    - time
                  success:
                    type: boolean
                required:
                - messages
                - errors
                - success
                - result
        '400':
          description: Invalid params.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Scan ID is not a valid UUID.
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
        '409':
          description: 'Scan request denied: hostname was recently scanned.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Submission unsuccessful
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      tasks:
                        type: array
                        items:
                          properties:
                            clientLocation:
                              description: Submitter location
                              type: string
                              example: PT
                            clientType:
                              type: string
                              enum:
                              - Site
                              - Automatic
                              - Api
                            effectiveUrl:
                              description: URL of the primary request, after all HTTP redirects
                              type: string
                              example: http://example.com/
                            errors:
                              type: array
                              items:
                                properties:
                                  message:
                                    type: string
                                required:
                                - message
                                type: object
                            scannedFrom:
                              type: object
                              properties:
                                colo:
                                  description: IATA code of Cloudflare datacenter
                                  type: string
                                  example: MAD
                              required:
                              - colo
                            status:
                              type: string
                              enum:
                              - Queued
                              - InProgress
                              - InPostProcessing
                              - Finished
                            success:
                              type: boolean
                              example: true
                            time:
                              type: string
                              example: '2023-05-03T17:05:04.843Z'
                            timeEnd:
                              type: string
                              example: '2023-05-03T17:05:19.374Z'
                            url:
                              description: Submitted URL
                              type: string
                              example: http://example.com
                            uuid:
                              description: Scan ID
                              type: string
                              example: 2ee568d0-bf70-4827-b922-b7088c0f056f
                            visibility:
                              type: string
                              enum:
                              - Public
                              - Unlisted
                          required:
                          - uuid
                          - url
                          - status
                          - success
                          - errors
                          - time
                          - timeEnd
                          - visibility
                          - clientLocation
                          - clientType
                          - effectiveUrl
                          - scannedFrom
                          type: object
                    required:
                    - tasks
                  success:
                    type: boolean
                    example: true
                required:
                - messages
                - errors
                - success
                - result
        '429':
          description: 'Scan request denied: rate limited.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Submission unsuccessful
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    type: boolean
                    example: true
                required:
                - messages
                - errors
                - success
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - URL Scanner (Deprecated)
      x-api-token-group:
      - URL Scanner Write
      - URL Scanner Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: url-scanner.scan
      x-fern-sdk-method-name: create
      x-forge-hidden: true
      x-forge-sunset:
        date: '2030-01-01T00:00:00Z'
      x-stainless-deprecation-message: Use [V2](https://developers.cloudflare.com/api/resources/url_scanner/subresources/scans/methods/create/) instead.
  /accounts/{account_id}/urlscanner/scan/{scan_id}:
    get:
      operationId: urlscanner-get-scan
      summary: Get URL scan
      description: Get URL scan by uuid
      parameters:
      - name: scan_id
        in: path
        description: Scan UUID.
        required: true
        schema:
          description: Scan UUID.
          type: string
          format: uuid
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: full
        in: query
        description: Whether to return full report (scan summary and network log).
        schema:
          description: Whether to return full report (scan summary and network log).
          type: boolean
      responses:
        '200':
          description: Scan has finished. It may or may not have been successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Error
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: OK
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      scan:
                        type: object
                        properties:
                          asns:
                            description: Dictionary of Autonomous System Numbers where ASN's are the keys
                            type: object
                            properties:
                              asn:
                                description: ASN's contacted
                                type: object
                                properties:
                                  asn:
                                    type: string
                                    example: '15133'
                                  description:
                                    type: string
                                    example: EDGECAST
                                  location_alpha2:
                                    type: string
                                    example: US
                                  name:
                                    type: string
                                    example: EDGECAST
                                  org_name:
                                    type: string
                                    example: Edgecast Inc.
                                required:
                                - asn
                                - name
                                - description
                                - org_name
                                - location_alpha2
                          certificates:
                            type: array
                            items:
                              properties:
                                issuer:
                                  type: string
                                subjectName:
                                  type: string
                                  example: rkmod.somee.com
                                validFrom:
                                  type: number
                                  example: 1682684400
                                validTo:
                                  type: number
                                  example: 1696698000
                              required:
                              - issuer
                              - subjectName
                              - validFrom
                              - validTo
                              type: object
                          domains:
                            type: object
                            properties:
                              example.com:
                                type: object
                                properties:
                                  categories:
                                    type: object
                                    properties:
                                      content:
                                        items:
                                          properties:
                                            id:
                                              type: integer
                                            name:
                                              type: string
                                              example: Technology
                                            super_category_id:
                                              type: integer
                                          required:
                                          - id
                                          - name
                                          type: object
                                        type: array
                                      inherited:
                                        type: object
                                        properties:
                                          content:
                                            items:
                                              properties:
                                                id:
                                                  type: integer
                                                name:
                                                  type: string
                                                  example: Technology
                                                super_category_id:
                                                  type: integer
                                              required:
                                              - id
                                              - name
                                              type: object
                                            type: array
                                          from:
                                            type: string
                                            example: example.com
                                          risks:
                                            type: array
                                            items:
                                              properties:
                                                id:
                                                  type: integer
                                                name:
                                                  type: string
                                                  example: Technology
                                                super_category_id:
                                                  type: integer
                                              required:
                                              - id
                                              - name
                                              type: object
                                      risks:
                                        type: array
                                        items:
                                          properties:
                                            id:
                                              type: integer
                                            name:
                                              type: string
                                              example: Technology
                                            super_category_id:
                                              type: integer
                                          required:
                                          - id
                                          - name
                                          type: object
                                    required:
                                    - inherited
                                  dns:
                                    type: array
                                    items:
                                      properties:
                                        address:
                                          type: string
                                          example: 93.184.216.34
                                        dnssec_valid:
                                          type: boolean
                                        name:
                                          type: string
                                          example: example.com
                                        type:
                                          type: string
                                          example: A
                                      required:
                                      - name
                                      - address
                                      - type
                                      - dnssec_valid
                                      type: object
                                  name:
                                    type: string
                                    example: example.com
                                  rank:
                                    type: object
                                    properties:
                                      bucket:
                                        type: string
                                        example: '500'
                                      name:
                                        type: string
                                        example: example.com
                                      rank:
                                        description: Rank in the Global Radar Rank, if set. See more at https://blog.cloudflare.com/radar-domain-rankings/
                                        type: integer
                                    required:
                                    - name
                                    - bucket
                                  type:
                                    type: string
                                    example: Apex domain
                                required:
                                - name
                                - type
                                - categories
                                - dns
                                - rank
                          geo:
                            type: object
                            properties:
                              continents:
                                type: array
                                items:
                                  description: GeoIP continent location
                                  example: North America
                                  type: string
                              locations:
                                type: array
                                items:
                                  description: GeoIP country location
                                  example: US
                                  type: string
                            required:
                            - locations
                            - continents
                          ips:
                            type: object
                            properties:
                              ip:
                                type: object
                                properties:
                                  asn:
                                    type: string
                                    example: '15133'
                                  asnDescription:
                                    type: string
                                    example: EDGECAST
                                  asnLocationAlpha2:
                                    type: string
                                    example: US
                                  asnName:
                                    type: string
                                    example: EDGECAST
                                  asnOrgName:
                                    type: string
                                    example: Edgecast Inc.
                                  continent:
                                    type: string
                                    example: North America
                                  geonameId:
                                    type: string
                                    example: '6252001'
                                  ip:
                                    type: string
                                    example: 2606:2800:220:1:248:1893:25c8:1946
                                  ipVersion:
                                    type: string
                                    example: IPv6
                                  latitude:
                                    type: string
                                    example: '39.76'
                                  locationAlpha2:
                                    type: string
                                    example: US
                                  locationName:
                                    type: string
                                    example: United States
                                  longitude:
                                    type: string
                                    example: '-98.5'
                                  subdivision1Name:
                                    type: string
                                  subdivision2Name:
                                    type: string
                                required:
                                - ip
                                - ipVersion
                                - locationAlpha2
                                - locationName
                                - subdivision1Name
                                - subdivision2Name
                                - latitude
                                - longitude
                                - continent
                                - geonameId
                                - asn
                                - asnName
                                - asnOrgName
                                - asnDescription
                                - asnLocationAlpha2
                          links:
                            type: object
                            properties:
                              link:
                                type: object
                                properties:
                                  href:
                                    description: Outgoing link detected in the DOM
                                    type: string
                                    example: https://www.iana.org/domains/example
                                  text:
                                    type: string
                                    example: More information...
                                required:
                                - href
                                - text
                          meta:
                            type: object
                            properties:
                              processors:
                                type: object
                                properties:
                                  categories:
                                    type: object
                                    properties:
                                      content:
                                        items:
                                          properties:
                                            id:
                                              type: integer
                                              example: 155
                                            name:
                                              type: string
                                              example: Technology
                                            super_category_id:
                                              type: integer
                                          required:
                                          - id
                                          - name
                                          type: object
                                        type: array
                                      risks:
                                        type: array
                                        items:
                                          properties:
                                            id:
                                              type: integer
                                              example: 17
                                            name:
                                              type: string
                                              example: Newly Seen Domains
                                            super_category_id:
                                              type: integer
                                              example: 32
                                          required:
                                          - id
                                          - super_category_id
                                          - name
                                          type: object
                                    required:
                                    - content
                                    - risks
                                  phishing:
                                    type: array
                                    items:
                                      example: CredentialHarvester
                                      type: string
                                  rank:
                                    type: object
                                    properties:
                                      bucket:
                                        type: string
                                        example: '500'
                                      name:
                                        type: string
                                        example: example.com
                                      rank:
                                        description: Rank in the Global Radar Rank, if set. See more at https://blog.cloudflare.com/radar-domain-rankings/
                                        type: integer
                                    required:
                                    - name
                                    - bucket
                                  tech:
                                    type: array
                                    items:
                                      properties:
                                        categories:
                                          type: array
                                          items:
                                            properties:
                                              groups:
                                                type: array
                                                items:
                                                  type: integer
                                              id:
                                                type: integer
                                                example: 63
                                              name:
                                                type: string
                                                example: IAAS
                                              priority:
                                                type: integer
                                                example: 8
                                              slug:
                                                type: string
                                                example: iaas
                                            required:
                                            - id
                                            - slug
                                            - groups
                                            - name
                                            - priority
                                            type: object
                                        confidence:
                                          type: integer
                                          example: 100
                                        description:
                                          type: string
                                        evidence:
                                          type: object
                                          properties:
                                            impliedBy:
                                              type: array
                                              items:
                                                type: string
                                            patterns:
                                              type: array
                                              items:
                                                properties:
                                                  confidence:
                                                    type: integer
                                                    example: 100
                                                  excludes:
                                                    type: array
                                                    items:
                                                      type: string
                                                  implies:
                                                    type: array
                                                    items:
                                                      type: string
                                                  match:
                                                    type: string
                                                    example: ECS
                                                  name:
                                                    description: Header or Cookie name when set
                                                    type: string
                                                    example: server
                                                  regex:
                                                    type: string
                                                    example: ^ECS
                                                  type:
                                                    type: string
                                                    example: headers
                                                  value:
                                                    type: string
                                                    example: ECS (dcb/7EEE)
                                                  version:
                                                    type: string
                                                required:
                                                - type
                                                - regex
                                                - value
                                                - match
                                                - name
                                                - confidence
                                                - version
                                                - implies
                                                - excludes
                                                type: object
                                          required:
                                          - patterns
                                          - impliedBy
                                        icon:
                                          type: string
                                          example: Amazon ECS.svg
                                        name:
                                          type: string
                                          example: Amazon ECS
                                        slug:
                                          type: string
                                          example: amazon-ecs
                                        website:
                                          type: string
                                          example: https://aws.amazon.com/ecs/
                                      required:
                                      - name
                                      - slug
                                      - categories
                                      - confidence
                                      - icon
                                      - website
                                      - evidence
                                      type: object
                                required:
                                - tech
                                - categories
                                - rank
                                - phishing
                            required:
                            - processors
                          page:
                            type: object
                            properties:
                              asn:
                                type: string
                                example: '15133'
                              asnLocationAlpha2:
                                type: string
                                example: US
                              asnname:
                                type: string
                                example: EDGECAST
                              console:
                                type: array
                                items:
                                  properties:
                                    category:
                                      type: string
                                      example: network
                                    text:
                                      type: string
                                      example: 'Failed to load resource: the server responded with a status of 404 (Not Found)'
                                    type:
                                      type: string
                                      example: error
                                    url:
                                      type: string
                                      example: http://example.com/favicon.ico
                                  required:
                                  - type
                                  - text
                                  - category
                                  type: object
                              cookies:
                                type: array
                                items:
                                  properties:
                                    domain:
                                      type: string
                                      example: rkmod.somee.com
                                    expires:
                                      type: number
                                      example: -1
                                    httpOnly:
                                      type: boolean
                                    name:
                                      type: string
                                      example: b
                                    path:
                                      type: string
                                      example: /
                                    priority:
                                      type: string
                                      example: Medium
                                    sameParty:
                                      type: boolean
                                    secure:
                                      type: boolean
                                    session:
                                      type: boolean
                                      example: true
                                    size:
                                      type: number
                                      example: 2
                                    sourcePort:
                                      type: number
                                      example: 443
                                    sourceScheme:
                                      type: string
                                      example: Secure
                                    value:
                                      type: string
                                      example: b
                                  required:
                                  - name
                                  - value
                                  - domain
                                  - path
                                  - expires
                                  - size
                                  - httpOnly
                                  - secure
                                  - session
                                  - sameParty
                                  - sourceScheme
                                  - sourcePort
                                  type: object
                              country:
                                type: string
                                example: United States
                              countryLocationAlpha2:
                                type: string
                                example: US
                              domain:
                                type: string
                                example: example.com
                              headers:
                                type: array
                                items:
                                  properties:
                                    name:
                                      type: string
                                      example: Content-Length
                                    value:
                                      type: string
                                      example: '648'
                                  required:
                                  - name
                                  - value
                                  type: object
                              ip:
                                type: string
                                example: 2606:2800:220:1:248:1893:25c8:1946
                              js:
                                type: object
                                properties:
                                  variables:
                                    type: array
                                    items:
                                      properties:
                                        name:
                                          type: string
                                          example: checkFrame
                                        type:
                                          type: string
                                          example: string
                                      required:
                                      - name
                                      - type
                                      type: object
                                required:
                                - variables
                              securityViolations:
                                type: array
                                items:
                                  properties:
                                    category:
                                      type: string
                                      example: csp
                                    text:
                                      type: string
                                      example: '[Report Only] Refused to load the stylesheet ''https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'' because it violates the following Content Security Policy directive: ... '
                                    url:
                                      type: string
                                      example: http://example.com/
                                  required:
                                  - text
                                  - category
                                  - url
                                  type: object
                              status:
                                type: number
                                example: 200
                              subdivision1Name:
                                type: string
                              subdivision2name:
                                type: string
                              url:
                                type: string
                                example: http://example.com/
                            required:
                            - url
                            - domain
                            - country
                            - countryLocationAlpha2
                            - subdivision1Name
                            - subdivision2name
                            - ip
                            - asn
                            - asnname
                            - asnLocationAlpha2
                            - cookies
                            - headers
                            - status
                            - js
                            - console
                            - securityViolations
                          performance:
                            type: array
                            items:
                              properties:
                                connectEnd:
                                  type: number
                                  example: 82.59999999403954
                                connectStart:
                                  type: number
                                  example: 72.79999999701977
                                decodedBodySize:
                                  type: number
                                  example: 1256
                                domComplete:
                                  type: number
                                  example: 306
                                domContentLoadedEventEnd:
                                  type: number
                                  example: 305.8999999910593
                                domContentLoadedEventStart:
                                  type: number
                                  example: 305.8999999910593
                                domInteractive:
                                  type: number
                                  example: 305.8999999910593
                                domainLookupEnd:
                                  type: number
                                  example: 72.79999999701977
                                domainLookupStart:
                                  type: number
                                  example: 2.199999988079071
                                duration:
                                  type: number
                                  example: 306
                                encodedBodySize:
                                  type: number
                                  example: 648
                                entryType:
                                  type: string
                                  example: navigation
                                fetchStart:
                                  type: number
                                  example: 0.8999999910593033
                                initiatorType:
                                  type: string
                                  example: navigation
                                loadEventEnd:
                                  type: number
                                  example: 306
                                loadEventStart:
                                  type: number
                                  example: 306
                                name:
                                  type: string
                                  example: http://example.com/
                                nextHopProtocol:
                                  type: string
                                  example: http/1.1
                                redirectCount:
                                  type: number
                                redirectEnd:
                                  type: number
                                redirectStart:
                                  type: number
                                requestStart:
                                  type: number
                                  example: 82.69999998807907
                                responseEnd:
                                  type: number
                                  example: 270.8999999910593
                                responseStart:
                                  type: number
                                  example: 265.69999998807907
                                secureConnectionStart:
                                  type: number
                                startTime:
                                  type: number
                                transferSize:
                                  type: number
                                  example: 948
                                type:
                                  type: string
                                  example: navigate
                                unloadEventEnd:
                                  type: number
                                unloadEventStart:
                                  type: number
                                workerStart:
                                  type: number
                              required:
                              - name
                              - entryType
                              - startTime
                              - duration
                              - initiatorType
                              - nextHopProtocol
                              - workerStart
                              - redirectStart
                              - redirectEnd
                              - fetchStart
                              - domainLookupStart
                              - domainLookupEnd
                              - connectStart
                              - connectEnd
                              - secureConnectionStart
                              - requestStart
                              - responseStart
                              - responseEnd
                              - transferSize
                              - encodedBodySize
                              - decodedBodySize
                              - unloadEventStart
                              - unloadEventEnd
                              - domInteractive
                              - domContentLoadedEventStart
                              - domContentLoadedEventEnd
                              - domComplete
                              - loadEventStart
                              - loadEventEnd
                              - type
                              - redirectCount
                              type: object
                          task:
                            type: object
                            properties:
                              clientLocation:
                                description: Submitter location
                                type: string
                                example: PT
                              clientType:
                                type: string
                                enum:
                                - Site
                                - Automatic
                                - Api
                              effectiveUrl:
                                description: URL of the primary request, after all HTTP redirects
                                type: string
                                example: http://example.com/
                              errors:
                                type: array
                                items:
                                  properties:
                                    message:
                                      type: string
                                  required:
                                  - message
                                  type: object
                              scannedFrom:
                                type: object
                                properties:
                                  colo:
                                    description: IATA code of Cloudflare datacenter
                                    type: string
                                    example: MAD
                                required:
                                - colo
                              status:
                                type: string
                                enum:
                                - Queued
                                - InProgress
                                - InPostProcessing
                                - Finished
                              success:
                                type: boolean
                                example: true
                              time:
                                type: string
                                example: '2023-05-03T17:05:04.843Z'
                              timeEnd:
                                type: string
                                example: '2023-05-03T17:05:19.374Z'
                              url:
                                description: Submitted URL
                                type: string
                                example: http://example.com
                              uuid:
                                description: Scan ID
                                type: string
                                example: 2ee568d0-bf70-4827-b922-b7088c0f056f
                              visibility:
                                type: string
                                enum:
                                - Public
                                - Unlisted
                            required:
                            - uuid
                            - url
                            - status
                            - success
                            - errors
                            - time
                            - timeEnd
                            - visibility
                            - clientLocation
                            - clientType
                            - effectiveUrl
                            - scannedFrom
                          verdicts:
                            type: object
                            properties:
                              overall:
                                type: object
                                properties:
                                  categories:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: number
                                          example: 117
                                        name:
                                          type: string
                                          example: Malware
                                        super_category_id:
                                          type: number
                                          example: 32
                                      required:
                                      - id
                                      - super_category_id
                                      - name
                                      type: object
                                  malicious:
                                    description: At least one of our subsystems marked the site as potentially malicious at the time of the scan.
                                    type: boolean
                                    example: true
                                  phishing:
                                    type: array
                                    items:
                                      example: Credential Harvester
                                      type: string
                                required:
                                - malicious
                                - categories
                                - phishing
                            required:
                            - overall
                        required:
                        - task
                        - meta
                        - page
                        - geo
                        - certificates
                        - performance
                        - verdicts
                    required:
                    - scan
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
                - result
        '202':
          description: 'Scan is in progress. Check current status in `result.scan.task.status`. Possible statuses: `Queued`,`InProgress`,`InPostProcessing`,`Finished`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: In Progress
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      scan:
                        type: object
                        properties:
                          task:
                            type: object
                            properties:
                              effectiveUrl:
                                type: string
                                example: http://example.com/
                              errors:
                                type: array
                                items:
                                  properties:
                                    message:
                                      type: string
                                  required:
                                  - message
                                  type: object
                              location:
                                type: string
                                example: PT
                              region:
                                type: string
                                example: enam
                              status:
                                type: string
                                example: InProgress
                              success:
                                type: boolean
                                example: true
                              time:
                                type: string
                                example: '2023-05-03T17:05:04.843Z'
                              url:
                                type: string
                                example: http://example.com
                              uuid:
                                type: string
                                example: 2ee568d0-bf70-4827-b922-b7088c0f056f
                              visibility:
                                type: string
                                example: Public
                            required:
                            - uuid
                            - url
                            - status
                            - success
                            - errors
                            - time
                            - visibility
                            - location
                            - region
                            - effectiveUrl
                        required:
                        - task
                    required:
                    - scan
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
                - result
        '400':
          description: Invalid params.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Scan ID is not a valid UUID.
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
        '404':
          description: Scan not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Scan not found.
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - URL Scanner (Deprecated)
      x-api-token-group:
      - URL Scanner Write
      - URL Scanner Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: url-scanner.scan.get.urlscanner
      x-fern-sdk-method-name: scan
      x-forge-hidden: true
      x-forge-sunset:
        date: '2030-01-01T00:00:00Z'
      x-stainless-deprecation-message: Use [V2](https://developers.cloudflare.com/api/resources/url_scanner/subresources/scans/methods/get/) instead.
  /accounts/{account_id}/urlscanner/scan/{scan_id}/har:
    get:
      operationId: urlscanner-get-scan-har
      summary: Get URL scan's HAR
      description: Get a URL scan's HAR file. See HAR spec at http://www.softwareishard.com/blog/har-12-spec/.
      parameters:
      - name: scan_id
        in: path
        description: Scan UUID.
        required: true
        schema:
          description: Scan UUID.
          type: string
          format: uuid
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      responses:
        '200':
          description: Returns the scan's har.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Error
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: OK
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      har:
                        type: object
                        properties:
                          log:
                            type: object
                            properties:
                              creator:
                                type: object
                                properties:
                                  comment:
                                    type: string
                                    example: https://github.com/sitespeedio/chrome-har
                                  name:
                                    type: string
                                    example: chrome-har
                                  version:
                                    type: string
                                    example: 0.13.1
                                required:
                                - name
                                - version
                                - comment
                              entries:
                                type: array
                                items:
                                  properties:
                                    _initialPriority:
                                      type: string
                                      example: VeryHigh
                                    _initiator_type:
                                      type: string
                                      example: other
                                    _priority:
                                      type: string
                                      example: VeryHigh
                                    _requestId:
                                      type: string
                                      example: DDC779F0CB3746BAF283EC1A51B0F2F8
                                    _requestTime:
                                      type: number
                                      example: 114135.331081
                                    _resourceType:
                                      type: string
                                      example: document
                                    cache:
                                      type: object
                                    connection:
                                      type: string
                                      example: '33'
                                    pageref:
                                      type: string
                                      example: page_1
                                    request:
                                      type: object
                                      properties:
                                        bodySize:
                                          type: number
                                        headers:
                                          type: array
                                          items:
                                            properties:
                                              name:
                                                type: string
                                                example: Upgrade-Insecure-Requests
                                              value:
                                                type: string
                                                example: '1'
                                            required:
                                            - name
                                            - value
                                            type: object
                                        headersSize:
                                          type: number
                                          example: 197
                                        httpVersion:
                                          type: string
                                          example: http/1.1
                                        method:
                                          type: string
                                          example: GET
                                        url:
                                          type: string
                                          example: http://example.com/
                                      required:
                                      - method
                                      - url
                                      - headersSize
                                      - bodySize
                                      - headers
                                      - httpVersion
                                    response:
                                      type: object
                                      properties:
                                        _transferSize:
                                          type: number
                                          example: 1071
                                        bodySize:
                                          type: number
                                          example: 648
                                        content:
                                          properties:
                                            compression:
                                              type: integer
                                              example: 608
                                            mimeType:
                                              type: string
                                              example: text/html
                                            size:
                                              type: number
                                              example: 1256
                                          required:
                                          - mimeType
                                          - size
                                          type: object
                                        headers:
                                          type: array
                                          items:
                                            properties:
                                              name:
                                                type: string
                                                example: Content-Encoding
                                              value:
                                                type: string
                                                example: gzip
                                            required:
                                            - name
                                            - value
                                            type: object
                                        headersSize:
                                          type: number
                                          example: 423
                                        httpVersion:
                                          type: string
                                          example: http/1.1
                                        redirectURL:
                                          type: string
                                        status:
                                          type: number
                                          example: 200
                                        statusText:
                                          type: string
                                          example: OK
                                      required:
                                      - httpVersion
                                      - redirectURL
                                      - status
                                      - statusText
                                      - content
                                      - headersSize
                                      - bodySize
                                      - headers
                                      - _transferSize
                                    serverIPAddress:
                                      type: string
                                      example: 2606:2800:220:1:248:1893:25c8:1946
                                    startedDateTime:
                                      type: string
                                      example: '2023-05-03T17:05:13.196Z'
                                    time:
                                      type: number
                                      example: 268.64
                                  required:
                                  - cache
                                  - startedDateTime
                                  - _requestId
                                  - _initialPriority
                                  - _priority
                                  - pageref
                                  - request
                                  - time
                                  - _initiator_type
                                  - _resourceType
                                  - response
                                  - connection
                                  - serverIPAddress
                                  - _requestTime
                                  type: object
                              pages:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      example: page_1
                                    pageTimings:
                                      type: object
                                      properties:
                                        onContentLoad:
                                          type: number
                                          example: 305.408
                                        onLoad:
                                          type: number
                                          example: 305.169
                                      required:
                                      - onLoad
                                      - onContentLoad
                                    startedDateTime:
                                      type: string
                                      example: '2023-05-03T17:05:13.195Z'
                                    title:
                                      type: string
                                      example: http://example.com/
                                  required:
                                  - id
                                  - startedDateTime
                                  - title
                                  - pageTimings
                                  type: object
                              version:
                                type: string
                                example: '1.2'
                            required:
                            - version
                            - creator
                            - pages
                            - entries
                        required:
                        - log
                    required:
                    - har
                  success:
                    description: Whether search request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
                - result
        '202':
          description: 'Scan is in progress. Check current status in `result.scan.task.status`. Possible statuses: `Queued`,`InProgress`,`InPostProcessing`,`Finished`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: In Progress
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      scan:
                        type: object
                        properties:
                          task:
                            type: object
                            properties:
                              effectiveUrl:
                                type: string
                                example: http://example.com/
                              errors:
                                type: array
                                items:
                                  properties:
                                    message:
                                      type: string
                                  required:
                                  - message
                                  type: object
                              location:
                                type: string
                                example: PT
                              region:
                                type: string
                                example: enam
                              status:
                                type: string
                                example: InProgress
                              success:
                                type: boolean
                                example: true
                              time:
                                type: string
                                example: '2023-05-03T17:05:04.843Z'
                              url:
                                type: string
                                example: http://example.com
                              uuid:
                                type: string
                                example: 2ee568d0-bf70-4827-b922-b7088c0f056f
                              visibility:
                                type: string
                                example: Public
                            required:
                            - uuid
                            - url
                            - status
                            - success
                            - errors
                            - time
                            - visibility
                            - location
                            - region
                            - effectiveUrl
                        required:
                        - task
                    required:
                    - scan
                  success:
                    description: Whether request was successful or not
                    type: boolean
                required:
                - messages
                - errors
                - success
                - result
        '400':
          description: Invalid params.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Scan ID is not a valid UUID.
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
[...]
