openapi: 3.1.0
info:
  title: Cloudflare AI Gateway API
  description: >-
    Cloudflare AI Gateway provides visibility and control over AI applications
    with analytics, logging, caching, rate limiting, request retries, and model
    fallback. It supports multiple AI providers including OpenAI, Anthropic,
    and Google Gemini through a unified interface. The API allows developers to
    create and manage gateways, configure providers, and access logs and
    analytics.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
externalDocs:
  description: Cloudflare AI Gateway Documentation
  url: https://developers.cloudflare.com/ai-gateway/
servers:
  - url: https://api.cloudflare.com/client/v4
    description: Cloudflare API v4 Production Server
tags:
  - name: Gateways
    description: >-
      Create, list, update, and delete AI Gateway instances.
  - name: Logs
    description: >-
      Access request logs and analytics for AI Gateway traffic.
security:
  - bearerAuth: []
paths:
  /accounts/{account_id}/ai-gateway/gateways:
    get:
      operationId: listAiGateways
      summary: List AI Gateways
      description: >-
        Returns all AI Gateway instances for the account.
      tags:
        - Gateways
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of AI Gateway instances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayListResponse'
        '401':
          description: Unauthorized.
    post:
      operationId: createAiGateway
      summary: Create AI Gateway
      description: >-
        Create a new AI Gateway instance with the specified configuration
        for caching, rate limiting, and provider settings.
      tags:
        - Gateways
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayInput'
      responses:
        '200':
          description: Gateway created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/ai-gateway/gateways/{gateway_id}:
    get:
      operationId: getAiGateway
      summary: Get AI Gateway
      description: >-
        Retrieve details of a specific AI Gateway instance.
      tags:
        - Gateways
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/GatewayId'
      responses:
        '200':
          description: Gateway details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Gateway not found.
    put:
      operationId: updateAiGateway
      summary: Update AI Gateway
      description: >-
        Update the configuration of an AI Gateway instance.
      tags:
        - Gateways
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/GatewayId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayInput'
      responses:
        '200':
          description: Gateway updated successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Gateway not found.
    delete:
      operationId: deleteAiGateway
      summary: Delete AI Gateway
      description: >-
        Delete an AI Gateway instance.
      tags:
        - Gateways
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/GatewayId'
      responses:
        '200':
          description: Gateway deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Gateway not found.
  /accounts/{account_id}/ai-gateway/gateways/{gateway_id}/logs:
    get:
      operationId: listAiGatewayLogs
      summary: List AI Gateway logs
      description: >-
        Retrieve request logs for an AI Gateway instance with filtering
        and pagination support.
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/GatewayId'
        - name: page
          in: query
          description: Page number for pagination.
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of log entries per page.
          schema:
            type: integer
        - name: search
          in: query
          description: Search query to filter logs.
          schema:
            type: string
      responses:
        '200':
          description: List of gateway logs.
        '401':
          description: Unauthorized.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API token with AI Gateway permissions.
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    GatewayId:
      name: gateway_id
      in: path
      required: true
      description: The unique identifier of the AI Gateway.
      schema:
        type: string
  schemas:
    Gateway:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the gateway.
        name:
          type: string
          description: The name of the gateway.
        slug:
          type: string
          description: URL-friendly slug for the gateway.
        cache_enabled:
          type: boolean
          description: Whether response caching is enabled.
        cache_ttl:
          type: integer
          description: Cache time-to-live in seconds.
        rate_limiting_enabled:
          type: boolean
          description: Whether rate limiting is enabled.
        rate_limiting_limit:
          type: integer
          description: Maximum requests per rate limiting interval.
        rate_limiting_interval:
          type: integer
          description: Rate limiting interval in seconds.
        log_enabled:
          type: boolean
          description: Whether logging is enabled.
        created_at:
          type: string
          format: date-time
          description: When the gateway was created.
        modified_at:
          type: string
          format: date-time
          description: When the gateway was last modified.
    GatewayInput:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the gateway.
        cache_enabled:
          type: boolean
          description: Enable response caching.
        cache_ttl:
          type: integer
          description: Cache TTL in seconds.
        rate_limiting_enabled:
          type: boolean
          description: Enable rate limiting.
        rate_limiting_limit:
          type: integer
          description: Rate limit threshold.
        rate_limiting_interval:
          type: integer
          description: Rate limiting interval in seconds.
        log_enabled:
          type: boolean
          description: Enable request logging.
    GatewayResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/Gateway'
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
        messages:
          type: array
          items:
            type: object
    GatewayListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/Gateway'
        success:
          type: boolean
