openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Rules API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Rules
paths:
  /accounts/{account_id}/cloudforce-one/rules:
    delete:
      operationId: cloudforce-one-delete-all-rules
      summary: Delete all rules
      description: Delete all rules in an account.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      responses:
        '200':
          description: All rules deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_DeleteAllResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '409':
          description: Bulk delete blocked because email rules require individual approval.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules
      x-fern-sdk-method-name: deleteAll
    get:
      operationId: cloudforce-one-list-rules
      summary: List rules
      description: Returns all rules for an account with optional filtering.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: namespace
        in: query
        description: Selects namespaces. Repeat the parameter to select multiple namespaces (for example, namespace=foo&namespace=bar).
        schema:
          description: Selects namespaces. Repeat the parameter to select multiple namespaces (for example, namespace=foo&namespace=bar).
          example:
          - yara/workers
          - yara/dns_record
          anyOf:
          - type: string
          - items:
              type: string
            maxItems: 50
            type: array
      - name: path
        in: query
        description: Selects paths with exact-match semantics. Omit the parameter to return rules from all paths. Pass an empty string (path=) to return only rules with an empty or uncategorized path. Pass a value (for example, path=yara) to match that exact path. Repeat the parameter (for example, path=yara&path=expr) to OR-match multiple paths with SQL `IN (...)` semantics. The `recursive` flag affects only customer-account namespace selection.
        schema:
          description: Selects paths with exact-match semantics. Omit the parameter to return rules from all paths. Pass an empty string (path=) to return only rules with an empty or uncategorized path. Pass a value (for example, path=yara) to match that exact path. Repeat the parameter (for example, path=yara&path=expr) to OR-match multiple paths with SQL `IN (...)` semantics. The `recursive` flag affects only customer-account namespace selection.
          example:
          - yara/workers
          anyOf:
          - type: string
          - items:
              type: string
            maxItems: 50
            type: array
      - name: recursive
        in: query
        description: For customer accounts, true enables descendant matching for namespaces. Paths always use exact matching.
        schema:
          description: For customer accounts, true enables descendant matching for namespaces. Paths always use exact matching.
          type: string
          example: 'true'
          enum:
          - 'true'
          - 'false'
      - name: search
        in: query
        schema:
          type: string
          example: malicious
      - name: is_public
        in: query
        description: Limits rules to the specified public visibility.
        schema:
          description: Limits rules to the specified public visibility.
          type: string
          example: 'true'
          enum:
          - 'true'
          - 'false'
      - name: limit
        in: query
        schema:
          type: number
          example: 50
          default: 50
          maximum: 100
          minimum: 1
      - name: offset
        in: query
        schema:
          type:
          - number
          - 'null'
          example: 0
          default: 0
          minimum: 0
      responses:
        '200':
          description: List of rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_RulesPreviewListResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules
      x-fern-sdk-method-name: list
    post:
      operationId: cloudforce-one-create-rule
      summary: Create a rule
      description: Create a new detection rule.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudforce-one_CreateRule'
      responses:
        '201':
          description: Rule created (non-email customer accounts, or silent warning-free customer email rules).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_Rule'
        '202':
          description: Rule pending approval (internal accounts, blocking customer email rules, and customer email rules with compiler warnings).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalPendingResponse'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules
      x-fern-sdk-method-name: create
  /accounts/{account_id}/cloudforce-one/rules/exemptions:
    delete:
      operationId: cloudforce-one-remove-account-exemptions
      summary: Remove patterns from exemption rules
      description: Remove regex patterns from per-account exemption rules. Missing keys leave that type untouched; non-existent patterns are silently skipped.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudforce-one_PartialAccountExemptions'
      responses:
        '200':
          description: Full exemption state after the subtraction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_AccountExemptions'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.exemptions
      x-fern-sdk-method-name: delete
    get:
      operationId: cloudforce-one-get-exemptions
      summary: Get exemption rules for an account
      description: Get all exemption rule patterns for the account, grouped by type.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      responses:
        '200':
          description: Exemption rules grouped by type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_AccountExemptions'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.exemptions
      x-fern-sdk-method-name: get
    post:
      operationId: cloudforce-one-add-account-exemptions
      summary: Add patterns to exemption rules
      description: Add regex patterns to per-account exemption rules (union semantics). Missing keys leave that type untouched; duplicates are silently deduped.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudforce-one_PartialAccountExemptions'
      responses:
        '200':
          description: Full exemption state after the union.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_AccountExemptions'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.exemptions
      x-fern-sdk-method-name: create
    put:
      operationId: cloudforce-one-update-account-exemptions
      summary: Update exemption rule patterns
      description: Replace existing exemption patterns with new values. Each key maps to an array of {old_pattern, new_pattern} entries. Missing keys leave that type untouched. Fails if any old pattern is not found or any new pattern already exists.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudforce-one_UpdateAccountExemptionsBody'
      responses:
        '200':
          description: Full exemption state after the updates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_AccountExemptions'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Pattern not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '409':
          description: New pattern already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.exemptions
      x-fern-sdk-method-name: update
  /accounts/{account_id}/cloudforce-one/rules/managed:
    get:
      operationId: cloudforce-one-get-managed-rules
      summary: Get managed rules
      description: Get DFP managed rule metadata (name and description) from YARA rules.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      responses:
        '200':
          description: Managed rules metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      fetched_at:
                        type: string
                      total_rules:
                        type: number
                    required:
                    - total_rules
                    - fetched_at
                  rules:
                    type: array
                    items:
                      properties:
                        description:
                          type: string
                        name:
                          type: string
                      required:
                      - name
                      - description
                      type: object
                required:
                - rules
                - metadata
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.managed
      x-fern-sdk-method-name: get
  /accounts/{account_id}/cloudforce-one/rules/search:
    get:
      operationId: cloudforce-one-search-rules
      summary: Search rules
      description: Search rules using hybrid, vector, keyword, or exact retrieval, backed by AI Search with a SQL fallback.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: namespace
        in: query
        description: Selects namespaces. Repeat the parameter to select multiple namespaces (for example, namespace=foo&namespace=bar).
        schema:
          description: Selects namespaces. Repeat the parameter to select multiple namespaces (for example, namespace=foo&namespace=bar).
          example:
          - yara/workers
          - yara/dns_record
          anyOf:
          - type: string
          - items:
              type: string
            maxItems: 50
            type: array
      - name: path
        in: query
        description: Selects paths with exact-match semantics. Omit the parameter to return rules from all paths. Pass an empty string (path=) to return only rules with an empty or uncategorized path. Pass a value (for example, path=yara) to match that exact path. Repeat the parameter (for example, path=yara&path=expr) to OR-match multiple paths with SQL `IN (...)` semantics. The `recursive` flag affects only customer-account namespace selection.
        schema:
          description: Selects paths with exact-match semantics. Omit the parameter to return rules from all paths. Pass an empty string (path=) to return only rules with an empty or uncategorized path. Pass a value (for example, path=yara) to match that exact path. Repeat the parameter (for example, path=yara&path=expr) to OR-match multiple paths with SQL `IN (...)` semantics. The `recursive` flag affects only customer-account namespace selection.
          example:
          - yara/workers
          anyOf:
          - type: string
          - items:
              type: string
            maxItems: 50
            type: array
      - name: recursive
        in: query
        description: For customer accounts, true enables descendant matching for namespaces. Paths always use exact matching.
        schema:
          description: For customer accounts, true enables descendant matching for namespaces. Paths always use exact matching.
          type: string
          example: 'true'
          enum:
          - 'true'
          - 'false'
      - name: search
        in: query
        schema:
          type: string
          example: malicious
      - name: is_public
        in: query
        description: Limits rules to the specified public visibility.
        schema:
          description: Limits rules to the specified public visibility.
          type: string
          example: 'true'
          enum:
          - 'true'
          - 'false'
      - name: limit
        in: query
        schema:
          type: number
          example: 50
          default: 50
          maximum: 100
          minimum: 1
      - name: offset
        in: query
        schema:
          type:
          - number
          - 'null'
          example: 0
          default: 0
          minimum: 0
      - name: query
        in: query
        description: Natural-language or keyword search query.
        required: true
        schema:
          description: Natural-language or keyword search query.
          type: string
          example: obfuscated proxy worker
          maxLength: 500
          minLength: 1
      - name: mode
        in: query
        description: Retrieval strategy used for the query.
        schema:
          description: Retrieval strategy used for the query.
          type: string
          example: hybrid
          default: hybrid
          enum:
          - exact
          - hybrid
          - vector
          - keyword
        x-fern-parameter-name: search-mode
      - name: language
        in: query
        description: Limits results to the specified rule language.
        schema:
          description: Limits results to the specified rule language.
          type: string
          example: yara
          enum:
          - yara
          - js
      responses:
        '200':
          description: Hybrid and semantic rule search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_RulesSearchResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '503':
          description: AI Search unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules
      x-fern-sdk-method-name: search
  /accounts/{account_id}/cloudforce-one/rules/stats:
    get:
      operationId: cloudforce-one-get-rule-stats
      summary: Get dashboard stats
      description: Get statistics about rules for the dashboard.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      responses:
        '200':
          description: Dashboard statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_StatsResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.stats
      x-fern-sdk-method-name: get
  /accounts/{account_id}/cloudforce-one/rules/structured:
    get:
      operationId: cloudforce-one-list-email-rules
      summary: List email rules
      description: Returns structured email rules.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: limit
        in: query
        schema:
          type: number
          default: 50
          maximum: 100
          minimum: 1
      - name: offset
        in: query
        schema:
          type:
          - number
          - 'null'
          default: 0
          minimum: 0
      - name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_EmailRulesListResponse'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email
      x-fern-sdk-method-name: list
    post:
      operationId: cloudforce-one-create-email-rule
      summary: Create an email rule
      description: Create a structured email rule.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                condition:
                  $ref: '#/components/schemas/cloudforce-one_EmailRuleConditionGroup'
                description:
                  type: string
                  maxLength: 1000
                enabled:
                  type: boolean
                  default: true
                meta:
                  type: array
                  items:
                    $ref: '#/components/schemas/cloudforce-one_MetaInputEntry'
                  maxItems: 50
                name:
                  type: string
                  maxLength: 255
                  minLength: 1
                status:
                  description: Disposition for matching email. This emits status metadata with the selected value.
                  type: string
                  default: silent
                  enum:
                  - silent
                  - blocking
                strings:
                  type: array
                  items:
                    properties:
                      identifier:
                        type: string
                        maxLength: 128
                        minLength: 1
                        pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
                      match_type:
                        type: string
                        default: text
                        enum:
                        - text
                        - hex
                        - regex
                      modifiers:
                        type: array
                        items:
                          enum:
                          - nocase
                          - wide
                          - ascii
                          - fullword
                          type: string
                        default: []
                      type:
                        type: string
                        enum:
                        - string_match
                      value:
                        type: string
                        maxLength: 10000
                        minLength: 1
                    required:
                    - type
                    - identifier
                    - value
                    type: object
                  default: []
                  maxItems: 50
              required:
              - name
              - condition
      responses:
        '201':
          description: Email rule created immediately when submitted by a customer with silent status and no compiler warnings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_RulePreview'
        '202':
          description: Rule pending approval (internal accounts, blocking customer rules, and customer rules with compiler warnings).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalPendingResponse'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email
      x-fern-sdk-method-name: create
  /accounts/{account_id}/cloudforce-one/rules/structured/approvals/{id}:
    put:
      operationId: cloudforce-one-update-pending-email-rule-approval
      summary: Update a pending structured email rule approval
      description: Validate, compile, and replace the proposed structured email rule on a pending approval. Only the original requester may update it.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the approval.
        required: true
        schema:
          description: The unique identifier for the approval.
          type: string
          example: '1'
      - name: module
        in: query
        description: Structured rule module.
        schema:
          description: Structured rule module.
          type: string
          example: eml
          default: eml
          enum:
          - eml
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                condition:
                  $ref: '#/components/schemas/cloudforce-one_EmailRuleConditionGroup'
                description:
                  type: string
                  maxLength: 1000
                enabled:
                  type: boolean
                  default: true
                meta:
                  type: array
                  items:
                    $ref: '#/components/schemas/cloudforce-one_MetaInputEntry'
                  maxItems: 50
                name:
                  type: string
                  maxLength: 255
                  minLength: 1
                status:
                  description: Disposition for matching email. This emits status metadata with the selected value.
                  type: string
                  default: silent
                  enum:
                  - silent
                  - blocking
                strings:
                  type: array
                  items:
                    properties:
                      identifier:
                        type: string
                        maxLength: 128
                        minLength: 1
                        pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
                      match_type:
                        type: string
                        default: text
                        enum:
                        - text
                        - hex
                        - regex
                      modifiers:
                        type: array
                        items:
                          enum:
                          - nocase
                          - wide
                          - ascii
                          - fullword
                          type: string
                        default: []
                      type:
                        type: string
                        enum:
                        - string_match
                      value:
                        type: string
                        maxLength: 10000
                        minLength: 1
                    required:
                    - type
                    - identifier
                    - value
                    type: object
                  default: []
                  maxItems: 50
              required:
              - name
              - condition
      responses:
        '200':
          description: Pending approval updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_EditApprovalResponse'
        '400':
          description: Structured rule validation or compilation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '403':
          description: Not authorized to update this approval.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Approval not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '409':
          description: Approval is not pending or is not a structured EML rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email
      x-fern-sdk-method-name: updatePendingApproval
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/rules/structured/approvals/{id}/resubmit:
    post:
      operationId: cloudforce-one-resubmit-email-rule-approval
      summary: Revise and resubmit a rejected structured email rule approval
      description: Validates and compiles a complete structured email rule, then creates an immutable pending revision of its rejected approval.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the approval.
        required: true
        schema:
          description: The unique identifier for the approval.
          type: string
          example: '1'
      - name: module
        in: query
        description: Structured rule module.
        schema:
          description: Structured rule module.
          type: string
          example: eml
          default: eml
          enum:
          - eml
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                condition:
                  $ref: '#/components/schemas/cloudforce-one_EmailRuleConditionGroup'
                description:
                  type: string
                  maxLength: 1000
                enabled:
                  type: boolean
                  default: true
                meta:
                  type: array
                  items:
                    $ref: '#/components/schemas/cloudforce-one_MetaInputEntry'
                  maxItems: 50
                name:
                  type: string
                  maxLength: 255
                  minLength: 1
                status:
                  description: Disposition for matching email. This emits status metadata with the selected value.
                  type: string
                  default: silent
                  enum:
                  - silent
                  - blocking
                strings:
                  type: array
                  items:
                    properties:
                      identifier:
                        type: string
                        maxLength: 128
                        minLength: 1
                        pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
                      match_type:
                        type: string
                        default: text
                        enum:
                        - text
                        - hex
                        - regex
                      modifiers:
                        type: array
                        items:
                          enum:
                          - nocase
                          - wide
                          - ascii
                          - fullword
                          type: string
                        default: []
                      type:
                        type: string
                        enum:
                        - string_match
                      value:
                        type: string
                        maxLength: 10000
                        minLength: 1
                    required:
                    - type
                    - identifier
                    - value
                    type: object
                  default: []
                  maxItems: 50
              required:
              - name
              - condition
      responses:
        '202':
          description: New approval revision submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ResubmitApprovalResponse'
        '400':
          description: Structured rule validation or compilation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '403':
          description: Not authorized to resubmit this approval.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Approval or underlying rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '409':
          description: Approval is not rejected or was already superseded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email.approvals
      x-fern-sdk-method-name: resubmit
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/rules/structured/schema:
    get:
      operationId: cloudforce-one-get-email-rule-schema
      summary: Get email rule schema
      description: Get the field catalog for structured email rules.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      responses:
        '200':
          description: Email rule field catalog.
          content:
            application/json:
              schema:
                type: object
                properties:
                  arrays:
                    type: array
                    items:
                      properties:
                        counter:
                          type: string
                        fields:
                          type: array
                          items:
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                                enum:
                                - string
                                - integer
                                - float
                                - boolean
                            required:
                            - name
                            - type
                            type: object
                        path:
                          type: string
                      required:
                      - path
                      - counter
                      - fields
                      type: object
                  headers:
                    type: object
                    properties:
                      fields:
                        type: array
                        items:
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                              enum:
                              - string
                              - integer
                              - float
                              - boolean
                          required:
                          - name
                          - type
                          type: object
                      path:
                        type: string
                    required:
                    - path
                    - fields
                  operators:
                    type: object
                    properties:
                      boolean:
                        type: array
                        items:
                          type: string
                      float:
                        type: array
                        items:
                          type: string
                      integer:
                        type: array
                        items:
                          type: string
                      string:
                        type: array
                        items:
                          type: string
                    required:
                    - string
                    - integer
                    - float
                    - boolean
                  scalars:
                    type: array
                    items:
                      properties:
                        path:
                          type: string
                        type:
                          type: string
                          enum:
                          - string
                          - integer
                          - float
                          - boolean
                      required:
                      - path
                      - type
                      type: object
                  string_arrays:
                    type: array
                    items:
                      properties:
                        counter:
                          type: string
                        path:
                          type: string
                      required:
                      - path
                      - counter
                      type: object
                  structs:
                    type: array
                    items:
                      properties:
                        fields:
                          type: array
                          items:
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                                enum:
                                - string
                                - integer
                                - float
                                - boolean
                            required:
                            - name
                            - type
                            type: object
                        path:
                          type: string
                      required:
                      - path
                      - fields
                      type: object
                required:
                - scalars
                - structs
                - arrays
                - string_arrays
                - headers
                - operators
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email.schema
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/rules/structured/validate:
    post:
      operationId: cloudforce-one-validate-email-rule
      summary: Validate an email rule
      description: Validates structured email rule syntax and metadata.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                condition:
                  $ref: '#/components/schemas/cloudforce-one_EmailRuleConditionGroup'
                description:
                  type: string
                  maxLength: 1000
                enabled:
                  type: boolean
                  default: true
                existing_rule_id:
                  description: Existing rule ID to exclude from duplicate-name checks when validating an update.
                  type: string
                  format: uuid
                  example: 550e8400-e29b-41d4-a716-446655440000
                meta:
                  type: array
                  items:
                    $ref: '#/components/schemas/cloudforce-one_MetaInputEntry'
                  maxItems: 50
                name:
                  type: string
                  maxLength: 255
                  minLength: 1
                status:
                  description: Disposition for matching email. This emits status metadata with the selected value.
                  type: string
                  default: silent
                  enum:
                  - silent
                  - blocking
                strings:
                  type: array
                  items:
                    properties:
                      identifier:
                        type: string
                        maxLength: 128
                        minLength: 1
                        pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
                      match_type:
                        type: string
                        default: text
                        enum:
                        - text
                        - hex
                        - regex
                      modifiers:
                        type: array
                        items:
                          enum:
                          - nocase
                          - wide
                          - ascii
                          - fullword
                          type: string
                        default: []
                      type:
                        type: string
                        enum:
                        - string_match
                      value:
                        type: string
                        maxLength: 10000
                        minLength: 1
                    required:
                    - type
                    - identifier
                    - value
                    type: object
                  default: []
                  maxItems: 50
              required:
              - name
              - condition
      responses:
        '200':
          description: Validation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_EmailRuleValidationResponse'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email
      x-fern-sdk-method-name: validate
  /accounts/{account_id}/cloudforce-one/rules/structured/{id}:
    delete:
      operationId: cloudforce-one-delete-email-rule
      summary: Delete an email rule
      description: Delete an existing structured email rule.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the rule.
        required: true
        schema:
          description: The unique identifier for the rule.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Email rule deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_SuccessResponse'
        '202':
          description: Deletion pending approval (internal accounts and customer email rules).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalPendingResponse'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '409':
          description: Another approval is already pending for this rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalConflictResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email
      x-fern-sdk-method-name: delete
    get:
      operationId: cloudforce-one-get-email-rule
      summary: Get an email rule
      description: Get a structured email rule by ID.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the rule.
        required: true
        schema:
          description: The unique identifier for the rule.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Rule details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_RulePreview'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email
      x-fern-sdk-method-name: get
    put:
      operationId: cloudforce-one-update-email-rule
      summary: Update an email rule
      description: Updates an existing structured email rule.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the rule.
        required: true
        schema:
          description: The unique identifier for the rule.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                condition:
                  $ref: '#/components/schemas/cloudforce-one_EmailRuleConditionGroup'
                description:
                  type: string
                  maxLength: 1000
                enabled:
                  type: boolean
                meta:
                  type: array
                  items:
                    $ref: '#/components/schemas/cloudforce-one_MetaInputEntry'
                  maxItems: 50
                name:
                  type: string
                  maxLength: 255
                  minLength: 1
                status:
                  description: Disposition for matching email. This emits status metadata with the selected value.
                  type: string
                  enum:
                  - silent
                  - blocking
                strings:
                  type: array
                  items:
                    properties:
                      identifier:
                        type: string
                        maxLength: 128
                        minLength: 1
                        pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
                      match_type:
                        type: string
                        default: text
                        enum:
                        - text
                        - hex
                        - regex
                      modifiers:
                        type: array
                        items:
                          enum:
                          - nocase
                          - wide
                          - ascii
                          - fullword
                          type: string
                        default: []
                      type:
                        type: string
                        enum:
                        - string_match
                      value:
                        type: string
                        maxLength: 10000
                        minLength: 1
                    required:
                    - type
                    - identifier
                    - value
                    type: object
                  maxItems: 50
      responses:
        '200':
          description: Rule updated immediately when submitted by a customer with silent status and no compiler warnings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_RulePreview'
        '202':
          description: Update pending approval (internal accounts, blocking customer rules, and customer rules with compiler warnings).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalPendingResponse'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '409':
          description: Another approval is already pending for this rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalConflictResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email
      x-fern-sdk-method-name: update
  /accounts/{account_id}/cloudforce-one/rules/structured/{id}/test:
    post:
      operationId: cloudforce-one-test-email-rule
      summary: Test an email rule
      description: Test a structured email rule against sample email JSON.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the rule.
        required: true
        schema:
          description: The unique identifier for the rule.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sample_json:
                  type: string
                  maxLength: 16777216
                  minLength: 1
              required:
              - sample_json
      responses:
        '200':
          description: Test result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  matched:
                    type: boolean
                  rules:
                    type: array
                    items:
                      type: string
                required:
                - matched
                - rules
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.email
      x-fern-sdk-method-name: test
  /accounts/{account_id}/cloudforce-one/rules/tree:
    get:
      operationId: cloudforce-one-get-rule-tree
      summary: Get folder tree structure
      description: Get the folder tree structure for rules navigation.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      responses:
        '200':
          description: Folder tree structure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_TreeResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules.tree
      x-fern-sdk-method-name: get
  /accounts/{account_id}/cloudforce-one/rules/validate:
    post:
      operationId: cloudforce-one-validate-rule
      summary: Validate rule with context
      description: Validates rule syntax, name uniqueness, namespace, and metadata.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  minLength: 1
                  type: string
                excludeRuleId:
                  type: string
                  format: uuid
                name:
                  type: string
                  maxLength: 255
                  minLength: 1
                namespaces:
                  type: array
                  items:
                    maxLength: 255
                    minLength: 1
                    type: string
                  default: []
                path:
                  type: string
                  minLength: 1
              required:
              - name
              - content
      responses:
        '200':
          description: Validation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ValidationResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules
      x-fern-sdk-method-name: validate
  /accounts/{account_id}/cloudforce-one/rules/{id}:
    delete:
      operationId: cloudforce-one-delete-rule
      summary: Delete a rule
      description: Delete an existing rule.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the rule.
        required: true
        schema:
          description: The unique identifier for the rule.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudforce-one_DeleteRuleBody'
      responses:
        '200':
          description: Rule deleted (non-email customer accounts).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_SuccessResponse'
        '202':
          description: Deletion pending approval (internal accounts and customer email rules).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalPendingResponse'
        '400':
          description: Validation error (e.g. commit_message exceeds max length).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '409':
          description: Another approval is already pending for this rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalConflictResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules
      x-fern-sdk-method-name: delete
    get:
      operationId: cloudforce-one-get-rule
      summary: Get a rule
      description: Get a single rule by ID.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the rule.
        required: true
        schema:
          description: The unique identifier for the rule.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Rule details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_RulePreview'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules
      x-fern-sdk-method-name: get
    put:
      operationId: cloudforce-one-update-rule
      summary: Update a rule
      description: Updates an existing rule.
      parameters:
      - $ref: '#/components/parameters/cloudforce-one_account_id'
      - name: id
        in: path
        description: The unique identifier for the rule.
        required: true
        schema:
          description: The unique identifier for the rule.
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudforce-one_UpdateRule'
      responses:
        '200':
          description: Rule updated (non-email customer accounts, or silent warning-free customer email rules).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_RulePreview'
        '202':
          description: Update pending approval (internal accounts, blocking customer email rules, and customer email rules with compiler warnings).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalPendingResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '404':
          description: Rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ErrorResponse'
        '409':
          description: Another approval is already pending for this rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudforce-one_ApprovalConflictResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Rules
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.rules
      x-fern-sdk-method-name: update
components:
  schemas:
    cloudforce-one_RuleMetaEntry:
      type: object
      properties:
        key:
          type: string
        type:
          type: string
          enum:
          - string
          - bool
          - int
        value:
          anyOf:
          - type: string
          - type: boolean
          - type: number
      required:
      - key
      - value
      - type
    cloudforce-one_UpdateAccountExemptionsBody:
      type: object
      properties:
        namespace:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_ExemptionUpdateEntry'
        tag_match:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_ExemptionUpdateEntry'
        worker_name:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_ExemptionUpdateEntry'
      additionalProperties: false
    cloudforce-one_PendingApproval:
      type: object
      properties:
        audit_log_id:
          type: number
          example: 1
        can_review:
          description: Whether the authenticated user may approve or reject this pending change.
          type: boolean
          example: true
        cancelled_at:
          description: Time at which the requester cancelled the approval.
          type:
          - number
          - 'null'
          example: 1679529600000
          x-auditable: true
        cancelled_by:
          description: Requester who cancelled the pending approval.
          type:
          - string
          - 'null'
          example: requester@example.com
          x-auditable: true
        change_description:
          type: string
          example: Updated rule content
        change_type:
          type: string
          example: create
          enum:
          - create
          - update
          - delete
          - unresolved
        commit_message:
          description: The requester supplies this human-readable justification with the change. Internal-account mutations require it; customer accounts and sync-originated changes may omit it.
          type:
          - string
          - 'null'
          example: Tighten regex to reduce false positives on legit CI workers.
        id:
          type: number
          example: 12345
          x-auditable: true
        proposed_changes:
          $ref: '#/components/schemas/cloudforce-one_ApprovalProposedChanges'
        rejection_reason:
          description: The reviewer may supply a reason when rejecting the change.
          type:
          - string
          - 'null'
          example: Narrow the hostname match to avoid false positives.
          x-auditable: true
        requested_at:
          type: number
          example: 1679529600000
          x-auditable: true
        requested_by:
          type: string
          example: user@example.com
          x-auditable: true
        reviewed_at:
          type:
          - number
          - 'null'
          example: 1679529600000
          x-auditable: true
        reviewed_by:
          type:
          - string
          - 'null'
          example: approver@example.com
          x-auditable: true
        reviewer_scope:
          description: 'Review policy: general Nomos approvers for default; general approvers or Phishguard for email.'
          type: string
          example: email
          enum:
          - default
          - email
          - unresolved
        revision_number:
          description: Revision number within this approval request chain.
          type: integer
          example: 2
          exclusiveMinimum: 0
        rule_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
          x-auditable: true
        rule_name:
          type: string
          example: suspicious_email.yar
        source_account_id:
          description: Customer account that owns this approval when returned by the aggregated email queue.
          type: integer
          example: 12345678
          exclusiveMinimum: 0
        status:
          type: string
          example: pending
          enum:
          - pending
          - approved
          - rejected
          - cancelled
        superseded_by_approval_id:
          description: Newer approval revision that replaced this approval.
          type:
          - number
          - 'null'
          example: 12346
        supersedes_approval_id:
          description: This approval replaces the referenced approval revision.
          type:
          - number
          - 'null'
          example: 12344
      required:
      - id
      - rule_id
      - rule_name
      - audit_log_id
      - requested_by
      - requested_at
      - change_description
      - change_type
      - proposed_changes
      - status
      - reviewed_by
      - reviewed_at
      - rejection_reason
      - cancelled_by
      - cancelled_at
      - supersedes_approval_id
      - superseded_by_approval_id
      - revision_number
      - commit_message
      - reviewer_scope
      - can_review
    cloudforce-one_MetaInputEntry:
      description: A YARA meta entry. The server resolves its value type. The 'detection' key accepts MALICIOUS, SUSPICIOUS, SPAM, or SPOOF.
      type: object
      properties:
        key:
          type: string
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
        value:
          anyOf:
          - maxLength: 10000
            type: string
          - type: number
          - type: boolean
      required:
      - key
      - value
    cloudforce-one_PartialAccountExemptions:
      type: object
      properties:
        namespace:
          type: array
          items:
            example: ^test-.*$
            minLength: 1
            type: string
        tag_match:
          type: array
          items:
            example: ^test-.*$
            minLength: 1
            type: string
        worker_name:
          type: array
          items:
            example: ^test-.*$
            minLength: 1
            type: string
      additionalProperties: false
    cloudforce-one_ApprovalConflictResponse:
      type: object
      properties:
        approval_id:
          type: number
          example: 12345
        code:
          type: string
          example: approval_pending
          enum:
          - approval_pending
        error:
          type: string
          example: An approval is already pending for this rule.
      required:
      - error
      - code
      - approval_id
    cloudforce-one_UpdateRule:
      type: object
      properties:
        commit_message:
          description: Human-readable justification for this change. Required for internal-account submissions; optional for customer accounts and automated sync.
          type: string
          example: Reduce false positives on legit CI workers.
          maxLength: 1000
        content:
          example: 'rule example { condition: true }'
          minLength: 1
          type: string
        description:
          description: Human-readable description of the rule. Auto-extracted from YARA meta if present.
          type: string
          example: Detects malicious proxy workers
          maxLength: 1000
        enabled:
          description: Whether this rule is active for dice consumers.
          type: boolean
          example: true
        is_public:
          description: Whether this rule is visible to other internal accounts.
          type: boolean
          example: false
          x-auditable: true
        meta:
          description: Adds YARA meta entries to the rule's meta block and stores them in rule_meta alongside content metadata. Use valid YARA identifiers for keys; exclude 'name', 'enabled', and 'description'. You may repeat keys.
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_MetaInputEntry'
          maxItems: 50
        name:
          type: string
          example: block-malicious-workers
          maxLength: 255
          minLength: 1
          x-auditable: true
        namespaces:
          type: array
          items:
            maxLength: 255
            minLength: 1
            type: string
          example:
          - yara/workers
          x-auditable: true
        path:
          description: Path change goes through approval workflow.
          type: string
          example: yara/workers
          minLength: 1
          x-auditable: true
    cloudforce-one_EditApprovalResponse:
      type: object
      properties:
        approval:
          allOf:
          - $ref: '#/components/schemas/cloudforce-one_PendingApproval'
          - properties:
              current_rule:
                anyOf:
                - $ref: '#/components/schemas/cloudforce-one_RulePreview'
            type: object
      required:
      - approval
    cloudforce-one_DeleteRuleBody:
      type: object
      properties:
        commit_message:
          description: Human-readable justification for the deletion. Required for internal-account submissions; optional for customer accounts and automated sync.
          type: string
          example: Rule superseded by yara/workers/tighter-panel.yar.
          maxLength: 1000
    cloudforce-one_CreateRule:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_RuleAction'
        commit_message:
          description: Human-readable justification for this change. Required for internal-account submissions; optional for customer accounts and automated sync.
          type: string
          example: Add worker rule to catch bpb-panel variants.
          maxLength: 1000
        content:
          example: 'rule example { condition: true }'
          minLength: 1
          type: string
        description:
          description: Human-readable description of the rule. Auto-extracted from YARA meta if present.
          type: string
          example: Detects malicious proxy workers
          maxLength: 1000
        enabled:
          description: Whether this rule is active for dice consumers.
          type: boolean
          example: true
          default: true
        is_public:
          description: Whether this rule is visible to other internal accounts.
          type: boolean
          example: false
          default: false
          x-auditable: true
        meta:
          description: Adds YARA meta entries to the rule's meta block and stores them in rule_meta alongside content metadata. Use valid YARA identifiers for keys; exclude 'name', 'enabled', and 'description'. You may repeat keys.
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_MetaInputEntry'
          maxItems: 50
        name:
          type: string
          example: block-malicious-workers
          maxLength: 255
          minLength: 1
          x-auditable: true
        namespaces:
          description: Optional WfP deployment tags (customer rules only). Internal rules leave empty.
          type: array
          items:
            maxLength: 255
            minLength: 1
            type: string
          example: []
          default: []
          x-auditable: true
        path:
          type: string
          example: yara/workers
          minLength: 1
          x-auditable: true
      required:
      - name
      - path
      - content
    cloudforce-one_EmailRulesListResponse:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_RulePreview'
        total:
          type: number
          example: 100
      required:
      - rules
      - total
    cloudforce-one_StatsResponse:
      type: object
      properties:
        pending_approvals:
          type: number
          example: 5
        rules_by_namespace:
          type: object
          example:
            yara/dns_record: 12
            yara/workers: 30
          additionalProperties:
            type: number
        total_rules:
          type: number
          example: 42
      required:
      - total_rules
      - rules_by_namespace
      - pending_approvals
    cloudforce-one_RulesSearchResponse:
      type: object
      properties:
        fallback:
          description: True when AI Search was unavailable and the response is from a fallback path.
          type: boolean
          example: false
        interpreted:
          description: Parsed natural-language interpretation of the query, when available.
          type: object
          properties:
            filters:
              description: Filters applied during retrieval (account ACL plus user-supplied facets).
              type: object
              additionalProperties:
                type:
                - object
                - 'null'
            retrieval_type:
              type: string
          required:
          - retrieval_type
        mode:
          description: Retrieval strategy actually used to produce results.
          type: string
          example: hybrid
        results:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_RuleSearchResult'
        total:
          type: integer
          example: 12
          minimum: 0
      required:
      - results
      - total
      - mode
    cloudforce-one_RuleSearchResult:
      allOf:
      - $ref: '#/components/schemas/cloudforce-one_RulePreview'
      - properties:
          score:
            description: Relevance score in [0,1]. Present only when AI Search powers the query.
            type: number
            example: 0.87
            maximum: 1
            minimum: 0
          scoring_details:
            description: AI Search hybrid retrieval returns this per-component scoring breakdown.
            type: object
            properties:
              fusion_method:
                type: string
              keyword_rank:
                type: number
              keyword_score:
                type: number
              reranking_score:
                type: number
              vector_rank:
                type: number
              vector_score:
                type: number
        type: object
    cloudforce-one_AccountExemptions:
      type: object
      properties:
        namespace:
          type: array
          items:
            type: string
          example:
          - ^test-.*$
        tag_match:
          type: array
          items:
            type: string
          example:
          - ^staging-.*$
        worker_name:
          type: array
          items:
            type: string
          example:
          - ^demo-.*$
      required:
      - namespace
      - tag_match
      - worker_name
    cloudforce-one_ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Not found
      required:
      - error
    cloudforce-one_RulesPreviewListResponse:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_RulePreview'
        total:
          type: number
          example: 100
      required:
      - rules
      - total
    cloudforce-one_SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
      required:
      - success
    cloudforce-one_RulePreview:
      type: object
      properties:
        content:
          example: 'rule example { condition: true }'
          type: string
        created_at:
          type: number
          example: 1679529600000
          x-auditable: true
        created_by:
          type: string
          example: user@example.com
          x-auditable: true
        description:
          type: string
          example: Detects malicious proxy workers
        enabled:
          description: Whether this rule is active for dice consumers.
          type: boolean
          example: true
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
          x-auditable: true
        is_public:
          description: Whether this rule is visible to other internal accounts.
          type: boolean
          example: false
          x-auditable: true
        meta:
          description: Structured meta entries for the rule (parsed from content plus any request-supplied meta). Returned in source order.
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_RuleMetaEntry'
        name:
          type: string
          example: block-malicious-workers
          x-auditable: true
        namespaces:
          type: array
          items:
            type: string
          example:
          - yara/workers
          x-auditable: true
        path:
          type: string
          example: yara/workers
          x-auditable: true
        pending_approval_id:
          description: ID of an open approval workflow targeting this rule, or null if none is pending.
          type:
          - number
          - 'null'
        pending_change:
          $ref: '#/components/schemas/cloudforce-one_PendingRuleChange'
        structured_source:
          description: Original JSON payload for rules created via the structured rules API. Null for hand-written rules.
          type:
          - string
          - 'null'
        updated_at:
          type: number
          example: 1679529600000
          x-auditable: true
        updated_by:
          type: string
          example: user@example.com
          x-auditable: true
      required:
      - id
      - name
      - path
      - description
      - namespaces
      - is_public
      - enabled
      - created_at
      - updated_at
      - created_by
      - updated_by
      - pending_approval_id
      - pending_change
    cloudforce-one_EmailRuleHeaderCondition:
      type: object
      properties:
        header_name:
          type: string
          maxLength: 256
          minLength: 1
        match_type:
          type: string
          enum:
          - any
          - all
          - first
          - last
          - count
        operator:
          type: string
          enum:
          - ==
          - '!='
          - '>'
          - '>='
          - <
          - <=
          - contains
          - matches
        type:
          type: string
          enum:
          - header
        value:
          oneOf:
          - type: string
          - type: number
      required:
      - type
      - header_name
      - match_type
      - operator
      - value
    cloudforce-one_EmailRuleArrayCondition:
      type: object
      properties:
        conditions:
          type: array
          items:
            properties:
              operator:
                type: string
                enum:
                - ==
                - '!='
                - '>'
                - '>='
                - <
                - <=
                - contains
                - matches
              subfield:
                type: string
                maxLength: 128
                minLength: 1
              value:
                oneOf:
                - type: string
                - type: number
                - type: boolean
            required:
            - subfield
            - operator
            - value
            type: object
          maxItems: 20
          minItems: 1
        field:
          type: string
          maxLength: 256
          minLength: 1
        quantifier:
          type: string
          default: any
          enum:
          - any
          - all
        type:
          type: string
          enum:
          - array
      required:
      - type
      - field
      - conditions
    cloudforce-one_EmailRuleScalarCondition:
      type: object
      properties:
        field:
          type: string
          maxLength: 256
          minLength: 1
        operator:
          type: string
          enum:
          - ==
          - '!='
          - '>'
          - '>='
          - <
          - <=
          - contains
          - matches
        type:
          type: string
          enum:
          - scalar
        value:
          oneOf:
          - type: string
          - type: number
          - type: boolean
      required:
      - type
      - field
      - operator
      - value
    cloudforce-one_RuleAction:
      type: object
      properties:
        action_config:
          description: Action-specific configuration parameters.
          type: object
          additionalProperties:
            anyOf:
            - type: string
            - type: number
            - type: boolean
            - items:
                type: string
              type: array
            - additionalProperties:
                type: string
              type: object
        action_type:
          type: string
          example: alert_gchat
          enum:
          - alert_gchat
          - webhook
          - logging
          - email
          - pipeline
          - remediation
          - throttle
          - delete
        enabled:
          type: boolean
          default: true
      required:
      - action_type
      - action_config
    cloudforce-one_ApprovalPendingResponse:
      type: object
      properties:
        approval_id:
          type: number
          example: 1
        message:
          type: string
          example: Rule creation pending approval
      required:
      - approval_id
      - message
    cloudforce-one_ValidationResponse:
      type: object
      properties:
        error:
          type: string
          example: Invalid YARA syntax
        valid:
          type: boolean
          example: true
      required:
      - valid
    cloudforce-one_TreeResponse:
      type: object
      properties:
        tree:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_TreeNode'
      required:
      - tree
    cloudforce-one_TreeNode:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_TreeNode'
        count:
          type: number
          example: 15
        name:
          type: string
          example: workers
        path:
          type: string
          example: yara/workers
      required:
      - name
      - path
      - count
      - children
    cloudforce-one_EmailRuleCondition:
      discriminator:
        mapping:
          array: '#/components/schemas/cloudforce-one_EmailRuleArrayCondition'
          group: '#/components/schemas/cloudforce-one_EmailRuleConditionGroup'
          header: '#/components/schemas/cloudforce-one_EmailRuleHeaderCondition'
          scalar: '#/components/schemas/cloudforce-one_EmailRuleScalarCondition'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/cloudforce-one_EmailRuleScalarCondition'
      - $ref: '#/components/schemas/cloudforce-one_EmailRuleArrayCondition'
      - $ref: '#/components/schemas/cloudforce-one_EmailRuleHeaderCondition'
      - $ref: '#/components/schemas/cloudforce-one_EmailRuleConditionGroup'
    cloudforce-one_ResubmitApprovalResponse:
      type: object
      properties:
        approval_id:
          type: number
        message:
          type: string
        requires_approval:
          type: boolean
          enum:
          - true
        revision_number:
          type: integer
          exclusiveMinimum: 0
        supersedes_approval_id:
          type: number
      required:
      - message
      - approval_id
      - supersedes_approval_id
      - revision_number
      - requires_approval
    cloudforce-one_Rule:
      type: object
      properties:
        content:
          example: 'rule example { condition: true }'
          type: string
        created_at:
          type: number
          example: 1679529600000
          x-auditable: true
        created_by:
          type: string
          example: user@example.com
          x-auditable: true
        description:
          type: string
          example: Detects malicious proxy workers
        enabled:
          description: Whether this rule is active for dice consumers.
          type: boolean
          example: true
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
          x-auditable: true
        is_public:
          description: Whether this rule is visible to other internal accounts.
          type: boolean
          example: false
          x-auditable: true
        meta:
          description: Structured meta entries for the rule (parsed from content plus any request-supplied meta). Returned in source order.
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_RuleMetaEntry'
        name:
          type: string
          example: block-malicious-workers
          x-auditable: true
        namespaces:
          type: array
          items:
            type: string
          example:
          - yara/workers
          x-auditable: true
        path:
          type: string
          example: yara/workers
          x-auditable: true
        pending_approval_id:
          description: ID of an open approval workflow targeting this rule, or null if none is pending.
          type:
          - number
          - 'null'
        pending_change:
          $ref: '#/components/schemas/cloudforce-one_PendingRuleChange'
        structured_source:
          description: Original JSON payload for rules created via the structured rules API. Null for hand-written rules.
          type:
          - string
          - 'null'
        updated_at:
          type: number
          example: 1679529600000
          x-auditable: true
        updated_by:
          type: string
          example: user@example.com
          x-auditable: true
      required:
      - id
      - name
      - path
      - description
      - namespaces
      - content
      - is_public
      - enabled
      - created_at
      - updated_at
      - created_by
      - updated_by
      - pending_approval_id
      - pending_change
    cloudforce-one_DeleteAllResponse:
      type: object
      properties:
        deleted:
          type: number
          example: 10
      required:
      - deleted
    cloudforce-one_EmailRuleConditionGroup:
      description: Nested condition groups support up to 10 levels of depth.
      type: object
      properties:
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/cloudforce-one_EmailRuleCondition'
          maxItems: 50
          minItems: 1
        operator:
          type: string
          enum:
          - and
          - or
        type:
          type: string
          enum:
          - group
      required:
      - type
      - operator
      - conditions
    cloudforce-one_ApprovalProposedChanges:
      description: Contains structured proposed rule changes, or null for unresolved persisted data.
      oneOf:
      - properties:
          content:
            type: string
          created_at:
            type: number
          created_by:
            type: string
          description:
            type: string
          enabled:
            type: boolean
          id:
            type: string
          is_public:
            type: boolean
          name:
            type: string
          namespaces:
            type: array
            items:
              type: string
          path:
            type: string
            minLength: 1
          structured_source:
            type:
            - string
            - 'null'
          sync_message:
            type: string
          sync_source:
            type: string
          type:
            type: string
            enum:
            - create
        required:
        - type
        - id
        - name
        - path
        - description
        - namespaces
        - is_public
        - enabled
        - created_by
        - created_at
        type: object
      - properties:
          content:
            type: string
          description:
            type: string
          enabled:
            type: boolean
          is_public:
            type: boolean
          name:
            type: string
          namespaces:
            type: array
            items:
              type: string
          path:
            type: string
            minLength: 1
          structured_source:
            type:
            - string
            - 'null'
          sync_message:
            type: string
          sync_source:
            type: string
          type:
            type: string
            enum:
            - update
        required:
        - type
        type: object
      - properties:
          id:
            type: string
          name:
            type: string
          sync_message:
            type: string
          sync_source:
            type: string
          type:
            type: string
            enum:
            - delete
        required:
        - type
        - id
        - name
        type: object
    cloudforce-one_PendingRuleChange:
      description: Proposed update or deletion awaiting approval. The other rule fields describe the currently applied version.
      type:
      - object
      - 'null'
      properties:
        approval_id:
          type: number
          example: 12345
        requested_at:
          type: number
          example: 1679529600000
        requested_by:
          type: string
          example: user@example.com
        type:
          type: string
          example: update
          enum:
          - update
          - delete
      required:
      - approval_id
      - type
      - requested_at
      - requested_by
    cloudforce-one_EmailRuleValidationResponse:
      type: object
      properties:
        compiled_yara:
          type: string
        error:
          type: string
        valid:
          type: boolean
      required:
      - valid
    cloudforce-one_ExemptionUpdateEntry:
      type: object
      properties:
        new_pattern:
          type: string
          example: ^test-.*$
          minLength: 1
        old_pattern:
          type: string
          example: ^test-.*$
          minLength: 1
      required:
      - old_pattern
      - new_pattern
  parameters:
    cloudforce-one_account_id:
      description: Cloudflare account ID.
      in: path
      name: account_id
      required: true
      schema:
        type: string
        example: 023e105f4ecef8ad9ca31a8372d0c353
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
[...]
