openapi: 3.2.0
info:
  title: Cloudflare Workers Deployments API
  description: Cloudflare Workers allows developers to deploy serverless code to Cloudflare's global network. The Workers API provides endpoints for managing worker scripts, versions, deployments, routes, custom domains, secrets, cron triggers, and configuration including bindings.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Deployments
  description: Manage deployments that direct traffic to specific Worker versions.
paths:
  /accounts/{account_id}/workers/scripts/{script_name}/deployments:
    get:
      operationId: listDeployments
      summary: Cloudflare List Deployments
      description: List all deployments for a Worker script.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      responses:
        '200':
          description: List of deployments.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createDeployment
      summary: Cloudflare Create Deployment
      description: Create a new deployment directing traffic to a specific Worker version.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      responses:
        '200':
          description: Deployment created successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ScriptName:
      name: script_name
      in: path
      required: true
      description: The name of the Worker script.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication with Workers permissions.
externalDocs:
  description: Cloudflare Workers API Documentation
  url: https://developers.cloudflare.com/api/resources/workers/
