openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Threat Signals API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Threat Signals
paths:
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/articles:
    get:
      operationId: rssArticleList
      summary: List Threat Signals articles
      description: Lists articles from the account's Threat Signals feeds.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: Opaque cursor from a previous response's `next_cursor`. When provided, pagination, ordering, totals, and article filters come from the cursor. Sending `per_page`, `sort`, `include_total`, or any article filter alongside it returns a 400 `CursorFilterConflictError`.
        schema:
          description: Opaque cursor from a previous response's `next_cursor`. When provided, pagination, ordering, totals, and article filters come from the cursor. Sending `per_page`, `sort`, `include_total`, or any article filter alongside it returns a 400 `CursorFilterConflictError`.
          type: string
          minLength: 1
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: feed_id
        in: query
        schema:
          type: string
          format: uuid
      - name: article_id
        in: query
        schema:
          description: Repeatable article UUID filter. Returns the union of matching account-owned articles; use this to list every Threat Signals article referenced by an indicator's sources.
          type: array
          items:
            format: uuid
            type: string
          example:
          - 550e8400-e29b-41d4-a716-446655440000
          - 660e8400-e29b-41d4-a716-446655440000
          maxItems: 90
          minItems: 1
      - name: read
        in: query
        schema:
          type: boolean
      - name: tag_id
        in: query
        schema:
          description: Repeatable tag UUID filter. An article matches any selected tag.
          type: array
          items:
            format: uuid
            type: string
          example:
          - 550e8400-e29b-41d4-a716-446655440000
      - name: tag_category_id
        in: query
        schema:
          description: Repeatable tag-category UUID filter. An article matches any selected category; when tag_id is also present, the tag and category groups are ANDed.
          type: array
          items:
            format: uuid
            type: string
          example:
          - 660e8400-e29b-41d4-a716-446655440000
          maxItems: 90
          minItems: 1
      - name: tag
        in: query
        schema:
          description: Legacy human-readable tag-value filter. Ignored when tag_id is supplied; prefer tag_id.
          type: string
          deprecated: true
      - name: tag_category
        in: query
        schema:
          description: Legacy category-name disambiguator for tag. It has no effect without tag; prefer tag_category_id.
          type: string
          deprecated: true
      - name: include_total
        in: query
        schema:
          type: boolean
          default: false
      - name: search
        in: query
        schema:
          type: string
          maxLength: 500
          minLength: 1
      - name: published_after
        in: query
        schema:
          type: string
          format: date-time
      - name: published_before
        in: query
        schema:
          type: string
          format: date-time
      - name: fetched_after
        in: query
        schema:
          type: string
          format: date-time
      - name: fetched_before
        in: query
        schema:
          type: string
          format: date-time
      - name: feed_category
        in: query
        schema:
          type: string
      - name: source_type
        in: query
        schema:
          type: string
          enum:
          - curated
          - custom
      - name: tag_applied_by
        in: query
        schema:
          description: Assignment provenance filter. When combined with tag_id or tag_category_id, the matching assignment must have this provenance.
          type: string
          enum:
          - ai
          - analyst
          - system
      - name: sort
        in: query
        schema:
          type: string
          default: -fetched_at
          pattern: ^-?(fetched_at|published_at|title)$
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      articles:
                        type: array
                        items:
                          properties:
                            dataset_id:
                              description: Threat Events dataset identifier for the article redirect. Null when the account feeds dataset mapping is unavailable.
                              type:
                              - string
                              - 'null'
                            event_id:
                              description: Threat Events event identifier associated with this article for a UI redirect. Null when no event has been linked.
                              type:
                              - string
                              - 'null'
                            feed_display_name:
                              type:
                              - string
                              - 'null'
                            feed_id:
                              type: string
                              format: uuid
                            fetched_at:
                              type: string
                            id:
                              type: string
                              format: uuid
                            link:
                              type:
                              - string
                              - 'null'
                            published_at:
                              type:
                              - string
                              - 'null'
                            read:
                              type: boolean
                            read_at:
                              type:
                              - string
                              - 'null'
                            summary:
                              description: Persisted enrichment summary. Null until enrichment produces a summary.
                              type:
                              - string
                              - 'null'
                            tags:
                              type: array
                              items:
                                properties:
                                  applied_by:
                                    type: string
                                    enum:
                                    - ai
                                    - analyst
                                    - system
                                  categoryId:
                                    type:
                                    - string
                                    - 'null'
                                    format: uuid
                                  uuid:
                                    type: string
                                    format: uuid
                                  value:
                                    type: string
                                required:
                                - uuid
                                - value
                                - categoryId
                                - applied_by
                                type: object
                            title:
                              type:
                              - string
                              - 'null'
                          required:
                          - id
                          - feed_id
                          - feed_display_name
                          - title
                          - link
                          - published_at
                          - read
                          - read_at
                          - tags
                          - fetched_at
                          - summary
                          - event_id
                          - dataset_id
                          type: object
                      has_more:
                        type: boolean
                      next_cursor:
                        type:
                        - string
                        - 'null'
                      total_count:
                        type:
                        - number
                        - 'null'
                      total_count_is_exact:
                        type: boolean
                    required:
                    - articles
                    - next_cursor
                    - has_more
                    - total_count
                    - total_count_is_exact
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    patch:
      operationId: rssArticleBulkMarkRead
      summary: Bulk update Threat Signals article read status
      description: Marks up to 50 Threat Signals articles as read or unread.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                article_ids:
                  type: array
                  items:
                    format: uuid
                    type: string
                  maxItems: 50
                  minItems: 1
                read:
                  type: boolean
              required:
              - article_ids
              - read
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      updated_count:
                        type: number
                    required:
                    - updated_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles
      x-fern-sdk-method-name: bulk-mark-read
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}:
    get:
      operationId: rssArticleGet
      summary: Get Threat Signals article
      description: Retrieves a Threat Signals article with its summary, tags and indicator status.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      bullet_points:
                        type:
                        - object
                        - 'null'
                        properties:
                          impact:
                            type: string
                          what_happened:
                            type: string
                          who_affected:
                            type: string
                        required:
                        - what_happened
                        - who_affected
                        - impact
                      content_r2_key:
                        type:
                        - string
                        - 'null'
                      feed_display_name:
                        type:
                        - string
                        - 'null'
                      feed_id:
                        type: string
                        format: uuid
                      fetched_at:
                        type: string
                      id:
                        type: string
                        format: uuid
                      indicator_extraction_status:
                        description: Progress of the article's indicator extraction and IOC contextualization run. complete and failed are terminal; unknown means no run has been recorded.
                        type: string
                        enum:
                        - in_progress
                        - complete
                        - failed
                        - unknown
                      link:
                        type:
                        - string
                        - 'null'
                      metadata:
                        type:
                        - object
                        - 'null'
                        additionalProperties: true
                      published_at:
                        type:
                        - string
                        - 'null'
                      read:
                        type: boolean
                      read_at:
                        type:
                        - string
                        - 'null'
                      skill_version:
                        type:
                        - string
                        - 'null'
                      source_count:
                        type: number
                      summary:
                        description: Persisted enrichment summary. Null until enrichment produces a summary.
                        type:
                        - string
                        - 'null'
                      summary_r2_key:
                        type:
                        - string
                        - 'null'
                      tag_skill_version:
                        type:
                        - string
                        - 'null'
                      tags:
                        type: array
                        items:
                          properties:
                            applied_by:
                              type: string
                              enum:
                              - ai
                              - analyst
                              - system
                            categoryId:
                              type:
                              - string
                              - 'null'
                              format: uuid
                            uuid:
                              type: string
                              format: uuid
                            value:
                              type: string
                          required:
                          - uuid
                          - value
                          - categoryId
                          - applied_by
                          type: object
                      title:
                        type:
                        - string
                        - 'null'
                    required:
                    - id
                    - feed_id
                    - feed_display_name
                    - title
                    - link
                    - published_at
                    - read
                    - read_at
                    - tags
                    - fetched_at
                    - summary
                    - content_r2_key
                    - summary_r2_key
                    - bullet_points
                    - metadata
                    - source_count
                    - indicator_extraction_status
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: rssArticleMarkRead
      summary: Update Threat Signals article read status
      description: Marks a Threat Signals article as read or unread.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                read:
                  type: boolean
              required:
              - read
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      bullet_points:
                        type:
                        - object
                        - 'null'
                        properties:
                          impact:
                            type: string
                          what_happened:
                            type: string
                          who_affected:
                            type: string
                        required:
                        - what_happened
                        - who_affected
                        - impact
                      content_r2_key:
                        type:
                        - string
                        - 'null'
                      feed_display_name:
                        type:
                        - string
                        - 'null'
                      feed_id:
                        type: string
                        format: uuid
                      fetched_at:
                        type: string
                      id:
                        type: string
                        format: uuid
                      indicator_extraction_status:
                        description: Progress of the article's indicator extraction and IOC contextualization run. complete and failed are terminal; unknown means no run has been recorded.
                        type: string
                        enum:
                        - in_progress
                        - complete
                        - failed
                        - unknown
                      link:
                        type:
                        - string
                        - 'null'
                      metadata:
                        type:
                        - object
                        - 'null'
                        additionalProperties: true
                      published_at:
                        type:
                        - string
                        - 'null'
                      read:
                        type: boolean
                      read_at:
                        type:
                        - string
                        - 'null'
                      skill_version:
                        type:
                        - string
                        - 'null'
                      source_count:
                        type: number
                      summary:
                        description: Persisted enrichment summary. Null until enrichment produces a summary.
                        type:
                        - string
                        - 'null'
                      summary_r2_key:
                        type:
                        - string
                        - 'null'
                      tag_skill_version:
                        type:
                        - string
                        - 'null'
                      tags:
                        type: array
                        items:
                          properties:
                            applied_by:
                              type: string
                              enum:
                              - ai
                              - analyst
                              - system
                            categoryId:
                              type:
                              - string
                              - 'null'
                              format: uuid
                            uuid:
                              type: string
                              format: uuid
                            value:
                              type: string
                          required:
                          - uuid
                          - value
                          - categoryId
                          - applied_by
                          type: object
                      title:
                        type:
                        - string
                        - 'null'
                    required:
                    - id
                    - feed_id
                    - feed_display_name
                    - title
                    - link
                    - published_at
                    - read
                    - read_at
                    - tags
                    - fetched_at
                    - summary
                    - content_r2_key
                    - summary_r2_key
                    - bullet_points
                    - metadata
                    - source_count
                    - indicator_extraction_status
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles
      x-fern-sdk-method-name: mark-read
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}/content:
    get:
      operationId: rssArticleContentGet
      summary: Get Threat Signals article content
      description: Retrieves the stored body of a Threat Signals article as plain text or HTML.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: format
        in: query
        schema:
          type: string
          enum:
          - text
          - html
      responses:
        '200':
          description: Threat Signals response.
          content:
            text/html:
              schema:
                type: string
            text/plain:
              schema:
                type: string
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles
      x-fern-sdk-method-name: get-content
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}/skills/{skill_id}/output:
    get:
      operationId: rssArticleSkillOutputGet
      summary: Get Threat Signals article skill output
      description: Retrieves the stored output of a skill for a Threat Signals article.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: skill_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      article_id:
                        type: string
                        format: uuid
                      custom_output:
                        description: Skill output. Parsed JSON when the stored output is valid JSON, otherwise the raw string.
                      custom_skill_version:
                        type:
                        - string
                        - 'null'
                      output_schema:
                        description: JSON-encoded output schema of the skill. Null when the skill no longer exists.
                        type:
                        - string
                        - 'null'
                      skill_id:
                        type: string
                    required:
                    - article_id
                    - skill_id
                    - custom_skill_version
                    - output_schema
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles.skills
      x-fern-sdk-method-name: get-output
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}/skills/{skill_id}/run:
    post:
      operationId: rssArticleSkillRun
      summary: Run and persist a Threat Signals article skill
      description: Paid customer operation that always persists a managed default skill or an assigned active custom skill result without exposing diagnostic model data.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: skill_id
        in: path
        required: true
        schema:
          anyOf:
          - enum:
            - default-tagging-skill
            - default-ioc-context-skill
            - default-summary-skill
            type: string
          - format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    anyOf:
                    - oneOf:
                      - properties:
                          bullet_points:
                            type:
                            - object
                            - 'null'
                            properties:
                              impact:
                                type: string
                              what_happened:
                                type: string
                              who_affected:
                                type: string
                            required:
                            - what_happened
                            - who_affected
                            - impact
                          persisted:
                            type: boolean
                            enum:
                            - true
                          skill_id:
                            type: string
                            enum:
                            - default-summary-skill
                          skill_version:
                            type: string
                          summary:
                            type: string
                        required:
                        - skill_id
                        - persisted
                        - summary
                        - bullet_points
                        - skill_version
                        type: object
                      - properties:
                          persisted:
                            type: boolean
                            enum:
                            - true
                          skill_id:
                            type: string
                            enum:
                            - default-tagging-skill
                          tag_skill_version:
                            type: string
                          tags:
                            description: Final hydrated assignment set; may be empty when no applicable tags are selected.
                            type: array
                            items:
                              properties:
                                applied_by:
                                  type: string
                                  enum:
                                  - ai
                                  - analyst
                                  - system
                                categoryId:
                                  type:
                                  - string
                                  - 'null'
                                  format: uuid
                                uuid:
                                  type: string
                                  format: uuid
                                value:
                                  type: string
                              required:
                              - uuid
                              - value
                              - categoryId
                              - applied_by
                              type: object
                        required:
                        - skill_id
                        - persisted
                        - tags
                        - tag_skill_version
                        type: object
                      - properties:
                          article_id:
                            type: string
                            format: uuid
                          custom_output:
                            type: object
                            additionalProperties: false
                            properties:
                              enrichments:
                                type: array
                                items:
                                  additionalProperties: false
                                  properties:
                                    context:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        context_snippet:
                                          type: string
                                        fetched_at:
                                          type: string
                                        published_at:
                                          type: string
                                        source_article_id:
                                          type: string
                                          format: uuid
                                        source_feed_category:
                                          type:
                                          - string
                                          - 'null'
                                        source_feed_id:
                                          type: string
                                          format: uuid
                                        source_feed_name:
                                          type: string
                                          minLength: 1
                                        source_url:
                                          type: string
                                      required:
                                      - source_article_id
                                      - source_feed_id
                                      - source_feed_name
                                      - source_url
                                      - published_at
                                      - fetched_at
                                      - context_snippet
                                    infrastructure_assessment:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        affected_scope:
                                          type: string
                                        explanation:
                                          type: string
                                        granularity:
                                          type: string
                                          enum:
                                          - exact_indicator
                                          - subdomain
                                          - path
                                          - full_domain
                                          - unknown
                                        ownership:
                                          type: string
                                          enum:
                                          - actor_owned
                                          - compromised
                                          - abused_service
                                          - unknown
                                        parent_domain_legitimate:
                                          type:
                                          - boolean
                                          - 'null'
                                      required:
                                      - ownership
                                      - granularity
                                      - affected_scope
                                      - explanation
                                    role_classification:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        alternative_roles:
                                          type: array
                                          items:
                                            enum:
                                            - c2
                                            - dropper
                                            - phishing_host
                                            - loader
                                            - exfil
                                            - recon
                                            type: string
                                        confidence:
                                          type: string
                                          enum:
                                          - high
                                          - medium
                                          - low
                                        evidence_snippet:
                                          type: string
                                        primary_role:
                                          type: string
                                          enum:
                                          - c2
                                          - dropper
                                          - phishing_host
                                          - loader
                                          - exfil
                                          - recon
                                          - unknown
                                      required:
                                      - primary_role
                                      - confidence
                                      - evidence_snippet
                                    skill_metadata:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        processing_method:
                                          type: string
                                          enum:
                                          - llm_refined
                                        skill_name:
                                          type: string
                                          enum:
                                          - ioc-context-skill
                                        skill_version:
                                          type: string
                                          enum:
                                          - 1.1.0
                                      required:
                                      - skill_name
                                      - skill_version
                                      - processing_method
                                    target_indicator_id:
                                      type: string
                                      format: uuid
                                    target_indicator_type:
                                      type: string
                                    target_indicator_value:
                                      type: string
                                  required:
                                  - target_indicator_id
                                  - target_indicator_value
                                  - target_indicator_type
                                  - context
                                  - role_classification
                                  - infrastructure_assessment
                                  - skill_metadata
                                  type: object
                              generated_at:
                                type: string
                              schema_version:
                                type: string
                                enum:
                                - 1.1.0
                              source_article_id:
                                type: string
                                format: uuid
                            required:
                            - schema_version
                            - generated_at
                            - source_article_id
                            - enrichments
                          custom_skill_version:
                            type: string
                          output_schema:
                            type: string
                          persisted:
                            type: boolean
                            enum:
                            - true
                          skill_id:
                            type: string
                            enum:
                            - default-ioc-context-skill
                        required:
                        - skill_id
                        - persisted
                        - article_id
                        - custom_output
                        - custom_skill_version
                        - output_schema
                        type: object
                    - properties:
                        article_id:
                          type: string
                          format: uuid
                        custom_output:
                          description: JSON value conforming to the skill's output_schema
                        custom_skill_version:
                          type: string
                        output_schema:
                          type: string
                        persisted:
                          type: boolean
                          enum:
                          - true
                        skill_id:
                          type: string
                          format: uuid
                      required:
                      - persisted
                      - article_id
                      - skill_id
                      - custom_skill_version
                      - output_schema
                      type: object
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles.skills
      x-fern-sdk-method-name: run
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}/tag:
    post:
      operationId: rssArticleTagGenerate
      summary: Generate Threat Signals article AI tags
      description: Runs the default AI tagging skill on an article and replaces its AI-applied tags.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      tag_skill_version:
                        type: string
                      tags:
                        description: Final hydrated assignment set; may be empty when no applicable tags are selected.
                        type: array
                        items:
                          properties:
                            applied_by:
                              type: string
                              enum:
                              - ai
                              - analyst
                              - system
                            categoryId:
                              type:
                              - string
                              - 'null'
                              format: uuid
                            uuid:
                              type: string
                              format: uuid
                            value:
                              type: string
                          required:
                          - uuid
                          - value
                          - categoryId
                          - applied_by
                          type: object
                    required:
                    - tags
                    - tag_skill_version
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - messages
                - success
                - errors
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles.tags
      x-fern-sdk-method-name: generate
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}/tags:
    post:
      operationId: rssArticleTagAdd
      summary: Add tag to Threat Signals article
      description: Applies a tag from the account's tag catalog to a Threat Signals article.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tag_id:
                  type: string
                  format: uuid
              required:
              - tag_id
      responses:
        '201':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      applied_by:
                        type: string
                        enum:
                        - ai
                        - analyst
                        - system
                      categoryId:
                        type:
                        - string
                        - 'null'
                        format: uuid
                      uuid:
                        type: string
                        format: uuid
                      value:
                        type: string
                    required:
                    - uuid
                    - value
                    - categoryId
                    - applied_by
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles.tags
      x-fern-sdk-method-name: add
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/articles/{article_id}/tags/{tag_id}:
    delete:
      operationId: rssArticleTagRemove
      summary: Remove tag from Threat Signals article
      description: Removes a tag from a Threat Signals article.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: article_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: tag_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      applied_by:
                        type: string
                        enum:
                        - ai
                        - analyst
                        - system
                      categoryId:
                        type:
                        - string
                        - 'null'
                        format: uuid
                      uuid:
                        type: string
                        format: uuid
                      value:
                        type: string
                    required:
                    - uuid
                    - value
                    - categoryId
                    - applied_by
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.articles.tags
      x-fern-sdk-method-name: remove
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/categories:
    get:
      operationId: rssFeedCategoryList
      summary: List Threat Signals feed categories
      description: Lists the predefined categories that can be assigned to feeds.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      categories:
                        type: array
                        items:
                          properties:
                            description:
                              description: Plain-language description of the category.
                              type: string
                            id:
                              description: Wire value accepted by the feed `category_id` field.
                              type: string
                              format: uuid
                            name:
                              description: Human-readable display label.
                              type: string
                          required:
                          - id
                          - name
                          - description
                          type: object
                    required:
                    - categories
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.categories
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/curated-feeds:
    get:
      operationId: rssCuratedFeedList
      summary: List curated Threat Signals feeds
      description: Lists the curated feeds the account can subscribe to.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
          maxLength: 100
      - name: include_inactive
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      feeds:
                        type: array
                        items:
                          properties:
                            category_id:
                              type: string
                            display_order:
                              type:
                              - integer
                              - 'null'
                            id:
                              type: string
                              format: uuid
                            is_active:
                              type: boolean
                            name:
                              type: string
                            url:
                              type: string
                            why_valuable:
                              type:
                              - string
                              - 'null'
                          required:
                          - id
                          - url
                          - name
                          - category_id
                          - why_valuable
                          - display_order
                          - is_active
                          type: object
                    required:
                    - feeds
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.curated-feeds
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/curated-feeds/opt-out:
    patch:
      operationId: rssCuratedFeedOptOut
      summary: Opt out of curated Threat Signals feeds
      description: Opts the account out of, or back into, the curated feed catalog.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                opted_out:
                  type: boolean
              required:
              - opted_out
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      opted_out:
                        type: boolean
                    required:
                    - opted_out
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.curated-feeds
      x-fern-sdk-method-name: opt-out
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/feeds:
    get:
      operationId: rssFeedList
      summary: List Threat Signals feeds
      description: Lists the account's Threat Signals feed subscriptions.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: sort
        in: query
        schema:
          type: string
          default: -created_at
          pattern: ^-?(created_at|title|category|url)$
      - name: category
        in: query
        schema:
          type: string
          maxLength: 100
      - name: source_type
        in: query
        schema:
          type: string
          enum:
          - curated
          - custom
      - name: enabled
        in: query
        schema:
          type: boolean
      - name: status
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      count:
                        description: Number of feeds on this page.
                        type: integer
                      feeds:
                        type: array
                        items:
                          properties:
                            category_id:
                              description: Feed category identifier. Null when unset.
                              type:
                              - string
                              - 'null'
                            category_name:
                              description: Display name of the feed category. Null when unset or unresolvable.
                              type:
                              - string
                              - 'null'
                            created_at:
                              type: string
                            curated_feed_id:
                              description: Curated catalog feed this subscription was created from. Null for custom feeds.
                              type:
                              - string
                              - 'null'
                            display_name:
                              type:
                              - string
                              - 'null'
                            enabled:
                              type: boolean
                            id:
                              type: string
                              format: uuid
                            last_polled_at:
                              type:
                              - string
                              - 'null'
                            poll_interval_s:
                              type: integer
                            source_type:
                              description: '`custom` for a feed added by URL, `curated` for a curated catalog feed.'
                              type: string
                              example: custom
                            status:
                              description: 'Polling health: `active`, or `error` after a failed poll.'
                              type: string
                              example: active
                            subscribed_at:
                              type:
                              - string
                              - 'null'
                            title:
                              type:
                              - string
                              - 'null'
                            updated_at:
                              type: string
                            url:
                              type: string
                          required:
                          - id
                          - created_at
                          - updated_at
                          - url
                          - title
                          - display_name
                          - category_id
                          - category_name
                          - source_type
                          - curated_feed_id
                          - enabled
                          - last_polled_at
                          - poll_interval_s
                          - status
                          - subscribed_at
                          type: object
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_count:
                        type: integer
                    required:
                    - feeds
                    - count
                    - page
                    - per_page
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.feeds
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: rssFeedCreate
      summary: Create Threat Signals feed
      description: Subscribes the account to a custom or curated Threat Signals feed.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  description: One of the predefined Threat Signals feed categories; see GET /:account_id/v2/threat-signals/categories.
                  type:
                  - string
                  - 'null'
                  enum:
                  - b12a0fd6-f7b9-5393-9ef3-f888d506c550
                  - d5b70eaa-626f-5761-b55b-6d9590df49fb
                  - 3b572d2b-890d-5286-9433-f18c85079030
                  - 17f90d3b-37d3-5241-8ad4-7d6abbc2006c
                  - c68f28e9-7e8f-5d4b-853b-f3076893a9ee
                  - bb0e4a94-38ab-5c14-80a7-28cee9f4b139
                  - b1ef66d9-a73c-58dc-b269-22d34dfd11f4
                  - ab02a976-0a20-5c76-a553-7f6325afacfe
                curated_feed_id:
                  type: string
                  format: uuid
                display_name:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                enabled:
                  type: boolean
                  default: true
                poll_interval_s:
                  type: integer
                  default: 300
                  maximum: 86400
                  minimum: 60
                title:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                url:
                  type: string
                  format: uri
                  maxLength: 2048
      responses:
        '201':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      category_id:
                        description: Feed category identifier. Null when unset.
                        type:
                        - string
                        - 'null'
                      category_name:
                        description: Display name of the feed category. Null when unset or unresolvable.
                        type:
                        - string
                        - 'null'
                      created_at:
                        type: string
                      curated_feed_id:
                        description: Curated catalog feed this subscription was created from. Null for custom feeds.
                        type:
                        - string
                        - 'null'
                      display_name:
                        type:
                        - string
                        - 'null'
                      enabled:
                        type: boolean
                      id:
                        type: string
                        format: uuid
                      last_polled_at:
                        type:
                        - string
                        - 'null'
                      poll_interval_s:
                        type: integer
                      source_type:
                        description: '`custom` for a feed added by URL, `curated` for a curated catalog feed.'
                        type: string
                        example: custom
                      status:
                        description: 'Polling health: `active`, or `error` after a failed poll.'
                        type: string
                        example: active
                      subscribed_at:
                        type:
                        - string
                        - 'null'
                      title:
                        type:
                        - string
                        - 'null'
                      updated_at:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - created_at
                    - updated_at
                    - url
                    - title
                    - display_name
                    - category_id
                    - category_name
                    - source_type
                    - curated_feed_id
                    - enabled
                    - last_polled_at
                    - poll_interval_s
                    - status
                    - subscribed_at
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.feeds
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/feeds/poll:
    post:
      operationId: rssFeedPoll
      summary: Trigger Threat Signals feed poll
      description: Starts an immediate poll of one or all Threat Signals feeds.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: feed_id
        in: query
        schema:
          anyOf:
          - format: uuid
            type: string
          - enum:
            - all
            type: string
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      errors:
                        type: number
                      feeds:
                        type: array
                        items:
                          properties:
                            feed_enabled:
                              type: boolean
                            feed_id:
                              type: string
                              format: uuid
                            status:
                              type: string
                              enum:
                              - workflow_created
                              - error
                            workflow_id:
                              type: string
                          required:
                          - feed_id
                          - workflow_id
                          - status
                          type: object
                      triggered:
                        type: number
                    required:
                    - feeds
                    - triggered
                    - errors
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.feeds
      x-fern-sdk-method-name: poll
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/feeds/{feed_id}:
    delete:
      operationId: rssFeedDelete
      summary: Delete Threat Signals feed
      description: Unsubscribes the account from a Threat Signals feed and deletes its articles.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: feed_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      category_id:
                        description: Feed category identifier. Null when unset.
                        type:
                        - string
                        - 'null'
                      category_name:
                        description: Display name of the feed category. Null when unset or unresolvable.
                        type:
                        - string
                        - 'null'
                      created_at:
                        type: string
                      curated_feed_id:
                        description: Curated catalog feed this subscription was created from. Null for custom feeds.
                        type:
                        - string
                        - 'null'
                      display_name:
                        type:
                        - string
                        - 'null'
                      enabled:
                        type: boolean
                      id:
                        type: string
                        format: uuid
                      last_polled_at:
                        type:
                        - string
                        - 'null'
                      poll_interval_s:
                        type: integer
                      source_type:
                        description: '`custom` for a feed added by URL, `curated` for a curated catalog feed.'
                        type: string
                        example: custom
                      status:
                        description: 'Polling health: `active`, or `error` after a failed poll.'
                        type: string
                        example: active
                      subscribed_at:
                        type:
                        - string
                        - 'null'
                      title:
                        type:
                        - string
                        - 'null'
                      updated_at:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - created_at
                    - updated_at
                    - url
                    - title
                    - display_name
                    - category_id
                    - category_name
                    - source_type
                    - curated_feed_id
                    - enabled
                    - last_polled_at
                    - poll_interval_s
                    - status
                    - subscribed_at
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.feeds
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    patch:
      operationId: rssFeedUpdate
      summary: Update Threat Signals feed
      description: Updates a Threat Signals feed subscription.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      - name: feed_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  description: One of the predefined Threat Signals feed categories; see GET /:account_id/v2/threat-signals/categories.
                  type:
                  - string
                  - 'null'
                  enum:
                  - b12a0fd6-f7b9-5393-9ef3-f888d506c550
                  - d5b70eaa-626f-5761-b55b-6d9590df49fb
                  - 3b572d2b-890d-5286-9433-f18c85079030
                  - 17f90d3b-37d3-5241-8ad4-7d6abbc2006c
                  - c68f28e9-7e8f-5d4b-853b-f3076893a9ee
                  - bb0e4a94-38ab-5c14-80a7-28cee9f4b139
                  - b1ef66d9-a73c-58dc-b269-22d34dfd11f4
                  - ab02a976-0a20-5c76-a553-7f6325afacfe
                display_name:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                enabled:
                  type: boolean
                poll_interval_s:
                  type: integer
                  maximum: 86400
                  minimum: 60
                title:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
      responses:
        '200':
          description: Threat Signals response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        expected:
                          type: string
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        reason:
                          type: string
                          enum:
                          - free_custom_feed_limit
                          - free_custom_skills_disabled
                          - free_skill_run_disabled
                          - free_tier_reconciliation_in_progress
                          - free_tier_reconciliation_failed
                          - raw_content_expired
                          - curated_visibility_changed
                      required:
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      category_id:
                        description: Feed category identifier. Null when unset.
                        type:
                        - string
                        - 'null'
                      category_name:
                        description: Display name of the feed category. Null when unset or unresolvable.
                        type:
                        - string
                        - 'null'
                      created_at:
                        type: string
                      curated_feed_id:
                        description: Curated catalog feed this subscription was created from. Null for custom feeds.
                        type:
                        - string
                        - 'null'
                      display_name:
                        type:
                        - string
                        - 'null'
                      enabled:
                        type: boolean
                      id:
                        type: string
                        format: uuid
                      last_polled_at:
                        type:
                        - string
                        - 'null'
                      poll_interval_s:
                        type: integer
                      source_type:
                        description: '`custom` for a feed added by URL, `curated` for a curated catalog feed.'
                        type: string
                        example: custom
                      status:
                        description: 'Polling health: `active`, or `error` after a failed poll.'
                        type: string
                        example: active
                      subscribed_at:
                        type:
                        - string
                        - 'null'
                      title:
                        type:
                        - string
                        - 'null'
                      updated_at:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - created_at
                    - updated_at
                    - url
                    - title
                    - display_name
                    - category_id
                    - category_name
                    - source_type
                    - curated_feed_id
                    - enabled
                    - last_polled_at
                    - poll_interval_s
                    - status
                    - subscribed_at
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Threat Signals
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.threat-signals.feeds
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/threat-signals/feeds/{feed_id}/raw:
    get:
      operationId: rssFeedRawGet
[...]
