openapi: 3.2.0
info:
  title: Cloudflare Workers Domains API
  description: Cloudflare Workers allows developers to deploy serverless code to Cloudflare's global network. The Workers API provides endpoints for managing worker scripts, versions, deployments, routes, custom domains, secrets, cron triggers, and configuration including bindings.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Domains
  description: Attach and detach custom domains to Worker scripts.
paths:
  /accounts/{account_id}/workers/domains:
    get:
      operationId: listDomains
      summary: Cloudflare List Worker Domains
      description: Retrieve all custom domains attached to Worker scripts.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of Worker domains.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: attachDomain
      summary: Cloudflare Attach Custom Domain
      description: Attach a custom domain to a Worker script.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Domain attached successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication with Workers permissions.
externalDocs:
  description: Cloudflare Workers API Documentation
  url: https://developers.cloudflare.com/api/resources/workers/
