openapi: 3.1.0
info:
  title: Cloudflare Turnstile API
  description: >-
    Cloudflare Turnstile is a CAPTCHA replacement that verifies visitors
    without showing a challenge. The API provides a server-side siteverify
    endpoint for token validation and management endpoints for creating and
    configuring Turnstile widgets with support for managed, non-interactive,
    and invisible modes.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
externalDocs:
  description: Cloudflare Turnstile Documentation
  url: https://developers.cloudflare.com/turnstile/
servers:
  - url: https://api.cloudflare.com/client/v4
    description: Cloudflare API v4 Production Server
tags:
  - name: Widgets
    description: >-
      Create, list, update, and delete Turnstile widget configurations.
  - name: Verification
    description: >-
      Verify Turnstile challenge tokens on the server side.
security:
  - bearerAuth: []
paths:
  /accounts/{account_id}/challenges/widgets:
    get:
      operationId: listTurnstileWidgets
      summary: List Turnstile widgets
      description: >-
        Returns all Turnstile widget configurations for the account.
      tags:
        - Widgets
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of widgets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetListResponse'
        '401':
          description: Unauthorized.
    post:
      operationId: createTurnstileWidget
      summary: Create Turnstile widget
      description: >-
        Create a new Turnstile widget with the specified mode and allowed
        domains.
      tags:
        - Widgets
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetInput'
      responses:
        '200':
          description: Widget created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/challenges/widgets/{sitekey}:
    get:
      operationId: getTurnstileWidget
      summary: Get Turnstile widget
      description: >-
        Retrieve details of a specific Turnstile widget.
      tags:
        - Widgets
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Sitekey'
      responses:
        '200':
          description: Widget details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Widget not found.
    put:
      operationId: updateTurnstileWidget
      summary: Update Turnstile widget
      description: >-
        Update the configuration of a Turnstile widget.
      tags:
        - Widgets
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Sitekey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetInput'
      responses:
        '200':
          description: Widget updated successfully.
        '401':
          description: Unauthorized.
    delete:
      operationId: deleteTurnstileWidget
      summary: Delete Turnstile widget
      description: >-
        Delete a Turnstile widget configuration.
      tags:
        - Widgets
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Sitekey'
      responses:
        '200':
          description: Widget deleted.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/challenges/widgets/{sitekey}/rotate_secret:
    post:
      operationId: rotateTurnstileSecret
      summary: Rotate widget secret
      description: >-
        Rotate the secret key for a Turnstile widget. The previous secret
        remains valid for a transition period.
      tags:
        - Widgets
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Sitekey'
      responses:
        '200':
          description: Secret rotated successfully.
        '401':
          description: Unauthorized.
  /siteverify:
    post:
      operationId: verifyTurnstileToken
      summary: Verify Turnstile token
      description: >-
        Validate a Turnstile challenge token on the server side. This is the
        primary endpoint for verifying that a user has passed the Turnstile
        challenge.
      tags:
        - Verification
      security: []
      servers:
        - url: https://challenges.cloudflare.com
          description: Turnstile Verification Server
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - secret
                - response
              properties:
                secret:
                  type: string
                  description: The widget's secret key.
                response:
                  type: string
                  description: The Turnstile token from the client.
                remoteip:
                  type: string
                  description: The user's IP address.
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API token with Turnstile permissions.
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    Sitekey:
      name: sitekey
      in: path
      required: true
      description: The site key of the Turnstile widget.
      schema:
        type: string
  schemas:
    Widget:
      type: object
      properties:
        sitekey:
          type: string
          description: The public site key for the widget.
        secret:
          type: string
          description: The secret key for server-side verification.
        name:
          type: string
          description: A human-readable name for the widget.
        domains:
          type: array
          items:
            type: string
          description: Allowed domains for the widget.
        mode:
          type: string
          enum:
            - managed
            - non-interactive
            - invisible
          description: The challenge mode for the widget.
        bot_fight_mode:
          type: boolean
          description: Whether Bot Fight Mode is enabled.
        created_on:
          type: string
          format: date-time
        modified_on:
          type: string
          format: date-time
    WidgetInput:
      type: object
      required:
        - name
        - domains
        - mode
      properties:
        name:
          type: string
          description: Name for the widget.
        domains:
          type: array
          items:
            type: string
          description: Allowed domains.
        mode:
          type: string
          enum:
            - managed
            - non-interactive
            - invisible
        bot_fight_mode:
          type: boolean
    WidgetResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/Widget'
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
        messages:
          type: array
          items:
            type: object
    WidgetListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/Widget'
        success:
          type: boolean
    VerifyResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the token was valid.
        challenge_ts:
          type: string
          format: date-time
          description: Timestamp of the challenge.
        hostname:
          type: string
          description: Hostname for which the challenge was solved.
        error-codes:
          type: array
          items:
            type: string
          description: Error codes if verification failed.
        action:
          type: string
          description: The action name from the widget.
        cdata:
          type: string
          description: Custom data from the widget.
