openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Email Security API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Email Security
paths:
  /accounts/{account_id}/email-security/investigate:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_investigate
      summary: Search email messages
      description: Returns information for each email that matches the provided search parameters.
      parameters:
      - name: start
        in: query
        description: The beginning of the search date range. Defaults to `now - 30 days`. Must not be in the future.
        schema:
          type: string
          format: date-time
        example: '2022-06-25T14:30:00Z'
      - name: end
        in: query
        description: The end of the search date range. Defaults to `now`.
        schema:
          type: string
          format: date-time
        example: '2022-07-25T14:30:00Z'
      - name: query
        in: query
        description: Space-delimited term matched case-insensitively against message metadata — sender, recipient, subject, attachment names and hashes, and message ID.
        schema:
          type: string
        example: bob jones
      - name: detections_only
        in: query
        description: Whether to include only detections in search results.
        schema:
          type: boolean
          default: true
      - name: final_disposition
        in: query
        description: Dispositions to filter by.
        schema:
          type: string
          enum:
          - MALICIOUS
          - SUSPICIOUS
          - SPOOF
          - SPAM
          - BULK
          - NONE
      - name: metric
        in: query
        description: Metric to aggregate the results by.
        schema:
          type: string
      - name: message_action
        in: query
        description: Message actions to filter by.
        schema:
          type: string
          enum:
          - PREVIEW
          - QUARANTINE_RELEASED
          - MOVED
      - name: recipient
        in: query
        description: Filter by recipient. Matches an email address or a domain.
        schema:
          type: string
        example: me@example.com
      - name: sender
        in: query
        description: Filter by sender. Matches an email address or a domain.
        schema:
          type: string
        example: noreply@example.com
      - name: smtp_helo_ip
        in: query
        description: Matches messages whose SMTP HELO server IP address equals this value.
        schema:
          type: string
        example: 192.0.2.1
      - name: alert_id
        in: query
        description: Filter by alert ID.
        schema:
          type: string
      - name: domain
        in: query
        description: Filter by a domain found in the email — sender domain, recipient domain, or a domain in a link.
        schema:
          type: string
        example: example.com
      - name: message_id
        in: query
        description: Filter by the RFC 5322 Message-ID header.
        schema:
          type: string
      - name: subject
        in: query
        description: Search for messages containing individual keywords in any order within the subject.
        schema:
          type: string
      - name: delivery_status
        in: query
        description: Delivery status to filter by.
        schema:
          $ref: '#/components/schemas/email-security_MessageDeliveryStatus'
      - name: cursor
        in: query
        description: Pagination cursor from the previous response's `result_info`.
        schema:
          type: string
        x-auditable: true
      - $ref: '#/components/parameters/email-security_per_page'
      - name: page
        in: query
        description: 'Deprecated: Use cursor pagination instead. End of life: November 1, 2026.'
        schema:
          type:
          - integer
          - 'null'
          default: 1
          minimum: 1
        deprecated: true
        x-stainless-deprecation-message: Use cursor pagination instead.
        x-sunset: '2026-11-01T00:00:00Z'
      responses:
        '200':
          description: Search results for the provided query.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_MessageDetails'
                    result_info:
                      $ref: '#/components/schemas/email-security_CursorResultInfo'
                  required:
                  - result
                  - result_info
                  type: object
        '202':
          description: The search is taking longer than expected. Use the Location header to poll for results.
          headers:
            Location:
              description: URL to poll for search results.
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      description: Always empty on 202; follow the Location header to retrieve results.
                      type: array
                      items:
                        type: string
                      maxItems: 0
                    result_info:
                      $ref: '#/components/schemas/email-security_CursorResultInfo'
                  required:
                  - result
                  - result_info
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate
      x-fern-sdk-method-name: list
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/bulk:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_get_bulk_jobs
      summary: List bulk action jobs
      description: Returns a paginated list of bulk action jobs for the account.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - name: action_type
        in: query
        description: Filter jobs by the action they perform.
        schema:
          type: string
          enum:
          - MOVE
          - RELEASE
      - name: status
        in: query
        description: Filter jobs by their processing status.
        schema:
          $ref: '#/components/schemas/email-security_BulkJobStatus'
      responses:
        '200':
          description: Jobs retrieved successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_BulkJobDetail'
                    result_info:
                      $ref: '#/components/schemas/email-security_CursorResultInfo'
                  required:
                  - result
                  - result_info
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.bulk-actions
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_bulk_job
      summary: Create a bulk action job
      description: Creates a new bulk action job to move or release messages that match the provided search parameters. To move or release an explicit list of known messages instead of a search, use the move or release endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_BulkActionRequest'
      responses:
        '201':
          description: Bulk job created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_BulkJobDetail'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.bulk-actions
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/bulk/{job_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: job_id
      in: path
      description: Identifier of the bulk action job.
      required: true
      schema:
        $ref: '#/components/schemas/email-security_BulkJobId'
    delete:
      operationId: email_security_delete_bulk_job
      summary: Delete a bulk action job
      description: Deletes the job, removing it from all list and detail endpoints. Only jobs in a terminal state (`COMPLETED`, `CANCELLED`, or `FAILED`) can be deleted. To stop an in-progress job without removing it, use the cancel endpoint instead.
      responses:
        '200':
          description: Job deleted.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                      required:
                      - id
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.bulk-actions
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation permanently deletes the completed, cancelled, or failed bulk action job from all list and detail endpoints.
      x-stability: beta
    get:
      operationId: email_security_get_bulk_job
      summary: Get bulk action job details
      description: Returns the status and details of a specific bulk action job.
      responses:
        '200':
          description: Job details retrieved.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_BulkJobDetail'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.bulk-actions
      x-fern-sdk-method-name: get
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/bulk/{job_id}/cancel:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: job_id
      in: path
      description: Identifier of the bulk action job to cancel.
      required: true
      schema:
        $ref: '#/components/schemas/email-security_BulkJobId'
    post:
      operationId: email_security_cancel_bulk_job
      summary: Cancel a bulk action job
      description: Cancels the job, marking it as cancelled and stopping any pending message processing. The job record remains visible in list and detail endpoints.
      responses:
        '200':
          description: Job cancelled.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_BulkJobDetail'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.bulk-actions
      x-fern-sdk-method-name: cancel
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/bulk/{job_id}/messages:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: job_id
      in: path
      description: Identifier of the bulk action job whose messages to list.
      required: true
      schema:
        $ref: '#/components/schemas/email-security_BulkJobId'
    get:
      operationId: email_security_get_bulk_job_messages
      summary: List messages for a bulk action job
      description: Returns the individual messages associated with a bulk action job, including their processing status.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - name: status
        in: query
        description: Filter the job's messages by their processing status.
        schema:
          $ref: '#/components/schemas/email-security_BulkActionMessageStatus'
      responses:
        '200':
          description: Messages for the bulk job.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_BulkActionMessageDetail'
                    result_info:
                      $ref: '#/components/schemas/email-security_CursorResultInfo'
                  required:
                  - result
                  - result_info
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.bulk-actions.messages
      x-fern-sdk-method-name: list
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/move:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_post_bulk_move
      summary: Move messages
      description: Moves one or more messages to a specified mailbox folder (Inbox, JunkEmail, DeletedItems, RecoverableItemsDeletions, or RecoverableItemsPurges). Requires active integration. Operates on an explicit list of messages; to move all messages matching a search, create a bulk action job instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  $ref: '#/components/schemas/email-security_MailboxDestination'
                expected_disposition:
                  description: 'Nonfunctional field. End of life: December 1, 2026.'
                  type:
                  - string
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/email-security_DispositionLabel'
                  deprecated: true
                  x-stainless-deprecation-message: This field is nonfunctional.
                ids:
                  description: List of message IDs to move.
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_InvestigateId'
                  maxItems: 1000
                  minItems: 1
                  x-auditable: true
                postfix_ids:
                  description: 'Deprecated, use `ids` instead. End of life: November 1, 2026.'
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_PostfixId'
                  deprecated: true
                  x-auditable: true
                  x-stainless-deprecation-message: Use `ids` instead.
              required:
              - destination
              - ids
      responses:
        '200':
          description: Bulk move operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_MoveResponseItem'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate
      x-fern-sdk-method-name: move
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/preview:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_post_preview
      summary: Generate preview for a non-detection message
      description: Generates a preview image for a message that was not flagged as a detection. The message is rendered from the copy in the recipient's mailbox, so this requires an active integration and only works while the message is still in the recipient's inbox. Returns a base64-encoded PNG screenshot of the email body. For messages with a detection, use the detection preview endpoint instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/email-security_InvestigateId'
              required:
              - id
      responses:
        '200':
          description: Email preview.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_MessagePreview'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate.preview
      x-fern-sdk-method-name: generate
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/release:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_post_release
      summary: Release messages from quarantine
      description: Delivers one or more quarantined messages to their intended recipients, for cases where a message was incorrectly quarantined. Operates on an explicit list of messages; to release all messages matching a search, create a bulk action job instead. The response includes delivery status for each recipient.
      requestBody:
        description: The messages to release, identified by their investigate IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  description: Investigate IDs of the messages to release.
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_InvestigateId'
                  minItems: 1
                  x-auditable: true
              required:
              - ids
      responses:
        '200':
          description: Release operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_ReleaseResponse'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate
      x-fern-sdk-method-name: release
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/{investigate_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: investigate_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_InvestigateId'
    - $ref: '#/components/parameters/email-security_submission'
    get:
      operationId: email_security_get_message
      summary: Get message details
      description: Retrieves comprehensive details for a specific email message including headers, recipients, sender information, and current quarantine status. Use the investigate_id from search results to fetch detailed information.
      responses:
        '200':
          description: Email message details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_MessageDetails'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate
      x-fern-sdk-method-name: get
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/{investigate_id}/action_log:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: investigate_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_InvestigateId'
    get:
      operationId: email_security_get_message_action_log
      summary: List post-delivery actions for a message
      description: Returns the list of post-delivery actions (moves, quarantine releases, previews, etc.) that have been applied to a specific email message.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      responses:
        '200':
          description: Action log for the email.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_ActionEntry'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate.action-log
      x-fern-sdk-method-name: list
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/{investigate_id}/detections:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: investigate_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_InvestigateId'
    get:
      operationId: email_security_get_message_detections
      summary: Get message detection details
      description: Returns detection details such as threat categories and sender information for messages with a detection.
      responses:
        '200':
          description: Email message detection details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_MessageDetectionDetails'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate.detections
      x-fern-sdk-method-name: get
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/{investigate_id}/move:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: investigate_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_InvestigateId'
    post:
      operationId: email_security_post_message_move
      summary: Move a message
      description: Moves a single message to a specified mailbox folder (Inbox, JunkEmail, DeletedItems, RecoverableItemsDeletions, or RecoverableItemsPurges). Requires active integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  $ref: '#/components/schemas/email-security_MailboxDestination'
                expected_disposition:
                  description: 'Nonfunctional field. End of life: December 1, 2026.'
                  type:
                  - string
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/email-security_DispositionLabel'
                  deprecated: true
                  x-stainless-deprecation-message: This field is nonfunctional.
              required:
              - destination
      responses:
        '200':
          description: Move operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_MoveResponseItem'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-ignore: true
      x-fern-sdk-group-name: email-security.investigate.move
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/{investigate_id}/preview:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: investigate_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_InvestigateId'
    get:
      operationId: email_security_get_message_preview
      summary: Get preview for a detection
      description: Returns a preview of the message body as a base64-encoded PNG image for any message with a detection. For messages without a detection, use the non-detection preview endpoint instead.
      responses:
        '200':
          description: Email preview.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_MessagePreview'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate.preview
      x-fern-sdk-method-name: get
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/{investigate_id}/raw:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: investigate_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_InvestigateId'
    get:
      operationId: email_security_get_message_raw
      summary: Get raw email content
      description: Returns the raw EML content of any message with a detection.
      responses:
        '200':
          description: Raw email content.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_MessageRaw'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate.raw
      x-fern-sdk-method-name: get
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/{investigate_id}/reclassify:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: investigate_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_InvestigateId'
    post:
      operationId: email_security_post_reclassify
      summary: Change email classification
      description: Submits a request to reclassify an email's disposition. Use for reporting false positives or false negatives. Optionally provide the raw EML content for reanalysis. The reclassification is processed asynchronously. Deprecated; use the create submissions endpoint instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_ReclassifyRequest'
      responses:
        '202':
          description: Reclassification request accepted.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: object
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: email-security.investigate.reclassify
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/investigate/{investigate_id}/trace:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: investigate_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_InvestigateId'
    get:
      operationId: email_security_get_message_trace
      summary: Get email trace
      description: Retrieves delivery and processing trace information for an email message. Shows the delivery path, retraction history, and move operations performed on the message. Useful for debugging delivery issues.
      responses:
        '200':
          description: Email trace.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_MessageTrace'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.investigate.trace
      x-fern-sdk-method-name: get
      x-stability: beta
  /accounts/{account_id}/email-security/phishguard/reports:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_get_phishguard_reports
      summary: List PhishGuard reports
      description: Retrieves PhishGuard security alert reports for a specified date range. Reports include detected threats, dispositions, and contextual information. Use for security monitoring and threat analysis.
      parameters:
      - name: start
        in: query
        description: Start of the time range (RFC3339). Takes precedence over from_date.
        schema:
          type: string
          format: date-time
        example: '2020-08-01T00:00:00Z'
      - name: end
        in: query
        description: End of the time range (RFC3339). Takes precedence over to_date.
        schema:
          type: string
          format: date-time
        example: '2020-09-01T00:00:00Z'
      - name: from_date
        in: query
        description: Deprecated, use `start` instead. Start date in YYYY-MM-DD format.
        schema:
          type: string
          format: date
        deprecated: true
        example: '2020-08-01T00:00:00Z'
        x-stainless-deprecation-message: Use `start` instead.
        x-sunset: '2026-11-01T00:00:00Z'
      - name: to_date
        in: query
        description: Deprecated, use `end` instead. End date in YYYY-MM-DD format.
        schema:
          type: string
          format: date
        deprecated: true
        example: '2020-09-01T00:00:00Z'
        x-stainless-deprecation-message: Use `end` instead.
        x-sunset: '2026-11-01T00:00:00Z'
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      responses:
        '200':
          description: List of PhishGuard reports.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_PhishGuardReport'
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.phishguard.reports
      x-fern-sdk-method-name: list
      x-stability: beta
  /accounts/{account_id}/email-security/submissions:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_submissions
      summary: List reclassify submissions
      description: Returns information for submissions made to reclassify emails. Shows the status, outcome, and disposition changes for reclassification requests made by users or the security team. Useful for tracking false positive/negative reports.
      parameters:
      - name: start
        in: query
        description: The beginning of the search date range. Defaults to `now - 30 days`.
        schema:
          type: string
          format: date-time
        example: '2022-06-25T14:30:00Z'
      - name: end
        in: query
        description: The end of the search date range. Defaults to `now`.
        schema:
          type: string
          format: date-time
        example: '2022-07-25T14:30:00Z'
      - name: type
        in: query
        description: Filter by who created the submission — `TEAM` for security team members or `USER` for end users.
        schema:
          type: string
          enum:
          - TEAM
          - USER
      - name: submission_id
        in: query
        description: Filter by a specific submission ID.
        schema:
          type: string
      - name: original_disposition
        in: query
        schema:
          $ref: '#/components/schemas/email-security_SubmissionDisposition'
      - name: requested_disposition
        in: query
        schema:
          $ref: '#/components/schemas/email-security_SubmissionDisposition'
      - name: outcome_disposition
        in: query
        schema:
          $ref: '#/components/schemas/email-security_SubmissionDisposition'
      - name: status
        in: query
        description: Filter by review status — `escalated`, `reviewed`, or `unreviewed`.
        schema:
          type: string
      - name: query
        in: query
        description: Search term for filtering submissions.
        schema:
          type:
          - string
          - 'null'
      - name: escalated_from_user
        in: query
        description: When true, return only submissions that were escalated by an end user (vs. by the security team). When false, return only submissions that were not escalated by an end user. When omitted, no filter is applied.
        schema:
          type: boolean
      - name: order
        in: query
        description: Field to sort by.
        schema:
          type: string
          default: requested_at
          enum:
          - submission_id
          - subject
          - original_disposition
          - requested_disposition
          - outcome_disposition
          - requested_at
      - $ref: '#/components/parameters/email-security_direction'
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      responses:
        '200':
          description: List of submissions.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_Submission'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-api-token-group: null
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.submissions
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_submissions
      summary: Create new submissions
      description: Submits messages for reclassification or to report missed detections.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              discriminator:
                propertyName: type
              oneOf:
              - properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/email-security_ReclassificationSubmission'
                  type:
                    type: string
                    enum:
                    - reclassification
                required:
                - type
                - messages
                type: object
              - properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/email-security_MissedDetectionSubmission'
                  type:
                    type: string
                    enum:
                    - missed_detection
                required:
                - type
                - messages
                type: object
      responses:
        '202':
          description: Submission accepted.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: object
                      properties:
                        results:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_SubmissionResult'
                      required:
                      - results
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.submissions
      x-fern-sdk-method-name: create
      x-stability: beta
components:
  schemas:
    email-security_MailboxDestination:
      description: The mailbox folder to move messages to.
      type: string
      enum:
      - Inbox
      - JunkEmail
      - DeletedItems
      - RecoverableItemsDeletions
      - RecoverableItemsPurges
    email-security_OptionalSubmissionDisposition:
      type:
      - string
      - 'null'
      allOf:
      - $ref: '#/components/schemas/email-security_SubmissionDisposition'
    email-security_InvestigateId:
      description: Unique identifier for a message retrieved from investigation.
      type: string
      example: 4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678
    email-security_ThreatCategory:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
    email-security_BulkJobActionParams:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          destination:
            $ref: '#/components/schemas/email-security_MailboxDestination'
          expected_disposition:
            description: 'Nonfunctional field. End of life: December 1, 2026.'
            type:
            - string
            - 'null'
            allOf:
            - $ref: '#/components/schemas/email-security_DispositionLabel'
            deprecated: true
            x-stainless-deprecation-message: This field is nonfunctional.
            x-sunset: '2026-12-01T00:00:00Z'
          type:
            type: string
            enum:
            - MOVE
        required:
        - type
        - destination
        type: object
      - properties:
          type:
            type: string
            enum:
            - RELEASE
        required:
        - type
        type: object
    email-security_MessageDeliveryStatus:
      description: Delivery status of the message.
      type: string
      enum:
      - delivered
      - moved
      - quarantined
      - rejected
      - deferred
      - bounced
      - queued
      - move_failed
    email-security_ReleaseResponse:
      type: object
      properties:
        delivered:
          type:
          - array
          - 'null'
          items:
            type: string
        failed:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          allOf:
          - $ref: '#/components/schemas/email-security_InvestigateId'
          x-auditable: true
        postfix_id:
          description: 'Deprecated, use `id` instead. End of life: November 1, 2026.'
          allOf:
          - $ref: '#/components/schemas/email-security_PostfixId'
          deprecated: true
          x-stainless-deprecation-message: Use `id` instead.
        undelivered:
          type:
          - array
          - 'null'
          items:
            type: string
      required:
      - id
    email-security_BulkActionMessageDetail:
      type: object
      properties:
        action_params:
          $ref: '#/components/schemas/email-security_BulkMessageActionParams'
        action_type:
          type: string
          enum:
          - MOVE
          - RELEASE
        alert_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        email_message_id:
          type:
          - string
          - 'null'
        message:
          $ref: '#/components/schemas/email-security_MessageDetails'
        message_id:
          type: string
          format: uuid
        postfix_id:
          type: string
        processed_at:
          type:
          - string
          - 'null'
          format: date-time
        retry_after:
          description: When to retry the action if it failed.
          type:
          - string
          - 'null'
          format: date-time
        retry_count:
          type: integer
        status:
          $ref: '#/components/schemas/email-security_BulkActionMessageStatus'
        status_message:
          type:
          - string
          - 'null'
      required:
      - message_id
      - postfix_id
      - action_type
      - action_params
      - status
      - retry_count
      - created_at
    email-security_ValidationStatus:
      type:
      - string
      - 'null'
      enum:
      - pass
      - neutral
      - fail
      - error
      - none
    email-security_BulkJobId:
      description: Bulk action job identifier.
      type: string
      format: uuid
      example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
      x-auditable: true
    email-security_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    email-security_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/email-security_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
        type: object
    email-security_CursorResultInfo:
      type: object
      properties:
        count:
          description: Number of items in current page.
          type: integer
          minimum: 0
        next:
          description: Cursor for next page.
          type:
          - string
          - 'null'
        page:
          description: 'Deprecated: Always returns 0. End of life: November 1, 2026.'
          type: integer
          deprecated: true
          minimum: 0
          x-stainless-deprecation-message: This field always returns 0 and is deprecated.
        per_page:
          description: Number of items per page.
          type: integer
          minimum: 0
        previous:
          description: Cursor for previous page.
          type:
          - string
          - 'null'
        total_count:
          description: 'Deprecated: Always returns 0. End of life: November 1, 2026.'
          type: integer
          deprecated: true
          minimum: 0
          x-stainless-deprecation-message: This field always returns 0 and is deprecated.
      required:
      - per_page
      - count
      - total_count
    email-security_MessageDeliveryMode:
      type:
      - string
      - 'null'
      enum:
      - DIRECT
      - BCC
      - JOURNAL
      - REVIEW_SUBMISSION
      - DMARC_UNVERIFIED
      - DMARC_FAILURE_REPORT
      - DMARC_AGGREGATE_REPORT
      - THREAT_INTEL_SUBMISSION
      - SIMULATION_SUBMISSION
      - API
      - RETRO_SCAN
    email-security_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    email-security_ActionEntryProperties:
      type: object
      properties:
        folder:
          type:
          - string
          - 'null'
        requested_by:
          type:
          - string
          - 'null'
        requested_disposition:
          type:
          - string
          - 'null'
        service:
          type:
          - string
          - 'null'
        submission_id:
          type:
          - string
          - 'null'
        submission_type:
          type:
          - string
          - 'null'
    email-security_BulkJobStatus:
      description: Status of a bulk action job.
      type: string
      enum:
      - PENDING
      - DISCOVERING
      - PROCESSING
      - COMPLETED
      - FAILED
      - CANCELLED
    email-security_BulkActionMessageStatus:
      description: Status of a message within a bulk action job.
      type: string
      enum:
      - PENDING
      - PROCESSING
      - COMPLETED
      - FAILED
      - CANCELLED
      - SKIPPED
    email-security_PhishGuardReport:
      type: object
      properties:
        content:
          type: string
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        disposition:
          $ref: '#/components/schemas/email-security_DispositionLabel'
        fields:
          type: object
          properties:
            from:
              type:
              - string
              - 'null'
            occurred_at:
              type: string
              format: date-time
              readOnly: true
            postfix_id:
              type:
              - string
              - 'null'
            to:
              type: array
              items:
                type: string
            ts:
              description: Deprecated, use `occurred_at` instead.
              type: string
              format: date-time
              deprecated: true
              readOnly: true
              x-stainless-deprecation-message: Use `occurred_at` instead.
          required:
          - to
        id:
          type: integer
        priority:
          type: string
        tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/email-security_PhishGuardReportTag'
        title:
          type: string
        ts:
          description: Deprecated, use `created_at` instead.
          type: string
          format: date-time
          deprecated: true
          readOnly: true
          x-stainless-deprecation-message: Use `created_at` instead.
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
      required:
      - id
      - title
      - content
      - fields
      - priority
      - disposition
    email-security_BulkActionRequest:
      type: object
      properties:
        action:
          description: The action the job performs on every message matching the search parameters.
          type: string
          enum:
          - MOVE
          - RELEASE
        comment:
          description: Optional note describing the job.
          type:
          - string
          - 'null'
        destination:
          description: Required when action is 'MOVE'.
          allOf:
          - $ref: '#/components/schemas/email-security_MailboxDestination'
        expected_disposition:
          description: 'Nonfunctional field. End of life: December 1, 2026.'
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_DispositionLabel'
          deprecated: true
          x-stainless-deprecation-message: This field is nonfunctional.
        search_params:
          $ref: '#/components/schemas/email-security_BulkSearchParams'
      required:
      - action
      - search_params
    email-security_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/email-security_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/email-security_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    email-security_DispositionLabel:
      description: The verdict Email Security assigns to a message.
      type: string
      enum:
      - MALICIOUS
      - MALICIOUS-BEC
      - SUSPICIOUS
      - SPOOF
      - SPAM
      - BULK
      - ENCRYPTED
      - EXTERNAL
      - UNKNOWN
      - NONE
    email-security_BulkSearchParams:
      type: object
      properties:
        action_log:
          description: 'Deprecated, use `GET /investigate/{investigate_id}/action_log` instead. End of life: November 1, 2026.'
          type: boolean
          default: false
          deprecated: true
          x-stainless-deprecation-message: Use GET /investigate/{investigate_id}/action_log instead.
        alert_id:
          description: Alert ID of the detection to filter by.
          type:
          - string
          - 'null'
        delivery_status:
          description: Delivery status to filter by.
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_MessageDeliveryStatus'
        detections_only:
          description: Whether to include only detections in search results.
          type: boolean
          default: true
        domain:
          description: Match messages that mention this domain — sender domain, recipient domain, or a domain in a link.
          type:
          - string
          - 'null'
        end:
          description: End of search date range.
          type: string
          format: date-time
          example: '2022-07-25T14:30:00Z'
        exact_subject:
          description: Match messages whose subject line equals this value exactly.
          type:
          - string
          - 'null'
        final_disposition:
          description: Dispositions to filter by.
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_DispositionLabel'
        message_action:
          description: Message actions to filter by.
          type:
          - string
          - 'null'
          enum:
          - PREVIEW
          - QUARANTINE_RELEASED
          - MOVED
        message_id:
          description: Message-ID header value to filter by.
          type:
          - string
          - 'null'
        metric:
          description: Metric name to filter the search by.
          type:
          - string
          - 'null'
        query:
          description: Space-delimited search term. Case-insensitive.
          type:
          - string
          - 'null'
        recipient:
          description: Match messages whose recipient is this email address or domain.
          type:
          - string
          - 'null'
        sender:
          description: Match messages whose sender is this email address or domain.
          type:
          - string
          - 'null'
        smtp_helo_ip:
          description: Matches messages whose SMTP HELO server IP address equals this value.
          type:
          - string
          - 'null'
        start:
          description: Beginning of search date range.
          type: string
          format: date-time
          example: '2022-06-25T14:30:00Z'
        subject:
          description: Match messages whose subject contains these keywords, in any order.
          type:
          - string
          - 'null'
        submissions:
          description: Whether to search reclassification submissions instead of original messages.
          type: boolean
          default: false
    email-security_Validation:
      type: object
      properties:
        comment:
          type:
          - string
          - 'null'
        dkim:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_ValidationStatus'
        dmarc:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_ValidationStatus'
        spf:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_ValidationStatus'
    email-security_MessagePreview:
      type: object
      properties:
        screenshot:
          description: A base64 encoded PNG image of the email.
          type: string
      required:
      - screenshot
    email-security_Finding:
      description: A single detection finding for a message.
      type: object
      properties:
        attachment:
          type:
          - string
          - 'null'
        detail:
          type:
          - string
          - 'null'
        detection:
          description: Detection result associated with this finding.
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_DispositionLabel'
        field:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        portion:
          type:
          - string
          - 'null'
        reason:
          type:
          - string
          - 'null'
        score:
          type:
          - number
          - 'null'
          format: double
        value:
          type:
          - string
          - 'null'
    email-security_SubmissionResult:
      type: object
      properties:
        accepted:
          type: boolean
        error:
          type:
          - string
          - 'null'
        id:
          type: string
      required:
      - id
      - accepted
    email-security_MessageHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
      required:
      - name
      - value
    email-security_Link:
      type: object
      properties:
        href:
          type: string
        text:
          type:
          - string
          - 'null'
      required:
      - href
    email-security_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/email-security_api-response-common'
    email-security_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/email-security_messages'
        messages:
          $ref: '#/components/schemas/email-security_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    email-security_Submission:
      type: object
      properties:
        customer_status:
          $ref: '#/components/schemas/email-security_CustomerStatus'
        escalated_as:
          $ref: '#/components/schemas/email-security_OptionalSubmissionDisposition'
        escalated_at:
          description: When the submission was escalated to the security team.
          type:
          - string
          - 'null'
          format: date-time
        escalated_by:
          description: Email address of the user who escalated the submission.
          type:
          - string
          - 'null'
        escalated_submission_id:
          description: Submission ID of the escalated team submission, when this user submission was escalated.
          type:
          - string
          - 'null'
        original_disposition:
          $ref: '#/components/schemas/email-security_OptionalSubmissionDisposition'
        original_edf_hash:
          description: EDF hash of the original message.
          type:
          - string
          - 'null'
        original_postfix_id:
          description: The postfix ID of the original message that was submitted.
          type:
          - string
          - 'null'
        outcome:
          description: Processing outcome of the submission.
          type:
          - string
          - 'null'
        outcome_disposition:
          $ref: '#/components/schemas/email-security_OptionalSubmissionDisposition'
        requested_at:
          description: When the submission was requested (UTC).
          type: string
          format: date-time
        requested_by:
          description: Email address of the user who requested the submission.
          type:
          - string
          - 'null'
        requested_disposition:
          $ref: '#/components/schemas/email-security_OptionalSubmissionDisposition'
        requested_ts:
          description: Deprecated, use `requested_at` instead.
          type: string
          deprecated: true
          readOnly: true
          x-stainless-deprecation-message: Use `requested_at` instead.
        status:
          description: Processing status of the submission.
          type:
          - string
          - 'null'
        subject:
          description: Subject line of the submitted message.
          type:
          - string
          - 'null'
        submission_id:
          type: string
          x-auditable: true
        type:
          description: Indicates whether a team member or an end user created the submission.
          type:
          - string
          - 'null'
          enum:
          - Team
          - User
      required:
      - submission_id
      - requested_at
    email-security_ReclassifyRequest:
      type: object
      properties:
        eml_content:
          description: Base64 encoded content of the EML file.
          type: string
        escalated_submission_id:
          description: Submission ID of the original user submission, when reclassifying an escalated user report.
          type: string
          x-auditable: true
        expected_disposition:
          description: The disposition the message should have.
          type: string
          enum:
          - NONE
          - BULK
          - MALICIOUS
          - SPAM
          - SPOOF
          - SUSPICIOUS
      required:
      - expected_disposition
    email-security_BulkJobDetail:
      type: object
      properties:
        action_params:
          $ref: '#/components/schemas/email-security_BulkJobActionParams'
        action_type:
          type: string
          enum:
          - MOVE
          - RELEASE
        comment:
          type:
          - string
          - 'null'
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        job_id:
          type: string
          format: uuid
        messages_cancelled:
          description: 'Messages that were cancelled: rows cancelled via the API before being claimed, and rows whose in-flight attempt ended when the job reached a terminal state. Together the counters satisfy total_messages_discovered = messages_pending + messages_successful + messages_failed + messages_skipped + messages_cancelled.'
          type: integer
        messages_failed:
          type: integer
        messages_pending:
          type: integer
        messages_skipped:
          description: Messages that discovery skipped (for example, phish submissions, which the job cannot action).
          type: integer
        messages_successful:
          type: integer
        search_params:
          $ref: '#/components/schemas/email-security_BulkSearchParams'
        started_at:
          type:
          - string
          - 'null'
          format: date-time
        status:
          $ref: '#/components/schemas/email-security_BulkJobStatus'
        status_message:
          type:
          - string
          - 'null'
        total_messages_discovered:
          type: integer
      required:
      - job_id
      - action_type
      - action_params
      - search_params
      - status
      - total_messages_discovered
      - messages_pending
      - messages_successful
      - messages_failed
      - messages_skipped
      - messages_cancelled
      - created_at
    email-security_TraceLine:
      type: object
      properties:
        lineno:
          description: Line number in the trace log.
          type: integer
        logged_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        message:
          type: string
        ts:
          description: 'Deprecated, use `logged_at` instead. End of life: November 1, 2026.'
          type: string
          deprecated: true
          readOnly: true
          x-stainless-deprecation-message: Use `logged_at` instead.
    email-security_BulkMessageActionParams:
      discriminator:
        propertyName: type
      oneOf:
      - properties:
          client_recipient:
            type: string
          destination:
            $ref: '#/components/schemas/email-security_MailboxDestination'
          expected_disposition:
            description: 'Nonfunctional field. End of life: December 1, 2026.'
            type:
            - string
            - 'null'
            allOf:
            - $ref: '#/components/schemas/email-security_DispositionLabel'
            deprecated: true
            x-stainless-deprecation-message: This field is nonfunctional.
            x-sunset: '2026-12-01T00:00:00Z'
          type:
            type: string
            enum:
            - MOVE
        required:
        - type
        - destination
        - client_recipient
        type: object
      - properties:
          client_recipient:
            type: string
          type:
            type: string
            enum:
            - RELEASE
        required:
        - type
        - client_recipient
        type: object
    email-security_MessageDetails:
      type: object
      properties:
        action_log:
          description: 'Deprecated, use `GET /investigate/{investigate_id}/action_log` instead. End of life: November 1, 2026.'
          type: array
          items:
            $ref: '#/components/schemas/email-security_ActionLogEntry'
          deprecated: true
          x-stainless-deprecation-message: Use GET /investigate/{investigate_id}/action_log instead.
        alert_id:
          type:
          - string
          - 'null'
        client_recipients:
          type: array
          items:
            type: string
        delivery_mode:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_MessageDeliveryMode'
        delivery_status:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/email-security_MessageDeliveryStatus'
        detection_reasons:
          type: array
          items:
            type: string
        edf_hash:
          type:
          - string
          - 'null'
        envelope_from:
          type:
          - string
          - 'null'
        envelope_to:
          type:
          - array
          - 'null'
          items:
            type: string
        final_disposition:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_DispositionLabel'
        findings:
          description: 'Deprecated, use the `findings` field from `GET /investigate/{investigate_id}/detections` instead. End of life: November 1, 2026. Detection findings for this message.'
          type:
          - array
          - 'null'
          items:
            properties:
              attachment:
                type:
                - string
                - 'null'
              detail:
                type:
                - string
                - 'null'
              detection:
                type:
                - string
                - 'null'
                allOf:
                - $ref: '#/components/schemas/email-security_DispositionLabel'
              field:
                type:
                - string
                - 'null'
              name:
                type:
                - string
                - 'null'
              portion:
                type:
                - string
                - 'null'
              reason:
                type:
                - string
                - 'null'
              score:
                type:
                - number
                - 'null'
                format: double
              value:
                type:
                - string
                - 'null'
            type: object
          deprecated: true
          x-stainless-deprecation-message: Use the `findings` field from GET /investigate/{investigate_id}/detections instead.
        from:
          type:
          - string
          - 'null'
        from_name:
          type:
          - string
          - 'null'
        htmltext_structure_hash:
          type:
          - string
          - 'null'
        id:
          allOf:
          - $ref: '#/components/schemas/email-security_InvestigateId'
          x-auditable: true
        is_phish_submission:
          type: boolean
        is_quarantined:
          type: boolean
        message_id:
          type:
          - string
          - 'null'
        post_delivery_operations:
          description: Post-delivery operations performed on this message.
          type:
          - array
          - 'null'
          items:
            enum:
            - PREVIEW
            - QUARANTINE_RELEASE
            - SUBMISSION
            - MOVE
            type: string
        postfix_id:
          $ref: '#/components/schemas/email-security_PostfixId'
        postfix_id_outbound:
          type:
          - string
          - 'null'
        properties:
          description: Message processing properties.
          type: object
          properties:
            allowlisted_pattern:
              description: Pattern that allowlisted this message.
              type:
              - string
              - 'null'
            allowlisted_pattern_type:
              description: Type of allowlist pattern.
              enum:
              - quarantine_release
              - acceptable_sender
              - allowed_sender
              - allowed_recipient
              - domain_similarity
              - domain_recency
              - managed_acceptable_sender
              - outbound_ndr
              type:
              - string
              - 'null'
            blocklisted_message:
              description: Whether message was blocklisted.
              type:
              - boolean
              - 'null'
            blocklisted_pattern:
              description: Pattern that blocklisted this message.
              type:
              - string
              - 'null'
            whitelisted_pattern_type:
              description: Legacy field for allowlist pattern type.
              enum:
              - quarantine_release
              - acceptable_sender
              - allowed_sender
              - allowed_recipient
              - domain_similarity
              - domain_recency
              - managed_acceptable_sender
              - outbound_ndr
              type:
              - string
              - 'null'
        replyto:
          type:
          - string
          - 'null'
        scanned_at:
          description: When the message was scanned (UTC).
          type:
          - string
          - 'null'
          format: date-time
        sent_at:
          description: When the message was sent (UTC).
          type:
          - string
          - 'null'
          format: date-time
        sent_date:
          type:
          - string
          - 'null'
        smtp_helo_server_ip:
          type:
          - string
          - 'null'
        smtp_previous_hop_ip:
          type:
          - string
          - 'null'
        subject:
          type:
          - string
          - 'null'
        threat_categories:
          type:
          - array
          - 'null'
          items:
            type: string
        to:
          type:
          - array
          - 'null'
          items:
            type: string
        to_name:
          type:
          - array
          - 'null'
          items:
            type: string
        ts:
          description: 'Deprecated, use `scanned_at` instead. End of life: November 1, 2026.'
          type: string
          deprecated: true
          readOnly: true
          x-stainless-deprecation-message: Use `scanned_at` instead.
        validation:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_Validation'
        x_originating_ip:
          type:
          - string
          - 'null'
      required:
      - id
      - ts
      - client_recipients
      - postfix_id
      - detection_reasons
      - action_log
      - is_quarantined
      - is_phish_submission
      - properties
    email-security_MessageTrace:
      type: object
      properties:
        inbound:
          type: object
          properties:
            lines:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/email-security_TraceLine'
            pending:
              type:
              - boolean
              - 'null'
        outbound:
          type: object
          properties:
            lines:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/email-security_TraceLine'
            pending:
              type:
              - boolean
              - 'null'
      required:
      - inbound
      - outbound
    email-security_PhishGuardReportTag:
      type: object
      properties:
        category:
          type: string
        value:
          type: string
      required:
      - category
      - value
    email-security_MissedDetectionSubmission:
      type: object
      properties:
        eml_content:
          description: Base64 encoded content of the EML file.
          type: string
        escalated_submission_id:
          description: Submission ID of the original user submission, when escalating an escalated user report.
          type: string
          x-auditable: true
        expected_disposition:
          $ref: '#/components/schemas/email-security_SubmissionDisposition'
        message_id:
          description: Message-ID header value of the reported message.
          type: string
          x-auditable: true
        postfix_id:
          $ref: '#/components/schemas/email-security_PostfixId'
        recipient_emails:
          description: Recipient email addresses of the reported message.
          type: array
          items:
            type: string
            x-auditable: true
          minItems: 1
      required:
      - postfix_id
      - expected_disposition
      - message_id
      - recipient_emails
    email-security_ReclassificationSubmission:
      type: object
      properties:
        alert_id:
          description: Alert ID of the detection to reclassify.
          type: string
          x-auditable: true
        escalated_submission_id:
          description: Submission ID of the original user submission, when reclassifying an escalated user report.
          type: string
          x-auditable: true
        expected_disposition:
          $ref: '#/components/schemas/email-security_SubmissionDisposition'
      required:
      - alert_id
      - expected_disposition
    email-security_ActionLogEntry:
      type: object
      properties:
        completed_at:
          description: Timestamp when action completed.
          type: string
          format: date-time
          readOnly: true
        completed_timestamp:
          description: 'Deprecated, use `completed_at` instead. End of life: November 1, 2026.'
          type: string
          deprecated: true
          readOnly: true
          x-stainless-deprecation-message: Use `completed_at` instead.
        operation:
          description: Type of action performed.
          type: string
          enum:
          - MOVE
          - RELEASE
          - RECLASSIFY
          - SUBMISSION
          - QUARANTINE_RELEASE
          - PREVIEW
        properties:
          description: Additional properties for the action.
          type: object
          properties:
            folder:
              description: Target folder for move operations.
              type: string
            requested_by:
              description: User who requested the action.
              type: string
        status:
          description: Status of the action.
          type:
          - string
          - 'null'
      required:
      - completed_at
      - operation
    email-security_Attachment:
      type: object
      properties:
        content_type:
          description: MIME type of the attachment.
          type:
          - string
          - 'null'
        detection:
          description: Detection result for this attachment.
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_DispositionLabel'
        encrypted:
          description: Whether the attachment is encrypted.
          type:
          - boolean
          - 'null'
        filename:
          description: Name of the attached file.
          type:
          - string
          - 'null'
        md5:
          description: MD5 hash of the attachment.
          type:
          - string
          - 'null'
        name:
          description: Attachment name (alternative to filename).
          type:
          - string
          - 'null'
        sha1:
          description: SHA1 hash of the attachment.
          type:
          - string
          - 'null'
        sha256:
          description: SHA256 hash of the attachment.
          type:
          - string
          - 'null'
        size:
          description: Size of the attachment in bytes.
          type: integer
          minimum: 0
      required:
      - size
    email-security_MessageDetectionDetails:
      type: object
      properties:
        action:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/email-security_Attachment'
        final_disposition:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_DispositionLabel'
        findings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/email-security_Finding'
        headers:
          type: array
          items:
            $ref: '#/components/schemas/email-security_MessageHeader'
        links:
          type: array
          items:
            $ref: '#/components/schemas/email-security_Link'
        sender_info:
          type: object
          properties:
            as_name:
              description: The name of the autonomous system.
              type:
              - string
              - 'null'
            as_number:
              description: The number of the autonomous system.
              type:
              - integer
              - 'null'
            geo:
              type:
              - string
              - 'null'
            ip:
              type:
              - string
              - 'null'
            pld:
              type:
              - string
              - 'null'
        threat_categories:
          type: array
          items:
            $ref: '#/components/schemas/email-security_ThreatCategory'
        validation:
          $ref: '#/components/schemas/email-security_Validation'
      required:
      - validation
      - headers
      - threat_categories
      - sender_info
      - links
      - action
      - attachments
      - findings
    email-security_PostfixId:
      description: The identifier of the message.
      type: string
      example: 4Njp3P0STMz2c02Q
    email-security_ActionEntry:
      type: object
      properties:
        completed_at:
          description: Timestamp when the action completed.
          type:
          - string
          - 'null'
          format: date-time
        operation:
          type: string
          enum:
          - PREVIEW
          - QUARANTINE_RELEASE
          - SUBMISSION
          - MOVE
        properties:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/email-security_ActionEntryProperties'
        started_at:
          description: Timestamp when the action was initiated.
          type:
          - string
          - 'null'
          format: date-time
        status:
          type:
          - string
          - 'null'
        success:
          type:
          - boolean
          - 'null'
      required:
      - operation
    email-security_MoveResponseItem:
      type: object
      properties:
        completed_at:
          description: When the move operation completed (UTC).
          type:
          - string
          - 'null'
          format: date-time
        completed_timestamp:
          description: 'Deprecated, use `completed_at` instead. End of life: November 1, 2026.'
          type: string
          format: date-time
          deprecated: true
          x-stainless-deprecation-message: Use `completed_at` instead.
        destination:
          description: Destination folder for the message.
          type:
          - string
          - 'null'
        item_count:
          description: 'Number of items moved. End of life: November 1, 2026.'
          type: integer
          deprecated: true
          x-stainless-deprecation-message: This field is deprecated.
        message_id:
          description: Message identifier.
          type:
          - string
          - 'null'
        operation:
          description: Type of operation performed.
          type:
          - string
          - 'null'
        recipient:
          description: Recipient email address.
          type:
          - string
          - 'null'
        status:
          description: Operation status.
          type:
          - string
          - 'null'
        success:
          description: Whether the operation succeeded.
          type: boolean
      required:
      - success
    email-security_CustomerStatus:
      type:
      - string
      - 'null'
      enum:
      - escalated
      - reviewed
      - unreviewed
    email-security_SubmissionDisposition:
      description: The disposition a message is submitted to have.
      type: string
      enum:
      - MALICIOUS
      - SUSPICIOUS
      - SPOOF
      - SPAM
      - BULK
      - NONE
    email-security_MessageRaw:
      type: object
      properties:
        raw:
          description: A UTF-8 encoded eml file of the email.
          type: string
      required:
      - raw
  parameters:
    email-security_page:
      description: Current page within paginated list of results.
      in: query
      name: page
      schema:
        type: integer
        example: 1
        default: 1
        minimum: 1
    email-security_per_page:
      description: The number of results per page. Maximum value is 1000.
      in: query
      name: per_page
      schema:
        type: integer
        example: 20
        default: 20
        maximum: 1000
        minimum: 1
    email-security_submission:
      description: 'When true, search the submissions datastore only. When false or omitted, search the

        regular datastore only.'
      in: query
      name: submission
      schema:
        type: boolean
    email-security_account_id:
      description: Account identifier tag.
      in: path
      name: account_id
      required: true
      schema:
        $ref: '#/components/schemas/email-security_identifier'
    email-security_direction:
      description: The sorting direction.
      in: query
      name: direction
      schema:
        type: string
        enum:
        - asc
        - desc
  responses:
    email-security_ClientError:
      description: Client error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/email-security_api-response-common-failure'
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
[...]
