openapi: 3.2.0
info:
  title: Cloudflare D1 Time Travel API
  description: The Cloudflare D1 API provides endpoints for managing serverless SQL databases on Cloudflare's network. Developers can create, list, and delete databases, execute raw queries, import and export database contents, and use time travel to restore databases to previous states.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Time Travel
  description: Browse and restore D1 databases to previous points in time.
paths:
  /accounts/{account_id}/d1/database/{database_id}/time_travel/bookmark:
    get:
      operationId: getD1Bookmark
      summary: Cloudflare Get D1 Database Bookmark
      description: Retrieve the current or a historical bookmark for the database, which represents a point-in-time snapshot.
      tags:
      - Time Travel
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/DatabaseId'
      responses:
        '200':
          description: Bookmark retrieved.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{account_id}/d1/database/{database_id}/time_travel/restore:
    post:
      operationId: restoreD1Database
      summary: Cloudflare Restore D1 Database
      description: Restore the database to a previous state using a bookmark from time travel.
      tags:
      - Time Travel
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/DatabaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - bookmark
              properties:
                bookmark:
                  type: string
                  description: The bookmark identifier to restore to.
            examples:
              Restored1databaseRequestExample:
                summary: Default restoreD1Database request
                x-microcks-default: true
                value:
                  bookmark: example_value
      responses:
        '200':
          description: Database restored successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    DatabaseId:
      name: database_id
      in: path
      required: true
      description: The unique identifier of the D1 database.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with D1 permissions.
externalDocs:
  description: Cloudflare D1 API Documentation
  url: https://developers.cloudflare.com/api/resources/d1/
