openapi: 3.2.0
info:
  title: Cloudflare Workers Scripts API
  description: Cloudflare Workers allows developers to deploy serverless code to Cloudflare's global network. The Workers API provides endpoints for managing worker scripts, versions, deployments, routes, custom domains, secrets, cron triggers, and configuration including bindings.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Scripts
  description: Upload, download, and manage Worker scripts by name.
paths:
  /accounts/{account_id}/workers/scripts:
    get:
      operationId: listScripts
      summary: Cloudflare List Worker Scripts
      description: Retrieve a list of all Worker scripts for the account.
      tags:
      - Scripts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of Worker scripts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptListResponse'
              examples:
                Listscripts200Example:
                  summary: Default listScripts 200 response
                  x-microcks-default: true
                  value:
                    result:
                    - id: abc123
                      tag: example_value
                      etag: example_value
                      created_on: '2026-01-15T10:30:00Z'
                      modified_on: '2026-01-15T10:30:00Z'
                    success: true
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{account_id}/workers/scripts/{script_name}:
    get:
      operationId: downloadScript
      summary: Cloudflare Download Worker Script
      description: Download a Worker script by name. Returns the script content.
      tags:
      - Scripts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      responses:
        '200':
          description: Worker script content.
        '401':
          description: Unauthorized.
        '404':
          description: Script not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: uploadScript
      summary: Cloudflare Upload Worker Script
      description: Upload or update a Worker script by name using multipart form data or JSON with base64-encoded content.
      tags:
      - Scripts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      responses:
        '200':
          description: Script uploaded successfully.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteScript
      summary: Cloudflare Delete Worker Script
      description: Delete a Worker script by name.
      tags:
      - Scripts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      responses:
        '200':
          description: Script deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Script not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ScriptListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The script identifier.
              tag:
                type: string
                description: The unique tag for the script.
              etag:
                type: string
                description: The ETag of the script.
              created_on:
                type: string
                format: date-time
              modified_on:
                type: string
                format: date-time
          example: []
        success:
          type: boolean
          example: true
  parameters:
    ScriptName:
      name: script_name
      in: path
      required: true
      description: The name of the Worker script.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication with Workers permissions.
externalDocs:
  description: Cloudflare Workers API Documentation
  url: https://developers.cloudflare.com/api/resources/workers/
