openapi: 3.2.0
info:
  title: Cloudflare D1 Import/Export API
  description: The Cloudflare D1 API provides endpoints for managing serverless SQL databases on Cloudflare's network. Developers can create, list, and delete databases, execute raw queries, import and export database contents, and use time travel to restore databases to previous states.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Import Export
  description: Import SQL into and export SQL from D1 databases.
paths:
  /accounts/{account_id}/d1/database/{database_id}/export:
    post:
      operationId: exportD1Database
      summary: Cloudflare Export D1 Database
      description: Export the database contents as SQL. Returns a URL for downloading the SQL dump.
      tags:
      - Import Export
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/DatabaseId'
      responses:
        '200':
          description: Export initiated successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{account_id}/d1/database/{database_id}/import:
    post:
      operationId: importD1Database
      summary: Cloudflare Import Sql Into D1 Database
      description: Import SQL into the database. Returns a temporary upload URL and import status.
      tags:
      - Import Export
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/DatabaseId'
      responses:
        '200':
          description: Import initiated successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    DatabaseId:
      name: database_id
      in: path
      required: true
      description: The unique identifier of the D1 database.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with D1 permissions.
externalDocs:
  description: Cloudflare D1 API Documentation
  url: https://developers.cloudflare.com/api/resources/d1/
