openapi: 3.0.3
info:
  title: Cloudflare / Accounts Metadata API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Metadata
  description: Read metadata associated with keys.
paths:
  /accounts/{account_id}/storage/kv/namespaces/{namespace_id}/metadata/{key_name}:
    get:
      operationId: readKvMetadata
      summary: Cloudflare Read Key Metadata
      description: Retrieve metadata associated with a specific key.
      tags:
      - Metadata
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      - $ref: '#/components/parameters/KeyName'
      responses:
        '200':
          description: Key metadata.
        '401':
          description: Unauthorized.
        '404':
          description: Key not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    NamespaceId:
      name: namespace_id
      in: path
      required: true
      description: The unique identifier of the KV namespace.
      schema:
        type: string
    KeyName:
      name: key_name
      in: path
      required: true
      description: The key name. Use URL-encoding for special characters such as colon, exclamation mark, and percent.
      schema:
        type: string
