openapi: 3.2.0
info:
  title: Cloudflare Namespaces API
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
  description: 'Operations tagged Namespaces across 2 of this provider''s published API definitions: cloudflare-durable-objects-openapi.yml, cloudflare-kv-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Namespaces
  description: Manage Durable Object namespaces that group related object instances.
paths:
  /accounts/{account_id}/workers/durable_objects/namespaces:
    get:
      operationId: listDurableObjectNamespaces
      summary: Cloudflare List Durable Object Namespaces
      description: Returns all Durable Object namespaces for the account.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of Durable Object namespaces.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResponse'
              examples:
                Listdurableobjectnamespaces200Example:
                  summary: Default listDurableObjectNamespaces 200 response
                  x-microcks-default: true
                  value:
                    result:
                    - id: abc123
                      name: Example Title
                      script: example_value
                      class: example_value
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
  /accounts/{account_id}/storage/kv/namespaces:
    get:
      operationId: listKvNamespaces
      summary: Cloudflare List Kv Namespaces
      description: Returns a paginated list of all KV namespaces for the account.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: page
        in: query
        description: Page number of results.
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: per_page
        in: query
        description: Number of results per page.
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: List of KV namespaces.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResponse_2'
              examples:
                Listkvnamespaces200Example:
                  summary: Default listKvNamespaces 200 response
                  x-microcks-default: true
                  value:
                    result:
                    - id: abc123
                      title: Example Title
                      supports_url_encoding: https://www.example.com
                    success: true
                    result_info:
                      page: 10
                      per_page: 10
                      count: 10
                      total_count: 10
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createKvNamespace
      summary: Cloudflare Create Kv Namespace
      description: Create a new KV namespace for the account.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  description: A human-readable title for the namespace.
            examples:
              CreatekvnamespaceRequestExample:
                summary: Default createKvNamespace request
                x-microcks-default: true
                value:
                  title: Example Title
      responses:
        '200':
          description: Namespace created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResponse'
              examples:
                Createkvnamespace200Example:
                  summary: Default createKvNamespace 200 response
                  x-microcks-default: true
                  value:
                    result:
                      id: abc123
                      title: Example Title
                      supports_url_encoding: https://www.example.com
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
  /accounts/{account_id}/storage/kv/namespaces/{namespace_id}:
    get:
      operationId: getKvNamespace
      summary: Cloudflare Get Kv Namespace
      description: Retrieve details of a specific KV namespace.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      responses:
        '200':
          description: Namespace details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResponse'
              examples:
                Getkvnamespace200Example:
                  summary: Default getKvNamespace 200 response
                  x-microcks-default: true
                  value:
                    result:
                      id: abc123
                      title: Example Title
                      supports_url_encoding: https://www.example.com
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '401':
          description: Unauthorized.
        '404':
          description: Namespace not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: renameKvNamespace
      summary: Cloudflare Rename Kv Namespace
      description: Rename a KV namespace.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  description: The new title for the namespace.
            examples:
              RenamekvnamespaceRequestExample:
                summary: Default renameKvNamespace request
                x-microcks-default: true
                value:
                  title: Example Title
      responses:
        '200':
          description: Namespace renamed successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Namespace not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteKvNamespace
      summary: Cloudflare Delete Kv Namespace
      description: Delete a KV namespace and all its key-value pairs.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      responses:
        '200':
          description: Namespace deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Namespace not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
components:
  schemas:
    DurableObjectNamespace:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the namespace.
          example: abc123
        name:
          type: string
          description: The name of the namespace.
          example: Example Title
        script:
          type: string
          description: The Worker script associated with the namespace.
          example: example_value
        class:
          type: string
          description: The Durable Object class name.
          example: example_value
    NamespaceListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/DurableObjectNamespace'
          example: []
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
    Namespace:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the namespace.
          example: abc123
        title:
          type: string
          description: The human-readable title of the namespace.
          example: Example Title
        supports_url_encoding:
          type: boolean
          description: Whether the namespace supports URL-encoded keys.
          example: https://www.example.com
    NamespaceResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/Namespace'
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
    NamespaceListResponse_2:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/Namespace'
          example: []
        success:
          type: boolean
          example: true
        result_info:
          type: object
          properties:
            page:
              type: integer
            per_page:
              type: integer
            count:
              type: integer
            total_count:
              type: integer
          example: example_value
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    NamespaceId:
      name: namespace_id
      in: path
      required: true
      description: The unique identifier of the KV namespace.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Workers permissions.
x-refined-from:
- cloudflare-durable-objects-openapi.yml
- cloudflare-kv-openapi.yml
