openapi: 3.2.0
info:
  title: Cloudflare KV Metadata API
  description: Cloudflare Workers KV is a global, low-latency key-value data store. The KV API allows developers to create namespaces, write and read key-value pairs, list keys, perform bulk operations with support for up to 10,000 key-value pairs per request, and manage key metadata.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Metadata
  description: Read metadata associated with keys.
paths:
  /accounts/{account_id}/storage/kv/namespaces/{namespace_id}/metadata/{key_name}:
    get:
      operationId: readKvMetadata
      summary: Cloudflare Read Key Metadata
      description: Retrieve metadata associated with a specific key.
      tags:
      - Metadata
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      - $ref: '#/components/parameters/KeyName'
      responses:
        '200':
          description: Key metadata.
        '401':
          description: Unauthorized.
        '404':
          description: Key not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    NamespaceId:
      name: namespace_id
      in: path
      required: true
      description: The unique identifier of the KV namespace.
      schema:
        type: string
    KeyName:
      name: key_name
      in: path
      required: true
      description: The key name. Use URL-encoding for special characters such as colon, exclamation mark, and percent.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Workers KV Storage permissions.
externalDocs:
  description: Cloudflare KV API Documentation
  url: https://developers.cloudflare.com/api/resources/kv/
