openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare R2 Bucket API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: R2 Bucket
paths:
  /accounts/{account_id}/event_notifications/r2/{bucket_name}/configuration:
    get:
      operationId: r2-get-event-notification-configs
      summary: List Event Notification Rules
      description: Lists event notification rules for an R2 bucket, grouped by the Cloudflare Queue that receives matching object events.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Read Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket-config'
                  type: object
        '404':
          description: No Configuration Found response.
          content:
            application/json:
              example:
                errors:
                - code: 11015
                  message: workers.api.error.no_configs_found_for_bucket
                messages:
                - Request failed.
                result: null
                success: false
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
        4XX:
          description: Read Configuration failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      - Workers R2 Storage Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.event-notifications
      x-fern-sdk-method-name: list
  /accounts/{account_id}/event_notifications/r2/{bucket_name}/configuration/queues/{queue_id}:
    delete:
      operationId: r2-event-notification-delete-config
      summary: Delete Event Notification Rules
      description: Deletes the specified event notification rules for an R2 bucket and Cloudflare Queue. Provide ruleIds in the request body to select rules. If no body is provided, all rules for that bucket and queue are deleted.
      parameters:
      - name: queue_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_queue_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ruleIds:
                  description: Array of rule ids to delete.
                  type: array
                  items:
                    description: rule ids to be deleted.
                    type: string
      responses:
        '200':
          description: Delete Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
        4XX:
          description: Delete Configuration failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.event-notifications
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This deletes event notification rules for the selected R2 bucket and queue. Without a request body, all rules for that bucket and queue are deleted.
    get:
      operationId: r2-get-event-notification-config
      summary: Get Event Notification Rules for a Queue
      description: Gets the event notification rules for the specified R2 bucket and Cloudflare Queue. The response includes the queue's configuration and its array of rules.
      parameters:
      - name: queue_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_queue_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Read Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_queues-config'
                  type: object
        '404':
          description: No Configuration Found response.
          content:
            application/json:
              example:
                errors:
                - code: 11015
                  message: workers.api.error.no_configs_found_for_bucket
                messages:
                - Request failed.
                result: null
                success: false
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
        4XX:
          description: Read Configuration failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      - Workers R2 Storage Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.event-notifications
      x-fern-sdk-method-name: get
    put:
      operationId: r2-put-event-notification-config
      summary: Create Event Notification Rules
      description: Creates rules that send notifications for matching R2 object events to the specified Cloudflare Queue. Rules can filter objects by key prefix and suffix. New rules are added to any existing rules for the queue; a rule that overlaps an existing rule is rejected.
      parameters:
      - name: queue_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_queue_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  description: Array of rules to drive notifications.
                  type: array
                  items:
                    $ref: '#/components/schemas/r2_rule'
                  minItems: 1
              required:
              - rules
      responses:
        '200':
          description: Create Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
        4XX:
          description: Create Configuration failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.event-notifications
      x-fern-sdk-method-name: update
  /accounts/{account_id}/r2/buckets:
    get:
      operationId: r2-list-buckets
      summary: List Buckets
      description: Lists a page of R2 buckets in the account and selected jurisdiction. Use the returned cursor to retrieve the next page.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: name_contains
        in: query
        schema:
          description: Bucket names to filter by. Only buckets with this phrase in their name will be returned.
          type: string
          example: my-bucket
      - name: start_after
        in: query
        schema:
          description: Bucket name to start searching after. Buckets are ordered lexicographically.
          type: string
          example: my-bucket
      - name: per_page
        in: query
        schema:
          description: Maximum number of buckets to return in a single call.
          type: number
          default: 20
          maximum: 1000
          minimum: 1
      - name: order
        in: query
        schema:
          description: Field to order buckets by.
          type: string
          enum:
          - name
      - name: direction
        in: query
        schema:
          description: Direction to order buckets.
          type: string
          example: desc
          enum:
          - asc
          - desc
      - name: cursor
        in: query
        schema:
          description: Pagination cursor received during the last List Buckets call. R2 buckets are paginated using cursors instead of page numbers.
          type: string
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: List Buckets response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response_list'
                - properties:
                    result:
                      type: object
                      properties:
                        buckets:
                          type: array
                          items:
                            $ref: '#/components/schemas/r2_bucket'
                  type: object
        4XX:
          description: List Buckets response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      - Workers R2 Storage Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets
      x-fern-sdk-method-name: list
    post:
      operationId: r2-create-bucket
      summary: Create Bucket
      description: Creates an R2 bucket in the account and selected jurisdiction, with an optional location hint and default storage class.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                locationHint:
                  $ref: '#/components/schemas/r2_bucket_location'
                name:
                  $ref: '#/components/schemas/r2_bucket_name'
                storageClass:
                  $ref: '#/components/schemas/r2_storage_class'
              example: '{"name": "example-bucket"}'
              required:
              - name
      responses:
        '200':
          description: Create Bucket response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket'
                  type: object
        4XX:
          description: Create Bucket response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets
      x-fern-sdk-method-name: create
  /accounts/{account_id}/r2/buckets/{bucket_name}:
    delete:
      operationId: r2-delete-bucket
      summary: Delete Bucket
      description: Deletes an empty R2 bucket and its configuration. The bucket must have no objects, no in-progress multipart uploads, and no event notification rules; otherwise the request fails.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Delete Bucket response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response'
        4XX:
          description: Delete Bucket response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This permanently deletes the empty R2 bucket and its configuration.
    get:
      operationId: r2-get-bucket
      summary: Get Bucket
      description: Gets properties of an existing R2 bucket.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Get Bucket response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket'
                  type: object
        4XX:
          description: Get Bucket response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets
      x-fern-sdk-method-name: get
    patch:
      operationId: r2-patch-bucket
      summary: Patch Bucket
      description: Changes the default storage class for newly uploaded objects in an existing R2 bucket. Existing objects retain their storage class, and individual uploads can override the bucket default.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      - name: cf-r2-storage-class
        in: header
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/r2_storage_class'
          x-stainless-param: storage_class
      responses:
        '200':
          description: Patch Bucket response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket'
                  type: object
        4XX:
          description: Get Bucket response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets
      x-fern-sdk-method-name: edit
    put:
      operationId: r2-create-bucket-by-name
      summary: Create Bucket (by name)
      description: Creates a new R2 bucket using the name from the URL path. Similar to `r2-create-bucket` (POST), but the bucket name comes from the path and the optional storage class is supplied via the `cf-r2-storage-class` header. There is no request body. Unlike the POST variant, this endpoint does not accept a location hint — the bucket is placed in the R2 region for the caller's edge colo. Use the POST variant if you need to set a `locationHint`.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      - name: cf-r2-storage-class
        in: header
        schema:
          allOf:
          - $ref: '#/components/schemas/r2_storage_class'
          x-stainless-param: storage_class
      responses:
        '200':
          description: Create Bucket response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket'
                  type: object
        4XX:
          description: Create Bucket response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets
      x-fern-sdk-method-name: create-by-name
      x-forge-hidden: true
  /accounts/{account_id}/r2/buckets/{bucket_name}/cors:
    delete:
      operationId: r2-delete-bucket-cors-policy
      summary: Delete Bucket CORS Policy
      description: Delete the CORS policy for a bucket.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.cors
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This removes the R2 bucket's CORS policy. Browser requests that depend on these cross-origin permissions may fail.
    get:
      operationId: r2-get-bucket-cors-policy
      summary: Get Bucket CORS Policy
      description: Get the CORS policy for a bucket.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      type: object
                      properties:
                        rules:
                          type: array
                          items:
                            $ref: '#/components/schemas/r2_cors-rule'
                  type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.cors
      x-fern-sdk-method-name: get
    put:
      operationId: r2-put-bucket-cors-policy
      summary: Set Bucket CORS Policy
      description: Replaces the Cross-Origin Resource Sharing (CORS) rules for an R2 bucket. Rules specify which origins, methods, and headers are allowed for browser requests to objects in the bucket.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/r2_cors-rule'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.cors
      x-fern-sdk-method-name: update
      x-forge-require-confirmation: This replaces the R2 bucket's CORS policy. Browser requests that relied on the previous rules may fail.
  /accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom:
    get:
      operationId: r2-list-custom-domains
      summary: List Custom Domains of Bucket
      description: Gets a list of all custom domains registered with an existing R2 bucket.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: List Custom Domains response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_list_custom_domains_response'
                  type: object
        4XX:
          description: List Custom Domains response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.domains.custom
      x-fern-sdk-method-name: list
    post:
      operationId: r2-add-custom-domain
      summary: Attach Custom Domain To Bucket
      description: Register a new custom domain for an existing R2 bucket.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/r2_add_custom_domain_request'
      responses:
        '200':
          description: Add Custom Domain response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_add_custom_domain_response'
                  type: object
        4XX:
          description: Add Custom Domain response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.domains.custom
      x-fern-sdk-method-name: create
  /accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom/{domain}:
    delete:
      operationId: r2-delete-custom-domain
      summary: Remove Custom Domain From Bucket
      description: Disconnects a custom domain from an R2 bucket and removes its configuration. Access through other enabled custom domains or the bucket's r2.dev domain is unaffected.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: domain
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_domain_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Delete Custom Domain response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_remove_custom_domain_response'
                  type: object
        4XX:
          description: Delete Custom Domain response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.domains.custom
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This disconnects the custom domain from the R2 bucket. Access through other enabled domains remains available.
    get:
      operationId: r2-get-custom-domain-settings
      summary: Get Custom Domain Settings
      description: Get the configuration for a custom domain on an existing R2 bucket.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: domain
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_domain_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Get Custom Domain Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      allOf:
                      - $ref: '#/components/schemas/r2_get_custom_domain_response'
                  type: object
        4XX:
          description: Get Custom Domain Configuration response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      - Workers R2 Storage Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.domains.custom
      x-fern-sdk-method-name: get
    put:
      operationId: r2-edit-custom-domain-settings
      summary: Configure Custom Domain Settings
      description: Edit the configuration for a custom domain on an existing R2 bucket.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: domain
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_domain_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/r2_edit_custom_domain_request'
      responses:
        '200':
          description: Edit Custom Domain Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      allOf:
                      - $ref: '#/components/schemas/r2_edit_custom_domain_response'
                  type: object
        4XX:
          description: Edit Custom Domain Configuration response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.domains.custom
      x-fern-sdk-method-name: update
  /accounts/{account_id}/r2/buckets/{bucket_name}/domains/managed:
    get:
      operationId: r2-get-bucket-public-policy
      summary: Get r2.dev Domain of Bucket
      description: Gets the R2 bucket's managed r2.dev domain and whether public access is enabled. The r2.dev domain is rate-limited and intended for development use.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Get Managed Subdomain response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_managed_domain_response'
                  type: object
        4XX:
          description: Get Managed Subdomain response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.domains.managed
      x-fern-sdk-method-name: list
    put:
      operationId: r2-put-bucket-public-policy
      summary: Update r2.dev Domain of Bucket
      description: Enables or disables public access to the R2 bucket through its managed r2.dev domain. Custom domain access is unaffected. The r2.dev domain is rate-limited and intended for development use.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/r2_edit_managed_domain_request'
      responses:
        '200':
          description: Update Managed Subdomain response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_managed_domain_response'
                  type: object
        4XX:
          description: Update Managed Subdomain response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.domains.managed
      x-fern-sdk-method-name: update
      x-forge-require-confirmation: This changes public access to the R2 bucket through its r2.dev domain.
  /accounts/{account_id}/r2/buckets/{bucket_name}/jobs:
    get:
      operationId: r2-list-bucket-jobs
      summary: List Bucket Jobs
      description: 'Lists background jobs for an R2 bucket, including prefix-delete (and bucket-emptying)

        jobs and storage-class migration jobs. Jobs of every type are returned unless `jobType`

        is provided.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      - name: jobType
        in: query
        description: Restricts results to jobs of the specified type.
        schema:
          type: string
          enum:
          - prefixDelete
          - storageClassMigration
      - name: status
        in: query
        description: Restricts results to jobs with the specified status. `jobType` is required when this parameter is provided.
        schema:
          $ref: '#/components/schemas/r2_r2_bucket_job_status'
      - name: maxKeys
        in: query
        description: Maximum number of jobs to return.
        schema:
          type: integer
          maximum: 1000
          minimum: 0
      - name: continuationToken
        in: query
        description: Pagination token received as `nextContinuationToken` in the previous response.
        schema:
          type: string
      responses:
        '200':
          description: List Bucket Jobs response.
          content:
            application/json:
              examples:
                running-job:
                  summary: A bucket-emptying job is still running
                  value:
                    errors: []
                    messages: []
                    result:
                      jobs:
                      - id: 7f24658b-31d7-4b91-9a12-cb5a2c99b294
                        jobType: prefixDelete
                        prefixDelete:
                          deletedObjects: 1350
                          isBucketClear: true
                          prefix: ''
                        startTime: '2026-07-20T12:00:00Z'
                        status: RUNNING
                      nextContinuationToken: eyJ2IjoxLCJzdGFydEFmdGVyIjoiLi4uIn0=
                    success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_r2_bucket_jobs_result'
                  type: object
        4XX:
          description: List Bucket Jobs response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.jobs
      x-fern-sdk-method-name: list
    post:
      operationId: r2-create-bucket-job
      summary: Create Bucket Job
      description: 'Creates a background job for an R2 bucket. The `jobType` field selects the job:


        - **`prefixDelete`**: deletes every object whose key begins with `prefix`. A non-empty

        prefix must end in `/`. An empty prefix (`""`) empties the entire bucket.

        - **`storageClassMigration`**: migrates every object in the bucket between storage

        classes. `sourceStorageClass` and `destinationStorageClass` must be provided together

        and must differ; omitting both migrates from `InfrequentAccess` to `Standard`.


        Poll the returned `id` with the Get Bucket Job endpoint. Small prefix-delete jobs can

        finish synchronously and return `COMPLETED`. Objects uploaded after a background job

        starts are not affected by that job.


        For prefix-delete jobs: abort active multipart uploads before submitting the request,

        since a synchronously completed job does not abort them, and avoid writing objects or

        starting multipart uploads while a bucket-emptying job is in progress. Each request

        creates a distinct job, and the number of active prefix-delete jobs is limited per

        bucket; wait for an existing job to finish before retrying a request rejected with

        HTTP 429. A bucket cannot be emptied while event notifications are configured (HTTP 409

        / error code 10083). To protect a bucket with R2 Data Catalog enabled, send the

        `cf-r2-data-catalog-check` header; a conflict is returned with HTTP 409 / error code

        10081.


        Prefix-delete jobs require permission to delete objects; storage-class migration jobs

        require permission to write to the bucket.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      - name: cf-r2-data-catalog-check
        in: header
        description: For prefix-delete jobs, set this header to reject the request when R2 Data Catalog is enabled for the bucket.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            examples:
              delete-prefix:
                summary: Delete every object under a prefix
                value:
                  jobType: prefixDelete
                  prefix: logs/2026/
              empty-bucket:
                summary: Empty the entire bucket
                value:
                  jobType: prefixDelete
                  prefix: ''
              migrate-to-infrequent-access:
                summary: Migrate every object to Infrequent Access
                value:
                  destinationStorageClass: InfrequentAccess
                  jobType: storageClassMigration
                  sourceStorageClass: Standard
            schema:
              discriminator:
                mapping:
                  prefixDelete: '#/components/schemas/r2_create_prefix_delete_job_request'
                  storageClassMigration: '#/components/schemas/r2_create_storage_class_migration_job_request'
                propertyName: jobType
              oneOf:
              - $ref: '#/components/schemas/r2_r2_create_prefix_delete_job_request'
              - $ref: '#/components/schemas/r2_r2_create_storage_class_migration_job_request'
      responses:
        '200':
          description: The created job.
          content:
            application/json:
              examples:
                empty-bucket-completed:
                  summary: A small or already empty bucket completed immediately
                  value:
                    errors: []
                    messages: []
                    result:
                      endTime: '2026-07-20T12:00:00Z'
                      id: 69f94626-a3fe-47bc-9615-e791b4d53c53
                      jobType: prefixDelete
                      prefixDelete:
                        deletedObjects: 0
                        isBucketClear: true
                        prefix: ''
                      startTime: '2026-07-20T12:00:00Z'
                      status: COMPLETED
                    success: true
                empty-bucket-submitted:
                  summary: Empty Bucket job submitted
                  value:
                    errors: []
                    messages: []
                    result:
                      id: 7f24658b-31d7-4b91-9a12-cb5a2c99b294
                      jobType: prefixDelete
                      prefixDelete:
                        deletedObjects: 0
                        isBucketClear: true
                        prefix: ''
                      startTime: '2026-07-20T12:00:00Z'
                      status: ENQUEUED
                    success: true
                migration-submitted:
                  summary: Storage-class migration job submitted
                  value:
                    errors: []
                    messages: []
                    result:
                      id: 3c1f9a52-0b8e-4f5d-9d0e-4a1b2c3d4e5f
                      jobType: storageClassMigration
                      startTime: '2026-09-04T12:00:00Z'
                      status: ENQUEUED
                      storageClassMigration:
                        destinationStorageClass: InfrequentAccess
                        migratedObjects: 0
                        sourceStorageClass: Standard
                    success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_r2_bucket_job'
                  type: object
        '409':
          description: 'Prefix-delete conflict. Event notification rules are still configured (error code

            10083), or the Data Catalog check was requested and R2 Data Catalog is enabled for

            the bucket (error code 10081). Remove the conflicting configuration before retrying.

            '
          content:
            application/json:
              examples:
                event-notifications-active:
                  summary: Event notification rules must be removed first
                  value:
                    errors:
                    - code: 10083
                      message: Remove all event notification rules from bucket (example-bucket) before emptying it (account 023e105f4ecef8ad9ca31a8372d0c353).
                    messages:
                    - Request failed.
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
        '429':
          description: Too many active prefix-delete or bucket-emptying jobs. Wait for an existing job to finish, then retry.
          content:
            application/json:
              examples:
                too-many-jobs:
                  summary: The per-bucket active job limit was reached
                  value:
                    errors:
                    - code: 10058
                      message: Too many concurrent prefix delete jobs for this bucket. Please wait for existing jobs to complete.
                    messages:
                    - Request failed.
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
        4XX:
          description: Create Bucket Job response failure. The request body may be invalid, the bucket may not exist, or the caller may not be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.jobs
      x-fern-sdk-method-name: create
      x-forge-require-confirmation: This starts a background job that either permanently deletes every object under the given prefix (every object in the bucket for an empty prefix) or migrates every object in the bucket between storage classes.
  /accounts/{account_id}/r2/buckets/{bucket_name}/jobs/{job_id}:
    get:
      operationId: r2-get-bucket-job
      summary: Get Bucket Job
      description: 'Gets the current status of a background job of any type for an R2 bucket. Poll this

        endpoint with the job identifier returned by Create Bucket Job until the status is

        `COMPLETED`, `FAILED`, or `CANCELLED`.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: job_id
        in: path
        description: Identifier returned when the background job was submitted.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Get Bucket Job response.
          content:
            application/json:
              examples:
                completed-empty-bucket:
                  summary: A bucket-emptying job has completed
                  value:
                    errors: []
                    messages: []
                    result:
                      endTime: '2026-07-20T12:14:31Z'
                      id: 7f24658b-31d7-4b91-9a12-cb5a2c99b294
                      jobType: prefixDelete
                      prefixDelete:
                        deletedObjects: 2481
                        isBucketClear: true
                        prefix: ''
                      startTime: '2026-07-20T12:00:00Z'
                      status: COMPLETED
                    success: true
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_r2_bucket_job'
                  type: object
        4XX:
          description: Get Bucket Job response failure. The bucket or job may not exist, or the caller may not be authorized to access it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.jobs
      x-fern-sdk-method-name: get
  /accounts/{account_id}/r2/buckets/{bucket_name}/lifecycle:
    get:
      operationId: r2-get-bucket-lifecycle-configuration
      summary: Get Object Lifecycle Rules
      description: Get object lifecycle rules for a bucket.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_lifecycle-config'
                  type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.lifecycle
      x-fern-sdk-method-name: get
    put:
      operationId: r2-put-bucket-lifecycle-configuration
      summary: Set Object Lifecycle Rules
      description: Replaces the object lifecycle rules for an R2 bucket. Rules match object-key prefixes and can expire objects, abort incomplete multipart uploads, or transition objects to Infrequent Access storage.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/r2_lifecycle-rule'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.lifecycle
      x-fern-sdk-method-name: update
      x-forge-require-confirmation: This replaces the R2 bucket's object lifecycle rules and can schedule object deletion or abort multipart uploads.
  /accounts/{account_id}/r2/buckets/{bucket_name}/local-uploads:
    get:
      operationId: r2-get-bucket-local-uploads-configuration
      summary: Get Local Uploads Configuration
      description: Gets the Local Uploads configuration for an R2 bucket. When enabled, object data is written near the client before being asynchronously copied to the bucket's primary region. Local Uploads is only supported in the default jurisdiction.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_local_uploads_configuration'
                  type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
      x-fern-availability: beta
      x-fern-sdk-group-name: r2.buckets.local-uploads
      x-fern-sdk-method-name: get
    put:
      operationId: r2-put-bucket-local-uploads-configuration
      summary: Set Local Uploads Configuration
      description: Enables or disables Local Uploads for an R2 bucket in the default jurisdiction. When enabled, object data is written near the client before being asynchronously copied to the bucket's primary region. Disabling Local Uploads allows existing replication to finish.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  description: Whether to enable local uploads for this bucket.
                  type: boolean
                  x-auditable: true
              required:
              - enabled
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
      x-fern-availability: beta
      x-fern-sdk-group-name: r2.buckets.local-uploads
      x-fern-sdk-method-name: update
  /accounts/{account_id}/r2/buckets/{bucket_name}/lock:
    delete:
      operationId: r2-delete-bucket-lock-configuration
      summary: Delete Bucket Lock Rules
      description: Delete all lock rules for a bucket.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.locks
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This removes all lock rules from the R2 bucket, removing their protection against object deletion and overwriting.
    get:
      operationId: r2-get-bucket-lock-configuration
      summary: Get Bucket Lock Rules
      description: Get lock rules for a bucket.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_bucket-lock-rule-config'
                  type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.locks
      x-fern-sdk-method-name: get
    put:
      operationId: r2-put-bucket-lock-configuration
      summary: Set Bucket Lock Rules
      description: Replaces the lock rules for an R2 bucket. Enabled rules prevent matching objects from being overwritten or deleted for a duration, until a date, or indefinitely. Rules apply to existing and newly uploaded objects.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/r2_bucket-lock-rule'
      responses:
        '200':
          description: Success Response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - type: object
        4XX:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.locks
      x-fern-sdk-method-name: update
      x-forge-require-confirmation: This replaces the R2 bucket's lock rules. Removing or shortening retention can allow objects to be overwritten or deleted.
  /accounts/{account_id}/r2/buckets/{bucket_name}/sippy:
    delete:
      operationId: r2-delete-bucket-sippy-config
      summary: Disable Sippy
      description: Disables Sippy on-demand migration for an R2 bucket. Requests no longer fetch missing objects from the source storage provider. Objects already copied to R2 remain in the bucket.
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Delete Sippy Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          enum:
                          - false
                  type: object
        4XX:
          description: Delete Sippy Configuration response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-api-token-group:
      - Workers R2 Storage Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.sippy
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This disables Sippy on-demand migration for the R2 bucket. Objects already copied to R2 remain in the bucket.
    get:
      operationId: r2-get-bucket-sippy-config
      summary: Get Sippy Configuration
      description: Gets configuration for Sippy for an existing R2 bucket.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      responses:
        '200':
          description: Get Sippy Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_sippy'
                  type: object
        4XX:
          description: Get Sippy Configuration response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.sippy
      x-fern-sdk-method-name: get
    put:
      operationId: r2-put-bucket-sippy-config
      summary: Enable Sippy
      description: Configures and enables Sippy on-demand migration for an R2 bucket. When a requested object is missing from R2, Sippy serves it from the configured source storage provider and copies it to R2.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      - name: bucket_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_bucket_name'
      - $ref: '#/components/parameters/r2_cf-r2-jurisdiction'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/r2_enable_sippy_aws'
              - $ref: '#/components/schemas/r2_enable_sippy_gcs'
              - $ref: '#/components/schemas/r2_enable_sippy_s3'
              - $ref: '#/components/schemas/r2_enable_sippy_azure'
      responses:
        '200':
          description: Set Sippy Configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_sippy'
                  type: object
        4XX:
          description: Get Sippy Configuration response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.edge.r2.bucket.write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.buckets.sippy
      x-fern-sdk-method-name: update
  /accounts/{account_id}/r2/temp-access-credentials:
    post:
      operationId: r2-create-temp-access-credentials
      summary: Create Temporary Access Credentials
      description: Creates temporary access credentials on a bucket that can be optionally scoped to prefixes or objects.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/r2_account_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/r2_temp_access_creds_request'
      responses:
        '200':
          description: Create temporary access credentials response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/r2_v4_response'
                - properties:
                    result:
                      $ref: '#/components/schemas/r2_temp_access_creds_response'
                  type: object
        4XX:
          description: Create temporary access credentials response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/r2_v4_response_failure'
      security:
      - api_token: []
      tags:
      - R2 Bucket
      x-fern-availability: generally-available
      x-fern-sdk-group-name: r2.temporary-credentials
      x-fern-sdk-method-name: create
components:
  schemas:
    r2_enable_sippy_aws:
      properties:
        destination:
          description: R2 bucket to copy objects to.
          type: object
          properties:
            accessKeyId:
              description: 'ID of a Cloudflare API token.

                This is the value labelled "Access Key ID" when creating an API.

                token from the [R2 dashboard](https://dash.cloudflare.com/?to=/:account/r2/api-tokens).


                Sippy will use this token when writing objects to R2, so it is

                best to scope this token to the bucket you''re enabling Sippy for.

                '
              type: string
            provider:
              type: string
              enum:
              - r2
              x-auditable: true
            secretAccessKey:
              description: 'Value of a Cloudflare API token.

                This is the value labelled "Secret Access Key" when creating an API.

                token from the [R2 dashboard](https://dash.cloudflare.com/?to=/:account/r2/api-tokens).


                Sippy will use this token when writing objects to R2, so it is

                best to scope this token to the bucket you''re enabling Sippy for.

                '
              type: string
              x-sensitive: true
        source:
          description: AWS S3 bucket to copy objects from.
          type: object
          properties:
            accessKeyId:
              description: Access Key ID of an IAM credential (ideally scoped to a single S3 bucket).
              type: string
            bucket:
              description: Name of the AWS S3 bucket.
              type: string
              x-auditable: true
            provider:
              type: string
              enum:
              - aws
              x-auditable: true
            region:
              description: AWS region containing the source S3 bucket.
              type: string
              x-auditable: true
            secretAccessKey:
              description: Secret Access Key of an IAM credential (ideally scoped to a single S3 bucket).
              type: string
              x-sensitive: true
    r2_managed_domain_response:
      type: object
      properties:
        bucketId:
          description: Bucket ID.
          type: string
          maxLength: 32
          x-auditable: true
        domain:
          description: Domain name of the bucket's r2.dev domain.
          type: string
          x-auditable: true
        enabled:
          description: Whether this bucket is publicly accessible at the r2.dev domain.
          type: boolean
          x-auditable: true
      example:
        bucketId: 0113a9e4549cf9b1ff1bf56e04da0cef
        domain: pub-0113a9e4549cf9b1ff1bf56e04da0cef.r2.dev
        enabled: true
      required:
      - bucketId
      - domain
      - enabled
    r2_r2_create_storage_class_migration_job_request:
      description: Request body that creates a storage-class migration job.
      type: object
      properties:
        destinationStorageClass:
          type: string
          enum:
          - Standard
          - InfrequentAccess
        jobType:
          type: string
          enum:
          - storageClassMigration
        sourceStorageClass:
          type: string
          enum:
          - Standard
          - InfrequentAccess
      additionalProperties: false
      required:
      - jobType
      title: Storage Class Migration Job
    r2_add_custom_domain_request:
      type: object
      properties:
        ciphers:
          description: An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format.
          type: array
          items:
            type: string
          x-auditable: true
        domain:
          description: Name of the custom domain to be added.
          type: string
          x-auditable: true
        enabled:
          description: Whether to enable public bucket access at the custom domain. If undefined, the domain will be enabled.
          type: boolean
          x-auditable: true
        minTLS:
          description: Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0.
          type: string
          enum:
          - '1.0'
          - '1.1'
          - '1.2'
          - '1.3'
          x-auditable: true
        zoneId:
          description: Zone ID of the custom domain.
          type: string
          x-auditable: true
      example:
        domain: prefix.example-domain.com
        enabled: true
        zoneId: 36ca64a6d92827b8a6b90be344bb1bfd
      required:
      - domain
      - zoneId
      - enabled
    r2_sippy:
      type: object
      properties:
        destination:
          description: Details about the configured destination bucket.
          type: object
          properties:
            accessKeyId:
              description: 'ID of the Cloudflare API token used when writing objects to this

                bucket.

                '
              type: string
            account:
              type: string
              x-auditable: true
            bucket:
              description: Name of the bucket on the provider.
              type: string
              x-auditable: true
            provider:
              type: string
              enum:
              - r2
              x-auditable: true
        enabled:
          description: State of Sippy for this bucket.
          type: boolean
          x-auditable: true
        source:
          description: Details about the configured source bucket.
          type: object
          properties:
            bucket:
              description: Name of the bucket on the provider (AWS, GCS only).
              type:
              - string
              - 'null'
              x-auditable: true
            bucketUrl:
              description: S3-compatible URL (Generic S3-compatible providers only).
              type:
              - string
              - 'null'
              x-auditable: true
            container:
              description: Name of the Azure Blob Storage container (Azure only).
              type:
              - string
              - 'null'
              x-auditable: true
            provider:
              type: string
              enum:
              - aws
              - gcs
              - s3
              - azure
              x-auditable: true
            region:
              description: Region where the bucket resides (AWS only).
              type:
              - string
              - 'null'
              x-auditable: true
    r2_bucket:
      description: A single R2 bucket.
      type: object
      properties:
        creation_date:
          description: Creation timestamp.
          type: string
        jurisdiction:
          $ref: '#/components/schemas/r2_jurisdiction'
        location:
          $ref: '#/components/schemas/r2_bucket_location'
        name:
          $ref: '#/components/schemas/r2_bucket_name'
        storage_class:
          $ref: '#/components/schemas/r2_storage_class'
    r2_lifecycle-age-condition:
      description: Condition for lifecycle transitions to apply after an object reaches an age in seconds.
      type: object
      properties:
        maxAge:
          type: integer
          x-auditable: true
        type:
          type: string
          enum:
          - Age
          x-auditable: true
      required:
      - type
      - maxAge
    r2_get_custom_domain_response:
      type: object
      properties:
        ciphers:
          description: An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format.
          type: array
          items:
            type: string
          x-auditable: true
        domain:
          description: Domain name of the custom domain to be added.
          type: string
          x-auditable: true
        enabled:
          description: Whether this bucket is publicly accessible at the specified custom domain.
          type: boolean
          x-auditable: true
        minTLS:
          description: Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0.
          type: string
          enum:
          - '1.0'
          - '1.1'
          - '1.2'
          - '1.3'
          x-auditable: true
        status:
          type: object
          properties:
            ownership:
              description: Ownership status of the domain.
              type: string
              enum:
              - pending
              - active
              - deactivated
              - blocked
              - error
              - unknown
              x-auditable: true
            ssl:
              description: SSL certificate status.
              type: string
              enum:
              - initializing
              - pending
              - active
              - deactivated
              - error
              - unknown
              x-auditable: true
          required:
          - ssl
          - ownership
        zoneId:
          description: Zone ID of the custom domain resides in.
          type: string
          x-auditable: true
        zoneName:
          description: Zone that the custom domain resides in.
          type: string
          x-auditable: true
      example:
        domain: prefix.example-domain.one.com
        enabled: false
        status:
          ownership: deactivated
          ssl: pending
        zoneId: 36ca64a6d92827b8a6b90be344bb1bfd
        zoneName: example-domain.one.com
      required:
      - domain
      - status
      - enabled
    r2_remove_custom_domain_response:
      type: object
      properties:
        domain:
          description: Name of the removed custom domain.
          type: string
          x-auditable: true
      example:
        domain: example-domain/custom-domain.com
      required:
      - domain
    r2_cors-rule:
      type: object
      properties:
        allowed:
          description: Object specifying allowed origins, methods and headers for this CORS rule.
          type: object
          properties:
            headers:
              description: Specifies the value for the Access-Control-Allow-Headers header R2 sets when requesting objects in this bucket from a browser. Cross-origin requests that include custom headers (e.g. x-user-id) should specify these headers as AllowedHeaders.
              type: array
              items:
                example: x-requested-by
                type: string
                x-auditable: true
            methods:
              description: Specifies the value for the Access-Control-Allow-Methods header R2 sets when requesting objects in a bucket from a browser.
              type: array
              items:
                enum:
                - GET
                - PUT
                - POST
                - DELETE
                - HEAD
                type: string
                x-auditable: true
            origins:
              description: Specifies the value for the Access-Control-Allow-Origin header R2 sets when requesting objects in a bucket from a browser.
              type: array
              items:
                example: http://localhost:3000
                type: string
                x-auditable: true
          required:
          - methods
          - origins
        exposeHeaders:
          description: Specifies the headers that can be exposed back, and accessed by, the JavaScript making the cross-origin request. If you need to access headers beyond the safelisted response headers, such as Content-Encoding or cf-cache-status, you must specify it here.
          type: array
          items:
            example: Content-Encoding
            type: string
            x-auditable: true
        id:
          description: Identifier for this rule.
          type: string
          example: Allow Local Development
          x-auditable: true
        maxAgeSeconds:
          description: Specifies the amount of time (in seconds) browsers are allowed to cache CORS preflight responses. Browsers may limit this to 2 hours or less, even if the maximum value (86400) is specified.
          type: number
          example: 3600
          x-auditable: true
      required:
      - allowed
    r2_lock-rule-indefinite-condition:
      description: Condition to apply a lock rule indefinitely.
      type: object
      properties:
        type:
          type: string
          enum:
          - Indefinite
          x-auditable: true
      required:
      - type
    r2_lock-rule-age-condition:
      description: Condition to apply a lock rule to an object for how long in seconds.
      type: object
      properties:
        maxAgeSeconds:
          type: integer
          example: 100
          x-auditable: true
        type:
          type: string
          enum:
          - Age
          x-auditable: true
      required:
      - type
      - maxAgeSeconds
    r2_add_custom_domain_response:
      type: object
      properties:
        ciphers:
          description: An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format.
          type: array
          items:
            type: string
          x-auditable: true
        domain:
          description: Domain name of the affected custom domain.
          type: string
          x-auditable: true
        enabled:
          description: Whether this bucket is publicly accessible at the specified custom domain.
          type: boolean
        minTLS:
          description: Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0.
          type: string
          enum:
          - '1.0'
          - '1.1'
          - '1.2'
          - '1.3'
          x-auditable: true
        zoneId:
          description: Zone ID of the custom domain.
          type: string
          x-auditable: true
      example:
        domain: example-domain.com
        enabled: true
        zoneId: 36ca64a6d92827b8a6b90be344bb1bfd
      required:
      - domain
      - enabled
      - zoneId
    r2_queue_identifier:
      description: ID of the Cloudflare Queue that receives notifications for matching R2 object events.
      type: string
      example: 11111aa1-11aa-111a-a1a1-a1a111a11a11
      maxLength: 32
      x-auditable: true
    r2_lock-rule-date-condition:
      description: Condition to apply a lock rule to an object until a specific date.
      type: object
      properties:
        date:
          type: string
          format: date-time
          x-auditable: true
        type:
          type: string
          enum:
          - Date
          x-auditable: true
      required:
      - type
      - date
    r2_r2-action:
      type: string
      enum:
      - PutObject
      - CopyObject
      - DeleteObject
      - CompleteMultipartUpload
      - LifecycleDeletion
      x-auditable: true
    r2_r2_prefix_delete_job:
      description: 'Descriptor of a prefix-delete job. An empty prefix indicates a job that empties the

        whole bucket.

        '
      type: object
      properties:
        endTime:
          description: 'When the job finished. Absent while the job is still `ENQUEUED` or `RUNNING`.

            '
          type: string
          format: date-time
        id:
          description: Unique identifier used to poll the job.
          type: string
        jobType:
          description: The job kind.
          type: string
          enum:
          - prefixDelete
        prefixDelete:
          description: Details specific to the prefix-delete job.
          type: object
          properties:
            deletedObjects:
              description: Number of objects deleted by the job so far.
              type: integer
              example: 0
            isBucketClear:
              description: 'True when the job was created to clear the entire bucket. This field can be absent

                on jobs created before Empty Bucket job tracking was introduced.

                '
              type: boolean
            prefix:
              description: The prefix matched against object keys. An empty string means the entire bucket.
              type: string
              example: path/to/
          required:
          - prefix
          - deletedObjects
        startTime:
          description: When the job was created.
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/r2_r2_bucket_job_status'
      required:
      - id
      - jobType
      - status
      - startTime
      - prefixDelete
    r2_messages:
      type: array
      items:
        type: string
    r2_v4_response:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/r2_errors'
        messages:
          $ref: '#/components/schemas/r2_messages'
        result:
          type: object
        success:
          description: Whether the API call was successful.
          type: boolean
          enum:
          - true
      required:
      - success
      - errors
      - messages
      - result
    r2_result_info:
      type: object
      properties:
        cursor:
          description: A continuation token that should be used to fetch the next page of results.
          type: string
          example: 1-JTdCJTIydiUyMiUzQTElMkMlMjJzdGFydEFmdGVyJTIyJTNBJTIyZGF2aWRwdWJsaWMlMjIlN0Q=
        per_page:
          description: Maximum number of results on this page.
          type: number
          example: 20
    r2_temp_access_creds_request:
      type: object
      properties:
        bucket:
          description: Name of the R2 bucket.
          type: string
          x-auditable: true
        objects:
          description: Optional object paths to scope the credentials to.
          type: array
          items:
            type: string
            x-auditable: true
        parentAccessKeyId:
          description: Access key ID of the parent R2 API token. The temporary credentials cannot exceed this token's permissions.
          type: string
        permission:
          description: Permissions allowed on the credentials.
          type: string
          enum:
          - admin-read-write
          - admin-read-only
          - object-read-write
          - object-read-only
          x-auditable: true
        prefixes:
          description: Optional prefix paths to scope the credentials to.
          type: array
          items:
            type: string
            x-auditable: true
        ttlSeconds:
          description: Lifetime of the temporary credentials in seconds, up to 604800 seconds (7 days).
          type: number
          default: 900
          maximum: 604800
          x-auditable: true
      example:
        bucket: example-bucket
        objects:
        - example-object
        parentAccessKeyId: example-access-key-id
        permission: object-read-write
        prefixes:
        - example-prefix/
        ttlSeconds: 3600
      required:
      - bucket
      - permission
      - ttlSeconds
      - parentAccessKeyId
    r2_v4_response_list:
      allOf:
      - $ref: '#/components/schemas/r2_v4_response'
      - properties:
          result_info:
            $ref: '#/components/schemas/r2_result_info'
        type: object
    r2_enable_sippy_gcs:
      properties:
        destination:
          description: R2 bucket to copy objects to.
          type: object
          properties:
            accessKeyId:
              description: 'ID of a Cloudflare API token.

                This is the value labelled "Access Key ID" when creating an API.

                token from the [R2 dashboard](https://dash.cloudflare.com/?to=/:account/r2/api-tokens).


                Sippy will use this token when writing objects to R2, so it is

                best to scope this token to the bucket you''re enabling Sippy for.

                '
              type: string
            provider:
              type: string
              enum:
              - r2
            secretAccessKey:
              description: 'Value of a Cloudflare API token.

                This is the value labelled "Secret Access Key" when creating an API.

                token from the [R2 dashboard](https://dash.cloudflare.com/?to=/:account/r2/api-tokens).


                Sippy will use this token when writing objects to R2, so it is

                best to scope this token to the bucket you''re enabling Sippy for.

                '
              type: string
              x-sensitive: true
        source:
          description: GCS bucket to copy objects from.
          type: object
          properties:
            bucket:
              description: Name of the GCS bucket.
              type: string
              x-auditable: true
            clientEmail:
              description: Client email of an IAM credential (ideally scoped to a single GCS bucket).
              type: string
            privateKey:
              description: Private Key of an IAM credential (ideally scoped to a single GCS bucket).
              type: string
              x-sensitive: true
            provider:
              type: string
              enum:
              - gcs
    r2_queues-config:
      type: object
      properties:
        queueId:
          description: Queue ID.
          type: string
          example: 11111aa1-11aa-111a-a1a1-a1a111a11a11
          x-auditable: true
        queueName:
          description: Name of the queue.
          type: string
          example: first-queue
          x-auditable: true
        rules:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/r2_rule'
            - properties:
                createdAt:
                  description: Timestamp when the rule was created.
                  type: string
                  example: '2024-09-19T21:54:48.405Z'
                  x-auditable: true
                description:
                  description: A description that can be used to identify the event notification rule after creation.
                  type: string
                  example: Notifications from source bucket to queue
                  x-auditable: true
                ruleId:
                  description: Rule ID.
                  type: string
                  example: 11111aa1-11aa-111a-a1a1-a1a111a11a11
                  x-auditable: true
              type: object
    r2_lifecycle-config:
      type: object
      properties:
        rules:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/r2_lifecycle-rule'
    r2_errors:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          message:
            type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
    r2_bucket-lock-rule:
      type: object
      properties:
        condition:
          oneOf:
          - $ref: '#/components/schemas/r2_lock-rule-age-condition'
          - $ref: '#/components/schemas/r2_lock-rule-date-condition'
          - $ref: '#/components/schemas/r2_lock-rule-indefinite-condition'
        enabled:
          description: Whether or not this rule is in effect.
          type: boolean
          x-auditable: true
        id:
          description: Unique identifier for this rule.
          type: string
          example: Lock all objects for 24 hours
          x-auditable: true
        prefix:
          description: Rule will only apply to objects/uploads in the bucket that start with the given prefix, an empty prefix can be provided to scope rule to all objects/uploads.
          type: string
          x-auditable: true
      required:
      - id
      - condition
      - enabled
    r2_local_uploads_configuration:
      description: Configuration for local uploads on a bucket.
      type: object
      properties:
        enabled:
          description: Whether local uploads is enabled for this bucket. When enabled, object's data is written to the nearest region first, then asynchronously replicated to the bucket's primary region.
          type: boolean
          x-auditable: true
    r2_jurisdiction:
      description: Jurisdiction where objects in this bucket are guaranteed to be stored.
      type: string
      default: default
      enum:
      - default
      - eu
      - us
      - fedramp
      - fedramp-high
      x-auditable: true
      x-stainless-param: jurisdiction
    r2_r2_bucket_jobs_result:
      type: object
      properties:
        jobs:
          description: Bucket jobs in the current page.
          type: array
          items:
            $ref: '#/components/schemas/r2_r2_bucket_job'
        nextContinuationToken:
          description: Token to pass as `continuationToken` to retrieve the next page.
          type: string
      required:
      - jobs
    r2_enable_sippy_azure:
      properties:
        destination:
          description: R2 bucket to copy objects to.
          type: object
          properties:
            accessKeyId:
              description: 'ID of a Cloudflare API token.

                This is the value labelled "Access Key ID" when creating an API.

                token from the [R2 dashboard](https://dash.cloudflare.com/?to=/:account/r2/api-tokens).


                Sippy will use this token when writing objects to R2, so it is

                best to scope this token to the bucket you''re enabling Sippy for.

                '
              type: string
            provider:
              type: string
              enum:
              - r2
              x-auditable: true
            secretAccessKey:
              description: 'Value of a Cloudflare API token.

                This is the value labelled "Secret Access Key" when creating an API.

                token from the [R2 dashboard](https://dash.cloudflare.com/?to=/:account/r2/api-tokens).


                Sippy will use this token when writing objects to R2, so it is

                best to scope this token to the bucket you''re enabling Sippy for.

                '
              type: string
              x-sensitive: true
        source:
          description: Azure Blob Storage container to copy objects from.
          type: object
          properties:
            accountKey:
              description: Access key for the Azure Storage account. Mutually exclusive with sasToken.
              type: string
              x-sensitive: true
            accountName:
              description: Name of the Azure Storage account.
              type: string
              x-auditable: true
            container:
              description: Name of the Azure Blob Storage container.
              type: string
              x-auditable: true
            provider:
              type: string
              enum:
              - azure
              x-auditable: true
            sasToken:
              description: Shared Access Signature token for the Azure Storage account. Mutually exclusive with accountKey.
              type: string
              x-sensitive: true
    r2_lifecycle-rule:
      type: object
      properties:
        abortMultipartUploadsTransition:
          description: Transition to abort ongoing multipart uploads.
          type: object
          properties:
            condition:
              allOf:
              - $ref: '#/components/schemas/r2_lifecycle-age-condition'
        conditions:
          description: Conditions that apply to all transitions of this rule.
          type: object
          properties:
            prefix:
              description: Transitions will only apply to objects/uploads in the bucket that start with the given prefix, an empty prefix can be provided to scope rule to all objects/uploads.
              type: string
              x-auditable: true
          required:
          - prefix
        deleteObjectsTransition:
          description: Transition to delete objects.
          type: object
          properties:
            condition:
              oneOf:
              - $ref: '#/components/schemas/r2_lifecycle-age-condition'
              - $ref: '#/components/schemas/r2_lifecycle-date-condition'
        enabled:
          description: Whether or not this rule is in effect.
          type: boolean
          x-auditable: true
        id:
          description: Unique identifier for this rule.
          type: string
          example: Expire all objects older than 24 hours
          x-auditable: true
        storageClassTransitions:
          description: Transitions to change the storage class of objects.
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/r2_lifecycle-storage-transition'
      required:
      - id
      - conditions
      - enabled
    r2_v4_response_failure:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/r2_errors'
        messages:
          $ref: '#/components/schemas/r2_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    r2_bucket_name:
      description: Name of the bucket.
      type: string
      example: example-bucket
      maxLength: 64
      minLength: 3
      pattern: ^[a-z0-9][a-z0-9-]*[a-z0-9]
      x-auditable: true
    r2_list_custom_domains_response:
      type: object
      properties:
        domains:
          type: array
          items:
            properties:
              ciphers:
                description: An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format.
                type: array
                items:
                  type: string
                x-auditable: true
              domain:
                description: Domain name of the custom domain to be added.
                type: string
                x-auditable: true
              enabled:
                description: Whether this bucket is publicly accessible at the specified custom domain.
                type: boolean
                x-auditable: true
              minTLS:
                description: Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0.
                type: string
                enum:
                - '1.0'
                - '1.1'
                - '1.2'
                - '1.3'
                x-auditable: true
              status:
                type: object
                properties:
                  ownership:
                    description: Ownership status of the domain.
                    type: string
                    enum:
                    - pending
                    - active
[...]
