openapi: 3.2.0
info:
  title: Cloudflare Versions API
  version: '1.0'
  description: 'Operations tagged Versions across 2 of this provider''s published API definitions: cloudflare-workers-openapi.yml, cloudflare-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
tags:
- name: Versions
  description: Manage immutable snapshots of Worker code and configuration.
paths:
  /accounts/{account_id}/workers/workers/{worker_id}/versions:
    get:
      operationId: listVersions
      summary: Cloudflare List Worker Versions
      description: Retrieve all immutable versions of a Worker's code and configuration.
      tags:
      - Versions
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WorkerId'
      responses:
        '200':
          description: List of Worker versions.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    post:
      operationId: createVersion
      summary: Cloudflare Create Worker Version
      description: Create a new immutable snapshot of Worker code and configuration.
      tags:
      - Versions
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WorkerId'
      responses:
        '200':
          description: Version created successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
  /accounts/{account_id}/workers/workers/{worker_id}/versions/latest:
    get:
      operationId: getLatestWorkerVersion
      summary: Get Latest Worker Version
      description: Get details about the most recently created Worker version.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: worker_id
        in: path
        required: true
        schema:
          description: Identifier for the Worker, which can be ID or name.
          type: string
      - name: include
        in: query
        schema:
          description: Whether to include the `modules` property of the version in the response, which contains code and sourcemap content and may add several megabytes to the response size.
          type: string
          enum:
          - modules
      responses:
        '200':
          description: Get latest version success.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_Version'
                  required:
                  - result
                  type: object
        4XX:
          description: Get latest version failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Versions
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: workers.versions.latest
      x-fern-sdk-method-name: get
    patch:
      operationId: patchLatestWorkerVersion
      summary: Patch Latest Worker Version
      description: Only `/versions/latest` is supported. Creates a new Worker version by applying a JSON Merge Patch (RFC 7396) to the latest version. Patching a specific version ID is not supported. Omitted fields are inherited from the latest version.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: worker_id
        in: path
        required: true
        schema:
          description: Identifier for the Worker, which can be ID or name.
          type: string
      - name: deploy
        in: query
        schema:
          description: If true, a deployment will be created that sends 100% of traffic to the new version.
          type: boolean
      requestBody:
        description: JSON Merge Patch to apply to the latest version. An empty object creates a new version with no changes.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/workers_Version'
              - type: object
          application/merge-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/workers_Version'
              - type: object
      responses:
        '200':
          description: Patch version success.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_Version'
                  required:
                  - result
                  type: object
        4XX:
          description: 'Patch version failure. When the patch uses the declarative

            `exports` field and one or more entries fail reconciliation,

            the response is the exports reconciliation error envelope

            (error code 100402) with per-class detail in

            `errors[].meta.details`.

            '
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/workers_api-response-common-failure'
                - $ref: '#/components/schemas/workers_exports_reconciliation_error_response'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Versions
      x-fern-audiences:
      - sdk
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.versions.latest
      x-fern-sdk-method-name: edit
    servers:
    - description: Client API
      url: https://api.cloudflare.com/client/v4
  /accounts/{account_id}/workers/workers/{worker_id}/versions/{version_id}:
    delete:
      operationId: deleteWorkerVersion
      summary: Delete Worker Version
      description: Delete a Worker version.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: worker_id
        in: path
        required: true
        schema:
          description: Identifier for the Worker, which can be ID or name.
          type: string
      - name: version_id
        in: path
        required: true
        schema:
          description: Identifier for the version, which can be a UUID, a UUID prefix (minimum length 8), or the literal "latest" to operate on the most recently created version.
          type: string
      responses:
        '200':
          description: Delete version success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common'
        4XX:
          description: Delete version failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Versions
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.versions
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This will permanently delete the Worker version.
    get:
      operationId: getWorkerVersion
      summary: Get Worker Version
      description: Get details about a specific Worker version.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: worker_id
        in: path
        required: true
        schema:
          description: Identifier for the Worker, which can be ID or name.
          type: string
      - name: version_id
        in: path
        required: true
        schema:
          description: Identifier for the version, which can be a UUID, a UUID prefix (minimum length 8), or the literal "latest" to operate on the most recently created version.
          type: string
      - name: include
        in: query
        schema:
          description: Whether to include the `modules` property of the version in the response, which contains code and sourcemap content and may add several megabytes to the response size.
          type: string
          enum:
          - modules
      responses:
        '200':
          description: Get version success.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_Version'
                  required:
                  - result
                  type: object
        4XX:
          description: Get version failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Versions
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.versions
      x-fern-sdk-method-name: get
    servers:
    - description: Client API
      url: https://api.cloudflare.com/client/v4
components:
  parameters:
    WorkerId:
      name: worker_id
      in: path
      required: true
      description: The unique identifier of the Worker.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  schemas:
    workers_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/workers_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    workers_binding_kind_secrets_store_secret:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        secret_name:
          description: Name of the secret in the store.
          type: string
          example: my_secret
          x-auditable: true
        store_id:
          description: ID of the store containing the secret.
          type: string
          example: 8c8b1387108e49be85669169793e7bd2
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - secrets_store_secret
          x-auditable: true
      required:
      - name
      - type
      - store_id
      - secret_name
    workers_binding_kind_data_blob:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        part:
          description: The name of the file containing the data content. Only accepted for `service worker syntax` Workers.
          type: string
          example: my-module.bin
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - data_blob
          deprecated: true
          x-auditable: true
      required:
      - name
      - type
      - part
    workers_durable_object_export:
      description: 'A live Durable Object export (`state: created`, the default). The

        platform auto-provisions the namespace on first deploy, matches it

        on subsequent deploys, and never mutates or deletes it as a side

        effect of a code-only change. `storage` is required; `renamed_to`,

        `transferred_to` and `transfer_from` are not allowed on a live

        entry.

        '
      type: object
      properties:
        container:
          description: 'Name of the container (declared in the upload''s

            `metadata.containers`) that backs this Durable Object. When

            set, the namespace is container-enabled. Valid only on live

            entries.

            '
          type: string
          example: my-container
          maxLength: 128
        state:
          description: Live export. May be omitted; defaults to `created`.
          type: string
          default: created
          enum:
          - created
        storage:
          $ref: '#/components/schemas/workers_export_storage'
        type:
          description: Marks this entry as a Durable Object export.
          type: string
          enum:
          - durable-object
      additionalProperties: false
      required:
      - type
      - storage
    workers_binding_kind_ratelimit:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace_id:
          description: Identifier of the rate limit namespace to bind to.
          type: string
          example: '1234'
          x-auditable: true
        simple:
          description: The rate limit configuration.
          type: object
          properties:
            limit:
              description: The limit (requests per period).
              type: number
              example: 100
              x-auditable: true
            mitigation_timeout:
              description: 'Duration in seconds to apply the mitigation action after the rate limit is exceeded. Valid values are 0 (disabled), 10, or multiples of 60 up to 86400. Must be greater than or equal to the period when non-zero.

                '
              type: integer
              example: 60
              x-auditable: true
            period:
              description: The period in seconds.
              type: integer
              example: 60
              x-auditable: true
          required:
          - limit
          - period
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - ratelimit
          x-auditable: true
      required:
      - name
      - type
      - namespace_id
      - simple
    workers_binding_kind_assets:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - assets
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_vectorize:
      type: object
      properties:
        index_name:
          description: Name of the Vectorize index to bind to.
          type: string
          example: my-index-name
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - vectorize
          x-auditable: true
      required:
      - name
      - type
      - index_name
    workers_binding_kind_inherit:
      type: object
      properties:
        name:
          description: The name of the inherited binding.
          type: string
          example: MY_BINDING
          x-auditable: true
        old_name:
          description: The old name of the inherited binding. If set, the binding will be renamed from `old_name` to `name` in the new version. If not set, the binding will keep the same name between versions.
          type: string
          example: MY_OLD_BINDING
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - inherit
          x-auditable: true
        version_id:
          description: Identifier for the version to inherit the binding from, which can be the version ID or the literal "latest" to inherit from the latest version. Defaults to inheriting the binding from the latest version.
          type: string
          example: 8969331f-7192-434c-9938-6aea24ed58bf
          default: latest
          x-auditable: true
      required:
      - name
      - type
    workers_exports_config_map:
      description: 'Declarative exports for the Worker, keyed by export name. Worker

        entrypoint entries (`type: worker`) carry cache configuration for

        that entrypoint. Durable Object entries (`type: durable-object`)

        are also configured here and drive namespace reconciliation. At

        most 100 entries; class names are at most 128 characters.

        '
      type: object
      example:
        Admin:
          cache:
            enabled: true
          type: worker
        Counter:
          storage: sqlite
          type: durable-object
        OldCounter:
          renamed_to: Counter
          state: renamed
          type: durable-object
        default:
          cache:
            enabled: false
          type: worker
      additionalProperties:
        $ref: '#/components/schemas/workers_export_config'
      maxProperties: 100
    workers_binding_name:
      description: A JavaScript variable name for the binding.
      type: string
      example: myBinding
      x-auditable: true
    workers_exports_reconciliation_result:
      description: 'Summary of what the declarative exports reconciliation did on this

        upload. Present only on uploads that included an `exports` block.

        Reconciliation acts on Durable Object entries; `type: worker`

        entries in the same map do not participate. Every array is always

        present (possibly empty) so clients can iterate unconditionally.

        Clients should surface `warnings` prominently, render `info` at

        lower visibility, and use `removable_entries` as the "safe to

        delete from your config" hint.

        '
      type: object
      properties:
        created:
          description: Class names for which a new namespace was provisioned.
          type: array
          items:
            type: string
        deleted:
          description: Class names whose namespace was deleted by a `deleted` tombstone.
          type: array
          items:
            type: string
        info:
          description: 'Non-blocking info entries (stale tombstones, tombstone applied

            with class still in code). See `exports_reconciliation_info`.

            '
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_info'
        removable_entries:
          description: 'Source class names whose tombstone entry is now stale and safe

            to delete from `exports` (no remaining referencing scripts).

            '
          type: array
          items:
            type: string
        renamed:
          description: Applied `renamed` tombstones.
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_rename'
        transfer_pending:
          description: Phase-1 transfer hints recorded on the target side.
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_transfer_pending'
        transferred:
          description: Committed `transferred` tombstones (phase-2).
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_transfer'
        updated:
          description: Class names whose provisioned namespace was mutated in place.
          type: array
          items:
            type: string
        warnings:
          description: Non-blocking warnings. See `exports_reconciliation_warning`.
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_warning'
      readOnly: true
      required:
      - created
      - updated
      - deleted
      - renamed
      - transferred
      - transfer_pending
      - warnings
      - info
      - removable_entries
    workers_migration_step:
      type: object
      properties:
        deleted_classes:
          description: A list of classes to delete Durable Object namespaces from.
          type: array
          items:
            type: string
            x-auditable: true
          writeOnly: true
        new_classes:
          description: A list of classes to create Durable Object namespaces from.
          type: array
          items:
            type: string
            x-auditable: true
          writeOnly: true
        new_sqlite_classes:
          description: A list of classes to create Durable Object namespaces with SQLite from.
          type: array
          items:
            type: string
            x-auditable: true
          writeOnly: true
        renamed_classes:
          description: A list of classes with Durable Object namespaces that were renamed.
          type: array
          items:
            properties:
              from:
                type: string
                writeOnly: true
                x-auditable: true
              to:
                type: string
                writeOnly: true
                x-auditable: true
            type: object
          writeOnly: true
        transferred_classes:
          description: A list of transfers for Durable Object namespaces from a different Worker and class to a class defined in this Worker.
          type: array
          items:
            properties:
              from:
                type: string
                writeOnly: true
                x-auditable: true
              from_script:
                type: string
                writeOnly: true
                x-auditable: true
              to:
                type: string
                writeOnly: true
                x-auditable: true
            type: object
          writeOnly: true
    workers_Version:
      type: object
      properties:
        annotations:
          description: Metadata about the version.
          type: object
          properties:
            workers/message:
              description: Human-readable message about the version. Truncated to 1000 bytes if longer.
              type: string
              example: Fixed bug.
              maxLength: 1000
              x-auditable: true
            workers/tag:
              description: User-provided identifier for the version. Maximum 100 bytes.
              type: string
              example: v1.0.1
              maxLength: 100
              x-auditable: true
            workers/triggered_by:
              description: Operation that triggered the creation of the version.
              type: string
              example: upload
              readOnly: true
              x-auditable: true
        assets:
          description: 'Configuration for assets within a Worker.


            [`_headers`](https://developers.cloudflare.com/workers/static-assets/headers/#custom-headers) and

            [`_redirects`](https://developers.cloudflare.com/workers/static-assets/redirects/) files should be

            included as modules named `_headers` and `_redirects` with content type `text/plain`.

            '
          type: object
          properties:
            config:
              description: Configuration for assets within a Worker.
              type: object
              properties:
                base_path:
                  description: The public URL path prefix under which assets are served. A null request value resets it to `/`; responses represent the root as `/`. All versions in a gradual deployment must use the same canonical value. To change it, first deploy the version containing the change at 100%.
                  type:
                  - string
                  - 'null'
                  example: /docs/
                  default: /
                  x-auditable: true
                  x-stainless-terraform-configurability: computed_optional
                html_handling:
                  description: Determines the redirects and rewrites of requests for HTML content.
                  type: string
                  example: auto-trailing-slash
                  default: auto-trailing-slash
                  enum:
                  - auto-trailing-slash
                  - force-trailing-slash
                  - drop-trailing-slash
                  - none
                  x-auditable: true
                not_found_handling:
                  description: Determines the response when a request does not match a static asset, and there is no Worker script.
                  type: string
                  example: 404-page
                  default: none
                  enum:
                  - none
                  - 404-page
                  - single-page-application
                  x-auditable: true
                run_worker_first:
                  default: false
                  oneOf:
                  - description: Contains a list path rules to control routing to either the Worker or assets. Glob (*) and negative (!) rules are supported. Rules must start with either '/' or '!/'. At least one non-negative rule must be provided, and negative rules have higher precedence than non-negative rules.
                    example: '["/api/*", "/oauth/callback", "!/api/assets/*"]'
                    items:
                      type: string
                    type: array
                  - description: Enables routing to always invoke the Worker script ahead of all requests. When true, this is equivalent to `["/*"]` in the string array version of this field.
                    example: true
                    type: boolean
            jwt:
              description: Token provided upon successful upload of all files from a registered manifest.
              type: string
              x-sensitive: true
        author_email:
          description: Email of the user who created the version.
          type: string
          format: email
          example: user@example.com
          readOnly: true
          x-auditable: true
        author_id:
          description: Identifier of the user who created the version.
          type: string
          example: 408cbcdfd4dda4617efef40b04d168a1
          readOnly: true
          x-auditable: true
        bindings:
          $ref: '#/components/schemas/workers_bindings'
        cache_options:
          $ref: '#/components/schemas/workers_cache_options'
        compatibility_date:
          $ref: '#/components/schemas/workers_compatibility_date'
        compatibility_flags:
          $ref: '#/components/schemas/workers_compatibility_flags'
        containers:
          $ref: '#/components/schemas/workers_containers'
        created_on:
          description: When the version was created.
          type: string
          format: date-time
          readOnly: true
          x-auditable: true
        exports:
          description: 'Declarative exports for the version, including Durable Object

            classes (with their `storage` backend) and named Worker

            entrypoints. On reads, tombstoned lifecycle entries are

            omitted, so only live exports (`created` and

            `expecting-transfer`) are returned. `exports` and `migrations`

            are mutually exclusive on upload.

            '
          allOf:
          - $ref: '#/components/schemas/workers_exports_config_map'
        exports_reconciliation:
          description: 'Summary of the declarative exports reconciliation that ran on

            this upload. Populated only when the uploaded metadata included

            an `exports` block. Durable Object entries drive reconciliation;

            `type: worker` entries do not contribute to this summary.

            '
          allOf:
          - $ref: '#/components/schemas/workers_exports_reconciliation_result'
        id:
          description: Version identifier.
          type: string
          format: uuid
          readOnly: true
          x-auditable: true
        limits:
          description: Resource limits enforced at runtime.
          type: object
          properties:
            cpu_ms:
              description: CPU time limit in milliseconds.
              type: integer
              example: 50
            subrequests:
              description: Subrequest limit per request.
              type: integer
              example: 1000
          x-stainless-terraform-configurability: computed_optional
        main_module:
          description: The name of the main module in the `modules` array (e.g. the name of the module that exports a `fetch` handler).
          type: string
          example: index.js
          x-auditable: true
        migration_tag:
          description: Durable Object migration tag. Set when the version is deployed. Omitted if the version has not been deployed or the Worker does not use Durable Objects.
          type: string
          example: v1
          readOnly: true
        migrations:
          description: Migrations for Durable Objects associated with the version. Migrations are applied when the version is deployed.
          oneOf:
          - $ref: '#/components/schemas/workers_single_step_migrations'
          - $ref: '#/components/schemas/workers_multiple_step_migrations'
        modules:
          description: 'Code, sourcemaps, and other content used at runtime.


            This includes [`_headers`](https://developers.cloudflare.com/workers/static-assets/headers/#custom-headers) and

            [`_redirects`](https://developers.cloudflare.com/workers/static-assets/redirects/) files used to configure

            [Static Assets](https://developers.cloudflare.com/workers/static-assets/). `_headers` and `_redirects` files should be

            included as modules named `_headers` and `_redirects` with content type `text/plain`.

            '
          type: array
          items:
            properties:
              content_base64:
                description: The base64-encoded module content.
                type: string
                format: byte
                example: ZXhwb3J0IGRlZmF1bHQgewogIGFzeW5jIGZldGNoKHJlcXVlc3QsIGVudiwgY3R4KSB7CiAgICByZXR1cm4gbmV3IFJlc3BvbnNlKCdIZWxsbyBXb3JsZCEnKQogIH0KfQ==
              content_type:
                description: The content type of the module.
                type: string
                example: application/javascript+module
              name:
                description: The name of the module.
                type: string
                example: index.js
            required:
            - name
            - content_type
            - content_base64
            type: object
          x-stainless-collection-type: set
        number:
          description: The integer version number, starting from one.
          type: integer
          readOnly: true
          x-auditable: true
        package_dependencies:
          description: 'The list of npm packages that were installed and used when this Worker

            version was built.

            '
          type: array
          items:
            properties:
              installedVersion:
                description: The exact version that was resolved and installed by the package manager.
                type: string
                example: 4.17.22
              name:
                description: The npm package name.
                type: string
                example: lodash
              packageJsonVersion:
                description: The version constraint as written in package.json.
                type: string
                example: ^4.17.21
            required:
            - name
            - packageJsonVersion
            - installedVersion
            type: object
          x-auditable: true
        placement:
          $ref: '#/components/schemas/workers_placement_info_no_status'
        source:
          description: The client used to create the version.
          type: string
          example: wrangler
          readOnly: true
          x-auditable: true
        startup_time_ms:
          description: Time in milliseconds spent on [Worker startup](https://developers.cloudflare.com/workers/platform/limits/#worker-startup-time).
          type: integer
          example: 10
          readOnly: true
          x-auditable: true
        urls:
          description: All routable URLs that always point to this version. Does not include alias URLs, since aliases can be updated to point to a different version.
          type: array
          items:
            format: uri
            type: string
          example:
          - https://9387e76d-my-worker.my-subdomain.workers.dev
          readOnly: true
        usage_model:
          description: Usage model for the version.
          type: string
          example: standard
          default: standard
          enum:
          - standard
          - bundled
          - unbound
          deprecated: true
          x-auditable: true
      required:
      - id
      - number
      - urls
      - created_on
    workers_binding_item:
      description: A binding to allow the Worker to communicate with resources.
      type: object
      discriminator:
        mapping:
          ai: '#/components/schemas/workers_binding_kind_ai'
          ai_search: '#/components/schemas/workers_binding_kind_ai_search'
          ai_search_namespace: '#/components/schemas/workers_binding_kind_ai_search_namespace'
          analytics_engine: '#/components/schemas/workers_binding_kind_analytics_engine'
          artifacts: '#/components/schemas/workers_binding_kind_artifacts'
          assets: '#/components/schemas/workers_binding_kind_assets'
          browser: '#/components/schemas/workers_binding_kind_browser'
          d1: '#/components/schemas/workers_binding_kind_d1'
          data_blob: '#/components/schemas/workers_binding_kind_data_blob'
          dispatch_namespace: '#/components/schemas/workers_binding_kind_dispatch_namespace'
          durable_object_namespace: '#/components/schemas/workers_binding_kind_durable_object_namespace'
          flagship: '#/components/schemas/workers_binding_kind_flagship'
          hyperdrive: '#/components/schemas/workers_binding_kind_hyperdrive'
          images: '#/components/schemas/workers_binding_kind_images'
          inherit: '#/components/schemas/workers_binding_kind_inherit'
          json: '#/components/schemas/workers_binding_kind_json'
          k2: '#/components/schemas/workers_binding_kind_k2'
          kv_namespace: '#/components/schemas/workers_binding_kind_kv_namespace'
          media: '#/components/schemas/workers_binding_kind_media'
          messaging: '#/components/schemas/workers_binding_kind_messaging'
          mtls_certificate: '#/components/schemas/workers_binding_kind_mtls_certificate'
          pipelines: '#/components/schemas/workers_binding_kind_pipelines'
          plain_text: '#/components/schemas/workers_binding_kind_plain_text'
          queue: '#/components/schemas/workers_binding_kind_queue'
          r2_bucket: '#/components/schemas/workers_binding_kind_r2_bucket'
          ratelimit: '#/components/schemas/workers_binding_kind_ratelimit'
          secret_key: '#/components/schemas/workers_binding_kind_secret_key'
          secret_text: '#/components/schemas/workers_binding_kind_secret_text'
          secrets_store_secret: '#/components/schemas/workers_binding_kind_secrets_store_secret'
          send_email: '#/components/schemas/workers_binding_kind_send_email'
          service: '#/components/schemas/workers_binding_kind_service'
          text_blob: '#/components/schemas/workers_binding_kind_text_blob'
          vectorize: '#/components/schemas/workers_binding_kind_vectorize'
          version_metadata: '#/components/schemas/workers_binding_kind_version_metadata'
          vpc_network: '#/components/schemas/workers_binding_kind_vpc_network'
          vpc_service: '#/components/schemas/workers_binding_kind_vpc_service'
          wasm_module: '#/components/schemas/workers_binding_kind_wasm_module'
          workflow: '#/components/schemas/workers_binding_kind_workflow'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/workers_binding_kind_ai'
      - $ref: '#/components/schemas/workers_binding_kind_ai_search'
      - $ref: '#/components/schemas/workers_binding_kind_ai_search_namespace'
      - $ref: '#/components/schemas/workers_binding_kind_messaging'
      - $ref: '#/components/schemas/workers_binding_kind_analytics_engine'
      - $ref: '#/components/schemas/workers_binding_kind_artifacts'
      - $ref: '#/components/schemas/workers_binding_kind_assets'
      - $ref: '#/components/schemas/workers_binding_kind_browser'
      - $ref: '#/components/schemas/workers_binding_kind_d1'
      - $ref: '#/components/schemas/workers_binding_kind_data_blob'
      - $ref: '#/components/schemas/workers_binding_kind_dispatch_namespace'
      - $ref: '#/components/schemas/workers_binding_kind_durable_object_namespace'
      - $ref: '#/components/schemas/workers_binding_kind_hyperdrive'
      - $ref: '#/components/schemas/workers_binding_kind_inherit'
      - $ref: '#/components/schemas/workers_binding_kind_images'
      - $ref: '#/components/schemas/workers_binding_kind_json'
      - $ref: '#/components/schemas/workers_binding_kind_kv_namespace'
      - $ref: '#/components/schemas/workers_binding_kind_media'
      - $ref: '#/components/schemas/workers_binding_kind_mtls_certificate'
      - $ref: '#/components/schemas/workers_binding_kind_plain_text'
      - $ref: '#/components/schemas/workers_binding_kind_pipelines'
      - $ref: '#/components/schemas/workers_binding_kind_k2'
      - $ref: '#/components/schemas/workers_binding_kind_queue'
      - $ref: '#/components/schemas/workers_binding_kind_ratelimit'
      - $ref: '#/components/schemas/workers_binding_kind_r2_bucket'
      - $ref: '#/components/schemas/workers_binding_kind_secret_text'
      - $ref: '#/components/schemas/workers_binding_kind_send_email'
      - $ref: '#/components/schemas/workers_binding_kind_service'
      - $ref: '#/components/schemas/workers_binding_kind_text_blob'
      - $ref: '#/components/schemas/workers_binding_kind_vectorize'
      - $ref: '#/components/schemas/workers_binding_kind_version_metadata'
      - $ref: '#/components/schemas/workers_binding_kind_secrets_store_secret'
      - $ref: '#/components/schemas/workers_binding_kind_flagship'
      - $ref: '#/components/schemas/workers_binding_kind_secret_key'
      - $ref: '#/components/schemas/workers_binding_kind_workflow'
      - $ref: '#/components/schemas/workers_binding_kind_wasm_module'
      - $ref: '#/components/schemas/workers_binding_kind_vpc_service'
      - $ref: '#/components/schemas/workers_binding_kind_vpc_network'
    workers_binding_kind_ai_search:
      type: object
      properties:
        instance_name:
          description: The user-chosen instance name. Must exist at deploy time. The worker can search, chat, update, and manage items/jobs on this instance.
          type: string
          example: cloudflare-blog
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace:
          description: The namespace the instance belongs to. Defaults to "default" if omitted. Customers who don't use namespaces can simply omit this field.
          type: string
          example: production
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - ai_search
          x-auditable: true
      required:
      - name
      - type
      - instance_name
    workers_binding_kind_secret_key:
      type: object
      properties:
        algorithm:
          description: Algorithm-specific key parameters. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#algorithm).
          type: object
          x-auditable: true
        format:
          description: Data format of the key. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#format).
          type: string
          example: raw
          enum:
          - raw
          - pkcs8
          - spki
          - jwk
          x-auditable: true
        key_base64:
          description: Base64-encoded key data. Required if `format` is "raw", "pkcs8", or "spki".
          type: string
          writeOnly: true
          x-sensitive: true
        key_jwk:
          description: Key data in [JSON Web Key](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#json_web_key) format. Required if `format` is "jwk".
          type: object
          writeOnly: true
          x-sensitive: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - secret_key
          x-auditable: true
        usages:
          description: Allowed operations with the key. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#keyUsages).
          type: array
          items:
            enum:
            - encrypt
            - decrypt
            - sign
            - verify
            - deriveKey
            - deriveBits
            - wrapKey
            - unwrapKey
            type: string
          example:
          - encrypt
          - decrypt
          x-auditable: true
          x-stainless-collection-type: set
      required:
      - name
      - type
      - format
      - algorithm
      - usages
    workers_namespace_identifier:
      description: Namespace identifier tag.
      type: string
      example: 0f2ac74b498b48028cb68387c421e279
      maxLength: 32
      x-auditable: true
    workers_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    workers_binding_kind_dispatch_namespace:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace:
          description: The name of the dispatch namespace.
          type: string
          example: my-namespace
          x-auditable: true
        outbound:
          description: Outbound worker.
          type: object
          properties:
            params:
              description: Pass information from the Dispatch Worker to the Outbound Worker through the parameters.
              type: array
              items:
                properties:
                  name:
                    description: Name of the parameter.
                    type: string
                    example: customer_name
                    x-auditable: true
                required:
                - name
                type: object
            worker:
              description: Outbound worker.
              type: object
              properties:
                entrypoint:
                  description: Entrypoint to invoke on the outbound worker.
                  type: string
                  x-auditable: true
                environment:
                  description: Environment of the outbound worker.
                  type: string
                  x-auditable: true
                service:
                  description: Name of the outbound worker.
                  type: string
                  x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - dispatch_namespace
          x-auditable: true
      required:
      - name
      - type
      - namespace
    workers_exports_reconciliation_scenario:
      description: 'Stable, machine-readable tag identifying which reconciliation

        scenario produced an error, warning, or info entry. Clients may

        branch on this value instead of parsing `message`.

        '
      type: string
      enum:
      - code_class_not_in_exports
      - provisioned_class_missing_from_config
      - config_export_not_in_code
      - config_references_nonexistent_class
      - orphaned_provisioned_namespace
      - storage_type_mismatch
      - free_tier_requires_sqlite
      - invalid_export
      - tombstone_delete_class_still_in_code
      - tombstone_delete_blocked_by_external_bindings
      - tombstone_renamed_to_occupied
      - transferred_pending_not_found
      - transferred_target_missing
      - transferred_target_mismatch
      - phase_one_transfer_source_missing
      - phase_one_transfer_source_namespace_missing
      - phase_one_transfer_target_class_provisioned
      - phase_one_transfer_after_commit_mismatch
      - phase_one_transfer_duplicate
      - phase_one_transfer_target_in_dispatch_namespace
      - phase_one_transfer_source_in_dispatch_namespace
      - transferred_source_in_dispatch_namespace
      - transferred_target_in_dispatch_namespace
      - container_undeclared_reference
      - container_class_not_durable_object
      - container_wiring_inconsistent
      - container_multiple_durable_objects
      - transfer_container_parity_mismatch
      - transfer_container_parity_mismatch_on_commit
      - tombstone_class_still_in_code
      - stale_tombstone
      - transfer_receive_already_applied
      - transfer_receive_cleanup_complete
    workers_binding_kind_hyperdrive:
      type: object
      properties:
        id:
          description: Identifier of the Hyperdrive connection to bind to.
          type: string
          example: 57b7076f58be42419276f058a8968187
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - hyperdrive
          x-auditable: true
      required:
      - name
      - type
      - id
    workers_exports_reconciliation_error_response:
      description: 'The v4 error envelope returned with HTTP 400 when one or more

        declared `exports` entries fail reconciliation (error code

        100402). The top-level error `message` aggregates the per-class

        failures as human-readable prose; the structured per-class payload

        is carried in `errors[].meta.details`, sorted by class name.

        '
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: integer
                example: 100402
                enum:
                - 100402
              message:
                description: 'Aggregate, multi-line, human-readable summary of every

                  per-class reconciliation failure.

                  '
                type: string
              meta:
                type: object
                properties:
                  details:
                    description: 'Structured per-class reconciliation failures, sorted

                      by class name.

                      '
                    type: array
                    items:
                      $ref: '#/components/schemas/workers_exports_reconciliation_error'
                required:
                - details
            required:
            - code
            - message
            - meta
            type: object
        messages:
          $ref: '#/components/schemas/workers_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    workers_binding_kind_text_blob:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        part:
          description: The name of the file containing the text content. Only accepted for `service worker syntax` Workers.
          type: string
          example: my-module.txt
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - text_blob
          deprecated: true
          x-auditable: true
      required:
      - name
      - type
      - part
    workers_bindings:
      description: 'List of bindings attached to a Worker. You can find more about bindings on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/#bindings.'
      type: array
      items:
        $ref: '#/components/schemas/workers_binding_item'
      example:
      - name: MY_ENV_VAR
        text: my_data
        type: plain_text
    workers_compatibility_flag:
      description: Flag that enables or disables a specific feature in the Workers runtime.
      type: string
      example: nodejs_compat
      x-auditable: true
    workers_binding_kind_flagship:
      type: object
      properties:
        app_id:
          description: ID of the Flagship app to bind to for feature flag evaluation.
          type: string
          example: app-12345678-1234-1234-1234-123456789012
          maxLength: 128
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - flagship
          x-auditable: true
      required:
      - name
      - type
      - app_id
    workers_exports_reconciliation_warning:
      description: 'A non-blocking reconciliation warning. Reserved: no scenario

        populates this array today (`code_class_not_in_exports` is

        surfaced as info and `provisioned_class_missing_from_config` is a

        hard error). Clients should still surface any entries that appear.

        '
      type: object
      properties:
        class:
          description: The class name the warning is about.
          type: string
        message:
          description: Human-readable explanation of the warning.
          type: string
        namespace_id:
          description: The provisioned namespace the warning relates to, when applicable.
          type: string
          format: uuid
        scenario:
          $ref: '#/components/schemas/workers_exports_reconciliation_scenario'
      required:
      - class
      - scenario
      - message
    workers_placement_info_no_status:
      description: Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host.
      type: object
      oneOf:
      - additionalProperties: false
        properties:
          mode:
            description: Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
            type: string
            enum:
            - smart
            x-auditable: true
        required:
        - mode
        type: object
      - additionalProperties: false
        properties:
          region:
            description: Cloud region for targeted placement in format 'provider:region'.
            type: string
            example: aws:us-east-1
            x-auditable: true
        required:
        - region
        type: object
      - additionalProperties: false
        properties:
          hostname:
            description: HTTP hostname for targeted placement.
            type: string
            example: api.example.com
            x-auditable: true
        required:
        - hostname
        type: object
      - additionalProperties: false
        properties:
          host:
            description: TCP host and port for targeted placement.
            type: string
            example: db.example.com:5432
            x-auditable: true
        required:
        - host
        type: object
      - additionalProperties: false
        properties:
          mode:
            description: Targeted placement mode.
            type: string
            enum:
            - targeted
            x-auditable: true
          region:
            description: Cloud region for targeted placement in format 'provider:region'.
            type: string
            example: aws:us-east-1
            x-auditable: true
        required:
        - mode
        - region
        type: object
      - additionalProperties: false
        properties:
          hostname:
            description: HTTP hostname for targeted placement.
            type: string
            example: api.example.com
            x-auditable: true
          mode:
            description: Targeted placement mode.
            type: string
            enum:
            - targeted
            x-auditable: true
        required:
        - mode
        - hostname
        type: object
      - additionalProperties: false
        properties:
          host:
            description: TCP host and port for targeted placement.
            type: string
            example: db.example.com:5432
            x-auditable: true
          mode:
            description: Targeted placement mode.
            type: string
            enum:
            - targeted
            x-auditable: true
        required:
        - mode
        - host
        type: object
      - additionalProperties: false
        properties:
          mode:
            description: Targeted placement mode.
            type: string
            enum:
            - targeted
            x-auditable: true
          target:
            description: Array of placement targets (currently limited to single target).
            type: array
            items:
              $ref: '#/components/schemas/workers_placement_target'
            maxItems: 1
            minItems: 1
            x-auditable: true
        required:
        - mode
        - target
        type: object
    workers_binding_kind_wasm_module:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        part:
          description: The name of the file containing the WebAssembly module content. Only accepted for `service worker syntax` Workers.
          type: string
          example: my-module.wasm
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - wasm_module
          deprecated: true
          x-auditable: true
      required:
      - name
      - type
      - part
    workers_compatibility_flags:
      description: Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a `compatibility_date`.
      type: array
      items:
        $ref: '#/components/schemas/workers_compatibility_flag'
      example:
      - nodejs_compat
      default: []
      x-stainless-collection-type: set
    workers_binding_kind_browser:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - browser
          x-auditable: true
      required:
      - name
      - type
    workers_durable_object_transferred_export:
      description: 'A `transferred` tombstone (source side of a two-phase transfer):

        hands ownership of the provisioned namespace to another script in

        the same account, named by `transferred_to`. The target must have

        already deployed a matching `expecting-transfer` entry. The source

        class may stay in code during the rollout window (an info notice

        is emitted). `storage`, `renamed_to` and `transfer_from` are not

        allowed.

        '
      type: object
      properties:
        state:
          description: Tombstone that transfers the namespace to another script.
          type: string
          enum:
          - transferred
        transferred_to:
          description: 'The destination script name. Must be in the same account and

            the same dispatch-namespace context (or both non-dispatch).

            Cross-dispatch-namespace transfers are rejected. Write-only:

            never present in GET responses.

            '
          type: string
          example: target-worker
          maxLength: 128
          writeOnly: true
        type:
          description: Marks this entry as a Durable Object export.
          type: string
          enum:
          - durable-object
      additionalProperties: false
      required:
      - type
      - state
      - transferred_to
    workers_single_step_migrations:
      description: A single set of migrations to apply.
      allOf:
      - $ref: '#/components/schemas/workers_migration_tag_conditions'
      - $ref: '#/components/schemas/workers_migration_step'
    workers_binding_kind_ai_search_namespace:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace:
          description: The user-chosen namespace name. Must exist before deploy -- Wrangler handles auto-creation on deploy failure (R2 bucket pattern). The "default" namespace is auto-created by config-api for new accounts. Grants full access (CRUD + search + chat) to all instances within the namespace.
          type: string
          example: production
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - ai_search_namespace
          x-auditable: true
      required:
      - name
      - type
      - namespace
    workers_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    workers_export_storage:
      description: 'Durable Object storage backend. `sqlite` is the recommended (and

        only) backend for new namespaces. `legacy-kv` is accepted only for

        a class whose namespace already exists as KV-backed; the `exports`

        flow never provisions a new `legacy-kv` namespace.

        '
      type: string
      enum:
      - sqlite
      - legacy-kv
    workers_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/workers_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/workers_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    workers_binding_kind_images:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - images
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_secret_text:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        text:
          description: The secret value to use.
          type: string
          example: My secret.
          writeOnly: true
          x-sensitive: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - secret_text
          x-auditable: true
      required:
      - name
      - type
      - text
    workers_binding_kind_workflow:
      type: object
      properties:
        class_name:
          description: Class name of the Workflow. Should only be provided if the Workflow belongs to this script.
          type: string
          example: my-workflow
        name:
          $ref: '#/components/schemas/workers_binding_name'
        script_name:
          description: Script name that contains the Workflow. If not provided, defaults to this script name.
          type: string
          example: my-workflow
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - workflow
        workflow_name:
          description: Name of the Workflow to bind to.
          type: string
          example: my-workflow
      required:
      - name
      - type
      - workflow_name
    workers_binding_kind_send_email:
      type: object
      properties:
        allowed_destination_addresses:
          description: List of allowed destination addresses.
          type: array
          items:
            format: email
            type: string
          example:
          - user1@example.com
          - user2@example.com
          x-auditable: true
        allowed_sender_addresses:
          description: List of allowed sender addresses.
          type: array
          items:
            format: email
            type: string
          example:
          - user1@example.com
          - user2@example.com
          x-auditable: true
        destination_address:
          description: Destination address for the email.
          type: string
          format: email
          example: user@example.com
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - send_email
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_vpc_service:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        service_id:
          description: Identifier of the VPC service to bind to.
          type: string
          example: 8c8b1387108e49be85669169793e7bd2
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - vpc_service
          x-auditable: true
      required:
      - name
      - type
      - service_id
    workers_durable_object_deleted_export:
      description: 'A `deleted` tombstone: retires the provisioned namespace for this

        class and all of its data. The class must be absent from the

        uploaded code and no other Worker in the account may bind to the

        namespace, otherwise the deploy is rejected. No other fields are

        allowed. Deletion is irreversible.

        '
      type: object
      properties:
        state:
          description: Tombstone that deletes the namespace.
          type: string
          enum:
          - deleted
        type:
          description: Marks this entry as a Durable Object export.
          type: string
          enum:
          - durable-object
      additionalProperties: false
      required:
      - type
      - state
    workers_durable_object_renamed_export:
      description: 'A `renamed` tombstone: rewrites the provisioned namespace''s class

        name from this map key to `renamed_to`. The source class may stay

        in code during the rollout window (an info notice is emitted).

        `storage`, `transferred_to` and `transfer_from` are not allowed.

        '
      type: object
      properties:
        renamed_to:
          description: 'The destination class name. Must differ from the source class

            (the map key) and must be declared as a live (`created`) entry

            in the same `exports` map. Write-only: never present in GET

            responses.

            '
          type: string
          example: NewName
          maxLength: 128
          writeOnly: true
        state:
          description: Tombstone that renames the namespace's class.
          type: string
          enum:
          - renamed
        type:
          description: Marks this entry as a Durable Object export.
          type: string
          enum:
          - durable-object
      additionalProperties: false
      required:
      - type
      - state
      - renamed_to
    workers_binding_kind_d1:
      type: object
      properties:
        database_id:
          description: Identifier of the D1 database to bind to.
          type: string
          example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          x-auditable: true
        id:
          description: Identifier of the D1 database to bind to.
          type: string
          example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          deprecated: true
          x-auditable: true
          x-stainless-deprecation-message: This property has been renamed to `database_id`.
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - d1
          x-auditable: true
      required:
      - name
      - type
      - database_id
    workers_binding_kind_analytics_engine:
      type: object
      properties:
        dataset:
          description: The name of the dataset to bind to.
          type: string
          example: some_dataset
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - analytics_engine
          x-auditable: true
      required:
      - name
      - type
      - dataset
    workers_cache_options:
      description: 'Global CacheW configuration for the Worker. When caching is on,

        the platform provisions a `cloudflare.app` zone for the Worker.

        A `type: worker` entry in the `exports` map can override this

        value for a single entrypoint.

        '
      type: object
      properties:
        cross_version_cache:
          description: 'Whether cached responses are shared across Worker version

            uploads. This is independent of `enabled`. It can stay true

            while caching is off, so the preference survives turning

            caching off and back on.

            '
          type: boolean
          example: true
          default: false
          x-auditable: true
        enabled:
          description: Whether caching is enabled for this Worker.
          type: boolean
          example: true
          default: false
          x-auditable: true
      additionalProperties: false
      required:
      - enabled
    workers_binding_kind_json:
      type: object
      properties:
        json:
          description: JSON data to use.
          type: object
          x-stainless-any: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - json
          x-auditable: true
      required:
      - name
      - type
      - json
    workers_exports_reconciliation_transfer:
      description: A single committed `transferred` tombstone (phase-2 commit).
      type: object
      properties:
        class:
          description: The source class name that was transferred.
          type: string
        phase:
          description: The transfer phase. Currently always `committed`.
          type: string
          example: committed
          enum:
          - committed
        to:
          description: The destination script that now owns the namespace.
          type: string
      required:
      - class
      - to
      - phase
    workers_export_config:
      description: 'A single entry in the `exports` map, keyed by export name (a

        `WorkerEntrypoint` class name, a Durable Object class name, or

        `default` for the Worker''s default export). The `type`

        discriminator selects the top-level shape: `worker` entrypoint

        entries may carry `cache` configuration, while `durable-object`

        entries are further refined by the optional `state` field

        (default `created`). Tombstone states (`deleted`, `renamed`,

        `transferred`) express destructive lifecycle operations

        declaratively; `expecting-transfer` is the live target side of a

        transfer. The server validates the exact per-(type, state) field

        combinations; fields not listed for a variant are rejected.

        '
      discriminator:
        mapping:
          durable-object: '#/components/schemas/workers_durable_object_export_variants'
          worker: '#/components/schemas/workers_worker_export'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/workers_worker_export'
      - $ref: '#/components/schemas/workers_durable_object_export_variants'
    workers_containers:
      description: List of containers attached to a Worker. Containers can only be attached to Durable Object classes of this Worker script.
      type: array
      items:
        $ref: '#/components/schemas/workers_container_item'
      example:
      - class_name: MyDurableObject
      x-stainless-collection-type: set
    workers_placement_target:
      description: A target to run your Worker near.
      type: object
      oneOf:
      - additionalProperties: false
        properties:
          region:
            description: Cloud region in format 'provider:region'.
            type: string
            example: aws:us-east-1
        required:
        - region
        type: object
      - additionalProperties: false
        properties:
          hostname:
            description: HTTP hostname for targeted placement.
            type: string
            example: api.example.com
        required:
        - hostname
        type: object
      - additionalProperties: false
        properties:
          host:
            description: TCP host:port for targeted placement.
            type: string
            example: db.example.com:5432
        required:
        - host
        type: object
    workers_binding_kind_mtls_certificate:
      type: object
      properties:
        certificate_id:
          description: Identifier of the certificate to bind to.
          type: string
          example: efwu2n6s-q69d-2kr9-184j-4913e8h391k6
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - mtls_certificate
          x-auditable: true
      required:
      - name
      - type
      - certificate_id
    workers_container_item:
      description: Container configuration for a Worker.
      type: object
      properties:
        class_name:
          description: Select which Durable Object class should get this container attached.
          type: string
          x-auditable: true
      required:
      - class_name
    workers_binding_kind_durable_object_namespace:
      type: object
      properties:
        class_name:
          description: The exported class name of the Durable Object.
          type: string
          example: MyDurableObject
          x-auditable: true
          x-stainless-terraform-configurability: computed_optional
        dispatch_namespace:
          description: The dispatch namespace the Durable Object script belongs to.
          type: string
          example: my-dispatch-namespace
          x-auditable: true
        environment:
          description: The environment of the script_name to bind to.
          type: string
          example: production
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace_id:
          allOf:
          - $ref: '#/components/schemas/workers_namespace_identifier'
          - type: string
            x-auditable: true
            x-stainless-terraform-configurability: computed_optional
        script_name:
          description: The script where the Durable Object is defined, if it is external to this Worker.
          type: string
          example: my-other-worker
          x-auditable: true
          x-stainless-terraform-configurability: computed_optional
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - durable_object_namespace
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_plain_text:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        text:
          description: The text value to use.
          type: string
          example: Hello, world!
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - plain_text
          x-auditable: true
      required:
      - name
      - type
      - text
    workers_worker_export:
      description: 'A named Worker entrypoint export (`type: worker`). Worker

        entrypoints are always live (`state: created`) and carry no

        storage or lifecycle fields. The optional `cache` block overrides

        the Worker''s global `cache_options.enabled` for this entrypoint.

        '
      type: object
      properties:
        cache:
          description: 'Cache override for this entrypoint. Overrides the Worker''s

            global `cache_options.enabled` for this entrypoint only.

            '
          allOf:
          - $ref: '#/components/schemas/workers_entrypoint_cache_options'
        state:
          description: Live export. May be omitted; defaults to `created`.
          type: string
          default: created
          enum:
          - created
        type:
          description: Marks this entry as a Worker entrypoint export.
          type: string
          enum:
          - worker
      additionalProperties: false
      required:
      - type
    workers_binding_kind_r2_bucket:
      type: object
      properties:
        bucket_name:
          description: R2 bucket to bind to.
          type: string
          example: my-r2-bucket
          x-auditable: true
        jurisdiction:
          description: The [jurisdiction](https://developers.cloudflare.com/r2/reference/data-location/#jurisdictional-restrictions) of the R2 bucket.
          type: string
          example: eu
          enum:
          - eu
          - fedramp
          - fedramp-high
          - us
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - r2_bucket
          x-auditable: true
      required:
      - name
      - type
      - bucket_name
    workers_compatibility_date:
      description: Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker.
      type: string
      example: '2021-01-01T00:00:00Z'
      x-auditable: true
    workers_durable_object_expecting_transfer_export:
      description: 'The target side of a two-phase transfer (`state:

        expecting-transfer`). Declares that this script expects to receive

        a namespace for this class from the `transfer_from` script. This

        is a live entry, not a tombstone: bindings resolve through the

        source''s namespace until the source commits with a `transferred`

        tombstone. `storage` and `transfer_from` are required; `renamed_to`

        and `transferred_to` are not allowed.

        '
      type: object
      properties:
        container:
          description: 'Name of the container (declared in the upload''s

            `metadata.containers`) that backs this Durable Object once the

            transfer settles. Valid only on live entries.

            '
          type: string
          example: my-container
          maxLength: 128
        state:
          description: Target side of a two-phase transfer.
          type: string
          enum:
          - expecting-transfer
        storage:
          $ref: '#/components/schemas/workers_export_storage'
        transfer_from:
          description: 'The source script name to receive the namespace from. Must be

            in the same account and dispatch-namespace context. Present on

            reads for `expecting-transfer` entries.

            '
          type: string
          example: source-worker
          maxLength: 128
        type:
          description: Marks this entry as a Durable Object export.
          type: string
          enum:
          - durable-object
      additionalProperties: false
      required:
      - type
      - state
      - storage
      - transfer_from
    workers_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/workers_messages'
        messages:
          $ref: '#/components/schemas/workers_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    workers_exports_reconciliation_transfer_pending:
      description: 'A single phase-1 transfer hint recorded on the target side (a live

        `expecting-transfer` entry).

        '
      type: object
      properties:
        class:
          description: The target-side class name awaiting transfer.
          type: string
        from:
          description: The source script the namespace will be transferred from.
          type: string
      required:
      - class
      - from
    workers_migration_tag_conditions:
      type: object
      properties:
        new_tag:
          description: Tag to set as the latest migration tag.
          type: string
          example: v2
          writeOnly: true
          x-auditable: true
        old_tag:
          description: Tag used to verify against the latest migration tag for this Worker. If they don't match, the upload is rejected.
          type: string
          example: v1
          writeOnly: true
          x-auditable: true
    workers_exports_reconciliation_rename:
      description: A single applied `renamed` tombstone.
      type: object
      properties:
        from:
          description: The original (source) class name.
          type: string
        to:
          description: The new class name (`renamed_to`).
          type: string
      required:
      - from
      - to
    workers_binding_kind_messaging:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace:
          description: The Messaging namespace to bind to.
          type: string
          example: production
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - messaging
          x-auditable: true
      required:
      - name
      - type
      - namespace
    workers_durable_object_export_variants:
      description: 'Any Durable Object export entry (`type: durable-object`), across

        all lifecycle states. The optional `state` field selects the

        variant (default `created`); the tombstone states (`deleted`,

        `renamed`, `transferred`) and the live transfer target

        (`expecting-transfer`) are the alternatives. The server validates

        the exact per-state field combinations; fields not listed for a

        variant are rejected.

        '
      oneOf:
      - $ref: '#/components/schemas/workers_durable_object_export'
      - $ref: '#/components/schemas/workers_durable_object_deleted_export'
      - $ref: '#/components/schemas/workers_durable_object_renamed_export'
      - $ref: '#/components/schemas/workers_durable_object_transferred_export'
      - $ref: '#/components/schemas/workers_durable_object_expecting_transfer_export'
    workers_binding_kind_k2:
      description: A K2 stream binding. Available only to accounts enabled for K2.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        stream:
          description: ID of a K2 stream owned by the account deploying the Worker.
          type: string
          example: 0123456789abcdef0123456789abcdef
          pattern: ^[a-f0-9]{32}$
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - k2
          x-auditable: true
      required:
      - name
      - type
      - stream
    workers_entrypoint_cache_options:
      description: 'CacheW configuration for a single `type: worker` entrypoint.

        When present it overrides the Worker''s global

        `cache_options.enabled` for that entrypoint, so a Worker can turn

        caching on globally and opt one entrypoint out, or the reverse.

        '
      type: object
      properties:
        enabled:
          description: Whether caching is enabled for this entrypoint.
          type: boolean
          example: true
          x-auditable: true
      additionalProperties: false
      required:
      - enabled
    workers_exports_reconciliation_error:
      description: 'A single blocking reconciliation error. Returned in the v4 error

        envelope under `meta.details` on the exports reconciliation

        failure error (code 100402). All per-class failures are reported

        together, sorted by class name.

        '
      type: object
      properties:
        class:
          description: The class name the error is about.
          type: string
        message:
          description: Human-readable explanation.
          type: string
        namespace_id:
          description: The provisioned namespace the error relates to, when applicable.
          type: string
          format: uuid
        referencing_scripts:
          description: 'Other Workers in the account whose bindings block the

            operation (e.g. a `deleted` tombstone blocked by external

            bindings).

            '
          type: array
          items:
            type: string
        scenario:
          $ref: '#/components/schemas/workers_exports_reconciliation_scenario'
        suggestion:
          description: An actionable hint for resolving the error, when available.
          type: string
      required:
      - class
      - scenario
      - message
    workers_binding_kind_ai:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - ai
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_vpc_network:
      type: object
      properties:
        identity:
          description: 'Enables Gateway identity for the binding. Requires network_id to be "cf1:network" and cannot be combined with tunnel_id.

            '
          type: string
          enum:
          - runtime-email-alpha
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        network_id:
          description: 'Identifier of the network to bind to. Only "cf1:network" is currently supported. Mutually exclusive with tunnel_id.

            '
          type: string
          example: cf1:network
          x-auditable: true
        tunnel_id:
          description: 'UUID of the Cloudflare Tunnel to bind to. Mutually exclusive with network_id.

            '
          type: string
          example: abcd1234-5678-90ef-ghij-klmnopqrstuv
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - vpc_network
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_media:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - media
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_queue:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        queue_name:
          description: Name of the Queue to bind to.
          type: string
          example: my-queue
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - queue
          x-auditable: true
      required:
      - name
      - type
      - queue_name
    workers_binding_kind_version_metadata:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - version_metadata
          x-auditable: true
      required:
      - name
      - type
    workers_exports_reconciliation_info:
      description: 'A non-blocking reconciliation info entry. Emitted for stale

        tombstones (a no-op on this deploy) and for tombstones applied

        with the source class still in code (the supported zero-downtime

        rollout pattern).

        '
      type: object
      properties:
        class:
          description: The class name the info entry is about.
          type: string
        message:
          description: Human-readable explanation.
          type: string
        namespace_id:
          description: The provisioned namespace the entry relates to, when applicable.
          type: string
          format: uuid
        referencing_scripts:
          description: 'Other Workers in the account that still bind to the affected

            class. Advisory: while non-empty the tombstone is not yet safe

            to remove — redeploy these Workers with bindings re-pointed

            first.

            '
          type: array
          items:
            type: string
        scenario:
          $ref: '#/components/schemas/workers_exports_reconciliation_scenario'
      required:
      - class
      - scenario
      - message
    workers_binding_kind_service:
      type: object
      properties:
        entrypoint:
          description: Entrypoint to invoke on the target Worker.
          type: string
          example: MyHandler
          x-auditable: true
        environment:
          description: Optional environment if the Worker utilizes one.
          type: string
          example: production
          default: production
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        service:
          description: Name of Worker to bind to.
          type: string
          example: my-worker
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - service
          x-auditable: true
      required:
      - name
      - type
      - service
    workers_multiple_step_migrations:
      allOf:
      - $ref: '#/components/schemas/workers_migration_tag_conditions'
      - properties:
          steps:
            description: Migrations to apply in order.
            type: array
            items:
              $ref: '#/components/schemas/workers_migration_step'
            writeOnly: true
        type: object
    workers_binding_kind_kv_namespace:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace_id:
          $ref: '#/components/schemas/workers_namespace_identifier'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - kv_namespace
          x-auditable: true
      required:
      - name
      - type
      - namespace_id
    workers_binding_kind_pipelines:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        pipeline:
          description: Name of the Pipeline to bind to.
          type: string
          example: my-pipeline
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - pipelines
          x-auditable: true
      required:
      - name
      - type
      - pipeline
    workers_binding_kind_artifacts:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace:
          description: The Artifacts namespace exposed to the Worker in the Worker's account. Must be 2-63 characters, start with an ASCII alphanumeric character, contain only ASCII alphanumeric characters, dots, underscores, and hyphens, and must not end with a hyphen. The namespace does not need to be created before binding it.
          type: string
          example: agent-workspace
          maxLength: 63
          minLength: 2
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9._])?$
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - artifacts
          x-auditable: true
      required:
      - name
      - type
      - namespace
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication with Workers permissions.
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
x-refined-from:
- cloudflare-workers-openapi.yml
- cloudflare-openapi.json
