openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Brapi API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: brapi
paths:
  /accounts/{account_id}/browser-rendering/accessibilityTree:
    post:
      operationId: brapi-post_AccessibilityTree
      summary: Get accessibility tree page
      description: Returns the page's accessibility tree. Use `interestingOnly` to only return semantically meaningful nodes; use `root` to scope the tree to a CSS-selector-anchored subtree. Control page loading with `gotoOptions` and `waitFor*` options.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: cacheTTL
        in: query
        description: Cache TTL default is 5s. Set to 0 to disable.
        schema:
          description: Cache TTL default is 5s. Set to 0 to disable.
          type: number
          default: 5
          maximum: 86400
          minimum: 0
      - name: browser
        in: query
        description: Rendering backend. Set to `kitesurf` to use Kitesurf (beta).
        schema:
          description: Rendering backend. Set to `kitesurf` to use Kitesurf (beta).
          type: string
          enum:
          - kitesurf
      requestBody:
        required: true
        content:
          application/json:
            examples:
              example1:
                value:
                  url: https://www.example.com/
            schema:
              type: object
              properties:
                actionTimeout:
                  description: The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error.
                  type: number
                  maximum: 120000
                addScriptTag:
                  description: Adds a script element into the page with the desired URL or content.
                  type: array
                  items:
                    additionalProperties: false
                    properties:
                      content:
                        type: string
                      id:
                        type: string
                      type:
                        type: string
                      url:
                        type: string
                        format: uri
                    type: object
                addStyleTag:
                  description: Adds a `<link rel="stylesheet">` tag into the page with the desired URL or a `<style type="text/css">` tag with the content.
                  type: array
                  items:
                    properties:
                      content:
                        type: string
                      url:
                        type: string
                        format: uri
                    type: object
                allowRequestPattern:
                  description: Only allow requests that match the provided regex patterns, eg. '/^.*\.(css)'. Reject rules are applied first.
                  type: array
                  items:
                    type: string
                allowResourceTypes:
                  description: Only allow requests that match the provided resource types, eg. 'image' or 'script'. Reject rules are applied first.
                  type: array
                  items:
                    anyOf:
                    - enum:
                      - document
                      type: string
                    - enum:
                      - stylesheet
                      type: string
                    - enum:
                      - image
                      type: string
                    - enum:
                      - media
                      type: string
                    - enum:
                      - font
                      type: string
                    - enum:
                      - script
                      type: string
                    - enum:
                      - texttrack
                      type: string
                    - enum:
                      - xhr
                      type: string
                    - enum:
                      - fetch
                      type: string
                    - enum:
                      - prefetch
                      type: string
                    - enum:
                      - eventsource
                      type: string
                    - enum:
                      - websocket
                      type: string
                    - enum:
                      - manifest
                      type: string
                    - enum:
                      - signedexchange
                      type: string
                    - enum:
                      - ping
                      type: string
                    - enum:
                      - cspviolationreport
                      type: string
                    - enum:
                      - preflight
                      type: string
                    - enum:
                      - other
                      type: string
                authenticate:
                  description: Provide credentials for HTTP authentication.
                  type: object
                  properties:
                    password:
                      type: string
                      minLength: 1
                      x-sensitive: true
                    username:
                      type: string
                      minLength: 1
                  required:
                  - username
                  - password
                bestAttempt:
                  description: Attempt to proceed when 'awaited' events fail or timeout.
                  type: boolean
                cookies:
                  description: Check [options](https://pptr.dev/api/puppeteer.page.setcookie).
                  type: array
                  items:
                    properties:
                      domain:
                        type: string
                      expires:
                        type: number
                      httpOnly:
                        type: boolean
                      name:
                        description: Cookie name.
                        type: string
                      partitionKey:
                        type: string
                      path:
                        type: string
                      priority:
                        anyOf:
                        - enum:
                          - Low
                          type: string
                        - enum:
                          - Medium
                          type: string
                        - enum:
                          - High
                          type: string
                      sameParty:
                        type: boolean
                      sameSite:
                        anyOf:
                        - enum:
                          - Strict
                          type: string
                        - enum:
                          - Lax
                          type: string
                        - enum:
                          - None
                          type: string
                      secure:
                        type: boolean
                      sourcePort:
                        type: number
                      sourceScheme:
                        anyOf:
                        - enum:
                          - Unset
                          type: string
                        - enum:
                          - NonSecure
                          type: string
                        - enum:
                          - Secure
                          type: string
                      url:
                        type: string
                      value:
                        type: string
                    required:
                    - name
                    - value
                    type: object
                emulateMediaType:
                  type: string
                gotoOptions:
                  description: Check [options](https://pptr.dev/api/puppeteer.gotooptions).
                  type: object
                  default: {}
                  properties:
                    referer:
                      type: string
                    referrerPolicy:
                      type: string
                    timeout:
                      type: number
                      default: 30000
                      maximum: 60000
                    waitUntil:
                      default: domcontentloaded
                      anyOf:
                      - enum:
                        - load
                        type: string
                      - enum:
                        - domcontentloaded
                        type: string
                      - enum:
                        - networkidle0
                        type: string
                      - enum:
                        - networkidle2
                        type: string
                      - items:
                          anyOf:
                          - enum:
                            - load
                            type: string
                          - enum:
                            - domcontentloaded
                            type: string
                          - enum:
                            - networkidle0
                            type: string
                          - enum:
                            - networkidle2
                            type: string
                        type: array
                html:
                  description: 'Set the content of the page, eg: `<h1>Hello World!!</h1>`. Either `html` or `url` must be set.'
                  type: string
                  example: <h1>Hello World!</h1>
                  minLength: 1
                interestingOnly:
                  type: boolean
                rejectRequestPattern:
                  description: Block undesired requests that match the provided regex patterns, eg. '/^.*\.(css)'.
                  type: array
                  items:
                    type: string
                rejectResourceTypes:
                  description: Block undesired requests that match the provided resource types, eg. 'image' or 'script'.
                  type: array
                  items:
                    anyOf:
                    - enum:
                      - document
                      type: string
                    - enum:
                      - stylesheet
                      type: string
                    - enum:
                      - image
                      type: string
                    - enum:
                      - media
                      type: string
                    - enum:
                      - font
                      type: string
                    - enum:
                      - script
                      type: string
                    - enum:
                      - texttrack
                      type: string
                    - enum:
                      - xhr
                      type: string
                    - enum:
                      - fetch
                      type: string
                    - enum:
                      - prefetch
                      type: string
                    - enum:
                      - eventsource
                      type: string
                    - enum:
                      - websocket
                      type: string
                    - enum:
                      - manifest
                      type: string
                    - enum:
                      - signedexchange
                      type: string
                    - enum:
                      - ping
                      type: string
                    - enum:
                      - cspviolationreport
                      type: string
                    - enum:
                      - preflight
                      type: string
                    - enum:
                      - other
                      type: string
                root:
                  type: string
                setExtraHTTPHeaders:
                  type: object
                  additionalProperties:
                    type: string
                setJavaScriptEnabled:
                  type: boolean
                url:
                  description: URL to navigate to, eg. `https://example.com`.
                  type: string
                  format: uri
                  example: https://example.com/
                userAgent:
                  type: string
                  default: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36
                viewport:
                  description: Check [options](https://pptr.dev/api/puppeteer.page.setviewport).
                  type: object
                  default:
                    height: 1080
                    width: 1920
                  properties:
                    deviceScaleFactor:
                      type: number
                    hasTouch:
                      type: boolean
                    height:
                      type: number
                    isLandscape:
                      type: boolean
                    isMobile:
                      type: boolean
                    width:
                      type: number
                  required:
                  - width
                  - height
                waitForSelector:
                  description: Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector).
                  type: object
                  properties:
                    hidden:
                      type: boolean
                      enum:
                      - true
                    selector:
                      type: string
                    timeout:
                      type: number
                      maximum: 120000
                    visible:
                      type: boolean
                      enum:
                      - true
                  required:
                  - selector
                waitForTimeout:
                  description: Waits for a specified timeout before continuing.
                  type: number
                  maximum: 120000
              additionalProperties: false
              oneOf:
              - not:
                  properties:
                    html:
                      type: string
                  required:
                  - html
                  type: object
                properties:
                  html:
                    type: string
                  url:
                    type: string
                required:
                - url
                type: object
              - not:
                  properties:
                    url:
                      type: string
                  required:
                  - url
                  type: object
                properties:
                  html:
                    type: string
                  url:
                    type: string
                required:
                - html
                type: object
      responses:
        '200':
          description: Returns the requested formats information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  meta:
                    type: object
                    properties:
                      finalUrl:
                        description: URL that served the response, after any redirects the browser followed.
                        type: string
                      headers:
                        description: Origin response headers, lowercased. Repeated headers are joined with a newline. Credential and transport-only headers that do not survive rendering are omitted.
                        type: object
                        additionalProperties:
                          type: string
                      redirectChain:
                        description: HTTP redirects followed to reach `finalUrl`, oldest first. Omitted for direct navigation and for client-side redirects such as meta refresh. An empty array means redirects occurred but their intermediate responses could not be read.
                        type: array
                        items:
                          properties:
                            headers:
                              description: Redirect response headers, including `location`.
                              type: object
                              additionalProperties:
                                type: string
                            status:
                              description: HTTP status of the redirect.
                              type: number
                            url:
                              description: URL that returned the redirect.
                              type: string
                          required:
                          - url
                          - status
                          - headers
                          type: object
                      status:
                        description: HTTP status returned by the origin.
                        type: number
                      title:
                        description: Page title.
                        type: string
                  result:
                    type: object
                    properties:
                      accessibilityTree:
                        allOf:
                        - $ref: '#/components/schemas/brapi_SerializedAXNode'
                        - type:
                          - object
                          - 'null'
                    required:
                    - accessibilityTree
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
                - result
                - meta
        '400':
          description: The request contains errors or didn't properly encode content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '422':
          description: Request failed due to site-related issues such as timeouts, SSL errors, or inaccessible content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '429':
          description: Request failed due to rate limiting. The Retry-After header indicates when the client should retry the request.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              required: true
              schema:
                description: Number of seconds to wait before retrying the request.
                type: number
                example: 60
          content:
            application/json:
              example:
                errors:
                - code: 2001
                  message: Rate limit exceeded
                success: false
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - brapi
      x-api-token-group:
      - Browser Rendering Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.brapi.read
        type: string
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: browser-run.quick-action
      x-fern-sdk-method-name: accessibility-tree
  /accounts/{account_id}/browser-rendering/content:
    post:
      operationId: brapi-post_Content
      summary: Get HTML content
      description: Fetches rendered HTML content from provided URL or HTML. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: cacheTTL
        in: query
        description: Cache TTL default is 5s. Set to 0 to disable.
        schema:
          description: Cache TTL default is 5s. Set to 0 to disable.
          type: number
          default: 5
          maximum: 86400
          minimum: 0
      - name: browser
        in: query
        description: Rendering backend. Set to `kitesurf` to use Kitesurf (beta).
        schema:
          description: Rendering backend. Set to `kitesurf` to use Kitesurf (beta).
          type: string
          enum:
          - kitesurf
      requestBody:
        required: true
        content:
          application/json:
            examples:
              example1:
                value:
                  url: https://www.example.com/
            schema:
              type: object
              properties:
                actionTimeout:
                  description: The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error.
                  type: number
                  maximum: 120000
                addScriptTag:
                  description: Adds a script element into the page with the desired URL or content.
                  type: array
                  items:
                    additionalProperties: false
                    properties:
                      content:
                        type: string
                      id:
                        type: string
                      type:
                        type: string
                      url:
                        type: string
                        format: uri
                    type: object
                addStyleTag:
                  description: Adds a `<link rel="stylesheet">` tag into the page with the desired URL or a `<style type="text/css">` tag with the content.
                  type: array
                  items:
                    properties:
                      content:
                        type: string
                      url:
                        type: string
                        format: uri
                    type: object
                allowRequestPattern:
                  description: Only allow requests that match the provided regex patterns, eg. '/^.*\.(css)'. Reject rules are applied first.
                  type: array
                  items:
                    type: string
                allowResourceTypes:
                  description: Only allow requests that match the provided resource types, eg. 'image' or 'script'. Reject rules are applied first.
                  type: array
                  items:
                    anyOf:
                    - enum:
                      - document
                      type: string
                    - enum:
                      - stylesheet
                      type: string
                    - enum:
                      - image
                      type: string
                    - enum:
                      - media
                      type: string
                    - enum:
                      - font
                      type: string
                    - enum:
                      - script
                      type: string
                    - enum:
                      - texttrack
                      type: string
                    - enum:
                      - xhr
                      type: string
                    - enum:
                      - fetch
                      type: string
                    - enum:
                      - prefetch
                      type: string
                    - enum:
                      - eventsource
                      type: string
                    - enum:
                      - websocket
                      type: string
                    - enum:
                      - manifest
                      type: string
                    - enum:
                      - signedexchange
                      type: string
                    - enum:
                      - ping
                      type: string
                    - enum:
                      - cspviolationreport
                      type: string
                    - enum:
                      - preflight
                      type: string
                    - enum:
                      - other
                      type: string
                authenticate:
                  description: Provide credentials for HTTP authentication.
                  type: object
                  properties:
                    password:
                      type: string
                      minLength: 1
                      x-sensitive: true
                    username:
                      type: string
                      minLength: 1
                  required:
                  - username
                  - password
                bestAttempt:
                  description: Attempt to proceed when 'awaited' events fail or timeout.
                  type: boolean
                cookies:
                  description: Check [options](https://pptr.dev/api/puppeteer.page.setcookie).
                  type: array
                  items:
                    properties:
                      domain:
                        type: string
                      expires:
                        type: number
                      httpOnly:
                        type: boolean
                      name:
                        description: Cookie name.
                        type: string
                      partitionKey:
                        type: string
                      path:
                        type: string
                      priority:
                        anyOf:
                        - enum:
                          - Low
                          type: string
                        - enum:
                          - Medium
                          type: string
                        - enum:
                          - High
                          type: string
                      sameParty:
                        type: boolean
                      sameSite:
                        anyOf:
                        - enum:
                          - Strict
                          type: string
                        - enum:
                          - Lax
                          type: string
                        - enum:
                          - None
                          type: string
                      secure:
                        type: boolean
                      sourcePort:
                        type: number
                      sourceScheme:
                        anyOf:
                        - enum:
                          - Unset
                          type: string
                        - enum:
                          - NonSecure
                          type: string
                        - enum:
                          - Secure
                          type: string
                      url:
                        type: string
                      value:
                        type: string
                    required:
                    - name
                    - value
                    type: object
                emulateMediaType:
                  type: string
                gotoOptions:
                  description: Check [options](https://pptr.dev/api/puppeteer.gotooptions).
                  type: object
                  default: {}
                  properties:
                    referer:
                      type: string
                    referrerPolicy:
                      type: string
                    timeout:
                      type: number
                      default: 30000
                      maximum: 60000
                    waitUntil:
                      default: domcontentloaded
                      anyOf:
                      - enum:
                        - load
                        type: string
                      - enum:
                        - domcontentloaded
                        type: string
                      - enum:
                        - networkidle0
                        type: string
                      - enum:
                        - networkidle2
                        type: string
                      - items:
                          anyOf:
                          - enum:
                            - load
                            type: string
                          - enum:
                            - domcontentloaded
                            type: string
                          - enum:
                            - networkidle0
                            type: string
                          - enum:
                            - networkidle2
                            type: string
                        type: array
                html:
                  description: 'Set the content of the page, eg: `<h1>Hello World!!</h1>`. Either `html` or `url` must be set.'
                  type: string
                  example: <h1>Hello World!</h1>
                  minLength: 1
                rejectRequestPattern:
                  description: Block undesired requests that match the provided regex patterns, eg. '/^.*\.(css)'.
                  type: array
                  items:
                    type: string
                rejectResourceTypes:
                  description: Block undesired requests that match the provided resource types, eg. 'image' or 'script'.
                  type: array
                  items:
                    anyOf:
                    - enum:
                      - document
                      type: string
                    - enum:
                      - stylesheet
                      type: string
                    - enum:
                      - image
                      type: string
                    - enum:
                      - media
                      type: string
                    - enum:
                      - font
                      type: string
                    - enum:
                      - script
                      type: string
                    - enum:
                      - texttrack
                      type: string
                    - enum:
                      - xhr
                      type: string
                    - enum:
                      - fetch
                      type: string
                    - enum:
                      - prefetch
                      type: string
                    - enum:
                      - eventsource
                      type: string
                    - enum:
                      - websocket
                      type: string
                    - enum:
                      - manifest
                      type: string
                    - enum:
                      - signedexchange
                      type: string
                    - enum:
                      - ping
                      type: string
                    - enum:
                      - cspviolationreport
                      type: string
                    - enum:
                      - preflight
                      type: string
                    - enum:
                      - other
                      type: string
                setExtraHTTPHeaders:
                  type: object
                  additionalProperties:
                    type: string
                setJavaScriptEnabled:
                  type: boolean
                url:
                  description: URL to navigate to, eg. `https://example.com`.
                  type: string
                  format: uri
                  example: https://example.com/
                userAgent:
                  type: string
                  default: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36
                viewport:
                  description: Check [options](https://pptr.dev/api/puppeteer.page.setviewport).
                  type: object
                  default:
                    height: 1080
                    width: 1920
                  properties:
                    deviceScaleFactor:
                      type: number
                    hasTouch:
                      type: boolean
                    height:
                      type: number
                    isLandscape:
                      type: boolean
                    isMobile:
                      type: boolean
                    width:
                      type: number
                  required:
                  - width
                  - height
                waitForSelector:
                  description: Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector).
                  type: object
                  properties:
                    hidden:
                      type: boolean
                      enum:
                      - true
                    selector:
                      type: string
                    timeout:
                      type: number
                      maximum: 120000
                    visible:
                      type: boolean
                      enum:
                      - true
                  required:
                  - selector
                waitForTimeout:
                  description: Waits for a specified timeout before continuing.
                  type: number
                  maximum: 120000
              additionalProperties: false
              oneOf:
              - not:
                  properties:
                    html:
                      type: string
                  required:
                  - html
                  type: object
                properties:
                  html:
                    type: string
                  url:
                    type: string
                required:
                - url
                type: object
              - not:
                  properties:
                    url:
                      type: string
                  required:
                  - url
                  type: object
                properties:
                  html:
                    type: string
                  url:
                    type: string
                required:
                - html
                type: object
      responses:
        '200':
          description: Returns the page's content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  meta:
                    type: object
                    properties:
                      finalUrl:
                        description: URL that served the response, after any redirects the browser followed.
                        type: string
                      headers:
                        description: Origin response headers, lowercased. Repeated headers are joined with a newline. Credential and transport-only headers that do not survive rendering are omitted.
                        type: object
                        additionalProperties:
                          type: string
                      redirectChain:
                        description: HTTP redirects followed to reach `finalUrl`, oldest first. Omitted for direct navigation and for client-side redirects such as meta refresh. An empty array means redirects occurred but their intermediate responses could not be read.
                        type: array
                        items:
                          properties:
                            headers:
                              description: Redirect response headers, including `location`.
                              type: object
                              additionalProperties:
                                type: string
                            status:
                              description: HTTP status of the redirect.
                              type: number
                            url:
                              description: URL that returned the redirect.
                              type: string
                          required:
                          - url
                          - status
                          - headers
                          type: object
                      status:
                        description: HTTP status returned by the origin.
                        type: number
                      title:
                        description: Page title.
                        type: string
                  result:
                    description: HTML content.
                    type: string
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
                - meta
        '400':
          description: The request contains errors or didn't properly encode content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '422':
          description: Request failed due to site-related issues such as timeouts, SSL errors, or inaccessible content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '429':
          description: Request failed due to rate limiting. The Retry-After header indicates when the client should retry the request.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              required: true
              schema:
                description: Number of seconds to wait before retrying the request.
                type: number
                example: 60
          content:
            application/json:
              example:
                errors:
                - code: 2001
                  message: Rate limit exceeded
                success: false
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - brapi
      x-api-token-group:
      - Browser Rendering Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.brapi.read
        type: string
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: browser-run.quick-action
      x-fern-sdk-method-name: content
  /accounts/{account_id}/browser-rendering/crawl:
    post:
      operationId: brapi-post_Crawl
      summary: Crawl websites
      description: Starts a crawl job for the provided URL and its children. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: cacheTTL
        in: query
        description: Cache TTL default is 5s. Set to 0 to disable.
        schema:
          description: Cache TTL default is 5s. Set to 0 to disable.
          type: number
          default: 5
          maximum: 86400
          minimum: 0
      requestBody:
        required: true
        content:
          application/json:
            examples:
              example1:
                value:
                  url: https://www.example.com/
            schema:
              anyOf:
              - additionalProperties: false
                properties:
                  actionTimeout:
                    description: The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error.
                    type: number
                    maximum: 120000
                  addScriptTag:
                    description: Adds a script element into the page with the desired URL or content.
                    type: array
                    items:
                      additionalProperties: false
                      properties:
                        content:
                          type: string
                        id:
                          type: string
                        type:
                          type: string
                        url:
                          type: string
                          format: uri
                      type: object
                  addStyleTag:
                    description: Adds a `<link rel="stylesheet">` tag into the page with the desired URL or a `<style type="text/css">` tag with the content.
                    type: array
                    items:
                      properties:
                        content:
                          type: string
                        url:
                          type: string
                          format: uri
                      type: object
                  allowRequestPattern:
                    description: Only allow requests that match the provided regex patterns, eg. '/^.*\.(css)'. Reject rules are applied first.
                    type: array
                    items:
                      type: string
                  allowResourceTypes:
                    description: Only allow requests that match the provided resource types, eg. 'image' or 'script'. Reject rules are applied first.
                    type: array
                    items:
                      anyOf:
                      - enum:
                        - document
                        type: string
                      - enum:
                        - stylesheet
                        type: string
                      - enum:
                        - image
                        type: string
                      - enum:
                        - media
                        type: string
                      - enum:
                        - font
                        type: string
                      - enum:
                        - script
                        type: string
                      - enum:
                        - texttrack
                        type: string
                      - enum:
                        - xhr
                        type: string
                      - enum:
                        - fetch
                        type: string
                      - enum:
                        - prefetch
                        type: string
                      - enum:
                        - eventsource
                        type: string
                      - enum:
                        - websocket
                        type: string
                      - enum:
                        - manifest
                        type: string
                      - enum:
                        - signedexchange
                        type: string
                      - enum:
                        - ping
                        type: string
                      - enum:
                        - cspviolationreport
                        type: string
                      - enum:
                        - preflight
                        type: string
                      - enum:
                        - other
                        type: string
                  authenticate:
                    description: Provide credentials for HTTP authentication.
                    type: object
                    properties:
                      password:
                        type: string
                        minLength: 1
                        x-sensitive: true
                      username:
                        type: string
                        minLength: 1
                    required:
                    - username
                    - password
                  bestAttempt:
                    description: Attempt to proceed when 'awaited' events fail or timeout.
                    type: boolean
                  browser:
                    description: Rendering backend for this crawl. Set to `kitesurf` to render pages with Kitesurf (beta). Only valid when `render` is `true`.
                    type: string
                    enum:
                    - kitesurf
                  contentUse:
                    description: 'Intended content use level to respect the `use` Content-Signal directive in robots.txt. Levels (least to most permissive): ''reference'', ''full''. A URL is disallowed when the publisher''s declared `use` level is lower than this intent. Learn more: https://contentsignals.org/. Default: ''full''.'
                    default: full
                    anyOf:
                    - enum:
                      - reference
                      type: string
                    - enum:
                      - full
                      type: string
                  cookies:
                    description: Check [options](https://pptr.dev/api/puppeteer.page.setcookie).
                    type: array
                    items:
                      properties:
                        domain:
                          type: string
                        expires:
                          type: number
                        httpOnly:
                          type: boolean
                        name:
                          description: Cookie name.
                          type: string
                        partitionKey:
                          type: string
                        path:
                          type: string
                        priority:
                          anyOf:
                          - enum:
                            - Low
                            type: string
                          - enum:
                            - Medium
                            type: string
                          - enum:
                            - High
                            type: string
                        sameParty:
                          type: boolean
                        sameSite:
                          anyOf:
                          - enum:
                            - Strict
                            type: string
                          - enum:
                            - Lax
                            type: string
                          - enum:
                            - None
                            type: string
                        secure:
                          type: boolean
                        sourcePort:
                          type: number
                        sourceScheme:
                          anyOf:
                          - enum:
                            - Unset
                            type: string
                          - enum:
                            - NonSecure
                            type: string
                          - enum:
                            - Secure
                            type: string
                        url:
                          type: string
                        value:
                          type: string
                      required:
                      - name
                      - value
                      type: object
                  crawlPurposes:
                    description: 'List of crawl purposes to respect Content-Signal directives in robots.txt. Allowed values: ''search'', ''ai-input'', ''ai-train''. Learn more: https://contentsignals.org/. Default: [''search'', ''ai-input'', ''ai-train''].'
                    type: array
                    items:
                      anyOf:
                      - enum:
                        - search
                        type: string
                      - enum:
                        - ai-input
                        type: string
                      - enum:
                        - ai-train
                        type: string
                    default:
                    - search
                    - ai-input
                    - ai-train
                    maxItems: 3
                    minItems: 1
                  depth:
                    description: Maximum number of levels deep the crawler will traverse from the starting URL.
                    type: number
                    default: 100000
                    maximum: 100000
                    minimum: 1
                  emulateMediaType:
                    type: string
                  formats:
                    description: Formats to return. Default is `html`.
                    type: array
                    items:
                      anyOf:
                      - enum:
                        - html
                        type: string
                      - enum:
                        - markdown
                        type: string
                      - enum:
                        - json
                        type: string
                    default:
                    - html
                  gotoOptions:
                    description: Check [options](https://pptr.dev/api/puppeteer.gotooptions).
                    type: object
                    default: {}
                    properties:
                      referer:
                        type: string
                      referrerPolicy:
                        type: string
                      timeout:
                        type: number
                        default: 30000
                        maximum: 60000
                      waitUntil:
                        default: domcontentloaded
                        anyOf:
                        - enum:
                          - load
                          type: string
                        - enum:
                          - domcontentloaded
                          type: string
                        - enum:
                          - networkidle0
                          type: string
                        - enum:
                          - networkidle2
                          type: string
                        - items:
                            anyOf:
                            - enum:
                              - load
                              type: string
                            - enum:
                              - domcontentloaded
                              type: string
                            - enum:
                              - networkidle0
                              type: string
                            - enum:
                              - networkidle2
                              type: string
                          type: array
                  jsonOptions:
                    description: Options for JSON extraction.
                    type: object
                    additionalProperties: false
                    properties:
                      custom_ai:
                        description: Optional list of custom AI models to use for the request. The models will be tried in the order provided, and in case a model returns an error, the next one will be used as fallback.
                        type: array
                        items:
                          properties:
                            authorization:
                              description: 'Authorization token for the AI model: `Bearer <token>`. Not needed for workers-ai models.'
                              type: string
                            model:
                              description: AI model to use for the request. Must be formed as `<provider>/<model_name>`, e.g. `workers-ai/@cf/meta/llama-3.3-70b-instruct-fp8-fast`.
                              type: string
                          required:
                          - model
                          type: object
                      prompt:
                        type: string
                      response_format:
                        type: object
                        properties:
                          json_schema:
                            description: 'Schema for the response format. More information here: https://developers.cloudflare.com/workers-ai/json-mode/'
                            type:
                            - object
                            - 'null'
                            additionalProperties: true
                          type:
                            type: string
                        required:
                        - type
                  limit:
                    description: Maximum number of URLs to crawl.
                    type: number
                    default: 10
                    maximum: 100000
                    minimum: 1
                  maxAge:
                    description: Maximum age of a resource that can be returned from cache in seconds. Default is 1 day.
                    type: number
                    default: 86400
                    maximum: 604800
                    minimum: 0
                  modifiedSince:
                    description: 'Unix timestamp (seconds since epoch) indicating to only crawl pages that were modified since this time. For sitemap URLs with a lastmod field, this is compared directly. For other URLs, the crawler will use If-Modified-Since header when fetching. URLs without modification information (no lastmod in sitemap and no Last-Modified header support) will be crawled. Note: This works in conjunction with maxAge - both filters must pass for a cached resource to be used. Must be within the last year and not in the future.'
                    type: integer
                    exclusiveMinimum: 0
                  options:
                    description: Additional options for the crawler.
                    type: object
                    default:
                      includeExternalLinks: false
                      includeSubdomains: false
                    properties:
                      excludePatterns:
                        description: 'Exclude links matching the provided wildcard patterns in the crawl job. Example: ''https://example.com/privacy/**''.'
                        type: array
                        items:
                          maxLength: 500
                          minLength: 1
                          type: string
                        maxItems: 100
                      includeExternalLinks:
                        description: Include external links in the crawl job. If set to true, includeSubdomains is ignored.
                        type: boolean
                        default: false
                      includePatterns:
                        description: 'Include only links matching the provided wildcard patterns in the crawl job. Include patterns are evaluated before exclude patterns. URLs that match any of the specified include patterns will be included in the crawl job. Example: ''https://example.com/blog/**''.'
                        type: array
                        items:
                          maxLength: 500
                          minLength: 1
                          type: string
                        maxItems: 100
                      includeSubdomains:
                        description: Include links to subdomains in the crawl job. This option is ignored if includeExternalLinks is true.
                        type: boolean
                        default: false
                  rejectRequestPattern:
                    description: Block undesired requests that match the provided regex patterns, eg. '/^.*\.(css)'.
                    type: array
                    items:
                      type: string
                  rejectResourceTypes:
                    description: Block undesired requests that match the provided resource types, eg. 'image' or 'script'.
                    type: array
                    items:
                      anyOf:
                      - enum:
                        - document
                        type: string
                      - enum:
                        - stylesheet
                        type: string
                      - enum:
                        - image
                        type: string
                      - enum:
                        - media
                        type: string
                      - enum:
                        - font
                        type: string
                      - enum:
                        - script
                        type: string
                      - enum:
                        - texttrack
                        type: string
                      - enum:
                        - xhr
                        type: string
                      - enum:
                        - fetch
                        type: string
                      - enum:
                        - prefetch
                        type: string
                      - enum:
                        - eventsource
                        type: string
                      - enum:
                        - websocket
                        type: string
                      - enum:
                        - manifest
                        type: string
                      - enum:
                        - signedexchange
                        type: string
                      - enum:
                        - ping
                        type: string
                      - enum:
                        - cspviolationreport
                        type: string
                      - enum:
                        - preflight
                        type: string
                      - enum:
                        - other
                        type: string
                  render:
                    description: Whether to render the page or fetch static content. True by default.
                    type: boolean
                    default: true
                    enum:
                    - true
                  setExtraHTTPHeaders:
                    type: object
                    additionalProperties:
                      type: string
                  setJavaScriptEnabled:
                    type: boolean
                  source:
                    description: Source of links to crawl. 'sitemaps' - only crawl URLs from sitemaps, 'links' - only crawl URLs scraped from pages, 'all' - crawl both sitemap and scraped links (default).
                    default: all
                    anyOf:
                    - enum:
                      - sitemaps
                      type: string
                    - enum:
                      - links
                      type: string
                    - enum:
                      - all
                      type: string
                  url:
                    description: URL to navigate to, eg. `https://example.com`.
                    type: string
                    format: uri
                  viewport:
                    description: Check [options](https://pptr.dev/api/puppeteer.page.setviewport).
                    type: object
                    default:
                      height: 1080
                      width: 1920
                    properties:
                      deviceScaleFactor:
                        type: number
                      hasTouch:
                        type: boolean
                      height:
                        type: number
                      isLandscape:
                        type: boolean
                      isMobile:
                        type: boolean
                      width:
                        type: number
                    required:
                    - width
                    - height
                  waitForSelector:
                    description: Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector).
                    type: object
                    properties:
                      hidden:
                        type: boolean
                        enum:
                        - true
                      selector:
                        type: string
                      timeout:
                        type: number
                        maximum: 120000
                      visible:
                        type: boolean
                        enum:
                        - true
                    required:
                    - selector
                  waitForTimeout:
                    description: Waits for a specified timeout before continuing.
                    type: number
                    maximum: 120000
                required:
                - url
                type: object
              - additionalProperties: false
                properties:
                  contentUse:
                    description: 'Intended content use level to respect the `use` Content-Signal directive in robots.txt. Levels (least to most permissive): ''reference'', ''full''. A URL is disallowed when the publisher''s declared `use` level is lower than this intent. Learn more: https://contentsignals.org/. Default: ''full''.'
                    default: full
                    anyOf:
                    - enum:
                      - reference
                      type: string
                    - enum:
                      - full
                      type: string
                  crawlPurposes:
                    description: 'List of crawl purposes to respect Content-Signal directives in robots.txt. Allowed values: ''search'', ''ai-input'', ''ai-train''. Learn more: https://contentsignals.org/. Default: [''search'', ''ai-input'', ''ai-train''].'
                    type: array
                    items:
                      anyOf:
                      - enum:
                        - search
                        type: string
                      - enum:
                        - ai-input
                        type: string
                      - enum:
                        - ai-train
                        type: string
                    default:
                    - search
                    - ai-input
                    - ai-train
                    maxItems: 3
                    minItems: 1
                  depth:
                    description: Maximum number of levels deep the crawler will traverse from the starting URL.
                    type: number
                    default: 100000
                    maximum: 100000
                    minimum: 1
                  formats:
                    description: Formats to return. Default is `html`.
                    type: array
                    items:
                      anyOf:
                      - enum:
                        - html
                        type: string
                      - enum:
                        - markdown
                        type: string
                      - enum:
                        - json
                        type: string
                    default:
                    - html
                  jsonOptions:
                    description: Options for JSON extraction.
                    type: object
                    additionalProperties: false
                    properties:
                      custom_ai:
                        description: Optional list of custom AI models to use for the request. The models will be tried in the order provided, and in case a model returns an error, the next one will be used as fallback.
                        type: array
                        items:
                          properties:
                            authorization:
                              description: 'Authorization token for the AI model: `Bearer <token>`. Not needed for workers-ai models.'
                              type: string
                            model:
                              description: AI model to use for the request. Must be formed as `<provider>/<model_name>`, e.g. `workers-ai/@cf/meta/llama-3.3-70b-instruct-fp8-fast`.
                              type: string
                          required:
                          - model
                          type: object
                      prompt:
                        type: string
                      response_format:
                        type: object
                        properties:
                          json_schema:
                            description: 'Schema for the response format. More information here: https://developers.cloudflare.com/workers-ai/json-mode/'
                            type:
                            - object
                            - 'null'
                            additionalProperties: true
                          type:
                            type: string
                        required:
                        - type
                  limit:
                    description: Maximum number of URLs to crawl.
                    type: number
                    default: 10
                    maximum: 100000
                    minimum: 1
                  maxAge:
                    description: Maximum age of a resource that can be returned from cache in seconds. Default is 1 day.
                    type: number
                    default: 86400
                    maximum: 604800
                    minimum: 0
                  modifiedSince:
                    description: 'Unix timestamp (seconds since epoch) indicating to only crawl pages that were modified since this time. For sitemap URLs with a lastmod field, this is compared directly. For other URLs, the crawler will use If-Modified-Since header when fetching. URLs without modification information (no lastmod in sitemap and no Last-Modified header support) will be crawled. Note: This works in conjunction with maxAge - both filters must pass for a cached resource to be used. Must be within the last year and not in the future.'
                    type: integer
                    exclusiveMinimum: 0
                  options:
                    description: Additional options for the crawler.
                    type: object
                    default:
                      includeExternalLinks: false
                      includeSubdomains: false
                    properties:
                      excludePatterns:
                        description: 'Exclude links matching the provided wildcard patterns in the crawl job. Example: ''https://example.com/privacy/**''.'
                        type: array
                        items:
                          maxLength: 500
                          minLength: 1
                          type: string
                        maxItems: 100
                      includeExternalLinks:
                        description: Include external links in the crawl job. If set to true, includeSubdomains is ignored.
                        type: boolean
                        default: false
                      includePatterns:
                        description: 'Include only links matching the provided wildcard patterns in the crawl job. Include patterns are evaluated before exclude patterns. URLs that match any of the specified include patterns will be included in the crawl job. Example: ''https://example.com/blog/**''.'
                        type: array
                        items:
                          maxLength: 500
                          minLength: 1
                          type: string
                        maxItems: 100
                      includeSubdomains:
                        description: Include links to subdomains in the crawl job. This option is ignored if includeExternalLinks is true.
                        type: boolean
                        default: false
                  render:
                    description: Whether to render the page or fetch static content. True by default.
                    type: boolean
                    enum:
                    - false
                  source:
                    description: Source of links to crawl. 'sitemaps' - only crawl URLs from sitemaps, 'links' - only crawl URLs scraped from pages, 'all' - crawl both sitemap and scraped links (default).
                    default: all
                    anyOf:
                    - enum:
                      - sitemaps
                      type: string
                    - enum:
                      - links
                      type: string
                    - enum:
                      - all
                      type: string
                  url:
                    description: URL to navigate to, eg. `https://example.com`.
                    type: string
                    format: uri
                required:
                - url
                - render
                type: object
      responses:
        '200':
          description: Returns the ID for the started crawl job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  result:
                    description: Crawl job ID.
                    type: string
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
                - result
        '400':
          description: The request contains errors or didn't properly encode content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '429':
          description: Request failed due to rate limiting. The Retry-After header indicates when the client should retry the request.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              required: true
              schema:
                description: Number of seconds to wait before retrying the request.
                type: number
                example: 60
          content:
            application/json:
              example:
                errors:
                - code: 2001
                  message: Rate limit exceeded
                success: false
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - brapi
      x-api-token-group:
      - Browser Rendering Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.brapi.read
        type: string
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: browser-run.crawl
      x-fern-sdk-method-name: create
  /accounts/{account_id}/browser-rendering/crawl/{job_id}:
    delete:
      operationId: brapi-delete_CancelCrawl
      summary: Cancel a crawl job
      description: Cancels an ongoing crawl job by setting its status to cancelled and stopping all queued URLs.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: job_id
        in: path
        description: The ID of the crawl job to cancel.
        required: true
        schema:
          description: The ID of the crawl job to cancel.
          type: string
      responses:
        '200':
          description: Crawl job cancelled successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  result:
                    type: object
                    properties:
                      job_id:
                        description: The ID of the cancelled job.
                        type: string
                      message:
                        description: Cancellation confirmation message.
                        type: string
                    required:
                    - message
                    - job_id
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
                - result
        '400':
          description: Job is already in final status and cannot be cancelled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '404':
          description: Crawl job not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - brapi
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.brapi.read
        type: string
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: browser-run.crawl
      x-fern-sdk-method-name: delete
    get:
      operationId: brapi-get_CrawlResult
      summary: Get crawl result
      description: Returns the result of a crawl job.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: job_id
        in: path
        description: Crawl job ID.
        required: true
        schema:
          description: Crawl job ID.
          type: string
          minLength: 1
      - name: cacheTTL
        in: query
        description: Cache TTL default is 5s. Set to 0 to disable.
        schema:
          description: Cache TTL default is 5s. Set to 0 to disable.
          type: number
          default: 5
          maximum: 86400
          minimum: 0
      - name: status
        in: query
        description: Filter by URL status.
        schema:
          description: Filter by URL status.
          type: string
          enum:
          - queued
          - errored
          - completed
          - disallowed
          - skipped
          - cancelled
      - name: cursor
        in: query
        description: Cursor for pagination.
        schema:
          description: Cursor for pagination.
          type: number
          default: 0
      - name: limit
        in: query
        description: Limit for pagination.
        schema:
          description: Limit for pagination.
          type: number
          default: 50
      responses:
        '200':
          description: Returns the result of a crawl job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  result:
                    type: object
                    additionalProperties: false
                    properties:
                      browserSecondsUsed:
                        description: Total seconds spent in browser so far.
                        type: number
                      cursor:
                        description: Cursor for pagination.
                        type: string
                      finished:
                        description: Total number of URLs that have been crawled so far.
                        type: number
                      id:
                        description: Crawl job ID.
                        type: string
                      records:
                        description: List of crawl job records.
                        type: array
                        items:
                          additionalProperties: false
                          properties:
                            html:
                              description: HTML content of the crawled URL.
                              type: string
                            json:
                              description: JSON of the content of the crawled URL.
                              type: object
                              additionalProperties:
                                type:
                                - object
                                - 'null'
                            markdown:
                              description: Markdown of the content of the crawled URL.
                              type: string
                            metadata:
                              description: Absent for urls that never reached a fetch.
                              type: object
                              properties:
                                status:
                                  description: HTTP status code of the crawled page.
                                  type: number
                                title:
                                  description: Title of the crawled page.
                                  type: string
                                url:
                                  description: Final URL of the crawled page.
                                  type: string
                              required:
                              - url
                              - status
                            status:
                              description: Current status of the crawled URL.
                              type: string
                              enum:
                              - queued
                              - errored
                              - completed
                              - disallowed
                              - skipped
                              - cancelled
                            url:
                              description: Crawled URL.
                              type: string
                          required:
                          - url
                          - status
                          type: object
                      skipped:
                        description: Total number of URLs that were skipped due to include/exclude/subdomain filters. Skipped URLs are included in records but are not counted toward total/finished.
                        type: number
                      status:
                        description: Current crawl job status.
                        type: string
                      total:
                        description: Total current number of URLs in the crawl job.
                        type: number
                    required:
                    - id
                    - status
                    - browserSecondsUsed
                    - total
                    - finished
                    - skipped
                    - records
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
                - result
        '400':
          description: The request contains errors or didn't properly encode content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
                  success:
                    description: Response status.
                    type: boolean
                required:
                - success
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - brapi
      x-api-token-group:
      - Browser Rendering Write
      - Browser Rendering Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.brapi.read
        type: string
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: browser-run.crawl
      x-fern-sdk-method-name: get
  /accounts/{account_id}/browser-rendering/devtools/browser:
    post:
      operationId: brapi-post_DevtoolsAcquire
      summary: Get a browser session ID
      description: Acquires a browser and returns its session ID and websocket URL. Optionally accepts a JSON body with session guardrails to restrict outbound HTTP/S traffic.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: keep_alive
        in: query
        description: Keep-alive time in milliseconds.
        schema:
          description: Keep-alive time in milliseconds.
          type: number
          default: 60000
          maximum: 1200000
          minimum: 10000
      - name: lab
        in: query
        description: Use experimental browser.
        schema:
          description: Use experimental browser.
          type: boolean
          default: false
      - name: targets
        in: query
        description: Include browser targets in response.
        schema:
          description: Include browser targets in response.
          type: boolean
          default: false
      - name: liveViewUrlExpiresInMs
        in: query
        description: How long the live view URL remains valid, in milliseconds (max 60 minutes). Only used when targets is true.
        schema:
          description: How long the live view URL remains valid, in milliseconds (max 60 minutes). Only used when targets is true.
          type: number
          default: 300000
          maximum: 3600000
          minimum: 60000
      - name: recording
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                guardrails:
                  type: object
                  additionalProperties: false
                  properties:
                    allowedDomainSets:
                      description: 'Max 4 entries: curated preset names (common-cdns) and/or https URLs of newline-separated hostname lists.'
                      type: array
                      items:
                        type: string
                      maxItems: 4
                    allowedDomains:
                      description: Hostname patterns, max 50. Supports exact hosts (example.com) or a single * wildcard anywhere. Prefer *.example.com (subdomain wildcard) over *example.com (prefix wildcard) to avoid matching overbroad lookalikes like evilexample.com.
                      type: array
                      items:
                        type: string
                      maxItems: 50
              additionalProperties: false
      responses:
        '200':
          description: Returns a session ID ready to be connected to.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    description: Browser session ID.
                    type: string
                  webSocketDebuggerUrl:
                    description: WebSocket URL for the session.
                    type: string
                required:
                - sessionId
        '429':
          description: Request failed due to rate limiting. The Retry-After header indicates when the client should retry the request.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              required: true
              schema:
                description: Number of seconds to wait before retrying the request.
                type: number
                example: 60
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          description: Error code.
                          type: number
                        message:
                          description: Error message.
                          type: string
                      required:
                      - message
                      - code
                      type: object
[...]
