openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Analytics SQL API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Analytics SQL
paths:
  /accounts/{account_tag}/analytics/sql:
    get:
      operationId: sql-api-query-get-account-scoped
      summary: Query analytics datasets
      description: Executes a SQL query scoped to the account in the request path. API Gateway preserves the account path, and SQL API requires it to match the signed JWT account, so an accountTag predicate or JSON scope is not required. Explicit account scope must match the path account. Any zone restrictions must belong to that account. Query parameters, time ranges, output formats, authorization, and responses follow the legacy query endpoint.
      parameters:
      - name: account_tag
        in: path
        description: Account that authorizes and scopes the request.
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{32}$
        example: 0123456789abcdef0123456789abcdef
      - name: query
        in: query
        description: 'SQL query to execute. A trailing FORMAT selects JSON, JSONEachRow, TabSeparated, or TSV output on any dataset.

          '
        required: true
        schema:
          type: string
        example: SELECT edgeResponseStatus FROM events.httpRequests WHERE datetime > '2026-01-01' LIMIT 10
      responses:
        '200':
          $ref: '#/components/responses/analytics-sql_QuerySuccess'
        '400':
          $ref: '#/components/responses/analytics-sql_MalformedRequest'
        '403':
          $ref: '#/components/responses/analytics-sql_Forbidden'
        '422':
          $ref: '#/components/responses/analytics-sql_UnprocessableQuery'
        '429':
          $ref: '#/components/responses/analytics-sql_QueryLimitExceeded'
        '500':
          $ref: '#/components/responses/analytics-sql_InternalError'
        '501':
          $ref: '#/components/responses/analytics-sql_NotImplemented'
        '503':
          $ref: '#/components/responses/analytics-sql_ServiceUnavailable'
        '507':
          $ref: '#/components/responses/analytics-sql_ResourceExhausted'
      security:
      - api_token: []
      tags:
      - Analytics SQL
      x-api-token-group:
      - Account Analytics Read
      x-fern-audiences:
      - sdk
      x-fern-availability: alpha
      x-fern-sdk-group-name: analytics.sql.accounts
      x-fern-sdk-method-name: get
    post:
      operationId: sql-api-query-post-account-scoped
      summary: Query analytics datasets
      description: Executes a SQL query scoped to the account in the request path. API Gateway preserves the account path, and SQL API requires it to match the signed JWT account, so an accountTag predicate or JSON scope is not required. Explicit account scope must match the path account. Any zone restrictions must belong to that account. Query parameters, time ranges, output formats, authorization, and responses follow the legacy query endpoint.
      parameters:
      - name: account_tag
        in: path
        description: Account that authorizes and scopes the request.
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{32}$
        example: 0123456789abcdef0123456789abcdef
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/analytics-sql_SqlQueryRequest'
          text/plain:
            example: SELECT edgeResponseStatus FROM events.httpRequests WHERE datetime > '2026-01-01' LIMIT 10
            schema:
              type: string
      responses:
        '200':
          $ref: '#/components/responses/analytics-sql_QuerySuccess'
        '400':
          $ref: '#/components/responses/analytics-sql_MalformedRequest'
        '403':
          $ref: '#/components/responses/analytics-sql_Forbidden'
        '422':
          $ref: '#/components/responses/analytics-sql_UnprocessableQuery'
        '429':
          $ref: '#/components/responses/analytics-sql_QueryLimitExceeded'
        '500':
          $ref: '#/components/responses/analytics-sql_InternalError'
        '501':
          $ref: '#/components/responses/analytics-sql_NotImplemented'
        '503':
          $ref: '#/components/responses/analytics-sql_ServiceUnavailable'
        '507':
          $ref: '#/components/responses/analytics-sql_ResourceExhausted'
      security:
      - api_token: []
      tags:
      - Analytics SQL
      x-api-token-group:
      - Account Analytics Read
      x-fern-audiences:
      - sdk
      x-fern-availability: alpha
      x-fern-sdk-group-name: analytics.sql.accounts
      x-fern-sdk-method-name: post
  /accounts/{account_tag}/analytics/sql/introspection:
    get:
      operationId: sql-api-introspection-account-scoped
      summary: List available analytics datasets
      description: Returns the dataset catalogue for the account in the request path. API Gateway preserves the account path, and SQL API requires it to match the signed JWT account; account_tag is not required as a query parameter. If supplied, it must match the path account. Dataset and column discovery options are identical to the legacy introspection endpoint.
      parameters:
      - name: account_tag
        in: path
        description: Account that authorizes and scopes the request.
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{32}$
        example: 0123456789abcdef0123456789abcdef
      - name: include_columns
        in: query
        description: Include column metadata for each returned dataset.
        schema:
          type: boolean
          default: false
      - name: include_custom_attributes
        in: query
        description: 'Include a capped set of custom attribute names and types observed during the preceding seven days. Requires a nonempty dataset_name.

          '
        schema:
          type: boolean
          default: false
      - name: include_wae
        in: query
        description: 'Include Workers Analytics Engine datasets, which are discovered from the account''s own data. Set to `false` to return only datasets described from the static catalogue, which avoids that lookup.

          '
        schema:
          type: boolean
          default: true
      - name: include_lex
        in: query
        description: 'Include Log Explorer datasets, which are listed only where the account has them. Set to `false` to return only datasets described from the static catalogue, which avoids that lookup.

          '
        schema:
          type: boolean
          default: true
      - name: dataset_name
        in: query
        description: 'Return only the dataset with this exact name. An empty value is treated as if the parameter had been omitted, and does not filter the catalogue. A name that matches no dataset in this deployment''s catalogue is rejected with `422`; a dataset that exists but is not describable here is rejected identically, so the two cases cannot be told apart.


          A Workers Analytics Engine dataset is named in full, as `events.analyticsEngine.<dataset_name>`; the namespace on its own returns every such dataset the account has. A `dataset_name` the account does not have is rejected with `422` like any other unknown name.

          '
        schema:
          type: string
        example: events.httpRequests
      responses:
        '200':
          description: Dataset catalogue returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analytics-sql_IntrospectionResponse'
        '400':
          $ref: '#/components/responses/analytics-sql_MalformedRequest'
        '403':
          description: 'Authentication failed or the caller does not have Account Analytics Read permission on the specified account.

            '
          content:
            text/plain:
              example: Authorization error
              schema:
                type: string
        '422':
          description: 'The request could not be processed. This is returned when the account tag is invalid or unknown, when `include_custom_attributes` is set without a `dataset_name`, when a Workers Analytics Engine `dataset_name` is supplied alongside `include_wae=false` or contains characters a dataset name cannot contain, or when the supplied criteria match no dataset that this deployment can describe — either because no such dataset exists or because it is not describable here. The message names the criteria that matched nothing.

            '
          content:
            text/plain:
              example: 'Input was invalid: There are no introspectable datasets matching the provided criteria (dataset_name=`events.nonexistent`)'
              schema:
                type: string
        '500':
          $ref: '#/components/responses/analytics-sql_InternalError'
        '503':
          description: The authorization service is temporarily unavailable.
          content:
            text/plain:
              schema:
                type: string
      security:
      - api_token: []
      tags:
      - Analytics SQL
      x-api-token-group:
      - Account Analytics Read
      x-fern-audiences:
      - sdk
      x-fern-availability: alpha
      x-fern-sdk-group-name: analytics.sql.accounts.introspection
      x-fern-sdk-method-name: get
  /analytics/sql:
    get:
      operationId: sql-api-query-get
      summary: Query analytics datasets
      description: Executes a SQL query against the analytics datasets available to the caller. SQL placeholders can be bound with query parameters named `param_`, such as `param_status=404` for `$status`. A trailing `FORMAT JSON`, `FORMAT JSONEachRow`, `FORMAT TabSeparated`, or `FORMAT TSV` is supported for all datasets. Without FORMAT, each backend retains its existing default JSON response.
      parameters:
      - name: query
        in: query
        description: 'SQL query to execute. A trailing FORMAT selects JSON, JSONEachRow, TabSeparated, or TSV output on any dataset.

          '
        required: true
        schema:
          type: string
        example: SELECT edgeResponseStatus FROM events.httpRequests WHERE accountTag = '0123456789abcdef0123456789abcdef' AND datetime > '2026-01-01' LIMIT 10
      responses:
        '200':
          $ref: '#/components/responses/analytics-sql_QuerySuccess'
        '400':
          $ref: '#/components/responses/analytics-sql_MalformedRequest'
        '403':
          $ref: '#/components/responses/analytics-sql_Forbidden'
        '422':
          $ref: '#/components/responses/analytics-sql_UnprocessableQuery'
        '429':
          $ref: '#/components/responses/analytics-sql_QueryLimitExceeded'
        '500':
          $ref: '#/components/responses/analytics-sql_InternalError'
        '501':
          $ref: '#/components/responses/analytics-sql_NotImplemented'
        '503':
          $ref: '#/components/responses/analytics-sql_ServiceUnavailable'
        '507':
          $ref: '#/components/responses/analytics-sql_ResourceExhausted'
      security:
      - api_token: []
      tags:
      - Analytics SQL
      x-api-token-group:
      - Account Analytics Read
      x-fern-audiences:
      - sdk
      x-fern-availability: generally-available
      x-fern-sdk-group-name: analytics.sql
      x-fern-sdk-method-name: get
    post:
      operationId: sql-api-query-post
      summary: Query analytics datasets
      description: Executes a SQL query against the analytics datasets available to the caller. Send either raw SQL or a JSON object containing the query and optional positional or named parameters, time range, and account or zone scope. Raw SQL placeholders can also be bound with query parameters named `param_`. A trailing `FORMAT JSON`, `FORMAT JSONEachRow`, `FORMAT TabSeparated`, or `FORMAT TSV` is supported for all datasets. Without FORMAT, each backend retains its existing default JSON response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/analytics-sql_SqlQueryRequest'
          text/plain:
            example: SELECT edgeResponseStatus FROM events.httpRequests WHERE accountTag = '0123456789abcdef0123456789abcdef' AND datetime > '2026-01-01' LIMIT 10
            schema:
              type: string
      responses:
        '200':
          $ref: '#/components/responses/analytics-sql_QuerySuccess'
        '400':
          $ref: '#/components/responses/analytics-sql_MalformedRequest'
        '403':
          $ref: '#/components/responses/analytics-sql_Forbidden'
        '422':
          $ref: '#/components/responses/analytics-sql_UnprocessableQuery'
        '429':
          $ref: '#/components/responses/analytics-sql_QueryLimitExceeded'
        '500':
          $ref: '#/components/responses/analytics-sql_InternalError'
        '501':
          $ref: '#/components/responses/analytics-sql_NotImplemented'
        '503':
          $ref: '#/components/responses/analytics-sql_ServiceUnavailable'
        '507':
          $ref: '#/components/responses/analytics-sql_ResourceExhausted'
      security:
      - api_token: []
      tags:
      - Analytics SQL
      x-api-token-group:
      - Account Analytics Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: sql
      x-fern-sdk-method-name: query
      x-forge-params:
        query:
          positional: true
  /analytics/sql/introspection:
    get:
      operationId: sql-api-introspection
      summary: List available analytics datasets
      description: 'Returns the analytics dataset catalogue. By default, the response contains dataset names, titles, categories, descriptions, kinds, and hidden flags. Set `include_columns` to include each dataset''s column names, descriptions, data types, and hidden flags. The caller must have Account Analytics Read permission on the account identified by `account_tag`. Dataset names, descriptions, and columns are the same for every authorized account. When `include_custom_attributes` is set, the response also includes custom attribute names and types discovered from that account''s own data, which legitimately differs per caller. `hidden` marks catalogue entries a client should de-emphasise. It has no effect on access: hidden datasets and columns are returned here and remain fully queryable.


        The catalogue lists the datasets this deployment is able to describe, which is not a fixed list. Some datasets are described by the service that owns them and are listed only where that service is available, so the same account may see a different catalogue in different environments, and datasets may appear or disappear without a change to this API. Clients should query the catalogue rather than hard-coding it, and should not treat a dataset''s absence as proof that it does not exist.


        Workers Analytics Engine datasets are named by the account that writes them, so they are discovered from that account''s own data rather than from a fixed list. They appear as `events.analyticsEngine.` and differ per account. A dataset is listed for as long as any of its data is retained, so it does not disappear from the catalogue merely because writes have stopped. An account with a very large number of datasets may receive a truncated list. Set `include_wae=false` to omit them.


        Log Explorer datasets are listed only where the account has them, so they differ per account and are not part of the static catalogue. Set `include_lex=false` to omit them.'
      parameters:
      - name: account_tag
        in: query
        description: Account whose available analytics datasets are returned.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{32}$
        example: 0123456789abcdef0123456789abcdef
      - name: include_columns
        in: query
        description: Include column metadata for each returned dataset.
        schema:
          type: boolean
          default: false
      - name: include_custom_attributes
        in: query
        description: 'Include a capped set of custom attribute names and types observed during the preceding seven days. Requires a nonempty dataset_name.

          '
        schema:
          type: boolean
          default: false
      - name: include_wae
        in: query
        description: 'Include Workers Analytics Engine datasets, which are discovered from the account''s own data. Set to `false` to return only datasets described from the static catalogue, which avoids that lookup.

          '
        schema:
          type: boolean
          default: true
      - name: include_lex
        in: query
        description: 'Include Log Explorer datasets, which are listed only where the account has them. Set to `false` to return only datasets described from the static catalogue, which avoids that lookup.

          '
        schema:
          type: boolean
          default: true
      - name: dataset_name
        in: query
        description: 'Return only the dataset with this exact name. An empty value is treated as if the parameter had been omitted, and does not filter the catalogue. A name that matches no dataset in this deployment''s catalogue is rejected with `422`; a dataset that exists but is not describable here is rejected identically, so the two cases cannot be told apart.


          A Workers Analytics Engine dataset is named in full, as `events.analyticsEngine.<dataset_name>`; the namespace on its own returns every such dataset the account has. A `dataset_name` the account does not have is rejected with `422` like any other unknown name.

          '
        schema:
          type: string
        example: events.httpRequests
      responses:
        '200':
          description: Dataset catalogue returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analytics-sql_IntrospectionResponse'
        '400':
          $ref: '#/components/responses/analytics-sql_MalformedRequest'
        '403':
          description: 'Authentication failed or the caller does not have Account Analytics Read permission on the specified account.

            '
          content:
            text/plain:
              example: Authorization error
              schema:
                type: string
        '422':
          description: 'The request could not be processed. This is returned when the account tag is invalid or unknown, when `include_custom_attributes` is set without a `dataset_name`, when a Workers Analytics Engine `dataset_name` is supplied alongside `include_wae=false` or contains characters a dataset name cannot contain, or when the supplied criteria match no dataset that this deployment can describe — either because no such dataset exists or because it is not describable here. The message names the criteria that matched nothing.

            '
          content:
            text/plain:
              example: 'Input was invalid: There are no introspectable datasets matching the provided criteria (dataset_name=`events.nonexistent`)'
              schema:
                type: string
        '500':
          $ref: '#/components/responses/analytics-sql_InternalError'
        '503':
          description: The authorization service is temporarily unavailable.
          content:
            text/plain:
              schema:
                type: string
      security:
      - api_token: []
      tags:
      - Analytics SQL
      x-api-token-group:
      - Account Analytics Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: sql
      x-fern-sdk-method-name: datasets
components:
  schemas:
    analytics-sql_IntrospectionSampling:
      description: 'Whether the dataset is sampled. `unsampled` means every row is recorded. `adaptive` means Adaptive Bit Rate (ABR) sampling is applied, and aggregates must be weighted accordingly.

        '
      type: string
      enum:
      - unsampled
      - adaptive
    analytics-sql_LogExplorerQueryResponse:
      type: object
      properties:
        data:
          description: Log Explorer query rows keyed by selected column names.
          type: array
          items:
            additionalProperties: true
            type: object
        rows:
          description: Number of rows in data.
          type: integer
          format: int64
          minimum: 0
      additionalProperties: false
      required:
      - data
      - rows
    analytics-sql_DatasetAvailability:
      type: object
      properties:
        scope:
          description: Whether the dataset is enabled for the whole account or for a single zone.
          type: string
          enum:
          - account
          - zone
        zone:
          description: Zone tag. Present only when `scope` is `zone`.
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      additionalProperties: false
      required:
      - scope
    analytics-sql_SqlQueryZoneScope:
      type: object
      properties:
        zoneTag:
          description: 'Zone tag used to authorize and scope the query. Must be a 32-character lowercase hex string.

            '
          type: string
          example: 023e105f2fd349899d7634a245f8ca0f
          pattern: ^[0-9a-f]{32}$
          x-fern-property-name: zone
      additionalProperties: false
      required:
      - zoneTag
    analytics-sql_SqlQueryStatistics:
      type: object
      properties:
        bytes_read:
          description: Number of source bytes read while executing the query.
          type: integer
          format: int64
          minimum: 0
        elapsed_ms:
          description: Backend execution time in milliseconds.
          type: integer
          format: int64
          minimum: 0
        rows_read:
          description: Number of source rows read while executing the query.
          type: integer
          format: int64
          minimum: 0
      additionalProperties: false
      required:
      - elapsed_ms
      - rows_read
      - bytes_read
    analytics-sql_SqlQueryScope:
      description: 'Account or zone scope applied to the query. Include exactly one scope tag. Do not include account or zone tenancy predicates in the SQL query when this field is present.

        '
      oneOf:
      - $ref: '#/components/schemas/analytics-sql_SqlQueryAccountScope'
      - $ref: '#/components/schemas/analytics-sql_SqlQueryZoneScope'
    analytics-sql_ClickHouseJsonQueryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            additionalProperties: true
            type: object
        meta:
          type: array
          items:
            additionalProperties: false
            properties:
              name:
                type: string
              type:
                type: string
            required:
            - name
            - type
            type: object
        rows:
          type: integer
          format: int64
          minimum: 0
        rows_before_limit_at_least:
          description: ClickHouse pre-limit count, or rows when unavailable.
          type: integer
          format: int64
          minimum: 0
        statistics:
          $ref: '#/components/schemas/analytics-sql_SqlQueryStatistics'
      additionalProperties: false
      required:
      - meta
      - data
      - rows
      - rows_before_limit_at_least
      - statistics
    analytics-sql_SqlQueryResponse:
      type: object
      properties:
        data:
          description: Query result rows keyed by the selected column names.
          type: array
          items:
            additionalProperties: true
            type: object
        rows:
          description: Number of rows in `data`.
          type: integer
          format: int64
          minimum: 0
        statistics:
          $ref: '#/components/schemas/analytics-sql_SqlQueryStatistics'
      additionalProperties: false
      required:
      - data
      - rows
      - statistics
    analytics-sql_SqlQueryAccountScope:
      type: object
      properties:
        accountTag:
          description: 'Account tag used to authorize and scope the query. Must be a 32-character lowercase hex string.

            '
          type: string
          example: 0123456789abcdef0123456789abcdef
          pattern: ^[0-9a-f]{32}$
          x-fern-property-name: account
      additionalProperties: false
      required:
      - accountTag
    analytics-sql_SqlQueryRequest:
      type: object
      properties:
        params:
          description: 'Positional array values for `$1`, `$2`, and similar placeholders, or named object values for placeholders such as `$status`.

            '
          oneOf:
          - items: {}
            type: array
          - additionalProperties: true
            type: object
        query:
          description: 'SQL query to execute. A trailing FORMAT selects JSON, JSONEachRow, TabSeparated, or TSV output on any dataset.

            '
          type: string
        scope:
          $ref: '#/components/schemas/analytics-sql_SqlQueryScope'
        time_range:
          allOf:
          - $ref: '#/components/schemas/analytics-sql_SqlQueryTimeRange'
          x-fern-property-name: time
      example:
        params:
          status: 404
        query: SELECT edgeResponseStatus FROM events.httpRequests WHERE edgeResponseStatus = $status LIMIT 10
        scope:
          accountTag: 0123456789abcdef0123456789abcdef
        time_range:
          end: '2026-01-02T00:00:00Z'
          start: '2026-01-01T00:00:00Z'
      additionalProperties: false
      required:
      - query
    analytics-sql_SqlQueryTimeRange:
      description: 'Time bounds applied to the dataset''s timestamp column. Do not include timestamp predicates in the SQL query when this field is present.

        '
      type: object
      properties:
        end:
          description: Inclusive upper bound for the dataset's timestamp column.
          type: string
          example: '2026-01-02T00:00:00Z'
          x-fern-property-name: until
        start:
          description: Inclusive lower bound for the dataset's timestamp column.
          type: string
          example: '2026-01-01T00:00:00Z'
          x-fern-property-name: since
      additionalProperties: false
      required:
      - start
    analytics-sql_ApiErrorResponse:
      type: object
      properties:
        code:
          description: Machine-readable error code.
          type: integer
          format: int64
          minimum: 0
        error_chain:
          description: Additional errors that caused this error.
          type: array
          items:
            $ref: '#/components/schemas/analytics-sql_ApiErrorResponse'
        message:
          description: Human-readable error message.
          type: string
      additionalProperties: false
      required:
      - code
      - message
    analytics-sql_IntrospectionDatasetKind:
      description: 'What kind of dataset this is. Determines aggregation rules and sampling behavior. Exactly one of `events`, `states`, or `logs` is present.

        '
      type: object
      properties:
        availability:
          description: Scopes the dataset is enabled for, as reported by the service that owns it. Absent when availability is not applicable to the dataset.
          type: array
          items:
            $ref: '#/components/schemas/analytics-sql_DatasetAvailability'
        events:
          description: 'Row-per-event analytics dataset. Aggregations describe the cumulative effect of those events.

            '
          type: object
          additionalProperties: false
          properties:
            sampling:
              $ref: '#/components/schemas/analytics-sql_IntrospectionSampling'
          required:
          - sampling
        logs:
          description: Row-per-log dataset intended for record retrieval.
          type: object
          additionalProperties: false
          properties:
            sampling:
              $ref: '#/components/schemas/analytics-sql_IntrospectionSampling'
          required:
          - sampling
        states:
          description: 'Snapshot/state dataset. Only `valid_aggregations` are valid aggregations for this dataset.

            '
          type: object
          additionalProperties: false
          properties:
            sampling:
              $ref: '#/components/schemas/analytics-sql_IntrospectionSampling'
            valid_aggregations:
              description: Which aggregation function names are allowed for this dataset.
              type: array
              items:
                type: string
              example:
              - count
              - max
          required:
          - sampling
          - valid_aggregations
      additionalProperties: false
      maxProperties: 1
      minProperties: 1
    analytics-sql_GatewayApiErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/analytics-sql_ApiErrorResponse'
        messages:
          type: array
          items:
            $ref: '#/components/schemas/analytics-sql_ApiErrorResponse'
        result:
          type:
          - object
          - 'null'
          additionalProperties: true
        success:
          type: boolean
          enum:
          - false
      additionalProperties: false
      required:
      - success
      - errors
      - messages
      - result
    analytics-sql_IntrospectionResponse:
      type: object
      properties:
        datasets:
          description: Datasets visible through the Analytics SQL API.
          type: array
          items:
            $ref: '#/components/schemas/analytics-sql_IntrospectionDataset'
      additionalProperties: false
      required:
      - datasets
    analytics-sql_IntrospectionColumn:
      type: object
      properties:
        data_type:
          description: SQL data type of the column.
          type: string
          example: String
        description:
          description: Human-readable description of the column.
          type: string
        hidden:
          description: 'Whether the column is de-emphasised in column listings. A presentation hint only: a hidden column is still returned here, is still selectable by name, and is still included by `SELECT *`.

            '
          type: boolean
        name:
          description: Column name used in SQL queries.
          type: string
          example: clientRequestPath
      additionalProperties: false
      required:
      - name
      - description
      - data_type
      - hidden
    analytics-sql_IntrospectionDataset:
      type: object
      properties:
        category:
          description: Human-readable dataset category from the catalogue metadata.
          type: string
          example: HTTP Traffic
        columns:
          description: Present when `include_columns` is true.
          type: array
          items:
            $ref: '#/components/schemas/analytics-sql_IntrospectionColumn'
        custom_attributes:
          description: Present when `include_custom_attributes` is true and the dataset supports custom attributes.
          type: array
          items:
            $ref: '#/components/schemas/analytics-sql_CustomAttribute'
        description:
          description: Human-readable description of the dataset.
          type: string
        hidden:
          description: 'Whether the dataset is de-emphasised in catalogue listings. A presentation hint only: a hidden dataset is still returned here and is just as queryable as any other.

            '
          type: boolean
        kind:
          $ref: '#/components/schemas/analytics-sql_IntrospectionDatasetKind'
        name:
          description: Dataset name used in SQL queries.
          type: string
          example: events.httpRequests
        title:
          description: Human-readable title of the dataset.
          type: string
          example: HTTP Requests
      additionalProperties: false
      required:
      - name
      - title
      - category
      - description
      - kind
      - hidden
    analytics-sql_CustomAttribute:
      type: object
      properties:
        data_type:
          description: ClickHouse type of the attribute value.
          type: string
          example: String
        name:
          description: Attribute name.
          type: string
      additionalProperties: false
      required:
      - name
      - data_type
  responses:
    analytics-sql_InternalError:
      description: An internal error occurred.
      content:
        text/plain:
          schema:
            type: string
    analytics-sql_QueryLimitExceeded:
      description: The query exceeded a resource or request-rate limit.
      headers:
        Retry-After:
          description: 'Seconds to wait before retrying. Present when the account request rate limit is exceeded; omitted for query resource limits.

            '
          schema:
            type: integer
            format: int64
            minimum: 0
      content:
        text/plain:
          schema:
            type: string
    analytics-sql_Forbidden:
      description: 'Authentication failed, the caller is not authorized, or the query references a column the caller is not permitted to read.

        '
      content:
        text/plain:
          example: Authorization error
          schema:
            type: string
    analytics-sql_ServiceUnavailable:
      description: A required service is temporarily unavailable.
      content:
        text/plain:
          schema:
            type: string
    analytics-sql_ResourceExhausted:
      description: The query exhausted available resources.
      content:
        text/plain:
          schema:
            type: string
    analytics-sql_MalformedRequest:
      description: 'The request is malformed, or authentication was rejected by the API gateway before the request reached the SQL service.

        '
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/analytics-sql_ApiErrorResponse'
            - $ref: '#/components/schemas/analytics-sql_GatewayApiErrorResponse'
    analytics-sql_QuerySuccess:
      description: 'Query executed successfully. Columns that the query reaches only through `*` exclude any that the caller is not permitted to read. ClickHouse''s default JSON envelope has data, rows, and statistics; explicit FORMAT JSON additionally has typed metadata and rows_before_limit_at_least. Log Explorer''s default and FORMAT JSON responses use its existing {data, rows} envelope, without unavailable metadata, pre-limit counts, or statistics. FORMAT JSONEachRow returns newline-delimited JSON objects. FORMAT TabSeparated and TSV return escaped tab-separated rows without a header; Log Explorer serializes nested JSON values as compact JSON text in one field.

        '
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/analytics-sql_SqlQueryResponse'
            - $ref: '#/components/schemas/analytics-sql_ClickHouseJsonQueryResponse'
            - $ref: '#/components/schemas/analytics-sql_LogExplorerQueryResponse'
        application/x-ndjson:
          schema:
            description: 'FORMAT JSONEachRow emits one JSON object per line, rather than a single JSON document.

              '
            type: string
        text/tab-separated-values:
          schema:
            description: 'FORMAT TabSeparated (or TSV) emits escaped tab-separated rows without a header.

              '
            type: string
    analytics-sql_NotImplemented:
      description: The query uses a SQL feature that is not implemented.
      content:
        text/plain:
          schema:
            type: string
    analytics-sql_UnprocessableQuery:
      description: The SQL query or its parameters are invalid.
      content:
        text/plain:
          schema:
            type: string
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
        description: Chat messages from historical RealtimeKit sessions
      kit.sessions.livestreams:
        description: Livestreams associated with historical RealtimeKit sessions
      kit.sessions.participants:
        description: Participants in historical RealtimeKit sessions
      kit.sessions.peers:
        description: Peer details from historical RealtimeKit sessions
      kit.sessions.summaries:
        description: Summaries of historical RealtimeKit sessions
      kit.sessions.transcripts:
        description: Transcripts from historical RealtimeKit sessions
      kit.webhooks:
        description: Webhook endpoints and supported events for RealtimeKit notifications
      kit.webhooks.events:
        description: Supported events for RealtimeKit webhooks
      moq:
        description: MoQ relays for publishing and subscribing to media streams
      moq.relays:
        description: Relays are isolated MoQ scopes that carry media between publishers and subscribers
      moq.relays.tokens:
        description: Tokens that authorize publishers and subscribers to connect to a relay
      sfu:
        description: SFU apps that route WebRTC media and data between participants
      sfu.apps:
        description: SFU application namespaces for sessions and tracks
      turn:
        description: TURN keys that help clients traverse NATs and firewalls
      turn.keys:
        description: Keys used to generate short-lived TURN credentials
  request-tracers:
    description: Trace how a request would be processed through Cloudflare's rules and configuration pipeline
    groups:
      traces:
        description: Simulate request processing to debug rule matches, transforms, and routing decisions
  resource-sharing:
    description: Share Cloudflare resources (zones, accounts) across organizations with granular access controls
    groups:
      recipients:
        description: Update share recipients
      resources:
        description: Individual resources (zones, configs) that have been shared with recipients
  rules:
    description: Resources used by Cloudflare rules and rulesets
    groups:
      lists:
        description: Custom account-level lists of IPs, hostnames, ASNs, or redirects used in rule expressions
  rum:
    description: Real User Measurement (Web Analytics) — track page loads, Core Web Vitals, and visitor metrics
    groups:
      rules:
        description: Rules that control which pages and paths are tracked by Web Analytics
      site-info:
        description: Web Analytics sites — register domains and get the JavaScript beacon snippet
  scim:
    description: SCIM 2.0 provisioning — manage users, groups, and identity provider sync for your account
    groups:
      groups:
        description: Groups operations
      resource-types:
        description: Resource Types operations
      schemas:
        description: Schemas operations
      service-provider-config:
        description: Service Provider Config operations
      users:
        description: Users operations
  secrets-store:
    description: Centralized secret management — store API keys, tokens, and credentials for use across Workers and other products
    groups:
      quota:
        description: Account quota limits for secrets stores, secrets count, and storage capacity
      secrets:
        description: Encrypted key-value secrets within a store. Pass --store-id to scope.
      stores:
        description: Secret stores that hold encrypted key-value secrets accessible by Workers and services
  security-center:
    description: Security posture dashboard — view and manage security insights, misconfigurations, and vulnerabilities
    groups:
      insights:
        description: Security findings and recommendations across your account — DNS, SSL, WAF misconfigurations, etc.
      zone-insights:
        description: Zone-scoped security insights — counts by class, severity, type, and dismissal
  security-txt:
    description: Manage the /.well-known/security.txt file that tells security researchers how to report vulnerabilities
  smart-shield:
    description: Smart Shield settings, health checks, and cache reserve management
    groups:
      cache-reserve-clear:
        description: Cache Reserve Clear operations
      health-checks:
        description: Health checks operations
  spectrum:
    description: Proxy and protect arbitrary TCP/UDP applications through Cloudflare's network with DDoS mitigation
    groups:
      analytics:
        description: Real-time and historical connection analytics for Spectrum applications
      apps:
        description: Spectrum application configurations that map protocols and ports to origin servers
  speed:
    description: Observatory speed tests — run Lighthouse audits, track performance trends, and schedule recurring tests
    groups:
      availabilities:
        description: Check which speed test regions and configurations are available for your zone
      pages:
        description: Tested pages with their performance history, trends, and individual test results
      schedule:
        description: Scheduled recurring speed tests that automatically run at regular intervals
  ssl:
    description: SSL/TLS certificate management — certificate packs, Universal SSL, verification, and TLS mode recommendations
    groups:
      automatic-upgrader:
        description: SSL automatic mode enrollment — get or update automatic SSL/TLS upgrader settings
      recommendations:
        description: Get the recommended SSL/TLS encryption mode based on your origin server's certificate configuration
  stream:
    description: Video encoding, storage, and delivery — upload, live-stream, clip, caption, and embed video at scale
    groups:
      audio-tracks:
        description: Add, edit, or remove additional audio tracks on a video
      captions:
        description: Upload, generate, or retrieve captions and subtitles for videos in multiple languages
      clip:
        description: Create a new video clip from an existing video by specifying start and end times
      copy:
        description: Import a video from a URL into Stream for processing and delivery
      direct-upload:
        description: Generate a tokenized URL that lets end-users upload video directly to Stream
      downloads:
        description: Create downloadable MP4 renditions of a video for offline viewing
      embed:
        description: Retrieve the HTML embed code snippet for a video
      keys:
        description: Signing keys used to generate short-lived signed URLs for private video playback
      live-inputs:
        description: Enable and disable live input streams
      token:
        description: Generate short-lived signed URL tokens for secure private video playback
      typed-downloads:
        description: Type-specific stream download creation and deletion
      videos:
        description: Aggregate video storage usage statistics for the account
      watermarks:
        description: Watermark profiles that overlay an image on every video in the account
      webhooks:
        description: Webhook notifications for video lifecycle events (ready, error, etc.)
  tenants:
    description: Multi-tenant account management — manage tenant accounts, entitlements, and memberships
    groups:
      account-types:
        description: Account Types operations
      accounts:
        description: Accounts operations
      entitlements:
        description: Entitlements operations
      memberships:
        description: Memberships operations
  turnstile:
    description: CAPTCHA-free bot verification widgets that protect forms and APIs without degrading user experience
    groups:
      widgets:
        description: Turnstile widget configurations — site keys, secret rotation, and challenge mode settings
  url-scanner:
    description: Scan URLs for phishing, malware, and other threats — submit scans and retrieve detailed results
    groups:
      response:
        description: Response operations
      responses:
        description: Raw HTTP response data captured during URL scans
      scan:
        description: Scan operations
      scans:
        description: URL scan requests and results — submit URLs for analysis and retrieve threat verdicts
  user:
    description: Your Cloudflare user profile, invitations, organizations, billing, and personal API tokens
    groups:
      billing:
        description: View billing history and payment profile for your user (deprecated — prefer account-level billing)
      firewall:
        description: Firewall operations
      load-balancers.monitors:
        description: Load Balancers operations
      load-balancers.monitors.preview:
        description: Load Balancers operations
      load-balancers.monitors.references:
        description: Load Balancers operations
      load-balancers.pools:
        description: Load Balancers operations
      load-balancers.pools.edit.pools:
        description: Load Balancers operations
      load-balancers.pools.health:
        description: Load Balancers operations
      load-balancers.pools.preview:
        description: Load Balancers operations
      load-balancers.pools.references:
        description: Load Balancers operations
      load-balancers.preview:
        description: Load Balancers operations
      load-balancing-analytics.events:
        description: Load Balancing Analytics operations
      subscriptions:
        description: View and manage zone-level plan subscriptions owned by your user
      tenants:
        description: Tenants operations
      tokens:
        description: Create and manage personal API tokens scoped to your user for programmatic API access
  user.analytics:
    description: User-level traffic analytics — aggregated totals and timeseries across all zones
  vectorize:
    description: Globally distributed vector database for building semantic search, recommendations, and RAG applications on Workers
    groups:
      deprecated-indexes:
        description: Deprecated v1 Vectorize index operations
      metadata-index:
        description: Metadata indexes for filtered vector search
  waiting-rooms:
    description: Virtual queues that throttle traffic to your site during peak demand with customizable waiting pages
    groups:
      account-waiting-rooms:
        description: Account-scoped waiting room listing
      events:
        description: Scheduled events that temporarily override waiting room settings for sales, launches, etc.
      page:
        description: Custom HTML waiting page templates and preview rendering
      rules:
        description: Rules that bypass or modify waiting room behavior for specific request patterns
      settings:
        description: Zone-level waiting room defaults and cookie configuration
      statuses:
        description: Real-time queue status showing active users, queued users, and estimated wait times
  workflows:
    description: Durable, multi-step workflows that run on Workers with automatic retries and state persistence
    groups:
      instances:
        description: Workflow instance operations
      versions:
        description: Workflow version operations
  zaraz:
    description: Server-side tag manager — load third-party tools (analytics, pixels, etc.) from Cloudflare's edge without client-side JS
    groups:
      config:
        description: Full Zaraz configuration including tools, triggers, and variables for the zone
      default:
        description: Default Zaraz configuration template used as a starting point for new zones
      export:
        description: Export the current Zaraz configuration as a portable JSON document
      history:
        description: Configuration version history — browse and restore previous Zaraz configurations
      publish:
        description: Publish pending Zaraz configuration changes to make them live on the zone
      workflow:
        description: Workflow state for Zaraz configuration changes (draft vs. published)
  zero-trust:
    description: Cloudflare's SASE platform — secure access, device posture, DLP, tunnels, gateway policies, and network segmentation
    groups:
      dex:
        description: Digital Experience Monitoring — synthetic tests, fleet-wide device metrics, and network path diagnostics
      dlp.custom-prompt-topics:
        description: Data Loss Prevention - manage custom prompt topics for AI-based content detection
      dlp.data-classes:
        description: Data Loss Prevention - manage data classes used to classify sensitive information
      dlp.data-tag-categories:
        description: Data Loss Prevention - manage categories that organize data tags
      dlp.data-tag-category-templates:
        description: Data Loss Prevention - browse templates for creating data tag categories
      dlp.data-tags:
        description: Data Loss Prevention - manage tags used to classify and organize sensitive data
      dlp.datasets:
        description: Data Loss Prevention - manage datasets, versions, and uploads
      dlp.document-fingerprints:
        description: Data Loss Prevention - manage document fingerprints for detecting matching documents
      dlp.email.account-mapping:
        description: Data Loss Prevention - configure account mappings for outbound email scanning
      dlp.email.rules:
        description: Data Loss Prevention - manage outbound email scanning rules and their priorities
      dlp.entries:
        description: Data Loss Prevention - list and manage detection entries
      dlp.limits:
        description: Data Loss Prevention - view account limits and resource quotas
      dlp.patterns:
        description: Data Loss Prevention - validate regular expressions used for content detection
      dlp.profiles:
        description: Data Loss Prevention - list and retrieve profiles
      dlp.profiles.custom:
        description: Data Loss Prevention - manage custom profiles
      dlp.profiles.predefined:
        description: Data Loss Prevention - manage predefined profiles
      dlp.sensitivity-group-templates:
        description: Data Loss Prevention - browse templates for creating sensitivity groups
      dlp.sensitivity-groups:
        description: Data Loss Prevention - manage sensitivity groups and their level ordering
      dlp.sensitivity-levels:
        description: Data Loss Prevention - manage sensitivity levels within sensitivity groups
      dlp.settings:
        description: Data Loss Prevention - manage account-level settings
      dlp.validators:
        description: Data Loss Prevention - list and retrieve content validators
      dlp.validators.proximity-words:
        description: Data Loss Prevention - manage proximity-word validators
      risk-scoring:
        description: User Risk Scoring - retrieve and reset user risk scores
      risk-scoring.behaviours:
        description: User Risk Scoring - manage behaviors used to calculate user risk scores
      risk-scoring.integrations:
        description: User Risk Scoring - manage integrations that provide risk score signals
      risk-scoring.integrations.references:
        description: User Risk Scoring - retrieve integrations by external reference
      risk-scoring.summary:
        description: User Risk Scoring - retrieve account risk score summaries
  zones:
    description: Zones are domains on Cloudflare — list, create, and configure domain settings
    groups:
      aegis:
        description: Aegis operations
      fonts:
        description: Fonts operations
      origin-h2-max-streams:
        description: Origin H2 Max Streams operations
      origin-max-http-version:
        description: Origin Max Http Version operations
      origin-tls-compliance-modes:
        description: Manage zone Origin TLS Compliance Modes setting
      rum:
        description: Rum operations
      speed-brain:
        description: Speed Brain operations
