openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Zero Trust accounts API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Zero Trust accounts
paths:
  /accounts/{account_id}/devices/settings:
    delete:
      operationId: zero-trust-accounts-delete-device-settings-for-zero-trust-account
      summary: Reset device settings
      description: Resets the current device settings for a Zero Trust account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/teams-devices_identifier'
      responses:
        '200':
          description: Reset response for device settings for a Zero Trust account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams-devices_zero-trust-account-device-settings-response'
        4XX:
          description: Reset failure response device settings for a Zero Trust account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams-devices_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-api-token-group:
      - Zero Trust Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.devices.settings
      x-fern-sdk-method-name: delete
    get:
      operationId: zero-trust-accounts-get-device-settings-for-zero-trust-account
      summary: Get device settings
      description: Describes the current device settings for a Zero Trust account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/teams-devices_identifier'
      responses:
        '200':
          description: Get device settings for a Zero Trust account response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams-devices_zero-trust-account-device-settings-response'
        4XX:
          description: Get device settings for a Zero Trust account response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams-devices_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.devices.settings
      x-fern-sdk-method-name: get
    patch:
      operationId: zero-trust-accounts-patch-device-settings-for-the-zero-trust-account
      summary: Update device settings
      description: Updates the device settings for a Zero Trust account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/teams-devices_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/teams-devices_zero-trust-account-device-settings'
      responses:
        '200':
          description: Update device settings for a Zero Trust account response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams-devices_zero-trust-account-device-settings-response'
        4XX:
          description: Update device settings for a Zero Trust account response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams-devices_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-api-token-group:
      - Zero Trust Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.devices.settings
      x-fern-sdk-method-name: update
    put:
      operationId: zero-trust-accounts-update-device-settings-for-the-zero-trust-account
      summary: Update device settings (deprecated)
      description: 'Deprecated: use "PATCH /accounts/{account_id}/devices/settings" instead'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/teams-devices_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/teams-devices_zero-trust-account-device-settings'
      responses:
        '200':
          description: Update device settings for a Zero Trust account response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams-devices_zero-trust-account-device-settings-response'
        4XX:
          description: Update device settings for a Zero Trust account response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams-devices_api-response-common-failure'
      deprecated: true
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-api-token-group:
      - Zero Trust Write
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.devices.v1.settings
      x-fern-sdk-method-name: update
  /accounts/{account_id}/gateway:
    get:
      operationId: zero-trust-accounts-get-zero-trust-account-information
      summary: Get Zero Trust account information
      description: Retrieve information about the current Zero Trust account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      responses:
        '200':
          description: Zero Trust account information response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_gateway_account'
        4XX:
          description: Zero Trust account information response failure.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                - $ref: '#/components/schemas/zero-trust-gateway_gateway_account'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-api-token-group:
      - Zero Trust Read
      - Zero Trust Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.gateway
      x-fern-sdk-method-name: list
    post:
      operationId: zero-trust-accounts-create-zero-trust-account
      summary: Create Zero Trust account
      description: Create a Zero Trust account for an existing Cloudflare account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      responses:
        '200':
          description: Create Zero Trust account response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_gateway_account'
        4XX:
          description: Create Zero Trust account response failure.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                - $ref: '#/components/schemas/zero-trust-gateway_gateway_account'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-api-token-group:
      - Zero Trust Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.gateway
      x-fern-sdk-method-name: create
  /accounts/{account_id}/gateway/configuration:
    get:
      operationId: zero-trust-accounts-get-zero-trust-account-configuration
      summary: Get Zero Trust account configuration
      description: Retrieve the current Zero Trust account configuration.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      responses:
        '200':
          description: Zero Trust account configuration response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_gateway_account_config'
        4XX:
          description: Zero Trust account configuration response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zero-trust-gateway_gateway_account_config'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.gateway.configurations
      x-fern-sdk-method-name: get
    patch:
      operationId: zero-trust-accounts-patch-zero-trust-account-configuration
      summary: Patch Zero Trust account configuration
      description: Update (PATCH) a single subcollection of settings such as `antivirus`, `tls_decrypt`, `activity_log`, `block_page`, `browser_isolation`, `fips`, `body_scanning`, `certificate`, or `max_ttl_secs` without updating the entire configuration object. This endpoint returns an error if any settings collection lacks proper configuration.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zero-trust-gateway_gateway-account-settings'
      responses:
        '200':
          description: Zero Trust account configuration response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_gateway_account_config'
        4XX:
          description: Zero Trust account configuration response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zero-trust-gateway_gateway_account_config'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.gateway.configurations
      x-fern-sdk-method-name: edit
    put:
      operationId: zero-trust-accounts-update-zero-trust-account-configuration.
      summary: Update Zero Trust account configuration
      description: Update the current Zero Trust account configuration.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zero-trust-gateway_gateway-account-settings'
      responses:
        '200':
          description: Zero Trust account configuration response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_gateway_account_config'
        4XX:
          description: Zero Trust account configuration response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zero-trust-gateway_gateway_account_config'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.gateway.configurations
      x-fern-sdk-method-name: update
  /accounts/{account_id}/gateway/configuration/custom_certificate:
    get:
      operationId: zero-trust-accounts-get-zero-trust-certificate-configuration
      summary: Get Zero Trust certificate configuration
      description: Retrieve the current Zero Trust certificate configuration.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      responses:
        '200':
          description: Zero Trust account configuration response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_custom-certificate-settings'
        4XX:
          description: Zero Trust account configuration response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zero-trust-gateway_custom-certificate-settings'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      deprecated: true
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-fern-availability: deprecated
      x-fern-sdk-group-name: zero-trust.gateway.configurations.custom-certificate
      x-fern-sdk-method-name: get
  /accounts/{account_id}/gateway/egress_cidr_pairs:
    get:
      operationId: zero-trust-accounts-get-egress-cidr-pairs
      summary: Get gateway egress CIDRs pairs assigned to this account
      description: Retrieve the list of egress CIDRs allocated to this Zero Trust account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      responses:
        '200':
          description: List of egress CIDR pairs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_gateway-account-egress-cidr-pair-list-response'
        4XX:
          description: List of egress CIDR pairs response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zero-trust-gateway_gateway-account-egress-cidr-pair-list-response'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-api-token-group:
      - Zero Trust Read
      - Zero Trust Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.gateway.egress-cidr-pairs
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/gateway/logging:
    get:
      operationId: zero-trust-accounts-get-logging-settings-for-the-zero-trust-account
      summary: Get logging settings for the Zero Trust account
      description: Retrieve the current logging settings for the Zero Trust account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      responses:
        '200':
          description: Logging settings retrieval response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_gateway-account-logging-settings-response'
        4XX:
          description: Logging settings retrieval response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zero-trust-gateway_gateway-account-logging-settings-response'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.gateway.logging
      x-fern-sdk-method-name: get
    put:
      operationId: zero-trust-accounts-update-logging-settings-for-the-zero-trust-account
      summary: Update Zero Trust account logging settings
      description: Update logging settings for the current Zero Trust account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zero-trust-gateway_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zero-trust-gateway_gateway-account-logging-settings'
      responses:
        '200':
          description: Logging settings update response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zero-trust-gateway_gateway-account-logging-settings-response'
        4XX:
          description: Logging settings update response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zero-trust-gateway_gateway-account-logging-settings-response'
                - $ref: '#/components/schemas/zero-trust-gateway_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Zero Trust accounts
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.gateway.logging
      x-fern-sdk-method-name: update
components:
  schemas:
    zero-trust-gateway_protocol-detection:
      description: Specify whether to detect protocols from the initial bytes of client traffic.
      type:
      - object
      - 'null'
      properties:
        enabled:
          description: Specify whether to detect protocols from the initial bytes of client traffic.
          type:
          - boolean
          - 'null'
          example: true
          x-auditable: true
      x-stainless-terraform-configurability: optional
    teams-devices_zero-trust-account-device-settings:
      type: object
      properties:
        disable_for_time:
          description: Sets the time limit, in seconds, that a user can use an override code to bypass WARP.
          type: number
          x-auditable: true
        external_emergency_signal_enabled:
          description: Controls whether the external emergency disconnect feature is enabled.
          type: boolean
          example: true
          x-auditable: true
        external_emergency_signal_fingerprint:
          description: The SHA256 fingerprint (64 hexadecimal characters) of the HTTPS server certificate for the external_emergency_signal_url. If provided, the WARP client will use this value to verify the server's identity. The device will ignore any response if the server's certificate fingerprint does not exactly match this value.
          type: string
          example: abcd1234567890abcd1234567890abcd1234567890abcd1234567890abcd1234
          x-auditable: true
        external_emergency_signal_interval:
          description: The interval at which the WARP client fetches the emergency disconnect signal, formatted as a duration string (e.g., "5m", "2m30s", "1h"). Minimum 30 seconds.
          type: string
          example: 5m
          x-auditable: true
        external_emergency_signal_url:
          description: The HTTPS URL from which to fetch the emergency disconnect signal. Must use HTTPS and have an IPv4 or IPv6 address as the host.
          type: string
          example: https://192.0.2.1/signal
          x-auditable: true
        gateway_proxy_enabled:
          description: Enable gateway proxy filtering on TCP.
          type: boolean
          example: true
          x-auditable: true
        gateway_udp_proxy_enabled:
          description: Enable gateway proxy filtering on UDP.
          type: boolean
          example: true
          x-auditable: true
        root_certificate_installation_enabled:
          description: Enable installation of cloudflare managed root certificate.
          type: boolean
          example: true
          x-auditable: true
        use_zt_virtual_ip:
          description: Enable using CGNAT virtual IPv4.
          type: boolean
          example: true
          x-auditable: true
    zero-trust-gateway_gateway-account-egress-cidr:
      type: object
      properties:
        geolocation:
          description: Specify the geographic location of this CIDR pair.
          type: object
          properties:
            city:
              description: Specify the city of this egress IP.
              type: string
            country:
              description: Specify the country of this egress IP.
              type: string
        ipv4:
          description: Specify the IPv4 address of this egress CIDR pair.
          type: string
        ipv4_colo_name:
          description: Specify the colocation from which this IPv4 address egresses.
          type: string
        ipv6_cidr:
          description: Specify the IPv6 network address of this egress CIDR pair.
          type: string
      required:
      - ipv4
      - ipv4_colo_name
      - ipv6_cidr
      - geolocation
    zero-trust-gateway_gateway_tag:
      description: Specify the gateway internal ID.
      type: string
      example: f174e90afafe4643bbbc4a0ed4fc8415
      maxLength: 32
    zero-trust-gateway_api-response-common-failure:
      type: object
      properties:
        errors:
          type: object
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/zero-trust-gateway_messages'
          minLength: 1
        messages:
          type: object
          example: []
          allOf:
          - $ref: '#/components/schemas/zero-trust-gateway_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Indicate whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    zero-trust-gateway_gateway-account-logging-settings:
      type: object
      properties:
        redact_pii:
          description: Indicate whether to redact personally identifiable information from activity logging (PII fields include source IP, user email, user ID, device ID, URL, referrer, and user agent).
          type: boolean
          example: true
          default: false
          x-auditable: true
        settings_by_rule_type:
          description: Configure logging settings for each rule type.
          type: object
          properties:
            dns:
              description: Configure logging settings for DNS firewall.
              allOf:
              - $ref: '#/components/schemas/zero-trust-gateway_account-log-options'
            http:
              description: Configure logging settings for HTTP/HTTPS firewall.
              allOf:
              - $ref: '#/components/schemas/zero-trust-gateway_account-log-options'
            l4:
              description: Configure logging settings for Network firewall.
              allOf:
              - $ref: '#/components/schemas/zero-trust-gateway_account-log-options'
    zero-trust-gateway_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/zero-trust-gateway_api-response-common'
    zero-trust-gateway_fail_closed:
      description: Specify whether to block requests for unscannable files.
      type:
      - boolean
      - 'null'
      example: false
      x-auditable: true
      x-stainless-terraform-configurability: computed_optional
    zero-trust-gateway_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          message:
            type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    zero-trust-gateway_block-page-settings:
      description: Specify block page layout settings.
      type:
      - object
      - 'null'
      properties:
        background_color:
          description: Specify the block page background color in `#rrggbb` format when the mode is customized_block_page.
          type: string
          x-auditable: true
        enabled:
          description: Specify whether to enable the custom block page.
          type:
          - boolean
          - 'null'
          example: true
          x-auditable: true
        footer_text:
          description: Specify the block page footer text when the mode is customized_block_page.
          type: string
          example: --footer--
          x-auditable: true
        header_text:
          description: Specify the block page header text when the mode is customized_block_page.
          type: string
          example: --header--
          x-auditable: true
        include_context:
          description: Specify whether to append context to target_uri as query parameters. This applies only when the mode is redirect_uri.
          type: boolean
          x-auditable: true
        logo_path:
          description: Specify the full URL to the logo file when the mode is customized_block_page.
          type: string
          example: https://logos.com/a.png
          x-auditable: true
        mailto_address:
          description: Specify the admin email for users to contact when the mode is customized_block_page.
          type: string
          example: admin@example.com
          x-auditable: true
        mailto_subject:
          description: Specify the subject line for emails created from the block page when the mode is customized_block_page.
          type: string
          example: Blocked User Inquiry
          x-auditable: true
        mode:
          description: Specify whether to redirect users to a Cloudflare-hosted block page or a customer-provided URI.
          type: string
          default: ''
          enum:
          - ''
          - customized_block_page
          - redirect_uri
          x-auditable: true
          x-stainless-terraform-configurability: optional
        name:
          description: Specify the block page title when the mode is customized_block_page.
          type: string
          example: Cloudflare
          x-auditable: true
        read_only:
          description: Indicate that this setting was shared via the Orgs API and read only for the current account.
          type:
          - boolean
          - 'null'
          readOnly: true
          x-auditable: true
          x-stainless-terraform-configurability: computed
        source_account:
          description: Indicate the account tag of the account that shared this setting.
          type:
          - string
          - 'null'
          readOnly: true
          x-auditable: true
          x-stainless-terraform-configurability: computed
        suppress_footer:
          description: Specify whether to suppress detailed information at the bottom of the block page when the mode is customized_block_page.
          type: boolean
          example: false
        target_uri:
          description: Specify the URI to redirect users to when the mode is redirect_uri.
          type: string
          format: uri
          x-auditable: true
        version:
          description: Indicate the version number of the setting.
          type:
          - integer
          - 'null'
          example: 1
          readOnly: true
          x-auditable: true
          x-stainless-terraform-configurability: computed
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_sandbox:
      description: Specify whether to enable the sandbox.
      type:
      - object
      - 'null'
      properties:
        enabled:
          description: Specify whether to enable the sandbox.
          type:
          - boolean
          - 'null'
          example: true
          x-auditable: true
        fallback_action:
          description: Specify the action to take when the system cannot scan the file.
          type: string
          enum:
          - allow
          - block
          x-auditable: true
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_enabled_upload_phase:
      description: Specify whether to enable anti-virus scanning on uploads.
      type:
      - boolean
      - 'null'
      example: false
      x-auditable: true
      x-stainless-terraform-configurability: computed_optional
    teams-devices_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/teams-devices_api-response-common'
      - properties:
          result:
            type:
            - object
            - 'null'
            anyOf:
            - type: object
            - type: string
        type: object
    teams-devices_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/teams-devices_messages'
        messages:
          $ref: '#/components/schemas/teams-devices_messages'
        result:
          anyOf:
          - type: object
          - items:
              type: object
            type: array
          - type: string
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
      - result
    zero-trust-gateway_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/zero-trust-gateway_messages'
        messages:
          $ref: '#/components/schemas/zero-trust-gateway_messages'
        success:
          description: Indicate whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    zero-trust-gateway_max-ttl-secs:
      description: Account-level cap on DNS response TTLs, in seconds. Gateway rewrites DNS responses so returned record TTLs do not exceed this value. Null means no cap. Each DNS location can inherit, override, or disable it through the location `max_ttl` setting.
      type:
      - integer
      - 'null'
      example: 3600
      maximum: 36000
      minimum: 60
      x-auditable: true
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_fips-settings:
      description: Specify FIPS settings.
      type:
      - object
      - 'null'
      properties:
        tls:
          description: Enforce cipher suites and TLS versions compliant with FIPS 140-2.
          type: boolean
          example: true
          x-auditable: true
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_provider_name:
      description: Specify the provider name (usually Cloudflare).
      type: string
      example: Cloudflare
    teams-devices_zero-trust-account-device-settings-response:
      type: object
      allOf:
      - $ref: '#/components/schemas/teams-devices_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/teams-devices_zero-trust-account-device-settings'
        type: object
    zero-trust-gateway_inspection-settings:
      description: Define the proxy inspection mode.
      type:
      - object
      - 'null'
      properties:
        mode:
          description: 'Define the proxy inspection mode.   1. static: Gateway applies static inspection to HTTP on TCP(80). With TLS decryption on, Gateway inspects HTTPS traffic on TCP(443) and UDP(443).   2. dynamic: Gateway applies protocol detection to inspect HTTP and HTTPS traffic on any port. TLS decryption must remain on to inspect HTTPS traffic.'
          type: string
          example: static
          enum:
          - static
          - dynamic
          x-auditable: true
      x-stainless-terraform-configurability: optional
    teams-devices_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/teams-devices_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/teams-devices_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    zero-trust-gateway_enabled_download_phase:
      description: Specify whether to enable anti-virus scanning on downloads.
      type:
      - boolean
      - 'null'
      example: false
      x-auditable: true
      x-stainless-terraform-configurability: computed_optional
    zero-trust-gateway_tls-settings:
      description: Specify whether to inspect encrypted HTTP traffic.
      type:
      - object
      - 'null'
      properties:
        enabled:
          description: Specify whether to inspect encrypted HTTP traffic.
          type: boolean
          example: true
          x-auditable: true
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_gateway_account:
      type: object
      allOf:
      - $ref: '#/components/schemas/zero-trust-gateway_api-response-single'
      - properties:
          result:
            type: object
            properties:
              gateway_tag:
                $ref: '#/components/schemas/zero-trust-gateway_gateway_tag'
              id:
                $ref: '#/components/schemas/zero-trust-gateway_cf_account_id'
              provider_name:
                $ref: '#/components/schemas/zero-trust-gateway_provider_name'
        type: object
    zero-trust-gateway_gateway_account_config:
      type: object
      allOf:
      - $ref: '#/components/schemas/zero-trust-gateway_api-response-single'
      - properties:
          result:
            type: object
            allOf:
            - $ref: '#/components/schemas/zero-trust-gateway_gateway-account-settings'
            - properties:
                created_at:
                  $ref: '#/components/schemas/zero-trust-gateway_read_only_timestamp'
                updated_at:
                  $ref: '#/components/schemas/zero-trust-gateway_read_only_timestamp'
              type: object
        type: object
    teams-devices_identifier:
      type: string
      example: 699d98642c564d2e855e9661899b7252
    zero-trust-gateway_activity-log-settings:
      description: Specify activity log settings.
      type:
      - object
      - 'null'
      properties:
        enabled:
          description: Specify whether to log activity.
          type:
          - boolean
          - 'null'
          example: true
          x-auditable: true
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_account-log-options:
      type: object
      properties:
        log_all:
          description: Specify whether to log all requests to this service.
          type: boolean
          example: false
          default: false
          x-auditable: true
        log_blocks:
          description: Specify whether to log only blocking requests to this service.
          type: boolean
          example: true
          default: false
          x-auditable: true
    zero-trust-gateway_extended-email-matching:
      description: Configures user email settings for firewall policies. When you enable this, the system standardizes email addresses in the identity portion of the rule to match extended email variants in firewall policies. When you disable this setting, the system matches email addresses exactly as you provide them. Enable this setting if your email uses `.` or `+` modifiers.
      type:
      - object
      - 'null'
      properties:
        enabled:
          description: Specify whether to match all variants of user emails (with + or . modifiers) used as criteria in Firewall policies.
          type:
          - boolean
          - 'null'
          example: true
          x-auditable: true
        read_only:
          description: Indicate that this setting was shared via the Orgs API and read only for the current account.
          type: boolean
          readOnly: true
          x-auditable: true
          x-stainless-terraform-configurability: computed
        source_account:
          description: Indicate the account tag of the account that shared this setting.
          type: string
          readOnly: true
          x-auditable: true
          x-stainless-terraform-configurability: computed
        version:
          description: Indicate the version number of the setting.
          type: integer
          example: 1
          readOnly: true
          x-auditable: true
          x-stainless-terraform-configurability: computed
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_body-scanning-settings:
      description: Specify the DLP inspection mode.
      type:
      - object
      - 'null'
      properties:
        inspection_mode:
          description: Specify the inspection mode as either `deep` or `shallow`.
          type: string
          example: deep
          enum:
          - deep
          - shallow
          x-auditable: true
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_browser-isolation-settings:
      description: Specify Clientless Browser Isolation settings.
      type:
      - object
      - 'null'
      properties:
        non_identity_enabled:
          description: Specify whether to enable non-identity onramp support for Browser Isolation.
          type: boolean
          example: true
          x-auditable: true
        url_browser_isolation_enabled:
          description: Specify whether to enable Clientless Browser Isolation.
          type: boolean
          example: true
          x-auditable: true
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_notification_settings:
      description: Configure the message the user's device shows during an antivirus scan.
      type:
      - object
      - 'null'
      properties:
        enabled:
          description: Specify whether to enable notifications.
          type: boolean
          x-auditable: true
        include_context:
          description: Specify whether to include context information as query parameters.
          type: boolean
          x-auditable: true
        msg:
          description: Specify the message to show in the notification.
          type: string
          x-auditable: true
        support_url:
          description: Specify a URL that directs users to more information. If unset, the notification opens a block page.
          type: string
          x-auditable: true
      x-stainless-terraform-configurability: computed_optional
    zero-trust-gateway_custom-certificate-settings:
      description: Specify custom certificate settings for BYO-PKI. This field is deprecated; use `certificate` instead.
      type:
      - object
      - 'null'
      properties:
        binding_status:
          description: Indicate the internal certificate status.
          type: string
          example: pending_deployment
          readOnly: true
          x-auditable: true
          x-stainless-terraform-configurability: computed
        enabled:
          description: Specify whether to enable a custom certificate authority for signing Gateway traffic.
          type:
          - boolean
          - 'null'
          example: true
          x-auditable: true
        id:
          description: Specify the UUID of the certificate (ID from MTLS certificate store).
          type: string
          example: d1b364c5-1311-466e-a194-f0e943e0799f
          x-auditable: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
          x-stainless-terraform-configurability: computed
      deprecated: true
      required:
      - enabled
      x-fern-availability: deprecated
      x-stainless-terraform-configurability: optional
    teams-devices_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          message:
            type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    zero-trust-gateway_certificate-settings:
      description: Specify certificate settings for Gateway TLS interception. If unset, the Cloudflare Root CA handles interception.
      type:
      - object
      - 'null'
      properties:
        id:
          description: Specify the UUID of the certificate used for interception. Ensure the certificate is available at the edge(previously called 'active'). A nil UUID directs Cloudflare to use the Root CA.
          type: string
          example: d1b364c5-1311-466e-a194-f0e943e0799f
          x-auditable: true
      required:
      - id
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_anti-virus-settings:
      description: Specify anti-virus settings.
      type:
      - object
      - 'null'
      properties:
        enabled_download_phase:
          $ref: '#/components/schemas/zero-trust-gateway_enabled_download_phase'
        enabled_upload_phase:
          $ref: '#/components/schemas/zero-trust-gateway_enabled_upload_phase'
        fail_closed:
          $ref: '#/components/schemas/zero-trust-gateway_fail_closed'
        notification_settings:
          $ref: '#/components/schemas/zero-trust-gateway_notification_settings'
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_gateway-account-logging-settings-response:
      allOf:
      - $ref: '#/components/schemas/zero-trust-gateway_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/zero-trust-gateway_gateway-account-logging-settings'
        type: object
    zero-trust-gateway_gateway-account-settings:
      description: Specify account settings.
      properties:
        settings:
          description: Specify account settings.
          type: object
          properties:
            activity_log:
              $ref: '#/components/schemas/zero-trust-gateway_activity-log-settings'
            antivirus:
              $ref: '#/components/schemas/zero-trust-gateway_anti-virus-settings'
            block_page:
              $ref: '#/components/schemas/zero-trust-gateway_block-page-settings'
            body_scanning:
              $ref: '#/components/schemas/zero-trust-gateway_body-scanning-settings'
            browser_isolation:
              $ref: '#/components/schemas/zero-trust-gateway_browser-isolation-settings'
            certificate:
              $ref: '#/components/schemas/zero-trust-gateway_certificate-settings'
            custom_certificate:
              $ref: '#/components/schemas/zero-trust-gateway_custom-certificate-settings'
            extended_email_matching:
              $ref: '#/components/schemas/zero-trust-gateway_extended-email-matching'
            fips:
              $ref: '#/components/schemas/zero-trust-gateway_fips-settings'
            host_selector:
              $ref: '#/components/schemas/zero-trust-gateway_host-selector-settings'
            inspection:
              $ref: '#/components/schemas/zero-trust-gateway_inspection-settings'
            max_ttl_secs:
              $ref: '#/components/schemas/zero-trust-gateway_max-ttl-secs'
            protocol_detection:
              $ref: '#/components/schemas/zero-trust-gateway_protocol-detection'
            sandbox:
              $ref: '#/components/schemas/zero-trust-gateway_sandbox'
            tls_decrypt:
              $ref: '#/components/schemas/zero-trust-gateway_tls-settings'
    zero-trust-gateway_gateway-account-egress-cidr-pair-list-response:
      allOf:
      - $ref: '#/components/schemas/zero-trust-gateway_api-response-single'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/zero-trust-gateway_gateway-account-egress-cidr'
        type: object
    zero-trust-gateway_identifier:
      description: Specify the Cloudflare account identifier.
      type: string
      example: 699d98642c564d2e855e9661899b7252
    zero-trust-gateway_cf_account_id:
      description: Specify the Cloudflare account ID.
      type: string
      example: 699d98642c564d2e855e9661899b7252
      maxLength: 32
    zero-trust-gateway_host-selector-settings:
      description: Enable host selection in egress policies.
      type:
      - object
      - 'null'
      properties:
        enabled:
          description: Specify whether to enable filtering via hosts for egress policies.
          type:
          - boolean
          - 'null'
          example: false
          x-auditable: true
      x-stainless-terraform-configurability: optional
    zero-trust-gateway_read_only_timestamp:
      type: string
      format: date-time
      example: '2014-01-01T05:20:00.12345Z'
      readOnly: true
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
        description: Chat messages from historical RealtimeKit sessions
      kit.sessions.livestreams:
        description: Livestreams associated with historical RealtimeKit sessions
      kit.sessions.participants:
        description: Participants in historical RealtimeKit sessions
      kit.sessions.peers:
        description: Peer details from historical RealtimeKit sessions
      kit.sessions.summaries:
        description: Summaries of historical RealtimeKit sessions
      kit.sessions.transcripts:
        description: Transcripts from historical RealtimeKit sessions
      kit.webhooks:
        description: Webhook endpoints and supported events for RealtimeKit notifications
      kit.webhooks.events:
        description: Supported events for RealtimeKit webhooks
      moq:
        description: MoQ relays for publishing and subscribing to media streams
      moq.relays:
        description: Relays are isolated MoQ scopes that carry media between publishers and subscribers
      moq.relays.tokens:
        description: Tokens that authorize publishers and subscribers to connect to a relay
      sfu:
        description: SFU apps that route WebRTC media and data between participants
      sfu.apps:
        description: SFU application namespaces for sessions and tracks
      turn:
        description: TURN keys that help clients traverse NATs and firewalls
      turn.keys:
        description: Keys used to generate short-lived TURN credentials
  request-tracers:
    description: Trace how a request would be processed through Cloudflare's rules and configuration pipeline
    groups:
      traces:
        description: Simulate request processing to debug rule matches, transforms, and routing decisions
  resource-sharing:
    description: Share Cloudflare resources (zones, accounts) across organizations with granular access controls
    groups:
      recipients:
        description: Update share recipients
      resources:
        description: Individual resources (zones, configs) that have been shared with recipients
  rules:
    description: Resources used by Cloudflare rules and rulesets
    groups:
      lists:
        description: Custom account-level lists of IPs, hostnames, ASNs, or redirects used in rule expressions
  rum:
    description: Real User Measurement (Web Analytics) — track page loads, Core Web Vitals, and visitor metrics
    groups:
      rules:
        description: Rules that control which pages and paths are tracked by Web Analytics
      site-info:
        description: Web Analytics sites — register domains and get the JavaScript beacon snippet
  scim:
    description: SCIM 2.0 provisioning — manage users, groups, and identity provider sync for your account
    groups:
      groups:
        description: Groups operations
      resource-types:
        description: Resource Types operations
      schemas:
        description: Schemas operations
      service-provider-config:
        description: Service Provider Config operations
      users:
        description: Users operations
  secrets-store:
    description: Centralized secret management — store API keys, tokens, and credentials for use across Workers and other products
    groups:
      quota:
        description: Account quota limits for secrets stores, secrets count, and storage capacity
      secrets:
        description: Encrypted key-value secrets within a store. Pass --store-id to scope.
      stores:
        description: Secret stores that hold encrypted key-value secrets accessible by Workers and services
  security-center:
    description: Security posture dashboard — view and manage security insights, misconfigurations, and vulnerabilities
    groups:
      insights:
        description: Security findings and recommendations across your account — DNS, SSL, WAF misconfigurations, etc.
      zone-insights:
        description: Zone-scoped security insights — counts by class, severity, type, and dismissal
  security-txt:
    description: Manage the /.well-known/security.txt file that tells security researchers how to report vulnerabilities
  smart-shield:
    description: Smart Shield settings, health checks, and cache reserve management
    groups:
      cache-reserve-clear:
        description: Cache Reserve Clear operations
      health-checks:
        description: Health checks operations
  spectrum:
    description: Proxy and protect arbitrary TCP/UDP applications through Cloudflare's network with DDoS mitigation
    groups:
      analytics:
        description: Real-time and historical connection analytics for Spectrum applications
      apps:
        description: Spectrum application configurations that map protocols and ports to origin servers
  speed:
    description: Observatory speed tests — run Lighthouse audits, track performance trends, and schedule recurring tests
    groups:
      availabilities:
        description: Check which speed test regions and configurations are available for your zone
      pages:
        description: Tested pages with their performance history, trends, and individual test results
      schedule:
        description: Scheduled recurring speed tests that automatically run at regular intervals
  ssl:
    description: SSL/TLS certificate management — certificate packs, Universal SSL, verification, and TLS mode recommendations
    groups:
      automatic-upgrader:
        description: SSL automatic mode enrollment — get or update automatic SSL/TLS upgrader settings
      recommendations:
        description: Get the recommended SSL/TLS encryption mode based on your origin server's certificate configuration
  stream:
    description: Video encoding, storage, and delivery — upload, live-stream, clip, caption, and embed video at scale
    groups:
      audio-tracks:
        description: Add, edit, or remove additional audio tracks on a video
      captions:
        description: Upload, generate, or retrieve captions and subtitles for videos in multiple languages
      clip:
        description: Create a new video clip from an existing video by specifying start and end times
      copy:
        description: Import a video from a URL into Stream for processing and delivery
      direct-upload:
        description: Generate a tokenized URL that lets end-users upload video directly to Stream
      downloads:
        description: Create downloadable MP4 renditions of a video for offline viewing
      embed:
        description: Retrieve the HTML embed code snippet for a video
      keys:
        description: Signing keys used to generate short-lived signed URLs for private video playback
      live-inputs:
        description: Enable and disable live input streams
      token:
        description: Generate short-lived signed URL tokens for secure private video playback
      typed-downloads:
        description: Type-specific stream download creation and deletion
      videos:
        description: Aggregate video storage usage statistics for the account
      watermarks:
        description: Watermark profiles that overlay an image on every video in the account
      webhooks:
        description: Webhook notifications for video lifecycle events (ready, error, etc.)
  tenants:
    description: Multi-tenant account management — manage tenant accounts, entitlements, and memberships
    groups:
      account-types:
        description: Account Types operations
      accounts:
        description: Accounts operations
      entitlements:
        description: Entitlements operations
      memberships:
        description: Memberships operations
  turnstile:
    description: CAPTCHA-free bot verification widgets that protect forms and APIs without degrading user experience
    groups:
      widgets:
        description: Turnstile widget configurations — site keys, secret rotation, and challenge mode settings
  url-scanner:
    description: Scan URLs for phishing, malware, and other threats — submit scans and retrieve detailed results
    groups:
      response:
        description: Response operations
      responses:
        description: Raw HTTP response data captured during URL scans
      scan:
        description: Scan operations
      scans:
        description: URL scan requests and results — submit URLs for analysis and retrieve threat verdicts
  user:
    description: Your Cloudflare user profile, invitations, organizations, billing, and personal API tokens
    groups:
      billing:
        description: View billing history and payment profile for your user (deprecated — prefer account-level billing)
      firewall:
        description: Firewall operations
      load-balancers.monitors:
        description: Load Balancers operations
      load-balancers.monitors.preview:
        description: Load Balancers operations
      load-balancers.monitors.references:
        description: Load Balancers operations
      load-balancers.pools:
        description: Load Balancers operations
      load-balancers.pools.edit.pools:
        description: Load Balancers operations
      load-balancers.pools.health:
        description: Load Balancers operations
      load-balancers.pools.preview:
        description: Load Balancers operations
      load-balancers.pools.references:
        description: Load Balancers operations
      load-balancers.preview:
        description: Load Balancers operations
      load-balancing-analytics.events:
        description: Load Balancing Analytics operations
      subscriptions:
        description: View and manage zone-level plan subscriptions owned by your user
      tenants:
        description: Tenants operations
      tokens:
        description: Create and manage personal API tokens scoped to your user for programmatic API access
  user.analytics:
    description: User-level traffic analytics — aggregated totals and timeseries across all zones
  vectorize:
    description: Globally distributed vector database for building semantic search, recommendations, and RAG applications on Workers
    groups:
      deprecated-indexes:
        description: Deprecated v1 Vectorize index operations
      metadata-index:
        description: Metadata indexes for filtered vector search
  waiting-rooms:
    description: Virtual queues that throttle traffic to your site during peak demand with customizable waiting pages
    groups:
      account-waiting-rooms:
        description: Account-scoped waiting room listing
      events:
        description: Scheduled events that temporarily override waiting room settings for sales, launches, etc.
      page:
        description: Custom HTML waiting page templates and preview rendering
      rules:
        description: Rules that bypass or modify waiting room behavior for specific request patterns
      settings:
        description: Zone-level waiting room defaults and cookie configuration
      statuses:
        description: Real-time queue status showing active users, queued users, and estimated wait times
  workflows:
    description: Durable, multi-step workflows that run on Workers with automatic retries and state persistence
    groups:
      instances:
        description: Workflow instance operations
      versions:
        description: Workflow version operations
  zaraz:
    description: Server-side tag manager — load third-party tools (analytics, pixels, etc.) from Cloudflare's edge without client-side JS
    groups:
      config:
        description: Full Zaraz configuration including tools, triggers, and variables for the zone
      default:
        description: Default Zaraz configuration template used as a starting point for new zones
      export:
        description: Export the current Zaraz configuration as a portable JSON document
      history:
        description: Configuration version history — browse and restore previous Zaraz configurations
      publish:
        description: Publish pending Zaraz configuration changes to make them live on the zone
      workflow:
        description: Workflow state for Zaraz configuration changes (draft vs. published)
  zero-trust:
    description: Cloudflare's SASE platform — secure access, device posture, DLP, tunnels, gateway policies, and network segmentation
    groups:
      dex:
        description: Digital Experience Monitoring — synthetic tests, fleet-wide device metrics, and network path diagnostics
      dlp.custom-prompt-topics:
        description: Data Loss Prevention - manage custom prompt topics for AI-based content detection
      dlp.data-classes:
        description: Data Loss Prevention - manage data classes used to classify sensitive information
      dlp.data-tag-categories:
        description: Data Loss Prevention - manage categories that organize data tags
      dlp.data-tag-category-templates:
        description: Data Loss Prevention - browse templates for creating data tag categories
      dlp.data-tags:
        description: Data Loss Prevention - manage tags used to classify and organize sensitive data
      dlp.datasets:
        description: Data Loss Prevention - manage datasets, versions, and uploads
      dlp.document-fingerprints:
        description: Data Loss Prevention - manage document fingerprints for detecting matching documents
      dlp.email.account-mapping:
        description: Data Loss Prevention - configure account mappings for outbound email scanning
      dlp.email.rules:
        description: Data Loss Prevention - manage outbound email scanning rules and their priorities
      dlp.entries:
        description: Data Loss Prevention - list and manage detection entries
      dlp.limits:
        description: Data Loss Prevention - view account limits and resource quotas
      dlp.patterns:
        description: Data Loss Prevention - validate regular expressions used for content detection
      dlp.profiles:
        description: Data Loss Prevention - list and retrieve profiles
      dlp.profiles.custom:
        description: Data Loss Prevention - manage custom profiles
      dlp.profiles.predefined:
        description: Data Loss Prevention - manage predefined profiles
      dlp.sensitivity-group-templates:
        description: Data Loss Prevention - browse templates for creating sensitivity groups
      dlp.sensitivity-groups:
        description: Data Loss Prevention - manage sensitivity groups and their level ordering
      dlp.sensitivity-levels:
        description: Data Loss Prevention - manage sensitivity levels within sensitivity groups
      dlp.settings:
        description: Data Loss Prevention - manage account-level settings
      dlp.validators:
        description: Data Loss Prevention - list and retrieve content validators
      dlp.validators.proximity-words:
        description: Data Loss Prevention - manage proximity-word validators
      risk-scoring:
        description: User Risk Scoring - retrieve and reset user risk scores
      risk-scoring.behaviours:
        description: User Risk Scoring - manage behaviors used to calculate user risk scores
      risk-scoring.integrations:
        description: User Risk Scoring - manage integrations that provide risk score signals
      risk-scoring.integrations.references:
        description: User Risk Scoring - retrieve integrations by external reference
      risk-scoring.summary:
        description: User Risk Scoring - retrieve account risk score summaries
  zones:
    description: Zones are domains on Cloudflare — list, create, and configure domain settings
    groups:
      aegis:
        description: Aegis operations
      fonts:
        description: Fonts operations
      origin-h2-max-streams:
        description: Origin H2 Max Streams operations
      origin-max-http-version:
        description: Origin Max Http Version operations
      origin-tls-compliance-modes:
        description: Manage zone Origin TLS Compliance Modes setting
      rum:
        description: Rum operations
      speed-brain:
        description: Speed Brain operations
