openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Artifacts API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Artifacts
paths:
  /accounts/{account_id}/artifacts/namespaces:
    parameters:
    - name: account_id
      in: path
      description: Cloudflare account ID.
      required: true
      schema:
        type: string
    get:
      operationId: artifacts_namespaces_list
      summary: List namespaces
      description: Lists Artifacts namespaces for an account.
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
          maximum: 200
          minimum: 1
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Namespaces.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: array
                    items:
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                        jurisdiction:
                          type: string
                          enum:
                          - unrestricted
                          - us
                          - eu
                          - fedramp
                        namespace:
                          type: string
                        repo_count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        updated_at:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                      required:
                      - namespace
                      - jurisdiction
                      - repo_count
                      - created_at
                      - updated_at
                      type: object
                  result_info:
                    anyOf:
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        cursor:
                          type: string
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - cursor
                      - per_page
                      - count
                      type: object
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_pages:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - page
                      - per_page
                      - total_pages
                      - count
                      - total_count
                      type: object
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Artifacts
      x-api-token-group:
      - Artifacts Read
      x-fern-availability: beta
      x-fern-sdk-group-name: artifacts.namespaces
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: artifacts_namespaces_create
      summary: Create a namespace
      description: Creates an empty Artifacts namespace for an account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jurisdiction:
                  type: string
                  default: unrestricted
                  enum:
                  - unrestricted
                  - us
                  - eu
                  - fedramp
                namespace:
                  type: string
                  maxLength: 63
                  minLength: 2
                  pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9._])?$
              required:
              - namespace
      responses:
        '201':
          description: Namespace created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                      jurisdiction:
                        type: string
                        enum:
                        - unrestricted
                        - us
                        - eu
                        - fedramp
                      namespace:
                        type: string
                      repo_count:
                        type: integer
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                      updated_at:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                    required:
                    - namespace
                    - jurisdiction
                    - repo_count
                    - created_at
                    - updated_at
                  result_info:
                    anyOf:
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        cursor:
                          type: string
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - cursor
                      - per_page
                      - count
                      type: object
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_pages:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - page
                      - per_page
                      - total_pages
                      - count
                      - total_count
                      type: object
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '409':
          description: Operation conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Artifacts
      x-api-token-group:
      - Artifacts Edit
      x-fern-availability: beta
      x-fern-sdk-group-name: artifacts.namespaces
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/artifacts/namespaces/{namespace}:
    parameters:
    - name: account_id
      in: path
      description: Cloudflare account ID.
      required: true
      schema:
        type: string
    delete:
      operationId: artifacts_namespaces_delete
      summary: Delete a namespace
      description: Deletes an empty Artifacts namespace.
      parameters:
      - name: namespace
        in: path
        description: Artifacts namespace name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 2
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9._])?$
      responses:
        '204':
          description: Namespace deleted.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '409':
          description: Operation conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Artifacts
      x-api-token-group:
      - Artifacts Edit
      x-fern-availability: beta
      x-fern-sdk-group-name: artifacts.namespaces
      x-fern-sdk-method-name: delete
      x-stability: beta
    get:
      operationId: artifacts_namespaces_get
      summary: Get a namespace
      description: Returns an Artifacts namespace summary.
      parameters:
      - name: namespace
        in: path
        description: Artifacts namespace name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 2
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9._])?$
      responses:
        '200':
          description: Namespace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                      jurisdiction:
                        type: string
                        enum:
                        - unrestricted
                        - us
                        - eu
                        - fedramp
                      namespace:
                        type: string
                      repo_count:
                        type: integer
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                      updated_at:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                    required:
                    - namespace
                    - jurisdiction
                    - repo_count
                    - created_at
                    - updated_at
                  result_info:
                    anyOf:
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        cursor:
                          type: string
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - cursor
                      - per_page
                      - count
                      type: object
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_pages:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - page
                      - per_page
                      - total_pages
                      - count
                      - total_count
                      type: object
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Artifacts
      x-api-token-group:
      - Artifacts Read
      x-fern-availability: beta
      x-fern-sdk-group-name: artifacts.namespaces
      x-fern-sdk-method-name: get
      x-stability: beta
  /accounts/{account_id}/artifacts/namespaces/{namespace}/repos:
    parameters:
    - name: account_id
      in: path
      description: Cloudflare account ID.
      required: true
      schema:
        type: string
    get:
      operationId: artifacts_repos_list
      summary: List repositories
      description: Lists repositories in a namespace.
      parameters:
      - name: namespace
        in: path
        description: Artifacts namespace name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 2
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9._])?$
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          maximum: 200
          minimum: 1
      - name: cursor
        in: query
        schema:
          type: string
      - name: search
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          default: created_at
          enum:
          - created_at
          - updated_at
          - last_push_at
          - name
      - name: direction
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Repositories.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: array
                    items:
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                        default_branch:
                          description: Default branch name. Must not contain '..' and must not end with '/' or '.'.
                          type: string
                        description:
                          type:
                          - string
                          - 'null'
                        id:
                          type: string
                        last_push_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                        name:
                          type: string
                        read_only:
                          type: boolean
                        remote:
                          type: string
                        source:
                          type:
                          - string
                          - 'null'
                        updated_at:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z))$
                      required:
                      - id
                      - name
                      - description
                      - default_branch
                      - created_at
                      - updated_at
                      - last_push_at
                      - source
                      - read_only
                      - remote
                      type: object
                  result_info:
                    anyOf:
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        cursor:
                          type: string
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - cursor
                      - per_page
                      - count
                      type: object
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_pages:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - page
                      - per_page
                      - total_pages
                      - count
                      - total_count
                      type: object
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Artifacts
      x-api-token-group:
      - Artifacts Read
      x-fern-availability: beta
      x-fern-sdk-group-name: artifacts.namespaces.repos
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: artifacts_repos_create
      summary: Create a repository
      description: Creates a Git-compatible Artifacts repository in a namespace.
      parameters:
      - name: namespace
        in: path
        description: Artifacts namespace name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 2
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9._])?$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_branch:
                  description: Git branch name. Must match /^[a-zA-Z0-9][a-zA-Z0-9._/-]*$/, must not contain '..', and must not end with '/' or '.'.
                  type: string
                  maxLength: 256
                  minLength: 1
                  pattern: ^[a-zA-Z0-9][a-zA-Z0-9._/-]*$
                description:
                  type: string
                  maxLength: 1024
                name:
                  type: string
                  pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
                read_only:
                  type: boolean
              required:
              - name
      responses:
        '201':
          description: Repository created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      default_branch:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      id:
                        type: string
                      name:
                        type: string
                      remote:
                        type: string
                      token:
                        type: string
                    required:
                    - id
                    - name
                    - description
                    - default_branch
                    - remote
                    - token
                  result_info:
                    anyOf:
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        cursor:
                          type: string
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - cursor
                      - per_page
                      - count
                      type: object
                    - properties:
                        count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        per_page:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_count:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        total_pages:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                      required:
                      - page
                      - per_page
                      - total_pages
                      - count
                      - total_count
                      type: object
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '409':
          description: Operation conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                    minItems: 1
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Artifacts
      x-api-token-group:
      - Artifacts Edit
      x-fern-availability: beta
      x-fern-sdk-group-name: artifacts.namespaces.repos
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/artifacts/namespaces/{namespace}/repos/{name}:
    parameters:
    - name: account_id
      in: path
      description: Cloudflare account ID.
      required: true
      schema:
        type: string
    delete:
      operationId: artifacts_repos_delete
      summary: Delete a repository
      description: Deletes a repository and schedules cleanup of its backing data.
      parameters:
      - name: namespace
        in: path
        description: Artifacts namespace name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 2
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9._])?$
      - name: name
        in: path
        description: Repository name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      responses:
        '202':
          description: Delete accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
                          maximum: 9007199254740991
                          minimum: -9007199254740991
                        documentation_url:
                          type: string
                          format: uri
                        message:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: integer
[...]
