openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Access identity providers API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Access identity providers
paths:
  /accounts/{account_id}/access/identity_providers:
    get:
      operationId: access-identity-providers-list-access-identity-providers
      summary: List Access identity providers
      description: Lists all configured identity providers.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: scim_enabled
        in: query
        schema:
          description: Indicates to Access to only retrieve identity providers that have the System for Cross-Domain Identity Management (SCIM) enabled.
          type: string
          example: true
      - $ref: '#/components/parameters/access_page'
      - name: per_page
        in: query
        schema:
          description: Number of results per page.
          type: integer
          default: 200
          maximum: 1000
      responses:
        '200':
          description: List Access identity providers response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_response_collection'
        4XX:
          description: List Access identity providers response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      - 'Access: Organizations, Identity Providers, and Groups Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers
      x-fern-sdk-method-name: list
    post:
      operationId: access-identity-providers-add-an-access-identity-provider
      summary: Add an Access identity provider
      description: Adds a new identity provider to Access.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_identity-providers'
      responses:
        '201':
          description: Add an Access identity provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_single_response-3'
        4XX:
          description: Add an Access identity provider response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers
      x-fern-sdk-method-name: create
  /accounts/{account_id}/access/identity_providers/{identity_provider_id}:
    delete:
      operationId: access-identity-providers-delete-an-access-identity-provider
      summary: Delete an Access identity provider
      description: Deletes an identity provider from Access.
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Delete an Access identity provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_id_response'
        4XX:
          description: Delete an Access identity provider response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers
      x-fern-sdk-method-name: delete
    get:
      operationId: access-identity-providers-get-an-access-identity-provider
      summary: Get an Access identity provider
      description: Fetches a configured identity provider.
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get an Access identity provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_single_response-3'
        4XX:
          description: Get an Access identity provider response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      - 'Access: Organizations, Identity Providers, and Groups Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers
      x-fern-sdk-method-name: get
    put:
      operationId: access-identity-providers-update-an-access-identity-provider
      summary: Update an Access identity provider
      description: Updates a configured identity provider.
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_identity-providers'
      responses:
        '200':
          description: Update an Access identity provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_single_response-3'
        4XX:
          description: Update an Access identity provider response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers
      x-fern-sdk-method-name: update
  /accounts/{account_id}/access/identity_providers/{identity_provider_id}/saml_certificate:
    post:
      operationId: access-identity-providers-create-saml-certificate-for-identity-provider
      summary: Create SAML encryption certificate for Identity Provider
      description: 'Creates a new SAML encryption certificate set and assigns it to the specified

        SAML Identity Provider. This endpoint is idempotent - if the IdP already has

        a certificate set assigned, the existing certificate set is returned with a 200 status.


        **Workflow for enabling SAML encryption:**

        1. Call this endpoint to create and assign a certificate set to the IdP

        2. Update the IdP configuration (PUT `/identity_providers/{id}`) with:

        - `config.enable_encryption: true`

        - `saml_certificate_set_id: `

        3. Configure the certificate''s public key in your external SAML Identity Provider'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      responses:
        '200':
          description: IdP already has a certificate set assigned (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_saml_certificate_set_response'
        '201':
          description: SAML certificate set created and assigned to IdP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_saml_certificate_set_response'
        '403':
          description: SAML encryption not enabled for organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
        '404':
          description: Identity provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
        4XX:
          description: Create SAML certificate for IdP response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers.saml-certificate
      x-fern-sdk-method-name: create
  /accounts/{account_id}/access/identity_providers/{identity_provider_id}/scim/groups:
    get:
      operationId: access-identity-providers-list-scim-group-resources
      summary: List SCIM Group resources
      description: Lists SCIM Group resources synced to Cloudflare via the System for Cross-domain Identity Management (SCIM).
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: cf_resource_id
        in: query
        schema:
          $ref: '#/components/schemas/access_cf_resource_id'
        explode: true
        style: form
      - name: idp_resource_id
        in: query
        schema:
          $ref: '#/components/schemas/access_idp_resource_id'
        explode: true
        style: form
      - name: name
        in: query
        schema:
          $ref: '#/components/schemas/access_name-4'
      - $ref: '#/components/parameters/access_page'
      - name: per_page
        in: query
        schema:
          description: Number of results per page.
          type: integer
          default: 100
          maximum: 100
      responses:
        '200':
          description: List SCIM Group resources response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_scim_groups_response'
        4XX:
          description: List SCIM Group resources response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      - 'Access: Organizations, Identity Providers, and Groups Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers.scim.groups
      x-fern-sdk-method-name: list
  /accounts/{account_id}/access/identity_providers/{identity_provider_id}/scim/groups/{group_id}:
    delete:
      operationId: access-identity-providers-delete-scim-group-resource
      summary: Delete a SCIM Group resource
      description: Deletes a SCIM Group resource from the identity provider's SCIM population.
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: group_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '204':
          description: SCIM Group resource deleted.
        4XX:
          description: Failed to delete the SCIM Group resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers.scim.groups
      x-fern-sdk-method-name: delete
    get:
      operationId: access-identity-providers-get-scim-group-resource
      summary: Get a SCIM Group resource
      description: Returns a SCIM Group resource, including its direct members, synced to Cloudflare via the System for Cross-domain Identity Management (SCIM).
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: group_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Returns a SCIM Group resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_scim_group_response'
        4XX:
          description: Indicates a failure to get a SCIM Group resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      - 'Access: Organizations, Identity Providers, and Groups Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers.scim.groups
      x-fern-sdk-method-name: get
  /accounts/{account_id}/access/identity_providers/{identity_provider_id}/scim/users:
    get:
      operationId: access-identity-providers-list-scim-user-resources
      summary: List SCIM User resources
      description: Lists SCIM User resources synced to Cloudflare via the System for Cross-domain Identity Management (SCIM).
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: cf_resource_id
        in: query
        schema:
          $ref: '#/components/schemas/access_cf_resource_id-2'
        explode: true
        style: form
      - name: idp_resource_id
        in: query
        schema:
          $ref: '#/components/schemas/access_idp_resource_id-2'
        explode: true
        style: form
      - name: username
        in: query
        schema:
          $ref: '#/components/schemas/access_username'
      - name: email
        in: query
        schema:
          $ref: '#/components/schemas/access_email'
      - name: name
        in: query
        schema:
          $ref: '#/components/schemas/access_name-5'
      - $ref: '#/components/parameters/access_page'
      - name: per_page
        in: query
        schema:
          description: Number of results per page.
          type: integer
          default: 100
          maximum: 100
      responses:
        '200':
          description: List SCIM User resources response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_scim_users_response'
        4XX:
          description: List SCIM User resources response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      - 'Access: Organizations, Identity Providers, and Groups Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers.scim.users
      x-fern-sdk-method-name: list
  /accounts/{account_id}/access/identity_providers/{identity_provider_id}/scim/users/{user_id}:
    delete:
      operationId: access-identity-providers-delete-scim-user-resource
      summary: Delete a SCIM User resource
      description: Deletes a SCIM User resource from the identity provider's SCIM population.
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '204':
          description: SCIM User resource deleted.
        4XX:
          description: Failed to delete the SCIM User resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers.scim.users
      x-fern-sdk-method-name: delete
    get:
      operationId: access-identity-providers-get-scim-user-resource
      summary: Get a SCIM User resource
      description: Returns a SCIM User resource synced to Cloudflare via the System for Cross-domain Identity Management (SCIM).
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: user_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Returns a SCIM User resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_scim_user_response'
        4XX:
          description: Indicates a failure to get a SCIM User resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access identity providers
      x-api-token-group:
      - 'Access: Organizations, Identity Providers, and Groups Write'
      - 'Access: Organizations, Identity Providers, and Groups Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.identity-providers.scim.users
      x-fern-sdk-method-name: get
components:
  schemas:
    access_pingone:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            allOf:
            - $ref: '#/components/schemas/access_generic-oauth-config'
            - $ref: '#/components/schemas/access_custom-claims-support'
            - properties:
                ping_env_id:
                  description: Your PingOne environment identifier
                  type: string
                  example: 342b5660-0c32-4936-a5a4-ce21fae57b0a
                  x-auditable: true
              type: object
        type: object
      title: PingOne
    access_github:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            $ref: '#/components/schemas/access_generic-oauth-config'
        type: object
      title: GitHub
    access_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    access_linkedin:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            $ref: '#/components/schemas/access_generic-oauth-config'
        type: object
      title: LinkedIn
    access_facebook:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            $ref: '#/components/schemas/access_generic-oauth-config'
        type: object
      title: Facebook
    access_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/access_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/access_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    access_saml_certificate_set:
      description: A SAML encryption certificate set containing current and optionally previous certificates for encryption key rotation.
      type: object
      properties:
        created_at:
          description: Timestamp when the certificate set was created
          type: string
          format: date-time
          example: '2026-05-07T19:16:19.821162Z'
        current_certificate:
          description: The currently active certificate used for encrypting SAML assertions
          allOf:
          - $ref: '#/components/schemas/access_saml_certificate'
        previous_certificate:
          description: The previous certificate, maintained during rotation to ensure continuity. Null if no rotation has occurred. Mirrors the structure of `saml_certificate`.
          type:
          - object
          - 'null'
        uid:
          description: Unique identifier for the certificate set
          type: string
          format: uuid
          example: c409ef44-e72c-41c8-8c0b-278c8a6f4fd8
        updated_at:
          description: Timestamp when the certificate set was last updated (e.g., during rotation)
          type: string
          format: date-time
          example: '2026-05-07T19:16:19.821162Z'
      required:
      - uid
      - created_at
      - updated_at
    access_passkeys:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            type: object
            properties:
              login_page_auto_prompt:
                description: When enabled, the Access login page automatically prompts the user to authenticate with a passkey.
                type: boolean
                default: false
                x-auditable: true
              redirect_url:
                type: string
                readOnly: true
          type:
            type: string
            enum:
            - passkeys
        type: object
      title: Passkeys
    access_groups:
      type: object
      properties:
        displayName:
          description: The display name of the SCIM Group resource.
          type: string
          example: ALL EMPLOYEES
        externalId:
          $ref: '#/components/schemas/access_externalId'
        id:
          $ref: '#/components/schemas/access_id'
        meta:
          $ref: '#/components/schemas/access_meta'
        schemas:
          description: The list of URIs which indicate the attributes contained within a SCIM resource.
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:schemas:core:2.0:Group
    access_custom-claims-support:
      type: object
      properties:
        claims:
          description: Custom claims
          type: array
          items:
            type: string
          example:
          - email_verified
          - preferred_username
          - custom_claim_name
          x-auditable: true
        email_claim_name:
          description: The claim name for email in the id_token response.
          type: string
          example: custom_claim_name
          x-auditable: true
    access_generic-oauth-config:
      type: object
      properties:
        client_id:
          description: Your OAuth Client ID
          type: string
          example: <your client id>
        client_secret:
          description: Your OAuth Client Secret
          type: string
          example: <your client secret>
          x-sensitive: true
    access_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/access_messages'
        messages:
          $ref: '#/components/schemas/access_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    access_name-5:
      description: The name of the SCIM User resource.
      type: string
      example: John Smith
    access_email:
      description: The email address of the SCIM User resource.
      type: string
      example: john.smith@example.com
    access_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    access_saml_certificate_set_response:
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/access_saml_certificate_set'
        type: object
    access_externalId:
      description: The IdP-generated Id of the SCIM resource.
      type: string
      example: all_employees
    access_scim_users_response:
      allOf:
      - $ref: '#/components/schemas/access_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/access_users'
        type: object
    access_name-3:
      description: The name of the identity provider, shown to users on the login page.
      type: string
      example: Widget Corps IDP
    access_cloudflare:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            type: object
            properties:
              redirect_url:
                type: string
                readOnly: true
              restrict_to_account_members:
                description: When enabled, only users who are members of your Cloudflare account can authenticate through this identity provider. When disabled, any user with a Cloudflare account can authenticate, subject to your Access policies.
                type: boolean
                default: false
          type:
            type: string
            enum:
            - cloudflare
        type: object
      title: Cloudflare
    access_uuid:
      description: UUID.
      type: string
      example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
      maxLength: 36
      x-auditable: true
    access_azureAD:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            type: object
            allOf:
            - $ref: '#/components/schemas/access_generic-oauth-config'
            - $ref: '#/components/schemas/access_custom-claims-support'
            - properties:
                conditional_access_enabled:
                  description: Should Cloudflare try to load authentication contexts from your account
                  type: boolean
                  x-auditable: true
                directory_id:
                  description: Your Azure directory uuid
                  type: string
                  example: <your azure directory uuid>
                  x-auditable: true
                prompt:
                  description: Indicates the type of user interaction that is required. prompt=login forces the user to enter their credentials on that request, negating single-sign on. prompt=none is the opposite. It ensures that the user isn't presented with any interactive prompt. If the request can't be completed silently by using single-sign on, the Microsoft identity platform returns an interaction_required error. prompt=select_account interrupts single sign-on providing account selection experience listing all the accounts either in session or any remembered account or an option to choose to use a different account altogether.
                  type: string
                  enum:
                  - login
                  - select_account
                  - none
                  x-auditable: true
                support_groups:
                  description: Should Cloudflare try to load groups from your account
                  type: boolean
                  x-auditable: true
              type: object
        type: object
      title: Azure AD
    access_cf_resource_id:
      description: 'The unique Cloudflare-generated Id of the SCIM Group resource; also known as the "Id".

        Pass once for a single lookup (`?cf_resource_id=A`) or repeat the parameter

        (`?cf_resource_id=A&cf_resource_id=B`) to look up multiple groups in one request,

        up to 50 values. Mutually exclusive with `idp_resource_id`, `name`,

        `search_contains`, and `search_starts_with`.'
      type: array
      items:
        type: string
      example:
      - a2abeb50-59c9-4c01-8c5c-963d3bf5700f
      maxItems: 50
    access_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-common'
    access_saml:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            type: object
            properties:
              attributes:
                description: A list of SAML attribute names that will be added to your signed JWT token and can be used in SAML policy rules.
                type: array
                items:
                  type: string
                example:
                - group
                - department_code
                - divison
              email_attribute_name:
                description: The attribute name for email in the SAML response.
                type: string
                example: Email
                x-auditable: true
              enable_encryption:
                description: "Enable SAML assertion encryption. When enabled, the Identity Provider will encrypt \nSAML assertions using the certificate from the assigned certificate set.\n\nTo enable encryption:\n1. Create a certificate set via POST to `/identity_providers/{id}/saml_certificate`\n2. Set this field to `true` and include `saml_certificate_set_id` in the PUT request\n3. Configure the public certificate in your external Identity Provider\n\nNote: Requires `saml_certificate_set_id` to be set when `true`.\n"
                type: boolean
                default: false
                x-auditable: true
              force_authn:
                description: Asks the IdP to reauthenticate the user for each SAML authentication request.
                type: boolean
                default: false
                x-auditable: true
              header_attributes:
                description: Add a list of attribute names that will be returned in the response header from the Access callback.
                type: array
                items:
                  properties:
                    attribute_name:
                      description: attribute name from the IDP
                      type: string
                    header_name:
                      description: header that will be added on the request to the origin
                      type: string
                  type: object
              idp_public_certs:
                description: X509 certificate to verify the signature in the SAML authentication response
                type: array
                items:
                  type: string
              issuer_url:
                description: IdP Entity ID or Issuer URL
                type: string
                example: https://whoami.com
                x-auditable: true
              max_sso_url_length:
                description: 'The maximum URL length the IdP accepts for the SSO redirect URL.

                  When the constructed SSO URL would exceed this length, the RelayState

                  is stored server-side and a short nonce is passed to the IdP instead.

                  Set this if your IdP enforces a URL length limit.

                  '
                type: integer
                example: 8192
                maximum: 100000
                minimum: 512
                x-auditable: true
              sign_request:
                description: Sign the SAML authentication request with Access credentials. To verify the signature, use the public key from the Access certs endpoints.
                type: boolean
                default: false
              sso_target_url:
                description: URL to send the SAML authentication requests to
                type: string
                example: https://edgeaccess.org/idp/saml/login
                x-auditable: true
        type: object
      title: Generic SAML
    access_cf_resource_id-2:
      description: 'The unique Cloudflare-generated Id of the SCIM User resource; also known as the "Id".

        Pass once for a single lookup (`?cf_resource_id=A`) or repeat the parameter

        (`?cf_resource_id=A&cf_resource_id=B`) to look up multiple users in one request,

        up to 50 values. Mutually exclusive with `idp_resource_id`, `username`, `email`,

        `name`, `search_contains`, and `search_starts_with`.'
      type: array
      items:
        type: string
      example:
      - bd97ef8d-7986-43e3-9ee0-c25dda33e4b0
      maxItems: 50
    access_oidc:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            allOf:
            - $ref: '#/components/schemas/access_generic-oauth-config'
            - $ref: '#/components/schemas/access_custom-claims-support'
            - properties:
                auth_url:
                  description: The authorization_endpoint URL of your IdP
                  type: string
                  example: https://accounts.google.com/o/oauth2/auth
                certs_url:
                  description: The jwks_uri endpoint of your IdP to allow the IdP keys to sign the tokens
                  type: string
                  example: https://www.googleapis.com/oauth2/v3/certs
                pkce_enabled:
                  description: Enable Proof Key for Code Exchange (PKCE)
                  type: boolean
                scopes:
                  description: OAuth scopes
                  type: array
                  items:
                    type: string
                  example:
                  - openid
                  - email
                  - profile
                token_url:
                  description: The token_endpoint URL of your IdP
                  type: string
                  example: https://accounts.google.com/o/oauth2/token
              type: object
        type: object
      title: Generic OAuth
    access_meta:
      description: The metadata of the SCIM resource.
      type: object
      properties:
        created:
          description: The timestamp of when the SCIM resource was created.
          type: string
          format: date-time
          example: '2025-01-01T00:00:00Z'
        lastModified:
          description: The timestamp of when the SCIM resource was last modified.
          type: string
          format: date-time
          example: '2025-01-02T00:00:00Z'
    access_group_details:
      type: object
      properties:
        displayName:
          description: The display name of the SCIM Group resource.
          type: string
          example: ALL EMPLOYEES
        externalId:
          $ref: '#/components/schemas/access_externalId'
        id:
          $ref: '#/components/schemas/access_id'
        members:
          description: The direct members of the SCIM Group resource.
          type: array
          items:
            properties:
              $ref:
                description: The URI of the member resource.
                type: string
                format: uri
                example: https://example.com/scim/v2/Users/bd97ef8d-7986-43e3-9ee0-c25dda33e4b0
              display:
                description: The display name of the member resource.
                type: string
                example: john.smith@example.com
              type:
                description: The SCIM resource type of the member.
                type: string
                example: User
                enum:
                - User
                - Group
              value:
                description: The unique Cloudflare-generated Id of the member resource.
                type: string
                example: bd97ef8d-7986-43e3-9ee0-c25dda33e4b0
            required:
            - value
            type: object
        meta:
          $ref: '#/components/schemas/access_meta'
        schemas:
          description: The list of URIs which indicate the attributes contained within a SCIM resource.
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:schemas:core:2.0:Group
    access_username:
      description: The username of the SCIM User resource.
      type: string
      example: John Smith
    access_name-4:
      description: The display name of the SCIM Group resource.
      type: string
      example: ALL_EMPLOYEES
    access_saml_certificate:
      description: A single SAML encryption certificate with metadata
      type: object
      properties:
        is_current:
          description: Indicates whether this is the currently active certificate
          type: boolean
          example: true
        not_after:
          description: Certificate expiration date. Certificates are automatically rotated 30 days before expiration.
          type: string
          format: date-time
          example: '2027-05-07T19:11:00Z'
        public_certificate:
          description: 'PEM-encoded X.509 certificate containing the public key.

            Configure this certificate in your external SAML Identity Provider to enable encryption.

            '
          type: string
          example: '-----BEGIN CERTIFICATE-----

            MIIEpzCCA4+gAwIBAgIUTh2VSDDJ0oB/gabio6j1L9QwWoUwDQYJKoZIhvcNAQEL

            ...

            -----END CERTIFICATE-----

            '
        uid:
          description: Unique identifier for the certificate
          type: string
          format: uuid
          example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
      required:
      - uid
      - public_certificate
      - not_after
      - is_current
    access_yandex:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            $ref: '#/components/schemas/access_generic-oauth-config'
        type: object
      title: Yandex
    access_users:
      type: object
      properties:
        active:
          description: Determines the status of the SCIM User resource.
          type: boolean
          example: true
        displayName:
          description: The name of the SCIM User resource.
          type: string
          example: John Smith
        emails:
          type: array
          items:
            properties:
              primary:
                description: Indicates if the email address is the primary email belonging to the SCIM User resource.
                type: boolean
                example: true
              type:
                description: Indicates the type of the email address.
                type: string
                example: work
              value:
                description: The email address of the SCIM User resource.
                type: string
                format: email
                example: john.smith@example.com
            type: object
        externalId:
          description: The IdP-generated Id of the SCIM resource.
          type: string
          example: john_smith
        id:
          $ref: '#/components/schemas/access_id'
        meta:
          $ref: '#/components/schemas/access_meta'
        schemas:
          description: The list of URIs which indicate the attributes contained within a SCIM resource.
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:schemas:core:2.0:User
    access_okta:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            allOf:
            - $ref: '#/components/schemas/access_generic-oauth-config'
            - $ref: '#/components/schemas/access_custom-claims-support'
            - properties:
                authorization_server_id:
                  description: Your okta authorization server id
                  type: string
                  example: aus9o8wzkhckw9TLa0h7z
                okta_account:
                  description: Your okta account url
                  type: string
                  example: https://dev-abc123.oktapreview.com
                  x-auditable: true
              type: object
        type: object
      title: Okta
    access_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    access_google:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            allOf:
            - $ref: '#/components/schemas/access_generic-oauth-config'
            - $ref: '#/components/schemas/access_custom-claims-support'
        type: object
      title: Google
    access_google-apps:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            allOf:
            - $ref: '#/components/schemas/access_generic-oauth-config'
            - $ref: '#/components/schemas/access_custom-claims-support'
            - properties:
                apps_domain:
                  description: Your companies TLD
                  type: string
                  example: mycompany.com
                prompt:
                  description: Configures the prompt behavior for Google authentication.
                  type: string
                  example: select_account
                  enum:
                  - none
                  - consent
                  - select_account
                  x-auditable: true
                use_login_hint:
                  description: Whether to use a previously authenticated Access email as a Google login hint when exactly one email matches the Workspace domain.
                  type: boolean
                  example: true
                  x-auditable: true
              type: object
        type: object
      title: Google Workspace
    access_idp_resource_id-2:
      description: 'The IdP-generated Id of the SCIM User resource; also known as the "external Id".

        Pass once for a single lookup (`?idp_resource_id=A`) or repeat the parameter

        (`?idp_resource_id=A&idp_resource_id=B`) to look up multiple users in one request,

        up to 50 values. Mutually exclusive with `cf_resource_id`, `username`, `email`,

        `name`, `search_contains`, and `search_starts_with`.'
      type: array
      items:
        type: string
      example:
      - john_smith_01
      maxItems: 50
    access_scim_user_response:
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/access_users'
        type: object
    access_single_response-3:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/access_identity-providers'
        type: object
    access_id_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/access_uuid'
        type: object
    access_scim_group_response:
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/access_group_details'
        type: object
    access_identity-providers:
      type: object
      anyOf:
      - $ref: '#/components/schemas/access_azureAD'
      - $ref: '#/components/schemas/access_centrify'
      - $ref: '#/components/schemas/access_facebook'
      - $ref: '#/components/schemas/access_github'
      - $ref: '#/components/schemas/access_google'
      - $ref: '#/components/schemas/access_google-apps'
      - $ref: '#/components/schemas/access_linkedin'
      - $ref: '#/components/schemas/access_oidc'
      - $ref: '#/components/schemas/access_okta'
      - $ref: '#/components/schemas/access_onelogin'
      - $ref: '#/components/schemas/access_pingone'
      - $ref: '#/components/schemas/access_saml'
      - $ref: '#/components/schemas/access_yandex'
      - $ref: '#/components/schemas/access_onetimepin'
      - $ref: '#/components/schemas/access_cloudflare'
      - $ref: '#/components/schemas/access_passkeys'
    access_identity-provider:
      type: object
      properties:
        config:
          description: The configuration parameters for the identity provider. To view the required parameters for a specific provider, refer to our [developer documentation](https://developers.cloudflare.com/cloudflare-one/identity/idp-integration/).
          type: object
        id:
          $ref: '#/components/schemas/access_uuid'
        name:
          $ref: '#/components/schemas/access_name-3'
        read_only:
          description: 'Indicates that the identity provider is immutable and cannot be updated or deleted via the API.

            '
          type: boolean
          example: true
          readOnly: true
        saml_certificate_set:
          description: 'The SAML encryption certificate set details, including current and previous certificates.

            Only present for SAML identity providers with a certificate set assigned.

            '
          allOf:
          - $ref: '#/components/schemas/access_saml_certificate_set'
          readOnly: true
        saml_certificate_set_id:
          description: 'The UID of the SAML encryption certificate set assigned to this Identity Provider.

            Only present for SAML identity providers with encryption configured.

            Create a certificate set via POST to `/identity_providers/{id}/saml_certificate`.

            '
          type: string
          format: uuid
          example: c409ef44-e72c-41c8-8c0b-278c8a6f4fd8
        scim_config:
          description: The configuration settings for enabling a System for Cross-Domain Identity Management (SCIM) with the identity provider.
          type: object
          properties:
            enabled:
              description: A flag to enable or disable SCIM for the identity provider.
              type: boolean
              default: false
              x-auditable: true
              x-stainless-terraform-configurability: computed_optional
            identity_update_behavior:
              description: Indicates how a SCIM event updates a user identity used for policy evaluation. Use "automatic" to automatically update a user's identity and augment it with fields from the SCIM user resource. Use "reauth" to force re-authentication on group membership updates, user identity update will only occur after successful re-authentication. With "reauth" identities will not contain fields from the SCIM user resource. With "no_action" identities will not be changed by SCIM updates in any way and users will not be prompted to reauthenticate.
              type: string
              default: no_action
              enum:
              - automatic
              - reauth
              - no_action
              x-auditable: true
              x-stainless-terraform-configurability: computed_optional
            scim_base_url:
              description: The base URL of Cloudflare's SCIM V2.0 API endpoint.
              type: string
              readOnly: true
              x-auditable: true
            seat_deprovision:
              description: A flag to remove a user's seat in Zero Trust when they have been deprovisioned in the Identity Provider.  This cannot be enabled unless user_deprovision is also enabled.
              type: boolean
              default: false
              x-auditable: true
              x-stainless-terraform-configurability: computed_optional
            secret:
              description: A read-only token generated when the SCIM integration is enabled for the first time.  It is redacted on subsequent requests.  If you lose this you will need to refresh it at /access/identity_providers/:idpID/refresh_scim_secret.
              type: string
              readOnly: true
              x-sensitive: true
            user_deprovision:
              description: A flag to enable revoking a user's session in Access and Gateway when they have been deprovisioned in the Identity Provider.
              type: boolean
              default: false
              x-auditable: true
              x-stainless-terraform-configurability: computed_optional
        type:
          description: The type of identity provider. To determine the value for a specific provider, refer to our [developer documentation](https://developers.cloudflare.com/cloudflare-one/identity/idp-integration/).
          type: string
          example: onetimepin
          enum:
          - onetimepin
          - azureAD
          - saml
          - centrify
          - facebook
          - github
          - google-apps
          - google
          - linkedin
          - oidc
          - okta
          - onelogin
          - pingone
          - yandex
          - cloudflare
          - passkeys
      required:
      - name
      - type
      - config
    access_scim_groups_response:
      allOf:
      - $ref: '#/components/schemas/access_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/access_groups'
        type: object
    access_id:
      description: The unique Cloudflare-generated Id of the SCIM resource.
      type: string
      example: bd97ef8d-7986-43e3-9ee0-c25dda33e4b0
    access_idp_resource_id:
      description: 'The IdP-generated Id of the SCIM Group resource; also known as the "external Id".

        Pass once for a single lookup (`?idp_resource_id=A`) or repeat the parameter

        (`?idp_resource_id=A&idp_resource_id=B`) to look up multiple groups in one request,

        up to 50 values. Mutually exclusive with `cf_resource_id`, `name`,

        `search_contains`, and `search_starts_with`.'
      type: array
      items:
        type: string
      example:
      - all_employees
      maxItems: 50
    access_onelogin:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            allOf:
            - $ref: '#/components/schemas/access_generic-oauth-config'
            - $ref: '#/components/schemas/access_custom-claims-support'
            - properties:
                onelogin_account:
                  description: Your OneLogin account url
                  type: string
                  example: https://mycompany.onelogin.com
                  x-auditable: true
              type: object
        type: object
      title: OneLogin
    access_centrify:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            allOf:
            - $ref: '#/components/schemas/access_generic-oauth-config'
            - $ref: '#/components/schemas/access_custom-claims-support'
            - properties:
                centrify_account:
                  description: Your centrify account url
                  type: string
                  example: https://abc123.my.centrify.com/
                  x-auditable: true
                centrify_app_id:
                  description: Your centrify app id
                  type: string
                  example: exampleapp
                  x-auditable: true
              type: object
        type: object
      title: Centrify
    access_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-collection'
      - properties:
          result:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/access_azureAD'
              - $ref: '#/components/schemas/access_centrify'
              - $ref: '#/components/schemas/access_facebook'
              - $ref: '#/components/schemas/access_github'
              - $ref: '#/components/schemas/access_google'
              - $ref: '#/components/schemas/access_google-apps'
              - $ref: '#/components/schemas/access_linkedin'
              - $ref: '#/components/schemas/access_oidc'
              - $ref: '#/components/schemas/access_okta'
              - $ref: '#/components/schemas/access_onelogin'
              - $ref: '#/components/schemas/access_pingone'
              - $ref: '#/components/schemas/access_saml'
              - $ref: '#/components/schemas/access_yandex'
              - $ref: '#/components/schemas/access_onetimepin'
              - $ref: '#/components/schemas/access_cloudflare'
              - $ref: '#/components/schemas/access_passkeys'
        type: object
    access_onetimepin:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_identity-provider'
      - properties:
          config:
            type: object
            properties:
              redirect_url:
                type: string
                readOnly: true
          type:
            type: string
            enum:
            - onetimepin
        type: object
      title: One Time Pin
  parameters:
    access_page:
      in: query
      name: page
      schema:
        description: Page number of results.
        type: integer
        default: 1
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
        description: Chat messages from historical RealtimeKit sessions
      kit.sessions.livestreams:
        description: Livestreams associated with historical RealtimeKit sessions
      kit.sessions.participants:
        description: Participants in historical RealtimeKit sessions
      kit.sessions.peers:
        description: Peer details from historical RealtimeKit sessions
      kit.sessions.summaries:
        description: Summaries of historical RealtimeKit sessions
      kit.sessions.transcripts:
        description: Transcripts from historical RealtimeKit sessions
      kit.webhooks:
        description: Webhook endpoints and supported events for RealtimeKit notifications
      kit.webhooks.events:
        description: Supported events for RealtimeKit webhooks
      moq:
        description: MoQ relays for publishing and subscribing to media streams
      moq.relays:
        description: Relays are isolated MoQ scopes that carry media between publishers and subscribers
      moq.relays.tokens:
        description: Tokens that authorize publishers and subscribers to connect to a relay
      sfu:
        description: SFU apps that route WebRTC media and data between participants
      sfu.apps:
        description: SFU application namespaces for sessions and tracks
      turn:
        description: TURN keys that help clients traverse NATs and firewalls
      turn.keys:
        description: Keys used to generate short-lived TURN credentials
  request-tracers:
    description: Trace how a request would be processed through Cloudflare's rules and configuration pipeline
    groups:
      traces:
        description: Simulate request processing to debug rule matches, transforms, and routing decisions
  resource-sharing:
    description: Share Cloudflare resources (zones, accounts) across organizations with granular access controls
    groups:
      recipients:
        description: Update share recipients
      resources:
        description: Individual resources (zones, configs) that have been shared with recipients
  rules:
    description: Resources used by Cloudflare rules and rulesets
    groups:
      lists:
        description: Custom account-level lists of IPs, hostnames, ASNs, or redirects used in rule expressions
  rum:
    description: Real User Measurement (Web Analytics) — track page loads, Core Web Vitals, and visitor metrics
    groups:
      rules:
        description: Rules that control which pages and paths are tracked by Web Analytics
      site-info:
        description: Web Analytics sites — register domains and get the JavaScript beacon snippet
  scim:
    description: SCIM 2.0 provisioning — manage users, groups, and identity provider sync for your account
    groups:
      groups:
        description: Groups operations
      resource-types:
        description: Resource Types operations
      schemas:
        description: Schemas operations
      service-provider-config:
        description: Service Provider Config operations
      users:
        description: Users operations
  secrets-store:
    description: Centralized secret management — store API keys, tokens, and credentials for use across Workers and other products
    groups:
      quota:
        description: Account quota limits for secrets stores, secrets count, and storage capacity
      secrets:
        description: Encrypted key-value secrets within a store. Pass --store-id to scope.
      stores:
        description: Secret stores that hold encrypted key-value secrets accessible by Workers and services
  security-center:
    description: Security posture dashboard — view and manage security insights, misconfigurations, and vulnerabilities
    groups:
      insights:
        description: Security findings and recommendations across your account — DNS, SSL, WAF misconfigurations, etc.
      zone-insights:
        description: Zone-scoped security insights — counts by class, severity, type, and dismissal
  security-txt:
    description: Manage the /.well-known/security.txt file that tells security researchers how to report vulnerabilities
  smart-shield:
    description: Smart Shield settings, health checks, and cache reserve management
    groups:
      cache-reserve-clear:
        description: Cache Reserve Clear operations
      health-checks:
        description: Health checks operations
  spectrum:
    description: Proxy and protect arbitrary TCP/UDP applications through Cloudflare's network with DDoS mitigation
    groups:
      analytics:
        description: Real-time and historical connection analytics for Spectrum applications
      apps:
        description: Spectrum application configurations that map protocols and ports to origin servers
  speed:
    description: Observatory speed tests — run Lighthouse audits, track performance trends, and schedule recurring tests
    groups:
      availabilities:
        description: Check which speed test regions and configurations are available for your zone
      pages:
        description: Tested pages with their performance history, trends, and individual test results
      schedule:
        description: Scheduled recurring speed tests that automatically run at regular intervals
  ssl:
    description: SSL/TLS certificate management — certificate packs, Universal SSL, verification, and TLS mode recommendations
    groups:
      automatic-upgrader:
        description: SSL automatic mode enrollment — get or update automatic SSL/TLS upgrader settings
      recommendations:
        description: Get the recommended SSL/TLS encryption mode based on your origin server's certificate configuration
  stream:
    description: Video encoding, storage, and delivery — upload, live-stream, clip, caption, and embed video at scale
    groups:
      audio-tracks:
        description: Add, edit, or remove additional audio tracks on a video
      captions:
        description: Upload, generate, or retrieve captions and subtitles for videos in multiple languages
      clip:
        description: Create a new video clip from an existing video by specifying start and end times
      copy:
        description: Import a video from a URL into Stream for processing and delivery
      direct-upload:
        description: Generate a tokenized URL that lets end-users upload video directly to Stream
      downloads:
        description: Create downloadable MP4 renditions of a video for offline viewing
      embed:
        description: Retrieve the HTML embed code snippet for a video
      keys:
        description: Signing keys used to generate short-lived signed URLs for private video playback
      live-inputs:
        description: Enable and disable live input streams
      token:
        description: Generate short-lived signed URL tokens for secure private video playback
      typed-downloads:
        description: Type-specific stream download creation and deletion
      videos:
        description: Aggregate video storage usage statistics for the account
      watermarks:
        description: Watermark profiles that overlay an image on every video in the account
      webhooks:
        description: Webhook notifications for video lifecycle events (ready, error, etc.)
  tenants:
    description: Multi-tenant account management — manage tenant accounts, entitlements, and memberships
    groups:
      account-types:
        description: Account Types operations
      accounts:
        description: Accounts operations
      entitlements:
        description: Entitlements operations
      memberships:
        description: Memberships operations
  turnstile:
    description: CAPTCHA-free bot verification widgets that protect forms and APIs without degrading user experience
    groups:
      widgets:
        description: Turnstile widget configurations — site keys, secret rotation, and challenge mode settings
  url-scanner:
    description: Scan URLs for phishing, malware, and other threats — submit scans and retrieve detailed results
    groups:
      response:
        description: Response operations
      responses:
        description: Raw HTTP response data captured during URL scans
      scan:
        description: Scan operations
      scans:
        description: URL scan requests and results — submit URLs for analysis and retrieve threat verdicts
  user:
    description: Your Cloudflare user profile, invitations, organizations, billing, and personal API tokens
    groups:
      billing:
        description: View billing history and payment profile for your user (deprecated — prefer account-level billing)
      firewall:
        description: Firewall operations
      load-balancers.monitors:
        description: Load Balancers operations
      load-balancers.monitors.preview:
        description: Load Balancers operations
      load-balancers.monitors.references:
        description: Load Balancers operations
      load-balancers.pools:
        description: Load Balancers operations
      load-balancers.pools.edit.pools:
[...]
