openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Audit Logs API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Audit Logs
paths:
  /accounts/{account_id}/audit_logs:
    get:
      operationId: audit-logs-get-account-audit-logs
      summary: Get account audit logs
      description: Gets a list of audit logs for an account. Can be filtered by who made the change, on which zone, and the timeframe of the change.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/aaa_identifier'
      - name: id
        in: query
        schema:
          description: Finds a specific log by its ID.
          type: string
          example: f174be97-19b1-40d6-954d-70cd5fbd52db
      - name: export
        in: query
        schema:
          description: Indicates that this request is an export of logs in CSV format.
          type: boolean
          example: true
      - name: action.type
        in: query
        schema:
          description: Filters by the action type.
          type: string
          example: add
      - name: actor.ip
        in: query
        schema:
          description: Filters by the IP address of the request that made the change by specific IP address or valid CIDR Range.
          type: string
          example: 17.168.228.63
      - name: actor.email
        in: query
        schema:
          description: Filters by the email address of the actor that made the change.
          type: string
          format: email
          example: alice@example.com
      - name: since
        in: query
        schema:
          oneOf:
          - description: Limits the returned results to logs newer than the specified date. A `full-date` that conforms to RFC3339.
            example: '2019-04-30'
            format: date
            type: string
          - description: Limits the returned results to logs newer than the specified date. A `date-time` that conforms to RFC3339.
            example: '2019-04-30T01:12:20Z'
            format: date-time
            type: string
      - name: before
        in: query
        schema:
          oneOf:
          - description: Limits the returned results to logs older than the specified date. A `full-date` that conforms to RFC3339.
            example: '2019-04-30'
            format: date
            type: string
          - description: Limits the returned results to logs older than the specified date. A `date-time` that conforms to RFC3339.
            example: '2019-04-30T01:12:20Z'
            format: date-time
            type: string
      - name: zone.name
        in: query
        schema:
          description: Filters by the name of the zone associated to the change.
          type: string
          example: example.com
      - name: direction
        in: query
        schema:
          description: Changes the direction of the chronological sorting.
          type: string
          example: desc
          default: desc
          enum:
          - desc
          - asc
      - name: per_page
        in: query
        schema:
          description: Sets the number of results to return per page.
          type: number
          example: 25
          default: 100
          maximum: 1000
          minimum: 1
      - name: page
        in: query
        schema:
          description: Defines which page of results to return.
          type: number
          example: 50
          default: 1
          minimum: 1
      - name: hide_user_logs
        in: query
        schema:
          description: Indicates whether or not to hide user level audit logs.
          type: boolean
          default: false
      responses:
        '200':
          description: Get account audit logs response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit_logs_response_collection'
        4XX:
          description: Get account audit logs response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/aaa_audit_logs_response_collection'
                - $ref: '#/components/schemas/aaa_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Audit Logs
      x-api-token-group:
      - Account Settings Write
      - Account Settings Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: audit-logs
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/logs/audit:
    get:
      operationId: audit-logs-v2-get-account-audit-logs
      summary: Get account audit logs (Version 2)
      description: Gets a list of audit logs for an account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: The unique id that identifies the account.
          type: string
          example: a67e14daa5f8dceeb91fe5449ba496ef
      - name: account_name
        in: query
        schema:
          description: Filters by the account name.
          type: array
          items:
            type: string
      - name: action_result
        in: query
        schema:
          description: Filters by whether the action was successful or not.
          type: array
          items:
            enum:
            - success
            - failure
            type: string
          example: success
      - name: action_type
        in: query
        schema:
          description: Filters by the action type.
          type: array
          items:
            enum:
            - create
            - delete
            - view
            - update
            example: create
            type: string
      - name: actor_context
        in: query
        schema:
          description: 'Filters by the actor context.

            - `api`: The action was performed through the API. The specific credential type was not recorded.

            - `api_key`: The action was authenticated with a Cloudflare Global API Key.

            - `api_token`: The action was authenticated with an API token.

            - `dash`: The action was performed through the Cloudflare dashboard.

            - `oauth`: The action was authenticated with an OAuth token.

            - `origin_ca_key`: The action was authenticated with an Origin CA key.

            '
          type: array
          items:
            enum:
            - api
            - api_key
            - api_token
            - dash
            - oauth
            - origin_ca_key
            example: api_key
            type: string
      - name: actor_email
        in: query
        schema:
          description: Filters by the actor's email address.
          type: array
          items:
            example: alice@example.com
            format: email
            type: string
      - name: actor_id
        in: query
        schema:
          description: Filters by the actor ID. This can be either the Account ID or User ID.
          type: array
          items:
            example: 1d20c3afe174f18b642710cec6298a9d
            type: string
      - name: actor_ip_address
        in: query
        schema:
          description: The IP address where the action was initiated.
          type: array
          items:
            example: 17.168.228.63
            type: string
      - name: actor_token_id
        in: query
        schema:
          description: Filters by the API token ID when the actor context is an api_token or oauth.
          type: array
          items:
            example: 144cdb2e39c55e203cf225d8d8208647
            type: string
      - name: actor_token_name
        in: query
        schema:
          description: Filters by the API token name when the actor context is an api_token or oauth.
          type: array
          items:
            example: Test Token
            type: string
      - name: actor_type
        in: query
        schema:
          description: Filters by the actor type.
          type: array
          items:
            enum:
            - account
            - cloudflare_admin
            - delegated_service
            - system
            - user
            example: account
            type: string
      - name: audit_log_id
        in: query
        schema:
          description: Finds a specific log by its ID.
          type: array
          items:
            example: f174be97-19b1-40d6-954d-70cd5fbd52db
            type: string
          deprecated: true
      - name: id
        in: query
        schema:
          description: Finds a specific log by its ID.
          type: array
          items:
            example: f174be97-19b1-40d6-954d-70cd5fbd52db
            type: string
      - name: raw_cf_ray_id
        in: query
        schema:
          description: Filters by the response CF Ray ID.
          type: array
          items:
            example: 8e8dd2156ef28414
            type: string
      - name: raw_method
        in: query
        schema:
          description: The HTTP method for the API call.
          type: array
          items:
            example: GET
            type: string
      - name: raw_status_code
        in: query
        schema:
          description: The response status code that was returned.
          type: array
          items:
            example: 200
            type: integer
      - name: raw_uri
        in: query
        schema:
          description: Filters by the request URI.
          type: array
          items:
            type: string
      - name: resource_id
        in: query
        schema:
          description: Filters by the resource ID.
          type: array
          items:
            type: string
      - name: resource_product
        in: query
        schema:
          description: Filters audit logs by the Cloudflare product associated with the changed resource.
          type: array
          items:
            example: Stream
            type: string
      - name: resource_type
        in: query
        schema:
          description: Filters audit logs based on the unique type of resource changed by the action.
          type: array
          items:
            example: Video
            type: string
      - name: resource_scope
        in: query
        schema:
          description: Filters by the resource scope, specifying whether the resource is associated with an user, an account, a zone, or a membership.
          type: array
          items:
            enum:
            - accounts
            - user
            - zones
            - memberships
            example: accounts
            type: string
      - name: product_category
        in: query
        schema:
          description: Filters audit logs by one or more predefined product categories. Each product category expands into a curated set of resource_product values and is unioned with any explicit resource_product filter. Matched case-insensitively; unknown product categories return 400. Repeatable. Use the audit log product categories endpoint to discover the available values.
          type: array
          items:
            example: zerotrust
            type: string
      - name: zone_id
        in: query
        schema:
          description: Filters by the zone ID.
          type: array
          items:
            type: string
      - name: zone_name
        in: query
        schema:
          description: Filters by the zone name associated with the change.
          type: array
          items:
            example: example.com
            type: string
      - name: account_name.not
        in: query
        schema:
          description: Filters out audit logs by the account name.
          type: array
          items:
            type: string
      - name: action_result.not
        in: query
        schema:
          description: Filters out audit logs by whether the action was successful or not.
          type: array
          items:
            enum:
            - success
            - failure
            type: string
          example: success
      - name: action_type.not
        in: query
        schema:
          description: Filters out audit logs by the action type.
          type: array
          items:
            enum:
            - create
            - delete
            - view
            - update
            example: create
            type: string
      - name: actor_context.not
        in: query
        schema:
          description: 'Filters out audit logs by the actor context.

            - `api`: The action was performed through the API. The specific credential type was not recorded.

            - `api_key`: The action was authenticated with a Cloudflare Global API Key.

            - `api_token`: The action was authenticated with an API token.

            - `dash`: The action was performed through the Cloudflare dashboard.

            - `oauth`: The action was authenticated with an OAuth token.

            - `origin_ca_key`: The action was authenticated with an Origin CA key.

            '
          type: array
          items:
            enum:
            - api
            - api_key
            - api_token
            - dash
            - oauth
            - origin_ca_key
            example: api_key
            type: string
      - name: actor_email.not
        in: query
        schema:
          description: Filters out audit logs by the actor's email address.
          type: array
          items:
            example: alice@example.com
            format: email
            type: string
      - name: actor_id.not
        in: query
        schema:
          description: Filters out audit logs by the actor ID. This can be either the Account ID or User ID.
          type: array
          items:
            example: 1d20c3afe174f18b642710cec6298a9d
            type: string
      - name: actor_ip_address.not
        in: query
        schema:
          description: Filters out audit logs IP address where the action was initiated.
          type: array
          items:
            example: 17.168.228.63
            type: string
      - name: actor_token_id.not
        in: query
        schema:
          description: Filters out audit logs by the API token ID when the actor context is an api_token or oauth.
          type: array
          items:
            example: 144cdb2e39c55e203cf225d8d8208647
            type: string
      - name: actor_token_name.not
        in: query
        schema:
          description: Filters out audit logs by the API token name when the actor context is an api_token or oauth.
          type: array
          items:
            example: Test Token
            type: string
      - name: actor_type.not
        in: query
        schema:
          description: Filters out audit logs by the actor type.
          type: array
          items:
            enum:
            - account
            - cloudflare_admin
            - delegated_service
            - system
            - user
            example: account
            type: string
      - name: audit_log_id.not
        in: query
        schema:
          description: Filters out audit logs by their IDs.
          type: array
          items:
            example: f174be97-19b1-40d6-954d-70cd5fbd52db
            type: string
          deprecated: true
      - name: id.not
        in: query
        schema:
          description: Filters out audit logs by their IDs.
          type: array
          items:
            example: f174be97-19b1-40d6-954d-70cd5fbd52db
            type: string
      - name: raw_cf_ray_id.not
        in: query
        schema:
          description: Filters out audit logs by the response CF Ray ID.
          type: array
          items:
            example: 8e8dd2156ef28414
            type: string
      - name: raw_method.not
        in: query
        schema:
          description: Filters out audit logs by the HTTP method for the API call.
          type: array
          items:
            example: GET
            type: string
      - name: raw_status_code.not
        in: query
        schema:
          description: Filters out audit logs by the response status code that was returned.
          type: array
          items:
            example: 200
            type: integer
      - name: raw_uri.not
        in: query
        schema:
          description: Filters out audit logs by the request URI.
          type: array
          items:
            type: string
      - name: resource_id.not
        in: query
        schema:
          description: Filters out audit logs by the resource ID.
          type: array
          items:
            type: string
      - name: resource_product.not
        in: query
        schema:
          description: Filters out audit logs by the Cloudflare product associated with the changed resource.
          type: array
          items:
            example: Stream
            type: string
      - name: resource_type.not
        in: query
        schema:
          description: Filters out audit logs based on the unique type of resource changed by the action.
          type: array
          items:
            example: Video
            type: string
      - name: resource_scope.not
        in: query
        schema:
          description: Filters out audit logs by the resource scope, specifying whether the resource is associated with an user, an account, a zone, or a membership.
          type: array
          items:
            enum:
            - accounts
            - user
            - zones
            - memberships
            example: accounts
            type: string
      - name: zone_id.not
        in: query
        schema:
          description: Filters out audit logs by the zone ID.
          type: array
          items:
            type: string
      - name: zone_name.not
        in: query
        schema:
          description: Filters out audit logs by the zone name associated with the change.
          type: array
          items:
            example: example.com
            type: string
      - name: since
        in: query
        description: Limits the returned results to logs newer than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.
        required: true
        schema:
          type: string
          format: date
          example: '2024-10-30'
      - name: before
        in: query
        description: Limits the returned results to logs older than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.
        required: true
        schema:
          type: string
          format: date
          example: '2024-10-31'
      - name: direction
        in: query
        schema:
          description: Sets sorting order.
          type: string
          example: desc
          default: desc
          enum:
          - desc
          - asc
      - name: limit
        in: query
        schema:
          description: The number limits the objects to return. The cursor attribute may be used to iterate over the next batch of objects if there are more than the limit.
          type: number
          example: 25
          default: 100
          maximum: 1000
          minimum: 1
      - name: cursor
        in: query
        schema:
          description: The cursor is an opaque token used to paginate through large sets of records. It indicates the position from which to continue when requesting the next set of records. A valid cursor value can be obtained from the cursor object in the result_info structure of a previous response.
          type: string
          example: Q1buH-__DQqqig7SVYXT-SsMOTGY2Z3Y80W-fGgva7yaDdmPKveucH5ddOcHsJRhNb-xUK8agZQqkJSMAENGO8NU6g==
      responses:
        '200':
          description: Get account audit logs successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit-logs-v2-response-collection'
        4XX:
          description: Get account audit logs failed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_api-response-common-failure-2'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Audit Logs
      x-api-token-group:
      - Account Settings Write
      - Account Settings Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: accounts.logs.audit
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/logs/audit/product_categories:
    get:
      operationId: audit-logs-v2-list-account-product-categories
      summary: List account audit log product categories (Version 2)
      description: Lists the available audit log product categories and the resource products each one expands to. Use these values with the product_category filter on the account audit logs endpoint.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: The unique id that identifies the account.
          type: string
          example: a67e14daa5f8dceeb91fe5449ba496ef
      responses:
        '200':
          description: List account audit log product categories successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit-logs-v2-product-categories-response-collection'
        4XX:
          description: List account audit log product categories failed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_api-response-common-failure-2'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Audit Logs
      x-api-token-group:
      - Account Settings Write
      - Account Settings Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: accounts.logs.audit
      x-fern-sdk-method-name: product-categories
      x-forge-hidden: true
  /accounts/{account_id}/logs/audit/{id}/history:
    get:
      operationId: audit-logs-v2-get-account-audit-log-history
      summary: Get resource change history from an account audit log entry (Version 2)
      description: 'Returns the chronological change history for the resource identified by the given audit log entry.


        The endpoint first locates the source audit log entry by `id` (using `action_time` to narrow the lookup window), derives identifying filters from that entry, and then returns matching audit logs within the `since`/`before` window.


        The `result_info.history_status` field indicates the quality of the resource identification used:

        - `exact`: Resource was identified by the resource URI.

        - `approximate`: Resource was identified without the resource URI.

        - `unavailable`: The source audit log entry did not contain enough information to identify the resource; an empty result is returned.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: The unique ID that identifies the account.
          type: string
          example: a67e14daa5f8dceeb91fe5449ba496ef
      - name: id
        in: path
        required: true
        schema:
          description: The ID of the audit log to fetch resource history for.
          type: string
          format: uuid
          example: f174be97-19b1-40d6-954d-70cd5fbd52db
      - name: action_time
        in: query
        description: RFC3339 timestamp of the source audit log entry's action time. Used to narrow the source-entry lookup window. Provide the `action.time` value from the audit log identified by `id`.
        required: true
        schema:
          type: string
          format: date-time
          example: '2024-10-30T15:00:00Z'
      - name: since
        in: query
        description: Limits the returned results to logs newer than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.
        required: true
        schema:
          type: string
          format: date
          example: '2024-10-30'
      - name: before
        in: query
        description: Limits the returned results to logs older than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.
        required: true
        schema:
          type: string
          format: date
          example: '2024-10-31'
      - name: direction
        in: query
        schema:
          description: Sets sorting order.
          type: string
          example: desc
          default: desc
          enum:
          - desc
          - asc
      - name: limit
        in: query
        schema:
          description: The number limits the objects to return. The cursor attribute may be used to iterate over the next batch of objects if there are more than the limit.
          type: number
          example: 25
          default: 100
          maximum: 1000
          minimum: 1
      - name: cursor
        in: query
        schema:
          description: The cursor is an opaque token used to paginate through large sets of records. It indicates the position from which to continue when requesting the next set of records. A valid cursor value can be obtained from the cursor object in the result_info structure of a previous response.
          type: string
          example: Q1buH-__DQqqig7SVYXT-SsMOTGY2Z3Y80W-fGgva7yaDdmPKveucH5ddOcHsJRhNb-xUK8agZQqkJSMAENGO8NU6g==
      responses:
        '200':
          description: Get account resource history successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit-logs-v2-history-response-collection'
        '404':
          description: Audit log entry not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit-logs-v2-history-not-found'
        4XX:
          description: Get account resource history failed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_api-response-common-failure-2'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Audit Logs
      x-api-token-group:
      - Account Settings Write
      - Account Settings Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: accounts.logs.audit
      x-fern-sdk-method-name: history
      x-forge-hidden: true
  /organizations/{organization_id}/logs/audit:
    get:
      operationId: audit-logs-v2-get-organization-audit-logs
      summary: Get organization audit logs (Version 2)
      description: Gets a list of audit logs for an organization.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          description: The unique id that identifies the organization.
          type: string
          example: a67e14daa5f8dceeb91fe5449ba496ef
      - name: action_result
        in: query
        schema:
          description: Filters by whether the action was successful or not.
          type: array
          items:
            enum:
            - success
            - failure
            type: string
          example: success
      - name: action_type
        in: query
        schema:
          description: Filters by the action type.
          type: array
          items:
            enum:
            - create
            - delete
            - view
            - update
            example: create
            type: string
      - name: actor_context
        in: query
        schema:
          description: 'Filters by the actor context.

            - `api`: The action was performed through the API. The specific credential type was not recorded.

            - `api_key`: The action was authenticated with a Cloudflare Global API Key.

            - `api_token`: The action was authenticated with an API token.

            - `dash`: The action was performed through the Cloudflare dashboard.

            - `oauth`: The action was authenticated with an OAuth token.

            - `origin_ca_key`: The action was authenticated with an Origin CA key.

            '
          type: array
          items:
            enum:
            - api
            - api_key
            - api_token
            - dash
            - oauth
            - origin_ca_key
            example: api_key
            type: string
      - name: actor_email
        in: query
        schema:
          description: Filters by the actor's email address.
          type: array
          items:
            example: alice@example.com
            format: email
            type: string
      - name: actor_id
        in: query
        schema:
          description: Filters by the actor's user ID.
          type: array
          items:
            example: 1d20c3afe174f18b642710cec6298a9d
            type: string
      - name: actor_ip_address
        in: query
        schema:
          description: The IP address where the action was initiated.
          type: array
          items:
            example: 17.168.228.63
            type: string
      - name: actor_token_id
        in: query
        schema:
          description: Filters by the API token ID when the actor context is an api_token or oauth.
          type: array
          items:
            example: 144cdb2e39c55e203cf225d8d8208647
            type: string
      - name: actor_token_name
        in: query
        schema:
          description: Filters by the API token name when the actor context is an api_token or oauth.
          type: array
          items:
            example: Test Token
            type: string
      - name: actor_type
        in: query
        schema:
          description: Filters by the actor type.
          type: array
          items:
            enum:
            - cloudflare_admin
            - system
            - user
            example: user
            type: string
      - name: id
        in: query
        schema:
          description: Finds a specific log by its ID.
          type: array
          items:
            example: f174be97-19b1-40d6-954d-70cd5fbd52db
            type: string
      - name: raw_cf_ray_id
        in: query
        schema:
          description: Filters by the response CF Ray ID.
          type: array
          items:
            example: 8e8dd2156ef28414
            type: string
      - name: raw_method
        in: query
        schema:
          description: The HTTP method for the API call.
          type: array
          items:
            example: GET
            type: string
      - name: raw_status_code
        in: query
        schema:
          description: The response status code that was returned.
          type: array
          items:
            example: 200
            type: integer
      - name: raw_uri
        in: query
        schema:
          description: Filters by the request URI.
          type: array
          items:
            type: string
      - name: resource_id
        in: query
        schema:
          description: Filters by the resource ID.
          type: array
          items:
            type: string
      - name: resource_product
        in: query
        schema:
          description: Filters audit logs by the Cloudflare product associated with the changed resource.
          type: array
          items:
            example: Stream
            type: string
      - name: resource_type
        in: query
        schema:
          description: Filters audit logs based on the unique type of resource changed by the action.
          type: array
          items:
            example: Video
            type: string
      - name: resource_scope
        in: query
        schema:
          description: Filters by the resource scope, specifying whether the resource is associated with an organization.
          type: array
          items:
            enum:
            - organizations
            example: organizations
            type: string
      - name: action_result.not
        in: query
        schema:
          description: Filters out audit logs by whether the action was successful or not.
          type: array
          items:
            enum:
            - success
            - failure
            type: string
          example: success
      - name: action_type.not
        in: query
        schema:
          description: Filters out audit logs by the action type.
          type: array
          items:
            enum:
            - create
            - delete
            - view
            - update
            example: create
            type: string
      - name: actor_context.not
        in: query
        schema:
          description: 'Filters out audit logs by the actor context.

            - `api`: The action was performed through the API. The specific credential type was not recorded.

            - `api_key`: The action was authenticated with a Cloudflare Global API Key.

            - `api_token`: The action was authenticated with an API token.

            - `dash`: The action was performed through the Cloudflare dashboard.

            - `oauth`: The action was authenticated with an OAuth token.

            - `origin_ca_key`: The action was authenticated with an Origin CA key.

            '
          type: array
          items:
            enum:
            - api
            - api_key
            - api_token
            - dash
            - oauth
            - origin_ca_key
            example: api_key
            type: string
      - name: actor_email.not
        in: query
        schema:
          description: Filters out audit logs by the actor's email address.
          type: array
          items:
            example: alice@example.com
            format: email
            type: string
      - name: actor_id.not
        in: query
        schema:
          description: Filters out audit logs by the actor's user ID.
          type: array
          items:
            example: 1d20c3afe174f18b642710cec6298a9d
            type: string
      - name: actor_ip_address.not
        in: query
        schema:
          description: Filters out audit logs IP address where the action was initiated.
          type: array
          items:
            example: 17.168.228.63
            type: string
      - name: actor_token_id.not
        in: query
        schema:
          description: Filters out audit logs by the API token ID when the actor context is an api_token or oauth.
          type: array
          items:
            example: 144cdb2e39c55e203cf225d8d8208647
            type: string
      - name: actor_token_name.not
        in: query
        schema:
          description: Filters out audit logs by the API token name when the actor context is an api_token or oauth.
          type: array
          items:
            example: Test Token
            type: string
      - name: actor_type.not
        in: query
        schema:
          description: Filters out audit logs by the actor type.
          type: array
          items:
            enum:
            - cloudflare_admin
            - system
            - user
            example: user
            type: string
      - name: id.not
        in: query
        schema:
          description: Filters out audit logs by their IDs.
          type: array
          items:
            example: f174be97-19b1-40d6-954d-70cd5fbd52db
            type: string
      - name: raw_cf_ray_id.not
        in: query
        schema:
          description: Filters out audit logs by the response CF Ray ID.
          type: array
          items:
            example: 8e8dd2156ef28414
            type: string
      - name: raw_method.not
        in: query
        schema:
          description: Filters out audit logs by the HTTP method for the API call.
          type: array
          items:
            example: GET
            type: string
      - name: raw_status_code.not
        in: query
        schema:
          description: Filters out audit logs by the response status code that was returned.
          type: array
          items:
            example: 200
            type: integer
      - name: raw_uri.not
        in: query
        schema:
          description: Filters out audit logs by the request URI.
          type: array
          items:
            type: string
      - name: resource_id.not
        in: query
        schema:
          description: Filters out audit logs by the resource ID.
          type: array
          items:
            type: string
      - name: resource_product.not
        in: query
        schema:
          description: Filters out audit logs by the Cloudflare product associated with the changed resource.
          type: array
          items:
            example: Stream
            type: string
      - name: resource_type.not
        in: query
        schema:
          description: Filters out audit logs based on the unique type of resource changed by the action.
          type: array
          items:
            example: Video
            type: string
      - name: resource_scope.not
        in: query
        schema:
          description: Filters out audit logs by the resource scope, specifying whether the resource is associated with an organization.
          type: array
          items:
            enum:
            - organizations
            example: organizations
            type: string
      - name: since
        in: query
        description: Limits the returned results to logs newer than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.
        required: true
        schema:
          type: string
          format: date
          example: '2024-10-30'
      - name: before
        in: query
        description: Limits the returned results to logs older than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.
        required: true
        schema:
          type: string
          format: date
          example: '2024-10-31'
      - name: direction
        in: query
        schema:
          description: Sets sorting order.
          type: string
          example: desc
          default: desc
          enum:
          - desc
          - asc
      - name: limit
        in: query
        schema:
          description: The number limits the objects to return. The cursor attribute may be used to iterate over the next batch of objects if there are more than the limit.
          type: number
          example: 25
          default: 100
          maximum: 1000
          minimum: 1
      - name: cursor
        in: query
        schema:
          description: The cursor is an opaque token used to paginate through large sets of records. It indicates the position from which to continue when requesting the next set of records. A valid cursor value can be obtained from the cursor object in the result_info structure of a previous response.
          type: string
          example: Q1buH-__DQqqig7SVYXT-SsMOTGY2Z3Y80W-fGgva7yaDdmPKveucH5ddOcHsJRhNb-xUK8agZQqkJSMAENGO8NU6g==
      responses:
        '200':
          description: Get organization audit logs successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit-logs-v2-org-response-collection'
        4XX:
          description: Get organization audit logs failed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_api-response-common-failure-2'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Audit Logs
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: organizations.logs.audit
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /organizations/{organization_id}/logs/audit/{id}/history:
    get:
      operationId: audit-logs-v2-get-organization-audit-log-history
      summary: Get resource change history from an organization audit log entry (Version 2)
      description: 'Returns the chronological change history for the resource identified by the given organization-scoped audit log entry.


        The endpoint first locates the source audit log entry by `id` (using `action_time` to narrow the lookup window), derives identifying filters from that entry, and then returns matching audit logs within the `since`/`before` window.


        The `result_info.history_status` field indicates the quality of the resource identification used:

        - `exact`: Resource was identified by the resource URI.

        - `approximate`: Resource was identified without the resource URI.

        - `unavailable`: The source audit log entry did not contain enough information to identify the resource; an empty result is returned.'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          description: The unique ID that identifies the organization.
          type: string
          example: a67e14daa5f8dceeb91fe5449ba496ef
      - name: id
        in: path
        required: true
        schema:
          description: The ID of the audit log to fetch resource history for.
          type: string
          format: uuid
          example: f174be97-19b1-40d6-954d-70cd5fbd52db
      - name: action_time
        in: query
        description: RFC3339 timestamp of the source audit log entry's action time. Used to narrow the source-entry lookup window. Provide the `action.time` value from the audit log identified by `id`.
        required: true
        schema:
          type: string
          format: date-time
          example: '2024-10-30T15:00:00Z'
      - name: since
        in: query
        description: Limits the returned results to logs newer than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.
        required: true
        schema:
          type: string
          format: date
          example: '2024-10-30'
      - name: before
        in: query
        description: Limits the returned results to logs older than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.
        required: true
        schema:
          type: string
          format: date
          example: '2024-10-31'
      - name: direction
        in: query
        schema:
          description: Sets sorting order.
          type: string
          example: desc
          default: desc
          enum:
          - desc
          - asc
      - name: limit
        in: query
        schema:
          description: The number limits the objects to return. The cursor attribute may be used to iterate over the next batch of objects if there are more than the limit.
          type: number
          example: 25
          default: 100
          maximum: 1000
          minimum: 1
      - name: cursor
        in: query
        schema:
          description: The cursor is an opaque token used to paginate through large sets of records. It indicates the position from which to continue when requesting the next set of records. A valid cursor value can be obtained from the cursor object in the result_info structure of a previous response.
          type: string
          example: Q1buH-__DQqqig7SVYXT-SsMOTGY2Z3Y80W-fGgva7yaDdmPKveucH5ddOcHsJRhNb-xUK8agZQqkJSMAENGO8NU6g==
      responses:
        '200':
          description: Get organization resource history successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit-logs-v2-org-history-response-collection'
        '404':
          description: Audit log entry not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit-logs-v2-history-not-found'
        4XX:
          description: Get organization resource history failed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_api-response-common-failure-2'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Audit Logs
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: organizations.logs.audit
      x-fern-sdk-method-name: history
      x-forge-hidden: true
  /user/audit_logs:
    get:
      operationId: audit-logs-get-user-audit-logs
      summary: Get user audit logs
      description: Gets a list of audit logs for a user account. Can be filtered by who made the change, on which zone, and the timeframe of the change.
      parameters:
      - name: id
        in: query
        schema:
          description: Finds a specific log by its ID.
          type: string
          example: f174be97-19b1-40d6-954d-70cd5fbd52db
      - name: export
        in: query
        schema:
          description: Indicates that this request is an export of logs in CSV format.
          type: boolean
          example: true
      - name: action.type
        in: query
        schema:
          description: Filters by the action type.
          type: string
          example: add
      - name: actor.ip
        in: query
        schema:
          description: Filters by the IP address of the request that made the change by specific IP address or valid CIDR Range.
          type: string
          example: 17.168.228.63
      - name: actor.email
        in: query
        schema:
          description: Filters by the email address of the actor that made the change.
          type: string
          format: email
          example: alice@example.com
      - name: since
        in: query
        schema:
          oneOf:
          - description: Limits the returned results to logs newer than the specified date. A `full-date` that conforms to RFC3339.
            example: '2019-04-30'
            format: date
            type: string
          - description: Limits the returned results to logs newer than the specified date. A `date-time` that conforms to RFC3339.
            example: '2019-04-30T01:12:20Z'
            format: date-time
            type: string
      - name: before
        in: query
        schema:
          oneOf:
          - description: Limits the returned results to logs older than the specified date. A `full-date` that conforms to RFC3339.
            example: '2019-04-30'
            format: date
            type: string
          - description: Limits the returned results to logs older than the specified date. A `date-time` that conforms to RFC3339.
            example: '2019-04-30T01:12:20Z'
            format: date-time
            type: string
      - name: zone.name
        in: query
        schema:
          description: Filters by the name of the zone associated to the change.
          type: string
          example: example.com
      - name: direction
        in: query
        schema:
          description: Changes the direction of the chronological sorting.
          type: string
          example: desc
          default: desc
          enum:
          - desc
          - asc
      - name: per_page
        in: query
        schema:
          description: Sets the number of results to return per page.
          type: number
          example: 25
          default: 100
          maximum: 1000
          minimum: 1
      - name: page
        in: query
        schema:
          description: Defines which page of results to return.
          type: number
          example: 50
          default: 1
          minimum: 1
      - name: hide_user_logs
        in: query
        schema:
          description: Indicates whether or not to hide user level audit logs.
          type: boolean
          default: false
      responses:
        '200':
          description: Get user audit logs response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aaa_audit_logs_response_collection'
        4XX:
          description: Get user audit logs response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/aaa_audit_logs_response_collection'
                - $ref: '#/components/schemas/aaa_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Audit Logs
      x-api-token-group:
      - Account Settings Write
      - Account Settings Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: user.audit-logs
      x-fern-sdk-method-name: list
      x-forge-hidden: true
components:
  schemas:
    aaa_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/aaa_messages'
          minLength: 1
        messages:
          $ref: '#/components/schemas/aaa_messages'
        success:
          description: Whether the API call was successful
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
    aaa_audit-logs:
      type: object
      properties:
        action:
          type: object
          properties:
            result:
              description: A boolean that indicates if the action attempted was successful.
              type: boolean
              example: true
            type:
              description: A short string that describes the action that was performed.
              type: string
              example: change_setting
        actor:
          type: object
          properties:
            email:
              description: The email of the user that performed the action.
              type: string
              format: email
              example: michelle@example.com
            id:
              description: The ID of the actor that performed the action. If a user performed the action, this will be their User ID.
              type: string
              example: f6b5de0326bb5182b8a4840ee01ec774
            ip:
              description: The IP address of the request that performed the action.
              type: string
              example: 198.41.129.166
            type:
              description: The type of actor, whether a User, Cloudflare Admin, or an Automated System.
              type: string
              example: user
              enum:
              - user
              - admin
              - Cloudflare
        id:
          description: A string that uniquely identifies the audit log.
          type: string
          example: d5b0f326-1232-4452-8858-1089bd7168ef
        interface:
          description: The source of the event.
          type: string
          example: API
        metadata:
          description: An object which can lend more context to the action being logged. This is a flexible value and varies between different actions.
          type: object
          example:
            name: security_level
            type: firewall
            value: high
            zone_name: example.com
        newValue:
          description: The new value of the resource that was modified.
          type: string
          example: low
        oldValue:
          description: The value of the resource before it was modified.
          type: string
          example: high
        owner:
          type: object
          properties:
            id:
              $ref: '#/components/schemas/aaa_identifier'
        resource:
          type: object
          properties:
            id:
              description: An identifier for the resource that was affected by the action.
              type: string
              example: 023e105f4ecef8ad9ca31a8372d0c353
            type:
              description: A short string that describes the resource that was affected by the action.
              type: string
              example: zone
        when:
          description: A UTC RFC3339 timestamp that specifies when the action being logged occured.
          type: string
          format: date-time
          example: '2017-04-26T17:31:07Z'
    aaa_audit-logs-v2-org-response-collection:
      allOf:
      - $ref: '#/components/schemas/aaa_audit-logs-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/aaa_audit-logs-v2-org'
        type: object
    aaa_audit_logs_response_collection:
      oneOf:
      - properties:
          errors:
            $ref: '#/components/schemas/aaa_messages'
          messages:
            $ref: '#/components/schemas/aaa_messages'
          result:
            type: array
            items:
              $ref: '#/components/schemas/aaa_audit-logs'
          success:
            type: boolean
            example: true
      - $ref: '#/components/schemas/aaa_api-response-common'
    aaa_identifier-2:
      description: A unique identifier for the audit log entry.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      readOnly: true
    aaa_result_info:
      description: Provides information about the result of the request, including count and cursor.
      type: object
      properties:
        count:
          description: The number of records returned in the response.
          type: string
          example: 1
        cursor:
          description: The cursor token used for pagination.
          type: string
          example: ASqdKd7dKgxh-aZ8bm0mZos1BtW4BdEqifCzNkEeGRzi_5SN_-362Y8sF-C1TRn60_6rd3z2dIajf9EAPyQ_NmIeAMkacmaJPXipqvP7PLU4t72wyqBeJfjmjdE=
    aaa_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/aaa_messages'
        messages:
          $ref: '#/components/schemas/aaa_messages'
        success:
          description: Whether the API call was successful
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    aaa_audit-logs-v2-history-not-found:
      description: Returned when the source audit log entry referenced by `id` cannot be found within the `action_time` window. The `result_info.history_status` is always set to `unavailable` for this response.
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/aaa_messages-2'
        result:
          type:
          - object
          - 'null'
        result_info:
          $ref: '#/components/schemas/aaa_audit-logs-v2-history-result-info'
        success:
          description: Indicates whether the API call was successful
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - result_info
    aaa_audit-logs-v2-history-result-info:
      description: Provides information about the result of the request, including count, cursor, and identification quality.
      type: object
      properties:
        count:
          description: The number of records returned in the response.
          type: integer
          example: 1
        cursor:
          description: The cursor token used for pagination.
          type: string
          example: ASqdKd7dKgxh-aZ8bm0mZos1BtW4BdEqifCzNkEeGRzi_5SN_-362Y8sF-C1TRn60_6rd3z2dIajf9EAPyQ_NmIeAMkacmaJPXipqvP7PLU4t72wyqBeJfjmjdE=
        history_status:
          $ref: '#/components/schemas/aaa_history-status'
      required:
      - count
      - history_status
    aaa_api-response-common-failure-2:
      type: object
      properties:
        errors:
          description: A list of error messages.
          type: array
          items:
            properties:
              message:
                description: A text description of this message.
                type: string
                example: No route for the URI
            required:
            - message
            type: object
            uniqueItems: true
        messages:
          type: array
          items:
            properties:
              message:
                type: string
            type: object
            uniqueItems: true
          example: []
        success:
          description: Indicates whether the API call was failed
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
    aaa_audit-logs-v2-org:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/aaa_audit-log-action'
        actor:
          allOf:
          - $ref: '#/components/schemas/aaa_audit-log-actor-base'
          - properties:
              type:
                description: The type of actor.
                type: string
                example: user
                enum:
                - cloudflare_admin
                - system
                - user
            type: object
        id:
          $ref: '#/components/schemas/aaa_identifier-2'
        organization:
          description: Contains organization related information.
          type: object
          properties:
            id:
              description: A unique identifier for the organization.
              type: string
              example: 019c4f65e7607d8c9f6f6b58aa3aff50
        raw:
          $ref: '#/components/schemas/aaa_audit-log-raw'
        resource:
          description: Provides details about the affected resource.
          type: object
          properties:
            id:
              description: The unique identifier for the affected resource.
              type: string
            product:
              description: The Cloudflare product associated with the resource.
              type: string
              example: organizations
            request:
              type: object
            response:
              type: object
            scope:
              description: The scope of the resource.
              type: object
              example: organizations
            type:
              description: The type of the resource.
              type: string
    aaa_audit-log-actor-base:
      description: Provides details about the actor who performed the action.
      type: object
      properties:
        context:
          description: 'The context in which the action was initiated.

            - `api`: The action was performed through the API. The specific credential type was not recorded.

            - `api_key`: The action was authenticated with a Cloudflare Global API Key.

            - `api_token`: The action was authenticated with an API token.

            - `dash`: The action was performed through the Cloudflare dashboard.

            - `oauth`: The action was authenticated with an OAuth token.

            - `origin_ca_key`: The action was authenticated with an Origin CA key.

            '
          type: string
          example: dash
          enum:
          - api
          - api_key
          - api_token
          - dash
          - oauth
          - origin_ca_key
        email:
          description: The email of the actor who performed the action.
          type: string
          format: email
          example: alice@example.com
        id:
          description: The ID of the actor who performed the action. If a user performed the action, this will be their User ID.
          type: string
          example: f6b5de0326bb5182b8a4840ee01ec774
        ip_address:
          description: The IP address of the request that performed the action.
          type: string
          example: 198.41.129.166
        token_id:
          description: The API token ID when the actor context is an api_token or oauth.
          type: string
        token_name:
          description: The API token name when the actor context is an api_token or oauth.
          type: string
    aaa_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          message:
            type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    aaa_history-status:
      description: 'Indicates the quality of the resource identification used to derive the history.

        - `exact`: Resource was identified by the resource URI.

        - `approximate`: Resource was identified without the resource URI.

        - `unavailable`: The source audit log entry did not contain enough information to identify the resource; result is empty.

        '
      type: string
      example: exact
      enum:
      - exact
      - approximate
      - unavailable
    aaa_audit-logs-v2-response-collection:
      allOf:
      - $ref: '#/components/schemas/aaa_audit-logs-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/aaa_audit-logs-v2'
        type: object
    aaa_audit-logs-v2:
      type: object
      properties:
        account:
          description: Contains account related information.
          type: object
          properties:
            id:
              description: A unique identifier for the account.
              type: string
              example: 4bb334f7c94c4a29a045f03944f072e5
            name:
              description: A string that identifies the account name.
              type: string
              example: Example Account
        action:
          $ref: '#/components/schemas/aaa_audit-log-action'
        actor:
          allOf:
          - $ref: '#/components/schemas/aaa_audit-log-actor-base'
          - properties:
              type:
                description: The type of actor.
                type: string
                example: user
                enum:
                - account
                - cloudflare_admin
                - delegated_service
                - system
                - user
            type: object
        id:
          $ref: '#/components/schemas/aaa_identifier-2'
        raw:
          $ref: '#/components/schemas/aaa_audit-log-raw'
        resource:
          description: Provides details about the affected resource.
          type: object
          properties:
            id:
              description: The unique identifier for the affected resource.
              type: string
            product:
              description: The Cloudflare product associated with the resource.
              type: string
              example: members
            request:
              type: object
            response:
              type: object
            scope:
              description: The scope of the resource.
              type: object
              example: accounts
            type:
              description: The type of the resource.
              type: string
        zone:
          description: Provides details about the zone affected by the action.
          type: object
          properties:
            id:
              description: A string that identifies the zone id.
              type: string
            name:
              description: A string that identifies the zone name.
              type: string
              example: example.com
    aaa_audit-logs-v2-history-response-collection:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/aaa_messages-2'
        result:
          type: array
          items:
            $ref: '#/components/schemas/aaa_audit-logs-v2'
        result_info:
          $ref: '#/components/schemas/aaa_audit-logs-v2-history-result-info'
        success:
          description: Indicates whether the API call was successful
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - result
      - result_info
    aaa_audit-log-action:
      description: Provides information about the action performed.
      type: object
      properties:
        description:
          description: A short description of the action performed.
          type: string
          example: Add Member
        result:
          description: The result of the action, indicating success or failure.
          type: string
          example: success
        time:
          description: A timestamp indicating when the action was logged.
          type: string
          format: date-time
          example: '2024-04-26T17:31:07Z'
        type:
          description: A short string that describes the action that was performed.
          type: string
          example: create
    aaa_audit-log-raw:
      description: Provides raw information about the request and response.
      type: object
      properties:
        cf_ray_id:
          description: The Cloudflare Ray ID for the request.
          type: string
          example: 8e9b1c60ef9e1c9a
        method:
          description: The HTTP method of the request.
          type: string
          example: POST
        status_code:
          description: The HTTP response status code returned by the API.
          type: integer
          example: 200
        uri:
          description: The URI of the request.
          type: string
          example: /accounts/4bb334f7c94c4a29a045f03944f072e5/members
        user_agent:
          description: The client's user agent string sent with the request.
          type: string
          example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) Safari/605.1.15
    aaa_messages-2:
      type: array
      items:
        properties:
          message:
            type: string
        required:
        - message
        type: object
        uniqueItems: true
      example: []
    aaa_audit-logs-v2-product-category-item:
      description: A resource product within a product category.
      type: object
      properties:
        label:
          description: A human-readable label for the product.
          type: string
          example: Gateway
        value:
          description: The resource_product value that the product category expands to.
          type: string
          example: gateway
    aaa_identifier:
      description: Identifier
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      readOnly: true
    aaa_audit-logs-response-collection:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/aaa_messages-2'
        result_info:
          $ref: '#/components/schemas/aaa_result_info'
        success:
          description: Indicates whether the API call was successful
          type: boolean
          example: true
          enum:
          - true
    aaa_audit-logs-v2-product-categories-response-collection:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/aaa_messages-2'
        result:
          type: array
          items:
            $ref: '#/components/schemas/aaa_audit-logs-v2-product-category'
        success:
          description: Indicates whether the API call was successful
          type: boolean
          example: true
          enum:
          - true
    aaa_audit-logs-v2-product-category:
      description: A predefined product category and the resource products it expands to.
      type: object
      properties:
        label:
          description: A human-readable label for the product category.
          type: string
          example: Zero Trust
        products:
          description: The resource products that the product category expands to.
          type: array
          items:
            $ref: '#/components/schemas/aaa_audit-logs-v2-product-category-item'
        value:
          description: The product category identifier used with the product_category filter.
          type: string
          example: zerotrust
    aaa_audit-logs-v2-org-history-response-collection:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/aaa_messages-2'
        result:
          type: array
          items:
            $ref: '#/components/schemas/aaa_audit-logs-v2-org'
        result_info:
          $ref: '#/components/schemas/aaa_audit-logs-v2-history-result-info'
        success:
          description: Indicates whether the API call was successful
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - result
      - result_info
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
[...]
