openapi: 3.2.0
info:
  title: Cloudflare Images Variants API
  description: The Cloudflare Images API allows developers to upload, store, and transform images at scale. It supports direct uploads, URL-based uploads, on-the-fly image transformations via URL parameters, custom variants, and integration with Workers for programmatic image processing.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Variants
  description: Manage image variants that define transformation presets.
paths:
  /accounts/{account_id}/images/v1/variants:
    get:
      operationId: listImageVariants
      summary: Cloudflare List Image Variants
      description: Returns all image variant definitions for the account.
      tags:
      - Variants
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of variants.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createImageVariant
      summary: Cloudflare Create Image Variant
      description: Create a new image variant definition specifying transformation settings like dimensions, fit mode, and metadata stripping.
      tags:
      - Variants
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariantInput'
            examples:
              CreateimagevariantRequestExample:
                summary: Default createImageVariant request
                x-microcks-default: true
                value:
                  id: abc123
                  options:
                    fit: scale-down
                    width: 10
                    height: 10
                    metadata: keep
                  neverRequireSignedURLs: https://www.example.com
      responses:
        '200':
          description: Variant created.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    VariantInput:
      type: object
      required:
      - id
      - options
      properties:
        id:
          type: string
          description: The name of the variant.
          example: abc123
        options:
          type: object
          properties:
            fit:
              type: string
              enum:
              - scale-down
              - contain
              - cover
              - crop
              - pad
              description: Resizing behavior.
            width:
              type: integer
              description: Maximum width in pixels.
            height:
              type: integer
              description: Maximum height in pixels.
            metadata:
              type: string
              enum:
              - keep
              - copyright
              - none
              description: What metadata to preserve.
          example: example_value
        neverRequireSignedURLs:
          type: boolean
          description: Allow unsigned URL access for this variant.
          example: https://www.example.com
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Images permissions.
externalDocs:
  description: Cloudflare Images Documentation
  url: https://developers.cloudflare.com/images/
