openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Workflows API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Workflows
paths:
  /accounts/{account_id}/triggers/{script_name}:
    delete:
      operationId: wor-delete-script-triggers
      summary: Delete script triggers
      description: Deletes all event trigger declarations owned by a Worker script.
      parameters:
      - name: script_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 255
          minLength: 1
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Number of deleted trigger declarations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      deleted:
                        type: integer
                        maximum: 9007199254740991
                        minimum: 0
                    required:
                    - deleted
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Invalid trigger configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Target workflow not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-ignore: true
      x-fern-sdk-group-name: workflows.triggers
      x-fern-sdk-method-name: delete
    get:
      operationId: wor-get-script-triggers
      summary: Get script triggers
      description: Returns the event trigger declarations owned by a Worker script.
      parameters:
      - name: script_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 255
          minLength: 1
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Script trigger declarations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      script_name:
                        type: string
                      triggers:
                        type: array
                        items:
                          properties:
                            filter:
                              type: object
                              default: {}
                              additionalProperties:
                                anyOf:
                                - maxLength: 1024
                                  type: string
                                - type: number
                                - type: boolean
                            targets:
                              type: array
                              items:
                                properties:
                                  script_name:
                                    type: string
                                    maxLength: 255
                                    minLength: 1
                                  type:
                                    type: string
                                    enum:
                                    - workflow
                                  workflow_name:
                                    type: string
                                    maxLength: 255
                                    minLength: 1
                                required:
                                - type
                                - script_name
                                - workflow_name
                                type: object
                              maxItems: 100
                              minItems: 1
                            type:
                              type: string
                              minLength: 1
                          required:
                          - type
                          - targets
                          type: object
                        maxItems: 100
                    required:
                    - script_name
                    - triggers
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Invalid trigger configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Target workflow not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-ignore: true
      x-fern-sdk-group-name: workflows.triggers
      x-fern-sdk-method-name: get
    patch:
      operationId: wor-add-script-triggers
      summary: Add script triggers
      description: Adds event trigger declarations without removing existing declarations owned by the script.
      parameters:
      - name: script_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 255
          minLength: 1
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                properties:
                  filter:
                    type: object
                    default: {}
                    additionalProperties:
                      anyOf:
                      - maxLength: 1024
                        type: string
                      - type: number
                      - type: boolean
                  targets:
                    type: array
                    items:
                      properties:
                        script_name:
                          type: string
                          maxLength: 255
                          minLength: 1
                        type:
                          type: string
                          enum:
                          - workflow
                        workflow_name:
                          type: string
                          maxLength: 255
                          minLength: 1
                      required:
                      - type
                      - script_name
                      - workflow_name
                      type: object
                    maxItems: 100
                    minItems: 1
                  type:
                    type: string
                    minLength: 1
                required:
                - type
                - targets
                type: object
              maxItems: 100
      responses:
        '200':
          description: Effective script trigger declarations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      script_name:
                        type: string
                      triggers:
                        type: array
                        items:
                          properties:
                            filter:
                              type: object
                              default: {}
                              additionalProperties:
                                anyOf:
                                - maxLength: 1024
                                  type: string
                                - type: number
                                - type: boolean
                            targets:
                              type: array
                              items:
                                properties:
                                  script_name:
                                    type: string
                                    maxLength: 255
                                    minLength: 1
                                  type:
                                    type: string
                                    enum:
                                    - workflow
                                  workflow_name:
                                    type: string
                                    maxLength: 255
                                    minLength: 1
                                required:
                                - type
                                - script_name
                                - workflow_name
                                type: object
                              maxItems: 100
                              minItems: 1
                            type:
                              type: string
                              minLength: 1
                          required:
                          - type
                          - targets
                          type: object
                        maxItems: 100
                    required:
                    - script_name
                    - triggers
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Invalid trigger configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Target workflow not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-ignore: true
      x-fern-sdk-group-name: workflows.triggers
      x-fern-sdk-method-name: add
    put:
      operationId: wor-replace-script-triggers
      summary: Replace script triggers
      description: Replaces all event trigger declarations owned by a Worker script.
      parameters:
      - name: script_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 255
          minLength: 1
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                properties:
                  filter:
                    type: object
                    default: {}
                    additionalProperties:
                      anyOf:
                      - maxLength: 1024
                        type: string
                      - type: number
                      - type: boolean
                  targets:
                    type: array
                    items:
                      properties:
                        script_name:
                          type: string
                          maxLength: 255
                          minLength: 1
                        type:
                          type: string
                          enum:
                          - workflow
                        workflow_name:
                          type: string
                          maxLength: 255
                          minLength: 1
                      required:
                      - type
                      - script_name
                      - workflow_name
                      type: object
                    maxItems: 100
                    minItems: 1
                  type:
                    type: string
                    minLength: 1
                required:
                - type
                - targets
                type: object
              maxItems: 100
      responses:
        '200':
          description: Effective script trigger declarations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      script_name:
                        type: string
                      triggers:
                        type: array
                        items:
                          properties:
                            filter:
                              type: object
                              default: {}
                              additionalProperties:
                                anyOf:
                                - maxLength: 1024
                                  type: string
                                - type: number
                                - type: boolean
                            targets:
                              type: array
                              items:
                                properties:
                                  script_name:
                                    type: string
                                    maxLength: 255
                                    minLength: 1
                                  type:
                                    type: string
                                    enum:
                                    - workflow
                                  workflow_name:
                                    type: string
                                    maxLength: 255
                                    minLength: 1
                                required:
                                - type
                                - script_name
                                - workflow_name
                                type: object
                              maxItems: 100
                              minItems: 1
                            type:
                              type: string
                              minLength: 1
                          required:
                          - type
                          - targets
                          type: object
                        maxItems: 100
                    required:
                    - script_name
                    - triggers
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Invalid trigger configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Target workflow not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-ignore: true
      x-fern-sdk-group-name: workflows.triggers
      x-fern-sdk-method-name: replace
  /accounts/{account_id}/workflows:
    get:
      operationId: wor-list-workflows
      summary: List all Workflows
      description: Lists all workflows configured for the account.
      parameters:
      - name: per_page
        in: query
        schema:
          type: number
          default: 10
          maximum: 100
          minimum: 1
      - name: page
        in: query
        schema:
          type: number
          default: 1
          minimum: 1
      - name: search
        in: query
        description: Allows filtering workflows` name.
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of all Workflows belonging to a account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: array
                    items:
                      properties:
                        class_name:
                          type: string
                        created_on:
                          type: string
                          format: date-time
                        id:
                          type: string
                          format: uuid
                        instances:
                          type: object
                          additionalProperties:
                            type: number
                        modified_on:
                          type: string
                          format: date-time
                        name:
                          type: string
                          maxLength: 64
                          minLength: 1
                          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
                        schedules:
                          type: array
                          items:
                            properties:
                              cron:
                                type: string
                              next_instance:
                                type: string
                            required:
                            - cron
                            - next_instance
                            type: object
                        script_deleted:
                          description: Whether the bound Worker was deleted, leaving this Workflow inactive.
                          type: boolean
                        script_name:
                          type: string
                        triggered_on:
                          type:
                          - string
                          - 'null'
                          format: date-time
                      required:
                      - name
                      - id
                      - created_on
                      - modified_on
                      - script_name
                      - class_name
                      - triggered_on
                      - instances
                      type: object
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Input Validation Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workflows
      x-fern-sdk-method-name: list
  /accounts/{account_id}/workflows/settings:
    get:
      operationId: wor-get-workflow-settings
      summary: Get account settings
      description: Retrieves account-level Workflows settings, such as the default instance retention.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Account settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      default_retention:
                        type: object
                        properties:
                          error_retention:
                            description: Default error retention in milliseconds.
                            type: integer
                            maximum: 9007199254740991
                            minimum: -9007199254740991
                          success_retention:
                            description: Default success retention in milliseconds.
                            type: integer
                            maximum: 9007199254740991
                            minimum: -9007199254740991
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workflows.settings
      x-fern-sdk-method-name: get
    patch:
      operationId: wor-update-workflow-settings
      summary: Update account settings
      description: Updates only the account-level Workflows settings fields present in the request body.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_retention:
                  description: Default retention applied to instances of this version when they do not set their own retention.
                  type: object
                  properties:
                    error_retention:
                      description: Specifies the duration in milliseconds or as a string like '5 minutes'.
                      anyOf:
                      - description: Specifies the duration in milliseconds.
                        type: integer
                      - example: 5 minutes
                        pattern: ^(\d+)\s+(second|minute|hour|day|week|month|year)s?$
                        type: string
                    success_retention:
                      description: Specifies the duration in milliseconds or as a string like '5 minutes'.
                      anyOf:
                      - description: Specifies the duration in milliseconds.
                        type: integer
                      - example: 5 minutes
                        pattern: ^(\d+)\s+(second|minute|hour|day|week|month|year)s?$
                        type: string
      responses:
        '200':
          description: Updated account settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      default_retention:
                        type: object
                        properties:
                          error_retention:
                            description: Default error retention in milliseconds.
                            type: integer
                            maximum: 9007199254740991
                            minimum: -9007199254740991
                          success_retention:
                            description: Default success retention in milliseconds.
                            type: integer
                            maximum: 9007199254740991
                            minimum: -9007199254740991
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Scripts Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workflows.settings
      x-fern-sdk-method-name: edit
  /accounts/{account_id}/workflows/{workflow_name}:
    delete:
      operationId: wor-delete-workflow
      summary: Deletes a Workflow
      description: Deletes a Workflow. This only deletes the Workflow and does not delete or modify any Worker associated to this Workflow or bounded to it.
      parameters:
      - name: workflow_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletes a Workflow.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                        - ok
                      success:
                        type:
                        - boolean
                        - 'null'
                    required:
                    - success
                    - status
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Workflow not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Scripts Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workflows
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation permanently deletes the Workflow.
    get:
      operationId: wor-get-workflow-details
      summary: Get Workflow details
      description: Retrieves configuration and metadata for a specific workflow.
      parameters:
      - name: workflow_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get Workflow details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      class_name:
                        type: string
                      created_on:
                        type: string
                        format: date-time
                      id:
                        type: string
                        format: uuid
                      instances:
                        type: object
                        additionalProperties:
                          type: number
                      modified_on:
                        type: string
                        format: date-time
                      name:
                        type: string
                        maxLength: 64
                        minLength: 1
                        pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
                      schedules:
                        type: array
                        items:
                          properties:
                            cron:
                              type: string
                            next_instance:
                              type: string
                          required:
                          - cron
                          - next_instance
                          type: object
                      script_deleted:
                        description: Whether the bound Worker was deleted, leaving this Workflow inactive.
                        type: boolean
                      script_name:
                        type: string
                      triggered_on:
                        type:
                        - string
                        - 'null'
                        format: date-time
                    required:
                    - name
                    - id
                    - created_on
                    - modified_on
                    - script_name
                    - class_name
                    - triggered_on
                    - instances
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Workflow has no deployed versions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Workflow not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workflows
      x-fern-sdk-method-name: get
    put:
      operationId: wor-create-or-modify-workflow
      summary: Create/modify Workflow
      description: Creates a new workflow or updates an existing workflow definition.
      parameters:
      - name: workflow_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                class_name:
                  type: string
                  maxLength: 255
                  minLength: 1
                concurrency:
                  type: object
                  properties:
                    limit:
                      description: Maximum number of instances of this workflow that can run concurrently. Additional instances are queued and started as running instances complete. Must not exceed the account concurrency limit.
                      type: integer
                      maximum: 9007199254740991
                      minimum: 1
                default_retention:
                  description: Default retention applied to instances of this version when they do not set their own retention.
                  type: object
                  properties:
                    error_retention:
                      description: Specifies the duration in milliseconds or as a string like '5 minutes'.
                      anyOf:
                      - description: Specifies the duration in milliseconds.
                        type: integer
                      - example: 5 minutes
                        pattern: ^(\d+)\s+(second|minute|hour|day|week|month|year)s?$
                        type: string
                    success_retention:
                      description: Specifies the duration in milliseconds or as a string like '5 minutes'.
                      anyOf:
                      - description: Specifies the duration in milliseconds.
                        type: integer
                      - example: 5 minutes
                        pattern: ^(\d+)\s+(second|minute|hour|day|week|month|year)s?$
                        type: string
                limits:
                  type: object
                  properties:
                    steps:
                      type: integer
                      maximum: 9007199254740991
                      minimum: 1
                schedules:
                  type: array
                  items:
                    properties:
                      cron:
                        type: string
                        maxLength: 256
                        minLength: 1
                    required:
                    - cron
                    type: object
                  maxItems: 200
                script_name:
                  type: string
                  maxLength: 255
                  minLength: 1
              required:
              - script_name
              - class_name
      responses:
        '200':
          description: Create/modify a Workflow based on a deployed script with an existing `WorkflowEntrypoint` class. Must be done after deploying the corresponding script.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      class_name:
                        type: string
                      created_on:
                        type: string
                        format: date-time
                      id:
                        type: string
                        format: uuid
                      is_deleted:
                        type: number
                      modified_on:
                        type: string
                        format: date-time
                      name:
                        type: string
                        maxLength: 64
                        minLength: 1
                        pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
                      script_name:
                        type: string
                      terminator_running:
                        type: number
                      triggered_on:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      version_id:
                        type: string
                        format: uuid
                    required:
                    - version_id
                    - name
                    - id
                    - created_on
                    - modified_on
                    - script_name
                    - class_name
                    - triggered_on
                    - is_deleted
                    - terminator_running
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Scripts Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-ignore: true
      x-fern-sdk-group-name: workflows
      x-fern-sdk-method-name: update
  /accounts/{account_id}/workflows/{workflow_name}/instances:
    get:
      operationId: wor-list-workflow-instances
      summary: List of workflow instances
      description: Lists all instances of a workflow with their execution status.
      parameters:
      - name: workflow_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
      - name: page
        in: query
        description: 'Deprecated: use `cursor` for pagination instead.'
        schema:
          type: number
          deprecated: true
          minimum: 1
      - name: per_page
        in: query
        schema:
          type: number
          default: 50
          maximum: 100
          minimum: 1
      - name: cursor
        in: query
        description: Opaque token for cursor-based pagination. Mutually exclusive with `page`.
        schema:
          type: string
      - name: direction
        in: query
        description: Defines the direction for cursor-based pagination.
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: status
        in: query
        schema:
          type: string
          enum:
          - queued
          - running
          - paused
          - errored
          - terminated
          - complete
          - waitingForPause
          - waiting
          - rollingBack
      - name: date_start
        in: query
        description: Accepts ISO 8601 with no timezone offsets and in UTC.
        schema:
          type: string
          format: date-time
        x-fern-parameter-name: start
      - name: date_end
        in: query
        description: Accepts ISO 8601 with no timezone offsets and in UTC.
        schema:
          type: string
          format: date-time
        x-fern-parameter-name: end
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of workflow instances.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: array
                    items:
                      properties:
                        created_on:
                          type: string
                          format: date-time
                        ended_on:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        id:
                          type: string
                          maxLength: 100
                          minLength: 1
                          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
                        modified_on:
                          type: string
                          format: date-time
                        started_on:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        status:
                          type: string
                          enum:
                          - queued
                          - running
                          - paused
                          - errored
                          - terminated
                          - complete
                          - waitingForPause
                          - waiting
                          - rollingBack
                        trigger_source:
                          type: string
                          enum:
                          - unknown
                          - api
                          - binding
                          - event
                          - cron
                        version_id:
                          type: string
                          format: uuid
                        workflow_id:
                          type: string
                          format: uuid
                      required:
                      - id
                      - created_on
                      - modified_on
                      - started_on
                      - ended_on
                      - workflow_id
                      - version_id
                      - status
                      type: object
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        description: 'Deprecated: use cursor-based pagination instead.'
                        type: number
                        deprecated: true
                      per_page:
                        type: number
                      total_count:
                        description: 'Deprecated: cursor-based pagination can produce an inaccurate total count.'
                        type: number
                        deprecated: true
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Input Validation Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Workflow Name not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workflows.instances
      x-fern-sdk-method-name: list
    post:
      operationId: wor-create-new-workflow-instance
      summary: Create a new workflow instance
      description: Creates a new instance of a workflow, starting its execution.
      parameters:
      - name: workflow_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  description: The system reserves IDs that consist of the `cf_` prefix and exactly 64 lowercase hexadecimal characters.
                  type: string
                  maximum: 100
                  minimum: 1
                  pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
                instance_retention:
                  type: object
                  properties:
                    error_retention:
                      description: Specifies the duration in milliseconds or as a string like '5 minutes'.
                      anyOf:
                      - description: Specifies the duration in milliseconds.
                        type: integer
                      - example: 5 minutes
                        pattern: ^(\d+)\s+(second|minute|hour|day|week|month|year)s?$
                        type: string
                      x-fern-property-name: error
                    success_retention:
                      description: Specifies the duration in milliseconds or as a string like '5 minutes'.
                      anyOf:
                      - description: Specifies the duration in milliseconds.
                        type: integer
                      - example: 5 minutes
                        pattern: ^(\d+)\s+(second|minute|hour|day|week|month|year)s?$
                        type: string
                      x-fern-property-name: success
                location_hint:
                  type: string
                  enum:
                  - wnam
                  - weur
                  - enam
                  - eeur
                  - apac
                  - apac-ne
                  - apac-se
                  - oc
                  - sam
                  - afr
                  - me
                params:
                  description: JSON-encoded event payload passed into the new instance.
                  type: string
      responses:
        '200':
          description: Create workflow instance. Body is a JSON parsable string that it's passed into the new instance as the event payload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        maxLength: 100
                        minLength: 1
                        pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
                      status:
                        type: string
                        enum:
                        - queued
                        - running
                        - paused
                        - errored
                        - terminated
                        - complete
                        - waitingForPause
                        - waiting
                        - rollingBack
                      trigger_source:
                        type: string
                        enum:
                        - unknown
                        - api
                        - binding
                        - event
                        - cron
                      version_id:
                        type: string
                        format: uuid
                      workflow_id:
                        type: string
                        format: uuid
                    required:
                    - id
                    - workflow_id
                    - version_id
                    - status
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Provided Workflow ID is not valid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Workflow Name not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Scripts Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workflows.instances
      x-fern-sdk-method-name: create
      x-forge-params:
        params:
          fromFile:
            format: json
  /accounts/{account_id}/workflows/{workflow_name}/instances/batch:
    post:
      operationId: wor-batch-create-workflow-instance
      summary: Batch create new Workflow instances
      description: Creates multiple workflow instances in a single batch operation.
      parameters:
      - name: workflow_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                properties:
                  instance_id:
                    description: The system reserves IDs that consist of the `cf_` prefix and exactly 64 lowercase hexadecimal characters.
                    type: string
                    maximum: 100
                    minimum: 1
                    pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
                  instance_retention:
                    type: object
                    properties:
                      error_retention:
                        description: Specifies the duration in milliseconds or as a string like '5 minutes'.
                        anyOf:
                        - description: Specifies the duration in milliseconds.
                          type: integer
                        - example: 5 minutes
                          pattern: ^(\d+)\s+(second|minute|hour|day|week|month|year)s?$
                          type: string
                        x-fern-property-name: error
                      success_retention:
                        description: Specifies the duration in milliseconds or as a string like '5 minutes'.
                        anyOf:
                        - description: Specifies the duration in milliseconds.
                          type: integer
                        - example: 5 minutes
                          pattern: ^(\d+)\s+(second|minute|hour|day|week|month|year)s?$
                          type: string
                        x-fern-property-name: success
                  location_hint:
                    type: string
                    enum:
                    - wnam
                    - weur
                    - enam
                    - eeur
                    - apac
                    - apac-ne
                    - apac-se
                    - oc
                    - sam
                    - afr
                    - me
                  params:
                    description: JSON-encoded event payload passed into the new instance.
                    type: string
                type: object
              maxItems: 100
              minItems: 1
      responses:
        '200':
          description: Batch create workflow instances. Body is a JSON list that contain all payloads and ids that are passed into the new instance as the event payload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          maxLength: 100
                          minLength: 1
                          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
                        status:
                          type: string
                          enum:
                          - queued
                          - running
                          - paused
                          - errored
                          - terminated
                          - complete
                          - waitingForPause
                          - waiting
                          - rollingBack
                        trigger_source:
                          type: string
                          enum:
                          - unknown
                          - api
                          - binding
                          - event
                          - cron
                        version_id:
                          type: string
                          format: uuid
                        workflow_id:
                          type: string
                          format: uuid
                      required:
                      - id
                      - workflow_id
                      - version_id
                      - status
                      type: object
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
                        type: number
                    required:
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - errors
                - result
                - messages
        '400':
          description: Provided Workflow ID is not valid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
        '404':
          description: Workflow Name not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type:
                    - object
                    - 'null'
                    enum:
                    - null
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - messages
                - errors
                - result
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Workflows
      x-api-token-group:
      - Workers Scripts Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.workers.write
        - com.cloudflare.api.workers.read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workflows.instances.batch
      x-fern-sdk-method-name: create
  /accounts/{account_id}/workflows/{workflow_name}/instances/batch/delete:
    post:
      operationId: wor-batch-delete-workflow-instances
      summary: Batch delete instances of a workflow
      description: Deletes multiple workflow instances in a single batch operation.
      parameters:
      - name: workflow_name
        in: path
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9-_]*$
      - name: account_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instances:
                  type: array
                  items:
                    description: Instance identifier. Accepts user-created IDs (`^[a-zA-Z0-9_][a-zA-Z0-9-_]*$`, maximum 100 characters) and system-generated IDs that consist of a `cf_` or `-` prefix and exactly 64 lowercase hexadecimal characters.
                    maxLength: 100
                    minLength: 1
                    pattern: ^(-[0-9a-f]{64}|[a-zA-Z0-9_][a-zA-Z0-9-_]*)$
                    type: string
                  maxItems: 100
                  minItems: 1
              required:
              - instances
      responses:
        '200':
          description: Returns deleted instances and any per-instance errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                    maxItems: 0
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  result:
                    type: object
                    properties:
                      deleted:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                          required:
                          - id
                          type: object
                      errors:
                        type: array
                        items:
                          properties:
                            code:
                              type: number
                            id:
                              type: string
                            message:
                              type: string
                          required:
                          - id
                          - code
                          - message
                          type: object
                    required:
                    - deleted
                    - errors
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      cursor:
                        type: string
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                      total_pages:
[...]
