openapi: 3.0.3
info:
  title: Cloudflare / Accounts Objects API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Objects
  description: List and manage individual Durable Object instances within a namespace.
paths:
  /accounts/{account_id}/workers/durable_objects/namespaces/{namespace_id}/objects:
    get:
      operationId: listDurableObjects
      summary: Cloudflare List Durable Objects
      description: Returns a list of Durable Objects within a namespace with cursor-based pagination.
      tags:
      - Objects
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      - name: cursor
        in: query
        description: Cursor for pagination.
        schema:
          type: string
        example: example_value
      - name: limit
        in: query
        description: Maximum number of objects to return.
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: List of Durable Objects.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{account_id}/r2/buckets/{bucket_name}/objects:
    get:
      operationId: listR2Objects
      summary: Cloudflare List Objects in Bucket
      description: List objects stored in an R2 bucket with optional prefix filtering and pagination.
      tags:
      - Objects
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/BucketName'
      - name: prefix
        in: query
        description: Filter objects by key prefix.
        schema:
          type: string
        example: example_value
      - name: delimiter
        in: query
        description: Delimiter for grouping object keys.
        schema:
          type: string
        example: example_value
      - name: cursor
        in: query
        description: Cursor for pagination.
        schema:
          type: string
        example: example_value
      - name: per_page
        in: query
        description: Number of objects per page.
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: List of objects.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    BucketName:
      name: bucket_name
      in: path
      required: true
      description: The name of the R2 bucket.
      schema:
        type: string
    NamespaceId:
      name: namespace_id
      in: path
      required: true
      description: The unique identifier of the Durable Object namespace.
      schema:
        type: string
