openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare DEX Synthetic Application Monitoring API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: DEX Synthetic Application Monitoring
paths:
  /accounts/{account_id}/dex/colos:
    get:
      operationId: dex-endpoints-list-colos
      summary: List Cloudflare colos
      description: List Cloudflare colos that account's devices were connected to during a time period, sorted by usage starting from the most used colo. Colos without traffic are also returned and sorted alphabetically.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: from
        in: query
        description: Start time for connection period in ISO (RFC3339 - ISO 8601) format.
        required: true
        schema:
          type: string
          example: '2023-08-20T20:45:00Z'
      - name: to
        in: query
        description: End time for connection period in ISO (RFC3339 - ISO 8601) format.
        required: true
        schema:
          type: string
          example: '2023-08-24T20:45:00Z'
      - name: sortBy
        in: query
        description: Type of usage that colos should be sorted by. If unspecified, returns all Cloudflare colos sorted alphabetically.
        schema:
          type: string
          enum:
          - fleet-status-usage
          - application-tests-usage
      responses:
        '200':
          description: List colos response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_colos_response'
                  type: object
        4XX:
          description: List colos failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.colos
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/dex/devices/dex_tests:
    get:
      operationId: device-dex-test-details
      summary: List Device DEX tests
      description: Fetch all DEX tests.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: page
        in: query
        description: Page number of paginated results.
        schema:
          type: number
          example: 1
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Number of results per page.
        schema:
          type: number
          example: 10
          default: 10
          maximum: 50
          minimum: 1
      - name: testName
        in: query
        description: Filter by test name.
        schema:
          type: string
      - name: kind
        in: query
        description: Filter by test type.
        schema:
          type: string
          enum:
          - http
          - traceroute
      responses:
        '200':
          description: Device DEX test details response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_dex-response_collection'
        4XX:
          description: Device DEX test response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.tests
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: device-dex-test-create-device-dex-test
      summary: Create Device DEX test
      description: Create a DEX test.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-http'
      responses:
        '200':
          description: Update Dex test response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_dex-single_response'
        4XX:
          description: Update Dex test response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.tests
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/dex/devices/dex_tests/{dex_test_id}:
    delete:
      operationId: device-dex-test-delete-device-dex-test
      summary: Delete Device DEX test
      description: Delete a Device DEX test. Returns the remaining device dex tests for the account.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: dex_test_id
        in: path
        description: Unique identifier for a DEX test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      responses:
        '200':
          description: Delete Device DEX test response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_dex-delete-response-collection'
        4XX:
          description: Delete DEX test response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_dex-response_collection'
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.tests
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: device-dex-test-get-device-dex-test
      summary: Get Device DEX test
      description: Fetch a single DEX test.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: dex_test_id
        in: path
        description: Unique identifier for a DEX test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_schemas-test-id'
      responses:
        '200':
          description: Device DEX test details response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_dex-single_response'
        4XX:
          description: Device DEX test response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.tests
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    put:
      operationId: device-dex-test-update-device-dex-test
      summary: Update Device DEX test
      description: Update a DEX test.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: dex_test_id
        in: path
        description: Unique identifier for a DEX test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-http'
      responses:
        '200':
          description: Update Dex test response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_dex-single_response'
        4XX:
          description: Update Dex test response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.tests
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/dex/devices/{device_id}/fleet-status/live:
    get:
      operationId: devices-live-status
      summary: Get the latest status of a device
      description: Get the latest status of a device given device_id from the device_state table.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: device_id
        in: path
        description: Device-specific ID, given as UUID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_device_id'
      - name: since_minutes
        in: query
        description: Number of minutes before current time.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_since_minutes'
      - name: time_now
        in: query
        description: Current time in ISO format.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_time_now'
        deprecated: true
        x-stainless-deprecation-message: This parameter is deprecated and will be removed in the future.
      - name: colo
        in: query
        description: List of data centers to filter results.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_colo'
      responses:
        '200':
          description: Get the latest status of a device.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_device'
        4XX:
          description: Get the latest status of a device failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.devices
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/devices/{device_id}/fleet-status/over-time:
    get:
      operationId: dex-device-status-over-time
      summary: Get the status over time for a device
      description: Get time-bucketed status metrics for a specific device.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: device_id
        in: path
        description: Device-specific ID, given as UUID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_device_id'
      - name: from
        in: query
        description: Start of the time range to query. Timestamp can be provided in ISO 8601 datetime format or milliseconds since epoch.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_timestamp'
      - name: to
        in: query
        description: End of the time range to query. Timestamp can be provided in ISO 8601 datetime format or milliseconds since epoch.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_timestamp'
      - name: interval
        in: query
        description: Time interval for aggregate time slots.
        required: true
        schema:
          type: string
          enum:
          - minute
          - hour
      - name: colo
        in: query
        description: List of data centers to filter results.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_colo'
      responses:
        '200':
          description: Device status over time response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_device_status_over_time_result'
                  type: object
        4XX:
          description: Device status over time failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.devices.over-time
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/devices/{device_id}/isps:
    get:
      operationId: dex-endpoints-list-device-isps
      summary: List device ISPs
      description: List ISP information observed for a specific device during traceroute tests.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: device_id
        in: path
        description: Device-specific ID, given as UUID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      - name: page
        in: query
        description: Page number of paginated results. Mutually exclusive with cursor.
        schema:
          type: integer
          example: 1
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Number of items per page
        required: true
        schema:
          type: integer
          example: 10
          maximum: 50
          minimum: 1
      - name: cursor
        in: query
        description: Cursor for cursor-based pagination. Mutually exclusive with page.
        schema:
          type: string
      - name: sort_by
        in: query
        description: The field to sort results by.
        schema:
          type: string
          default: time_start
          enum:
          - time_start
      - name: sort_order
        in: query
        description: The order to sort results.
        schema:
          type: string
          default: DESC
          enum:
          - ASC
          - DESC
      - name: from
        in: query
        description: Start time for the query in ISO 8601 format.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: End time for the query in ISO 8601 format.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: List of ISPs observed for the device.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-collection'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_device_isps_response'
                  type: object
        4XX:
          description: List device ISPs failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.isps
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/dex/fleet-status/devices:
    get:
      operationId: dex-fleet-status-devices
      summary: List details of devices using WARP
      description: List details of devices using WARP.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: to
        in: query
        description: End of the time range to query. Timestamp can be provided in ISO 8601 datetime format or milliseconds since epoch.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_timestamp'
      - name: from
        in: query
        description: Start of the time range to query. Timestamp can be provided in ISO 8601 datetime format or milliseconds since epoch.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_timestamp'
      - name: page
        in: query
        description: Page number of paginated results.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_page'
      - name: per_page
        in: query
        description: Number of results per page.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_per_page'
      - name: sort_by
        in: query
        description: Dimension to sort results by.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_sort_by'
      - name: colo
        in: query
        description: Cloudflare colo airport code.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_colo'
      - name: device_id
        in: query
        description: Device-specific ID, given as UUID.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_device_id'
      - name: mode
        in: query
        description: The mode under which the WARP client is run.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_mode'
        x-fern-parameter-name: device-mode
      - name: status
        in: query
        description: Network status.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_status'
      - name: platform
        in: query
        description: Operating system.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_platform'
      - name: version
        in: query
        description: WARP client version.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_version'
        x-fern-parameter-name: warp-version
      - name: source
        in: query
        description: "Source:\n  * `hourly` - device details aggregated hourly, up to 7 days prior\n  * `last_seen` - device details, up to 60 minutes prior. Time windows exceeding 60 minutes will be rejected from June 1st, 2026. Please use 'hourly' or 'raw' instead for longer time ranges.\n  * `raw` - device details, up to 7 days prior\n"
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_source'
      responses:
        '200':
          description: List devices response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_fleet_status_devices_response'
        4XX:
          description: List devices response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.devices
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/dex/fleet-status/live:
    get:
      operationId: dex-fleet-status-live
      summary: Get live aggregate device details by dimension
      description: Get details for live (up to 60 minutes) devices using WARP.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: since_minutes
        in: query
        description: Number of minutes before current time.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_since_minutes'
      responses:
        '200':
          description: Get device details (live) response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_fleet_status_live_response'
        4XX:
          description: Get device details (live) response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.devices.aggregates.live
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/fleet-status/over-time:
    get:
      operationId: dex-fleet-status-over-time
      summary: Get over time aggregate details for devices by dimension
      description: Get aggregate details for devices using WARP, up to 7 days.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: to
        in: query
        description: End of the time range to query. Timestamp can be provided in ISO 8601 datetime format or milliseconds since epoch.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_timestamp'
      - name: from
        in: query
        description: Start of the time range to query. Timestamp can be provided in ISO 8601 datetime format or milliseconds since epoch.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_timestamp'
      - name: colo
        in: query
        description: Cloudflare colo airport code.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_colo'
      - name: device_id
        in: query
        description: Device-specific ID, given as UUID.
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_device_id'
      responses:
        '200':
          description: Get DEX devices aggregate success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_fleet_status_over_time_response'
        4XX:
          description: Get DEX devices aggregate failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.devices.aggregates.over-time
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/http-tests/{test_id}:
    get:
      operationId: dex-endpoints-http-test-details
      summary: Get details and aggregate metrics for an http test
      description: Get test details and aggregate performance metrics for an http test for a given time period between 1 hour and 7 days.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: test_id
        in: path
        description: Unique identifier for a specific test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      - name: deviceId
        in: query
        description: Optionally filter result stats to a specific device(s). Cannot be used in combination with colo param.
        schema:
          type: array
          items:
            description: Unique identifier for the physical device (UUID).
            example: cb49c27f-7f97-49c5-b6f3-f7c01ead0fd7
            type: string
      - name: from
        in: query
        description: Start time for aggregate metrics in ISO ms.
        required: true
        schema:
          type: string
          example: 1689520412000
      - name: to
        in: query
        description: End time for aggregate metrics in ISO ms.
        required: true
        schema:
          type: string
          example: 1689606812000
      - name: interval
        in: query
        description: Time interval for aggregate time slots.
        required: true
        schema:
          type: string
          enum:
          - minute
          - hour
      - name: colo
        in: query
        description: Optionally filter result stats to a Cloudflare colo. Cannot be used in combination with deviceId param.
        schema:
          description: Cloudflare colo airport code.
          type: string
          example: SJC
      responses:
        '200':
          description: DEX HTTP test details response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_http_details_response'
                  type: object
        4XX:
          description: DEX HTTP test details failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.test-results.http
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/http-tests/{test_id}/percentiles:
    get:
      operationId: dex-endpoints-http-test-percentiles
      summary: Get percentiles for an http test
      description: Get percentiles for an http test for a given time period between 1 hour and 7 days.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: test_id
        in: path
        description: Unique identifier for a specific test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      - name: deviceId
        in: query
        description: Optionally filter result stats to a specific device(s). Cannot be used in combination with colo param.
        schema:
          type: array
          items:
            description: Unique identifier for the physical device (UUID).
            example: cb49c27f-7f97-49c5-b6f3-f7c01ead0fd7
            type: string
      - name: from
        in: query
        description: Start time for the query in ISO (RFC3339 - ISO 8601) format.
        required: true
        schema:
          type: string
          example: '2023-09-20T17:00:00Z'
      - name: to
        in: query
        description: End time for the query in ISO (RFC3339 - ISO 8601) format.
        required: true
        schema:
          type: string
          example: '2023-09-20T17:00:00Z'
      - name: colo
        in: query
        description: Optionally filter result stats to a Cloudflare colo. Cannot be used in combination with deviceId param.
        schema:
          description: Cloudflare colo airport code.
          type: string
          example: SJC
      responses:
        '200':
          description: DEX HTTP test percentiles response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_http_details_percentiles_response'
                  type: object
        4XX:
          description: DEX HTTP test percentiles failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.test-results.http.percentiles
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/tests/overview:
    get:
      operationId: dex-endpoints-list-tests-overview
      summary: List DEX test analytics
      description: List DEX tests with overview metrics.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: colo
        in: query
        description: Optionally filter result stats to a Cloudflare colo. Cannot be used in combination with deviceId param.
        schema:
          description: Cloudflare colo airport code.
          type: string
          example: SJC
      - name: testName
        in: query
        description: Optionally filter results by test name.
        schema:
          type: string
      - name: deviceId
        in: query
        description: Optionally filter result stats to a specific device(s). Cannot be used in combination with colo param.
        schema:
          type: array
          items:
            description: Unique identifier for the physical device (UUID).
            example: cb49c27f-7f97-49c5-b6f3-f7c01ead0fd7
            type: string
      - name: registration_id
        in: query
        description: Optionally filter results to a specific device registration. Must be used in combination with a single deviceId.
        schema:
          description: Unique identifier for the device registration (UUID). On multi-user devices, this uniquely identifies a user's registration on the device.
          type: string
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      - name: page
        in: query
        description: Page number of paginated results
        schema:
          type: number
          example: 1
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: number
          example: 10
          default: 10
          maximum: 50
          minimum: 1
      - name: kind
        in: query
        description: Filter by test type.
        schema:
          type: string
          enum:
          - http
          - traceroute
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_tests_response'
                  type: object
        4XX:
          description: Failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.overview.tests
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/dex/tests/unique-devices:
    get:
      operationId: dex-endpoints-tests-unique-devices
      summary: Get count of devices targeted
      description: Returns unique count of devices that have run synthetic application monitoring tests in the past 7 days.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: testName
        in: query
        description: Optionally filter results by test name.
        schema:
          type: string
      - name: deviceId
        in: query
        description: Optionally filter result stats to a specific device(s). Cannot be used in combination with colo param.
        schema:
          type: array
          items:
            description: Unique identifier for the physical device (UUID).
            example: cb49c27f-7f97-49c5-b6f3-f7c01ead0fd7
            type: string
      responses:
        '200':
          description: DEX unique devices targeted response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_unique_devices_response'
                  type: object
        4XX:
          description: DEX unique devices targeted failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.overview.tests.unique-devices
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/traceroute-test-results/{test_result_id}/network-path:
    get:
      operationId: dex-endpoints-traceroute-test-result-network-path
      summary: Get details for a specific traceroute test run
      description: Get a breakdown of hops and performance metrics for a specific traceroute test run
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: test_result_id
        in: path
        description: Unique identifier for a specific traceroute test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      responses:
        '200':
          description: DEX traceroute test result network path response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_traceroute_test_result_network_path_response'
                  type: object
        4XX:
          description: DEX traceroute test result network path failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.test-results.traceroute.network-path
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/traceroute-tests/{test_id}:
    get:
      operationId: dex-endpoints-traceroute-test-details
      summary: Get details and aggregate metrics for a traceroute test
      description: Get test details and aggregate performance metrics for a traceroute test for a given time period between 1 hour and 7 days.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: test_id
        in: path
        description: Unique identifier for a specific test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      - name: deviceId
        in: query
        description: Optionally filter result stats to a specific device(s). Cannot be used in combination with colo param.
        schema:
          type: array
          items:
            type: string
      - name: from
        in: query
        description: Start time for aggregate metrics in ISO ms.
        required: true
        schema:
          type: string
          example: 1689520412000
      - name: to
        in: query
        description: End time for aggregate metrics in ISO ms.
        required: true
        schema:
          type: string
          example: 1689606812000
      - name: interval
        in: query
        description: Time interval for aggregate time slots.
        required: true
        schema:
          type: string
          enum:
          - minute
          - hour
      - name: colo
        in: query
        description: Optionally filter result stats to a Cloudflare colo. Cannot be used in combination with deviceId param.
        schema:
          type: string
      responses:
        '200':
          description: DEX traceroute test details response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_traceroute_details_response'
                  type: object
        4XX:
          description: DEX traceroute test details response failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.test-results.traceroute
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/traceroute-tests/{test_id}/network-path:
    get:
      operationId: dex-endpoints-traceroute-test-network-path
      summary: Get network path breakdown for a traceroute test
      description: Get a breakdown of metrics by hop for individual traceroute test runs.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: test_id
        in: path
        description: Unique identifier for a specific test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      - name: deviceId
        in: query
        description: Device to filter traceroute result runs to.
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Start time for aggregate metrics in ISO ms.
        required: true
        schema:
          type: string
          example: 1689520412000
      - name: to
        in: query
        description: End time for aggregate metrics in ISO ms.
        required: true
        schema:
          type: string
          example: 1689606812000
      - name: interval
        in: query
        description: Time interval for aggregate time slots.
        required: true
        schema:
          type: string
          enum:
          - minute
          - hour
      responses:
        '200':
          description: DEX traceroute test network path response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_traceroute_test_network_path_response'
                  type: object
        4XX:
          description: DEX traceroute test network path failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.tests.network-path
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/dex/traceroute-tests/{test_id}/percentiles:
    get:
      operationId: dex-endpoints-traceroute-test-percentiles
      summary: Get percentiles for a traceroute test
      description: Get percentiles for a traceroute test for a given time period between 1 hour and 7 days.
      parameters:
      - name: account_id
        in: path
        description: Unique Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_account_identifier'
      - name: test_id
        in: path
        description: Unique identifier for a specific test.
        required: true
        schema:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
      - name: deviceId
        in: query
        description: Optionally filter result stats to a specific device(s). Cannot be used in combination with colo param.
        schema:
          type: array
          items:
            type: string
      - name: from
        in: query
        description: Start time for the query in ISO (RFC3339 - ISO 8601) format.
        required: true
        schema:
          type: string
          example: '2023-09-20T17:00:00Z'
      - name: to
        in: query
        description: End time for the query in ISO (RFC3339 - ISO 8601) format.
        required: true
        schema:
          type: string
          example: '2023-09-20T17:00:00Z'
      - name: colo
        in: query
        description: Optionally filter result stats to a Cloudflare colo. Cannot be used in combination with deviceId param.
        schema:
          type: string
      responses:
        '200':
          description: DEX Traceroute test percentiles response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/digital-experience-monitoring_traceroute_details_percentiles_response'
                  type: object
        4XX:
          description: DEX Traceroute test percentiles failure response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital-experience-monitoring_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - user_service_key: []
      tags:
      - DEX Synthetic Application Monitoring
      x-api-token-group:
      - Cloudflare DEX Write
      - Cloudflare DEX Read
      - Zero Trust Report
      - Zero Trust Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.dex.test-results.traceroute.percentiles
      x-fern-sdk-method-name: get
      x-forge-hidden: true
components:
  schemas:
    digital-experience-monitoring_dex-response_collection:
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-collection-common'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-http'
        type: object
    digital-experience-monitoring_traceroute_details_percentiles_response:
      type: object
      properties:
        hopsCount:
          $ref: '#/components/schemas/digital-experience-monitoring_percentiles'
        packetLossPct:
          $ref: '#/components/schemas/digital-experience-monitoring_percentiles'
        roundTripTimeMs:
          $ref: '#/components/schemas/digital-experience-monitoring_percentiles'
    digital-experience-monitoring_timeslot_rtt_stats:
      type: object
      properties:
        timestamp:
          description: Timestamp of the time slot.
          type: string
          example: '2023-07-16 15:00:00+00'
        value:
          description: Round-trip time statistics for the time slot.
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_rtt_stats'
      required:
      - timestamp
      - value
    digital-experience-monitoring_directional_stat:
      type: object
      properties:
        downstream:
          type:
          - integer
          - 'null'
        upstream:
          type:
          - integer
          - 'null'
    digital-experience-monitoring_uniqueDevicesTotal:
      description: Number of unique devices
      type: number
    digital-experience-monitoring_timestamp:
      type: string
      example: '2023-10-11 00:00:00+00'
    digital-experience-monitoring_device:
      type: object
      properties:
        alwaysOn:
          type:
          - boolean
          - 'null'
        batteryCharging:
          type:
          - boolean
          - 'null'
        batteryCycles:
          type:
          - integer
          - 'null'
          format: int64
        batteryPct:
          type:
          - number
          - 'null'
          format: float
        colo:
          $ref: '#/components/schemas/digital-experience-monitoring_colo'
        connectionType:
          type:
          - string
          - 'null'
        cpuPct:
          type:
          - number
          - 'null'
          format: float
        cpuPctByApp:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_cpu_pct_by_app'
        deviceId:
          description: Device identifier (UUID v4)
          type: string
        deviceIpv4:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_schemas-ip_info'
        deviceIpv6:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_schemas-ip_info'
        deviceName:
          description: Device identifier (human readable).
          type: string
        deviceRegistration:
          description: 'Deprecated: use registrationId. Device registration identifier (UUID).'
          type:
          - string
          - 'null'
          deprecated: true
          x-stainless-deprecation-message: Use `registrationId` instead.
        diskReadBps:
          type:
          - integer
          - 'null'
          format: int64
        diskUsagePct:
          type:
          - number
          - 'null'
          format: float
        diskWriteBps:
          type:
          - integer
          - 'null'
          format: int64
        dohSubdomain:
          type:
          - string
          - 'null'
        estimatedLossPct:
          type:
          - number
          - 'null'
          format: float
        firewallEnabled:
          type:
          - boolean
          - 'null'
        gatewayIpv4:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_schemas-ip_info'
        gatewayIpv6:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_schemas-ip_info'
        handshakeLatencyMs:
          type:
          - number
          - 'null'
          format: int64
        ispIpv4:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_schemas-ip_info'
        ispIpv6:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_schemas-ip_info'
        metal:
          type:
          - string
          - 'null'
        mode:
          $ref: '#/components/schemas/digital-experience-monitoring_mode'
        networkRcvdBps:
          type:
          - integer
          - 'null'
          format: int64
        networkSentBps:
          type:
          - integer
          - 'null'
          format: int64
        networkSsid:
          type:
          - string
          - 'null'
        personEmail:
          $ref: '#/components/schemas/digital-experience-monitoring_personEmail'
        platform:
          $ref: '#/components/schemas/digital-experience-monitoring_platform'
        ramAvailableKb:
          type:
          - integer
          - 'null'
          format: int64
        ramUsedPct:
          type:
          - number
          - 'null'
          format: float
        ramUsedPctByApp:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_ram_used_pct_by_app'
        registrationId:
          description: Device registration identifier (UUID v4). On multi-user devices, this uniquely identifies a user's registration on the device.
          type:
          - string
          - 'null'
        rtt:
          description: Round-trip time statistics for the WARP tunnel.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_rtt_stats'
        status:
          $ref: '#/components/schemas/digital-experience-monitoring_status'
        switchLocked:
          type:
          - boolean
          - 'null'
        timestamp:
          $ref: '#/components/schemas/digital-experience-monitoring_timestamp'
        tunnelStats:
          description: WARP tunnel packet and byte counters.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_tunnel_stats'
        tunnelType:
          type:
          - string
          - 'null'
        version:
          $ref: '#/components/schemas/digital-experience-monitoring_version'
        wifiStrengthDbm:
          type:
          - integer
          - 'null'
          format: int64
      required:
      - colo
      - deviceId
      - mode
      - platform
      - status
      - timestamp
      - version
    digital-experience-monitoring_device_isps_response:
      type: object
      properties:
        isps:
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_device_isp'
      required:
      - isps
    digital-experience-monitoring_fleet_status_over_time_response:
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
      - properties:
          result:
            type: object
            properties:
              deviceStats:
                type: object
                properties:
                  byMode:
                    type: array
                    items:
                      $ref: '#/components/schemas/digital-experience-monitoring_schemas-aggregate_stat'
                  byStatus:
                    type: array
                    items:
                      $ref: '#/components/schemas/digital-experience-monitoring_schemas-aggregate_stat'
                  uniqueDevicesTotal:
                    $ref: '#/components/schemas/digital-experience-monitoring_uniqueDevicesTotal'
        type: object
    digital-experience-monitoring_fleet_status_devices_response:
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/digital-experience-monitoring_device'
        type: object
    digital-experience-monitoring_device-dex-test-schemas-interval:
      description: How often the test will run.
      type: string
      example: 30m
    digital-experience-monitoring_platform:
      description: Operating system.
      type: string
      example: windows
    digital-experience-monitoring_mode:
      description: The mode under which the WARP client is run.
      type: string
      example: proxy
    digital-experience-monitoring_test_stat_over_time:
      type: object
      properties:
        avg:
          description: average observed in the time period.
          type:
          - integer
          - 'null'
        max:
          description: highest observed in the time period.
          type:
          - integer
          - 'null'
        min:
          description: lowest observed in the time period.
          type:
          - integer
          - 'null'
        slots:
          type: array
          items:
            properties:
              timestamp:
                type: string
                example: '2023-07-16 15:00:00+00'
              value:
                type: integer
            required:
            - timestamp
            - value
            type: object
      required:
      - slots
    digital-experience-monitoring_tunnel_stats:
      description: WARP tunnel packet and byte counters.
      type: object
      properties:
        bytesLost:
          description: Number of bytes lost, split by direction.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        bytesReceived:
          description: Number of bytes received, split by direction.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        bytesRetransmitted:
          description: Number of bytes retransmitted, split by direction.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        bytesSent:
          description: Number of bytes sent, split by direction.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        packetsLost:
          description: Number of packets lost, split by direction.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        packetsReceived:
          description: Number of packets received, split by direction.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        packetsRetransmitted:
          description: Number of packets retransmitted, split by direction.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        packetsSent:
          description: Number of packets sent, split by direction.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        statsWindowMs:
          description: The measurement window duration in milliseconds.
          type:
          - integer
          - 'null'
    digital-experience-monitoring_device_id:
      description: Unique identifier for the physical device (UUID).
      type: string
      example: cb49c27f-7f97-49c5-b6f3-f7c01ead0fd7
    digital-experience-monitoring_test_stat_pct_over_time:
      type: object
      properties:
        avg:
          description: average observed in the time period.
          type:
          - number
          - 'null'
          format: float
        max:
          description: highest observed in the time period.
          type:
          - number
          - 'null'
          format: float
        min:
          description: lowest observed in the time period.
          type:
          - number
          - 'null'
          format: float
        slots:
          type: array
          items:
            properties:
              timestamp:
                type: string
                example: '2023-07-16 15:00:00+00'
              value:
                type: number
                format: float
            required:
            - timestamp
            - value
            type: object
      required:
      - slots
    digital-experience-monitoring_execution_context:
      type: string
      enum:
      - EXECUTION_CONTEXT_INVALID
      - OUT_OF_TUNNEL
      - IN_TUNNEL
    digital-experience-monitoring_traceroute_test_result_network_path_response:
      type: object
      properties:
        colo:
          $ref: '#/components/schemas/digital-experience-monitoring_colo'
        deviceName:
          description: Name of the device associated with this network path response.
          type: string
        execution_context:
          description: Whether the test was run inside or outside of the WARP tunnel.
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_execution_context'
        hops:
          description: An array of the hops taken by the device to reach the end destination.
          type: array
          items:
            properties:
              asn:
                type:
                - integer
                - 'null'
              aso:
                type:
                - string
                - 'null'
              ipAddress:
                type:
                - string
                - 'null'
              location:
                type:
                - object
                - 'null'
                properties:
                  city:
                    type:
                    - string
                    - 'null'
                  state:
                    type:
                    - string
                    - 'null'
                  zip:
                    type:
                    - string
                    - 'null'
              mile:
                type:
                - string
                - 'null'
                enum:
                - client-to-app
                - client-to-cf-egress
                - client-to-cf-ingress
                - client-to-isp
              name:
                type:
                - string
                - 'null'
              packetLossPct:
                type:
                - number
                - 'null'
                format: float
              rttMs:
                type:
                - integer
                - 'null'
              ttl:
                type: integer
            required:
            - ttl
            type: object
        resultId:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
        testId:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
        testName:
          description: Name of the traceroute test.
          type: string
        time_start:
          description: Timestamp indicating when the traceroute test execution began.
          type: string
          example: '2023-07-16 15:00:00+00'
        tunnel_type:
          type:
          - string
          - 'null'
      required:
      - resultId
      - hops
    digital-experience-monitoring_dex-delete-response-collection:
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-common'
      - properties:
          result:
            type: object
            properties:
              dex_tests:
                type: array
                items:
                  $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-http'
        type: object
    digital-experience-monitoring_device-dex-test-schemas-description:
      description: Additional details about the test.
      type: string
      example: Checks the dash endpoint every 30 minutes
    digital-experience-monitoring_dex-single_response:
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-http'
        type: object
    digital-experience-monitoring_dex_target_policy:
      type: object
      properties:
        default:
          description: Whether the DEX rule is the account default.
          type: boolean
          x-stainless-terraform-configurability: computed
        id:
          description: The id of the DEX rule.
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_uuid'
        name:
          description: The name of the DEX rule.
          type: string
          x-stainless-terraform-configurability: computed
      required:
      - id
    digital-experience-monitoring_device_status_over_time_result:
      type: object
      properties:
        over_time:
          $ref: '#/components/schemas/digital-experience-monitoring_device_state_over_time'
        top_networks:
          description: Top networks observed for the device.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_device_state_top_networks_summary'
      required:
      - top_networks
      - over_time
    digital-experience-monitoring_device_state_top_networks_summary:
      type: object
      properties:
        count:
          description: Number of observations.
          type: integer
        name:
          description: Network name.
          type: string
      required:
      - name
      - count
    digital-experience-monitoring_http_details_percentiles_response:
      type: object
      properties:
        dnsResponseTimeMs:
          $ref: '#/components/schemas/digital-experience-monitoring_percentiles'
        resourceFetchTimeMs:
          $ref: '#/components/schemas/digital-experience-monitoring_percentiles'
        serverResponseTimeMs:
          $ref: '#/components/schemas/digital-experience-monitoring_percentiles'
    digital-experience-monitoring_rtt_stats:
      description: Round-trip time statistics for the WARP tunnel.
      type: object
      properties:
        minRttUs:
          description: Minimum round-trip time in microseconds.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        rttUs:
          description: Round-trip time in microseconds.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
        rttVarUs:
          description: Round-trip time variance in microseconds.
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_directional_stat'
    digital-experience-monitoring_colo:
      description: Cloudflare colo airport code.
      type: string
      example: SJC
    digital-experience-monitoring_uuid:
      description: API Resource UUID tag.
      type: string
      example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
      maxLength: 36
    digital-experience-monitoring_status:
      description: Network status.
      type: string
      example: connected
    digital-experience-monitoring_device-dex-test-schemas-enabled:
      description: Determines whether or not the test is active.
      type: boolean
      example: true
    digital-experience-monitoring_traceroute_details_response:
      type: object
      properties:
        host:
          description: The host of the Traceroute synthetic application test.
          type: string
          example: 1.1.1.1
        interval:
          description: The interval at which the Traceroute synthetic application test is set to run.
          type: string
          example: 0h5m0s
        kind:
          type: string
          enum:
          - traceroute
        name:
          description: The name of the Traceroute synthetic application test.
          type: string
          example: Atlassian Sign In Page
        target_policies:
          type:
          - array
          - 'null'
          items:
            properties:
              default:
                description: Whether the policy is the default for the account.
                type: boolean
              id:
                $ref: '#/components/schemas/digital-experience-monitoring_uuid'
              name:
                type: string
            required:
            - id
            - name
            - default
            type: object
        targeted:
          type: boolean
        tracerouteStats:
          type:
          - object
          - 'null'
          properties:
            availabilityPct:
              $ref: '#/components/schemas/digital-experience-monitoring_test_stat_pct_over_time'
            hopsCount:
              $ref: '#/components/schemas/digital-experience-monitoring_test_stat_over_time'
            packetLossPct:
              $ref: '#/components/schemas/digital-experience-monitoring_test_stat_pct_over_time'
            roundTripTimeMs:
              $ref: '#/components/schemas/digital-experience-monitoring_test_stat_over_time'
            uniqueDevicesTotal:
              description: Count of unique devices that have run this test in the given time period.
              type: integer
              example: 57
          required:
          - uniqueDevicesTotal
          - roundTripTimeMs
          - hopsCount
          - packetLossPct
          - availabilityPct
        tracerouteStatsByColo:
          type: array
          items:
            properties:
              availabilityPct:
                $ref: '#/components/schemas/digital-experience-monitoring_test_stat_pct_over_time'
              colo:
                type: string
                example: DFW
              hopsCount:
                $ref: '#/components/schemas/digital-experience-monitoring_test_stat_over_time'
              packetLossPct:
                $ref: '#/components/schemas/digital-experience-monitoring_test_stat_pct_over_time'
              roundTripTimeMs:
                $ref: '#/components/schemas/digital-experience-monitoring_test_stat_over_time'
              uniqueDevicesTotal:
                description: Count of unique devices that have run this test in the given time period.
                type: integer
                example: 57
            required:
            - colo
            - uniqueDevicesTotal
            - roundTripTimeMs
            - hopsCount
            - packetLossPct
            - availabilityPct
            type: object
      required:
      - kind
      - name
      - host
      - interval
    digital-experience-monitoring_timeslot_tunnel_stats:
      type: object
      properties:
        timestamp:
          description: Timestamp of the time slot.
          type: string
          example: '2023-07-16 15:00:00+00'
        value:
          description: WARP tunnel packet and byte counters measured within the stats window for the time slot.
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_tunnel_stats'
      required:
      - timestamp
      - value
    digital-experience-monitoring_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    digital-experience-monitoring_since_minutes:
      description: Number of minutes before current time.
      type: number
      example: 10
      default: 10
      maximum: 60
      minimum: 1
    digital-experience-monitoring_personEmail:
      description: User contact email address
      type: string
    digital-experience-monitoring_cpu_pct_by_app:
      type: object
      properties:
        cpu_pct:
          description: CPU usage percentage, on a scale of 0 to 100.
          type:
          - number
          - 'null'
          format: float
          maximum: 100
          minimum: 0
        name:
          description: Application name.
          type:
          - string
          - 'null'
    digital-experience-monitoring_aggregate_time_slot:
      type: object
      properties:
        avgMs:
          type: integer
        timestamp:
          type: string
      required:
      - timestamp
      - avgMs
    digital-experience-monitoring_fleet_status_live_response:
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-single'
      - properties:
          result:
            type: object
            properties:
              deviceStats:
                type: object
                properties:
                  byColo:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/digital-experience-monitoring_live_stat'
                  byMode:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/digital-experience-monitoring_live_stat'
                  byPlatform:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/digital-experience-monitoring_live_stat'
                  byStatus:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/digital-experience-monitoring_live_stat'
                  byVersion:
                    type:
                    - array
                    - 'null'
                    items:
                      $ref: '#/components/schemas/digital-experience-monitoring_live_stat'
                  uniqueDevicesTotal:
                    $ref: '#/components/schemas/digital-experience-monitoring_uniqueDevicesTotal'
        type: object
    digital-experience-monitoring_schemas-test-id:
      description: The unique identifier for the test.
      type: string
      example: 372e67954025e0ba6aaa6d586b9e0b59
      maxLength: 32
      readOnly: true
    digital-experience-monitoring_tests_response:
      type: object
      properties:
        overviewMetrics:
          type: object
          properties:
            avgHttpAvailabilityPct:
              description: percentage availability for all HTTP test results in response.
              type:
              - number
              - 'null'
              format: float
            avgTracerouteAvailabilityPct:
              description: percentage availability for all traceroutes results in response.
              type:
              - number
              - 'null'
              format: float
            testsTotal:
              description: number of tests.
              type: integer
          required:
          - testsTotal
        tests:
          description: array of test results objects.
          type: array
          items:
            properties:
              created:
                description: date the test was created.
                type: string
              description:
                description: the test description defined during configuration
                type: string
              enabled:
                description: if true, then the test will run on targeted devices. Else, the test will not run.
                type: boolean
              host:
                type: string
              httpResults:
                type:
                - object
                - 'null'
                properties:
                  resourceFetchTime:
                    $ref: '#/components/schemas/digital-experience-monitoring_timing_aggregates'
                required:
                - resourceFetchTime
              httpResultsByColo:
                type: array
                items:
                  properties:
                    colo:
                      description: Cloudflare colo
                      type: string
                      example: SJC
                    resourceFetchTime:
                      $ref: '#/components/schemas/digital-experience-monitoring_timing_aggregates'
                  required:
                  - colo
                  - resourceFetchTime
                  type: object
              id:
                $ref: '#/components/schemas/digital-experience-monitoring_uuid'
              interval:
                description: The interval at which the synthetic application test is set to run.
                type: string
              kind:
                description: test type, http or traceroute
                type: string
                enum:
                - http
                - traceroute
              method:
                description: for HTTP, the method to use when running the test
                type: string
              name:
                description: name given to this test
                type: string
              target_policies:
                type:
                - array
                - 'null'
                items:
                  properties:
                    default:
                      description: Whether the policy is the default for the account
                      type: boolean
                    id:
                      $ref: '#/components/schemas/digital-experience-monitoring_uuid'
                    name:
                      type: string
                  required:
                  - id
                  - name
                  - default
                  type: object
              targeted:
                type: boolean
              tracerouteResults:
                type:
                - object
                - 'null'
                properties:
                  roundTripTime:
                    $ref: '#/components/schemas/digital-experience-monitoring_timing_aggregates'
                required:
                - roundTripTime
              tracerouteResultsByColo:
                type: array
                items:
                  properties:
                    colo:
                      description: Cloudflare colo
                      type: string
                      example: SJC
                    roundTripTime:
                      $ref: '#/components/schemas/digital-experience-monitoring_timing_aggregates'
                  required:
                  - colo
                  - roundTripTime
                  type: object
              updated:
                type: string
            required:
            - id
            - name
            - kind
            - interval
            - enabled
            - description
            - updated
            - created
            - host
            type: object
      required:
      - overviewMetrics
      - tests
    digital-experience-monitoring_time_now:
      description: Current time. Timestamp can be provided in ISO 8601 datetime format or milliseconds since epoch.
      type: string
      example: '2023-10-11T00:00:00Z'
    digital-experience-monitoring_timeslot_string:
      type: object
      properties:
        timestamp:
          description: Timestamp of the time slot.
          type: string
          example: '2023-07-16 15:00:00+00'
        value:
          description: String metric value for the time slot.
          type: string
      required:
      - timestamp
      - value
    digital-experience-monitoring_schemas-aggregate_stat:
      type: object
      properties:
        timestamp:
          $ref: '#/components/schemas/digital-experience-monitoring_timestamp'
        uniqueDevicesTotal:
          $ref: '#/components/schemas/digital-experience-monitoring_uniqueDevicesTotal'
        value:
          type: string
    digital-experience-monitoring_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/digital-experience-monitoring_messages'
        messages:
          $ref: '#/components/schemas/digital-experience-monitoring_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    digital-experience-monitoring_timeslot_int:
      type: object
      properties:
        timestamp:
          description: Timestamp of the time slot.
          type: string
          example: '2023-07-16 15:00:00+00'
        value:
          description: Integer metric value for the time slot.
          type: integer
      required:
      - timestamp
      - value
    digital-experience-monitoring_aggregate_stat:
      type: object
      properties:
        avgMs:
          type:
          - integer
          - 'null'
        deltaPct:
          type:
          - number
          - 'null'
          format: float
        timePeriod:
          $ref: '#/components/schemas/digital-experience-monitoring_aggregate_time_period'
      required:
      - timePeriod
    digital-experience-monitoring_source:
      description: Specifies fleet status details source.
      type: string
      example: last_seen
      default: last_seen
      enum:
      - last_seen
      - hourly
      - raw
    digital-experience-monitoring_timeslot_ram_apps:
      type: object
      properties:
        timestamp:
          description: Timestamp of the time slot.
          type: string
          example: '2023-07-16 15:00:00+00'
        value:
          description: Top RAM-consuming applications for the time slot.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_ram_used_pct_by_app'
      required:
      - timestamp
      - value
    digital-experience-monitoring_page:
      description: Page number of paginated results.
      type: number
      example: 1
      default: 1
      minimum: 1
    digital-experience-monitoring_per_page:
      description: Number of results per page.
      type: number
      example: 10
      maximum: 50
      minimum: 1
    digital-experience-monitoring_device-dex-test-schemas-name:
      description: The name of the DEX test. Must be unique.
      type: string
      example: HTTP dash health check
    digital-experience-monitoring_ram_used_pct_by_app:
      type: object
      properties:
        name:
          description: Application name.
          type:
          - string
          - 'null'
        ram_used_pct:
          description: RAM usage percentage, on a scale of 0 to 100.
          type:
          - number
          - 'null'
          format: float
          maximum: 100
          minimum: 0
    digital-experience-monitoring_unique_devices_response:
      type: object
      properties:
        uniqueDevicesTotal:
          description: total number of unique devices
          type: integer
      required:
      - uniqueDevicesTotal
    digital-experience-monitoring_device-dex-test-schemas-http:
      type: object
      properties:
        created:
          description: Date the test was created, in RFC 3339 format.
          type: string
          format: date-time
          example: '2023-10-11T00:00:00Z'
          readOnly: true
          x-stainless-terraform-configurability: computed
        data:
          $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-data'
        description:
          $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-description'
        enabled:
          $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-enabled'
        interval:
          $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-interval'
        name:
          $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-schemas-name'
        target_policies:
          allOf:
          - $ref: '#/components/schemas/digital-experience-monitoring_device-dex-test-target-policies'
          x-stainless-terraform-configurability: computed_optional
        targeted:
          type: boolean
          x-stainless-terraform-configurability: computed
        test_id:
          $ref: '#/components/schemas/digital-experience-monitoring_schemas-test-id'
        updated:
          description: Date the test was last updated, in RFC 3339 format.
          type: string
          format: date-time
          example: '2023-10-11T00:00:00Z'
          readOnly: true
          x-stainless-terraform-configurability: computed
      required:
      - name
      - interval
      - enabled
      - data
    digital-experience-monitoring_timeslot_cpu_apps:
      type: object
      properties:
        timestamp:
          description: Timestamp of the time slot.
          type: string
          example: '2023-07-16 15:00:00+00'
        value:
          description: Top CPU-consuming applications for the time slot.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_cpu_pct_by_app'
      required:
      - timestamp
      - value
    digital-experience-monitoring_api-response-collection-common:
      type: object
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-common'
      - properties:
          result:
            type:
            - array
            - 'null'
            items:
              type: object
        type: object
    digital-experience-monitoring_version:
      description: WARP client version.
      type: string
      example: 1.0.0
    digital-experience-monitoring_percentiles:
      type: object
      properties:
        p50:
          description: p50 observed in the time period.
          type:
          - number
          - 'null'
        p90:
          description: p90 observed in the time period.
          type:
          - number
          - 'null'
        p95:
          description: p95 observed in the time period.
          type:
          - number
          - 'null'
        p99:
          description: p99 observed in the time period.
          type:
          - number
          - 'null'
    digital-experience-monitoring_device_state_over_time:
      description: Time-bucketed device metrics.
      type: object
      properties:
        battery_cycles:
          description: Battery cycle count over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_int'
        battery_pct:
          description: Battery percentage over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_float'
        connection_type:
          description: Connection type over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_string'
        cpu_pct:
          description: CPU usage percentage over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_float'
        disk_read_bps:
          description: Disk read throughput in bytes per second over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_int'
        disk_usage_pct:
          description: Disk usage percentage over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_float'
        disk_write_bps:
          description: Disk write throughput in bytes per second over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_int'
        mode:
          description: WARP mode over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_string'
        network_rcvd_bps:
          description: Network bytes received per second over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_int'
        network_sent_bps:
          description: Network bytes sent per second over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_int'
        network_ssid:
          description: Network SSID over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_string'
        ram_available_kb:
          description: Available RAM in kilobytes over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_int'
        ram_used_pct:
          description: RAM usage percentage over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_float'
        rtt:
          description: Round-trip time stats over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_rtt_stats'
        status:
          description: Device status over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_string'
        top_cpu_applications:
          description: Top CPU-consuming applications over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_cpu_apps'
        top_ram_applications:
          description: Top RAM-consuming applications over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_ram_apps'
        tunnel_stats:
          description: Tunnel stats over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_tunnel_stats'
        tunnel_type:
          description: Tunnel type over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_string'
        unique_networks:
          description: Unique network count over time.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_int'
        wifi_strength_dbm:
          description: Wi-Fi signal strength over time in dBm.
          type: array
          items:
            $ref: '#/components/schemas/digital-experience-monitoring_timeslot_int'
    digital-experience-monitoring_timeslot_float:
      type: object
      properties:
        timestamp:
          description: Timestamp of the time slot.
          type: string
          example: '2023-07-16 15:00:00+00'
        value:
          description: Float metric value for the time slot.
          type: number
          format: float
      required:
      - timestamp
      - value
    digital-experience-monitoring_sort_by:
      description: Dimension to sort results by.
      type: string
      default: timestamp
      enum:
      - colo
      - device_id
      - mode
      - platform
      - status
      - timestamp
      - version
    digital-experience-monitoring_device-dex-test-schemas-data:
      description: The configuration object which contains the details for the WARP client to conduct the test.
      type: object
      properties:
        host:
          description: The desired endpoint to test.
          type: string
          example: https://dash.cloudflare.com
          x-auditable: true
        kind:
          description: The type of test.
          type: string
          example: http
          enum:
          - http
          - traceroute
          x-auditable: true
        method:
          description: The HTTP request method type.
          type: string
          example: GET
          enum:
          - GET
          x-auditable: true
      example:
        host: https://dash.cloudflare.com
        kind: http
        method: GET
      required:
      - kind
      - host
    digital-experience-monitoring_device-dex-test-target-policies:
      description: DEX rules targeted by this test
      type: array
      items:
        $ref: '#/components/schemas/digital-experience-monitoring_dex_target_policy'
    digital-experience-monitoring_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/digital-experience-monitoring_api-response-common'
    digital-experience-monitoring_account_identifier:
      description: Unique identifier linked to an account.
      type: string
      example: 01a7362d577a6c3019a474fd6f485823
      maxLength: 32
      readOnly: true
    digital-experience-monitoring_device_isp:
      type: object
      properties:
        ip:
          $ref: '#/components/schemas/digital-experience-monitoring_ip_info'
        test_id:
          description: The test that generated this result.
          type: string
          example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
        test_result_id:
          description: The specific test result.
          type: string
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        time_start:
          description: Timestamp of when the ISP was observed.
          type: string
          format: date-time
          example: '2024-06-01T12:00:00Z'
      required:
      - time_start
      - test_id
      - test_result_id
    digital-experience-monitoring_ip_location:
      description: 'Geographic location information. All fields are returned as the literal string `"REDACTED"` for callers that do not have the PII permission.

        '
      type: object
      properties:
        city:
          description: City name. Returned as `"REDACTED"` without PII permission.
          type: string
          example: San Francisco
        country_iso:
          description: Country ISO code. Returned as `"REDACTED"` without PII permission.
          type: string
          example: US
        state_iso:
          description: State/province ISO code. Returned as `"REDACTED"` without PII permission.
          type: string
          example: CA
        zip:
          description: ZIP/postal code. Returned as `"REDACTED"` without PII permission.
          type: string
          example: '94107'
    digital-experience-monitoring_traceroute_test_network_path_response:
      type: object
      properties:
        deviceName:
          description: Name of the device that ran the test.
          type: string
        id:
          $ref: '#/components/schemas/digital-experience-monitoring_uuid'
        interval:
          description: The interval at which the Traceroute synthetic application test is set to run.
          type: string
          example: 0h5m0s
        kind:
          type: string
          enum:
          - traceroute
        name:
          type: string
        networkPath:
          type:
          - object
          - 'null'
          properties:
            sampling:
[...]
