openapi: 3.2.0
info:
  title: Cloudflare DNS DNS Record Scanning API
  description: The Cloudflare DNS API allows developers to programmatically manage DNS records for their zones, including creating, listing, updating, and deleting records. It also supports batch operations, DNS record scanning, BIND config import and export, DNSSEC configuration, and DNS analytics.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: DNS Record Scanning
  description: Scan for common DNS records on a domain and review discovered records.
paths:
  /zones/{zone_id}/dns_records/scan/trigger:
    post:
      operationId: triggerDnsRecordScan
      summary: Cloudflare Trigger Dns Record Scan
      description: Initiate an asynchronous scan for common DNS records on the domain. The scan runs in the background and results can be reviewed using the scan review endpoints.
      tags:
      - DNS Record Scanning
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      responses:
        '200':
          description: Scan triggered successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /zones/{zone_id}/dns_records/scan/review:
    get:
      operationId: listScannedDnsRecords
      summary: Cloudflare List Scanned Dns Records
      description: Retrieve the DNS records discovered by the most recent scan for review before adding them to the zone.
      tags:
      - DNS Record Scanning
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      responses:
        '200':
          description: List of scanned DNS records.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: reviewScannedDnsRecords
      summary: Cloudflare Accept Scanned Dns Records
      description: Review and accept scanned DNS records to add them to the zone.
      tags:
      - DNS Record Scanning
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      responses:
        '200':
          description: Scanned records accepted.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ZoneId:
      name: zone_id
      in: path
      required: true
      description: The unique identifier of the zone.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication. Generate a token from the Cloudflare dashboard with appropriate permissions.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Auth-Key
      description: Global API key paired with X-Auth-Email header for authentication.
externalDocs:
  description: Cloudflare DNS API Documentation
  url: https://developers.cloudflare.com/api/resources/dns/
