openapi: 3.0.3
info:
  title: Cloudflare / Accounts AI Inference API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: AI Inference
  description: Execute AI models for text generation, embeddings, image classification, and other machine learning tasks.
paths:
  /accounts/{account_id}/ai/run/{model}:
    post:
      operationId: executeAiModel
      summary: Cloudflare Execute Ai Model
      description: Run an AI model on Cloudflare's global network. The model parameter specifies which model to invoke from the Workers AI catalog. Supports text generation, text-to-image, image classification, speech-to-text, translation, summarization, and embedding models.
      tags:
      - AI Inference
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: model
        in: path
        required: true
        description: The model identifier to execute, e.g. @cf/meta/llama-3.1-8b-instruct.
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiRunRequest'
            examples:
              ExecuteaimodelRequestExample:
                summary: Default executeAiModel request
                x-microcks-default: true
                value:
                  prompt: example_value
                  messages:
                  - role: system
                    content: example_value
                  image:
                  - 10
                  text: example_value
                  source_lang: example_value
                  target_lang: example_value
                  max_tokens: 10
                  temperature: 42.5
                  stream: true
      responses:
        '200':
          description: Model executed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiRunResponse'
              examples:
                Executeaimodel200Example:
                  summary: Default executeAiModel 200 response
                  x-microcks-default: true
                  value:
                    result:
                      response: example_value
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '400':
          description: Bad request due to invalid input.
        '401':
          description: Unauthorized.
        '404':
          description: Model not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AiRunRequest:
      type: object
      properties:
        prompt:
          type: string
          description: The input prompt for text generation models.
          example: example_value
        messages:
          type: array
          description: Array of messages for chat-style models.
          items:
            type: object
            properties:
              role:
                type: string
                enum:
                - system
                - user
                - assistant
              content:
                type: string
          example: []
        image:
          type: array
          items:
            type: integer
          description: Raw image bytes for image classification models.
          example: []
        text:
          type: string
          description: Text input for embedding or translation models.
          example: example_value
        source_lang:
          type: string
          description: Source language code for translation.
          example: example_value
        target_lang:
          type: string
          description: Target language code for translation.
          example: example_value
        max_tokens:
          type: integer
          description: Maximum number of tokens to generate.
          example: 10
        temperature:
          type: number
          description: Sampling temperature.
          example: 42.5
        stream:
          type: boolean
          description: Whether to stream the response using server-sent events.
          example: true
    AiRunResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            response:
              type: string
              description: The generated text response.
          example: example_value
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
