openapi: 3.2.0
info:
  title: Cloudflare DNS DNSSEC API
  description: The Cloudflare DNS API allows developers to programmatically manage DNS records for their zones, including creating, listing, updating, and deleting records. It also supports batch operations, DNS record scanning, BIND config import and export, DNSSEC configuration, and DNS analytics.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: DNSSEC
  description: Manage DNSSEC settings for a zone to protect against DNS spoofing.
paths:
  /zones/{zone_id}/dnssec:
    get:
      operationId: getDnssecSettings
      summary: Cloudflare Get Dnssec Settings
      description: Retrieve the current DNSSEC settings for the zone including status, algorithm, digest, and DS record details.
      tags:
      - DNSSEC
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      responses:
        '200':
          description: DNSSEC settings retrieved successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateDnssecSettings
      summary: Cloudflare Update Dnssec Settings
      description: Update DNSSEC configuration for the zone such as enabling or disabling DNSSEC.
      tags:
      - DNSSEC
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - active
                  - disabled
                  description: Desired DNSSEC status.
            examples:
              UpdatednssecsettingsRequestExample:
                summary: Default updateDnssecSettings request
                x-microcks-default: true
                value:
                  status: active
      responses:
        '200':
          description: DNSSEC settings updated successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteDnssecSettings
      summary: Cloudflare Delete Dnssec Settings
      description: Remove DNSSEC configuration from the zone.
      tags:
      - DNSSEC
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      responses:
        '200':
          description: DNSSEC settings deleted successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ZoneId:
      name: zone_id
      in: path
      required: true
      description: The unique identifier of the zone.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication. Generate a token from the Cloudflare dashboard with appropriate permissions.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Auth-Key
      description: Global API key paired with X-Auth-Email header for authentication.
externalDocs:
  description: Cloudflare DNS API Documentation
  url: https://developers.cloudflare.com/api/resources/dns/
