openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Brand Protection API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Brand Protection
paths:
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/matches:
    get:
      operationId: get_DomainMatchList
      summary: List saved query matches
      description: Get paginated list of domain matches for one or more brand protection queries. When multiple query_ids are provided (comma-separated), matches are deduplicated across queries and each match includes a match_details array with per-match query metadata and individual dismissed state.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: offset
        in: query
        schema:
          type: string
          default: '0'
      - name: limit
        in: query
        schema:
          type: string
          default: '50'
      - name: query_id
        in: query
        required: true
        schema:
          description: Query ID or comma-separated list of Query IDs. When multiple IDs are provided, matches are deduplicated across queries and each match includes a match_details array with per-match query metadata and dismissed state.
          type: array
          items:
            type: string
      - name: include_domain_id
        in: query
        schema:
          type: string
          default: 'false'
      - name: include_dismissed
        in: query
        schema:
          type: string
      - name: domain_search
        in: query
        schema:
          description: Filter matches by domain name (substring match)
          type: string
      - name: orderBy
        in: query
        schema:
          description: 'Column to sort by. Options: ''domain'', ''first_seen'', or ''registrar'''
          type: string
          enum:
          - domain
          - first_seen
          - registrar
      - name: order
        in: query
        schema:
          description: 'Sort order. Options: ''asc'' (ascending) or ''desc'' (descending)'
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Successfully retrieved query matches
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      properties:
                        dismissed:
                          description: Whether the match is dismissed. Only present for single-query requests. For multi-query requests, use the dismissed field in each match_details entry.
                          type: boolean
                        domain:
                          type: string
                        first_seen:
                          type: string
                        match_details:
                          description: Per-match detail objects with query metadata and individual dismissed state. Only present when multiple query_ids are requested.
                          type: array
                          items:
                            properties:
                              dismissed:
                                description: Individual dismissed state for this specific match.
                                type: boolean
                              match_id:
                                type: integer
                              query_id:
                                type: integer
                              query_tag:
                                description: Tag associated with the query, if one exists.
                                type:
                                - string
                                - 'null'
                            required:
                            - query_id
                            - query_tag
                            - match_id
                            - dismissed
                            type: object
                        public_scans:
                          type:
                          - object
                          - 'null'
                          properties:
                            submission_id:
                              type: string
                          required:
                          - submission_id
                        registrar:
                          type:
                          - string
                          - 'null'
                        scan_status:
                          type: string
                        scan_submission_id:
                          type:
                          - integer
                          - 'null'
                        source:
                          type:
                          - string
                          - 'null'
                      required:
                      - domain
                      - first_seen
                      - public_scans
                      - scan_status
                      - scan_submission_id
                      - source
                      - registrar
                      type: object
                  total:
                    type: integer
                    minimum: 0
                required:
                - matches
                - total
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.matches
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/matches/bulk-dismiss:
    post:
      operationId: post_BulkDismissMatches
      summary: Bulk dismiss or undismiss matches
      description: 'Dismiss or undismiss multiple matches in a single request. Accepts either the new format (matches: [{query_id, domain_id}]) for per-query control, or the legacy format (match_ids: [number]) which dismisses for all queries sharing each match''s hash. Returns per-item success/error results.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - dismiss
                  - undismiss
                match_ids:
                  type: array
                  items:
                    type: integer
                    exclusiveMinimum: 0
                  maxItems: 100
                  minItems: 1
                matches:
                  type: array
                  items:
                    properties:
                      domain_id:
                        type: integer
                        exclusiveMinimum: 0
                      query_id:
                        type: integer
                        exclusiveMinimum: 0
                    required:
                    - query_id
                    - domain_id
                    type: object
                  maxItems: 100
                  minItems: 1
              required:
              - action
      responses:
        '200':
          description: Bulk dismiss/undismiss results
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    result:
                      type: object
                      properties:
                        results:
                          type: array
                          items:
                            properties:
                              domain_id:
                                type: integer
                              error:
                                type: string
                              query_id:
                                type: integer
                              success:
                                type: boolean
                            required:
                            - query_id
                            - domain_id
                            - success
                            type: object
                      required:
                      - results
                    success:
                      type: boolean
                  required:
                  - success
                  - result
                  type: object
                - properties:
                    result:
                      type: object
                      properties:
                        results:
                          type: array
                          items:
                            properties:
                              error:
                                type: string
                              match_id:
                                type: integer
                              success:
                                type: boolean
                            required:
                            - match_id
                            - success
                            type: object
                      required:
                      - results
                    success:
                      type: boolean
                  required:
                  - success
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.matches
      x-fern-sdk-method-name: bulk-dismiss
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/queries:
    get:
      operationId: get_GetDomainQueries
      summary: Get queries
      description: Get all saved brand protection queries for an account
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: id
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          description: Optional page number for paginated list requests. Defaults to 1 when only per_page is supplied. Omit page and per_page to preserve the legacy full-list response.
          type: integer
          maximum: 1000000
          exclusiveMinimum: 0
      - name: per_page
        in: query
        schema:
          description: Optional number of queries per page for paginated list requests. Defaults to 100 when only page is supplied. Maximum 100. Omit page and per_page to preserve the legacy full-list response.
          type: integer
          maximum: 100
          exclusiveMinimum: 0
      responses:
        '200':
          description: Successfully retrieved queries
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          anyOf:
                          - type: string
                          - type: number
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        code:
                          anyOf:
                          - type: string
                          - type: number
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    anyOf:
                    - items:
                        properties:
                          created:
                            type: string
                          parameters:
                            required:
                            - string_matches
                            properties:
                              max_time:
                                type: string
                              min_time:
                                type: string
                              string_matches:
                                type: array
                                items:
                                  properties:
                                    pattern:
                                      type: string
                                      maxLength: 200
                                      minLength: 1
                                  required:
                                  - pattern
                                  type: object
                            type:
                            - object
                            - 'null'
                          query_id:
                            type: integer
                          query_tag:
                            type: string
                          scan:
                            type: boolean
                          updated:
                            type: string
                        required:
                        - query_id
                        - query_tag
                        - scan
                        - parameters
                        - created
                        - updated
                        type: object
                      type: array
                    - properties:
                        created:
                          type: string
                        parameters:
                          required:
                          - string_matches
                          properties:
                            max_time:
                              type: string
                            min_time:
                              type: string
                            string_matches:
                              type: array
                              items:
                                properties:
                                  pattern:
                                    type: string
                                    maxLength: 200
                                    minLength: 1
                                required:
                                - pattern
                                type: object
                          type:
                          - object
                          - 'null'
                        query_id:
                          type: integer
                        query_tag:
                          type: string
                        scan:
                          type: boolean
                        updated:
                          type: string
                      required:
                      - query_id
                      - query_tag
                      - scan
                      - parameters
                      - created
                      - updated
                      type: object
                  result_info:
                    description: Present on paginated list responses when page or per_page is supplied.
                    type: object
                    properties:
                      count:
                        type: integer
                        minimum: 0
                      page:
                        type: integer
                        exclusiveMinimum: 0
                      per_page:
                        type: integer
                        exclusiveMinimum: 0
                      total_count:
                        type: integer
                        minimum: 0
                    required:
                    - count
                    - page
                    - per_page
                    - total_count
                  success:
                    type: boolean
                required:
                - success
                - result
                - errors
                - messages
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.queries
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    post:
      operationId: post_InsertDomainQuery
      summary: Insert query
      description: Create a new saved brand protection query with string match patterns
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                max_time:
                  type: string
                min_time:
                  type: string
                scan:
                  type: boolean
                scan_matches:
                  type: boolean
                search_lookback:
                  description: If true, search recent domain lookback entries for matches
                  type: boolean
                  default: true
                string_matches:
                  type: array
                  items:
                    properties:
                      pattern:
                        type: string
                        maxLength: 200
                        minLength: 1
                    required:
                    - pattern
                    type: object
                  maxItems: 100
                  minItems: 1
                tag:
                  type: string
                  minLength: 1
              required:
              - tag
              - string_matches
      responses:
        '200':
          description: Query inserted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  query_id:
                    type: integer
                  success:
                    type: boolean
                required:
                - success
                - message
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.domain-queries
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/queries/{query_id}:
    delete:
      operationId: delete_DeleteDomainQuery
      summary: Delete domain query
      description: Delete a saved brand protection domain query from the account_queries table. This operation will remove the query from the durable object database. Returns 404 if the query ID doesn't exist.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: query_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Domain query deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
                required:
                - success
                - message
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.domain-queries
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    patch:
      operationId: patch_UpdateDomainQuery
      summary: Update domain query
      description: Update a saved brand protection domain query with string match patterns
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: query_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                max_time:
                  type: string
                min_time:
                  type: string
                scan:
                  type: boolean
                scan_matches:
                  type: boolean
                search_lookback:
                  description: If true, search recent domain lookback entries for matches
                  type: boolean
                  default: true
                string_matches:
                  type: array
                  items:
                    properties:
                      pattern:
                        type: string
                        maxLength: 200
                        minLength: 1
                    required:
                    - pattern
                    type: object
                  maxItems: 100
                  minItems: 1
                tag:
                  type: string
                  minLength: 1
              required:
              - tag
              - string_matches
      responses:
        '200':
          description: Domain query updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  query_id:
                    type: integer
                  success:
                    type: boolean
                required:
                - success
                - message
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.domain-queries
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/trial:
    post:
      operationId: post_DomainTrial
      summary: Analyze domains for brand impersonation
      description: Uses AI to scan all domains in the lookback table and identify potential phishing or impersonation attempts against the given brand string.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                brand:
                  type: string
                  maxLength: 200
                  minLength: 1
                  pattern: ^[\w\s.-]+$
              required:
              - brand
      responses:
        '200':
          description: Domain analysis results
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      properties:
                        confidence:
                          type: number
                          maximum: 1
                          minimum: 0
                        domain:
                          type: string
                        domain_id:
                          type: integer
                          minimum: 0
                        first_seen:
                          type: string
                          format: date-time
                        reason:
                          type: string
                          maxLength: 500
                      required:
                      - domain
                      - domain_id
                      - first_seen
                      - confidence
                      - reason
                      type: object
                  total_analyzed:
                    type: number
                  total_matches:
                    type: number
                  truncated:
                    type: boolean
                required:
                - matches
                - total_analyzed
                - total_matches
                - truncated
        '403':
          description: Brand is not a zone belonging to this account
        '502':
          description: Zone ownership check failed (upstream error)
        '503':
          description: Zone ownership check is not configured
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.trial
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/letter/generate:
    post:
      operationId: post_LetterGenerate
      summary: Generate takedown letter
      description: Generate a takedown letter from a template. Returns V4 JSON for text format or a PDF binary for pdf format.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                createNotice:
                  type: boolean
                  default: false
                fields:
                  type: object
                  properties:
                    discoveryDate:
                      type: string
                      pattern: ^\d{4}-\d{2}-\d{2}$
                    domain:
                      type: string
                      maxLength: 500
                    generationDate:
                      type: string
                      pattern: ^\d{4}-\d{2}-\d{2}$
                    jurisdiction:
                      type: string
                      maxLength: 500
                    registrantEmail:
                      type: string
                      maxLength: 500
                    registrar:
                      type: string
                      maxLength: 500
                    registrarEmail:
                      type: string
                      maxLength: 500
                    resolutionByDate:
                      type: string
                      pattern: ^\d{4}-\d{2}-\d{2}$
                    senderCompany:
                      type: string
                      maxLength: 500
                    senderEmail:
                      type: string
                      maxLength: 500
                    senderName:
                      type: string
                      maxLength: 500
                    senderTitle:
                      type: string
                      maxLength: 500
                    trademarkName:
                      type: string
                      maxLength: 500
                    trademarkNumber:
                      type: string
                      maxLength: 500
                    trademarkOwner:
                      type: string
                      maxLength: 500
                format:
                  type: string
                  default: text
                  enum:
                  - text
                  - pdf
                noticeParams:
                  type: object
                  properties:
                    domain:
                      type: string
                      maxLength: 253
                      minLength: 1
                    queryId:
                      type: integer
                      exclusiveMinimum: 0
                    status:
                      type: string
                      default: sent
                      enum:
                      - draft
                      - sent
                      - resolved
                      - expired
                  required:
                  - domain
                templateId:
                  type: string
                  minLength: 1
              required:
              - templateId
              - fields
      responses:
        '200':
          description: 'Letter generated successfully. When format=text, returns V4 JSON with { result: { letter: string } }. When format=pdf, returns binary with Content-Type: application/pdf.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  letter:
                    type: string
                  letterId:
                    type: integer
                    exclusiveMinimum: 0
                  notice:
                    type: object
                    properties:
                      createdAt:
                        type:
                        - string
                        - 'null'
                      domain:
                        type: string
                      id:
                        type: number
                      matchId:
                        type:
                        - number
                        - 'null'
                      matchType:
                        type:
                        - string
                        - 'null'
                        enum:
                        - logo
                        - domain
                      queryId:
                        type:
                        - number
                        - 'null'
                      status:
                        type: string
                        enum:
                        - draft
                        - sent
                        - resolved
                        - expired
                      updatedAt:
                        type:
                        - string
                        - 'null'
                    required:
                    - id
                    - domain
                    - queryId
                    - status
                    - matchId
                    - matchType
                    - createdAt
                    - updatedAt
                required:
                - letter
            application/pdf:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-letters
      x-fern-sdk-method-name: generate
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/letter/templates:
    get:
      operationId: get_LetterTemplateList
      summary: List letter templates
      description: List user-defined takedown letter templates. System example templates are available via the /templates/examples endpoint.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Templates listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      properties:
                        category:
                          type: string
                        createdAt:
                          type:
                          - string
                          - 'null'
                        description:
                          type:
                          - string
                          - 'null'
                        id:
                          type: string
                        name:
                          type: string
                        source:
                          type: string
                          enum:
                          - system
                          - user
                        updatedAt:
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                      - source
                      - name
                      - category
                      - description
                      - createdAt
                      - updatedAt
                      type: object
                required:
                - templates
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.letter-templates
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: post_LetterTemplateCreate
      summary: Create letter template
      description: Create a new user-defined takedown letter template
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  minLength: 1
                category:
                  type: string
                  maxLength: 100
                  minLength: 1
                description:
                  type: string
                  maxLength: 1000
                name:
                  type: string
                  maxLength: 255
                  minLength: 1
              required:
              - name
              - category
              - body
      responses:
        '200':
          description: Template created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: string
                  category:
                    type: string
                  createdAt:
                    type:
                    - string
                    - 'null'
                  description:
                    type:
                    - string
                    - 'null'
                  id:
                    type: string
                  name:
                    type: string
                  source:
                    type: string
                    enum:
                    - system
                    - user
                  updatedAt:
                    type:
                    - string
                    - 'null'
                required:
                - id
                - source
                - name
                - category
                - description
                - body
                - createdAt
                - updatedAt
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.letter-templates
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/letter/templates/examples:
    get:
      operationId: get_LetterTemplateExamples
      summary: List example letter templates
      description: List system-provided example templates that can be used as starting points when creating custom templates. These templates cannot be used directly for letter generation.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Example templates listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      properties:
                        body:
                          type: string
                        category:
                          type: string
                        createdAt:
                          type:
                          - string
                          - 'null'
                        description:
                          type:
                          - string
                          - 'null'
                        id:
                          type: string
                        name:
                          type: string
                        source:
                          type: string
                          enum:
                          - system
                          - user
                        updatedAt:
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                      - source
                      - name
                      - category
                      - description
                      - body
                      - createdAt
                      - updatedAt
                      type: object
                required:
                - templates
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.letter-templates
      x-fern-sdk-method-name: examples
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/letter/templates/{template_id}:
    delete:
      operationId: delete_LetterTemplateDelete
      summary: Delete letter template
      description: Delete a user-defined takedown letter template. System templates cannot be deleted.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
                required:
                - success
                - message
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.letter-templates
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: get_LetterTemplateGet
      summary: Get letter template
      description: Get a specific user-defined takedown letter template by ID. System example templates are available via the /templates/examples endpoint.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Template retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: string
                  category:
                    type: string
                  createdAt:
                    type:
                    - string
                    - 'null'
                  description:
                    type:
                    - string
                    - 'null'
                  id:
                    type: string
                  name:
                    type: string
                  source:
                    type: string
                    enum:
                    - system
                    - user
                  updatedAt:
                    type:
                    - string
                    - 'null'
                required:
                - id
                - source
                - name
                - category
                - description
                - body
                - createdAt
                - updatedAt
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.letter-templates
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    put:
      operationId: put_LetterTemplateUpdate
      summary: Update letter template
      description: Update a user-defined takedown letter template. System templates cannot be modified.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  minLength: 1
                category:
                  type: string
                  maxLength: 100
                  minLength: 1
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 1000
                name:
                  type: string
                  maxLength: 255
                  minLength: 1
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: string
                  category:
                    type: string
                  createdAt:
                    type:
                    - string
                    - 'null'
                  description:
                    type:
                    - string
                    - 'null'
                  id:
                    type: string
                  name:
                    type: string
                  source:
                    type: string
                    enum:
                    - system
                    - user
                  updatedAt:
                    type:
                    - string
                    - 'null'
                required:
                - id
                - source
                - name
                - category
                - description
                - body
                - createdAt
                - updatedAt
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.letter-templates
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/logo/matches:
    get:
      operationId: get_LogoMatchList
      summary: List logo matches
      description: Get paginated list of logo matches for a specific brand protection logo query
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: offset
        in: query
        schema:
          type: string
          default: '0'
      - name: limit
        in: query
        schema:
          type: string
          default: '50'
      - name: query_id
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      - name: download
        in: query
        schema:
          type: string
      - name: orderBy
        in: query
        schema:
          description: 'Column to sort by. Options: ''matchedAt'', ''domain'', ''similarityScore'', or ''registrar'''
          type: string
          enum:
          - matchedAt
          - domain
          - similarityScore
          - registrar
      - name: order
        in: query
        schema:
          description: 'Sort order. Options: ''asc'' (ascending) or ''desc'' (descending)'
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Successfully retrieved logo matches
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      properties:
                        content_type:
                          type: string
                        domain:
                          type:
                          - string
                          - 'null'
                        id:
                          type: integer
                        image_data:
                          type: string
                        matched_at:
                          type:
                          - string
                          - 'null'
                        query_id:
                          type: integer
                        registrar:
                          type:
                          - string
                          - 'null'
                        similarity_score:
                          type: number
                        url_scan_id:
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                      - query_id
                      - url_scan_id
                      - similarity_score
                      - matched_at
                      - domain
                      - registrar
                      type: object
                  total:
                    type: integer
                    minimum: 0
                required:
                - matches
                - total
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.logo-matches
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/logo/queries:
    get:
      operationId: get_GetLogoQueries
      summary: Get logo queries
      description: Get all saved brand protection logo queries for an account. Optionally specify id to get a single query. Set download=true to include base64-encoded image data.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: id
        in: query
        description: Optional query ID to retrieve a specific logo query
        schema:
          description: Optional query ID to retrieve a specific logo query
          type: string
      - name: download
        in: query
        description: If true, include base64-encoded image data in the response
        schema:
          description: If true, include base64-encoded image data in the response
          type: string
      responses:
        '200':
          description: Successfully retrieved logo queries
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    content_type:
                      description: MIME type of the image (only present when download=true)
                      type: string
                    id:
                      type: integer
                    image_data:
                      description: Base64-encoded image data (only present when download=true)
                      type: string
                    r2_path:
                      type: string
                    similarity_threshold:
                      type: number
                    tag:
                      type: string
                    uploaded_at:
                      type:
                      - string
                      - 'null'
                  required:
                  - id
                  - tag
                  - r2_path
                  - similarity_threshold
                  - uploaded_at
                  type: object
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.logos
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    post:
      operationId: post_InsertLogoQuery
      summary: Insert logo query
      description: Create a new saved brand protection logo query for visual similarity matching
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                image_data:
                  description: Base64 encoded image data. Can include data URI prefix (e.g., 'data:image/png;base64,...') or just the base64 string.
                  type: string
                  minLength: 1
                search_lookback:
                  description: If true, search historic scanned images for matches above the similarity threshold
                  type: boolean
                  default: true
                similarity_threshold:
                  description: Minimum similarity score (0-1) required for visual matches
                  type: number
                  maximum: 1
                  minimum: 0
                tag:
                  description: Unique identifier for the logo query
                  type: string
                  minLength: 1
              required:
              - tag
              - image_data
              - similarity_threshold
      responses:
        '200':
          description: Logo query inserted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  query_id:
                    type: integer
                  success:
                    type: boolean
                required:
                - success
                - message
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.logos
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/logo/queries/{query_id}:
    delete:
      operationId: delete_DeleteLogoQuery
      summary: Delete logo query
      description: Delete a saved brand protection logo query. Returns 404 if the query ID doesn't exist.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: query_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Logo query deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
                required:
                - success
                - message
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.logos
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/logo/search:
    post:
      operationId: post_SearchLogoSimilarity
      summary: Search scanned images
      description: Submit an image and find the n closest matches from the scanned images index without creating any match records. Returns similarity scores and metadata for each match.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: showHistoric
        in: query
        description: 'Include scanned images without domain metadata (historic data). Default: false (only show images with domain)'
        schema:
          description: 'Include scanned images without domain metadata (historic data). Default: false (only show images with domain)'
          type: string
          default: 'false'
      - name: download
        in: query
        description: If true, include base64-encoded image data in the response
        schema:
          description: If true, include base64-encoded image data in the response
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                image_data:
                  description: Base64 encoded image data. Can include data URI prefix (e.g., 'data:image/png;base64,...') or just the base64 string.
                  type: string
                  minLength: 1
                score_threshold:
                  description: 'Minimum similarity score threshold for matches (0-1, default: 0)'
                  type: number
                  default: 0
                  maximum: 1
                  minimum: 0
                top_k:
                  description: 'Number of closest matches to return (1-100, default: 10)'
                  type: integer
                  default: 10
                  maximum: 100
                  minimum: 1
              required:
              - image_data
      responses:
        '200':
          description: Scanned images search completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      properties:
                        account_id:
                          type: string
                        content_type:
                          description: MIME type of the image (only present when download=true)
                          type: string
                        domain:
                          type: string
                        image_data:
                          description: Base64-encoded image data (only present when download=true)
                          type: string
                        query_id:
                          type: integer
                        r2_path:
                          type: string
                        similarity_score:
                          type: number
                        similarity_threshold:
                          type: number
                        tag:
                          type: string
                        timestamp:
                          type: number
                        url_scan_id:
                          type: string
                        vector_id:
                          type: string
                      required:
                      - similarity_score
                      type: object
                required:
                - matches
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection
      x-fern-sdk-method-name: submit
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/queries/{query_id}/matches/{domain_id}/dismiss:
    post:
      operationId: post_DismissMatch
      summary: Dismiss a match
      description: Mark a specific domain as dismissed for a given query. Dismissals are per-query — dismissing a domain in one query does not affect other queries.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: query_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      - name: domain_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      responses:
        '200':
          description: Match dismissed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      dismissed:
                        type: boolean
                      domain_id:
                        type: integer
                      query_id:
                        type: integer
                    required:
                    - query_id
                    - domain_id
                    - dismissed
                  success:
                    type: boolean
                required:
                - success
                - result
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.queries
      x-fern-sdk-method-name: dismiss
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/queries/{query_id}/matches/{domain_id}/undismiss:
    post:
      operationId: post_UndismissMatch
      summary: Undismiss a match
      description: Remove the dismissed status from a specific domain for a given query. Undismissals are per-query — undismissing a domain in one query does not affect other queries.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: query_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      - name: domain_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      responses:
        '200':
          description: Match undismissed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      dismissed:
                        type: boolean
                      domain_id:
                        type: integer
                      query_id:
                        type: integer
                    required:
                    - query_id
                    - domain_id
                    - dismissed
                  success:
                    type: boolean
                required:
                - success
                - result
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection.queries
      x-fern-sdk-method-name: undismiss
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/takedown-notices:
    get:
      operationId: get_TakedownNoticeList
      summary: List takedown notices
      description: List all takedown notices for the account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Takedown notices listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  notices:
                    type: array
                    items:
                      properties:
                        createdAt:
                          type:
                          - string
                          - 'null'
                        domain:
                          type: string
                        id:
                          type: number
                        matchId:
                          type:
                          - number
                          - 'null'
                        matchType:
                          type:
                          - string
                          - 'null'
                          enum:
                          - logo
                          - domain
                        queryId:
                          type:
                          - number
                          - 'null'
                        status:
                          type: string
                          enum:
                          - draft
                          - sent
                          - resolved
                          - expired
                        updatedAt:
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                      - domain
                      - queryId
                      - status
                      - matchId
                      - matchType
                      - createdAt
                      - updatedAt
                      type: object
                required:
                - notices
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-notices
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: post_TakedownNoticeCreate
      summary: Create takedown notice
      description: Create a new takedown notice for a domain suspected of trademark infringement.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  maxLength: 253
                  minLength: 1
                matchId:
                  type: integer
                  exclusiveMinimum: 0
                matchType:
                  type: string
                  enum:
                  - logo
                  - domain
                queryId:
                  type: integer
                  exclusiveMinimum: 0
                status:
                  type: string
                  default: draft
                  enum:
                  - draft
                  - sent
                  - resolved
                  - expired
              required:
              - domain
      responses:
        '200':
          description: Takedown notice created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdAt:
                    type:
                    - string
                    - 'null'
                  domain:
                    type: string
                  id:
                    type: number
                  matchId:
                    type:
                    - number
                    - 'null'
                  matchType:
                    type:
                    - string
                    - 'null'
                    enum:
                    - logo
                    - domain
                  queryId:
                    type:
                    - number
                    - 'null'
                  status:
                    type: string
                    enum:
                    - draft
                    - sent
                    - resolved
                    - expired
                  updatedAt:
                    type:
                    - string
                    - 'null'
                required:
                - id
                - domain
                - queryId
                - status
                - matchId
                - matchType
                - createdAt
                - updatedAt
        '409':
          description: A takedown notice already exists for this domain
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-notices
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/takedown-notices/lookup:
    post:
      operationId: post_TakedownNoticeLookup
      summary: Lookup takedown notices by domains
      description: Bulk lookup of takedown notices by domain names. Returns an array of { domain, queryId, notice } entries (notice is null when no match exists). Supports optional queryId or queryIds to scope lookups per query. Uses POST to avoid URL length limits when looking up many domains. This endpoint is read-only. Domains are normalized (trimmed, lowercased) and deduplicated.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: array
                  items:
                    maxLength: 253
                    minLength: 1
                    type: string
                  maxItems: 100
                  minItems: 1
                queryId:
                  type: integer
                  exclusiveMinimum: 0
                queryIds:
                  type: array
                  items:
                    type: integer
                    exclusiveMinimum: 0
                  maxItems: 100
              required:
              - domains
      responses:
        '200':
          description: Takedown notice lookup results
          content:
            application/json:
              schema:
                type: object
                properties:
                  notices:
                    type: array
                    items:
                      properties:
                        domain:
                          type: string
                        notice:
                          type:
                          - object
                          - 'null'
                          properties:
                            createdAt:
                              type:
                              - string
                              - 'null'
                            domain:
                              type: string
                            id:
                              type: number
                            matchId:
                              type:
                              - number
                              - 'null'
                            matchType:
                              type:
                              - string
                              - 'null'
                              enum:
                              - logo
                              - domain
                            queryId:
                              type:
                              - number
                              - 'null'
                            status:
                              type: string
                              enum:
                              - draft
                              - sent
                              - resolved
                              - expired
                            updatedAt:
                              type:
                              - string
                              - 'null'
                          required:
                          - id
                          - domain
                          - queryId
                          - status
                          - matchId
                          - matchType
                          - createdAt
                          - updatedAt
                        queryId:
                          type:
                          - number
                          - 'null'
                      required:
                      - domain
                      - queryId
                      - notice
                      type: object
                required:
                - notices
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-notices
      x-fern-sdk-method-name: lookup
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/takedown-notices/{notice_id}:
    delete:
      operationId: delete_TakedownNoticeDelete
      summary: Delete takedown notice
      description: Delete a takedown notice and all associated letters. PDFs are also removed from storage.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: notice_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      responses:
        '200':
          description: Takedown notice deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
                required:
                - success
                - message
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-notices
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: get_TakedownNoticeGet
      summary: Get takedown notice
      description: Get a specific takedown notice by ID.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: notice_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      responses:
        '200':
          description: Takedown notice retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdAt:
                    type:
                    - string
                    - 'null'
                  domain:
                    type: string
                  id:
                    type: number
                  matchId:
                    type:
                    - number
                    - 'null'
                  matchType:
                    type:
                    - string
                    - 'null'
                    enum:
                    - logo
                    - domain
                  queryId:
                    type:
                    - number
                    - 'null'
                  status:
                    type: string
                    enum:
                    - draft
                    - sent
                    - resolved
                    - expired
                  updatedAt:
                    type:
                    - string
                    - 'null'
                required:
                - id
                - domain
                - queryId
                - status
                - matchId
                - matchType
                - createdAt
                - updatedAt
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-notices
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    put:
      operationId: put_TakedownNoticeUpdate
      summary: Update takedown notice
      description: Update a takedown notice (e.g. change status to sent, resolved, etc.).
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: notice_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  maxLength: 253
                  minLength: 1
                matchId:
                  type:
                  - integer
                  - 'null'
                  exclusiveMinimum: 0
                matchType:
                  type:
                  - string
                  - 'null'
                  enum:
                  - logo
                  - domain
                queryId:
                  type:
                  - integer
                  - 'null'
                  exclusiveMinimum: 0
                status:
                  type: string
                  enum:
                  - draft
                  - sent
                  - resolved
                  - expired
      responses:
        '200':
          description: Takedown notice updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdAt:
                    type:
                    - string
                    - 'null'
                  domain:
                    type: string
                  id:
                    type: number
                  matchId:
                    type:
                    - number
                    - 'null'
                  matchType:
                    type:
                    - string
                    - 'null'
                    enum:
                    - logo
                    - domain
                  queryId:
                    type:
                    - number
                    - 'null'
                  status:
                    type: string
                    enum:
                    - draft
                    - sent
                    - resolved
                    - expired
                  updatedAt:
                    type:
                    - string
                    - 'null'
                required:
                - id
                - domain
                - queryId
                - status
                - matchId
                - matchType
                - createdAt
                - updatedAt
        '409':
          description: A takedown notice already exists for the target domain
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-notices
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/takedown-notices/{notice_id}/letters:
    get:
      operationId: get_TakedownLetterList
      summary: List takedown letters
      description: List all letters for a specific takedown notice.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: notice_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      responses:
        '200':
          description: Takedown letters listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  letters:
                    type: array
                    items:
                      properties:
                        createdAt:
                          type:
                          - string
                          - 'null'
                        id:
                          type: number
                        letterType:
                          type: string
                        takedownNoticeId:
                          type: number
                        templateId:
                          type: string
                      required:
                      - id
                      - takedownNoticeId
                      - templateId
                      - letterType
                      - createdAt
                      type: object
                required:
                - letters
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-letters
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: post_TakedownLetterCreate
      summary: Create takedown letter
      description: Generate a takedown letter for a notice and persist the rendered text. The PDF is generated lazily on download.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: notice_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: object
                  properties:
                    discoveryDate:
                      type: string
                      pattern: ^\d{4}-\d{2}-\d{2}$
                    domain:
                      type: string
                      maxLength: 500
                    generationDate:
                      type: string
                      pattern: ^\d{4}-\d{2}-\d{2}$
                    jurisdiction:
                      type: string
                      maxLength: 500
                    registrantEmail:
                      type: string
                      maxLength: 500
                    registrar:
                      type: string
                      maxLength: 500
                    registrarEmail:
                      type: string
                      maxLength: 500
                    resolutionByDate:
                      type: string
                      pattern: ^\d{4}-\d{2}-\d{2}$
                    senderCompany:
                      type: string
                      maxLength: 500
                    senderEmail:
                      type: string
                      maxLength: 500
                    senderName:
                      type: string
                      maxLength: 500
                    senderTitle:
                      type: string
                      maxLength: 500
                    trademarkName:
                      type: string
                      maxLength: 500
                    trademarkNumber:
                      type: string
                      maxLength: 500
                    trademarkOwner:
                      type: string
                      maxLength: 500
                templateId:
                  type: string
                  minLength: 1
              required:
              - templateId
              - fields
      responses:
        '200':
          description: Takedown letter created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdAt:
                    type:
                    - string
                    - 'null'
                  id:
                    type: number
                  letterText:
                    type: string
                  letterType:
                    type: string
                  takedownNoticeId:
                    type: number
                  templateId:
                    type: string
                required:
                - id
                - takedownNoticeId
                - templateId
                - letterType
                - letterText
                - createdAt
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-letters
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/takedown-notices/{notice_id}/letters/{letter_id}:
    delete:
      operationId: delete_TakedownLetterDelete
      summary: Delete takedown letter
      description: Delete a specific takedown letter and its associated PDF from storage.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: notice_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      - name: letter_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      responses:
        '200':
          description: Takedown letter deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
                required:
                - success
                - message
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-letters
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: get_TakedownLetterGet
      summary: Get takedown letter
      description: Get a specific takedown letter by ID, including the rendered text.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: notice_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      - name: letter_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      responses:
        '200':
          description: Takedown letter retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdAt:
                    type:
                    - string
                    - 'null'
                  id:
                    type: number
                  letterText:
                    type: string
                  letterType:
                    type: string
                  takedownNoticeId:
                    type: number
                  templateId:
                    type: string
                required:
                - id
                - takedownNoticeId
                - templateId
                - letterType
                - letterText
                - createdAt
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-letters
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/takedown-notices/{notice_id}/letters/{letter_id}/pdf:
    get:
      operationId: get_TakedownLetterPdfGet
      summary: Download takedown letter PDF
      description: Download the PDF for a stored takedown letter. If no PDF exists yet, it is generated from the stored letter text and cached for future downloads.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: notice_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      - name: letter_id
        in: path
        required: true
        schema:
          type: integer
          exclusiveMinimum: 0
      responses:
        '200':
          description: Takedown letter PDF downloaded successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.takedown-letters
      x-fern-sdk-method-name: get-pdf
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/total-queries:
    get:
      operationId: get_TotalQueries
      summary: Get total queries
      description: Get the total number of saved brand protection queries (domain + logo) for an account
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully retrieved total query count
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    total_queries:
                      type: integer
                      minimum: 0
                  required:
                  - total_queries
                  type: object
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brand-protection
      x-fern-sdk-method-name: url-info
      x-forge-hidden: true
  /accounts/{account_id}/brand-protection/alerts:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
        minLength: 1
    get:
      operationId: getAccountsAccountIdBrandProtectionAlerts
      summary: Read all alerts on submitted domains
      description: Return all alerts on submitted domains
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      - Intel Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: alerts
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: patchAccountsAccountIdBrandProtectionAlerts
      summary: Update alerts on submitted domains by ID
      description: Return a success message after updating alerts on submitted domains by ID
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: alerts
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
  /accounts/{account_id}/brand-protection/alerts/clear:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
        minLength: 1
    patch:
      operationId: patchAccountsAccountIdBrandProtectionAlertsClear
      summary: Update verification statuses of tracked URLs to awaiting by ID
      description: Return a success message after updating verification statuses of tracked URLs to awaiting by ID
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: alerts.clear
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
  /accounts/{account_id}/brand-protection/alerts/refute:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
        minLength: 1
    patch:
      operationId: patchAccountsAccountIdBrandProtectionAlertsRefute
      summary: Update verification statuses of tracked URLs to disproven by ID
      description: Return a success message after updating verification statuses of tracked URLs to disproven by ID
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: alerts.refute
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
  /accounts/{account_id}/brand-protection/alerts/verify:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
        minLength: 1
    patch:
      operationId: patchAccountsAccountIdBrandProtectionAlertsVerify
      summary: Update verification statuses of tracked URLs to confirmed by ID
      description: Return a success message after updating verification statuses of tracked URLs to confirmed by ID
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: alerts.verify
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
  /accounts/{account_id}/brand-protection/brands:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
        minLength: 1
    delete:
      operationId: deleteAccountsAccountIdBrandProtectionBrands
      summary: Delete brands by ID
      description: Return a success message after deleting brands by ID
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brands
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: getAccountsAccountIdBrandProtectionBrands
      summary: Read all brands
      description: Return all brands
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      - Intel Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brands
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    post:
      operationId: postAccountsAccountIdBrandProtectionBrands
      summary: Create new brands
      description: Return new brands
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brands
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/brand-protection/brands/patterns:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
        minLength: 1
    delete:
      operationId: deleteAccountsAccountIdBrandProtectionBrandsPatterns
      summary: Delete patterns for brands by ID
      description: Return a success message after deleting patterns for brands by ID
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brands.patterns
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: getAccountsAccountIdBrandProtectionBrandsPatterns
      summary: Read patterns for brands by ID
      description: Return patterns for brands based on ID
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
      x-api-token-group:
      - Intel Write
      - Intel Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: brands.patterns
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    post:
      operationId: postAccountsAccountIdBrandProtectionBrandsPatterns
      summary: Create new patterns for brands by ID
      description: Return a success message after creating new patterns for brands by ID
      responses:
        default:
          $ref: '#/components/responses/brand-protection-api_DEFAULT_ERROR'
      security:
      - api_token: []
      tags:
      - Brand Protection
[...]
