openapi: 3.2.0
info:
  title: Cloudflare Workers Secrets API
  description: Cloudflare Workers allows developers to deploy serverless code to Cloudflare's global network. The Workers API provides endpoints for managing worker scripts, versions, deployments, routes, custom domains, secrets, cron triggers, and configuration including bindings.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Secrets
  description: Manage encrypted environment variables for Worker scripts.
paths:
  /accounts/{account_id}/workers/scripts/{script_name}/secrets:
    get:
      operationId: listSecrets
      summary: Cloudflare List Worker Secrets
      description: List all secrets for a Worker script. Secret values are not returned.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      responses:
        '200':
          description: List of secret names.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: addSecret
      summary: Cloudflare Add Worker Secret
      description: Add or update an encrypted secret for a Worker script.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - text
              - type
              properties:
                name:
                  type: string
                  description: The name of the secret.
                text:
                  type: string
                  description: The value of the secret.
                type:
                  type: string
                  enum:
                  - secret_text
                  description: The type of the secret binding.
            examples:
              AddsecretRequestExample:
                summary: Default addSecret request
                x-microcks-default: true
                value:
                  name: Example Title
                  text: example_value
                  type: secret_text
      responses:
        '200':
          description: Secret added successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ScriptName:
      name: script_name
      in: path
      required: true
      description: The name of the Worker script.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication with Workers permissions.
externalDocs:
  description: Cloudflare Workers API Documentation
  url: https://developers.cloudflare.com/api/resources/workers/
