openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Workers AI API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Workers AI
paths:
  /accounts/{account_id}/ai/authors/search:
    get:
      operationId: workers-ai-search-author
      summary: Author Search
      description: Searches Workers AI models by author or organization name.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      responses:
        '200':
          description: Returns a list of authors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type: array
                    items:
                      type: object
                  success:
                    type: boolean
                required:
                - success
                - result
                - errors
                - messages
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Workers AI
      x-api-token-group:
      - Workers AI Write
      - Workers AI Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: ai.authors
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/ai/models/schema:
    get:
      operationId: workers-ai-get-model-schema
      summary: Get an AI model's input and output schemas
      description: Retrieves the input and output JSON Schema definitions for an AI model. Use these definitions to determine the model-specific request fields and response format.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID used for this AI model request.
        required: true
        schema:
          description: Cloudflare account ID used for this AI model request.
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      - name: model
        in: query
        description: AI model identifier, including its namespace and model name.
        required: true
        schema:
          description: AI model identifier, including its namespace and model name.
          type: string
          example: '@cf/meta/llama-3.1-8b-instruct'
      responses:
        '200':
          description: Model Schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      input:
                        type: object
                        properties:
                          additionalProperties:
                            type: boolean
                            example: true
                          description:
                            type: string
                            example: JSON Schema definition for the model's input parameters
                          type:
                            type: string
                            example: object
                        required:
                        - type
                        - description
                        - additionalProperties
                      output:
                        type: object
                        properties:
                          additionalProperties:
                            type: boolean
                            example: true
                          description:
                            type: string
                            example: JSON Schema definition for the model's output format
                          type:
                            type: string
                            example: object
                        required:
                        - type
                        - description
                        - additionalProperties
                    required:
                    - input
                    - output
                  success:
                    type: boolean
                required:
                - success
                - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Workers AI
      x-api-token-group:
      - Workers AI Write
      - Workers AI Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-sdk-group-name: ai
      x-fern-sdk-method-name: get-model-schema
  /accounts/{account_id}/ai/models/search:
    get:
      operationId: workers-ai-search-model
      summary: Model Search
      description: Searches Workers AI models by name or description.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      - name: per_page
        in: query
        schema:
          type: integer
          default: 100
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: task
        in: query
        description: Filter by Task Name.
        schema:
          description: Filter by Task Name.
          type: string
          example: Text Generation
          default: ''
      - name: author
        in: query
        description: Filter by Author.
        schema:
          description: Filter by Author.
          type: string
          default: ''
      - name: source
        in: query
        description: Filter by Source Id.
        schema:
          description: Filter by Source Id.
          type: number
      - name: hide_experimental
        in: query
        description: Filter to hide experimental models.
        schema:
          description: Filter to hide experimental models.
          type: boolean
          default: false
      - name: search
        in: query
        description: Search.
        schema:
          description: Search.
          type: string
          default: ''
      - name: include_deprecated
        in: query
        description: If true, include models for up to three months after their deprecation date. Defaults to false.
        schema:
          description: If true, include models for up to three months after their deprecation date. Defaults to false.
          type: boolean
          default: false
      - name: format
        in: query
        description: If set, return models in the requested marketplace format instead of the default response.
        schema:
          description: If set, return models in the requested marketplace format instead of the default response.
          type: string
          enum:
          - openrouter
      responses:
        '200':
          description: Returns a list of models. Default shape is the standard envelope; when `format` is supplied the marketplace-specific shape is returned instead.
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    errors:
                      type: array
                      items:
                        type: object
                    messages:
                      type: array
                      items:
                        type: string
                    result:
                      type: array
                      items:
                        type: object
                    success:
                      type: boolean
                  required:
                  - success
                  - result
                  - errors
                  - messages
                  type: object
                - description: Marketplace-format response. See https://openrouter.ai/docs/guides/get-started/for-providers.
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                  required:
                  - data
                  type: object
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  success:
                    type: boolean
                required:
                - success
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Workers AI
      x-api-token-group:
      - Workers AI Write
      - Workers AI Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: ai.models
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/ai/run:
    post:
      operationId: workers-ai-post-run-generic
      summary: Run an AI model with request options
      description: 'Runs an AI model using a JSON body containing model, input, and optional options fields. Unlike the model-specific URL endpoint, this endpoint takes the model identifier in the body and nests the model''s inputs under input.


        Use options.extraHeaders to pass additional provider headers. Accepts Workers AI model identifiers and AI Gateway provider model identifiers.


        See the Workers AI model catalog for Workers AI model inputs, or the provider''s documentation for models accessed through AI Gateway.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID used for this AI model request.
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: JSON object containing the selected model's input fields, such as prompt or messages. Do not include model or options inside this object.
                  type: object
                  example:
                    prompt: Tell me a joke
                model:
                  description: The AI model to execute (e.g., @cf/google/gemma-4-26b-a4b-it, openai/gpt-5.5, anthropic/claude-opus-4.7)
                  type: string
                  example: openai/gpt-5.5
                options:
                  type: object
                  properties:
                    extraHeaders:
                      description: Additional headers to pass to the AI provider
                      type: object
                      additionalProperties:
                        type: string
                    gateway:
                      type: object
                      properties:
                        cacheTtl:
                          description: Cache TTL in seconds
                          type: number
                          example: 3600
                        id:
                          description: AI Gateway ID for caching and logging
                          type: string
                          example: my-gateway
                        skipCache:
                          description: Skip cache lookup for this request
                          type: boolean
              required:
              - model
              - input
      responses:
        '200':
          description: Model response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: object
                  result:
                    description: Model-specific output. Format varies by model type.
                    type: object
                  success:
                    type: boolean
                required:
                - success
                - result
                - errors
                - messages
        '400':
          description: Bad request - missing required fields or invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  success:
                    type: boolean
                required:
                - success
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Workers AI
      x-api-token-group:
      - Workers AI Write
      - Workers AI Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: ai
      x-fern-sdk-method-name: run
  /accounts/{account_id}/ai/run/{model_name}:
    post:
      operationId: workers-ai-post-run-model
      summary: Run a Workers AI model
      description: 'Runs the Workers AI model specified in the URL path. Send the model''s inputs directly in the request body, without a model/input/options wrapper.


        Accepts model-specific JSON or binary input. The response format depends on the model and the requested output.


        See the model catalog for supported models and their input formats.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID used for this AI model request.
        required: true
        schema:
          description: Cloudflare account ID used for this AI model request.
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      - name: model_name
        in: path
        description: Workers AI model identifier, including its namespace and model name.
        required: true
        schema:
          description: Workers AI model identifier, including its namespace and model name.
          type: string
          example: '@cf/meta/llama-3.1-8b-instruct'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              oneOf:
              - properties:
                  text:
                    description: The text that you want to classify
                    type: string
                    minLength: 1
                required:
                - text
                title: Text Classification
                type: object
              - properties:
                  guidance:
                    description: Controls how closely the generated image should adhere to the prompt; higher values make the image more aligned with the prompt
                    type: number
                    default: 7.5
                  height:
                    description: The height of the generated image in pixels
                    type: integer
                    maximum: 2048
                    minimum: 256
                  image:
                    description: For use with img2img tasks. An array of integers that represent the image data constrained to 8-bit unsigned integer values
                    type: array
                    items:
                      description: A value between 0 and 255
                      type: number
                  image_b64:
                    description: For use with img2img tasks. A base64-encoded string of the input image
                    type: string
                  mask:
                    description: An array representing An array of integers that represent mask image data for inpainting constrained to 8-bit unsigned integer values
                    type: array
                    items:
                      description: A value between 0 and 255
                      type: number
                  negative_prompt:
                    description: Text describing elements to avoid in the generated image
                    type: string
                  num_steps:
                    description: The number of diffusion steps; higher values can improve quality but take longer
                    type: integer
                    default: 20
                    maximum: 20
                  prompt:
                    description: A text description of the image you want to generate
                    type: string
                    minLength: 1
                  seed:
                    description: Random seed for reproducibility of the image generation
                    type: integer
                  strength:
                    description: A value between 0 and 1 indicating how strongly to apply the transformation during img2img tasks; lower values make the output closer to the input image
                    type: number
                    default: 1
                  width:
                    description: The width of the generated image in pixels
                    type: integer
                    maximum: 2048
                    minimum: 256
                required:
                - prompt
                title: Text To Image
                type: object
              - properties:
                  lang:
                    description: The speech language (e.g., 'en' for English, 'fr' for French). Defaults to 'en' if not specified
                    type: string
                    default: en
                  prompt:
                    description: A text description of the audio you want to generate
                    type: string
                    minLength: 1
                required:
                - prompt
                title: Text To Speech
                type: object
              - properties:
                  text:
                    oneOf:
                    - description: The text to embed
                      minLength: 1
                      type: string
                    - description: Batch of text values to embed
                      items:
                        description: The text to embed
                        minLength: 1
                        type: string
                      maxItems: 100
                      type: array
                required:
                - text
                title: Text Embeddings
                type: object
              - oneOf:
                - format: binary
                  type: string
                - properties:
                    audio:
                      description: An array of integers that represent the audio data constrained to 8-bit unsigned integer values
                      type: array
                      items:
                        description: A value between 0 and 255
                        type: number
                    source_lang:
                      description: The language of the recorded audio
                      type: string
                    target_lang:
                      description: The language to translate the transcription into. Currently only English is supported.
                      type: string
                  required:
                  - audio
                  type: object
                title: Automatic Speech Recognition
                type: object
              - oneOf:
                - description: The image to classify
                  format: binary
                  type: string
                - properties:
                    image:
                      description: An array of integers that represent the image data constrained to 8-bit unsigned integer values
                      type: array
                      items:
                        description: A value between 0 and 255 (unsigned 8bit)
                        type: number
                  required:
                  - image
                  type: object
                title: Image Classification
                type: object
              - oneOf:
                - description: The image to use for detection
                  format: binary
                  type: string
                - properties:
                    image:
                      description: An array of integers that represent the image data constrained to 8-bit unsigned integer values
                      type: array
                      items:
                        description: A value between 0 and 255 (unsigned 8bit)
                        type: number
                  type: object
                title: Object Detection
                type: object
              - oneOf:
                - properties:
                    frequency_penalty:
                      description: Decreases the likelihood of the model repeating the same lines verbatim.
                      type: number
                      maximum: 2
                      minimum: -2
                    lora:
                      description: Name of the LoRA (Low-Rank Adaptation) model to fine-tune the base model.
                      type: string
                    max_tokens:
                      description: The maximum number of tokens to generate in the response.
                      type: integer
                      default: 256
                    presence_penalty:
                      description: Increases the likelihood of the model introducing new topics.
                      type: number
                      maximum: 2
                      minimum: -2
                    prompt:
                      description: The input text prompt for the model to generate a response.
                      type: string
                      minLength: 1
                    raw:
                      description: If true, a chat template is not applied and you must adhere to the specific model's expected formatting.
                      type: boolean
                      default: false
                    repetition_penalty:
                      description: Penalty for repeated tokens; higher values discourage repetition.
                      type: number
                      maximum: 2
                      minimum: 0
                    response_format:
                      type: object
                      properties:
                        json_schema: {}
                        type:
                          type: string
                          enum:
                          - json_object
                          - json_schema
                      title: JSON Mode
                    seed:
                      description: Random seed for reproducibility of the generation.
                      type: integer
                      maximum: 9999999999
                      minimum: 1
                    stream:
                      description: If true, the response will be streamed back incrementally using SSE, Server Sent Events.
                      type: boolean
                      default: false
                    temperature:
                      description: Controls the randomness of the output; higher values produce more random results.
                      type: number
                      default: 0.6
                      maximum: 5
                      minimum: 0
                    top_k:
                      description: Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.
                      type: integer
                      maximum: 50
                      minimum: 1
                    top_p:
                      description: Adjusts the creativity of the AI's responses by controlling how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.
                      type: number
                      maximum: 1
                      minimum: 0.001
                  required:
                  - prompt
                  title: Prompt
                - properties:
                    frequency_penalty:
                      description: Decreases the likelihood of the model repeating the same lines verbatim.
                      type: number
                      maximum: 2
                      minimum: -2
                    functions:
                      type: array
                      items:
                        properties:
                          code:
                            type: string
                          name:
                            type: string
                        required:
                        - name
                        - code
                        type: object
                    max_tokens:
                      description: The maximum number of tokens to generate in the response.
                      type: integer
                      default: 256
                    messages:
                      description: An array of message objects representing the conversation history.
                      type: array
                      items:
                        properties:
                          content:
                            oneOf:
                            - description: The content of the message as a string.
                              type: string
                            - description: Array of text content parts.
                              items:
                                properties:
                                  text:
                                    description: Text content
                                    type: string
                                  type:
                                    description: Type of the content (text)
                                    type: string
                                type: object
                              type: array
                          role:
                            description: The role of the message sender (e.g., 'user', 'assistant', 'system', 'tool').
                            type: string
                        required:
                        - role
                        - content
                        type: object
                    presence_penalty:
                      description: Increases the likelihood of the model introducing new topics.
                      type: number
                      maximum: 2
                      minimum: -2
                    raw:
                      description: If true, a chat template is not applied and you must adhere to the specific model's expected formatting.
                      type: boolean
                      default: false
                    repetition_penalty:
                      description: Penalty for repeated tokens; higher values discourage repetition.
                      type: number
                      maximum: 2
                      minimum: 0
                    response_format:
                      type: object
                      properties:
                        json_schema: {}
                        type:
                          type: string
                          enum:
                          - json_object
                          - json_schema
                      title: JSON Mode
                    seed:
                      description: Random seed for reproducibility of the generation.
                      type: integer
                      maximum: 9999999999
                      minimum: 1
                    stream:
                      description: If true, the response will be streamed back incrementally using SSE, Server Sent Events.
                      type: boolean
                      default: false
                    temperature:
                      description: Controls the randomness of the output; higher values produce more random results.
                      type: number
                      default: 0.6
                      maximum: 5
                      minimum: 0
                    tools:
                      description: A list of tools available for the assistant to use.
                      type: array
                      items:
                        oneOf:
                        - properties:
                            description:
                              description: A brief description of what the tool does.
                              type: string
                            name:
                              description: The name of the tool. More descriptive the better.
                              type: string
                            parameters:
                              description: Schema defining the parameters accepted by the tool.
                              required:
                              - type
                              - properties
                              properties:
                                properties:
                                  description: Definitions of each parameter.
                                  type: object
                                  additionalProperties:
                                    properties:
                                      description:
                                        description: A description of the expected parameter.
                                        type: string
                                      type:
                                        description: The data type of the parameter.
                                        type: string
                                    required:
                                    - type
                                    - description
                                    type: object
                                required:
                                  description: List of required parameter names.
                                  type: array
                                  items:
                                    type: string
                                type:
                                  description: The type of the parameters object (usually 'object').
                                  type: string
                              type: object
                          required:
                          - name
                          - description
                          - parameters
                        - properties:
                            function:
                              description: Details of the function tool.
                              type: object
                              properties:
                                description:
                                  description: A brief description of what the function does.
                                  type: string
                                name:
                                  description: The name of the function.
                                  type: string
                                parameters:
                                  description: Schema defining the parameters accepted by the function.
                                  required:
                                  - type
                                  - properties
                                  properties:
                                    properties:
                                      description: Definitions of each parameter.
                                      type: object
                                      additionalProperties:
                                        properties:
                                          description:
                                            description: A description of the expected parameter.
                                            type: string
                                          type:
                                            description: The data type of the parameter.
                                            type: string
                                        required:
                                        - type
                                        - description
                                        type: object
                                    required:
                                      description: List of required parameter names.
                                      type: array
                                      items:
                                        type: string
                                    type:
                                      description: The type of the parameters object (usually 'object').
                                      type: string
                                  type: object
                              required:
                              - name
                              - description
                              - parameters
                            type:
                              description: Specifies the type of tool (e.g., 'function').
                              type: string
                          required:
                          - type
                          - function
                        type: object
                    top_k:
                      description: Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.
                      type: integer
                      maximum: 50
                      minimum: 1
                    top_p:
                      description: Adjusts the creativity of the AI's responses by controlling how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.
                      type: number
                      maximum: 1
                      minimum: 0.001
                  required:
                  - messages
                  title: Messages
                title: Text Generation
                type: object
              - properties:
                  source_lang:
                    description: The language code of the source text (e.g., 'en' for English). Defaults to 'en' if not specified
                    type: string
                    default: en
                  target_lang:
                    description: The language code to translate the text into (e.g., 'es' for Spanish)
                    type: string
                  text:
                    description: The text to be translated
                    type: string
                    minLength: 1
                required:
                - text
                - target_lang
                title: Translation
                type: object
              - properties:
                  input_text:
                    description: The text that you want the model to summarize
                    type: string
                    minLength: 1
                  max_length:
                    description: The maximum length of the generated summary in tokens
                    type: integer
                    default: 1024
                required:
                - input_text
                title: Summarization
                type: object
              - oneOf:
                - description: Binary string representing the image contents.
                  format: binary
                  type: string
                - properties:
                    frequency_penalty:
                      description: Decreases the likelihood of the model repeating the same lines verbatim.
                      type: number
                    image:
                      oneOf:
                      - description: An array of integers that represent the image data constrained to 8-bit unsigned integer values
                        items:
                          description: A value between 0 and 255
                          type: number
                        type: array
                      - description: Binary string representing the image contents.
                        format: binary
                        type: string
                    max_tokens:
                      description: The maximum number of tokens to generate in the response.
                      type: integer
                      default: 512
                    presence_penalty:
                      description: Increases the likelihood of the model introducing new topics.
                      type: number
                    prompt:
                      description: The input text prompt for the model to generate a response.
                      type: string
                    raw:
                      description: If true, a chat template is not applied and you must adhere to the specific model's expected formatting.
                      type: boolean
                      default: false
                    repetition_penalty:
                      description: Penalty for repeated tokens; higher values discourage repetition.
                      type: number
                    seed:
                      description: Random seed for reproducibility of the generation.
                      type: number
                    temperature:
                      description: Controls the randomness of the output; higher values produce more random results.
                      type: number
                    top_k:
                      description: Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.
                      type: number
                    top_p:
                      description: Controls the creativity of the AI's responses by adjusting how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.
                      type: number
                  required:
                  - image
                  type: object
                title: Image To Text
                type: object
              - oneOf:
                - properties:
                    frequency_penalty:
                      description: Decreases the likelihood of the model repeating the same lines verbatim.
                      type: number
                    ignore_eos:
                      description: Whether to ignore the EOS token and continue generating tokens after the EOS token is generated.
                      type: boolean
                    image:
                      description: Image in base64 encoded format.
                      type: string
                    max_tokens:
                      description: The maximum number of tokens to generate in the response.
                      type: integer
                      default: 512
                    presence_penalty:
                      description: Increases the likelihood of the model introducing new topics.
                      type: number
                    prompt:
                      description: The input text prompt for the model to generate a response.
                      type: string
                      minLength: 1
                    repetition_penalty:
                      description: Penalty for repeated tokens; higher values discourage repetition.
                      type: number
                    seed:
                      description: Random seed for reproducibility of the generation.
                      type: number
                    temperature:
                      description: Controls the randomness of the output; higher values produce more random results.
                      type: number
                    top_k:
                      description: Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.
                      type: number
                    top_p:
                      description: Controls the creativity of the AI's responses by adjusting how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.
                      type: number
                  required:
                  - prompt
                  - image
                  type: object
                - properties:
                    frequency_penalty:
                      description: Decreases the likelihood of the model repeating the same lines verbatim.
                      type: number
                    ignore_eos:
                      description: Whether to ignore the EOS token and continue generating tokens after the EOS token is generated.
                      type: boolean
                    image:
                      description: Image in base64 encoded format.
                      type: string
                    max_tokens:
                      description: The maximum number of tokens to generate in the response.
                      type: integer
                      default: 512
                    messages:
                      description: An array of message objects representing the conversation history.
                      type: array
                      items:
                        properties:
                          content:
                            anyOf:
                            - description: The content of the message as a string.
                              type: string
                            - description: Array of content parts (text, image_url, etc.).
                              items:
                                properties:
                                  image_url:
                                    description: Image URL object (when type is 'image_url').
                                    type: object
                                    properties:
                                      url:
                                        description: Image URI with data (e.g. data:image/jpeg;base64,/9j/...).
                                        type: string
                                    required:
                                    - url
                                  text:
                                    description: Text content (when type is 'text').
                                    type: string
                                  type:
                                    description: Type of the content part (e.g. 'text', 'image_url').
                                    type: string
                                required:
                                - type
                                type: object
                              type: array
                          role:
                            description: The role of the message sender (e.g., 'user', 'assistant', 'system', 'tool').
                            type: string
                        required:
                        - role
                        - content
                        type: object
                    presence_penalty:
                      description: Increases the likelihood of the model introducing new topics.
                      type: number
                    repetition_penalty:
                      description: Penalty for repeated tokens; higher values discourage repetition.
                      type: number
                    seed:
                      description: Random seed for reproducibility of the generation.
                      type: number
                    temperature:
                      description: Controls the randomness of the output; higher values produce more random results.
                      type: number
                    top_k:
                      description: Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.
                      type: number
                    top_p:
                      description: Controls the creativity of the AI's responses by adjusting how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.
                      type: number
                  required:
                  - messages
                  - image
                  type: object
                title: Image Text To Text
                type: object
              - properties:
                  image:
                    description: Image in base64 encoded format.
                    type: string
                    minLength: 1
                  text:
                    type: array
                    items:
                      minLength: 1
                      type: string
                title: Multimodal Embeddings
                type: object
      responses:
        '200':
          description: Model response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    oneOf:
                    - description: An array of classification results for the input text
                      items:
                        properties:
                          label:
                            description: The classification label assigned to the text (e.g., 'POSITIVE' or 'NEGATIVE')
                            type: string
                          score:
                            description: Confidence score indicating the likelihood that the text belongs to the specified label
                            type: number
                        type: object
                      title: Text Classification
                      type: array
                    - description: The generated image in PNG format
                      format: binary
                      title: Text To Image
                      type: string
                    - oneOf:
                      - properties:
                          audio:
                            description: The generated audio in MP3 format, base64-encoded
                            type: string
                        type: object
                      - description: The generated audio in MP3 format
                        format: binary
                        type: string
                      title: Text To Speech
                      type: object
                    - properties:
                        data:
                          description: Embeddings of the requested text values
                          type: array
                          items:
                            description: Floating point embedding representation shaped by the embedding model
                            items:
                              type: number
                            type: array
                        shape:
                          type: array
                          items:
                            type: number
                      title: Text Embeddings
                      type: object
                    - properties:
                        text:
                          description: The transcription
                          type: string
                        vtt:
                          type: string
                        word_count:
                          type: number
                        words:
                          type: array
                          items:
                            properties:
                              end:
                                description: The ending second when the word completes
                                type: number
                              start:
                                description: The second this word begins in the recording
                                type: number
                              word:
                                type: string
                            type: object
                      required:
                      - text
                      title: Automatic Speech Recognition
                      type: object
                    - items:
                        properties:
                          label:
                            description: The predicted category or class for the input image based on analysis
                            type: string
                          score:
                            description: A confidence value, between 0 and 1, indicating how certain the model is about the predicted label
                            type: number
                        type: object
                      title: Image Classification
                      type: array
                    - description: An array of detected objects within the input image
                      items:
                        properties:
                          box:
                            description: Coordinates defining the bounding box around the detected object
                            type: object
                            properties:
                              xmax:
                                description: The x-coordinate of the bottom-right corner of the bounding box
                                type: number
                              xmin:
                                description: The x-coordinate of the top-left corner of the bounding box
                                type: number
                              ymax:
                                description: The y-coordinate of the bottom-right corner of the bounding box
                                type: number
                              ymin:
                                description: The y-coordinate of the top-left corner of the bounding box
                                type: number
                          label:
                            description: The class label or name of the detected object
                            type: string
                          score:
                            description: Confidence score indicating the likelihood that the detection is correct
                            type: number
                        type: object
                      title: Object Detection
                      type: array
                    - oneOf:
                      - properties:
                          response:
                            description: The generated text response from the model
                            type: string
                          tool_calls:
                            description: An array of tool calls requests made during the response generation
                            type: array
                            items:
                              properties:
                                arguments:
                                  description: The arguments passed to be passed to the tool call request
                                  type: object
                                name:
                                  description: The name of the tool to be called
                                  type: string
                              type: object
                          usage:
                            description: Usage statistics for the inference request
                            type: object
                            properties:
                              completion_tokens:
                                description: Total number of tokens in output
                                type: number
                                default: 0
                              prompt_tokens:
                                description: Total number of tokens in input
                                type: number
                                default: 0
                              total_tokens:
                                description: Total number of input and output tokens
                                type: number
                                default: 0
                        required:
                        - response
                        type: object
                      - format: binary
                        type: string
                      title: Text Generation
                      type: object
                    - properties:
                        translated_text:
                          description: The translated text in the target language
                          type: string
                      title: Translation
                      type: object
                    - properties:
                        summary:
                          description: The summarized version of the input text
                          type: string
                      title: Summarization
                      type: object
                    - properties:
                        description:
                          type: string
                      title: Image To Text
                      type: object
                    - properties:
                        description:
                          type: string
                      title: Image Text To Text
                      type: object
                    - properties:
                        data:
                          type: array
                          items:
                            items:
                              type: number
                            type: array
                        shape:
                          type: array
                          items:
                            type: number
                      title: Multimodal Embeddings
                      type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Workers AI
      x-api-token-group:
      - Workers AI Write
      - Workers AI Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-audiences:
      - sdk
      x-fern-sdk-group-name: ai
      x-fern-sdk-method-name: run-model
  /accounts/{account_id}/ai/tasks/search:
    get:
      operationId: workers-ai-search-task
      summary: Task Search
      description: Searches Workers AI models by task type (e.g., text-generation, embeddings).
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      responses:
        '200':
          description: Returns a list of tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  messages:
                    type: array
                    items:
                      type: string
                  result:
                    type: array
                    items:
                      type: object
                  success:
                    type: boolean
                    x-auditable: true
                required:
                - success
                - result
                - errors
                - messages
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  success:
                    type: boolean
                required:
                - success
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Workers AI
      x-api-token-group:
      - Workers AI Write
      - Workers AI Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: ai.tasks
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/ai/tomarkdown:
    post:
      operationId: workers-ai-post-to-markdown
      summary: Convert uploaded files to Markdown
      description: Converts files uploaded as multipart form data into Markdown using Workers AI. Returns a conversion result for each file. Use the supported-formats endpoint to check accepted file types.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID used for this AI model request.
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  description: Files to convert, supplied as multipart file uploads.
                  type: array
                  items:
                    format: binary
                    type: string
              required:
              - files
      responses:
        '200':
          description: Conversion results for the uploaded files
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      properties:
                        data:
                          type: string
                          x-auditable: true
                        format:
                          type: string
                          x-auditable: true
                        mimeType:
                          type: string
                          x-auditable: true
                        name:
                          type: string
                          x-auditable: true
                        tokens:
                          type: string
                          x-auditable: true
                      required:
                      - name
                      - mimeType
                      - format
                      - tokens
                      - data
                      type: object
                  success:
                    type: boolean
                required:
                - success
                - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Workers AI
      x-api-token-group:
      - Workers AI Write
      - Workers AI Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-sdk-group-name: ai
      x-fern-sdk-method-name: to-markdown
  /accounts/{account_id}/ai/tomarkdown/supported:
    get:
      operationId: workers-ai-get-to-markdown-supported
      summary: List supported Markdown conversion formats
      description: Lists the file extensions and MIME types accepted by Workers AI's Markdown conversion endpoint. Use this list to check whether a file can be converted before uploading it.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          description: Cloudflare account ID used for this AI model request.
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      properties:
                        extension:
                          type: string
                          x-auditable: true
                        mimeType:
                          type: string
                          x-auditable: true
                      required:
                      - extension
                      - mimeType
                      type: object
                  success:
                    type: boolean
                required:
                - success
                - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Workers AI
      x-api-token-group:
      - Workers AI Write
      - Workers AI Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-sdk-group-name: ai
      x-fern-sdk-method-name: list-markdown-supported-formats
components:
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
        description: Chat messages from historical RealtimeKit sessions
      kit.sessions.livestreams:
        description: Livestreams associated with historical RealtimeKit sessions
      kit.sessions.participants:
        description: Participants in historical RealtimeKit sessions
      kit.sessions.peers:
        description: Peer details from historical RealtimeKit sessions
      kit.sessions.summaries:
        description: Summaries of historical RealtimeKit sessions
      kit.sessions.transcripts:
        description: Transcripts from historical RealtimeKit sessions
      kit.webhooks:
        description: Webhook endpoints and supported events for RealtimeKit notifications
      kit.webhooks.events:
        description: Supported events for RealtimeKit webhooks
      moq:
        description: MoQ relays for publishing and subscribing to media streams
      moq.relays:
        description: Relays are isolated MoQ scopes that carry media between publishers and subscribers
      moq.relays.tokens:
        description: Tokens that authorize publishers and subscribers to connect to a relay
      sfu:
        description: SFU apps that route WebRTC media and data between participants
      sfu.apps:
        description: SFU application namespaces for sessions and tracks
      turn:
[...]
