openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Account Rulesets API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Account Rulesets
paths:
  /accounts/{account_id}/rulesets:
    get:
      operationId: listAccountRulesets
      summary: List account rulesets
      description: Fetches all rulesets at the account level.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - name: cursor
        in: query
        schema:
          $ref: '#/components/schemas/rulesets_Cursor'
      - name: per_page
        in: query
        schema:
          $ref: '#/components/schemas/rulesets_PerPage'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_Rulesets'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Mass URL Redirects Read
      - Magic Firewall Write
      - Magic Firewall Read
      - L4 DDoS Managed Ruleset Write
      - L4 DDoS Managed Ruleset Read
      - Transform Rules Write
      - Transform Rules Read
      - Select Configuration Write
      - Select Configuration Read
      - Account WAF Write
      - Account WAF Read
      - Account Rulesets Read
      - Account Rulesets Write
      - Logs Write
      - Logs Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: createAccountRuleset
      summary: Create an account ruleset
      description: Creates a ruleset at the account level.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - $ref: '#/components/parameters/rulesets_DryRun'
      requestBody:
        $ref: '#/components/requestBodies/rulesets_CreateRuleset'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_RulesetOrDryRun'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Magic Firewall Write
      - L4 DDoS Managed Ruleset Write
      - Transform Rules Write
      - Select Configuration Write
      - Account WAF Write
      - Account Rulesets Write
      - Logs Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint:
    get:
      operationId: getAccountEntrypointRuleset
      summary: Get an account entry point ruleset
      description: Fetches the latest version of the account entry point ruleset for a given phase.
      parameters:
      - name: ruleset_phase
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetPhase'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_Ruleset'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Mass URL Redirects Read
      - Magic Firewall Write
      - Magic Firewall Read
      - L4 DDoS Managed Ruleset Write
      - L4 DDoS Managed Ruleset Read
      - Transform Rules Write
      - Transform Rules Read
      - Select Configuration Write
      - Select Configuration Read
      - Account WAF Write
      - Account WAF Read
      - Account Rulesets Read
      - Account Rulesets Write
      - Logs Write
      - Logs Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.phases
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    put:
      operationId: updateAccountEntrypointRuleset
      summary: Update an account entry point ruleset
      description: Updates an account entry point ruleset, creating a new version.
      parameters:
      - name: ruleset_phase
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetPhase'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - $ref: '#/components/parameters/rulesets_DryRun'
      requestBody:
        $ref: '#/components/requestBodies/rulesets_UpdateEntrypointRuleset'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_RulesetOrDryRun'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Magic Firewall Write
      - L4 DDoS Managed Ruleset Write
      - Transform Rules Write
      - Select Configuration Write
      - Account WAF Write
      - Account Rulesets Write
      - Logs Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.phases
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions:
    get:
      operationId: listAccountEntrypointRulesetVersions
      summary: List an account entry point ruleset's versions
      description: Fetches the versions of an account entry point ruleset.
      parameters:
      - name: ruleset_phase
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetPhase'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_Rulesets'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Mass URL Redirects Read
      - Magic Firewall Write
      - Magic Firewall Read
      - L4 DDoS Managed Ruleset Write
      - L4 DDoS Managed Ruleset Read
      - Transform Rules Write
      - Transform Rules Read
      - Select Configuration Write
      - Select Configuration Read
      - Account WAF Write
      - Account WAF Read
      - Account Rulesets Read
      - Account Rulesets Write
      - Logs Write
      - Logs Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.phases.versions
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions/{ruleset_version}:
    get:
      operationId: getAccountEntrypointRulesetVersion
      summary: Get an account entry point ruleset version
      description: Fetches a specific version of an account entry point ruleset.
      parameters:
      - name: ruleset_version
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetVersion'
      - name: ruleset_phase
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetPhase'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_Ruleset'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Mass URL Redirects Read
      - Magic Firewall Write
      - Magic Firewall Read
      - L4 DDoS Managed Ruleset Write
      - L4 DDoS Managed Ruleset Read
      - Transform Rules Write
      - Transform Rules Read
      - Select Configuration Write
      - Select Configuration Read
      - Account WAF Write
      - Account WAF Read
      - Account Rulesets Read
      - Account Rulesets Write
      - Logs Write
      - Logs Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.phases.versions
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/{ruleset_id}:
    delete:
      operationId: deleteAccountRuleset
      summary: Delete an account ruleset
      description: Deletes all versions of an existing account ruleset.
      parameters:
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - $ref: '#/components/parameters/rulesets_DryRun'
      responses:
        '204':
          $ref: '#/components/responses/rulesets_Empty'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Magic Firewall Write
      - L4 DDoS Managed Ruleset Write
      - Transform Rules Write
      - Select Configuration Write
      - Account WAF Write
      - Account Rulesets Write
      - Logs Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: getAccountRuleset
      summary: Get an account ruleset
      description: Fetches the latest version of an account ruleset.
      parameters:
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_Ruleset'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Mass URL Redirects Read
      - Magic Firewall Write
      - Magic Firewall Read
      - L4 DDoS Managed Ruleset Write
      - L4 DDoS Managed Ruleset Read
      - Transform Rules Write
      - Transform Rules Read
      - Select Configuration Write
      - Select Configuration Read
      - Account WAF Write
      - Account WAF Read
      - Account Rulesets Read
      - Account Rulesets Write
      - Logs Write
      - Logs Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    put:
      operationId: updateAccountRuleset
      summary: Update an account ruleset
      description: Updates an account ruleset, creating a new version.
      parameters:
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - $ref: '#/components/parameters/rulesets_DryRun'
      requestBody:
        $ref: '#/components/requestBodies/rulesets_UpdateRuleset'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_RulesetOrDryRun'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Magic Firewall Write
      - L4 DDoS Managed Ruleset Write
      - Transform Rules Write
      - Select Configuration Write
      - Account WAF Write
      - Account Rulesets Write
      - Logs Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/{ruleset_id}/rules:
    post:
      operationId: createAccountRulesetRule
      summary: Create an account ruleset rule
      description: Adds a new rule to an account ruleset. The rule will be added to the end of the existing list of rules in the ruleset by default.
      parameters:
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - $ref: '#/components/parameters/rulesets_DryRun'
      requestBody:
        $ref: '#/components/requestBodies/rulesets_Rule'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_RulesetOrDryRun'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Magic Firewall Write
      - L4 DDoS Managed Ruleset Write
      - Transform Rules Write
      - Select Configuration Write
      - Account WAF Write
      - Account Rulesets Write
      - Logs Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.rules
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/{ruleset_id}/rules/{rule_id}:
    delete:
      operationId: deleteAccountRulesetRule
      summary: Delete an account ruleset rule
      description: Deletes an existing rule from an account ruleset.
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RuleId'
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - $ref: '#/components/parameters/rulesets_DryRun'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_RulesetOrDryRun'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Magic Firewall Write
      - L4 DDoS Managed Ruleset Write
      - Transform Rules Write
      - Select Configuration Write
      - Account WAF Write
      - Account Rulesets Write
      - Logs Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.rules
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    patch:
      operationId: updateAccountRulesetRule
      summary: Update an account ruleset rule
      description: Updates an existing rule in an account ruleset.
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RuleId'
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - $ref: '#/components/parameters/rulesets_DryRun'
      requestBody:
        $ref: '#/components/requestBodies/rulesets_Rule'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_RulesetOrDryRun'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Magic Firewall Write
      - L4 DDoS Managed Ruleset Write
      - Transform Rules Write
      - Select Configuration Write
      - Account WAF Write
      - Account Rulesets Write
      - Logs Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.rules
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/{ruleset_id}/versions:
    get:
      operationId: listAccountRulesetVersions
      summary: List an account ruleset's versions
      description: Fetches the versions of an account ruleset.
      parameters:
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_Rulesets'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Mass URL Redirects Read
      - Magic Firewall Write
      - Magic Firewall Read
      - L4 DDoS Managed Ruleset Write
      - L4 DDoS Managed Ruleset Read
      - Transform Rules Write
      - Transform Rules Read
      - Select Configuration Write
      - Select Configuration Read
      - Account WAF Write
      - Account WAF Read
      - Account Rulesets Read
      - Account Rulesets Write
      - Logs Write
      - Logs Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.versions
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/{ruleset_id}/versions/{ruleset_version}:
    delete:
      operationId: deleteAccountRulesetVersion
      summary: Delete an account ruleset version
      description: Deletes an existing version of an account ruleset.
      parameters:
      - name: ruleset_version
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetVersion'
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      - $ref: '#/components/parameters/rulesets_DryRun'
      responses:
        '204':
          $ref: '#/components/responses/rulesets_Empty'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Magic Firewall Write
      - L4 DDoS Managed Ruleset Write
      - Transform Rules Write
      - Select Configuration Write
      - Account WAF Write
      - Account Rulesets Write
      - Logs Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.versions
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: getAccountRulesetVersion
      summary: Get an account ruleset version
      description: Fetches a specific version of an account ruleset.
      parameters:
      - name: ruleset_version
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetVersion'
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_Ruleset'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Mass URL Redirects Read
      - Magic Firewall Write
      - Magic Firewall Read
      - L4 DDoS Managed Ruleset Write
      - L4 DDoS Managed Ruleset Read
      - Transform Rules Write
      - Transform Rules Read
      - Select Configuration Write
      - Select Configuration Read
      - Account WAF Write
      - Account WAF Read
      - Account Rulesets Read
      - Account Rulesets Write
      - Logs Write
      - Logs Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.versions
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/rulesets/{ruleset_id}/versions/{ruleset_version}/by_tag/{rule_tag}:
    get:
      operationId: listAccountRulesetVersionRulesByTag
      summary: List an account ruleset version's rules by tag
      description: Fetches the rules of a managed account ruleset version for a given tag.
      parameters:
      - name: rule_tag
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RuleCategory'
      - name: ruleset_version
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetVersion'
      - name: ruleset_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_RulesetId'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/rulesets_AccountId'
      responses:
        '200':
          $ref: '#/components/responses/rulesets_Ruleset'
        4XX:
          $ref: '#/components/responses/rulesets_Failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - Account Rulesets
      x-api-token-group:
      - Mass URL Redirects Write
      - Mass URL Redirects Read
      - Magic Firewall Write
      - Magic Firewall Read
      - L4 DDoS Managed Ruleset Write
      - L4 DDoS Managed Ruleset Read
      - Transform Rules Write
      - Transform Rules Read
      - Select Configuration Write
      - Select Configuration Read
      - Account WAF Write
      - Account WAF Read
      - Account Rulesets Read
      - Account Rulesets Write
      - Logs Write
      - Logs Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: rulesets.account-rulesets.versions.by-tag
      x-fern-sdk-method-name: list
      x-forge-hidden: true
components:
  schemas:
    rulesets_SetCacheSettingsAdditionalCacheablePorts:
      description: A list of additional ports that caching should be enabled on.
      type: array
      items:
        description: A port to enable caching on.
        example: 8080
        maximum: 65535
        minimum: 1
        title: Additional Cacheable Port
        type: integer
      minItems: 1
      title: Additional Cacheable Ports (Enterprise-Only)
      uniqueItems: true
    rulesets_LogCustomFieldResponseFields:
      description: The transformed response fields to log.
      type: array
      items:
        description: The transformed response field to log.
        properties:
          name:
            description: The name of the response header.
            type: string
            example: my-response-header
            minLength: 1
            title: Header Name
          preserve_duplicates:
            description: Whether to log duplicate values of the same header.
            type: boolean
            example: true
            default: false
            title: Preserve Duplicates
        required:
        - name
        title: Transformed Response Field
        type: object
      minItems: 1
      title: Transformed Response Fields
    rulesets_SkipRules:
      description: A mapping of ruleset IDs to a list of rule IDs in that ruleset to skip the execution of. This option is incompatible with the ruleset option.
      type: object
      example:
        4814384a9e5d4991b9815dcfc25d2f1f:
        - 8ac8bc2a661e475d940980f9317f28e1
      additionalProperties:
        description: A list of rule IDs in the ruleset to skip the execution of.
        items:
          allOf:
          - $ref: '#/components/schemas/rulesets_RuleId'
          - description: The ID of a rule in the ruleset to skip the execution of.
            example: 8ac8bc2a661e475d940980f9317f28e1
            title: Rule
            type: string
        minItems: 1
        title: Rules
        type: array
        uniqueItems: true
      minProperties: 1
      title: Rules
    rulesets_RewriteHeaders:
      description: A map of headers to rewrite.
      type: object
      example:
        client-http-version:
          expression: http.request.version
          operation: set
      additionalProperties:
        oneOf:
        - description: A header with a static value to add.
          properties:
            operation:
              allOf:
              - $ref: '#/components/schemas/rulesets_RewriteHeaderOperation'
              - enum:
                - add
                type: string
            value:
              $ref: '#/components/schemas/rulesets_RewriteHeaderValue'
          required:
          - operation
          - value
          title: Add Static Header
          type: object
        - description: A header with a dynamic value to add.
          properties:
            expression:
              $ref: '#/components/schemas/rulesets_RewriteHeaderExpression'
            operation:
              allOf:
              - $ref: '#/components/schemas/rulesets_RewriteHeaderOperation'
              - enum:
                - add
                type: string
          required:
          - operation
          - expression
          title: Add Dynamic Header
          type: object
        - description: A header with a static value to set.
          properties:
            operation:
              allOf:
              - $ref: '#/components/schemas/rulesets_RewriteHeaderOperation'
              - enum:
                - set
                type: string
            value:
              $ref: '#/components/schemas/rulesets_RewriteHeaderValue'
          required:
          - operation
          - value
          title: Set Static Header
          type: object
        - description: A header with a dynamic value to set.
          properties:
            expression:
              $ref: '#/components/schemas/rulesets_RewriteHeaderExpression'
            operation:
              allOf:
              - $ref: '#/components/schemas/rulesets_RewriteHeaderOperation'
              - enum:
                - set
                type: string
          required:
          - operation
          - expression
          title: Set Dynamic Header
          type: object
        - description: A header to remove.
          properties:
            operation:
              allOf:
              - $ref: '#/components/schemas/rulesets_RewriteHeaderOperation'
              - enum:
                - remove
                type: string
          required:
          - operation
          title: Remove Header
          type: object
      minProperties: 1
      title: Headers
    rulesets_Rule:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/rulesets_RuleAction'
        action_parameters:
          description: The parameters configuring the rule's action.
          type: object
          default: {}
          title: Action Parameters
        categories:
          $ref: '#/components/schemas/rulesets_RuleCategories'
        description:
          description: An informative description of the rule.
          type: string
          default: ''
          title: Description
        enabled:
          allOf:
          - $ref: '#/components/schemas/rulesets_RuleEnabled'
          - default: true
            type: boolean
        exposed_credential_check:
          $ref: '#/components/schemas/rulesets_RuleExposedCredentialCheck'
        expression:
          description: The expression defining which traffic will match the rule.
          type: string
          example: ip.src eq 1.1.1.1
          minLength: 1
          title: Expression
        id:
          $ref: '#/components/schemas/rulesets_RuleId'
        last_updated:
          description: The timestamp of when the rule was last modified.
          type: string
          format: date-time
          example: '2000-01-01T00:00:00Z'
          readOnly: true
          title: Last Updated
          x-stainless-skip:
          - terraform
        logging:
          $ref: '#/components/schemas/rulesets_RuleLogging'
        ratelimit:
          $ref: '#/components/schemas/rulesets_RuleRatelimit'
        ref:
          description: The reference of the rule (the rule's ID by default).
          type: string
          example: my_ref
          minLength: 1
          title: Ref
        version:
          description: The version of the rule.
          type: string
          example: '1'
          pattern: ^[0-9]+$
          readOnly: true
          title: Version
          x-stainless-skip:
          - terraform
      required:
      - version
      - last_updated
      title: Rule
    rulesets_SetCacheControlDirective:
      description: A cache-control directive configuration.
      oneOf:
      - description: Set the directive.
        properties:
          cloudflare_only:
            $ref: '#/components/schemas/rulesets_SetCacheControlCloudflareOnly'
          operation:
            allOf:
            - $ref: '#/components/schemas/rulesets_SetCacheControlOperation'
            - enum:
              - set
              type: string
        required:
        - operation
        title: Set Directive
        type: object
      - description: Remove the directive.
        properties:
          cloudflare_only:
            $ref: '#/components/schemas/rulesets_SetCacheControlCloudflareOnly'
          operation:
            allOf:
            - $ref: '#/components/schemas/rulesets_SetCacheControlOperation'
            - enum:
              - remove
              type: string
        required:
        - operation
        title: Remove Directive
        type: object
      title: Cache Control Directive
    rulesets_RuleRatelimit:
      description: An object configuring the rule's rate limit behavior.
      type: object
      properties:
        characteristics:
          description: Characteristics of the request on which the rate limit counter will be incremented.
          type: array
          items:
            description: The characteristic of the request.
            example: cf.colo.id
            minLength: 1
            title: Characteristic
            type: string
          minItems: 1
          title: Characteristics
          uniqueItems: true
        counting_expression:
          description: An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression.
          type: string
          example: http.request.body.raw eq "abcd"
          minLength: 1
          title: Counting Expression
        mitigation_timeout:
          description: Period of time in seconds after which the action will be disabled following its first execution.
          type: integer
          example: 600
          title: Mitigation Timeout
        period:
          description: Period in seconds over which the counter is being incremented.
          type: integer
          example: 60
          minimum: 0
          title: Period
        requests_per_period:
          description: The threshold of requests per period after which the action will be executed for the first time.
          type: integer
          example: 1000
          minimum: 1
          title: Requests per Period
        requests_to_origin:
          description: Whether counting is only performed when an origin is reached.
          type: boolean
          example: true
          default: false
          title: Requests to Origin
        score_per_period:
          description: The score threshold per period for which the action will be executed the first time.
          type: integer
          example: 400
          title: Score per Period
        score_response_header_name:
          description: A response header name provided by the origin, which contains the score to increment rate limit counter with.
          type: string
          example: my-score
          minLength: 1
          title: Score Response Header Name
      required:
      - characteristics
      - period
      title: Rate Limit
    rulesets_RewriteHeaderValue:
      description: A static value for the header.
      type: string
      example: my-header-value
      minLength: 1
      title: Header Value
    rulesets_SetCacheSettingsReadTimeout:
      description: A timeout value between two successive read operations to use for your origin server. Historically, the timeout value between two read options from Cloudflare to an origin server is 100 seconds. If you are attempting to reduce HTTP 524 errors because of timeouts from an origin server, try increasing this timeout value.
      type: integer
      example: 900
      maximum: 6000
      minimum: 100
      title: Read Timeout (Enterprise-Only)
    rulesets_SkipRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - skip
          action_parameters:
            type: object
            minProperties: 1
            properties:
              phase:
                $ref: '#/components/schemas/rulesets_SkipPhase'
              phases:
                $ref: '#/components/schemas/rulesets_SkipPhases'
              products:
                $ref: '#/components/schemas/rulesets_SkipProducts'
              rules:
                $ref: '#/components/schemas/rulesets_SkipRules'
              ruleset:
                $ref: '#/components/schemas/rulesets_SkipRuleset'
              rulesets:
                $ref: '#/components/schemas/rulesets_SkipRulesets'
          description:
            type: string
            example: Skip executing rulesets, rules, phases, and other products.
        title: Skip Rule
        type: object
    rulesets_SkipPhase:
      description: A phase to skip the execution of. This option is only compatible with the products option.
      type: string
      enum:
      - current
      title: Phase
    rulesets_RulesetId:
      description: The unique ID of the ruleset.
      type: string
      example: 2f2feab2026849078ba485f918791bdc
      pattern: ^[0-9a-f]{32}$
      title: Ruleset ID
    rulesets_LogCustomFieldRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - log_custom_field
          action_parameters:
            type: object
            minProperties: 1
            properties:
              cookie_fields:
                $ref: '#/components/schemas/rulesets_LogCustomFieldCookieFields'
              raw_response_fields:
                $ref: '#/components/schemas/rulesets_LogCustomFieldRawResponseFields'
              request_fields:
                $ref: '#/components/schemas/rulesets_LogCustomFieldRequestFields'
              response_fields:
                $ref: '#/components/schemas/rulesets_LogCustomFieldResponseFields'
              transformed_request_fields:
                $ref: '#/components/schemas/rulesets_LogCustomFieldTransformedRequestFields'
          description:
            type: string
            example: Log additional custom fields.
        title: Log Custom Field Rule
        type: object
    rulesets_RequestRule:
      discriminator:
        mapping:
          block: '#/components/schemas/rulesets_BlockRule'
          challenge: '#/components/schemas/rulesets_ChallengeRule'
          compress_response: '#/components/schemas/rulesets_CompressResponseRule'
          ddos_dynamic: '#/components/schemas/rulesets_DDoSDynamicRule'
          execute: '#/components/schemas/rulesets_ExecuteRule'
          force_connection_close: '#/components/schemas/rulesets_ForceConnectionCloseRule'
          js_challenge: '#/components/schemas/rulesets_JsChallengeRule'
          log: '#/components/schemas/rulesets_LogRule'
          log_custom_field: '#/components/schemas/rulesets_LogCustomFieldRule'
          managed_challenge: '#/components/schemas/rulesets_ManagedChallengeRule'
          redirect: '#/components/schemas/rulesets_RedirectRule'
          rewrite: '#/components/schemas/rulesets_RewriteRule'
          route: '#/components/schemas/rulesets_RouteRule'
          score: '#/components/schemas/rulesets_ScoreRule'
          serve_error: '#/components/schemas/rulesets_ServeErrorRule'
          set_cache_control: '#/components/schemas/rulesets_SetCacheControlRule'
          set_cache_settings: '#/components/schemas/rulesets_SetCacheSettingsRule'
          set_cache_tags: '#/components/schemas/rulesets_SetCacheTagsRule'
          set_config: '#/components/schemas/rulesets_SetConfigRule'
          skip: '#/components/schemas/rulesets_SkipRule'
          transform_response_html: '#/components/schemas/rulesets_TransformResponseHTMLRule'
        propertyName: action
      oneOf:
      - $ref: '#/components/schemas/rulesets_BlockRule'
      - $ref: '#/components/schemas/rulesets_ChallengeRule'
      - $ref: '#/components/schemas/rulesets_CompressResponseRule'
      - $ref: '#/components/schemas/rulesets_DDoSDynamicRule'
      - $ref: '#/components/schemas/rulesets_ExecuteRule'
      - $ref: '#/components/schemas/rulesets_ForceConnectionCloseRule'
      - $ref: '#/components/schemas/rulesets_JsChallengeRule'
      - $ref: '#/components/schemas/rulesets_LogRule'
      - $ref: '#/components/schemas/rulesets_LogCustomFieldRule'
      - $ref: '#/components/schemas/rulesets_ManagedChallengeRule'
      - $ref: '#/components/schemas/rulesets_RedirectRule'
      - $ref: '#/components/schemas/rulesets_RewriteRule'
      - $ref: '#/components/schemas/rulesets_RouteRule'
      - $ref: '#/components/schemas/rulesets_ScoreRule'
      - $ref: '#/components/schemas/rulesets_ServeErrorRule'
      - $ref: '#/components/schemas/rulesets_SetCacheControlRule'
      - $ref: '#/components/schemas/rulesets_SetCacheSettingsRule'
      - $ref: '#/components/schemas/rulesets_SetCacheTagsRule'
      - $ref: '#/components/schemas/rulesets_SetConfigRule'
      - $ref: '#/components/schemas/rulesets_SkipRule'
      - $ref: '#/components/schemas/rulesets_TransformResponseHTMLRule'
    rulesets_RewriteUriPath:
      description: A URI path rewrite.
      type: object
      properties:
        expression:
          description: An expression that evaluates to a value to rewrite the URI path to.
          type: string
          example: regex_replace(http.request.uri.path, "/foo$", "/bar")
          minLength: 1
          title: Path Expression
        value:
          description: A value to rewrite the URI path to.
          type: string
          example: /foo
          minLength: 1
          title: Path Value
      maxProperties: 1
      minProperties: 1
      title: URI Path
    rulesets_ServeErrorStatusCode:
      description: The status code to use for the error.
      type: integer
      example: 500
      maximum: 999
      minimum: 400
      title: Status Code
    rulesets_ResponseRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_RequestRule'
      - properties:
          action:
            type: string
          enabled:
            type: boolean
          expression:
            type: string
          id:
            type: string
          ref:
            type: string
        required:
        - id
        - expression
        - action
        - ref
        - enabled
        type: object
    rulesets_RuleLogging:
      description: An object configuring the rule's logging behavior.
      type: object
      properties:
        enabled:
          description: Whether to generate a log when the rule matches.
          type: boolean
          example: true
          title: Enabled
      required:
      - enabled
      title: Logging
    rulesets_SetCacheSettingsOriginRangeRequests:
      description: Controls whether Cloudflare fetches a large asset from the origin as a series of range requests instead of one whole-body request.
      type: object
      properties:
        mode:
          description: Whether to use range requests. `default` is the behaviour the zone gets without this rule.
          type: string
          example: 'on'
          enum:
          - 'on'
          - 'off'
          - default
          title: Mode
      required:
      - mode
      title: Origin Range Requests
    rulesets_SetCacheTagsRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - set_cache_tags
          action_parameters:
            oneOf:
            - description: Add cache tags using a list of values.
              properties:
                operation:
                  allOf:
                  - $ref: '#/components/schemas/rulesets_SetCacheTagsOperation'
                  - enum:
                    - add
                    type: string
                values:
                  $ref: '#/components/schemas/rulesets_SetCacheTagsValues'
              required:
              - operation
              - values
              title: Add Cache Tags (Values)
              type: object
            - description: Add cache tags using an expression.
              properties:
                expression:
                  $ref: '#/components/schemas/rulesets_SetCacheTagsExpression'
                operation:
                  allOf:
                  - $ref: '#/components/schemas/rulesets_SetCacheTagsOperation'
                  - enum:
                    - add
                    type: string
              required:
              - operation
              - expression
              title: Add Cache Tags (Expression)
              type: object
            - description: Remove cache tags using a list of values.
              properties:
                operation:
                  allOf:
                  - $ref: '#/components/schemas/rulesets_SetCacheTagsOperation'
                  - enum:
                    - remove
                    type: string
                values:
                  $ref: '#/components/schemas/rulesets_SetCacheTagsValues'
              required:
              - operation
              - values
              title: Remove Cache Tags (Values)
              type: object
            - description: Remove cache tags using an expression.
              properties:
                expression:
                  $ref: '#/components/schemas/rulesets_SetCacheTagsExpression'
                operation:
                  allOf:
                  - $ref: '#/components/schemas/rulesets_SetCacheTagsOperation'
                  - enum:
                    - remove
                    type: string
              required:
              - operation
              - expression
              title: Remove Cache Tags (Expression)
              type: object
            - description: Set cache tags using a list of values.
              properties:
                operation:
                  allOf:
                  - $ref: '#/components/schemas/rulesets_SetCacheTagsOperation'
                  - enum:
                    - set
                    type: string
                values:
                  $ref: '#/components/schemas/rulesets_SetCacheTagsValues'
              required:
              - operation
              - values
              title: Set Cache Tags (Values)
              type: object
            - description: Set cache tags using an expression.
              properties:
                expression:
                  $ref: '#/components/schemas/rulesets_SetCacheTagsExpression'
                operation:
                  allOf:
                  - $ref: '#/components/schemas/rulesets_SetCacheTagsOperation'
                  - enum:
                    - set
                    type: string
              required:
              - operation
              - expression
              title: Set Cache Tags (Expression)
              type: object
          description:
            type: string
            example: Modify the cache tags associated with the response.
        title: Set Cache Tags Rule
        type: object
    rulesets_SetCacheSettingsSharedDictionary:
      description: Configuration for shared dictionary compression. When set, Cloudflare injects Use-As-Dictionary headers on matching cacheable responses.
      type: object
      properties:
        match_pattern:
          description: URL pattern for the Use-As-Dictionary match field. This pattern specifies which URLs can use this response as a dictionary.
          type: string
          example: /static/js/*.js
          maxLength: 1024
          minLength: 1
          title: Match Pattern
      required:
      - match_pattern
      title: Shared Dictionary
    rulesets_SetCacheSettingsCustomCacheKey:
      description: Which components of the request are included or excluded from the cache key.
      type: object
      properties:
        cookie:
          $ref: '#/components/schemas/rulesets_SetCacheSettingsCustomCacheKeyCookie'
        header:
          $ref: '#/components/schemas/rulesets_SetCacheSettingsCustomCacheKeyHeader'
        host:
          $ref: '#/components/schemas/rulesets_SetCacheSettingsCustomCacheKeyHost'
        query_string:
          $ref: '#/components/schemas/rulesets_SetCacheSettingsCustomCacheKeyQueryString'
        user:
          $ref: '#/components/schemas/rulesets_SetCacheSettingsCustomCacheKeyUser'
      title: Custom Cache Key
    rulesets_LogRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - log
          description:
            type: string
            example: Log the request.
        title: Log Rule
        type: object
    rulesets_RuleId:
      description: The unique ID of the rule.
      type: string
      example: 3a03d665bac047339bb530ecb439a90d
      pattern: ^[0-9a-f]{32}$
      title: Rule ID
    rulesets_ResponseRules:
      description: The list of rules in the ruleset.
      type: array
      items:
        $ref: '#/components/schemas/rulesets_ResponseRule'
      title: Rules
    rulesets_SetCacheSettingsStripLastModified:
      description: Whether to strip Last-Modified headers from the origin response before caching.
      type: boolean
      example: true
      title: Strip Last-Modified
    rulesets_ServeErrorContentType:
      description: The content type header to set with the error response.
      type: string
      example: application/json
      enum:
      - application/json
      - text/html
      - text/plain
      - text/xml
      title: Content Type
    rulesets_SkipPhases:
      description: A list of phases to skip the execution of. This option is incompatible with the rulesets option.
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/rulesets_RulesetPhase'
        - description: The phase to skip the execution of.
          type: string
      minItems: 1
      title: Phases
      uniqueItems: true
    rulesets_SetCacheTagsExpression:
      description: An expression that evaluates to an array of cache tag values.
      type: string
      example: http.request.uri.path.extension
      minLength: 1
      title: Expression
    rulesets_SkipProducts:
      description: A list of legacy security products to skip the execution of.
      type: array
      items:
        description: The name of a legacy security product to skip the execution of.
        enum:
        - bic
        - hot
        - rateLimit
        - securityLevel
        - uaBlock
        - waf
        - zoneLockdown
        example: bic
        title: Product
        type: string
      minItems: 1
      title: Products
      uniqueItems: true
    rulesets_AccountId:
      description: The unique ID of the account.
      type: string
      example: abf9b32d38c5f572afde3336ec0ce302
      pattern: ^[0-9a-f]{32}$
      title: Account ID
    rulesets_RulesetVersion:
      description: The version of the ruleset.
      type: string
      example: '1'
      pattern: ^[0-9]+$
      title: Version
    rulesets_SetCacheTagsValues:
      description: A list of cache tag values.
      type: array
      items:
        description: A cache tag value.
        example: my-cache-tag
        minLength: 1
        title: Cache Tag
        type: string
      maxItems: 100
      minItems: 1
      title: Values
    rulesets_SetCacheSettingsCustomCacheKeyUser:
      description: How to use characteristics of the request user agent in the cache key.
      type: object
      properties:
        device_type:
          description: Whether to use the user agent's device type in the cache key.
          type: boolean
          example: true
          title: Device Type
        geo:
          description: Whether to use the user agents's country in the cache key.
          type: boolean
          example: true
          title: Country
        lang:
          description: Whether to use the user agent's language in the cache key.
          type: boolean
          example: true
          title: Language
      title: User
    rulesets_RewriteHeaderExpression:
      description: An expression that evaluates to a value for the header.
      type: string
      example: ip.src
      minLength: 1
      title: Header Expression
    rulesets_LogCustomFieldRequestFields:
      description: The raw request fields to log.
      type: array
      items:
        description: The raw request field to log.
        properties:
          name:
            description: The name of the header.
            type: string
            example: my-request-header
            minLength: 1
            title: Header Name
        required:
        - name
        title: Raw Request Field
        type: object
      minItems: 1
      title: Raw Request Fields
    rulesets_SetCacheControlOperation:
      description: The operation to perform on the cache-control directive.
      type: string
      example: set
      enum:
      - set
      - remove
      title: Operation
    rulesets_ForceConnectionCloseRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - force_connection_close
          description:
            type: string
            example: Close ongoing HTTP connections. This action does not block a request, but it forces the client to reconnect. For HTTP/2 and HTTP/3 connections, the connection will be closed even if it breaks other requests running on the same connection.
        title: Force Connection Close Rule
        type: object
    rulesets_RedirectFromList:
      description: A redirect based on a bulk list lookup.
      type: object
      properties:
        key:
          description: An expression that evaluates to the list lookup key.
          type: string
          example: http.request.full_uri
          minLength: 1
          title: Lookup Key
        name:
          description: The name of the list to match against.
          type: string
          example: my_list
          pattern: ^[a-zA-Z0-9_]+$
          title: List Name
      required:
      - name
      - key
      title: Bulk Redirect
    rulesets_SetCacheSettingsOriginCacheControl:
      description: Whether Cloudflare will aim to strictly adhere to RFC 7234.
      type: boolean
      example: true
      title: Origin Cache Control (Enterprise-Only)
    rulesets_SetCacheSettingsCache:
      description: Whether the request's response from the origin is eligible for caching. Caching itself will still depend on the cache control header and your other caching configurations.
      type: boolean
      example: true
      title: Cache
    rulesets_DDoSDynamicRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - ddos_dynamic
          description:
            type: string
            example: Perform a specific action according to a set of internal guidelines defined by Cloudflare.
        title: DDoS Dynamic Rule
        type: object
    rulesets_TransformResponseHTMLRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - transform_response_html
          action_parameters:
            type: object
            properties:
              link_maze:
                description: Enables the link maze transformation on the response.
                type: object
                title: Link Maze
            required:
            - link_maze
          description:
            type: string
            example: Apply a HTML transformation to the response.
        title: Transform Response HTML Rule
        type: object
    rulesets_LogCustomFieldTransformedRequestFields:
      description: The transformed request fields to log.
      type: array
      items:
        description: The transformed request field to log.
        properties:
          name:
            description: The name of the header.
            type: string
            example: my-request-header
            minLength: 1
            title: Header Name
        required:
        - name
        title: Transformed Request Field
        type: object
      minItems: 1
      title: Transformed Request Fields
    rulesets_RuleCategories:
      description: The categories of the rule.
      type: array
      items:
        $ref: '#/components/schemas/rulesets_RuleCategory'
      minItems: 1
      readOnly: true
      title: Categories
      uniqueItems: true
    rulesets_SetCacheSettingsStripSetCookie:
      description: Whether to strip Set-Cookie headers from the origin response before caching.
      type: boolean
      example: true
      title: Strip Set-Cookie
    rulesets_SetCacheSettingsStatusCodeTTL:
      description: A list of TTLs to apply to specific status codes or status code ranges.
      type: array
      items:
        maxProperties: 2
        minProperties: 2
        properties:
          status_code:
            description: A single status code to apply the TTL to.
            type: integer
            example: 200
            maximum: 999
            minimum: 100
            title: Status Code
          status_code_range:
            description: A range of status codes to apply the TTL to.
            type: object
            minProperties: 1
            properties:
              from:
                description: The lower bound of the range.
                type: integer
                example: 200
                maximum: 999
                minimum: 100
                title: From
              to:
                description: The upper bound of the range.
                type: integer
                example: 299
                maximum: 999
                minimum: 100
                title: To
            title: Status Code Range
          value:
            description: The time to cache the response for (in seconds). A value of 0 is equivalent to setting the cache control header with the value "no-cache". A value of -1 is equivalent to setting the cache control header with the value of "no-store".
            type: integer
            example: 0
            title: TTL Value
        required:
        - value
        type: object
      minItems: 1
      title: Status Code TTLs
      uniqueItems: true
    rulesets_RuleEnabled:
      description: Whether the rule should be executed.
      type: boolean
      example: true
      title: Enabled
    rulesets_RedirectFromValue:
      description: A redirect based on the request properties.
      type: object
      properties:
        preserve_query_string:
          description: Whether to keep the query string of the original request.
          type: boolean
          example: true
          default: false
          title: Preserve Query String
        status_code:
          description: The status code to use for the redirect.
          type: integer
          example: 302
          enum:
          - 301
          - 302
          - 303
          - 307
          - 308
          title: Status Code
        target_url:
          description: A URL to redirect the request to.
          type: object
          maxProperties: 1
          minProperties: 1
          properties:
            expression:
              description: An expression that evaluates to a URL to redirect the request to.
              type: string
              example: concat("https://example.com", http.request.uri.path)
              minLength: 1
              title: Redirect Expression
            value:
              description: A URL to redirect the request to.
              type: string
              example: https://example.com
              minLength: 1
              title: Redirect Value
          title: Target URL
      required:
      - target_url
      title: Single Redirect
    rulesets_ResultInfo:
      description: Information to navigate the results.
      type: object
      properties:
        cursors:
          description: The set of cursors.
          type: object
          properties:
            after:
              allOf:
              - $ref: '#/components/schemas/rulesets_Cursor'
              - title: After Cursor
                type: string
          required:
          - after
          title: Cursors
      title: Result Info
    rulesets_ServeErrorRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - serve_error
          action_parameters:
            allOf:
            - properties:
                content_type:
                  $ref: '#/components/schemas/rulesets_ServeErrorContentType'
                status_code:
                  $ref: '#/components/schemas/rulesets_ServeErrorStatusCode'
              required:
              - content_type
              type: object
            - oneOf:
              - properties:
                  content:
                    $ref: '#/components/schemas/rulesets_ServeErrorContent'
                required:
                - content
                title: Action Parameters (Content)
                type: object
              - properties:
                  asset_name:
                    $ref: '#/components/schemas/rulesets_ServeErrorAssetName'
                required:
                - asset_name
                title: Action Parameters (Asset)
                type: object
          description:
            type: string
            example: Customize the serving of errors.
        title: Serve Error Rule
        type: object
    rulesets_RouteSNI:
      description: A Server Name Indication (SNI) override.
      type: object
      properties:
        value:
          description: A value to override the SNI to.
          type: string
          example: static.example.com
          minLength: 1
          title: Value
      required:
      - value
      title: Server Name Indication
    rulesets_ManagedChallengeRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - managed_challenge
          description:
            type: string
            example: Issue a Managed Challenge if the visitor has not solved a Managed Challenge or Interactive Challenge prior to the request.
        title: Managed Challenge Rule
        type: object
    rulesets_SetCacheSettingsCustomCacheKeyQueryString:
      description: Which query string parameters to include in or exclude from the cache key.
      type: object
      properties:
        exclude:
          description: Which query string parameters to exclude from the cache key.
          type: object
          maxProperties: 1
          minProperties: 1
          properties:
            all:
              description: Whether to exclude all query string parameters from the cache key.
              type: boolean
              enum:
              - true
              title: Exclude All
            list:
              description: A list of query string parameters to exclude from the cache key.
              type: array
              items:
                description: The name of the query string parameter to exclude.
                example: foo
                minLength: 1
                title: Parameter Name
                type: string
              minItems: 1
              title: Exclude List
              uniqueItems: true
          title: Exclude
        include:
          description: Which query string parameters to include in the cache key.
          type: object
          maxProperties: 1
          minProperties: 1
          properties:
            all:
              description: Whether to include all query string parameters in the cache key.
              type: boolean
              enum:
              - true
              title: Include All
            list:
              description: A list of query string parameters to include in the cache key.
              type: array
              items:
                description: The name of the query string parameter to include.
                example: foo
                minLength: 1
                title: Parameter Name
                type: string
              minItems: 1
              title: Include List
              uniqueItems: true
          title: Include
      maxProperties: 1
      title: Query String Parameters
    rulesets_ScoreRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - score
          action_parameters:
            type: object
            properties:
              increment:
                $ref: '#/components/schemas/rulesets_ScoreIncrement'
            required:
            - increment
          description:
            type: string
            example: Increment the cumulative score.
        title: Score Rule
        type: object
    rulesets_RuleCategory:
      description: The category of a rule.
      type: string
      example: directory-traversal
      minLength: 1
      title: Category
    rulesets_RequestRules:
      description: The list of rules in the ruleset.
      type: array
      items:
        $ref: '#/components/schemas/rulesets_RequestRule'
      default: []
      title: Rules
    rulesets_SetCacheSettingsVaryDefault:
      description: Controls how response Vary headers without a per-header override contribute to the cache key.
      type: object
      properties:
        action:
          description: How the header value is treated when building the cache key.
          type: string
          example: normalize
          enum:
          - bypass
          - passthrough
          - normalize
          title: Action
      required:
      - action
      title: Vary Default
    rulesets_JsChallengeRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - js_challenge
          description:
            type: string
            example: Issue a non-interactive JavaScript Challenge if the visitor has not solved an Interactive Challenge, Managed Challenge, or JavaScript Challenge prior to the request.
        title: JavaScript Challenge Rule
        type: object
    rulesets_ChallengeRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - challenge
          description:
            type: string
            example: Issue an Interactive Challenge if the visitor has not solved an Interactive Challenge prior to the request.
        title: Challenge Rule
        type: object
    rulesets_SkipRulesets:
      description: A list of ruleset IDs to skip the execution of. This option is incompatible with the ruleset and phases options.
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/rulesets_RulesetId'
        - description: The ID of a ruleset to skip the execution of.
          example: 4814384a9e5d4991b9815dcfc25d2f1f
          title: Ruleset
          type: string
      minItems: 1
      title: Rulesets
      uniqueItems: true
    rulesets_RulesetPhase:
      description: The phase of the ruleset.
      type: string
      example: http_request_firewall_custom
      enum:
      - ddos_l4
      - ddos_l7
      - http_config_settings
      - http_custom_errors
      - http_log_custom_fields
      - http_ratelimit
      - http_request_cache_settings
      - http_request_dynamic_redirect
      - http_request_firewall_custom
      - http_request_firewall_managed
      - http_request_late_transform
      - http_request_origin
      - http_request_redirect
      - http_request_sanitize
      - http_request_sbfm
      - http_request_transform
      - http_response_cache_settings
      - http_response_compression
      - http_response_firewall_managed
      - http_response_headers_transform
      - magic_transit
      - magic_transit_ids_managed
      - magic_transit_managed
      - magic_transit_ratelimit
      title: Phase
    rulesets_SetCacheSettingsRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - set_cache_settings
          action_parameters:
            type: object
            minProperties: 1
            properties:
              additional_cacheable_ports:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsAdditionalCacheablePorts'
              browser_ttl:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsBrowserTTL'
              cache:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsCache'
              cache_key:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsCacheKey'
              cache_reserve:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsCacheReserve'
              edge_ttl:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsEdgeTTL'
              origin_cache_control:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsOriginCacheControl'
              origin_error_page_passthru:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsOriginErrorPagePassthru'
              origin_range_requests:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsOriginRangeRequests'
              read_timeout:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsReadTimeout'
              respect_strong_etags:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsRespectStrongEtags'
              serve_stale:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsServeStale'
              shared_dictionary:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsSharedDictionary'
              strip_etags:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsStripETags'
              strip_last_modified:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsStripLastModified'
              strip_set_cookie:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsStripSetCookie'
              vary:
                $ref: '#/components/schemas/rulesets_SetCacheSettingsVary'
          description:
            type: string
            example: Configure settings for how the response is cached.
        title: Set Cache Settings Rule
        type: object
    rulesets_ServeErrorAssetName:
      description: The name of a custom asset to serve as the error response.
      type: string
      example: 500_errors
      minLength: 1
      title: Asset Name
    rulesets_Message:
      description: A message.
      type: object
      properties:
        code:
          description: A unique code for this message.
          type: integer
          example: 10000
          title: Code
        message:
          description: A text description of this message.
          type: string
          example: something bad happened
          minLength: 1
          title: Description
        source:
          description: The source of this message.
          type: object
          properties:
            pointer:
              description: A JSON pointer to the field that is the source of the message.
              type: string
              example: /rules/0/action
              minLength: 1
              title: Pointer
          required:
          - pointer
          title: Source
      required:
      - message
      title: Message
    rulesets_SetCacheSettingsOriginErrorPagePassthru:
      description: Whether to generate Cloudflare error pages for issues from the origin server.
      type: boolean
      example: true
      title: Origin Error Page Passthrough
    rulesets_SetCacheSettingsStripETags:
      description: Whether to strip ETag headers from the origin response before caching.
      type: boolean
      example: true
      title: Strip ETags
    rulesets_SetCacheSettingsVary:
      description: Controls how cached responses vary based on request headers. `default` is required by the API and applies to any Vary response header that does not have a per-header override.
      type: object
      properties:
        default:
          $ref: '#/components/schemas/rulesets_SetCacheSettingsVaryDefault'
        headers:
          description: A mapping of lowercase request header names to their vary configuration.
          type: object
          example:
            accept:
              action: normalize
              media_types:
              - image/webp
              - image/png
          additionalProperties:
            $ref: '#/components/schemas/rulesets_SetCacheSettingsVaryHeader'
          maxProperties: 50
          title: Headers
      minProperties: 1
      title: Vary
    rulesets_SetCacheSettingsVaryHeader:
      description: Controls how a single request header contributes to the cache key.
      type: object
      properties:
        action:
          description: How the header value is treated when building the cache key.
          type: string
          example: normalize
          enum:
          - bypass
          - passthrough
          - normalize
          title: Action
        languages:
          description: The set of languages to normalize against. Only valid for the `accept-language` header.
          type: array
          items:
            description: A language tag to normalize against. Must be printable ASCII.
            example: en
            maxLength: 64
            minLength: 1
            pattern: ^[ -~]+$
            title: Language
            type: string
          maxItems: 20
          title: Languages
        media_types:
          description: The set of media types to normalize against. Only valid for the `accept` header.
          type: array
          items:
            description: A media type to normalize against. Must be printable ASCII.
            example: image/webp
            maxLength: 255
            minLength: 1
            pattern: ^[ -~]+$
            title: Media Type
            type: string
          maxItems: 10
          title: Media Types
      required:
      - action
      title: Vary Header
    rulesets_RedirectRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - redirect
          action_parameters:
            type: object
            maxProperties: 1
            minProperties: 1
            properties:
              from_list:
                $ref: '#/components/schemas/rulesets_RedirectFromList'
              from_value:
                $ref: '#/components/schemas/rulesets_RedirectFromValue'
          description:
            type: string
            example: Redirect the request.
        title: Redirect Rule
        type: object
    rulesets_RouteOrigin:
      description: An origin to route to.
      type: object
      properties:
        host:
          description: A resolved host to route to.
          type: string
          example: static.example.com
          minLength: 1
          title: Host
        port:
          description: A destination port to route to.
          type: integer
          example: 80
          maximum: 65535
          minimum: 1
          title: Port
      minProperties: 1
      title: Origin
    rulesets_ScoreIncrement:
      description: A delta to change the score by, which can be either positive or negative.
      type: integer
      example: 3
      title: Increment
    rulesets_RouteRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - route
          action_parameters:
            type: object
            minProperties: 1
            properties:
              host_header:
                $ref: '#/components/schemas/rulesets_RouteHostHeader'
              origin:
                $ref: '#/components/schemas/rulesets_RouteOrigin'
              sni:
                $ref: '#/components/schemas/rulesets_RouteSNI'
          description:
            type: string
            example: Select an origin server to route the request to.
        title: Route Rule
        type: object
    rulesets_SkipRuleset:
      description: A ruleset to skip the execution of. This option is incompatible with the rulesets option.
      type: string
      enum:
      - current
      title: Ruleset
    rulesets_LogCustomFieldRawResponseFields:
      description: The raw response fields to log.
      type: array
      items:
        description: The raw response field to log.
        properties:
          name:
            description: The name of the response header.
            type: string
            example: my-response-header
            minLength: 1
            title: Header Name
          preserve_duplicates:
            description: Whether to log duplicate values of the same header.
            type: boolean
            example: true
            default: false
            title: Preserve Duplicates
        required:
        - name
        title: Raw Response Field
        type: object
      minItems: 1
      title: Raw Response Fields
    rulesets_ServeErrorContent:
      description: The response content.
      type: string
      example: "{\n  \"error\": \"1xxx error occurred\"\n}"
      minLength: 1
      title: Content
    rulesets_SetCacheSettingsCacheKey:
      description: Which components of the request are included in or excluded from the cache key Cloudflare uses to store the response in cache.
      type: object
      properties:
        cache_by_device_type:
          description: Whether to separate cached content based on the visitor's device type.
          type: boolean
          example: true
          title: Cache by Device Type
        cache_deception_armor:
          description: Whether to protect from web cache deception attacks, while allowing static assets to be cached.
          type: boolean
          example: true
          title: Cache Deception Armor
        custom_key:
          $ref: '#/components/schemas/rulesets_SetCacheSettingsCustomCacheKey'
        ignore_query_strings_order:
          description: Whether to treat requests with the same query parameters the same, regardless of the order those query parameters are in.
          type: boolean
          example: true
          title: Ignore Query Strings Order
      title: Cache Key
    rulesets_Ruleset:
      description: A ruleset object.
      type: object
      properties:
        description:
          description: An informative description of the ruleset.
          type: string
          example: A description for my ruleset.
          default: ''
          title: Description
        id:
          allOf:
          - $ref: '#/components/schemas/rulesets_RulesetId'
          - readOnly: true
            type: string
        last_updated:
          description: The timestamp of when the ruleset was last modified.
          type: string
          format: date-time
          example: '2000-01-01T00:00:00Z'
          readOnly: true
          title: Last Updated
        name:
          description: The human-readable name of the ruleset.
          type: string
          example: My ruleset
          minLength: 1
          title: Name
        version:
          allOf:
          - $ref: '#/components/schemas/rulesets_RulesetVersion'
          - readOnly: true
            type: string
      required:
      - id
      - version
      - last_updated
      title: Ruleset
    rulesets_ExecuteMatchedData:
      description: The configuration to use for matched data logging.
      type: object
      properties:
        public_key:
          description: The public key to encrypt matched data logs with.
          type: string
          example: iGqBmyIUxuWt1rvxoAharN9FUXneUBxA/Y19PyyrEG0=
          minLength: 1
          title: Public Key
      required:
      - public_key
      title: Matched Data
    rulesets_SetCacheControlCloudflareOnly:
      description: Whether the directive should only be applied to the Cloudflare CDN cache.
      type: boolean
      example: false
      default: false
      title: Cloudflare Only
    rulesets_Response:
      description: A response object.
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/rulesets_Errors'
        messages:
          $ref: '#/components/schemas/rulesets_Messages'
        result:
          description: A result.
          oneOf:
          - type:
            - object
            - 'null'
          - items: {}
            type: array
          - type: string
          - type: number
          - type: boolean
          title: Result
        success:
          description: Whether the API call was successful.
          type: boolean
          title: Success
      required:
      - result
      - success
      - errors
      - messages
      title: Response
    rulesets_SetConfigAutominify:
      description: Which file extensions to minify automatically.
      type: object
      properties:
        css:
          description: Whether to minify CSS files.
          type: boolean
          example: true
          default: false
          title: CSS
        html:
          description: Whether to minify HTML files.
          type: boolean
          example: true
          default: false
          title: HTML
        js:
          description: Whether to minify JavaScript files.
          type: boolean
          example: true
          default: false
          title: JavaScript
      title: Auto-Minify
    rulesets_SetCacheControlRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - set_cache_control
          action_parameters:
            type: object
            minProperties: 1
            properties:
              immutable:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirective'
              max-age:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirectiveWithValue'
              must-revalidate:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirective'
              must-understand:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirective'
              no-cache:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirectiveWithQualifiers'
              no-store:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirective'
              no-transform:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirective'
              private:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirectiveWithQualifiers'
              proxy-revalidate:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirective'
              public:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirective'
              s-maxage:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirectiveWithValue'
              stale-if-error:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirectiveWithValue'
              stale-while-revalidate:
                $ref: '#/components/schemas/rulesets_SetCacheControlDirectiveWithValue'
          description:
            type: string
            example: Modify the cache-control header directives in an Origin response.
        title: Set Cache Control Rule
        type: object
    rulesets_SetCacheSettingsBrowserTTL:
      description: How long client browsers should cache the response. Cloudflare cache purge will not purge content cached on client browsers, so high browser TTLs may lead to stale content.
      type: object
      properties:
        default:
          description: The browser TTL (in seconds) if you choose the "override_origin" mode.
          type: integer
          example: 60
          minimum: 0
          title: Default TTL
        mode:
          description: The browser TTL mode.
          type: string
          example: override_origin
          enum:
          - respect_origin
          - bypass_by_default
          - override_origin
          - bypass
          title: TTL Mode
      required:
      - mode
      title: Browser TTL
    rulesets_Cursor:
      description: The cursor to use for the next page.
      type: string
      example: dGhpc2lzYW5leGFtcGxlCg
      minLength: 1
      title: Cursor
    rulesets_RulesetKind:
      description: The kind of the ruleset.
      type: string
      example: root
      enum:
      - managed
      - custom
      - root
      - zone
      title: Kind
    rulesets_RewriteUriQuery:
      description: A URI query rewrite.
      type: object
      properties:
        expression:
          description: An expression that evaluates to a value to rewrite the URI query to.
          type: string
          example: regex_replace(http.request.uri.query, "foo=bar", "")
          minLength: 1
          title: Query Expression
        value:
          description: A value to rewrite the URI query to.
          type: string
          example: foo=bar
          title: Query Value
      maxProperties: 1
      minProperties: 1
      title: URI Query
    rulesets_RewriteRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - rewrite
          action_parameters:
            type: object
            minProperties: 1
            properties:
              headers:
                $ref: '#/components/schemas/rulesets_RewriteHeaders'
              uri:
                $ref: '#/components/schemas/rulesets_RewriteUri'
          description:
            type: string
            example: Rewrite properties of the request or response.
        title: Rewrite Rule
        type: object
    rulesets_Messages:
      description: A list of warning messages.
      type: array
      items:
        $ref: '#/components/schemas/rulesets_Message'
      title: Messages
      uniqueItems: true
    rulesets_SetCacheSettingsCustomCacheKeyHeader:
      description: Which headers to include in the cache key.
      type: object
      properties:
        check_presence:
          description: A list of headers to check for the presence of. The presence of these headers is included in the cache key.
          type: array
          items:
            description: The name of the header to check for the presence of.
            example: my-header
            minLength: 1
            title: Header
            type: string
          minItems: 1
          title: Check Presence
          uniqueItems: true
        contains:
          description: A mapping of header names to a list of values. If a header is present in the request and contains any of the values provided, its value is included in the cache key.
          type: object
          example:
            my-header:
            - my-header-value-1
            - my-header-value-2
          additionalProperties:
            description: A list of values to match the header against.
            items:
              description: The header value to match against.
              example: my-header-value
              minLength: 1
              title: Header Value
              type: string
            minItems: 1
            title: Header Values
            type: array
            uniqueItems: true
          minProperties: 1
          title: Contains
        exclude_origin:
          description: Whether to exclude the origin header in the cache key.
          type: boolean
          example: true
          title: Exclude Origin
        include:
          description: A list of headers to include in the cache key.
          type: array
          items:
            description: The name of the header to include.
            example: my-header
            minLength: 1
            title: Header
            type: string
          minItems: 1
          title: Include
          uniqueItems: true
      title: Headers
    rulesets_PerPage:
      description: The number of rulesets to return per page.
      type: integer
      example: 3
      maximum: 50
      minimum: 1
      title: Per Page
    rulesets_ExecuteSensitivityLevel:
      type: string
      example: default
      enum:
      - default
      - medium
      - low
      - eoff
      title: Sensitivity Level
    rulesets_SetCacheSettingsServeStale:
      description: When to serve stale content from cache.
      type: object
      properties:
        disable_stale_while_updating:
          description: Whether Cloudflare should disable serving stale content while getting the latest content from the origin.
          type: boolean
          example: true
          title: Disable Stale While Updating
      title: Serve Stale
    rulesets_SetCacheControlDirectiveWithValue:
      description: A cache-control directive configuration that accepts a duration value in seconds.
      oneOf:
      - description: Set the directive with a duration value in seconds.
        properties:
          cloudflare_only:
            $ref: '#/components/schemas/rulesets_SetCacheControlCloudflareOnly'
          operation:
            allOf:
            - $ref: '#/components/schemas/rulesets_SetCacheControlOperation'
            - enum:
              - set
              type: string
          value:
            description: The duration value in seconds for the directive.
            type: integer
            example: 3600
            minimum: 0
            title: Value
        required:
        - operation
        - value
        title: Set Directive
        type: object
      - description: Remove the directive.
        properties:
          cloudflare_only:
            $ref: '#/components/schemas/rulesets_SetCacheControlCloudflareOnly'
          operation:
            allOf:
            - $ref: '#/components/schemas/rulesets_SetCacheControlOperation'
            - enum:
              - remove
              type: string
        required:
        - operation
        title: Remove Directive
        type: object
      title: Cache Control Directive With Duration Seconds Value
    rulesets_RouteHostHeader:
      description: A value to rewrite the HTTP host header to.
      type: string
      example: static.example.com
      minLength: 1
      title: Host Header
    rulesets_SetCacheTagsOperation:
      description: The operation to perform on the cache tags.
      type: string
      example: add
      enum:
      - add
      - remove
      - set
      title: Operation
    rulesets_SetCacheSettingsCacheReserve:
      description: Settings to determine whether the request's response from origin is eligible for Cache Reserve (requires a Cache Reserve add-on plan).
      type: object
      properties:
        eligible:
          description: Whether Cache Reserve is enabled. If this is true and a request meets eligibility criteria, Cloudflare will write the resource to Cache Reserve.
          type: boolean
          example: true
          title: Eligible
        minimum_file_size:
          description: The minimum file size eligible for storage in Cache Reserve.
          type: integer
          example: 1024
          minimum: 0
          title: Minimum File Size
      required:
      - eligible
      title: Cache Reserve
    rulesets_RewriteHeaderOperation:
      description: The operation to perform on the header.
      type: string
      title: Operation
    rulesets_SetCacheControlDirectiveWithQualifiers:
      description: A cache-control directive configuration that accepts optional qualifiers (header names).
      oneOf:
      - description: Set the directive with optional qualifiers.
        properties:
          cloudflare_only:
            $ref: '#/components/schemas/rulesets_SetCacheControlCloudflareOnly'
          operation:
            allOf:
            - $ref: '#/components/schemas/rulesets_SetCacheControlOperation'
            - enum:
              - set
              type: string
          qualifiers:
            description: Optional list of header names to qualify the directive (e.g., for "private" or "no-cache" directives).
            type: array
            items:
              description: A header name to qualify the directive.
              example: X-Custom-Header
              minLength: 1
              title: Qualifier
              type: string
            title: Qualifiers
            uniqueItems: true
        required:
        - operation
        title: Set Directive
        type: object
      - description: Remove the directive.
        properties:
          cloudflare_only:
            $ref: '#/components/schemas/rulesets_SetCacheControlCloudflareOnly'
          operation:
            allOf:
            - $ref: '#/components/schemas/rulesets_SetCacheControlOperation'
            - enum:
              - remove
              type: string
        required:
        - operation
        title: Remove Directive
        type: object
      title: Cache Control Directive With Optional Qualifiers
    rulesets_ExecuteOverrides:
      description: A set of overrides to apply to the target ruleset.
      type: object
      properties:
        action:
          allOf:
          - $ref: '#/components/schemas/rulesets_RuleAction'
          - description: An action to override all rules with. This option has lower precedence than rule and category overrides.
            example: log
            type: string
        categories:
          $ref: '#/components/schemas/rulesets_ExecuteCategoryOverrides'
        enabled:
          allOf:
          - $ref: '#/components/schemas/rulesets_RuleEnabled'
          - description: Whether to enable execution of all rules. This option has lower precedence than rule and category overrides.
            type: boolean
        rules:
          $ref: '#/components/schemas/rulesets_ExecuteRuleOverrides'
        sensitivity_level:
          allOf:
          - $ref: '#/components/schemas/rulesets_ExecuteSensitivityLevel'
          - description: A sensitivity level to set for all rules. This option has lower precedence than rule and category overrides and is only applicable for DDoS phases.
            type: string
      minProperties: 1
      title: Overrides
    rulesets_SetCacheSettingsEdgeTTL:
      description: How long the Cloudflare edge network should cache the response.
      type: object
      properties:
        default:
          description: The edge TTL (in seconds) if you choose the "override_origin" mode.
          type: integer
          example: 60
          minimum: 0
          title: Default TTL
        mode:
          description: The edge TTL mode.
          type: string
          example: override_origin
          enum:
          - respect_origin
          - bypass_by_default
          - override_origin
          title: TTL Mode
        status_code_ttl:
          $ref: '#/components/schemas/rulesets_SetCacheSettingsStatusCodeTTL'
      required:
      - mode
      title: Edge TTL
    rulesets_BlockRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - block
          action_parameters:
            type: object
            properties:
              response:
                description: The response to show when the block is applied.
                type: object
                properties:
                  content:
                    description: The content to return.
                    example: "{\n  \"success\": false,\n  \"error\": \"you have been blocked\"\n}"
                    minLength: 1
                    title: Content
                    type: string
                  content_type:
                    description: The type of the content to return.
                    type: string
                    example: application/json
                    minLength: 1
                    title: Content Type
                  status_code:
                    description: The status code to return.
                    type: integer
                    maximum: 499
                    minimum: 400
                    title: Status Code
                required:
                - status_code
                - content
                - content_type
                title: Response
          description:
            type: string
            example: Block the request.
        title: Block Rule
        type: object
    rulesets_CompressResponseRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
            type: string
            enum:
            - compress_response
          action_parameters:
            type: object
            properties:
              algorithms:
                description: Custom order for compression algorithms.
                type: array
                items:
                  description: Compression algorithm to enable.
                  properties:
                    name:
                      description: Name of the compression algorithm to enable.
                      type: string
                      example: none
                      enum:
                      - none
                      - auto
                      - default
                      - gzip
                      - brotli
                      - zstd
                      title: Algorithm Name
                  title: Algorithm
                  type: object
                minItems: 1
                title: Algorithms
                uniqueItems: true
            required:
            - algorithms
          description:
            type: string
            example: Modify the compression algorithm used in the response.
        title: Response Compression Rule
        type: object
    rulesets_ExecuteRule:
      allOf:
      - $ref: '#/components/schemas/rulesets_Rule'
      - properties:
          action:
[...]
