openapi: 3.0.3
info:
  title: Cloudflare / Accounts Ips API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Ips
paths:
  /ips:
    get:
      tags:
      - Ips
      summary: Cloudflare/JD Cloud IP Details
      description: Get IPs used on the Cloudflare/JD Cloud network, see https://www.cloudflare.com/ips for Cloudflare IPs or https://developers.cloudflare.com/china-network/reference/infrastructure/ for JD Cloud IPs.
      operationId: cloudflare-i-ps-cloudflare-ip-details
      parameters:
      - name: networks
        in: query
        description: Specified as `jdcloud` to list IPs used by JD Cloud data centers.
        schema:
          type: string
      responses:
        '200':
          description: Cloudflare IP Details response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-single'
                - properties:
                    result:
                      oneOf:
                      - $ref: '#/components/schemas/addressing_ips'
                      - $ref: '#/components/schemas/addressing_ips_jdcloud'
        4XX:
          description: Cloudflare IP Details response failure
          content:
            application/json:
              schema:
                allOf:
                - allOf:
                  - $ref: '#/components/schemas/addressing_api-response-single'
                  - properties:
                      result:
                        oneOf:
                        - $ref: '#/components/schemas/addressing_ips'
                        - $ref: '#/components/schemas/addressing_ips_jdcloud'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
components:
  schemas:
    addressing_ips:
      type: object
      properties:
        etag:
          $ref: '#/components/schemas/addressing_etag'
        ipv4_cidrs:
          $ref: '#/components/schemas/addressing_ipv4_cidrs'
        ipv6_cidrs:
          $ref: '#/components/schemas/addressing_ipv6_cidrs'
    addressing_etag:
      type: string
      description: A digest of the IP data. Useful for determining if the data has changed.
      example: a8e453d9d129a3769407127936edfdb0
    addressing_api-response-common:
      type: object
      required:
      - success
      - errors
      - messages
      - result
      properties:
        errors:
          $ref: '#/components/schemas/addressing_messages'
        messages:
          $ref: '#/components/schemas/addressing_messages'
        result:
          anyOf:
          - type: object
          - type: array
            items: {}
          - type: string
        success:
          type: boolean
          description: Whether the API call was successful
          enum:
          - true
          example: true
    addressing_ips_jdcloud:
      type: object
      properties:
        etag:
          $ref: '#/components/schemas/addressing_etag'
        ipv4_cidrs:
          $ref: '#/components/schemas/addressing_ipv4_cidrs'
        ipv6_cidrs:
          $ref: '#/components/schemas/addressing_ipv6_cidrs'
        jdcloud_cidrs:
          $ref: '#/components/schemas/addressing_jdcloud_cidrs'
    addressing_messages:
      type: array
      example: []
      items:
        type: object
        uniqueItems: true
        required:
        - code
        - message
        properties:
          code:
            type: integer
            minimum: 1000
          message:
            type: string
    addressing_api-response-single:
      allOf:
      - $ref: '#/components/schemas/addressing_api-response-common'
      - properties:
          result:
            anyOf:
            - type: object
            - type: string
      type: object
    addressing_api-response-common-failure:
      type: object
      required:
      - success
      - errors
      - messages
      - result
      properties:
        errors:
          allOf:
          - $ref: '#/components/schemas/addressing_messages'
          example:
          - code: 7003
            message: No route for the URI
          minLength: 1
        messages:
          allOf:
          - $ref: '#/components/schemas/addressing_messages'
          example: []
        result:
          type: object
          enum:
          - null
          nullable: true
        success:
          type: boolean
          description: Whether the API call was successful
          enum:
          - false
          example: false
    addressing_ipv4_cidrs:
      type: array
      description: List of Cloudflare IPv4 CIDR addresses.
      items:
        type: string
        description: IPv4 CIDR.
        example: 199.27.128.0/21
    addressing_ipv6_cidrs:
      type: array
      description: List of Cloudflare IPv6 CIDR addresses.
      items:
        type: string
        description: IPv6 CIDR.
        example: 2400:cb00::/32
    addressing_jdcloud_cidrs:
      type: array
      description: List IPv4 and IPv6 CIDRs, only populated if `?networks=jdcloud` is used.
      items:
        type: string
        description: IPv4 or IPv6 CIDR.
        example: 199.27.128.0/21
