openapi: 3.2.0
info:
  title: Cloudflare Namespaces API
  version: '1.0'
  description: 'Operations tagged Namespaces across 3 of this provider''s published API definitions: cloudflare-durable-objects-openapi.yml, cloudflare-kv-openapi.yml, cloudflare-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
tags:
- name: Namespaces
  description: Manage Durable Object namespaces that group related object instances.
paths:
  /accounts/{account_id}/workers/durable_objects/namespaces:
    get:
      operationId: listDurableObjectNamespaces
      summary: Cloudflare List Durable Object Namespaces
      description: Returns all Durable Object namespaces for the account.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of Durable Object namespaces.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResponse'
              examples:
                Listdurableobjectnamespaces200Example:
                  summary: Default listDurableObjectNamespaces 200 response
                  x-microcks-default: true
                  value:
                    result:
                    - id: abc123
                      name: Example Title
                      script: example_value
                      class: example_value
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
  /accounts/{account_id}/storage/kv/namespaces:
    get:
      operationId: listKvNamespaces
      summary: Cloudflare List Kv Namespaces
      description: Returns a paginated list of all KV namespaces for the account.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: page
        in: query
        description: Page number of results.
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: per_page
        in: query
        description: Number of results per page.
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: List of KV namespaces.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResponse_2'
              examples:
                Listkvnamespaces200Example:
                  summary: Default listKvNamespaces 200 response
                  x-microcks-default: true
                  value:
                    result:
                    - id: abc123
                      title: Example Title
                      supports_url_encoding: https://www.example.com
                    success: true
                    result_info:
                      page: 10
                      per_page: 10
                      count: 10
                      total_count: 10
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    post:
      operationId: createKvNamespace
      summary: Cloudflare Create Kv Namespace
      description: Create a new KV namespace for the account.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  description: A human-readable title for the namespace.
            examples:
              CreatekvnamespaceRequestExample:
                summary: Default createKvNamespace request
                x-microcks-default: true
                value:
                  title: Example Title
      responses:
        '200':
          description: Namespace created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResponse'
              examples:
                Createkvnamespace200Example:
                  summary: Default createKvNamespace 200 response
                  x-microcks-default: true
                  value:
                    result:
                      id: abc123
                      title: Example Title
                      supports_url_encoding: https://www.example.com
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
  /accounts/{account_id}/storage/kv/namespaces/{namespace_id}:
    get:
      operationId: getKvNamespace
      summary: Cloudflare Get Kv Namespace
      description: Retrieve details of a specific KV namespace.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      responses:
        '200':
          description: Namespace details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResponse'
              examples:
                Getkvnamespace200Example:
                  summary: Default getKvNamespace 200 response
                  x-microcks-default: true
                  value:
                    result:
                      id: abc123
                      title: Example Title
                      supports_url_encoding: https://www.example.com
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '401':
          description: Unauthorized.
        '404':
          description: Namespace not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    put:
      operationId: renameKvNamespace
      summary: Cloudflare Rename Kv Namespace
      description: Rename a KV namespace.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  description: The new title for the namespace.
            examples:
              RenamekvnamespaceRequestExample:
                summary: Default renameKvNamespace request
                x-microcks-default: true
                value:
                  title: Example Title
      responses:
        '200':
          description: Namespace renamed successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Namespace not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    delete:
      operationId: deleteKvNamespace
      summary: Cloudflare Delete Kv Namespace
      description: Delete a KV namespace and all its key-value pairs.
      tags:
      - Namespaces
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      responses:
        '200':
          description: Namespace deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Namespace not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
  /accounts/{account_id}/agent-memory/namespaces:
    parameters:
    - name: account_id
      in: path
      description: Cloudflare Account ID.
      required: true
      schema:
        type: string
        minLength: 1
        pattern: ^\d+$
    get:
      operationId: agent-memory-namespace-list
      summary: List namespaces
      description: Lists all namespaces for the given account. Results are paginated.
      parameters:
      - name: per_page
        in: query
        schema:
          description: Number of results per page.
          type: integer
          example: 20
          maximum: 1000
          minimum: 1
      - name: order
        in: query
        schema:
          description: Field to order the results by.
          type: string
          example: id
          enum:
          - id
          - name
      - name: direction
        in: query
        schema:
          description: Direction to sort the results in.
          type: string
          example: asc
          enum:
          - asc
          - desc
      - name: cursor
        in: query
        schema:
          description: Pagination cursor returned by a previous list response.
          type: string
      responses:
        '200':
          description: A List of namespaces.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    description: Always empty for a successful response.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  messages:
                    description: Informational, non-error messages, if any.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  result:
                    type: array
                    items:
                      properties:
                        created_at:
                          description: Time the namespace was created.
                          type: string
                          format: date-time
                          example: '2025-09-21T14:30:00Z'
                        id:
                          description: Unique identifier of the namespace.
                          type: string
                          example: 01JSGCEXAMP1E0000000000000
                        name:
                          description: Namespace name.
                          type: string
                          example: support-agent
                        updated_at:
                          description: Time the namespace was last updated.
                          type: string
                          format: date-time
                          example: '2025-09-21T14:30:00Z'
                      required:
                      - id
                      - name
                      - created_at
                      - updated_at
                      type: object
                  result_info:
                    type: object
                    properties:
                      count:
                        description: Number of results returned in this page.
                        type: integer
                        example: 1
                      cursor:
                        description: Opaque cursor for the next page; omitted on the last page.
                        type: string
                        example: 01JSGCEXAMP1E0000000000000
                      per_page:
                        description: Page size used for this query.
                        type: integer
                        example: 20
                  success:
                    description: Always true for a successful response.
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    description: One or more errors describing what went wrong.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example:
                    - code: 1003
                      message: namespace not found
                  messages:
                    description: Informational, non-error messages, if any.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  result:
                    description: Always null for an error response.
                    type:
                    - object
                    - 'null'
                  success:
                    description: Always false for an error response.
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Namespaces
      x-fern-availability: beta
      x-fern-sdk-group-name: agent-memory
      x-fern-sdk-method-name: list-namespaces
    post:
      operationId: agent-memory-namespace-create
      summary: Create a namespace
      description: Creates a new memory namespace owned by the account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Namespace name.
                  type: string
                  example: support-agent
                  maxLength: 32
                  minLength: 1
                  pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?$
              required:
              - name
      responses:
        '201':
          description: Namespace created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    description: Always empty for a successful response.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  messages:
                    description: Informational, non-error messages, if any.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  result:
                    type: object
                    properties:
                      created_at:
                        description: Time the namespace was created.
                        type: string
                        format: date-time
                        example: '2025-09-21T14:30:00Z'
                      id:
                        description: Unique identifier of the namespace.
                        type: string
                        example: 01JSGCEXAMP1E0000000000000
                      name:
                        description: Namespace name.
                        type: string
                        example: support-agent
                      updated_at:
                        description: Time the namespace was last updated.
                        type: string
                        format: date-time
                        example: '2025-09-21T14:30:00Z'
                    required:
                    - id
                    - name
                    - created_at
                    - updated_at
                  success:
                    description: Always true for a successful response.
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    description: One or more errors describing what went wrong.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example:
                    - code: 1003
                      message: namespace not found
                  messages:
                    description: Informational, non-error messages, if any.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  result:
                    description: Always null for an error response.
                    type:
                    - object
                    - 'null'
                  success:
                    description: Always false for an error response.
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Namespaces
      x-fern-availability: beta
      x-fern-sdk-group-name: agent-memory
      x-fern-sdk-method-name: create-namespace
    servers:
    - description: Client API
      url: https://api.cloudflare.com/client/v4
  /accounts/{account_id}/agent-memory/namespaces/{namespace_name}:
    parameters:
    - name: account_id
      in: path
      description: Cloudflare Account ID.
      required: true
      schema:
        type: string
        minLength: 1
        pattern: ^\d+$
    delete:
      operationId: agent-memory-namespace-delete
      summary: Delete a namespace
      description: Deletes a namespace.
      parameters:
      - name: namespace_name
        in: path
        required: true
        schema:
          description: Namespace name.
          type: string
          example: support-agent
          maxLength: 32
          minLength: 1
          pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?$
      responses:
        '200':
          description: Namespace deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    description: Always empty for a successful response.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  messages:
                    description: Informational, non-error messages, if any.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  result:
                    type:
                    - object
                    - 'null'
                  success:
                    description: Always true for a successful response.
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    description: One or more errors describing what went wrong.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example:
                    - code: 1003
                      message: namespace not found
                  messages:
                    description: Informational, non-error messages, if any.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  result:
                    description: Always null for an error response.
                    type:
                    - object
                    - 'null'
                  success:
                    description: Always false for an error response.
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Namespaces
      x-fern-availability: beta
      x-fern-sdk-group-name: agent-memory
      x-fern-sdk-method-name: delete-namespace
      x-forge-require-confirmation: This operation deletes the namespace along with all memory profiles, memories, and sessions it contains.
    get:
      operationId: agent-memory-namespace-get
      summary: Get a namespace
      description: Gets a namespace by name.
      parameters:
      - name: namespace_name
        in: path
        required: true
        schema:
          description: Namespace name.
          type: string
          example: support-agent
          maxLength: 32
          minLength: 1
          pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?$
      responses:
        '200':
          description: The requested namespace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    description: Always empty for a successful response.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  messages:
                    description: Informational, non-error messages, if any.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  result:
                    type: object
                    properties:
                      created_at:
                        description: Time the namespace was created.
                        type: string
                        format: date-time
                        example: '2025-09-21T14:30:00Z'
                      id:
                        description: Unique identifier of the namespace.
                        type: string
                        example: 01JSGCEXAMP1E0000000000000
                      name:
                        description: Namespace name.
                        type: string
                        example: support-agent
                      updated_at:
                        description: Time the namespace was last updated.
                        type: string
                        format: date-time
                        example: '2025-09-21T14:30:00Z'
                    required:
                    - id
                    - name
                    - created_at
                    - updated_at
                  success:
                    description: Always true for a successful response.
                    type: boolean
                    enum:
                    - true
                required:
                - result
                - success
                - errors
                - messages
        4XX:
          description: Error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    description: One or more errors describing what went wrong.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example:
                    - code: 1003
                      message: namespace not found
                  messages:
                    description: Informational, non-error messages, if any.
                    type: array
                    items:
                      properties:
                        code:
                          description: Machine-readable status code.
                          type: number
                          example: 1003
                        documentation_url:
                          description: Link to relevant documentation, when available.
                          type: string
                        message:
                          description: Human-readable message describing the error or status.
                          type: string
                          example: namespace not found
                        source:
                          type: object
                          properties:
                            pointer:
                              description: JSON pointer to the request field that caused the error.
                              type: string
                              example: /name
                      required:
                      - code
                      - message
                      type: object
                    example: []
                  result:
                    description: Always null for an error response.
                    type:
                    - object
                    - 'null'
                  success:
                    description: Always false for an error response.
                    type: boolean
                    enum:
                    - false
                required:
                - result
                - success
                - errors
                - messages
      security:
      - api_token: []
      tags:
      - Namespaces
      x-fern-availability: beta
      x-fern-sdk-group-name: agent-memory
      x-fern-sdk-method-name: get-namespace
    servers:
    - description: Client API
      url: https://api.cloudflare.com/client/v4
components:
  schemas:
    DurableObjectNamespace:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the namespace.
          example: abc123
        name:
          type: string
          description: The name of the namespace.
          example: Example Title
        script:
          type: string
          description: The Worker script associated with the namespace.
          example: example_value
        class:
          type: string
          description: The Durable Object class name.
          example: example_value
    NamespaceListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/DurableObjectNamespace'
          example: []
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
    Namespace:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the namespace.
          example: abc123
        title:
          type: string
          description: The human-readable title of the namespace.
          example: Example Title
        supports_url_encoding:
          type: boolean
          description: Whether the namespace supports URL-encoded keys.
          example: https://www.example.com
    NamespaceListResponse_2:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/Namespace'
          example: []
        success:
          type: boolean
          example: true
        result_info:
          type: object
          properties:
            page:
              type: integer
            per_page:
              type: integer
            count:
              type: integer
            total_count:
              type: integer
          example: example_value
    NamespaceResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/Namespace'
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    NamespaceId:
      name: namespace_id
      in: path
      required: true
      description: The unique identifier of the KV namespace.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Workers permissions.
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
x-refined-from:
- cloudflare-durable-objects-openapi.yml
- cloudflare-kv-openapi.yml
- cloudflare-openapi.json
