openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Indicator API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Indicator
paths:
  /accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}/indicators:
    get:
      operationId: get_IndicatorListLegacy
      summary: Lists indicators
      description: This method is deprecated. Please use /events/indicators to retrieve a paginated list of indicators.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset UUID.
        required: true
        schema:
          description: Dataset UUID.
          type: string
          format: uuid
      - name: page
        in: query
        schema:
          type: number
      - name: pageSize
        in: query
        schema:
          type: number
      - name: name
        in: query
        description: Filter by indicator value (substring match)
        schema:
          description: Filter by indicator value (substring match)
          type: string
      - name: indicatorType
        in: query
        schema:
          type: string
      - name: relatedEvent
        in: query
        description: Filter indicators by related event UUID(s). Multiple UUIDs can be provided by repeating the parameter.
        schema:
          description: Filter indicators by related event UUID(s). Multiple UUIDs can be provided by repeating the parameter.
          type: array
          items:
            type: string
      responses:
        '200':
          description: Returns a list of indicators.
          content:
            application/json:
              schema:
                type: object
                properties:
                  indicators:
                    type: array
                    items:
                      properties:
                        createdAt:
                          type: string
                          format: date-time
                          example: '2022-04-01T00:00:00Z'
                        datasetId:
                          description: The dataset ID this indicator belongs to. Included in list responses.
                          type: string
                          example: dataset-uuid-123
                        indicatorType:
                          type: string
                          example: domain
                        relatedEvents:
                          description: Related events, capped by `relatedEventsLimit` (default 2). Check `relatedEventsHasMore` to detect a capped list; pass `relatedEventsLimit=-1` to retrieve all of them.
                          type: array
                          items:
                            properties:
                              datasetId:
                                type: string
                                example: dataset-uuid-123
                              eventDate:
                                description: ISO 8601 date of the related event. Null for legacy relationships created before event-date tracking was added.
                                type:
                                - string
                                - 'null'
                                example: '2024-06-15T00:00:00Z'
                              eventId:
                                type: string
                                example: event-uuid-456
                            required:
                            - datasetId
                            - eventId
                            type: object
                        relatedEventsHasMore:
                          description: True when this indicator appears in more events than `relatedEvents` contains because `relatedEventsLimit` capped the list. Pass `relatedEventsLimit=-1` to retrieve every related event.
                          type: boolean
                        sources:
                          description: RSS article sources from which this indicator was extracted.
                          type: array
                          items:
                            additionalProperties: false
                            properties:
                              resourceId:
                                type: string
                                format: uuid
                              resourceType:
                                type: string
                                enum:
                                - article
                              system:
                                type: string
                                enum:
                                - threat-signals
                              title:
                                description: Threat Signals article title; null for historical provenance without a stored title.
                                type:
                                - string
                                - 'null'
                            required:
                            - system
                            - resourceType
                            - resourceId
                            - title
                            type: object
                        tags:
                          type: array
                          items:
                            properties:
                              categoryId:
                                description: The UUID of the tag category, or null when the tag is uncategorized.
                                type:
                                - string
                                - 'null'
                              categoryName:
                                type: string
                              uuid:
                                type: string
                              value:
                                type: string
                            type: object
                        tlp:
                          description: 'Traffic Light Protocol designation. UPPERCASE. Possible values: CLEAR, GREEN, AMBER, AMBER-STRICT, RED, PURPLE. Null when not set.'
                          type:
                          - string
                          - 'null'
                          example: AMBER
                        updatedAt:
                          type: string
                          format: date-time
                          example: '2022-04-01T00:00:00Z'
                        uuid:
                          type: string
                          example: 12345678-1234-1234-1234-1234567890ab
                        value:
                          type: string
                          example: malicious-domain.com
                      required:
                      - uuid
                      - indicatorType
                      - value
                      - createdAt
                      - updatedAt
                      - sources
                      type: object
                  pagination:
                    type: object
                    properties:
                      page:
                        type: number
                      pageSize:
                        type: number
                      totalCount:
                        type: number
                      totalPages:
                        type: number
                    required:
                    - page
                    - pageSize
                    - totalCount
                    - totalPages
                required:
                - indicators
                - pagination
        4XX:
          $ref: '#/components/responses/cloudforce-one-events_ApiV4ClientError'
      deprecated: true
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.get
      x-fern-sdk-method-name: indicator-legacy
      x-forge-hidden: true
      x-forge-sunset:
        date: '2030-01-01T00:00:00Z'
  /accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}/indicators/bulk:
    post:
      operationId: post_IndicatorCreateBulk
      summary: Creates multiple indicators in bulk
      description: Creates multiple indicators at once with their respective types and related datasets.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset UUID.
        required: true
        schema:
          description: Dataset UUID.
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                autoCreateType:
                  description: Global flag to automatically create indicator types if they don't exist. Individual indicators can override this with their own autoCreateType flag.
                  type: boolean
                indicators:
                  type: array
                  items:
                    properties:
                      autoCreateType:
                        description: If true, automatically create the indicator type if it doesn't exist. If false (default), throw an error when the indicator type doesn't exist.
                        type: boolean
                      indicatorType:
                        type: string
                        example: domain
                      relatedEvents:
                        type: array
                        items:
                          properties:
                            datasetId:
                              type: string
                              example: dataset-uuid-123
                            eventId:
                              type: string
                              example: event-uuid-456
                          required:
                          - datasetId
                          - eventId
                          type: object
                      tags:
                        type: array
                        items:
                          anyOf:
                          - type: string
                          - properties:
                              categoryName:
                                type: string
                              value:
                                type: string
                            required:
                            - value
                            type: object
                      tlp:
                        description: 'Traffic Light Protocol designation. Case-insensitive on input, stored and returned as UPPERCASE. Allowed values: clear, green, amber, amber-strict, red, purple.'
                        type: string
                        example: AMBER
                      value:
                        type: string
                        example: malicious-domain.com
                    required:
                    - indicatorType
                    - value
                    type: object
              required:
              - indicators
      responses:
        '200':
          description: Returns the number of created indicators.
          content:
            application/json:
              schema:
                description: Number of created indicators
                type: number
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.bulk
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}/indicators/create:
    post:
      operationId: post_IndicatorCreate
      summary: Creates a new indicator
      description: Creates a new indicator with the specified type and related datasets.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset UUID.
        required: true
        schema:
          description: Dataset UUID.
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                autoCreateType:
                  description: If true, automatically create the indicator type if it doesn't exist. If false (default), throw an error when the indicator type doesn't exist.
                  type: boolean
                indicatorType:
                  type: string
                  example: domain
                relatedEvents:
                  type: array
                  items:
                    properties:
                      datasetId:
                        type: string
                        example: dataset-uuid-123
                      eventId:
                        type: string
                        example: event-uuid-456
                    required:
                    - datasetId
                    - eventId
                    type: object
                tags:
                  type: array
                  items:
                    anyOf:
                    - type: string
                    - properties:
                        categoryName:
                          type: string
                        value:
                          type: string
                      required:
                      - value
                      type: object
                tlp:
                  description: 'Traffic Light Protocol designation. Case-insensitive on input, stored and returned as UPPERCASE. Allowed values: clear, green, amber, amber-strict, red, purple.'
                  type: string
                  example: AMBER
                value:
                  type: string
                  example: malicious-domain.com
              required:
              - indicatorType
              - value
      responses:
        '200':
          description: Returns the created indicator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdAt:
                    type: string
                    format: date-time
                    example: '2022-04-01T00:00:00Z'
                  datasetId:
                    description: The dataset ID this indicator belongs to. Included in list responses.
                    type: string
                    example: dataset-uuid-123
                  indicatorType:
                    type: string
                    example: domain
                  relatedEvents:
                    description: Related events, capped by `relatedEventsLimit` (default 2). Check `relatedEventsHasMore` to detect a capped list; pass `relatedEventsLimit=-1` to retrieve all of them.
                    type: array
                    items:
                      properties:
                        datasetId:
                          type: string
                          example: dataset-uuid-123
                        eventDate:
                          description: ISO 8601 date of the related event. Null for legacy relationships created before event-date tracking was added.
                          type:
                          - string
                          - 'null'
                          example: '2024-06-15T00:00:00Z'
                        eventId:
                          type: string
                          example: event-uuid-456
                      required:
                      - datasetId
                      - eventId
                      type: object
                  relatedEventsHasMore:
                    description: True when this indicator appears in more events than `relatedEvents` contains because `relatedEventsLimit` capped the list. Pass `relatedEventsLimit=-1` to retrieve every related event.
                    type: boolean
                  tags:
                    type: array
                    items:
                      properties:
                        categoryId:
                          description: The UUID of the tag category, or null when the tag is uncategorized.
                          type:
                          - string
                          - 'null'
                        categoryName:
                          type: string
                        uuid:
                          type: string
                        value:
                          type: string
                      type: object
                  tlp:
                    description: 'Traffic Light Protocol designation. UPPERCASE. Possible values: CLEAR, GREEN, AMBER, AMBER-STRICT, RED, PURPLE. Null when not set.'
                    type:
                    - string
                    - 'null'
                    example: AMBER
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2022-04-01T00:00:00Z'
                  uuid:
                    type: string
                    example: 12345678-1234-1234-1234-1234567890ab
                  value:
                    type: string
                    example: malicious-domain.com
                required:
                - uuid
                - indicatorType
                - value
                - createdAt
                - updatedAt
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.create
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}/indicators/tags:
    get:
      operationId: get_IndicatorTagsList
      summary: List mirrored tags for an indicator dataset
      description: Returns all mirrored tags from the indicator dataset (DO mirror table). No pagination.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset ID.
        required: true
        schema:
          description: Dataset ID.
          type: string
      responses:
        '200':
          description: Returns an array of mirrored tags.
          content:
            application/json:
              schema:
                description: Array of mirror tag rows
                type: array
                items:
                  type: object
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
        '404':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
        '500':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.tags
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}/indicators/{indicator_id}:
    delete:
      operationId: delete_IndicatorDelete
      summary: Deletes an indicator
      description: Deletes a specific indicator by its UUID.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset ID.
        required: true
        schema:
          description: Dataset ID.
          type: string
      - name: indicator_id
        in: path
        description: Indicator UUID.
        required: true
        schema:
          description: Indicator UUID.
          type: string
      responses:
        '200':
          description: Indicator deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
        '404':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: get_IndicatorRead
      summary: Reads an indicator
      description: Retrieves a specific indicator by its UUID.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset ID.
        required: true
        schema:
          description: Dataset ID.
          type: string
      - name: indicator_id
        in: path
        description: Indicator UUID.
        required: true
        schema:
          description: Indicator UUID.
          type: string
      responses:
        '200':
          description: Returns the indicator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdAt:
                    type: string
                    format: date-time
                    example: '2022-04-01T00:00:00Z'
                  datasetId:
                    description: The dataset ID this indicator belongs to. Included in list responses.
                    type: string
                    example: dataset-uuid-123
                  indicatorType:
                    type: string
                    example: domain
                  relatedEvents:
                    description: Related events, capped by `relatedEventsLimit` (default 2). Check `relatedEventsHasMore` to detect a capped list; pass `relatedEventsLimit=-1` to retrieve all of them.
                    type: array
                    items:
                      properties:
                        datasetId:
                          type: string
                          example: dataset-uuid-123
                        eventDate:
                          description: ISO 8601 date of the related event. Null for legacy relationships created before event-date tracking was added.
                          type:
                          - string
                          - 'null'
                          example: '2024-06-15T00:00:00Z'
                        eventId:
                          type: string
                          example: event-uuid-456
                      required:
                      - datasetId
                      - eventId
                      type: object
                  relatedEventsHasMore:
                    description: True when this indicator appears in more events than `relatedEvents` contains because `relatedEventsLimit` capped the list. Pass `relatedEventsLimit=-1` to retrieve every related event.
                    type: boolean
                  tags:
                    type: array
                    items:
                      properties:
                        categoryId:
                          description: The UUID of the tag category, or null when the tag is uncategorized.
                          type:
                          - string
                          - 'null'
                        categoryName:
                          type: string
                        uuid:
                          type: string
                        value:
                          type: string
                      type: object
                  tlp:
                    description: 'Traffic Light Protocol designation. UPPERCASE. Possible values: CLEAR, GREEN, AMBER, AMBER-STRICT, RED, PURPLE. Null when not set.'
                    type:
                    - string
                    - 'null'
                    example: AMBER
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2022-04-01T00:00:00Z'
                  uuid:
                    type: string
                    example: 12345678-1234-1234-1234-1234567890ab
                  value:
                    type: string
                    example: malicious-domain.com
                required:
                - uuid
                - indicatorType
                - value
                - createdAt
                - updatedAt
        '404':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.get
      x-fern-sdk-method-name: indicator
      x-forge-hidden: true
    patch:
      operationId: patch_IndicatorUpdate
      summary: Updates an indicator
      description: Updates an existing indicator's properties.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset ID.
        required: true
        schema:
          description: Dataset ID.
          type: string
      - name: indicator_id
        in: path
        description: Indicator UUID.
        required: true
        schema:
          description: Indicator UUID.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                indicatorType:
                  type: string
                  example: domain
                relatedEvents:
                  type: array
                  items:
                    properties:
                      datasetId:
                        type: string
                        example: dataset-uuid-123
                      eventId:
                        type: string
                        example: event-uuid-456
                    required:
                    - datasetId
                    - eventId
                    type: object
                tags:
                  type: array
                  items:
                    anyOf:
                    - type: string
                    - properties:
                        categoryName:
                          type: string
                        value:
                          type: string
                      required:
                      - value
                      type: object
                tlp:
                  description: 'Traffic Light Protocol designation. Case-insensitive on input, stored and returned as UPPERCASE. Allowed values: clear, green, amber, amber-strict, red, purple.'
                  type: string
                  example: RED
                value:
                  type: string
                  example: updated-domain.com
      responses:
        '200':
          description: Returns the updated indicator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdAt:
                    type: string
                    format: date-time
                    example: '2022-04-01T00:00:00Z'
                  datasetId:
                    description: The dataset ID this indicator belongs to. Included in list responses.
                    type: string
                    example: dataset-uuid-123
                  indicatorType:
                    type: string
                    example: domain
                  relatedEvents:
                    description: Related events, capped by `relatedEventsLimit` (default 2). Check `relatedEventsHasMore` to detect a capped list; pass `relatedEventsLimit=-1` to retrieve all of them.
                    type: array
                    items:
                      properties:
                        datasetId:
                          type: string
                          example: dataset-uuid-123
                        eventDate:
                          description: ISO 8601 date of the related event. Null for legacy relationships created before event-date tracking was added.
                          type:
                          - string
                          - 'null'
                          example: '2024-06-15T00:00:00Z'
                        eventId:
                          type: string
                          example: event-uuid-456
                      required:
                      - datasetId
                      - eventId
                      type: object
                  relatedEventsHasMore:
                    description: True when this indicator appears in more events than `relatedEvents` contains because `relatedEventsLimit` capped the list. Pass `relatedEventsLimit=-1` to retrieve every related event.
                    type: boolean
                  tags:
                    type: array
                    items:
                      properties:
                        categoryId:
                          description: The UUID of the tag category, or null when the tag is uncategorized.
                          type:
                          - string
                          - 'null'
                        categoryName:
                          type: string
                        uuid:
                          type: string
                        value:
                          type: string
                      type: object
                  tlp:
                    description: 'Traffic Light Protocol designation. UPPERCASE. Possible values: CLEAR, GREEN, AMBER, AMBER-STRICT, RED, PURPLE. Null when not set.'
                    type:
                    - string
                    - 'null'
                    example: AMBER
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2022-04-01T00:00:00Z'
                  uuid:
                    type: string
                    example: 12345678-1234-1234-1234-1234567890ab
                  value:
                    type: string
                    example: malicious-domain.com
                required:
                - uuid
                - indicatorType
                - value
                - createdAt
                - updatedAt
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
        '404':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
        '409':
          description: The updated indicator would duplicate an existing indicator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators
      x-fern-sdk-method-name: patch
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}/indicators/{indicator_id}/relationships:
    get:
      operationId: get_IndicatorRelationshipsList
      summary: List relationships for an indicator
      description: Returns sparse relationship edges. Optionally hydrate related entities via `expand`.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset UUID.
        required: true
        schema:
          description: Dataset UUID.
          type: string
          format: uuid
      - name: indicator_id
        in: path
        description: Indicator UUID.
        required: true
        schema:
          description: Indicator UUID.
          type: string
      - name: search
        in: query
        schema:
          description: 'JSON array of {field, op, value} filters, AND-combined. Fields: entityType (other-end type), type (relationship type), confidence (0–100), metadata.<key>. Example: [{"field":"type","op":"equals","value":"appears_in"},{"field":"confidence","op":"gte","value":50}]'
          type: array
          items:
            properties:
              field:
                description: entityType | type | confidence | metadata.<key>
                type: string
              op:
                description: Search operator. 'exists' only valid for metadata.<key> fields.
                type: string
                enum:
                - equals
                - not
                - gt
                - gte
                - lt
                - lte
                - like
                - contains
                - startsWith
                - endsWith
                - in
                - find
                - exists
              value:
                description: Value to compare against. Omit for 'exists' op.
                anyOf:
                - type: string
                - type: number
                - type: boolean
                - items:
                    anyOf:
                    - type: string
                    - type: number
                  type: array
            required:
            - field
            - op
            type: object
      - name: expand
        in: query
        schema:
          description: Comma-separated entity types to hydrate (event, indicator, tag).
          type: array
          items:
            type: string
      - name: cursor
        in: query
        schema:
          description: Keyset cursor from a previous page.
          type: string
      - name: pageSize
        in: query
        schema:
          description: Page size (1–100, default 25).
          type: integer
          default: 25
          maximum: 100
          minimum: 1
      responses:
        '200':
          description: Returns edges, optional hydrated entities, counts, and pagination.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      counts:
                        type: object
                      cursor:
                        type:
                        - string
                        - 'null'
                      entities:
                        type: array
                        items:
                          $ref: '#/components/schemas/cloudforce-one-events_HydratedEntity'
                      hasMore:
                        type: boolean
                      hydrationErrors:
                        type: object
                      relationships:
                        type: array
                        items:
                          $ref: '#/components/schemas/cloudforce-one-events_RelationshipEdge'
                  success:
                    type: boolean
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.relationships
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: post_IndicatorRelationshipCreate
      summary: Create a relationship for an indicator
      description: Creates a new relationship with the indicator as the source entity. Indicator↔indicator relationships are not supported.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset UUID.
        required: true
        schema:
          description: Dataset UUID.
          type: string
          format: uuid
      - name: indicator_id
        in: path
        description: Indicator UUID.
        required: true
        schema:
          description: Indicator UUID.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                confidence:
                  description: Confidence score 0–100.
                  type: integer
                  maximum: 100
                  minimum: 0
                metadata:
                  description: Arbitrary JSON metadata.
                  type: object
                  additionalProperties: true
                targetId:
                  description: UUID of the target entity.
                  type: string
                  minLength: 1
                targetType:
                  description: Target type. "indicator" is not allowed (indicator↔indicator relationships are not supported).
                  type: string
                  example: event
                  enum:
                  - event
                  - tag
                type:
                  description: Relationship type.
                  type: string
                  example: related-to
                  minLength: 1
              required:
              - targetType
              - targetId
              - type
      responses:
        '200':
          description: Returns the created relationship.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                  success:
                    type: boolean
                    example: true
                required:
                - success
                - result
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
        '409':
          description: Relationship already exists for this source, target, and type.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: Conflict
                      required:
                      - message
                      type: object
                  success:
                    type: boolean
                required:
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.relationships
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/events/dataset/{dataset_id}/indicators/{indicator_id}/relationships/{rel_uuid}:
    delete:
      operationId: delete_IndicatorRelationshipDelete
      summary: Delete a relationship
      description: 'Deletes a relationship by UUID. Idempotent: returns deleted=false if not found.'
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset UUID.
        required: true
        schema:
          description: Dataset UUID.
          type: string
          format: uuid
      - name: indicator_id
        in: path
        description: Indicator UUID.
        required: true
        schema:
          description: Indicator UUID.
          type: string
      - name: rel_uuid
        in: path
        description: Relationship UUID.
        required: true
        schema:
          description: Relationship UUID.
          type: string
          format: uuid
      responses:
        '200':
          description: Returns whether the relationship was deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                  success:
                    type: boolean
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.relationships
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    patch:
      operationId: patch_IndicatorRelationshipUpdate
      summary: Update a relationship
      description: Partially updates a relationship by UUID. Only provided fields are changed.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: dataset_id
        in: path
        description: Dataset UUID.
        required: true
        schema:
          description: Dataset UUID.
          type: string
          format: uuid
      - name: indicator_id
        in: path
        description: Indicator UUID.
        required: true
        schema:
          description: Indicator UUID.
          type: string
      - name: rel_uuid
        in: path
        description: Relationship UUID.
        required: true
        schema:
          description: Relationship UUID.
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                confidence:
                  description: Updated confidence. null clears it.
                  type:
                  - integer
                  - 'null'
                  maximum: 100
                  minimum: 0
                metadata:
                  description: Updated metadata. null clears it.
                  type:
                  - object
                  - 'null'
                  additionalProperties: true
                type:
                  description: Updated relationship type.
                  type: string
                  minLength: 1
      responses:
        '200':
          description: Returns the updated relationship.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                  success:
                    type: boolean
                    example: true
                required:
                - success
                - result
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
        '404':
          description: Not Found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.dataset.indicators.relationships
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/events/indicators:
    get:
      operationId: get_IndicatorList
      summary: Lists indicators across multiple datasets
      description: Retrieves indicators across specified datasets, ordered by createdAt descending then UUID, dataset ID, and shard ID ascending. Use the standalone datasetIds value 'all'/'*' for legacy all-datasets behavior, 'analytics' for isAnalytics=true datasets, or 'operational' for isAnalytics=false datasets. If no datasetIds are provided, uses the default dataset.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: datasetIds
        in: query
        description: 'Dataset UUIDs to query, or one standalone scope value: ''all''/''*'' for legacy all-datasets behavior, ''analytics'' for isAnalytics=true datasets, or ''operational'' for isAnalytics=false datasets. If not provided, uses the default dataset.'
        schema:
          description: 'Dataset UUIDs to query, or one standalone scope value: ''all''/''*'' for legacy all-datasets behavior, ''analytics'' for isAnalytics=true datasets, or ''operational'' for isAnalytics=false datasets. If not provided, uses the default dataset.'
          type: array
          items:
            type: string
      - name: page
        in: query
        schema:
          type: number
      - name: pageSize
        in: query
        schema:
          type: number
      - name: search
        in: query
        description: 'Structured search as a JSON array of {field, op, value} objects. Searchable fields: value, indicatorType, uuid. Supports operators: equals, not, contains, startsWith, endsWith, gt, lt, gte, lte, like, in, find. Use the ''in'' operator with an array value to bulk-check up to 100 indicators in a single request, e.g. search=[{"field":"value","op":"in","value":["evil.com","bad.org"]}]. Multiple conditions are AND''d together. Max 10 conditions per request.'
        schema:
          description: 'Structured search as a JSON array of {field, op, value} objects. Searchable fields: value, indicatorType, uuid. Supports operators: equals, not, contains, startsWith, endsWith, gt, lt, gte, lte, like, in, find. Use the ''in'' operator with an array value to bulk-check up to 100 indicators in a single request, e.g. search=[{"field":"value","op":"in","value":["evil.com","bad.org"]}]. Multiple conditions are AND''d together. Max 10 conditions per request.'
          type: array
          items:
            properties:
              field:
                description: 'The indicator field to search on. Allowed: value, indicatorType, uuid.'
                type: string
                example: value
                enum:
                - value
                - indicatorType
                - uuid
              op:
                description: Search operator. Use 'in' for bulk lookup of up to 100 values at once, e.g. {field:'value', op:'in', value:['evil.com','bad.org']}.
                type: string
                example: contains
                enum:
                - equals
                - not
                - gt
                - gte
                - lt
                - lte
                - like
                - contains
                - startsWith
                - endsWith
                - in
                - find
              value:
                description: Search value. String for most operators. Array of strings for 'in' operator (max 100 items).
                anyOf:
                - example: malicious
                  type: string
                - items:
                    type: string
                  type: array
            required:
            - field
            - op
            - value
            type: object
      - name: name
        in: query
        description: Filter indicators by value using substring match (LIKE). Legacy alternative to structured search.
        schema:
          description: Filter indicators by value using substring match (LIKE). Legacy alternative to structured search.
          type: string
      - name: indicatorType
        in: query
        schema:
          type: string
      - name: relatedEvents
        in: query
        description: Filter by related event IDs
        schema:
          description: Filter by related event IDs
          type: array
          items:
            type: string
      - name: tags
        in: query
        description: Filter by tag values or UUIDs. Indicators must have at least one of the specified tags (OR logic). Supports both tag UUID and tag value.
        schema:
          description: Filter by tag values or UUIDs. Indicators must have at least one of the specified tags (OR logic). Supports both tag UUID and tag value.
          type: array
          items:
            type: string
      - name: tagSearch
        in: query
        description: 'Structured tag-metadata filter as a JSON array of {field, op, value} objects. Operates against the per-dataset IndicatorTag mirror so you can find indicators by tag attributes (origin country, motive, sophistication, priority, etc.) without a separate Tags lookup. Common dashboard usage: drill from a country into indicators, e.g. tagSearch=[{"field":"originCountryISO","op":"in","value":["IR","CN"]}]. Country values may be passed as alpha-2, alpha-3, name, or alias (e.g. "iran"). Operators: equals, not, gt/gte/lt/lte (numeric only), contains/like/find/startsWith/endsWith (string only), in. AND-joined across entries; combined with `tags`, a matching tag must satisfy both. Max 10 entries per request, max 100 values per ''in''. Performance notes: `originCountryISO` uses its B-tree index for equals/not/in. `priority` uses its B-tree index for numeric comparisons. Other string columns (`actorCategory`, `motive`, etc.) are case-insensitive and unindexed; current catalog size makes this a non-issue. `endsWith` and `aliasGroupNames` contains/like are leading-wildcard scans and slow on large result sets. `aliasGroupNames` matches on the JSON-encoded text, so substrings can cross alias boundaries ("apt28" also matches "apt280" when both appear in the same tag''s alias list).'
        schema:
          description: 'Structured tag-metadata filter as a JSON array of {field, op, value} objects. Operates against the per-dataset IndicatorTag mirror so you can find indicators by tag attributes (origin country, motive, sophistication, priority, etc.) without a separate Tags lookup. Common dashboard usage: drill from a country into indicators, e.g. tagSearch=[{"field":"originCountryISO","op":"in","value":["IR","CN"]}]. Country values may be passed as alpha-2, alpha-3, name, or alias (e.g. "iran"). Operators: equals, not, gt/gte/lt/lte (numeric only), contains/like/find/startsWith/endsWith (string only), in. AND-joined across entries; combined with `tags`, a matching tag must satisfy both. Max 10 entries per request, max 100 values per ''in''. Performance notes: `originCountryISO` uses its B-tree index for equals/not/in. `priority` uses its B-tree index for numeric comparisons. Other string columns (`actorCategory`, `motive`, etc.) are case-insensitive and unindexed; current catalog size makes this a non-issue. `endsWith` and `aliasGroupNames` contains/like are leading-wildcard scans and slow on large result sets. `aliasGroupNames` matches on the JSON-encoded text, so substrings can cross alias boundaries ("apt28" also matches "apt280" when both appear in the same tag''s alias list).'
          type: array
          items:
            properties:
              field:
                description: 'Tag mirror field to filter on. Allowed: value, categoryId, actorCategory, aliasGroupNames, attributionConfidence, attributionOrganization, motive, opsecLevel, originCountryISO, sophisticationLevel, priority, analyticPriority. Filters operate against the per-dataset IndicatorTag mirror (which is kept in sync with the Tags SoT by the tag-propagation workflow).'
                type: string
                example: originCountryISO
                enum:
                - value
                - categoryId
                - actorCategory
                - aliasGroupNames
                - attributionConfidence
                - attributionOrganization
                - motive
                - opsecLevel
                - originCountryISO
                - sophisticationLevel
                - priority
                - analyticPriority
              op:
                description: Search operator. Use 'in' for bulk OR within a single field, e.g. {field:"originCountryISO", op:"in", value:["IR","CN"]}.
                type: string
                example: in
                enum:
                - equals
                - not
                - gt
                - gte
                - lt
                - lte
                - like
                - contains
                - startsWith
                - endsWith
                - in
                - find
              value:
                description: Search value. String or number for most operators. Array for 'in' (max 100 items). Country values may be passed as alpha-2, alpha-3, name, or common alias (e.g. "iran", "IR", "IRN") and are normalized to alpha-2 server-side.
                anyOf:
                - example: IR
                  type: string
                - example: 5
                  type: number
                - items:
                    anyOf:
                    - type: string
                    - type: number
                  type: array
            required:
            - field
            - op
            type: object
      - name: createdAfter
        in: query
        description: Filter indicators created on or after this date. Must use ISO 8601 format (e.g., '2024-01-15T00:00:00Z').
        schema:
          description: Filter indicators created on or after this date. Must use ISO 8601 format (e.g., '2024-01-15T00:00:00Z').
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: Filter indicators created on or before this date. Must use ISO 8601 format (e.g., '2024-12-31T23:59:59Z').
        schema:
          description: Filter indicators created on or before this date. Must use ISO 8601 format (e.g., '2024-12-31T23:59:59Z').
          type: string
          format: date-time
      - name: relatedEventsLimit
        in: query
        description: 'Limit the number of related events returned per indicator. Default: 2. Set to 0 for none, -1 for all events. For JSON responses, when the limit hides events, the indicator carries `relatedEventsHasMore: true` and the response includes an advisory message — the cap is never applied silently. STIX and TAXII representations do not include related-event data.'
        schema:
          description: 'Limit the number of related events returned per indicator. Default: 2. Set to 0 for none, -1 for all events. For JSON responses, when the limit hides events, the indicator carries `relatedEventsHasMore: true` and the response includes an advisory message — the cap is never applied silently. STIX and TAXII representations do not include related-event data.'
          type: number
          example: 2
      - name: includeTags
        in: query
        description: Whether to include full tag details for each indicator. Defaults to true.
        schema:
          description: Whether to include full tag details for each indicator. Defaults to true.
          type: boolean
      - name: includeTotalCount
        in: query
        description: Whether to compute total count via COUNT(*). Defaults to false for performance. total_count is null unless this is true and the complete fan-out succeeds.
        schema:
          description: Whether to compute total count via COUNT(*). Defaults to false for performance. total_count is null unless this is true and the complete fan-out succeeds.
          type: boolean
      - name: format
        in: query
        description: Output format for indicator data. 'json' returns the default format, 'stix2' returns STIX 2.1 Indicator SDOs, 'taxii' returns a TAXII 2.1 Envelope with Content-Type application/taxii+json;version=2.1.
        schema:
          description: Output format for indicator data. 'json' returns the default format, 'stix2' returns STIX 2.1 Indicator SDOs, 'taxii' returns a TAXII 2.1 Envelope with Content-Type application/taxii+json;version=2.1.
          type: string
          example: json
          enum:
          - json
          - stix2
          - taxii
      - name: cache
        in: query
        description: Cache strategy. 'from-graph' serves results from the graph-node KV cache when all requested UUIDs are cached; falls back to normal path on partial/zero hit. Cannot be combined with `cursor`.
        schema:
          description: Cache strategy. 'from-graph' serves results from the graph-node KV cache when all requested UUIDs are cached; falls back to normal path on partial/zero hit. Cannot be combined with `cursor`.
          type: string
          enum:
          - from-graph
      - name: cursor
        in: query
        description: Opaque cursor from a previous response's `pagination.cursor`. When provided, all filters, datasetIds, page, `pageSize`, `includeTags` and `relatedEventsLimit` come from the cursor — do not resend them. Sending any filter, `page`, `pageSize`, `includeTags`, `relatedEventsLimit`, `includeTotalCount=true`, or `cache=from-graph` alongside a cursor yields a 400 `CursorFilterConflictError`. A cursor issued for a different entity, an unsupported version, or a dataset that has since been reconfigured as analytics-only yields a 400 `InvalidCursorError`.
        schema:
          description: Opaque cursor from a previous response's `pagination.cursor`. When provided, all filters, datasetIds, page, `pageSize`, `includeTags` and `relatedEventsLimit` come from the cursor — do not resend them. Sending any filter, `page`, `pageSize`, `includeTags`, `relatedEventsLimit`, `includeTotalCount=true`, or `cache=from-graph` alongside a cursor yields a 400 `CursorFilterConflictError`. A cursor issued for a different entity, an unsupported version, or a dataset that has since been reconfigured as analytics-only yields a 400 `InvalidCursorError`.
          type: string
      responses:
        '200':
          description: Returns a paginated list of indicators.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      completeness:
                        properties:
                          properties:
                            type: object
                            properties:
                              complete:
                                properties:
                                  type:
                                    type: string
                                    example: boolean
                                required:
                                - type
                                type: object
                              failedDatasets:
                                properties:
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: string
                                    required:
                                    - type
                                  type:
                                    type: string
                                    example: array
                                required:
                                - type
                                - items
                                type: object
                              failedShards:
                                properties:
                                  items:
                                    type: object
                                    properties:
                                      properties:
                                        type: object
                                        properties:
                                          datasetId:
                                            properties:
                                              type:
                                                type: string
                                                example: string
                                            required:
                                            - type
                                            type: object
                                          shardId:
                                            properties:
                                              type:
                                                type: string
                                                example: string
                                            required:
                                            - type
                                            type: object
                                        required:
                                        - datasetId
                                        - shardId
                                      type:
                                        type: string
                                        example: object
                                    required:
                                    - type
                                    - properties
                                  type:
                                    type: string
                                    example: array
                                required:
                                - type
                                - items
                                type: object
                              warnings:
                                properties:
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: string
                                    required:
                                    - type
                                  type:
                                    type: string
                                    example: array
                                required:
                                - type
                                - items
                                type: object
                            required:
                            - complete
                            - failedDatasets
                            - failedShards
                            - warnings
                          type:
                            type: string
                            example: object
                        required:
                        - type
                        - properties
                        type: object
                      indicators:
                        properties:
                          items:
                            type: object
                            properties:
                              createdAt:
                                type: string
                                format: date-time
                                example: '2022-04-01T00:00:00Z'
                              datasetId:
                                description: The dataset ID this indicator belongs to. Included in list responses.
                                type: string
                                example: dataset-uuid-123
                              indicatorType:
                                type: string
                                example: domain
                              relatedEvents:
                                description: Related events, capped by `relatedEventsLimit` (default 2). Check `relatedEventsHasMore` to detect a capped list; pass `relatedEventsLimit=-1` to retrieve all of them.
                                type: array
                                items:
                                  properties:
                                    datasetId:
                                      type: string
                                      example: dataset-uuid-123
                                    eventDate:
                                      description: ISO 8601 date of the related event. Null for legacy relationships created before event-date tracking was added.
                                      type:
                                      - string
                                      - 'null'
                                      example: '2024-06-15T00:00:00Z'
                                    eventId:
                                      type: string
                                      example: event-uuid-456
                                  required:
                                  - datasetId
                                  - eventId
                                  type: object
                              relatedEventsHasMore:
                                description: True when this indicator appears in more events than `relatedEvents` contains because `relatedEventsLimit` capped the list. Pass `relatedEventsLimit=-1` to retrieve every related event.
                                type: boolean
                              sources:
                                description: RSS article sources from which this indicator was extracted.
                                type: array
                                items:
                                  additionalProperties: false
                                  properties:
                                    resourceId:
                                      type: string
                                      format: uuid
                                    resourceType:
                                      type: string
                                      enum:
                                      - article
                                    system:
                                      type: string
                                      enum:
                                      - threat-signals
                                    title:
                                      description: Threat Signals article title; null for historical provenance without a stored title.
                                      type:
                                      - string
                                      - 'null'
                                  required:
                                  - system
                                  - resourceType
                                  - resourceId
                                  - title
                                  type: object
                              tags:
                                type: array
                                items:
                                  properties:
                                    categoryId:
                                      description: The UUID of the tag category, or null when the tag is uncategorized.
                                      type:
                                      - string
                                      - 'null'
                                    categoryName:
                                      type: string
                                    uuid:
                                      type: string
                                    value:
                                      type: string
                                  type: object
                              tlp:
                                description: 'Traffic Light Protocol designation. UPPERCASE. Possible values: CLEAR, GREEN, AMBER, AMBER-STRICT, RED, PURPLE. Null when not set.'
                                type:
                                - string
                                - 'null'
                                example: AMBER
                              updatedAt:
                                type: string
                                format: date-time
                                example: '2022-04-01T00:00:00Z'
                              uuid:
                                type: string
                                example: 12345678-1234-1234-1234-1234567890ab
                              value:
                                type: string
                                example: malicious-domain.com
                            required:
                            - uuid
                            - indicatorType
                            - value
                            - createdAt
                            - updatedAt
                            - sources
                          type:
                            type: string
                            example: array
                        required:
                        - type
                        - items
                        type: object
                      pagination:
                        properties:
                          properties:
                            type: object
                            properties:
                              count:
                                properties:
                                  type:
                                    type: string
                                    example: number
                                required:
                                - type
                                type: object
                              cursor:
                                properties:
                                  description:
                                    type: string
                                    example: Opaque cursor for the next page. Pass back as the `cursor` query param on the next request. `null` when the sequence has ended, when the encoded cursor would exceed the safe URL length, or when this endpoint served the request from a backend that does not support cursor pagination (analytics R2 path).
                                  nullable:
                                    type: boolean
                                    example: true
                                  type:
                                    type: string
                                    example: string
                                required:
                                - type
                                - nullable
                                - description
                                type: object
                              has_more:
                                properties:
                                  description:
                                    type: string
                                    example: True when more pages exist after this one. Present on both offset and cursor paths.
                                  type:
                                    type: string
                                    example: boolean
                                required:
                                - type
                                - description
                                type: object
                              page:
                                properties:
                                  type:
                                    type: string
                                    example: number
                                required:
                                - type
                                type: object
                              per_page:
                                properties:
                                  type:
                                    type: string
                                    example: number
                                required:
                                - type
                                type: object
                              total_count:
                                properties:
                                  description:
                                    type: string
                                    example: Exact matching count when requested and fan-out is complete; otherwise null.
                                  nullable:
                                    type: boolean
                                    example: true
                                  type:
                                    type: string
                                    example: number
                                required:
                                - type
                                - nullable
                                - description
                                type: object
                              total_count_is_exact:
                                properties:
                                  description:
                                    type: string
                                    example: Whether total_count is exact across the complete query fan-out.
                                  type:
                                    type: string
                                    example: boolean
                                required:
                                - type
                                - description
                                type: object
                            required:
                            - count
                            - page
                            - per_page
                            - total_count
                            - total_count_is_exact
                            - has_more
                            - cursor
                          type:
                            type: string
                            example: object
                        required:
                        - type
                        - properties
                        type: object
                    required:
                    - indicators
                    - pagination
                    - completeness
                  type:
                    type: string
                    example: object
                required:
                - type
                - properties
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cloudforce-one.events.indicators
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /accounts/{account_id}/cloudforce-one/events/indicators/aggregate:
    get:
      operationId: get_IndicatorAggregate
      summary: Aggregate indicators by column(s)
      description: Aggregate threat indicators by one or more columns (e.g., indicatorType, value) across datasets. Returns top-N groups ordered by count.
      parameters:
      - name: account_id
        in: path
        description: Account ID.
        required: true
        schema:
          description: Account ID.
          type: string
      - name: aggregateBy
        in: query
        description: Column(s) to aggregate by - single column or comma-separated list (e.g., 'indicatorType', 'value', 'indicatorType,value')
        required: true
        schema:
          description: Column(s) to aggregate by - single column or comma-separated list (e.g., 'indicatorType', 'value', 'indicatorType,value')
          type: string
      - name: measure
        in: query
        description: 'What to count per group: ''indicators'' (catalog rows, default) or ''relationships'' (linked events per indicator). Use ''relationships'' for ''top indicator by event activity''.'
        schema:
          description: 'What to count per group: ''indicators'' (catalog rows, default) or ''relationships'' (linked events per indicator). Use ''relationships'' for ''top indicator by event activity''.'
          type: string
          default: indicators
          enum:
          - indicators
          - relationships
      - name: tagUuid
        in: query
        description: Scope to indicators associated with this tag/actor UUID. Combine with measure=relationships for 'top indicator for an actor'.
        schema:
          description: Scope to indicators associated with this tag/actor UUID. Combine with measure=relationships for 'top indicator for an actor'.
          type: string
      - name: datasetIds
        in: query
        description: 'Dataset UUIDs to filter by, or one standalone scope value: ''all''/''*'' for all accessible datasets, ''analytics'' for isAnalytics=true datasets, or ''operational'' for isAnalytics=false datasets. If not provided, aggregates across all accessible datasets.'
        schema:
          description: 'Dataset UUIDs to filter by, or one standalone scope value: ''all''/''*'' for all accessible datasets, ''analytics'' for isAnalytics=true datasets, or ''operational'' for isAnalytics=false datasets. If not provided, aggregates across all accessible datasets.'
          type: array
          items:
            type: string
      - name: createdAfter
        in: query
        description: Filter indicators created after this date/datetime (ISO 8601, e.g., '2024-01-01' or '2024-01-01T00:00:00Z')
        schema:
          description: Filter indicators created after this date/datetime (ISO 8601, e.g., '2024-01-01' or '2024-01-01T00:00:00Z')
          anyOf:
          - format: date-time
            type: string
          - pattern: ^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$
            type: string
      - name: createdBefore
        in: query
        description: Filter indicators created before this date/datetime (ISO 8601, e.g., '2024-12-31' or '2024-12-31T23:59:59Z')
        schema:
          description: Filter indicators created before this date/datetime (ISO 8601, e.g., '2024-12-31' or '2024-12-31T23:59:59Z')
          anyOf:
          - format: date-time
            type: string
          - pattern: ^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$
            type: string
      - name: eventDateAfter
        in: query
        description: 'For measure=relationships: only count indicator→event links whose relationship was created/observed on or after this date (ISO 8601). Bounds the activity view to recently-observed links. Note: this filters by the relationship''s createdAt (link-observation time), not the underlying event''s business date.'
        schema:
          description: 'For measure=relationships: only count indicator→event links whose relationship was created/observed on or after this date (ISO 8601). Bounds the activity view to recently-observed links. Note: this filters by the relationship''s createdAt (link-observation time), not the underlying event''s business date.'
          type: string
      - name: eventDateBefore
        in: query
        description: 'For measure=relationships: only count indicator→event links whose relationship was created/observed on or before this date (ISO 8601). Bounds the activity view by the relationship''s createdAt (link-observation time), not the underlying event''s business date.'
        schema:
          description: 'For measure=relationships: only count indicator→event links whose relationship was created/observed on or before this date (ISO 8601). Bounds the activity view by the relationship''s createdAt (link-observation time), not the underlying event''s business date.'
          type: string
      - name: limit
        in: query
        description: Maximum number of aggregation results to return (1-100)
        schema:
          description: Maximum number of aggregation results to return (1-100)
          type: number
          default: 10
          maximum: 100
          minimum: 1
      responses:
        '200':
          description: Returns aggregated indicator data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  aggregateBy:
                    description: Column(s) that were aggregated by
                    type: string
                  aggregations:
                    description: Array of aggregation results with dynamic fields based on aggregateBy columns
                    type: array
                    items:
                      allOf:
                      - additionalProperties:
                          type:
                          - string
                          - 'null'
                        type: object
                      - properties:
                          count:
                            description: Number of indicators for this aggregation
                            type: number
                        required:
                        - count
                        type: object
                  failedDatasets:
                    description: Number of datasets whose aggregation failed and were excluded from the result
                    type: number
                  total:
                    description: 'Total count in the aggregation: indicator rows when measure=indicators, or linked-event rows when measure=relationships'
                    type: number
                required:
                - aggregations
                - total
                - aggregateBy
                - failedDatasets
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          example: An error occurred.
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                required:
                - result
                - success
                - errors
      security:
      - api_token: []
      tags:
      - Indicator
      x-api-token-group:
      - Cloudforce One Write
      - Cloudforce One Read
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: cloudforce-one.stakeout.indicators
      x-fern-sdk-method-name: aggregate
      x-forge-hidden: true
components:
  schemas:
    cloudforce-one-events_HydratedEntity:
      description: Hydrated event, indicator, or tag entity.
      type: object
      additionalProperties: true
    cloudforce-one-events_RelationshipEdge:
      type: object
      properties:
        confidence:
          description: Confidence score 0–100, or null.
          type:
          - integer
          - 'null'
          maximum: 100
          minimum: 0
        createdAt:
          description: ISO 8601 creation timestamp.
          type: string
        datasetId:
          description: Dataset the relationship belongs to.
          type: string
        entityId:
          description: UUID of the related entity (other end).
          type: string
        entityType:
          description: Type of the related entity.
          type: string
          enum:
          - event
          - indicator
          - tag
        metadata:
          description: Arbitrary JSON metadata, or null.
          type:
          - object
          - 'null'
          additionalProperties: true
        relationshipUuid:
          description: Relationship UUID (use for PATCH/DELETE).
          type: string
          format: uuid
        type:
          description: Relationship type.
          type: string
        updatedAt:
          description: ISO 8601 last-update timestamp.
          type: string
      required:
      - relationshipUuid
      - entityId
      - entityType
      - type
      - confidence
      - metadata
      - datasetId
      - createdAt
      - updatedAt
  responses:
    cloudforce-one-events_ApiV4ClientError:
      description: Client error response.
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
[...]
