openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Zone Settings API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Zone Settings
paths:
  /zones/{zone_id}/settings:
    get:
      operationId: zone-settings-get-all-zone-settings
      summary: Get all zone settings
      description: Available settings for your user in relation to a zone.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_identifier'
      responses:
        '200':
          description: Get all Zone settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_zone_settings_response_collection'
        4XX:
          description: Get all Zone settings response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure-3'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: zones.settings
      x-fern-sdk-method-name: list
      x-forge-sunset:
        date: '2030-01-01T00:00:00Z'
      x-stainless-deprecation-message: This endpoint is deprecated. Zone settings should instead be managed individually.
    patch:
      operationId: zone-settings-edit-zone-settings-info
      summary: Edit multiple zone settings
      description: Edit settings for a zone.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zones_multiple_settings'
      responses:
        '200':
          description: Edit zone settings info response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_zone_settings_response_collection'
        4XX:
          description: Edit zone settings info response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure-3'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: zones.settings
      x-fern-sdk-method-name: bulk-edit
      x-forge-sunset:
        date: '2030-01-01T00:00:00Z'
      x-stainless-deprecation-message: This endpoint is deprecated. Zone settings should instead be managed individually.
  /zones/{zone_id}/settings/aegis:
    get:
      operationId: zone-cache-settings-get-aegis-setting
      summary: Get aegis setting
      description: Aegis provides dedicated egress IPs (from Cloudflare to your origin) for your layer 7 WAF and CDN services. The egress IPs are reserved exclusively for your account so that you can increase your origin security by only allowing traffic from a small list of IP addresses.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      responses:
        '200':
          description: Get aegis setting response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/cache-settings_zone_cache_settings_response_single'
                - $ref: '#/components/schemas/cache-settings_aegis_response_value'
        4XX:
          description: Get aegis setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      - Zone Read
      - Zone Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.aegis
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: zone-cache-settings-change-aegis-setting
      summary: Change aegis setting
      description: Aegis provides dedicated egress IPs (from Cloudflare to your origin) for your layer 7 WAF and CDN services. The egress IPs are reserved exclusively for your account so that you can increase your origin security by only allowing traffic from a small list of IP addresses.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/cache-settings_aegis_value'
              required:
              - value
      responses:
        '200':
          description: Change aegis setting response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/cache-settings_zone_cache_settings_response_single'
                - $ref: '#/components/schemas/cache-settings_aegis_response_value'
        4XX:
          description: Change aegis setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.aegis
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
  /zones/{zone_id}/settings/automatic_platform_optimization:
    get:
      operationId: zone-settings-get-automatic-platform-optimization-setting
      summary: Get Automatic Platform Optimization setting
      description: 'Automatic Platform Optimization (APO) for WordPress is a performance feature that serves your

        WordPress site from Cloudflare''s edge network, reducing load times for visitors.

        Refer to the APO documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get Automatic Platform Optimization setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_automatic_platform_optimization_response'
                  type: object
        4XX:
          description: Get Automatic Platform Optimization setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.automatic-platform-optimization
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-automatic-platform-optimization-setting
      summary: Change Automatic Platform Optimization setting
      description: 'Automatic Platform Optimization (APO) for WordPress is a performance feature that serves your

        WordPress site from Cloudflare''s edge network, reducing load times for visitors.

        Refer to the APO documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/speed_automatic_platform_optimization_value'
              required:
              - value
      responses:
        '200':
          description: Change Automatic Platform Optimization setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_automatic_platform_optimization_response'
                  type: object
        4XX:
          description: Change Automatic Platform Optimization setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.automatic-platform-optimization
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/binary_ast:
    get:
      operationId: zone-settings-get-binary-ast-setting
      summary: Get Binary AST setting
      description: 'Binary AST is a new binary encoding for JavaScript that enables faster parsing of scripts.

        When enabled, Cloudflare will serve a binary-encoded version of JavaScript to compatible browsers.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get Binary AST setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_binary_ast_response'
                  type: object
        4XX:
          description: Get Binary AST setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.binary-ast
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-binary-ast-setting
      summary: Change Binary AST setting
      description: 'Binary AST is a new binary encoding for JavaScript that enables faster parsing of scripts.

        When enabled, Cloudflare will serve a binary-encoded version of JavaScript to compatible browsers.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/speed_binary_ast_value'
              required:
              - value
      responses:
        '200':
          description: Change Binary AST setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_binary_ast_response'
                  type: object
        4XX:
          description: Change Binary AST setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.binary-ast
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/fonts:
    get:
      operationId: zone-settings-get-fonts-setting
      summary: Get Cloudflare Fonts setting
      description: 'Enhance your website''s font delivery with Cloudflare Fonts. Deliver Google Hosted fonts from your own domain,

        boost performance, and enhance user privacy. Refer to the Cloudflare Fonts documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get Cloudflare Fonts setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_cloudflare_fonts'
                  type: object
        4XX:
          description: Get Cloudflare Fonts setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.fonts
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-fonts-setting
      summary: Change Cloudflare Fonts setting
      description: 'Enhance your website''s font delivery with Cloudflare Fonts. Deliver Google Hosted fonts from your own domain,

        boost performance, and enhance user privacy. Refer to the Cloudflare Fonts documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/speed_cloudflare_fonts_value'
              required:
              - value
      responses:
        '200':
          description: Change Cloudflare Fonts setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_cloudflare_fonts'
                  type: object
        4XX:
          description: Change Cloudflare Fonts setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.fonts
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/h2_prioritization:
    get:
      operationId: zone-settings-get-h2-prioritization-setting
      summary: Get HTTP/2 Prioritization setting
      description: 'HTTP/2 Prioritization controls the order in which assets are delivered to browsers.

        Cloudflare''s HTTP/2 Prioritization overrides the default browser prioritization order,

        improving the loading performance of web pages.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get HTTP/2 Prioritization setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_h2_prioritization_response'
                  type: object
        4XX:
          description: Get HTTP/2 Prioritization setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.h2-prioritization
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-h2-prioritization-setting
      summary: Change HTTP/2 Prioritization setting
      description: 'HTTP/2 Prioritization controls the order in which assets are delivered to browsers.

        Cloudflare''s HTTP/2 Prioritization overrides the default browser prioritization order,

        improving the loading performance of web pages.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/speed_h2_prioritization_value'
              required:
              - value
      responses:
        '200':
          description: Change HTTP/2 Prioritization setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_h2_prioritization_response'
                  type: object
        4XX:
          description: Change HTTP/2 Prioritization setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.h2-prioritization
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/image_resizing:
    get:
      operationId: zone-settings-get-image-resizing-setting
      summary: Get Image Transformations setting
      description: Gets the Image Transformations setting for a zone. Accepted values are `off`, `on`, `open`, and `latest`.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get Image Resizing setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_image_resizing_response'
                  type: object
        4XX:
          description: Get Image Resizing setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.image-resizing
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-image-resizing-setting
      summary: Change Image Transformations setting
      description: Sets the Image Transformations setting for a zone. Accepted values are `off`, `on`, `open`, and `latest`.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/speed_image_resizing_value'
              required:
              - value
      responses:
        '200':
          description: Change Image Resizing setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_image_resizing_response'
                  type: object
        4XX:
          description: Change Image Resizing setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.image-resizing
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/origin_h2_max_streams:
    get:
      operationId: zone-cache-settings-get-origin-h2-max-streams-setting
      summary: Get Origin H2 Max Streams Setting
      description: Origin H2 Max Streams configures the max number of concurrent requests that Cloudflare will send within the same connection when communicating with the origin server, if the origin supports it. Note that if your origin does not support H2 multiplexing, 5xx errors may be observed, particularly 520s. Also note that the default value is `100` for all plan types except Enterprise where it is `1`. `1` means that H2 multiplexing is disabled.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      responses:
        '200':
          description: Get Origin H2 Max Streams setting response.
          content:
            application/json:
              examples:
                origin_h2_max_streams_50:
                  $ref: '#/components/examples/cache-settings_origin_h2_max_streams_50'
              schema:
                $ref: '#/components/schemas/cache-settings_origin_h2_max_streams_response_value'
        4XX:
          description: Get Origin H2 Max Streams setting response failure.
          content:
            application/json:
              examples:
                Error:
                  $ref: '#/components/examples/cache-settings_dummy_error_response'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      - Zone Read
      - Zone Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.origin-h2-max-streams
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: zone-cache-settings-change-origin-h2-max-streams-setting
      summary: Change Origin H2 Max Streams Setting
      description: Origin H2 Max Streams configures the max number of concurrent requests that Cloudflare will send within the same connection when communicating with the origin server, if the origin supports it. Note that if your origin does not support H2 multiplexing, 5xx errors may be observed, particularly 520s. Also note that the default value is `100` for all plan types except Enterprise where it is `1`. `1` means that H2 multiplexing is disabled.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/cache-settings_origin_h2_max_streams_value'
              required:
              - value
      responses:
        '200':
          description: Change Origin H2 Max Streams setting response.
          content:
            application/json:
              examples:
                origin_h2_max_streams_50:
                  $ref: '#/components/examples/cache-settings_origin_h2_max_streams_50'
              schema:
                $ref: '#/components/schemas/cache-settings_origin_h2_max_streams_response_value'
        4XX:
          description: Change Origin H2 Max Streams response failure.
          content:
            application/json:
              examples:
                Error:
                  $ref: '#/components/examples/cache-settings_dummy_error_response'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.origin-h2-max-streams
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
  /zones/{zone_id}/settings/origin_max_http_version:
    get:
      operationId: zone-cache-settings-get-origin-max-http-version-setting
      summary: Get Origin Max HTTP Version Setting
      description: Origin Max HTTP Setting Version sets the highest HTTP version Cloudflare will attempt to use with your origin. This setting allows Cloudflare to make HTTP/2 requests to your origin. (Refer to Enable HTTP/2 to Origin, for more information.). The default value is "2" for all plan types except Enterprise where it is "1".
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      responses:
        '200':
          description: Get Origin Max HTTP Version setting response.
          content:
            application/json:
              examples:
                max_http_version_2:
                  $ref: '#/components/examples/cache-settings_origin_max_http_version_2'
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/cache-settings_zone_cache_settings_response_single'
                - $ref: '#/components/schemas/cache-settings_origin_max_http_version_response_value'
        4XX:
          description: Get Origin Max HTTP Version setting response failure.
          content:
            application/json:
              examples:
                Error:
                  $ref: '#/components/examples/cache-settings_dummy_error_response'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      - Zone Read
      - Zone Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.origin-max-http-version
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: zone-cache-settings-change-origin-max-http-version-setting
      summary: Change Origin Max HTTP Version Setting
      description: Origin Max HTTP Setting Version sets the highest HTTP version Cloudflare will attempt to use with your origin. This setting allows Cloudflare to make HTTP/2 requests to your origin. (Refer to Enable HTTP/2 to Origin, for more information.). The default value is "2" for all plan types except Enterprise where it is "1".
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/cache-settings_origin_max_http_version_value'
              required:
              - value
      responses:
        '200':
          description: Change Origin Max HTTP Version setting response.
          content:
            application/json:
              examples:
                max_http_version_2:
                  $ref: '#/components/examples/cache-settings_origin_max_http_version_2'
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/cache-settings_zone_cache_settings_response_single'
                - $ref: '#/components/schemas/cache-settings_origin_max_http_version_response_value'
        4XX:
          description: Change Origin Max HTTP Version response failure.
          content:
            application/json:
              examples:
                Error:
                  $ref: '#/components/examples/cache-settings_dummy_error_response'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.origin-max-http-version
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
  /zones/{zone_id}/settings/speed_brain:
    get:
      operationId: zone-settings-get-speed-brain-setting
      summary: Get Cloudflare Speed Brain setting
      description: 'Speed Brain lets compatible browsers speculate on content which can be prefetched or preloaded, making website

        navigation faster. Refer to the Cloudflare Speed Brain documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get Cloudflare Speed Brain setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_cloudflare_speed_brain_response'
                  type: object
        4XX:
          description: Get Cloudflare Speed Brain setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.speed-brain
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-speed-brain-setting
      summary: Change Cloudflare Speed Brain setting
      description: 'Speed Brain lets compatible browsers speculate on content which can be prefetched or preloaded, making website

        navigation faster. Refer to the Cloudflare Speed Brain documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: Whether the feature is enabled or disabled.
                  type: string
                  enum:
                  - 'on'
                  - 'off'
              required:
              - value
      responses:
        '200':
          description: Cloudflare Speed Brain setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_cloudflare_speed_brain_response'
                  type: object
        4XX:
          description: Change Cloudflare Speed Brain setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.speed-brain
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/transformations_allowed_origins:
    get:
      operationId: zone-settings-get-transformations-allowed-origins-setting
      summary: Get Image Transformations Allowed Origins setting
      description: 'Media Transformations Allowed Origins restricts transformations for images and video served through

        Cloudflare''s network to requests originating from specified domains. Refer to the

        Image Transformations and Video Transformations documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get Image Transformations Allowed Origins setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_transformations_allowed_origins_response'
                  type: object
        4XX:
          description: Get Image Transformations Allowed Origins setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.transformations-allowed-origins
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-transformations-allowed-origins-setting
      summary: Change Image Transformations Allowed Origins setting
      description: 'Media Transformations Allowed Origins restricts transformations for images and video served through

        Cloudflare''s network to requests originating from specified domains. Refer to the

        Image Transformations and Video Transformations documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/speed_transformations_allowed_origins_value'
              required:
              - value
      responses:
        '200':
          description: Change Image Transformations Allowed Origins setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_transformations_allowed_origins_response'
                  type: object
        4XX:
          description: Change Image Transformations Allowed Origins setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.transformations-allowed-origins
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/transformations_c2pa:
    get:
      operationId: zone-settings-get-transformations-c2pa-setting
      summary: Get Image Transformations C2PA setting
      description: 'C2PA (Coalition for Content Provenance and Authenticity) signing adds cryptographic metadata

        to images processed through Cloudflare Image Transformations, enabling verification of image

        authenticity and provenance.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get Image Transformations C2PA setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_transformations_c2pa_response'
                  type: object
        4XX:
          description: Get Image Transformations C2PA setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.transformations-c2pa
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-transformations-c2pa-setting
      summary: Change Image Transformations C2PA setting
      description: 'C2PA (Coalition for Content Provenance and Authenticity) signing adds cryptographic metadata

        to images processed through Cloudflare Image Transformations, enabling verification of image

        authenticity and provenance.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/speed_transformations_c2pa_value'
              required:
              - value
      responses:
        '200':
          description: Change Image Transformations C2PA setting response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_transformations_c2pa_response'
                  type: object
        4XX:
          description: Change Image Transformations C2PA setting response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.transformations-c2pa
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/transformations_config:
    get:
      operationId: zone-settings-get-transformations-config
      summary: Get Transformations configuration
      description: 'Returns the combined Transformations configuration for a zone, including the transformations

        toggle, allowed origins, and C2PA signing settings in a single response.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      responses:
        '200':
          description: Get Transformations configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_transformations_config_response'
                  type: object
        4XX:
          description: Get Transformations configuration response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.transformations-config
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-change-transformations-config
      summary: Change Transformations configuration
      description: 'Updates one or more fields of the combined Transformations configuration for a zone.

        Omitted fields are left unchanged. The response always returns the full current state

        of all three sub-settings.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/speed_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/speed_transformations_config_value'
              required:
              - value
      responses:
        '200':
          description: Change Transformations configuration response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/speed_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/speed_transformations_config_response'
                  type: object
        4XX:
          description: Change Transformations configuration response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speed_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.transformations-config
      x-fern-sdk-method-name: edit
  /zones/{zone_id}/settings/{setting_id}:
    get:
      operationId: zone-settings-get-single-setting
      summary: Get zone setting
      description: Fetch a single zone setting by name
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_identifier'
      - name: setting_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_setting_name'
      responses:
        '200':
          description: Get zone setting response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zones_api-response-common-4'
                - properties:
                    result:
                      $ref: '#/components/schemas/zones_setting'
        4XX:
          description: Get zone setting response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure-3'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      - Zone Settings Read
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.settings
      x-fern-sdk-method-name: get
    patch:
      operationId: zone-settings-edit-single-setting
      summary: Edit zone setting
      description: Updates a single zone setting by the identifier
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_identifier'
      - name: setting_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_setting_name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zones_zone_settings_single_request'
      responses:
        '200':
          description: Edit zone setting response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zones_api-response-common-4'
                - properties:
                    result:
                      $ref: '#/components/schemas/zones_setting'
        4XX:
          description: Edit zone settings info response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure-3'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone Settings
      x-api-token-group:
      - Zone Settings Write
      x-cfPermissionsRequired:
        enum:
        - '#zone_settings:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zones.settings
      x-fern-sdk-method-name: edit
components:
  schemas:
    speed_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
            x-auditable: true
          message:
            type: string
            x-auditable: true
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    speed_automatic_platform_optimization_value:
      description: 'Configuration for Automatic Platform Optimization (APO) for WordPress.

        Set to "off" to disable, or provide an object to configure APO settings.

        '
      oneOf:
      - description: Disable Automatic Platform Optimization.
        enum:
        - 'off'
        type: string
      - properties:
          cache_by_device_type:
            description: Whether to cache by device type.
            type: boolean
            example: false
          cf:
            description: Whether the zone is proxied through Cloudflare.
            type: boolean
            example: true
          enabled:
            description: Whether APO is enabled.
            type: boolean
            example: true
          hostnames:
            description: List of hostnames where APO is active.
            type: array
            items:
              type: string
            example:
            - www.example.com
          recheck:
            description: Whether to recheck WordPress and plugin detection.
            type: boolean
            example: false
          wordpress:
            description: Whether the site is a WordPress site.
            type: boolean
            example: true
          wp_plugin:
            description: Whether the Cloudflare WordPress plugin is installed.
            type: boolean
            example: true
        required:
        - cf
        - enabled
        - wordpress
        - wp_plugin
        type: object
      title: Automatic Platform Optimization value
    zones_security_header_value:
      type: object
      properties:
        strict_transport_security:
          description: Strict Transport Security.
          type: object
          properties:
            enabled:
              description: Whether or not strict transport security is enabled.
              type: boolean
              example: true
            include_subdomains:
              description: Include all subdomains for strict transport security.
              type: boolean
              example: true
            max_age:
              description: Max age in seconds of the strict transport security.
              type: number
              example: 86400
            nosniff:
              description: 'Whether or not to include ''X-Content-Type-Options: nosniff'' header.'
              type: boolean
              example: true
            preload:
              description: Enable automatic preload of the HSTS configuration.
              type: boolean
              example: true
      default:
        strict_transport_security:
          enabled: true
          include_subdomains: true
          max_age: 86400
          nosniff: true
          preload: false
    zones_sort_query_string_for_cache_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    zones_true_client_ip_header-2:
      description: Allows customer to continue to use True Client IP (Akamai feature) in the headers we send to the origin. This is limited to Enterprise Zones.
      default: 'off'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: true_client_ip_header
            enum:
            - true_client_ip_header
          value:
            $ref: '#/components/schemas/zones_true_client_ip_header_value'
      title: True Client IP Header
    zones_ciphers:
      description: An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format.
      default: []
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: ciphers
            enum:
            - ciphers
          value:
            $ref: '#/components/schemas/zones_ciphers_value'
      title: Zone ciphers allowed for TLS termination
    zones_cache-rules_aegis:
      description: Aegis provides dedicated egress IPs (from Cloudflare to your origin) for your layer 7 WAF and CDN services. The egress IPs are reserved exclusively for your account so that you can increase your origin security by only allowing traffic from a small list of IP addresses.
      type: object
      allOf:
      - $ref: '#/components/schemas/zones_cache-rules_base'
      - properties:
          id:
            description: ID of the zone setting.
            type: string
            example: aegis
            enum:
            - aegis
            x-auditable: true
          value:
            $ref: '#/components/schemas/zones_cache-rules_aegis_value'
        type: object
      title: Aegis
    zones_china_network_enabled:
      description: 'Determines whether or not the china network is enabled.

        '
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: china_network_enabled
            enum:
            - china_network_enabled
          value:
            $ref: '#/components/schemas/zones_china_network_enabled_value'
      title: China Network Enabled
    zones_server_side_exclude:
      description: 'If there is sensitive content on your website that you want visible to real visitors, but that you want to hide from suspicious visitors, all you have to do is wrap the content with Cloudflare SSE tags. Wrap any content that you want to be excluded from suspicious visitors in the following SSE tags: <!--sse--><!--/sse-->. For example: <!--sse-->  Bad visitors won''t see my phone number, 555-555-5555 <!--/sse-->. Note: SSE only will work with HTML. If you have HTML minification enabled, you won''t see the SSE tags in your HTML source when it''s served through Cloudflare. SSE will still function in this case, as Cloudflare''s HTML minification and SSE functionality occur on-the-fly as the resource moves through our network to the visitor''s computer. (https://support.cloudflare.com/hc/en-us/articles/200170036).'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: server_side_exclude
            enum:
            - server_side_exclude
          value:
            $ref: '#/components/schemas/zones_server_side_exclude_value'
      title: Server Side Exclude
    zones_browser_check-2:
      description: Browser Integrity Check is similar to Bad Behavior and looks for common HTTP headers abused most commonly by spammers and denies access to your page.  It will also challenge visitors that do not have a user agent or a non standard user agent (also commonly used by abuse bots, crawlers or visitors). (https://support.cloudflare.com/hc/en-us/articles/200170086).
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: browser_check
            enum:
            - browser_check
          value:
            $ref: '#/components/schemas/zones_browser_check_value'
      title: Browser Check
    zones_sha1_support:
      description: Allow SHA1 support.
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: Zone setting identifier.
            example: sha1_support
            enum:
            - sha1_support
          value:
            $ref: '#/components/schemas/zones_sha1_support_value'
      title: Toggle SHA1 support
    zones_sha1_support_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'off'
      - 'on'
    speed_automatic_platform_optimization_response:
      description: Controls Automatic Platform Optimization (APO) for WordPress.
      allOf:
      - $ref: '#/components/schemas/speed_base'
      - properties:
          id:
            description: ID of the zone setting.
            type: string
            example: automatic_platform_optimization
            enum:
            - automatic_platform_optimization
            x-auditable: true
          value:
            $ref: '#/components/schemas/speed_automatic_platform_optimization_value'
        type: object
      title: Automatic Platform Optimization setting
    speed_binary_ast_response:
      description: Controls Binary AST JavaScript parsing for the zone.
      allOf:
      - $ref: '#/components/schemas/speed_base'
      - properties:
          id:
            description: ID of the zone setting.
            type: string
            example: binary_ast
            enum:
            - binary_ast
            x-auditable: true
          value:
            $ref: '#/components/schemas/speed_binary_ast_value'
        type: object
      title: Binary AST setting
    zones_ssl_recommender_enabled:
      description: ssl-recommender enrollment setting.
      type: boolean
      default: false
    speed_transformations_c2pa_value:
      description: Whether C2PA signing is enabled for image transformations.
      type: string
      enum:
      - 'off'
      - 'on'
      x-auditable: true
    zones_privacy_pass_value:
      description: Value of the Privacy Pass v1 (deprecated) zone setting
      type: string
      default: 'off'
      deprecated: true
      enum:
      - 'on'
      - 'off'
      x-stainless-deprecation-message: Privacy Pass v1 was deprecated in 2023. (Announcement - https://blog.cloudflare.com/privacy-pass-standard/) and (API deprecation details - https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#2024-03-31)
    zones_replace_insecure_js:
      description: 'Automatically replace insecure JavaScript libraries with safer and faster alternatives provided under cdnjs and powered by Cloudflare. Currently supports the following libraries: Polyfill under polyfill.io.

        '
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: replace_insecure_js
            enum:
            - replace_insecure_js
          value:
            $ref: '#/components/schemas/zones_replace_insecure_js_value'
      title: Replace insecure JavaScript libraries
    zones_mirage-2:
      description: 'Automatically optimize image loading for website visitors on mobile

        devices. Refer to [our blog post](http://blog.cloudflare.com/mirage2-solving-mobile-speed)

        for more information.

        '
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: mirage
            enum:
            - mirage
          value:
            $ref: '#/components/schemas/zones_mirage_value'
      deprecated: true
      title: Mirage Image Optimization
      x-stainless-deprecation-message: Mirage is being deprecated. More information at https://developers.cloudflare.com/speed/optimization/images/mirage/
    zones_cache_level-2:
      description: Cache Level functions based off the setting level. The basic setting will cache most static resources (i.e., css, images, and JavaScript). The simplified setting will ignore the query string when delivering a cached resource. The aggressive setting will cache all static resources, including ones with a query string. (https://support.cloudflare.com/hc/en-us/articles/200168256).
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: cache_level
            enum:
            - cache_level
          value:
            $ref: '#/components/schemas/zones_cache_level_value'
      title: Cloudflare Cache Level
    zones_prefetch_preload_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    zones_cache-rules_origin_h2_max_streams:
      description: Origin H2 Max Streams configures the max number of concurrent requests that Cloudflare will send within the same connection when communicating with the origin server, if the origin supports it. Note that if your origin does not support H2 multiplexing, 5xx errors may be observed, particularly 520s. Also note that the default value is `100` for all plan types except Enterprise where it is `1`. `1` means that H2 multiplexing is disabled.
      type: object
      allOf:
      - $ref: '#/components/schemas/zones_cache-rules_base'
      - properties:
          id:
            description: Value of the zone setting.
            type: string
            example: origin_h2_max_streams
            enum:
            - origin_h2_max_streams
            x-auditable: true
          value:
            $ref: '#/components/schemas/zones_cache-rules_origin_h2_max_streams_value'
        type: object
      title: Origin H2 Max Streams
    zones_privacy_pass:
      description: Privacy Pass v1 was a browser extension developed by the Privacy Pass Team to improve the browsing experience for your visitors by allowing users to reduce the number of CAPTCHAs shown. (https://support.cloudflare.com/hc/en-us/articles/115001992652-Privacy-Pass).
      default: 'off'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: privacy_pass
            enum:
            - privacy_pass
          value:
            $ref: '#/components/schemas/zones_privacy_pass_value'
      deprecated: true
      title: Privacy Pass v1 (deprecated)
      x-stainless-deprecation-message: Privacy Pass v1 was deprecated in 2023. (Announcement - https://blog.cloudflare.com/privacy-pass-standard/) and (API deprecation details - https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#2024-03-31)
    zones_pre_render_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'off'
      - 'on'
    zones_image_resizing_value:
      description: Whether the feature is enabled, disabled, or enabled in `open proxy` mode.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
      - open
    zones_tls_1_3:
      description: Enables Crypto TLS 1.3 feature for a zone.
      default: 'off'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: tls_1_3
            enum:
            - tls_1_3
          value:
            $ref: '#/components/schemas/zones_tls_1_3_value'
      title: Enable TLS 1.3 value for a zone
    zones_setting_name:
      description: Setting name
      type: string
      example: always_online
    zones_redirects_for_ai_training:
      description: 'When enabled, Cloudflare will redirect verified AI training crawlers to canonical URLs

        found in the HTML response, ensuring AI models train on authoritative content.'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: redirects_for_ai_training
            enum:
            - redirects_for_ai_training
          value:
            $ref: '#/components/schemas/zones_redirects_for_ai_training_value'
      title: Redirects for AI Training
    zones_server_side_exclude_value:
      description: Value of the zone setting.
      type: string
      default: 'on'
      enum:
      - 'on'
      - 'off'
    zones_transformations_allowed_origins_value:
      description: 'Comma-separated list of allowed origins.

        Refer to the [Image Transformations](https://developers.cloudflare.com/images/transform-images/sources/) and [Video Transformations](https://developers.cloudflare.com/stream/transform-videos/#getting-started) documentation for more information.'
      type: string
    cache-settings_origin_max_http_version_value:
      description: Value of the Origin Max HTTP Version Setting.
      type: string
      enum:
      - '2'
      - '1'
      x-auditable: true
    cache-settings_origin_max_http_version:
      description: Origin Max HTTP Setting Version sets the highest HTTP version Cloudflare will attempt to use with your origin. This setting allows Cloudflare to make HTTP/2 requests to your origin. (Refer to [Enable HTTP/2 to Origin](https://developers.cloudflare.com/cache/how-to/enable-http2-to-origin/), for more information.). The default value is "2" for all plan types except Enterprise where it is "1".
      type: object
      allOf:
      - $ref: '#/components/schemas/cache-settings_base'
      - properties:
          id:
            description: Value of the zone setting.
            type: string
            example: origin_max_http_version
            enum:
            - origin_max_http_version
            x-auditable: true
          value:
            $ref: '#/components/schemas/cache-settings_origin_max_http_version_value'
        type: object
      title: Origin Max HTTP Version
    cache-settings_aegis_value:
      description: Value of the zone setting.
      type: object
      properties:
        enabled:
          description: Whether the feature is enabled or not.
          type: boolean
          x-auditable: true
        pool_id:
          description: Egress pool id which refers to a grouping of dedicated egress IPs through which Cloudflare will connect to origin.
          type: string
          example: pool-id
          x-auditable: true
    zones_proxy_read_timeout:
      description: Maximum time between two read operations from origin.
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: proxy_read_timeout
            enum:
            - proxy_read_timeout
          value:
            $ref: '#/components/schemas/zones_proxy_read_timeout_value'
      title: Proxy Read Timeout
    zones_browser_cache_ttl-2:
      description: Browser Cache TTL (in seconds) specifies how long Cloudflare-cached resources will remain on your visitors' computers. Cloudflare will honor any larger times specified by your server. (https://support.cloudflare.com/hc/en-us/articles/200168276).
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: browser_cache_ttl
            enum:
            - browser_cache_ttl
          value:
            $ref: '#/components/schemas/zones_browser_cache_ttl_value'
      title: Browser Cache TTL
    speed_image_resizing_value:
      description: 'Controls Image Resizing behavior:

        - "off": Feature disabled.

        - "on": Resizing is enabled for same-zone images only.

        - "open": Resizing is enabled for images from any origin.

        - "latest": Resizing is enabled for same-zone images using the latest version.

        '
      type: string
      enum:
      - 'off'
      - 'on'
      - open
      - latest
      x-auditable: true
    cache-settings_editable:
      description: Whether the setting is editable.
      type: boolean
      x-auditable: true
    zones_nel_value:
      description: Value of the zone setting.
      type: object
      properties:
        enabled:
          type: boolean
          example: false
          default: false
      default:
        enabled: false
    cache-settings_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      readOnly: true
      x-auditable: true
    zones_tls_1_3_value:
      description: 'Value of the zone setting.

        Notes: Default value depends on the zone''s plan level.'
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
      - zrt
    cache-settings_base:
      type: object
      properties:
        id:
          description: Identifier of the zone setting.
          type: string
          x-auditable: true
        modified_on:
          description: Last time this setting was modified.
          type:
          - string
          - 'null'
          format: date-time
          example: '2014-01-01T05:20:00.12345Z'
          readOnly: true
          x-auditable: true
      required:
      - id
    zones_ipv6_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'off'
      - 'on'
    zones_content_converter_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'off'
      - 'on'
    zones_setting_value:
      oneOf:
      - $ref: '#/components/schemas/zones_0rtt_value'
      - $ref: '#/components/schemas/zones_advanced_ddos_value'
      - $ref: '#/components/schemas/zones_cache-rules_aegis_value'
      - $ref: '#/components/schemas/zones_always_online_value'
      - $ref: '#/components/schemas/zones_always_use_https_value'
      - $ref: '#/components/schemas/zones_automatic_https_rewrites_value'
      - $ref: '#/components/schemas/zones_brotli_value'
      - $ref: '#/components/schemas/zones_browser_cache_ttl_value'
      - $ref: '#/components/schemas/zones_browser_check_value'
      - $ref: '#/components/schemas/zones_cache_level_value'
      - $ref: '#/components/schemas/zones_challenge_ttl_value'
      - $ref: '#/components/schemas/zones_china_network_enabled_value'
      - $ref: '#/components/schemas/zones_content_converter_value'
      - $ref: '#/components/schemas/zones_ciphers_value'
      - $ref: '#/components/schemas/zones_cname_flattening_value'
      - $ref: '#/components/schemas/zones_development_mode_value'
      - $ref: '#/components/schemas/zones_early_hints_value'
      - $ref: '#/components/schemas/zones_edge_cache_ttl_value'
      - $ref: '#/components/schemas/zones_email_obfuscation_value'
      - $ref: '#/components/schemas/zones_h2_prioritization_value'
      - $ref: '#/components/schemas/zones_hotlink_protection_value'
      - $ref: '#/components/schemas/zones_http2_value'
      - $ref: '#/components/schemas/zones_http3_value'
      - $ref: '#/components/schemas/zones_image_resizing_value'
      - $ref: '#/components/schemas/zones_ip_geolocation_value'
      - $ref: '#/components/schemas/zones_ipv6_value'
      - $ref: '#/components/schemas/zones_max_upload_value'
      - $ref: '#/components/schemas/zones_min_tls_version_value'
      - $ref: '#/components/schemas/zones_mirage_value'
      - $ref: '#/components/schemas/zones_nel_value'
      - $ref: '#/components/schemas/zones_opportunistic_encryption_value'
      - $ref: '#/components/schemas/zones_opportunistic_onion_value'
      - $ref: '#/components/schemas/zones_orange_to_orange_value'
      - $ref: '#/components/schemas/zones_origin_error_page_pass_thru_value'
      - $ref: '#/components/schemas/zones_cache-rules_origin_h2_max_streams_value'
      - $ref: '#/components/schemas/zones_cache-rules_origin_max_http_version_value'
      - $ref: '#/components/schemas/zones_polish_value'
      - $ref: '#/components/schemas/zones_prefetch_preload_value'
      - $ref: '#/components/schemas/zones_pre_render_value'
      - $ref: '#/components/schemas/zones_privacy_pass_value'
      - $ref: '#/components/schemas/zones_proxy_read_timeout_value'
      - $ref: '#/components/schemas/zones_pseudo_ipv4_value'
      - $ref: '#/components/schemas/zones_redirects_for_ai_training_value'
      - $ref: '#/components/schemas/zones_replace_insecure_js_value'
      - $ref: '#/components/schemas/zones_response_buffering_value'
      - $ref: '#/components/schemas/zones_rocket_loader_value'
      - $ref: '#/components/schemas/zones_automatic_platform_optimization'
      - $ref: '#/components/schemas/zones_search_for_agents_value'
      - $ref: '#/components/schemas/zones_security_header_value'
      - $ref: '#/components/schemas/zones_security_level_value'
      - $ref: '#/components/schemas/zones_server_side_exclude_value'
      - $ref: '#/components/schemas/zones_sha1_support_value'
      - $ref: '#/components/schemas/zones_sort_query_string_for_cache_value'
      - $ref: '#/components/schemas/zones_ssl_value'
      - $ref: '#/components/schemas/zones_tls_1_2_only_value'
      - $ref: '#/components/schemas/zones_tls_1_3_value'
      - $ref: '#/components/schemas/zones_tls_client_auth_value'
      - $ref: '#/components/schemas/zones_true_client_ip_header_value'
      - $ref: '#/components/schemas/zones_waf_value'
      - $ref: '#/components/schemas/zones_webmcp_enabled_value'
      - $ref: '#/components/schemas/zones_webmcp_packs_value'
      - $ref: '#/components/schemas/zones_webp_value'
      - $ref: '#/components/schemas/zones_websockets_value'
    zones_security_level-2:
      description: Choose the appropriate security profile for your website, which will automatically adjust each of the security settings. If you choose to customize an individual security setting, the profile will become Custom. (https://support.cloudflare.com/hc/en-us/articles/200170056).
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: security_level
            enum:
            - security_level
          value:
            $ref: '#/components/schemas/zones_security_level_value'
      title: Security Level
    zones_opportunistic_encryption_value:
      description: 'Value of the zone setting.

        Notes: Default value depends on the zone''s plan level.'
      type: string
      default: 'on'
      enum:
      - 'on'
      - 'off'
    cache-settings_origin_max_http_version_response_value:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/cache-settings_origin_max_http_version'
    zones_browser_cache_ttl_value:
      description: 'Value of the zone setting in seconds.

        Minimum values by plan:

        - Free: 1 second

        - Pro: 1 second

        - Business: 1 second

        - Enterprise: 1 second

        Setting a TTL of 0 is equivalent to selecting `Respect Existing Headers` and is allowed for all plans.'
      type: integer
      default: 14400
      maximum: 31536000
      minimum: 0
    zones_challenge_ttl_value:
      description: Value of the zone setting.
      type: number
      default: 1800
      enum:
      - 300
      - 900
      - 1800
      - 2700
      - 3600
      - 7200
      - 10800
      - 14400
      - 28800
      - 57600
      - 86400
      - 604800
      - 2592000
      - 31536000
    zones_cache-rules_aegis_value:
      description: Value of the zone setting.
      type: object
      properties:
        enabled:
          description: Whether the feature is enabled or not.
          type: boolean
          x-auditable: true
        pool_id:
          description: Egress pool id which refers to a grouping of dedicated egress IPs through which Cloudflare will connect to origin.
          type: string
          example: pool-id
          x-auditable: true
    zones_early_hints_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    speed_transformations_config_response:
      description: 'Combined view of Transformations, Allowed Origins, and C2PA settings for a zone.

        '
      allOf:
      - $ref: '#/components/schemas/speed_base'
      - properties:
          id:
            description: ID of the zone setting.
            type: string
            example: transformations_config
            enum:
            - transformations_config
            x-auditable: true
          value:
            $ref: '#/components/schemas/speed_transformations_config_value'
        type: object
      title: Transformations combined configuration
    zones_always_use_https_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    zones_prefetch_preload:
      description: Cloudflare will prefetch any URLs that are included in the response headers. This is limited to Enterprise Zones.
      default: 'off'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: prefetch_preload
            enum:
            - prefetch_preload
          value:
            $ref: '#/components/schemas/zones_prefetch_preload_value'
      title: Prefetch preload
    zones_identifier:
      description: Identifier
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
    zones_search_for_agents:
      description: 'When enabled, Cloudflare provisions an AI Search instance for the zone

        and exposes a /.well-known/ai-search endpoint that AI agents can query.

        Markdown responses also receive an agent: YAML capability block advertising

        the search endpoint.'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: search_for_agents
            enum:
            - search_for_agents
          value:
            $ref: '#/components/schemas/zones_search_for_agents_value'
      title: Search for Agents
    zones_h2_prioritization_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
      - custom
    cache-settings_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          message:
            type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    zones_search_for_agents_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'off'
      - 'on'
    zones_base:
      properties:
        editable:
          description: Whether or not this setting can be modified for this zone (based on your Cloudflare plan level).
          type: boolean
          enum:
          - true
          - false
          readOnly: true
        id:
          description: Identifier of the zone setting.
          type: string
          example: development_mode
        modified_on:
          description: last time this setting was modified.
          type:
          - string
          - 'null'
          format: date-time
          example: '2014-01-01T05:20:00.12345Z'
          readOnly: true
        value:
          description: Current value of the zone setting.
          example: 'on'
      required:
      - id
      - value
    zones_cache-rules_origin_max_http_version:
      description: Origin Max HTTP Setting Version sets the highest HTTP version Cloudflare will attempt to use with your origin. This setting allows Cloudflare to make HTTP/2 requests to your origin. (Refer to [Enable HTTP/2 to Origin](https://developers.cloudflare.com/cache/how-to/enable-http2-to-origin/), for more information.). The default value is "2" for all plan types except Enterprise where it is "1".
      type: object
      allOf:
      - $ref: '#/components/schemas/zones_cache-rules_base'
      - properties:
          id:
            description: Value of the zone setting.
            type: string
            example: origin_max_http_version
            enum:
            - origin_max_http_version
            x-auditable: true
          value:
            $ref: '#/components/schemas/zones_cache-rules_origin_max_http_version_value'
        type: object
      title: Origin Max HTTP Version
    zones_redirects_for_ai_training_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'off'
      - 'on'
    zones_response_buffering-2:
      description: Enables or disables buffering of responses from the proxied server. Cloudflare may buffer the whole payload to deliver it at once to the client versus allowing it to be delivered in chunks. By default, the proxied server streams directly and is not buffered by Cloudflare. This is limited to Enterprise Zones.
      default: 'off'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: response_buffering
            enum:
            - response_buffering
          value:
            $ref: '#/components/schemas/zones_response_buffering_value'
      deprecated: true
      title: Response Buffering
      x-stainless-deprecation-message: This zone setting is deprecated. This functionality is no longer supported.
    zones_edge_cache_ttl-2:
      description: Time (in seconds) that a resource will be ensured to remain on Cloudflare's cache servers.
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: edge_cache_ttl
            enum:
            - edge_cache_ttl
          value:
            $ref: '#/components/schemas/zones_edge_cache_ttl_value'
      title: Edge Cache TTL
    zones_websockets_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'off'
      - 'on'
    zones_0rtt_value:
      description: Value of the 0-RTT setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    zones_multiple_settings:
      type: array
      items:
        anyOf:
        - $ref: '#/components/schemas/zones_0rtt'
        - $ref: '#/components/schemas/zones_advanced_ddos'
        - $ref: '#/components/schemas/zones_cache-rules_aegis'
        - $ref: '#/components/schemas/zones_always_online'
        - $ref: '#/components/schemas/zones_always_use_https-2'
        - $ref: '#/components/schemas/zones_automatic_https_rewrites-2'
        - $ref: '#/components/schemas/zones_brotli'
        - $ref: '#/components/schemas/zones_browser_cache_ttl-2'
        - $ref: '#/components/schemas/zones_browser_check-2'
        - $ref: '#/components/schemas/zones_cache_level-2'
        - $ref: '#/components/schemas/zones_challenge_ttl'
        - $ref: '#/components/schemas/zones_china_network_enabled'
        - $ref: '#/components/schemas/zones_content_converter'
        - $ref: '#/components/schemas/zones_ciphers'
        - $ref: '#/components/schemas/zones_cname_flattening'
        - $ref: '#/components/schemas/zones_development_mode'
        - $ref: '#/components/schemas/zones_early_hints'
        - $ref: '#/components/schemas/zones_edge_cache_ttl-2'
        - $ref: '#/components/schemas/zones_email_obfuscation-2'
        - $ref: '#/components/schemas/zones_h2_prioritization'
        - $ref: '#/components/schemas/zones_hotlink_protection'
        - $ref: '#/components/schemas/zones_http2'
        - $ref: '#/components/schemas/zones_http3'
        - $ref: '#/components/schemas/zones_ip_geolocation-2'
        - $ref: '#/components/schemas/zones_ipv6'
        - $ref: '#/components/schemas/zones_max_upload'
        - $ref: '#/components/schemas/zones_min_tls_version'
        - $ref: '#/components/schemas/zones_mirage-2'
        - $ref: '#/components/schemas/zones_nel'
        - $ref: '#/components/schemas/zones_opportunistic_encryption-2'
        - $ref: '#/components/schemas/zones_opportunistic_onion'
        - $ref: '#/components/schemas/zones_orange_to_orange'
        - $ref: '#/components/schemas/zones_origin_error_page_pass_thru-2'
        - $ref: '#/components/schemas/zones_cache-rules_origin_h2_max_streams'
        - $ref: '#/components/schemas/zones_cache-rules_origin_max_http_version'
        - $ref: '#/components/schemas/zones_polish-2'
        - $ref: '#/components/schemas/zones_prefetch_preload'
        - $ref: '#/components/schemas/zones_pre_render'
        - $ref: '#/components/schemas/zones_privacy_pass'
        - $ref: '#/components/schemas/zones_proxy_read_timeout'
        - $ref: '#/components/schemas/zones_pseudo_ipv4'
        - $ref: '#/components/schemas/zones_redirects_for_ai_training'
        - $ref: '#/components/schemas/zones_replace_insecure_js'
        - $ref: '#/components/schemas/zones_response_buffering-2'
        - $ref: '#/components/schemas/zones_rocket_loader-2'
        - $ref: '#/components/schemas/zones_schemas-automatic_platform_optimization'
        - $ref: '#/components/schemas/zones_search_for_agents'
        - $ref: '#/components/schemas/zones_security_header'
        - $ref: '#/components/schemas/zones_security_level-2'
        - $ref: '#/components/schemas/zones_server_side_exclude'
        - $ref: '#/components/schemas/zones_sha1_support'
        - $ref: '#/components/schemas/zones_sort_query_string_for_cache-2'
        - $ref: '#/components/schemas/zones_ssl-2'
        - $ref: '#/components/schemas/zones_ssl_recommender'
        - $ref: '#/components/schemas/zones_tls_1_2_only'
        - $ref: '#/components/schemas/zones_tls_1_3'
        - $ref: '#/components/schemas/zones_tls_client_auth'
        - $ref: '#/components/schemas/zones_true_client_ip_header-2'
        - $ref: '#/components/schemas/zones_waf-2'
        - $ref: '#/components/schemas/zones_webmcp_enabled'
        - $ref: '#/components/schemas/zones_webmcp_packs'
        - $ref: '#/components/schemas/zones_webp'
        - $ref: '#/components/schemas/zones_websockets'
    zones_polish-2:
      description: 'Removes metadata and compresses your images for faster page load times. Basic (Lossless): Reduce the size of PNG, JPEG, and GIF files - no impact on visual quality. Basic + JPEG (Lossy): Further reduce the size of JPEG files for faster image loading. Larger JPEGs are converted to progressive images, loading a lower-resolution image first and ending in a higher-resolution version. Not recommended for hi-res photography sites.'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: polish
            enum:
            - polish
          value:
            $ref: '#/components/schemas/zones_polish_value'
      title: Polish Image Optimization
    speed_h2_prioritization_value:
      description: 'Controls HTTP/2 Prioritization behavior:

        - "off": Use browser default prioritization.

        - "on": Use Cloudflare''s optimized prioritization.

        - "custom": Use custom prioritization rules.

        '
      type: string
      enum:
      - 'off'
      - 'on'
      - custom
      x-auditable: true
    zones_webp:
      description: When the client requesting the image supports the WebP image codec, and WebP offers a performance advantage over the original image format, Cloudflare will serve a WebP version of the original image.
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: webp
            enum:
            - webp
          value:
            $ref: '#/components/schemas/zones_webp_value'
      title: Polish WebP Conversion
    zones_replace_insecure_js_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    zones_rocket_loader_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    zones_ipv6:
      description: Enable IPv6 on all subdomains that are Cloudflare enabled.  (https://support.cloudflare.com/hc/en-us/articles/200168586).
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: ipv6
            enum:
            - ipv6
          value:
            $ref: '#/components/schemas/zones_ipv6_value'
      title: IPv6
    zones_email_obfuscation_value:
      description: Value of the zone setting.
      type: string
      default: 'on'
      enum:
      - 'on'
      - 'off'
    zones_mirage_value:
      description: Value of the zone setting.
      type: string
      default: 'off'
      deprecated: true
      enum:
      - 'on'
      - 'off'
      x-stainless-deprecation-message: Mirage is being deprecated. More information at https://developers.cloudflare.com/speed/optimization/images/mirage/
    speed_binary_ast_value:
      description: 'Controls Binary AST behavior:

        - "off": Feature disabled.

        - "on": Binary AST enabled.

        - "latest": Binary AST enabled using the latest version.

        '
      type: string
      enum:
      - 'off'
      - 'on'
      - latest
      x-auditable: true
    cache-settings_aegis_response_value:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/cache-settings_aegis'
    zones_http2_value:
      description: Value of the HTTP2 setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    zones_http3:
      description: HTTP3 enabled for this zone.
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: http3
            enum:
            - http3
          value:
            $ref: '#/components/schemas/zones_http3_value'
      title: HTTP3 Value
    speed_transformations_c2pa_response:
      description: Controls C2PA signing for images processed through Cloudflare Image Transformations.
      allOf:
      - $ref: '#/components/schemas/speed_base'
      - properties:
          id:
            description: ID of the zone setting.
            type: string
            example: image_resizing_c2pa
            enum:
            - image_resizing_c2pa
            x-auditable: true
          value:
            $ref: '#/components/schemas/speed_transformations_c2pa_value'
        type: object
      title: Image Transformations C2PA setting
    zones_rocket_loader-2:
      description: Rocket Loader is a general-purpose asynchronous JavaScript optimisation that prioritises rendering your content while loading your site's Javascript asynchronously. Turning on Rocket Loader will immediately improve a web page's rendering time sometimes measured as Time to First Paint (TTFP), and also the `window.onload` time (assuming there is JavaScript on the page). This can have a positive impact on your Google search ranking. When turned on, Rocket Loader will automatically defer the loading of all Javascript referenced in your HTML, with no configuration required. Refer to [Understanding Rocket Loader](https://support.cloudflare.com/hc/articles/200168056) for more information.
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: rocket_loader
            enum:
            - rocket_loader
          value:
            $ref: '#/components/schemas/zones_rocket_loader_value'
      title: Rocket Loader
    zones_opportunistic_onion:
      description: Add an Alt-Svc header to all legitimate requests from Tor, allowing the connection to use our onion services instead of exit nodes.
      default: 'off'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: opportunistic_onion
            enum:
            - opportunistic_onion
          value:
            $ref: '#/components/schemas/zones_opportunistic_onion_value'
      title: Zone Enable Onion Routing
    zones_ip_geolocation_value:
      description: Value of the zone setting.
      type: string
      default: 'on'
      enum:
      - 'on'
      - 'off'
    zones_tls_client_auth_value:
      description: value of the zone setting.
      type: string
      default: 'off'
      enum:
      - 'on'
      - 'off'
    speed_transformations_allowed_origins_value:
      description: 'Comma-separated list of allowed origin domains for image and video transformations.

        Use "*" to allow all origins (default).

        '
      type: string
      example: example.com,cdn.example.com
      x-auditable: true
    zones_pseudo_ipv4:
      description: The value set for the Pseudo IPv4 setting.
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: Value of the Pseudo IPv4 setting.
            default: pseudo_ipv4
            enum:
            - pseudo_ipv4
          value:
            $ref: '#/components/schemas/zones_pseudo_ipv4_value'
      title: Pseudo IPv4 Value
    zones_webmcp_enabled:
      description: 'When enabled, Cloudflare injects the WebMCP bridge (bridge.js) into HTML

        responses for this zone, exposing DOM and Content Credentials tools to an

        in-browser AI agent via navigator.modelContext. No origin-side code

        changes are required. This setting is currently in beta and its behavior

        may change.'
      allOf:
      - $ref: '#/components/schemas/zones_base'
      - properties:
          id:
            description: ID of the zone setting.
            example: webmcp_enabled
            enum:
            - webmcp_enabled
          value:
            $ref: '#/components/schemas/zones_webmcp_enabled_value'
      title: WebMCP Enabled
    zones_api-response-common-failure-3:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/zones_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/zones_messages'
        result:
          type:
[...]
