openapi: 3.0.3
info:
  title: Cloudflare / Accounts Databases API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Databases
  description: Create, list, update, and delete D1 serverless SQL databases.
paths:
  /accounts/{account_id}/d1/database:
    get:
      operationId: listD1Databases
      summary: Cloudflare List D1 Databases
      description: Returns a paginated list of all D1 databases for the account.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: page
        in: query
        description: Page number of results.
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: per_page
        in: query
        description: Number of results per page.
        schema:
          type: integer
        example: 10
      - name: name
        in: query
        description: Filter databases by name.
        schema:
          type: string
        example: Example Title
      responses:
        '200':
          description: List of D1 databases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D1DatabaseListResponse'
              examples:
                Listd1databases200Example:
                  summary: Default listD1Databases 200 response
                  x-microcks-default: true
                  value:
                    result:
                    - uuid: '500123'
                      name: Example Title
                      version: example_value
                      num_tables: 10
                      file_size: 10
                      created_at: '2026-01-15T10:30:00Z'
                    success: true
                    result_info:
                      page: 10
                      per_page: 10
                      count: 10
                      total_count: 10
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createD1Database
      summary: Cloudflare Create D1 Database
      description: Create a new D1 serverless SQL database.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the database.
                primary_location_hint:
                  type: string
                  description: Hint for the primary location of the database. Specify a Cloudflare region.
            examples:
              Created1databaseRequestExample:
                summary: Default createD1Database request
                x-microcks-default: true
                value:
                  name: Example Title
                  primary_location_hint: example_value
      responses:
        '200':
          description: Database created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D1DatabaseResponse'
              examples:
                Created1database200Example:
                  summary: Default createD1Database 200 response
                  x-microcks-default: true
                  value:
                    result:
                      uuid: '500123'
                      name: Example Title
                      version: example_value
                      num_tables: 10
                      file_size: 10
                      created_at: '2026-01-15T10:30:00Z'
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{account_id}/d1/database/{database_id}:
    get:
      operationId: getD1Database
      summary: Cloudflare Get D1 Database
      description: Retrieve details of a specific D1 database.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/DatabaseId'
      responses:
        '200':
          description: Database details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D1DatabaseResponse'
              examples:
                Getd1database200Example:
                  summary: Default getD1Database 200 response
                  x-microcks-default: true
                  value:
                    result:
                      uuid: '500123'
                      name: Example Title
                      version: example_value
                      num_tables: 10
                      file_size: 10
                      created_at: '2026-01-15T10:30:00Z'
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '401':
          description: Unauthorized.
        '404':
          description: Database not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateD1Database
      summary: Cloudflare Update D1 Database
      description: Update a D1 database configuration.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/DatabaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name for the database.
            examples:
              Updated1databaseRequestExample:
                summary: Default updateD1Database request
                x-microcks-default: true
                value:
                  name: Example Title
      responses:
        '200':
          description: Database updated successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Database not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteD1Database
      summary: Cloudflare Delete D1 Database
      description: Delete a D1 database and all its contents.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/DatabaseId'
      responses:
        '200':
          description: Database deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Database not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    DatabaseId:
      name: database_id
      in: path
      required: true
      description: The unique identifier of the D1 database.
      schema:
        type: string
  schemas:
    D1DatabaseResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/D1Database'
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
    D1Database:
      type: object
      properties:
        uuid:
          type: string
          description: The unique identifier of the database.
          example: '500123'
        name:
          type: string
          description: The name of the database.
          example: Example Title
        version:
          type: string
          description: The version of the database.
          example: example_value
        num_tables:
          type: integer
          description: Number of tables in the database.
          example: 10
        file_size:
          type: integer
          description: Size of the database file in bytes.
          example: 10
        created_at:
          type: string
          format: date-time
          description: When the database was created.
          example: '2026-01-15T10:30:00Z'
    D1DatabaseListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/D1Database'
          example: []
        success:
          type: boolean
          example: true
        result_info:
          type: object
          properties:
            page:
              type: integer
            per_page:
              type: integer
            count:
              type: integer
            total_count:
              type: integer
          example: example_value
