openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Origin Cloud Regions API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Origin Cloud Regions
paths:
  /zones/{zone_id}/cache/origin_cloud_regions:
    get:
      operationId: origin-cloud-regions-list
      summary: List origin cloud region mappings
      description: Returns all IP-to-cloud-region mappings configured for the zone. Each mapping tells Cloudflare which cloud vendor and region hosts the origin at that IP, enabling the edge to route via the nearest Tiered Cache upper-tier co-located with that cloud provider. Returns an empty array when no mappings exist.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      responses:
        '200':
          description: List origin cloud region mappings response.
          content:
            application/json:
              examples:
                empty:
                  $ref: '#/components/examples/cache-settings_origin_cloud_regions_empty'
                two_mappings:
                  $ref: '#/components/examples/cache-settings_origin_cloud_regions_list'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_regions_list_result'
                  type: object
        4XX:
          description: List origin cloud region mappings failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfDeprecation:
        description: Use the v2 endpoints under `/zones/{zone_id}/origin/cloud_regions` instead. The v2 API uses idempotent PUT semantics for create+update, provides a flat response shape, and is the supported path for Terraform and SDK clients. The v1 endpoints under `/zones/{zone_id}/cache/origin_cloud_regions` will be removed on 2026-10-01.
        display: true
        eol: '2026-10-01T00:00:00Z'
        id: opcr_v1_deprecation
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: list-v1
      x-forge-hidden: true
    patch:
      operationId: origin-cloud-regions-upsert
      summary: Create or update an origin cloud region mapping
      description: Adds or updates a single IP-to-cloud-region mapping for the zone. Unlike POST, this operation is idempotent — if a mapping for the IP already exists it is overwritten. Returns the complete updated list of all mappings for the zone. Returns 403 (code 1164) when the zone has reached the limit of 3,500 IP mappings.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              gcp:
                $ref: '#/components/examples/cache-settings_origin_cloud_region_request_gcp'
            schema:
              $ref: '#/components/schemas/cache-settings_origin_cloud_region_request'
      responses:
        '200':
          description: Create or update origin cloud region mapping response.
          content:
            application/json:
              examples:
                patched:
                  $ref: '#/components/examples/cache-settings_origin_cloud_regions_list'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_regions_list_result'
                  type: object
        4XX:
          description: Create or update origin cloud region mapping failure.
          content:
            application/json:
              examples:
                invalid_vendor_region:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_invalid_vendor_region'
                too_many_mappings:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_too_many_mappings'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfDeprecation:
        description: Use the v2 endpoints under `/zones/{zone_id}/origin/cloud_regions` instead. The v2 API uses idempotent PUT semantics for create+update, provides a flat response shape, and is the supported path for Terraform and SDK clients. The v1 endpoints under `/zones/{zone_id}/cache/origin_cloud_regions` will be removed on 2026-10-01.
        display: true
        eol: '2026-10-01T00:00:00Z'
        id: opcr_v1_deprecation
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: edit-v1
      x-forge-hidden: true
    post:
      operationId: origin-cloud-regions-create
      summary: Create an origin cloud region mapping
      description: Adds a single IP-to-cloud-region mapping for the zone. The IP must be a valid IPv4 or IPv6 address and is normalized to canonical form before storage (RFC 5952 for IPv6). Returns 400 (code 1145) if a mapping for that IP already exists — use PATCH to update an existing entry. The vendor and region are validated against the list from `GET /zones/{zone_id}/cache/origin_cloud_regions/supported_regions`.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              aws:
                $ref: '#/components/examples/cache-settings_origin_cloud_region_request_aws'
            schema:
              $ref: '#/components/schemas/cache-settings_origin_cloud_region_request'
      responses:
        '200':
          description: Create origin cloud region mapping response.
          content:
            application/json:
              examples:
                created:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_single'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_single_result'
                  type: object
        4XX:
          description: Create origin cloud region mapping failure.
          content:
            application/json:
              examples:
                already_exists:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_already_exists'
                invalid_ip:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_invalid_ip'
                invalid_vendor_region:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_invalid_vendor_region'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfDeprecation:
        description: Use the v2 endpoints under `/zones/{zone_id}/origin/cloud_regions` instead. The v2 API uses idempotent PUT semantics for create+update, provides a flat response shape, and is the supported path for Terraform and SDK clients. The v1 endpoints under `/zones/{zone_id}/cache/origin_cloud_regions` will be removed on 2026-10-01.
        display: true
        eol: '2026-10-01T00:00:00Z'
        id: opcr_v1_deprecation
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: create-v1
      x-forge-hidden: true
  /zones/{zone_id}/cache/origin_cloud_regions/batch:
    delete:
      operationId: origin-cloud-regions-batch-delete
      summary: Batch delete origin cloud region mappings
      description: Removes up to 100 IP-to-cloud-region mappings in a single request. Each IP is validated independently — successfully deleted items are returned in the `succeeded` array and IPs that could not be found or are invalid are returned in the `failed` array.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              batch_delete:
                $ref: '#/components/examples/cache-settings_origin_cloud_region_batch_delete_request'
            schema:
              type: array
              items:
                description: Origin IP address to delete.
                example: 192.0.2.1
                type: string
              maxItems: 100
      responses:
        '200':
          description: Batch delete origin cloud region mappings successful.
          content:
            application/json:
              examples:
                batch_deleted:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_batch_delete_response'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_batch_result'
                  type: object
        4XX:
          description: Batch delete origin cloud region mappings failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
        5XX:
          description: Batch delete origin cloud region mappings internal error.
          content:
            application/json:
              examples:
                internal_error:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_batch_delete_internal_error'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfDeprecation:
        description: Use the v2 endpoints under `/zones/{zone_id}/origin/cloud_regions` instead. The v2 API uses idempotent PUT semantics for create+update, provides a flat response shape, and is the supported path for Terraform and SDK clients. The v1 endpoints under `/zones/{zone_id}/cache/origin_cloud_regions` will be removed on 2026-10-01.
        display: true
        eol: '2026-10-01T00:00:00Z'
        id: opcr_v1_deprecation
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: bulk-delete-v1
      x-forge-hidden: true
    patch:
      operationId: origin-cloud-regions-batch-upsert
      summary: Batch create or update origin cloud region mappings
      description: Adds or updates up to 100 IP-to-cloud-region mappings in a single request. Each item is validated independently — valid items are applied and invalid items are returned in the `failed` array. The vendor and region for every item are validated against the list from `GET /zones/{zone_id}/cache/origin_cloud_regions/supported_regions`.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              batch_patch:
                $ref: '#/components/examples/cache-settings_origin_cloud_region_batch_patch_request'
            schema:
              type: array
              items:
                $ref: '#/components/schemas/cache-settings_origin_cloud_region_request'
              maxItems: 100
      responses:
        '200':
          description: Batch create or update origin cloud region mappings successful.
          content:
            application/json:
              examples:
                batch_patched:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_batch_patch_response'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_batch_result'
                  type: object
        4XX:
          description: Batch create or update origin cloud region mappings failure.
          content:
            application/json:
              examples:
                too_many_mappings:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_too_many_mappings'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
        5XX:
          description: Batch create or update origin cloud region mappings internal error.
          content:
            application/json:
              examples:
                internal_error:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_batch_patch_internal_error'
                region_validation_error:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_region_validation_error'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfDeprecation:
        description: Use the v2 endpoints under `/zones/{zone_id}/origin/cloud_regions` instead. The v2 API uses idempotent PUT semantics for create+update, provides a flat response shape, and is the supported path for Terraform and SDK clients. The v1 endpoints under `/zones/{zone_id}/cache/origin_cloud_regions` will be removed on 2026-10-01.
        display: true
        eol: '2026-10-01T00:00:00Z'
        id: opcr_v1_deprecation
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: bulk-edit-v1
      x-forge-hidden: true
  /zones/{zone_id}/cache/origin_cloud_regions/supported_regions:
    get:
      operationId: origin-cloud-regions-supported-regions
      summary: List supported cloud vendors and regions
      description: Returns the cloud vendors and regions that are valid values for origin cloud region mappings. Each region includes the Tiered Cache upper-tier colocation codes that will be used for cache routing when a mapping targeting that region is active. Requires the zone to have Tiered Cache enabled.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      responses:
        '200':
          description: List supported cloud vendors and regions response.
          content:
            application/json:
              examples:
                vendors:
                  $ref: '#/components/examples/cache-settings_supported_cloud_regions'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_supported_cloud_regions_result'
                  type: object
        4XX:
          description: List supported cloud vendors and regions failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfDeprecation:
        description: Use the v2 endpoints under `/zones/{zone_id}/origin/cloud_regions` instead. The v2 API uses idempotent PUT semantics for create+update, provides a flat response shape, and is the supported path for Terraform and SDK clients. The v1 endpoints under `/zones/{zone_id}/cache/origin_cloud_regions` will be removed on 2026-10-01.
        display: true
        eol: '2026-10-01T00:00:00Z'
        id: opcr_v1_deprecation
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: supported-regions-v1
      x-forge-hidden: true
  /zones/{zone_id}/cache/origin_cloud_regions/{origin_ip}:
    delete:
      operationId: origin-cloud-regions-delete
      summary: Delete an origin cloud region mapping
      description: Removes the cloud region mapping for a single origin IP address. The IP path parameter is normalized before lookup. Returns the deleted entry on success. Returns 404 (code 1163) if no mapping exists for the specified IP. When the last mapping for the zone is removed the underlying rule record is also deleted.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      - name: origin_ip
        in: path
        description: Origin IP address whose mapping should be deleted.
        required: true
        schema:
          type: string
          example: 192.0.2.1
      responses:
        '200':
          description: Delete origin cloud region mapping response.
          content:
            application/json:
              examples:
                deleted:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_single'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_single_result'
                  type: object
        4XX:
          description: Delete origin cloud region mapping failure.
          content:
            application/json:
              examples:
                not_found:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_not_found'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfDeprecation:
        description: Use the v2 endpoints under `/zones/{zone_id}/origin/cloud_regions` instead. The v2 API uses idempotent PUT semantics for create+update, provides a flat response shape, and is the supported path for Terraform and SDK clients. The v1 endpoints under `/zones/{zone_id}/cache/origin_cloud_regions` will be removed on 2026-10-01.
        display: true
        eol: '2026-10-01T00:00:00Z'
        id: opcr_v1_deprecation
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: delete-v1
      x-forge-hidden: true
    get:
      operationId: origin-cloud-regions-get
      summary: Get an origin cloud region mapping
      description: Returns the cloud region mapping for a single origin IP address. The IP path parameter is normalized before lookup (RFC 5952 for IPv6). Returns 404 (code 1142) if the zone has no mappings or if the specified IP has no mapping.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      - name: origin_ip
        in: path
        description: Origin IP address to look up. IPv4 and IPv6 are supported.
        required: true
        schema:
          type: string
          example: 192.0.2.1
      responses:
        '200':
          description: Get origin cloud region mapping response.
          content:
            application/json:
              examples:
                found:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_single'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_single_result'
                  type: object
        4XX:
          description: Get origin cloud region mapping failure.
          content:
            application/json:
              examples:
                not_found:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_not_found'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfDeprecation:
        description: Use the v2 endpoints under `/zones/{zone_id}/origin/cloud_regions` instead. The v2 API uses idempotent PUT semantics for create+update, provides a flat response shape, and is the supported path for Terraform and SDK clients. The v1 endpoints under `/zones/{zone_id}/cache/origin_cloud_regions` will be removed on 2026-10-01.
        display: true
        eol: '2026-10-01T00:00:00Z'
        id: opcr_v1_deprecation
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: get-v1
      x-forge-hidden: true
  /zones/{zone_id}/origin/cloud_regions:
    get:
      operationId: origin-cloud-regions-v2-list
      summary: List origin cloud region mappings
      description: Returns all IP-to-cloud-region mappings configured for the zone with pagination support. Each mapping tells Cloudflare which cloud vendor and region hosts the origin at that IP, enabling the edge to route via the nearest Tiered Cache upper-tier co-located with that cloud provider. Returns an empty array when no mappings exist.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      - name: page
        in: query
        description: Page number of paginated results.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Number of items per page.
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      responses:
        '200':
          description: List origin cloud region mappings response.
          content:
            application/json:
              examples:
                empty:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_list_empty'
                two_mappings:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_list'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_entry'
                    result_info:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_result_info'
                  required:
                  - result
                  - result_info
                  type: object
        4XX:
          description: List origin cloud region mappings failure.
          content:
            application/json:
              examples:
                invalid_pagination:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_invalid_pagination'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /zones/{zone_id}/origin/cloud_regions/batch:
    delete:
      operationId: origin-cloud-regions-v2-batch-delete
      summary: Batch delete origin cloud region mappings
      description: Removes up to 100 IP-to-cloud-region mappings in a single request. Each IP is validated independently — successfully deleted items are returned in the `succeeded` array and IPs that could not be found or are invalid are returned in the `failed` array.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              batch_delete:
                $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_batch_delete_request'
            schema:
              type: array
              items:
                description: Origin IP address to delete.
                example: 192.0.2.1
                type: string
              maxItems: 100
      responses:
        '200':
          description: Batch delete origin cloud region mappings successful.
          content:
            application/json:
              examples:
                batch_deleted:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_batch_delete_response'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_batch_result'
                  type: object
        4XX:
          description: Batch delete origin cloud region mappings failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: bulk-delete
      x-forge-hidden: true
      x-forge-require-confirmation: Are you sure you want to delete these Origin Cloud Region configurations?
    put:
      operationId: origin-cloud-regions-v2-batch-upsert
      summary: Batch create or replace origin cloud region mappings
      description: Upserts up to 100 IP-to-cloud-region mappings in a single request. Items in the request body are created or replaced; mappings not included in the request body are preserved unchanged (this is a merge operation, not a full collection replacement). Each item is validated independently — valid items are applied and invalid items are returned in the `failed` array. The vendor and region for every item are validated against the list from `GET /zones/{zone_id}/origin/cloud_regions/supported_regions`.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              batch_put:
                $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_batch_put_request'
            schema:
              type: array
              items:
                $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_request'
              maxItems: 100
      responses:
        '200':
          description: Batch create or replace origin cloud region mappings successful.
          content:
            application/json:
              examples:
                batch_upserted:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_batch_put_response'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_batch_result'
                  type: object
        4XX:
          description: Batch create or replace origin cloud region mappings failure.
          content:
            application/json:
              examples:
                too_many_mappings:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_too_many_mappings'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: bulk-update
      x-forge-hidden: true
  /zones/{zone_id}/origin/cloud_regions/supported_regions:
    get:
      operationId: origin-cloud-regions-v2-supported-regions
      summary: List supported cloud vendors and regions
      description: Returns the cloud vendors and regions that are valid values for origin cloud region mappings. Each region includes the Tiered Cache upper-tier colocation codes that will be used for cache routing when a mapping targeting that region is active. Requires the zone to have Tiered Cache enabled.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      responses:
        '200':
          description: List supported cloud vendors and regions response.
          content:
            application/json:
              examples:
                vendors:
                  $ref: '#/components/examples/cache-settings_supported_cloud_regions'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_supported_cloud_regions_result'
                  type: object
        4XX:
          description: List supported cloud vendors and regions failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: supported-regions
      x-forge-hidden: true
  /zones/{zone_id}/origin/cloud_regions/{origin_ip}:
    delete:
      operationId: origin-cloud-regions-v2-delete
      summary: Delete an origin cloud region mapping
      description: Removes the cloud region mapping for a single origin IP address. The IP path parameter is normalized before lookup. Returns the deleted IP on success. Returns 404 if no mapping exists for the specified IP. When the last mapping for the zone is removed the underlying rule record is also deleted.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      - name: origin_ip
        in: path
        description: Origin IP address whose mapping should be deleted.
        required: true
        schema:
          type: string
          example: 192.0.2.1
      responses:
        '200':
          description: Delete origin cloud region mapping response.
          content:
            application/json:
              examples:
                deleted:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_delete'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_delete_result'
                  type: object
        4XX:
          description: Delete origin cloud region mapping failure.
          content:
            application/json:
              examples:
                not_found:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_not_found'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
      x-forge-require-confirmation: Are you sure you want to delete this Origin Cloud Region configuration?
    get:
      operationId: origin-cloud-regions-v2-get
      summary: Get an origin cloud region mapping
      description: Returns the cloud region mapping for a single origin IP address. The IP path parameter is normalized before lookup (RFC 5952 for IPv6). Returns 404 if the zone has no mappings or if the specified IP has no mapping.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      - name: origin_ip
        in: path
        description: Origin IP address to look up. IPv4 and IPv6 are supported.
        required: true
        schema:
          type: string
          example: 192.0.2.1
      responses:
        '200':
          description: Get origin cloud region mapping response.
          content:
            application/json:
              examples:
                found:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_single'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_entry'
                  type: object
        4XX:
          description: Get origin cloud region mapping failure.
          content:
            application/json:
              examples:
                not_found:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_not_found'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    put:
      operationId: origin-cloud-regions-v2-upsert
      summary: Create or replace an origin cloud region mapping
      description: Creates a new IP-to-cloud-region mapping or replaces the existing mapping for the specified IP. PUT is idempotent — calling it repeatedly with the same body produces the same result. The IP path parameter is normalized to canonical form (RFC 5952 for IPv6) before storage. The vendor and region are validated against the list from `GET /zones/{zone_id}/origin/cloud_regions/supported_regions`. Returns 400 if the `origin_ip` in the body does not match the URL path parameter. Returns 403 (code 1164) when the zone has reached the limit of 3,500 IP mappings.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/cache-settings_identifier'
      - name: origin_ip
        in: path
        description: Origin IP address to create or replace.
        required: true
        schema:
          type: string
          example: 192.0.2.1
      requestBody:
        required: true
        content:
          application/json:
            examples:
              aws:
                $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_request_aws'
            schema:
              $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_request'
      responses:
        '200':
          description: Create or replace origin cloud region mapping response.
          content:
            application/json:
              examples:
                upserted:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_single'
              schema:
                allOf:
                - $ref: '#/components/schemas/cache-settings_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_entry'
                  type: object
        4XX:
          description: Create or replace origin cloud region mapping failure.
          content:
            application/json:
              examples:
                invalid_vendor_region:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_invalid_vendor_region'
                ip_mismatch:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_ip_mismatch'
                too_many_mappings:
                  $ref: '#/components/examples/cache-settings_origin_cloud_region_v2_too_many_mappings'
              schema:
                $ref: '#/components/schemas/cache-settings_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Origin Cloud Regions
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: cache.origin-cloud-regions
      x-fern-sdk-method-name: update
      x-forge-hidden: true
components:
  examples:
    cache-settings_origin_cloud_region_not_found:
      value:
        errors:
        - code: 1142
          message: Unable to retrieve origin_public_cloud_region setting value. The zone setting does not exist.
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_region_validation_error:
      value:
        errors:
        - code: 1156
          message: Failed to validate region against cloud vendor
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_v2_ip_mismatch:
      value:
        errors:
        - code: 1146
          message: body origin_ip does not match URL
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_v2_batch_put_response:
      value:
        errors: []
        messages: []
        result:
          failed: []
          succeeded:
          - origin_ip: 192.0.2.1
            region: us-east-1
            vendor: aws
          - origin_ip: 2001:db8::1
            region: us-central1
            vendor: gcp
        success: true
    cache-settings_origin_cloud_region_request_gcp:
      value:
        ip: 2001:db8::1
        region: us-central1
        vendor: gcp
    cache-settings_origin_cloud_region_v2_not_found:
      value:
        errors:
        - code: 1142
          message: Unable to retrieve origin_public_cloud_region setting value. The zone setting does not exist.
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_request_aws:
      value:
        ip: 192.0.2.1
        region: us-east-1
        vendor: aws
    cache-settings_origin_cloud_region_v2_list_empty:
      value:
        errors: []
        messages: []
        result: []
        result_info:
          count: 0
          page: 1
          per_page: 20
          total_count: 0
          total_pages: 0
        success: true
    cache-settings_origin_cloud_region_batch_patch_request:
      value:
      - ip: 192.0.2.1
        region: us-east-1
        vendor: aws
      - ip: 2001:db8::1
        region: us-central1
        vendor: gcp
    cache-settings_origin_cloud_region_v2_list:
      value:
        errors: []
        messages: []
        result:
        - modified_on: '2026-03-01T12:00:00Z'
          origin_ip: 192.0.2.1
          region: us-east-1
          vendor: aws
        - modified_on: '2026-03-01T12:30:00Z'
          origin_ip: 2001:db8::1
          region: us-central1
          vendor: gcp
        result_info:
          count: 2
          page: 1
          per_page: 20
          total_count: 2
          total_pages: 1
        success: true
    cache-settings_origin_cloud_region_invalid_vendor_region:
      value:
        errors:
        - code: 1157
          message: The vendor provided doesn't exist or the region provided does not exist for the specified cloud vendor
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_v2_too_many_mappings:
      value:
        errors:
        - code: 1164
          message: Maximum number of IP mappings configured for zone.
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_v2_batch_delete_response:
      value:
        errors: []
        messages: []
        result:
          failed: []
          succeeded:
          - origin_ip: 192.0.2.1
            region: us-east-1
            vendor: aws
          - origin_ip: 2001:db8::1
            region: us-central1
            vendor: gcp
        success: true
    cache-settings_origin_cloud_region_v2_invalid_pagination:
      value:
        errors:
        - code: 1146
          message: invalid per_page parameter, must be between 1 and 100
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_v2_batch_delete_request:
      value:
      - 192.0.2.1
      - 2001:db8::1
    cache-settings_origin_cloud_regions_list:
      value:
        errors: []
        messages: []
        result:
          editable: true
          id: origin_public_cloud_region
          modified_on: '2026-03-01T12:00:00Z'
          value:
          - modified_on: '2026-03-01T12:00:00Z'
            origin-ip: 192.0.2.1
            region: us-east-1
            vendor: aws
          - modified_on: '2026-03-01T12:00:00Z'
            origin-ip: 2001:db8::1
            region: us-central1
            vendor: gcp
        success: true
    cache-settings_origin_cloud_region_batch_patch_response:
      value:
        errors: []
        messages: []
        result:
          editable: true
          id: origin_public_cloud_region
          modified_on: '2026-03-01T12:00:00Z'
          value:
            failed: []
            succeeded:
            - origin-ip: 192.0.2.1
              region: us-east-1
              vendor: aws
            - origin-ip: 2001:db8::1
              region: us-central1
              vendor: gcp
        success: true
    cache-settings_origin_cloud_region_batch_delete_request:
      value:
      - 192.0.2.1
      - 2001:db8::1
    cache-settings_origin_cloud_region_batch_patch_internal_error:
      value:
        errors:
        - code: 1140
          message: Unable to update origin_public_cloud_region setting value. Internal error.
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_regions_empty:
      value:
        errors: []
        messages: []
        result:
          editable: true
          id: origin_public_cloud_region
          modified_on: null
          value: []
        success: true
    cache-settings_origin_cloud_region_v2_single:
      value:
        errors: []
        messages: []
        result:
          modified_on: '2026-03-01T12:00:00Z'
          origin_ip: 192.0.2.1
          region: us-east-1
          vendor: aws
        success: true
    cache-settings_origin_cloud_region_already_exists:
      value:
        errors:
        - code: 1145
          message: Unable to create new origin_public_cloud_region setting. The zone setting already exists.
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_v2_request_aws:
      value:
        origin_ip: 192.0.2.1
        region: us-east-1
        vendor: aws
    cache-settings_supported_cloud_regions:
      value:
        errors: []
        messages: []
        result:
          obtained_codes: true
          vendors:
            aws:
            - name: us-east-1
              upper_tier_colos:
              - IAD
              - EWR
            - name: us-west-2
              upper_tier_colos:
              - SEA
            gcp:
            - name: us-central1
              upper_tier_colos:
              - ORD
        success: true
    cache-settings_origin_cloud_region_v2_invalid_vendor_region:
      value:
        errors:
        - code: 1157
          message: The vendor provided doesn't exist or the region provided does not exist for the specified cloud vendor
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_single:
      value:
        errors: []
        messages: []
        result:
          editable: true
          id: origin_public_cloud_region
          modified_on: '2026-03-01T12:00:00Z'
          value:
            modified_on: '2026-03-01T12:00:00Z'
            origin-ip: 192.0.2.1
            region: us-east-1
            vendor: aws
        success: true
    cache-settings_origin_cloud_region_v2_batch_put_request:
      value:
      - origin_ip: 192.0.2.1
        region: us-east-1
        vendor: aws
      - origin_ip: 2001:db8::1
        region: us-central1
        vendor: gcp
    cache-settings_origin_cloud_region_batch_delete_response:
      value:
        errors: []
        messages: []
        result:
          editable: true
          id: origin_public_cloud_region
          modified_on: '2026-03-01T12:00:00Z'
          value:
            failed: []
            succeeded:
            - origin-ip: 192.0.2.1
              region: us-east-1
              vendor: aws
            - origin-ip: 2001:db8::1
              region: us-central1
              vendor: gcp
        success: true
    cache-settings_origin_cloud_region_invalid_ip:
      value:
        errors:
        - code: 1146
          message: Invalid or missing origin IP address.
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_batch_delete_internal_error:
      value:
        errors:
        - code: 1141
          message: Unable to delete origin_public_cloud_region setting. Internal error.
        messages: []
        result: null
        success: false
    cache-settings_origin_cloud_region_v2_delete:
      value:
        errors: []
        messages: []
        result:
          origin_ip: 192.0.2.1
        success: true
    cache-settings_origin_cloud_region_too_many_mappings:
      value:
        errors:
        - code: 1164
          message: Maximum number of IP mappings configured for zone.
        messages: []
        result: null
        success: false
  schemas:
    cache-settings_origin_cloud_region_v2_request:
      description: Request body for creating or replacing an origin cloud region mapping.
      type: object
      properties:
        origin_ip:
          description: Origin IP address (IPv4 or IPv6). For the single PUT endpoint (`PUT /origin/cloud_regions/{origin_ip}`), this field must match the path parameter or the request will be rejected with a 400 error. For the batch PUT endpoint, this field identifies which mapping to upsert.
          type: string
          example: 192.0.2.1
          x-auditable: true
        region:
          description: Cloud vendor region identifier. Must be a valid region for the specified vendor as returned by the supported_regions endpoint.
          type: string
          example: us-east-1
          x-auditable: true
        vendor:
          description: Cloud vendor hosting the origin. Must be one of the supported vendors.
          type: string
          example: aws
          enum:
          - aws
          - azure
          - gcp
          - oci
          x-auditable: true
      required:
      - origin_ip
      - vendor
      - region
    cache-settings_origin_cloud_region_v2_batch_result:
      description: Response result for a batch origin cloud region operation.
      type: object
      properties:
        failed:
          description: Items that could not be applied, with error details.
          type: array
          items:
            $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_batch_item_result'
        succeeded:
          description: Items that were successfully applied.
          type: array
          items:
            $ref: '#/components/schemas/cache-settings_origin_cloud_region_v2_batch_item_result'
      required:
      - succeeded
      - failed
    cache-settings_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          message:
            type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    cache-settings_origin_cloud_region_request:
      description: Request body for creating or updating an origin cloud region mapping.
      type: object
      properties:
        ip:
          description: Origin IP address (IPv4 or IPv6). Normalized to canonical form before storage (RFC 5952 for IPv6).
          type: string
          example: 192.0.2.1
          x-auditable: true
        region:
          description: Cloud vendor region identifier. Must be a valid region for the specified vendor as returned by the supported_regions endpoint.
          type: string
          example: us-east-1
          x-auditable: true
        vendor:
          description: Cloud vendor hosting the origin. Must be one of the supported vendors.
          type: string
          example: aws
          enum:
          - aws
          - azure
          - gcp
          - oci
          x-auditable: true
      required:
      - ip
      - vendor
      - region
    cache-settings_origin_cloud_region_entry:
      description: A single origin IP-to-cloud-region mapping.
      type: object
      properties:
        modified_on:
          description: Time this mapping was last modified.
          type: string
          format: date-time
          x-auditable: true
        origin-ip:
          description: The origin IP address (IPv4 or IPv6, canonicalized).
          type: string
          example: 192.0.2.1
          x-auditable: true
        region:
          description: Cloud vendor region identifier.
          type: string
          example: us-east-1
          x-auditable: true
        vendor:
          description: Cloud vendor hosting the origin.
          type: string
          example: aws
          enum:
          - aws
          - azure
          - gcp
          - oci
          x-auditable: true
      required:
      - origin-ip
      - vendor
      - region
    cache-settings_origin_cloud_region_v2_batch_item_result:
      description: Result for a single item in a batch operation.
      type: object
      properties:
        error:
          description: Error message explaining why the item failed. Present only on failed items.
          type: string
        origin_ip:
          description: The origin IP address for this item.
          type: string
          example: 192.0.2.1
        region:
          description: Cloud vendor region identifier. Present on succeeded items (the new value for upsert, the deleted value for delete).
          type: string
          example: us-east-1
        vendor:
          description: Cloud vendor identifier. Present on succeeded items (the new value for upsert, the deleted value for delete).
          type: string
          example: aws
      required:
      - origin_ip
    cache-settings_origin_cloud_region_batch_item_result:
      description: Result for a single item in a batch operation.
      type: object
      properties:
        error:
          description: Error message explaining why the item failed. Present only on failed items.
          type: string
        origin-ip:
          description: The origin IP address for this item.
          type: string
          example: 192.0.2.1
        region:
          description: Cloud vendor region identifier. Present on succeeded items for patch operations.
          type: string
          example: us-east-1
        vendor:
          description: Cloud vendor identifier. Present on succeeded items for patch operations.
          type: string
          example: aws
      required:
      - origin-ip
    cache-settings_origin_cloud_region_single_result:
      description: Response result for a single origin cloud region mapping.
      type: object
      properties:
        editable:
          description: Whether the setting can be modified by the current user.
          type: boolean
        id:
          type: string
          example: origin_public_cloud_region
          enum:
          - origin_public_cloud_region
          x-auditable: true
        modified_on:
          description: Time the mapping was last modified.
          type: string
          format: date-time
          x-auditable: true
        value:
          $ref: '#/components/schemas/cache-settings_origin_cloud_region_entry'
      required:
      - id
      - editable
      - value
    cache-settings_origin_cloud_region_batch_result:
      description: Response result for a batch origin cloud region operation.
      type: object
      properties:
        editable:
          description: Whether the setting can be modified by the current user.
          type: boolean
        id:
          type: string
          example: origin_public_cloud_region
          enum:
          - origin_public_cloud_region
          x-auditable: true
        modified_on:
          description: Time the mapping set was last modified. Null when no items were successfully applied.
          type:
          - string
          - 'null'
          format: date-time
          x-auditable: true
        value:
          type: object
          properties:
            failed:
              description: Items that could not be applied, with error details.
              items:
                $ref: '#/components/schemas/cache-settings_origin_cloud_region_batch_item_result'
              type: array
            succeeded:
              description: Items that were successfully applied.
              items:
                $ref: '#/components/schemas/cache-settings_origin_cloud_region_batch_item_result'
              type: array
          required:
          - succeeded
          - failed
      required:
      - id
      - editable
      - value
    cache-settings_origin_cloud_region_v2_result_info:
      description: Pagination metadata for list responses.
      type: object
      properties:
        count:
          description: Number of items returned in this response.
          type: integer
          example: 2
        page:
          description: Current page number.
          type: integer
          example: 1
        per_page:
          description: Number of items per page.
          type: integer
          example: 20
        total_count:
          description: Total number of mappings configured for the zone.
          type: integer
          example: 2
        total_pages:
          description: Total number of pages.
          type: integer
          example: 1
      required:
      - page
      - per_page
      - count
      - total_count
      - total_pages
    cache-settings_supported_cloud_region:
      description: A single supported cloud region with associated Tiered Cache upper-tier colocations.
      type: object
      properties:
        name:
          description: Cloud vendor region identifier.
          type: string
          example: us-east-1
        upper_tier_colos:
          description: Cloudflare Tiered Cache upper-tier colocation codes co-located with this cloud region. Requests from zones with a matching origin mapping will be routed through these colos.
          type: array
          items:
            type: string
          example:
          - IAD
          - EWR
      required:
      - name
      - upper_tier_colos
    cache-settings_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      readOnly: true
      x-auditable: true
    cache-settings_origin_cloud_region_v2_delete_result:
      description: Response result for a delete operation. Identifies the deleted mapping.
      type: object
      properties:
        origin_ip:
          description: The origin IP address whose mapping was deleted.
          type: string
          example: 192.0.2.1
          x-auditable: true
      required:
      - origin_ip
    cache-settings_supported_cloud_regions_result:
      description: Cloud vendors and their supported regions for origin cloud region mappings.
      type: object
      properties:
        obtained_codes:
          description: Whether Cloudflare airport codes (IATA colo identifiers) were successfully resolved for the `upper_tier_colos` field on each region. When `false`, the `upper_tier_colos` arrays may be empty or incomplete.
          type: boolean
        vendors:
          description: Map of vendor name to list of supported regions.
          type: object
          additionalProperties:
            items:
              $ref: '#/components/schemas/cache-settings_supported_cloud_region'
            type: array
      required:
      - vendors
      - obtained_codes
    cache-settings_origin_cloud_region_v2_entry:
      description: A single origin IP-to-cloud-region mapping.
      type: object
      properties:
        modified_on:
          description: Time this mapping was last modified.
          type: string
          format: date-time
          x-auditable: true
        origin_ip:
          description: The origin IP address (IPv4 or IPv6). Normalized to canonical form (RFC 5952 for IPv6).
          type: string
          example: 192.0.2.1
          x-auditable: true
        region:
          description: Cloud vendor region identifier.
          type: string
          example: us-east-1
          x-auditable: true
        vendor:
          description: Cloud vendor hosting the origin.
          type: string
          example: aws
          enum:
          - aws
          - azure
          - gcp
          - oci
          x-auditable: true
      required:
      - origin_ip
      - vendor
      - region
    cache-settings_api-response-common-failure:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/cache-settings_messages'
          minLength: 1
        messages:
          type: array
          items:
            type: object
          example: []
          allOf:
          - $ref: '#/components/schemas/cache-settings_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    cache-settings_origin_cloud_regions_list_result:
      description: Response result for a list of origin cloud region mappings.
      type: object
      properties:
        editable:
          description: Whether the setting can be modified by the current user.
          type: boolean
        id:
          type: string
          example: origin_public_cloud_region
          enum:
          - origin_public_cloud_region
          x-auditable: true
        modified_on:
          description: Time the mapping set was last modified. Null when no mappings exist.
          type:
          - string
          - 'null'
          format: date-time
          x-auditable: true
        value:
          type: array
          items:
            $ref: '#/components/schemas/cache-settings_origin_cloud_region_entry'
      required:
      - id
      - editable
      - value
    cache-settings_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/cache-settings_messages'
        messages:
          $ref: '#/components/schemas/cache-settings_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
        description: Chat messages from historical RealtimeKit sessions
      kit.sessions.livestreams:
        description: Livestreams associated with historical RealtimeKit sessions
      kit.sessions.participants:
        description: Participants in historical RealtimeKit sessions
      kit.sessions.peers:
        description: Peer details from historical RealtimeKit sessions
      kit.sessions.summaries:
        description: Summaries of historical RealtimeKit sessions
      kit.sessions.transcripts:
        description: Transcripts from historical RealtimeKit sessions
      kit.webhooks:
        description: Webhook endpoints and supported events for RealtimeKit notifications
      kit.webhooks.events:
        description: Supported events for RealtimeKit webhooks
      moq:
        description: MoQ relays for publishing and subscribing to media streams
      moq.relays:
        description: Relays are isolated MoQ scopes that carry media between publishers and subscribers
      moq.relays.tokens:
        description: Tokens that authorize publishers and subscribers to connect to a relay
      sfu:
        description: SFU apps that route WebRTC media and data between participants
      sfu.apps:
        description: SFU application namespaces for sessions and tracks
      turn:
        description: TURN keys that help clients traverse NATs and firewalls
      turn.keys:
        description: Keys used to generate short-lived TURN credentials
  request-tracers:
    description: Trace how a request would be processed through Cloudflare's rules and configuration pipeline
    groups:
      traces:
        description: Simulate request processing to debug rule matches, transforms, and routing decisions
  resource-sharing:
    description: Share Cloudflare resources (zones, accounts) across organizations with granular access controls
    groups:
      recipients:
        description: Update share recipients
      resources:
        description: Individual resources (zones, configs) that have been shared with recipients
  rules:
    description: Resources used by Cloudflare rules and rulesets
    groups:
      lists:
        description: Custom account-level lists of IPs, hostnames, ASNs, or redirects used in rule expressions
  rum:
    description: Real User Measurement (Web Analytics) — track page loads, Core Web Vitals, and visitor metrics
    groups:
      rules:
        description: Rules that control which pages and paths are tracked by Web Analytics
      site-info:
        description: Web Analytics sites — register domains and get the JavaScript beacon snippet
  scim:
    description: SCIM 2.0 provisioning — manage users, groups, and identity provider sync for your account
    groups:
      groups:
        description: Groups operations
      resource-types:
        description: Resource Types operations
      schemas:
        description: Schemas operations
      service-provider-config:
        description: Service Provider Config operations
      users:
        description: Users operations
  secrets-store:
    description: Centralized secret management — store API keys, tokens, and credentials for use across Workers and other products
    groups:
      quota:
        description: Account quota limits for secrets stores, secrets count, and storage capacity
      secrets:
        description: Encrypted key-value secrets within a store. Pass --store-id to scope.
      stores:
        description: Secret stores that hold encrypted key-value secrets accessible by Workers and services
  security-center:
    description: Security posture dashboard — view and manage security insights, misconfigurations, and vulnerabilities
    groups:
[...]
