openapi: 3.2.0
info:
  title: Cloudflare Queues Purge API
  description: The Cloudflare Queues API enables developers to create and manage message queues that integrate with Cloudflare Workers. Queues support guaranteed delivery, work offloading from requests, worker-to-worker communication, and data buffering and batching. The API provides endpoints for queue management, consumer configuration, message operations, and purging.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Purge
  description: Purge all messages from a queue.
paths:
  /accounts/{account_id}/queues/{queue_id}/purge:
    get:
      operationId: getPurgeStatus
      summary: Cloudflare Get Purge Status
      description: Check the status of a queue purge operation.
      tags:
      - Purge
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/QueueId'
      responses:
        '200':
          description: Purge status.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: purgeQueue
      summary: Cloudflare Purge Queue
      description: Delete all messages from the queue.
      tags:
      - Purge
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/QueueId'
      responses:
        '200':
          description: Purge initiated successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    QueueId:
      name: queue_id
      in: path
      required: true
      description: The unique identifier of the queue.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Queues permissions.
externalDocs:
  description: Cloudflare Queues API Documentation
  url: https://developers.cloudflare.com/api/resources/queues/
