openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare AI Search Instances API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: AI Search Instances
paths:
  /accounts/{account_id}/ai-search/instances:
    get:
      operationId: ai-search-list-instances
      summary: List AI Search instances
      description: 'List all AI Search instances in the account.


        Deprecated: use /accounts/{account_id}/ai-search/namespaces/{name}/instances (and descendant paths) instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: c3dc5f0b34a14ff8e1b3ec04895e1b22
      - name: page
        in: query
        description: Page number (1-indexed).
        schema:
          description: Page number (1-indexed).
          type: integer
          example: 1
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Number of results per page.
        schema:
          description: Number of results per page.
          type: integer
          example: 20
          default: 20
          maximum: 100
          minimum: 1
      - name: search
        in: query
        description: Filter instances whose id contains this string (case-insensitive).
        schema:
          description: Filter instances whose id contains this string (case-insensitive).
          type: string
          maxLength: 64
      - name: hostname
        in: query
        description: Filter by exact Search for Agents hostname (case-insensitive).
        schema:
          description: Filter by exact Search for Agents hostname (case-insensitive).
          type: string
          maxLength: 253
          minLength: 1
      - name: namespace
        in: query
        description: Filter by namespace.
        schema:
          description: Filter by namespace.
          type: string
          pattern: ^[a-z0-9]([a-z0-9-]{0,26}[a-z0-9])?$
      - name: order_by
        in: query
        description: Field to order results by.
        schema:
          description: Field to order results by.
          type: string
          default: created_at
          enum:
          - created_at
      - name: order_by_direction
        in: query
        description: Order direction.
        schema:
          description: Order direction.
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: List of instances.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      additionalProperties: false
                      properties:
                        ai_gateway_id:
                          type:
                          - string
                          - 'null'
                        ai_search_model:
                          type:
                          - string
                          - 'null'
                        cache:
                          type: boolean
                        cache_threshold:
                          type:
                          - string
                          - 'null'
                          enum:
                          - super_strict_match
                          - close_enough
                          - flexible_friend
                          - anything_goes
                          - null
                        cache_ttl:
                          anyOf:
                          - enum:
                            - 600
                            type: number
                          - enum:
                            - 1800
                            type: number
                          - enum:
                            - 3600
                            type: number
                          - enum:
                            - 7200
                            type: number
                          - enum:
                            - 21600
                            type: number
                          - enum:
                            - 43200
                            type: number
                          - enum:
                            - 86400
                            type: number
                          - enum:
                            - 172800
                            type: number
                          - enum:
                            - 259200
                            type: number
                          - enum:
                            - 518400
                            type: number
                        chunk:
                          type: boolean
                        chunk_overlap:
                          type:
                          - number
                          - 'null'
                        chunk_size:
                          type:
                          - number
                          - 'null'
                        created_at:
                          type: string
                          format: date-time
                        created_by:
                          type:
                          - string
                          - 'null'
                        custom_metadata:
                          type:
                          - array
                          - 'null'
                          items:
                            additionalProperties: false
                            properties:
                              data_type:
                                type: string
                                enum:
                                - text
                                - number
                                - boolean
                                - datetime
                              field_name:
                                type: string
                            required:
                            - field_name
                            - data_type
                            type: object
                        embedding_model:
                          type:
                          - string
                          - 'null'
                        enable:
                          type: boolean
                        engine_version:
                          type: number
                        fusion_method:
                          type: string
                          enum:
                          - max
                          - rrf
                        hybrid_search_enabled:
                          type: boolean
                        id:
                          type: string
                        index_method:
                          type: object
                          additionalProperties: true
                          properties:
                            keyword:
                              type: boolean
                            vector:
                              type: boolean
                          required:
                          - vector
                          - keyword
                        indexing_options:
                          type:
                          - object
                          - 'null'
                          additionalProperties: true
                          properties:
                            keyword_tokenizer:
                              type: string
                              enum:
                              - porter
                              - trigram
                            use_ocr:
                              type: boolean
                        last_activity:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        max_num_results:
                          type:
                          - number
                          - 'null'
                        metadata:
                          type:
                          - object
                          - 'null'
                          additionalProperties: true
                          properties:
                            created_from_aisearch_wizard:
                              type: boolean
                            worker_domain:
                              type: string
                        modified_at:
                          type: string
                          format: date-time
                        modified_by:
                          type:
                          - string
                          - 'null'
                        namespace:
                          type: string
                          pattern: ^[a-z0-9]([a-z0-9-]{0,26}[a-z0-9])?$
                        paused:
                          type: boolean
                        public_endpoint_id:
                          type:
                          - string
                          - 'null'
                        public_endpoint_params:
                          type:
                          - object
                          - 'null'
                          additionalProperties: true
                          properties:
                            authorized_hosts:
                              type: array
                              items:
                                type: string
                            chat_completions_endpoint:
                              type: object
                              additionalProperties: true
                              properties:
                                disabled:
                                  type: boolean
                            custom_domains:
                              type:
                              - array
                              - 'null'
                              items:
                                maxLength: 253
                                minLength: 1
                                pattern: ^([a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?\.)+[a-z]{2,}$
                                type: string
                              maxItems: 1
                            default_domain_enabled:
                              type: boolean
                            enabled:
                              type: boolean
                            mcp:
                              type: object
                              additionalProperties: true
                              properties:
                                description:
                                  type: string
                                disabled:
                                  type: boolean
                            rate_limit:
                              type: object
                              additionalProperties: true
                              properties:
                                period_ms:
                                  type: integer
                                  maximum: 3600000
                                  minimum: 60000
                                requests:
                                  type: integer
                                  minimum: 1
                                technique:
                                  type: string
                                  enum:
                                  - fixed
                                  - sliding
                            search_endpoint:
                              type: object
                              additionalProperties: true
                              properties:
                                disabled:
                                  type: boolean
                        reranking:
                          type: boolean
                        reranking_model:
                          type:
                          - string
                          - 'null'
                        retrieval_options:
                          type:
                          - object
                          - 'null'
                          additionalProperties: true
                          properties:
                            boost_by:
                              type: array
                              items:
                                additionalProperties: true
                                properties:
                                  dataType:
                                    type: string
                                    enum:
                                    - number
                                    - datetime
                                    - text
                                    - boolean
                                  direction:
                                    type: string
                                    enum:
                                    - asc
                                    - desc
                                    - exists
                                    - not_exists
                                  field:
                                    type: string
                                    maxLength: 64
                                    minLength: 1
                                required:
                                - field
                                type: object
                              maxItems: 3
                            keyword_match_mode:
                              type: string
                              enum:
                              - and
                              - or
                        rewrite_model:
                          type:
                          - string
                          - 'null'
                        rewrite_query:
                          type: boolean
                        score_threshold:
                          type:
                          - number
                          - 'null'
                        source:
                          type:
                          - string
                          - 'null'
                        source_params:
                          type:
                          - object
                          - 'null'
                          additionalProperties: true
                          properties:
                            exclude_items:
                              type: array
                              items:
                                type: string
                            include_items:
                              type: array
                              items:
                                type: string
                            prefix:
                              type: string
                            r2_jurisdiction:
                              type: string
                            web_crawler:
                              type: object
                              additionalProperties: true
                              properties:
                                discover_options:
                                  type: object
                                  additionalProperties: true
                                  properties:
                                    depth:
                                      type: number
                                      maximum: 100000
                                      minimum: 1
                                    include_external_links:
                                      type: boolean
                                    include_subdomains:
                                      type: boolean
                                    limit:
                                      description: Maximum number of pages to crawl. New values are capped at 100000; instances configured before that cap may report a higher stored value, which the crawler clamps at run time.
                                      type: number
                                      maximum: 100000
                                      minimum: 1
                                    max_age:
                                      type: number
                                      maximum: 604800
                                      minimum: 0
                                    source:
                                      type: string
                                      enum:
                                      - all
                                      - sitemaps
                                      - links
                                parse_options:
                                  type: object
                                  additionalProperties: true
                                  properties:
                                    content_selector:
                                      type: array
                                      items:
                                        additionalProperties: true
                                        properties:
                                          path:
                                            type: string
                                            maxLength: 200
                                            minLength: 1
                                          selector:
                                            type: string
                                            maxLength: 200
                                            minLength: 1
                                        required:
                                        - path
                                        - selector
                                        type: object
                                      maxItems: 10
                                    include_headers:
                                      type: object
                                      additionalProperties:
                                        maxLength: 8192
                                        pattern: ^[\t\x20-\x7E]*$
                                        type: string
                                    include_images:
                                      type: boolean
                                    specific_sitemaps:
                                      type: array
                                      items:
                                        format: uri
                                        type: string
                                      maxItems: 10
                                    use_browser_rendering:
                                      type: boolean
                                parse_type:
                                  type: string
                                  enum:
                                  - sitemap
                                  - discover
                        status:
                          type: string
                        summarization:
                          type: boolean
                        summarization_model:
                          type:
                          - string
                          - 'null'
                        sync_interval:
                          anyOf:
                          - enum:
                            - 900
                            type: number
                          - enum:
                            - 1800
                            type: number
                          - enum:
                            - 3600
                            type: number
                          - enum:
                            - 7200
                            type: number
                          - enum:
                            - 14400
                            type: number
                          - enum:
                            - 21600
                            type: number
                          - enum:
                            - 43200
                            type: number
                          - enum:
                            - 86400
                            type: number
                        system_prompt_ai_search:
                          type:
                          - string
                          - 'null'
                        system_prompt_index_summarization:
                          type:
                          - string
                          - 'null'
                        system_prompt_rewrite_query:
                          type:
                          - string
                          - 'null'
                        token_id:
                          type:
                          - string
                          - 'null'
                        type:
                          type:
                          - string
                          - 'null'
                          enum:
                          - r2
                          - web-crawler
                          - null
                      required:
                      - id
                      - engine_version
                      - enable
                      - type
                      - source
                      - source_params
                      - ai_gateway_id
                      - token_id
                      - cache
                      - cache_threshold
                      - cache_ttl
                      - summarization
                      - rewrite_query
                      - reranking
                      - index_method
                      - hybrid_search_enabled
                      - fusion_method
                      - indexing_options
                      - retrieval_options
                      - summarization_model
                      - embedding_model
                      - rewrite_model
                      - ai_search_model
                      - reranking_model
                      - system_prompt_ai_search
                      - system_prompt_index_summarization
                      - system_prompt_rewrite_query
                      - chunk
                      - chunk_size
                      - chunk_overlap
                      - score_threshold
                      - max_num_results
                      - public_endpoint_id
                      - public_endpoint_params
                      - paused
                      - status
                      - metadata
                      - custom_metadata
                      - sync_interval
                      - created_at
                      - created_by
                      - modified_at
                      - modified_by
                      - last_activity
                      - namespace
                      type: object
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                      page:
                        type: number
                      per_page:
                        type: number
                      total_count:
                        type: number
                    required:
                    - page
                    - per_page
                    - count
                    - total_count
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - success
                - result
                - result_info
        '400':
          description: Input Validation Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                      required:
                      - code
                      - message
                      - path
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Search Instances
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai-search
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: beta
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-search
      x-fern-sdk-method-name: list
    post:
      operationId: ai-search-create-instance
      summary: Create an AI Search instance (Search for Agents requires the default namespace)
      description: 'Create a new AI Search instance with the given configuration. If type is omitted or null, a non-blank HTTP(S) source infers web-crawler and an existing R2 bucket source infers r2. A missing or blank source without a type creates a managed upload-only instance. Search for Agents instances require the default namespace.


        Deprecated: use /accounts/{account_id}/ai-search/namespaces/{name}/instances (and descendant paths) instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: c3dc5f0b34a14ff8e1b3ec04895e1b22
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ai_gateway_id:
                  type:
                  - string
                  - 'null'
                  x-auditable: true
                ai_search_model:
                  description: A Workers AI model ID or an AI Gateway model ID compatible with the OpenAI Chat Completions API. An empty string uses the configured or default model.
                  type:
                  - string
                  - 'null'
                  x-auditable: true
                cache:
                  type: boolean
                  default: true
                  x-auditable: true
                cache_threshold:
                  type: string
                  default: close_enough
                  enum:
                  - super_strict_match
                  - close_enough
                  - flexible_friend
                  - anything_goes
                  x-auditable: true
                cache_ttl:
                  description: 'Cache entry TTL in seconds. Allowed values: 600 (10min), 1800 (30min), 3600 (1h), 7200 (2h), 21600 (6h), 43200 (12h), 86400 (24h), 172800 (48h), 259200 (72h), 518400 (6d).'
                  default: 172800
                  anyOf:
                  - enum:
                    - 600
                    type: number
                  - enum:
                    - 1800
                    type: number
                  - enum:
                    - 3600
                    type: number
                  - enum:
                    - 7200
                    type: number
                  - enum:
                    - 21600
                    type: number
                  - enum:
                    - 43200
                    type: number
                  - enum:
                    - 86400
                    type: number
                  - enum:
                    - 172800
                    type: number
                  - enum:
                    - 259200
                    type: number
                  - enum:
                    - 518400
                    type: number
                  x-auditable: true
                chunk:
                  type: boolean
                  default: true
                  x-auditable: true
                chunk_overlap:
                  type: integer
                  default: 10
                  maximum: 30
                  minimum: 0
                  x-auditable: true
                chunk_size:
                  type: integer
                  minimum: 64
                  x-auditable: true
                custom_metadata:
                  type: array
                  items:
                    properties:
                      data_type:
                        type: string
                        enum:
                        - text
                        - number
                        - boolean
                        - datetime
                      field_name:
                        type: string
                        maxLength: 64
                        minLength: 1
                    required:
                    - field_name
                    - data_type
                    type: object
                  maxItems: 5
                  x-auditable: true
                embedding_model:
                  type:
                  - string
                  - 'null'
                  x-auditable: true
                fusion_method:
                  type: string
                  default: rrf
                  enum:
                  - max
                  - rrf
                  x-auditable: true
                hybrid_search_enabled:
                  description: Deprecated — use index_method instead. Defaults to true for new instances; set false to create a vector-only instance.
                  type: boolean
                  default: true
                  deprecated: true
                  x-auditable: true
                id:
                  description: AI Search instance ID. Lowercase alphanumeric, hyphens, and underscores.
                  type: string
                  example: my-ai-search
                  maxLength: 64
                  minLength: 1
                  pattern: ^[a-z0-9_]+(?:-[a-z0-9_]+)*$
                  x-auditable: true
                index_method:
                  description: Controls which storage backends are used during indexing. Defaults to vector and keyword indexing for new instances.
                  type: object
                  default:
                    keyword: true
                    vector: true
                  properties:
                    keyword:
                      description: Enable keyword (BM25) storage backend.
                      type: boolean
                    vector:
                      description: Enable vector (embedding) storage backend.
                      type: boolean
                  required:
                  - vector
                  - keyword
                  x-auditable: true
                indexing_options:
                  type:
                  - object
                  - 'null'
                  properties:
                    keyword_tokenizer:
                      description: Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter.
                      type: string
                      default: porter
                      enum:
                      - porter
                      - trigram
                    use_ocr:
                      description: Enables OCR ingestion for PDFs and images. Changing this triggers a full re-index. Defaults to false.
                      type: boolean
                      default: false
                  x-auditable: true
                max_num_results:
                  type: integer
                  default: 10
                  maximum: 50
                  minimum: 1
                  x-auditable: true
                metadata:
                  type: object
                  properties:
                    created_from_aisearch_wizard:
                      type: boolean
                    worker_domain:
                      type: string
                  x-auditable: true
                public_endpoint_params:
                  type: object
                  properties:
                    authorized_hosts:
                      type: array
                      items:
                        type: string
                    chat_completions_endpoint:
                      type: object
                      properties:
                        disabled:
                          description: Disable chat completions endpoint for this public endpoint
                          type: boolean
                          default: false
                    custom_domains:
                      description: Custom domain hostnames that alias this public endpoint. GET and create responses return the current set; on update (PUT) this field is only echoed back when supplied in the request body, otherwise it is null (omit it to leave domains unchanged).
                      type:
                      - array
                      - 'null'
                      items:
                        description: Custom domain hostname (must be a Verified zone on this account).
                        example: search.example.com
                        maxLength: 253
                        minLength: 1
                        type: string
                      maxItems: 1
                      x-auditable: true
                    default_domain_enabled:
                      description: When false, the instance is reachable only via a registered custom domain and the default <public_endpoint_id>.search.ai.cloudflare.com host returns 404. Requires at least one custom domain. Defaults to true. public_endpoint_params is replaced wholesale on update, so resend default_domain_enabled on every update to keep the default host off — omitting it resets to true.
                      type: boolean
                      default: true
                      x-auditable: true
                    enabled:
                      type: boolean
                      default: false
                    mcp:
                      type: object
                      properties:
                        description:
                          type: string
                          default: Finds exactly what you're looking for
                        disabled:
                          description: Disable MCP endpoint for this public endpoint
                          type: boolean
                          default: false
                    rate_limit:
                      type: object
                      properties:
                        period_ms:
                          type: integer
                          maximum: 3600000
                          minimum: 60000
                        requests:
                          type: integer
                          minimum: 1
                        technique:
                          type: string
                          enum:
                          - fixed
                          - sliding
                    search_endpoint:
                      type: object
                      properties:
                        disabled:
                          description: Disable search endpoint for this public endpoint
                          type: boolean
                          default: false
                  x-auditable: true
                reranking:
                  type: boolean
                  default: false
                  x-auditable: true
                reranking_model:
                  type:
                  - string
                  - 'null'
                  x-auditable: true
                retrieval_options:
                  type:
                  - object
                  - 'null'
                  properties:
                    boost_by:
                      description: Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to 'asc' for numeric/datetime fields and 'exists' for text/boolean fields. Fields must match 'timestamp' or a defined custom_metadata field.
                      type: array
                      items:
                        properties:
                          direction:
                            description: Boost direction. 'desc' = higher values rank higher (e.g. newer timestamps). 'asc' = lower values rank higher. 'exists' = boost chunks that have the field. 'not_exists' = boost chunks that lack the field. Optional — defaults to 'asc' for numeric/datetime fields, 'exists' for text/boolean fields.
                            type: string
                            enum:
                            - asc
                            - desc
                            - exists
                            - not_exists
                          field:
                            description: Metadata field name to boost by. Use 'timestamp' for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.
                            type: string
                            example: timestamp
                            maxLength: 64
                            minLength: 1
                        required:
                        - field
                        type: object
                      example:
                      - direction: desc
                        field: timestamp
                      maxItems: 3
                    keyword_match_mode:
                      description: Controls which documents are candidates for BM25 scoring. 'and' restricts candidates to documents containing all query terms; 'or' includes any document containing at least one term, ranked by BM25 relevance. When omitted on an update, the existing stored value is preserved; when never set, search falls back to 'and'.
                      type: string
                      enum:
                      - and
                      - or
                  x-auditable: true
                rewrite_model:
                  description: A Workers AI model ID or an AI Gateway model ID compatible with the OpenAI Chat Completions API. An empty string uses the configured or default model.
                  type:
                  - string
                  - 'null'
                  x-auditable: true
                rewrite_query:
                  type: boolean
                  default: false
                  x-auditable: true
                score_threshold:
                  type: number
                  default: 0.4
                  maximum: 1
                  minimum: 0
                  x-auditable: true
                source:
                  type:
                  - string
                  - 'null'
                  x-auditable: true
                source_params:
                  type:
                  - object
                  - 'null'
                  properties:
                    exclude_items:
                      description: 'List of path patterns to exclude. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /admin/** matches /admin/users and /admin/settings/advanced). Most accounts are limited to 10 rules; contact support to raise it.'
                      type: array
                      items:
                        maxLength: 500
                        pattern: ^[*/\\]?[\w\-/.\\?*:=&%]+$
                        type: string
                      example:
                      - /admin/**
                      - /private/**
                      - '**\temp\**'
                      maxItems: 10
                    include_items:
                      description: 'List of path patterns to include. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /blog/** matches /blog/post and /blog/2024/post). Most accounts are limited to 10 rules; contact support to raise it.'
                      type: array
                      items:
                        maxLength: 500
                        pattern: ^[*/\\]?[\w\-/.\\?*:=&%]+$
                        type: string
                      example:
                      - /blog/**
                      - /docs/**/*.html
                      - '**\blog\**.html'
                      maxItems: 10
                    prefix:
                      type: string
                    r2_jurisdiction:
                      type: string
                      default: default
                    web_crawler:
                      type: object
                      default:
                        parse_type: sitemap
                      properties:
                        discover_options:
                          description: Options for parse_type 'discover', where Browser Run discovers URLs by link following and sitemaps. Ignored for 'sitemap'.
                          type: object
                          properties:
                            depth:
                              description: Maximum link-follow depth from the seed URL.
                              type: number
                              example: 5
                              default: 5
                              maximum: 100000
                              minimum: 1
                            include_external_links:
                              description: Follow links that point outside the source domain. Must stay `false` — discover crawls are restricted to the zone you own.
                              type: boolean
                              example: false
                              default: false
                            include_subdomains:
                              description: Follow links to subdomains of the source host.
                              type: boolean
                              example: false
                              default: false
                            limit:
                              description: Maximum number of pages to crawl (1-100000).
                              type: number
                              example: 10000
                              default: 100000
                              maximum: 100000
                              minimum: 1
                            max_age:
                              description: Maximum content age in seconds to accept (0–604800).
                              type: number
                              example: 86400
                              default: 86400
                              maximum: 604800
                              minimum: 0
                            source:
                              description: 'Where the crawler looks for URLs: ''sitemaps'' reads sitemap XML only, ''links'' follows page links only, ''all'' does both.'
                              type: string
                              example: all
                              default: all
                              enum:
                              - all
                              - sitemaps
                              - links
                        parse_options:
                          type: object
                          properties:
                            content_selector:
                              description: List of path-to-selector mappings for extracting specific content from crawled pages. Each entry pairs a URL glob pattern with a CSS selector. The first matching path wins. Only the matched HTML fragment is stored and indexed. Omit the field to disable content selection — empty arrays are rejected.
                              type: array
                              items:
                                properties:
                                  path:
                                    description: 'Glob pattern to match against the page URL path. Uses standard glob syntax: * matches within a segment, ** crosses directories.'
                                    type: string
                                    example: '**/article/**'
                                    maxLength: 200
                                    minLength: 1
                                  selector:
                                    description: CSS selector to extract content from pages matching the path pattern. Must not contain disallowed characters (;, `, $, {, }, \). Must target a single element; if multiple elements match, the selector is ignored and the full page is used.
                                    type: string
                                    example: article div.post-body
                                    maxLength: 200
                                    minLength: 1
                                required:
                                - path
                                - selector
                                type: object
                              example:
                              - path: '**/blog/**'
                                selector: article div.post-body
                              - path: '**/docs/**'
                                selector: main
                              maxItems: 10
                              minItems: 1
                            include_headers:
                              description: Up to 5 custom HTTP headers sent with each crawl request. Names must be RFC-7230 token characters (no spaces, colons, or control characters); values must be HTAB + printable ASCII (no CR/LF).
                              type: object
                              example:
                                cache-control: no-cache, no-store
                              additionalProperties:
                                maxLength: 8192
                                pattern: ^[\t\x20-\x7E]*$
                                type: string
                            include_images:
                              type: boolean
                              default: false
                            specific_sitemaps:
                              description: List of specific sitemap URLs to use for crawling. Only valid when parse_type is 'sitemap'.
                              type: array
                              items:
                                format: uri
                                type: string
                              example:
                              - https://example.com/sitemap.xml
                              - https://example.com/blog-sitemap.xml
                              maxItems: 10
                            use_browser_rendering:
                              type: boolean
                              default: true
                        parse_type:
                          description: How URLs are discovered. 'sitemap' reads XML sitemaps; 'discover' follows links recursively and requires the source to be a Verified zone on this account.
                          type: string
                          example: sitemap
                          default: sitemap
                          enum:
                          - sitemap
                          - discover
                  x-auditable: true
                sync_interval:
                  description: 'Interval between automatic syncs, in seconds. Allowed values: 900 (15min), 1800 (30min), 3600 (1h), 7200 (2h), 14400 (4h), 21600 (6h), 43200 (12h), 86400 (24h).'
                  default: 21600
                  anyOf:
                  - enum:
                    - 900
                    type: number
                  - enum:
                    - 1800
                    type: number
                  - enum:
                    - 3600
                    type: number
                  - enum:
                    - 7200
                    type: number
                  - enum:
                    - 14400
                    type: number
                  - enum:
                    - 21600
                    type: number
                  - enum:
                    - 43200
                    type: number
                  - enum:
                    - 86400
                    type: number
                  x-auditable: true
                token_id:
                  type: string
                  format: uuid
                  x-auditable: true
                type:
                  description: Source type. When omitted or null with a non-blank source, HTTP(S) URLs infer web-crawler and existing R2 bucket names infer r2. A missing or blank source without a type uses managed upload-only storage.
                  type:
                  - string
                  - 'null'
                  enum:
                  - r2
                  - web-crawler
                  - null
                  x-auditable: true
              required:
              - id
      responses:
        '201':
          description: Returns the new instance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      ai_gateway_id:
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      ai_search_model:
                        description: A Workers AI model ID or an AI Gateway model ID compatible with the OpenAI Chat Completions API. An empty string uses the configured or default model.
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      cache:
                        type: boolean
                        default: true
                        x-auditable: true
                      cache_threshold:
                        type: string
                        default: close_enough
                        enum:
                        - super_strict_match
                        - close_enough
                        - flexible_friend
                        - anything_goes
                        x-auditable: true
                      cache_ttl:
                        description: 'Cache entry TTL in seconds. Allowed values: 600 (10min), 1800 (30min), 3600 (1h), 7200 (2h), 21600 (6h), 43200 (12h), 86400 (24h), 172800 (48h), 259200 (72h), 518400 (6d).'
                        default: 172800
                        anyOf:
                        - enum:
                          - 600
                          type: number
                        - enum:
                          - 1800
                          type: number
                        - enum:
                          - 3600
                          type: number
                        - enum:
                          - 7200
                          type: number
                        - enum:
                          - 21600
                          type: number
                        - enum:
                          - 43200
                          type: number
                        - enum:
                          - 86400
                          type: number
                        - enum:
                          - 172800
                          type: number
                        - enum:
                          - 259200
                          type: number
                        - enum:
                          - 518400
                          type: number
                        x-auditable: true
                      chunk_overlap:
                        type: integer
                        default: 10
                        maximum: 30
                        minimum: 0
                        x-auditable: true
                      chunk_size:
                        type: integer
                        minimum: 64
                        x-auditable: true
                      created_at:
                        type: string
                        format: date-time
                        readOnly: true
                      created_by:
                        type:
                        - string
                        - 'null'
                        readOnly: true
                      custom_metadata:
                        type: array
                        items:
                          properties:
                            data_type:
                              type: string
                              enum:
                              - text
                              - number
                              - boolean
                              - datetime
                            field_name:
                              type: string
                              maxLength: 64
                              minLength: 1
                          required:
                          - field_name
                          - data_type
                          type: object
                        maxItems: 5
                        x-auditable: true
                      embedding_model:
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      enable:
                        type: boolean
                        default: true
                        x-auditable: true
                      engine_version:
                        type: number
                        default: 3
                        readOnly: true
                      fusion_method:
                        type: string
                        default: rrf
                        enum:
                        - max
                        - rrf
                        x-auditable: true
                      hybrid_search_enabled:
                        description: Deprecated — use index_method instead. Defaults to true for new instances; set false to create a vector-only instance.
                        type: boolean
                        default: true
                        deprecated: true
                        x-auditable: true
                      id:
                        description: AI Search instance ID. Lowercase alphanumeric, hyphens, and underscores.
                        type: string
                        example: my-ai-search
                        maxLength: 64
                        minLength: 1
                        pattern: ^[a-z0-9_]+(?:-[a-z0-9_]+)*$
                        x-auditable: true
                      index_method:
                        description: Controls which storage backends are used during indexing. Defaults to vector and keyword indexing for new instances.
                        type: object
                        default:
                          keyword: true
                          vector: true
                        properties:
                          keyword:
                            description: Enable keyword (BM25) storage backend.
                            type: boolean
                          vector:
                            description: Enable vector (embedding) storage backend.
                            type: boolean
                        required:
                        - vector
                        - keyword
                        x-auditable: true
                      indexing_options:
                        type:
                        - object
                        - 'null'
                        properties:
                          keyword_tokenizer:
                            description: Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter.
                            type: string
                            default: porter
                            enum:
                            - porter
                            - trigram
                          use_ocr:
                            description: Enables OCR ingestion for PDFs and images. Changing this triggers a full re-index. Defaults to false.
                            type: boolean
                            default: false
                        x-auditable: true
                      last_activity:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        readOnly: true
                      max_num_results:
                        type: integer
                        default: 10
                        maximum: 50
                        minimum: 1
                        x-auditable: true
                      metadata:
                        type: object
                        properties:
                          created_from_aisearch_wizard:
                            type: boolean
                          worker_domain:
                            type: string
                        x-auditable: true
                      modified_at:
                        type: string
                        format: date-time
                        readOnly: true
                      modified_by:
                        type:
                        - string
                        - 'null'
                        readOnly: true
                      namespace:
                        type:
                        - string
                        - 'null'
                        pattern: ^[a-z0-9]([a-z0-9-]{0,26}[a-z0-9])?$
                        readOnly: true
                      paused:
                        type: boolean
                        default: false
                        x-auditable: true
                      public_endpoint_id:
                        type:
                        - string
                        - 'null'
                        readOnly: true
                      public_endpoint_params:
                        type: object
                        properties:
                          authorized_hosts:
                            type: array
                            items:
                              type: string
                          chat_completions_endpoint:
                            type: object
                            properties:
                              disabled:
                                description: Disable chat completions endpoint for this public endpoint
                                type: boolean
                                default: false
                          custom_domains:
                            description: Custom domain hostnames that alias this public endpoint. GET and create responses return the current set; on update (PUT) this field is only echoed back when supplied in the request body, otherwise it is null (omit it to leave domains unchanged).
                            type:
                            - array
                            - 'null'
                            items:
                              description: Custom domain hostname (must be a Verified zone on this account).
                              example: search.example.com
                              maxLength: 253
                              minLength: 1
                              type: string
                            maxItems: 1
                            x-auditable: true
                          default_domain_enabled:
                            description: When false, the instance is reachable only via a registered custom domain and the default <public_endpoint_id>.search.ai.cloudflare.com host returns 404. Requires at least one custom domain. Defaults to true. public_endpoint_params is replaced wholesale on update, so resend default_domain_enabled on every update to keep the default host off — omitting it resets to true.
                            type: boolean
                            default: true
                            x-auditable: true
                          enabled:
                            type: boolean
                            default: false
                          mcp:
                            type: object
                            properties:
                              description:
                                type: string
                                default: Finds exactly what you're looking for
                              disabled:
                                description: Disable MCP endpoint for this public endpoint
                                type: boolean
                                default: false
                          rate_limit:
                            type: object
                            properties:
                              period_ms:
                                type: integer
                                maximum: 3600000
                                minimum: 60000
                              requests:
                                type: integer
                                minimum: 1
                              technique:
                                type: string
                                enum:
                                - fixed
                                - sliding
                          search_endpoint:
                            type: object
                            properties:
                              disabled:
                                description: Disable search endpoint for this public endpoint
                                type: boolean
                                default: false
                        x-auditable: true
                      reranking:
                        type: boolean
                        default: false
                        x-auditable: true
                      reranking_model:
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      retrieval_options:
                        type:
                        - object
                        - 'null'
                        properties:
                          boost_by:
                            description: Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to 'asc' for numeric/datetime fields and 'exists' for text/boolean fields. Fields must match 'timestamp' or a defined custom_metadata field.
                            type: array
                            items:
                              properties:
                                direction:
                                  description: Boost direction. 'desc' = higher values rank higher (e.g. newer timestamps). 'asc' = lower values rank higher. 'exists' = boost chunks that have the field. 'not_exists' = boost chunks that lack the field. Optional — defaults to 'asc' for numeric/datetime fields, 'exists' for text/boolean fields.
                                  type: string
                                  enum:
                                  - asc
                                  - desc
                                  - exists
                                  - not_exists
                                field:
                                  description: Metadata field name to boost by. Use 'timestamp' for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.
                                  type: string
                                  example: timestamp
                                  maxLength: 64
                                  minLength: 1
                              required:
                              - field
                              type: object
                            example:
                            - direction: desc
                              field: timestamp
                            maxItems: 3
                          keyword_match_mode:
                            description: Controls which documents are candidates for BM25 scoring. 'and' restricts candidates to documents containing all query terms; 'or' includes any document containing at least one term, ranked by BM25 relevance. When omitted on an update, the existing stored value is preserved; when never set, search falls back to 'and'.
                            type: string
                            enum:
                            - and
                            - or
                        x-auditable: true
                      rewrite_model:
                        description: A Workers AI model ID or an AI Gateway model ID compatible with the OpenAI Chat Completions API. An empty string uses the configured or default model.
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      rewrite_query:
                        type: boolean
                        default: false
                        x-auditable: true
                      score_threshold:
                        type: number
                        default: 0.4
                        maximum: 1
                        minimum: 0
                        x-auditable: true
                      source:
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      source_params:
                        type:
                        - object
                        - 'null'
                        properties:
                          exclude_items:
                            description: 'List of path patterns to exclude. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /admin/** matches /admin/users and /admin/settings/advanced). Most accounts are limited to 10 rules; contact support to raise it.'
                            type: array
                            items:
                              maxLength: 500
                              pattern: ^[*/\\]?[\w\-/.\\?*:=&%]+$
                              type: string
                            example:
                            - /admin/**
                            - /private/**
                            - '**\temp\**'
                            maxItems: 10
                          include_items:
                            description: 'List of path patterns to include. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /blog/** matches /blog/post and /blog/2024/post). Most accounts are limited to 10 rules; contact support to raise it.'
                            type: array
                            items:
                              maxLength: 500
                              pattern: ^[*/\\]?[\w\-/.\\?*:=&%]+$
                              type: string
                            example:
                            - /blog/**
                            - /docs/**/*.html
                            - '**\blog\**.html'
                            maxItems: 10
                          prefix:
                            type: string
                          r2_jurisdiction:
                            type: string
                            default: default
                          web_crawler:
                            type: object
                            default:
                              parse_type: sitemap
                            properties:
                              discover_options:
                                description: Options for parse_type 'discover', where Browser Run discovers URLs by link following and sitemaps. Ignored for 'sitemap'.
                                type: object
                                properties:
                                  depth:
                                    description: Maximum link-follow depth from the seed URL.
                                    type: number
                                    example: 5
                                    default: 5
                                    maximum: 100000
                                    minimum: 1
                                  include_external_links:
                                    description: Follow links that point outside the source domain. Must stay `false` — discover crawls are restricted to the zone you own.
                                    type: boolean
                                    example: false
                                    default: false
                                  include_subdomains:
                                    description: Follow links to subdomains of the source host.
                                    type: boolean
                                    example: false
                                    default: false
                                  limit:
                                    description: Maximum number of pages to crawl (1-100000).
                                    type: number
                                    example: 10000
                                    default: 100000
                                    maximum: 100000
                                    minimum: 1
                                  max_age:
                                    description: Maximum content age in seconds to accept (0–604800).
                                    type: number
                                    example: 86400
                                    default: 86400
                                    maximum: 604800
                                    minimum: 0
                                  source:
                                    description: 'Where the crawler looks for URLs: ''sitemaps'' reads sitemap XML only, ''links'' follows page links only, ''all'' does both.'
                                    type: string
                                    example: all
                                    default: all
                                    enum:
                                    - all
                                    - sitemaps
                                    - links
                              parse_options:
                                type: object
                                properties:
                                  content_selector:
                                    description: List of path-to-selector mappings for extracting specific content from crawled pages. Each entry pairs a URL glob pattern with a CSS selector. The first matching path wins. Only the matched HTML fragment is stored and indexed. Omit the field to disable content selection — empty arrays are rejected.
                                    type: array
                                    items:
                                      properties:
                                        path:
                                          description: 'Glob pattern to match against the page URL path. Uses standard glob syntax: * matches within a segment, ** crosses directories.'
                                          type: string
                                          example: '**/article/**'
                                          maxLength: 200
                                          minLength: 1
                                        selector:
                                          description: CSS selector to extract content from pages matching the path pattern. Must not contain disallowed characters (;, `, $, {, }, \). Must target a single element; if multiple elements match, the selector is ignored and the full page is used.
                                          type: string
                                          example: article div.post-body
                                          maxLength: 200
                                          minLength: 1
                                      required:
                                      - path
                                      - selector
                                      type: object
                                    example:
                                    - path: '**/blog/**'
                                      selector: article div.post-body
                                    - path: '**/docs/**'
                                      selector: main
                                    maxItems: 10
                                    minItems: 1
                                  include_headers:
                                    description: Up to 5 custom HTTP headers sent with each crawl request. Names must be RFC-7230 token characters (no spaces, colons, or control characters); values must be HTAB + printable ASCII (no CR/LF).
                                    type: object
                                    example:
                                      cache-control: no-cache, no-store
                                    additionalProperties:
                                      maxLength: 8192
                                      pattern: ^[\t\x20-\x7E]*$
                                      type: string
                                  include_images:
                                    type: boolean
                                    default: false
                                  specific_sitemaps:
                                    description: List of specific sitemap URLs to use for crawling. Only valid when parse_type is 'sitemap'.
                                    type: array
                                    items:
                                      format: uri
                                      type: string
                                    example:
                                    - https://example.com/sitemap.xml
                                    - https://example.com/blog-sitemap.xml
                                    maxItems: 10
                                  use_browser_rendering:
                                    type: boolean
                                    default: true
                              parse_type:
                                description: How URLs are discovered. 'sitemap' reads XML sitemaps; 'discover' follows links recursively and requires the source to be a Verified zone on this account.
                                type: string
                                example: sitemap
                                default: sitemap
                                enum:
                                - sitemap
                                - discover
                        x-auditable: true
                      status:
                        type: string
                        default: waiting
                        readOnly: true
                      sync_interval:
                        description: 'Interval between automatic syncs, in seconds. Allowed values: 900 (15min), 1800 (30min), 3600 (1h), 7200 (2h), 14400 (4h), 21600 (6h), 43200 (12h), 86400 (24h).'
                        default: 21600
                        anyOf:
                        - enum:
                          - 900
                          type: number
                        - enum:
                          - 1800
                          type: number
                        - enum:
                          - 3600
                          type: number
                        - enum:
                          - 7200
                          type: number
                        - enum:
                          - 14400
                          type: number
                        - enum:
                          - 21600
                          type: number
                        - enum:
                          - 43200
                          type: number
                        - enum:
                          - 86400
                          type: number
                        x-auditable: true
                      token_id:
                        type: string
                        format: uuid
                        x-auditable: true
                      type:
                        description: Source type. When omitted or null with a non-blank source, HTTP(S) URLs infer web-crawler and existing R2 bucket names infer r2. A missing or blank source without a type uses managed upload-only storage.
                        type:
                        - string
                        - 'null'
                        enum:
                        - r2
                        - web-crawler
                        - null
                        x-auditable: true
                    required:
                    - id
                    - created_at
                    - modified_at
                  success:
                    type: boolean
                required:
                - success
                - result
        '400':
          description: Ai search instance invalid token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - errors
        '403':
          description: Max instances reached.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - errors
        '409':
          description: Search for Agents hostname belongs to another namespace (7106) or Search for Agents metadata requires the default namespace (7109).
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                      required:
                      - code
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - success
                - errors
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Search Instances
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai-search
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: beta
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-search
      x-fern-sdk-method-name: create
  /accounts/{account_id}/ai-search/instances/{id}:
    delete:
      operationId: ai-search-delete-instance
      summary: Delete an AI Search instance
      description: 'Permanently delete an AI Search instance and all its indexed data.


        Deprecated: use /accounts/{account_id}/ai-search/namespaces/{name}/instances (and descendant paths) instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: c3dc5f0b34a14ff8e1b3ec04895e1b22
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: my-ai-search
      responses:
        '200':
          description: Returns the deleted instance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      ai_gateway_id:
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      ai_search_model:
                        description: A Workers AI model ID or an AI Gateway model ID compatible with the OpenAI Chat Completions API. An empty string uses the configured or default model.
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      cache:
                        type: boolean
                        default: true
                        x-auditable: true
                      cache_threshold:
                        type: string
                        default: close_enough
                        enum:
                        - super_strict_match
                        - close_enough
                        - flexible_friend
                        - anything_goes
                        x-auditable: true
                      cache_ttl:
                        description: 'Cache entry TTL in seconds. Allowed values: 600 (10min), 1800 (30min), 3600 (1h), 7200 (2h), 21600 (6h), 43200 (12h), 86400 (24h), 172800 (48h), 259200 (72h), 518400 (6d).'
                        default: 172800
                        anyOf:
                        - enum:
                          - 600
                          type: number
                        - enum:
                          - 1800
                          type: number
                        - enum:
                          - 3600
                          type: number
                        - enum:
                          - 7200
                          type: number
                        - enum:
                          - 21600
                          type: number
                        - enum:
                          - 43200
                          type: number
                        - enum:
                          - 86400
                          type: number
                        - enum:
                          - 172800
                          type: number
                        - enum:
                          - 259200
                          type: number
                        - enum:
                          - 518400
                          type: number
                        x-auditable: true
                      chunk_overlap:
                        type: integer
                        default: 10
                        maximum: 30
                        minimum: 0
                        x-auditable: true
                      chunk_size:
                        type: integer
                        minimum: 64
                        x-auditable: true
                      created_at:
                        type: string
                        format: date-time
                        readOnly: true
                      created_by:
                        type:
                        - string
                        - 'null'
                        readOnly: true
                      custom_metadata:
                        type: array
                        items:
                          properties:
                            data_type:
                              type: string
                              enum:
                              - text
                              - number
                              - boolean
                              - datetime
                            field_name:
                              type: string
                              maxLength: 64
                              minLength: 1
                          required:
                          - field_name
                          - data_type
                          type: object
                        maxItems: 5
                        x-auditable: true
                      embedding_model:
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      enable:
                        type: boolean
                        default: true
                        x-auditable: true
                      engine_version:
                        type: number
                        default: 3
                        readOnly: true
                      fusion_method:
                        type: string
                        default: rrf
                        enum:
                        - max
                        - rrf
                        x-auditable: true
                      hybrid_search_enabled:
                        description: Deprecated — use index_method instead. Defaults to true for new instances; set false to create a vector-only instance.
                        type: boolean
                        default: true
                        deprecated: true
                        x-auditable: true
                      id:
                        description: AI Search instance ID. Lowercase alphanumeric, hyphens, and underscores.
                        type: string
                        example: my-ai-search
                        maxLength: 64
                        minLength: 1
                        pattern: ^[a-z0-9_]+(?:-[a-z0-9_]+)*$
                        x-auditable: true
                      index_method:
                        description: Controls which storage backends are used during indexing. Defaults to vector and keyword indexing for new instances.
                        type: object
                        default:
                          keyword: true
                          vector: true
                        properties:
                          keyword:
                            description: Enable keyword (BM25) storage backend.
                            type: boolean
                          vector:
                            description: Enable vector (embedding) storage backend.
                            type: boolean
                        required:
                        - vector
                        - keyword
                        x-auditable: true
                      indexing_options:
                        type:
                        - object
                        - 'null'
                        properties:
                          keyword_tokenizer:
                            description: Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter.
                            type: string
                            default: porter
                            enum:
                            - porter
                            - trigram
                          use_ocr:
                            description: Enables OCR ingestion for PDFs and images. Changing this triggers a full re-index. Defaults to false.
                            type: boolean
                            default: false
                        x-auditable: true
                      last_activity:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        readOnly: true
                      max_num_results:
                        type: integer
                        default: 10
                        maximum: 50
                        minimum: 1
                        x-auditable: true
                      metadata:
                        type: object
                        properties:
                          created_from_aisearch_wizard:
                            type: boolean
                          worker_domain:
                            type: string
                        x-auditable: true
                      modified_at:
                        type: string
                        format: date-time
                        readOnly: true
                      modified_by:
                        type:
                        - string
                        - 'null'
                        readOnly: true
                      namespace:
                        type:
                        - string
                        - 'null'
                        pattern: ^[a-z0-9]([a-z0-9-]{0,26}[a-z0-9])?$
                        readOnly: true
                      paused:
                        type: boolean
                        default: false
                        x-auditable: true
                      public_endpoint_id:
                        type:
                        - string
                        - 'null'
                        readOnly: true
                      public_endpoint_params:
                        type: object
                        properties:
                          authorized_hosts:
                            type: array
                            items:
                              type: string
                          chat_completions_endpoint:
                            type: object
                            properties:
                              disabled:
                                description: Disable chat completions endpoint for this public endpoint
                                type: boolean
                                default: false
                          custom_domains:
                            description: Custom domain hostnames that alias this public endpoint. GET and create responses return the current set; on update (PUT) this field is only echoed back when supplied in the request body, otherwise it is null (omit it to leave domains unchanged).
                            type:
                            - array
                            - 'null'
                            items:
                              description: Custom domain hostname (must be a Verified zone on this account).
                              example: search.example.com
                              maxLength: 253
                              minLength: 1
                              type: string
                            maxItems: 1
                            x-auditable: true
                          default_domain_enabled:
                            description: When false, the instance is reachable only via a registered custom domain and the default <public_endpoint_id>.search.ai.cloudflare.com host returns 404. Requires at least one custom domain. Defaults to true. public_endpoint_params is replaced wholesale on update, so resend default_domain_enabled on every update to keep the default host off — omitting it resets to true.
                            type: boolean
                            default: true
                            x-auditable: true
                          enabled:
                            type: boolean
                            default: false
                          mcp:
                            type: object
                            properties:
                              description:
                                type: string
                                default: Finds exactly what you're looking for
                              disabled:
                                description: Disable MCP endpoint for this public endpoint
                                type: boolean
                                default: false
                          rate_limit:
                            type: object
                            properties:
                              period_ms:
                                type: integer
                                maximum: 3600000
                                minimum: 60000
                              requests:
                                type: integer
                                minimum: 1
                              technique:
                                type: string
                                enum:
                                - fixed
                                - sliding
                          search_endpoint:
                            type: object
                            properties:
                              disabled:
                                description: Disable search endpoint for this public endpoint
                                type: boolean
                                default: false
                        x-auditable: true
                      reranking:
                        type: boolean
                        default: false
                        x-auditable: true
                      reranking_model:
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      retrieval_options:
                        type:
                        - object
                        - 'null'
                        properties:
                          boost_by:
                            description: Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to 'asc' for numeric/datetime fields and 'exists' for text/boolean fields. Fields must match 'timestamp' or a defined custom_metadata field.
                            type: array
                            items:
                              properties:
                                direction:
                                  description: Boost direction. 'desc' = higher values rank higher (e.g. newer timestamps). 'asc' = lower values rank higher. 'exists' = boost chunks that have the field. 'not_exists' = boost chunks that lack the field. Optional — defaults to 'asc' for numeric/datetime fields, 'exists' for text/boolean fields.
                                  type: string
                                  enum:
                                  - asc
                                  - desc
                                  - exists
                                  - not_exists
                                field:
                                  description: Metadata field name to boost by. Use 'timestamp' for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.
                                  type: string
                                  example: timestamp
                                  maxLength: 64
                                  minLength: 1
                              required:
                              - field
                              type: object
                            example:
                            - direction: desc
                              field: timestamp
                            maxItems: 3
                          keyword_match_mode:
                            description: Controls which documents are candidates for BM25 scoring. 'and' restricts candidates to documents containing all query terms; 'or' includes any document containing at least one term, ranked by BM25 relevance. When omitted on an update, the existing stored value is preserved; when never set, search falls back to 'and'.
                            type: string
                            enum:
                            - and
                            - or
                        x-auditable: true
                      rewrite_model:
                        description: A Workers AI model ID or an AI Gateway model ID compatible with the OpenAI Chat Completions API. An empty string uses the configured or default model.
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      rewrite_query:
                        type: boolean
                        default: false
                        x-auditable: true
                      score_threshold:
                        type: number
                        default: 0.4
                        maximum: 1
                        minimum: 0
                        x-auditable: true
                      source:
                        type:
                        - string
                        - 'null'
                        x-auditable: true
                      source_params:
                        type:
                        - object
                        - 'null'
                        properties:
                          exclude_items:
                            description: 'List of path patterns to exclude. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /admin/** matches /admin/users and /admin/settings/advanced). Most accounts are limited to 10 rules; contact support to raise it.'
                            type: array
                            items:
                              maxLength: 500
                              pattern: ^[*/\\]?[\w\-/.\\?*:=&%]+$
                              type: string
                            example:
                            - /admin/**
                            - /private/**
                            - '**\temp\**'
                            maxItems: 10
                          include_items:
                            description: 'List of path patterns to include. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /blog/** matches /blog/post and /blog/2024/post). Most accounts are limited to 10 rules; contact support to raise it.'
                            type: array
                            items:
                              maxLength: 500
                              pattern: ^[*/\\]?[\w\-/.\\?*:=&%]+$
[...]
