openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Dos Flowtrackd API Other API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: dos-flowtrackd-api_other
paths:
  /accounts/{account_id}/magic/advanced_dns_protection/configs/dns_protection/rules:
    delete:
      operationId: deleteDnsProtectionRulesForAccount
      summary: Delete all DNS Protection rules
      description: Delete all DNS Protection rules for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      responses:
        '200':
          description: Delete all DNS Protection rules response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete all DNS Protection rules failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-dns-protection.configs.dns.protection.rules.delete.for
      x-fern-sdk-method-name: account
      x-forge-hidden: true
    get:
      operationId: listDnsProtectionRulesForAccount
      summary: List all DNS Protection rules
      description: List all DNS Protection rules for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: page
        in: query
        description: The page number for pagination. Defaults to 1.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: per_page
        in: query
        description: The number of items per page. Must be between 10 and 1000. Defaults to 25.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: order
        in: query
        description: The field to order by. Defaults to 'prefix'.
        schema:
          type: string
          x-auditable: true
        explode: false
      - name: direction
        in: query
        description: The direction of ordering (ASC or DESC). Defaults to 'ASC'.
        schema:
          type: string
          x-auditable: true
        explode: false
      responses:
        '200':
          description: List all DNS Protection rules response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_dns-protection-rule-list-response'
        4XX:
          description: List all DNS Protection rules failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-dns-protection.configs.dns.protection.rules
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: createDnsProtectionRule
      summary: Create DNS Protection rule
      description: Create a DNS Protection rule for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The new DNS Protection rule to add.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_NewDnsProtectionRule'
      responses:
        '200':
          description: Create DNS Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_dns-protection-rule-response'
        4XX:
          description: Create DNS Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-dns-protection.configs.dns.protection.rules
      x-fern-sdk-method-name: create
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: protection-mode
  /accounts/{account_id}/magic/advanced_dns_protection/configs/dns_protection/rules/{rule_id}:
    delete:
      operationId: deleteDnsProtectionRule
      summary: Delete DNS Protection rule
      description: Delete a DNS Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the DNS Protection rule to delete.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Delete DNS Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete DNS Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-dns-protection.configs.dns.protection.rules.delete.protection
      x-fern-sdk-method-name: rule
      x-forge-hidden: true
    get:
      operationId: getDnsProtectionRule
      summary: Get DNS Protection rule
      description: Get a DNS Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the DNS Protection rule.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Get DNS Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_dns-protection-rule-response'
        4XX:
          description: Get DNS Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-dns-protection.configs.dns.protection.rules
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: updateDnsProtectionRule
      summary: Update DNS Protection rule
      description: Update a DNS Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the DNS Protection rule to update.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      requestBody:
        description: The updates to apply to the DNS Protection rule.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_DnsProtectionRuleUpdate'
      responses:
        '200':
          description: Update DNS Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_dns-protection-rule-response'
        4XX:
          description: Update DNS Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-dns-protection.configs.dns.protection.rules
      x-fern-sdk-method-name: update
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: protection-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist:
    delete:
      operationId: deleteAllowlistPrefixesForAccount
      summary: Delete all allowlist prefixes
      description: Delete all allowlist prefixes for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      responses:
        '200':
          description: Delete all allowlist prefixes response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete all allowlist prefixes failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.allowlist.delete.for
      x-fern-sdk-method-name: account
      x-forge-hidden: true
    get:
      operationId: listAllowlistPrefixesForAccount
      summary: List all allowlist prefixes
      description: List all allowlist prefixes for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: page
        in: query
        description: The page number for pagination. Defaults to 1.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: per_page
        in: query
        description: The number of items per page. Must be between 10 and 1000. Defaults to 25.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: order
        in: query
        description: The field to order by. Defaults to 'prefix'.
        schema:
          type: string
        explode: false
      - name: direction
        in: query
        description: The direction of ordering (ASC or DESC). Defaults to 'ASC'.
        schema:
          type: string
          x-auditable: true
        explode: false
      responses:
        '200':
          description: List all allowlist prefixes response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_infra-prefix-list-response'
        4XX:
          description: List all allowlist prefixes failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.allowlist
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: createAllowlistedPrefix
      summary: Create allowlist prefix
      description: Create an allowlist prefix for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The new allowlist prefix to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_NewInfraPrefix'
      responses:
        '200':
          description: Create allowlist prefix response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_infra-prefix-response'
        4XX:
          description: Create allowlist prefix failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.allowlist
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist/{prefix_id}:
    delete:
      operationId: deleteAllowlistPrefix
      summary: Delete allowlist prefix
      description: Delete the allowlist prefix for an account given a UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: prefix_id
        in: path
        description: The UUID of the allowlist prefix to delete.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Delete allowlist prefix response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete allowlist prefix failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.allowlist.delete.allowlist
      x-fern-sdk-method-name: prefix
      x-forge-hidden: true
    get:
      operationId: getAllowlistPrefix
      summary: Get allowlist prefix
      description: Get an allowlist prefix specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: prefix_id
        in: path
        description: The UUID of the allowlist prefix.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Get allowlist prefix response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_infra-prefix-response'
        4XX:
          description: Get allowlist prefix failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.allowlist
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: updateAllowlistPrefix
      summary: Update allowlist prefix
      description: Update an allowlist prefix specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: prefix_id
        in: path
        description: The UUID of the allowlist prefix to update.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      requestBody:
        description: The updates to apply to the allowlist prefix.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_InfraPrefixUpdate'
      responses:
        '200':
          description: Update allowlist prefix response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_infra-prefix-response'
        4XX:
          description: Update allowlist prefix failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.allowlist
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes:
    delete:
      operationId: deletePrefixesForAccount
      summary: Delete all prefixes
      description: Delete all prefixes for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      responses:
        '200':
          description: Delete all prefixes response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete all prefixes failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.prefixes.delete.for
      x-fern-sdk-method-name: account
      x-forge-hidden: true
    get:
      operationId: listPrefixesForAccount
      summary: List all prefixes
      description: List all prefixes for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: page
        in: query
        description: The page number for pagination. Defaults to 1.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: per_page
        in: query
        description: The number of items per page. Must be between 10 and 1000. Defaults to 25.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: order
        in: query
        description: The field to order by. Defaults to 'prefix'.
        schema:
          type: string
          x-auditable: true
        explode: false
      - name: direction
        in: query
        description: The direction of ordering (ASC or DESC). Defaults to 'ASC'.
        schema:
          type: string
          x-auditable: true
        explode: false
      responses:
        '200':
          description: List all prefixes response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_prefix-list-response'
        4XX:
          description: List all allowlist prefixes failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.prefixes
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: createPrefix
      summary: Create prefix
      description: Create a prefix for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The new prefix to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_NewPrefix'
      responses:
        '200':
          description: Create prefix response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_prefix-response'
        4XX:
          description: Create prefix failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.prefixes
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/bulk:
    post:
      operationId: bulkCreatePrefixes
      summary: Create multiple prefixes
      description: Create multiple prefixes for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The list of new prefixes to create.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/dos_NewPrefix'
      responses:
        '200':
          description: Create multiple prefixes response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_prefix-list-response'
        4XX:
          description: Create multiple prefixes failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.prefixes.bulk
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/{prefix_id}:
    delete:
      operationId: deletePrefix
      summary: Delete prefix
      description: Delete the prefix for an account given a UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: prefix_id
        in: path
        description: The UUID of the prefix to delete.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Delete prefix response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete prefix failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.prefixes
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: getPrefix
      summary: Get prefix
      description: Get a prefix specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: prefix_id
        in: path
        description: The UUID of the prefix.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Get prefix response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_prefix-response'
        4XX:
          description: Get prefix failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.prefixes
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: updatePrefix
      summary: Update prefix
      description: Update a prefix specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: prefix_id
        in: path
        description: The UUID of the prefix to update.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      requestBody:
        description: The updates to apply to the prefix.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_PrefixUpdate'
      responses:
        '200':
          description: Update prefix response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_prefix-response'
        4XX:
          description: Update prefix failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.prefixes
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters:
    delete:
      operationId: deleteSynProtectionFiltersForAccount
      summary: Delete all SYN Protection filters
      description: Delete all SYN Protection filters for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      responses:
        '200':
          description: Delete all SYN Protection filters response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete all SYN Protection filters failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.filters.delete.for
      x-fern-sdk-method-name: account
      x-forge-hidden: true
    get:
      operationId: listSynProtectionFiltersForAccount
      summary: List all SYN Protection filters
      description: List all SYN Protection filters for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: mode
        in: query
        description: 'The mode of the filters to get. Optional. Valid values: ''enabled'', ''disabled'', ''monitoring''.'
        schema:
          type: string
          x-auditable: true
        explode: false
        x-fern-parameter-name: filter-mode
      - name: page
        in: query
        description: The page number for pagination. Defaults to 1.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: per_page
        in: query
        description: The number of items per page. Must be between 10 and 1000. Defaults to 25.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: order
        in: query
        description: The field to order by. Defaults to 'prefix'.
        schema:
          type: string
          x-auditable: true
        explode: false
      - name: direction
        in: query
        description: The direction of ordering (ASC or DESC). Defaults to 'ASC'.
        schema:
          type: string
          x-auditable: true
        explode: false
      responses:
        '200':
          description: List all SYN Protection filters response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_expression-filter-list-response'
        4XX:
          description: List all SYN Protection filters failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.filters
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: createSynProtectionFilter
      summary: Create a SYN Protection filter
      description: Create a SYN Protection filter for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The new filter to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_NewExpressionFilter'
      responses:
        '200':
          description: Create SYN Protection filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_expression-filter-response'
        4XX:
          description: Create SYN Protection filter failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.filters
      x-fern-sdk-method-name: create
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: filter-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters/{filter_id}:
    delete:
      operationId: deleteSynProtectionFilter
      summary: Delete SYN Protection filter
      description: Delete a SYN Protection filter specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: filter_id
        in: path
        description: The UUID of the filter to delete.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Delete SYN Protection filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete SYN Protection filter failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.filters.delete.protection
      x-fern-sdk-method-name: filter
      x-forge-hidden: true
    get:
      operationId: getSynProtectionFilter
      summary: Get SYN Protection filter
      description: Get a SYN Protection filter specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: filter_id
        in: path
        description: The UUID of the filter to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Get SYN Protection filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_expression-filter-response'
        4XX:
          description: Get SYN Protection filter failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.filters
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: updateSynProtectionFilter
      summary: Update SYN Protection filter
      description: Update a SYN Protection filter specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: filter_id
        in: path
        description: The UUID of the filter to update.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      requestBody:
        description: The updates to apply to the filter.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_ExpressionFilterUpdate'
      responses:
        '200':
          description: Update SYN Protection filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_expression-filter-response'
        4XX:
          description: Update SYN Protection filter failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.filters
      x-fern-sdk-method-name: update
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: filter-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules:
    delete:
      operationId: deleteSynProtectionRulesForAccount
      summary: Delete all SYN Protection rules
      description: Delete all SYN Protection rules for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      responses:
        '200':
          description: Delete all SYN Protection rules response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete all SYN Protection rules failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.rules.delete.for
      x-fern-sdk-method-name: account
      x-forge-hidden: true
    get:
      operationId: listSynProtectionRulesForAccount
      summary: List all SYN Protection rules
      description: List all SYN Protection rules for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: page
        in: query
        description: The page number for pagination. Defaults to 1.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: per_page
        in: query
        description: The number of items per page. Must be between 10 and 1000. Defaults to 25.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: order
        in: query
        description: The field to order by. Defaults to 'prefix'.
        schema:
          type: string
          x-auditable: true
        explode: false
      - name: direction
        in: query
        description: The direction of ordering (ASC or DESC). Defaults to 'ASC'.
        schema:
          type: string
          x-auditable: true
        explode: false
      responses:
        '200':
          description: List all SYN Protection rules response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_syn-protection-rule-list-response'
        4XX:
          description: List all SYN Protection rules failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.rules
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: createSynProtectionRule
      summary: Create SYN Protection rule
      description: Create a SYN Protection rule for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The new SYN Protection rule to add.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_NewSynProtectionRule'
      responses:
        '200':
          description: Create SYN Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_syn-protection-rule-response'
        4XX:
          description: Create SYN Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.rules
      x-fern-sdk-method-name: create
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: protection-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules/{rule_id}:
    delete:
      operationId: deleteSynProtectionRule
      summary: Delete SYN Protection rule
      description: Delete a SYN Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the SYN Protection rule to delete.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Delete SYN Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete SYN Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.rules.delete.protection
      x-fern-sdk-method-name: rule
      x-forge-hidden: true
    get:
      operationId: getSynProtectionRule
      summary: Get SYN Protection rule
      description: Get a SYN Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the SYN Protection rule.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Get SYN Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_syn-protection-rule-response'
        4XX:
          description: Get SYN Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.rules
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: updateSynProtectionRule
      summary: Update SYN Protection rule
      description: Update a SYN Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the SYN Protection rule to update.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      requestBody:
        description: The fields to update on the SYN Protection rule.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_SynProtectionRuleUpdate'
      responses:
        '200':
          description: Update SYN Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_syn-protection-rule-response'
        4XX:
          description: Update SYN Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.syn.protection.rules
      x-fern-sdk-method-name: update
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: protection-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters:
    delete:
      operationId: deleteTcpFlowProtectionFiltersForAccount
      summary: Delete all TCP Flow Protection filters
      description: Delete all TCP Flow Protection filters for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      responses:
        '200':
          description: Delete all TCP Flow Protection filters response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete all TCP Flow Protection filters failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.filters.delete.for
      x-fern-sdk-method-name: account
      x-forge-hidden: true
    get:
      operationId: listTcpFlowProtectionFiltersForAccount
      summary: List all TCP Flow Protection filters
      description: List all TCP Flow Protection filters for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: mode
        in: query
        description: 'The mode of the filters to get. Optional. Valid values: ''enabled'', ''disabled'', ''monitoring''.'
        schema:
          type: string
          x-auditable: true
        explode: false
        x-fern-parameter-name: filter-mode
      - name: page
        in: query
        description: The page number for pagination. Defaults to 1.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: per_page
        in: query
        description: The number of items per page. Must be between 10 and 1000. Defaults to 25.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: order
        in: query
        description: The field to order by. Defaults to 'prefix'.
        schema:
          type: string
          x-auditable: true
        explode: false
      - name: direction
        in: query
        description: The direction of ordering (ASC or DESC). Defaults to 'ASC'.
        schema:
          type: string
          x-auditable: true
        explode: false
      responses:
        '200':
          description: List all TCP Flow Protection filters response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_expression-filter-list-response'
        4XX:
          description: List all TCP Flow Protection filters failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.filters
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: createTcpFlowProtectionFilter
      summary: Create a TCP Flow Protection filter
      description: Create a TCP Flow Protection filter for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The new filter to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_NewExpressionFilter'
      responses:
        '200':
          description: Create TCP Flow Protection filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_expression-filter-response'
        4XX:
          description: Create TCP Flow Protection filter failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.filters
      x-fern-sdk-method-name: create
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: filter-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/{filter_id}:
    delete:
      operationId: deleteTcpFlowProtectionFilter
      summary: Delete TCP Flow Protection filter
      description: Delete a TCP Flow Protection filter specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: filter_id
        in: path
        description: The UUID of the filter to delete.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Delete TCP Flow Protection filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete TCP Flow Protection filter failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.filters.delete.protection
      x-fern-sdk-method-name: filter
      x-forge-hidden: true
    get:
      operationId: getTcpFlowProtectionFilter
      summary: Get TCP Flow Protection filter
      description: Get a TCP Flow Protection filter specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: filter_id
        in: path
        description: The UUID of the filter to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Get TCP Flow Protection filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_expression-filter-response'
        4XX:
          description: Get TCP Flow Protection filter failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.filters
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: updateTcpFlowProtectionFilter
      summary: Update TCP Flow Protection filter
      description: Update a TCP Flow Protection filter specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: filter_id
        in: path
        description: The UUID of the filter to update.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      requestBody:
        description: The updates to apply to the filter.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_ExpressionFilterUpdate'
      responses:
        '200':
          description: Update TCP Flow Protection filter response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_expression-filter-response'
        4XX:
          description: Update TCP Flow Protection filter failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.filters
      x-fern-sdk-method-name: update
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: filter-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/rules:
    delete:
      operationId: deleteTcpFlowProtectionRulesForAccount
      summary: Delete all TCP Flow Protection rules
      description: Delete all TCP Flow Protection rules for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      responses:
        '200':
          description: Delete all TCP Flow Protection rules response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete all TCP Flow Protection rules failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.rules.delete.for
      x-fern-sdk-method-name: account
      x-forge-hidden: true
    get:
      operationId: listTcpFlowProtectionRulesForAccount
      summary: List all TCP Flow Protection rules
      description: List all TCP Flow Protection rules for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: page
        in: query
        description: The page number for pagination. Defaults to 1.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: per_page
        in: query
        description: The number of items per page. Must be between 10 and 1000. Defaults to 25.
        schema:
          type: integer
          format: int64
          x-auditable: true
        explode: false
      - name: order
        in: query
        description: The field to order by. Defaults to 'prefix'.
        schema:
          type: string
          x-auditable: true
        explode: false
      - name: direction
        in: query
        description: The direction of ordering (ASC or DESC). Defaults to 'ASC'.
        schema:
          type: string
          x-auditable: true
        explode: false
      responses:
        '200':
          description: List all TCP Flow Protection rules response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_tcp-flow-protection-rule-list-response'
        4XX:
          description: List all TCP Flow Protection rules failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.rules
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: createTcpFlowProtectionRule
      summary: Create TCP Flow Protection rule
      description: Create a TCP Flow Protection rule for an account.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The new TCP Flow Protection rule.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_NewTcpFlowProtectionRule'
      responses:
        '200':
          description: Create TCP Flow Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_tcp-flow-protection-rule-response'
        4XX:
          description: Create TCP Flow Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.rules
      x-fern-sdk-method-name: create
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: protection-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/rules/{rule_id}:
    delete:
      operationId: deleteTcpFlowProtectionRule
      summary: Delete TCP Flow Protection rule
      description: Delete a TCP Flow Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the TCP Flow Protection rule to delete.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Delete TCP Flow Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common'
        4XX:
          description: Delete TCP Flow Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.rules.delete.protection
      x-fern-sdk-method-name: rule
      x-forge-hidden: true
    get:
      operationId: getTcpFlowProtectionRule
      summary: Get TCP Flow Protection rule
      description: Get a TCP Flow Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the TCP Flow Protection rule.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      responses:
        '200':
          description: Get TCP Flow Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_tcp-flow-protection-rule-response'
        4XX:
          description: Get TCP Flow Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.rules
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: updateTcpFlowProtectionRule
      summary: Update TCP Flow Protection rule
      description: Update a TCP Flow Protection rule specified by the given UUID.
      parameters:
      - name: account_id
        in: path
        description: The ID of the account.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      - name: rule_id
        in: path
        description: The UUID of the TCP Flow Protection rule to update.
        required: true
        schema:
          $ref: '#/components/schemas/dos_uuid'
      requestBody:
        description: The updates to apply to the TCP Flow Protection rule.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_TcpFlowProtectionRuleUpdate'
      responses:
        '200':
          description: Update TCP Flow Protection rule response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_tcp-flow-protection-rule-response'
        4XX:
          description: Update TCP Flow Protection rule failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.flow.protection.rules
      x-fern-sdk-method-name: update
      x-forge-hidden: true
      x-forge-params:
        mode:
          flagName: protection-mode
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_protection_status:
    get:
      operationId: getProtectionStatus
      summary: Get protection status
      description: Get the protection status of the account.
      parameters:
      - name: account_id
        in: path
        description: The account ID.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      responses:
        '200':
          description: Get protection status response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_protection-status-response'
        4XX:
          description: Get protection status failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      - DDoS Protection Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.protection.status
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: updateProtectionStatus
      summary: Update protection status
      description: Update the protection status of the account.
      parameters:
      - name: account_id
        in: path
        description: The account ID.
        required: true
        schema:
          $ref: '#/components/schemas/dos_identifier'
      requestBody:
        description: The update to apply to the protection status.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dos_UpdateProtectionStatus'
      responses:
        '200':
          description: Update protection status response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_protection-status-response'
        4XX:
          description: Update protection status failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dos_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      - api_email: []
        api_key: []
      tags:
      - dos-flowtrackd-api_other
      x-api-token-group:
      - DDoS Protection Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: magic-transit.advanced-tcp-protection.configs.tcp.protection.status
      x-fern-sdk-method-name: update
      x-forge-hidden: true
components:
  schemas:
    dos_infra-prefix-list-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/dos_InfraPrefix'
        type: object
    dos_UpdateProtectionStatus:
      type: object
      properties:
        enabled:
          description: Enables or disables protection.
          type: boolean
          x-auditable: true
      additionalProperties: false
      required:
      - enabled
    dos_syn-protection-rule-list-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/dos_SynProtectionRule'
        type: object
    dos_prefix-list-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/dos_Prefix'
        type: object
    dos_expression-filter-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/dos_ExpressionFilter'
        type: object
    dos_NewInfraPrefix:
      type: object
      properties:
        comment:
          description: An comment describing the allowlist prefix.
          type: string
          x-auditable: true
        enabled:
          description: Whether to enable the allowlist prefix into effect.
          type: boolean
          x-auditable: true
        prefix:
          description: The allowlist prefix to add in CIDR format.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - prefix
      - comment
      - enabled
    dos_NewDnsProtectionRule:
      type: object
      properties:
        block_any_queries:
          description: Whether to block DNS ANY queries. Optional. Defaults to true.
          type: boolean
          x-auditable: true
        burst_sensitivity:
          description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        mode:
          description: The mode for DNS Protection. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        name:
          description: The name of the DNS Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.
          type: string
          x-auditable: true
        profile_sensitivity:
          description: The profile sensitivity. Recommended setting is 'low'. Must be one of 'low', 'medium', 'high', or 'very_high'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        scope:
          description: The scope for the DNS Protection rule. Must be one of 'global', 'region', or 'datacenter'.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - scope
      - name
      - mode
      - profile_sensitivity
      - rate_sensitivity
      - burst_sensitivity
    dos_DnsProtectionRuleUpdate:
      type: object
      properties:
        block_any_queries:
          description: The new value for whether to block DNS ANY queries. Optional.
          type: boolean
          x-auditable: true
        burst_sensitivity:
          description: The new burst sensitivity. Optional. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        mode:
          description: The new mode for DNS Protection. Optional. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        profile_sensitivity:
          description: The new profile sensitivity. Optional. Recommended setting is 'low'. Must be one of 'low', 'medium', 'high', or 'very_high'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The new rate sensitivity. Optional. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
      additionalProperties: false
    dos_SynProtectionRule:
      type: object
      properties:
        burst_sensitivity:
          description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        created_on:
          description: The creation timestamp of the SYN Protection rule.
          type: string
          format: date-time
          x-auditable: true
        id:
          description: The unique ID of the SYN Protection rule.
          type: string
          x-auditable: true
        mitigation_type:
          description: The type of mitigation for SYN Protection. Must be one of 'challenge' or 'retransmit'.
          type: string
          x-auditable: true
        mode:
          description: The mode for SYN Protection. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        modified_on:
          description: The last modification timestamp of the SYN Protection rule.
          type: string
          format: date-time
          x-auditable: true
        name:
          description: The name of the SYN Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        scope:
          description: The scope for the SYN Protection rule. Must be one of 'global', 'region', or 'datacenter'.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - id
      - scope
      - name
      - mode
      - mitigation_type
      - rate_sensitivity
      - burst_sensitivity
      - created_on
      - modified_on
    dos_DnsProtectionRule:
      type: object
      properties:
        block_any_queries:
          description: Whether to block DNS ANY queries. Defaults to true.
          type: boolean
          x-auditable: true
        burst_sensitivity:
          description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        created_on:
          description: The creation timestamp of the DNS Protection rule.
          type: string
          format: date-time
          x-auditable: true
        id:
          description: The unique ID of the DNS Protection rule.
          type: string
          x-auditable: true
        mode:
          description: The mode for DNS Protection. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        modified_on:
          description: The last modification timestamp of the DNS Protection rule.
          type: string
          format: date-time
          x-auditable: true
        name:
          description: The name of the DNS Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.
          type: string
          x-auditable: true
        profile_sensitivity:
          description: The profile sensitivity. Recommended setting is 'low'. Must be one of 'low', 'medium', 'high', or 'very_high'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        scope:
          description: The scope for the DNS Protection rule. Must be one of 'global', 'region', or 'datacenter'.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - id
      - scope
      - name
      - mode
      - profile_sensitivity
      - rate_sensitivity
      - burst_sensitivity
      - block_any_queries
      - created_on
      - modified_on
    dos_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    dos_InfraPrefix:
      type: object
      properties:
        comment:
          description: An optional comment describing the allowlist prefix.
          type: string
          x-auditable: true
        created_on:
          description: The creation timestamp of the allowlist prefix.
          type: string
          format: date-time
          x-auditable: true
        enabled:
          description: Whether to enable the allowlist prefix into effect. Defaults to false.
          type: boolean
          x-auditable: true
        id:
          description: The unique ID of the allowlist prefix.
          type: string
          x-auditable: true
        modified_on:
          description: The last modification timestamp of the allowlist prefix.
          type: string
          format: date-time
          x-auditable: true
        prefix:
          description: The allowlist prefix in CIDR format.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - id
      - prefix
      - comment
      - enabled
      - created_on
      - modified_on
    dos_Prefix:
      type: object
      properties:
        comment:
          description: A comment describing the prefix.
          type: string
          x-auditable: true
        created_on:
          description: The creation timestamp of the prefix.
          type: string
          format: date-time
          x-auditable: true
        excluded:
          description: Whether to exclude the prefix from protection.
          type: boolean
          x-auditable: true
        id:
          description: The unique ID of the prefix.
          type: string
          x-auditable: true
        modified_on:
          description: The last modification timestamp of the prefix.
          type: string
          format: date-time
          x-auditable: true
        prefix:
          description: The prefix in CIDR format.
          type: string
          example: 192.0.2.0/24
          x-auditable: true
      additionalProperties: false
      required:
      - id
      - prefix
      - comment
      - excluded
      - created_on
      - modified_on
    dos_InfraPrefixUpdate:
      type: object
      properties:
        comment:
          description: A comment describing the allowlist prefix. Optional.
          type: string
          x-auditable: true
        enabled:
          description: Whether to enable the allowlist prefix into effect. Optional.
          type: boolean
          x-auditable: true
      additionalProperties: false
    dos_TcpFlowProtectionRule:
      type: object
      properties:
        burst_sensitivity:
          description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        created_on:
          description: The creation timestamp of the TCP Flow Protection rule.
          type: string
          format: date-time
          x-auditable: true
        id:
          description: The unique ID of the TCP Flow Protection rule.
          type: string
          x-auditable: true
        mode:
          description: The mode for TCP Flow Protection. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        modified_on:
          description: The last modification timestamp of the TCP Flow Protection rule.
          type: string
          format: date-time
          x-auditable: true
        name:
          description: The name of the TCP Flow Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        scope:
          description: The scope for the TCP Flow Protection rule. Must be one of 'global', 'region', or 'datacenter'.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - id
      - scope
      - name
      - mode
      - rate_sensitivity
      - burst_sensitivity
      - created_on
      - modified_on
    dos_NewTcpFlowProtectionRule:
      type: object
      properties:
        burst_sensitivity:
          description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        mode:
          description: The mode for the TCP Flow Protection. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        name:
          description: The name of the TCP Flow Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        scope:
          description: The scope for the TCP Flow Protection rule.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - scope
      - name
      - mode
      - rate_sensitivity
      - burst_sensitivity
    dos_NewExpressionFilter:
      type: object
      properties:
        expression:
          description: The filter expression.
          type: string
          example: ip.dst in { 192.0.2.0/24 198.51.100.0/24 } and tcp.srcport in { 80 443 10000..65535 }
          x-auditable: true
        mode:
          description: The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - expression
      - mode
    dos_tcp-flow-protection-rule-list-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/dos_TcpFlowProtectionRule'
        type: object
    dos_expression-filter-list-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/dos_ExpressionFilter'
        type: object
    dos_TcpFlowProtectionRuleUpdate:
      type: object
      properties:
        burst_sensitivity:
          description: The new burst sensitivity. Optional. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        mode:
          description: The new mode for TCP Flow Protection. Optional. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The new rate sensitivity. Optional. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
      additionalProperties: false
    dos_syn-protection-rule-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/dos_SynProtectionRule'
        type: object
    dos_SynProtectionRuleUpdate:
      type: object
      properties:
        burst_sensitivity:
          description: The new burst sensitivity. Optional. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        mitigation_type:
          description: The new mitigation type. Optional. Must be one of 'challenge' or 'retransmit'.
          type: string
          x-auditable: true
        mode:
          description: The new mode for SYN Protection. Optional. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The new rate sensitivity. Optional. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
      additionalProperties: false
    dos_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/dos_messages'
        messages:
          $ref: '#/components/schemas/dos_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    dos_prefix-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/dos_Prefix'
        type: object
    dos_protection-status-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/dos_ProtectionStatus'
        type: object
    dos_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/dos_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    dos_NewSynProtectionRule:
      type: object
      properties:
        burst_sensitivity:
          description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        mitigation_type:
          description: The type of mitigation. Must be one of 'challenge' or 'retransmit'. Optional. Defaults to 'challenge'.
          type: string
          x-auditable: true
        mode:
          description: The mode for SYN Protection. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        name:
          description: The name of the SYN Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.
          type: string
          x-auditable: true
        rate_sensitivity:
          description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
          type: string
          x-auditable: true
        scope:
          description: The scope for the SYN Protection rule. Must be one of 'global', 'region', or 'datacenter'.
          type: string
          x-auditable: true
      additionalProperties: false
      required:
      - scope
      - name
      - mode
      - rate_sensitivity
      - burst_sensitivity
    dos_NewPrefix:
      type: object
      properties:
        comment:
          description: A comment describing the prefix.
          type: string
          x-auditable: true
        excluded:
          description: Whether to exclude the prefix from protection.
          type: boolean
          x-auditable: true
        prefix:
          description: The prefix to add in CIDR format.
          type: string
          example: 192.0.2.0/24
          x-auditable: true
      additionalProperties: false
      required:
      - prefix
      - comment
      - excluded
    dos_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/dos_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/dos_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    dos_dns-protection-rule-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/dos_DnsProtectionRule'
        type: object
    dos_PrefixUpdate:
      type: object
      properties:
        comment:
          description: A new comment for the prefix. Optional.
          type: string
          x-auditable: true
        excluded:
          description: Whether to exclude the prefix from protection. Optional.
          type: boolean
          x-auditable: true
      additionalProperties: false
    dos_ExpressionFilterUpdate:
      type: object
      properties:
        expression:
          description: The new filter expression. Optional.
          type: string
          example: ip.dst in { 192.0.2.0/24 198.51.100.0/24 } and tcp.srcport in { 80 443 10000..65535 }
          x-auditable: true
        mode:
          description: The new mode for the filter. Optional. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
      additionalProperties: false
    dos_tcp-flow-protection-rule-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/dos_TcpFlowProtectionRule'
        type: object
    dos_dns-protection-rule-list-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/dos_DnsProtectionRule'
        type: object
    dos_ExpressionFilter:
      type: object
      properties:
        created_on:
          description: The creation timestamp of the expression filter.
          type: string
          format: date-time
          x-auditable: true
        expression:
          description: The filter expression.
          type: string
          example: ip.dst in { 192.0.2.0/24 198.51.100.0/24 } and tcp.srcport in { 80 443 10000..65535 }
          x-auditable: true
        id:
          description: The unique ID of the expression filter.
          type: string
          x-auditable: true
        mode:
          description: The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.
          type: string
          x-auditable: true
        modified_on:
          description: The last modification timestamp of the expression filter.
          type: string
          format: date-time
          x-auditable: true
      additionalProperties: false
      required:
      - id
      - expression
      - mode
      - created_on
      - modified_on
    dos_infra-prefix-response:
      allOf:
      - $ref: '#/components/schemas/dos_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/dos_InfraPrefix'
        type: object
    dos_ProtectionStatus:
      type: object
      properties:
        enabled:
          type: boolean
          x-auditable: true
      additionalProperties: false
      required:
      - enabled
    dos_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    dos_uuid:
      description: UUID.
      type: string
      example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
      maxLength: 36
      x-auditable: true
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
[...]
