openapi: 3.2.0
info:
  title: Cloudflare Stream Live Inputs API
  description: Cloudflare Stream provides a single API for uploading, storing, encoding, and delivering live and on-demand video. The API supports direct uploads, TUS resumable uploads, live streaming via RTMPS and SRT, video playback with a built-in player, and signed URL access control.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Live Inputs
  description: Manage live streaming inputs for RTMPS and SRT ingestion.
paths:
  /accounts/{account_id}/stream/live_inputs:
    get:
      operationId: listLiveInputs
      summary: Cloudflare List Live Inputs
      description: Returns all live inputs configured for the account.
      tags:
      - Live Inputs
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of live inputs.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createLiveInput
      summary: Cloudflare Create Live Input
      description: Create a new live input for RTMPS or SRT ingestion.
      tags:
      - Live Inputs
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meta:
                  type: object
                  description: User-defined metadata for the live input.
                recording:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                      - false
                      - automatic
                    requireSignedURLs:
                      type: boolean
                    timeoutSeconds:
                      type: integer
            examples:
              CreateliveinputRequestExample:
                summary: Default createLiveInput request
                x-microcks-default: true
                value:
                  meta: example_value
                  recording:
                    mode: false
                    requireSignedURLs: https://www.example.com
                    timeoutSeconds: 10
      responses:
        '200':
          description: Live input created.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Stream permissions.
externalDocs:
  description: Cloudflare Stream Documentation
  url: https://developers.cloudflare.com/stream/
