openapi: 3.2.0
info:
  title: Cloudflare Images Direct Uploads API
  description: The Cloudflare Images API allows developers to upload, store, and transform images at scale. It supports direct uploads, URL-based uploads, on-the-fly image transformations via URL parameters, custom variants, and integration with Workers for programmatic image processing.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Direct Uploads
  description: Create one-time upload URLs for client-side image uploads.
paths:
  /accounts/{account_id}/images/v1/direct_upload:
    post:
      operationId: createImageDirectUpload
      summary: Cloudflare Create Direct Upload Url
      description: Create a unique one-time upload URL for direct image uploads from client-side applications.
      tags:
      - Direct Uploads
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Custom identifier for the image.
                metadata:
                  type: object
                  description: User-defined metadata.
                requireSignedURLs:
                  type: boolean
                expiry:
                  type: string
                  format: date-time
                  description: When the upload URL expires.
            examples:
              CreateimagedirectuploadRequestExample:
                summary: Default createImageDirectUpload request
                x-microcks-default: true
                value:
                  id: abc123
                  metadata: example_value
                  requireSignedURLs: https://www.example.com
                  expiry: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: Direct upload URL created.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Images permissions.
externalDocs:
  description: Cloudflare Images Documentation
  url: https://developers.cloudflare.com/images/
