openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Radar HTTP API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Radar HTTP
paths:
  /radar/http/summary/bot_class:
    get:
      operationId: radar-get-http-summary-by-bot-class
      summary: Get HTTP requests by bot class summary
      description: Retrieves the distribution of bot-generated HTTP requests to genuine human traffic, as classified by Cloudflare. Visit https://developers.cloudflare.com/radar/concepts/bot-classes/ for more information.
      parameters:
      - name: name
        in: query
        description: Array of names used to label the series in the response.
        schema:
          description: Array of names used to label the series in the response.
          type: array
          items:
            example: main_series
            type: string
      - name: dateRange
        in: query
        description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
        schema:
          description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
          type: array
          items:
            example: 7d
            pattern: ^((([1-9]|[1-9][0-9]|[1-2][0-9][0-9]|3[0-5][0-9]|36[0-4])[d](control)?)|(([1-9]|[1-4][0-9]|5[0-2])[w](control)?))$
            type: string
          example: 7d
      - name: dateStart
        in: query
        description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: dateEnd
        in: query
        description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: asn
        in: query
        description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
        schema:
          description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
          type: array
          items:
            type: string
          example: '15169'
      - name: location
        in: query
        description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
        schema:
          description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
          type: array
          items:
            type: string
          example: US,CA
      - name: continent
        in: query
        description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
        schema:
          description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
          type: array
          items:
            type: string
          example: EU,NA
      - name: geoId
        in: query
        description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
        schema:
          description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
          type: array
          items:
            type: string
          example: 2267056,360689
      - name: deviceType
        in: query
        description: Filters results by device type.
        schema:
          description: Filters results by device type.
          type: array
          items:
            enum:
            - DESKTOP
            - MOBILE
            - OTHER
            type: string
          example: DESKTOP
      - name: httpProtocol
        in: query
        description: Filters results by HTTP protocol (HTTP vs. HTTPS).
        schema:
          description: Filters results by HTTP protocol (HTTP vs. HTTPS).
          type: array
          items:
            enum:
            - HTTP
            - HTTPS
            type: string
          example: HTTPS
      - name: httpVersion
        in: query
        description: Filters results by HTTP version.
        schema:
          description: Filters results by HTTP version.
          type: array
          items:
            enum:
            - HTTPv1
            - HTTPv2
            - HTTPv3
            type: string
          example: HTTPv1
      - name: ipVersion
        in: query
        description: Filters results by IP version (Ipv4 vs. IPv6).
        schema:
          description: Filters results by IP version (Ipv4 vs. IPv6).
          type: array
          items:
            enum:
            - IPv4
            - IPv6
            type: string
          example: IPv4
      - name: os
        in: query
        description: Filters results by operating system.
        schema:
          description: Filters results by operating system.
          type: array
          items:
            enum:
            - WINDOWS
            - MACOSX
            - IOS
            - ANDROID
            - CHROMEOS
            - LINUX
            - SMART_TV
            type: string
          example: WINDOWS
      - name: tlsVersion
        in: query
        description: Filters results by TLS version.
        schema:
          description: Filters results by TLS version.
          type: array
          items:
            enum:
            - TLSv1_0
            - TLSv1_1
            - TLSv1_2
            - TLSv1_3
            - TLSvQUIC
            type: string
          example: TLSv1_2
      - name: browserFamily
        in: query
        description: Filters results by browser family.
        schema:
          description: Filters results by browser family.
          type: array
          items:
            enum:
            - CHROME
            - EDGE
            - FIREFOX
            - SAFARI
            type: string
          example: CHROME
      - name: format
        in: query
        description: Format in which results will be returned.
        schema:
          description: Format in which results will be returned.
          type: string
          example: json
          enum:
          - JSON
          - CSV
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      meta:
                        description: Metadata for the results.
                        type: object
                        properties:
                          confidenceInfo:
                            type: object
                            properties:
                              annotations:
                                type: array
                                items:
                                  description: Annotation associated with the result (e.g. outage or other type of event).
                                  properties:
                                    dataSource:
                                      description: Data source for annotations.
                                      type: string
                                      enum:
                                      - ALL
                                      - AI_BOTS
                                      - AI_GATEWAY
                                      - BGP
                                      - BOTS
                                      - CONNECTION_ANOMALY
                                      - CT
                                      - DNS
                                      - DNS_MAGNITUDE
                                      - DNS_AS112
                                      - DOS
                                      - EMAIL_ROUTING
                                      - EMAIL_SECURITY
                                      - FW
                                      - FW_PG
                                      - HTTP
                                      - HTTP_CONTROL
                                      - HTTP_CRAWLER_REFERER
                                      - HTTP_ORIGINS
                                      - IQI
                                      - LEAKED_CREDENTIALS
                                      - NET
                                      - ROBOTS_TXT
                                      - SPEED
                                      - WORKERS_AI
                                    description:
                                      type: string
                                      example: Cable cut in Tonga
                                    endDate:
                                      type: string
                                      format: date-time
                                    eventType:
                                      description: Event type for annotations.
                                      type: string
                                      enum:
                                      - GENERAL
                                      - OUTAGE
                                      - PARTIAL_PROJECTION
                                      - PIPELINE
                                      - TRAFFIC_ANOMALY
                                    isInstantaneous:
                                      description: Whether event is a single point in time or a time range.
                                      type: boolean
                                    linkedUrl:
                                      type: string
                                      format: uri
                                    startDate:
                                      type: string
                                      format: date-time
                                    tags:
                                      type: array
                                      items:
                                        example: BOT_CLASS
                                        type: string
                                  required:
                                  - dataSource
                                  - eventType
                                  - description
                                  - startDate
                                  - endDate
                                  - linkedUrl
                                  - isInstantaneous
                                  type: object
                              level:
                                description: Provides an indication of how much confidence Cloudflare has in the data.
                                type: integer
                            required:
                            - level
                            - annotations
                          dateRange:
                            type: array
                            items:
                              properties:
                                endTime:
                                  description: Adjusted end of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-17T10:22:57.555Z'
                                startTime:
                                  description: Adjusted start of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-16T10:22:57.555Z'
                              required:
                              - startTime
                              - endTime
                              type: object
                          lastUpdated:
                            description: Timestamp of the last dataset update.
                            type: string
                            format: date-time
                          normalization:
                            description: Normalization method applied to the results. Refer to [Normalization methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                            type: string
                            enum:
                            - PERCENTAGE
                            - MIN0_MAX
                            - MIN_MAX
                            - RAW_VALUES
                            - PERCENTAGE_CHANGE
                            - ROLLING_AVERAGE
                            - OVERLAPPED_PERCENTAGE
                            - RATIO
                          units:
                            description: Measurement units for the results.
                            type: array
                            items:
                              properties:
                                name:
                                  type: string
                                  example: '*'
                                value:
                                  type: string
                                  example: requests
                              required:
                              - name
                              - value
                              type: object
                        required:
                        - dateRange
                        - confidenceInfo
                        - normalization
                        - lastUpdated
                        - units
                      summary_0:
                        type: object
                        properties:
                          bot:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                          human:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                        required:
                        - human
                        - bot
                    required:
                    - summary_0
                    - meta
                  success:
                    type: boolean
                    example: true
                required:
                - result
                - success
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      deprecated: true
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Radar HTTP
      x-api-token-group:
      - User Details Write
      - User Details Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: radar.http.summary
      x-fern-sdk-method-name: bot-class
      x-forge-hidden: true
      x-stainless-deprecation-message: Use [Radar HTTP Summary By Dimension](https://developers.cloudflare.com/api/resources/radar/subresources/http/methods/summary_v2/) instead.
  /radar/http/summary/device_type:
    get:
      operationId: radar-get-http-summary-by-device-type
      summary: Get HTTP requests by device type summary
      description: Retrieves the distribution of HTTP requests generated by mobile, desktop, and other types of devices.
      parameters:
      - name: name
        in: query
        description: Array of names used to label the series in the response.
        schema:
          description: Array of names used to label the series in the response.
          type: array
          items:
            example: main_series
            type: string
      - name: dateRange
        in: query
        description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
        schema:
          description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
          type: array
          items:
            example: 7d
            pattern: ^((([1-9]|[1-9][0-9]|[1-2][0-9][0-9]|3[0-5][0-9]|36[0-4])[d](control)?)|(([1-9]|[1-4][0-9]|5[0-2])[w](control)?))$
            type: string
          example: 7d
      - name: dateStart
        in: query
        description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: dateEnd
        in: query
        description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: asn
        in: query
        description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
        schema:
          description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
          type: array
          items:
            type: string
          example: '15169'
      - name: location
        in: query
        description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
        schema:
          description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
          type: array
          items:
            type: string
          example: US,CA
      - name: continent
        in: query
        description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
        schema:
          description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
          type: array
          items:
            type: string
          example: EU,NA
      - name: geoId
        in: query
        description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
        schema:
          description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
          type: array
          items:
            type: string
          example: 2267056,360689
      - name: botClass
        in: query
        description: Filters results by bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/).
        schema:
          description: Filters results by bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/).
          type: array
          items:
            enum:
            - LIKELY_AUTOMATED
            - LIKELY_HUMAN
            type: string
          example: LIKELY_AUTOMATED
      - name: httpProtocol
        in: query
        description: Filters results by HTTP protocol (HTTP vs. HTTPS).
        schema:
          description: Filters results by HTTP protocol (HTTP vs. HTTPS).
          type: array
          items:
            enum:
            - HTTP
            - HTTPS
            type: string
          example: HTTPS
      - name: httpVersion
        in: query
        description: Filters results by HTTP version.
        schema:
          description: Filters results by HTTP version.
          type: array
          items:
            enum:
            - HTTPv1
            - HTTPv2
            - HTTPv3
            type: string
          example: HTTPv1
      - name: ipVersion
        in: query
        description: Filters results by IP version (Ipv4 vs. IPv6).
        schema:
          description: Filters results by IP version (Ipv4 vs. IPv6).
          type: array
          items:
            enum:
            - IPv4
            - IPv6
            type: string
          example: IPv4
      - name: os
        in: query
        description: Filters results by operating system.
        schema:
          description: Filters results by operating system.
          type: array
          items:
            enum:
            - WINDOWS
            - MACOSX
            - IOS
            - ANDROID
            - CHROMEOS
            - LINUX
            - SMART_TV
            type: string
          example: WINDOWS
      - name: tlsVersion
        in: query
        description: Filters results by TLS version.
        schema:
          description: Filters results by TLS version.
          type: array
          items:
            enum:
            - TLSv1_0
            - TLSv1_1
            - TLSv1_2
            - TLSv1_3
            - TLSvQUIC
            type: string
          example: TLSv1_2
      - name: browserFamily
        in: query
        description: Filters results by browser family.
        schema:
          description: Filters results by browser family.
          type: array
          items:
            enum:
            - CHROME
            - EDGE
            - FIREFOX
            - SAFARI
            type: string
          example: CHROME
      - name: format
        in: query
        description: Format in which results will be returned.
        schema:
          description: Format in which results will be returned.
          type: string
          example: json
          enum:
          - JSON
          - CSV
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      meta:
                        description: Metadata for the results.
                        type: object
                        properties:
                          confidenceInfo:
                            type: object
                            properties:
                              annotations:
                                type: array
                                items:
                                  description: Annotation associated with the result (e.g. outage or other type of event).
                                  properties:
                                    dataSource:
                                      description: Data source for annotations.
                                      type: string
                                      enum:
                                      - ALL
                                      - AI_BOTS
                                      - AI_GATEWAY
                                      - BGP
                                      - BOTS
                                      - CONNECTION_ANOMALY
                                      - CT
                                      - DNS
                                      - DNS_MAGNITUDE
                                      - DNS_AS112
                                      - DOS
                                      - EMAIL_ROUTING
                                      - EMAIL_SECURITY
                                      - FW
                                      - FW_PG
                                      - HTTP
                                      - HTTP_CONTROL
                                      - HTTP_CRAWLER_REFERER
                                      - HTTP_ORIGINS
                                      - IQI
                                      - LEAKED_CREDENTIALS
                                      - NET
                                      - ROBOTS_TXT
                                      - SPEED
                                      - WORKERS_AI
                                    description:
                                      type: string
                                      example: Cable cut in Tonga
                                    endDate:
                                      type: string
                                      format: date-time
                                    eventType:
                                      description: Event type for annotations.
                                      type: string
                                      enum:
                                      - GENERAL
                                      - OUTAGE
                                      - PARTIAL_PROJECTION
                                      - PIPELINE
                                      - TRAFFIC_ANOMALY
                                    isInstantaneous:
                                      description: Whether event is a single point in time or a time range.
                                      type: boolean
                                    linkedUrl:
                                      type: string
                                      format: uri
                                    startDate:
                                      type: string
                                      format: date-time
                                    tags:
                                      type: array
                                      items:
                                        example: BOT_CLASS
                                        type: string
                                  required:
                                  - dataSource
                                  - eventType
                                  - description
                                  - startDate
                                  - endDate
                                  - linkedUrl
                                  - isInstantaneous
                                  type: object
                              level:
                                description: Provides an indication of how much confidence Cloudflare has in the data.
                                type: integer
                            required:
                            - level
                            - annotations
                          dateRange:
                            type: array
                            items:
                              properties:
                                endTime:
                                  description: Adjusted end of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-17T10:22:57.555Z'
                                startTime:
                                  description: Adjusted start of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-16T10:22:57.555Z'
                              required:
                              - startTime
                              - endTime
                              type: object
                          lastUpdated:
                            description: Timestamp of the last dataset update.
                            type: string
                            format: date-time
                          normalization:
                            description: Normalization method applied to the results. Refer to [Normalization methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                            type: string
                            enum:
                            - PERCENTAGE
                            - MIN0_MAX
                            - MIN_MAX
                            - RAW_VALUES
                            - PERCENTAGE_CHANGE
                            - ROLLING_AVERAGE
                            - OVERLAPPED_PERCENTAGE
                            - RATIO
                          units:
                            description: Measurement units for the results.
                            type: array
                            items:
                              properties:
                                name:
                                  type: string
                                  example: '*'
                                value:
                                  type: string
                                  example: requests
                              required:
                              - name
                              - value
                              type: object
                        required:
                        - dateRange
                        - confidenceInfo
                        - normalization
                        - lastUpdated
                        - units
                      summary_0:
                        type: object
                        properties:
                          desktop:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                          mobile:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                          other:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                        required:
                        - desktop
                        - mobile
                        - other
                    required:
                    - summary_0
                    - meta
                  success:
                    type: boolean
                    example: true
                required:
                - result
                - success
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      deprecated: true
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Radar HTTP
      x-api-token-group:
      - User Details Write
      - User Details Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: radar.http.summary
      x-fern-sdk-method-name: device-type
      x-forge-hidden: true
      x-stainless-deprecation-message: Use [Radar HTTP Summary By Dimension](https://developers.cloudflare.com/api/resources/radar/subresources/http/methods/summary_v2/) instead.
  /radar/http/summary/http_protocol:
    get:
      operationId: radar-get-http-summary-by-http-protocol
      summary: Get HTTP requests by HTTP/HTTPS summary
      description: Retrieves the distribution of HTTP requests by HTTP protocol (HTTP vs. HTTPS).
      parameters:
      - name: name
        in: query
        description: Array of names used to label the series in the response.
        schema:
          description: Array of names used to label the series in the response.
          type: array
          items:
            example: main_series
            type: string
      - name: dateRange
        in: query
        description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
        schema:
          description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
          type: array
          items:
            example: 7d
            pattern: ^((([1-9]|[1-9][0-9]|[1-2][0-9][0-9]|3[0-5][0-9]|36[0-4])[d](control)?)|(([1-9]|[1-4][0-9]|5[0-2])[w](control)?))$
            type: string
          example: 7d
      - name: dateStart
        in: query
        description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: dateEnd
        in: query
        description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: asn
        in: query
        description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
        schema:
          description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
          type: array
          items:
            type: string
          example: '15169'
      - name: location
        in: query
        description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
        schema:
          description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
          type: array
          items:
            type: string
          example: US,CA
      - name: continent
        in: query
        description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
        schema:
          description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
          type: array
          items:
            type: string
          example: EU,NA
      - name: geoId
        in: query
        description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
        schema:
          description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
          type: array
          items:
            type: string
          example: 2267056,360689
      - name: botClass
        in: query
        description: Filters results by bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/).
        schema:
          description: Filters results by bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/).
          type: array
          items:
            enum:
            - LIKELY_AUTOMATED
            - LIKELY_HUMAN
            type: string
          example: LIKELY_AUTOMATED
      - name: deviceType
        in: query
        description: Filters results by device type.
        schema:
          description: Filters results by device type.
          type: array
          items:
            enum:
            - DESKTOP
            - MOBILE
            - OTHER
            type: string
          example: DESKTOP
      - name: httpVersion
        in: query
        description: Filters results by HTTP version.
        schema:
          description: Filters results by HTTP version.
          type: array
          items:
            enum:
            - HTTPv1
            - HTTPv2
            - HTTPv3
            type: string
          example: HTTPv1
      - name: ipVersion
        in: query
        description: Filters results by IP version (Ipv4 vs. IPv6).
        schema:
          description: Filters results by IP version (Ipv4 vs. IPv6).
          type: array
          items:
            enum:
            - IPv4
            - IPv6
            type: string
          example: IPv4
      - name: os
        in: query
        description: Filters results by operating system.
        schema:
          description: Filters results by operating system.
          type: array
          items:
            enum:
            - WINDOWS
            - MACOSX
            - IOS
            - ANDROID
            - CHROMEOS
            - LINUX
            - SMART_TV
            type: string
          example: WINDOWS
      - name: tlsVersion
        in: query
        description: Filters results by TLS version.
        schema:
          description: Filters results by TLS version.
          type: array
          items:
            enum:
            - TLSv1_0
            - TLSv1_1
            - TLSv1_2
            - TLSv1_3
            - TLSvQUIC
            type: string
          example: TLSv1_2
      - name: browserFamily
        in: query
        description: Filters results by browser family.
        schema:
          description: Filters results by browser family.
          type: array
          items:
            enum:
            - CHROME
            - EDGE
            - FIREFOX
            - SAFARI
            type: string
          example: CHROME
      - name: format
        in: query
        description: Format in which results will be returned.
        schema:
          description: Format in which results will be returned.
          type: string
          example: json
          enum:
          - JSON
          - CSV
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      meta:
                        description: Metadata for the results.
                        type: object
                        properties:
                          confidenceInfo:
                            type: object
                            properties:
                              annotations:
                                type: array
                                items:
                                  description: Annotation associated with the result (e.g. outage or other type of event).
                                  properties:
                                    dataSource:
                                      description: Data source for annotations.
                                      type: string
                                      enum:
                                      - ALL
                                      - AI_BOTS
                                      - AI_GATEWAY
                                      - BGP
                                      - BOTS
                                      - CONNECTION_ANOMALY
                                      - CT
                                      - DNS
                                      - DNS_MAGNITUDE
                                      - DNS_AS112
                                      - DOS
                                      - EMAIL_ROUTING
                                      - EMAIL_SECURITY
                                      - FW
                                      - FW_PG
                                      - HTTP
                                      - HTTP_CONTROL
                                      - HTTP_CRAWLER_REFERER
                                      - HTTP_ORIGINS
                                      - IQI
                                      - LEAKED_CREDENTIALS
                                      - NET
                                      - ROBOTS_TXT
                                      - SPEED
                                      - WORKERS_AI
                                    description:
                                      type: string
                                      example: Cable cut in Tonga
                                    endDate:
                                      type: string
                                      format: date-time
                                    eventType:
                                      description: Event type for annotations.
                                      type: string
                                      enum:
                                      - GENERAL
                                      - OUTAGE
                                      - PARTIAL_PROJECTION
                                      - PIPELINE
                                      - TRAFFIC_ANOMALY
                                    isInstantaneous:
                                      description: Whether event is a single point in time or a time range.
                                      type: boolean
                                    linkedUrl:
                                      type: string
                                      format: uri
                                    startDate:
                                      type: string
                                      format: date-time
                                    tags:
                                      type: array
                                      items:
                                        example: BOT_CLASS
                                        type: string
                                  required:
                                  - dataSource
                                  - eventType
                                  - description
                                  - startDate
                                  - endDate
                                  - linkedUrl
                                  - isInstantaneous
                                  type: object
                              level:
                                description: Provides an indication of how much confidence Cloudflare has in the data.
                                type: integer
                            required:
                            - level
                            - annotations
                          dateRange:
                            type: array
                            items:
                              properties:
                                endTime:
                                  description: Adjusted end of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-17T10:22:57.555Z'
                                startTime:
                                  description: Adjusted start of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-16T10:22:57.555Z'
                              required:
                              - startTime
                              - endTime
                              type: object
                          lastUpdated:
                            description: Timestamp of the last dataset update.
                            type: string
                            format: date-time
                          normalization:
                            description: Normalization method applied to the results. Refer to [Normalization methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                            type: string
                            enum:
                            - PERCENTAGE
                            - MIN0_MAX
                            - MIN_MAX
                            - RAW_VALUES
                            - PERCENTAGE_CHANGE
                            - ROLLING_AVERAGE
                            - OVERLAPPED_PERCENTAGE
                            - RATIO
                          units:
                            description: Measurement units for the results.
                            type: array
                            items:
                              properties:
                                name:
                                  type: string
                                  example: '*'
                                value:
                                  type: string
                                  example: requests
                              required:
                              - name
                              - value
                              type: object
                        required:
                        - dateRange
                        - confidenceInfo
                        - normalization
                        - lastUpdated
                        - units
                      summary_0:
                        type: object
                        properties:
                          http:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                          https:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                        required:
                        - http
                        - https
                    required:
                    - summary_0
                    - meta
                  success:
                    type: boolean
                    example: true
                required:
                - result
                - success
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      deprecated: true
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Radar HTTP
      x-api-token-group:
      - User Details Write
      - User Details Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: radar.http.summary
      x-fern-sdk-method-name: http-protocol
      x-forge-hidden: true
      x-stainless-deprecation-message: Use [Radar HTTP Summary By Dimension](https://developers.cloudflare.com/api/resources/radar/subresources/http/methods/summary_v2/) instead.
  /radar/http/summary/http_version:
    get:
      operationId: radar-get-http-summary-by-http-version
      summary: Get HTTP requests by HTTP version summary
      description: Retrieves the distribution of HTTP requests by HTTP version.
      parameters:
      - name: name
        in: query
        description: Array of names used to label the series in the response.
        schema:
          description: Array of names used to label the series in the response.
          type: array
          items:
            example: main_series
            type: string
      - name: dateRange
        in: query
        description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
        schema:
          description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
          type: array
          items:
            example: 7d
            pattern: ^((([1-9]|[1-9][0-9]|[1-2][0-9][0-9]|3[0-5][0-9]|36[0-4])[d](control)?)|(([1-9]|[1-4][0-9]|5[0-2])[w](control)?))$
            type: string
          example: 7d
      - name: dateStart
        in: query
        description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: dateEnd
        in: query
        description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: asn
        in: query
        description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
        schema:
          description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
          type: array
          items:
            type: string
          example: '15169'
      - name: location
        in: query
        description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
        schema:
          description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
          type: array
          items:
            type: string
          example: US,CA
      - name: continent
        in: query
        description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
        schema:
          description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
          type: array
          items:
            type: string
          example: EU,NA
      - name: geoId
        in: query
        description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
        schema:
          description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
          type: array
          items:
            type: string
          example: 2267056,360689
      - name: botClass
        in: query
        description: Filters results by bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/).
        schema:
          description: Filters results by bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/).
          type: array
          items:
            enum:
            - LIKELY_AUTOMATED
            - LIKELY_HUMAN
            type: string
          example: LIKELY_AUTOMATED
      - name: deviceType
        in: query
        description: Filters results by device type.
        schema:
          description: Filters results by device type.
          type: array
          items:
            enum:
            - DESKTOP
            - MOBILE
            - OTHER
            type: string
          example: DESKTOP
      - name: httpProtocol
        in: query
        description: Filters results by HTTP protocol (HTTP vs. HTTPS).
        schema:
          description: Filters results by HTTP protocol (HTTP vs. HTTPS).
          type: array
          items:
            enum:
            - HTTP
            - HTTPS
            type: string
          example: HTTPS
      - name: ipVersion
        in: query
        description: Filters results by IP version (Ipv4 vs. IPv6).
        schema:
          description: Filters results by IP version (Ipv4 vs. IPv6).
          type: array
          items:
            enum:
            - IPv4
            - IPv6
            type: string
          example: IPv4
      - name: os
        in: query
        description: Filters results by operating system.
        schema:
          description: Filters results by operating system.
          type: array
          items:
            enum:
            - WINDOWS
            - MACOSX
            - IOS
            - ANDROID
            - CHROMEOS
            - LINUX
            - SMART_TV
            type: string
          example: WINDOWS
      - name: tlsVersion
        in: query
        description: Filters results by TLS version.
        schema:
          description: Filters results by TLS version.
          type: array
          items:
            enum:
            - TLSv1_0
            - TLSv1_1
            - TLSv1_2
            - TLSv1_3
            - TLSvQUIC
            type: string
          example: TLSv1_2
      - name: browserFamily
        in: query
        description: Filters results by browser family.
        schema:
          description: Filters results by browser family.
          type: array
          items:
            enum:
            - CHROME
            - EDGE
            - FIREFOX
            - SAFARI
            type: string
          example: CHROME
      - name: format
        in: query
        description: Format in which results will be returned.
        schema:
          description: Format in which results will be returned.
          type: string
          example: json
          enum:
          - JSON
          - CSV
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      meta:
                        description: Metadata for the results.
                        type: object
                        properties:
                          confidenceInfo:
                            type: object
                            properties:
                              annotations:
                                type: array
                                items:
                                  description: Annotation associated with the result (e.g. outage or other type of event).
                                  properties:
                                    dataSource:
                                      description: Data source for annotations.
                                      type: string
                                      enum:
                                      - ALL
                                      - AI_BOTS
                                      - AI_GATEWAY
                                      - BGP
                                      - BOTS
                                      - CONNECTION_ANOMALY
                                      - CT
                                      - DNS
                                      - DNS_MAGNITUDE
                                      - DNS_AS112
                                      - DOS
                                      - EMAIL_ROUTING
                                      - EMAIL_SECURITY
                                      - FW
                                      - FW_PG
                                      - HTTP
                                      - HTTP_CONTROL
                                      - HTTP_CRAWLER_REFERER
                                      - HTTP_ORIGINS
                                      - IQI
                                      - LEAKED_CREDENTIALS
                                      - NET
                                      - ROBOTS_TXT
                                      - SPEED
                                      - WORKERS_AI
                                    description:
                                      type: string
                                      example: Cable cut in Tonga
                                    endDate:
                                      type: string
                                      format: date-time
                                    eventType:
                                      description: Event type for annotations.
                                      type: string
                                      enum:
                                      - GENERAL
                                      - OUTAGE
                                      - PARTIAL_PROJECTION
                                      - PIPELINE
                                      - TRAFFIC_ANOMALY
                                    isInstantaneous:
                                      description: Whether event is a single point in time or a time range.
                                      type: boolean
                                    linkedUrl:
                                      type: string
                                      format: uri
                                    startDate:
                                      type: string
                                      format: date-time
                                    tags:
                                      type: array
                                      items:
                                        example: BOT_CLASS
                                        type: string
                                  required:
                                  - dataSource
                                  - eventType
                                  - description
                                  - startDate
                                  - endDate
                                  - linkedUrl
                                  - isInstantaneous
                                  type: object
                              level:
                                description: Provides an indication of how much confidence Cloudflare has in the data.
                                type: integer
                            required:
                            - level
                            - annotations
                          dateRange:
                            type: array
                            items:
                              properties:
                                endTime:
                                  description: Adjusted end of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-17T10:22:57.555Z'
                                startTime:
                                  description: Adjusted start of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-16T10:22:57.555Z'
                              required:
                              - startTime
                              - endTime
                              type: object
                          lastUpdated:
                            description: Timestamp of the last dataset update.
                            type: string
                            format: date-time
                          normalization:
                            description: Normalization method applied to the results. Refer to [Normalization methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                            type: string
                            enum:
                            - PERCENTAGE
                            - MIN0_MAX
                            - MIN_MAX
                            - RAW_VALUES
                            - PERCENTAGE_CHANGE
                            - ROLLING_AVERAGE
                            - OVERLAPPED_PERCENTAGE
                            - RATIO
                          units:
                            description: Measurement units for the results.
                            type: array
                            items:
                              properties:
                                name:
                                  type: string
                                  example: '*'
                                value:
                                  type: string
                                  example: requests
                              required:
                              - name
                              - value
                              type: object
                        required:
                        - dateRange
                        - confidenceInfo
                        - normalization
                        - lastUpdated
                        - units
                      summary_0:
                        type: object
                        properties:
                          HTTP/1.x:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                          HTTP/2:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                          HTTP/3:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                        required:
                        - HTTP/1.x
                        - HTTP/2
                        - HTTP/3
                    required:
                    - summary_0
                    - meta
                  success:
                    type: boolean
                    example: true
                required:
                - result
                - success
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      deprecated: true
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Radar HTTP
      x-api-token-group:
      - User Details Write
      - User Details Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: radar.http.summary
      x-fern-sdk-method-name: http-version
      x-forge-hidden: true
      x-stainless-deprecation-message: Use [Radar HTTP Summary By Dimension](https://developers.cloudflare.com/api/resources/radar/subresources/http/methods/summary_v2/) instead.
  /radar/http/summary/ip_version:
    get:
      operationId: radar-get-http-summary-by-ip-version
      summary: Get HTTP requests by IP version summary
      description: Retrieves the distribution of HTTP requests by IP version.
      parameters:
      - name: name
        in: query
        description: Array of names used to label the series in the response.
        schema:
          description: Array of names used to label the series in the response.
          type: array
          items:
            example: main_series
            type: string
      - name: dateRange
        in: query
        description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
        schema:
          description: 'Filters results by relative date range ending at the current time, with each value producing a separate series. Use `<n>d` for days (up to `364d`) or `<n>w` for weeks (up to `52w`). Append `control` to request the equivalent previous period for comparison: the comparison window is shifted back by the current window''s length rounded up to a whole number of weeks, so it keeps the same weekday alignment and does not overlap the current window (e.g. `7dcontrol` covers days -14 to -7, `10dcontrol` covers days -24 to -14). For example, pass `7d` and `7dcontrol` to compare this week with the previous week. All series must resolve to the same duration as the main series; relative ranges (including `control`) satisfy this automatically. Use this parameter or set specific start and end dates (`dateStart` and `dateEnd` parameters).'
          type: array
          items:
            example: 7d
            pattern: ^((([1-9]|[1-9][0-9]|[1-2][0-9][0-9]|3[0-5][0-9]|36[0-4])[d](control)?)|(([1-9]|[1-4][0-9]|5[0-2])[w](control)?))$
            type: string
          example: 7d
      - name: dateStart
        in: query
        description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: Start of the date range. Alternative to `dateRange`; provide together with `dateEnd`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: dateEnd
        in: query
        description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
        schema:
          description: End of the date range (inclusive). Alternative to `dateRange`; provide together with `dateStart`. When requesting comparison series, every series must resolve to the same duration as the main series. Each `dateStart`/`dateEnd` is floored to the nearest 15 minutes before evaluation, so windows whose durations match only before alignment may be rejected.
          type: array
          items:
            format: date-time
            type: string
          example: '2023-09-01T11:41:33.782Z'
      - name: asn
        in: query
        description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
        schema:
          description: Filters results by Autonomous System. Specify one or more Autonomous System Numbers (ASNs) as a comma-separated list. Prefix with `-` to exclude ASNs from results. For example, `-174, 3356` excludes results from AS174, but includes results from AS3356.
          type: array
          items:
            type: string
          example: '15169'
      - name: location
        in: query
        description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
        schema:
          description: Filters results by location. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude locations from results. For example, `-US,PT` excludes results from the US, but includes results from PT.
          type: array
          items:
            type: string
          example: US,CA
      - name: continent
        in: query
        description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
        schema:
          description: Filters results by continent. Specify a comma-separated list of alpha-2 codes. Prefix with `-` to exclude continents from results. For example, `-EU,NA` excludes results from EU, but includes results from NA.
          type: array
          items:
            type: string
          example: EU,NA
      - name: geoId
        in: query
        description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
        schema:
          description: Filters results by Geolocation. Specify a comma-separated list of GeoNames IDs. Prefix with `-` to exclude geoIds from results. For example, `-2267056,360689` excludes results from the 2267056 (Lisbon), but includes results from 5128638 (New York).
          type: array
          items:
            type: string
          example: 2267056,360689
      - name: botClass
        in: query
        description: Filters results by bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/).
        schema:
          description: Filters results by bot class. Refer to [Bot classes](https://developers.cloudflare.com/radar/concepts/bot-classes/).
          type: array
          items:
            enum:
            - LIKELY_AUTOMATED
            - LIKELY_HUMAN
            type: string
          example: LIKELY_AUTOMATED
      - name: deviceType
        in: query
        description: Filters results by device type.
        schema:
          description: Filters results by device type.
          type: array
          items:
            enum:
            - DESKTOP
            - MOBILE
            - OTHER
            type: string
          example: DESKTOP
      - name: httpProtocol
        in: query
        description: Filters results by HTTP protocol (HTTP vs. HTTPS).
        schema:
          description: Filters results by HTTP protocol (HTTP vs. HTTPS).
          type: array
          items:
            enum:
            - HTTP
            - HTTPS
            type: string
          example: HTTPS
      - name: httpVersion
        in: query
        description: Filters results by HTTP version.
        schema:
          description: Filters results by HTTP version.
          type: array
          items:
            enum:
            - HTTPv1
            - HTTPv2
            - HTTPv3
            type: string
          example: HTTPv1
      - name: os
        in: query
        description: Filters results by operating system.
        schema:
          description: Filters results by operating system.
          type: array
          items:
            enum:
            - WINDOWS
            - MACOSX
            - IOS
            - ANDROID
            - CHROMEOS
            - LINUX
            - SMART_TV
            type: string
          example: WINDOWS
      - name: tlsVersion
        in: query
        description: Filters results by TLS version.
        schema:
          description: Filters results by TLS version.
          type: array
          items:
            enum:
            - TLSv1_0
            - TLSv1_1
            - TLSv1_2
            - TLSv1_3
            - TLSvQUIC
            type: string
          example: TLSv1_2
      - name: browserFamily
        in: query
        description: Filters results by browser family.
        schema:
          description: Filters results by browser family.
          type: array
          items:
            enum:
            - CHROME
            - EDGE
            - FIREFOX
            - SAFARI
            type: string
          example: CHROME
      - name: format
        in: query
        description: Format in which results will be returned.
        schema:
          description: Format in which results will be returned.
          type: string
          example: json
          enum:
          - JSON
          - CSV
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      meta:
                        description: Metadata for the results.
                        type: object
                        properties:
                          confidenceInfo:
                            type: object
                            properties:
                              annotations:
                                type: array
                                items:
                                  description: Annotation associated with the result (e.g. outage or other type of event).
                                  properties:
                                    dataSource:
                                      description: Data source for annotations.
                                      type: string
                                      enum:
                                      - ALL
                                      - AI_BOTS
                                      - AI_GATEWAY
                                      - BGP
                                      - BOTS
                                      - CONNECTION_ANOMALY
                                      - CT
                                      - DNS
                                      - DNS_MAGNITUDE
                                      - DNS_AS112
                                      - DOS
                                      - EMAIL_ROUTING
                                      - EMAIL_SECURITY
                                      - FW
                                      - FW_PG
                                      - HTTP
                                      - HTTP_CONTROL
                                      - HTTP_CRAWLER_REFERER
                                      - HTTP_ORIGINS
                                      - IQI
                                      - LEAKED_CREDENTIALS
                                      - NET
                                      - ROBOTS_TXT
                                      - SPEED
                                      - WORKERS_AI
                                    description:
                                      type: string
                                      example: Cable cut in Tonga
                                    endDate:
                                      type: string
                                      format: date-time
                                    eventType:
                                      description: Event type for annotations.
                                      type: string
                                      enum:
                                      - GENERAL
                                      - OUTAGE
                                      - PARTIAL_PROJECTION
                                      - PIPELINE
                                      - TRAFFIC_ANOMALY
                                    isInstantaneous:
                                      description: Whether event is a single point in time or a time range.
                                      type: boolean
                                    linkedUrl:
                                      type: string
                                      format: uri
                                    startDate:
                                      type: string
                                      format: date-time
                                    tags:
                                      type: array
                                      items:
                                        example: BOT_CLASS
                                        type: string
                                  required:
                                  - dataSource
                                  - eventType
                                  - description
                                  - startDate
                                  - endDate
                                  - linkedUrl
                                  - isInstantaneous
                                  type: object
                              level:
                                description: Provides an indication of how much confidence Cloudflare has in the data.
                                type: integer
                            required:
                            - level
                            - annotations
                          dateRange:
                            type: array
                            items:
                              properties:
                                endTime:
                                  description: Adjusted end of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-17T10:22:57.555Z'
                                startTime:
                                  description: Adjusted start of date range.
                                  type: string
                                  format: date-time
                                  example: '2022-09-16T10:22:57.555Z'
                              required:
                              - startTime
                              - endTime
                              type: object
                          lastUpdated:
                            description: Timestamp of the last dataset update.
                            type: string
                            format: date-time
                          normalization:
                            description: Normalization method applied to the results. Refer to [Normalization methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                            type: string
                            enum:
                            - PERCENTAGE
                            - MIN0_MAX
                            - MIN_MAX
                            - RAW_VALUES
                            - PERCENTAGE_CHANGE
                            - ROLLING_AVERAGE
                            - OVERLAPPED_PERCENTAGE
                            - RATIO
                          units:
                            description: Measurement units for the results.
                            type: array
                            items:
                              properties:
                                name:
                                  type: string
                                  example: '*'
                                value:
                                  type: string
                                  example: requests
                              required:
                              - name
                              - value
                              type: object
                        required:
                        - dateRange
                        - confidenceInfo
                        - normalization
                        - lastUpdated
                        - units
                      summary_0:
                        type: object
                        properties:
                          IPv4:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                          IPv6:
                            description: A numeric string.
                            type: string
                            example: '10'
                            pattern: ^-?\d+(\.\d+)?$
                        required:
                        - IPv4
                        - IPv6
                    required:
                    - summary_0
                    - meta
                  success:
                    type: boolean
                    example: true
                required:
                - result
                - success
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  result:
                    type: object
                  success:
                    type: boolean
                    example: false
                required:
                - result
                - success
                - errors
      deprecated: true
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Radar HTTP
      x-api-token-group:
      - User Details Write
      - User Details Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-sdk-group-name: radar.http.summary
      x-fern-sdk-method-name: ip-version
      x-forge-hidden: true
      x-stainless-deprecation-message: Use [Radar HTTP Summary By Dimension](https://developers.cloudflare.com/api/resources/radar/subresources/http/methods/summary_v2/) instead.
  /radar/http/summary/os:
    get:
      operationId: radar-get-http-summary-by-operating-system
      summary: Get HTTP requests by OS summary
      description: Retrieves the distribution of HTTP requests by operating system (Windows, macOS, Android, iOS, and others).
      parameters:
      - name: name
        in: query
        description: Array of names used to label the series in the response.
        schema:
          description: Array of names used to label the series in the response.
          type: array
          items:
            example: main_series
            type: string
      - name: dateRange
        in: query
[...]
