openapi: 3.1.0
info:
  title: Cloudflare Workers AI API
  description: >-
    The Cloudflare Workers AI API enables developers to run machine learning
    models on Cloudflare's global network via a REST API. It supports text
    generation, embeddings, image classification, speech recognition, and other
    AI tasks with OpenAI-compatible endpoints for chat completions, text
    completions, and embeddings.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
externalDocs:
  description: Cloudflare Workers AI Documentation
  url: https://developers.cloudflare.com/workers-ai/
servers:
  - url: https://api.cloudflare.com/client/v4
    description: Cloudflare API v4 Production Server
tags:
  - name: AI Inference
    description: >-
      Execute AI models for text generation, embeddings, image classification,
      and other machine learning tasks.
  - name: OpenAI Compatible
    description: >-
      OpenAI-compatible endpoints for chat completions, text completions,
      embeddings, and responses.
security:
  - bearerAuth: []
paths:
  /accounts/{account_id}/ai/run/{model}:
    post:
      operationId: executeAiModel
      summary: Execute AI model
      description: >-
        Run an AI model on Cloudflare's global network. The model parameter
        specifies which model to invoke from the Workers AI catalog. Supports
        text generation, text-to-image, image classification, speech-to-text,
        translation, summarization, and embedding models.
      tags:
        - AI Inference
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: model
          in: path
          required: true
          description: >-
            The model identifier to execute, e.g. @cf/meta/llama-3.1-8b-instruct.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiRunRequest'
      responses:
        '200':
          description: Model executed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiRunResponse'
        '400':
          description: Bad request due to invalid input.
        '401':
          description: Unauthorized.
        '404':
          description: Model not found.
  /accounts/{account_id}/ai/v1/chat/completions:
    post:
      operationId: createChatCompletion
      summary: Create chat completion
      description: >-
        OpenAI-compatible endpoint for chat completions. Accepts a messages
        array and returns a model-generated response. Supports streaming via
        server-sent events.
      tags:
        - OpenAI Compatible
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/ai/v1/completions:
    post:
      operationId: createTextCompletion
      summary: Create text completion
      description: >-
        OpenAI-compatible endpoint for text completions. Accepts a prompt
        string and returns a model-generated continuation.
      tags:
        - OpenAI Compatible
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  description: The model identifier to use.
                prompt:
                  type: string
                  description: The text prompt to complete.
                max_tokens:
                  type: integer
                  description: Maximum number of tokens to generate.
                temperature:
                  type: number
                  description: Sampling temperature between 0 and 2.
                  minimum: 0
                  maximum: 2
                stream:
                  type: boolean
                  description: Whether to stream the response.
      responses:
        '200':
          description: Text completion generated successfully.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/ai/v1/embeddings:
    post:
      operationId: createEmbeddings
      summary: Create embeddings
      description: >-
        OpenAI-compatible endpoint for generating text embeddings. Converts
        text into numerical vector representations for semantic search,
        similarity analysis, and classification.
      tags:
        - OpenAI Compatible
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  description: The embedding model identifier.
                input:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                  description: The text or array of texts to embed.
      responses:
        '200':
          description: Embeddings generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/ai/v1/responses:
    post:
      operationId: createResponse
      summary: Create response
      description: >-
        OpenAI-compatible responses endpoint for generating model responses
        with additional tool use and structured output capabilities.
      tags:
        - OpenAI Compatible
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  description: The model identifier.
                input:
                  type: string
                  description: The input text for the model.
      responses:
        '200':
          description: Response generated successfully.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API token with Workers AI Read and Edit permissions.
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  schemas:
    AiRunRequest:
      type: object
      properties:
        prompt:
          type: string
          description: The input prompt for text generation models.
        messages:
          type: array
          description: >-
            Array of messages for chat-style models.
          items:
            type: object
            properties:
              role:
                type: string
                enum:
                  - system
                  - user
                  - assistant
              content:
                type: string
        image:
          type: array
          items:
            type: integer
          description: Raw image bytes for image classification models.
        text:
          type: string
          description: Text input for embedding or translation models.
        source_lang:
          type: string
          description: Source language code for translation.
        target_lang:
          type: string
          description: Target language code for translation.
        max_tokens:
          type: integer
          description: Maximum number of tokens to generate.
        temperature:
          type: number
          description: Sampling temperature.
        stream:
          type: boolean
          description: Whether to stream the response using server-sent events.
    AiRunResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            response:
              type: string
              description: The generated text response.
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
        messages:
          type: array
          items:
            type: object
    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: >-
            The model identifier, e.g. @cf/meta/llama-3.1-8b-instruct.
        messages:
          type: array
          items:
            type: object
            required:
              - role
              - content
            properties:
              role:
                type: string
                enum:
                  - system
                  - user
                  - assistant
              content:
                type: string
        max_tokens:
          type: integer
          description: Maximum number of tokens to generate.
        temperature:
          type: number
          description: Sampling temperature between 0 and 2.
          minimum: 0
          maximum: 2
        top_p:
          type: number
          description: Nucleus sampling parameter.
          minimum: 0
          maximum: 1
        stream:
          type: boolean
          description: Whether to stream the response via server-sent events.
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the completion.
        object:
          type: string
          const: chat.completion
        created:
          type: integer
          description: Unix timestamp of when the completion was created.
        model:
          type: string
          description: The model used for the completion.
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                  content:
                    type: string
              finish_reason:
                type: string
                enum:
                  - stop
                  - length
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                const: embedding
              index:
                type: integer
              embedding:
                type: array
                items:
                  type: number
        model:
          type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            total_tokens:
              type: integer
