openapi: 3.0.3
info:
  title: Cloudflare / Accounts Versions API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Versions
  description: Manage immutable snapshots of Worker code and configuration.
paths:
  /accounts/{account_id}/workers/workers/{worker_id}/versions:
    get:
      operationId: listVersions
      summary: Cloudflare List Worker Versions
      description: Retrieve all immutable versions of a Worker's code and configuration.
      tags:
      - Versions
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WorkerId'
      responses:
        '200':
          description: List of Worker versions.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createVersion
      summary: Cloudflare Create Worker Version
      description: Create a new immutable snapshot of Worker code and configuration.
      tags:
      - Versions
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WorkerId'
      responses:
        '200':
          description: Version created successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    WorkerId:
      name: worker_id
      in: path
      required: true
      description: The unique identifier of the Worker.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
