openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Registrar Registration API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Registrar Registration
paths:
  /accounts/{account_id}/registrar-sandbox/registrations:
    get:
      operationId: sandbox-registrar-domain-registration-list
      summary: List Registrations
      description: 'Returns a paginated list of domain registrations owned by the account.


        This endpoint uses cursor-based pagination. Results are ordered by registration

        date by default. To fetch the next page, pass the `cursor` value from the

        `result_info` object in the response as the `cursor` query parameter in

        your next request. An empty `cursor` string indicates there are no more

        pages.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_identifier'
      - $ref: '#/components/parameters/registrar-api-sandbox_cursor_pagination_cursor'
      - $ref: '#/components/parameters/registrar-api-sandbox_cursor_pagination_per_page'
      - $ref: '#/components/parameters/registrar-api-sandbox_cursor_pagination_direction'
      - name: sort_by
        in: query
        description: Column to sort results by. Defaults to registration date (`registry_created_at`) when omitted.
        schema:
          type: string
          default: registry_created_at
          enum:
          - registry_created_at
          - registry_expires_at
          - name
      responses:
        '200':
          description: List of registrations for the account.
          content:
            application/json:
              examples:
                empty_account:
                  summary: Account with no registrations
                  value:
                    errors: []
                    messages: []
                    result: []
                    result_info:
                      count: 0
                      cursor: ''
                      per_page: 20
                    success: true
                multiple_domains:
                  summary: Account with multiple domains
                  value:
                    errors: []
                    messages: []
                    result:
                    - auto_renew: true
                      created_at: '2025-01-15T10:00:00Z'
                      domain_name: example.com
                      expires_at: '2026-01-15T10:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: false
                      created_at: '2025-03-20T14:30:00Z'
                      domain_name: mybrand.dev
                      expires_at: '2026-03-20T14:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    result_info:
                      count: 2
                      cursor: ''
                      per_page: 20
                    success: true
                next_page:
                  description: Response when fetching the next page by passing the cursor from a previous response. The empty cursor indicates this is the last page.
                  summary: Next page of results (last page)
                  value:
                    errors: []
                    messages: []
                    result:
                    - auto_renew: true
                      created_at: '2025-04-01T09:00:00Z'
                      domain_name: charlie.org
                      expires_at: '2026-04-01T09:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    result_info:
                      count: 1
                      cursor: ''
                      per_page: 20
                    success: true
                paginated:
                  summary: First page with more results available
                  value:
                    errors: []
                    messages: []
                    result:
                    - auto_renew: true
                      created_at: '2024-01-15T09:30:00Z'
                      domain_name: acmecorp.com
                      expires_at: '2026-01-15T09:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-02-20T14:00:00Z'
                      domain_name: brightwave.net
                      expires_at: '2026-02-20T14:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-03-05T11:15:00Z'
                      domain_name: cloudpeak.org
                      expires_at: '2026-03-05T11:15:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-03-22T08:45:00Z'
                      domain_name: solarpanel.io
                      expires_at: '2026-03-22T08:45:00Z'
                      locked: true
                      privacy_mode: 'off'
                      status: active
                    - auto_renew: false
                      created_at: '2024-04-10T16:00:00Z'
                      domain_name: greenleaf.dev
                      expires_at: '2026-04-10T16:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-05-03T10:30:00Z'
                      domain_name: swiftrunner.app
                      expires_at: '2026-05-03T10:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: false
                      created_at: '2024-05-18T13:00:00Z'
                      domain_name: northerntrail.co
                      expires_at: '2025-05-18T13:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: expired
                    - auto_renew: true
                      created_at: '2024-06-01T07:20:00Z'
                      domain_name: pixelforge.xyz
                      expires_at: '2026-06-01T07:20:00Z'
                      locked: false
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-06-25T15:45:00Z'
                      domain_name: oceandrift.com
                      expires_at: '2026-06-25T15:45:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-07-12T09:00:00Z'
                      domain_name: rocketlaunch.net
                      expires_at: '2026-07-12T09:00:00Z'
                      locked: true
                      privacy_mode: 'off'
                      status: active
                    - auto_renew: false
                      created_at: '2024-08-08T12:30:00Z'
                      domain_name: blueprintlab.io
                      expires_at: '2026-08-08T12:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-09-01T18:00:00Z'
                      domain_name: maplewood.org
                      expires_at: '2026-09-01T18:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: false
                      created_at: '2024-09-20T10:15:00Z'
                      domain_name: thunderbolt.dev
                      expires_at: '2025-09-20T10:15:00Z'
                      locked: false
                      privacy_mode: 'off'
                      status: expired
                    - auto_renew: true
                      created_at: '2024-10-05T14:45:00Z'
                      domain_name: silverbranch.app
                      expires_at: '2026-10-05T14:45:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-11-11T08:00:00Z'
                      domain_name: nightowl.co
                      expires_at: '2026-11-11T08:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-12-01T11:30:00Z'
                      domain_name: crimsongate.com
                      expires_at: '2026-12-01T11:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: false
                      created_at: '2025-01-07T16:20:00Z'
                      domain_name: frostedpine.net
                      expires_at: '2027-01-07T16:20:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2025-01-25T09:50:00Z'
                      domain_name: horizonline.xyz
                      expires_at: '2027-01-25T09:50:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2025-02-14T13:00:00Z'
                      domain_name: coppervine.io
                      expires_at: '2027-02-14T13:00:00Z'
                      locked: true
                      privacy_mode: 'off'
                      status: active
                    - auto_renew: true
                      created_at: '2025-03-02T07:40:00Z'
                      domain_name: starlitpath.org
                      expires_at: '2027-03-02T07:40:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    result_info:
                      count: 20
                      cursor: eyJ0IjoiMjAyNS0wNi0xNVQxMjowMDowMC4wMDAwMDBaIiwibiI6ImJyYXZvLm5ldCJ9
                      per_page: 20
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_registration-response-collection'
        4XX:
          description: List registrations failure.
          content:
            application/json:
              examples:
                invalid_cursor:
                  summary: Invalid cursor
                  value:
                    errors:
                    - code: 10000
                      message: Invalid pagination cursor
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar-sandbox.registrations
      x-fern-sdk-method-name: list
    post:
      operationId: sandbox-registrar-domain-registration-create
      summary: Create Registration
      description: 'Starts a domain registration workflow.


        ### Prerequisites

        - The account must not already be at the maximum supported domain limit.

        A single account may own up to 500 domains in total across registrations

        created through either the dashboard or this API.

        - The domain must be on a supported extension for programmatic registration.

        - Use `POST /domain-check` immediately before calling this endpoint to confirm

        real-time availability and pricing.


        ### Defaults

        - `years`: defaults to the extension''s minimum registration period (1 year for

        most extensions, but varies — for example, `.ai` (if supported) requires a minimum of 2 years).

        - `auto_renew`: defaults to `false`. Setting it to `true` is an explicit

        opt-in authorizing Cloudflare to charge the account''s default payment

        method up to 30 days before domain expiry to renew the registration.

        Renewal pricing may change over time based on registry pricing.

        - `privacy_mode`: defaults to `redaction`.


        ### Premium domains

        Premium domain registration is not currently supported by this API.

        If `POST /domain-check` returns `tier: premium`, do not call this

        endpoint for that domain.


        ### Response behavior

        By default, the server holds the connection for a bounded, server-defined

        amount of time while the registration completes. Most registrations finish

        within this window and return `201 Created` with a completed workflow status.


        If the registration is still processing after this synchronous wait window,

        the server returns `202 Accepted`. Poll the URL in `links.self` to track progress.


        To skip the wait and receive an immediate `202`, send `Prefer: respond-async`.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID. Required for all Registrar API operations.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_identifier'
      - name: Prefer
        in: header
        description: 'Set to `respond-async` to receive an immediate `202 Accepted` without

          waiting for the operation to complete (RFC 7240).


          The header may be combined with other preferences using standard

          comma-separated syntax.

          '
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            examples:
              ca_with_contact_extensions:
                description: 'CA registrations require a registrant legal type.

                  Provide the required value in `contact_extensions` as described

                  by the live .ca registration schema.

                  '
                summary: Register a .ca domain with legal type
                value:
                  auto_renew: false
                  contact_extensions:
                    ca_legal_type: CCT
                  contacts:
                    registrant:
                      email: ada@example.ca
                      phone: '+1.6135550100'
                      postal_info:
                        address:
                          city: Ottawa
                          country_code: CA
                          postal_code: K1A 0B1
                          state: true
                          street: 123 Queen St
                        name: Ada Lovelace
                        organization: Example Canada Inc
                  domain_name: my-brand-example.ca
                  years: 1
              io_with_role_contacts:
                description: Some extension schemas accept additional standard contact roles such as `technical`, `administrator`, and `billing`. When these roles are provided explicitly, Cloudflare preserves the supplied role-specific contact data instead of deriving it from `contacts.registrant`.
                summary: Register with explicit role contacts
                value:
                  auto_renew: false
                  contacts:
                    administrator:
                      email: katherine@example.io
                      phone: '+1.5555550102'
                      postal_info:
                        address:
                          city: San Francisco
                          country_code: US
                          postal_code: '94103'
                          state: CA
                          street: 789 Mission St
                        name: Katherine Johnson
                        organization: Example Admin Inc
                    billing:
                      email: dorothy@example.io
                      phone: '+1.5555550103'
                      postal_info:
                        address:
                          city: San Francisco
                          country_code: US
                          postal_code: '94105'
                          state: CA
                          street: 101 Howard St
                        name: Dorothy Vaughan
                        organization: Example Billing Inc
                    registrant:
                      email: ada@example.io
                      phone: '+1.5555555555'
                      postal_info:
                        address:
                          city: Austin
                          country_code: US
                          postal_code: '78701'
                          state: TX
                          street: 123 Main St
                        name: Ada Lovelace
                        organization: Example Inc
                    technical:
                      email: grace@example.io
                      phone: '+1.5555550101'
                      postal_info:
                        address:
                          city: San Francisco
                          country_code: US
                          postal_code: '94105'
                          state: CA
                          street: 456 Market St
                        name: Grace Hopper
                        organization: Example Technical Inc
                  domain_name: my-brand-example.io
                  years: 1
              minimal:
                description: 'The simplest registration request uses the following defaults.

                  - `years` defaults to the extension''s minimum registration period (typically 1 year).

                  - `auto_renew` defaults to `false`.

                  - `privacy_mode` defaults to `redaction`.

                  - Registrant contact falls back to the account''s default address book entry.

                  '
                summary: Minimal registration — just a domain name
                value:
                  domain_name: my-new-startup.com
              multi_year:
                description: Register a domain for 3 years.
                summary: Register for multiple years
                value:
                  domain_name: longterm-project.dev
                  years: 3
              uk_with_contact_extensions:
                description: '.uk registrations can require registrant type information. For

                  organization registrants, include the company number when the

                  live registration schema requires it.

                  '
                summary: Register a .uk domain with registrant type
                value:
                  auto_renew: false
                  contact_extensions:
                    company_number: '12345678'
                    registrant_type: LTD
                  contacts:
                    registrant:
                      email: ada@example.co.uk
                      phone: '+44.2071234567'
                      postal_info:
                        address:
                          city: London
                          country_code: GB
                          postal_code: SW1A 1AA
                          state: London
                          street: 1 Example Street
                        name: Ada Lovelace
                        organization: Example UK Ltd
                  domain_name: my-brand-example.uk
                  years: 1
              us_with_contact_extensions:
                description: 'Some extensions require registry-specific contact extension

                  values in addition to the standard registrant contact. The

                  extension discovery endpoint is authoritative for the required

                  keys and allowed values.

                  '
                summary: Register a .us domain with contact extensions
                value:
                  auto_renew: false
                  contact_extensions:
                    application_purpose: P3
                    nexus_category: C11
                  contacts:
                    registrant:
                      email: ada@example.com
                      phone: '+1.5555555555'
                      postal_info:
                        address:
                          city: Austin
                          country_code: US
                          postal_code: '78701'
                          state: TX
                          street: 123 Main St
                        name: Ada Lovelace
                        organization: Example Inc
                  domain_name: my-brand-example.us
                  years: 1
              with_contact:
                description: 'Provide registrant contact data inline if the account does not have

                  a default address book entry, or to override it for this registration.

                  `postal_info.name` is the complete contact name in one field.

                  Some registries require a complete personal name, including a

                  family or last name where applicable, but this API does not

                  accept separate first-name and last-name fields.

                  '
                summary: Register with explicit registrant contact
                value:
                  auto_renew: true
                  contacts:
                    registrant:
                      email: ada@example.com
                      phone: '+1.5555555555'
                      postal_info:
                        address:
                          city: Austin
                          country_code: US
                          postal_code: '78701'
                          state: TX
                          street: 123 Main St
                        name: Ada Lovelace
                        organization: Example Inc
                  domain_name: example.com
                  years: 1
            schema:
              $ref: '#/components/schemas/registrar-api-sandbox_registration_create_request'
      responses:
        '201':
          description: 'Registration completed successfully within the synchronous wait window.

            The workflow status will have `state: succeeded` and `completed: true`.

            '
          headers:
            Preference-Applied:
              description: Echoed when the server honored a `Prefer` header.
              schema:
                type: string
          content:
            application/json:
              examples:
                completed:
                  summary: Registration completed within timeout (most common)
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                        registration:
                          auto_renew: true
                          created_at: '2025-10-27T10:00:00Z'
                          domain_name: example.com
                          expires_at: '2026-10-27T10:00:00Z'
                          locked: true
                          privacy_mode: redaction
                          status: active
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: succeeded
                      updated_at: '2025-10-27T10:00:03Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_workflow-status-response-single'
        '202':
          description: 'Registration is still processing. This occurs when the operation did

            not complete within the synchronous wait window, or when `Prefer: respond-async`

            was sent. Poll the URL in `links.self` to track progress.

            '
          headers:
            Location:
              description: URL of the workflow status resource (same as `links.self`).
              schema:
                type: string
            Preference-Applied:
              description: Set to `respond-async` when the server honored the preference.
              schema:
                type: string
          content:
            application/json:
              examples:
                still_processing:
                  summary: Registration still in progress
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: in_progress
                      updated_at: '2025-10-27T10:00:10Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_workflow-status-response-single'
        4XX:
          description: Create registration failure.
          content:
            application/json:
              examples:
                account_domain_limit_exceeded:
                  description: 'The account already owns the maximum supported number of domains.

                    Domains created through either the dashboard or this API count

                    toward the same account-wide limit.

                    '
                  summary: Account has reached the domain limit
                  value:
                    errors:
                    - code: 10000
                      message: 'Domain limit reached: you cannot register more than 500 domains.'
                      source:
                        pointer: /domain_name
                    messages: []
                    result: null
                    success: false
                domain_name_required:
                  description: The required `domain_name` field was not provided.
                  summary: Missing domain name
                  value:
                    errors:
                    - code: 10000
                      message: domain_name is required
                      source:
                        pointer: /domain_name
                    messages: []
                    result: null
                    success: false
                invalid_auto_renew:
                  description: The `auto_renew` field must be a boolean if present.
                  summary: Invalid auto_renew value
                  value:
                    errors:
                    - code: 10000
                      message: Must be a boolean
                      source:
                        pointer: /auto_renew
                    messages: []
                    result: null
                    success: false
                missing_contact:
                  description: 'The request did not include a registrant contact, and the account

                    has no default address book entry to fall back to. Either provide

                    contacts.registrant in the request or set up a default address

                    book entry at `https://dash.cloudflare.com/{account_id}/domains/registrations`.

                    '
                  summary: No registrant contact and no default address book entry
                  value:
                    errors:
                    - code: 10000
                      message: No registrant contact provided and no default address book entry found for this account.
                    messages: []
                    result: null
                    success: false
                registration_not_supported:
                  description: 'The extension is not supported for registration through this API.

                    This includes extensions that are unsupported by the API or do

                    not support the required registration contact flow.

                    '
                  summary: Registration not supported for extension
                  value:
                    errors:
                    - code: 10000
                      message: Registration is not supported for this extension
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar-sandbox.registrations
      x-fern-sdk-method-name: create
  /accounts/{account_id}/registrar-sandbox/registrations/{domain_name}:
    get:
      operationId: sandbox-registrar-domain-registration-get
      summary: Get Registration
      description: 'Returns the current state of a domain registration.


        This is the canonical read endpoint for a domain you own. It returns

        the full registration resource including current settings and expiration.

        When the registration resource is ready, both `created_at` and `expires_at`

        are present in the response.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_identifier'
      - name: domain_name
        in: path
        description: Domain name to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_domain_name'
      responses:
        '200':
          description: Registration details.
          content:
            application/json:
              examples:
                active:
                  summary: Active domain
                  value:
                    errors: []
                    messages: []
                    result:
                      auto_renew: true
                      created_at: '2025-01-15T10:00:00Z'
                      domain_name: example.com
                      expires_at: '2026-01-15T10:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_registration-response-single'
        4XX:
          description: Get registration failure.
          content:
            application/json:
              examples:
                domain_not_found:
                  summary: Domain not found
                  value:
                    errors:
                    - code: 10000
                      message: Domain not found
                    messages: []
                    result: null
                    success: false
                invalid_domain_name:
                  summary: Invalid domain name
                  value:
                    errors:
                    - code: 10000
                      message: Invalid domain name
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar-sandbox.registrations
      x-fern-sdk-method-name: get
    patch:
      operationId: sandbox-registrar-domain-registration-update
      summary: Update Registration
      description: 'Updates an existing domain registration.


        By default, the server holds the connection for a bounded, server-defined

        amount of time while the update completes. Most updates finish within this

        window and return `200 OK` with a completed workflow status.


        If the update is still processing after this synchronous wait window, the

        server returns `202 Accepted`. Poll the URL in `links.self` to track progress.


        To skip the wait and receive an immediate `202`, send `Prefer: respond-async`.


        This endpoint currently supports updating `auto_renew` only.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_identifier'
      - name: domain_name
        in: path
        description: Domain name to update.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_domain_name'
      - name: Prefer
        in: header
        description: 'Set to `respond-async` to receive an immediate `202 Accepted` without

          waiting for the operation to complete (RFC 7240).

          '
        schema:
          type: string
          enum:
          - respond-async
      requestBody:
        required: true
        content:
          application/json:
            examples:
              disable_auto_renew:
                summary: Disable auto-renewal
                value:
                  auto_renew: false
              enable_auto_renew:
                summary: Enable auto-renewal
                value:
                  auto_renew: true
            schema:
              $ref: '#/components/schemas/registrar-api-sandbox_registration_update_request'
      responses:
        '200':
          description: 'Update completed successfully within the synchronous wait window.

            The workflow status will have `state: succeeded` and `completed: true`.

            '
          headers:
            Preference-Applied:
              description: Echoed when the server honored a `Prefer` header.
              schema:
                type: string
          content:
            application/json:
              examples:
                completed:
                  summary: Update completed within timeout (most common)
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                        registration:
                          auto_renew: true
                          created_at: '2025-01-15T10:00:00Z'
                          domain_name: example.com
                          expires_at: '2026-01-15T10:00:00Z'
                          locked: true
                          privacy_mode: redaction
                          status: active
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/update-status
                      state: succeeded
                      updated_at: '2025-10-27T10:00:02Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_workflow-status-response-single'
        '202':
          description: 'Update is still processing. This occurs when the operation did not

            complete within the synchronous wait window, or when `Prefer: respond-async`

            was sent. Poll the URL in `links.self` to track progress.

            '
          headers:
            Location:
              description: URL of the workflow status resource (same as `links.self`).
              schema:
                type: string
            Preference-Applied:
              description: Set to `respond-async` when the server honored the preference.
              schema:
                type: string
          content:
            application/json:
              examples:
                still_processing:
                  summary: Update still in progress after timeout
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/update-status
                      state: in_progress
                      updated_at: '2025-10-27T10:00:10Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_workflow-status-response-single'
        4XX:
          description: Update registration failure.
          content:
            application/json:
              examples:
                domain_not_found:
                  summary: Domain not found
                  value:
                    errors:
                    - code: 10000
                      message: Domain not found
                    messages: []
                    result: null
                    success: false
                invalid_auto_renew:
                  summary: Invalid auto_renew value
                  value:
                    errors:
                    - code: 10000
                      message: Must be a boolean if present
                      source:
                        pointer: /auto_renew
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar-sandbox.registrations
      x-fern-sdk-method-name: update
  /accounts/{account_id}/registrar-sandbox/registrations/{domain_name}/registration-status:
    get:
      operationId: sandbox-registrar-domain-registration-get-status
      summary: Get Registration Status
      description: 'Returns the current status of a domain registration workflow.


        Use this endpoint to poll for completion when the POST response

        returned `202 Accepted`. The URL is provided in the `links.self`

        field of the workflow status response.


        Poll this endpoint until the workflow reaches a terminal state or a

        state that requires user attention.


        **Terminal states:** `succeeded` and `failed` are terminal and always

        have `completed: true`.


        **Non-terminal states:**

        - `action_required` has `completed: false` and will not resolve on its

        own. The workflow is paused pending user intervention.

        - `blocked` has `completed: false` and indicates the workflow is waiting

        on a third party such as the extension registry or losing registrar.

        Continue polling while informing the user of the delay.


        Use increasing backoff between polls. When `state: blocked`, use a

        longer polling interval and do not poll indefinitely.


        A naive polling loop that only checks `completed` can run indefinitely

        when `state: action_required`. Break explicitly on `action_required`:


        ```js

        let status;

        do {

        await new Promise(r => setTimeout(r, 2000));

        status = await cloudflare.request({

        method: ''GET'',

        path: reg.result.links.self,

        });

        } while (

        !status.result.completed &&

        status.result.state !== ''action_required''

        );


        if (status.result.state === ''action_required'') {

        // Surface context.action and context.confirmation_sent_to to the user.

        // Do not re-submit the registration request.

        }

        ```'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID. Required for all Registrar API operations.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_identifier'
      - name: domain_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_domain_name'
      responses:
        '200':
          description: Registration workflow status.
          content:
            application/json:
              examples:
                action_required:
                  description: 'Non-terminal but not transient. The workflow is paused and

                    requires user action to proceed. An automated polling loop

                    must break on this state — it will not resolve on its own.

                    Surface context.action to the user.

                    '
                  summary: User action required
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        action: registrant_email_confirmation_pending
                        confirmation_sent_to: a***@example.com
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: action_required
                      updated_at: '2025-10-27T10:01:00Z'
                    success: true
                blocked:
                  description: 'Non-terminal. The workflow cannot make progress due to a

                    third party (e.g., the extension''s registry or a losing

                    registrar). Unlike action_required, no user action will help.

                    Continue polling — the block may resolve when the third party

                    responds.

                    '
                  summary: Blocked by third party
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: blocked
                      updated_at: '2025-10-27T10:05:00Z'
                    success: true
                failed:
                  description: 'Terminal state. The registration could not be completed.

                    See error.code and error.message for the reason. Do not

                    auto-retry without user review.

                    '
                  summary: Registration failed
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      error:
                        code: registry_rejected
                        message: Registry rejected the registration request.
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: failed
                      updated_at: '2025-10-27T10:00:08Z'
                    success: true
                in_progress:
                  description: 'The registration is still being processed. Continue polling

                    this endpoint. In synchronous mode, the server only waits

                    for a bounded amount of time before returning `202` — this

                    status is what you see when polling after that timeout. Registrations

                    will not remain in this state indefinitely; the workflow has

                    an internal deadline after which it transitions to succeeded,

                    failed, or blocked.

                    '
                  summary: Registration in progress
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: in_progress
                      updated_at: '2025-10-27T10:00:12Z'
                    success: true
                succeeded:
                  description: 'Terminal state. The domain has been registered. The full

                    registration resource is included in context.registration —

                    no additional GET request is needed.

                    '
                  summary: Registration completed successfully
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                        registration:
                          auto_renew: true
                          created_at: '2025-10-27T10:00:00Z'
                          domain_name: example.com
                          expires_at: '2026-10-27T10:00:00Z'
                          locked: true
                          privacy_mode: redaction
                          status: active
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: succeeded
                      updated_at: '2025-10-27T10:00:03Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_workflow-status-response-single'
        4XX:
          description: Get status failure.
          content:
            application/json:
              examples:
                workflow_not_found:
                  summary: No workflow found
                  value:
                    errors:
                    - code: 10000
                      message: No workflow found for example.com
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar-sandbox.registrations
      x-fern-sdk-method-name: get-registration-status
  /accounts/{account_id}/registrar-sandbox/registrations/{domain_name}/update-status:
    get:
      operationId: sandbox-registrar-domain-registration-get-update-status
      summary: Get Update Status
      description: 'Returns the current status of a domain update workflow.


        Use this endpoint to poll for completion when the PATCH response

        returned `202 Accepted`. The URL is provided in the `links.self`

        field of the workflow status response.


        Poll this endpoint until the workflow reaches a terminal state or a

        state that requires user attention.


        Use increasing backoff between polls. When the workflow remains blocked

        on a third party, use a longer polling interval and do not poll indefinitely.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_identifier'
      - name: domain_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api-sandbox_domain_name'
      responses:
        '200':
          description: Update workflow status.
          content:
            application/json:
              examples:
                failed:
                  summary: Update failed
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      error:
                        code: registry_rejected
                        message: Registry rejected the update request.
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/update-status
                      state: failed
                      updated_at: '2025-10-27T10:00:45Z'
                    success: true
                in_progress:
                  summary: Update in progress
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        domain_name: example.com
                        fields_updated:
                        - auto_renew
                        pending_registry_confirmation: true
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/update-status
                      state: in_progress
                      updated_at: '2025-10-27T10:00:05Z'
                    success: true
                succeeded:
                  summary: Update completed successfully
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                        fields_updated:
                        - auto_renew
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/update-status
                      state: succeeded
                      updated_at: '2025-10-27T10:00:30Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_workflow-status-response-single'
        4XX:
          description: Get update status failure.
          content:
            application/json:
              examples:
                workflow_not_found:
                  summary: No workflow found
                  value:
                    errors:
                    - code: 10000
                      message: No workflow found for example.com
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api-sandbox_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar-sandbox.registrations
      x-fern-sdk-method-name: get-update-status
  /accounts/{account_id}/registrar/registrations:
    get:
      operationId: registrar-domain-registration-list
      summary: List Registrations
      description: 'Returns a paginated list of domain registrations owned by the account.


        This endpoint uses cursor-based pagination. Results are ordered by registration

        date by default. To fetch the next page, pass the `cursor` value from the

        `result_info` object in the response as the `cursor` query parameter in

        your next request. An empty `cursor` string indicates there are no more

        pages.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api_identifier'
      - $ref: '#/components/parameters/registrar-api_cursor_pagination_cursor'
      - $ref: '#/components/parameters/registrar-api_cursor_pagination_per_page'
      - $ref: '#/components/parameters/registrar-api_cursor_pagination_direction'
      - name: sort_by
        in: query
        description: Column to sort results by. Defaults to registration date (`registry_created_at`) when omitted.
        schema:
          type: string
          default: registry_created_at
          enum:
          - registry_created_at
          - registry_expires_at
          - name
      responses:
        '200':
          description: List of registrations for the account.
          content:
            application/json:
              examples:
                empty_account:
                  summary: Account with no registrations
                  value:
                    errors: []
                    messages: []
                    result: []
                    result_info:
                      count: 0
                      cursor: ''
                      per_page: 20
                    success: true
                multiple_domains:
                  summary: Account with multiple domains
                  value:
                    errors: []
                    messages: []
                    result:
                    - auto_renew: true
                      created_at: '2025-01-15T10:00:00Z'
                      domain_name: example.com
                      expires_at: '2026-01-15T10:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: false
                      created_at: '2025-03-20T14:30:00Z'
                      domain_name: mybrand.dev
                      expires_at: '2026-03-20T14:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    result_info:
                      count: 2
                      cursor: ''
                      per_page: 20
                    success: true
                next_page:
                  description: Response when fetching the next page by passing the cursor from a previous response. The empty cursor indicates this is the last page.
                  summary: Next page of results (last page)
                  value:
                    errors: []
                    messages: []
                    result:
                    - auto_renew: true
                      created_at: '2025-04-01T09:00:00Z'
                      domain_name: charlie.org
                      expires_at: '2026-04-01T09:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    result_info:
                      count: 1
                      cursor: ''
                      per_page: 20
                    success: true
                paginated:
                  summary: First page with more results available
                  value:
                    errors: []
                    messages: []
                    result:
                    - auto_renew: true
                      created_at: '2024-01-15T09:30:00Z'
                      domain_name: acmecorp.com
                      expires_at: '2026-01-15T09:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-02-20T14:00:00Z'
                      domain_name: brightwave.net
                      expires_at: '2026-02-20T14:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-03-05T11:15:00Z'
                      domain_name: cloudpeak.org
                      expires_at: '2026-03-05T11:15:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-03-22T08:45:00Z'
                      domain_name: solarpanel.io
                      expires_at: '2026-03-22T08:45:00Z'
                      locked: true
                      privacy_mode: 'off'
                      status: active
                    - auto_renew: false
                      created_at: '2024-04-10T16:00:00Z'
                      domain_name: greenleaf.dev
                      expires_at: '2026-04-10T16:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-05-03T10:30:00Z'
                      domain_name: swiftrunner.app
                      expires_at: '2026-05-03T10:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: false
                      created_at: '2024-05-18T13:00:00Z'
                      domain_name: northerntrail.co
                      expires_at: '2025-05-18T13:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: expired
                    - auto_renew: true
                      created_at: '2024-06-01T07:20:00Z'
                      domain_name: pixelforge.xyz
                      expires_at: '2026-06-01T07:20:00Z'
                      locked: false
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-06-25T15:45:00Z'
                      domain_name: oceandrift.com
                      expires_at: '2026-06-25T15:45:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-07-12T09:00:00Z'
                      domain_name: rocketlaunch.net
                      expires_at: '2026-07-12T09:00:00Z'
                      locked: true
                      privacy_mode: 'off'
                      status: active
                    - auto_renew: false
                      created_at: '2024-08-08T12:30:00Z'
                      domain_name: blueprintlab.io
                      expires_at: '2026-08-08T12:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-09-01T18:00:00Z'
                      domain_name: maplewood.org
                      expires_at: '2026-09-01T18:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: false
                      created_at: '2024-09-20T10:15:00Z'
                      domain_name: thunderbolt.dev
                      expires_at: '2025-09-20T10:15:00Z'
                      locked: false
                      privacy_mode: 'off'
                      status: expired
                    - auto_renew: true
                      created_at: '2024-10-05T14:45:00Z'
                      domain_name: silverbranch.app
                      expires_at: '2026-10-05T14:45:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-11-11T08:00:00Z'
                      domain_name: nightowl.co
                      expires_at: '2026-11-11T08:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2024-12-01T11:30:00Z'
                      domain_name: crimsongate.com
                      expires_at: '2026-12-01T11:30:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: false
                      created_at: '2025-01-07T16:20:00Z'
                      domain_name: frostedpine.net
                      expires_at: '2027-01-07T16:20:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2025-01-25T09:50:00Z'
                      domain_name: horizonline.xyz
                      expires_at: '2027-01-25T09:50:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    - auto_renew: true
                      created_at: '2025-02-14T13:00:00Z'
                      domain_name: coppervine.io
                      expires_at: '2027-02-14T13:00:00Z'
                      locked: true
                      privacy_mode: 'off'
                      status: active
                    - auto_renew: true
                      created_at: '2025-03-02T07:40:00Z'
                      domain_name: starlitpath.org
                      expires_at: '2027-03-02T07:40:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    result_info:
                      count: 20
                      cursor: eyJ0IjoiMjAyNS0wNi0xNVQxMjowMDowMC4wMDAwMDBaIiwibiI6ImJyYXZvLm5ldCJ9
                      per_page: 20
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api_registration-response-collection'
        4XX:
          description: List registrations failure.
          content:
            application/json:
              examples:
                invalid_cursor:
                  summary: Invalid cursor
                  value:
                    errors:
                    - code: 10000
                      message: Invalid pagination cursor
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar.registrations
      x-fern-sdk-method-name: list
    post:
      operationId: registrar-domain-registration-create
      summary: Create Registration
      description: 'Starts a domain registration workflow. This is a billable operation — successful

        registration charges the account''s default payment method. All successful

        domain registrations are non-refundable — once the workflow completes with

        `state: succeeded`, the charge cannot be reversed.


        ### Prerequisites

        - The account must have a billing profile with a valid default payment method.

        Set this up at `https://dash.cloudflare.com/{account_id}/billing/payment-info`.

        - The account must not already be at the maximum supported domain limit.

        A single account may own up to 500 domains in total across registrations

        created through either the dashboard or this API.

        - The domain must be on a supported extension for programmatic registration.

        - Use `POST /domain-check` immediately before calling this endpoint to confirm

        real-time availability and pricing.


        ### Supported extensions


        This API supports programmatic registration for all extensions supported by

        the dashboard experience, with the following exceptions:


        `giving`, `mom`, `inc`, `lol`, `sh`, `link`, `cc`, `new`


        Cloudflare Registrar supports 400+ extensions in the dashboard. Extensions

        listed above can be registered at

        `https://dash.cloudflare.com/{account_id}/domains/registrations`.


        ### Express mode

        The only required field is `domain_name`. If `contacts` is omitted, the system

        uses the account''s default address book entry as the registrant. If no default

        exists and no contact is provided, the request fails. Set up a default address

        book entry and accept the required agreement at

        `https://dash.cloudflare.com/{account_id}/domains/registrations`.


        ### Defaults

        - `years`: defaults to the extension''s minimum registration period (1 year for

        most extensions, but varies — for example, `.ai` (if supported) requires a minimum of 2 years).

        - `auto_renew`: defaults to `false`. Setting it to `true` is an explicit

        opt-in authorizing Cloudflare to charge the account''s default payment

        method up to 30 days before domain expiry to renew the registration.

        Renewal pricing may change over time based on registry pricing.

        - `privacy_mode`: defaults to `redaction`.


        ### Premium domains

        Premium domain registration is not currently supported by this API.

        If `POST /domain-check` returns `tier: premium`, do not call this

        endpoint for that domain.


        ### Response behavior

        By default, the server holds the connection for a bounded, server-defined

        amount of time while the registration completes. Most registrations finish

        within this window and return `201 Created` with a completed workflow status.


        If the registration is still processing after this synchronous wait window,

        the server returns `202 Accepted`. Poll the URL in `links.self` to track progress.


        To skip the wait and receive an immediate `202`, send `Prefer: respond-async`.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID. Required for all Registrar API operations.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api_identifier'
      - name: Prefer
        in: header
        description: 'Set to `respond-async` to receive an immediate `202 Accepted` without

          waiting for the operation to complete (RFC 7240).


          The header may be combined with other preferences using standard

          comma-separated syntax.

          '
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            examples:
              ca_with_contact_extensions:
                description: 'CA registrations require a registrant legal type.

                  Provide the required value in `contact_extensions` as described

                  by the live .ca registration schema.

                  '
                summary: Register a .ca domain with legal type
                value:
                  auto_renew: false
                  contact_extensions:
                    ca_legal_type: CCT
                  contacts:
                    registrant:
                      email: ada@example.ca
                      phone: '+1.6135550100'
                      postal_info:
                        address:
                          city: Ottawa
                          country_code: CA
                          postal_code: K1A 0B1
                          state: true
                          street: 123 Queen St
                        name: Ada Lovelace
                        organization: Example Canada Inc
                  domain_name: my-brand-example.ca
                  years: 1
              io_with_role_contacts:
                description: Some extension schemas accept additional standard contact roles such as `technical`, `administrator`, and `billing`. When these roles are provided explicitly, Cloudflare preserves the supplied role-specific contact data instead of deriving it from `contacts.registrant`.
                summary: Register with explicit role contacts
                value:
                  auto_renew: false
                  contacts:
                    administrator:
                      email: katherine@example.io
                      phone: '+1.5555550102'
                      postal_info:
                        address:
                          city: San Francisco
                          country_code: US
                          postal_code: '94103'
                          state: CA
                          street: 789 Mission St
                        name: Katherine Johnson
                        organization: Example Admin Inc
                    billing:
                      email: dorothy@example.io
                      phone: '+1.5555550103'
                      postal_info:
                        address:
                          city: San Francisco
                          country_code: US
                          postal_code: '94105'
                          state: CA
                          street: 101 Howard St
                        name: Dorothy Vaughan
                        organization: Example Billing Inc
                    registrant:
                      email: ada@example.io
                      phone: '+1.5555555555'
                      postal_info:
                        address:
                          city: Austin
                          country_code: US
                          postal_code: '78701'
                          state: TX
                          street: 123 Main St
                        name: Ada Lovelace
                        organization: Example Inc
                    technical:
                      email: grace@example.io
                      phone: '+1.5555550101'
                      postal_info:
                        address:
                          city: San Francisco
                          country_code: US
                          postal_code: '94105'
                          state: CA
                          street: 456 Market St
                        name: Grace Hopper
                        organization: Example Technical Inc
                  domain_name: my-brand-example.io
                  years: 1
              minimal:
                description: 'The simplest registration request uses the following defaults.

                  - `years` defaults to the extension''s minimum registration period (typically 1 year).

                  - `auto_renew` defaults to `false`.

                  - `privacy_mode` defaults to `redaction`.

                  - Registrant contact falls back to the account''s default address book entry.

                  '
                summary: Minimal registration — just a domain name
                value:
                  domain_name: my-new-startup.com
              multi_year:
                description: Register a domain for 3 years.
                summary: Register for multiple years
                value:
                  domain_name: longterm-project.dev
                  years: 3
              uk_with_contact_extensions:
                description: '.uk registrations can require registrant type information. For

                  organization registrants, include the company number when the

                  live registration schema requires it.

                  '
                summary: Register a .uk domain with registrant type
                value:
                  auto_renew: false
                  contact_extensions:
                    company_number: '12345678'
                    registrant_type: LTD
                  contacts:
                    registrant:
                      email: ada@example.co.uk
                      phone: '+44.2071234567'
                      postal_info:
                        address:
                          city: London
                          country_code: GB
                          postal_code: SW1A 1AA
                          state: London
                          street: 1 Example Street
                        name: Ada Lovelace
                        organization: Example UK Ltd
                  domain_name: my-brand-example.uk
                  years: 1
              us_with_contact_extensions:
                description: 'Some extensions require registry-specific contact extension

                  values in addition to the standard registrant contact. The

                  extension discovery endpoint is authoritative for the required

                  keys and allowed values.

                  '
                summary: Register a .us domain with contact extensions
                value:
                  auto_renew: false
                  contact_extensions:
                    application_purpose: P3
                    nexus_category: C11
                  contacts:
                    registrant:
                      email: ada@example.com
                      phone: '+1.5555555555'
                      postal_info:
                        address:
                          city: Austin
                          country_code: US
                          postal_code: '78701'
                          state: TX
                          street: 123 Main St
                        name: Ada Lovelace
                        organization: Example Inc
                  domain_name: my-brand-example.us
                  years: 1
              with_contact:
                description: 'Provide registrant contact data inline if the account does not have

                  a default address book entry, or to override it for this registration.

                  `postal_info.name` is the complete contact name in one field.

                  Some registries require a complete personal name, including a

                  family or last name where applicable, but this API does not

                  accept separate first-name and last-name fields.

                  '
                summary: Register with explicit registrant contact
                value:
                  auto_renew: true
                  contacts:
                    registrant:
                      email: ada@example.com
                      phone: '+1.5555555555'
                      postal_info:
                        address:
                          city: Austin
                          country_code: US
                          postal_code: '78701'
                          state: TX
                          street: 123 Main St
                        name: Ada Lovelace
                        organization: Example Inc
                  domain_name: example.com
                  years: 1
            schema:
              $ref: '#/components/schemas/registrar-api_registration_create_request'
      responses:
        '201':
          description: 'Registration completed successfully within the synchronous wait window.

            The workflow status will have `state: succeeded` and `completed: true`.

            '
          headers:
            Preference-Applied:
              description: Echoed when the server honored a `Prefer` header.
              schema:
                type: string
          content:
            application/json:
              examples:
                completed:
                  summary: Registration completed within timeout (most common)
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                        registration:
                          auto_renew: true
                          created_at: '2025-10-27T10:00:00Z'
                          domain_name: example.com
                          expires_at: '2026-10-27T10:00:00Z'
                          locked: true
                          privacy_mode: redaction
                          status: active
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: succeeded
                      updated_at: '2025-10-27T10:00:03Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api_workflow-status-response-single'
        '202':
          description: 'Registration is still processing. This occurs when the operation did

            not complete within the synchronous wait window, or when `Prefer: respond-async`

            was sent. Poll the URL in `links.self` to track progress.

            '
          headers:
            Location:
              description: URL of the workflow status resource (same as `links.self`).
              schema:
                type: string
            Preference-Applied:
              description: Set to `respond-async` when the server honored the preference.
              schema:
                type: string
          content:
            application/json:
              examples:
                still_processing:
                  summary: Registration still in progress
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: in_progress
                      updated_at: '2025-10-27T10:00:10Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api_workflow-status-response-single'
        4XX:
          description: Create registration failure.
          content:
            application/json:
              examples:
                account_domain_limit_exceeded:
                  description: 'The account already owns the maximum supported number of domains.

                    Domains created through either the dashboard or this API count

                    toward the same account-wide limit.

                    '
                  summary: Account has reached the domain limit
                  value:
                    errors:
                    - code: 10000
                      message: 'Domain limit reached: you cannot register more than 500 domains.'
                      source:
                        pointer: /domain_name
                    messages: []
                    result: null
                    success: false
                domain_name_required:
                  description: The required `domain_name` field was not provided.
                  summary: Missing domain name
                  value:
                    errors:
                    - code: 10000
                      message: domain_name is required
                      source:
                        pointer: /domain_name
                    messages: []
                    result: null
                    success: false
                invalid_auto_renew:
                  description: The `auto_renew` field must be a boolean if present.
                  summary: Invalid auto_renew value
                  value:
                    errors:
                    - code: 10000
                      message: Must be a boolean
                      source:
                        pointer: /auto_renew
                    messages: []
                    result: null
                    success: false
                missing_contact:
                  description: 'The request did not include a registrant contact, and the account

                    has no default address book entry to fall back to. Either provide

                    contacts.registrant in the request or set up a default address

                    book entry at `https://dash.cloudflare.com/{account_id}/domains/registrations`.

                    '
                  summary: No registrant contact and no default address book entry
                  value:
                    errors:
                    - code: 10000
                      message: No registrant contact provided and no default address book entry found for this account.
                    messages: []
                    result: null
                    success: false
                registration_not_supported:
                  description: 'The extension is not supported for registration through this API.

                    This includes extensions that are unsupported by the API or do

                    not support the required registration contact flow.

                    '
                  summary: Registration not supported for extension
                  value:
                    errors:
                    - code: 10000
                      message: Registration is not supported for this extension
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar.registrations
      x-fern-sdk-method-name: create
  /accounts/{account_id}/registrar/registrations/{domain_name}:
    get:
      operationId: registrar-domain-registration-get
      summary: Get Registration
      description: 'Returns the current state of a domain registration.


        This is the canonical read endpoint for a domain you own. It returns

        the full registration resource including current settings and expiration.

        When the registration resource is ready, both `created_at` and `expires_at`

        are present in the response.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api_identifier'
      - name: domain_name
        in: path
        description: Domain name to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api_domain_name'
      responses:
        '200':
          description: Registration details.
          content:
            application/json:
              examples:
                active:
                  summary: Active domain
                  value:
                    errors: []
                    messages: []
                    result:
                      auto_renew: true
                      created_at: '2025-01-15T10:00:00Z'
                      domain_name: example.com
                      expires_at: '2026-01-15T10:00:00Z'
                      locked: true
                      privacy_mode: redaction
                      status: active
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api_registration-response-single'
        4XX:
          description: Get registration failure.
          content:
            application/json:
              examples:
                domain_not_found:
                  summary: Domain not found
                  value:
                    errors:
                    - code: 10000
                      message: Domain not found
                    messages: []
                    result: null
                    success: false
                invalid_domain_name:
                  summary: Invalid domain name
                  value:
                    errors:
                    - code: 10000
                      message: Invalid domain name
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar.registrations
      x-fern-sdk-method-name: get
    patch:
      operationId: registrar-domain-registration-update
      summary: Update Registration
      description: 'Updates an existing domain registration.


        By default, the server holds the connection for a bounded, server-defined

        amount of time while the update completes. Most updates finish within this

        window and return `200 OK` with a completed workflow status.


        If the update is still processing after this synchronous wait window, the

        server returns `202 Accepted`. Poll the URL in `links.self` to track progress.


        To skip the wait and receive an immediate `202`, send `Prefer: respond-async`.


        This endpoint currently supports updating `auto_renew` only.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api_identifier'
      - name: domain_name
        in: path
        description: Domain name to update.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api_domain_name'
      - name: Prefer
        in: header
        description: 'Set to `respond-async` to receive an immediate `202 Accepted` without

          waiting for the operation to complete (RFC 7240).

          '
        schema:
          type: string
          enum:
          - respond-async
      requestBody:
        required: true
        content:
          application/json:
            examples:
              disable_auto_renew:
                summary: Disable auto-renewal
                value:
                  auto_renew: false
              enable_auto_renew:
                summary: Enable auto-renewal
                value:
                  auto_renew: true
            schema:
              $ref: '#/components/schemas/registrar-api_registration_update_request'
      responses:
        '200':
          description: 'Update completed successfully within the synchronous wait window.

            The workflow status will have `state: succeeded` and `completed: true`.

            '
          headers:
            Preference-Applied:
              description: Echoed when the server honored a `Prefer` header.
              schema:
                type: string
          content:
            application/json:
              examples:
                completed:
                  summary: Update completed within timeout (most common)
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                        registration:
                          auto_renew: true
                          created_at: '2025-01-15T10:00:00Z'
                          domain_name: example.com
                          expires_at: '2026-01-15T10:00:00Z'
                          locked: true
                          privacy_mode: redaction
                          status: active
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/update-status
                      state: succeeded
                      updated_at: '2025-10-27T10:00:02Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api_workflow-status-response-single'
        '202':
          description: 'Update is still processing. This occurs when the operation did not

            complete within the synchronous wait window, or when `Prefer: respond-async`

            was sent. Poll the URL in `links.self` to track progress.

            '
          headers:
            Location:
              description: URL of the workflow status resource (same as `links.self`).
              schema:
                type: string
            Preference-Applied:
              description: Set to `respond-async` when the server honored the preference.
              schema:
                type: string
          content:
            application/json:
              examples:
                still_processing:
                  summary: Update still in progress after timeout
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/update-status
                      state: in_progress
                      updated_at: '2025-10-27T10:00:10Z'
                    success: true
              schema:
                $ref: '#/components/schemas/registrar-api_workflow-status-response-single'
        4XX:
          description: Update registration failure.
          content:
            application/json:
              examples:
                domain_not_found:
                  summary: Domain not found
                  value:
                    errors:
                    - code: 10000
                      message: Domain not found
                    messages: []
                    result: null
                    success: false
                invalid_auto_renew:
                  summary: Invalid auto_renew value
                  value:
                    errors:
                    - code: 10000
                      message: Must be a boolean if present
                      source:
                        pointer: /auto_renew
                    messages: []
                    result: null
                    success: false
              schema:
                $ref: '#/components/schemas/registrar-api_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Registrar Registration
      x-fern-availability: generally-available
      x-fern-sdk-group-name: registrar.registrations
      x-fern-sdk-method-name: update
  /accounts/{account_id}/registrar/registrations/{domain_name}/registration-status:
    get:
      operationId: registrar-domain-registration-get-status
      summary: Get Registration Status
      description: 'Returns the current status of a domain registration workflow.


        Use this endpoint to poll for completion when the POST response

        returned `202 Accepted`. The URL is provided in the `links.self`

        field of the workflow status response.


        Poll this endpoint until the workflow reaches a terminal state or a

        state that requires user attention.


        **Terminal states:** `succeeded` and `failed` are terminal and always

        have `completed: true`.


        **Non-terminal states:**

        - `action_required` has `completed: false` and will not resolve on its

        own. The workflow is paused pending user intervention.

        - `blocked` has `completed: false` and indicates the workflow is waiting

        on a third party such as the extension registry or losing registrar.

        Continue polling while informing the user of the delay.


        Use increasing backoff between polls. When `state: blocked`, use a

        longer polling interval and do not poll indefinitely.


        A naive polling loop that only checks `completed` can run indefinitely

        when `state: action_required`. Break explicitly on `action_required`:


        ```js

        let status;

        do {

        await new Promise(r => setTimeout(r, 2000));

        status = await cloudflare.request({

        method: ''GET'',

        path: reg.result.links.self,

        });

        } while (

        !status.result.completed &&

        status.result.state !== ''action_required''

        );


        if (status.result.state === ''action_required'') {

        // Surface context.action and context.confirmation_sent_to to the user.

        // Do not re-submit the registration request.

        }

        ```'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID. Required for all Registrar API operations.
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api_identifier'
      - name: domain_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/registrar-api_domain_name'
      responses:
        '200':
          description: Registration workflow status.
          content:
            application/json:
              examples:
                action_required:
                  description: 'Non-terminal but not transient. The workflow is paused and

                    requires user action to proceed. An automated polling loop

                    must break on this state — it will not resolve on its own.

                    Surface context.action to the user.

                    '
                  summary: User action required
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        action: registrant_email_confirmation_pending
                        confirmation_sent_to: a***@example.com
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: action_required
                      updated_at: '2025-10-27T10:01:00Z'
                    success: true
                blocked:
                  description: 'Non-terminal. The workflow cannot make progress due to a

                    third party (e.g., the extension''s registry or a losing

                    registrar). Unlike action_required, no user action will help.

                    Continue polling — the block may resolve when the third party

                    responds.

                    '
                  summary: Blocked by third party
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: false
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: blocked
                      updated_at: '2025-10-27T10:05:00Z'
                    success: true
                failed:
                  description: 'Terminal state. The registration could not be completed.

                    See error.code and error.message for the reason. Do not

                    auto-retry without user review.

                    '
                  summary: Registration failed
                  value:
                    errors: []
                    messages: []
                    result:
                      completed: true
                      context:
                        domain_name: example.com
                      created_at: '2025-10-27T10:00:00Z'
                      error:
                        code: registry_rejected
                        message: Registry rejected the registration request.
                      links:
                        resource: /accounts/abc/registrar/registrations/example.com
                        self: /accounts/abc/registrar/registrations/example.com/registration-status
                      state: failed
                      updated_at: '2025-10-27T10:00:08Z'
                    success: true
                in_progress:
                  description: 'The registration is still being processed. Continue polling

                    this endpoint. In synchronous mode, the server only waits

[...]
