openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Resource Sharing API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Resource Sharing
paths:
  /accounts/{account_id}/shares:
    get:
      operationId: shares-list
      summary: List account shares
      description: Lists all account shares.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - $ref: '#/components/parameters/resource-sharing_status'
      - $ref: '#/components/parameters/resource-sharing_kind'
      - $ref: '#/components/parameters/resource-sharing_target_type'
      - $ref: '#/components/parameters/resource-sharing_resource_types'
      - $ref: '#/components/parameters/resource-sharing_order'
      - $ref: '#/components/parameters/resource-sharing_direction'
      - $ref: '#/components/parameters/resource-sharing_page'
      - $ref: '#/components/parameters/resource-sharing_per_page'
      - $ref: '#/components/parameters/resource-sharing_include_resources'
      - $ref: '#/components/parameters/resource-sharing_include_recipient_counts'
      - $ref: '#/components/parameters/resource-sharing_tag'
      responses:
        '200':
          description: List account shares response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_response_collection'
        4XX:
          description: List account shares response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: List account shares response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing
      x-fern-sdk-method-name: list
    post:
      operationId: share-create
      summary: Trigger a share creation
      description: Creates a new resource share for sharing Cloudflare resources with other accounts or organizations.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resource-sharing_create_share_request'
      responses:
        '201':
          description: Share created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_response_single'
        4XX:
          description: Create share failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Create share failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing
      x-fern-sdk-method-name: create
  /accounts/{account_id}/shares/{share_id}:
    delete:
      operationId: share-delete
      summary: Trigger a share deletion
      description: Deletion is not immediate, an updated share object with a new status will be returned.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      responses:
        '200':
          description: Share deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_response_single'
        4XX:
          description: Delete share failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Delete share failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: Are you sure? This action cannot be undone.
    get:
      operationId: shares-get-by-id
      summary: Get account share by ID
      description: Fetches share by ID.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - $ref: '#/components/parameters/resource-sharing_include_resources'
      - $ref: '#/components/parameters/resource-sharing_include_recipient_counts'
      responses:
        '200':
          description: Get account share response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_response_single'
        4XX:
          description: Get account share response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Get account share response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing
      x-fern-sdk-method-name: get
    put:
      operationId: share-update
      summary: Trigger a share rename
      description: 'Updates the share''s display name and tags. This endpoint does **not**

        modify recipients or resources — those are managed via dedicated

        subresource endpoints:


        - **Recipients**: Use `POST /accounts/{account_id}/shares/{share_id}/recipients`

        to add a single recipient, `PUT /accounts/{account_id}/shares/{share_id}/recipients`

        to replace the full recipient list, or

        `DELETE /accounts/{account_id}/shares/{share_id}/recipients/{recipient_id}`

        to remove a recipient.

        - **Resources**: Use the share''s resource subresource endpoints.


        Updating is not immediate; an updated share object with a new status

        will be returned.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resource-sharing_update_share_request'
      responses:
        '200':
          description: Share updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_response_single'
        4XX:
          description: Update share failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Update share failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing
      x-fern-sdk-method-name: update
  /accounts/{account_id}/shares/{share_id}/excluded-recipients:
    get:
      operationId: share-excluded-recipients-list
      summary: List share excluded recipients by share ID
      description: Lists the accounts excluded from an organization-targeted share. Only valid for shares with `target_type=organization`.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - $ref: '#/components/parameters/resource-sharing_page'
      - $ref: '#/components/parameters/resource-sharing_per_page'
      responses:
        '200':
          description: List share excluded recipients response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_excluded_recipient_response_collection'
        4XX:
          description: List share excluded recipients response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: List share excluded recipients response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.excluded-recipients
      x-fern-sdk-method-name: list
    post:
      operationId: share-excluded-recipient-create
      summary: Trigger an account exclusion from a share
      description: Excludes a single account from an organization-targeted share. The share continues to target the entire organization, but the excluded account is skipped during reconciliation.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resource-sharing_create_share_excluded_recipient_request'
      responses:
        '201':
          description: Share excluded recipient created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_excluded_recipient_response_single'
        4XX:
          description: Create share excluded recipient failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Create share excluded recipient failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.excluded-recipients
      x-fern-sdk-method-name: create
    put:
      operationId: share-excluded-recipients-update
      summary: Trigger excluded-account reconciliation on a share
      description: Reconciles a share's excluded recipients to match the given list. Only valid for shares with `target_type=organization`.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resource-sharing_update_share_excluded_recipients_request'
      responses:
        '204':
          description: Empty body
        4XX:
          description: Update share excluded recipients failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Update share excluded recipients failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.excluded-recipients
      x-fern-sdk-method-name: update
  /accounts/{account_id}/shares/{share_id}/excluded-recipients/{excluded_recipient_id}:
    delete:
      operationId: share-excluded-recipient-delete
      summary: Trigger an account un-exclusion from a share
      description: Removes a single account from a share's excluded-recipient list. The account becomes eligible to receive the share again on the next reconciliation cycle.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - name: excluded_recipient_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_excluded_recipient_id'
      responses:
        '200':
          description: Share excluded recipient deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_excluded_recipient_response_single'
        4XX:
          description: Delete share excluded recipient failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Delete share excluded recipient failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.excluded-recipients
      x-fern-sdk-method-name: delete
    get:
      operationId: share-excluded-recipients-get-by-id
      summary: Get share excluded recipient by ID
      description: Gets a single excluded recipient of a share by its identifier tag.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - name: excluded_recipient_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_excluded_recipient_id'
      responses:
        '200':
          description: Get share excluded recipient response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_excluded_recipient_response_single'
        4XX:
          description: Get share excluded recipient response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Get share excluded recipient response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.excluded-recipients
      x-fern-sdk-method-name: get
  /accounts/{account_id}/shares/{share_id}/recipients:
    get:
      operationId: share-recipients-list
      summary: List share recipients by share ID
      description: 'List share recipients by share ID. Returns **all** recipients

        regardless of their `association_status` (associating, associated,

        disassociating, disassociated). Callers that want only "active"

        recipients must filter client-side on the `association_status` field.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - $ref: '#/components/parameters/resource-sharing_include_resources'
      - $ref: '#/components/parameters/resource-sharing_page'
      - $ref: '#/components/parameters/resource-sharing_per_page'
      responses:
        '200':
          description: List account share recipients response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_recipient_response_collection'
        4XX:
          description: List account share recipients response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: List account share recipients response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.recipients
      x-fern-sdk-method-name: list
    post:
      operationId: share-recipient-create
      summary: Trigger a recipient addition to a share
      description: 'Adds a single recipient to an account-targeted resource share, granting

        them access to the shared resources. The recipient account must belong

        to the same organization as the share owner.


        To replace the entire recipient list in one call, use

        `PUT /accounts/{account_id}/shares/{share_id}/recipients` instead.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resource-sharing_create_share_recipient_request'
      responses:
        '201':
          description: Share recipient created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_recipient_response_single'
        4XX:
          description: Create share recipient failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Create share recipient failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.recipients
      x-fern-sdk-method-name: create
    put:
      operationId: share-recipients-update
      summary: Trigger recipient reconciliation on a share
      description: 'Replaces the full recipient list for an account-targeted share. The

        server computes the diff between the current and desired recipients:

        new accounts are added, accounts no longer in the list are marked for

        disassociation, and unchanged accounts are left as-is.


        Returns an error if the share targets an organization

        (`target_type=organization`); org-targeted shares derive their

        recipients dynamically from org membership and cannot be modified

        through this endpoint.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resource-sharing_update_share_recipients_request'
      responses:
        '204':
          description: Empty body
        4XX:
          description: Update share recipients failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Update share recipients failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.recipients
      x-fern-sdk-method-name: update
  /accounts/{account_id}/shares/{share_id}/recipients/{recipient_id}:
    delete:
      operationId: share-recipient-delete
      summary: Trigger a recipient removal from a share
      description: 'Performs a **soft delete**: sets the recipient''s

        `desired_association_status` to `disassociated`, which signals the

        background reconciliation workflow (Temporal) to remove the shared

        resources from the recipient account. The recipient record remains in

        the database for audit purposes and is still returned by

        `GET /accounts/{account_id}/shares/{share_id}/recipients` with its

        updated status.


        Resource access is not fully removed until the workflow completes and

        `current_association_status` transitions to `disassociated`. The

        recipient record itself is never physically deleted.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - name: recipient_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_recipient_id'
      responses:
        '200':
          description: Share recipient deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_recipient_response_single'
        4XX:
          description: Delete share recipient failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Delete share recipient failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.recipients
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: Are you sure? This action cannot be undone.
    get:
      operationId: share-recipients-get-by-id
      summary: Get share recipient by ID
      description: Get share recipient by ID.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - name: recipient_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_recipient_id'
      - $ref: '#/components/parameters/resource-sharing_include_resources'
      responses:
        '200':
          description: Get account share recipient response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_recipient_response_single'
        4XX:
          description: Get account share recipient response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Get account share recipient response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.recipients
      x-fern-sdk-method-name: get
  /accounts/{account_id}/shares/{share_id}/resources:
    get:
      operationId: share-resources-list
      summary: List share resources by share ID
      description: List share resources by share ID.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - $ref: '#/components/parameters/resource-sharing_resource_status'
      - $ref: '#/components/parameters/resource-sharing_resource_type'
      - $ref: '#/components/parameters/resource-sharing_page'
      - $ref: '#/components/parameters/resource-sharing_per_page'
      responses:
        '200':
          description: List account share resources response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_resource_response_collection'
        4XX:
          description: List account share resources response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: List account share resources response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.resources
      x-fern-sdk-method-name: list
    post:
      operationId: share-resource-create
      summary: Trigger a resource addition to a share
      description: Adds a resource to an existing share, making it available to share recipients.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resource-sharing_create_share_resource_request'
      responses:
        '201':
          description: Share resource created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_resource_response_single'
        4XX:
          description: Create share resource failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Create share resource failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.resources
      x-fern-sdk-method-name: create
  /accounts/{account_id}/shares/{share_id}/resources/{share_resource_id}:
    delete:
      operationId: share-resource-delete
      summary: Trigger a resource deletion from a share
      description: Deletion is not immediate, an updated share resource object with a new status will be returned.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - name: share_resource_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_resource_id'
      responses:
        '200':
          description: Share resource deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_resource_response_single'
        4XX:
          description: Delete share resource failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Delete share resource failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.resources
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: Are you sure? This action cannot be undone.
    get:
      operationId: share-resources-get-by-id
      summary: Get share resource by ID
      description: Get share resource by ID.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - name: share_resource_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_resource_id'
      responses:
        '200':
          description: Get account share resource response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_resource_response_single'
        4XX:
          description: Get account share resource response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Get account share resource response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-api-token-group: null
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.resources
      x-fern-sdk-method-name: get
    put:
      operationId: share-resource-update
      summary: Trigger a resource metadata update in a share
      description: Update is not immediate, an updated share resource object with a new status will be returned.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_account_id'
      - name: share_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_share_id'
      - name: share_resource_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_resource_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resource-sharing_update_share_resource_request'
      responses:
        '200':
          description: Share resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_resource_response_single'
        4XX:
          description: Update share resource failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: Update share resource failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: resource-sharing.resources
      x-fern-sdk-method-name: update
  /organizations/{organization_id}/shares:
    get:
      operationId: organization-shares-list
      summary: List organization shares
      description: Lists all organization shares.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/resource-sharing_organization_id'
      - $ref: '#/components/parameters/resource-sharing_status'
      - $ref: '#/components/parameters/resource-sharing_kind'
      - $ref: '#/components/parameters/resource-sharing_target_type'
      - $ref: '#/components/parameters/resource-sharing_resource_types'
      - $ref: '#/components/parameters/resource-sharing_order'
      - $ref: '#/components/parameters/resource-sharing_direction'
      - $ref: '#/components/parameters/resource-sharing_page'
      - $ref: '#/components/parameters/resource-sharing_per_page'
      responses:
        '200':
          description: List organization shares response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resource-sharing_share_response_collection'
        4XX:
          description: List organization shares response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
        5XX:
          description: List organization shares response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/resource-sharing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
      tags:
      - Resource Sharing
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: organization.share
      x-fern-sdk-method-name: list
components:
  schemas:
    resource-sharing_resource_version:
      description: Resource Version.
      type: integer
      x-auditable: true
    resource-sharing_resource_meta:
      description: Resource Metadata.
      type: object
    resource-sharing_recipient_resource_error_terminal:
      description: Whether the error is terminal or will be continually retried.
      type: boolean
      example: true
      x-auditable: true
    resource-sharing_result_info:
      type: object
      properties:
        count:
          description: Total number of results for the requested service.
          type: number
          example: 1
        page:
          description: Current page within paginated list of results.
          type: number
          example: 1
        per_page:
          description: Number of results per page of results.
          type: number
          example: 20
        total_count:
          description: Total results available without any search parameters.
          type: number
          example: 2000
        total_pages:
          description: Total number of pages using the given per page.
          type: number
          example: 50
    resource-sharing_organization_id:
      description: Organization identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    resource-sharing_resource_resource_id:
      description: Share Resource identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    resource-sharing_share_excluded_recipient_object:
      properties:
        account_id:
          $ref: '#/components/schemas/resource-sharing_account_id'
        created:
          $ref: '#/components/schemas/resource-sharing_created'
        id:
          $ref: '#/components/schemas/resource-sharing_excluded_recipient_id'
        modified:
          $ref: '#/components/schemas/resource-sharing_modified'
      required:
      - id
      - account_id
      - created
      - modified
    resource-sharing_share_excluded_recipient_response_single:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/resource-sharing_share_excluded_recipient_object'
    resource-sharing_excluded_recipient_id:
      description: Share Excluded Recipient identifier tag.
      type: string
      example: 4ae96b85c43850f2c0a7b9101a0eeb18
      maxLength: 32
      x-auditable: true
    resource-sharing_share_recipient_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/resource-sharing_share_recipient_object'
    resource-sharing_share_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/resource-sharing_share_object'
    resource-sharing_recipient_resource_error:
      description: Share Recipient error message.
      type: string
      example: Recipient is missing necessary entitlement
      x-auditable: true
    resource-sharing_share_resource_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/resource-sharing_share_resource_object'
    resource-sharing_share_recipient_resource_object:
      properties:
        error:
          $ref: '#/components/schemas/resource-sharing_recipient_resource_error'
        resource_id:
          $ref: '#/components/schemas/resource-sharing_resource_resource_id'
        resource_version:
          $ref: '#/components/schemas/resource-sharing_resource_version'
        terminal:
          $ref: '#/components/schemas/resource-sharing_recipient_resource_error_terminal'
      required:
      - error
      - terminal
      - resource_id
      - resource_version
    resource-sharing_create_share_resource_request:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/resource-sharing_resource_meta'
        resource_account_id:
          $ref: '#/components/schemas/resource-sharing_account_id'
        resource_id:
          $ref: '#/components/schemas/resource-sharing_resource_resource_id'
        resource_type:
          $ref: '#/components/schemas/resource-sharing_resource_type'
      required:
      - resource_id
      - resource_type
      - resource_account_id
      - meta
    resource-sharing_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/resource-sharing_v4errors'
        result:
          anyOf:
          - type: object
          - items: {}
            type: array
          - type: string
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
      required:
      - success
      - errors
    resource-sharing_update_share_excluded_recipients_request:
      type: array
      items:
        $ref: '#/components/schemas/resource-sharing_create_share_excluded_recipient_request'
    resource-sharing_created:
      description: When the share was created.
      type: string
      format: date-time
      example: '2023-09-21T18:56:32.624632Z'
      x-auditable: true
    resource-sharing_v4error:
      type: object
      properties:
        code:
          type: integer
          minimum: 1000
        message:
          type: string
      required:
      - code
      - message
    resource-sharing_update_share_request:
      description: 'Request body for `PUT /accounts/{account_id}/shares/{share_id}`. The

        share''s display `name` and `tags` can be updated via this endpoint. To

        modify recipients, use the

        `/accounts/{account_id}/shares/{share_id}/recipients` subresource

        endpoints (POST, PUT, DELETE).

        '
      type: object
      properties:
        name:
          $ref: '#/components/schemas/resource-sharing_share_name'
      required:
      - name
    resource-sharing_share_target_type:
      type: string
      enum:
      - account
      - organization
      x-auditable: true
    resource-sharing_share_resource_object:
      properties:
        created:
          $ref: '#/components/schemas/resource-sharing_created'
        id:
          $ref: '#/components/schemas/resource-sharing_resource_id'
        meta:
          $ref: '#/components/schemas/resource-sharing_resource_meta'
        modified:
          $ref: '#/components/schemas/resource-sharing_modified'
        resource_account_id:
          $ref: '#/components/schemas/resource-sharing_account_id'
        resource_id:
          $ref: '#/components/schemas/resource-sharing_resource_resource_id'
        resource_type:
          $ref: '#/components/schemas/resource-sharing_resource_type'
        resource_version:
          $ref: '#/components/schemas/resource-sharing_resource_version'
        status:
          $ref: '#/components/schemas/resource-sharing_resource_status'
      required:
      - id
      - resource_id
      - resource_type
      - resource_account_id
      - meta
      - status
      - created
      - modified
      - resource_version
    resource-sharing_recipient_association_status:
      description: "The current state of the recipient relative to the share. The\n`desired_association_status` (not exposed in the response) tracks the\ntarget state set by the API; the background reconciliation workflow\ndrives `current_association_status` toward it.\n\n- `associating` — The recipient was recently added; the workflow is\n  pushing shared resources into the recipient account.\n- `associated` — Shared resources have been successfully applied to\n  the recipient account.\n- `disassociating` — The recipient was removed (via DELETE or PUT\n  replacement); the workflow is removing shared resources from the\n  recipient account.\n- `disassociated` — Shared resources have been removed from the\n  recipient account. The recipient record remains in the database.\n"
      type: string
      enum:
      - associating
      - associated
      - disassociating
      - disassociated
      x-auditable: true
    resource-sharing_update_share_recipients_request:
      type: array
      items:
        $ref: '#/components/schemas/resource-sharing_create_share_recipient_request'
    resource-sharing_resource_id:
      description: Share Resource identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    resource-sharing_resource_status:
      description: Resource Status.
      type: string
      enum:
      - active
      - deleting
      - deleted
      x-auditable: true
    resource-sharing_resource_type:
      description: Resource Type.
      type: string
      enum:
      - custom-ruleset
      - gateway-policy
      - gateway-destination-ip
      - gateway-block-page-settings
      - gateway-extended-email-matching
      - idp-federation-grant
      - trust-grant
      x-auditable: true
    resource-sharing_share_object:
      properties:
        account_id:
          $ref: '#/components/schemas/resource-sharing_account_id'
        account_name:
          $ref: '#/components/schemas/resource-sharing_account_name'
        associated_recipient_count:
          description: The number of recipients in the 'associated' state. This field is only included when requested via the 'include_recipient_counts' parameter.
          type: integer
          example: 10
        associating_recipient_count:
          description: The number of recipients in the 'associating' state. This field is only included when requested via the 'include_recipient_counts' parameter.
          type: integer
          example: 1
        created:
          $ref: '#/components/schemas/resource-sharing_created'
        disassociated_recipient_count:
          description: The number of recipients in the 'disassociated' state. This field is only included when requested via the 'include_recipient_counts' parameter.
          type: integer
          example: 0
        disassociating_recipient_count:
          description: The number of recipients in the 'disassociating' state. This field is only included when requested via the 'include_recipient_counts' parameter.
          type: integer
          example: 0
        id:
          $ref: '#/components/schemas/resource-sharing_share_id'
        kind:
          $ref: '#/components/schemas/resource-sharing_share_kind'
        modified:
          $ref: '#/components/schemas/resource-sharing_modified'
        name:
          $ref: '#/components/schemas/resource-sharing_share_name'
        organization_id:
          $ref: '#/components/schemas/resource-sharing_organization_id'
        resources:
          description: A list of resources that are part of the share. This field is only included when requested via the 'include_resources' parameter.
          type: array
          items:
            $ref: '#/components/schemas/resource-sharing_share_resource_object'
        status:
          $ref: '#/components/schemas/resource-sharing_share_status'
        target_type:
          $ref: '#/components/schemas/resource-sharing_share_target_type'
      required:
      - id
      - name
      - account_id
      - account_name
      - organization_id
      - created
      - modified
      - status
      - target_type
    resource-sharing_share_status:
      type: string
      enum:
      - active
      - deleting
      - deleted
      x-auditable: true
    resource-sharing_share_id:
      description: Share identifier tag.
      type: string
      example: 3fd85f74b32742f1bff64a85009dda07
      maxLength: 32
      x-auditable: true
    resource-sharing_account_id:
      description: Account identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    resource-sharing_v4errors:
      type: array
      items:
        $ref: '#/components/schemas/resource-sharing_v4error'
      example: []
    resource-sharing_create_share_request:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/resource-sharing_share_name'
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/resource-sharing_create_share_recipient_request'
        resources:
          type: array
          items:
            $ref: '#/components/schemas/resource-sharing_create_share_resource_request'
      required:
      - name
      - resources
      - recipients
    resource-sharing_modified:
      description: When the share was modified.
      type: string
      format: date-time
      example: '2023-09-21T18:56:32.624632Z'
      x-auditable: true
    resource-sharing_share_kind:
      type: string
      enum:
      - sent
      - received
      x-auditable: true
    resource-sharing_create_share_excluded_recipient_request:
      type: object
      properties:
        account_id:
          description: The account to exclude from the organization-targeted share.
          allOf:
          - $ref: '#/components/schemas/resource-sharing_account_id'
      required:
      - account_id
    resource-sharing_recipient_id:
      description: Share Recipient identifier tag.
      type: string
      example: 3fd85f74b32742f1bff64a85009dda07
      maxLength: 32
      x-auditable: true
    resource-sharing_share_recipient_object:
      description: 'A recipient of a share. The `association_status` field tracks the

        lifecycle of the shared resources in the recipient account. All

        recipients are returned by the list endpoint regardless of status;

        filter client-side if only active recipients are needed.

        '
      properties:
        account_id:
          $ref: '#/components/schemas/resource-sharing_account_id'
        association_status:
          $ref: '#/components/schemas/resource-sharing_recipient_association_status'
        created:
          $ref: '#/components/schemas/resource-sharing_created'
        id:
          $ref: '#/components/schemas/resource-sharing_recipient_id'
        modified:
          $ref: '#/components/schemas/resource-sharing_modified'
        resources:
          type: array
          items:
            $ref: '#/components/schemas/resource-sharing_share_recipient_resource_object'
      required:
      - id
      - account_id
      - association_status
      - created
      - modified
    resource-sharing_update_share_resource_request:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/resource-sharing_resource_meta'
      required:
      - meta
    resource-sharing_share_response_single:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/resource-sharing_share_object'
    resource-sharing_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/resource-sharing_v4errors'
          minLength: 1
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          x-auditable: true
      required:
      - success
      - errors
      - result
    resource-sharing_share_name:
      description: The name of the share.
      type: string
      example: My Shared WAF Managed Rule
      x-auditable: true
    resource-sharing_account_name:
      description: The display name of an account.
      type: string
      example: Account A
      x-auditable: true
    resource-sharing_create_share_recipient_request:
      description: 'Optionally specify `recipient_account_id` to target a specific account, or `organization_id` to target the caller''s whole organization. If neither is provided, the caller''s organization is used.

        The legacy field `account_id` is accepted as a synonym for `recipient_account_id` during the deprecation period (see `x-sunset` on that field).

        '
      type: object
      properties:
        account_id:
          description: 'Deprecated alias for `recipient_account_id`. Use `recipient_account_id` instead.

            The body field collided with the URL path parameter of the same name, which prevented SDK generators from distinguishing the source account (in the URL) from the recipient account (in the body). Both names will continue to be accepted until 2027-05-26 (see `x-sunset`).

            '
          allOf:
          - $ref: '#/components/schemas/resource-sharing_account_id'
          deprecated: true
          x-stainless-deprecation-message: This field has been renamed to `recipient_account_id`. Both names are accepted during the deprecation period.
          x-stainless-skip:
          - terraform
        organization_id:
          $ref: '#/components/schemas/resource-sharing_organization_id'
        recipient_account_id:
          description: The account that will receive the share.
          allOf:
          - $ref: '#/components/schemas/resource-sharing_account_id'
    resource-sharing_share_resource_response_single:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/resource-sharing_share_resource_object'
    resource-sharing_share_excluded_recipient_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/resource-sharing_share_excluded_recipient_object'
    resource-sharing_share_recipient_response_single:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/resource-sharing_share_recipient_object'
    resource-sharing_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/resource-sharing_api-response-common'
      - properties:
          result:
            type:
            - array
            - 'null'
            items: {}
          result_info:
            $ref: '#/components/schemas/resource-sharing_result_info'
  parameters:
    resource-sharing_include_resources:
      description: Include resources in the response.
      in: query
      name: include_resources
      schema:
        type: boolean
        example: true
    resource-sharing_resource_types:
      description: Filter share resources by resource_types.
      in: query
      name: resource_types
      schema:
        type: array
        items:
          $ref: '#/components/schemas/resource-sharing_resource_type'
    resource-sharing_resource_status:
      description: Filter share resources by status.
      in: query
      name: status
      schema:
        $ref: '#/components/schemas/resource-sharing_resource_status'
    resource-sharing_tag:
      description: Filter shares by tag. Each value is either `key=value` (matches shares whose tags contain that key/value pair) or `key` alone (matches shares that have any value for that key). May be repeated; multiple `tag` parameters are ANDed together. Maximum 20 `tag` parameters per request.
      explode: true
      in: query
      name: tag
      schema:
        type: array
        items:
          example: env=production
          maxLength: 1281
          type: string
        maxItems: 20
      style: form
    resource-sharing_per_page:
      description: 'Number of objects to return per page. Defaults to `20` when `page`

        is supplied without `per_page`. May be omitted entirely along with

        `page` to receive a non-paginated response.'
      in: query
      name: per_page
      schema:
        type: integer
        example: 20
        default: 20
        maximum: 100
        minimum: 1
        multipleOf: 1
    resource-sharing_kind:
      description: Filter shares by kind.
      in: query
      name: kind
      schema:
        $ref: '#/components/schemas/resource-sharing_share_kind'
    resource-sharing_page:
      description: 'Page number. Defaults to `1` when `per_page` is supplied without

        `page`. May be omitted entirely along with `per_page` to receive a

        non-paginated response.'
      in: query
      name: page
      schema:
        type: integer
        example: 2
        default: 1
        minimum: 1
        multipleOf: 1
    resource-sharing_resource_type:
      description: Filter share resources by resource_type.
      in: query
      name: resource_type
      schema:
        $ref: '#/components/schemas/resource-sharing_resource_type'
    resource-sharing_status:
      description: Filter shares by status.
      in: query
      name: status
      schema:
        $ref: '#/components/schemas/resource-sharing_share_status'
    resource-sharing_direction:
      description: Direction to sort objects.
      in: query
      name: direction
      schema:
        type: string
        default: asc
        enum:
        - asc
        - desc
    resource-sharing_include_recipient_counts:
      description: Include recipient counts in the response.
      in: query
      name: include_recipient_counts
      schema:
        type: boolean
        example: true
    resource-sharing_target_type:
      description: Filter shares by target_type.
      in: query
      name: target_type
      schema:
        $ref: '#/components/schemas/resource-sharing_share_target_type'
    resource-sharing_order:
      description: Order shares by values in the given field.
      in: query
      name: order
      schema:
        type: string
        default: created
        enum:
        - name
        - created
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
        description: Chat messages from historical RealtimeKit sessions
      kit.sessions.livestreams:
        description: Livestreams associated with historical RealtimeKit sessions
      kit.sessions.participants:
        description: Participants in historical RealtimeKit sessions
      kit.sessions.peers:
        description: Peer details from historical RealtimeKit sessions
      kit.sessions.summaries:
        description: Summaries of historical RealtimeKit sessions
      kit.sessions.transcripts:
        description: Transcripts from historical RealtimeKit sessions
      kit.webhooks:
        description: Webhook endpoints and supported events for RealtimeKit notifications
      kit.webhooks.events:
        description: Supported events for RealtimeKit webhooks
      moq:
        description: MoQ relays for publishing and subscribing to media streams
      moq.relays:
        description: Relays are isolated MoQ scopes that carry media between publishers and subscribers
      moq.relays.tokens:
        description: Tokens that authorize publishers and subscribers to connect to a relay
      sfu:
        description: SFU apps that route WebRTC media and data between participants
      sfu.apps:
        description: SFU application namespaces for sessions and tracks
      turn:
        description: TURN keys that help clients traverse NATs and firewalls
      turn.keys:
        description: Keys used to generate short-lived TURN credentials
  request-tracers:
    description: Trace how a request would be processed through Cloudflare's rules and configuration pipeline
    groups:
      traces:
        description: Simulate request processing to debug rule matches, transforms, and routing decisions
  resource-sharing:
    description: Share Cloudflare resources (zones, accounts) across organizations with granular access controls
    groups:
      recipients:
        description: Update share recipients
      resources:
        description: Individual resources (zones, configs) that have been shared with recipients
  rules:
    description: Resources used by Cloudflare rules and rulesets
    groups:
      lists:
        description: Custom account-level lists of IPs, hostnames, ASNs, or redirects used in rule expressions
  rum:
    description: Real User Measurement (Web Analytics) — track page loads, Core Web Vitals, and visitor metrics
    groups:
      rules:
        description: Rules that control which pages and paths are tracked by Web Analytics
      site-info:
        description: Web Analytics sites — register domains and get the JavaScript beacon snippet
  scim:
    description: SCIM 2.0 provisioning — manage users, groups, and identity provider sync for your account
    groups:
      groups:
        description: Groups operations
      resource-types:
        description: Resource Types operations
      schemas:
        description: Schemas operations
      service-provider-config:
        description: Service Provider Config operations
      users:
        description: Users operations
  secrets-store:
    description: Centralized secret management — store API keys, tokens, and credentials for use across Workers and other products
    groups:
      quota:
[...]
