openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Access applications API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Access applications
paths:
  /accounts/{account_id}/access/apps:
    get:
      operationId: access-applications-list-access-applications
      summary: List Access applications
      description: Lists all Access applications in an account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      - name: name
        in: query
        schema:
          description: The name of the app.
          type: string
      - name: domain
        in: query
        schema:
          description: The domain of the app.
          type: string
      - name: aud
        in: query
        schema:
          description: The aud of the app.
          type: string
      - name: target_attributes
        in: query
        schema:
          description: Target Criteria attributes in key=value format.
          type: string
      - name: exact
        in: query
        schema:
          description: True for only exact string matches against passed name/domain query parameters.
          type: boolean
      - name: search
        in: query
        schema:
          description: Search for apps by other listed query parameters.
          type: string
      - $ref: '#/components/parameters/access_page'
      - $ref: '#/components/parameters/access_per_page'
      responses:
        '200':
          description: List Access applications response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_response_collection-8'
        4XX:
          description: List Access applications response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Revoke'
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.access.applications
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: access-applications-add-an-application
      summary: Add an Access application
      description: Adds a new application to Access.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_app_request'
      responses:
        '201':
          description: Add an Access application response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_single_response-9'
                - properties:
                    result:
                      $ref: '#/components/schemas/access_app_response'
                  type: object
        4XX:
          description: Add an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.access.applications
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/access/apps/{app_id}:
    delete:
      operationId: access-applications-delete-an-access-application
      summary: Delete an Access application
      description: Deletes an application from Access.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Delete an Access application response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_id_response'
        4XX:
          description: Delete an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.access.applications
      x-fern-sdk-method-name: delete
    get:
      operationId: access-applications-get-an-access-application
      summary: Get an Access application
      description: Fetches information about an Access application.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get an Access application response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_single_response-9'
        4XX:
          description: Get an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.access.applications
      x-fern-sdk-method-name: get
      x-stability: beta
    put:
      operationId: access-applications-update-an-access-application
      summary: Update an Access application
      description: Updates an Access application.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_app_request'
      responses:
        '200':
          description: Update an Access application response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_single_response-9'
                - properties:
                    result:
                      $ref: '#/components/schemas/access_app_response'
                  type: object
        4XX:
          description: Update an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.access.applications
      x-fern-sdk-method-name: update
      x-stability: beta
  /accounts/{account_id}/access/apps/{app_id}/revoke_tokens:
    post:
      operationId: access-applications-revoke-service-tokens
      summary: Revoke application tokens
      description: Revokes all tokens issued for an application.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Revoke application tokens response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_empty_response-2'
        4XX:
          description: Revoke application tokens response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Revoke'
      - 'Access: Apps and Policies Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.access.applications
      x-fern-sdk-method-name: revoke-tokens
      x-forge-require-confirmation: This operation invalidates every service token for the app.
  /accounts/{account_id}/access/apps/{app_id}/settings:
    patch:
      operationId: access-applications-patch-update-access-application-settings
      summary: Update Access application settings
      description: Updates Access application settings.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_app_settings_request'
      responses:
        '202':
          description: Update Access application settings response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_single_response_update'
        4XX:
          description: Update Access application settings response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.applications.settings
      x-fern-sdk-method-name: edit
    put:
      operationId: access-applications-put-update-access-application-settings
      summary: Update Access application settings
      description: Updates Access application settings.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_app_settings_request'
      responses:
        '202':
          description: Update Access application settings response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_single_response_update'
        4XX:
          description: Update Access application settings response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.access.applications.settings
      x-fern-sdk-method-name: update
  /accounts/{account_id}/access/apps/{app_id}/user_policy_checks:
    get:
      operationId: access-applications-test-access-policies
      summary: Test Access policies
      description: Tests if a specific user has permission to access an application.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Test Access policies response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_policy_check_response'
        4XX:
          description: Test Access policies response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      x-fern-availability: generally-available
      x-fern-sdk-group-name: zero-trust.access.applications.user-policy-checks
      x-fern-sdk-method-name: list
components:
  schemas:
    access_skip_app_launcher_login_page:
      description: Determines when to skip the App Launcher landing page.
      type: boolean
      example: true
      default: false
    access_proxy_endpoint_props:
      allOf:
      - $ref: '#/components/schemas/access_feature_app_props'
      - properties:
          domain:
            description: 'The proxy endpoint domain in the format: 10 alphanumeric characters followed by .proxy.cloudflare-gateway.com'
            type: string
            example: abcd123456.proxy.cloudflare-gateway.com
            pattern: ^[A-Za-z0-9]{10}\.proxy\.cloudflare-gateway\.com$
          name:
            type: string
            example: Gateway Proxy
            default: Gateway Proxy
          type:
            allOf:
            - $ref: '#/components/schemas/access_type'
            - example: proxy_endpoint
              type: string
        type: object
    access_app_launcher_visible:
      description: Displays the application in the App Launcher.
      type: boolean
      example: true
      default: true
    access_domain_rule:
      description: Match an entire email domain.
      type: object
      properties:
        email_domain:
          type: object
          properties:
            domain:
              description: The email domain to match.
              type: string
              example: example.com
          required:
          - domain
      required:
      - email_domain
      title: Email domain
    access_any_valid_service_token_rule:
      description: Matches any valid Access Service Token
      type: object
      properties:
        any_valid_service_token:
          description: An empty object which matches on all service tokens.
          type: object
          example: {}
          x-stainless-empty-object: true
      required:
      - any_valid_service_token
      title: Any Valid Service Token
    access_country_rule:
      description: Matches a specific country
      type: object
      properties:
        geo:
          type: object
          properties:
            country_code:
              description: The country code that should be matched.
              type: string
              example: US
          required:
          - country_code
      required:
      - geo
      title: Country
    access_cloudflare_account_member_rule:
      description: 'Matches users who are members of a specific Cloudflare account.

        Requires a Cloudflare identity provider.'
      type: object
      properties:
        cloudflare_account_member:
          type: object
          properties:
            account_id:
              $ref: '#/components/schemas/access_identifier'
      required:
      - cloudflare_account_member
      title: Cloudflare Account Member
    access_bookmark_props:
      type: object
      properties:
        app_launcher_visible:
          $ref: '#/components/schemas/access_app_launcher_visible'
        domain:
          description: The URL or domain of the bookmark.
          type: string
          example: https://mybookmark.com
        logo_url:
          $ref: '#/components/schemas/access_logo_url'
        name:
          $ref: '#/components/schemas/access_name-8'
        tags:
          $ref: '#/components/schemas/access_tags'
        type:
          allOf:
          - $ref: '#/components/schemas/access_type'
          - example: bookmark
            type: string
      title: Bookmark application
    access_scim_config_authentication_http_basic:
      description: Attributes for configuring HTTP Basic authentication scheme for SCIM provisioning to an application.
      type: object
      properties:
        password:
          description: Password used to authenticate with the remote SCIM service.
          type: string
          x-sensitive: true
        scheme:
          description: The authentication scheme to use when making SCIM requests to this application.
          type: string
          enum:
          - httpbasic
        user:
          description: User name used to authenticate with the remote SCIM service.
          type: string
      required:
      - scheme
      - user
      - password
      title: HTTP Basic
    access_app_launcher_props:
      allOf:
      - $ref: '#/components/schemas/access_feature_app_props'
      - properties:
          app_launcher_logo_url:
            $ref: '#/components/schemas/access_app_launcher_logo_url'
          bg_color:
            $ref: '#/components/schemas/access_bg_color'
          domain:
            type: string
            example: authdomain.cloudflareaccess.com
            readOnly: true
          footer_links:
            $ref: '#/components/schemas/access_footer_links'
          header_bg_color:
            $ref: '#/components/schemas/access_header_bg_color'
          landing_page_design:
            $ref: '#/components/schemas/access_landing_page_design'
          name:
            type: string
            example: App Launcher
            default: App Launcher
            readOnly: true
          skip_app_launcher_login_page:
            $ref: '#/components/schemas/access_skip_app_launcher_login_page'
          type:
            allOf:
            - $ref: '#/components/schemas/access_type'
            - example: app_launcher
              type: string
        type: object
    access_auto_redirect_to_identity-2:
      description: When set to `true`, users skip the identity provider selection step during login. You must specify only one identity provider in allowed_idps.
      type: boolean
      default: false
    access_app_response:
      anyOf:
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_end_user_props'
        title: End User Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_self_hosted_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: Self Hosted Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_saas_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: SaaS Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_ssh_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: Browser SSH Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_vnc_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: Browser VNC Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_app_launcher_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: App Launcher Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_warp_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: Device Enrollment Permissions Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_biso_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: Browser Isolation Permissions Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_proxy_endpoint_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: Gateway Identity Proxy Endpoint Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_bookmark_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: Bookmark application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_infra_props'
        - $ref: '#/components/schemas/access_infra_app_resp_embedded_policies'
        title: Infrastructure application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_rdp_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: Browser RDP Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_mcp_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: MCP Server Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props'
        - $ref: '#/components/schemas/access_mcp_portal_props'
        - $ref: '#/components/schemas/access_app_resp_embedded_policies'
        title: MCP Server Portal Application
        type: object
    access_connection_rules_rdp:
      description: The RDP-specific rules that define clipboard behavior for RDP connections.
      type: object
      properties:
        allowed_clipboard_local_to_remote_formats:
          $ref: '#/components/schemas/access_allowed_clipboard_local_to_remote_formats'
        allowed_clipboard_remote_to_local_formats:
          $ref: '#/components/schemas/access_allowed_clipboard_remote_to_local_formats'
      title: RDP Connection Rules
    access_target_rule_attributes:
      description: Hostname selector map for include, require, or exclude rules. This is distinct from the deprecated top-level target_attributes field and only supports the hostname key.
      type: object
      properties:
        hostname:
          type: array
          items:
            minLength: 1
            type: string
          maxItems: 5000
          minItems: 1
      example:
        hostname:
        - web-*
      additionalProperties: false
      maxProperties: 1
      minProperties: 1
    access_access_group_rule:
      description: Matches an Access group.
      type: object
      properties:
        group:
          type: object
          properties:
            id:
              description: The ID of a previously created Access group.
              type: string
              example: aa0a4aab-672b-4bdb-bc33-a59f1130a11f
          required:
          - id
      required:
      - group
      title: Access groups
    access_allowed_methods:
      description: Allowed HTTP request methods.
      type: array
      items:
        enum:
        - GET
        - POST
        - HEAD
        - PUT
        - DELETE
        - CONNECT
        - OPTIONS
        - TRACE
        - PATCH
        type: string
      example:
      - GET
    access_okta_group_rule:
      description: 'Matches an Okta group.

        Requires an Okta identity provider.'
      type: object
      properties:
        okta:
          type: object
          properties:
            identity_provider_id:
              description: The ID of your Okta identity provider.
              type: string
              example: ea85612a-29c8-46c2-bacb-669d65136971
            name:
              description: The name of the Okta group.
              type: string
              example: devs
          required:
          - name
          - identity_provider_id
      required:
      - okta
      title: Okta group
    access_protocol_self_hosted_app:
      description: The communication protocol your application secures.
      type: string
      example: RDP
      enum:
      - RDP
      x-auditable: true
    access_mcp_portal_props:
      type: object
      properties:
        allow_authenticate_via_warp:
          $ref: '#/components/schemas/access_allow_authenticate_via_warp-2'
        allowed_idps:
          $ref: '#/components/schemas/access_allowed_idps'
        auto_redirect_to_identity:
          $ref: '#/components/schemas/access_auto_redirect_to_identity-2'
        custom_deny_message:
          $ref: '#/components/schemas/access_custom_deny_message'
        custom_deny_url:
          $ref: '#/components/schemas/access_custom_deny_url'
        custom_non_identity_deny_url:
          $ref: '#/components/schemas/access_custom_non_identity_deny_url'
        custom_pages:
          $ref: '#/components/schemas/access_custom_pages-2'
        destinations:
          $ref: '#/components/schemas/access_destinations'
        domain:
          $ref: '#/components/schemas/access_domain'
        http_only_cookie_attribute:
          $ref: '#/components/schemas/access_http_only_cookie_attribute'
        logo_url:
          $ref: '#/components/schemas/access_logo_url'
        name:
          $ref: '#/components/schemas/access_name-8'
        oauth_configuration:
          $ref: '#/components/schemas/access_oauth_configuration'
        options_preflight_bypass:
          $ref: '#/components/schemas/access_options_preflight_bypass'
        same_site_cookie_attribute:
          $ref: '#/components/schemas/access_same_site_cookie_attribute'
        scim_config:
          $ref: '#/components/schemas/access_scim_config'
        session_duration:
          $ref: '#/components/schemas/access_session_duration-2'
        tags:
          $ref: '#/components/schemas/access_tags'
        type:
          allOf:
          - $ref: '#/components/schemas/access_type'
          - example: mcp_portal
            type: string
      required:
      - type
      title: MCP Server Portal Application
    access_mcp_props:
      type: object
      properties:
        allow_authenticate_via_warp:
          $ref: '#/components/schemas/access_allow_authenticate_via_warp-2'
        allowed_idps:
          $ref: '#/components/schemas/access_allowed_idps'
        auto_redirect_to_identity:
          $ref: '#/components/schemas/access_auto_redirect_to_identity-2'
        custom_deny_message:
          $ref: '#/components/schemas/access_custom_deny_message'
        custom_deny_url:
          $ref: '#/components/schemas/access_custom_deny_url'
        custom_non_identity_deny_url:
          $ref: '#/components/schemas/access_custom_non_identity_deny_url'
        custom_pages:
          $ref: '#/components/schemas/access_custom_pages-2'
        destinations:
          $ref: '#/components/schemas/access_destinations'
        http_only_cookie_attribute:
          $ref: '#/components/schemas/access_http_only_cookie_attribute'
        logo_url:
          $ref: '#/components/schemas/access_logo_url'
        name:
          $ref: '#/components/schemas/access_name-8'
        oauth_configuration:
          $ref: '#/components/schemas/access_oauth_configuration'
        options_preflight_bypass:
          $ref: '#/components/schemas/access_options_preflight_bypass'
        same_site_cookie_attribute:
          $ref: '#/components/schemas/access_same_site_cookie_attribute'
        scim_config:
          $ref: '#/components/schemas/access_scim_config'
        session_duration:
          $ref: '#/components/schemas/access_session_duration-2'
        tags:
          $ref: '#/components/schemas/access_tags'
        type:
          allOf:
          - $ref: '#/components/schemas/access_type'
          - example: mcp
            type: string
      required:
      - type
      title: MCP Server Application
    access_destination_overrides:
      description: 'Rules that override how Access handles requests to this destination. Each rule can make a matching path public, bypassing Access authentication. Overrides are supported for public destinations and Worker destinations.

        '
      type: array
      items:
        properties:
          behavior:
            description: The behavior to apply to matching requests.
            type: string
            enum:
            - public
          path_pattern:
            description: 'The request path pattern to match. Wildcards (`*`) are supported, but each path segment may have at most one wildcard. Unlike the `uri` in public destinations, override path patterns do not implicitly cover subpaths; to do that, use a wildcard.

              '
            type: string
            example: /health/*
            maxLength: 512
            pattern: ^/
        required:
        - path_pattern
        - behavior
        type: object
      maxItems: 25
    access_everyone_rule:
      description: Matches everyone.
      type: object
      properties:
        everyone:
          description: An empty object which matches on all users.
          type: object
          example: {}
          x-stainless-empty-object: true
      required:
      - everyone
      title: Everyone
    access_ip_rule:
      description: Matches an IP address block.
      type: object
      properties:
        ip:
          type: object
          properties:
            ip:
              description: An IPv4 or IPv6 CIDR block.
              type: string
              example: 2400:cb00:21:10a::/64
          required:
          - ip
      required:
      - ip
      title: IP ranges
    access_policy_resp:
      type: object
      properties:
        approval_groups:
          $ref: '#/components/schemas/access_approval_groups'
        approval_required:
          $ref: '#/components/schemas/access_approval_required'
        connection_rules:
          $ref: '#/components/schemas/access_connection_rules'
        isolation_required:
          $ref: '#/components/schemas/access_isolation_required'
        mfa_config:
          $ref: '#/components/schemas/access_mfa_config'
        purpose_justification_prompt:
          $ref: '#/components/schemas/access_purpose_justification_prompt'
        purpose_justification_required:
          $ref: '#/components/schemas/access_purpose_justification_required'
        session_duration:
          $ref: '#/components/schemas/access_session_duration-3'
      allOf:
      - $ref: '#/components/schemas/access_base_policy_resp'
    access_port:
      description: The port that the targets use for the chosen communication protocol. A port cannot be assigned to multiple protocols.
      type: integer
      example: 22
    access_target_attributes:
      description: Contains a map of target attribute keys to target attribute values.
      type: object
      example:
        hostname:
        - test-server
        - production-server
      additionalProperties:
        example:
        - test-server
        - production-server
        items:
          type: string
        type: array
      deprecated: true
    access_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    access_custom_deny_url:
      description: The custom URL a user is redirected to when they are denied access to the application when failing identity-based rules.
      type: string
    access_name-8:
      description: The name of the application.
      type: string
      example: Admin Site
    access_target_criteria_base:
      description: Defines targets covered by the application. Use either the legacy top-level target_attributes format or the rule format, but not both. The rule format requires include; require and exclude are optional.
      type: object
      properties:
        exclude:
          description: Target is excluded when any selector in this rule matches.
          type: object
          allOf:
          - $ref: '#/components/schemas/access_target_rule'
        include:
          description: Target matches when any selector in this rule matches.
          type: object
          allOf:
          - $ref: '#/components/schemas/access_target_rule'
        port:
          type: integer
          allOf:
          - $ref: '#/components/schemas/access_port'
        require:
          description: Target matches only when every selector in this rule matches.
          type: object
          allOf:
          - $ref: '#/components/schemas/access_target_rule'
        target_attributes:
          type: object
          allOf:
          - $ref: '#/components/schemas/access_target_attributes'
      oneOf:
      - not:
          anyOf:
          - required:
            - include
            type: object
          - required:
            - require
            type: object
          - required:
            - exclude
            type: object
          type: object
        required:
        - target_attributes
        type: object
      - not:
          required:
          - target_attributes
          type: object
        required:
        - include
        type: object
      required:
      - port
      - protocol
      title: Target Criteria
    access_single_response_update:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/access_app_settings_response'
        type: object
    access_saas_props:
      type: object
      properties:
        allowed_idps:
          $ref: '#/components/schemas/access_allowed_idps'
        app_launcher_visible:
          $ref: '#/components/schemas/access_app_launcher_visible'
        auto_redirect_to_identity:
          $ref: '#/components/schemas/access_auto_redirect_to_identity-2'
        custom_pages:
          $ref: '#/components/schemas/access_custom_pages-2'
        logo_url:
          $ref: '#/components/schemas/access_logo_url'
        name:
          $ref: '#/components/schemas/access_name-8'
        saas_app:
          type: object
          oneOf:
          - $ref: '#/components/schemas/access_saml_saas_app'
          - $ref: '#/components/schemas/access_oidc_saas_app'
        scim_config:
          $ref: '#/components/schemas/access_scim_config'
        tags:
          $ref: '#/components/schemas/access_tags'
        type:
          allOf:
          - $ref: '#/components/schemas/access_type'
          - example: saas
            type: string
      title: SaaS Application
    access_service_token_rule:
      description: Matches a specific Access Service Token
      type: object
      properties:
        service_token:
          type: object
          properties:
            token_id:
              description: The ID of a Service Token.
              type: string
              example: aa0a4aab-672b-4bdb-bc33-a59f1130a11f
          required:
          - token_id
      required:
      - service_token
      title: Service Token
    access_oidc_claim_rule:
      description: 'Matches an OIDC claim.

        Requires an OIDC identity provider.'
      type: object
      properties:
        oidc:
          type: object
          properties:
            claim_name:
              description: The name of the OIDC claim.
              type: string
              example: group
            claim_value:
              description: The OIDC claim value to look for.
              type: string
              example: devs@cloudflare.com
            identity_provider_id:
              description: The ID of your OIDC identity provider.
              type: string
              example: ea85612a-29c8-46c2-bacb-669d65136971
          required:
          - claim_name
          - claim_value
          - identity_provider_id
      required:
      - oidc
      title: OIDC claim
    access_app_req_embedded_scim_config:
      type: object
      properties:
        scim_config:
          $ref: '#/components/schemas/access_scim_config'
    access_saml_saas_app:
      type: object
      properties:
        auth_type:
          description: Optional identifier indicating the authentication protocol used for the saas app. Required for OIDC. Default if unset is "saml"
          type: string
          example: saml
          enum:
          - saml
          - oidc
        consumer_service_url:
          description: The service provider's endpoint that is responsible for receiving and parsing a SAML assertion.
          type: string
          example: https://example.com
        created_at:
          $ref: '#/components/schemas/access_created_at'
        custom_attributes:
          type: array
          items:
            properties:
              friendly_name:
                description: The SAML FriendlyName of the attribute.
                type: string
                example: Last Name
              name:
                description: The name of the attribute.
                type: string
                example: family_name
              name_format:
                description: A globally unique name for an identity or service provider.
                type: string
                example: urn:oasis:names:tc:SAML:2.0:attrname-format:basic
                enum:
                - urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified
                - urn:oasis:names:tc:SAML:2.0:attrname-format:basic
                - urn:oasis:names:tc:SAML:2.0:attrname-format:uri
              required:
                description: If the attribute is required when building a SAML assertion.
                type: boolean
                example: true
              source:
                type: object
                properties:
                  name:
                    description: The name of the IdP attribute.
                    type: string
                    example: last_name
                  name_by_idp:
                    description: A mapping from IdP ID to attribute name.
                    type: array
                    items:
                      properties:
                        idp_id:
                          description: The UID of the IdP.
                          type: string
                          example: exampleIdPID1
                        source_name:
                          description: The name of the IdP provided attribute.
                          type: string
                          example: AttributeName1
                      type: object
            type: object
        default_relay_state:
          description: The URL that the user will be redirected to after a successful login for IDP initiated logins.
          type: string
          example: https://example.com
        idp_entity_id:
          description: The unique identifier for your SaaS application.
          type: string
          example: https://example.cloudflareaccess.com
          x-stainless-terraform-configurability: computed_optional
        name_id_format:
          description: The format of the name identifier sent to the SaaS application.
          type: string
          example: id
          enum:
          - id
          - email
        name_id_transform_jsonata:
          description: 'A [JSONata](https://jsonata.org/) expression that transforms an application''s user identities into a NameID value for its SAML assertion. This expression should evaluate to a singular string. The output of this expression can override the `name_id_format` setting.

            '
          type: string
          example: $substringBefore(email, '@') & '+sandbox@' & $substringAfter(email, '@')
        public_key:
          description: The Access public certificate that will be used to verify your identity.
          type: string
          example: example unique name
          x-stainless-terraform-configurability: computed
        saml_attribute_transform_jsonata:
          description: 'A [JSONata] (https://jsonata.org/) expression that transforms an application''s user identities into attribute assertions in the SAML response. The expression can transform id, email, name, and groups values. It can also transform fields listed in the saml_attributes or oidc_fields of the identity provider used to authenticate. The output of this expression must be a JSON object.

            '
          type: string
          example: '$ ~>| groups | {''group_name'': name} |'
        sp_entity_id:
          description: A globally unique name for an identity or service provider.
          type: string
          example: example unique name
        sso_endpoint:
          description: The endpoint where your SaaS application will send login requests.
          type: string
          example: https://example.cloudflareaccess.com/cdn-cgi/access/sso/saml/b3f58a2b414e0b51d45c8c2af26fccca0e27c63763c426fa52f98dcf0b3b3bfd
          x-stainless-terraform-configurability: computed_optional
        updated_at:
          $ref: '#/components/schemas/access_updated_at'
      title: SAML SaaS App
    access_scim_config_mapping:
      description: Transformations and filters applied to resources before they are provisioned in the remote SCIM service.
      type: object
      properties:
        enabled:
          description: Whether or not this mapping is enabled.
          type: boolean
        filter:
          description: A [SCIM filter expression](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2) that matches resources that should be provisioned to this application.
          type: string
          example: title pr or userType eq "Intern"
        operations:
          description: Whether or not this mapping applies to creates, updates, or deletes.
          type: object
          properties:
            create:
              description: Whether or not this mapping applies to create (POST) operations.
              type: boolean
            delete:
              description: Whether or not this mapping applies to DELETE operations.
              type: boolean
            update:
              description: Whether or not this mapping applies to update (PATCH/PUT) operations.
              type: boolean
        schema:
          description: Which SCIM resource type this mapping applies to.
          type: string
          example: urn:ietf:params:scim:schemas:core:2.0:User
        strictness:
          description: The level of adherence to outbound resource schemas when provisioning to this mapping. ‘Strict’ removes unknown values, while ‘passthrough’ passes unknown values to the target.
          type: string
          enum:
          - strict
          - passthrough
        transform_jsonata:
          description: A [JSONata](https://jsonata.org/) expression that transforms the resource before provisioning it in the application.
          type: string
          example: '$merge([$, {''userName'': $substringBefore($.userName, ''@'') & ''+test@'' & $substringAfter($.userName, ''@'')}])'
      required:
      - schema
    access_feature_app_props:
      type: object
      properties:
        allowed_idps:
          $ref: '#/components/schemas/access_allowed_idps'
        auto_redirect_to_identity:
          $ref: '#/components/schemas/access_auto_redirect_to_identity-2'
        custom_deny_url:
          $ref: '#/components/schemas/access_custom_deny_url'
        custom_non_identity_deny_url:
          $ref: '#/components/schemas/access_custom_non_identity_deny_url'
        custom_pages:
          $ref: '#/components/schemas/access_custom_pages-2'
        domain:
          $ref: '#/components/schemas/access_domain'
        name:
          $ref: '#/components/schemas/access_name-8'
        session_duration:
          $ref: '#/components/schemas/access_session_duration-2'
        type:
          $ref: '#/components/schemas/access_type'
      required:
      - type
    access_enable_binding_cookie:
      description: Enables the binding cookie, which increases security against compromised authorization tokens and CSRF attacks.
      type: boolean
      default: false
    access_end_user_destinations:
      description: Public hostname and Workers destinations secured by Access.
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/access_end_user_public_destination'
        - $ref: '#/components/schemas/access_end_user_worker_destination'
        - $ref: '#/components/schemas/access_end_user_preview_worker_destination'
        - $ref: '#/components/schemas/access_end_user_all_workers_destination'
        - $ref: '#/components/schemas/access_end_user_all_preview_workers_destination'
    access_end_user_oauth_configuration:
      allOf:
      - $ref: '#/components/schemas/access_oauth_configuration'
      - properties:
          enabled:
            description: Managed OAuth is required for end user applications and cannot be disabled.
            type: boolean
            default: true
            enum:
            - true
        type: object
    access_empty_response-2:
      type: object
      allOf:
      - properties:
          result:
            type:
            - object
            - 'null'
          success:
            type: boolean
            example: true
            enum:
            - true
            - false
        type: object
    access_connection_rules_ssh:
      description: The SSH-specific rules that define how users may connect to the targets secured by your application.
      type: object
      properties:
        allow_email_alias:
          $ref: '#/components/schemas/access_allow_email_alias'
        usernames:
          $ref: '#/components/schemas/access_usernames'
      required:
      - usernames
      title: SSH Connection Rules
    access_isolation_required:
      description: Require this application to be served in an isolated browser for users matching this policy. 'Client Web Isolation' must be on for the account in order to use this feature.
      type: boolean
      example: false
    access_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/access_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/access_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    access_usernames:
      description: Contains the Unix usernames that may be used when connecting over SSH.
      type: array
      items:
        type: string
        x-auditable: true
      example:
      - root
      - ubuntu
    access_response_collection-8:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/access_app_response'
        type: object
    access_warp_props:
      allOf:
      - $ref: '#/components/schemas/access_feature_app_props'
      - properties:
          domain:
            type: string
            example: authdomain.cloudflareaccess.com/warp
            readOnly: true
          name:
            type: string
            example: Warp Login App
            default: Warp Login App
            readOnly: true
          type:
            allOf:
            - $ref: '#/components/schemas/access_type'
            - example: warp
              type: string
        type: object
    access_end_user_all_preview_workers_destination:
      type: object
      properties:
        overrides:
          $ref: '#/components/schemas/access_destination_overrides'
        type:
          type: string
          enum:
          - all_preview_workers
      required:
      - type
    access_scim_config:
      description: Configuration for provisioning to this application via SCIM. This is currently in closed beta.
      type: object
      properties:
        authentication:
          oneOf:
          - $ref: '#/components/schemas/access_scim_config_single_authentication'
          - $ref: '#/components/schemas/access_scim_config_multi_authentication'
        deactivate_on_delete:
          description: 'If false, propagates DELETE requests to the target application for SCIM resources. If true, sets ''active'' to false on the SCIM resource. Note: Some targets do not support DELETE operations.'
          type: boolean
        enabled:
          description: Whether SCIM provisioning is turned on for this application.
          type: boolean
        idp_uid:
          description: The UID of the IdP to use as the source for SCIM resources to provision to this application.
          type: string
        mappings:
          description: A list of mappings to apply to SCIM resources before provisioning them in this application. These can transform or filter the resources to be provisioned.
          type: array
          items:
            $ref: '#/components/schemas/access_scim_config_mapping'
        remote_uri:
          description: The base URI for the application's SCIM-compatible API.
          type: string
      required:
      - remote_uri
      - idp_uid
    access_policy_check_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            type: object
            properties:
              app_state:
                type: object
                properties:
                  app_uid:
                    $ref: '#/components/schemas/access_uuid'
                  aud:
                    type: string
                    example: 737646a56ab1df6ec9bddc7e5ca84eaf3b0768850f3ffb5d74f1534911fe389
                  hostname:
                    type: string
                    example: test.com
                  name:
                    type: string
                    example: Test App
                  policies:
                    type: array
                    items:
                      type: object
                    example:
                    - decision: allow
                      exclude: []
                      include:
                      - _type: email
                        email: testuser@gmail.com
                      precedence: 1
                      require: []
                      status: Success
                  status:
                    type: string
                    example: Success
              user_identity:
                type: object
                properties:
                  account_id:
                    type: string
                    example: 41ecfbb341f033e52b46742756aabb8b
                  device_sessions:
                    type: object
                    example: {}
                  email:
                    type: string
                    example: testuser@gmail.com
                  geo:
                    type: object
                    properties:
                      country:
                        type: string
                        example: US
                  iat:
                    type: integer
                  id:
                    type: string
                    example: '1164449231815010287495'
                  is_gateway:
                    type: boolean
                    example: false
                  is_warp:
                    type: boolean
                    example: false
                  name:
                    type: string
                    example: Test User
                  user_uuid:
                    $ref: '#/components/schemas/access_uuid'
                  version:
                    type: integer
        type: object
    access_name-9:
      description: The name of the Access policy.
      type: string
      example: Allow devs
    access_ssh_props:
      allOf:
      - $ref: '#/components/schemas/access_self_hosted_props'
      - properties:
          type:
            allOf:
            - $ref: '#/components/schemas/access_type'
            - example: ssh
              type: string
        type: object
    access_app_id:
      oneOf:
      - $ref: '#/components/schemas/access_identifier'
      - $ref: '#/components/schemas/access_uuid'
    access_azure_group_rule:
      description: 'Matches an Azure group.

        Requires an Azure identity provider.'
      type: object
      properties:
        azureAD:
          type: object
          properties:
            id:
              description: The ID of an Azure group.
              type: string
              example: aa0a4aab-672b-4bdb-bc33-a59f1130a11f
            identity_provider_id:
              description: The ID of your Azure identity provider.
              type: string
              example: ea85612a-29c8-46c2-bacb-669d65136971
          required:
          - id
          - identity_provider_id
      required:
      - azureAD
      title: Azure group
    access_skip_interstitial:
      description: Enables automatic authentication through cloudflared.
      type: boolean
      example: true
    access_infra_props:
      type: object
      allOf:
      - properties:
          mfa_config:
            $ref: '#/components/schemas/access_infra_mfa_config'
          name:
            $ref: '#/components/schemas/access_name-8'
          type:
            allOf:
            - $ref: '#/components/schemas/access_type'
            - example: infrastructure
              type: string
        type: object
      - $ref: '#/components/schemas/access_app_resp_embedded_target_criteria_infra'
      required:
      - type
      - target_criteria
      title: Infrastructure Application
    access_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    access_device_posture_rule:
      description: Enforces a device posture rule has run successfully
      type: object
      properties:
        device_posture:
          type: object
          properties:
            account_id:
              description: The ID of the account that owns the device posture integration.
              allOf:
              - $ref: '#/components/schemas/access_identifier'
            integration_uid:
              description: The ID of a device posture integration.
              type: string
              example: aa0a4aab-672b-4bdb-bc33-a59f1130a11f
          required:
          - integration_uid
      required:
      - device_posture
      title: Device Posture
    access_approval_groups:
      description: Administrators who can approve a temporary authentication request.
      type: array
      items:
        $ref: '#/components/schemas/access_approval_group'
      example:
      - approvals_needed: 1
        email_addresses:
        - test1@cloudflare.com
        - test2@cloudflare.com
      - approvals_needed: 3
        email_list_uuid: 597147a1-976b-4ef2-9af0-81d5d007fc34
      x-stainless-collection-type: set
    access_allowed_clipboard_remote_to_local_formats:
      description: Clipboard formats allowed when copying from remote RDP session to local machine.
      type: array
      items:
        $ref: '#/components/schemas/access_rdp_clipboard_format'
      example:
      - text
      - file
    access_http_only_cookie_attribute:
      description: Enables the HttpOnly cookie attribute, which increases security against XSS attacks.
      type: boolean
      example: true
      default: true
    access_button_text_color:
      description: The color of the text in the log in button on the landing page.
      type: string
      example: '#ff0000'
    access_rule:
      type: object
      oneOf:
      - $ref: '#/components/schemas/access_access_group_rule'
      - $ref: '#/components/schemas/access_any_valid_service_token_rule'
      - $ref: '#/components/schemas/access_auth_context_rule'
      - $ref: '#/components/schemas/access_authentication_method_rule'
      - $ref: '#/components/schemas/access_azure_group_rule'
      - $ref: '#/components/schemas/access_certificate_rule'
      - $ref: '#/components/schemas/access_common_name_rule'
      - $ref: '#/components/schemas/access_country_rule'
      - $ref: '#/components/schemas/access_device_posture_rule'
      - $ref: '#/components/schemas/access_domain_rule'
      - $ref: '#/components/schemas/access_email_list_rule'
      - $ref: '#/components/schemas/access_email_rule'
      - $ref: '#/components/schemas/access_everyone_rule'
      - $ref: '#/components/schemas/access_external_evaluation_rule'
      - $ref: '#/components/schemas/access_github_organization_rule'
      - $ref: '#/components/schemas/access_gsuite_group_rule'
      - $ref: '#/components/schemas/access_login_method_rule'
      - $ref: '#/components/schemas/access_ip_list_rule'
      - $ref: '#/components/schemas/access_ip_rule'
      - $ref: '#/components/schemas/access_okta_group_rule'
      - $ref: '#/components/schemas/access_saml_group_rule'
      - $ref: '#/components/schemas/access_oidc_claim_rule'
      - $ref: '#/components/schemas/access_service_token_rule'
      - $ref: '#/components/schemas/access_linked_app_token_rule'
      - $ref: '#/components/schemas/access_user_risk_score_rule'
      - $ref: '#/components/schemas/access_cloudflare_account_member_rule'
    access_basic_app_response_props:
      type: object
      properties:
        aud:
          $ref: '#/components/schemas/access_aud-2'
        created_at:
          $ref: '#/components/schemas/access_created_at'
        id:
          $ref: '#/components/schemas/access_uuid'
        updated_at:
          $ref: '#/components/schemas/access_updated_at'
    access_allow_credentials:
      description: When set to `true`, includes credentials (cookies, authorization headers, or TLS client certificates) with requests.
      type: boolean
    access_app_settings_response:
      type: object
      properties:
        allow_iframe:
          $ref: '#/components/schemas/access_allow_iframe'
        skip_interstitial:
          $ref: '#/components/schemas/access_skip_interstitial'
    access_end_user_props:
      description: 'An end user application is a public self-hosted application backed by exactly one organization-owned user population. End user applications use a canonical allow-everyone policy and do not support custom policies, SCIM configuration, MFA configuration, or private destinations.

        '
      type: object
      properties:
        allowed_idps:
          $ref: '#/components/schemas/access_allowed_idps'
        destinations:
          $ref: '#/components/schemas/access_end_user_destinations'
        domain:
          $ref: '#/components/schemas/access_domain'
        name:
          $ref: '#/components/schemas/access_name-8'
        oauth_configuration:
          $ref: '#/components/schemas/access_end_user_oauth_configuration'
        self_hosted_domains:
          $ref: '#/components/schemas/access_self_hosted_domains'
        type:
          allOf:
          - $ref: '#/components/schemas/access_type'
          - enum:
            - end_user
            example: end_user
            type: string
        user_populations:
          description: The single user population associated with this application.
          type: array
          items:
            $ref: '#/components/schemas/access_uuid'
          maxItems: 1
          minItems: 1
      required:
      - type
      - oauth_configuration
      - user_populations
      title: End User Application
    access_single_response-9:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/access_app_response'
        type: object
    access_session_duration-3:
      description: 'The amount of time that tokens issued for the application will be valid. Must be in the format `300ms` or `2h45m`. Valid time units are: ns, us (or µs), ms, s, m, h.'
      type:
      - string
      - 'null'
      example: 24h
    access_connection_rules:
      description: The rules that define how users may connect to targets secured by your application.
      type: object
      properties:
        rdp:
          $ref: '#/components/schemas/access_connection_rules_rdp'
      title: Connection Rules
    access_logo_url:
      description: The image URL for the logo shown in the App Launcher dashboard.
      type: string
      example: https://www.cloudflare.com/img/logo-web-badges/cf-logo-on-white-bg.svg
    access_email_rule:
      description: Matches a specific email.
      type: object
      properties:
        email:
          type: object
          properties:
            email:
              description: The email of the user.
              type: string
              format: email
              example: test@example.com
          required:
          - email
      required:
      - email
      title: Email
    access_email_list_rule:
      description: Matches an email address from a list.
      type: object
      properties:
        email_list:
          type: object
          properties:
            id:
              description: The ID of a previously created email list.
              type: string
              example: aa0a4aab-672b-4bdb-bc33-a59f1130a11f
          required:
          - id
      required:
      - email_list
      title: Email list
    access_options_preflight_bypass:
      description: Allows options preflight requests to bypass Access authentication and go directly to the origin. Cannot turn on if cors_headers is set.
      type: boolean
      example: true
    access_path_cookie_attribute:
      description: Enables cookie paths to scope an application's JWT to the application path. If disabled, the JWT will scope to the hostname by default
      type: boolean
      example: true
      default: false
    access_same_site_cookie_attribute:
      description: Sets the SameSite cookie setting, which provides increased security against CSRF attacks.
      type: string
      example: strict
    access_id_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/access_uuid'
        type: object
    access_allow_all_methods:
      description: Allows all HTTP request methods.
      type: boolean
    access_allow_email_alias:
      description: Enables using Identity Provider email alias as SSH username.
      type: boolean
      x-auditable: true
    access_app_req_embedded_policies:
      type: object
      properties:
        policies:
          description: The policies that Access applies to the application, in ascending order of precedence. Items can reference existing policies or create new policies exclusive to the application. Reusable and inline policies are mutually exclusive.
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/access_app_policy_link'
            - allOf:
              - description: A policy UID to link to this application.
                type: string
              - $ref: '#/components/schemas/access_uuid-2'
            - allOf:
              - type: object
              - description: An application-scoped policy JSON. If the policy does not yet exist, it will be created.
                properties:
                  id:
                    $ref: '#/components/schemas/access_uuid-2'
                type: object
              - $ref: '#/components/schemas/access_app_policy_request'
    access_service_auth_401_redirect:
      description: Returns a 401 status code when the request is blocked by a Service Auth policy.
      type: boolean
      example: true
    access_allow_all_origins:
      description: Allows all origins.
      type: boolean
    access_app_policy_link:
      description: A JSON that links a reusable policy to an application.
      type: object
      properties:
        account_id:
          $ref: '#/components/schemas/access_identifier'
        id:
          $ref: '#/components/schemas/access_uuid-2'
        precedence:
          $ref: '#/components/schemas/access_precedence'
    access_target_rule:
      description: Selectors within an include, require, or exclude rule. At least one of target_attributes or tags must be non-empty.
      type: object
      properties:
        tags:
          description: Map of target tag keys to values. Values within a key are OR'd.
          type: object
          example:
            environment:
            - production
          additionalProperties:
            items:
              minLength: 1
              type: string
            maxItems: 50
            minItems: 1
            type: array
          maxProperties: 50
          minProperties: 1
        target_attributes:
          type: object
          allOf:
          - $ref: '#/components/schemas/access_target_rule_attributes'
      additionalProperties: false
      minProperties: 1
      title: Target Rule
    access_self_hosted_domains:
      description: 'List of public domains that Access will secure. This field is deprecated in favor of `destinations` and will be supported until **November 21, 2025.** If `destinations` are provided, then `self_hosted_domains` will be ignored.

        '
      type: array
      items:
        description: A domain that Access will secure.
        type: string
      example:
      - test.example.com/admin
      - test.anotherexample.com/staff
      default: []
      deprecated: true
    access_end_user_all_workers_destination:
      type: object
      properties:
        overrides:
          $ref: '#/components/schemas/access_destination_overrides'
        type:
          type: string
          enum:
          - all_workers
      required:
      - type
    access_infra_policy_req:
      type: object
      properties:
        connection_rules:
          $ref: '#/components/schemas/access_connection_rules_infra'
        mfa_config:
          $ref: '#/components/schemas/access_infra_mfa_config'
      allOf:
      - $ref: '#/components/schemas/access_base_policy_req'
    access_exclude-2:
      description: Rules evaluated with a NOT logical operator. To match the policy, a user cannot meet any of the Exclude rules.
      type: array
      items:
        $ref: '#/components/schemas/access_rule'
      default: []
      x-stainless-collection-type: set
    access_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    access_eager_redirect_cookie_setting:
      description: Preemptively sets the Access session cookie on every hostname in a multi-hostname self-hosted application during the initial redirect chain, rather than setting it lazily on first visit. Defaults to true. Set to false to disable the eager redirect cookie behavior.
      type: boolean
      example: true
      default: true
    access_bg_color:
      description: The background color of the App Launcher page.
      type: string
      example: '#ff0000'
    access_rdp_props:
      allOf:
      - $ref: '#/components/schemas/access_app_resp_embedded_target_criteria_self_hosted'
      - $ref: '#/components/schemas/access_self_hosted_props'
      - properties:
          type:
            allOf:
            - $ref: '#/components/schemas/access_type'
            - example: rdp
              type: string
        type: object
      required:
      - target_criteria
    access_allowed_origins:
      description: Allowed origins.
      type: array
      items:
        type: string
      example:
      - https://example.com
    access_rdp_clipboard_format:
      description: Clipboard format for RDP connections.
      type: string
      enum:
      - text
      - file
      x-auditable: true
    access_app_policy_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_policy_resp'
      - properties:
          account_id:
            $ref: '#/components/schemas/access_identifier'
          precedence:
            $ref: '#/components/schemas/access_precedence'
        type: object
    access_target_criteria_infra_app:
      allOf:
      - $ref: '#/components/schemas/access_target_criteria_base'
      - properties:
          protocol:
            type: string
            allOf:
            - $ref: '#/components/schemas/access_protocol_infra_app'
        type: object
    access_scim_config_single_authentication:
      oneOf:
      - $ref: '#/components/schemas/access_scim_config_authentication_http_basic'
      - $ref: '#/components/schemas/access_scim_config_authentication_oauth_bearer_token'
      - $ref: '#/components/schemas/access_scim_config_authentication_oauth2'
      - $ref: '#/components/schemas/access_scim_config_authentication_access_service_token'
    access_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/access_messages'
        messages:
          $ref: '#/components/schemas/access_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    access_updated_at:
      allOf:
      - type: string
        x-stainless-skip: true
      - $ref: '#/components/schemas/access_timestamp'
    access_scim_config_authentication_access_service_token:
      description: Attributes for configuring Access Service Token authentication scheme for SCIM provisioning to an application.
      type: object
      properties:
        client_id:
          description: Client ID of the Access service token used to authenticate with the remote service.
          type: string
        client_secret:
          description: Client secret of the Access service token used to authenticate with the remote service.
          type: string
          x-sensitive: true
        scheme:
          description: The authentication scheme to use when making SCIM requests to this application.
          type: string
          enum:
          - access_service_token
      required:
      - scheme
      - client_id
      - client_secret
      title: Access Service Token
    access_vnc_props:
      allOf:
      - $ref: '#/components/schemas/access_self_hosted_props'
      - properties:
          type:
            allOf:
            - $ref: '#/components/schemas/access_type'
            - example: vnc
              type: string
        type: object
    access_login_method_rule:
      description: Matches a specific identity provider id.
      type: object
      properties:
        login_method:
          type: object
          properties:
            id:
              description: The ID of an identity provider.
              type: string
              example: aa0a4aab-672b-4bdb-bc33-a59f1130a11f
          required:
          - id
      required:
      - login_method
      title: Login Method
    access_destinations:
      description: 'List of destinations secured by Access. This supersedes `self_hosted_domains` to allow for more flexibility in defining different types of domains. If `destinations` are provided, then `self_hosted_domains` will be ignored.

        '
      type: array
      items:
        oneOf:
        - description: 'A public hostname that Access will secure. Public destinations support sub-domain and path. Wildcard ''*'' can be used in the definition.

            '
          properties:
            overrides:
              $ref: '#/components/schemas/access_destination_overrides'
            type:
              type: string
              enum:
              - public
            uri:
              description: 'The URI of the destination. Public destinations'' URIs can include a domain and path with [wildcards](https://developers.cloudflare.com/cloudflare-one/policies/access/app-paths/).

                '
              type: string
          title: Public destination
          type: object
        - properties:
            cidr:
              description: The CIDR range of the destination. Single IPs will be computed as /32.
              type: string
            hostname:
              description: The hostname of the destination. Matches a valid SNI served by an HTTPS origin.
              type: string
            l4_protocol:
              description: The L4 protocol of the destination. When omitted, both UDP and TCP traffic will match.
              type: string
              enum:
              - tcp
              - udp
            port_range:
              description: 'The port range of the destination. Can be a single port or a range of ports. When omitted, all ports will match.

                '
              type: string
            type:
              type: string
              enum:
              - private
            vnet_id:
              description: The VNET ID to match the destination. When omitted, all VNETs will match.
              type: string
          title: Private destination
          type: object
        - description: 'A MCP server id configured in ai-controls. Access will secure the MCP server if accessed through a MCP portal.

            '
          properties:
            mcp_server_id:
              description: The MCP server id configured in ai-controls.
              type: string
            type:
              type: string
              enum:
              - via_mcp_server_portal
          title: Via MCP Server Portal destination
          type: object
        - description: 'A specific Cloudflare Worker that Access will secure. All requests routed to the specified Worker, including its preview deployments, will be protected. The `preview_worker` and `public` destination types takes precedence, so you can create separate applications to override the policies for the Worker''s previews or specific paths.

            '
          properties:
            overrides:
              $ref: '#/components/schemas/access_destination_overrides'
            type:
              type: string
              enum:
              - worker
            worker_id:
              description: The ID of the Cloudflare Worker to protect with Access.
              type: string
          required:
          - type
          - worker_id
          title: Worker destination
          type: object
        - description: 'A specific Cloudflare Worker whose preview deployments Access will secure. Only requests routed to the preview deployments of the specified Worker will be protected. The `public` destination type takes precedence, so you can create separate applications to override the policies for specific paths.

            '
          properties:
            overrides:
              $ref: '#/components/schemas/access_destination_overrides'
            type:
              type: string
              enum:
              - preview_worker
            worker_id:
              description: The ID of the Cloudflare Worker whose preview deployments to protect with Access.
              type: string
          required:
          - type
          - worker_id
          title: Preview Worker destination
          type: object
        - description: 'Protects all Cloudflare Workers on the account with Access, including their preview deployments. At most one destination of this type can exist per account. The `worker`, `preview_worker`, `all_preview_workers`, and `public` destination types take precedence, so you can create separate applications to override the policies for specific Workers, their previews, or specific paths.

            '
          properties:
            overrides:
              $ref: '#/components/schemas/access_destination_overrides'
            type:
              type: string
              enum:
              - all_workers
          required:
          - type
          title: All Workers destination
          type: object
        - description: 'Protects the preview deployments of all Cloudflare Workers on the account with Access. At most one destination of this type can exist per account. The `worker`, `preview_worker`, and `public` destination types take precedence, so you can create separate applications to override the policies for specific Workers, their previews, or specific paths.

            '
          properties:
            overrides:
              $ref: '#/components/schemas/access_destination_overrides'
            type:
              type: string
              enum:
              - all_preview_workers
          required:
          - type
          title: All Preview Workers destination
          type: object
      example:
      - type: public
        uri: test.example.com/admin
      - type: public
        uri: test.anotherexample.com/staff
      - cidr: 10.5.0.0/24
        port_range: 80-90
        type: private
      - cidr: 10.5.0.3/32
        port_range: '80'
        type: private
      - hostname: private-sni.example.com
        type: private
      - mcp_server_id: mcp-server-1
        type: via_mcp_server_portal
      - overrides:
        - behavior: public
          path_pattern: /health/*
        type: worker
        worker_id: 617f1d0431a98306ff61e336d79fce86
      - type: preview_worker
        worker_id: 617f1d0431a98306ff61e336d79fce86
      - type: all_workers
      - type: all_preview_workers
      default: []
    access_infra_mfa_config:
      description: Configures multi-factor authentication (MFA) settings for infrastructure applications.
      type: object
      properties:
        allowed_authenticators:
          description: Lists the MFA methods that users can authenticate with. For infrastructure applications, supported values are `piv_key` and `ssh_fido2_key`.
          type: array
          items:
            enum:
            - piv_key
            - ssh_fido2_key
            type: string
          example:
          - piv_key
          - ssh_fido2_key
        mfa_disabled:
          description: Indicates whether to disable MFA for this resource. This option is available at the application and policy level.
          type: boolean
          example: false
        session_duration:
          description: 'Defines the duration of an MFA session. Must be in minutes (m) or hours (h). Minimum: 0m. Maximum: 720h (30 days). Examples: `5m` or `24h`.'
          type: string
          example: 24h
      x-auditable: true
    access_uuid-2:
      description: The UUID of the policy
      type: string
      example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
      maxLength: 36
    access_require-2:
      description: Rules evaluated with an AND logical operator. To match the policy, a user must meet all of the Require rules.
      type: array
      items:
        $ref: '#/components/schemas/access_rule'
      default: []
      x-stainless-collection-type: set
    access_app_request:
      anyOf:
      - allOf:
        - $ref: '#/components/schemas/access_end_user_props'
        title: End User Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_self_hosted_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        - $ref: '#/components/schemas/access_app_req_embedded_scim_config'
        title: Self Hosted Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_saas_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        - $ref: '#/components/schemas/access_app_req_embedded_scim_config'
        title: SaaS Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_ssh_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        - $ref: '#/components/schemas/access_app_req_embedded_scim_config'
        title: Browser SSH Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_vnc_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        - $ref: '#/components/schemas/access_app_req_embedded_scim_config'
        title: Browser VNC Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_app_launcher_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        title: App Launcher Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_warp_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        title: Device Enrollment Permissions Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_biso_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        title: Browser Isolation Permissions Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_proxy_endpoint_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        title: Gateway Identity Proxy Endpoint Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_bookmark_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        title: Bookmark application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_infra_props'
        - $ref: '#/components/schemas/access_infra_app_req_embedded_policies'
        title: Infrastructure application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_rdp_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        title: Browser RDP Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_mcp_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        title: MCP Server Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_mcp_portal_props'
        - $ref: '#/components/schemas/access_app_req_embedded_policies'
        title: MCP Server Portal Application
        type: object
    access_decision:
      description: The action Access will take if a user matches this policy. Infrastructure application policies can only use the Allow action.
      type: string
      example: allow
      enum:
      - allow
      - deny
      - non_identity
      - bypass
    access_auth_context_rule:
      description: 'Matches an Azure Authentication Context.

        Requires an Azure identity provider.'
      type: object
      properties:
        auth_context:
          type: object
          properties:
            ac_id:
              description: The ACID of an Authentication context.
              type: string
              example: ea85612a-29c8-46c2-bacb-669d65136971
            id:
              description: The ID of an Authentication context.
              type: string
              example: aa0a4aab-672b-4bdb-bc33-a59f1130a11f
            identity_provider_id:
              description: The ID of your Azure identity provider.
              type: string
              example: ea85612a-29c8-46c2-bacb-669d65136971
          required:
          - id
          - identity_provider_id
          - ac_id
      required:
      - auth_context
      title: Authentication Context
    access_purpose_justification_prompt:
      description: A custom message that will appear on the purpose justification screen.
      type: string
      example: Please enter a justification for entering this protected domain.
    access_uuid:
      description: UUID.
      type: string
      example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
      maxLength: 36
      x-auditable: true
    access_ip_list_rule:
      description: Matches an IP address from a list.
      type: object
      properties:
        ip_list:
          type: object
          properties:
            id:
              description: The ID of a previously created IP list.
              type: string
              example: aa0a4aab-672b-4bdb-bc33-a59f1130a11f
          required:
          - id
      required:
      - ip_list
      title: IP list
    access_timestamp:
      type: string
      format: date-time
      example: '2014-01-01T05:20:00.12345Z'
      x-auditable: true
    access_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-common'
    access_button_color:
      description: The background color of the log in button on the landing page.
      type: string
      example: '#ff0000'
    access_infra_app_resp_embedded_policies:
      description: The policies that Access applies to the application.
      type: object
      properties:
        policies:
          type: array
          items:
            $ref: '#/components/schemas/access_infra_policy_resp'
    access_end_user_worker_destination:
      type: object
      properties:
        overrides:
          $ref: '#/components/schemas/access_destination_overrides'
        type:
          type: string
          enum:
          - worker
        worker_id:
          description: The ID of the Cloudflare Worker to secure.
          type: string
      required:
      - type
      - worker_id
    access_use_clientless_isolation_app_launcher_url:
      description: 'Determines if users can access this application via a clientless browser isolation URL.

        This allows users to access private domains without connecting to Gateway. The option requires

        Clientless Browser Isolation to be set up with policies that allow users of this application.

        '
      type: boolean
      example: false
      default: false
    access_read_service_tokens_from_header:
      description: "Allows matching Access Service Tokens passed HTTP in a single header with this name.\nThis works as an alternative to the (CF-Access-Client-Id, CF-Access-Client-Secret) pair of headers.\nThe header value will be interpreted as a json object similar to:\n  {\n    \"cf-access-client-id\": \"88bf3b6d86161464f6509f7219099e57.access.example.com\",\n    \"cf-access-client-secret\": \"bdd31cbc4dec990953e39163fbbb194c93313ca9f0a6e420346af9d326b1d2a5\"\n  }\n"
      type: string
      example: Authorization
    access_allowed_idps:
      description: The identity providers your users can select when connecting to this application. Defaults to all IdPs configured in your account.
      type: array
      items:
        description: The identity providers selected for application.
        example: 699d98642c564d2e855e9661899b7252
        type: string
    access_authentication_method_rule:
      description: Enforce different MFA options
      type: object
      properties:
        auth_method:
          type: object
          properties:
            auth_method:
              description: The type of authentication method https://datatracker.ietf.org/doc/html/rfc8176#section-2.
              type: string
              example: mfa
          required:
          - auth_method
      required:
      - auth_method
      title: Authentication method
    access_cors_headers:
      type: object
      properties:
        allow_all_headers:
          $ref: '#/components/schemas/access_allow_all_headers'
        allow_all_methods:
          $ref: '#/components/schemas/access_allow_all_methods'
        allow_all_origins:
          $ref: '#/components/schemas/access_allow_all_origins'
        allow_credentials:
          $ref: '#/components/schemas/access_allow_credentials'
        allowed_headers:
          $ref: '#/components/schemas/access_allowed_headers'
        allowed_methods:
          $ref: '#/components/schemas/access_allowed_methods'
        allowed_origins:
          $ref: '#/components/schemas/access_allowed_origins'
        max_age:
          $ref: '#/components/schemas/access_max_age'
    access_mfa_config:
      description: Configures multi-factor authentication (MFA) settings.
      type: object
      properties:
        allowed_authenticators:
          description: Lists the MFA methods that users can authenticate with.
          type: array
          items:
            enum:
            - totp
            - biometrics
            - security_key
            type: string
          example:
          - totp
          - biometrics
          - security_key
        mfa_disabled:
          description: Indicates whether to disable MFA for this resource. This option is available at the application and policy level.
          type: boolean
          example: false
        session_duration:
          description: 'Defines the duration of an MFA session. Must be in minutes (m) or hours (h). Minimum: 0m. Maximum: 720h (30 days). Examples:`5m` or `24h`.'
          type: string
          example: 24h
      x-auditable: true
    access_common_name_rule:
      description: Matches a specific common name.
      type: object
      properties:
        common_name:
          type: object
          properties:
            common_name:
              description: The common name to match.
              type: string
              example: james@example.com
          required:
          - common_name
      required:
      - common_name
      title: Common Name
    access_app_settings_request:
      type: object
      properties:
        allow_iframe:
          $ref: '#/components/schemas/access_allow_iframe'
        skip_interstitial:
          $ref: '#/components/schemas/access_skip_interstitial'
    access_custom_pages-2:
      description: The custom pages that will be displayed when applicable for this application
      type: array
      items:
        description: The custom pages selected for application.
        example: 699d98642c564d2e855e9661899b7252
        type: string
    access_oauth_configuration:
      description: '**Beta:** Optional configuration for managing an OAuth authorization flow controlled by Access. When set, Access will act as the OAuth authorization server for this application. Only compatible with OAuth clients that support [RFC 8707](https://datatracker.ietf.org/doc/html/rfc8707) (Resource Indicators for OAuth 2.0). This feature is currently in beta.

        '
      type: object
      properties:
        dynamic_client_registration:
          description: Settings for OAuth dynamic client registration.
          type: object
          properties:
            allow_any_on_localhost:
              description: Allows any client with redirect URIs on localhost.
              type: boolean
            allow_any_on_loopback:
              description: Allows any client with redirect URIs on 127.0.0.1.
              type: boolean
            allowed_uris:
              description: 'The URIs that are allowed as redirect URIs for dynamically registered clients. HTTP and HTTPS paths may end in `/*` to match all sub-paths. Custom-scheme URIs must be explicitly configured and match exactly.

                '
              type: array
              items:
                type: string
              example:
              - https://example.com/callback
              - com.example.app:/oauth/callback
            enabled:
              description: Whether dynamic client registration is enabled.
              type: boolean
        enabled:
          description: 'Whether the OAuth configuration is enabled for this application. When set to `false`, Access will not handle OAuth for this application. Defaults to `true` if omitted.

            '
          type: boolean
          default: true
        grant:
          description: Settings for OAuth grant behavior.
          type: object
          properties:
            access_token_lifetime:
              description: The lifetime of the access token. Must be in the format `300ms` or `2h45m`. Valid time units are ns, us (or µs), ms, s, m, h.
              type: string
              example: 5m
            session_duration:
              description: The duration of the OAuth session. Must be in the format `300ms` or `2h45m`. Valid time units are ns, us (or µs), ms, s, m, h.
              type: string
              example: 24h
    access_target_criteria_self_hosted_app:
      allOf:
      - $ref: '#/components/schemas/access_target_criteria_base'
      - properties:
          protocol:
            type: string
            allOf:
            - $ref: '#/components/schemas/access_protocol_self_hosted_app'
        type: object
    access_type:
      description: The application type.
      type: string
      example: self_hosted
      enum:
      - self_hosted
      - end_user
      - saas
      - ssh
      - vnc
      - app_launcher
      - warp
      - biso
      - bookmark
      - dash_sso
      - infrastructure
      - rdp
      - mcp
      - mcp_portal
      - proxy_endpoint
    access_scim_config_multi_authentication:
      description: Multiple authentication schemes
      type: array
      items:
        $ref: '#/components/schemas/access_scim_config_single_authentication'
    access_app_resp_embedded_policies:
      description: The policies that Access applies to the application.
      type: object
      properties:
        policies:
          type: array
          items:
            $ref: '#/components/schemas/access_app_policy_response'
    access_app_resp_embedded_target_criteria_infra:
      description: Contains the targets secured by the application.
      type: object
      properties:
        target_criteria:
          type: array
          items:
            $ref: '#/components/schemas/access_target_criteria_infra_app'
    access_app_resp_embedded_target_criteria_self_hosted:
      description: Contains the targets secured by the application.
      type: object
      properties:
        target_criteria:
          type: array
          items:
            $ref: '#/components/schemas/access_target_criteria_self_hosted_app'
    access_aud-2:
      description: Audience tag.
      type: string
      example: 737646a56ab1df6ec9bddc7e5ca84eaf3b0768850f3ffb5d74f1534911fe3893
      maxLength: 64
      readOnly: true
    access_allow_authenticate_via_warp-2:
      description: When set to true, users can authenticate to this application using their WARP session.  When set to false this application will always require direct IdP authentication. This setting always overrides the organization setting for WARP authentication.
      type: boolean
      example: true
    access_app_policy_request:
      type: object
      allOf:
      - properties:
          precedence:
            $ref: '#/components/schemas/access_precedence'
        type: object
      - $ref: '#/components/schemas/access_policy_req'
    access_scim_config_authentication_oauth2:
      description: Attributes for configuring OAuth 2 authentication scheme for SCIM provisioning to an application.
      type: object
      properties:
        authorization_url:
          description: URL used to generate the auth code used during token generation.
          type: string
        client_id:
          description: Client ID used to authenticate when generating a token for authenticating with the remote SCIM service.
          type: string
        client_secret:
          description: Secret used to authenticate when generating a token for authenticating with the remove SCIM service.
          type: string
          x-sensitive: true
        scheme:
          description: The authentication scheme to use when making SCIM requests to this application.
          type: string
          enum:
          - oauth2
        scopes:
          description: The authorization scopes to request when generating the token used to authenticate with the remove SCIM service.
          type: array
          items:
            type: string
        token_url:
          description: URL used to generate the token used to authenticate with the remote SCIM service.
          type: string
      required:
      - scheme
      - client_id
      - client_secret
      - authorization_url
      - token_url
      title: OAuth 2
    access_user_risk_score_rule:
      description: Matches a user's risk score.
[...]
