openapi: 3.2.0
info:
  title: Cloudflare Turnstile Verification API
  description: Cloudflare Turnstile is a CAPTCHA replacement that verifies visitors without showing a challenge. The API provides a server-side siteverify endpoint for token validation and management endpoints for creating and configuring Turnstile widgets with support for managed, non-interactive, and invisible modes.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Verification
  description: Verify Turnstile challenge tokens on the server side.
paths:
  /siteverify:
    post:
      operationId: verifyTurnstileToken
      summary: Cloudflare Verify Turnstile Token
      description: Validate a Turnstile challenge token on the server side. This is the primary endpoint for verifying that a user has passed the Turnstile challenge.
      tags:
      - Verification
      security: []
      servers:
      - url: https://challenges.cloudflare.com
        description: Turnstile Verification Server
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - secret
              - response
              properties:
                secret:
                  type: string
                  description: The widget's secret key.
                response:
                  type: string
                  description: The Turnstile token from the client.
                remoteip:
                  type: string
                  description: The user's IP address.
            examples:
              VerifyturnstiletokenRequestExample:
                summary: Default verifyTurnstileToken request
                x-microcks-default: true
                value:
                  secret: example_value
                  response: example_value
                  remoteip: example_value
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
              examples:
                Verifyturnstiletoken200Example:
                  summary: Default verifyTurnstileToken 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    challenge_ts: '2026-01-15T10:30:00Z'
                    hostname: example_value
                    error-codes:
                    - example_value
                    action: example_value
                    cdata: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    VerifyResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the token was valid.
          example: true
        challenge_ts:
          type: string
          format: date-time
          description: Timestamp of the challenge.
          example: '2026-01-15T10:30:00Z'
        hostname:
          type: string
          description: Hostname for which the challenge was solved.
          example: example_value
        error-codes:
          type: array
          items:
            type: string
          description: Error codes if verification failed.
          example: []
        action:
          type: string
          description: The action name from the widget.
          example: example_value
        cdata:
          type: string
          description: Custom data from the widget.
          example: example_value
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Turnstile permissions.
externalDocs:
  description: Cloudflare Turnstile Documentation
  url: https://developers.cloudflare.com/turnstile/
