openapi: 3.1.0
info:
  title: Cloudflare Images API
  description: >-
    The Cloudflare Images API allows developers to upload, store, and transform
    images at scale. It supports direct uploads, URL-based uploads, on-the-fly
    image transformations via URL parameters, custom variants, and integration
    with Workers for programmatic image processing.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
externalDocs:
  description: Cloudflare Images Documentation
  url: https://developers.cloudflare.com/images/
servers:
  - url: https://api.cloudflare.com/client/v4
    description: Cloudflare API v4 Production Server
tags:
  - name: Direct Uploads
    description: >-
      Create one-time upload URLs for client-side image uploads.
  - name: Images
    description: >-
      Upload, list, update, and delete image assets.
  - name: Variants
    description: >-
      Manage image variants that define transformation presets.
security:
  - bearerAuth: []
paths:
  /accounts/{account_id}/images/v1:
    get:
      operationId: listImages
      summary: Cloudflare List images
      description: >-
        Returns a paginated list of all images in the account.
      tags:
        - Images
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: page
          in: query
          description: Page number for pagination.
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of images per page.
          schema:
            type: integer
      responses:
        '200':
          description: List of images.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResponse'
        '401':
          description: Unauthorized.
    post:
      operationId: uploadImage
      summary: Cloudflare Upload image
      description: >-
        Upload an image via file upload or URL. Supports JPEG, PNG, GIF, WebP,
        and SVG formats.
      tags:
        - Images
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The image file to upload.
                url:
                  type: string
                  format: uri
                  description: URL of an image to fetch and store.
                id:
                  type: string
                  description: Custom identifier for the image.
                metadata:
                  type: object
                  description: User-defined metadata.
                requireSignedURLs:
                  type: boolean
                  description: Whether signed URLs are required.
      responses:
        '200':
          description: Image uploaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/images/v1/{image_id}:
    get:
      operationId: getImage
      summary: Cloudflare Get image details
      description: >-
        Retrieve details of a specific image.
      tags:
        - Images
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ImageId'
      responses:
        '200':
          description: Image details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Image not found.
    patch:
      operationId: updateImage
      summary: Cloudflare Update image
      description: >-
        Update image metadata and settings.
      tags:
        - Images
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ImageId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                requireSignedURLs:
                  type: boolean
      responses:
        '200':
          description: Image updated.
        '401':
          description: Unauthorized.
    delete:
      operationId: deleteImage
      summary: Cloudflare Delete image
      description: >-
        Delete an image and all its variants.
      tags:
        - Images
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ImageId'
      responses:
        '200':
          description: Image deleted.
        '401':
          description: Unauthorized.
        '404':
          description: Image not found.
  /accounts/{account_id}/images/v1/direct_upload:
    post:
      operationId: createImageDirectUpload
      summary: Cloudflare Create direct upload URL
      description: >-
        Create a unique one-time upload URL for direct image uploads from
        client-side applications.
      tags:
        - Direct Uploads
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Custom identifier for the image.
                metadata:
                  type: object
                  description: User-defined metadata.
                requireSignedURLs:
                  type: boolean
                expiry:
                  type: string
                  format: date-time
                  description: When the upload URL expires.
      responses:
        '200':
          description: Direct upload URL created.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/images/v1/variants:
    get:
      operationId: listImageVariants
      summary: Cloudflare List image variants
      description: >-
        Returns all image variant definitions for the account.
      tags:
        - Variants
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of variants.
        '401':
          description: Unauthorized.
    post:
      operationId: createImageVariant
      summary: Cloudflare Create image variant
      description: >-
        Create a new image variant definition specifying transformation
        settings like dimensions, fit mode, and metadata stripping.
      tags:
        - Variants
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariantInput'
      responses:
        '200':
          description: Variant created.
        '401':
          description: Unauthorized.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API token with Images permissions.
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    ImageId:
      name: image_id
      in: path
      required: true
      description: The unique identifier of the image.
      schema:
        type: string
  schemas:
    Image:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the image.
        filename:
          type: string
          description: Original filename.
        metadata:
          type: object
          description: User-defined metadata.
        uploaded:
          type: string
          format: date-time
          description: Upload timestamp.
        requireSignedURLs:
          type: boolean
        variants:
          type: array
          items:
            type: string
            format: uri
          description: URLs for each variant of the image.
    ImageResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/Image'
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
        messages:
          type: array
          items:
            type: object
    ImageListResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            images:
              type: array
              items:
                $ref: '#/components/schemas/Image'
        success:
          type: boolean
    VariantInput:
      type: object
      required:
        - id
        - options
      properties:
        id:
          type: string
          description: The name of the variant.
        options:
          type: object
          properties:
            fit:
              type: string
              enum:
                - scale-down
                - contain
                - cover
                - crop
                - pad
              description: Resizing behavior.
            width:
              type: integer
              description: Maximum width in pixels.
            height:
              type: integer
              description: Maximum height in pixels.
            metadata:
              type: string
              enum:
                - keep
                - copyright
                - none
              description: What metadata to preserve.
        neverRequireSignedURLs:
          type: boolean
          description: Allow unsigned URL access for this variant.
