openapi: 3.0.3
info:
  title: Cloudflare / Accounts Secrets API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Secrets
  description: Manage encrypted environment variables for Worker scripts.
paths:
  /accounts/{account_id}/workers/scripts/{script_name}/secrets:
    get:
      operationId: listSecrets
      summary: Cloudflare List Worker Secrets
      description: List all secrets for a Worker script. Secret values are not returned.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      responses:
        '200':
          description: List of secret names.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: addSecret
      summary: Cloudflare Add Worker Secret
      description: Add or update an encrypted secret for a Worker script.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ScriptName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - text
              - type
              properties:
                name:
                  type: string
                  description: The name of the secret.
                text:
                  type: string
                  description: The value of the secret.
                type:
                  type: string
                  enum:
                  - secret_text
                  description: The type of the secret binding.
            examples:
              AddsecretRequestExample:
                summary: Default addSecret request
                x-microcks-default: true
                value:
                  name: Example Title
                  text: example_value
                  type: secret_text
      responses:
        '200':
          description: Secret added successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    ScriptName:
      name: script_name
      in: path
      required: true
      description: The name of the Worker script.
      schema:
        type: string
