openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Query run API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Query run
paths:
  /accounts/{account_id}/workers/observability/telemetry/query:
    parameters:
    - name: account_id
      in: path
      description: Your Cloudflare account ID.
      required: true
      schema:
        type: string
    post:
      operationId: telemetry.query
      summary: Run a query
      description: Run a temporary or saved query.
      requestBody:
        description: Query your observability events, requests, and traces to build visualizations and identify insights.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chart:
                  description: When true, includes time-series data in the response.
                  type: boolean
                chartType:
                  description: 'Controls the SQL shape and response payload for the ''calculations'' view. Omitted or ''timeseries_and_aggregate'': current behaviour — both the time-series and aggregate queries. ''timeseries'': time-series only. ''aggregate'': aggregate only. ''distribution'': a bucketed 2D histogram (time × value buckets) returned in ''distribution'' instead of ''calculations''. ''distribution'' is not compatible with ''compare'' — combining them returns a 400.'
                  type: string
                  enum:
                  - timeseries_and_aggregate
                  - timeseries
                  - aggregate
                  - distribution
                compare:
                  description: When true, includes a comparison dataset from the previous time period of equal length.
                  type: boolean
                distributionScale:
                  description: 'Value-axis bucketing for chartType ''distribution''. Omitted or ''log'': geometric buckets, best for heavy-tailed latency. ''linear'': fixed-width buckets, clearer for narrow or additive ranges. Ignored for other chartTypes. The response echoes the scheme used in distribution.bucketMode.'
                  type: string
                  enum:
                  - log
                  - linear
                dry:
                  description: When true, executes the query without persisting the results. Useful for validation or previewing.
                  type: boolean
                  default: false
                  x-fern-property-name: preview
                granularity:
                  description: Number of time-series buckets. Only used when view is 'calculations'. Omit to let the system auto-detect an appropriate granularity.
                  type: number
                ignoreSeries:
                  description: When true, omits time-series data from the response and returns only aggregated values. Reduces response size when series are not needed.
                  type: boolean
                  default: false
                limit:
                  description: Maximum number of events to return when view is 'events'. Also controls the number of group-by rows when view is 'calculations'.
                  type: number
                  default: 50
                  maximum: 2000
                offset:
                  description: Cursor for pagination in event, trace, invocation, and agent views. Pass the $metadata.id of the last event, the trace cursor, or AgentRun.id to fetch the next page.
                  type: string
                offsetBy:
                  description: Numeric offset for paginating grouped/pattern results (top-N lists). Use together with limit. Not used by cursor-based pagination.
                  type: number
                offsetDirection:
                  description: 'Pagination direction: ''next'' for forward, ''prev'' for backward.'
                  type: string
                parameters:
                  description: Query parameters defining what data to retrieve — filters, calculations, group-bys, and ordering. In practice this should always be provided for ad-hoc queries. Only omit when executing a previously saved query by queryId. Use the keys and values endpoints to discover available fields before building filters.
                  properties:
                    calculations:
                      description: Aggregation calculations to compute (e.g. count, avg, p99). Each calculation produces aggregate values and optional time-series data.
                      type: array
                      items:
                        discriminator:
                          propertyName: operator
                        oneOf:
                        - properties:
                            alias:
                              description: Custom label for this calculation in the results. Useful for distinguishing multiple calculations.
                              type: string
                            key:
                              description: Field name to calculate over. Must exist in the data. Verify with the keys endpoint. Required for every operator except `count`, which aggregates whole rows and may omit it.
                              type: string
                            keyType:
                              description: Data type of the key. Required when key is provided to ensure correct aggregation.
                              type: string
                              enum:
                              - string
                              - number
                              - boolean
                            operator:
                              description: 'Aggregation operator to apply. Examples: count, avg, sum, min, max, median, p90, p95, p99, uniq, stddev, variance.'
                              type: string
                              enum:
                              - count
                              - COUNT
                          required:
                          - operator
                          type: object
                        - properties:
                            alias:
                              description: Custom label for this calculation in the results. Useful for distinguishing multiple calculations.
                              type: string
                            key:
                              description: Field name to calculate over. Must exist in the data. Verify with the keys endpoint. Required for every operator except `count`, which aggregates whole rows and may omit it.
                              type: string
                              pattern: \S
                            keyType:
                              description: Data type of the key. Required when key is provided to ensure correct aggregation.
                              type: string
                              enum:
                              - string
                              - number
                              - boolean
                            operator:
                              description: 'Aggregation operator to apply. Examples: count, avg, sum, min, max, median, p90, p95, p99, uniq, stddev, variance.'
                              type: string
                              enum:
                              - uniq
                              - max
                              - min
                              - sum
                              - avg
                              - median
                              - p001
                              - p01
                              - p05
                              - p10
                              - p25
                              - p75
                              - p90
                              - p95
                              - p99
                              - p999
                              - stddev
                              - variance
                              - COUNT_DISTINCT
                              - MAX
                              - MIN
                              - SUM
                              - AVG
                              - MEDIAN
                              - P001
                              - P01
                              - P05
                              - P10
                              - P25
                              - P75
                              - P90
                              - P95
                              - P99
                              - P999
                              - STDDEV
                              - VARIANCE
                          required:
                          - key
                          - operator
                          type: object
                    datasets:
                      description: Datasets to query. Leave empty to query all available datasets.
                      type: array
                      items:
                        type: string
                      example: []
                    filterCombination:
                      description: 'Logical operator for combining top-level filters: ''and'' (all must match) or ''or'' (any must match). Defaults to ''and''.'
                      type: string
                      enum:
                      - and
                      - or
                      - AND
                      - OR
                    filters:
                      description: 'Filters to narrow query results. Use the keys and values endpoints to discover available fields before building filters. Supports nested groups via kind: ''group''. Maximum nesting depth is 4.'
                      type: array
                      items:
                        allOf:
                        - $ref: '#/components/schemas/workers-observability_filter_node'
                        - anyOf:
                          - description: A group node that nests child filters combined with a logical operator.
                            properties:
                              filterCombination:
                                description: 'Logical operator for combining child filters: ''and'' (all must match) or ''or'' (any must match).'
                                type: string
                                enum:
                                - and
                                - or
                                - AND
                                - OR
                              filters:
                                description: Child filter nodes. Each can be a leaf filter or another nested group.
                                type: array
                                items:
                                  $ref: '#/components/schemas/workers-observability_filter_node'
                                minItems: 1
                              kind:
                                description: Discriminator indicating this is a nested filter group.
                                type: string
                                enum:
                                - group
                            required:
                            - kind
                            - filterCombination
                            - filters
                            type: object
                          - $ref: '#/components/schemas/workers-observability_filter_leaf'
                          description: 'Supports nested groups via kind: ''group''. Maximum nesting depth is 4.'
                    groupBys:
                      description: Fields to group calculation results by. Only applicable when the query view is 'calculations'. Produces per-group aggregate values.
                      type: array
                      items:
                        properties:
                          type:
                            description: Data type of the group-by field.
                            type: string
                            enum:
                            - string
                            - number
                            - boolean
                          value:
                            description: Field name to group results by (e.g. $metadata.service, $metadata.statusCode).
                            type: string
                        required:
                        - type
                        - value
                        type: object
                    havings:
                      description: Post-aggregation filters applied to calculation results. Use to filter groups after aggregation (e.g. only groups where count > 100).
                      type: array
                      items:
                        properties:
                          key:
                            description: Calculation alias or operator to filter on after aggregation.
                            type: string
                          operation:
                            description: 'Numeric comparison operator: eq, neq, gt, gte, lt, lte.'
                            type: string
                            enum:
                            - eq
                            - neq
                            - gt
                            - gte
                            - lt
                            - lte
                          value:
                            description: Threshold value to compare the calculation result against.
                            type: number
                        required:
                        - key
                        - operation
                        - value
                        type: object
                    limit:
                      description: Maximum number of group-by rows to return in calculation results. A value of 10 is a sensible default for most use cases.
                      type: integer
                      maximum: 2000
                      minimum: 0
                    needle:
                      description: Full-text search expression applied across all event fields. Matches events containing the specified text.
                      type: object
                      properties:
                        isRegex:
                          description: When true, treats the value as a regular expression (RE2 syntax).
                          type: boolean
                        matchCase:
                          description: When true, performs a case-sensitive search. Defaults to case-insensitive.
                          type: boolean
                        value:
                          description: The text or pattern to search for.
                          allOf:
                          - anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                          - maxLength: 1000
                            type: string
                      required:
                      - value
                    orderBy:
                      description: Ordering for grouped calculation results. Only effective when a group-by is present.
                      type: object
                      properties:
                        order:
                          description: 'Sort direction: ''asc'' for ascending, ''desc'' for descending.'
                          type: string
                          enum:
                          - asc
                          - desc
                        value:
                          description: Alias of the calculation to order results by. Must match the alias (or operator) of a calculation in the query.
                          type: string
                      required:
                      - value
                  type: object
                queryId:
                  description: Identifier for the query. When parameters are omitted, this ID is used to load a previously saved query's parameters. When providing parameters inline, pass any identifier (e.g. an ad-hoc ID).
                  type: string
                timeframe:
                  description: Timeframe for the query using Unix timestamps in milliseconds. 'from' must be earlier than 'to'. Narrower timeframes produce faster responses and more specific results.
                  type: object
                  properties:
                    from:
                      description: Start timestamp for the query timeframe. Unix timestamp in milliseconds
                      type: integer
                      maximum: 253402300799999
                      minimum: 0
                    to:
                      description: End timestamp for the query timeframe. Unix timestamp in milliseconds
                      type: integer
                      maximum: 253402300799999
                      minimum: 0
                  required:
                  - to
                  - from
                view:
                  description: 'Controls the shape of the response. ''events'': individual log lines matching the query. ''calculations'': aggregated metrics (count, avg, p99, etc.) with optional group-by breakdowns and time-series. ''invocations'': events grouped by request ID. ''traces'': distributed trace summaries. ''agents'': agent-specific trace summaries.'
                  type: string
                  default: calculations
                  enum:
                  - traces
                  - events
                  - calculations
                  - invocations
                  - requests
                  - agents
              required:
              - queryId
              - timeframe
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                          enum:
                          - Successful request
                      required:
                      - message
                      type: object
                  result:
                    $ref: '#/components/schemas/workers-observability_query_results'
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - messages
                - success
                - errors
                - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        message:
                          type: string
                          enum:
                          - Bad Request
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - errors
                - success
                - messages
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        message:
                          type: string
                          enum:
                          - Unauthorized
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - errors
                - success
                - messages
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        message:
                          type: string
                          enum:
                          - Forbidden
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - errors
                - success
                - messages
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        message:
                          type: string
                          enum:
                          - Too many requests
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - errors
                - success
                - messages
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        message:
                          type: string
                          enum:
                          - Internal error
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - errors
                - success
                - messages
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      properties:
                        detail:
                          type: string
                        message:
                          type: string
                          enum:
                          - Gateway timeout
                      required:
                      - message
                      type: object
                  messages:
                    type: array
                    items:
                      properties:
                        message:
                          type: string
                      required:
                      - message
                      type: object
                  success:
                    type: boolean
                    enum:
                    - false
                required:
                - errors
                - success
                - messages
      tags:
      - Query run
      x-api-token-group:
      - Workers Observability Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: observability.telemetry
      x-fern-sdk-method-name: query
components:
  schemas:
    workers-observability_query_run:
      description: Represents a single execution of a query against Workers Observability data, including the query definition, execution status, and performance statistics.
      type: object
      properties:
        accountId:
          description: Cloudflare account ID that owns this query run.
          type: string
        created:
          description: ISO-8601 timestamp when the query run was created.
          type: string
        dry:
          description: Whether this was a dry run (results not persisted).
          type: boolean
        granularity:
          description: Number of time-series buckets used for the query. Higher values produce more detailed series data.
          type: number
        id:
          description: Unique identifier for this query run.
          type: string
        query:
          description: A saved query definition with its parameters, metadata, and ownership information.
          allOf:
          - $ref: '#/components/schemas/workers-observability_query'
          - properties:
              created:
                anyOf:
                - type: string
                - format: date-time
                  type: string
              updated:
                anyOf:
                - type: string
                - format: date-time
                  type: string
            type: object
        statistics:
          description: Query performance statistics from the database (does not include network latency).
          type: object
          properties:
            abr_level:
              description: The level of Adaptive Bit Rate (ABR) sampling used for the query. If empty the ABR level is 1
              type: number
            bytes_read:
              description: Number of uncompressed bytes read from the table.
              type: number
            elapsed:
              description: Time in seconds for the query to run.
              type: number
            rows_read:
              description: Number of rows scanned from the table.
              type: number
          required:
          - elapsed
          - rows_read
          - bytes_read
        status:
          description: Current execution status of the query run.
          type: string
          enum:
          - STARTED
          - COMPLETED
        timeframe:
          description: Time range for the query execution. 'from' must be earlier than 'to'. No fractional milliseconds.
          type: object
          properties:
            from:
              description: Start timestamp for the query timeframe. Unix timestamp in milliseconds
              type: integer
              maximum: 253402300799999
              minimum: 0
            to:
              description: End timestamp for the query timeframe. Unix timestamp in milliseconds
              type: integer
              maximum: 253402300799999
              minimum: 0
          required:
          - to
          - from
        updated:
          description: ISO-8601 timestamp when the query run was last updated.
          type: string
        userId:
          description: ID of the user who initiated the query run.
          type: string
      required:
      - id
      - query
      - accountId
      - timeframe
      - userId
      - status
      - granularity
      - dry
    workers-observability_performance_information:
      description: Query performance statistics from the database. Includes execution time, rows scanned, and bytes read. Does not include network latency.
      type: object
      properties:
        abr_level:
          description: The level of Adaptive Bit Rate (ABR) sampling used for the query. If empty the ABR level is 1
          type: number
        bytes_read:
          description: Number of uncompressed bytes read from the table.
          type: number
        elapsed:
          description: Time in seconds for the query to run.
          type: number
        rows_read:
          description: Number of rows scanned from the table.
          type: number
      required:
      - elapsed
      - rows_read
      - bytes_read
    workers-observability_distribution_result:
      description: Bucketed 2D histogram of a numeric field over time. Present when chartType is 'distribution'.
      type: object
      properties:
        bins:
          description: Time-bucket labels (ISO-8601 strings), one per matrix column.
          type: array
          items:
            type: string
        bucketBoundaries:
          description: Raw bucket edges in the value's native unit, length buckets.length + 1. Used for the colour scale and percentile mapping.
          type: array
          items:
            type: number
        bucketMode:
          description: Bucketing scheme used to derive the boundaries. 'log' produces geometric edges; 'linear' produces fixed-width edges.
          type: string
          enum:
          - log
          - linear
        buckets:
          description: Value-range labels, one per matrix row (e.g. '50–100ms').
          type: array
          items:
            type: string
        matrix:
          description: Sampling-corrected counts. matrix[bucketIdx][binIdx] is the estimated number of events in value-bucket 'bucketIdx' during time-bin 'binIdx'.
          type: array
          items:
            items:
              type: number
            type: array
      required:
      - bins
      - buckets
      - matrix
      - bucketBoundaries
      - bucketMode
    workers-observability_query:
      type: object
      properties:
        adhoc:
          description: If the query wasn't explcitly saved
          type: boolean
        created:
          type: string
          format: date-time
        createdBy:
          type: string
        description:
          type:
          - string
          - 'null'
          example: Query description
          maxLength: 1000
        id:
          type: string
        name:
          description: Query name
          type: string
          maxLength: 250
          minLength: 1
        parameters:
          properties:
            calculations:
              description: Create Calculations to compute as part of the query.
              type: array
              items:
                discriminator:
                  propertyName: operator
                oneOf:
                - properties:
                    alias:
                      type: string
                    key:
                      type: string
                    keyType:
                      type: string
                      enum:
                      - string
                      - number
                      - boolean
                    operator:
                      type: string
                      enum:
                      - count
                      - COUNT
                  required:
                  - operator
                  type: object
                - properties:
                    alias:
                      type: string
                    key:
                      type: string
                      pattern: \S
                    keyType:
                      type: string
                      enum:
                      - string
                      - number
                      - boolean
                    operator:
                      type: string
                      enum:
                      - uniq
                      - max
                      - min
                      - sum
                      - avg
                      - median
                      - p001
                      - p01
                      - p05
                      - p10
                      - p25
                      - p75
                      - p90
                      - p95
                      - p99
                      - p999
                      - stddev
                      - variance
                      - COUNT_DISTINCT
                      - MAX
                      - MIN
                      - SUM
                      - AVG
                      - MEDIAN
                      - P001
                      - P01
                      - P05
                      - P10
                      - P25
                      - P75
                      - P90
                      - P95
                      - P99
                      - P999
                      - STDDEV
                      - VARIANCE
                  required:
                  - key
                  - operator
                  type: object
            datasets:
              description: Set the Datasets to query. Leave it empty to query all the datasets.
              type: array
              items:
                type: string
              example: []
            filterCombination:
              description: Set a Flag to describe how to combine the filters on the query.
              type: string
              enum:
              - and
              - or
              - AND
              - OR
            filters:
              description: 'Configure the Filters to apply to the query. Supports nested groups via kind: ''group''.'
              type: array
              items:
                $ref: '#/components/schemas/workers-observability_filter_node'
            groupBys:
              description: Define how to group the results of the query.
              type: array
              items:
                properties:
                  type:
                    type: string
                    enum:
                    - string
                    - number
                    - boolean
                  value:
                    type: string
                required:
                - type
                - value
                type: object
            havings:
              description: Configure the Having clauses that filter on calculations in the query result.
              type: array
              items:
                properties:
                  key:
                    type: string
                  operation:
                    type: string
                    enum:
                    - eq
                    - neq
                    - gt
                    - gte
                    - lt
                    - lte
                  value:
                    type: number
                required:
                - key
                - operation
                - value
                type: object
            limit:
              description: Set a limit on the number of results / records returned by the query
              type: integer
              maximum: 100
              minimum: 0
            needle:
              description: Define an expression to search using full-text search.
              type: object
              properties:
                isRegex:
                  type: boolean
                matchCase:
                  type: boolean
                value:
                  allOf:
                  - anyOf:
                    - type: string
                    - type: number
                    - type: boolean
                  - maxLength: 1000
                    type: string
              required:
              - value
            orderBy:
              description: Configure the order of the results returned by the query.
              type: object
              properties:
                order:
                  description: Set the order of the results
                  type: string
                  enum:
                  - asc
                  - desc
                value:
                  description: Configure which Calculation to order the results by.
                  type: string
              required:
              - value
          type: object
        updated:
          type: string
          format: date-time
        updatedBy:
          type: string
      required:
      - id
      - name
      - description
      - adhoc
      - parameters
      - created
      - createdBy
      - updated
      - updatedBy
    workers-observability_query_results:
      description: Complete results of a query run. The populated fields depend on the requested view type (events, calculations, invocations, traces, or agents).
      type: object
      properties:
        agents:
          description: Agent run summaries. Present when the query view is 'agents'. Each entry represents one trace containing at least one agent invocation.
          type: array
          items:
            properties:
              agentId:
                description: ID from the earliest agent invocation that provides one.
                type: string
              agentName:
                description: Name from the earliest agent invocation that provides one.
                type: string
              conversationId:
                description: Conversation ID from the earliest invocation that provides one.
                type: string
              errors:
                description: Distinct errors reported by spans in the run.
                type: array
                items:
                  type: string
              id:
                description: Stable pagination cursor for this agent run.
                type: string
              inputTokens:
                description: Input tokens summed across chat spans in the run's trace; informational, not billing data.
                type: number
              models:
                description: Distinct models reported by chat spans across the run's trace.
                type: array
                items:
                  type: string
              outputTokens:
                description: Output tokens summed across chat spans in the run's trace; informational, not billing data.
                type: number
              providers:
                description: Distinct GenAI providers reported by chat spans in the run.
                type: array
                items:
                  type: string
              services:
                description: Worker services represented in the run's trace.
                type: array
                items:
                  type: string
              spans:
                description: Number of spans in the run's trace.
                type: number
              status:
                description: Observed run status.
                type: string
                enum:
                - completed
                - error
              traceDurationMs:
                description: Total trace duration in milliseconds.
                type: number
              traceEndMs:
                description: End of the run's trace as a Unix epoch in milliseconds.
                type: number
              traceId:
                description: Trace identifier for this agent run.
                type: string
              traceStartMs:
                description: Start of the run's trace as a Unix epoch in milliseconds.
                type: number
            required:
            - id
            - traceId
            - traceStartMs
            - traceEndMs
            - traceDurationMs
            - spans
            - services
            - errors
            - status
            - models
            - providers
            type: object
        calculations:
          description: Aggregated calculation results. Present when the query view is 'calculations'. Contains computed metrics (count, avg, p99, etc.) with optional group-by breakdowns and time-series data.
          type: array
          items:
            properties:
              aggregates:
                type: array
                items:
                  properties:
                    count:
                      description: 'Estimated number of matching events: the sum of the sample intervals of the stored events. It equals the number of stored events when sampleInterval is 1.'
                      type: number
                    groups:
                      type: array
                      items:
                        properties:
                          key:
                            type: string
                          value:
                            anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - key
                        - value
                        type: object
                    interval:
                      description: Deprecated alias of sampleInterval. Always has the same value; use sampleInterval instead.
                      type: number
                      deprecated: true
                    sampleInterval:
                      description: 'Average sample interval of the matched events. Each stored event has a sample interval of 1 / (the sampling rate applied when it was ingested): the Worker''s head_sampling_rate multiplied by any platform sampling applied to the account or script. A value of 1 means none of the matched events were sampled. A value above 1 means count and value are estimated from sampled data, not exact. This is independent of statistics.abr_level.'
                      type: number
                    value:
                      description: Result of the calculation. count, sum, avg, median, and percentiles are weighted by each event's sample interval
                      type: number
                  required:
                  - value
                  - count
                  - interval
                  - sampleInterval
                  type: object
              alias:
                type: string
              calculation:
                type: string
              series:
                type: array
                items:
                  properties:
                    data:
                      type: array
                      items:
                        properties:
                          count:
                            description: 'Estimated number of matching events: the sum of the sample intervals of the stored events. It equals the number of stored events when sampleInterval is 1.'
                            type: number
                          firstSeen:
                            type: string
                          groups:
                            type: array
                            items:
                              properties:
                                key:
                                  type: string
                                value:
                                  anyOf:
                                  - type: string
                                  - type: number
                                  - type: boolean
                              required:
                              - key
                              - value
                              type: object
                          interval:
                            description: Deprecated alias of sampleInterval. Always has the same value; use sampleInterval instead.
                            type: number
                            deprecated: true
                          lastSeen:
                            type: string
                          sampleInterval:
                            description: 'Average sample interval of the matched events. Each stored event has a sample interval of 1 / (the sampling rate applied when it was ingested): the Worker''s head_sampling_rate multiplied by any platform sampling applied to the account or script. A value of 1 means none of the matched events were sampled. A value above 1 means count and value are estimated from sampled data, not exact. This is independent of statistics.abr_level.'
                            type: number
                          value:
                            description: Result of the calculation. count, sum, avg, median, and percentiles are weighted by each event's sample interval
                            type: number
                        required:
                        - value
                        - count
                        - interval
                        - sampleInterval
                        type: object
                    time:
                      type: string
                  required:
                  - time
                  - data
                  type: object
            required:
            - calculation
            - aggregates
            - series
            type: object
        compare:
          description: Comparison calculation results from the previous time period. Present when the compare option is enabled. Same structure as calculations.
          type: array
          items:
            properties:
              aggregates:
                type: array
                items:
                  properties:
                    count:
                      description: 'Estimated number of matching events: the sum of the sample intervals of the stored events. It equals the number of stored events when sampleInterval is 1.'
                      type: number
                    groups:
                      type: array
                      items:
                        properties:
                          key:
                            type: string
                          value:
                            anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - key
                        - value
                        type: object
                    interval:
                      description: Deprecated alias of sampleInterval. Always has the same value; use sampleInterval instead.
                      type: number
                      deprecated: true
                    sampleInterval:
                      description: 'Average sample interval of the matched events. Each stored event has a sample interval of 1 / (the sampling rate applied when it was ingested): the Worker''s head_sampling_rate multiplied by any platform sampling applied to the account or script. A value of 1 means none of the matched events were sampled. A value above 1 means count and value are estimated from sampled data, not exact. This is independent of statistics.abr_level.'
                      type: number
                    value:
                      description: Result of the calculation. count, sum, avg, median, and percentiles are weighted by each event's sample interval
                      type: number
                  required:
                  - value
                  - count
                  - interval
                  - sampleInterval
                  type: object
              alias:
                type: string
              calculation:
                type: string
              series:
                type: array
                items:
                  properties:
                    data:
                      type: array
                      items:
                        properties:
                          count:
                            description: 'Estimated number of matching events: the sum of the sample intervals of the stored events. It equals the number of stored events when sampleInterval is 1.'
                            type: number
                          firstSeen:
                            type: string
                          groups:
                            type: array
                            items:
                              properties:
                                key:
                                  type: string
                                value:
                                  anyOf:
                                  - type: string
                                  - type: number
                                  - type: boolean
                              required:
                              - key
                              - value
                              type: object
                          interval:
                            description: Deprecated alias of sampleInterval. Always has the same value; use sampleInterval instead.
                            type: number
                            deprecated: true
                          lastSeen:
                            type: string
                          sampleInterval:
                            description: 'Average sample interval of the matched events. Each stored event has a sample interval of 1 / (the sampling rate applied when it was ingested): the Worker''s head_sampling_rate multiplied by any platform sampling applied to the account or script. A value of 1 means none of the matched events were sampled. A value above 1 means count and value are estimated from sampled data, not exact. This is independent of statistics.abr_level.'
                            type: number
                          value:
                            description: Result of the calculation. count, sum, avg, median, and percentiles are weighted by each event's sample interval
                            type: number
                        required:
                        - value
                        - count
                        - interval
                        - sampleInterval
                        type: object
                    time:
                      type: string
                  required:
                  - time
                  - data
                  type: object
            required:
            - calculation
            - aggregates
            - series
            type: object
        distribution:
          $ref: '#/components/schemas/workers-observability_distribution_result'
        events:
          description: Individual event results. Present when the query view is 'events'. Contains the matching log lines and their metadata.
          type: object
          properties:
            count:
              description: Total number of events matching the query (may exceed the number returned due to limits).
              type: number
            events:
              description: List of individual telemetry events matching the query.
              type: array
              items:
                $ref: '#/components/schemas/workers-observability_telemetry_event'
            fields:
              description: List of fields discovered in the matched events. Useful for building dynamic UIs.
              type: array
              items:
                properties:
                  key:
                    description: Field name present in the matched events.
                    type: string
                  type:
                    description: Data type of the field (string, number, or boolean).
                    type: string
                required:
                - key
                - type
                type: object
            series:
              description: Time-series data for the matched events, bucketed by the query granularity.
              type: array
              items:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        aggregates:
                          type: object
                          properties:
                            _count:
                              type: integer
                              deprecated: true
                              exclusiveMinimum: 0
                            _firstSeen:
                              type: string
                              deprecated: true
                            _interval:
                              type: number
                              deprecated: true
                              exclusiveMinimum: 0
                            _lastSeen:
                              type: string
                              deprecated: true
                            bin:
                              type: object
                              deprecated: true
                          required:
                          - _count
                          - _interval
                        count:
                          description: 'Estimated number of matching events: the sum of the sample intervals of the stored events. It equals the number of stored events when sampleInterval is 1.'
                          type: number
                        errors:
                          type: number
                        groups:
                          description: Groups in the query results.
                          type: object
                          additionalProperties:
                            anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                        interval:
                          description: Deprecated alias of sampleInterval. Always has the same value; use sampleInterval instead.
                          type: number
                          deprecated: true
                        sampleInterval:
                          description: 'Average sample interval of the matched events. Each stored event has a sample interval of 1 / (the sampling rate applied when it was ingested): the Worker''s head_sampling_rate multiplied by any platform sampling applied to the account or script. A value of 1 means none of the matched events were sampled. A value above 1 means count and value are estimated from sampled data, not exact. This is independent of statistics.abr_level.'
                          type: number
                      required:
                      - aggregates
                      - count
                      - interval
                      - sampleInterval
                      type: object
                  time:
                    type: string
                required:
                - time
                - data
                type: object
        invocations:
          description: Events grouped by invocation (request ID). Present when the query view is 'invocations'. Each key is a request ID mapping to all events from that invocation.
          type: object
          additionalProperties:
            items:
              $ref: '#/components/schemas/workers-observability_telemetry_event'
            type: array
        run:
          $ref: '#/components/schemas/workers-observability_query_run'
        statistics:
          $ref: '#/components/schemas/workers-observability_performance_information'
        traces:
          description: Trace summaries matching the query. Present when the query view is 'traces'. Each entry represents a distributed trace with its spans, duration, and services involved.
          type: array
          items:
            properties:
              errors:
                description: Error messages encountered during the trace, if any.
                type: array
                items:
                  type: string
              rootSpanName:
                description: Name of the root span that initiated the trace.
                type: string
              rootTransactionName:
                description: Logical transaction name for the root span.
                type: string
              service:
                description: List of Worker services involved in the trace.
                type: array
                items:
                  type: string
              spans:
                description: Total number of spans in the trace.
                type: number
              traceDurationMs:
                description: Total duration of the trace in milliseconds.
                type: number
              traceEndMs:
                description: Trace end time as a Unix epoch in milliseconds.
                type: number
              traceId:
                description: Unique identifier for the distributed trace.
                type: string
              traceStartMs:
                description: Trace start time as a Unix epoch in milliseconds.
                type: number
            required:
            - traceId
            - spans
            - service
            - traceStartMs
            - traceEndMs
            - traceDurationMs
            - rootSpanName
            - rootTransactionName
            type: object
      required:
      - run
      - statistics
    workers-observability_telemetry_event:
      description: A single telemetry event representing a log line, span, or metric data point emitted by a Worker.
      type: object
      properties:
        $containers:
          description: Cloudflare Containers event information that enriches your logs for identifying and debugging issues.
          type: object
          additionalProperties: true
        $metadata:
          description: Structured metadata extracted from the event. These fields are indexed and available for filtering and aggregation.
          type: object
          properties:
            account:
              description: Cloudflare account identifier.
              type: string
            cloudService:
              description: Cloudflare product that generated this event (e.g. workers, pages).
              type: string
            coldStart:
              type: integer
              exclusiveMinimum: 0
            cost:
              description: Estimated cost units for this invocation.
              type: integer
              exclusiveMinimum: 0
            duration:
              description: Span duration in milliseconds.
              type: integer
              exclusiveMinimum: 0
            endTime:
              description: Span end time as a Unix epoch in milliseconds.
              type: integer
              minimum: 0
            endTimeNs:
              description: Span end time as a Unix epoch in nanoseconds.
              type: string
            error:
              description: Error message, present when the log represents an error.
              type: string
            errorTemplate:
              description: Templatized version of the error message used for grouping similar errors.
              type: string
            fingerprint:
              description: Content-based fingerprint used to group similar events.
              type: string
            id:
              description: Unique event ID. Use as the cursor value for offset-based pagination.
              type: string
            level:
              description: Log level (e.g. log, debug, info, warn, error).
              type: string
            message:
              description: Log message text.
              type: string
            messageTemplate:
              description: Templatized version of the log message used for grouping similar messages.
              type: string
            metricName:
              description: Metric name when the event represents a metric data point.
              type: string
            origin:
              description: Origin of the event (e.g. fetch, scheduled, queue).
              type: string
            parentSpanId:
              description: Span ID of the parent span in the trace hierarchy.
              type: string
            provider:
              description: Infrastructure provider identifier.
              type: string
            rayId:
              description: Cloudflare Ray ID from the `cf-ray` header of the request that triggered the invocation.
              type: string
            region:
              description: Cloudflare data center / region that handled the request.
              type: string
            requestId:
              description: Cloudflare request ID that ties all logs from a single invocation together.
              type: string
            service:
              description: Worker script name that produced this event.
              type: string
            spanId:
              description: Span ID for this individual unit of work within a trace.
              type: string
            spanName:
              description: Human-readable name for this span.
              type: string
            stackId:
              description: Stack / deployment identifier.
              type: string
            startTime:
              description: Span start time as a Unix epoch in milliseconds.
              type: integer
              minimum: 0
            startTimeNs:
              description: Span start time as a Unix epoch in nanoseconds.
              type: string
            statusCode:
              description: HTTP response status code returned by the Worker.
              type: integer
              exclusiveMinimum: 0
            timestampNs:
              description: Event time as a Unix epoch in nanoseconds.
              type: string
            traceDuration:
              description: Total duration of the entire trace in milliseconds.
              type: integer
              exclusiveMinimum: 0
            traceId:
              description: Distributed trace ID linking spans across services.
              type: string
            transactionName:
              description: Logical transaction name for this request.
              type: string
            trigger:
              description: What triggered the invocation (e.g. GET /users, POST /orders, queue message).
              type: string
            type:
              description: Event type classifier (e.g. cf-worker-event, cf-worker-log).
              type: string
            url:
              description: Request URL that triggered the Worker invocation.
              type: string
          required:
          - id
        $workers:
          description: Cloudflare Workers event information that enriches your logs for identifying and debugging issues.
          anyOf:
          - properties:
              durableObjectId:
                type: string
              entrypoint:
                type: string
              event:
                type: object
                additionalProperties: true
              eventType:
                type: string
                enum:
                - fetch
                - scheduled
                - alarm
                - cron
                - queue
                - email
                - tail
                - rpc
                - jsrpc
                - websocket
                - workflow
                - unknown
              executionModel:
                type: string
                enum:
                - durableObject
                - stateless
              outcome:
                type: string
              preview:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  slug:
                    type: string
              requestId:
                type: string
              scriptName:
                type: string
              scriptVersion:
                type: object
                properties:
                  id:
                    type: string
                  message:
                    type: string
                  tag:
                    type: string
              spanId:
                type: string
              traceId:
                type: string
              truncated:
                type: boolean
            required:
            - scriptName
            - eventType
            type: object
          - properties:
              cpuTimeMs:
                type: number
              diagnosticsChannelEvents:
                type: array
                items:
                  properties:
                    channel:
                      type: string
                    message:
                      type: string
                    timestamp:
                      type: number
                  required:
                  - timestamp
                  - channel
                  - message
                  type: object
              dispatchNamespace:
                type: string
              durableObjectId:
                type: string
              entrypoint:
                type: string
              event:
                type: object
                additionalProperties: true
              eventType:
                type: string
                enum:
                - fetch
                - scheduled
                - alarm
                - cron
                - queue
                - email
                - tail
                - rpc
                - jsrpc
                - websocket
                - workflow
                - unknown
              executionModel:
                type: string
                enum:
                - durableObject
                - stateless
              outcome:
                type: string
              preview:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  slug:
                    type: string
              requestId:
                type: string
              scriptName:
                type: string
              scriptVersion:
                type: object
                properties:
                  id:
                    type: string
                  message:
                    type: string
                  tag:
                    type: string
              spanId:
                type: string
              traceId:
                type: string
              truncated:
                type: boolean
              wallTimeMs:
                type: number
            required:
            - scriptName
            - outcome
            - eventType
            - wallTimeMs
            - cpuTimeMs
            type: object
        dataset:
          description: The dataset this event belongs to (e.g. cloudflare-workers).
          type: string
        source:
          description: Raw log payload. May be a string or a structured object depending on how the log was emitted.
          anyOf:
          - type: string
          - additionalProperties: true
            type: object
        timestamp:
          description: Event timestamp as a Unix epoch in milliseconds.
          type: integer
          minimum: 0
      additionalProperties: false
      required:
      - dataset
      - timestamp
      - source
      - $metadata
    workers-observability_filter_node:
      description: 'Supports nested groups via kind: ''group''.'
      type: object
      anyOf:
      - properties:
          filterCombination:
            type: string
            enum:
            - and
            - or
            - AND
            - OR
          filters:
            type: array
            items:
              $ref: '#/components/schemas/workers-observability_filter_node'
            minItems: 1
          kind:
            type: string
            enum:
            - group
        required:
        - kind
        - filterCombination
        - filters
        type: object
      - $ref: '#/components/schemas/workers-observability_filter_leaf'
    workers-observability_filter_leaf:
      description: A filter condition applied to query results. Use the keys and values endpoints to discover available fields and their values before constructing filters.
      type: object
      properties:
        key:
          description: Filter field name. Use verified keys from previous query results or the keys endpoint. Common keys include $metadata.service, $metadata.origin, $metadata.trigger, $metadata.message, and $metadata.error.
          type: string
        kind:
          description: Discriminator for leaf filter nodes. Always 'filter' when present; may be omitted.
          type: string
          enum:
          - filter
        operation:
          description: 'Comparison operator. String operators: includes, not_includes, starts_with, ends_with, regex. Existence: exists, is_null. Set membership: in, not_in (comma-separated values). Numeric: eq, neq, gt, gte, lt, lte.'
          type: string
          enum:
          - includes
          - not_includes
          - starts_with
          - ends_with
          - regex
          - exists
          - is_null
          - in
          - not_in
          - eq
          - neq
          - gt
          - gte
          - lt
          - lte
          - '='
          - '!='
          - '>'
          - '>='
          - <
          - <=
          - INCLUDES
          - DOES_NOT_INCLUDE
          - MATCH_REGEX
          - EXISTS
          - DOES_NOT_EXIST
          - IN
          - NOT_IN
          - STARTS_WITH
          - ENDS_WITH
        type:
          description: Data type of the filter field. Must match the actual type of the key being filtered.
          type: string
          enum:
          - string
          - number
          - boolean
        value:
          description: Comparison value. Must match actual values in your data — verify with the values endpoint. Ensure the value type (string/number/boolean) matches the field type. String comparisons are case-sensitive. Regex uses RE2 syntax (no lookaheads/lookbehinds).
          anyOf:
          - type: string
          - type: number
          - type: boolean
      required:
      - key
      - operation
      - type
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
[...]
