openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Zone-Level Access applications API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Zone-Level Access applications
paths:
  /zones/{zone_id}/access/apps:
    get:
      operationId: zone-level-access-applications-list-access-applications
      summary: List Access Applications
      description: List all Access Applications in a zone.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List Access Applications response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_response_collection-23'
        4XX:
          description: List Access Applications response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Revoke'
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      - 'Access: Apps and Policies Revoke'
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: zone-level-access-applications-add-a-bookmark-application
      summary: Add an Access application
      description: Adds a new application to Access.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_apps'
      responses:
        '201':
          description: Add an Access application response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_single_response-22'
                - properties:
                    result:
                      $ref: '#/components/schemas/access_apps'
                  type: object
        4XX:
          description: Add an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Write'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps
      x-fern-sdk-method-name: create
      x-stability: beta
  /zones/{zone_id}/access/apps/{app_id}:
    delete:
      operationId: zone-level-access-applications-delete-an-access-application
      summary: Delete an Access application
      description: Deletes an application from Access.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Delete an Access application response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_id_response'
        4XX:
          description: Delete an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Write'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps
      x-fern-sdk-method-name: delete
    get:
      operationId: zone-level-access-applications-get-an-access-application
      summary: Get an Access application
      description: Fetches information about an Access application.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get an Access application response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_single_response-22'
        4XX:
          description: Get an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps
      x-fern-sdk-method-name: get
      x-stability: beta
    put:
      operationId: zone-level-access-applications-update-a-bookmark-application
      summary: Update an Access application
      description: Updates an Access application.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_apps'
      responses:
        '200':
          description: Update an Access application response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_single_response-22'
                - properties:
                    result:
                      $ref: '#/components/schemas/access_apps'
                  type: object
        4XX:
          description: Update an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Write'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps
      x-fern-sdk-method-name: update
      x-stability: beta
  /zones/{zone_id}/access/apps/{app_id}/revoke_tokens:
    post:
      operationId: zone-level-access-applications-revoke-service-tokens
      summary: Revoke application tokens
      description: Revokes all tokens issued for an application.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Revoke application tokens response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_empty_response-2'
        4XX:
          description: Revoke application tokens response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Revoke'
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Revoke'
      - 'Access: Apps and Policies Write'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps.revoke.tokens
      x-fern-sdk-method-name: create
      x-forge-require-confirmation: This operation revokes all service tokens for the application.
  /zones/{zone_id}/access/apps/{app_id}/settings:
    patch:
      operationId: zone-level-access-applications-patch-update-access-application-settings
      summary: Update application settings
      description: Updates application settings.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_app_settings_request'
      responses:
        '202':
          description: Update application settings response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_single_response_update'
        4XX:
          description: Update application settings response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps.settings
      x-fern-sdk-method-name: edit
    put:
      operationId: zone-level-access-applications-put-update-access-application-settings
      summary: Update application settings
      description: Updates application settings.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_app_settings_request'
      responses:
        '202':
          description: Update application settings response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_single_response_update'
        4XX:
          description: Update application settings response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Write'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps.settings
      x-fern-sdk-method-name: update
  /zones/{zone_id}/access/apps/{app_id}/user_policy_checks:
    get:
      operationId: zone-level-access-applications-test-access-policies
      summary: Test Access policies
      description: Tests if a specific user has permission to access an application.
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Test Access policies response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_policy_check_response-2'
        4XX:
          description: Test Access policies response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Zone-Level Access applications
      x-api-token-group:
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      - 'Access: Apps and Policies Write'
      - 'Access: Apps and Policies Read'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: zero-trust.access.zone-apps.user.policy.checks
      x-fern-sdk-method-name: get
components:
  schemas:
    access_type-3:
      description: The application type.
      type: string
      example: self_hosted
      enum:
      - self_hosted
      - saas
      - ssh
      - vnc
      - app_launcher
      - warp
      - biso
      - bookmark
      - dash_sso
    access_scim_config_multi_authentication-2:
      description: Multiple authentication schemes
      type: array
      items:
        $ref: '#/components/schemas/access_scim_config_single_authentication-2'
    access_scim_config_authentication_oauth2:
      description: Attributes for configuring OAuth 2 authentication scheme for SCIM provisioning to an application.
      type: object
      properties:
        authorization_url:
          description: URL used to generate the auth code used during token generation.
          type: string
        client_id:
          description: Client ID used to authenticate when generating a token for authenticating with the remote SCIM service.
          type: string
        client_secret:
          description: Secret used to authenticate when generating a token for authenticating with the remove SCIM service.
          type: string
          x-sensitive: true
        scheme:
          description: The authentication scheme to use when making SCIM requests to this application.
          type: string
          enum:
          - oauth2
        scopes:
          description: The authorization scopes to request when generating the token used to authenticate with the remove SCIM service.
          type: array
          items:
            type: string
        token_url:
          description: URL used to generate the token used to authenticate with the remote SCIM service.
          type: string
      required:
      - scheme
      - client_id
      - client_secret
      - authorization_url
      - token_url
      title: OAuth 2
    access_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    access_eager_redirect_cookie_setting:
      description: Preemptively sets the Access session cookie on every hostname in a multi-hostname self-hosted application during the initial redirect chain, rather than setting it lazily on first visit. Defaults to true. Set to false to disable the eager redirect cookie behavior.
      type: boolean
      example: true
      default: true
    access_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/access_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/access_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    access_basic_app_response_props-2:
      type: object
      properties:
        aud:
          $ref: '#/components/schemas/access_aud-2'
        created_at:
          $ref: '#/components/schemas/access_timestamp'
        id:
          $ref: '#/components/schemas/access_uuid'
        scim_config:
          $ref: '#/components/schemas/access_scim_config-2'
        updated_at:
          $ref: '#/components/schemas/access_timestamp'
    access_biso_props-2:
      allOf:
      - $ref: '#/components/schemas/access_feature_app_props-2'
      - properties:
          domain:
            type: string
            example: authdomain.cloudflareaccess.com/browser
            readOnly: true
          name:
            type: string
            example: Clientless Web Isolation
            default: Clientless Web Isolation
            readOnly: true
          type:
            description: The application type.
            type: string
            example: biso
        type: object
    access_allow_iframe:
      description: Enables loading application content in an iFrame.
      type: boolean
      example: true
    access_allowed_origins:
      description: Allowed origins.
      type: array
      items:
        type: string
      example:
      - https://example.com
    access_custom_deny_url-2:
      description: The custom URL a user is redirected to when they are denied access to the application.
      type: string
    access_saml_saas_app-2:
      type: object
      properties:
        auth_type:
          description: Optional identifier indicating the authentication protocol used for the saas app. Required for OIDC. Default if unset is "saml"
          type: string
          example: saml
          enum:
          - saml
          - oidc
        consumer_service_url:
          description: The service provider's endpoint that is responsible for receiving and parsing a SAML assertion.
          type: string
          example: https://example.com
        created_at:
          $ref: '#/components/schemas/access_timestamp'
        custom_attributes:
          type: array
          items:
            properties:
              friendly_name:
                description: The SAML FriendlyName of the attribute.
                type: string
                example: Last Name
              name:
                description: The name of the attribute.
                type: string
                example: family_name
              name_format:
                description: A globally unique name for an identity or service provider.
                type: string
                example: urn:oasis:names:tc:SAML:2.0:attrname-format:basic
                enum:
                - urn:oasis:names:tc:SAML:2.0:attrname-format:unspecified
                - urn:oasis:names:tc:SAML:2.0:attrname-format:basic
                - urn:oasis:names:tc:SAML:2.0:attrname-format:uri
              required:
                description: If the attribute is required when building a SAML assertion.
                type: boolean
                example: true
              source:
                type: object
                properties:
                  name:
                    description: The name of the IdP attribute.
                    type: string
                    example: last_name
                  name_by_idp:
                    description: A mapping from IdP ID to attribute name.
                    type: object
                    example:
                      exampleIdPID1: AttributeName1
                      exampleIdPID2: AttributeName2
                    additionalProperties:
                      type: string
            type: object
        idp_entity_id:
          description: The unique identifier for your SaaS application.
          type: string
          example: https://example.cloudflareaccess.com
          x-stainless-terraform-configurability: computed_optional
        name_id_format:
          description: The format of the name identifier sent to the SaaS application.
          type: string
          example: id
          enum:
          - id
          - email
        name_id_transform_jsonata:
          description: 'A [JSONata](https://jsonata.org/) expression that transforms an application''s user identities into a NameID value for its SAML assertion. This expression should evaluate to a singular string. The output of this expression can override the `name_id_format` setting.

            '
          type: string
          example: $substringBefore(email, '@') & '+sandbox@' & $substringAfter(email, '@')
        public_key:
          description: The Access public certificate that will be used to verify your identity.
          type: string
          example: example unique name
          x-stainless-terraform-configurability: computed
        sp_entity_id:
          description: A globally unique name for an identity or service provider.
          type: string
          example: example unique name
        sso_endpoint:
          description: The endpoint where your SaaS application will send login requests.
          type: string
          example: https://example.cloudflareaccess.com/cdn-cgi/access/sso/saml/b3f58a2b414e0b51d45c8c2af26fccca0e27c63763c426fa52f98dcf0b3b3bfd
          x-stainless-terraform-configurability: computed_optional
        updated_at:
          $ref: '#/components/schemas/access_timestamp'
      title: SAML SaaS App
    access_app_launcher_visible:
      description: Displays the application in the App Launcher.
      type: boolean
      example: true
      default: true
    access_domain-3:
      description: The domain and path that Access will secure.
      type: string
      example: test.example.com/admin
    access_scim_config_single_authentication-2:
      oneOf:
      - $ref: '#/components/schemas/access_scim_config_authentication_http_basic'
      - $ref: '#/components/schemas/access_scim_config_authentication_oauth_bearer_token-2'
      - $ref: '#/components/schemas/access_scim_config_authentication_oauth2'
      - $ref: '#/components/schemas/access_scim_config_authentication_access_service_token'
    access_session_duration-4:
      description: 'The amount of time that tokens issued for this application will be valid. Must be in the format `300ms` or `2h45m`. Valid time units are: ns, us (or µs), ms, s, m, h.'
      type: string
      example: 24h
      default: 24h
    access_apps:
      type: object
      anyOf:
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props-2'
        - $ref: '#/components/schemas/access_self_hosted_props-2'
        title: Self Hosted Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props-2'
        - $ref: '#/components/schemas/access_saas_props-2'
        title: SaaS Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props-2'
        - $ref: '#/components/schemas/access_ssh_props-2'
        title: Browser SSH Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props-2'
        - $ref: '#/components/schemas/access_vnc_props-2'
        title: Browser VNC Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props-2'
        - $ref: '#/components/schemas/access_app_launcher_props-2'
        title: App Launcher Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props-2'
        - $ref: '#/components/schemas/access_warp_props-2'
        title: Device Enrollment Permissions Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props-2'
        - $ref: '#/components/schemas/access_biso_props-2'
        title: Browser Isolation Permissions Application
        type: object
      - allOf:
        - $ref: '#/components/schemas/access_basic_app_response_props-2'
        - $ref: '#/components/schemas/access_bookmark_props-2'
        title: Bookmark application
        type: object
    access_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/access_messages'
        messages:
          $ref: '#/components/schemas/access_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    access_app_id:
      oneOf:
      - $ref: '#/components/schemas/access_identifier'
      - $ref: '#/components/schemas/access_uuid'
    access_allow_all_headers:
      description: Allows all HTTP request headers.
      type: boolean
      example: true
    access_options_preflight_bypass-2:
      description: Allows options preflight requests to bypass Access authentication and go directly to the origin. Cannot turn on if cors_headers is set.
      type: boolean
      example: true
      default: false
    access_scim_config_authentication_access_service_token:
      description: Attributes for configuring Access Service Token authentication scheme for SCIM provisioning to an application.
      type: object
      properties:
        client_id:
          description: Client ID of the Access service token used to authenticate with the remote service.
          type: string
        client_secret:
          description: Client secret of the Access service token used to authenticate with the remote service.
          type: string
          x-sensitive: true
        scheme:
          description: The authentication scheme to use when making SCIM requests to this application.
          type: string
          enum:
          - access_service_token
      required:
      - scheme
      - client_id
      - client_secret
      title: Access Service Token
    access_skip_interstitial:
      description: Enables automatic authentication through cloudflared.
      type: boolean
      example: true
    access_feature_app_props-2:
      type: object
      properties:
        allowed_idps:
          $ref: '#/components/schemas/access_allowed_idps'
        auto_redirect_to_identity:
          $ref: '#/components/schemas/access_auto_redirect_to_identity-2'
        domain:
          $ref: '#/components/schemas/access_domain-3'
        name:
          $ref: '#/components/schemas/access_name-8'
        session_duration:
          $ref: '#/components/schemas/access_session_duration-4'
        type:
          $ref: '#/components/schemas/access_type-3'
      required:
      - type
    access_scim_config_authentication_http_basic:
      description: Attributes for configuring HTTP Basic authentication scheme for SCIM provisioning to an application.
      type: object
      properties:
        password:
          description: Password used to authenticate with the remote SCIM service.
          type: string
          x-sensitive: true
        scheme:
          description: The authentication scheme to use when making SCIM requests to this application.
          type: string
          enum:
          - httpbasic
        user:
          description: User name used to authenticate with the remote SCIM service.
          type: string
      required:
      - scheme
      - user
      - password
      title: HTTP Basic
    access_auto_redirect_to_identity-2:
      description: When set to `true`, users skip the identity provider selection step during login. You must specify only one identity provider in allowed_idps.
      type: boolean
      default: false
    access_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    access_max_age:
      description: The maximum number of seconds the results of a preflight request can be cached.
      type: number
      example: -1
      maximum: 86400
      minimum: -1
    access_allowed_headers:
      description: Allowed HTTP request headers.
      type: array
      items:
        type: string
    access_http_only_cookie_attribute:
      description: Enables the HttpOnly cookie attribute, which increases security against XSS attacks.
      type: boolean
      example: true
      default: true
    access_bookmark_props-2:
      type: object
      properties:
        app_launcher_visible:
          type: boolean
          default: true
        domain:
          description: The URL or domain of the bookmark.
          type: string
          example: https://mybookmark.com
        logo_url:
          $ref: '#/components/schemas/access_logo_url'
        name:
          $ref: '#/components/schemas/access_name-8'
        type:
          description: The application type.
          type: string
          example: bookmark
      required:
      - type
      - domain
      title: Bookmark Application
    access_allowed_methods:
      description: Allowed HTTP request methods.
      type: array
      items:
        enum:
        - GET
        - POST
        - HEAD
        - PUT
        - DELETE
        - CONNECT
        - OPTIONS
        - TRACE
        - PATCH
        type: string
      example:
      - GET
    access_scim_config-2:
      description: Configuration for provisioning to this application via SCIM. This is currently in closed beta.
      type: object
      properties:
        authentication:
          oneOf:
          - $ref: '#/components/schemas/access_scim_config_single_authentication-2'
          - $ref: '#/components/schemas/access_scim_config_multi_authentication-2'
        deactivate_on_delete:
          description: If false, we propagate DELETE requests to the target application for SCIM resources. If true, we only set `active` to false on the SCIM resource. This is useful because some targets do not support DELETE operations.
          type: boolean
        enabled:
          description: Whether SCIM provisioning is turned on for this application.
          type: boolean
        idp_uid:
          description: The UID of the IdP to use as the source for SCIM resources to provision to this application.
          type: string
        mappings:
          description: A list of mappings to apply to SCIM resources before provisioning them in this application. These can transform or filter the resources to be provisioned.
          type: array
          items:
            $ref: '#/components/schemas/access_scim_config_mapping'
        remote_uri:
          description: The base URI for the application's SCIM-compatible API.
          type: string
      required:
      - remote_uri
      - idp_uid
    access_single_response-22:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/access_apps'
        type: object
    access_allow_credentials:
      description: When set to `true`, includes credentials (cookies, authorization headers, or TLS client certificates) with requests.
      type: boolean
    access_custom_deny_message:
      description: The custom error message shown to a user when they are denied access to the application.
      type: string
    access_uuid:
      description: UUID.
      type: string
      example: f174e90a-fafe-4643-bbbc-4a0ed4fc8415
      maxLength: 36
      x-auditable: true
    access_app_settings_response:
      type: object
      properties:
        allow_iframe:
          $ref: '#/components/schemas/access_allow_iframe'
        skip_interstitial:
          $ref: '#/components/schemas/access_skip_interstitial'
    access_timestamp:
      type: string
      format: date-time
      example: '2014-01-01T05:20:00.12345Z'
      x-auditable: true
    access_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-common'
    access_response_collection-23:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/access_apps'
        type: object
    access_oidc_saas_app-2:
      type: object
      properties:
        access_token_lifetime:
          description: The lifetime of the OIDC Access Token after creation. Valid units are m,h. Must be greater than or equal to 1m and less than or equal to 24h.
          type: string
          example: 5m
        allow_pkce_without_client_secret:
          description: If client secret should be required on the token endpoint when authorization_code_with_pkce grant is used.
          type: boolean
          example: true
        app_launcher_url:
          description: The URL where this applications tile redirects users
          type: string
          example: https://example.com/login
        auth_type:
          description: Identifier of the authentication protocol used for the saas app. Required for OIDC.
          type: string
          example: oidc
          enum:
          - saml
          - oidc
        client_id:
          description: The application client id
          type: string
          example: oidc client id
        client_secret:
          description: The application client secret, only returned on POST request.
          type: string
          example: oidc client secret
          x-sensitive: true
        created_at:
          $ref: '#/components/schemas/access_timestamp'
        custom_claims:
          type: array
          items:
            properties:
              name:
                description: The name of the claim.
                type: string
                example: family_name
              required:
                description: If the claim is required when building an OIDC token.
                type: boolean
                example: true
              scope:
                description: The scope of the claim.
                type: string
                example: profile
                enum:
                - groups
                - profile
                - email
                - openid
              source:
                type: object
                properties:
                  name:
                    description: The name of the IdP claim.
                    type: string
                    example: last_name
                  name_by_idp:
                    description: A mapping from IdP ID to attribute name.
                    type: array
                    items:
                      properties:
                        idp_id:
                          description: The UID of the IdP.
                          type: string
                          example: exampleIdPID1
                        source_name:
                          description: The name of the IdP provided attribute.
                          type: string
                          example: AttributeName1
                      type: object
            type: object
        grant_types:
          description: The OIDC flows supported by this application
          type: array
          items:
            enum:
            - authorization_code
            - authorization_code_with_pkce
            - refresh_tokens
            - hybrid
            - implicit
            type: string
          example:
          - authorization_code
        group_filter_regex:
          description: A regex to filter Cloudflare groups returned in ID token and userinfo endpoint.
          type: string
          example: ^GROUP_FILTER-*$
        hybrid_and_implicit_options:
          type: object
          properties:
            return_access_token_from_authorization_endpoint:
              description: If an Access Token should be returned from the OIDC Authorization endpoint
              type: boolean
            return_id_token_from_authorization_endpoint:
              description: If an ID Token should be returned from the OIDC Authorization endpoint
              type: boolean
        public_key:
          description: The Access public certificate that will be used to verify your identity.
          type: string
          example: example unique name
        redirect_uris:
          description: The permitted URL's for Cloudflare to return Authorization codes and Access/ID tokens
          type: array
          items:
            type: string
          example:
          - https://example.com
        refresh_token_options:
          type: object
          properties:
            lifetime:
              description: How long a refresh token will be valid for after creation. Valid units are m,h,d. Must be longer than 1m.
              type: string
              example: 30d
        scopes:
          description: Define the user information shared with access, "offline_access" scope will be automatically enabled if refresh tokens are enabled
          type: array
          items:
            enum:
            - openid
            - groups
            - email
            - profile
            type: string
          example:
          - openid
          - groups
          - email
          - profile
        updated_at:
          $ref: '#/components/schemas/access_timestamp'
      title: OIDC SaaS App
    access_vnc_props-2:
      allOf:
      - $ref: '#/components/schemas/access_self_hosted_props-2'
      - properties:
          type:
            description: The application type.
            type: string
            example: vnc
        type: object
    access_warp_props-2:
      allOf:
      - $ref: '#/components/schemas/access_feature_app_props-2'
      - properties:
          domain:
            type: string
            example: authdomain.cloudflareaccess.com/warp
            readOnly: true
          name:
            type: string
            example: Warp Login App
            default: Warp Login App
            readOnly: true
          type:
            description: The application type.
            type: string
            example: warp
        type: object
    access_scim_config_authentication_oauth_bearer_token-2:
      description: Attributes for configuring OAuth Bearer Token authentication scheme for SCIM provisioning to an application.
      type: object
      properties:
        scheme:
          description: The authentication scheme to use when making SCIM requests to this application.
          type: string
          enum:
          - oauthbearertoken
        token:
          description: Token used to authenticate with the remote SCIM service.
          type: string
      required:
      - scheme
      - token
      title: OAuth Bearer Token
    access_logo_url:
      description: The image URL for the logo shown in the App Launcher dashboard.
      type: string
      example: https://www.cloudflare.com/img/logo-web-badges/cf-logo-on-white-bg.svg
    access_use_clientless_isolation_app_launcher_url:
      description: 'Determines if users can access this application via a clientless browser isolation URL.

        This allows users to access private domains without connecting to Gateway. The option requires

        Clientless Browser Isolation to be set up with policies that allow users of this application.

        '
      type: boolean
      example: false
      default: false
    access_policy_check_response-2:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            type: object
            properties:
              app_state:
                type: object
                properties:
                  app_uid:
                    $ref: '#/components/schemas/access_uuid'
                  aud:
                    type: string
                    example: 737646a56ab1df6ec9bddc7e5ca84eaf3b0768850f3ffb5d74f1534911fe389
                  hostname:
                    type: string
                    example: test.com
                  name:
                    type: string
                    example: Test App
                  policies:
                    type: array
                    items:
                      type: object
                    example:
                    - decision: allow
                      exclude: []
                      include:
                      - _type: email
                        email: testuser@gmail.com
                      precedence: 0
                      require: []
                      status: Success
                  status:
                    type: string
                    example: Success
              user_identity:
                type: object
                properties:
                  account_id:
                    type: string
                    example: 41ecfbb341f033e52b46742756aabb8b
                  device_sessions:
                    type: object
                    example: {}
                  email:
                    type: string
                    example: testuser@gmail.com
                  geo:
                    type: object
                    properties:
                      country:
                        type: string
                        example: US
                  iat:
                    type: integer
                  id:
                    type: string
                    example: '1164449231815010287495'
                  is_gateway:
                    type: boolean
                    example: false
                  is_warp:
                    type: boolean
                    example: false
                  name:
                    type: string
                    example: Test User
                  user_uuid:
                    $ref: '#/components/schemas/access_uuid'
                  version:
                    type: integer
        type: object
    access_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    access_ssh_props-2:
      allOf:
      - $ref: '#/components/schemas/access_self_hosted_props-2'
      - properties:
          type:
            description: The application type.
            type: string
            example: ssh
        type: object
    access_allowed_idps:
      description: The identity providers your users can select when connecting to this application. Defaults to all IdPs configured in your account.
      type: array
      items:
        description: The identity providers selected for application.
        example: 699d98642c564d2e855e9661899b7252
        type: string
    access_name-8:
      description: The name of the application.
      type: string
      example: Admin Site
    access_cors_headers:
      type: object
      properties:
        allow_all_headers:
          $ref: '#/components/schemas/access_allow_all_headers'
        allow_all_methods:
          $ref: '#/components/schemas/access_allow_all_methods'
        allow_all_origins:
          $ref: '#/components/schemas/access_allow_all_origins'
        allow_credentials:
          $ref: '#/components/schemas/access_allow_credentials'
        allowed_headers:
          $ref: '#/components/schemas/access_allowed_headers'
        allowed_methods:
          $ref: '#/components/schemas/access_allowed_methods'
        allowed_origins:
          $ref: '#/components/schemas/access_allowed_origins'
        max_age:
          $ref: '#/components/schemas/access_max_age'
    access_saas_props-2:
      type: object
      properties:
        allowed_idps:
          $ref: '#/components/schemas/access_allowed_idps'
        app_launcher_visible:
          $ref: '#/components/schemas/access_app_launcher_visible'
        auto_redirect_to_identity:
          $ref: '#/components/schemas/access_auto_redirect_to_identity-2'
        logo_url:
          $ref: '#/components/schemas/access_logo_url'
        name:
          $ref: '#/components/schemas/access_name-8'
        saas_app:
          type: object
          oneOf:
          - $ref: '#/components/schemas/access_saml_saas_app-2'
          - $ref: '#/components/schemas/access_oidc_saas_app-2'
        type:
          description: The application type.
          type: string
          example: saas
      title: SaaS Application
    access_single_response_update:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/access_app_settings_response'
        type: object
    access_app_settings_request:
      type: object
      properties:
        allow_iframe:
          $ref: '#/components/schemas/access_allow_iframe'
        skip_interstitial:
          $ref: '#/components/schemas/access_skip_interstitial'
    access_self_hosted_props-2:
      type: object
      properties:
        allow_iframe:
          $ref: '#/components/schemas/access_allow_iframe'
        allowed_idps:
          $ref: '#/components/schemas/access_allowed_idps'
        app_launcher_visible:
          $ref: '#/components/schemas/access_app_launcher_visible'
        auto_redirect_to_identity:
          $ref: '#/components/schemas/access_auto_redirect_to_identity-2'
        cors_headers:
          $ref: '#/components/schemas/access_cors_headers'
        custom_deny_message:
          $ref: '#/components/schemas/access_custom_deny_message'
        custom_deny_url:
          $ref: '#/components/schemas/access_custom_deny_url-2'
        domain:
          $ref: '#/components/schemas/access_domain-3'
        eager_redirect_cookie_setting:
          $ref: '#/components/schemas/access_eager_redirect_cookie_setting'
        enable_binding_cookie:
          $ref: '#/components/schemas/access_enable_binding_cookie'
        http_only_cookie_attribute:
          $ref: '#/components/schemas/access_http_only_cookie_attribute'
        logo_url:
          $ref: '#/components/schemas/access_logo_url'
        name:
          $ref: '#/components/schemas/access_name-8'
        options_preflight_bypass:
          $ref: '#/components/schemas/access_options_preflight_bypass-2'
        same_site_cookie_attribute:
          $ref: '#/components/schemas/access_same_site_cookie_attribute'
        service_auth_401_redirect:
          $ref: '#/components/schemas/access_service_auth_401_redirect'
        session_duration:
          $ref: '#/components/schemas/access_session_duration-4'
        skip_interstitial:
          $ref: '#/components/schemas/access_skip_interstitial'
        type:
          description: The application type.
          type: string
          example: self_hosted
        use_clientless_isolation_app_launcher_url:
          $ref: '#/components/schemas/access_use_clientless_isolation_app_launcher_url'
      required:
      - type
      - domain
      title: Self Hosted Application
    access_same_site_cookie_attribute:
      description: Sets the SameSite cookie setting, which provides increased security against CSRF attacks.
      type: string
      example: strict
    access_allow_all_methods:
      description: Allows all HTTP request methods.
      type: boolean
    access_id_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/access_api-response-single'
      - properties:
          result:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/access_uuid'
        type: object
    access_service_auth_401_redirect:
      description: Returns a 401 status code when the request is blocked by a Service Auth policy.
      type: boolean
      example: true
    access_allow_all_origins:
      description: Allows all origins.
      type: boolean
    access_scim_config_mapping:
      description: Transformations and filters applied to resources before they are provisioned in the remote SCIM service.
      type: object
      properties:
        enabled:
          description: Whether or not this mapping is enabled.
          type: boolean
        filter:
          description: A [SCIM filter expression](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2) that matches resources that should be provisioned to this application.
          type: string
          example: title pr or userType eq "Intern"
        operations:
          description: Whether or not this mapping applies to creates, updates, or deletes.
          type: object
          properties:
            create:
              description: Whether or not this mapping applies to create (POST) operations.
              type: boolean
            delete:
              description: Whether or not this mapping applies to DELETE operations.
              type: boolean
            update:
              description: Whether or not this mapping applies to update (PATCH/PUT) operations.
              type: boolean
        schema:
          description: Which SCIM resource type this mapping applies to.
          type: string
          example: urn:ietf:params:scim:schemas:core:2.0:User
        strictness:
          description: The level of adherence to outbound resource schemas when provisioning to this mapping. ‘Strict’ removes unknown values, while ‘passthrough’ passes unknown values to the target.
          type: string
          enum:
          - strict
          - passthrough
        transform_jsonata:
          description: A [JSONata](https://jsonata.org/) expression that transforms the resource before provisioning it in the application.
          type: string
          example: '$merge([$, {''userName'': $substringBefore($.userName, ''@'') & ''+test@'' & $substringAfter($.userName, ''@'')}])'
      required:
      - schema
    access_app_launcher_props-2:
      allOf:
      - $ref: '#/components/schemas/access_feature_app_props-2'
      - properties:
          domain:
            type: string
            example: authdomain.cloudflareaccess.com
            readOnly: true
          name:
            type: string
            example: App Launcher
            default: App Launcher
            readOnly: true
          type:
            description: The application type.
            type: string
            example: app_launcher
        type: object
    access_enable_binding_cookie:
      description: Enables the binding cookie, which increases security against compromised authorization tokens and CSRF attacks.
      type: boolean
      default: false
    access_empty_response-2:
      type: object
      allOf:
      - properties:
          result:
            type:
            - object
            - 'null'
          success:
            type: boolean
            example: true
            enum:
            - true
            - false
        type: object
    access_aud-2:
      description: Audience tag.
      type: string
      example: 737646a56ab1df6ec9bddc7e5ca84eaf3b0768850f3ffb5d74f1534911fe3893
      maxLength: 64
      readOnly: true
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
        description: Chat messages from historical RealtimeKit sessions
      kit.sessions.livestreams:
        description: Livestreams associated with historical RealtimeKit sessions
      kit.sessions.participants:
        description: Participants in historical RealtimeKit sessions
      kit.sessions.peers:
        description: Peer details from historical RealtimeKit sessions
      kit.sessions.summaries:
        description: Summaries of historical RealtimeKit sessions
      kit.sessions.transcripts:
        description: Transcripts from historical RealtimeKit sessions
      kit.webhooks:
        description: Webhook endpoints and supported events for RealtimeKit notifications
      kit.webhooks.events:
        description: Supported events for RealtimeKit webhooks
      moq:
        description: MoQ relays for publishing and subscribing to media streams
      moq.relays:
        description: Relays are isolated MoQ scopes that carry media between publishers and subscribers
      moq.relays.tokens:
        description: Tokens that authorize publishers and subscribers to connect to a relay
      sfu:
        description: SFU apps that route WebRTC media and data between participants
      sfu.apps:
        description: SFU application namespaces for sessions and tracks
      turn:
        description: TURN keys that help clients traverse NATs and firewalls
      turn.keys:
        description: Keys used to generate short-lived TURN credentials
  request-tracers:
    description: Trace how a request would be processed through Cloudflare's rules and configuration pipeline
    groups:
      traces:
        description: Simulate request processing to debug rule matches, transforms, and routing decisions
  resource-sharing:
    description: Share Cloudflare resources (zones, accounts) across organizations with granular access controls
    groups:
      recipients:
        description: Update share recipients
      resources:
        description: Individual resources (zones, configs) that have been shared with recipients
  rules:
    description: Resources used by Cloudflare rules and rulesets
    groups:
      lists:
        description: Custom account-level lists of IPs, hostnames, ASNs, or redirects used in rule expressions
  rum:
    description: Real User Measurement (Web Analytics) — track page loads, Core Web Vitals, and visitor metrics
    groups:
      rules:
        description: Rules that control which pages and paths are tracked by Web Analytics
      site-info:
        description: Web Analytics sites — register domains and get the JavaScript beacon snippet
  scim:
    description: SCIM 2.0 provisioning — manage users, groups, and identity provider sync for your account
    groups:
      groups:
        description: Groups operations
      resource-types:
        description: Resource Types operations
      schemas:
        description: Schemas operations
      service-provider-config:
        description: Service Provider Config operations
      users:
        description: Users operations
  secrets-store:
    description: Centralized secret management — store API keys, tokens, and credentials for use across Workers and other products
    groups:
      quota:
        description: Account quota limits for secrets stores, secrets count, and storage capacity
      secrets:
        description: Encrypted key-value secrets within a store. Pass --store-id to scope.
      stores:
        description: Secret stores that hold encrypted key-value secrets accessible by Workers and services
  security-center:
    description: Security posture dashboard — view and manage security insights, misconfigurations, and vulnerabilities
    groups:
      insights:
        description: Security findings and recommendations across your account — DNS, SSL, WAF misconfigurations, etc.
      zone-insights:
        description: Zone-scoped security insights — counts by class, severity, type, and dismissal
  security-txt:
    description: Manage the /.well-known/security.txt file that tells security researchers how to report vulnerabilities
  smart-shield:
    description: Smart Shield settings, health checks, and cache reserve management
    groups:
      cache-reserve-clear:
        description: Cache Reserve Clear operations
      health-checks:
        description: Health checks operations
  spectrum:
    description: Proxy and protect arbitrary TCP/UDP applications through Cloudflare's network with DDoS mitigation
    groups:
      analytics:
        description: Real-time and historical connection analytics for Spectrum applications
      apps:
        description: Spectrum application configurations that map protocols and ports to origin servers
  speed:
    description: Observatory speed tests — run Lighthouse audits, track performance trends, and schedule recurring tests
    groups:
      availabilities:
        description: Check which speed test regions and configurations are available for your zone
      pages:
        description: Tested pages with their performance history, trends, and individual test results
      schedule:
        description: Scheduled recurring speed tests that automatically run at regular intervals
  ssl:
    description: SSL/TLS certificate management — certificate packs, Universal SSL, verification, and TLS mode recommendations
    groups:
      automatic-upgrader:
        description: SSL automatic mode enrollment — get or update automatic SSL/TLS upgrader settings
      recommendations:
        description: Get the recommended SSL/TLS encryption mode based on your origin server's certificate configuration
  stream:
    description: Video encoding, storage, and delivery — upload, live-stream, clip, caption, and embed video at scale
    groups:
      audio-tracks:
        description: Add, edit, or remove additional audio tracks on a video
      captions:
        description: Upload, generate, or retrieve captions and subtitles for videos in multiple languages
      clip:
        description: Create a new video clip from an existing video by specifying start and end times
      copy:
        description: Import a video from a URL into Stream for processing and delivery
      direct-upload:
        description: Generate a tokenized URL that lets end-users upload video directly to Stream
      downloads:
        description: Create downloadable MP4 renditions of a video for offline viewing
      embed:
        description: Retrieve the HTML embed code snippet for a video
      keys:
        description: Signing keys used to generate short-lived signed URLs for private video playback
      live-inputs:
        description: Enable and disable live input streams
      token:
        description: Generate short-lived signed URL tokens for secure private video playback
      typed-downloads:
        description: Type-specific stream download creation and deletion
      videos:
        description: Aggregate video storage usage statistics for the account
      watermarks:
        description: Watermark profiles that overlay an image on every video in the account
      webhooks:
        description: Webhook notifications for video lifecycle events (ready, error, etc.)
  tenants:
    description: Multi-tenant account management — manage tenant accounts, entitlements, and memberships
    groups:
      account-types:
        description: Account Types operations
      accounts:
        description: Accounts operations
      entitlements:
        description: Entitlements operations
      memberships:
        description: Memberships operations
  turnstile:
    description: CAPTCHA-free bot verification widgets that protect forms and APIs without degrading user experience
    groups:
      widgets:
        description: Turnstile widget configurations — site keys, secret rotation, and challenge mode settings
  url-scanner:
    description: Scan URLs for phishing, malware, and other threats — submit scans and retrieve detailed results
    groups:
      response:
        description: Response operations
      responses:
        description: Raw HTTP response data captured during URL scans
      scan:
        description: Scan operations
      scans:
        description: URL scan requests and results — submit URLs for analysis and retrieve threat verdicts
  user:
    description: Your Cloudflare user profile, invitations, organizations, billing, and personal API tokens
    groups:
      billing:
        description: View billing history and payment profile for your user (deprecated — prefer account-level billing)
      firewall:
        description: Firewall operations
      load-balancers.monitors:
        description: Load Balancers operations
      load-balancers.monitors.preview:
        description: Load Balancers operations
      load-balancers.monitors.references:
        description: Load Balancers operations
      load-balancers.pools:
        description: Load Balancers operations
      load-balancers.pools.edit.pools:
        description: Load Balancers operations
      load-balancers.pools.health:
        description: Load Balancers operations
      load-balancers.pools.preview:
        description: Load Balancers operations
      load-balancers.pools.references:
        description: Load Balancers operations
      load-balancers.preview:
        description: Load Balancers operations
      load-balancing-analytics.events:
        description: Load Balancing Analytics operations
      subscriptions:
        description: View and manage zone-level plan subscriptions owned by your user
      tenants:
        description: Tenants operations
      tokens:
        description: Create and manage personal API tokens scoped to your user for programmatic API access
  user.analytics:
    description: User-level traffic analytics — aggregated totals and timeseries across all zones
  vectorize:
    description: Globally distributed vector database for building semantic search, recommendations, and RAG applications on Workers
    groups:
      deprecated-indexes:
        description: Deprecated v1 Vectorize index operations
      metadata-index:
        description: Metadata indexes for filtered vector search
  waiting-rooms:
    description: Virtual queues that throttle traffic to your site during peak demand with customizable waiting pages
    groups:
      account-waiting-rooms:
        description: Account-scoped waiting room listing
      events:
        description: Scheduled events that temporarily override waiting room settings for sales, launches, etc.
      page:
        description: Custom HTML waiting page templates and preview rendering
      rules:
        description: Rules that bypass or modify waiting room behavior for specific request patterns
      settings:
        description: Zone-level waiting room defaults and cookie configuration
      statuses:
        description: Real-time queue status showing active users, queued users, and estimated wait times
  workflows:
    description: Durable, multi-step workflows that run on Workers with automatic retries and state persistence
    groups:
      instances:
        description: Workflow instance operations
      versions:
        description: Workflow version operations
  zaraz:
    description: Server-side tag manager — load third-party tools (analytics, pixels, etc.) from Cloudflare's edge without client-side JS
    groups:
      config:
        description: Full Zaraz configuration including tools, triggers, and variables for the zone
      default:
        description: Default Zaraz configuration template used as a starting point for new zones
      export:
        description: Export the current Zaraz configuration as a portable JSON document
      history:
        description: Configuration version history — browse and restore previous Zaraz configurations
      publish:
        description: Publish pending Zaraz configuration changes to make them live on the zone
      workflow:
        description: Workflow state for Zaraz configuration changes (draft vs. published)
  zero-trust:
    description: Cloudflare's SASE platform — secure access, device posture, DLP, tunnels, gateway policies, and network segmentation
    groups:
      dex:
        description: Digital Experience Monitoring — synthetic tests, fleet-wide device metrics, and network path diagnostics
      dlp.custom-prompt-topics:
        description: Data Loss Prevention - manage custom prompt topics for AI-based content detection
      dlp.data-classes:
        description: Data Loss Prevention - manage data classes used to classify sensitive information
      dlp.data-tag-categories:
        description: Data Loss Prevention - manage categories that organize data tags
      dlp.data-tag-category-templates:
        description: Data Loss Prevention - browse templates for creating data tag categories
      dlp.data-tags:
        description: Data Loss Prevention - manage tags used to classify and organize sensitive data
      dlp.datasets:
        description: Data Loss Prevention - manage datasets, versions, and uploads
      dlp.document-fingerprints:
        description: Data Loss Prevention - manage document fingerprints for detecting matching documents
      dlp.email.account-mapping:
        description: Data Loss Prevention - configure account mappings for outbound email scanning
      dlp.email.rules:
        description: Data Loss Prevention - manage outbound email scanning rules and their priorities
      dlp.entries:
        description: Data Loss Prevention - list and manage detection entries
      dlp.limits:
        description: Data Loss Prevention - view account limits and resource quotas
      dlp.patterns:
        description: Data Loss Prevention - validate regular expressions used for content detection
      dlp.profiles:
        description: Data Loss Prevention - list and retrieve profiles
      dlp.profiles.custom:
        description: Data Loss Prevention - manage custom profiles
      dlp.profiles.predefined:
        description: Data Loss Prevention - manage predefined profiles
      dlp.sensitivity-group-templates:
        description: Data Loss Prevention - browse templates for creating sensitivity groups
      dlp.sensitivity-groups:
        description: Data Loss Prevention - manage sensitivity groups and their level ordering
      dlp.sensitivity-levels:
[...]
