openapi: 3.0.3
info:
  title: Cloudflare / Accounts Zones API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Zones
paths:
  /zones/{identifier}/access/certificates/{uuid}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete an mTLS certificate
      description: Deletes an mTLS certificate.
      operationId: zone-level-access-mtls-authentication-delete-an-mtls-certificate
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Delete an mTLS certificate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_components-schemas-id_response'
        4XX:
          description: Delete an mTLS certificate response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Zones
      summary: Cloudflare Get an mTLS certificate
      description: Fetches a single mTLS certificate.
      operationId: zone-level-access-mtls-authentication-get-an-mtls-certificate
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get an mTLS certificate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_certificates_components-schemas-single_response'
        4XX:
          description: Get an mTLS certificate response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update an mTLS certificate
      description: Updates a configured mTLS certificate.
      operationId: zone-level-access-mtls-authentication-update-an-mtls-certificate
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - associated_hostnames
              properties:
                associated_hostnames:
                  $ref: '#/components/schemas/access_associated_hostnames'
                name:
                  $ref: '#/components/schemas/access_certificates_components-schemas-name'
      responses:
        '200':
          description: Update an mTLS certificate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_certificates_components-schemas-single_response'
        4XX:
          description: Update an mTLS certificate response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/certificates/settings:
    get:
      tags:
      - Zones
      summary: Cloudflare List all mTLS hostname settings
      description: List all mTLS hostname settings for this zone.
      operationId: zone-level-access-mtls-authentication-list-mtls-certificates-hostname-settings
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List mTLS hostname settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_response_collection_hostnames'
        4XX:
          description: List mTLS hostname settings response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update an mTLS certificate's hostname settings
      description: Updates an mTLS certificate's hostname settings.
      operationId: zone-level-access-mtls-authentication-update-an-mtls-certificate-settings
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - settings
              properties:
                settings:
                  type: array
                  items:
                    $ref: '#/components/schemas/access_settings'
      responses:
        '202':
          description: Update an mTLS certificates hostname settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_response_collection_hostnames'
        4XX:
          description: Update an mTLS certificates hostname settings failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{zone_id}/origin_tls_client_auth/hostnames/certificates/{certificate_id}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete Hostname Client Certificate
      operationId: per-hostname-authenticated-origin-pull-delete-hostname-client-certificate
      parameters:
      - name: certificate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/tls-certificates-and-hostnames_identifier'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/tls-certificates-and-hostnames_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Delete Hostname Client Certificate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tls-certificates-and-hostnames_components-schemas-certificate_response_single'
        4XX:
          description: Delete Hostname Client Certificate response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/tls-certificates-and-hostnames_components-schemas-certificate_response_single'
                - $ref: '#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Zones
      summary: Cloudflare Get the Hostname Client Certificate
      description: Get the certificate by ID to be used for client authentication on a hostname.
      operationId: per-hostname-authenticated-origin-pull-get-the-hostname-client-certificate
      parameters:
      - name: certificate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/tls-certificates-and-hostnames_identifier'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/tls-certificates-and-hostnames_identifier'
      responses:
        '200':
          description: Get the Hostname Client Certificate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tls-certificates-and-hostnames_components-schemas-certificate_response_single'
        4XX:
          description: Get the Hostname Client Certificate response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/tls-certificates-and-hostnames_components-schemas-certificate_response_single'
                - $ref: '#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones:
    get:
      tags:
      - Zones
      summary: Cloudflare List Zones
      description: Lists, searches, sorts, and filters your zones.
      operationId: zones-get
      parameters:
      - name: name
        in: query
        schema:
          type: string
          description: "A domain name. Optional filter operators can be provided to extend refine the search:\n  * `equal` (default)\n  * `not_equal`\n  * `starts_with`\n  * `ends_with`\n  * `contains`\n  * `starts_with_case_sensitive`\n  * `ends_with_case_sensitive`\n  * `contains_case_sensitive`\n"
          maxLength: 253
        examples:
          Basic Query:
            summary: Simple Query
            value: example.com
          Contains Query:
            summary: Contains Query
            value: contains:.org
          Ends With Query:
            summary: Ends With Query
            value: ends_with:arpa
          Starts With Query:
            summary: Starts With Query
            value: starts_with:dev
      - name: status
        in: query
        schema:
          type: string
          description: A zone status
          enum:
          - initializing
          - pending
          - active
          - moved
      - name: account.id
        in: query
        schema:
          type: string
          description: An account ID
      - name: account.name
        in: query
        schema:
          type: string
          description: "An account Name. Optional filter operators can be provided to extend refine the search:\n  * `equal` (default)\n  * `not_equal`\n  * `starts_with`\n  * `ends_with`\n  * `contains`\n  * `starts_with_case_sensitive`\n  * `ends_with_case_sensitive`\n  * `contains_case_sensitive`\n"
          maxLength: 253
        examples:
          Basic Query:
            summary: Simple Query
            value: Dev Account
          Contains Query:
            summary: Contains Query
            value: contains:Test
      - name: page
        in: query
        schema:
          type: number
          description: Page number of paginated results.
          default: 1
          minimum: 1
      - name: per_page
        in: query
        schema:
          type: number
          description: Number of zones per page.
          default: 20
          minimum: 5
          maximum: 50
      - name: order
        in: query
        schema:
          type: string
          description: Field to order zones by.
          enum:
          - name
          - status
          - account.id
          - account.name
          example: status
      - name: direction
        in: query
        schema:
          type: string
          description: Direction to order zones.
          enum:
          - asc
          - desc
          example: desc
      - name: match
        in: query
        schema:
          type: string
          description: Whether to match all search requirements or at least one (any).
          enum:
          - any
          - all
          default: all
      responses:
        '200':
          description: List Zones response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zones_api-response-common'
                - properties:
                    result_info:
                      $ref: '#/components/schemas/zones_result_info'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/zones_zone'
        4XX:
          description: List Zones response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Create Zone
      operationId: zones-post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - account
              properties:
                account:
                  type: object
                  properties:
                    id:
                      $ref: '#/components/schemas/zones_identifier'
                name:
                  $ref: '#/components/schemas/zones_name'
                type:
                  $ref: '#/components/schemas/zones_type'
      responses:
        '200':
          description: Create Zone response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zones_api-response-common'
                - type: object
                  properties:
                    result:
                      $ref: '#/components/schemas/zones_zone'
        4XX:
          description: Create Zone response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /zones/{identifier}/access/apps:
    get:
      tags:
      - Zones
      summary: Cloudflare List Access Applications
      description: List all Access Applications in a zone.
      operationId: zone-level-access-applications-list-access-applications
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List Access Applications response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_apps_components-schemas-response_collection-2'
        4XX:
          description: List Access Applications response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Add an Access application
      description: Adds a new application to Access.
      operationId: zone-level-access-applications-add-a-bookmark-application
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_schemas-apps'
      responses:
        '201':
          description: Add an Access application response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_apps_components-schemas-single_response-2'
                - properties:
                    result:
                      $ref: '#/components/schemas/access_schemas-apps'
        4XX:
          description: Add an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/apps/{app_id}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete an Access application
      description: Deletes an application from Access.
      operationId: zone-level-access-applications-delete-an-access-application
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Delete an Access application response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_id_response'
        4XX:
          description: Delete an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Zones
      summary: Cloudflare Get an Access application
      description: Fetches information about an Access application.
      operationId: zone-level-access-applications-get-an-access-application
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get an Access application response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_apps_components-schemas-single_response-2'
        4XX:
          description: Get an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update an Access application
      description: Updates an Access application.
      operationId: zone-level-access-applications-update-a-bookmark-application
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_schemas-apps'
      responses:
        '200':
          description: Update an Access application response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/access_apps_components-schemas-single_response-2'
                - properties:
                    result:
                      $ref: '#/components/schemas/access_schemas-apps'
        4XX:
          description: Update an Access application response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/apps/{app_id}/revoke_tokens:
    post:
      tags:
      - Zones
      summary: Cloudflare Revoke application tokens
      description: Revokes all tokens issued for an application.
      operationId: zone-level-access-applications-revoke-service-tokens
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Revoke application tokens response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_schemas-empty_response'
        4XX:
          description: Revoke application tokens response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/apps/{app_id}/user_policy_checks:
    get:
      tags:
      - Zones
      summary: Cloudflare Test Access policies
      description: Tests if a specific user has permission to access an application.
      operationId: zone-level-access-applications-test-access-policies
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_app_id'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Test Access policies response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_policy_check_response'
        4XX:
          description: Test Access policies response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/apps/{uuid}/ca:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete a short-lived certificate CA
      description: Deletes a short-lived certificate CA.
      operationId: zone-level-access-short-lived-certificate-c-as-delete-a-short-lived-certificate-ca
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Delete a short-lived certificate CA response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_schemas-id_response'
        4XX:
          description: Delete a short-lived certificate CA response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Zones
      summary: Cloudflare Get a short-lived certificate CA
      description: Fetches a short-lived certificate CA and its public key.
      operationId: zone-level-access-short-lived-certificate-c-as-get-a-short-lived-certificate-ca
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get a short-lived certificate CA response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_ca_components-schemas-single_response'
        4XX:
          description: Get a short-lived certificate CA response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Create a short-lived certificate CA
      description: Generates a new short-lived certificate CA and public key.
      operationId: zone-level-access-short-lived-certificate-c-as-create-a-short-lived-certificate-ca
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Create a short-lived certificate CA response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_ca_components-schemas-single_response'
        4XX:
          description: Create a short-lived certificate CA response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/apps/{uuid}/policies:
    get:
      tags:
      - Zones
      summary: Cloudflare List Access policies
      description: Lists Access policies configured for an application.
      operationId: zone-level-access-policies-list-access-policies
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List Access policies response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_policies_components-schemas-response_collection-2'
        4XX:
          description: List Access policies response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Create an Access policy
      description: Create a new Access policy for an application.
      operationId: zone-level-access-policies-create-an-access-policy
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - name
              - decision
              - include
              properties:
                approval_groups:
                  $ref: '#/components/schemas/access_approval_groups'
                approval_required:
                  $ref: '#/components/schemas/access_approval_required'
                decision:
                  $ref: '#/components/schemas/access_decision'
                exclude:
                  $ref: '#/components/schemas/access_schemas-exclude'
                include:
                  $ref: '#/components/schemas/access_include'
                isolation_required:
                  $ref: '#/components/schemas/access_schemas-isolation_required'
                name:
                  $ref: '#/components/schemas/access_policies_components-schemas-name'
                precedence:
                  $ref: '#/components/schemas/access_precedence'
                purpose_justification_prompt:
                  $ref: '#/components/schemas/access_purpose_justification_prompt'
                purpose_justification_required:
                  $ref: '#/components/schemas/access_purpose_justification_required'
                require:
                  $ref: '#/components/schemas/access_schemas-require'
      responses:
        '201':
          description: Create an Access policy response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_policies_components-schemas-single_response-2'
        4XX:
          description: Create an Access policy response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/apps/{uuid1}/policies/{uuid}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete an Access policy
      description: Delete an Access policy.
      operationId: zone-level-access-policies-delete-an-access-policy
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: uuid1
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Delete an Access policy response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_id_response'
        4XX:
          description: Delete an Access policy response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Zones
      summary: Cloudflare Get an Access policy
      description: Fetches a single Access policy.
      operationId: zone-level-access-policies-get-an-access-policy
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: uuid1
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get an Access policy response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_policies_components-schemas-single_response-2'
        4XX:
          description: Get an Access policy response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update an Access policy
      description: Update a configured Access policy.
      operationId: zone-level-access-policies-update-an-access-policy
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: uuid1
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - name
              - decision
              - include
              properties:
                approval_groups:
                  $ref: '#/components/schemas/access_approval_groups'
                approval_required:
                  $ref: '#/components/schemas/access_approval_required'
                decision:
                  $ref: '#/components/schemas/access_decision'
                exclude:
                  $ref: '#/components/schemas/access_schemas-exclude'
                include:
                  $ref: '#/components/schemas/access_include'
                isolation_required:
                  $ref: '#/components/schemas/access_schemas-isolation_required'
                name:
                  $ref: '#/components/schemas/access_policies_components-schemas-name'
                precedence:
                  $ref: '#/components/schemas/access_precedence'
                purpose_justification_prompt:
                  $ref: '#/components/schemas/access_purpose_justification_prompt'
                purpose_justification_required:
                  $ref: '#/components/schemas/access_purpose_justification_required'
                require:
                  $ref: '#/components/schemas/access_schemas-require'
      responses:
        '200':
          description: Update an Access policy response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_policies_components-schemas-single_response-2'
        4XX:
          description: Update an Access policy response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/apps/ca:
    get:
      tags:
      - Zones
      summary: Cloudflare List short-lived certificate CAs
      description: Lists short-lived certificate CAs and their public keys.
      operationId: zone-level-access-short-lived-certificate-c-as-list-short-lived-certificate-c-as
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List short-lived certificate CAs response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_ca_components-schemas-response_collection'
        4XX:
          description: List short-lived certificate CAs response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/certificates:
    get:
      tags:
      - Zones
      summary: Cloudflare List mTLS certificates
      description: Lists all mTLS certificates.
      operationId: zone-level-access-mtls-authentication-list-mtls-certificates
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List mTLS certificates response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_certificates_components-schemas-response_collection'
        4XX:
          description: List mTLS certificates response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Add an mTLS certificate
      description: Adds a new mTLS root certificate to Access.
      operationId: zone-level-access-mtls-authentication-add-an-mtls-certificate
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - name
              - certificate
              properties:
                associated_hostnames:
                  $ref: '#/components/schemas/access_associated_hostnames'
                certificate:
                  type: string
                  description: The certificate content.
                  example: '--BEGIN CERTIFICATE--

                    MIIGAjCCA+qgAwIBAgIJAI7kymlF7CWT...N4RI7KKB7nikiuUf8vhULKy5IX10

                    DrUtmu/B

                    --END CERTIFICATE--'
                name:
                  $ref: '#/components/schemas/access_certificates_components-schemas-name'
      responses:
        '201':
          description: Add an mTLS certificate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_certificates_components-schemas-single_response'
        4XX:
          description: Add an mTLS certificate response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/groups:
    get:
      tags:
      - Zones
      summary: Cloudflare List Access groups
      description: Lists all Access groups.
      operationId: zone-level-access-groups-list-access-groups
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List Access groups response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_groups_components-schemas-response_collection'
        4XX:
          description: List Access groups response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Create an Access group
      description: Creates a new Access group.
      operationId: zone-level-access-groups-create-an-access-group
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - name
              - include
              properties:
                exclude:
                  $ref: '#/components/schemas/access_exclude'
                include:
                  $ref: '#/components/schemas/access_include'
                name:
                  $ref: '#/components/schemas/access_components-schemas-name'
                require:
                  $ref: '#/components/schemas/access_require'
      responses:
        '201':
          description: Create an Access group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_groups_components-schemas-single_response'
        4XX:
          description: Create an Access group response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/groups/{uuid}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete an Access group
      description: Deletes an Access group.
      operationId: zone-level-access-groups-delete-an-access-group
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Delete an Access group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_id_response'
        4XX:
          description: Delete an Access group response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Zones
      summary: Cloudflare Get an Access group
      description: Fetches a single Access group.
      operationId: zone-level-access-groups-get-an-access-group
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get an Access group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_groups_components-schemas-single_response'
        4XX:
          description: Get an Access group response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update an Access group
      description: Updates a configured Access group.
      operationId: zone-level-access-groups-update-an-access-group
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - name
              - include
              properties:
                exclude:
                  $ref: '#/components/schemas/access_exclude'
                include:
                  $ref: '#/components/schemas/access_include'
                name:
                  $ref: '#/components/schemas/access_components-schemas-name'
                require:
                  $ref: '#/components/schemas/access_require'
      responses:
        '200':
          description: Update an Access group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_groups_components-schemas-single_response'
        4XX:
          description: Update an Access group response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/identity_providers:
    get:
      tags:
      - Zones
      summary: Cloudflare List Access identity providers
      description: Lists all configured identity providers.
      operationId: zone-level-access-identity-providers-list-access-identity-providers
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List Access identity providers response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_identity-providers_components-schemas-response_collection'
        4XX:
          description: List Access identity providers response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Add an Access identity provider
      description: Adds a new identity provider to Access.
      operationId: zone-level-access-identity-providers-add-an-access-identity-provider
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_schemas-identity-providers'
      responses:
        '201':
          description: Add an Access identity provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_identity-providers_components-schemas-single_response'
        4XX:
          description: Add an Access identity provider response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/identity_providers/{uuid}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete an Access identity provider
      description: Deletes an identity provider from Access.
      operationId: zone-level-access-identity-providers-delete-an-access-identity-provider
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '202':
          description: Delete an Access identity provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_id_response'
        4XX:
          description: Delete an Access identity provider response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Zones
      summary: Cloudflare Get an Access identity provider
      description: Fetches a configured identity provider.
      operationId: zone-level-access-identity-providers-get-an-access-identity-provider
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Get an Access identity provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_identity-providers_components-schemas-single_response'
        4XX:
          description: Get an Access identity provider response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update an Access identity provider
      description: Updates a configured identity provider.
      operationId: zone-level-access-identity-providers-update-an-access-identity-provider
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/access_schemas-identity-providers'
      responses:
        '200':
          description: Update an Access identity provider response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_identity-providers_components-schemas-single_response'
        4XX:
          description: Update an Access identity provider response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/organizations:
    get:
      tags:
      - Zones
      summary: Cloudflare Get your Zero Trust organization
      description: Returns the configuration for your Zero Trust organization.
      operationId: zone-level-zero-trust-organization-get-your-zero-trust-organization
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_schemas-identifier'
      responses:
        '200':
          description: Get your Zero Trust organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_organizations_components-schemas-single_response'
        4XX:
          description: Get your Zero Trust organization response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Create your Zero Trust organization
      description: Sets up a Zero Trust organization for your account.
      operationId: zone-level-zero-trust-organization-create-your-zero-trust-organization
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - name
              - auth_domain
              properties:
                auth_domain:
                  $ref: '#/components/schemas/access_auth_domain'
                is_ui_read_only:
                  $ref: '#/components/schemas/access_is_ui_read_only'
                login_design:
                  $ref: '#/components/schemas/access_login_design'
                name:
                  $ref: '#/components/schemas/access_name'
                ui_read_only_toggle_reason:
                  $ref: '#/components/schemas/access_ui_read_only_toggle_reason'
                user_seat_expiration_inactive_time:
                  $ref: '#/components/schemas/access_user_seat_expiration_inactive_time'
      responses:
        '201':
          description: Create your Zero Trust organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_organizations_components-schemas-single_response'
        4XX:
          description: Create your Zero Trust organization response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update your Zero Trust organization
      description: Updates the configuration for your Zero Trust organization.
      operationId: zone-level-zero-trust-organization-update-your-zero-trust-organization
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                auth_domain:
                  $ref: '#/components/schemas/access_auth_domain'
                is_ui_read_only:
                  $ref: '#/components/schemas/access_is_ui_read_only'
                login_design:
                  $ref: '#/components/schemas/access_login_design'
                name:
                  $ref: '#/components/schemas/access_name'
                ui_read_only_toggle_reason:
                  $ref: '#/components/schemas/access_ui_read_only_toggle_reason'
                user_seat_expiration_inactive_time:
                  $ref: '#/components/schemas/access_user_seat_expiration_inactive_time'
      responses:
        '200':
          description: Update your Zero Trust organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_organizations_components-schemas-single_response'
        4XX:
          description: Update your Zero Trust organization response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/organizations/revoke_user:
    post:
      tags:
      - Zones
      summary: Cloudflare Revoke all Access tokens for a user
      description: Revokes a user's access across all applications.
      operationId: zone-level-zero-trust-organization-revoke-all-access-tokens-for-a-user
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - email
              properties:
                email:
                  type: string
                  description: The email of the user to revoke.
                  example: test@example.com
      responses:
        '200':
          description: Revoke all Access tokens for a user response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_empty_response'
        4xx:
          description: Revoke all Access tokens for a user response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/service_tokens:
    get:
      tags:
      - Zones
      summary: Cloudflare List service tokens
      description: Lists all service tokens.
      operationId: zone-level-access-service-tokens-list-service-tokens
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: List service tokens response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_components-schemas-response_collection'
        4XX:
          description: List service tokens response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Create a service token
      description: Generates a new service token. **Note:** This is the only time you can get the Client Secret. If you lose the Client Secret, you will have to create a new service token.
      operationId: zone-level-access-service-tokens-create-a-service-token
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - name
              properties:
                duration:
                  $ref: '#/components/schemas/access_duration'
                name:
                  $ref: '#/components/schemas/access_service-tokens_components-schemas-name'
      responses:
        '201':
          description: Create a service token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_create_response'
        4XX:
          description: Create a service token response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/access/service_tokens/{uuid}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete a service token
      description: Deletes a service token.
      operationId: zone-level-access-service-tokens-delete-a-service-token
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      responses:
        '200':
          description: Delete a service token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_service-tokens_components-schemas-single_response'
        4XX:
          description: Delete a service token response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update a service token
      description: Updates a configured service token.
      operationId: zone-level-access-service-tokens-update-a-service-token
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_uuid'
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/access_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                duration:
                  $ref: '#/components/schemas/access_duration'
                name:
                  $ref: '#/components/schemas/access_service-tokens_components-schemas-name'
      responses:
        '200':
          description: Update a service token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_service-tokens_components-schemas-single_response'
        4XX:
          description: Update a service token response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/dns_analytics/report:
    get:
      tags:
      - Zones
      summary: Cloudflare Table
      description: 'Retrieves a list of summarised aggregate metrics over a given time period.


        See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.'
      operationId: dns-analytics-table
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_identifier'
      - name: metrics
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_metrics'
      - name: dimensions
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_dimensions'
      - name: since
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_since'
      - name: until
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_until'
      - name: limit
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_limit'
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_sort'
      - name: filters
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_filters'
      responses:
        '200':
          description: Table response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/dns_dns_analytics_api_api-response-single'
                - type: object
                  properties:
                    result:
                      $ref: '#/components/schemas/dns_dns_analytics_api_report'
        4XX:
          description: Table response failure
          content:
            application/json:
              schema:
                allOf:
                - allOf:
                  - $ref: '#/components/schemas/dns_dns_analytics_api_api-response-single'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/dns_dns_analytics_api_report'
                - $ref: '#/components/schemas/dns_dns_analytics_api_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/dns_analytics/report/bytime:
    get:
      tags:
      - Zones
      summary: Cloudflare By Time
      description: 'Retrieves a list of aggregate metrics grouped by time interval.


        See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.'
      operationId: dns-analytics-by-time
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_identifier'
      - name: metrics
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_metrics'
      - name: dimensions
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_dimensions'
      - name: since
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_since'
      - name: until
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_until'
      - name: limit
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_limit'
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_sort'
      - name: filters
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_filters'
      - name: time_delta
        in: query
        schema:
          $ref: '#/components/schemas/dns_dns_analytics_api_time_delta'
      responses:
        '200':
          description: By Time response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/dns_dns_analytics_api_api-response-single'
                - type: object
                  properties:
                    result:
                      $ref: '#/components/schemas/dns_dns_analytics_api_report_bytime'
        4XX:
          description: By Time response failure
          content:
            application/json:
              schema:
                allOf:
                - allOf:
                  - $ref: '#/components/schemas/dns_dns_analytics_api_api-response-single'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/dns_dns_analytics_api_report_bytime'
                - $ref: '#/components/schemas/dns_dns_analytics_api_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{identifier}/subscription:
    get:
      tags:
      - Zones
      summary: Cloudflare Zone Subscription Details
      description: Lists zone subscription details.
      operationId: zone-subscription-zone-subscription-details
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/bill-subs-api_schemas-identifier'
      responses:
        '200':
          description: Zone Subscription Details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bill-subs-api_zone_subscription_response_single'
        4XX:
          description: Zone Subscription Details response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/bill-subs-api_zone_subscription_response_single'
                - $ref: '#/components/schemas/bill-subs-api_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
    post:
      tags:
      - Zones
      summary: Cloudflare Create Zone Subscription
      description: Create a zone subscription, either plan or add-ons.
      operationId: zone-subscription-create-zone-subscription
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/bill-subs-api_schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bill-subs-api_subscription-v2'
      responses:
        '200':
          description: Create Zone Subscription response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bill-subs-api_zone_subscription_response_single'
        4XX:
          description: Create Zone Subscription response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/bill-subs-api_zone_subscription_response_single'
                - $ref: '#/components/schemas/bill-subs-api_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update Zone Subscription
      description: Updates zone subscriptions, either plan or add-ons.
      operationId: zone-subscription-update-zone-subscription
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/bill-subs-api_schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bill-subs-api_subscription-v2'
      responses:
        '200':
          description: Update Zone Subscription response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bill-subs-api_zone_subscription_response_single'
        4XX:
          description: Update Zone Subscription response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/bill-subs-api_zone_subscription_response_single'
                - $ref: '#/components/schemas/bill-subs-api_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete Zone
      description: Deletes an existing zone.
      operationId: zones-0-delete
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_identifier'
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: Delete Zone response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-single-id'
        4XX:
          description: Delete Zone response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
    get:
      tags:
      - Zones
      summary: Cloudflare Zone Details
      operationId: zones-0-get
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_identifier'
      responses:
        '200':
          description: Zone Details response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zones_api-response-common'
                - type: object
                  properties:
                    result:
                      $ref: '#/components/schemas/zones_zone'
        4XX:
          description: Zone Details response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
    patch:
      tags:
      - Zones
      summary: Cloudflare Edit Zone
      description: Edits a zone. Only one zone property can be changed at a time.
      operationId: zones-0-patch
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/zones_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                paused: true
              properties:
                paused:
                  $ref: '#/components/schemas/zones_paused'
                plan:
                  type: object
                  description: '(Deprecated) Please use the `/zones/{zone_id}/subscription` API

                    to update a zone''s plan. Changing this value will create/cancel

                    associated subscriptions. To view available plans for this zone,

                    see Zone Plans.

                    '
                  properties:
                    id:
                      $ref: '#/components/schemas/zones_identifier'
                type:
                  type: string
                  description: 'A full zone implies that DNS is hosted with Cloudflare. A partial

                    zone is typically a partner-hosted zone or a CNAME setup. This

                    parameter is only available to Enterprise customers or if it has

                    been explicitly enabled on a zone.

                    '
                  enum:
                  - full
                  - partial
                  - secondary
                  example: full
                vanity_name_servers:
                  $ref: '#/components/schemas/zones_vanity_name_servers'
      responses:
        '200':
          description: Edit Zone response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zones_api-response-common'
                - type: object
                  properties:
                    result:
                      $ref: '#/components/schemas/zones_zone'
        4XX:
          description: Edit Zone response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zones_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /zones/{zone_id}/acm/total_tls:
    get:
      tags:
      - Zones
      summary: Cloudflare Total TLS Settings Details
      description: Get Total TLS Settings for a Zone.
      operationId: total-tls-total-tls-settings-details
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/tls-certificates-and-hostnames_identifier'
      responses:
        '200':
          description: Total TLS Settings Details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tls-certificates-and-hostnames_total_tls_settings_response'
        4XX:
          description: Total TLS Settings Details response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/tls-certificates-and-hostnames_total_tls_settings_response'
                - $ref: '#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Zones
      summary: Cloudflare Enable or Disable Total TLS
      description: Set Total TLS Settings or disable the feature for a Zone.
      operationId: total-tls-enable-or-disable-total-tls
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/tls-certificates-and-hostnames_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - enabled
              properties:
                certificate_authority:
                  $ref: '#/components/schemas/tls-certificates-and-hostnames_components-schemas-certificate_authority'
                enabled:
                  $ref: '#/components/schemas/tls-certificates-and-hostnames_components-schemas-enabled'
      responses:
        '200':
          description: Enable or Disable Total TLS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tls-certificates-and-hostnames_total_tls_settings_response'
        4XX:
          description: Enable or Disable Total TLS response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/tls-certificates-and-hostnames_total_tls_settings_response'
                - $ref: '#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /zones/{zone_id}/activation_check:
    put:
      tags:
      - Zones
      summary: Cloudflare Rerun the Activation Check
      description: 'Triggeres a new activation check for a PENDING Zone. This can be

        triggered every 5 min for paygo/ent customers, every hour for FREE

        Zones.'
      operationId: put-zones-zone_id-activation_check
      parameters:
      - name: zone_id
        in: path
        description: Zone ID
        required: true
        schema:
          $ref: '#/components/schemas/zone-activation_identifier'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zone-activation_api-response-single'
                - type: object
                  properties:
                    result:
                      type: object
                      properties:
                        id:
                          $ref: '#/components/schemas/zone-activation_identifier'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/zone-activation_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /zones/{zone_id}/analytics/latency:
    get:
      tags:
      - Zones
      summary: Cloudflare Argo Analytics for a zone
      operationId: argo-analytics-for-zone-argo-analytics-for-a-zone
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/argo-analytics_identifier'
      - name: bins
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Argo Analytics for a zone response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/argo-analytics_response_single'
        4XX:
          description: Argo Analytics for a zone response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/argo-analytics_response_single'
                - $ref: '#/components/schemas/argo-analytics_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /zones/{zone_id}/analytics/latency/colos:
    get:
      tags:
      - Zones
      summary: Cloudflare Argo Analytics for a zone at different PoPs
      operationId: argo-analytics-for-geolocation-argo-analytics-for-a-zone-at-different-po-ps
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/argo-analytics_identifier'
      responses:
        '200':
          description: Argo Analytics for a zone at different PoPs response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/argo-analytics_response_single'
        4XX:
          description: Argo Analytics for a zone at different PoPs response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/argo-analytics_response_single'
                - $ref: '#/components/schemas/argo-analytics_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /zones/{zone_id}/api_gateway/configuration:
    get:
      tags:
      - Zones
      summary: Cloudflare Retrieve information about specific configuration properties
      operationId: api-shield-settings-retrieve-information-about-specific-configuration-properties
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - name: properties
        in: query
        schema:
          $ref: '#/components/schemas/api-shield_properties'
      responses:
        '200':
          description: Retrieve information about specific configuration properties response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_single_response'
        4XX:
          description: Retrieve information about specific configuration properties response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_single_response'
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
    put:
      tags:
      - Zones
      summary: Cloudflare Set configuration properties
      operationId: api-shield-settings-set-configuration-properties
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-shield_configuration'
      responses:
        '200':
          description: Set configuration properties response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_default_response'
        4XX:
          description: Set configuration properties response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_default_response'
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/discovery:
    get:
      tags:
      - Zones
      summary: Cloudflare Retrieve discovered operations on a zone rendered as OpenAPI schemas
      description: Retrieve the most up to date view of discovered operations, rendered as OpenAPI schemas
      operationId: api-shield-api-discovery-retrieve-discovered-operations-on-a-zone-as-openapi
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      responses:
        '200':
          description: Retrieve discovered operations on a zone, rendered as OpenAPI schemas response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_schema_response_discovery'
        4XX:
          description: Retrieve discovered operations on a zone, rendered as OpenAPI schemas response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_schema_response_discovery'
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/discovery/operations:
    get:
      tags:
      - Zones
      summary: Cloudflare Retrieve discovered operations on a zone
      description: Retrieve the most up to date view of discovered operations
      operationId: api-shield-api-discovery-retrieve-discovered-operations-on-a-zone
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - $ref: '#/components/parameters/api-shield_page'
      - $ref: '#/components/parameters/api-shield_per_page'
      - $ref: '#/components/parameters/api-shield_host_parameter'
      - $ref: '#/components/parameters/api-shield_method_parameter'
      - $ref: '#/components/parameters/api-shield_endpoint_parameter'
      - $ref: '#/components/parameters/api-shield_direction_parameter'
      - $ref: '#/components/parameters/api-shield_order_parameter'
      - $ref: '#/components/parameters/api-shield_diff_parameter'
      - $ref: '#/components/parameters/api-shield_api_discovery_origin_parameter'
      - $ref: '#/components/parameters/api-shield_api_discovery_state_parameter'
      responses:
        '200':
          description: Retrieve discovered operations on a zone response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_api-response-collection'
                - properties:
                    result:
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/api-shield_discovery_operation'
        4XX:
          description: Retrieve discovered operations on a zone response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
    patch:
      tags:
      - Zones
      summary: Cloudflare Patch discovered operations
      description: Update the `state` on one or more discovered operations
      operationId: api-shield-api-patch-discovered-operations
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-shield_api_discovery_patch_multiple_request'
      responses:
        '200':
          description: Patch discovered operations response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_patch_discoveries_response'
        4XX:
          description: Patch discovered operations response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/discovery/operations/{operation_id}:
    patch:
      tags:
      - Zones
      summary: Cloudflare Patch discovered operation
      description: Update the `state` on a discovered operation
      operationId: api-shield-api-patch-discovered-operation
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - $ref: '#/components/parameters/api-shield_parameters-operation_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  allOf:
                  - $ref: '#/components/schemas/api-shield_api_discovery_state_patch'
      responses:
        '200':
          description: Patch discovered operation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_patch_discovery_response'
        4XX:
          description: Patch discovered operation response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/operations:
    get:
      tags:
      - Zones
      summary: Cloudflare Retrieve information about all operations on a zone
      operationId: api-shield-endpoint-management-retrieve-information-about-all-operations-on-a-zone
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - $ref: '#/components/parameters/api-shield_page'
      - name: per_page
        in: query
        description: Number of results to return per page
        schema:
          type: number
          default: 20
          minimum: 5
      - name: order
        in: query
        schema:
          type: string
          description: Field to order by. When requesting a feature, the feature keys are available for ordering as well, e.g., `thresholds.suggested_threshold`.
          enum:
          - method
          - host
          - endpoint
          - thresholds.$key
          example: method
      - $ref: '#/components/parameters/api-shield_direction_parameter'
      - $ref: '#/components/parameters/api-shield_host_parameter'
      - $ref: '#/components/parameters/api-shield_method_parameter'
      - $ref: '#/components/parameters/api-shield_endpoint_parameter'
      - $ref: '#/components/parameters/api-shield_operation_feature_parameter'
      responses:
        '200':
          description: Retrieve information about all operations on a zone response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_collection_response_paginated'
        4XX:
          description: Retrieve information about all operations on a zone response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
    post:
      tags:
      - Zones
      summary: Cloudflare Add operations to a zone
      description: Add one or more operations to a zone. Endpoints can contain path variables. Host, method, endpoint will be normalized to a canoncial form when creating an operation and must be unique on the zone. Inserting an operation that matches an existing one will return the record of the already existing operation and update its last_updated date.
      operationId: api-shield-endpoint-management-add-operations-to-a-zone
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/api-shield_basic_operation'
      responses:
        '200':
          description: Add operations to a zone response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_collection_response'
        4XX:
          description: Add operations to a zone response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_collection_response'
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/operations/{operation_id}:
    delete:
      tags:
      - Zones
      summary: Cloudflare Delete an operation
      operationId: api-shield-endpoint-management-delete-an-operation
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - $ref: '#/components/parameters/api-shield_operation_id'
      responses:
        '200':
          description: Delete an operation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_default_response'
        4XX:
          description: Delete an operation response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_default_response'
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
    get:
      tags:
      - Zones
      summary: Cloudflare Retrieve information about an operation
      operationId: api-shield-endpoint-management-retrieve-information-about-an-operation
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - $ref: '#/components/parameters/api-shield_operation_id'
      - $ref: '#/components/parameters/api-shield_operation_feature_parameter'
      responses:
        '200':
          description: Retrieve information about an operation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_schemas-single_response'
        4XX:
          description: Retrieve information about an operation response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_schemas-single_response'
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/operations/{operation_id}/schema_validation:
    get:
      tags:
      - Zones
      summary: Cloudflare Retrieve operation-level schema validation settings
      description: Retrieves operation-level schema validation settings on the zone
      operationId: api-shield-schema-validation-retrieve-operation-level-settings
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - $ref: '#/components/parameters/api-shield_operation_id'
      responses:
        '200':
          description: Operation-level schema validation settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_operation_schema_validation_settings'
        4XX:
          description: Operation-level schema validation settings response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
    put:
      tags:
      - Zones
      summary: Cloudflare Update operation-level schema validation settings
      description: Updates operation-level schema validation settings on the zone
      operationId: api-shield-schema-validation-update-operation-level-settings
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - $ref: '#/components/parameters/api-shield_operation_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-shield_operation_schema_validation_settings'
      responses:
        '200':
          description: Update operation-level schema validation settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_operation_schema_validation_settings'
        4XX:
          description: Update operation-level schema validation settings response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/operations/schema_validation:
    patch:
      tags:
      - Zones
      summary: Cloudflare Update multiple operation-level schema validation settings
      description: Updates multiple operation-level schema validation settings on the zone
      operationId: api-shield-schema-validation-update-multiple-operation-level-settings
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-shield_operation_schema_validation_settings_multiple_request'
      responses:
        '200':
          description: Update multiple operation-level schema validation settings response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/api-shield_operation_schema_validation_settings_multiple_request'
        4XX:
          description: Update multiple operation-level schema validation settings response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/schemas:
    get:
      tags:
      - Zones
      summary: Cloudflare Retrieve operations and features as OpenAPI schemas
      operationId: api-shield-endpoint-management-retrieve-operations-and-features-as-open-api-schemas
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      - name: host
        in: query
        schema:
          type: array
          description: Receive schema only for the given host(s).
          uniqueItems: true
          items:
            type: string
            example: www.example.com
      - $ref: '#/components/parameters/api-shield_operation_feature_parameter'
      responses:
        '200':
          description: Retrieve operations and features as OpenAPI schemas response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_schema_response_with_thresholds'
        4XX:
          description: Retrieve operations and features as OpenAPI schemas response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_schema_response_with_thresholds'
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
  /zones/{zone_id}/api_gateway/settings/schema_validation:
    get:
      tags:
      - Zones
      summary: Cloudflare Retrieve zone level schema validation settings
      description: Retrieves zone level schema validation settings currently set on the zone
      operationId: api-shield-schema-validation-retrieve-zone-level-settings
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      responses:
        '200':
          description: Zone level schema validation settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_zone_schema_validation_settings'
        4XX:
          description: Zone level schema validation settings response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/api-shield_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
    patch:
      tags:
      - Zones
      summary: Cloudflare Update zone level schema validation settings
      description: Updates zone level schema validation settings on the zone
      operationId: api-shield-schema-validation-patch-zone-level-settings
      parameters:
      - $ref: '#/components/parameters/api-shield_zone_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-shield_zone_schema_validation_settings_patch'
      responses:
        '200':
          description: Update zone level schema validation settings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-shield_zone_schema_validation_settings'
        4XX:
          description: Update zone level schema validation settings response failure
          content:
[...]
