openapi: 3.0.3
info:
  title: Cloudflare / Accounts Indexes API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Indexes
  description: Create, list, update, and delete vector indexes.
paths:
  /accounts/{account_id}/vectorize/v2/indexes:
    get:
      operationId: listVectorizeIndexes
      summary: Cloudflare List Vectorize Indexes
      description: Returns all Vectorize indexes for the account.
      tags:
      - Indexes
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of indexes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexListResponse'
              examples:
                Listvectorizeindexes200Example:
                  summary: Default listVectorizeIndexes 200 response
                  x-microcks-default: true
                  value:
                    result:
                    - name: Example Title
                      description: A sample description.
                      config: {}
                      created_on: '2026-01-15T10:30:00Z'
                      modified_on: '2026-01-15T10:30:00Z'
                    success: true
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createVectorizeIndex
      summary: Cloudflare Create Vectorize Index
      description: Create a new vector index with the specified dimensions and distance metric.
      tags:
      - Indexes
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexInput'
            examples:
              CreatevectorizeindexRequestExample:
                summary: Default createVectorizeIndex request
                x-microcks-default: true
                value:
                  name: Example Title
                  description: A sample description.
                  config:
                    dimensions: 10
                    metric: cosine
      responses:
        '200':
          description: Index created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexResponse'
              examples:
                Createvectorizeindex200Example:
                  summary: Default createVectorizeIndex 200 response
                  x-microcks-default: true
                  value:
                    result:
                      name: Example Title
                      description: A sample description.
                      config:
                        dimensions: 10
                        metric: cosine
                      created_on: '2026-01-15T10:30:00Z'
                      modified_on: '2026-01-15T10:30:00Z'
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}:
    get:
      operationId: getVectorizeIndex
      summary: Cloudflare Get Vectorize Index
      description: Retrieve details of a specific Vectorize index.
      tags:
      - Indexes
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/IndexName'
      responses:
        '200':
          description: Index details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexResponse'
              examples:
                Getvectorizeindex200Example:
                  summary: Default getVectorizeIndex 200 response
                  x-microcks-default: true
                  value:
                    result:
                      name: Example Title
                      description: A sample description.
                      config:
                        dimensions: 10
                        metric: cosine
                      created_on: '2026-01-15T10:30:00Z'
                      modified_on: '2026-01-15T10:30:00Z'
                    success: true
                    errors:
                    - {}
                    messages:
                    - {}
        '401':
          description: Unauthorized.
        '404':
          description: Index not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateVectorizeIndex
      summary: Cloudflare Update Vectorize Index
      description: Update the configuration of a Vectorize index.
      tags:
      - Indexes
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/IndexName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Updated description for the index.
            examples:
              UpdatevectorizeindexRequestExample:
                summary: Default updateVectorizeIndex request
                x-microcks-default: true
                value:
                  description: A sample description.
      responses:
        '200':
          description: Index updated successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteVectorizeIndex
      summary: Cloudflare Delete Vectorize Index
      description: Delete a Vectorize index and all its vectors.
      tags:
      - Indexes
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/IndexName'
      responses:
        '200':
          description: Index deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Index not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    IndexName:
      name: index_name
      in: path
      required: true
      description: The name of the Vectorize index.
      schema:
        type: string
  schemas:
    IndexInput:
      type: object
      required:
      - name
      - config
      properties:
        name:
          type: string
          description: The name of the index.
          example: Example Title
        description:
          type: string
          description: Description of the index.
          example: A sample description.
        config:
          type: object
          required:
          - dimensions
          - metric
          properties:
            dimensions:
              type: integer
              description: Number of dimensions.
            metric:
              type: string
              enum:
              - cosine
              - euclidean
              - dot-product
          example: example_value
    VectorizeIndex:
      type: object
      properties:
        name:
          type: string
          description: The name of the index.
          example: Example Title
        description:
          type: string
          description: Description of the index.
          example: A sample description.
        config:
          type: object
          properties:
            dimensions:
              type: integer
              description: Number of dimensions for each vector.
            metric:
              type: string
              enum:
              - cosine
              - euclidean
              - dot-product
              description: Distance metric used for similarity.
          example: example_value
        created_on:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        modified_on:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    IndexListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/VectorizeIndex'
          example: []
        success:
          type: boolean
          example: true
    IndexResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/VectorizeIndex'
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
