openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare DNS Records for a Zone API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: DNS Records for a Zone
paths:
  /zones/{zone_id}/dns_records:
    get:
      operationId: dns-records-for-a-zone-list-dns-records
      summary: List DNS Records
      description: List, search, sort, and filter a zones' DNS records.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - name: name
        in: query
        schema:
          description: 'Exact value of the DNS record name. This is a convenience alias for `name.exact`.

            '
          type: string
          example: www.example.com
      - name: name.exact
        in: query
        schema:
          description: 'Exact value of the DNS record name. Name filters are case-insensitive.

            '
          type: string
          example: www.example.com
      - name: name.contains
        in: query
        schema:
          description: 'Substring of the DNS record name. Name filters are case-insensitive.

            '
          type: string
          example: w.example.
      - name: name.startswith
        in: query
        schema:
          description: 'Prefix of the DNS record name. Name filters are case-insensitive.

            '
          type: string
          example: www.example
      - name: name.endswith
        in: query
        schema:
          description: 'Suffix of the DNS record name. Name filters are case-insensitive.

            '
          type: string
          example: .example.com
      - name: type
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_type'
      - name: content
        in: query
        schema:
          description: 'Exact value of the DNS record content. This is a convenience alias for `content.exact`.

            '
          type: string
          example: 127.0.0.1
      - name: content.exact
        in: query
        schema:
          description: 'Exact value of the DNS record content. Content filters are case-insensitive.

            '
          type: string
          example: 127.0.0.1
      - name: content.contains
        in: query
        schema:
          description: 'Substring of the DNS record content. Content filters are case-insensitive.

            '
          type: string
          example: 7.0.0.
      - name: content.startswith
        in: query
        schema:
          description: 'Prefix of the DNS record content. Content filters are case-insensitive.

            '
          type: string
          example: 127.0.
      - name: content.endswith
        in: query
        schema:
          description: 'Suffix of the DNS record content. Content filters are case-insensitive.

            '
          type: string
          example: .0.1
      - name: proxied
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_proxied'
      - name: match
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_match'
      - name: comment
        in: query
        schema:
          description: 'Exact value of the DNS record comment. This is a convenience alias for `comment.exact`.

            '
          type: string
          example: Hello, world
      - name: comment.present
        in: query
        schema:
          description: 'If this parameter is present, only records *with* a comment are returned.

            '
          type: string
      - name: comment.absent
        in: query
        schema:
          description: 'If this parameter is present, only records *without* a comment are returned.

            '
          type: string
      - name: comment.exact
        in: query
        schema:
          description: 'Exact value of the DNS record comment. Comment filters are case-insensitive.

            '
          type: string
          example: Hello, world
      - name: comment.contains
        in: query
        schema:
          description: 'Substring of the DNS record comment. Comment filters are case-insensitive.

            '
          type: string
          example: ello, worl
      - name: comment.startswith
        in: query
        schema:
          description: 'Prefix of the DNS record comment. Comment filters are case-insensitive.

            '
          type: string
          example: Hello, w
      - name: comment.endswith
        in: query
        schema:
          description: 'Suffix of the DNS record comment. Comment filters are case-insensitive.

            '
          type: string
          example: o, world
      - name: tag
        in: query
        schema:
          description: 'Condition on the DNS record tag.


            Parameter values can be of the form `<tag-name>:<tag-value>` to search for an exact `name:value` pair, or just `<tag-name>` to search for records with a specific tag name regardless of its value.


            This is a convenience shorthand for the more powerful `tag.<predicate>` parameters.

            Examples:

            - `tag=important` is equivalent to `tag.present=important`

            - `tag=team:DNS` is equivalent to `tag.exact=team:DNS`

            '
          type: string
          example: team:DNS
      - name: tag.present
        in: query
        schema:
          description: 'Name of a tag which must be present on the DNS record. Tag filters are case-insensitive.

            '
          type: string
          example: important
      - name: tag.absent
        in: query
        schema:
          description: 'Name of a tag which must *not* be present on the DNS record. Tag filters are case-insensitive.

            '
          type: string
          example: important
      - name: tag.exact
        in: query
        schema:
          description: 'A tag and value, of the form `<tag-name>:<tag-value>`. The API will only return DNS records that have a tag named `<tag-name>` whose value is `<tag-value>`. Tag filters are case-insensitive.

            '
          type: string
          example: greeting:Hello, world
      - name: tag.contains
        in: query
        schema:
          description: 'A tag and value, of the form `<tag-name>:<tag-value>`. The API will only return DNS records that have a tag named `<tag-name>` whose value contains `<tag-value>`. Tag filters are case-insensitive.

            '
          type: string
          example: greeting:ello, worl
      - name: tag.startswith
        in: query
        schema:
          description: 'A tag and value, of the form `<tag-name>:<tag-value>`. The API will only return DNS records that have a tag named `<tag-name>` whose value starts with `<tag-value>`. Tag filters are case-insensitive.

            '
          type: string
          example: greeting:Hello, w
      - name: tag.endswith
        in: query
        schema:
          description: 'A tag and value, of the form `<tag-name>:<tag-value>`. The API will only return DNS records that have a tag named `<tag-name>` whose value ends with `<tag-value>`. Tag filters are case-insensitive.

            '
          type: string
          example: greeting:o, world
      - name: search
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_search'
      - name: tag_match
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_tag_match'
      - name: page
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_page'
      - name: per_page
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_per_page'
      - name: order
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_order'
      - name: direction
        in: query
        schema:
          $ref: '#/components/schemas/dns-records_direction'
      - $ref: '#/components/parameters/dns-records_include_shadow_metadata'
      - name: shadowed_by_name
        in: query
        schema:
          description: 'Filters the response to records at or below the specified NS delegation name. NS, DS, and NSEC records at the delegation name are excluded because they are not shadowed by that delegation. Those record types are included only when they exist below the delegation. The value must be a non-apex subdomain of the zone. Requires `include_shadow_metadata=true`. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records).

            '
          type: string
          example: sub.example.com
      - name: shadowing_name
        in: query
        schema:
          description: 'Returns NS records that shadow the given name, searching at the name itself and each of its ancestor names within the zone, excluding the zone apex. The value must be a subdomain of the zone; the zone apex is not accepted. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records).

            '
          type: string
          example: www.sub.example.com
      responses:
        '200':
          description: List DNS Records response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_collection'
        4XX:
          description: List DNS Records response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_collection'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Read
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: list
      x-forge-params:
        zone_id:
          description: Zone ID
    post:
      operationId: dns-records-for-a-zone-create-dns-record
      summary: Create DNS Record
      description: 'Create a new DNS record for a zone.


        Notes:

        - A/AAAA records cannot exist on the same name as CNAME records.

        - NS records cannot exist on the same name as any other record type.

        - Domain names are always represented in Punycode, even if Unicode

        characters were used when creating the record.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - $ref: '#/components/parameters/dns-records_include_shadow_metadata'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dns-records_dns-record-post'
      responses:
        '200':
          description: Create DNS Record response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_single'
        4XX:
          description: Create DNS Record response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_single'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: create
  /zones/{zone_id}/dns_records/batch:
    post:
      operationId: dns-records-for-a-zone-batch-dns-records
      summary: Batch DNS Records
      description: 'Send a Batch of DNS Record API calls to be executed together.


        Notes:

        - Although Cloudflare will execute the batched operations in a single database transaction, Cloudflare''s distributed KV store must treat each record change as a single key-value pair. This means that the propagation of changes is not atomic. See the documentation for more information.

        - The operations you specify within the /batch request body are always executed in the following order:


        - Deletes

        - Patches

        - Puts

        - Posts'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - $ref: '#/components/parameters/dns-records_include_shadow_metadata'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dns-records_dns-request-batch-object'
      responses:
        '200':
          description: Batch DNS Records response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_batch'
        4XX:
          description: Batch DNS Records response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:batch'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: batch
  /zones/{zone_id}/dns_records/export:
    get:
      operationId: dns-records-for-a-zone-export-dns-records
      summary: Export DNS Records
      description: 'You can export your BIND config through this endpoint.


        See the documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      responses:
        '200':
          description: Export DNS Records response
          content:
            text/plain:
              schema:
                description: Exported BIND zone file.
                type: string
                example: 'www.example.com. 300 IN  A 127.0.0.1

                  '
        4XX:
          description: Export DNS Records response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Read
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: export
  /zones/{zone_id}/dns_records/import:
    post:
      operationId: dns-records-for-a-zone-import-dns-records
      summary: Import DNS Records
      description: 'You can upload your BIND config through this endpoint. It assumes that cURL is called from a location with bind_config.txt (valid BIND config) present.


        See the documentation for more information.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: 'BIND config to import.


                    **Tip:** When using cURL, a file can be uploaded using `--form ''file=@bind_config.txt''`.

                    '
                  type: string
                  example: www.example.com. 300 IN  A 127.0.0.1
                proxied:
                  description: 'Whether or not proxiable records should receive the performance and security benefits of Cloudflare.


                    The value should be either `true` or `false`.'
                  type: string
                  example: 'true'
                  default: 'false'
              required:
              - file
      responses:
        '200':
          description: Import DNS Records response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_import_scan'
        4XX:
          description: Import DNS Records response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_import_scan'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: import
  /zones/{zone_id}/dns_records/scan:
    post:
      operationId: dns-records-for-a-zone-scan-dns-records
      summary: Scan DNS Records
      description: Scan for common DNS records on your domain and automatically add them to your zone. Useful if you haven't updated your nameservers yet.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      responses:
        '200':
          description: Scan DNS Records response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_import_scan'
        4XX:
          description: Scan DNS Records response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_import_scan'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: scan
      x-stainless-deprecation-message: 'This endpoint is deprecated in favor of a new asynchronous version. Please use the [/scan/trigger](https://developers.cloudflare.com/api/resources/dns/subresources/records/methods/scan/trigger) and [/scan/review](https://developers.cloudflare.com/api/resources/dns/subresources/records/methods/scan/review) endpoints instead.

        '
  /zones/{zone_id}/dns_records/scan/review:
    get:
      operationId: dns-records-for-a-zone-review-dns-scan
      summary: List Scanned DNS Records
      description: Retrieves the list of DNS records discovered up to this point by the asynchronous scan. These records are temporary until explicitly accepted or rejected via `POST /scan/review`. Additional records may be discovered by the scan later.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      responses:
        '200':
          description: List of discovered DNS records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_collection'
        4XX:
          description: Scan review failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Read
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: scan-list
    post:
      operationId: dns-records-for-a-zone-apply-dns-scan-results
      summary: Review Scanned DNS Records
      description: Accept or reject DNS records found by the DNS records scan. Accepted records will be permanently added to the zone, while rejected records will be permanently deleted.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dns-records_dns-request-review-scan-object'
      responses:
        '200':
          description: Records reviewed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_review_scan'
        4XX:
          description: Review failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: scan-review
  /zones/{zone_id}/dns_records/scan/trigger:
    post:
      operationId: dns-records-for-a-zone-trigger-dns-scan
      summary: Trigger DNS Record Scan
      description: Initiates an asynchronous scan for common DNS records on your domain. Note that this **does not** automatically add records to your zone. The scan runs in the background, and results can be reviewed later using the `/scan/review` endpoints. Useful if you haven't updated your nameservers yet.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      responses:
        '200':
          description: Trigger DNS Records Scan Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_trigger_scan'
        4XX:
          description: Trigger DNS Records Scan response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_trigger_scan'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: scan-trigger
  /zones/{zone_id}/dns_records/usage:
    get:
      operationId: dns-records-for-a-zone-get-usage
      summary: Get DNS Record Usage
      description: Get the current DNS record usage for a zone, including the number of records and the quota limit.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      responses:
        '200':
          description: Get DNS Record Usage response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_zone_usage'
        4XX:
          description: Get DNS Record Usage response failure.
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_zone_usage'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - Zone DNS Settings Write
      - Zone DNS Settings Read
      - DNS Read
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.usage.zone
      x-fern-sdk-method-name: get
  /zones/{zone_id}/dns_records/{dns_record_id}:
    delete:
      operationId: dns-records-for-a-zone-delete-dns-record
      summary: Delete DNS Record
      description: Permanently removes a DNS record from the zone.
      parameters:
      - name: dns_record_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      responses:
        '200':
          description: Delete DNS Record response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/dns-records_identifier'
        4XX:
          description: Delete DNS Record response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - properties:
                    result:
                      type: object
                      properties:
                        id:
                          $ref: '#/components/schemas/dns-records_identifier'
                  type: object
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: delete
    get:
      operationId: dns-records-for-a-zone-dns-record-details
      summary: DNS Record Details
      description: Retrieves details for a specific DNS record in the zone.
      parameters:
      - name: dns_record_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - $ref: '#/components/parameters/dns-records_include_shadow_metadata'
      responses:
        '200':
          description: DNS Record Details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_single'
        4XX:
          description: DNS Record Details response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_single'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Read
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:read'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: get
    patch:
      operationId: dns-records-for-a-zone-patch-dns-record
      summary: Update DNS Record
      description: 'Update an existing DNS record.


        Notes:

        - A/AAAA records cannot exist on the same name as CNAME records.

        - NS records cannot exist on the same name as any other record type.

        - Domain names are always represented in Punycode, even if Unicode

        characters were used when creating the record.'
      parameters:
      - name: dns_record_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - $ref: '#/components/parameters/dns-records_include_shadow_metadata'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dns-records_dns-record-patch'
      responses:
        '200':
          description: Patch DNS Record response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_single'
        4XX:
          description: Patch DNS Record response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_single'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: edit
    put:
      operationId: dns-records-for-a-zone-update-dns-record
      summary: Overwrite DNS Record
      description: 'Overwrite an existing DNS record.


        Notes:

        - A/AAAA records cannot exist on the same name as CNAME records.

        - NS records cannot exist on the same name as any other record type.

        - Domain names are always represented in Punycode, even if Unicode

        characters were used when creating the record.'
      parameters:
      - name: dns_record_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/dns-records_identifier'
      - $ref: '#/components/parameters/dns-records_include_shadow_metadata'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dns-records_dns-record-post'
      responses:
        '200':
          description: Update DNS Record response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-records_dns_response_single'
        4XX:
          description: Update DNS Record response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/dns-records_dns_response_single'
                - $ref: '#/components/schemas/dns-records_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - DNS Records for a Zone
      x-api-token-group:
      - DNS Write
      x-cfPermissionsRequired:
        enum:
        - '#dns_records:edit'
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: dns.records
      x-fern-sdk-method-name: update
components:
  schemas:
    dns-records_page:
      description: Page number of paginated results.
      type: number
      default: 1
      minimum: 1
    dns-records_NSRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: A valid name server host name.
            example: ns1.example.com
            type: string
            x-auditable: true
          type:
            description: Record type.
            type: string
            example: NS
            enum:
            - NS
            x-auditable: true
        type: object
      title: NS Record
    dns-records_type:
      description: Record type.
      type: string
      example: A
      enum:
      - A
      - AAAA
      - CAA
      - CERT
      - CNAME
      - DNSKEY
      - DS
      - HTTPS
      - LOC
      - MX
      - NAPTR
      - NS
      - OPENPGPKEY
      - PTR
      - SMIMEA
      - SRV
      - SSHFP
      - SVCB
      - TLSA
      - TXT
      - URI
      x-auditable: true
    dns-records_SVCBRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted SVCB content. See 'data' to set SVCB properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a SVCB record.
            type: object
            properties:
              priority:
                description: Priority.
                type: number
                example: 1
                maximum: 65535
                minimum: 0
                x-auditable: true
              target:
                description: Target.
                type: string
                example: .
                x-auditable: true
              value:
                description: Value.
                type: string
                example: alpn="h3,h2" ipv4hint="127.0.0.1" ipv6hint="::1"
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: SVCB
            enum:
            - SVCB
            x-auditable: true
        type: object
      title: SVCB Record
    dns-records_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-common'
    dns-records_priority:
      description: Required for MX and URI records; ignored for other record types (but may still be returned by the API). Records with lower priorities are preferred. This field is to be deprecated in favor of the priority field within the data map.
      type: number
      example: 10
      maximum: 65535
      minimum: 0
      x-auditable: true
    dns-records_ttl:
      description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.
      type: number
      example: 3600
      default: 1
      anyOf:
      - example: 3600
        maximum: 86400
        minimum: 30
        type: number
      - enum:
        - 1
        type: number
      x-auditable: true
    dns-records_order:
      description: Field to order DNS records by.
      type: string
      default: type
      enum:
      - type
      - name
      - content
      - ttl
      - proxied
    dns-records_tag_match:
      description: 'Whether to match all tag search requirements or at least one (any). If set to `all`, acts like a logical AND between tag filters. If set to `any`, acts like a logical OR instead. Note that the regular `match` parameter is still used to combine the resulting condition with other filters that aren''t related to tags.

        '
      type: string
      example: any
      default: all
      enum:
      - any
      - all
    dns-records_dns-response-review-scan-object:
      type: object
      properties:
        accepts:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-response'
        rejects:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_identifier'
    dns-records_proxied:
      description: Whether the record is receiving the performance and security benefits of Cloudflare.
      type: boolean
      example: true
      default: false
      x-auditable: true
    dns-records_URIRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted URI content. See 'data' to set URI properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a URI record.
            type: object
            properties:
              target:
                description: The record content.
                type: string
                example: http://example.com/example.html
                x-auditable: true
              weight:
                description: The record weight.
                type: number
                example: 20
                maximum: 65535
                minimum: 0
                x-auditable: true
          priority:
            $ref: '#/components/schemas/dns-records_priority'
          type:
            description: Record type.
            type: string
            example: URI
            enum:
            - URI
            x-auditable: true
        type: object
      title: URI Record
    dns-records_CAARecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted CAA content. See 'data' to set CAA properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a CAA record.
            type: object
            properties:
              flags:
                description: Flags for the CAA record.
                type: number
                example: 1
                maximum: 255
                minimum: 0
                x-auditable: true
              tag:
                description: 'Name of the property controlled by this record (e.g.: issue, issuewild, iodef).'
                type: string
                example: issue
                x-auditable: true
              value:
                description: Value of the record. This field's semantics depend on the chosen tag.
                type: string
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: CAA
            enum:
            - CAA
            x-auditable: true
        type: object
      title: CAA Record
    dns-records_name:
      description: Complete DNS record name, including the zone name, in Punycode.
      type: string
      example: example.com
      maxLength: 255
      minLength: 1
      x-auditable: true
    dns-records_comment:
      description: Comments or notes about the DNS record. This field has no effect on DNS responses.
      type: string
      example: Domain verification record
      x-auditable: true
    dns-records_dns-record-with-data:
      type: object
      oneOf:
      - $ref: '#/components/schemas/dns-records_CAARecord'
      - $ref: '#/components/schemas/dns-records_CERTRecord'
      - $ref: '#/components/schemas/dns-records_DNSKEYRecord'
      - $ref: '#/components/schemas/dns-records_DSRecord'
      - $ref: '#/components/schemas/dns-records_HTTPSRecord'
      - $ref: '#/components/schemas/dns-records_LOCRecord'
      - $ref: '#/components/schemas/dns-records_NAPTRRecord'
      - $ref: '#/components/schemas/dns-records_SMIMEARecord'
      - $ref: '#/components/schemas/dns-records_SRVRecord'
      - $ref: '#/components/schemas/dns-records_SSHFPRecord'
      - $ref: '#/components/schemas/dns-records_SVCBRecord'
      - $ref: '#/components/schemas/dns-records_TLSARecord'
      - $ref: '#/components/schemas/dns-records_URIRecord'
    dns-records_dns-response-batch-object:
      type: object
      properties:
        deletes:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-response'
        patches:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-response'
        posts:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-response'
        puts:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-response'
    dns-records_MXRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: A valid mail server hostname.
            example: mx.example.com
            format: hostname
            type: string
            x-auditable: true
          priority:
            $ref: '#/components/schemas/dns-records_priority'
          type:
            description: Record type.
            type: string
            example: MX
            enum:
            - MX
            x-auditable: true
        type: object
      title: MX Record
    dns-records_dns-record-without-data:
      type: object
      oneOf:
      - $ref: '#/components/schemas/dns-records_ARecord'
      - $ref: '#/components/schemas/dns-records_AAAARecord'
      - $ref: '#/components/schemas/dns-records_CNAMERecord'
      - $ref: '#/components/schemas/dns-records_MXRecord'
      - $ref: '#/components/schemas/dns-records_NSRecord'
      - $ref: '#/components/schemas/dns-records_OPENPGPKEYRecord'
      - $ref: '#/components/schemas/dns-records_PTRRecord'
      - $ref: '#/components/schemas/dns-records_TXTRecord'
    dns-records_SMIMEARecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted SMIMEA content. See 'data' to set SMIMEA properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a SMIMEA record.
            type: object
            properties:
              certificate:
                description: Certificate.
                type: string
                x-auditable: true
              matching_type:
                description: Matching Type.
                type: number
                example: 0
                maximum: 255
                minimum: 0
                x-auditable: true
              selector:
                description: Selector.
                type: number
                example: 0
                maximum: 255
                minimum: 0
                x-auditable: true
              usage:
                description: Usage.
                type: number
                example: 3
                maximum: 255
                minimum: 0
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: SMIMEA
            enum:
            - SMIMEA
            x-auditable: true
        type: object
      title: SMIMEA Record
    dns-records_TLSARecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted TLSA content. See 'data' to set TLSA properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a TLSA record.
            type: object
            properties:
              certificate:
                description: Certificate.
                type: string
                x-auditable: true
              matching_type:
                description: Matching Type.
                type: number
                example: 1
                maximum: 255
                minimum: 0
                x-auditable: true
              selector:
                description: Selector.
                type: number
                example: 0
                maximum: 255
                minimum: 0
                x-auditable: true
              usage:
                description: Usage.
                type: number
                example: 0
                maximum: 255
                minimum: 0
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: TLSA
            enum:
            - TLSA
            x-auditable: true
        type: object
      title: TLSA Record
    dns-records_CNAMERecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: A valid hostname. Must not match the record's name.
            type: string
            x-auditable: true
          settings:
            type: object
            properties:
              flatten_cname:
                description: If enabled, causes the CNAME record to be resolved externally and the resulting address records (e.g., A and AAAA) to be returned instead of the CNAME record itself. This setting is unavailable for proxied records, since they are always flattened.
                type: boolean
                example: true
                default: false
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: CNAME
            enum:
            - CNAME
            x-auditable: true
        type: object
      title: CNAME Record
    dns-records_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/dns-records_messages'
        messages:
          $ref: '#/components/schemas/dns-records_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    dns-records_ARecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: A valid IPv4 address.
            example: 198.51.100.4
            format: ipv4
            type: string
            x-auditable: true
          private_routing:
            description: Enables private network routing to the origin.
            type: boolean
            example: true
            default: false
            x-auditable: true
          type:
            description: Record type.
            type: string
            example: A
            enum:
            - A
            x-auditable: true
        type: object
      title: A Record
    dns-records_OPENPGPKEYRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880 Section 11.1)
            type: string
            x-auditable: true
          type:
            description: Record type.
            type: string
            example: OPENPGPKEY
            enum:
            - OPENPGPKEY
            x-auditable: true
        type: object
      title: OPENPGPKEY Record
    dns-records_dns-record-scan-batch-accept:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-patch'
    dns-records_dns-record-patch:
      type: object
      anyOf:
      - $ref: '#/components/schemas/dns-records_dns-record-without-data'
      - $ref: '#/components/schemas/dns-records_dns-record-with-data'
    dns-records_dns_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/dns-records_dns-record-response'
        type: object
    dns-records_SRVRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Priority, weight, port, and SRV target. See 'data' for setting the individual component values.
            example: 10 IN SRV 5 8806 example.com.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a SRV record.
            type: object
            properties:
              port:
                description: The port of the service.
                type: number
                example: 8806
                maximum: 65535
                minimum: 0
                x-auditable: true
              priority:
                $ref: '#/components/schemas/dns-records_priority'
              target:
                description: A valid hostname.
                type: string
                format: hostname
                example: example.com
                x-auditable: true
              weight:
                description: The record weight.
                type: number
                example: 5
                maximum: 65535
                minimum: 0
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: SRV
            enum:
            - SRV
            x-auditable: true
        type: object
      title: SRV Record
    dns-records_dns-record-batch-patch:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/dns-records_identifier'
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-patch'
      required:
      - id
    dns-records_dns_response_trigger_scan:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-single'
    dns-records_HTTPSRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted HTTPS content. See 'data' to set HTTPS properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a HTTPS record.
            type: object
            properties:
              priority:
                description: Priority.
                type: number
                example: 1
                maximum: 65535
                minimum: 0
                x-auditable: true
              target:
                description: Target.
                type: string
                example: .
                x-auditable: true
              value:
                description: Value.
                type: string
                example: alpn="h3,h2" ipv4hint="127.0.0.1" ipv6hint="::1"
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: HTTPS
            enum:
            - HTTPS
            x-auditable: true
        type: object
      title: HTTPS Record
    dns-records_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    dns-records_SSHFPRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted SSHFP content. See 'data' to set SSHFP properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a SSHFP record.
            type: object
            properties:
              algorithm:
                description: Algorithm.
                type: number
                example: 2
                maximum: 255
                minimum: 0
                x-auditable: true
              fingerprint:
                description: Fingerprint.
                type: string
                x-auditable: true
              type:
                description: Type.
                type: number
                example: 1
                maximum: 255
                minimum: 0
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: SSHFP
            enum:
            - SSHFP
            x-auditable: true
        type: object
      title: SSHFP Record
    dns-records_LOCRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted LOC content. See 'data' to set LOC properties.
            example: IN LOC 37 46 46 N 122 23 35 W 0m 100m 0m 0m
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a LOC record.
            type: object
            properties:
              altitude:
                description: Altitude of location in meters.
                type: number
                example: 0
                maximum: 42849672.95
                minimum: -100000
                x-auditable: true
              lat_degrees:
                description: Degrees of latitude.
                type: number
                example: 37
                maximum: 90
                minimum: 0
                x-auditable: true
              lat_direction:
                description: Latitude direction.
                type: string
                example: N
                enum:
                - N
                - S
                x-auditable: true
              lat_minutes:
                description: Minutes of latitude.
                type: number
                example: 46
                maximum: 59
                minimum: 0
                x-auditable: true
              lat_seconds:
                description: Seconds of latitude.
                type: number
                example: 46
                maximum: 59.999
                minimum: 0
                x-auditable: true
              long_degrees:
                description: Degrees of longitude.
                type: number
                example: 122
                maximum: 180
                minimum: 0
                x-auditable: true
              long_direction:
                description: Longitude direction.
                type: string
                example: W
                enum:
                - E
                - W
                x-auditable: true
              long_minutes:
                description: Minutes of longitude.
                type: number
                example: 23
                maximum: 59
                minimum: 0
                x-auditable: true
              long_seconds:
                description: Seconds of longitude.
                type: number
                example: 35
                maximum: 59.999
                minimum: 0
                x-auditable: true
              precision_horz:
                description: Horizontal precision of location.
                type: number
                example: 0
                maximum: 90000000
                minimum: 0
                x-auditable: true
              precision_vert:
                description: Vertical precision of location.
                type: number
                example: 0
                maximum: 90000000
                minimum: 0
                x-auditable: true
              size:
                description: Size of location in meters.
                type: number
                example: 100
                maximum: 90000000
                minimum: 0
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: LOC
            enum:
            - LOC
            x-auditable: true
        type: object
      title: LOC Record
    dns-records_per_page:
      description: Number of DNS records per page.
      type: number
      example: 5
      default: 100
      maximum: 5000000
      minimum: 1
    dns-records_match:
      description: 'Whether to match all search requirements or at least one (any). If set to `all`, acts like a logical AND between filters. If set to `any`, acts like a logical OR instead. Note that the interaction between tag filters is controlled by the `tag-match` parameter instead.

        '
      type: string
      example: any
      default: all
      enum:
      - any
      - all
    dns-records_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    dns-records_PTRRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Domain name pointing to the address.
            example: example.com
            type: string
            x-auditable: true
          type:
            description: Record type.
            type: string
            example: PTR
            enum:
            - PTR
            x-auditable: true
        type: object
      title: PTR Record
    dns-records_TXTRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: 'Text content for the record. The content must consist of quoted "character strings" (RFC 1035), each with a length of up to 255 bytes. Strings exceeding this allowed maximum length are automatically split.


              Learn more at <https://www.cloudflare.com/learning/dns/dns-records/dns-txt-record/>.'
            example: '"v=spf1 include:example.com -all"'
            type: string
            x-auditable: true
          type:
            description: Record type.
            type: string
            example: TXT
            enum:
            - TXT
            x-auditable: true
        type: object
      title: TXT Record
    dns-records_dns-record-scan-batch-reject:
      type: object
      allOf:
      - properties:
          id:
            $ref: '#/components/schemas/dns-records_identifier'
        type: object
      required:
      - id
    dns-records_dns-record-batch-post:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-post'
    dns-records_dns-record-post:
      type: object
      anyOf:
      - $ref: '#/components/schemas/dns-records_dns-record-without-data'
      - $ref: '#/components/schemas/dns-records_dns-record-with-data'
    dns-records_DNSKEYRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted DNSKEY content. See 'data' to set DNSKEY properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a DNSKEY record.
            type: object
            properties:
              algorithm:
                description: Algorithm.
                type: number
                example: 5
                maximum: 255
                minimum: 0
                x-auditable: true
              flags:
                description: Flags.
                type: number
                example: 1
                maximum: 65535
                minimum: 0
                x-auditable: true
              protocol:
                description: Protocol.
                type: number
                example: 3
                maximum: 255
                minimum: 0
                x-auditable: true
              public_key:
                description: Public Key.
                type: string
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: DNSKEY
            enum:
            - DNSKEY
            x-auditable: true
        type: object
      title: DNSKEY Record
    dns-records_dns-request-review-scan-object:
      type: object
      properties:
        accepts:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-scan-batch-accept'
        rejects:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-scan-batch-reject'
    dns-records_dns_response_single:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/dns-records_dns-record-response'
        type: object
    dns-records_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    dns-records_dns-record-batch-put:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/dns-records_identifier'
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-post'
      required:
      - id
    dns-records_dns-record-batch-delete:
      type: object
      allOf:
      - properties:
          id:
            $ref: '#/components/schemas/dns-records_identifier'
        type: object
      required:
      - id
    dns-records_NAPTRRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted NAPTR content. See 'data' to set NAPTR properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a NAPTR record.
            type: object
            properties:
              flags:
                description: Flags.
                type: string
                x-auditable: true
              order:
                description: Order.
                type: number
                example: 100
                maximum: 65535
                minimum: 0
                x-auditable: true
              preference:
                description: Preference.
                type: number
                example: 10
                maximum: 65535
                minimum: 0
                x-auditable: true
              regex:
                description: Regex.
                type: string
                x-auditable: true
              replacement:
                description: Replacement.
                type: string
                x-auditable: true
              service:
                description: Service.
                type: string
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: NAPTR
            enum:
            - NAPTR
            x-auditable: true
        type: object
      title: NAPTR Record
    dns-records_search:
      description: 'Allows searching in multiple properties of a DNS record simultaneously. This parameter is intended for human users, not automation. Its exact behavior is intentionally left unspecified and is subject to change in the future. This parameter works independently of the `match` setting. For automated searches, please use the other available parameters.

        '
      type: string
      example: www.cloudflare.com
    dns-records_dns-record-shared-fields:
      type: object
      properties:
        comment:
          $ref: '#/components/schemas/dns-records_comment'
        name:
          $ref: '#/components/schemas/dns-records_name'
        proxied:
          $ref: '#/components/schemas/dns-records_proxied'
        settings:
          $ref: '#/components/schemas/dns-records_settings'
        tags:
          $ref: '#/components/schemas/dns-records_tags'
        ttl:
          $ref: '#/components/schemas/dns-records_ttl'
    dns-records_dns-record-response:
      type: object
      allOf:
      - anyOf:
        - $ref: '#/components/schemas/dns-records_dns-record-without-data'
        - $ref: '#/components/schemas/dns-records_dns-record-with-data'
        type: object
      - properties:
          comment_modified_on:
            description: When the record comment was last modified. Omitted if there is no comment.
            type: string
            format: date-time
            example: '2024-01-01T05:20:00.12345Z'
            readOnly: true
            x-stainless-terraform-configurability: computed
          created_on:
            description: When the record was created.
            type: string
            format: date-time
            example: '2014-01-01T05:20:00.12345Z'
            readOnly: true
            x-stainless-terraform-configurability: computed
          id:
            $ref: '#/components/schemas/dns-records_identifier'
          meta:
            description: Extra Cloudflare-specific metadata about the record.
            type: object
            properties:
              dead_glue:
                description: 'Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records).

                  '
                type: boolean
                example: true
                readOnly: true
              is_glue:
                description: 'Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records).

                  '
                type: boolean
                example: true
                readOnly: true
              shadowed_by:
                description: 'IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records).

                  '
                type: array
                items:
                  example: 372e67954025e0ba6aaa6d586b9e0b59
                  type: string
                readOnly: true
              shadowed_records_count:
                description: 'Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records).

                  '
                type: integer
                example: 42
                maximum: 10000
                minimum: 0
                readOnly: true
            readOnly: true
            x-stainless-terraform-configurability: computed
          modified_on:
            description: When the record was last modified.
            type: string
            format: date-time
            example: '2014-01-01T05:20:00.12345Z'
            readOnly: true
            x-stainless-terraform-configurability: computed
          proxiable:
            description: Whether the record can be proxied by Cloudflare or not.
            type: boolean
            example: true
            readOnly: true
            x-stainless-terraform-configurability: computed
          tags_modified_on:
            description: When the record tags were last modified. Omitted if there are no tags.
            type: string
            format: date-time
            example: '2025-01-01T05:20:00.12345Z'
            readOnly: true
            x-stainless-terraform-configurability: computed
        required:
        - id
        - proxiable
        - created_on
        - modified_on
        - meta
        type: object
      required:
      - name
      - type
      - content
      - data
      - proxied
      - ttl
      - settings
      - comment
      - tags
    dns-records_AAAARecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: A valid IPv6 address.
            example: 2400:cb00:2049::1
            format: ipv6
            type: string
            x-auditable: true
          private_routing:
            description: Enables private network routing to the origin.
            type: boolean
            example: true
            default: false
            x-auditable: true
          type:
            description: Record type.
            type: string
            example: AAAA
            enum:
            - AAAA
            x-auditable: true
        type: object
      title: AAAA Record
    dns-records_dns_response_zone_usage:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-single'
      - properties:
          result:
            type: object
            properties:
              record_quota:
                description: Maximum number of DNS records allowed for the zone. Null if using account-level quota.
                type:
                - integer
                - 'null'
                example: 200
                minimum: 0
              record_usage:
                description: Current number of DNS records in the zone.
                type: integer
                example: 150
                minimum: 0
            required:
            - record_usage
            - record_quota
        type: object
    dns-records_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/dns-records_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/dns-records_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    dns-records_dns_response_batch:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/dns-records_dns-response-batch-object'
        type: object
    dns-records_tags:
      description: Custom tags for the DNS record. This field has no effect on DNS responses.
      type: array
      items:
        description: Individual tag of the form name:value (the name must consist of only letters, numbers, underscores and hyphens)
        example: owner:dns-team
        type: string
        x-auditable: true
      default: []
      x-stainless-collection-type: set
    dns-records_CERTRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted CERT content. See 'data' to set CERT properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a CERT record.
            type: object
            properties:
              algorithm:
                description: Algorithm.
                type: number
                example: 8
                maximum: 255
                minimum: 0
                x-auditable: true
              certificate:
                description: Certificate.
                type: string
                x-auditable: true
              key_tag:
                description: Key Tag.
                type: number
                example: 1
                maximum: 65535
                minimum: 0
                x-auditable: true
              type:
                description: Type.
                type: number
                example: 9
                maximum: 65535
                minimum: 0
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: CERT
            enum:
            - CERT
            x-auditable: true
        type: object
      title: CERT Record
    dns-records_direction:
      description: Direction to order DNS records in.
      type: string
      default: asc
      enum:
      - asc
      - desc
    dns-records_settings:
      description: Settings for the DNS record.
      type: object
      properties:
        ipv4_only:
          description: When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6.
          type: boolean
          example: true
          default: false
          x-auditable: true
        ipv6_only:
          description: When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6.
          type: boolean
          example: true
          default: false
          x-auditable: true
    dns-records_dns_response_review_scan:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/dns-records_dns-response-review-scan-object'
        type: object
    dns-records_dns-request-batch-object:
      type: object
      properties:
        deletes:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-batch-delete'
        patches:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-batch-patch'
        posts:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-batch-post'
        puts:
          type: array
          items:
            $ref: '#/components/schemas/dns-records_dns-record-batch-put'
    dns-records_DSRecord:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_dns-record-shared-fields'
      - properties:
          content:
            description: Formatted DS content. See 'data' to set DS properties.
            readOnly: true
            type: string
            x-auditable: true
          data:
            description: Components of a DS record.
            type: object
            properties:
              algorithm:
                description: Algorithm.
                type: number
                example: 3
                maximum: 255
                minimum: 0
                x-auditable: true
              digest:
                description: Digest.
                type: string
                x-auditable: true
              digest_type:
                description: Digest Type.
                type: number
                example: 1
                maximum: 255
                minimum: 0
                x-auditable: true
              key_tag:
                description: Key Tag.
                type: number
                example: 1
                maximum: 65535
                minimum: 0
                x-auditable: true
          type:
            description: Record type.
            type: string
            example: DS
            enum:
            - DS
            x-auditable: true
        type: object
      title: DS Record
    dns-records_dns_response_import_scan:
      type: object
      allOf:
      - $ref: '#/components/schemas/dns-records_api-response-single'
      - properties:
          result:
            type: object
            properties:
              recs_added:
                description: Number of DNS records added.
                type: number
                example: 5
              total_records_parsed:
                description: Total number of DNS records parsed.
                type: number
                example: 5
        type: object
  parameters:
    dns-records_include_shadow_metadata:
      in: query
      name: include_shadow_metadata
      schema:
        description: 'Whether to include shadow metadata in the `meta` field of each record in the response. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records).

          '
        type: boolean
        example: true
        default: false
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
[...]
