openapi: 3.2.0
info:
  title: Cloudflare Workers Versions API
  description: Cloudflare Workers allows developers to deploy serverless code to Cloudflare's global network. The Workers API provides endpoints for managing worker scripts, versions, deployments, routes, custom domains, secrets, cron triggers, and configuration including bindings.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Versions
  description: Manage immutable snapshots of Worker code and configuration.
paths:
  /accounts/{account_id}/workers/workers/{worker_id}/versions:
    get:
      operationId: listVersions
      summary: Cloudflare List Worker Versions
      description: Retrieve all immutable versions of a Worker's code and configuration.
      tags:
      - Versions
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WorkerId'
      responses:
        '200':
          description: List of Worker versions.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createVersion
      summary: Cloudflare Create Worker Version
      description: Create a new immutable snapshot of Worker code and configuration.
      tags:
      - Versions
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WorkerId'
      responses:
        '200':
          description: Version created successfully.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    WorkerId:
      name: worker_id
      in: path
      required: true
      description: The unique identifier of the Worker.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication with Workers permissions.
externalDocs:
  description: Cloudflare Workers API Documentation
  url: https://developers.cloudflare.com/api/resources/workers/
