openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Email Security Settings API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Email Security Settings
paths:
  /accounts/{account_id}/email-security/settings/allow_policies:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_list_allow_policies
      summary: List email allow policies
      description: Returns a paginated list of email allow policies. These policies exempt matching emails from security detection, allowing them to bypass disposition actions. Supports filtering by pattern type and policy attributes.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - $ref: '#/components/parameters/email-security_search'
      - name: order
        in: query
        description: Field to sort by.
        schema:
          type: string
          enum:
          - pattern
          - created_at
      - $ref: '#/components/parameters/email-security_direction'
      - name: is_exempt_recipient
        in: query
        description: Filter to show only policies where messages to the recipient bypass all detections.
        schema:
          type: boolean
      - name: is_trusted_sender
        in: query
        description: Filter to show only policies where messages from the sender bypass all detections and link following.
        schema:
          type: boolean
      - name: is_acceptable_sender
        in: query
        description: Filter to show only policies where messages from the sender are exempted from Spam, Spoof, and Bulk dispositions (not Malicious or Suspicious).
        schema:
          type: boolean
      - name: verify_sender
        in: query
        description: Filter to show only policies that enforce DMARC, SPF, or DKIM authentication.
        schema:
          type: boolean
      - name: pattern_type
        in: query
        description: Filter by pattern type.
        schema:
          allOf:
          - $ref: '#/components/schemas/email-security_PatternType'
      - name: pattern
        in: query
        description: Filter by exact pattern value.
        schema:
          type: string
      responses:
        '200':
          description: List of allow policies.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_AllowPolicyList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.allow-policies
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_allow_policy
      summary: Create email allow policy
      description: Creates a new allow policy that exempts matching emails from security detections. Use with caution as this bypasses email security scanning. Policies can match on sender patterns and apply to specific detections or all detections.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateAllowPolicy'
      responses:
        '201':
          description: Created allow policy.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_AllowPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.allow-policies
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/settings/allow_policies/batch:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_batch_allow_policies
      summary: Batch allow policy operations
      description: 'Executes multiple allow policy operations atomically: delete, partially update,

        replace, and create allow policies in a single request. All four operation arrays

        (deletes, patches, puts, posts) are required and executed in order.

        Send empty arrays for unused operations.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deletes:
                  description: IDs of the allow policies to delete.
                  type: array
                  items:
                    properties:
                      id:
                        $ref: '#/components/schemas/email-security_AllowPolicyId'
                    required:
                    - id
                    type: object
                  maxItems: 1000
                patches:
                  description: Partial updates to apply — each entry carries the policy's ID and only the fields to change.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_UpdateAllowPolicy'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_AllowPolicyId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
                posts:
                  description: Allow policies to create.
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_CreateAllowPolicy'
                  maxItems: 1000
                puts:
                  description: Full replacements to apply — each entry carries the policy's ID and every field of its new value.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_CreateAllowPolicy'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_AllowPolicyId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
              required:
              - deletes
              - patches
              - puts
              - posts
      responses:
        '200':
          description: Batch operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      type: object
                      properties:
                        deletes:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_DeletedAllowPolicy'
                        patches:
                          $ref: '#/components/schemas/email-security_AllowPolicyList'
                        posts:
                          $ref: '#/components/schemas/email-security_AllowPolicyList'
                        puts:
                          $ref: '#/components/schemas/email-security_AllowPolicyList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.allow-policies
      x-fern-sdk-method-name: batch
      x-forge-require-confirmation: This operation may delete the selected allow policies and restore normal security scanning and disposition actions for matching emails.
      x-stability: beta
  /accounts/{account_id}/email-security/settings/allow_policies/{policy_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: policy_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_AllowPolicyId'
    delete:
      operationId: email_security_delete_allow_policy
      summary: Delete an email allow policy
      description: Removes an allow policy. After deletion, emails matching this pattern will be subject to normal security scanning and disposition actions.
      responses:
        '200':
          description: Deleted allow policy.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DeletedAllowPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.allow-policies
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation deletes the allow policy and restores normal security scanning and disposition actions for matching emails.
      x-stability: beta
    get:
      operationId: email_security_get_allow_policy
      summary: Get an email allow policy
      description: Retrieves details for a specific allow policy including its pattern, dispositions that are exempted, and whether it applies to all detections.
      responses:
        '200':
          description: Allow policy details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_AllowPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.allow-policies
      x-fern-sdk-method-name: get
      x-stability: beta
    patch:
      operationId: email_security_update_allow_policy
      summary: Update an email allow policy
      description: Updates an existing allow policy. Only provided fields will be modified. Changes take effect for new emails matching the pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_UpdateAllowPolicy'
      responses:
        '200':
          description: Updated allow policy.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_AllowPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.allow-policies
      x-fern-sdk-method-name: edit
      x-stability: beta
    put:
      operationId: email_security_replace_allow_policy
      summary: Replace an email allow policy
      description: Replaces an existing allow policy in full. Unlike PATCH, every field is taken from the request body, so optional fields that are omitted are reset rather than left untouched. Use this when managing policies declaratively.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateAllowPolicy'
      responses:
        '200':
          description: Replaced allow policy.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_AllowPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.allow-policies
      x-fern-sdk-method-name: update
      x-stability: beta
  /accounts/{account_id}/email-security/settings/block_senders:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_list_blocked_senders
      summary: List blocked email senders
      description: Returns a paginated list of blocked email sender patterns. These patterns prevent emails from matching senders from being delivered. Supports filtering by pattern type and searching across patterns.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - $ref: '#/components/parameters/email-security_search'
      - name: order
        in: query
        description: Field to sort by.
        schema:
          type: string
          enum:
          - pattern
          - created_at
      - $ref: '#/components/parameters/email-security_direction'
      - name: pattern_type
        in: query
        description: Filter by pattern type.
        schema:
          allOf:
          - $ref: '#/components/schemas/email-security_PatternType'
      - name: pattern
        in: query
        description: Filter by pattern value.
        schema:
          type: string
      responses:
        '200':
          description: List of blocked senders.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_BlockedSenderList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.block-senders
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_blocked_sender
      summary: Create blocked email sender
      description: Creates a new blocked sender pattern. Emails matching this pattern will be blocked from delivery. Patterns can be email addresses, domains, or IP addresses, and support regular expressions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateBlockedSender'
      responses:
        '201':
          description: Created blocked sender.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_BlockedSender'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.block-senders
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/settings/block_senders/batch:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_batch_blocked_senders
      summary: Batch blocked sender operations
      description: 'Executes multiple blocked sender operations atomically: delete, partially update,

        replace, and create blocked sender patterns in a single request. All four operation

        arrays (deletes, patches, puts, posts) are required and executed in order.

        Send empty arrays for unused operations.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deletes:
                  description: IDs of the blocked sender patterns to delete.
                  type: array
                  items:
                    properties:
                      id:
                        $ref: '#/components/schemas/email-security_BlockedSenderId'
                    required:
                    - id
                    type: object
                  maxItems: 1000
                patches:
                  description: Partial updates to apply — each entry carries the pattern's ID and only the fields to change.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_UpdateBlockedSender'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_BlockedSenderId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
                posts:
                  description: Blocked sender patterns to create.
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_CreateBlockedSender'
                  maxItems: 1000
                puts:
                  description: Full replacements to apply — each entry carries the pattern's ID and every field of its new value.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_CreateBlockedSender'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_BlockedSenderId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
              required:
              - deletes
              - patches
              - puts
              - posts
      responses:
        '200':
          description: Batch operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      type: object
                      properties:
                        deletes:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_DeletedBlockedSender'
                        patches:
                          $ref: '#/components/schemas/email-security_BlockedSenderList'
                        posts:
                          $ref: '#/components/schemas/email-security_BlockedSenderList'
                        puts:
                          $ref: '#/components/schemas/email-security_BlockedSenderList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.block-senders
      x-fern-sdk-method-name: batch
      x-forge-require-confirmation: This operation may delete the selected blocked sender patterns and stop automatically blocking matching emails based on those rules.
      x-stability: beta
  /accounts/{account_id}/email-security/settings/block_senders/{pattern_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: pattern_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_BlockedSenderId'
    delete:
      operationId: email_security_delete_blocked_sender
      summary: Delete a blocked email sender
      description: Removes a blocked sender pattern. After deletion, emails from this sender will no longer be automatically blocked based on this rule.
      responses:
        '200':
          description: Deleted blocked sender.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DeletedBlockedSender'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.block-senders
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation deletes the blocked sender pattern and stops automatically blocking matching emails based on this rule.
      x-stability: beta
    get:
      operationId: email_security_get_blocked_sender
      summary: Get a blocked email sender
      description: Retrieves details for a specific blocked sender pattern including its pattern type, value, and metadata.
      responses:
        '200':
          description: Blocked sender details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_BlockedSender'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.block-senders
      x-fern-sdk-method-name: get
      x-stability: beta
    patch:
      operationId: email_security_update_blocked_sender
      summary: Update a blocked email sender
      description: Updates an existing blocked sender pattern. Only provided fields will be modified. The pattern will continue blocking emails until deleted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_UpdateBlockedSender'
      responses:
        '200':
          description: Updated blocked sender.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_BlockedSender'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.block-senders
      x-fern-sdk-method-name: edit
      x-stability: beta
    put:
      operationId: email_security_replace_blocked_sender
      summary: Replace a blocked email sender
      description: Replaces an existing blocked sender pattern in full. Unlike PATCH, every field is taken from the request body, so optional fields that are omitted are reset rather than left untouched. Use this when managing blocked senders declaratively.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateBlockedSender'
      responses:
        '200':
          description: Replaced blocked sender.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_BlockedSender'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.block-senders
      x-fern-sdk-method-name: update
      x-stability: beta
  /accounts/{account_id}/email-security/settings/content_policies:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_list_content_policies
      summary: List content policies
      description: Returns a paginated list of content policies. These policies match against the subject or body of emails using a pattern. Supports filtering by name or enabled status, and searching across name and pattern fields.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - $ref: '#/components/parameters/email-security_search'
      - name: order
        in: query
        description: Field to sort by.
        schema:
          type: string
          enum:
          - name
          - created_at
      - $ref: '#/components/parameters/email-security_direction'
      - name: enabled
        in: query
        description: Filter by enabled status.
        schema:
          type: boolean
      - name: name
        in: query
        description: Filter by exact policy name.
        schema:
          type: string
      responses:
        '200':
          description: List of content policies.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_ContentPolicyList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.content-policies
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_content_policy
      summary: Create a content policy
      description: Creates a new content policy. Emails whose subject or body matches the pattern will be subject to the configured action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateContentPolicy'
      responses:
        '201':
          description: Created content policy.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_ContentPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.content-policies
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/settings/content_policies/batch:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_batch_content_policies
      summary: Batch content policy operations
      description: 'Executes multiple content policy operations atomically: delete, partially update,

        replace, and create content policies in a single request. All four operation arrays

        (deletes, patches, puts, posts) are required and executed in order.

        Send empty arrays for unused operations.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deletes:
                  description: IDs of the content policies to delete.
                  type: array
                  items:
                    properties:
                      id:
                        $ref: '#/components/schemas/email-security_ContentPolicyId'
                    required:
                    - id
                    type: object
                  maxItems: 1000
                patches:
                  description: Partial updates to apply — each entry carries the policy's ID and only the fields to change.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_UpdateContentPolicy'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_ContentPolicyId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
                posts:
                  description: Content policies to create.
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_CreateContentPolicy'
                  maxItems: 1000
                puts:
                  description: Full replacements to apply — each entry carries the policy's ID and every field of its new value.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_CreateContentPolicy'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_ContentPolicyId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
              required:
              - deletes
              - patches
              - puts
              - posts
      responses:
        '200':
          description: Batch operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      type: object
                      properties:
                        deletes:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_DeletedContentPolicy'
                        patches:
                          $ref: '#/components/schemas/email-security_ContentPolicyList'
                        posts:
                          $ref: '#/components/schemas/email-security_ContentPolicyList'
                        puts:
                          $ref: '#/components/schemas/email-security_ContentPolicyList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.content-policies
      x-fern-sdk-method-name: batch
      x-forge-require-confirmation: This operation may delete the selected content policies and stop evaluating emails against their patterns.
      x-stability: beta
  /accounts/{account_id}/email-security/settings/content_policies/{policy_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: policy_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_ContentPolicyId'
    delete:
      operationId: email_security_delete_content_policy
      summary: Delete a content policy
      description: Removes a content policy. After deletion, emails will no longer be evaluated against this pattern.
      responses:
        '200':
          description: Deleted content policy.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DeletedContentPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.content-policies
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation deletes the content policy and stops evaluating emails against its pattern.
      x-stability: beta
    get:
      operationId: email_security_get_content_policy
      summary: Get a content policy
      description: Retrieves details for a specific content policy including its pattern, targets, and metadata.
      responses:
        '200':
          description: Content policy details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_ContentPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.content-policies
      x-fern-sdk-method-name: get
      x-stability: beta
    patch:
      operationId: email_security_update_content_policy
      summary: Update a content policy
      description: Updates an existing content policy. Only provided fields will be modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_UpdateContentPolicy'
      responses:
        '200':
          description: Updated content policy.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_ContentPolicy'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.content-policies
      x-fern-sdk-method-name: edit
      x-stability: beta
  /accounts/{account_id}/email-security/settings/domains:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    delete:
      operationId: email_security_delete_domains
      summary: Unprotect multiple email domains
      description: Removes protection from multiple email domains. Deprecated; use the batch endpoint instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                properties:
                  id:
                    $ref: '#/components/schemas/email-security_DomainId'
                required:
                - id
                type: object
              minItems: 1
      responses:
        '200':
          description: Deleted domains.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_DeletedDomain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: email-security.domains
      x-fern-sdk-method-name: bulk-delete
      x-forge-require-confirmation: This operation permanently deletes protection for the selected email domains. Emails for these domains will no longer be processed by Email Security.
      x-stability: beta
    get:
      operationId: email_security_list_domains
      summary: List protected email domains
      description: Returns a paginated list of email domains protected by Email Security. Includes domain configuration, delivery modes, and authorization status. Supports filtering by delivery mode and integration ID.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - $ref: '#/components/parameters/email-security_search'
      - name: order
        in: query
        description: Field to sort by.
        schema:
          type: string
          enum:
          - domain
          - created_at
      - $ref: '#/components/parameters/email-security_direction'
      - name: allowed_delivery_mode
        in: query
        description: Delivery mode to filter by.
        schema:
          $ref: '#/components/schemas/email-security_DeliveryMode'
      - name: domain
        in: query
        description: Domain names to filter by.
        schema:
          type: array
          items:
            type: string
      - name: active_delivery_mode
        in: query
        description: Currently active delivery mode to filter by.
        schema:
          $ref: '#/components/schemas/email-security_DeliveryMode'
      - name: integration_id
        in: query
        description: Integration ID to filter by.
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: Filters response to domains with the provided status.
        schema:
          $ref: '#/components/schemas/email-security_DomainStatus'
      responses:
        '200':
          description: List of domains.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DomainList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.domains
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_domains
      summary: Add a new email domain
      description: Protects a new email domain by adding it to Email Security. Accepts a flat configuration object covering all delivery modes. Returns the newly created domain configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateDomain'
      responses:
        '201':
          description: Created domain.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_Domain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.domains
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/settings/domains/batch:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_batch_domains
      summary: Batch domain operations
      description: 'Executes multiple domain operations in a single request. All four operation arrays

        (deletes, patches, puts, posts) are required and executed in order.

        Send empty arrays for unused operations.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deletes:
                  description: IDs of the domains to remove protection from.
                  type: array
                  items:
                    properties:
                      id:
                        $ref: '#/components/schemas/email-security_DomainId'
                    required:
                    - id
                    type: object
                  maxItems: 1000
                patches:
                  description: Partial updates to apply — each entry carries the domain's ID and only the fields to change.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_UpdateDomain'
                    - properties:
                        id:
                          $ref: '#/components/schemas/email-security_DomainId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
                posts:
                  description: Domains to add protection for.
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_CreateDomain'
                  maxItems: 1000
                puts:
                  description: Full replacements to apply — each entry carries the domain's ID and every field of its new value.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_ReplaceDomain'
                    - properties:
                        id:
                          $ref: '#/components/schemas/email-security_DomainId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
              required:
              - deletes
              - patches
              - puts
              - posts
      responses:
        '200':
          description: Batch operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      type: object
                      properties:
                        deletes:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_DeletedDomain'
                        patches:
                          $ref: '#/components/schemas/email-security_DomainList'
                        posts:
                          $ref: '#/components/schemas/email-security_DomainList'
                        puts:
                          $ref: '#/components/schemas/email-security_DomainList'
                      required:
                      - deletes
                      - patches
                      - puts
                      - posts
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.domains
      x-fern-sdk-method-name: batch
      x-forge-require-confirmation: This operation may permanently delete protection for the selected email domains. Emails for those domains will no longer be processed by Email Security.
      x-stability: beta
  /accounts/{account_id}/email-security/settings/domains/{domain_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: domain_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_DomainId'
    delete:
      operationId: email_security_delete_domain
      summary: Unprotect an email domain
      description: Removes email security protection from a domain. After deletion, emails for this domain will no longer be processed by Email Security. This action cannot be undone.
      responses:
        '200':
          description: Deleted domain.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DeletedDomain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.domains
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation permanently deletes protection for the email domain. Emails for this domain will no longer be processed by Email Security.
      x-stability: beta
    get:
      operationId: email_security_get_domain
      summary: Get an email domain
      description: Retrieves detailed information for a specific protected email domain including its delivery configuration, SPF/DMARC status, and authorization state.
      responses:
        '200':
          description: Domain details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_Domain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.domains
      x-fern-sdk-method-name: get
      x-stability: beta
    patch:
      operationId: email_security_update_domain
      summary: Update an email domain
      description: Updates configuration for a protected email domain. Only provided fields will be modified. Changes affect delivery mode, security settings, and regional processing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_UpdateDomain'
      responses:
        '200':
          description: Updated domain.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_Domain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.domains
      x-fern-sdk-method-name: edit
      x-stability: beta
    put:
      operationId: email_security_replace_domain
      summary: Replace an email domain
      description: Replaces all mutable fields of a protected email domain in a single atomic operation. Unlike PATCH, all non-computed fields are required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_ReplaceDomain'
      responses:
        '200':
          description: Replaced domain.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_Domain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.domains
      x-fern-sdk-method-name: update
      x-stability: beta
  /accounts/{account_id}/email-security/settings/domains/{domain_id}/verification:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: domain_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_DomainId'
    get:
      operationId: email_security_get_domain_verification
      summary: Get domain verification details
      description: 'Returns the DNS TXT record information when the domain ownership isn''t

        verified through Cloudflare zone ownership or CASB integration.'
      responses:
        '200':
          description: DNS TXT verification details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DomainVerificationInfo'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.domains.verification
      x-fern-sdk-method-name: get
      x-stability: beta
  /accounts/{account_id}/email-security/settings/impersonation_registry:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_list_impersonation_registry
      summary: List impersonation registry entries
      description: Returns a paginated list of protected identities in the impersonation registry. These entries define identities and email addresses to protect from impersonation attacks. Can be manually added or automatically synced from directory integrations.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - $ref: '#/components/parameters/email-security_search'
      - name: order
        in: query
        description: Field to sort by.
        schema:
          type: string
          enum:
          - name
          - email
          - created_at
      - $ref: '#/components/parameters/email-security_direction'
      - name: provenance
        in: query
        schema:
          $ref: '#/components/schemas/email-security_Provenance'
      responses:
        '200':
          description: List of impersonation registry entries.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_ImpersonationRegistryList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.impersonation-registry
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_impersonation_registry
      summary: Create impersonation registry entry
      description: Creates a new entry in the impersonation registry to protect against impersonation. Emails attempting to impersonate this identity will be flagged. Supports regex patterns for flexible email matching.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateImpersonationRegistry'
      responses:
        '201':
          description: Created impersonation registry entry.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_ImpersonationRegistry'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.impersonation-registry
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/settings/impersonation_registry/{impersonation_registry_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: impersonation_registry_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_ImpersonationRegistryId'
    delete:
      operationId: email_security_delete_impersonation_registry
      summary: Delete an impersonation registry entry
      description: Removes an entry from the impersonation registry. After deletion, this identity will no longer be protected from impersonation.
      responses:
        '200':
          description: Deleted impersonation registry entry.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DeletedImpersonationRegistry'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.impersonation-registry
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation deletes the impersonation registry entry and stops protecting the identity from impersonation.
      x-stability: beta
    get:
      operationId: email_security_get_impersonation_registry
      summary: Get an impersonation registry entry
      description: Retrieves details for a specific impersonation registry entry including the protected identity, email pattern, and synchronization source if directory-synced.
      responses:
        '200':
          description: Impersonation registry entry details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_ImpersonationRegistry'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.impersonation-registry
      x-fern-sdk-method-name: get
      x-stability: beta
    patch:
      operationId: email_security_update_impersonation_registry
      summary: Update an impersonation registry entry
      description: Updates an existing impersonation registry entry. Only provided fields will be modified. Directory-synced entries can't be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_UpdateImpersonationRegistry'
      responses:
        '200':
          description: Updated impersonation registry entry.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_ImpersonationRegistry'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.impersonation-registry
      x-fern-sdk-method-name: edit
      x-stability: beta
  /accounts/{account_id}/email-security/settings/sending_domain_restrictions:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_list_sending_domain_restrictions
      summary: List sending domain restrictions
      description: Returns a paginated list of sending domain restrictions. These restrictions enforce TLS requirements for emails from specific domains. Mail without TLS from restricted domains will be dropped unless the subdomain is in the exclude list. Supports sorting and searching.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - $ref: '#/components/parameters/email-security_search'
      - name: order
        in: query
        description: Field to sort by.
        schema:
          type: string
          enum:
          - domain
          - created_at
      - $ref: '#/components/parameters/email-security_direction'
      responses:
        '200':
          description: List of sending domain restrictions.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_SendingDomainRestrictionList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.sending-domain-restrictions
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_sending_domain_restriction
      summary: Create a sending domain restriction
      description: Creates a new sending domain restriction to enforce TLS requirements for a domain. Emails without TLS from this domain will be dropped unless the subdomain is in the exclude list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateSendingDomainRestriction'
      responses:
        '201':
          description: Created sending domain restriction.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_SendingDomainRestriction'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.sending-domain-restrictions
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/settings/sending_domain_restrictions/batch:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_batch_sending_domain_restrictions
      summary: Batch sending domain restriction operations
      description: Executes multiple delete operations on sending domain restrictions atomically. All operations succeed or fail together as a transaction. Currently only supports batch deletion. Removes TLS enforcement requirements for the specified domains.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deletes:
                  description: IDs of the sending domain restrictions to delete.
                  type: array
                  items:
                    properties:
                      id:
                        $ref: '#/components/schemas/email-security_SendingDomainRestrictionId'
                    required:
                    - id
                    type: object
                  maxItems: 1000
              required:
              - deletes
      responses:
        '200':
          description: Batch operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      type: object
                      properties:
                        deletes:
                          type: array
                          items:
                            properties:
                              id:
                                $ref: '#/components/schemas/email-security_SendingDomainRestrictionId'
                            required:
                            - id
                            type: object
                      required:
                      - deletes
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-ignore: true
      x-fern-sdk-group-name: email-security.sending-domain-restrictions
      x-fern-sdk-method-name: batch
      x-forge-require-confirmation: This operation deletes the selected sending domain restrictions and removes TLS enforcement for the specified domains.
      x-stability: beta
  /accounts/{account_id}/email-security/settings/sending_domain_restrictions/{sending_domain_restriction_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: sending_domain_restriction_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_SendingDomainRestrictionId'
    delete:
      operationId: email_security_delete_sending_domain_restriction
      summary: Delete a sending domain restriction
      description: Removes a sending domain restriction. After deletion, TLS will no longer be enforced for emails from this domain.
      responses:
        '200':
          description: Deleted sending domain restriction.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DeletedSendingDomainRestriction'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.sending-domain-restrictions
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation deletes the sending domain restriction and removes TLS enforcement for emails from this domain.
      x-stability: beta
    get:
      operationId: email_security_get_sending_domain_restriction
      summary: Get a sending domain restriction
      description: Retrieves details for a specific sending domain restriction including the domain requiring TLS and any excluded subdomains exempt from the TLS requirement.
      responses:
        '200':
          description: Sending domain restriction details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_SendingDomainRestriction'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.sending-domain-restrictions
      x-fern-sdk-method-name: get
      x-stability: beta
    patch:
      operationId: email_security_update_sending_domain_restriction
      summary: Update a sending domain restriction
      description: Updates an existing sending domain restriction. Only provided fields will be modified. Changes affect which domains require TLS and which subdomains are excluded.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_UpdateSendingDomainRestriction'
      responses:
        '200':
          description: Updated sending domain restriction.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_SendingDomainRestriction'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.sending-domain-restrictions
      x-fern-sdk-method-name: edit
      x-stability: beta
  /accounts/{account_id}/email-security/settings/trusted_domains:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_list_trusted_domains
      summary: List trusted email domains
      description: Returns a paginated list of trusted domain patterns. Trusted domains prevent false positives for recently registered domains and lookalike domain detections. Patterns can use regular expressions for flexible matching.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      - $ref: '#/components/parameters/email-security_search'
      - name: order
        in: query
        description: Field to sort by.
        schema:
          type: string
          enum:
          - pattern
          - created_at
      - $ref: '#/components/parameters/email-security_direction'
      - name: is_recent
        in: query
        description: Filter to show only recently registered domains that are trusted to prevent triggering Suspicious or Malicious dispositions.
        schema:
          type: boolean
      - name: is_similarity
        in: query
        description: Filter to show only proximity domains (partner or approved domains with similar spelling to connected domains) that prevent Spoof dispositions.
        schema:
          type: boolean
      - name: pattern
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of trusted domains.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_TrustedDomainList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.trusted-domains
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_trusted_domain
      summary: Create trusted email domain
      description: Creates a new trusted domain pattern. Use for partner domains or approved senders that should bypass recent domain registration and similarity checks. Configure whether it prevents recent domain or spoof dispositions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateTrustedDomain'
      responses:
        '201':
          description: Created trusted domain.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_TrustedDomain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.trusted-domains
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/settings/trusted_domains/batch:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_batch_trusted_domains
      summary: Batch trusted domain operations
      description: 'Executes multiple trusted domain operations atomically: delete, partially update,

        replace, and create trusted domain patterns in a single request. All four operation

        arrays (deletes, patches, puts, posts) are required and executed in order.

        Send empty arrays for unused operations.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deletes:
                  description: IDs of the trusted domain patterns to delete.
                  type: array
                  items:
                    properties:
                      id:
                        $ref: '#/components/schemas/email-security_TrustedDomainId'
                    required:
                    - id
                    type: object
                  maxItems: 1000
                patches:
                  description: Partial updates to apply — each entry carries the pattern's ID and only the fields to change.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_UpdateTrustedDomain'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_TrustedDomainId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
                posts:
                  description: Trusted domain patterns to create.
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_CreateTrustedDomain'
                  maxItems: 1000
                puts:
                  description: Full replacements to apply — each entry carries the pattern's ID and every field of its new value.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_CreateTrustedDomain'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_TrustedDomainId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
              required:
              - deletes
              - patches
              - puts
              - posts
      responses:
        '200':
          description: Batch operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      type: object
                      properties:
                        deletes:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_DeletedTrustedDomain'
                        patches:
                          $ref: '#/components/schemas/email-security_TrustedDomainList'
                        posts:
                          $ref: '#/components/schemas/email-security_TrustedDomainList'
                        puts:
                          $ref: '#/components/schemas/email-security_TrustedDomainList'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.trusted-domains
      x-fern-sdk-method-name: batch
      x-forge-require-confirmation: This operation may delete the selected trusted domain patterns and restore normal recent domain and similarity checks for matching emails.
      x-stability: beta
  /accounts/{account_id}/email-security/settings/trusted_domains/{trusted_domain_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: trusted_domain_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_TrustedDomainId'
    delete:
      operationId: email_security_delete_trusted_domain
      summary: Delete a trusted email domain
      description: Removes a trusted domain pattern. After deletion, emails from this domain will be subject to normal recent domain and similarity checks.
      responses:
        '200':
          description: Deleted trusted domain.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DeletedTrustedDomain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.trusted-domains
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation deletes the trusted domain pattern and restores normal recent domain and similarity checks for matching emails.
      x-stability: beta
    get:
      operationId: email_security_get_trusted_domain
      summary: Get a trusted email domain
      description: Retrieves details for a specific trusted domain pattern including its pattern value, whether it uses regex matching, and which detection types it affects.
      responses:
        '200':
          description: Trusted domain details.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_TrustedDomain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.trusted-domains
      x-fern-sdk-method-name: get
      x-stability: beta
    patch:
      operationId: email_security_update_trusted_domain
      summary: Update a trusted email domain
      description: Updates an existing trusted domain pattern. Only provided fields will be modified. Changes take effect for new emails matching the pattern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_UpdateTrustedDomain'
      responses:
        '200':
          description: Updated trusted domain.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_TrustedDomain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.trusted-domains
      x-fern-sdk-method-name: edit
      x-stability: beta
    put:
      operationId: email_security_replace_trusted_domain
      summary: Replace a trusted email domain
      description: Replaces an existing trusted domain in full. Unlike PATCH, every field is taken from the request body, so optional fields that are omitted are reset rather than left untouched. Use this when managing trusted domains declaratively.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateTrustedDomain'
      responses:
        '200':
          description: Replaced trusted domain.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_TrustedDomain'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.trusted-domains
      x-fern-sdk-method-name: update
      x-stability: beta
  /accounts/{account_id}/email-security/settings/url_ignore_patterns:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    get:
      operationId: email_security_list_url_ignore_patterns
      summary: List URL ignore patterns
      description: Returns a paginated list of URL rewrite ignore patterns for the account. URLs matching these patterns will not be rewritten.
      parameters:
      - $ref: '#/components/parameters/email-security_page'
      - $ref: '#/components/parameters/email-security_per_page'
      responses:
        '200':
          description: List of URL ignore patterns for the provided account.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-collection'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/email-security_UrlIgnorePattern'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.url-ignore-patterns
      x-fern-sdk-method-name: list
      x-stability: beta
    post:
      operationId: email_security_create_url_ignore_pattern
      summary: Create a URL ignore pattern
      description: Creates a new URL rewrite ignore pattern. URLs matching this pattern will not be rewritten.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_CreateUrlIgnorePattern'
      responses:
        '201':
          description: Created URL ignore pattern.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_UrlIgnorePattern'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.url-ignore-patterns
      x-fern-sdk-method-name: create
      x-stability: beta
  /accounts/{account_id}/email-security/settings/url_ignore_patterns/batch:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    post:
      operationId: email_security_batch_url_ignore_patterns
      summary: Batch URL ignore pattern operations
      description: 'Executes multiple operations atomically. All four operation arrays

        (deletes, patches, puts, posts) are required and executed in order.

        Send empty arrays for unused operations.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deletes:
                  description: IDs of the URL ignore patterns to delete.
                  type: array
                  items:
                    properties:
                      id:
                        $ref: '#/components/schemas/email-security_UrlIgnorePatternId'
                    required:
                    - id
                    type: object
                  maxItems: 1000
                patches:
                  description: Partial updates to apply — each entry carries the pattern's ID and only the fields to change.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_UpdateUrlIgnorePattern'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_UrlIgnorePatternId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
                posts:
                  description: URL ignore patterns to create.
                  type: array
                  items:
                    $ref: '#/components/schemas/email-security_CreateUrlIgnorePattern'
                  maxItems: 1000
                puts:
                  description: Full replacements to apply — each entry carries the pattern's ID and every field of its new value.
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/email-security_CreateUrlIgnorePattern'
                    - properties:
                        id:
                          allOf:
                          - $ref: '#/components/schemas/email-security_UrlIgnorePatternId'
                      required:
                      - id
                      type: object
                  maxItems: 1000
              required:
              - deletes
              - patches
              - puts
              - posts
      responses:
        '200':
          description: Batch operation results.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-common'
                - properties:
                    result:
                      type: object
                      properties:
                        deletes:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_DeletedUrlIgnorePattern'
                        patches:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_UrlIgnorePattern'
                        posts:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_UrlIgnorePattern'
                        puts:
                          type: array
                          items:
                            $ref: '#/components/schemas/email-security_UrlIgnorePattern'
                      required:
                      - deletes
                      - patches
                      - puts
                      - posts
                  required:
                  - result
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.url-ignore-patterns
      x-fern-sdk-method-name: batch
      x-forge-require-confirmation: This operation may delete the selected URL rewrite ignore patterns and cause matching URLs to be rewritten again.
      x-stability: beta
  /accounts/{account_id}/email-security/settings/url_ignore_patterns/{pattern_id}:
    parameters:
    - $ref: '#/components/parameters/email-security_account_id'
    - name: pattern_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/email-security_UrlIgnorePatternId'
    delete:
      operationId: email_security_delete_url_ignore_pattern
      summary: Delete a URL ignore pattern
      description: Removes a URL rewrite ignore pattern. After deletion, URLs matching this pattern will be rewritten again.
      responses:
        '200':
          description: Deleted URL ignore pattern.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_DeletedUrlIgnorePattern'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.url-ignore-patterns
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This operation deletes the URL rewrite ignore pattern and causes matching URLs to be rewritten again.
      x-stability: beta
    get:
      operationId: email_security_get_url_ignore_pattern
      summary: Get a URL ignore pattern
      description: Returns a single URL rewrite ignore pattern by its identifier.
      responses:
        '200':
          description: URL ignore pattern.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_UrlIgnorePattern'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      - 'Cloud Email Security: Read'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.url-ignore-patterns
      x-fern-sdk-method-name: get
      x-stability: beta
    patch:
      operationId: email_security_update_url_ignore_pattern
      summary: Update a URL ignore pattern
      description: Updates an existing URL rewrite ignore pattern. Only provided fields will be modified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-security_UpdateUrlIgnorePattern'
      responses:
        '200':
          description: Updated URL ignore pattern.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/email-security_api-response-single'
                - properties:
                    result:
                      $ref: '#/components/schemas/email-security_UrlIgnorePattern'
                  type: object
        4XX:
          $ref: '#/components/responses/email-security_ClientError'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Email Security Settings
      x-api-token-group:
      - 'Cloud Email Security: Write'
      x-fern-availability: beta
      x-fern-sdk-group-name: email-security.url-ignore-patterns
      x-fern-sdk-method-name: edit
      x-stability: beta
components:
  schemas:
    email-security_UpdateDomain:
      type: object
      properties:
        allowed_delivery_modes:
          description: Delivery modes to onboard the domain through.
          type: array
          items:
            $ref: '#/components/schemas/email-security_DeliveryMode'
          x-stainless-collection-type: set
        drop_dispositions:
          description: Dispositions to drop instead of delivering, e.g. `["MALICIOUS", "SPAM"]`.
          type: array
          items:
            $ref: '#/components/schemas/email-security_DispositionLabel'
          x-stainless-collection-type: set
        folder:
          description: The mailbox folder to scan, for API-scanning domains.
          allOf:
          - $ref: '#/components/schemas/email-security_ScannableFolder'
          x-stainless-terraform-configurability: computed_optional
        integration_id:
          description: Identifier of the CASB integration that authorizes this domain. The integration also enables API scanning, post-delivery actions, and directory sync.
          type:
          - string
          - 'null'
          format: uuid
          x-auditable: true
        ip_restrictions:
          description: Source IP ranges mail is accepted from. Any other source is rejected.
          type: array
          items:
            type: string
            x-auditable: true
          example:
          - 192.0.2.0/24
          - 2001:db8::/32
          x-stainless-collection-type: set
        lookback_hops:
[...]
