openapi: 3.2.0
info:
  title: Cloudflare AI Gateway Logs API
  description: Cloudflare AI Gateway provides visibility and control over AI applications with analytics, logging, caching, rate limiting, request retries, and model fallback. It supports multiple AI providers including OpenAI, Anthropic, and Google Gemini through a unified interface. The API allows developers to create and manage gateways, configure providers, and access logs and analytics.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Logs
  description: Access request logs and analytics for AI Gateway traffic.
paths:
  /accounts/{account_id}/ai-gateway/gateways/{gateway_id}/logs:
    get:
      operationId: listAiGatewayLogs
      summary: Cloudflare List Ai Gateway Logs
      description: Retrieve request logs for an AI Gateway instance with filtering and pagination support.
      tags:
      - Logs
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/GatewayId'
      - name: page
        in: query
        description: Page number for pagination.
        schema:
          type: integer
        example: 10
      - name: per_page
        in: query
        description: Number of log entries per page.
        schema:
          type: integer
        example: 10
      - name: search
        in: query
        description: Search query to filter logs.
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: List of gateway logs.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    GatewayId:
      name: gateway_id
      in: path
      required: true
      description: The unique identifier of the AI Gateway.
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with AI Gateway permissions.
externalDocs:
  description: Cloudflare AI Gateway Documentation
  url: https://developers.cloudflare.com/ai-gateway/
