openapi: 3.0.3
info:
  title: Cloudflare / Accounts API
  description: Needs description.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 4.0.0
servers:
- url: https://api.cloudflare.com/client/v4
  description: Client API
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Accounts
paths:
  /accounts/{account_id}:
    get:
      tags:
      - Accounts
      summary: Cloudflare Account Details
      description: Get information about a specific account that you are a member of.
      operationId: accounts-account-details
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/iam_schemas-identifier'
      responses:
        '200':
          description: Account Details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iam_response_single'
        4XX:
          description: Account Details response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/iam_response_single'
                - $ref: '#/components/schemas/iam_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Accounts
      summary: Cloudflare Update Account
      description: Update an existing account.
      operationId: accounts-update-account
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/iam_schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_components-schemas-account'
      responses:
        '200':
          description: Update Account response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iam_response_single'
        4XX:
          description: Update Account response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/iam_response_single'
                - $ref: '#/components/schemas/iam_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/address_maps:
    get:
      tags:
      - Accounts
      summary: Cloudflare List Address Maps
      description: List all address maps owned by the account.
      operationId: ip-address-management-address-maps-list-address-maps
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: List Address Maps response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_components-schemas-response_collection'
        4XX:
          description: List Address Maps response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_components-schemas-response_collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Accounts
      summary: Cloudflare Create Address Map
      description: Create a new address map under the account.
      operationId: ip-address-management-address-maps-create-address-map
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  $ref: '#/components/schemas/addressing_schemas-description'
                enabled:
                  $ref: '#/components/schemas/addressing_enabled'
      responses:
        '200':
          description: Create Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_full_response'
        4XX:
          description: Create Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_full_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/address_maps/{address_map_id}:
    delete:
      tags:
      - Accounts
      summary: Cloudflare Delete Address Map
      description: Delete a particular address map owned by the account. An Address Map must be disabled before it can be deleted.
      operationId: ip-address-management-address-maps-delete-address-map
      parameters:
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Delete Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-collection'
        4XX:
          description: Delete Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Accounts
      summary: Cloudflare Address Map Details
      description: Show a particular address map owned by the account.
      operationId: ip-address-management-address-maps-address-map-details
      parameters:
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: Address Map Details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_full_response'
        4XX:
          description: Address Map Details response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_full_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    patch:
      tags:
      - Accounts
      summary: Cloudflare Update Address Map
      description: Modify properties of an address map owned by the account.
      operationId: ip-address-management-address-maps-update-address-map
      parameters:
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                default_sni:
                  $ref: '#/components/schemas/addressing_default_sni'
                description:
                  $ref: '#/components/schemas/addressing_schemas-description'
                enabled:
                  $ref: '#/components/schemas/addressing_enabled'
      responses:
        '200':
          description: Update Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_components-schemas-single_response'
        4XX:
          description: Update Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_components-schemas-single_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/address_maps/{address_map_id}/accounts/{account_id}:
    delete:
      tags:
      - Accounts
      summary: Cloudflare Remove an account membership from an Address Map
      description: Remove an account as a member of a particular address map.
      operationId: ip-address-management-address-maps-remove-an-account-membership-from-an-address-map
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Remove an account membership from an Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-collection'
        4XX:
          description: Remove an account membership from an Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Accounts
      summary: Cloudflare Add an account membership to an Address Map
      description: Add an account as a member of a particular address map.
      operationId: ip-address-management-address-maps-add-an-account-membership-to-an-address-map
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Add an account membership to an Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-collection'
        4XX:
          description: Add an account membership to an Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/address_maps/{address_map_id}/ips/{ip_address}:
    delete:
      tags:
      - Accounts
      summary: Cloudflare Remove an IP from an Address Map
      description: Remove an IP from a particular address map.
      operationId: ip-address-management-address-maps-remove-an-ip-from-an-address-map
      parameters:
      - name: ip_address
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_ip_address'
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Remove an IP from an Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-collection'
        4XX:
          description: Remove an IP from an Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Accounts
      summary: Cloudflare Add an IP to an Address Map
      description: Add an IP from a prefix owned by the account to a particular address map.
      operationId: ip-address-management-address-maps-add-an-ip-to-an-address-map
      parameters:
      - name: ip_address
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_ip_address'
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Add an IP to an Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-collection'
        4XX:
          description: Add an IP to an Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/address_maps/{address_map_id}/zones/{zone_id}:
    delete:
      tags:
      - Accounts
      summary: Cloudflare Remove a zone membership from an Address Map
      description: Remove a zone as a member of a particular address map.
      operationId: ip-address-management-address-maps-remove-a-zone-membership-from-an-address-map
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Remove a zone membership from an Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-collection'
        4XX:
          description: Remove a zone membership from an Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    put:
      tags:
      - Accounts
      summary: Cloudflare Add a zone membership to an Address Map
      description: Add a zone as a member of a particular address map.
      operationId: ip-address-management-address-maps-add-a-zone-membership-to-an-address-map
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: address_map_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Add a zone membership to an Address Map response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-collection'
        4XX:
          description: Add a zone membership to an Address Map response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/loa_documents:
    post:
      tags:
      - Accounts
      summary: Cloudflare Upload LOA Document
      description: Submit LOA document (pdf format) under the account.
      operationId: ip-address-management-prefixes-upload-loa-document
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - loa_document
              properties:
                loa_document:
                  type: string
                  description: LOA document to upload.
                  example: '@document.pdf'
      responses:
        '201':
          description: Upload LOA Document response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_loa_upload_response'
        4XX:
          description: Upload LOA Document response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_loa_upload_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/loa_documents/{loa_document_id}/download:
    get:
      tags:
      - Accounts
      summary: Cloudflare Download LOA Document
      description: Download specified LOA document under the account.
      operationId: ip-address-management-prefixes-download-loa-document
      parameters:
      - name: loa_document_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_loa_document_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: Download LOA Document response
          content:
            application/json:
              schema: {}
        4XX:
          description: Download LOA Document response failure
          content:
            application/json:
              schema:
                allOf:
                - {}
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes:
    get:
      tags:
      - Accounts
      summary: Cloudflare List Prefixes
      description: List all prefixes owned by the account.
      operationId: ip-address-management-prefixes-list-prefixes
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: List Prefixes response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_response_collection'
        4XX:
          description: List Prefixes response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_response_collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Accounts
      summary: Cloudflare Add Prefix
      description: Add a new prefix under the account.
      operationId: ip-address-management-prefixes-add-prefix
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - cidr
              - loa_document_id
              - asn
              properties:
                asn:
                  $ref: '#/components/schemas/addressing_asn'
                cidr:
                  $ref: '#/components/schemas/addressing_cidr'
                loa_document_id:
                  $ref: '#/components/schemas/addressing_loa_document_identifier'
      responses:
        '201':
          description: Add Prefix response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_single_response'
        4XX:
          description: Add Prefix response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_single_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes/{prefix_id}:
    delete:
      tags:
      - Accounts
      summary: Cloudflare Delete Prefix
      description: Delete an unapproved prefix owned by the account.
      operationId: ip-address-management-prefixes-delete-prefix
      parameters:
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Delete Prefix response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-collection'
        4XX:
          description: Delete Prefix response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Accounts
      summary: Cloudflare Prefix Details
      description: List a particular prefix owned by the account.
      operationId: ip-address-management-prefixes-prefix-details
      parameters:
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: Prefix Details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_single_response'
        4XX:
          description: Prefix Details response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_single_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    patch:
      tags:
      - Accounts
      summary: Cloudflare Update Prefix Description
      description: Modify the description for a prefix owned by the account.
      operationId: ip-address-management-prefixes-update-prefix-description
      parameters:
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - description
              properties:
                description:
                  $ref: '#/components/schemas/addressing_description'
      responses:
        '200':
          description: Update Prefix Description response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_single_response'
        4XX:
          description: Update Prefix Description response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_single_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes:
    get:
      tags:
      - Accounts
      summary: Cloudflare List BGP Prefixes
      description: List all BGP Prefixes within the specified IP Prefix. BGP Prefixes are used to control which specific subnets are advertised to the Internet. It is possible to advertise subnets more specific than an IP Prefix by creating more specific BGP Prefixes.
      operationId: ip-address-management-prefixes-list-bgp-prefixes
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: List BGP Prefixes response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_response_collection_bgp'
        4XX:
          description: List BGP Prefixes response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_response_collection_bgp'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes/{bgp_prefix_id}:
    get:
      tags:
      - Accounts
      summary: Cloudflare Fetch BGP Prefix
      description: Retrieve a single BGP Prefix according to its identifier
      operationId: ip-address-management-prefixes-fetch-bgp-prefix
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: bgp_prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: Fetch BGP Prefix response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_single_response_bgp'
        4XX:
          description: Fetch BGP Prefix response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_single_response_bgp'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    patch:
      tags:
      - Accounts
      summary: Cloudflare Update BGP Prefix
      description: Update the properties of a BGP Prefix, such as the on demand advertisement status (advertised or withdrawn).
      operationId: ip-address-management-prefixes-update-bgp-prefix
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: bgp_prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addressing_bgp_prefix_update_advertisement'
      responses:
        '200':
          description: Update BGP Prefix response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_single_response_bgp'
        4XX:
          description: Update BGP Prefix response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_single_response_bgp'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/status:
    get:
      tags:
      - Accounts
      summary: Cloudflare Get Advertisement Status
      description: List the current advertisement state for a prefix.
      operationId: ip-address-management-dynamic-advertisement-get-advertisement-status
      parameters:
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: Get Advertisement Status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_advertised_response'
        4XX:
          description: Get Advertisement Status response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_advertised_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    patch:
      tags:
      - Accounts
      summary: Cloudflare Update Prefix Dynamic Advertisement Status
      description: Advertise or withdraw BGP route for a prefix.
      operationId: ip-address-management-dynamic-advertisement-update-prefix-dynamic-advertisement-status
      parameters:
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - advertised
              properties:
                advertised:
                  $ref: '#/components/schemas/addressing_schemas-advertised'
      responses:
        '200':
          description: Update Prefix Dynamic Advertisement Status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_advertised_response'
        4XX:
          description: Update Prefix Dynamic Advertisement Status response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_advertised_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes/{prefix_id}/bindings:
    get:
      tags:
      - Accounts
      summary: Cloudflare List Service Bindings
      description: 'List the Cloudflare services this prefix is currently bound to. Traffic sent to an address within an IP prefix will be routed to the Cloudflare service of the most-specific Service Binding matching the address.

        **Example:** binding `192.0.2.0/24` to Cloudflare Magic Transit and `192.0.2.1/32` to the Cloudflare CDN would route traffic for `192.0.2.1` to the CDN, and traffic for all other IPs in the prefix to Cloudflare Magic Transit.

        '
      operationId: ip-address-management-service-bindings-list-service-bindings
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: Service Bindings attached to the Prefix
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/addressing_service_binding'
        4XX:
          description: List Service Bindings response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Accounts
      summary: Cloudflare Create Service Binding
      description: 'Creates a new Service Binding, routing traffic to IPs within the given CIDR to a service running on Cloudflare''s network.

        **Note:** This API may only be used on prefixes currently configured with a Magic Transit service binding, and only allows creating service bindings for the Cloudflare CDN or Cloudflare Spectrum.

        '
      operationId: ip-address-management-service-bindings-create-service-binding
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addressing_create_binding_request'
      responses:
        '201':
          description: The created Service Binding
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/addressing_service_binding'
        4XX:
          description: Create Service Binding response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes/{prefix_id}/bindings/{binding_id}:
    delete:
      tags:
      - Accounts
      summary: Cloudflare Delete Service Binding
      description: Delete a Service Binding
      operationId: ip-address-management-service-bindings-delete-service-binding
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: binding_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: Service Binding deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-common'
        4XX:
          description: Delete Service Binding response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    get:
      tags:
      - Accounts
      summary: Cloudflare Get Service Binding
      description: Fetch a single Service Binding
      operationId: ip-address-management-service-bindings-get-service-binding
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: binding_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: The Service Binding with the requested ID
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/addressing_service_binding'
        4XX:
          description: Get Service Binding response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations:
    get:
      tags:
      - Accounts
      summary: Cloudflare List Prefix Delegations
      description: List all delegations for a given account IP prefix.
      operationId: ip-address-management-prefix-delegation-list-prefix-delegations
      parameters:
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: List Prefix Delegations response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_schemas-response_collection'
        4XX:
          description: List Prefix Delegations response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_schemas-response_collection'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
    post:
      tags:
      - Accounts
      summary: Cloudflare Create Prefix Delegation
      description: Create a new account delegation for a given IP prefix.
      operationId: ip-address-management-prefix-delegation-create-prefix-delegation
      parameters:
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - cidr
              - delegated_account_id
              properties:
                cidr:
                  $ref: '#/components/schemas/addressing_cidr'
                delegated_account_id:
                  $ref: '#/components/schemas/addressing_delegated_account_identifier'
      responses:
        '200':
          description: Create Prefix Delegation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_schemas-single_response'
        4XX:
          description: Create Prefix Delegation response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_schemas-single_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations/{delegation_id}:
    delete:
      tags:
      - Accounts
      summary: Cloudflare Delete Prefix Delegation
      description: Delete an account delegation for a given IP prefix.
      operationId: ip-address-management-prefix-delegation-delete-prefix-delegation
      parameters:
      - name: delegation_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_delegation_identifier'
      - name: prefix_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        '200':
          description: Delete Prefix Delegation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_id_response'
        4XX:
          description: Delete Prefix Delegation response failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_id_response'
                - $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/addressing/services:
    get:
      tags:
      - Accounts
      summary: Cloudflare List Services
      description: 'Bring-Your-Own IP (BYOIP) prefixes onboarded to Cloudflare must be bound to a service running on the Cloudflare network to enable a Cloudflare product on the IP addresses. This endpoint can be used as a reference of available services on the Cloudflare network, and their service IDs.

        '
      operationId: ip-address-management-service-bindings-list-services
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/addressing_identifier'
      responses:
        '200':
          description: Service names and IDs
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addressing_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        properties:
                          id:
                            $ref: '#/components/schemas/addressing_service_identifier'
                          name:
                            $ref: '#/components/schemas/addressing_service_name'
        4XX:
          description: List Services response failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/baai/bge-base-en-v1.5:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/baai/bge-base-en-v1.5 model.
      operationId: workers-ai-post-run-cf-baai-bge-base-en-v1-5
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  oneOf:
                  - type: string
                  - type: array
                    maxItems: 100
                    items:
                      type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      shape:
                        type: array
                        items:
                          type: number
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/baai/bge-large-en-v1.5:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/baai/bge-large-en-v1.5 model.
      operationId: workers-ai-post-run-cf-baai-bge-large-en-v1-5
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  oneOf:
                  - type: string
                  - type: array
                    maxItems: 100
                    items:
                      type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      shape:
                        type: array
                        items:
                          type: number
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/baai/bge-small-en-v1.5:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/baai/bge-small-en-v1.5 model.
      operationId: workers-ai-post-run-cf-baai-bge-small-en-v1-5
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  oneOf:
                  - type: string
                  - type: array
                    maxItems: 100
                    items:
                      type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      shape:
                        type: array
                        items:
                          type: number
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/bytedance/stable-diffusion-xl-lightning:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/bytedance/stable-diffusion-xl-lightning model.
      operationId: workers-ai-post-run-cf-bytedance-stable-diffusion-xl-lightning
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - prompt
              properties:
                guidance:
                  type: number
                  default: 7.5
                image:
                  type: array
                  items:
                    type: number
                mask:
                  type: array
                  items:
                    type: number
                num_steps:
                  type: integer
                  default: 20
                  maximum: 20
                prompt:
                  type: string
                strength:
                  type: number
                  default: 1
      responses:
        '200':
          description: Successful response
          content:
            image/png:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: binary
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/deepseek-ai/deepseek-math-7b-base:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/deepseek-ai/deepseek-math-7b-base model.
      operationId: workers-ai-post-run-cf-deepseek-ai-deepseek-math-7b-base
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      properties:
                        content:
                          type: string
                          maxLength: 6144
                        role:
                          type: string
                  stream:
                    type: boolean
                    default: false
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    oneOf:
                    - type: object
                      properties:
                        response:
                          type: string
                    - type: string
                      format: binary
                  success:
                    type: boolean
                    default: 'true'
            text/event-stream:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/deepseek-ai/deepseek-math-7b-instruct:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/deepseek-ai/deepseek-math-7b-instruct model.
      operationId: workers-ai-post-run-cf-deepseek-ai-deepseek-math-7b-instruct
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      properties:
                        content:
                          type: string
                          maxLength: 6144
                        role:
                          type: string
                  stream:
                    type: boolean
                    default: false
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    oneOf:
                    - type: object
                      properties:
                        response:
                          type: string
                    - type: string
                      format: binary
                  success:
                    type: boolean
                    default: 'true'
            text/event-stream:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/defog/sqlcoder-7b-2:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/defog/sqlcoder-7b-2 model.
      operationId: workers-ai-post-run-cf-defog-sqlcoder-7b-2
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      properties:
                        content:
                          type: string
                          maxLength: 6144
                        role:
                          type: string
                  stream:
                    type: boolean
                    default: false
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    oneOf:
                    - type: object
                      properties:
                        response:
                          type: string
                    - type: string
                      format: binary
                  success:
                    type: boolean
                    default: 'true'
            text/event-stream:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/facebook/bart-large-cnn:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/facebook/bart-large-cnn model.
      operationId: workers-ai-post-run-cf-facebook-bart-large-cnn
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - input_text
              properties:
                input_text:
                  type: string
                max_length:
                  type: integer
                  default: 1024
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      summary:
                        type: string
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/facebook/detr-resnet-50:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/facebook/detr-resnet-50 model.
      operationId: workers-ai-post-run-cf-facebook-detr-resnet-50
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        box:
                          type: object
                          properties:
                            xmax:
                              type: number
                            xmin:
                              type: number
                            ymax:
                              type: number
                            ymin:
                              type: number
                        label:
                          type: string
                        score:
                          type: number
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/huggingface/distilbert-sst-2-int8:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/huggingface/distilbert-sst-2-int8 model.
      operationId: workers-ai-post-run-cf-huggingface-distilbert-sst-2-int8
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        score:
                          type: number
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/jpmorganchase/roberta-spam:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/jpmorganchase/roberta-spam model.
      operationId: workers-ai-post-run-cf-jpmorganchase-roberta-spam
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        score:
                          type: number
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/lykon/dreamshaper-8-lcm:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/lykon/dreamshaper-8-lcm model.
      operationId: workers-ai-post-run-cf-lykon-dreamshaper-8-lcm
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - prompt
              properties:
                guidance:
                  type: number
                  default: 7.5
                image:
                  type: array
                  items:
                    type: number
                mask:
                  type: array
                  items:
                    type: number
                num_steps:
                  type: integer
                  default: 20
                  maximum: 20
                prompt:
                  type: string
                strength:
                  type: number
                  default: 1
      responses:
        '200':
          description: Successful response
          content:
            image/png:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: binary
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/meta/llama-2-7b-chat-fp16:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/meta/llama-2-7b-chat-fp16 model.
      operationId: workers-ai-post-run-cf-meta-llama-2-7b-chat-fp16
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      properties:
                        content:
                          type: string
                          maxLength: 6144
                        role:
                          type: string
                  stream:
                    type: boolean
                    default: false
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    oneOf:
                    - type: object
                      properties:
                        response:
                          type: string
                    - type: string
                      format: binary
                  success:
                    type: boolean
                    default: 'true'
            text/event-stream:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/meta/llama-2-7b-chat-int8:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/meta/llama-2-7b-chat-int8 model.
      operationId: workers-ai-post-run-cf-meta-llama-2-7b-chat-int8
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      properties:
                        content:
                          type: string
                          maxLength: 6144
                        role:
                          type: string
                  stream:
                    type: boolean
                    default: false
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    oneOf:
                    - type: object
                      properties:
                        response:
                          type: string
                    - type: string
                      format: binary
                  success:
                    type: boolean
                    default: 'true'
            text/event-stream:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/meta/m2m100-1.2b:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/meta/m2m100-1.2b model.
      operationId: workers-ai-post-run-cf-meta-m2m100-1-2b
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              - target_lang
              properties:
                source_lang:
                  type: string
                  default: en
                target_lang:
                  type: string
                text:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      translated_text:
                        type: string
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/microsoft/phi-2:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/microsoft/phi-2 model.
      operationId: workers-ai-post-run-cf-microsoft-phi-2
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      properties:
                        content:
                          type: string
                          maxLength: 6144
                        role:
                          type: string
                  stream:
                    type: boolean
                    default: false
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    oneOf:
                    - type: object
                      properties:
                        response:
                          type: string
                    - type: string
                      format: binary
                  success:
                    type: boolean
                    default: 'true'
            text/event-stream:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/microsoft/resnet-50:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/microsoft/resnet-50 model.
      operationId: workers-ai-post-run-cf-microsoft-resnet-50
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        score:
                          type: number
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/mistral/mistral-7b-instruct-v0.1:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/mistral/mistral-7b-instruct-v0.1 model.
      operationId: workers-ai-post-run-cf-mistral-mistral-7b-instruct-v0-1
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      properties:
                        content:
                          type: string
                          maxLength: 6144
                        role:
                          type: string
                  stream:
                    type: boolean
                    default: false
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    oneOf:
                    - type: object
                      properties:
                        response:
                          type: string
                    - type: string
                      format: binary
                  success:
                    type: boolean
                    default: 'true'
            text/event-stream:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/openai/whisper:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/openai/whisper model.
      operationId: workers-ai-post-run-cf-openai-whisper
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    required:
                    - text
                    properties:
                      text:
                        type: string
                      word_count:
                        type: number
                      words:
                        type: array
                        items:
                          type: object
                          properties:
                            end:
                              type: number
                            start:
                              type: number
                            word:
                              type: string
                  success:
                    type: boolean
                    default: 'true'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/openchat/openchat-3.5-0106:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/openchat/openchat-3.5-0106 model.
      operationId: workers-ai-post-run-cf-openchat-openchat-3-5-0106
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - role
                      - content
                      properties:
                        content:
                          type: string
                          maxLength: 6144
                        role:
                          type: string
                  stream:
                    type: boolean
                    default: false
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    oneOf:
                    - type: object
                      properties:
                        response:
                          type: string
                    - type: string
                      format: binary
                  success:
                    type: boolean
                    default: 'true'
            text/event-stream:
              schema: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                - success
                - result
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - code
                      - message
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  result:
                    type: object
                  success:
                    type: boolean
      security:
      - api_token: []
      - api_email: []
        api_key: []
  /accounts/{account_id}/ai/run/@cf/qwen/qwen1.5-0.5b-chat:
    post:
      tags:
      - Accounts
      summary: Cloudflare Execute @cf/qwen/qwen1.5-0.5b-chat model.
      operationId: workers-ai-post-run-cf-qwen-qwen1-5-0-5b-chat
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - required:
                - prompt
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  prompt:
                    type: string
                    maxLength: 6144
                  raw:
                    type: boolean
                    default: false
                  stream:
                    type: boolean
                    default: false
              - required:
                - messages
                properties:
                  max_tokens:
                    type: integer
                    default: 256
                  messages:
[...]
