openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Load Balancers API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Load Balancers
paths:
  /zones/{zone_id}/load_balancers:
    get:
      operationId: load-balancers-list-load-balancers
      summary: List Load Balancers
      description: List configured load balancers.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      responses:
        '200':
          description: List Load Balancers response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-response_collection'
        4XX:
          description: List Load Balancers response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-response_collection'
                - $ref: '#/components/schemas/load-balancing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Load Balancers
      x-api-token-group:
      - Load Balancers Write
      - Load Balancers Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: load-balancers
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: load-balancers-create-load-balancer
      summary: Create Load Balancer
      description: Create a new load balancer.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adaptive_routing:
                  $ref: '#/components/schemas/load-balancing_adaptive_routing'
                country_pools:
                  $ref: '#/components/schemas/load-balancing_country_pools'
                default_pools:
                  $ref: '#/components/schemas/load-balancing_default_pools'
                description:
                  $ref: '#/components/schemas/load-balancing_components-schemas-description'
                fallback_pool:
                  $ref: '#/components/schemas/load-balancing_fallback_pool'
                location_strategy:
                  $ref: '#/components/schemas/load-balancing_location_strategy'
                name:
                  $ref: '#/components/schemas/load-balancing_components-schemas-name'
                networks:
                  $ref: '#/components/schemas/load-balancing_networks'
                pop_pools:
                  $ref: '#/components/schemas/load-balancing_pop_pools'
                proxied:
                  $ref: '#/components/schemas/load-balancing_proxied'
                random_steering:
                  $ref: '#/components/schemas/load-balancing_random_steering'
                region_pools:
                  $ref: '#/components/schemas/load-balancing_region_pools'
                rules:
                  $ref: '#/components/schemas/load-balancing_rules'
                session_affinity:
                  $ref: '#/components/schemas/load-balancing_session_affinity'
                session_affinity_attributes:
                  $ref: '#/components/schemas/load-balancing_session_affinity_attributes'
                session_affinity_ttl:
                  $ref: '#/components/schemas/load-balancing_session_affinity_ttl'
                steering_policy:
                  $ref: '#/components/schemas/load-balancing_steering_policy'
                ttl:
                  $ref: '#/components/schemas/load-balancing_ttl'
              required:
              - name
              - default_pools
              - fallback_pool
      responses:
        '200':
          description: Create Load Balancer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-single_response'
        4XX:
          description: Create Load Balancer response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-single_response'
                - $ref: '#/components/schemas/load-balancing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Load Balancers
      x-api-token-group:
      - Load Balancers Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: load-balancers
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /zones/{zone_id}/load_balancers/{load_balancer_id}:
    delete:
      operationId: load-balancers-delete-load-balancer
      summary: Delete Load Balancer
      description: Delete a configured load balancer.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      - name: load_balancer_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      responses:
        '200':
          description: Delete Load Balancer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load-balancing_components-schemas-id_response'
        4XX:
          description: Delete Load Balancer response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/load-balancing_components-schemas-id_response'
                - $ref: '#/components/schemas/load-balancing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Load Balancers
      x-api-token-group:
      - Load Balancers Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: load-balancers
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
    get:
      operationId: load-balancers-load-balancer-details
      summary: Load Balancer Details
      description: Fetch a single configured load balancer.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      - name: load_balancer_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      responses:
        '200':
          description: Load Balancer Details response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-single_response'
        4XX:
          description: Load Balancer Details response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-single_response'
                - $ref: '#/components/schemas/load-balancing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Load Balancers
      x-api-token-group:
      - Load Balancers Write
      - Load Balancers Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: load-balancers
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: load-balancers-patch-load-balancer
      summary: Patch Load Balancer
      description: Apply changes to an existing load balancer, overwriting the supplied properties.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      - name: load_balancer_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adaptive_routing:
                  $ref: '#/components/schemas/load-balancing_adaptive_routing'
                country_pools:
                  $ref: '#/components/schemas/load-balancing_country_pools'
                default_pools:
                  $ref: '#/components/schemas/load-balancing_default_pools'
                description:
                  $ref: '#/components/schemas/load-balancing_components-schemas-description'
                enabled:
                  $ref: '#/components/schemas/load-balancing_components-schemas-enabled'
                fallback_pool:
                  $ref: '#/components/schemas/load-balancing_fallback_pool'
                location_strategy:
                  $ref: '#/components/schemas/load-balancing_location_strategy'
                name:
                  $ref: '#/components/schemas/load-balancing_components-schemas-name'
                pop_pools:
                  $ref: '#/components/schemas/load-balancing_pop_pools'
                proxied:
                  $ref: '#/components/schemas/load-balancing_proxied'
                random_steering:
                  $ref: '#/components/schemas/load-balancing_random_steering'
                region_pools:
                  $ref: '#/components/schemas/load-balancing_region_pools'
                rules:
                  $ref: '#/components/schemas/load-balancing_rules'
                session_affinity:
                  $ref: '#/components/schemas/load-balancing_session_affinity'
                session_affinity_attributes:
                  $ref: '#/components/schemas/load-balancing_session_affinity_attributes'
                session_affinity_ttl:
                  $ref: '#/components/schemas/load-balancing_session_affinity_ttl'
                steering_policy:
                  $ref: '#/components/schemas/load-balancing_steering_policy'
                ttl:
                  $ref: '#/components/schemas/load-balancing_ttl'
      responses:
        '200':
          description: Patch Load Balancer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-single_response'
        4XX:
          description: Patch Load Balancer response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-single_response'
                - $ref: '#/components/schemas/load-balancing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Load Balancers
      x-api-token-group:
      - Load Balancers Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: load-balancers
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
    put:
      operationId: load-balancers-update-load-balancer
      summary: Update Load Balancer
      description: Update a configured load balancer.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      - name: load_balancer_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adaptive_routing:
                  $ref: '#/components/schemas/load-balancing_adaptive_routing'
                country_pools:
                  $ref: '#/components/schemas/load-balancing_country_pools'
                default_pools:
                  $ref: '#/components/schemas/load-balancing_default_pools'
                description:
                  $ref: '#/components/schemas/load-balancing_components-schemas-description'
                enabled:
                  $ref: '#/components/schemas/load-balancing_components-schemas-enabled'
                fallback_pool:
                  $ref: '#/components/schemas/load-balancing_fallback_pool'
                location_strategy:
                  $ref: '#/components/schemas/load-balancing_location_strategy'
                name:
                  $ref: '#/components/schemas/load-balancing_components-schemas-name'
                networks:
                  $ref: '#/components/schemas/load-balancing_networks'
                pop_pools:
                  $ref: '#/components/schemas/load-balancing_pop_pools'
                proxied:
                  $ref: '#/components/schemas/load-balancing_proxied'
                random_steering:
                  $ref: '#/components/schemas/load-balancing_random_steering'
                region_pools:
                  $ref: '#/components/schemas/load-balancing_region_pools'
                rules:
                  $ref: '#/components/schemas/load-balancing_rules'
                session_affinity:
                  $ref: '#/components/schemas/load-balancing_session_affinity'
                session_affinity_attributes:
                  $ref: '#/components/schemas/load-balancing_session_affinity_attributes'
                session_affinity_ttl:
                  $ref: '#/components/schemas/load-balancing_session_affinity_ttl'
                steering_policy:
                  $ref: '#/components/schemas/load-balancing_steering_policy'
                ttl:
                  $ref: '#/components/schemas/load-balancing_ttl'
              required:
              - name
              - default_pools
              - fallback_pool
      responses:
        '200':
          description: Update Load Balancer response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-single_response'
        4XX:
          description: Update Load Balancer response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-single_response'
                - $ref: '#/components/schemas/load-balancing_api-response-common-failure'
      security:
      - api_email: []
        api_key: []
        api_token: []
      tags:
      - Load Balancers
      x-api-token-group:
      - Load Balancers Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: load-balancers
      x-fern-sdk-method-name: update
      x-forge-hidden: true
components:
  schemas:
    load-balancing_load-balancer_components-schemas-response_collection:
      allOf:
      - $ref: '#/components/schemas/load-balancing_api-paginated-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/load-balancing_load-balancer'
        type: object
    load-balancing_pool_set:
      description: One entry in a load balancer's `pool_sets`. Pool sets are evaluated in array order; the first whose `match` succeeds applies its `overrides` (or `fixed_response`), and evaluation stops there.
      type: object
      properties:
        disabled:
          description: Disable this specific pool set. It will no longer be evaluated.
          type: boolean
          default: false
          x-auditable: true
        fixed_response:
          $ref: '#/components/schemas/load-balancing_fixed_response'
        match:
          $ref: '#/components/schemas/load-balancing_match'
        name:
          description: A human-readable name for this pool set.
          type: string
          example: wnam-primary
          maxLength: 200
          x-auditable: true
        overrides:
          $ref: '#/components/schemas/load-balancing_pool_set_overrides'
      example:
        match:
          topology:
            regions:
            - WNAM
        name: wnam-primary
        overrides:
          fallback_pool: 9290f38c5d07c2e2f4df57b1f61d4196
          pools:
          - 17b5962d775c646f3f9725cbc7a53df4
          steering_policy: random
      x-stainless-terraform-configurability: computed_optional
    load-balancing_location_strategy:
      description: Controls location-based steering for non-proxied requests. See `steering_policy` to learn how steering is affected.
      type: object
      properties:
        mode:
          description: 'Determines the authoritative location when ECS is not preferred, does not exist in the request, or its GeoIP lookup is unsuccessful.

            - `"pop"`: Use the Cloudflare PoP location.

            - `"resolver_ip"`: Use the DNS resolver GeoIP location. If the GeoIP lookup is unsuccessful, use the Cloudflare PoP location.'
          type: string
          example: resolver_ip
          default: pop
          enum:
          - pop
          - resolver_ip
          x-auditable: true
        prefer_ecs:
          description: 'Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as the authoritative location.

            - `"always"`: Always prefer ECS.

            - `"never"`: Never prefer ECS.

            - `"proximity"`: Prefer ECS only when `steering_policy="proximity"`.

            - `"geo"`: Prefer ECS only when `steering_policy="geo"`.'
          type: string
          example: always
          default: proximity
          enum:
          - always
          - never
          - proximity
          - geo
          x-auditable: true
    load-balancing_ttl:
      description: Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers.
      type: number
      example: 30
      x-auditable: true
    load-balancing_session_affinity:
      description: 'Specifies the type of session affinity the load balancer should use unless specified as `"none"`. The supported types are: - `"cookie"`: On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - `"ip_cookie"`: Behaves the same as `"cookie"` except the initial origin selection is stable and based on the client''s ip address. - `"header"`: On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see `session_affinity_attributes.headers`) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of `session_affinity_ttl` seconds or the origin server is unhealthy, then a new origin server is calculated and used. See `headers` in `session_affinity_attributes` for additional required configuration.'
      type: string
      example: cookie
      default: none
      enum:
      - none
      - cookie
      - ip_cookie
      - header
      x-auditable: true
    load-balancing_match:
      description: 'Determines which requests a pool set applies to. Set `topology` to match by location or `default: true` to match all requests; the two are mutually exclusive. A pool set with no `match` matches all requests.'
      type: object
      properties:
        default:
          description: When true, matches every request. Cannot be combined with `topology`.
          type: boolean
          default: false
          x-auditable: true
        topology:
          $ref: '#/components/schemas/load-balancing_topology_match'
      x-stainless-terraform-configurability: computed_optional
    load-balancing_load-balancer:
      type: object
      properties:
        adaptive_routing:
          $ref: '#/components/schemas/load-balancing_adaptive_routing'
        country_pools:
          $ref: '#/components/schemas/load-balancing_country_pools'
        created_on:
          $ref: '#/components/schemas/load-balancing_timestamp'
        default_pools:
          $ref: '#/components/schemas/load-balancing_default_pools'
        description:
          $ref: '#/components/schemas/load-balancing_components-schemas-description'
        enabled:
          $ref: '#/components/schemas/load-balancing_components-schemas-enabled'
        fallback_pool:
          $ref: '#/components/schemas/load-balancing_fallback_pool'
        id:
          $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
        location_strategy:
          $ref: '#/components/schemas/load-balancing_location_strategy'
        modified_on:
          $ref: '#/components/schemas/load-balancing_timestamp'
        name:
          $ref: '#/components/schemas/load-balancing_components-schemas-name'
        networks:
          $ref: '#/components/schemas/load-balancing_networks'
        pool_sets:
          $ref: '#/components/schemas/load-balancing_pool_sets'
        pop_pools:
          $ref: '#/components/schemas/load-balancing_pop_pools'
        proxied:
          $ref: '#/components/schemas/load-balancing_proxied'
        random_steering:
          $ref: '#/components/schemas/load-balancing_random_steering'
        region_pools:
          $ref: '#/components/schemas/load-balancing_region_pools'
        rules:
          $ref: '#/components/schemas/load-balancing_rules'
        session_affinity:
          $ref: '#/components/schemas/load-balancing_session_affinity'
        session_affinity_attributes:
          $ref: '#/components/schemas/load-balancing_session_affinity_attributes'
        session_affinity_ttl:
          $ref: '#/components/schemas/load-balancing_session_affinity_ttl'
        steering_policy:
          $ref: '#/components/schemas/load-balancing_steering_policy'
        ttl:
          $ref: '#/components/schemas/load-balancing_ttl'
        zone_name:
          $ref: '#/components/schemas/load-balancing_components-schemas-zone-name'
    load-balancing_country_pools:
      description: A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools.
      type: object
      example:
        GB:
        - abd90f38ced07c2e2f4df50b1f61d4194
        US:
        - de90f38ced07c2e2f4df50b1f61d4194
        - 00920f38ce07c2e2f4df50b1f61d4194
      additionalProperties:
        description: A `string:[string]` object of key-values. Country code maps to list of pool IDs.
        items:
          type: string
          x-auditable: true
        type: array
    load-balancing_load-balancer_components-schemas-identifier:
      type: string
      example: 699d98642c564d2e855e9661899b7252
      x-auditable: true
    load-balancing_api-paginated-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/load-balancing_api-response-common'
      - properties:
          result_info:
            $ref: '#/components/schemas/load-balancing_result_info'
        type: object
      required:
      - result_info
    load-balancing_components-schemas-zone-name:
      type: string
      example: example.com
      x-auditable: true
    load-balancing_pool_set_overrides:
      description: 'The behavior a pool set applies when its `match` succeeds. A strict subset of a rule''s `overrides`: a pool set replaces the topology wholesale with a flat pool list (`pools`), so only the declarative pool-routing fields plus `fallback_pool` and `steering_policy` are settable. All fields are optional.'
      type: object
      properties:
        fallback_pool:
          $ref: '#/components/schemas/load-balancing_fallback_pool'
        pool_default_weight:
          $ref: '#/components/schemas/load-balancing_pool_default_weight'
        pool_weights:
          $ref: '#/components/schemas/load-balancing_pool_weights'
        pools:
          $ref: '#/components/schemas/load-balancing_pools'
        steering_policy:
          $ref: '#/components/schemas/load-balancing_steering_policy'
      x-stainless-terraform-configurability: computed_optional
    load-balancing_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/load-balancing_messages'
        messages:
          $ref: '#/components/schemas/load-balancing_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
      - result
    load-balancing_topology_match:
      description: 'Matches requests by location. Set any combination of `pops`, `countries`, and `regions` (at least one is required); a request matches when its value appears in any populated list (e.g. `regions: ["WNAM"]` with `countries: ["US"]` matches a request in either WNAM or the US).'
      type: object
      properties:
        countries:
          description: A list of ISO 3166-1 alpha-2 country codes. Matches when the request's country is in this list.
          type: array
          items:
            type: string
            x-auditable: true
          maxItems: 1000
        pops:
          description: A list of Cloudflare PoP codes. Matches when the request's PoP is in this list.
          type: array
          items:
            type: string
            x-auditable: true
          maxItems: 1000
        regions:
          description: A list of Cloudflare region codes (e.g. `WNAM`, `ENAM`, `WEU`). Matches when the request's region is in this list.
          type: array
          items:
            type: string
            x-auditable: true
          maxItems: 1000
      x-stainless-terraform-configurability: computed_optional
    load-balancing_rules:
      description: 'BETA Field Not General Access: A list of rules for this load balancer to execute.'
      type: array
      items:
        additionalProperties: false
        description: A rule object containing conditions and overrides for this load balancer to evaluate.
        properties:
          condition:
            description: The condition expressions to evaluate. If the condition evaluates to true, the overrides or fixed_response in this rule will be applied. An empty condition is always true. For more details on condition expressions, please see https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions.
            type: string
            example: http.request.uri.path contains "/testing"
            x-auditable: true
          disabled:
            description: Disable this specific rule. It will no longer be evaluated by this load balancer.
            type: boolean
            default: false
            x-auditable: true
          fixed_response:
            $ref: '#/components/schemas/load-balancing_fixed_response'
          name:
            description: Name of this rule. Only used for human readability.
            type: string
            example: route the path /testing to testing datacenter.
            maxLength: 200
            x-auditable: true
          overrides:
            $ref: '#/components/schemas/load-balancing_rule_overrides'
          priority:
            description: The order in which rules should be executed in relation to each other. Lower values are executed first. Values do not need to be sequential. If no value is provided for any rule the array order of the rules field will be used to assign a priority.
            type: integer
            default: 0
            minimum: 0
            x-auditable: true
          terminates:
            description: If this rule's condition is true, this causes rule evaluation to stop after processing this rule.
            type: boolean
            x-auditable: true
        type: object
    load-balancing_components-schemas-name:
      description: The DNS hostname to associate with your Load Balancer. If this hostname already exists as a DNS record in Cloudflare's DNS, the Load Balancer will take precedence and the DNS record will not be used.
      type: string
      example: www.example.com
      x-auditable: true
    load-balancing_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/load-balancing_api-response-common'
      - properties:
          result:
            anyOf:
            - type:
              - object
              - 'null'
            - type:
              - string
              - 'null'
        type: object
    load-balancing_pool_weights:
      description: A mapping of pool IDs to custom weights, relative to the other pools. The declarative alternative to `random_steering.pool_weights`; mutually exclusive with `random_steering`.
      type: object
      example:
        9290f38c5d07c2e2f4df57b1f61d4196: 0.5
        de90f38ced07c2e2f4df50b1f61d4194: 0.3
      additionalProperties:
        type: number
        x-auditable: true
      x-stainless-terraform-configurability: computed_optional
    load-balancing_timestamp:
      type: string
      format: date-time
      example: '2014-01-01T05:20:00.12345Z'
      readOnly: true
      x-auditable: true
    load-balancing_region_pools:
      description: A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools.
      type: object
      example:
        ENAM:
        - 00920f38ce07c2e2f4df50b1f61d4194
        WNAM:
        - de90f38ced07c2e2f4df50b1f61d4194
        - 9290f38c5d07c2e2f4df57b1f61d4196
      additionalProperties:
        description: A `string:[string]` object of key-values. Region code maps to list of pool IDs.
        items:
          type: string
          x-auditable: true
        type: array
    load-balancing_proxied:
      description: Whether the hostname should be gray clouded (false) or orange clouded (true).
      type: boolean
      example: true
      default: false
      x-auditable: true
    load-balancing_session_affinity_ttl:
      description: 'Time, in seconds, until a client''s session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per `session_affinity` policy are: - `"cookie"` / `"ip_cookie"`: The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - `"header"`: The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven''t been used for the number of seconds specified.'
      type: number
      example: 1800
      x-auditable: true
    load-balancing_fallback_pool:
      description: The pool ID to use when all other pools are detected as unhealthy.
      type: string
      x-auditable: true
    load-balancing_networks:
      description: List of networks where Load Balancer or Pool is enabled.
      type: array
      items:
        example:
        - cloudflare
        - jdcloud
        type: string
        x-auditable: true
        x-stainless-terraform-configurability: computed_optional
    load-balancing_components-schemas-enabled:
      description: Whether to enable (the default) this load balancer.
      type: boolean
      example: true
      default: true
      x-auditable: true
    load-balancing_components-schemas-id_response:
      allOf:
      - $ref: '#/components/schemas/load-balancing_api-response-single'
      - properties:
          result:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/load-balancing_load-balancer_components-schemas-identifier'
        type: object
    load-balancing_rule_overrides:
      description: A collection of overrides to apply when this rule's condition (or a pool set's `match`) is true. All fields are optional.
      type: object
      properties:
        adaptive_routing:
          $ref: '#/components/schemas/load-balancing_adaptive_routing'
        country_pools:
          $ref: '#/components/schemas/load-balancing_country_pools'
        default_pools:
          $ref: '#/components/schemas/load-balancing_default_pools'
        fallback_pool:
          $ref: '#/components/schemas/load-balancing_fallback_pool'
        location_strategy:
          $ref: '#/components/schemas/load-balancing_location_strategy'
        pool_default_weight:
          $ref: '#/components/schemas/load-balancing_pool_default_weight'
        pool_weights:
          $ref: '#/components/schemas/load-balancing_pool_weights'
        pools:
          $ref: '#/components/schemas/load-balancing_pools'
        pop_pools:
          $ref: '#/components/schemas/load-balancing_pop_pools'
        random_steering:
          $ref: '#/components/schemas/load-balancing_random_steering'
        region_pools:
          $ref: '#/components/schemas/load-balancing_region_pools'
        session_affinity:
          $ref: '#/components/schemas/load-balancing_session_affinity'
        session_affinity_attributes:
          $ref: '#/components/schemas/load-balancing_session_affinity_attributes'
        session_affinity_ttl:
          $ref: '#/components/schemas/load-balancing_session_affinity_ttl'
        steering_policy:
          $ref: '#/components/schemas/load-balancing_steering_policy'
        ttl:
          $ref: '#/components/schemas/load-balancing_ttl'
      x-stainless-terraform-configurability: computed_optional
    load-balancing_pool_sets:
      description: 'An optional list of pool sets, evaluated in array order with first match wins. Pool sets are independent from the standard steering fields (`region_pools` / `country_pools` / `pop_pools` / `default_pools` / `steering_policy` / `random_steering` / `fallback_pool` / `rules`). On a PATCH, an empty array (`pool_sets: []`) clears all pool sets, while omitting the field leaves existing pool sets unchanged.'
      type: array
      items:
        $ref: '#/components/schemas/load-balancing_pool_set'
      x-stainless-terraform-configurability: computed_optional
    load-balancing_session_affinity_attributes:
      description: Configures attributes for session affinity.
      type: object
      properties:
        drain_duration:
          description: Configures the drain duration in seconds. This field is only used when session affinity is enabled on the load balancer.
          type: number
          example: 100
          x-auditable: true
        headers:
          description: 'Configures the names of HTTP headers to base session affinity on when header `session_affinity` is enabled. At least one HTTP header name must be provided. To specify the exact cookies to be used, include an item in the following format: `"cookie:<cookie-name-1>,<cookie-name-2>"` (example) where everything after the colon is a comma-separated list of cookie names. Providing only `"cookie"` will result in all cookies being used. The default max number of HTTP header names that can be provided depends on your plan: 5 for Enterprise, 1 for all other plans.'
          type: array
          items:
            description: An HTTP header name.
            maxLength: 100
            minLength: 1
            pattern: ^[a-zA-Z0-9_-]+$
            type: string
            x-auditable: true
          default: []
          uniqueItems: true
        require_all_headers:
          description: 'When header `session_affinity` is enabled, this option can be used to specify how HTTP headers on load balancing requests will be used. The supported values are: - `"true"`: Load balancing requests must contain *all* of the HTTP headers specified by the `headers` session affinity attribute, otherwise sessions aren''t created. - `"false"`: Load balancing requests must contain *at least one* of the HTTP headers specified by the `headers` session affinity attribute, otherwise sessions aren''t created.'
          type: boolean
          default: false
          x-auditable: true
        samesite:
          description: 'Configures the SameSite attribute on session affinity cookie. Value "Auto" will be translated to "Lax" or "None" depending if Always Use HTTPS is enabled. Note: when using value "None", the secure attribute can not be set to "Never".'
          type: string
          example: Auto
          default: Auto
          enum:
          - Auto
          - Lax
          - None
          - Strict
          x-auditable: true
        secure:
          description: Configures the Secure attribute on session affinity cookie. Value "Always" indicates the Secure attribute will be set in the Set-Cookie header, "Never" indicates the Secure attribute will not be set, and "Auto" will set the Secure attribute depending if Always Use HTTPS is enabled.
          type: string
          example: Auto
          default: Auto
          enum:
          - Auto
          - Always
          - Never
          x-auditable: true
        zero_downtime_failover:
          description: 'Configures the zero-downtime failover between origins within a pool when session affinity is enabled. This feature is currently incompatible with Argo, Tiered Cache, and Bandwidth Alliance. The supported values are: - `"none"`: No failover takes place for sessions pinned to the origin (default). - `"temporary"`: Traffic will be sent to another other healthy origin until the originally pinned origin is available; note that this can potentially result in heavy origin flapping. - `"sticky"`: The session affinity cookie is updated and subsequent requests are sent to the new origin. Note: Zero-downtime failover with sticky sessions is currently not supported for session affinity by header.'
          type: string
          example: sticky
          default: none
          enum:
          - none
          - temporary
          - sticky
          x-auditable: true
    load-balancing_default_pools:
      description: A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region.
      type: array
      items:
        description: A pool ID.
        type: string
      example:
      - 17b5962d775c646f3f9725cbc7a53df4
      - 9290f38c5d07c2e2f4df57b1f61d4196
      - 00920f38ce07c2e2f4df50b1f61d4194
    load-balancing_pop_pools:
      description: 'Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools.'
      type: object
      example:
        LAX:
        - de90f38ced07c2e2f4df50b1f61d4194
        - 9290f38c5d07c2e2f4df57b1f61d4196
        LHR:
        - abd90f38ced07c2e2f4df50b1f61d4194
        - f9138c5d07c2e2f4df57b1f61d4196
        SJC:
        - 00920f38ce07c2e2f4df50b1f61d4194
      additionalProperties:
        description: A `string:[string]` object of key-values. PoP code maps to list of pool IDs.
        items:
          type: string
          x-auditable: true
        type: array
    load-balancing_load-balancer_components-schemas-single_response:
      allOf:
      - $ref: '#/components/schemas/load-balancing_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/load-balancing_load-balancer'
        type: object
    load-balancing_pool_default_weight:
      description: The default weight for pools not listed in `pool_weights`. The declarative alternative to `random_steering.default_weight`; mutually exclusive with `random_steering`.
      type: number
      example: 0.2
      maximum: 1
      minimum: 0
      multipleOf: 0.1
      x-stainless-terraform-configurability: computed_optional
    load-balancing_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          message:
            type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    load-balancing_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/load-balancing_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/load-balancing_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    load-balancing_steering_policy:
      description: 'Steering Policy for this load balancer.

        - `"off"`: Use `default_pools`.

        - `"geo"`: Use `region_pools`/`country_pools`/`pop_pools`. For non-proxied requests, the country for `country_pools` is determined by `location_strategy`.

        - `"random"`: Select a pool randomly.

        - `"dynamic_latency"`: Use round trip time to select the closest pool in default_pools (requires pool health checks).

        - `"proximity"`: Use the pools'' latitude and longitude to select the closest pool using the Cloudflare PoP location for proxied requests or the location determined by `location_strategy` for non-proxied requests.

        - `"least_outstanding_requests"`: Select a pool by taking into consideration `random_steering` weights, as well as each pool''s number of outstanding requests. Pools with more pending requests are weighted proportionately less relative to others.

        - `"least_connections"`: Select a pool by taking into consideration `random_steering` weights, as well as each pool''s number of open connections. Pools with more open connections are weighted proportionately less relative to others. Supported for HTTP/1 and HTTP/2 connections.

        - `""`: Will map to `"geo"` if you use `region_pools`/`country_pools`/`pop_pools` otherwise `"off"`.'
      type: string
      example: dynamic_latency
      default: ''
      enum:
      - 'off'
      - geo
      - random
      - dynamic_latency
      - proximity
      - least_outstanding_requests
      - least_connections
      - ''
      x-auditable: true
    load-balancing_random_steering:
      description: 'Configures pool weights.

        - `steering_policy="random"`: A random pool is selected with probability proportional to pool weights.

        - `steering_policy="least_outstanding_requests"`: Use pool weights to scale each pool''s outstanding requests.

        - `steering_policy="least_connections"`: Use pool weights to scale each pool''s open connections.'
      type: object
      properties:
        default_weight:
          description: The default weight for pools in the load balancer that are not specified in the pool_weights map.
          type: number
          example: 0.2
          default: 1
          maximum: 1
          minimum: 0
          multipleOf: 0.1
          x-auditable: true
        pool_weights:
          description: A mapping of pool IDs to custom weights. The weight is relative to other pools in the load balancer.
          type: object
          example:
            9290f38c5d07c2e2f4df57b1f61d4196: 0.5
            de90f38ced07c2e2f4df50b1f61d4194: 0.3
          additionalProperties:
            type: number
            x-auditable: true
    load-balancing_pools:
      description: A flat, ordered list of pool IDs to route the matched audience to. Replaces the resolved topology with exactly these pools. Mutually exclusive with `fixed_response`.
      type: array
      items:
        type: string
        x-auditable: true
      example:
      - 17b5962d775c646f3f9725cbc7a53df4
      x-stainless-terraform-configurability: computed_optional
    load-balancing_components-schemas-description:
      description: Object description.
      type: string
      example: Load Balancer for www.example.com
      x-auditable: true
    load-balancing_adaptive_routing:
      description: Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin.
      type: object
      properties:
        failover_across_pools:
          description: Extends zero-downtime failover of requests to healthy origins from alternate pools, when no healthy alternate exists in the same pool, according to the failover order defined by traffic and origin steering. When set false (the default) zero-downtime failover will only occur between origins within the same pool. See `session_affinity_attributes` for control over when sessions are broken or reassigned.
          type: boolean
          example: true
          default: false
          x-auditable: true
    load-balancing_fixed_response:
      description: A collection of fields used to directly respond to the client instead of routing to a pool. When supplied on a rule, that rule stops further rule evaluation.
      type: object
      properties:
        content_type:
          description: The http 'Content-Type' header to include in the response.
          type: string
          example: application/json
          maxLength: 32
          x-auditable: true
        location:
          description: The http 'Location' header to include in the response.
          type: string
          example: www.example.com
          maxLength: 2048
          x-auditable: true
        message_body:
          description: Text to include as the http body.
          type: string
          example: Testing Hello
          maxLength: 1024
          x-auditable: true
        status_code:
          description: The http status code to respond with.
          type: integer
          x-auditable: true
    load-balancing_result_info:
      type: object
      properties:
        count:
          description: Total number of results on the current page.
          type: number
          example: 20
        page:
          description: Current page within paginated list of results.
          type: number
          example: 1
        per_page:
          description: Number of results per page.
          type: number
          example: 20
        total_count:
          description: Total results available without any search parameters.
          type: number
          example: 2000
        total_pages:
          description: Total number of pages available.
          type: number
          example: 100
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
        description: Chat messages from historical RealtimeKit sessions
      kit.sessions.livestreams:
        description: Livestreams associated with historical RealtimeKit sessions
      kit.sessions.participants:
        description: Participants in historical RealtimeKit sessions
      kit.sessions.peers:
        description: Peer details from historical RealtimeKit sessions
      kit.sessions.summaries:
        description: Summaries of historical RealtimeKit sessions
      kit.sessions.transcripts:
        description: Transcripts from historical RealtimeKit sessions
      kit.webhooks:
        description: Webhook endpoints and supported events for RealtimeKit notifications
      kit.webhooks.events:
        description: Supported events for RealtimeKit webhooks
      moq:
        description: MoQ relays for publishing and subscribing to media streams
      moq.relays:
        description: Relays are isolated MoQ scopes that carry media between publishers and subscribers
      moq.relays.tokens:
        description: Tokens that authorize publishers and subscribers to connect to a relay
      sfu:
        description: SFU apps that route WebRTC media and data between participants
      sfu.apps:
        description: SFU application namespaces for sessions and tracks
      turn:
        description: TURN keys that help clients traverse NATs and firewalls
      turn.keys:
        description: Keys used to generate short-lived TURN credentials
  request-tracers:
    description: Trace how a request would be processed through Cloudflare's rules and configuration pipeline
    groups:
      traces:
        description: Simulate request processing to debug rule matches, transforms, and routing decisions
  resource-sharing:
    description: Share Cloudflare resources (zones, accounts) across organizations with granular access controls
    groups:
      recipients:
        description: Update share recipients
      resources:
        description: Individual resources (zones, configs) that have been shared with recipients
  rules:
    description: Resources used by Cloudflare rules and rulesets
    groups:
      lists:
        description: Custom account-level lists of IPs, hostnames, ASNs, or redirects used in rule expressions
  rum:
    description: Real User Measurement (Web Analytics) — track page loads, Core Web Vitals, and visitor metrics
    groups:
      rules:
        description: Rules that control which pages and paths are tracked by Web Analytics
      site-info:
        description: Web Analytics sites — register domains and get the JavaScript beacon snippet
  scim:
    description: SCIM 2.0 provisioning — manage users, groups, and identity provider sync for your account
    groups:
      groups:
        description: Groups operations
      resource-types:
        description: Resource Types operations
      schemas:
        description: Schemas operations
      service-provider-config:
        description: Service Provider Config operations
      users:
        description: Users operations
  secrets-store:
    description: Centralized secret management — store API keys, tokens, and credentials for use across Workers and other products
    groups:
      quota:
        description: Account quota limits for secrets stores, secrets count, and storage capacity
      secrets:
        description: Encrypted key-value secrets within a store. Pass --store-id to scope.
      stores:
        description: Secret stores that hold encrypted key-value secrets accessible by Workers and services
  security-center:
    description: Security posture dashboard — view and manage security insights, misconfigurations, and vulnerabilities
    groups:
      insights:
        description: Security findings and recommendations across your account — DNS, SSL, WAF misconfigurations, etc.
      zone-insights:
        description: Zone-scoped security insights — counts by class, severity, type, and dismissal
  security-txt:
    description: Manage the /.well-known/security.txt file that tells security researchers how to report vulnerabilities
  smart-shield:
    description: Smart Shield settings, health checks, and cache reserve management
    groups:
      cache-reserve-clear:
        description: Cache Reserve Clear operations
      health-checks:
        description: Health checks operations
  spectrum:
    description: Proxy and protect arbitrary TCP/UDP applications through Cloudflare's network with DDoS mitigation
    groups:
      analytics:
        description: Real-time and historical connection analytics for Spectrum applications
      apps:
        description: Spectrum application configurations that map protocols and ports to origin servers
  speed:
    description: Observatory speed tests — run Lighthouse audits, track performance trends, and schedule recurring tests
    groups:
      availabilities:
        description: Check which speed test regions and configurations are available for your zone
      pages:
        description: Tested pages with their performance history, trends, and individual test results
      schedule:
        description: Scheduled recurring speed tests that automatically run at regular intervals
  ssl:
    description: SSL/TLS certificate management — certificate packs, Universal SSL, verification, and TLS mode recommendations
    groups:
      automatic-upgrader:
        description: SSL automatic mode enrollment — get or update automatic SSL/TLS upgrader settings
      recommendations:
        description: Get the recommended SSL/TLS encryption mode based on your origin server's certificate configuration
  stream:
    description: Video encoding, storage, and delivery — upload, live-stream, clip, caption, and embed video at scale
    groups:
      audio-tracks:
        description: Add, edit, or remove additional audio tracks on a video
      captions:
        description: Upload, generate, or retrieve captions and subtitles for videos in multiple languages
      clip:
        description: Create a new video clip from an existing video by specifying start and end times
      copy:
        description: Import a video from a URL into Stream for processing and delivery
      direct-upload:
        description: Generate a tokenized URL that lets end-users upload video directly to Stream
      downloads:
        description: Create downloadable MP4 renditions of a video for offline viewing
      embed:
        description: Retrieve the HTML embed code snippet for a video
      keys:
        description: Signing keys used to generate short-lived signed URLs for private video playback
      live-inputs:
        description: Enable and disable live input streams
      token:
        description: Generate short-lived signed URL tokens for secure private video playback
      typed-downloads:
        description: Type-specific stream download creation and deletion
      videos:
        description: Aggregate video storage usage statistics for the account
      watermarks:
        description: Watermark profiles that overlay an image on every video in the account
      webhooks:
        description: Webhook notifications for video lifecycle events (ready, error, etc.)
  tenants:
    description: Multi-tenant account management — manage tenant accounts, entitlements, and memberships
    groups:
      account-types:
        description: Account Types operations
      accounts:
        description: Accounts operations
      entitlements:
        description: Entitlements operations
      memberships:
        description: Memberships operations
  turnstile:
    description: CAPTCHA-free bot verification widgets that protect forms and APIs without degrading user experience
    groups:
      widgets:
        description: Turnstile widget configurations — site keys, secret rotation, and challenge mode settings
  url-scanner:
    description: Scan URLs for phishing, malware, and other threats — submit scans and retrieve detailed results
    groups:
      response:
        description: Response operations
      responses:
        description: Raw HTTP response data captured during URL scans
      scan:
        description: Scan operations
      scans:
        description: URL scan requests and results — submit URLs for analysis and retrieve threat verdicts
  user:
    description: Your Cloudflare user profile, invitations, organizations, billing, and personal API tokens
    groups:
      billing:
        description: View billing history and payment profile for your user (deprecated — prefer account-level billing)
      firewall:
        description: Firewall operations
      load-balancers.monitors:
        description: Load Balancers operations
      load-balancers.monitors.preview:
        description: Load Balancers operations
      load-balancers.monitors.references:
        description: Load Balancers operations
      load-balancers.pools:
        description: Load Balancers operations
      load-balancers.pools.edit.pools:
        description: Load Balancers operations
      load-balancers.pools.health:
        description: Load Balancers operations
      load-balancers.pools.preview:
        description: Load Balancers operations
      load-balancers.pools.references:
        description: Load Balancers operations
      load-balancers.preview:
        description: Load Balancers operations
      load-balancing-analytics.events:
        description: Load Balancing Analytics operations
      subscriptions:
        description: View and manage zone-level plan subscriptions owned by your user
      tenants:
        description: Tenants operations
      tokens:
        description: Create and manage personal API tokens scoped to your user for programmatic API access
  user.analytics:
    description: User-level traffic analytics — aggregated totals and timeseries across all zones
  vectorize:
    description: Globally distributed vector database for building semantic search, recommendations, and RAG applications on Workers
    groups:
      deprecated-indexes:
        description: Deprecated v1 Vectorize index operations
      metadata-index:
        description: Metadata indexes for filtered vector search
  waiting-rooms:
    description: Virtual queues that throttle traffic to your site during peak demand with customizable waiting pages
    groups:
      account-waiting-rooms:
        description: Account-scoped waiting room listing
      events:
        description: Scheduled events that temporarily override waiting room settings for sales, launches, etc.
      page:
        description: Custom HTML waiting page templates and preview rendering
      rules:
        description: Rules that bypass or modify waiting room behavior for specific request patterns
      settings:
        description: Zone-level waiting room defaults and cookie configuration
      statuses:
        description: Real-time queue status showing active users, queued users, and estimated wait times
  workflows:
    description: Durable, multi-step workflows that run on Workers with automatic retries and state persistence
    groups:
      instances:
        description: Workflow instance operations
      versions:
        description: Workflow version operations
  zaraz:
    description: Server-side tag manager — load third-party tools (analytics, pixels, etc.) from Cloudflare's edge without client-side JS
    groups:
      config:
        description: Full Zaraz configuration including tools, triggers, and variables for the zone
      default:
        description: Default Zaraz configuration template used as a starting point for new zones
      export:
        description: Export the current Zaraz configuration as a portable JSON document
      history:
        description: Configuration version history — browse and restore previous Zaraz configurations
      publish:
        description: Publish pending Zaraz configuration changes to make them live on the zone
      workflow:
        description: Workflow state for Zaraz configuration changes (draft vs. published)
  zero-trust:
    description: Cloudflare's SASE platform — secure access, device posture, DLP, tunnels, gateway policies, and network segmentation
    groups:
      dex:
        description: Digital Experience Monitoring — synthetic tests, fleet-wide device metrics, and network path diagnostics
      dlp.custom-prompt-topics:
        description: Data Loss Prevention - manage custom prompt topics for AI-based content detection
      dlp.data-classes:
        description: Data Loss Prevention - manage data classes used to classify sensitive information
      dlp.data-tag-categories:
        description: Data Loss Prevention - manage categories that organize data tags
      dlp.data-tag-category-templates:
        description: Data Loss Prevention - browse templates for creating data tag categories
      dlp.data-tags:
        description: Data Loss Prevention - manage tags used to classify and organize sensitive data
      dlp.datasets:
        description: Data Loss Prevention - manage datasets, versions, and uploads
      dlp.document-fingerprints:
        description: Data Loss Prevention - manage document fingerprints for detecting matching documents
      dlp.email.account-mapping:
        description: Data Loss Prevention - configure account mappings for outbound email scanning
      dlp.email.rules:
        description: Data Loss Prevention - manage outbound email scanning rules and their priorities
      dlp.entries:
        description: Data Loss Prevention - list and manage detection entries
      dlp.limits:
        description: Data Loss Prevention - view account limits and resource quotas
      dlp.patterns:
        description: Data Loss Prevention - validate regular expressions used for content detection
      dlp.profiles:
        description: Data Loss Prevention - list and retrieve profiles
      dlp.profiles.custom:
        description: Data Loss Prevention - manage custom profiles
      dlp.profiles.predefined:
        description: Data Loss Prevention - manage predefined profiles
      dlp.sensitivity-group-templates:
        description: Data Loss Prevention - browse templates for creating sensitivity groups
      dlp.sensitivity-groups:
        description: Data Loss Prevention - manage sensitivity groups and their level ordering
      dlp.sensitivity-levels:
        description: Data Loss Prevention - manage sensitivity levels within sensitivity groups
      dlp.settings:
        description: Data Loss Prevention - manage account-level settings
      dlp.validators:
        description: Data Loss Prevention - list and retrieve content validators
      dlp.validators.proximity-words:
        description: Data Loss Prevention - manage proximity-word validators
      risk-scoring:
        description: User Risk Scoring - retrieve and reset user risk scores
      risk-scoring.behaviours:
        description: User Risk Scoring - manage behaviors used to calculate user risk scores
      risk-scoring.integrations:
        description: User Risk Scoring - manage integrations that provide risk score signals
      risk-scoring.integrations.references:
        description: User Risk Scoring - retrieve integrations by external reference
      risk-scoring.summary:
        description: User Risk Scoring - retrieve account risk score summaries
  zones:
    description: Zones are domains on Cloudflare — list, create, and configure domain settings
    groups:
      aegis:
        description: Aegis operations
      fonts:
        description: Fonts operations
      origin-h2-max-streams:
        description: Origin H2 Max Streams operations
      origin-max-http-version:
        description: Origin Max Http Version operations
      origin-tls-compliance-modes:
        description: Manage zone Origin TLS Compliance Modes setting
      rum:
        description: Rum operations
      speed-brain:
        description: Speed Brain operations
