openapi: 3.1.0
info:
  title: Cloudflare Logpush API
  description: >-
    The Cloudflare Logpush API allows developers to configure jobs that push
    logs to storage services, SIEMs, and log management providers. It supports
    datasets including HTTP requests, firewall events, DNS logs, and spectrum
    events with configurable output options and filtering.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
externalDocs:
  description: Cloudflare Logpush API Documentation
  url: https://developers.cloudflare.com/api/resources/logpush/
servers:
  - url: https://api.cloudflare.com/client/v4
    description: Cloudflare API v4 Production Server
tags:
  - name: Logpush Jobs
    description: >-
      Create, list, update, and delete Logpush jobs that push logs to
      external destinations.
  - name: Datasets
    description: >-
      List available datasets and their fields for log exports.
  - name: Ownership
    description: >-
      Validate ownership of a log destination.
security:
  - bearerAuth: []
paths:
  /zones/{zone_id}/logpush/jobs:
    get:
      operationId: listLogpushJobs
      summary: List Logpush jobs
      description: >-
        Returns all Logpush jobs for the zone.
      tags:
        - Logpush Jobs
      parameters:
        - $ref: '#/components/parameters/ZoneId'
      responses:
        '200':
          description: List of Logpush jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogpushJobListResponse'
        '401':
          description: Unauthorized.
    post:
      operationId: createLogpushJob
      summary: Create Logpush job
      description: >-
        Create a new Logpush job to push logs to an external destination.
      tags:
        - Logpush Jobs
      parameters:
        - $ref: '#/components/parameters/ZoneId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogpushJobInput'
      responses:
        '200':
          description: Logpush job created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogpushJobResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /zones/{zone_id}/logpush/jobs/{job_id}:
    get:
      operationId: getLogpushJob
      summary: Get Logpush job
      description: >-
        Retrieve details of a specific Logpush job.
      tags:
        - Logpush Jobs
      parameters:
        - $ref: '#/components/parameters/ZoneId'
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Logpush job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogpushJobResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Job not found.
    put:
      operationId: updateLogpushJob
      summary: Update Logpush job
      description: >-
        Update the configuration of a Logpush job.
      tags:
        - Logpush Jobs
      parameters:
        - $ref: '#/components/parameters/ZoneId'
        - $ref: '#/components/parameters/JobId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogpushJobInput'
      responses:
        '200':
          description: Job updated.
        '401':
          description: Unauthorized.
    delete:
      operationId: deleteLogpushJob
      summary: Delete Logpush job
      description: >-
        Delete a Logpush job.
      tags:
        - Logpush Jobs
      parameters:
        - $ref: '#/components/parameters/ZoneId'
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job deleted.
        '401':
          description: Unauthorized.
  /zones/{zone_id}/logpush/datasets/{dataset_id}/fields:
    get:
      operationId: listDatasetFields
      summary: List dataset fields
      description: >-
        Returns the available fields for a specific log dataset.
      tags:
        - Datasets
      parameters:
        - $ref: '#/components/parameters/ZoneId'
        - name: dataset_id
          in: path
          required: true
          description: >-
            The dataset identifier such as http_requests, firewall_events,
            dns_logs, or spectrum_events.
          schema:
            type: string
      responses:
        '200':
          description: Dataset fields.
        '401':
          description: Unauthorized.
  /zones/{zone_id}/logpush/ownership:
    post:
      operationId: validateLogpushOwnership
      summary: Validate ownership
      description: >-
        Validate ownership of a destination for Logpush by providing the
        ownership challenge token.
      tags:
        - Ownership
      parameters:
        - $ref: '#/components/parameters/ZoneId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - destination_conf
              properties:
                destination_conf:
                  type: string
                  description: The destination configuration string.
      responses:
        '200':
          description: Ownership validation result.
        '401':
          description: Unauthorized.
  /zones/{zone_id}/logpush/ownership/validate:
    post:
      operationId: confirmLogpushOwnership
      summary: Confirm ownership
      description: >-
        Confirm ownership of the destination using the ownership token.
      tags:
        - Ownership
      parameters:
        - $ref: '#/components/parameters/ZoneId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - destination_conf
                - ownership_challenge
              properties:
                destination_conf:
                  type: string
                  description: The destination configuration string.
                ownership_challenge:
                  type: string
                  description: The ownership challenge token.
      responses:
        '200':
          description: Ownership confirmed.
        '401':
          description: Unauthorized.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API token with Logs permissions.
  parameters:
    ZoneId:
      name: zone_id
      in: path
      required: true
      description: The unique identifier of the zone.
      schema:
        type: string
    JobId:
      name: job_id
      in: path
      required: true
      description: The unique identifier of the Logpush job.
      schema:
        type: integer
  schemas:
    LogpushJob:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the job.
        name:
          type: string
          description: A human-readable name for the job.
        enabled:
          type: boolean
          description: Whether the job is active.
        dataset:
          type: string
          description: The log dataset.
          enum:
            - http_requests
            - firewall_events
            - dns_logs
            - spectrum_events
            - nel_reports
            - audit_logs
        destination_conf:
          type: string
          description: The destination configuration URI.
        logpull_options:
          type: string
          description: >-
            Logpull options specifying fields, timestamps, and sample rate.
        frequency:
          type: string
          enum:
            - high
            - low
          description: Log push frequency.
        last_complete:
          type: string
          format: date-time
          description: Timestamp of the last successful push.
        last_error:
          type: string
          format: date-time
          description: Timestamp of the last error.
        error_message:
          type: string
          description: Last error message.
    LogpushJobInput:
      type: object
      properties:
        name:
          type: string
          description: Name for the job.
        enabled:
          type: boolean
          description: Whether the job is active.
        dataset:
          type: string
          description: The log dataset to push.
        destination_conf:
          type: string
          description: Destination URI.
        logpull_options:
          type: string
          description: Options for log fields and formatting.
        frequency:
          type: string
          enum:
            - high
            - low
        filter:
          type: string
          description: JSON filter expression to limit logs pushed.
        ownership_challenge:
          type: string
          description: The ownership challenge token.
    LogpushJobResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/LogpushJob'
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
        messages:
          type: array
          items:
            type: object
    LogpushJobListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/LogpushJob'
        success:
          type: boolean
