openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Worker Script API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Worker Script
paths:
  /accounts/{account_id}/workers/assets/upload:
    post:
      operationId: worker-assets-upload
      summary: Upload Worker Assets
      description: Upload Worker assets ahead of creating a Worker version. To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: base64
        in: query
        required: true
        schema:
          description: Whether the file contents are base64-encoded. Must be `true`.
          type: boolean
          enum:
          - true
      requestBody:
        required: true
        content:
          multipart/form-data:
            encoding:
              '*':
                contentType: '*/*'
            schema:
              type: object
              additionalProperties:
                description: Base-64 encoded contents of the file. The content type of the file should be included to ensure a valid "Content-Type" header is included in asset responses.
                type: string
      responses:
        '201':
          description: Upload Assets response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_completed-upload-assets-response'
        '202':
          description: Upload Assets response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_upload-assets-response'
        4XX:
          description: Upload Assets response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - assets_jwt: []
      tags:
      - Worker Script
      x-fern-audiences:
      - sdk
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.assets.upload
      x-fern-sdk-method-name: create
  /accounts/{account_id}/workers/scripts:
    get:
      operationId: worker-script-list-workers
      summary: List Worker Scripts
      description: Fetch a list of uploaded Worker scripts.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: tags
        in: query
        description: 'Filter scripts by tags. Format: comma-separated list of tag:allowed pairs where allowed is ''yes'' or ''no''.'
        schema:
          type: string
          example: production:yes,staging:no
      responses:
        '200':
          description: List Workers response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_script-response-collection'
        4XX:
          description: List Workers response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts
      x-fern-sdk-method-name: list
  /accounts/{account_id}/workers/scripts-search:
    get:
      operationId: worker-script-search-workers
      summary: Search Worker Scripts
      description: Search for Worker scripts in an account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: name
        in: query
        schema:
          description: Worker name to search for. Both exact and partial matches are returned.
          type: string
          example: my-worker
      - name: id
        in: query
        schema:
          description: Worker ID (also called tag) to search for. Only exact matches are returned.
          type: string
          example: bdf3567828824b74aadd550004cf4913
      - name: order_by
        in: query
        schema:
          description: Property to sort results by. Results are sorted in ascending order.
          type: string
          example: created_on
          default: name
          enum:
          - created_on
          - modified_on
          - name
      - name: page
        in: query
        description: Current page.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Items per page.
        schema:
          type: integer
          default: 10
          maximum: 100
          minimum: 1
      responses:
        '200':
          description: Search Workers success.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_api-response-collection'
                - properties:
                    result:
                      type: array
                      items:
                        properties:
                          created_on:
                            $ref: '#/components/schemas/workers_created_on'
                          environment_is_default:
                            description: Whether the environment is the default environment.
                            type: boolean
                            example: true
                          environment_name:
                            description: Name of the environment.
                            type: string
                            example: production
                          id:
                            $ref: '#/components/schemas/workers_identifier'
                          modified_on:
                            $ref: '#/components/schemas/workers_modified_on'
                          script_name:
                            $ref: '#/components/schemas/workers_script_name'
                          service_name:
                            description: Name of the service.
                            type: string
                            example: my-service
                        required:
                        - id
                        - script_name
                        - created_on
                        - modified_on
                        type: object
                  required:
                  - result
                  type: object
        4XX:
          description: Search Workers failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.scripts
      x-fern-sdk-method-name: search
  /accounts/{account_id}/workers/scripts/{script_name}:
    delete:
      operationId: worker-script-delete-worker
      summary: Delete Worker
      description: Delete your worker. This call has no response body on a successful delete.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      - name: force
        in: query
        description: If true, delete the Worker even when other Workers still reference it. Service bindings in those Workers may be left broken. Durable Object namespaces implemented by the deleted Worker are deleted even if other Workers reference them.
        schema:
          type: boolean
        x-fern-parameter-name: delete-with-references
      responses:
        '200':
          description: Delete Worker response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-null-result'
        4XX:
          description: Delete Worker response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This will permanently delete the Worker script.
    get:
      operationId: worker-script-download-worker
      summary: Download Worker Script
      description: Fetch raw content for a Worker script. Note this is the original script content, not JSON encoded.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      responses:
        '200':
          description: Worker successfully downloaded. Returns script content as a multipart form, with no metadata part and no JSON encoding applied.
          content:
            application/javascript:
              schema:
                type: string
                example: "export default {\n  async fetch(request, env, ctx) {\n    return new Response(\"Hello, world!\");\n  }\n};\n"
            multipart/form-data:
              schema:
                type: object
                additionalProperties:
                  description: Modules used by the Worker, including JavaScript files and source maps.
                  format: binary
                  type: string
        4XX:
          description: Download Worker response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts
      x-fern-sdk-method-name: get
    put:
      operationId: worker-script-upload-worker-module
      summary: Upload Worker Module
      description: 'Upload a worker module. You can find more about the multipart metadata on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      - name: bindings_inherit
        in: query
        description: When set to "strict", the upload will fail if any `inherit` type bindings cannot be resolved against the previous version of the Worker. Without this, unresolvable inherit bindings are silently dropped.
        schema:
          type: string
          enum:
          - strict
      requestBody:
        $ref: '#/components/requestBodies/workers_script_upload'
      responses:
        '200':
          description: Upload Worker Module response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_script-response-upload-single'
                - example:
                    errors: []
                    messages: []
                    result:
                      created_on: '2022-05-05T05:15:11.602148Z'
                      etag: 777f24a43bef5f69174aa69ceaf1dea67968d510a31d1vw3e49d34a0187c06d1
                      handlers:
                      - fetch
                      id: this-is_my_script-01
                      logpush: false
                      modified_on: '2022-05-20T19:02:56.446492Z'
                      placement:
                        mode: smart
                      startup_time_ms: 10
                      tail_consumers:
                      - environment: production
                        service: my-log-consumer
                      usage_model: standard
                    success: true
                  type: object
        4XX:
          description: 'Upload Worker Module response failure. When the upload uses the

            declarative `exports` field and one or more entries fail

            reconciliation, the response is the exports reconciliation

            error envelope (error code 100402) with per-class detail in

            `errors[].meta.details`.

            '
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/workers_api-response-common-failure'
                - $ref: '#/components/schemas/workers_exports_reconciliation_error_response'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts
      x-fern-sdk-method-name: update
  /accounts/{account_id}/workers/scripts/{script_name}/assets-upload-session:
    post:
      operationId: worker-script-update-create-assets-upload-session
      summary: Create Worker Assets Upload Session
      description: Start uploading a collection of assets for use in a Worker version. To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workers_create-assets-upload-session-object'
      responses:
        '200':
          description: Create Assets Upload Session response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_create-assets-upload-session-response'
        4XX:
          description: Create Assets Upload Session response failure.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_create-assets-upload-session-response'
                - $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.assets.upload
      x-fern-sdk-method-name: create-session
  /accounts/{account_id}/workers/scripts/{script_name}/content:
    put:
      operationId: worker-script-put-content
      summary: Replace Worker Script Content
      description: Replace Worker script content without touching config or metadata.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      - name: CF-WORKER-BODY-PART
        in: header
        description: The multipart name of a script upload part containing script content in service worker format. Alternative to including in a metadata part.
        schema:
          type: string
      - name: CF-WORKER-MAIN-MODULE-PART
        in: header
        description: The multipart name of a script upload part containing script content in es module format. Alternative to including in a metadata part.
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            encoding:
              files:
                contentType: application/javascript+module, text/javascript+module, application/javascript, text/javascript, text/x-python, text/x-python-requirement, application/wasm, text/plain, application/octet-stream, application/source-map
              metadata:
                contentType: application/json
            schema:
              type: object
              properties:
                files:
                  description: 'An array of modules (often JavaScript files) comprising a Worker script. At least one module must be present and referenced in the metadata as `main_module` or `body_part` by filename.<br/>Possible Content-Type(s) are: `application/javascript+module`, `text/javascript+module`, `application/javascript`, `text/javascript`, `text/x-python`, `text/x-python-requirement`, `application/wasm`, `text/plain`, `application/octet-stream`, `application/source-map`.'
                  type: array
                  items:
                    format: binary
                    type: string
                  x-stainless-collection-type: set
                metadata:
                  description: JSON-encoded metadata about the uploaded parts and Worker configuration.
                  type: object
                  properties:
                    body_part:
                      description: Name of the uploaded file that contains the Worker script (e.g. the file adding a listener to the `fetch` event). Indicates a `service worker syntax` Worker.
                      type: string
                      example: worker.js
                    main_module:
                      description: Name of the uploaded file that contains the main module (e.g. the file exporting a `fetch` handler). Indicates a `module syntax` Worker.
                      type: string
                      example: worker.js
              required:
              - metadata
      responses:
        '200':
          description: Put script content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_script-response-single'
        4XX:
          description: Put script content failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.content
      x-fern-sdk-method-name: update
  /accounts/{account_id}/workers/scripts/{script_name}/content/v2:
    get:
      operationId: worker-script-get-content
      summary: Get Worker Script Content
      description: Fetch Worker script content only.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      responses:
        '200':
          description: Fetch script content.
          content:
            string:
              schema:
                type: string
                example: "export default {\n  async fetch(request, env, ctx) {\n    return new Response(\"Hello, world!\");\n  }\n};\n"
        4XX:
          description: Fetch script content failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.content
      x-fern-sdk-method-name: get
  /accounts/{account_id}/workers/scripts/{script_name}/script-settings:
    get:
      operationId: worker-script-settings-get-settings
      summary: Get Worker Script Settings
      description: Get Worker script-level settings when using Worker Versions. Includes Logpush and Tail Consumers.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      responses:
        '200':
          description: Fetch script settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_script-settings-response'
        4XX:
          description: Fetch script settings failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.settings
      x-fern-sdk-method-name: get
    patch:
      operationId: worker-script-settings-patch-settings
      summary: Patch Worker Script Settings
      description: Patch Worker script-level settings when using Worker Versions. Including but not limited to Logpush and Tail Consumers.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workers_script-settings-item'
      responses:
        '200':
          description: Patch script settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_script-settings-response'
        4XX:
          description: 'Patch script settings failure. When the patch uses the

            declarative `exports` field and one or more entries fail

            reconciliation, the response is the exports reconciliation

            error envelope (error code 100402) with per-class detail in

            `errors[].meta.details`.

            '
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/workers_api-response-common-failure'
                - $ref: '#/components/schemas/workers_exports_reconciliation_error_response'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.settings
      x-fern-sdk-method-name: edit
  /accounts/{account_id}/workers/scripts/{script_name}/secrets:
    get:
      operationId: worker-list-script-secrets
      summary: List secrets bound to a Worker script
      description: List the names of secrets bound to a Worker script.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      responses:
        '200':
          description: List script secrets.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      type: array
                      items:
                        $ref: '#/components/schemas/workers_secret'
                  type: object
        4XX:
          description: List script secrets failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.secrets
      x-fern-sdk-method-name: list
    put:
      operationId: worker-put-script-secret
      summary: Add a secret to a Worker script
      description: 'Add a secret to a Worker script by creating a new version with that secret.


        When changing more than one secret at a time, prefer the "Patch multiple

        script secrets" API instead of changing many secrets individually.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workers_secret'
      responses:
        '200':
          description: Put script secret binding success.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_secret'
                  type: object
        '429':
          description: Too many requests are currently modifying the script.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
        4XX:
          description: Put script secret binding failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.secrets
      x-fern-sdk-method-name: update
  /accounts/{account_id}/workers/scripts/{script_name}/secrets-bulk:
    patch:
      operationId: worker-patch-script-secrets-bulk
      summary: Patch multiple Worker script secrets
      description: 'Create, update, or delete multiple secrets on a Worker script in a single operation using JSON Merge Patch (RFC 7396).

        This operation creates a single version with all changes included.

        Prefer this API instead of changing many secrets individually.


        Usage:


        - To create or update a secret, set its value to a secret object.

        - To delete a secret, set its value to `null`.

        - Secrets not included in the request are left unchanged.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workers_secret-patch-request'
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/workers_secret-patch-request'
      responses:
        '200':
          description: Patch script secrets bulk success.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_secret-patch-response'
                  type: object
        '429':
          description: Too many requests are currently modifying the script.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
        4XX:
          description: Patch script secrets bulk failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.secrets
      x-fern-sdk-method-name: bulk
  /accounts/{account_id}/workers/scripts/{script_name}/secrets/{secret_name}:
    delete:
      operationId: worker-delete-script-secret
      summary: Delete Worker script secret
      description: 'Remove a secret from a Worker script by creating a new version without that

        secret.


        When changing more than one secret at a time, prefer the "Patch multiple

        script secrets" API instead of changing many secrets individually.'
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      - name: secret_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_secret_name'
      - name: url_encoded
        in: query
        schema:
          $ref: '#/components/schemas/workers_secret_name_url_encoded'
      responses:
        '200':
          description: Delete script secret binding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-null-result'
        4XX:
          description: Delete script secret failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.secrets
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This will permanently delete the Worker script secret.
    get:
      operationId: worker-get-script-secret
      summary: Get a secret binding
      description: Get a given secret binding (value omitted) on a Worker script.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      - name: secret_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_secret_name'
      - name: url_encoded
        in: query
        schema:
          $ref: '#/components/schemas/workers_secret_name_url_encoded'
      responses:
        '200':
          description: Get script secret binding.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_secret'
                  type: object
        4XX:
          description: Get script secret failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-fern-availability: generally-available
      x-fern-sdk-group-name: workers.secrets
      x-fern-sdk-method-name: get
  /accounts/{account_id}/workers/scripts/{script_name}/settings:
    get:
      operationId: worker-script-get-settings
      summary: Get Worker Script and Version Settings
      description: Get Worker script metadata and config, such as bindings or usage model.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      responses:
        '200':
          description: Fetch settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_script-and-version-settings-response'
        4XX:
          description: Fetch settings failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.script-and-version-settings
      x-fern-sdk-method-name: get
    patch:
      operationId: worker-script-patch-settings
      summary: Patch Worker Script and Version Settings
      description: Patch Worker script metadata or config, such as bindings or usage model.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      requestBody:
        required: true
        content:
          multipart/form-data:
            encoding:
              settings:
                contentType: application/json
            schema:
              type: object
              properties:
                settings:
                  $ref: '#/components/schemas/workers_script-and-version-settings-item'
      responses:
        '200':
          description: Patch settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_script-and-version-settings-response'
        4XX:
          description: 'Patch settings failure. When the patch uses the declarative

            `exports` field and one or more entries fail reconciliation,

            the response is the exports reconciliation error envelope

            (error code 100402) with per-class detail in

            `errors[].meta.details`.

            '
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/workers_api-response-common-failure'
                - $ref: '#/components/schemas/workers_exports_reconciliation_error_response'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.script-and-version-settings
      x-fern-sdk-method-name: edit
  /accounts/{account_id}/workers/scripts/{script_name}/subdomain:
    delete:
      operationId: worker-script-delete-subdomain
      summary: Delete Worker Script Subdomain
      description: Disable all workers.dev subdomains for a Worker script.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      responses:
        '200':
          description: Delete subdomain response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_subdomain'
                  required:
                  - result
                  type: object
        4XX:
          description: Delete subdomain response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.subdomain
      x-fern-sdk-method-name: delete
      x-forge-require-confirmation: This will disable all workers.dev subdomains for the Worker script.
    get:
      operationId: worker-script-get-subdomain
      summary: Get Worker Script Subdomain
      description: Get whether a Worker script is available on the workers.dev subdomain.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      responses:
        '200':
          description: Get subdomain response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_subdomain'
                  required:
                  - result
                  type: object
        4XX:
          description: Get subdomain response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.subdomain
      x-fern-sdk-method-name: get
    post:
      operationId: worker-script-post-subdomain
      summary: Update Worker Script Subdomain
      description: Enable or disable a Worker script on the workers.dev subdomain.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  description: Whether the Worker should be available on the workers.dev subdomain.
                  type: boolean
                  example: true
                  x-auditable: true
                previews_enabled:
                  description: Whether the Worker's Preview URLs should be available on the workers.dev subdomain.
                  type: boolean
                  example: false
                  x-auditable: true
                  x-stainless-terraform-configurability: computed_optional
              required:
              - enabled
      responses:
        '200':
          description: Post subdomain response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/workers_api-response-common'
                - properties:
                    result:
                      $ref: '#/components/schemas/workers_subdomain'
                  required:
                  - result
                  type: object
        4XX:
          description: Post subdomain response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.subdomain
      x-fern-sdk-method-name: create
  /accounts/{account_id}/workers/scripts/{script_name}/usage-model:
    get:
      operationId: worker-script-fetch-usage-model
      summary: Get Worker Script Usage Model
      description: Fetches the usage model for a Worker script.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      responses:
        '200':
          description: Fetch Usage Model response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_usage-model-response'
        4XX:
          description: Fetch Usage Model response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Tail Read
      - Workers Scripts Write
      - Workers Scripts Read
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.usage-model
      x-fern-sdk-method-name: get
    put:
      operationId: worker-script-update-usage-model
      summary: Replace Worker Script Usage Model
      description: Replaces the usage model for a Worker script. Requires a Workers Paid subscription.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_identifier'
      - name: script_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/workers_script_name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage_model:
                  $ref: '#/components/schemas/workers_usage_model'
                user_limits:
                  $ref: '#/components/schemas/workers_user_limits'
      responses:
        '200':
          description: Update Usage Model response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_usage-model-response'
        4XX:
          description: Update Usage Model response failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workers_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Worker Script
      x-api-token-group:
      - Workers Scripts Write
      x-fern-audiences:
      - sdk
      x-fern-availability: deprecated
      x-fern-sdk-group-name: workers.legacy.scripts.usage-model
      x-fern-sdk-method-name: update
components:
  schemas:
    workers_placement_mode:
      description: Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host.
      type: string
      enum:
      - smart
      - targeted
      x-auditable: true
    workers_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/workers_api-response-common'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    workers_user_limits:
      description: User-defined resource limits for Workers with standard usage model.
      type:
      - object
      - 'null'
      properties:
        cpu_ms:
          description: The amount of CPU time this Worker can use in milliseconds.
          type:
          - integer
          - 'null'
          example: 50
    workers_binding_kind_secrets_store_secret:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        secret_name:
          description: Name of the secret in the store.
          type: string
          example: my_secret
          x-auditable: true
        store_id:
          description: ID of the store containing the secret.
          type: string
          example: 8c8b1387108e49be85669169793e7bd2
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - secrets_store_secret
          x-auditable: true
      required:
      - name
      - type
      - store_id
      - secret_name
    workers_tail_consumers:
      description: List of Workers that will consume logs from the attached Worker.
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/workers_tail_consumers_script'
      x-stainless-collection-type: set
    workers_binding_kind_data_blob:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        part:
          description: The name of the file containing the data content. Only accepted for `service worker syntax` Workers.
          type: string
          example: my-module.bin
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - data_blob
          deprecated: true
          x-auditable: true
      required:
      - name
      - type
      - part
    workers_secret:
      description: A secret value accessible through a binding.
      type: object
      discriminator:
        mapping:
          secret_key: '#/components/schemas/workers_binding_kind_secret_key'
          secret_text: '#/components/schemas/workers_binding_kind_secret_text'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/workers_binding_kind_secret_text'
      - $ref: '#/components/schemas/workers_binding_kind_secret_key'
    workers_durable_object_export:
      description: 'A live Durable Object export (`state: created`, the default). The

        platform auto-provisions the namespace on first deploy, matches it

        on subsequent deploys, and never mutates or deletes it as a side

        effect of a code-only change. `storage` is required; `renamed_to`,

        `transferred_to` and `transfer_from` are not allowed on a live

        entry.

        '
      type: object
      properties:
        container:
          description: 'Name of the container (declared in the upload''s

            `metadata.containers`) that backs this Durable Object. When

            set, the namespace is container-enabled. Valid only on live

            entries.

            '
          type: string
          example: my-container
          maxLength: 128
        state:
          description: Live export. May be omitted; defaults to `created`.
          type: string
          default: created
          enum:
          - created
        storage:
          $ref: '#/components/schemas/workers_export_storage'
        type:
          description: Marks this entry as a Durable Object export.
          type: string
          enum:
          - durable-object
      additionalProperties: false
      required:
      - type
      - storage
    workers_placement_status:
      description: Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
      type: string
      enum:
      - SUCCESS
      - UNSUPPORTED_APPLICATION
      - INSUFFICIENT_INVOCATIONS
      readOnly: true
      x-auditable: true
    workers_usage_model:
      description: Usage model for the Worker invocations.
      type: string
      example: standard
      default: standard
      enum:
      - standard
      - bundled
      - unbound
      x-auditable: true
    workers_binding_kind_ratelimit:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace_id:
          description: Identifier of the rate limit namespace to bind to.
          type: string
          example: '1234'
          x-auditable: true
        simple:
          description: The rate limit configuration.
          type: object
          properties:
            limit:
              description: The limit (requests per period).
              type: number
              example: 100
              x-auditable: true
            mitigation_timeout:
              description: 'Duration in seconds to apply the mitigation action after the rate limit is exceeded. Valid values are 0 (disabled), 10, or multiples of 60 up to 86400. Must be greater than or equal to the period when non-zero.

                '
              type: integer
              example: 60
              x-auditable: true
            period:
              description: The period in seconds.
              type: integer
              example: 60
              x-auditable: true
          required:
          - limit
          - period
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - ratelimit
          x-auditable: true
      required:
      - name
      - type
      - namespace_id
      - simple
    workers_binding_kind_assets:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - assets
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_vectorize:
      type: object
      properties:
        index_name:
          description: Name of the Vectorize index to bind to.
          type: string
          example: my-index-name
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - vectorize
          x-auditable: true
      required:
      - name
      - type
      - index_name
    workers_binding_kind_inherit:
      type: object
      properties:
        name:
          description: The name of the inherited binding.
          type: string
          example: MY_BINDING
          x-auditable: true
        old_name:
          description: The old name of the inherited binding. If set, the binding will be renamed from `old_name` to `name` in the new version. If not set, the binding will keep the same name between versions.
          type: string
          example: MY_OLD_BINDING
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - inherit
          x-auditable: true
        version_id:
          description: Identifier for the version to inherit the binding from, which can be the version ID or the literal "latest" to inherit from the latest version. Defaults to inheriting the binding from the latest version.
          type: string
          example: 8969331f-7192-434c-9938-6aea24ed58bf
          default: latest
          x-auditable: true
      required:
      - name
      - type
    workers_script-settings-item:
      type: object
      properties:
        logpush:
          $ref: '#/components/schemas/workers_logpush'
        observability:
          allOf:
          - $ref: '#/components/schemas/workers_observability-2'
          - type:
            - object
            - 'null'
            x-auditable: true
        tags:
          allOf:
          - $ref: '#/components/schemas/workers_tags'
          - items:
              $ref: '#/components/schemas/workers_tag'
            type:
            - array
            - 'null'
            x-auditable: true
        tail_consumers:
          description: List of Workers that will consume logs from the attached Worker.
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/workers_tail_consumers_script'
          x-stainless-collection-type: set
    workers_exports_config_map:
      description: 'Declarative exports for the Worker, keyed by export name. Worker

        entrypoint entries (`type: worker`) carry cache configuration for

        that entrypoint. Durable Object entries (`type: durable-object`)

        are also configured here and drive namespace reconciliation. At

        most 100 entries; class names are at most 128 characters.

        '
      type: object
      example:
        Admin:
          cache:
            enabled: true
          type: worker
        Counter:
          storage: sqlite
          type: durable-object
        OldCounter:
          renamed_to: Counter
          state: renamed
          type: durable-object
        default:
          cache:
            enabled: false
          type: worker
      additionalProperties:
        $ref: '#/components/schemas/workers_export_config'
      maxProperties: 100
    workers_binding_name:
      description: A JavaScript variable name for the binding.
      type: string
      example: myBinding
      x-auditable: true
    workers_exports_reconciliation_result:
      description: 'Summary of what the declarative exports reconciliation did on this

        upload. Present only on uploads that included an `exports` block.

        Reconciliation acts on Durable Object entries; `type: worker`

        entries in the same map do not participate. Every array is always

        present (possibly empty) so clients can iterate unconditionally.

        Clients should surface `warnings` prominently, render `info` at

        lower visibility, and use `removable_entries` as the "safe to

        delete from your config" hint.

        '
      type: object
      properties:
        created:
          description: Class names for which a new namespace was provisioned.
          type: array
          items:
            type: string
        deleted:
          description: Class names whose namespace was deleted by a `deleted` tombstone.
          type: array
          items:
            type: string
        info:
          description: 'Non-blocking info entries (stale tombstones, tombstone applied

            with class still in code). See `exports_reconciliation_info`.

            '
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_info'
        removable_entries:
          description: 'Source class names whose tombstone entry is now stale and safe

            to delete from `exports` (no remaining referencing scripts).

            '
          type: array
          items:
            type: string
        renamed:
          description: Applied `renamed` tombstones.
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_rename'
        transfer_pending:
          description: Phase-1 transfer hints recorded on the target side.
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_transfer_pending'
        transferred:
          description: Committed `transferred` tombstones (phase-2).
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_transfer'
        updated:
          description: Class names whose provisioned namespace was mutated in place.
          type: array
          items:
            type: string
        warnings:
          description: Non-blocking warnings. See `exports_reconciliation_warning`.
          type: array
          items:
            $ref: '#/components/schemas/workers_exports_reconciliation_warning'
      readOnly: true
      required:
      - created
      - updated
      - deleted
      - renamed
      - transferred
      - transfer_pending
      - warnings
      - info
      - removable_entries
    workers_secret-patch-request:
      description: 'JSON Merge Patch (RFC 7396) request body for bulk secret changes.

        '
      type: object
      properties:
        secrets:
          description: 'Map of secret names to secret values:

            - Set to a secret object to create or update.

            - Set to `null` to delete.

            - Omit to leave unchanged.

            '
          type: object
          additionalProperties:
            allOf:
            - $ref: '#/components/schemas/workers_secret'
            type:
            - object
            - 'null'
        version_tags:
          description: Optional version tags to apply to the new script version.
          type: object
          additionalProperties: true
    workers_secret-patch-response:
      description: Map of secret names to secret metadata for resulting secrets.
      type: object
      additionalProperties:
        $ref: '#/components/schemas/workers_secret'
    workers_migration_step:
      type: object
      properties:
        deleted_classes:
          description: A list of classes to delete Durable Object namespaces from.
          type: array
          items:
            type: string
            x-auditable: true
          writeOnly: true
        new_classes:
          description: A list of classes to create Durable Object namespaces from.
          type: array
          items:
            type: string
            x-auditable: true
          writeOnly: true
        new_sqlite_classes:
          description: A list of classes to create Durable Object namespaces with SQLite from.
          type: array
          items:
            type: string
            x-auditable: true
          writeOnly: true
        renamed_classes:
          description: A list of classes with Durable Object namespaces that were renamed.
          type: array
          items:
            properties:
              from:
                type: string
                writeOnly: true
                x-auditable: true
              to:
                type: string
                writeOnly: true
                x-auditable: true
            type: object
          writeOnly: true
        transferred_classes:
          description: A list of transfers for Durable Object namespaces from a different Worker and class to a class defined in this Worker.
          type: array
          items:
            properties:
              from:
                type: string
                writeOnly: true
                x-auditable: true
              from_script:
                type: string
                writeOnly: true
                x-auditable: true
              to:
                type: string
                writeOnly: true
                x-auditable: true
            type: object
          writeOnly: true
    workers_create-assets-upload-session-object:
      type: object
      properties:
        manifest:
          description: 'A manifest ([path]: {hash, size}) map of files to upload. As an example, `/blog/hello-world.html` would be a valid path key.'
          type: object
          additionalProperties:
            $ref: '#/components/schemas/workers_manifest-value'
      required:
      - manifest
    workers_binding_item:
      description: A binding to allow the Worker to communicate with resources.
      type: object
      discriminator:
        mapping:
          ai: '#/components/schemas/workers_binding_kind_ai'
          ai_search: '#/components/schemas/workers_binding_kind_ai_search'
          ai_search_namespace: '#/components/schemas/workers_binding_kind_ai_search_namespace'
          analytics_engine: '#/components/schemas/workers_binding_kind_analytics_engine'
          artifacts: '#/components/schemas/workers_binding_kind_artifacts'
          assets: '#/components/schemas/workers_binding_kind_assets'
          browser: '#/components/schemas/workers_binding_kind_browser'
          d1: '#/components/schemas/workers_binding_kind_d1'
          data_blob: '#/components/schemas/workers_binding_kind_data_blob'
          dispatch_namespace: '#/components/schemas/workers_binding_kind_dispatch_namespace'
          durable_object_namespace: '#/components/schemas/workers_binding_kind_durable_object_namespace'
          flagship: '#/components/schemas/workers_binding_kind_flagship'
          hyperdrive: '#/components/schemas/workers_binding_kind_hyperdrive'
          images: '#/components/schemas/workers_binding_kind_images'
          inherit: '#/components/schemas/workers_binding_kind_inherit'
          json: '#/components/schemas/workers_binding_kind_json'
          k2: '#/components/schemas/workers_binding_kind_k2'
          kv_namespace: '#/components/schemas/workers_binding_kind_kv_namespace'
          media: '#/components/schemas/workers_binding_kind_media'
          messaging: '#/components/schemas/workers_binding_kind_messaging'
          mtls_certificate: '#/components/schemas/workers_binding_kind_mtls_certificate'
          pipelines: '#/components/schemas/workers_binding_kind_pipelines'
          plain_text: '#/components/schemas/workers_binding_kind_plain_text'
          queue: '#/components/schemas/workers_binding_kind_queue'
          r2_bucket: '#/components/schemas/workers_binding_kind_r2_bucket'
          ratelimit: '#/components/schemas/workers_binding_kind_ratelimit'
          secret_key: '#/components/schemas/workers_binding_kind_secret_key'
          secret_text: '#/components/schemas/workers_binding_kind_secret_text'
          secrets_store_secret: '#/components/schemas/workers_binding_kind_secrets_store_secret'
          send_email: '#/components/schemas/workers_binding_kind_send_email'
          service: '#/components/schemas/workers_binding_kind_service'
          text_blob: '#/components/schemas/workers_binding_kind_text_blob'
          vectorize: '#/components/schemas/workers_binding_kind_vectorize'
          version_metadata: '#/components/schemas/workers_binding_kind_version_metadata'
          vpc_network: '#/components/schemas/workers_binding_kind_vpc_network'
          vpc_service: '#/components/schemas/workers_binding_kind_vpc_service'
          wasm_module: '#/components/schemas/workers_binding_kind_wasm_module'
          workflow: '#/components/schemas/workers_binding_kind_workflow'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/workers_binding_kind_ai'
      - $ref: '#/components/schemas/workers_binding_kind_ai_search'
      - $ref: '#/components/schemas/workers_binding_kind_ai_search_namespace'
      - $ref: '#/components/schemas/workers_binding_kind_messaging'
      - $ref: '#/components/schemas/workers_binding_kind_analytics_engine'
      - $ref: '#/components/schemas/workers_binding_kind_artifacts'
      - $ref: '#/components/schemas/workers_binding_kind_assets'
      - $ref: '#/components/schemas/workers_binding_kind_browser'
      - $ref: '#/components/schemas/workers_binding_kind_d1'
      - $ref: '#/components/schemas/workers_binding_kind_data_blob'
      - $ref: '#/components/schemas/workers_binding_kind_dispatch_namespace'
      - $ref: '#/components/schemas/workers_binding_kind_durable_object_namespace'
      - $ref: '#/components/schemas/workers_binding_kind_hyperdrive'
      - $ref: '#/components/schemas/workers_binding_kind_inherit'
      - $ref: '#/components/schemas/workers_binding_kind_images'
      - $ref: '#/components/schemas/workers_binding_kind_json'
      - $ref: '#/components/schemas/workers_binding_kind_kv_namespace'
      - $ref: '#/components/schemas/workers_binding_kind_media'
      - $ref: '#/components/schemas/workers_binding_kind_mtls_certificate'
      - $ref: '#/components/schemas/workers_binding_kind_plain_text'
      - $ref: '#/components/schemas/workers_binding_kind_pipelines'
      - $ref: '#/components/schemas/workers_binding_kind_k2'
      - $ref: '#/components/schemas/workers_binding_kind_queue'
      - $ref: '#/components/schemas/workers_binding_kind_ratelimit'
      - $ref: '#/components/schemas/workers_binding_kind_r2_bucket'
      - $ref: '#/components/schemas/workers_binding_kind_secret_text'
      - $ref: '#/components/schemas/workers_binding_kind_send_email'
      - $ref: '#/components/schemas/workers_binding_kind_service'
      - $ref: '#/components/schemas/workers_binding_kind_text_blob'
      - $ref: '#/components/schemas/workers_binding_kind_vectorize'
      - $ref: '#/components/schemas/workers_binding_kind_version_metadata'
      - $ref: '#/components/schemas/workers_binding_kind_secrets_store_secret'
      - $ref: '#/components/schemas/workers_binding_kind_flagship'
      - $ref: '#/components/schemas/workers_binding_kind_secret_key'
      - $ref: '#/components/schemas/workers_binding_kind_workflow'
      - $ref: '#/components/schemas/workers_binding_kind_wasm_module'
      - $ref: '#/components/schemas/workers_binding_kind_vpc_service'
      - $ref: '#/components/schemas/workers_binding_kind_vpc_network'
    workers_binding_kind_ai_search:
      type: object
      properties:
        instance_name:
          description: The user-chosen instance name. Must exist at deploy time. The worker can search, chat, update, and manage items/jobs on this instance.
          type: string
          example: cloudflare-blog
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace:
          description: The namespace the instance belongs to. Defaults to "default" if omitted. Customers who don't use namespaces can simply omit this field.
          type: string
          example: production
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - ai_search
          x-auditable: true
      required:
      - name
      - type
      - instance_name
    workers_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/workers_api-response-common'
    workers_script-response-upload-single:
      allOf:
      - $ref: '#/components/schemas/workers_api-response-common'
      - properties:
          result:
            $ref: '#/components/schemas/workers_script-response-upload'
        required:
        - result
        type: object
        x-cfLinkErrors:
          '10001': Unsupported or unexpected Content Type
          '10002': Unexpected internal server error
          '10003': Missing required URL parameter
          '10004': Malformed URL parameter
          '10006': Unparseable script body
          '10007': Resource not found (similar to HTTP 404)
          '10015': The current account is not authorized to use workers
          '10018': Attempted to update a script where the e-tag does not match
          '10021': Script content failed validation checks, but was otherwise parseable
          '10023': Unauthorized access attempt
          '10027': Script body was too large
          '10075': Requires a Workers Paid plan
    workers_binding_kind_secret_key:
      type: object
      properties:
        algorithm:
          description: Algorithm-specific key parameters. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#algorithm).
          type: object
          x-auditable: true
        format:
          description: Data format of the key. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#format).
          type: string
          example: raw
          enum:
          - raw
          - pkcs8
          - spki
          - jwk
          x-auditable: true
        key_base64:
          description: Base64-encoded key data. Required if `format` is "raw", "pkcs8", or "spki".
          type: string
          writeOnly: true
          x-sensitive: true
        key_jwk:
          description: Key data in [JSON Web Key](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#json_web_key) format. Required if `format` is "jwk".
          type: object
          writeOnly: true
          x-sensitive: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - secret_key
          x-auditable: true
        usages:
          description: Allowed operations with the key. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#keyUsages).
          type: array
          items:
            enum:
            - encrypt
            - decrypt
            - sign
            - verify
            - deriveKey
            - deriveBits
            - wrapKey
            - unwrapKey
            type: string
          example:
          - encrypt
          - decrypt
          x-auditable: true
          x-stainless-collection-type: set
      required:
      - name
      - type
      - format
      - algorithm
      - usages
    workers_namespace_identifier:
      description: Namespace identifier tag.
      type: string
      example: 0f2ac74b498b48028cb68387c421e279
      maxLength: 32
      x-auditable: true
    workers_binding_kind_dispatch_namespace:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace:
          description: The name of the dispatch namespace.
          type: string
          example: my-namespace
          x-auditable: true
        outbound:
          description: Outbound worker.
          type: object
          properties:
            params:
              description: Pass information from the Dispatch Worker to the Outbound Worker through the parameters.
              type: array
              items:
                properties:
                  name:
                    description: Name of the parameter.
                    type: string
                    example: customer_name
                    x-auditable: true
                required:
                - name
                type: object
            worker:
              description: Outbound worker.
              type: object
              properties:
                entrypoint:
                  description: Entrypoint to invoke on the outbound worker.
                  type: string
                  x-auditable: true
                environment:
                  description: Environment of the outbound worker.
                  type: string
                  x-auditable: true
                service:
                  description: Name of the outbound worker.
                  type: string
                  x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - dispatch_namespace
          x-auditable: true
      required:
      - name
      - type
      - namespace
    workers_exports_reconciliation_scenario:
      description: 'Stable, machine-readable tag identifying which reconciliation

        scenario produced an error, warning, or info entry. Clients may

        branch on this value instead of parsing `message`.

        '
      type: string
      enum:
      - code_class_not_in_exports
      - provisioned_class_missing_from_config
      - config_export_not_in_code
      - config_references_nonexistent_class
      - orphaned_provisioned_namespace
      - storage_type_mismatch
      - free_tier_requires_sqlite
      - invalid_export
      - tombstone_delete_class_still_in_code
      - tombstone_delete_blocked_by_external_bindings
      - tombstone_renamed_to_occupied
      - transferred_pending_not_found
      - transferred_target_missing
      - transferred_target_mismatch
      - phase_one_transfer_source_missing
      - phase_one_transfer_source_namespace_missing
      - phase_one_transfer_target_class_provisioned
      - phase_one_transfer_after_commit_mismatch
      - phase_one_transfer_duplicate
      - phase_one_transfer_target_in_dispatch_namespace
      - phase_one_transfer_source_in_dispatch_namespace
      - transferred_source_in_dispatch_namespace
      - transferred_target_in_dispatch_namespace
      - container_undeclared_reference
      - container_class_not_durable_object
      - container_wiring_inconsistent
      - container_multiple_durable_objects
      - transfer_container_parity_mismatch
      - transfer_container_parity_mismatch_on_commit
      - tombstone_class_still_in_code
      - stale_tombstone
      - transfer_receive_already_applied
      - transfer_receive_cleanup_complete
    workers_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    workers_binding_kind_hyperdrive:
      type: object
      properties:
        id:
          description: Identifier of the Hyperdrive connection to bind to.
          type: string
          example: 57b7076f58be42419276f058a8968187
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - hyperdrive
          x-auditable: true
      required:
      - name
      - type
      - id
    workers_exports_reconciliation_error_response:
      description: 'The v4 error envelope returned with HTTP 400 when one or more

        declared `exports` entries fail reconciliation (error code

        100402). The top-level error `message` aggregates the per-class

        failures as human-readable prose; the structured per-class payload

        is carried in `errors[].meta.details`, sorted by class name.

        '
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: integer
                example: 100402
                enum:
                - 100402
              message:
                description: 'Aggregate, multi-line, human-readable summary of every

                  per-class reconciliation failure.

                  '
                type: string
              meta:
                type: object
                properties:
                  details:
                    description: 'Structured per-class reconciliation failures, sorted

                      by class name.

                      '
                    type: array
                    items:
                      $ref: '#/components/schemas/workers_exports_reconciliation_error'
                required:
                - details
            required:
            - code
            - message
            - meta
            type: object
        messages:
          $ref: '#/components/schemas/workers_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    workers_script-response-upload:
      allOf:
      - $ref: '#/components/schemas/workers_script-response'
      - properties:
          entry_point:
            description: The entry point for the script.
            type: string
            example: index.js
            readOnly: true
          startup_time_ms:
            type: integer
            example: 10
            readOnly: true
            x-auditable: true
        required:
        - startup_time_ms
        type: object
    workers_binding_kind_text_blob:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        part:
          description: The name of the file containing the text content. Only accepted for `service worker syntax` Workers.
          type: string
          example: my-module.txt
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - text_blob
          deprecated: true
          x-auditable: true
      required:
      - name
      - type
      - part
    workers_compatibility_flag:
      description: Flag that enables or disables a specific feature in the Workers runtime.
      type: string
      example: nodejs_compat
      x-auditable: true
    workers_bindings:
      description: 'List of bindings attached to a Worker. You can find more about bindings on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/#bindings.'
      type: array
      items:
        $ref: '#/components/schemas/workers_binding_item'
      example:
      - name: MY_ENV_VAR
        text: my_data
        type: plain_text
    workers_logpush:
      description: Whether Logpush is turned on for the Worker.
      type: boolean
      example: false
      default: false
      x-auditable: true
    workers_created_on:
      description: When the script was created.
      type: string
      format: date-time
      example: '2017-01-01T00:00:00Z'
      readOnly: true
      x-auditable: true
    workers_route:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/workers_identifier'
          readOnly: true
        pattern:
          description: Pattern to match incoming requests against. [Learn more](https://developers.cloudflare.com/workers/configuration/routing/routes/#matching-behavior).
          type: string
          example: example.com/*
          x-auditable: true
        script:
          description: Name of the script to run if the route matches.
          type: string
          example: my-workers-script
          x-auditable: true
      required:
      - id
      - pattern
    workers_binding_kind_flagship:
      type: object
      properties:
        app_id:
          description: ID of the Flagship app to bind to for feature flag evaluation.
          type: string
          example: app-12345678-1234-1234-1234-123456789012
          maxLength: 128
          x-auditable: true
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - flagship
          x-auditable: true
      required:
      - name
      - type
      - app_id
    workers_assets-2:
      description: Configuration for assets within a Worker.
      type: object
      properties:
        config:
          description: Configuration for assets within a Worker.
          type: object
          properties:
            _headers:
              description: The contents of a _headers file (used to attach custom headers on asset responses).
              type: string
              example: '/dashboard/*

                X-Frame-Options: DENY


                /static/*

                Access-Control-Allow-Origin: *'
            _redirects:
              description: The contents of a _redirects file (used to apply redirects or proxy paths ahead of asset serving).
              type: string
              example: '/foo /bar 301

                /news/* /blog/:splat'
            base_path:
              description: The public URL path prefix under which assets are served. A null request value resets it to `/`; responses represent the root as `/`. All versions in a gradual deployment must use the same canonical value. To change it, first deploy the version containing the change at 100%.
              type:
              - string
              - 'null'
              example: /docs/
              default: /
              x-auditable: true
              x-stainless-terraform-configurability: computed_optional
            html_handling:
              description: Determines the redirects and rewrites of requests for HTML content.
              type: string
              example: auto-trailing-slash
              enum:
              - auto-trailing-slash
              - force-trailing-slash
              - drop-trailing-slash
              - none
            not_found_handling:
              description: Determines the response when a request does not match a static asset, and there is no Worker script.
              type: string
              example: 404-page
              enum:
              - none
              - 404-page
              - single-page-application
            run_worker_first:
              oneOf:
              - description: Contains a list path rules to control routing to either the Worker or assets. Glob (*) and negative (!) rules are supported. Rules must start with either '/' or '!/'. At least one non-negative rule must be provided, and negative rules have higher precedence than non-negative rules.
                example: '["/api/*", "/oauth/callback", "!/api/assets/*"]'
                items:
                  type: string
                type: array
              - description: Enables routing to always invoke the Worker script ahead of all requests. When true, this is equivalent to `["/*"]` in the string array version of this field.
                example: true
                type: boolean
            serve_directly:
              description: When true and the incoming request matches an asset, that will be served instead of invoking the Worker script. When false, requests will always invoke the Worker script.
              type: boolean
              example: true
              deprecated: true
        jwt:
          description: Token provided upon successful upload of all files from a registered manifest.
          type: string
          x-sensitive: true
    workers_exports_reconciliation_warning:
      description: 'A non-blocking reconciliation warning. Reserved: no scenario

        populates this array today (`code_class_not_in_exports` is

        surfaced as info and `provisioned_class_missing_from_config` is a

        hard error). Clients should still surface any entries that appear.

        '
      type: object
      properties:
        class:
          description: The class name the warning is about.
          type: string
        message:
          description: Human-readable explanation of the warning.
          type: string
        namespace_id:
          description: The provisioned namespace the warning relates to, when applicable.
          type: string
          format: uuid
        scenario:
          $ref: '#/components/schemas/workers_exports_reconciliation_scenario'
      required:
      - class
      - scenario
      - message
    workers_placement_info_no_status:
      description: Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host.
      type: object
      oneOf:
      - additionalProperties: false
        properties:
          mode:
            description: Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
            type: string
            enum:
            - smart
            x-auditable: true
        required:
        - mode
        type: object
      - additionalProperties: false
        properties:
          region:
            description: Cloud region for targeted placement in format 'provider:region'.
            type: string
            example: aws:us-east-1
            x-auditable: true
        required:
        - region
        type: object
      - additionalProperties: false
        properties:
          hostname:
            description: HTTP hostname for targeted placement.
            type: string
            example: api.example.com
            x-auditable: true
        required:
        - hostname
        type: object
      - additionalProperties: false
        properties:
          host:
            description: TCP host and port for targeted placement.
            type: string
            example: db.example.com:5432
            x-auditable: true
        required:
        - host
        type: object
      - additionalProperties: false
        properties:
          mode:
            description: Targeted placement mode.
            type: string
            enum:
            - targeted
            x-auditable: true
          region:
            description: Cloud region for targeted placement in format 'provider:region'.
            type: string
            example: aws:us-east-1
            x-auditable: true
        required:
        - mode
        - region
        type: object
      - additionalProperties: false
        properties:
          hostname:
            description: HTTP hostname for targeted placement.
            type: string
            example: api.example.com
            x-auditable: true
          mode:
            description: Targeted placement mode.
            type: string
            enum:
            - targeted
            x-auditable: true
        required:
        - mode
        - hostname
        type: object
      - additionalProperties: false
        properties:
          host:
            description: TCP host and port for targeted placement.
            type: string
            example: db.example.com:5432
            x-auditable: true
          mode:
            description: Targeted placement mode.
            type: string
            enum:
            - targeted
            x-auditable: true
        required:
        - mode
        - host
        type: object
      - additionalProperties: false
        properties:
          mode:
            description: Targeted placement mode.
            type: string
            enum:
            - targeted
            x-auditable: true
          target:
            description: Array of placement targets (currently limited to single target).
            type: array
            items:
              $ref: '#/components/schemas/workers_placement_target'
            maxItems: 1
            minItems: 1
            x-auditable: true
        required:
        - mode
        - target
        type: object
    workers_binding_kind_wasm_module:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        part:
          description: The name of the file containing the WebAssembly module content. Only accepted for `service worker syntax` Workers.
          type: string
          example: my-module.wasm
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - wasm_module
          deprecated: true
          x-auditable: true
      required:
      - name
      - type
      - part
    workers_compatibility_flags:
      description: Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a `compatibility_date`.
      type: array
      items:
        $ref: '#/components/schemas/workers_compatibility_flag'
      example:
      - nodejs_compat
      default: []
      x-stainless-collection-type: set
    workers_subdomain:
      type: object
      properties:
        enabled:
          description: Whether the Worker is available on the workers.dev subdomain.
          type: boolean
          example: false
          default: false
          x-auditable: true
        previews_enabled:
          description: Whether the Worker's Preview URLs are available on the workers.dev subdomain.
          type: boolean
          example: false
          x-auditable: true
          x-stainless-terraform-configurability: computed_optional
      required:
      - enabled
      - previews_enabled
    workers_secret_name_url_encoded:
      description: Flag that indicates whether the secret name is URL encoded.
      type: boolean
      example: true
      readOnly: true
      x-auditable: true
    workers_binding_kind_browser:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - browser
          x-auditable: true
      required:
      - name
      - type
    workers_durable_object_transferred_export:
      description: 'A `transferred` tombstone (source side of a two-phase transfer):

        hands ownership of the provisioned namespace to another script in

        the same account, named by `transferred_to`. The target must have

        already deployed a matching `expecting-transfer` entry. The source

        class may stay in code during the rollout window (an info notice

        is emitted). `storage`, `renamed_to` and `transfer_from` are not

        allowed.

        '
      type: object
      properties:
        state:
          description: Tombstone that transfers the namespace to another script.
          type: string
          enum:
          - transferred
        transferred_to:
          description: 'The destination script name. Must be in the same account and

            the same dispatch-namespace context (or both non-dispatch).

            Cross-dispatch-namespace transfers are rejected. Write-only:

            never present in GET responses.

            '
          type: string
          example: target-worker
          maxLength: 128
          writeOnly: true
        type:
          description: Marks this entry as a Durable Object export.
          type: string
          enum:
          - durable-object
      additionalProperties: false
      required:
      - type
      - state
      - transferred_to
    workers_single_step_migrations:
      description: A single set of migrations to apply.
      allOf:
      - $ref: '#/components/schemas/workers_migration_tag_conditions'
      - $ref: '#/components/schemas/workers_migration_step'
    workers_script_name:
      description: Name of the script.
      type: string
      example: this-is_my_script-01
      pattern: ^[a-z0-9_][a-z0-9-_]*$
      x-auditable: true
    workers_binding_kind_ai_search_namespace:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        namespace:
          description: The user-chosen namespace name. Must exist before deploy -- Wrangler handles auto-creation on deploy failure (R2 bucket pattern). The "default" namespace is auto-created by config-api for new accounts. Grants full access (CRUD + search + chat) to all instances within the namespace.
          type: string
          example: production
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - ai_search_namespace
          x-auditable: true
      required:
      - name
      - type
      - namespace
    workers_tag:
      type: string
      example: my-tag
      maxLength: 1024
      pattern: ^[^,&]*$
    workers_script-response-single:
      allOf:
      - $ref: '#/components/schemas/workers_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/workers_script-response'
        required:
        - result
        type: object
        x-cfLinkErrors:
          '10001': Unsupported or unexpected Content Type
          '10002': Unexpected internal server error
          '10003': Missing required URL parameter
          '10004': Malformed URL parameter
          '10006': Unparseable script body
          '10007': Resource not found (similar to HTTP 404)
          '10015': The current account is not authorized to use workers
          '10018': Attempted to update a script where the e-tag does not match
          '10021': Script content failed validation checks, but was otherwise parseable
          '10023': Unauthorized access attempt
          '10027': Script body was too large
          '10075': Requires a Workers Paid plan
    workers_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    workers_export_storage:
      description: 'Durable Object storage backend. `sqlite` is the recommended (and

        only) backend for new namespaces. `legacy-kv` is accepted only for

        a class whose namespace already exists as KV-backed; the `exports`

        flow never provisions a new `legacy-kv` namespace.

        '
      type: string
      enum:
      - sqlite
      - legacy-kv
    workers_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/workers_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/workers_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    workers_binding_kind_images:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - images
          x-auditable: true
      required:
      - name
      - type
    workers_binding_kind_secret_text:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/workers_binding_name'
        text:
          description: The secret value to use.
          type: string
          example: My secret.
          writeOnly: true
          x-sensitive: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - secret_text
          x-auditable: true
      required:
      - name
      - type
      - text
    workers_binding_kind_workflow:
      type: object
      properties:
        class_name:
          description: Class name of the Workflow. Should only be provided if the Workflow belongs to this script.
          type: string
          example: my-workflow
        name:
          $ref: '#/components/schemas/workers_binding_name'
        script_name:
          description: Script name that contains the Workflow. If not provided, defaults to this script name.
          type: string
          example: my-workflow
          x-auditable: true
        type:
          description: The kind of resource that the binding provides.
          type: string
          enum:
          - workflow
        workflow_name:
          description: Name of the Workflow to bind to.
          type: string
          example: my-workflow
      required:
      - name
      - type
[...]
