openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare AI Gateway API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: AI Gateway
paths:
  /accounts/{account_id}/ai-gateway/billing/credit-balance:
    get:
      operationId: aig-billing-get-credit-balance
      summary: Get credit balance
      description: Retrieve the current credit balance, payment method info, and top-up configuration.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Credit balance retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_GetCreditBalanceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      - AI Gateway Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing
      x-fern-sdk-method-name: credit-balance
  /accounts/{account_id}/ai-gateway/billing/invoice-history:
    get:
      operationId: aig-billing-get-invoice-history
      summary: Get invoice history
      description: Retrieve a list of past invoices with pagination, optionally filtered by type.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: 'Filter invoice type: auto, manual, or all.'
        schema:
          description: 'Filter invoice type: auto, manual, or all.'
          type: string
          example: all
          default: all
          enum:
          - auto
          - all
          - manual
      responses:
        '200':
          description: Invoice history retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_GetInvoiceHistoryResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      - AI Gateway Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing
      x-fern-sdk-method-name: invoice-history
  /accounts/{account_id}/ai-gateway/billing/invoice-preview:
    get:
      operationId: aig-billing-get-invoice-preview
      summary: Get invoice preview
      description: Retrieve a preview of the upcoming invoice including line items and tax.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Invoice preview retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_GetInvoicePreviewResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      - AI Gateway Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing
      x-fern-sdk-method-name: invoice-preview
  /accounts/{account_id}/ai-gateway/billing/spending-limit:
    delete:
      operationId: aig-billing-delete-spending-limit
      summary: Delete spending limit (deprecated)
      description: Remove the spending limit for the account.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Spending limit deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_DeleteSpendingLimitResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.spending-limit
      x-fern-sdk-method-name: delete
    get:
      operationId: aig-billing-get-spending-limit
      summary: Get spending limit (deprecated)
      description: Retrieve the current spending limit configuration for the account.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Spending limit configuration retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_GetSpendingLimitResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      - AI Gateway Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.spending-limit
      x-fern-sdk-method-name: get
    post:
      operationId: aig-billing-set-spending-limit
      summary: Set spending limit (deprecated)
      description: 'Deprecated: spending limits can no longer be created, enabled, or modified and this endpoint always responds 403. Use the new AI Gateway spend limits instead: https://developers.cloudflare.com/ai-gateway/features/spend-limits/. Existing limits can be removed via DELETE /spending-limit.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  description: Spending limit amount in cents (min 100).
                  type: integer
                  example: 10000
                  minimum: 100
                duration:
                  description: Spending limit duration.
                  type: string
                  example: monthly
                  enum:
                  - daily
                  - weekly
                  - monthly
                strategy:
                  description: Spending limit strategy.
                  type: string
                  example: fixed
                  enum:
                  - fixed
                  - sliding
              additionalProperties: false
              required:
              - amount
              - strategy
              - duration
      responses:
        '201':
          description: Spending limit created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_SetSpendingLimitResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      deprecated: true
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: deprecated
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.spending-limit
      x-fern-sdk-method-name: create
  /accounts/{account_id}/ai-gateway/billing/topup:
    post:
      operationId: aig-billing-create-topup
      summary: Create a top-up
      description: Create a credit top-up for the given account, charged to the account's default payment method.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  description: Top-up amount in cents (min 1000).
                  type: integer
                  example: 5000
                  minimum: 1000
                payment_method_id:
                  description: Stripe PaymentMethod to charge instead of the customer's default payment method.
                  type: string
                  example: pm_123
              additionalProperties: false
              required:
              - amount
      responses:
        '200':
          description: Top-up initiated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_CreateTopupResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '402':
          description: Payment required — the payment method was declined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.topup
      x-fern-sdk-method-name: create
      x-forge-require-confirmation: This purchases AI Gateway credits and charges the amount to the account's default payment method.
  /accounts/{account_id}/ai-gateway/billing/topup/config:
    delete:
      operationId: aig-billing-delete-topup-config
      summary: Delete auto top-up configuration
      description: 'Remove the auto top-up configuration for the account. Dashboard sessions only: API token, OAuth, and service credentials are rejected with 403.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Auto top-up configuration deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_DeleteTopupConfigResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.topup.config
      x-fern-sdk-method-name: delete
    get:
      operationId: aig-billing-get-topup-config
      summary: Get auto top-up configuration
      description: Retrieve the current auto top-up threshold, amount, and any error state.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Auto top-up configuration retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_GetTopupConfigResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      - AI Gateway Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.topup.config
      x-fern-sdk-method-name: get
    post:
      operationId: aig-billing-set-topup-config
      summary: Set auto top-up configuration
      description: 'Configure auto top-up with a balance threshold and top-up amount. Dashboard sessions only: API token, OAuth, and service credentials are rejected with 403.'
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  description: Auto top-up amount in cents (min 1000).
                  type: integer
                  example: 5000
                  minimum: 1000
                threshold:
                  description: Balance threshold in cents that triggers auto top-up (min 500).
                  type: integer
                  example: 500
                  minimum: 500
              additionalProperties: false
              required:
              - threshold
              - amount
      responses:
        '200':
          description: Auto top-up configuration saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_SetTopupConfigResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.topup.config
      x-fern-sdk-method-name: create
  /accounts/{account_id}/ai-gateway/billing/topup/eligibility:
    post:
      operationId: aig-billing-topup-eligibility
      summary: Get top-up eligibility
      description: Determine whether an account can self-serve a credit top-up, and if not, why. The dashboard forwards the account's payment-method list in the body; the reason logic is owned here.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_methods:
                  description: Account-level payment methods, forwarded by the dashboard.
                  type: array
                  items:
                    properties:
                      default:
                        description: Whether this is the account default payment method.
                        type: boolean
                        example: true
                      last_four:
                        description: Last 4 digits, for display copy only.
                        type: string
                        example: '4242'
                      type:
                        description: 'Payment-method type. Absent or unrecognized is treated as non-card (does not error). Known values: PAYPAL, CREDIT_CARD, APPLE_PAY, GOOGLE_PAY, ACH_DIRECT_DEBIT, SEPA_DEBIT, CASHAPP, LINK, CRYPTO.'
                        type: string
                        example: CREDIT_CARD
                    type: object
                  maxItems: 100
      responses:
        '200':
          description: Eligibility determined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_GetTopupEligibilityResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.topup
      x-fern-sdk-method-name: eligibility
  /accounts/{account_id}/ai-gateway/billing/topup/limits:
    get:
      operationId: aig-billing-get-topup-limits
      summary: Get account top-up limits
      description: Retrieve the minimum and maximum allowed top-up amounts (in cents) for this account.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Top-up limits retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_GetTopupLimitsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      - AI Gateway Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.topup
      x-fern-sdk-method-name: limits
  /accounts/{account_id}/ai-gateway/billing/topup/status:
    post:
      operationId: aig-billing-check-topup-status
      summary: Check top-up status
      description: Get the payment processing status of a top-up by its invoice ID.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_intent_id:
                  description: Stripe invoice ID to check status for.
                  type: string
                  example: in_1abc
              additionalProperties: false
              required:
              - payment_intent_id
      responses:
        '200':
          description: Top-up status retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_TopupStatusResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing.topup
      x-fern-sdk-method-name: status
  /accounts/{account_id}/ai-gateway/billing/usage-history:
    get:
      operationId: aig-billing-get-usage-history
      summary: Get usage history
      description: Retrieve aggregated usage meter event summaries for the given time range.
      parameters:
      - name: account_id
        in: path
        description: Cloudflare account ID.
        required: true
        schema:
          type: string
      - name: value_grouping_window
        in: query
        description: Grouping window for usage data.
        required: true
        schema:
          description: Grouping window for usage data.
          type: string
          example: day
          enum:
          - day
          - hour
      - name: start_time
        in: query
        description: Start time as Unix timestamp in milliseconds.
        schema:
          description: Start time as Unix timestamp in milliseconds.
          type:
          - number
          - 'null'
          example: 1700000000000
      - name: end_time
        in: query
        description: End time as Unix timestamp in milliseconds.
        schema:
          description: End time as Unix timestamp in milliseconds.
          type:
          - number
          - 'null'
          example: 1700086400000
      responses:
        '200':
          description: Usage history retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_GetUsageHistoryResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aig-billing_ErrorResponse'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-api-token-group:
      - AI Gateway Write
      - AI Gateway Read
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.aig
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-ignore: true
      x-fern-sdk-group-name: ai-gateway.billing
      x-fern-sdk-method-name: usage-history
  /accounts/{account_id}/ai/websearch:
    post:
      operationId: workers-ai-ai-gateway-web-search
      summary: Search the web through AI Gateway
      description: Run a web search through a configured AI Gateway.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          example: 023e105f4ecef8ad9ca31a8372d0c353
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                byokAlias:
                  type: string
                  pattern: ^[A-Za-z0-9_-]{1,64}$
                limit:
                  type: integer
                  maximum: 10
                  minimum: 1
                options:
                  type: object
                  properties:
                    gateway:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                      required:
                      - id
                  required:
                  - gateway
                provider:
                  type: string
                  maxLength: 1024
                  minLength: 1
                query:
                  minLength: 1
                  type: string
              additionalProperties: false
              required:
              - query
              - options
      responses:
        '200':
          description: Web search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      properties:
                        description:
                          type: string
                        faviconUrl:
                          type: string
                          format: uri
                        imageUrl:
                          type: string
                          format: uri
                        lastModifiedDate:
                          type: string
                          format: date-time
                        title:
                          type: string
                        url:
                          type: string
                          format: uri
                      required:
                      - url
                      - title
                      type: object
                  metadata:
                    type: object
                    properties:
                      latencyMs:
                        type: number
                      query:
                        type: string
                      requestId:
                        type: string
                    required:
                    - query
                    - requestId
                    - latencyMs
                required:
                - items
                - metadata
        '400':
          description: Invalid request or gateway configuration
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    errors:
                      type: array
                      items:
                        properties:
                          code:
                            type: number
                          message:
                            type: string
                        required:
                        - code
                        - message
                        type: object
                    messages:
                      type: array
                      items: {}
                    result:
                      anyOf:
                      - {}
                      - type: object
                      - {}
                    success:
                      type: boolean
                      enum:
                      - false
                  required:
                  - success
                  - errors
                  - messages
                  - result
                  type: object
                - properties:
                    error:
                      type: object
                      properties:
                        category:
                          type: string
                          enum:
                          - gateway
                          - credential
                          - provider
                          - internal
                        code:
                          type: string
                        gatewayRequestId:
                          type: string
                        retryable:
                          type: boolean
                        status:
                          type: integer
                      required:
                      - category
                      - code
                      - status
                      - retryable
                      - gatewayRequestId
                    ok:
                      type: boolean
                      enum:
                      - false
                  required:
                  - ok
                  - error
                  type: object
        '403':
          description: Web search is not enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      category:
                        type: string
                        enum:
                        - gateway
                        - credential
                        - provider
                        - internal
                      code:
                        type: string
                      gatewayRequestId:
                        type: string
                      retryable:
                        type: boolean
                      status:
                        type: integer
                    required:
                    - category
                    - code
                    - status
                    - retryable
                    - gatewayRequestId
                  ok:
                    type: boolean
                    enum:
                    - false
                required:
                - ok
                - error
        '502':
          description: Web search provider failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      category:
                        type: string
                        enum:
                        - gateway
                        - credential
                        - provider
                        - internal
                      code:
                        type: string
                      gatewayRequestId:
                        type: string
                      retryable:
                        type: boolean
                      status:
                        type: integer
                    required:
                    - category
                    - code
                    - status
                    - retryable
                    - gatewayRequestId
                  ok:
                    type: boolean
                    enum:
                    - false
                required:
                - ok
                - error
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - AI Gateway
      x-cfPermissionsRequired:
        enum:
        - com.cloudflare.api.account.ai
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-fern-availability: generally-available
      x-fern-sdk-group-name: ai
      x-fern-sdk-method-name: websearch
components:
  schemas:
    aig-billing_TopupStatusResult:
      type: object
      properties:
        payment_intent_id:
          type: string
        status:
          type: string
          enum:
          - completed
          - pending
      required:
      - status
      - payment_intent_id
    aig-billing_GetInvoicePreviewResult:
      type: object
      properties:
        amount_due:
          type: number
        amount_paid:
          type: number
        amount_remaining:
          type: number
        currency:
          type: string
        id:
          type: string
        invoice_lines:
          type: array
          items:
            properties:
              amount:
                type: number
              currency:
                type: string
              description:
                type:
                - string
                - 'null'
              period:
                type: object
                properties:
                  end:
                    type: number
                  start:
                    type: number
                required:
                - start
                - end
              pretax_credit_amounts:
                type: array
                items:
                  properties:
                    amount:
                      type: number
                    credit_balance_transaction:
                      type:
                      - string
                      - 'null'
                    discount:
                      type:
                      - string
                      - 'null'
                    type:
                      type: string
                  required:
                  - amount
                  - type
                  type: object
              pricing:
                type: object
                properties:
                  unit_amount_decimal:
                    type:
                    - string
                    - 'null'
                required:
                - unit_amount_decimal
              quantity:
                type: number
            required:
            - description
            - amount
            - period
            - currency
            - pricing
            - quantity
            type: object
        period_end:
          type: number
        period_start:
          type: number
        status:
          type: string
          enum:
          - draft
          - open
          - paid
          - uncollectible
          - void
      required:
      - id
      - amount_due
      - amount_paid
      - amount_remaining
      - currency
      - period_start
      - period_end
      - status
      - invoice_lines
    aig-billing_SetSpendingLimitResult:
      type: object
    aig-billing_GetTopupConfigResult:
      type: object
      properties:
        amount:
          type:
          - number
          - 'null'
        disabledReason:
          type:
          - string
          - 'null'
        error:
          type:
          - string
          - 'null'
        lastFailedAt:
          type:
          - number
          - 'null'
        threshold:
          type:
          - number
          - 'null'
      required:
      - threshold
      - amount
    aig-billing_SetTopupConfigResult:
      type: object
      properties:
        amount:
          type: number
        threshold:
          type: number
      required:
      - threshold
      - amount
    aig-billing_DeleteSpendingLimitResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_DeleteSpendingLimitResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_GetUsageHistoryResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_GetUsageHistoryResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_GetSpendingLimitResult:
      type: object
      properties:
        config:
          type: object
          properties:
            amount:
              type:
              - number
              - 'null'
            duration:
              type:
              - string
              - 'null'
            strategy:
              type:
              - string
              - 'null'
          required:
          - amount
          - duration
          - strategy
        enabled:
          type: boolean
      required:
      - enabled
      - config
    aig-billing_GetCreditBalanceResult:
      type: object
      properties:
        balance:
          type: number
        first_topup_success:
          type: boolean
        has_default_payment_method:
          type: boolean
        payment_method:
          type:
          - object
          - 'null'
          properties:
            brand:
              type: string
            last4:
              type: string
        topup_config:
          type: object
          properties:
            amount:
              type:
              - number
              - 'null'
            disabledReason:
              type:
              - string
              - 'null'
            error:
              type:
              - string
              - 'null'
            lastFailedAt:
              type:
              - number
              - 'null'
            threshold:
              type:
              - number
              - 'null'
          required:
          - threshold
          - amount
      required:
      - balance
      - has_default_payment_method
      - payment_method
      - topup_config
    aig-billing_GetCreditBalanceResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_GetCreditBalanceResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_GetTopupLimitsResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_GetTopupLimitsResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_GetTopupEligibilityResult:
      type: object
      properties:
        account_payment_method_state:
          description: Account-level PM posture derived from the passed-in list.
          type: string
          example: SUPPORTED_PRESENT
          enum:
          - NONE
          - UNSUPPORTED_ONLY
          - SUPPORTED_PRESENT
          - UNKNOWN
        aig_customer_state:
          description: AIG Stripe customer resolution outcome.
          type: string
          example: RESOLVED
          enum:
          - RESOLVED
          - RESOLUTION_FAILED
        aig_default_payment_method_state:
          description: Whether the AIG Stripe customer has a default PM attached.
          type: string
          example: MISSING
          enum:
          - PRESENT
          - MISSING
        display_payment_method:
          description: Card to reference in the UI, e.g. "use card ending 1234".
          type:
          - object
          - 'null'
          properties:
            brand:
              type: string
              example: visa
            last4:
              type: string
              example: '1234'
          required:
          - last4
        eligible:
          description: True only when reason === ELIGIBLE.
          type: boolean
          example: false
        reason:
          description: Canonical (in)eligibility cause. Drives Stratus copy + support triage.
          type: string
          example: ACCOUNT_PAYMENT_METHOD_NOT_LINKED_TO_AIG
          enum:
          - ELIGIBLE
          - NO_ACCOUNT_PAYMENT_METHOD
          - UNSUPPORTED_ACCOUNT_PAYMENT_METHOD
          - ACCOUNT_PAYMENT_METHOD_NOT_DEFAULT
          - ACCOUNT_PAYMENT_METHOD_NOT_LINKED_TO_AIG
          - CONTRACT_BILLING_NOT_SELF_SERVE
          - AIG_CUSTOMER_RESOLUTION_FAILED
          - PENDING_3DS_AUTHENTICATION
          - PAYMENT_AUTHENTICATION_FAILED
        recommended_action:
          description: Machine-readable next step.
          type: string
          example: USE_EXISTING_CARD
          enum:
          - NONE
          - ADD_SUPPORTED_PAYMENT_METHOD
          - USE_EXISTING_CARD
          - SET_CARD_AS_DEFAULT
          - CONTACT_SUPPORT
          - RESUME_AUTHENTICATION
          - RETRY
        recoverable:
          description: Whether the customer can resolve this themselves (vs contact support).
          type: boolean
          example: true
      required:
      - eligible
      - reason
      - recoverable
      - recommended_action
      - account_payment_method_state
      - aig_customer_state
      - aig_default_payment_method_state
      - display_payment_method
    aig-billing_SetTopupConfigResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_SetTopupConfigResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_GetTopupConfigResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_GetTopupConfigResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_DeleteTopupConfigResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_DeleteTopupConfigResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_CreateTopupResult:
      type: object
      properties:
        brand:
          description: Card brand (visa, mastercard, etc.).
          type: string
        client_secret:
          description: Stripe PaymentIntent client secret.
          type:
          - string
          - 'null'
        last4:
          description: Last 4 digits of card.
          type: string
        onboarding:
          description: Whether the user was already onboarded.
          type: boolean
        payment_intent_id:
          description: Stripe invoice ID.
          type: string
      required:
      - onboarding
      - payment_intent_id
      - client_secret
    aig-billing_GetTopupLimitsResult:
      type: object
      properties:
        currency:
          description: ISO 4217 currency code.
          type: string
          example: USD
        max_cents:
          type: integer
        min_cents:
          description: Minimum allowed top-up amount in cents.
          type: integer
          example: 1000
      required:
      - min_cents
      - max_cents
      - currency
    aig-billing_GetInvoicePreviewResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_GetInvoicePreviewResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          type:
          - object
          - 'null'
        success:
          type: boolean
          enum:
          - false
      required:
      - result
      - success
      - errors
    aig-billing_TopupStatusResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_TopupStatusResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_GetUsageHistoryResult:
      type: object
      properties:
        history:
          type: array
          items:
            properties:
              aggregated_value:
                type: number
              end_time:
                type: number
              id:
                type: string
              start_time:
                type: number
            required:
            - id
            - aggregated_value
            - end_time
            - start_time
            type: object
      required:
      - history
    aig-billing_DeleteSpendingLimitResult:
      type: object
    aig-billing_CreateTopupResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_CreateTopupResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_SetSpendingLimitResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_SetSpendingLimitResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_DeleteTopupConfigResult:
      type: object
    aig-billing_GetTopupEligibilityResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_GetTopupEligibilityResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_GetInvoiceHistoryResult:
      type: object
      properties:
        invoices:
          type: array
          items:
            properties:
              amount_due:
                type: number
              amount_paid:
                type: number
              amount_remaining:
                type: number
              attempt_count:
                type: number
              attempted:
                type: boolean
              auto_advance:
                type:
                - boolean
                - 'null'
              created:
                type: number
              created_by:
                type: string
              currency:
                type: string
              description:
                type:
                - string
                - 'null'
              id:
                type:
                - string
                - 'null'
              invoice_origin:
                type: string
              invoice_pdf:
                type:
                - string
                - 'null'
              status:
                type:
                - string
                - 'null'
            required:
            - amount_paid
            - amount_due
            - amount_remaining
            - currency
            type: object
        pagination:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
      required:
      - invoices
      - pagination
    aig-billing_GetSpendingLimitResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_GetSpendingLimitResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
    aig-billing_GetInvoiceHistoryResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        messages:
          type: array
          items:
            properties:
              code:
                type: number
              message:
                type: string
            required:
            - code
            - message
            type: object
        result:
          $ref: '#/components/schemas/aig-billing_GetInvoiceHistoryResult'
        result_info:
          type: object
          properties:
            has_more:
              type: boolean
            page:
              type: number
            per_page:
              type: number
            total_count:
              type: number
          required:
          - has_more
          - page
          - per_page
          - total_count
        success:
          type: boolean
          enum:
          - true
      required:
      - success
      - result
      - errors
      - messages
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
        description: View build-minute availability and refresh information.
      logs:
        description: Retrieve build logs.
      repos:
        description: Manage source repository connections for Workers Builds.
      tokens:
        description: Manage credentials used by Workers Builds to deploy Workers.
      triggers:
        description: Configure how repository changes build and deploy Workers.
      versions:
        description: Find builds associated with Worker versions.
      workers:
        description: Manage repository-backed build configuration for Workers.
  cache:
    description: Purge cached content and configure Cache Reserve, tiered caching, and variant serving
    groups:
      origin-cloud-regions:
        description: Manage Origin Cloud Regions routing and failover configurations
      settings:
        description: Configure Cache Reserve, tiered caching, and variant serving
      settings.regional-tiered-cache:
        description: Restrict tiered cache topology to data centers within a specific geographic region
      settings.reserve:
        description: Persistent storage tier that keeps cached assets even after eviction from edge caches
      settings.smart-tiered-cache:
        description: Automatically determine the best upper-tier data centers for tiered cache topology
      settings.variants:
        description: Serve different cached versions of an image based on the Accept header (WebP, AVIF, etc.)
  client-side-security:
    description: Client-Side Security — monitor JavaScript, connections, and cookies on your pages for supply-chain attacks
    groups:
      connections:
        description: Third-party connections made by scripts on your pages — track data exfiltration risks
      cookies:
        description: Cookies set by your pages with classification and same-site attribute tracking
      policies:
        description: Content Security Policies that control which scripts and connections are allowed on your pages
      scripts:
        description: JavaScript files detected on your pages with change tracking and malicious code detection
      settings:
        description: Fine tune Client-Side Security behaviors
  cloud-connector:
    description: Route traffic from Cloudflare directly to cloud provider services (AWS, Azure, GCP) without origin servers
    groups:
      rules:
        description: Routing rules that map request patterns to cloud provider endpoints
  cloudforce-one:
    description: Detection rule management APIs
    groups:
      binary-storage:
        description: Upload and retrieve malware samples and suspicious binaries for analysis
      requests:
        description: Additional request operations — priority listing and asset creation
      rules:
        description: Rule management operations
        groups:
          approvals:
            description: Approval workflow operations
          email:
            description: Email rule operations
          exemptions:
            description: Exemption rule operations
          managed:
            description: Managed rule operations
          stats:
            description: Rule statistics operations
          tree:
            description: Rule navigation tree operations
      scans:
        description: Scan URLs, IPs, and domains for threat intelligence indicators
  containers:
    description: Deploy and manage Containers applications on Cloudflare's global network
    groups:
      applications:
        description: Manage Containers applications
      applications.instances:
        description: Inspect Containers instances belonging to applications
      applications.rollouts:
        description: Manage rollouts for scheduler-backed applications
      applications.versions:
        description: Inspect versions of scheduler-backed applications
      registries:
        description: Manage Containers image registries
      registries.credentials:
        description: Generate image registry credentials
  content-scan:
    description: Malicious uploads detection, scan uploaded content in HTTP requests for malware and malicious payloads
    groups:
      expressions:
        description: Custom expressions that tell the scanner how to reach content objects it cannot parse on its own
  custom-pages:
    description: Manage custom error and challenge pages and their assets for accounts and zones
    groups:
      account-custom-pages:
        description: Manage account-level custom pages
      account-custom-pages.preview-tokens:
        description: Preview tokens for account-level custom pages
      assets:
        description: Manage account- and zone-level custom assets
      zone-custom-pages:
        description: Manage zone-level custom pages
      zone-custom-pages.preview-tokens:
        description: Preview tokens for zone-level custom pages
  d1:
    description: D1 is Cloudflare's managed, serverless database with SQLite's SQL semantics, built-in disaster recovery, and Worker and HTTP API access.
    groups:
      time-travel:
        description: use specific point-in-time backups of your D1 database
        x-forge-epilogue: For more information about Time Travel, see https://developers.cloudflare.com/d1/reference/time-travel
  diagnostics:
    description: Network diagnostic tools — traceroutes from Cloudflare's edge and endpoint health checks
    groups:
      endpoint-healthchecks:
        description: Monitor external endpoint availability with periodic HTTP/HTTPS health checks
      traceroutes:
        description: Run traceroutes from Cloudflare data centers to diagnose network path issues
  email-routing:
    description: Route incoming email to verified destination addresses or Workers with routing rules, catch-all behavior, and managed DNS records
    groups:
      addresses:
        description: Verified destination email addresses that can receive forwarded mail
      dns:
        description: Inspect or unlock the DNS records required by Email Routing
      rules:
        description: Match incoming email addresses and forward messages to destination mailboxes or Workers
      settings:
        description: Inspect and update Email Routing settings
  email-security:
    description: Cloud email security — investigate threats, manage allow/block policies, and detect phishing
    groups:
      analytics:
        description: Analytics and reporting — monthly report and per-day breakdowns of threat activity
      bulk-actions:
        description: Asynchronous jobs that move or release every message matching a search — create, monitor, and manage bulk jobs
      investigate:
        description: Search and investigate email messages — view detections, traces, raw content, and take remediation actions
      phishguard:
        description: PhishGuard user-reported phishing reports — view detected threats for a date range
      settings:
        description: Email security configuration — block senders, allow policies, content policies, domains, trusted domains, impersonation registry, and URL handling
      submissions:
        description: Reclassify submissions — track user and team reports of false positives and missed detections
  email-sending:
    description: Send transactional email and manage sending subdomains and their DNS configuration
    groups:
      limits:
        description: Inspect account-level sending quotas and current usage
      subdomains:
        description: Configure sending subdomains and keep their DNS records healthy
      suppressions:
        description: Prevent delivery to suppressed addresses and manage the account suppression list
  filters:
    description: Filter expressions used by legacy firewall rules to match requests — prefer Rulesets for new configurations
  firewall:
    description: Legacy firewall rules, zone lockdowns, access rules, user-agent blocking, and WAF packages
    groups:
      access-rules:
        description: IP-based access rules that allow, block, challenge, or whitelist traffic globally or per-zone
      lockdowns:
        description: Zone lockdown rules that restrict access to URLs by IP address or range
      rules:
        description: Legacy firewall rules with filter expressions — prefer Rulesets for new configurations
      ua-rules:
        description: Block or challenge requests based on the User-Agent header string
      waf:
        description: Legacy WAF managed rule packages, rule groups, individual rules, and override configurations
      zone-access-rules:
        description: Zone-scoped IP access rules for blocking or allowing traffic
  google-tag-gateway:
    description: Google Tag Gateway operations
    groups:
      config:
        description: Google Tag Gateway config operations
  healthchecks:
    description: Standalone health checks that monitor origin server availability from Cloudflare's edge
    groups:
      previews:
        description: Test a health check configuration before deploying it to production
  hyperdrive:
    description: Accelerate access to existing databases by caching queries and pooling connections at the edge
  iam:
    description: Identity and access management — permission groups, resource groups, user groups, and SSO connectors
    groups:
      permission-groups:
        description: View the permission groups that can be assigned to API tokens and policies
      resource-groups:
        description: Define scopes that limit which account resources a policy or token can access
      sso:
        description: Configure single sign-on connectors to authenticate account members through an external identity provider
      user-groups:
        description: Organize account members into groups for easier permission assignment
  images:
    description: Store, resize, and deliver optimized images globally — variants, signing keys, and direct uploads
    groups:
      flows:
        description: Zone-level transformation flows that control how images are resized and optimized on delivery
      import:
        description: Import images from S3
      keys:
        description: Manage signing keys for generating private image URLs
      variants:
        description: Manage named resize variants for transforming images on delivery
  intel:
    description: Threat intelligence lookups — IP reputation, domain info, ASN details, WHOIS, and indicator feeds
    groups:
      asn:
        description: ASN intelligence — ownership, geolocation, and subnet details for autonomous systems
      attack-surface-report:
        description: Attack surface intelligence — exposed assets, vulnerabilities, and infrastructure mapping
      dns:
        description: Passive DNS data showing historical DNS resolution records for domains
      domain-history:
        description: Historical domain registration and categorization changes over time
      domains:
        description: Domain intelligence — risk scores, categories, and associated infrastructure
      indicator-feeds:
        description: Threat indicator feeds — subscribe to and manage curated lists of malicious IPs, domains, and URLs
      ip-lists:
        description: Curated IP lists used for threat detection and policy enforcement
      ips:
        description: IP address intelligence — geolocation, risk assessment, and hosting provider details
      miscategorizations:
        description: Report and track domain miscategorization corrections
      whois:
        description: WHOIS registration data for domains including registrant, registrar, and nameservers
  k2:
    description: Durable, ordered event streams that you produce records to and consume from with subscriptions
    groups:
      streams:
        description: K2 streams, their retention, and the HTTP and Workers binding inputs used to produce records
      streams.subscriptions:
        description: Subscriptions that consume a K2 stream, with committed-position lag
  leaked-credential-checks:
    description: Detect compromised credentials in login requests by checking against known breach databases
    groups:
      detections:
        description: Custom detection locations that tell the WAF where to find usernames and passwords in requests
  load-balancers:
    description: Distribute traffic across origin pools with health monitoring, geo-steering, and failover
    groups:
      monitor-groups:
        description: Group monitors together for shared configuration and bulk management
      monitor-groups.references:
        description: List references to monitor groups used by load balancer pools
      monitors:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.previews:
        description: Health check configurations that probe origin servers and determine pool availability
      monitors.references:
        description: Health check configurations that probe origin servers and determine pool availability
      pools:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.health:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      pools.references:
        description: Origin server pools with weighted traffic distribution, health thresholds, and geographic preferences
      previews:
        description: Preview the result of a health check monitor configuration before applying it
      regions:
        description: Geographic regions used for regional pool steering and traffic policies
      searches:
        description: Search across all load balancer resources (pools, monitors, load balancers) by name or reference
  logs:
    description: Log control, retention, and raw log access — CMB config, ray ID lookups, and received fields
    groups:
      control:
        description: Log control operations
      received:
        description: Received log operations
  magic-network-monitoring:
    description: Flow-based network traffic monitoring with configurable alerting rules and VPC flow ingestion
    groups:
      configs:
        description: Account-level monitoring configuration — sampling rates, thresholds, and notification settings
      rules:
        description: Monitoring rules that define traffic thresholds and trigger alerts or prefix advertisements
      vpc-flows:
        description: Ingest VPC flow logs from cloud providers for network visibility and anomaly detection
  magic-transit:
    description: DDoS-protected network transit — GRE/IPsec tunnels, static routes, Magic WAN sites, connectors, and packet captures
    groups:
      advanced-dns-protection:
        description: Advanced Dns Protection operations
      advanced-tcp-protection:
        description: Advanced Tcp Protection operations
      apps:
        description: Application-aware traffic policies for Magic WAN that steer traffic by app type
      bgp-filter-profiles:
        description: BGP filter profiles for controlling which routes are allowed or denied on Magic Transit tunnels
      bgp-settings:
        description: BGP settings for controlling default ASN and route redistribution on Magic Transit tunnels
      cf-interconnects:
        description: Cloudflare Network Interconnect (CNI) links for direct physical or virtual peering
      gre-tunnels:
        description: GRE tunnel endpoints that connect your network to Cloudflare for Magic Transit
      ipsec-tunnels:
        description: IPsec tunnel endpoints with pre-shared key management for encrypted transit
      pcaps:
        description: Packet capture requests for debugging traffic flowing through Magic Transit tunnels
      routes:
        description: Static routes that direct IP prefix traffic through specific GRE/IPsec tunnels
      sites:
        description: Magic WAN branch sites — base CRUD, LAN/WAN interface configuration, ACLs, connectors, app configuration, and NetFlow config
  mcp:
    description: Manage MCP portals and upstream MCP servers for Cloudflare Access AI controls
    groups:
      portals:
        description: Manage MCP portals, attached servers, and Code Mode settings
      servers:
        description: Manage upstream MCP servers, credentials, capabilities, and sync state
  network-interconnects:
    description: Physical and virtual private interconnects between your infrastructure and Cloudflare's network
    groups:
      cnis:
        description: Cloud Network Interconnect (CNI) connections — private links from cloud providers to Cloudflare
      interconnects:
        description: Physical cross-connect and partner interconnect sessions with LOA and status tracking
      settings:
        description: Account-level interconnect settings and default configurations
      slots:
        description: Available interconnect facility slots showing port capacity at Cloudflare data centers
  organizations:
    description: Multi-user organizations that group accounts, members, and shared settings under a single entity
    groups:
      account-organizations:
        description: List organizations associated with a specific account
      accounts:
        description: Accounts operations
      members:
        description: Members operations
      members-batch-create:
        description: Members Batch Create operations
      organization-profile:
        description: View and update the public profile information for an organization
      shares:
        description: Shares operations
  origin-post-quantum-encryption:
    description: Enable post-quantum key exchange for connections between Cloudflare and your origin server
  pages:
    description: Full-stack application hosting with Git-integrated builds, preview deployments, and custom domains
    groups:
      projects:
        description: Pages projects, deployments, build logs, and custom domain bindings
  pipelines:
    description: Ingest, transform, and route event streams into R2, analytics, or other destinations in real time
    groups:
      sinks:
        description: Destinations where pipeline data is written — R2 buckets, HTTP endpoints, or other storage
      streams:
        description: Inbound data streams that feed events into a pipeline for processing
  precursor:
    description: Precursor settings for a zone
  queues:
    description: Reliable message queuing between Workers — produce, consume, and batch-process messages at scale
    groups:
      consumers:
        description: Workers that automatically receive and process messages from a queue
      messages:
        description: Push messages to a queue and pull or acknowledge them from consumers
      purge:
        description: Remove all pending messages from a queue
      subscriptions:
        description: Manage queue subscriptions for event-driven message routing
  r2:
    description: S3-compatible object storage with zero egress fees — buckets, lifecycle rules, event notifications, and data migration
    groups:
      buckets:
        description: Create and configure R2 buckets including CORS, lifecycle, custom domains, event notifications, and object locks
      buckets.jobs:
        description: Create and inspect background jobs for an R2 bucket
      buckets.local-uploads:
        description: R2 bucket local upload configuration
      super-slurper:
        description: Migrate data from external S3-compatible storage into R2 buckets with resumable transfer jobs
      temporary-credentials:
        description: Generate short-lived S3-compatible credentials scoped to specific buckets and operations
  r2-data-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  radar:
    description: Internet-wide traffic intelligence — BGP, DNS, HTTP trends, attack data, and network quality insights
    groups:
      agent-readiness:
        description: Agent readiness summary statistics across the Cloudflare network
      ai:
        description: AI inference trends and model usage statistics across the Cloudflare network
      annotations:
        description: Radar annotations marking significant Internet events (outages, cable cuts, etc.)
      as112:
        description: AS112 DNS sinkhole statistics — reverse DNS query volumes for private address space
      attacks:
        description: DDoS and application-layer attack trends, vectors, and target analysis
      bgp:
        description: BGP routing data — prefix announcements, AS-level stats, route leaks, and hijack events
      bots:
        description: Internet-wide bot traffic trends, categories, and distribution statistics
      ct:
        description: Certificate Transparency log monitoring and newly-issued certificate discovery
      datasets:
        description: Downloadable Radar datasets for offline analysis and research
      dns:
        description: Global DNS query trends — top domains, resolver stats, and DNSSEC adoption
      email:
        description: Email security trends — DMARC/SPF/DKIM adoption, spam, and phishing statistics
      entities:
        description: Look up ASNs, IPs, domains, and locations with metadata and traffic summaries
      geolocations:
        description: Geographic location metadata used for regional traffic analysis
      http:
        description: HTTP protocol trends — TLS versions, HTTP versions, browser share, and OS distribution
      leaked-credentials:
        description: Leaked credential detection trends and exposure statistics
      netflows:
        description: Network-layer traffic flow data and volumetric trend analysis
      origins:
        description: Cloud and hosting origin providers (e.g. Amazon, by region) and their traffic metrics
      post-quantum:
        description: Post-quantum encryption adoption and deployment trends across the Internet
      quality:
        description: Internet connection quality metrics — speed, latency, and jitter by geography and ASN
      ranking:
        description: Top domain rankings based on DNS query popularity across the Cloudflare network
      robots-txt:
        description: Robots.txt adoption and crawler directive trends across the web
      search:
        description: Search Radar data across IPs, ASNs, domains, and locations
      tcp-resets-timeouts:
        description: TCP connection reset and timeout statistics indicating network health issues
      tlds:
        description: Top-level domain (TLD) metadata and performance trends
      traffic-anomalies:
        description: Detected traffic anomalies and unusual patterns in Internet traffic flows
      verified-bots:
        description: Catalog of known good bots (Googlebot, Bingbot, etc.) and their traffic patterns
  rate-limits:
    description: Legacy per-zone rate limiting rules — prefer Advanced Rate Limiting in Rulesets for new configurations
  realtime:
    description: Real-time audio, video, and data services on Cloudflare's global network
    groups:
      kit:
        description: SDK-backed meetings, participants, recordings, livestreams, and webhooks
      kit.analytics:
        description: Usage and livestream analytics for RealtimeKit applications
      kit.analytics.livestreams:
        description: Livestream analytics for RealtimeKit applications
      kit.analytics.livestreams.daily:
        description: Daily livestream analytics for RealtimeKit applications
      kit.analytics.usage:
        description: Usage analytics for RealtimeKit applications
      kit.apps:
        description: RealtimeKit applications that group meetings, sessions, and configuration
      kit.livestreams:
        description: Independent and meeting-based livestreams and their sessions
      kit.livestreams.sessions:
        description: Sessions for RealtimeKit livestreams
      kit.meetings:
        description: Meetings, participants, access tokens, and meeting livestreams
      kit.meetings.active:
        description: Live meeting state and participant controls
      kit.meetings.active.polls:
        description: Polls for active meeting sessions
      kit.meetings.livestream:
        description: Livestream operations associated with RealtimeKit meetings
      kit.meetings.participants:
        description: Participants in RealtimeKit meetings
      kit.meetings.participants.tokens:
        description: Access tokens for RealtimeKit meeting participants
      kit.presets:
        description: Reusable meeting configuration for media, permissions, and interface behavior
      kit.recordings:
        description: Meeting and participant-track recordings and recording controls
      kit.recordings.active:
        description: Active recordings for RealtimeKit meetings
      kit.recordings.tracks:
        description: Participant-track recordings for RealtimeKit meetings
      kit.sessions:
        description: Historical session data, participants, chat, transcripts, and summaries
      kit.sessions.chat:
[...]
