openapi: 3.2.0
info:
  description: Welcome to Cloudflare's API documentation site.
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare Waiting Room API
  version: 4.0.0
servers:
- description: Client API
  url: https://api.cloudflare.com/client/v4
security:
- api_email: []
  api_key: []
- api_token: []
- user_service_key: []
tags:
- name: Waiting Room
paths:
  /accounts/{account_id}/waiting_rooms:
    get:
      operationId: waiting-room-list-waiting-rooms-account
      summary: List waiting rooms for account
      description: Lists waiting rooms for account.
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      - $ref: '#/components/parameters/waitingroom_page'
      - $ref: '#/components/parameters/waitingroom_per_page'
      responses:
        '200':
          description: List waiting rooms for account response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_response_collection'
        4XX:
          description: List waiting rooms for account response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_response_collection'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Account Waiting Rooms Read
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.account-waiting-rooms
      x-fern-sdk-method-name: list
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms:
    get:
      operationId: waiting-room-list-waiting-rooms
      summary: List waiting rooms for zone
      description: Lists waiting rooms for zone.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      - $ref: '#/components/parameters/waitingroom_page'
      - $ref: '#/components/parameters/waitingroom_per_page'
      responses:
        '200':
          description: List waiting rooms for zone response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_response_collection'
        4XX:
          description: List waiting rooms for zone response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_response_collection'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Read
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: waiting-room-create-waiting-room
      summary: Create waiting room
      description: Creates a new waiting room.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_query_waitingroom'
      responses:
        '200':
          description: Create waiting room response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_single_response'
        4XX:
          description: Create waiting room response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_single_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/preview:
    post:
      operationId: waiting-room-create-a-custom-waiting-room-page-preview
      summary: Create a custom waiting room page preview
      description: 'Creates a waiting room page preview. Upload a custom waiting room page for preview. You will receive a preview URL in the form `http://waitingrooms.dev/preview/`. You can use the following query parameters to change the state of the preview:

        1. `force_queue`: Boolean indicating if all users will be queued in the waiting room and no one will be let into the origin website (also known as queueAll).

        2. `queue_is_full`: Boolean indicating if the waiting room''s queue is currently full and not accepting new users at the moment.

        3. `queueing_method`: The queueing method currently used by the waiting room.

        - **fifo** indicates a FIFO queue.

        - **random** indicates a Random queue.

        - **passthrough** indicates a Passthrough queue. Keep in mind that the waiting room page will only be displayed if `force_queue=true` or `event=prequeueing` — for other cases the request will pass through to the origin. For our preview, this will be a fake origin website returning \"Welcome\".

        - **reject** indicates a Reject queue.

        4. `event`: Used to preview a waiting room event.

        - **none** indicates no event is occurring.

        - **prequeueing** indicates that an event is prequeueing (between `prequeue_start_time` and `event_start_time`).

        - **started** indicates that an event has started (between `event_start_time` and `event_end_time`).

        5. `shuffle_at_event_start`: Boolean indicating if the event will shuffle users in the prequeue when it starts. This can only be set to **true** if an event is active (`event` is not **none**).


        For example, you can make a request to `http://waitingrooms.dev/preview/?force_queue=false&queue_is_full=false&queueing_method=random&event=started&shuffle_at_event_start=true`

        6. `waitTime`: Non-zero, positive integer indicating the estimated wait time in minutes. The default value is 10 minutes.


        For example, you can make a request to `http://waitingrooms.dev/preview/?waitTime=50` to configure the estimated wait time as 50 minutes.'
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_query_preview'
      responses:
        '200':
          description: Create a custom waiting room page preview response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_preview_response'
        4XX:
          description: Create a custom waiting room page preview response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_preview_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.page
      x-fern-sdk-method-name: preview
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/settings:
    get:
      operationId: waiting-room-get-zone-settings
      summary: Get zone-level Waiting Room settings
      description: Get zone-level Waiting Room settings.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: The current zone-level Waiting Room settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_zone_settings_response'
        4XX:
          description: The current zone-level Waiting Room settings response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_zone_settings_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Read
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.settings
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: waiting-room-patch-zone-settings
      summary: Patch zone-level Waiting Room settings
      description: Patch zone-level Waiting Room settings.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_zone_settings'
      responses:
        '200':
          description: The updated zone-level Waiting Room settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_zone_settings_response'
        4XX:
          description: The zone-level Waiting Room settings response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_zone_settings_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.settings
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
    put:
      operationId: waiting-room-update-zone-settings
      summary: Update zone-level Waiting Room settings
      description: Replace zone-level Waiting Room settings.
      parameters:
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_zone_settings'
      responses:
        '200':
          description: The updated zone-level Waiting Room settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_zone_settings_response'
        4XX:
          description: The zone-level Waiting Room settings response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_zone_settings_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.settings
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/{waiting_room_id}:
    delete:
      operationId: waiting-room-delete-waiting-room
      summary: Delete waiting room
      description: Deletes a waiting room.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: Delete waiting room response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_waiting_room_id_response'
        4XX:
          description: Delete waiting room response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_waiting_room_id_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
      x-forge-require-confirmation: This operation deletes the waiting room from the zone.
    get:
      operationId: waiting-room-waiting-room-details
      summary: Waiting room details
      description: Fetches a single configured waiting room.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: Waiting room details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_single_response'
        4XX:
          description: Waiting room details response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_single_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Read
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: waiting-room-patch-waiting-room
      summary: Patch waiting room
      description: Patches a configured waiting room.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_query_waitingroom'
      responses:
        '200':
          description: Patch waiting room response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_single_response'
        4XX:
          description: Patch waiting room response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_single_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
    put:
      operationId: waiting-room-update-waiting-room
      summary: Update waiting room
      description: Updates a configured waiting room.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_query_waitingroom'
      responses:
        '200':
          description: Update waiting room response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_single_response'
        4XX:
          description: Update waiting room response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_single_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/{waiting_room_id}/events:
    get:
      operationId: waiting-room-list-events
      summary: List events
      description: Lists events for a waiting room.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      - $ref: '#/components/parameters/waitingroom_page'
      - $ref: '#/components/parameters/waitingroom_per_page'
      responses:
        '200':
          description: List events response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_event_response_collection'
        4XX:
          description: List events response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_event_response_collection'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Read
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.events
      x-fern-sdk-method-name: list
      x-forge-hidden: true
    post:
      operationId: waiting-room-create-event
      summary: Create event
      description: Only available for the Waiting Room Advanced subscription. Creates an event for a waiting room. An event takes place during a specified period of time, temporarily changing the behavior of a waiting room. While the event is active, some of the properties in the event's configuration may either override or inherit from the waiting room's configuration. Note that events cannot overlap with each other, so only one event can be active at a time.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_query_event'
      responses:
        '200':
          description: Create event response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_event_response'
        4XX:
          description: Create event response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_event_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.events
      x-fern-sdk-method-name: create
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/{waiting_room_id}/events/{event_id}:
    delete:
      operationId: waiting-room-delete-event
      summary: Delete event
      description: Deletes an event for a waiting room.
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_event_id'
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: Delete event response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_event_id_response'
        4XX:
          description: Delete event response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_event_id_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.events
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
      x-forge-require-confirmation: This operation deletes the event from the waiting room.
    get:
      operationId: waiting-room-event-details
      summary: Event details
      description: Fetches a single configured event for a waiting room.
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_event_id'
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: Event details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_event_response'
        4XX:
          description: Event details response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_event_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Read
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.events
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    patch:
      operationId: waiting-room-patch-event
      summary: Patch event
      description: Patches a configured event for a waiting room.
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_event_id'
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_query_event'
      responses:
        '200':
          description: Patch event response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_event_response'
        4XX:
          description: Patch event response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_event_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.events
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
    put:
      operationId: waiting-room-update-event
      summary: Update event
      description: Updates a configured event for a waiting room.
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_event_id'
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_query_event'
      responses:
        '200':
          description: Update event response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_event_response'
        4XX:
          description: Update event response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_event_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.events
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/{waiting_room_id}/events/{event_id}/details:
    get:
      operationId: waiting-room-preview-active-event-details
      summary: Preview active event details
      description: Previews an event's configuration as if it was active. Inherited fields from the waiting room will be displayed with their current values.
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_event_id'
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: Preview active event details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_event_details_response'
        4XX:
          description: Preview active event details response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_event_details_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Read
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.events.details
      x-fern-sdk-method-name: get
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/{waiting_room_id}/rules:
    get:
      operationId: waiting-room-list-waiting-room-rules
      summary: List Waiting Room Rules
      description: Lists rules for a waiting room.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: List Waiting Room Rules response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_rules_response_collection'
        4XX:
          description: List Waiting Room Rules response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_rules_response_collection'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Read
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.rules
      x-fern-sdk-method-name: get
      x-forge-hidden: true
    post:
      operationId: waiting-room-create-waiting-room-rule
      summary: Create Waiting Room Rule
      description: Only available for the Waiting Room Advanced subscription. Creates a rule for a waiting room.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_create_rule'
      responses:
        '200':
          description: Create Waiting Room Rule response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_rules_response_collection'
        4XX:
          description: Create Waiting Room Rule response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_rules_response_collection'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.rules
      x-fern-sdk-method-name: create
      x-forge-hidden: true
    put:
      operationId: waiting-room-replace-waiting-room-rules
      summary: Replace Waiting Room Rules
      description: Only available for the Waiting Room Advanced subscription. Replaces all rules for a waiting room.
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_update_rules'
      responses:
        '200':
          description: Replace Waiting Room Rules response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_rules_response_collection'
        4XX:
          description: Replace Waiting Room Rules response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_rules_response_collection'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.rules
      x-fern-sdk-method-name: update
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/{waiting_room_id}/rules/{rule_id}:
    delete:
      operationId: waiting-room-delete-waiting-room-rule
      summary: Delete Waiting Room Rule
      description: Deletes a rule for a waiting room.
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_rule_id'
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: Delete Waiting Room Rule response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_rules_response_collection'
        4XX:
          description: Delete Waiting Room Rule response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_rules_response_collection'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.rules
      x-fern-sdk-method-name: delete
      x-forge-hidden: true
      x-forge-require-confirmation: This operation deletes the rule from the waiting room.
    patch:
      operationId: waiting-room-patch-waiting-room-rule
      summary: Patch Waiting Room Rule
      description: Patches a rule for a waiting room.
      parameters:
      - name: rule_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_rule_id'
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waitingroom_patch_rule'
      responses:
        '200':
          description: Patch Waiting Room Rule response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_rules_response_collection'
        4XX:
          description: Patch Waiting Room Rule response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_rules_response_collection'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: false
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.rules
      x-fern-sdk-method-name: edit
      x-forge-hidden: true
  /zones/{zone_id}/waiting_rooms/{waiting_room_id}/status:
    get:
      operationId: waiting-room-get-waiting-room-status
      summary: Get waiting room status
      description: 'Fetches the status of a configured waiting room. Response fields include:

        1. `status`: String indicating the status of the waiting room. The possible status are:

        - **not_queueing** indicates that the configured thresholds have not been met and all users are going through to the origin.

        - **queueing** indicates that the thresholds have been met and some users are held in the waiting room.

        - **event_prequeueing** indicates that an event is active and is currently prequeueing users before it starts.

        - **suspended** indicates that the room is suspended.

        2. `event_id`: String of the current event''s `id` if an event is active, otherwise an empty string.

        3. `estimated_queued_users`: Integer of the estimated number of users currently waiting in the queue.

        4. `estimated_total_active_users`: Integer of the estimated number of users currently active on the origin.

        5. `max_estimated_time_minutes`: Integer of the maximum estimated time currently presented to the users.'
      parameters:
      - name: waiting_room_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
      - name: zone_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/waitingroom_identifier'
      responses:
        '200':
          description: Get waiting room status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waitingroom_status_response'
        4XX:
          description: Get waiting room status response failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/waitingroom_status_response'
                - $ref: '#/components/schemas/waitingroom_api-response-common-failure'
      security:
      - api_token: []
      - api_email: []
        api_key: []
      tags:
      - Waiting Room
      x-api-token-group:
      - Waiting Rooms Read
      - Waiting Rooms Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: false
        pro: false
      x-fern-availability: generally-available
      x-fern-sdk-group-name: waiting-rooms.statuses
      x-fern-sdk-method-name: get
      x-forge-hidden: true
components:
  schemas:
    waitingroom_event_details_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/waitingroom_event_details_result'
        type: object
    waitingroom_timestamp:
      type: string
      format: date-time
      example: '2014-01-01T05:20:00.12345Z'
      readOnly: true
      x-auditable: true
    waitingroom_turnstile_mode:
      description: 'Which Turnstile widget type to use for detecting bot traffic. See

        [the Turnstile documentation](https://developers.cloudflare.com/turnstile/concepts/widget/#widget-types)

        for the definitions of these widget types. Set to `off` to disable the

        Turnstile integration entirely. Setting this to anything other than

        `off` or `invisible` requires Advanced Waiting Room.

        '
      type: string
      default: invisible
      enum:
      - 'off'
      - invisible
      - visible_non_interactive
      - visible_managed
      x-auditable: true
    waitingroom_identifier:
      description: Identifier.
      type: string
      example: 023e105f4ecef8ad9ca31a8372d0c353
      maxLength: 32
      x-auditable: true
    waitingroom_event_session_duration:
      description: If set, the event will override the waiting room's `session_duration` property while it is active. If null, the event will inherit it.
      type:
      - integer
      - 'null'
      maximum: 30
      minimum: 1
      x-auditable: true
    waitingroom_next_event_prequeue_start_time:
      description: An ISO 8601 timestamp that marks when the next event will begin queueing.
      type:
      - string
      - 'null'
      example: '2021-09-28T15:00:00Z'
      x-auditable: true
    waitingroom_description:
      description: A note that you can use to add more details about the waiting room.
      type: string
      example: Production - DO NOT MODIFY
      default: ''
      x-auditable: true
    waitingroom_api-response-single:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-common'
      - properties:
          result:
            type: object
            oneOf:
            - type: object
            - type: string
        type: object
    waitingroom_event_new_users_per_minute:
      description: If set, the event will override the waiting room's `new_users_per_minute` property while it is active. If null, the event will inherit it. This can only be set if the event's `total_active_users` property is also set.
      type:
      - integer
      - 'null'
      maximum: 2147483647
      minimum: 200
      x-auditable: true
    waitingroom_query_waitingroom:
      type: object
      properties:
        additional_routes:
          $ref: '#/components/schemas/waitingroom_additional_routes'
        cookie_attributes:
          $ref: '#/components/schemas/waitingroom_cookie_attributes'
        cookie_suffix:
          $ref: '#/components/schemas/waitingroom_cookie_suffix'
        custom_page_html:
          $ref: '#/components/schemas/waitingroom_custom_page_html'
        default_template_language:
          $ref: '#/components/schemas/waitingroom_default_template_language'
        description:
          $ref: '#/components/schemas/waitingroom_description'
        disable_session_renewal:
          $ref: '#/components/schemas/waitingroom_disable_session_renewal'
        enabled_origin_commands:
          $ref: '#/components/schemas/waitingroom_enabled_origin_commands'
        host:
          $ref: '#/components/schemas/waitingroom_host'
        json_response_enabled:
          $ref: '#/components/schemas/waitingroom_json_response_enabled'
        name:
          $ref: '#/components/schemas/waitingroom_name'
        new_users_per_minute:
          $ref: '#/components/schemas/waitingroom_new_users_per_minute'
        path:
          $ref: '#/components/schemas/waitingroom_path'
        queue_all:
          $ref: '#/components/schemas/waitingroom_queue_all'
        queueing_method:
          $ref: '#/components/schemas/waitingroom_queueing_method'
        queueing_status_code:
          $ref: '#/components/schemas/waitingroom_queueing_status_code'
        session_duration:
          $ref: '#/components/schemas/waitingroom_session_duration'
        suspended:
          $ref: '#/components/schemas/waitingroom_suspended'
        total_active_users:
          $ref: '#/components/schemas/waitingroom_total_active_users'
        turnstile_action:
          $ref: '#/components/schemas/waitingroom_turnstile_action'
        turnstile_mode:
          $ref: '#/components/schemas/waitingroom_turnstile_mode'
      required:
      - name
      - host
      - new_users_per_minute
      - total_active_users
    waitingroom_event_queueing_method:
      description: If set, the event will override the waiting room's `queueing_method` property while it is active. If null, the event will inherit it.
      type:
      - string
      - 'null'
      example: random
      x-auditable: true
    waitingroom_api-response-common-2:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/waitingroom_messages'
        messages:
          $ref: '#/components/schemas/waitingroom_messages'
        success:
          description: Whether the API call was successful.
          type: boolean
          example: true
          enum:
          - true
      required:
      - success
      - errors
      - messages
    waitingroom_event_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/waitingroom_event_result'
        type: object
    waitingroom_event_disable_session_renewal:
      description: If set, the event will override the waiting room's `disable_session_renewal` property while it is active. If null, the event will inherit it.
      type:
      - boolean
      - 'null'
      x-auditable: true
    waitingroom_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/waitingroom_waitingroom'
        type: object
    waitingroom_event_details_result:
      type: object
      properties:
        created_on:
          $ref: '#/components/schemas/waitingroom_timestamp'
        custom_page_html:
          $ref: '#/components/schemas/waitingroom_event_details_custom_page_html'
        description:
          $ref: '#/components/schemas/waitingroom_event_description'
        disable_session_renewal:
          $ref: '#/components/schemas/waitingroom_event_details_disable_session_renewal'
        event_end_time:
          $ref: '#/components/schemas/waitingroom_event_end_time'
        event_start_time:
          $ref: '#/components/schemas/waitingroom_event_start_time'
        id:
          $ref: '#/components/schemas/waitingroom_event_id'
        modified_on:
          $ref: '#/components/schemas/waitingroom_timestamp'
        name:
          $ref: '#/components/schemas/waitingroom_event_name'
        new_users_per_minute:
          $ref: '#/components/schemas/waitingroom_event_details_new_users_per_minute'
        prequeue_start_time:
          $ref: '#/components/schemas/waitingroom_event_prequeue_start_time'
        queueing_method:
          $ref: '#/components/schemas/waitingroom_event_details_queueing_method'
        session_duration:
          $ref: '#/components/schemas/waitingroom_event_details_session_duration'
        shuffle_at_event_start:
          $ref: '#/components/schemas/waitingroom_event_shuffle_at_event_start'
        suspended:
          $ref: '#/components/schemas/waitingroom_event_suspended'
        total_active_users:
          $ref: '#/components/schemas/waitingroom_event_details_total_active_users'
    waitingroom_additional_routes:
      description: Only available for the Waiting Room Advanced subscription. Additional hostname and path combinations to which this waiting room will be applied. There is an implied wildcard at the end of the path. The hostname and path combination must be unique to this and all other waiting rooms.
      type: array
      items:
        properties:
          host:
            description: The hostname to which this waiting room will be applied (no wildcards). The hostname must be the primary domain, subdomain, or custom hostname (if using SSL for SaaS) of this zone. Please do not include the scheme (http:// or https://).
            type: string
            example: shop2.example.com
            x-auditable: true
          path:
            description: Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported.
            type: string
            example: /shop2/checkout
            default: /
            x-auditable: true
        type: object
    waitingroom_cookie_attributes:
      description: Configures cookie attributes for the waiting room cookie. This encrypted cookie stores a user's status in the waiting room, such as queue position.
      type: object
      properties:
        samesite:
          description: Configures the SameSite attribute on the waiting room cookie. Value `auto` will be translated to `lax` or `none` depending if **Always Use HTTPS** is enabled. Note that when using value `none`, the secure attribute cannot be set to `never`.
          type: string
          example: auto
          default: auto
          enum:
          - auto
          - lax
          - none
          - strict
          x-auditable: true
        secure:
          description: Configures the Secure attribute on the waiting room cookie. Value `always` indicates that the Secure attribute will be set in the Set-Cookie header, `never` indicates that the Secure attribute will not be set, and `auto` will set the Secure attribute depending if **Always Use HTTPS** is enabled.
          type: string
          example: auto
          default: auto
          enum:
          - auto
          - always
          - never
          x-auditable: true
    waitingroom_event_end_time:
      description: An ISO 8601 timestamp that marks the end of the event.
      type: string
      example: '2021-09-28T17:00:00Z'
      x-auditable: true
    waitingroom_event_id:
      type: string
      example: 25756b2dfe6e378a06b033b670413757
      x-auditable: true
    waitingroom_event_details_queueing_method:
      type: string
      example: random
      x-auditable: true
    waitingroom_api-response-common-failure:
      type: object
      properties:
        errors:
          example:
          - code: 7003
            message: No route for the URI
          allOf:
          - $ref: '#/components/schemas/waitingroom_messages'
          minLength: 1
        messages:
          example: []
          allOf:
          - $ref: '#/components/schemas/waitingroom_messages'
        result:
          type:
          - object
          - 'null'
          enum:
          - null
        success:
          description: Whether the API call was successful.
          type: boolean
          example: false
          enum:
          - false
      required:
      - success
      - errors
      - messages
      - result
    waitingroom_api-response-common:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/waitingroom_messages'
        messages:
          $ref: '#/components/schemas/waitingroom_messages'
        result:
          type:
          - object
          - 'null'
        success:
          type: boolean
      required:
      - success
      - errors
      - messages
      - result
    waitingroom_disable_session_renewal:
      description: Only available for the Waiting Room Advanced subscription. Disables automatic renewal of session cookies. If `true`, an accepted user will have session_duration minutes to browse the site. After that, they will have to go through the waiting room again. If `false`, a user's session cookie will be automatically renewed on every request.
      type: boolean
      example: false
      default: false
      x-auditable: true
    waitingroom_event_turnstile_action:
      description: If set, the event will override the waiting room's `turnstile_action` property while it is active. If null, the event will inherit it.
      type:
      - string
      - 'null'
      enum:
      - log
      - infinite_queue
      x-auditable: true
    waitingroom_event_start_time:
      description: An ISO 8601 timestamp that marks the start of the event. At this time, queued users will be processed with the event's configuration. The start time must be at least one minute before `event_end_time`.
      type: string
      example: '2021-09-28T15:30:00Z'
      x-auditable: true
    waitingroom_waiting_room_id:
      type: string
      example: 699d98642c564d2e855e9661899b7252
      x-auditable: true
    waitingroom_zone_settings_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-single'
      - properties:
          result:
            type: object
            properties:
              search_engine_crawler_bypass:
                $ref: '#/components/schemas/waitingroom_search_engine_crawler_bypass'
            required:
            - search_engine_crawler_bypass
        required:
        - result
        type: object
    waitingroom_rule_position:
      description: Reorder the position of a rule
      type: object
      oneOf:
      - properties:
          index:
            description: Places the rule in the exact position specified by the integer number <POSITION_NUMBER>. Position numbers start with 1. Existing rules in the ruleset from the specified position number onward are shifted one position (no rule is overwritten).
            type: integer
            x-auditable: true
        type: object
      - properties:
          before:
            description: Places the rule before rule <RULE_ID>. Use this argument with an empty rule ID value ("") to set the rule as the first rule in the ruleset.
            type: string
            example: <RULE_ID>
            x-auditable: true
        type: object
      - properties:
          after:
            description: Places the rule after rule <RULE_ID>. Use this argument with an empty rule ID value ("") to set the rule as the last rule in the ruleset.
            type: string
            example: <RULE_ID>
            x-auditable: true
        type: object
    waitingroom_max_estimated_time_minutes:
      type: integer
      x-auditable: true
    waitingroom_rule_enabled:
      description: When set to true, the rule is enabled.
      type: boolean
      example: true
      default: true
      x-auditable: true
    waitingroom_rule_id:
      description: The ID of the rule.
      type: string
      example: 25756b2dfe6e378a06b033b670413757
      x-auditable: true
    waitingroom_preview_url:
      description: URL where the custom waiting room page can temporarily be previewed.
      type: string
      example: http://waitingrooms.dev/preview/35af8c12-6d68-4608-babb-b53435a5ddfb
      x-auditable: true
    waitingroom_json_response_enabled:
      description: "Only available for the Waiting Room Advanced subscription. If `true`, requests to the waiting room with the header `Accept: application/json` will receive a JSON response object with information on the user's status in the waiting room as opposed to the configured static HTML page. This JSON response object has one property `cfWaitingRoom` which is an object containing the following fields:\n1. `inWaitingRoom`: Boolean indicating if the user is in the waiting room (always **true**).\n2. `waitTimeKnown`: Boolean indicating if the current estimated wait times are accurate. If **false**, they are not available.\n3. `waitTime`: Valid only when `waitTimeKnown` is **true**. Integer indicating the current estimated time in minutes the user will wait in the waiting room. When `queueingMethod` is **random**, this is set to `waitTime50Percentile`.\n4. `waitTime25Percentile`: Valid only when `queueingMethod` is **random** and `waitTimeKnown` is **true**. Integer indicating the current estimated maximum wait time for the 25% of users that gain entry the fastest (25th percentile).\n5. `waitTime50Percentile`: Valid only when `queueingMethod` is **random** and `waitTimeKnown` is **true**. Integer indicating the current estimated maximum wait time for the 50% of users that gain entry the fastest (50th percentile). In other words, half of the queued users are expected to let into the origin website before `waitTime50Percentile` and half are expected to be let in after it.\n6. `waitTime75Percentile`: Valid only when `queueingMethod` is **random** and `waitTimeKnown` is **true**. Integer indicating the current estimated maximum wait time for the 75% of users that gain entry the fastest (75th percentile).\n7. `waitTimeFormatted`: String displaying the `waitTime` formatted in English for users. If `waitTimeKnown` is **false**, `waitTimeFormatted` will display **unavailable**.\n8. `queueIsFull`: Boolean indicating if the waiting room's queue is currently full and not accepting new users at the moment.\n9. `queueAll`: Boolean indicating if all users will be queued in the waiting room and no one will be let into the origin website.\n10. `lastUpdated`: String displaying the timestamp as an ISO 8601 string of the user's last attempt to leave the waiting room and be let into the origin website. The user is able to make another attempt after `refreshIntervalSeconds` past this time. If the user makes a request too soon, it will be ignored and `lastUpdated` will not change.\n11. `refreshIntervalSeconds`: Integer indicating the number of seconds after `lastUpdated` until the user is able to make another attempt to leave the waiting room and be let into the origin website. When the `queueingMethod` is `reject`, there is no specified refresh time —\\_it will always be **zero**.\n12. `queueingMethod`: The queueing method currently used by the waiting room. It is either **fifo**, **random**, **passthrough**, or **reject**.\n13. `isFIFOQueue`: Boolean indicating if the waiting room uses a FIFO (First-In-First-Out) queue.\n14. `isRandomQueue`: Boolean indicating if the waiting room uses a Random queue where users gain access randomly.\n15. `isPassthroughQueue`: Boolean indicating if the waiting room uses a passthrough queue. Keep in mind that when passthrough is enabled, this JSON response will only exist when `queueAll` is **true** or `isEventPrequeueing` is **true** because in all other cases requests will go directly to the origin.\n16. `isRejectQueue`: Boolean indicating if the waiting room uses a reject queue.\n17. `isEventActive`: Boolean indicating if an event is currently occurring. Events are able to change a waiting room's behavior during a specified period of time. For additional information, look at the event properties `prequeue_start_time`, `event_start_time`, and `event_end_time` in the documentation for creating waiting room events. Events are considered active between these start and end times, as well as during the prequeueing period if it exists.\n18. `isEventPrequeueing`: Valid only when `isEventActive` is **true**. Boolean indicating if an event is currently prequeueing users before it starts.\n19. `timeUntilEventStart`: Valid only when `isEventPrequeueing` is **true**. Integer indicating the number of minutes until the event starts.\n20. `timeUntilEventStartFormatted`: String displaying the `timeUntilEventStart` formatted in English for users. If `isEventPrequeueing` is **false**, `timeUntilEventStartFormatted` will display **unavailable**.\n21. `timeUntilEventEnd`: Valid only when `isEventActive` is **true**. Integer indicating the number of minutes until the event ends.\n22. `timeUntilEventEndFormatted`: String displaying the `timeUntilEventEnd` formatted in English for users. If `isEventActive` is **false**, `timeUntilEventEndFormatted` will display **unavailable**.\n23. `shuffleAtEventStart`: Valid only when `isEventActive` is **true**. Boolean indicating if the users in the prequeue are shuffled randomly when the event starts.\n24. `turnstile`: Empty when turnstile isn't enabled. String displaying an html tag to display the Turnstile widget. Please add the `{{{turnstile}}}` tag to the `custom_html` template to ensure the Turnstile widget appears.\n25. `infiniteQueue`: Boolean indicating whether the response is for a user in the infinite queue.\n\nAn example cURL to a waiting room could be:\n\n\tcurl -X GET \"https://example.com/waitingroom\" \\\n\t\t-H \"Accept: application/json\"\n\nIf `json_response_enabled` is **true** and the request hits the waiting room, an example JSON response when `queueingMethod` is **fifo** and no event is active could be:\n\n\t{\n\t\t\"cfWaitingRoom\": {\n\t\t\t\"inWaitingRoom\": true,\n\t\t\t\"waitTimeKnown\": true,\n\t\t\t\"waitTime\": 10,\n\t\t\t\"waitTime25Percentile\": 0,\n\t\t\t\"waitTime50Percentile\": 0,\n\t\t\t\"waitTime75Percentile\": 0,\n\t\t\t\"waitTimeFormatted\": \"10 minutes\",\n\t\t\t\"queueIsFull\": false,\n\t\t\t\"queueAll\": false,\n\t\t\t\"lastUpdated\": \"2020-08-03T23:46:00.000Z\",\n\t\t\t\"refreshIntervalSeconds\": 20,\n\t\t\t\"queueingMethod\": \"fifo\",\n\t\t\t\"isFIFOQueue\": true,\n\t\t\t\"isRandomQueue\": false,\n\t\t\t\"isPassthroughQueue\": false,\n\t\t\t\"isRejectQueue\": false,\n\t\t\t\"isEventActive\": false,\n\t\t\t\"isEventPrequeueing\": false,\n\t\t\t\"timeUntilEventStart\": 0,\n\t\t\t\"timeUntilEventStartFormatted\": \"unavailable\",\n\t\t\t\"timeUntilEventEnd\": 0,\n\t\t\t\"timeUntilEventEndFormatted\": \"unavailable\",\n\t\t\t\"shuffleAtEventStart\": false\n\t\t}\n\t}\n\nIf `json_response_enabled` is **true** and the request hits the waiting room, an example JSON response when `queueingMethod` is **random** and an event is active could be:\n\n\t{\n\t\t\"cfWaitingRoom\": {\n\t\t\t\"inWaitingRoom\": true,\n\t\t\t\"waitTimeKnown\": true,\n\t\t\t\"waitTime\": 10,\n\t\t\t\"waitTime25Percentile\": 5,\n\t\t\t\"waitTime50Percentile\": 10,\n\t\t\t\"waitTime75Percentile\": 15,\n\t\t\t\"waitTimeFormatted\": \"5 minutes to 15 minutes\",\n\t\t\t\"queueIsFull\": false,\n\t\t\t\"queueAll\": false,\n\t\t\t\"lastUpdated\": \"2020-08-03T23:46:00.000Z\",\n\t\t\t\"refreshIntervalSeconds\": 20,\n\t\t\t\"queueingMethod\": \"random\",\n\t\t\t\"isFIFOQueue\": false,\n\t\t\t\"isRandomQueue\": true,\n\t\t\t\"isPassthroughQueue\": false,\n\t\t\t\"isRejectQueue\": false,\n\t\t\t\"isEventActive\": true,\n\t\t\t\"isEventPrequeueing\": false,\n\t\t\t\"timeUntilEventStart\": 0,\n\t\t\t\"timeUntilEventStartFormatted\": \"unavailable\",\n\t\t\t\"timeUntilEventEnd\": 15,\n\t\t\t\"timeUntilEventEndFormatted\": \"15 minutes\",\n\t\t\t\"shuffleAtEventStart\": true\n\t\t}\n\t}"
      type: boolean
      example: false
      default: false
      x-auditable: true
    waitingroom_cookie_suffix:
      description: Appends a '_' + a custom suffix to the end of Cloudflare Waiting Room's cookie name(__cf_waitingroom). If `cookie_suffix` is "abcd", the cookie name will be `__cf_waitingroom_abcd`. This field is required if using `additional_routes`.
      type: string
      example: abcd
      default: ''
      x-auditable: true
    waitingroom_event_result:
      type: object
      properties:
        created_on:
          $ref: '#/components/schemas/waitingroom_timestamp'
        custom_page_html:
          $ref: '#/components/schemas/waitingroom_event_custom_page_html'
        description:
          $ref: '#/components/schemas/waitingroom_event_description'
        disable_session_renewal:
          $ref: '#/components/schemas/waitingroom_event_disable_session_renewal'
        event_end_time:
          $ref: '#/components/schemas/waitingroom_event_end_time'
        event_start_time:
          $ref: '#/components/schemas/waitingroom_event_start_time'
        id:
          $ref: '#/components/schemas/waitingroom_event_id'
        modified_on:
          $ref: '#/components/schemas/waitingroom_timestamp'
        name:
          $ref: '#/components/schemas/waitingroom_event_name'
        new_users_per_minute:
          $ref: '#/components/schemas/waitingroom_event_new_users_per_minute'
        prequeue_start_time:
          $ref: '#/components/schemas/waitingroom_event_prequeue_start_time'
        queueing_method:
          $ref: '#/components/schemas/waitingroom_event_queueing_method'
        session_duration:
          $ref: '#/components/schemas/waitingroom_event_session_duration'
        shuffle_at_event_start:
          $ref: '#/components/schemas/waitingroom_event_shuffle_at_event_start'
        suspended:
          $ref: '#/components/schemas/waitingroom_event_suspended'
        total_active_users:
          $ref: '#/components/schemas/waitingroom_event_total_active_users'
        turnstile_action:
          $ref: '#/components/schemas/waitingroom_event_turnstile_action'
        turnstile_mode:
          $ref: '#/components/schemas/waitingroom_event_turnstile_mode'
    waitingroom_queueing_status_code:
      description: HTTP status code returned to a user while in the queue.
      type: integer
      example: 202
      default: 200
      enum:
      - 200
      - 202
      - 429
      x-auditable: true
    waitingroom_query_event:
      type: object
      properties:
        custom_page_html:
          $ref: '#/components/schemas/waitingroom_event_custom_page_html'
        description:
          $ref: '#/components/schemas/waitingroom_event_description'
        disable_session_renewal:
          $ref: '#/components/schemas/waitingroom_event_disable_session_renewal'
        event_end_time:
          $ref: '#/components/schemas/waitingroom_event_end_time'
        event_start_time:
          $ref: '#/components/schemas/waitingroom_event_start_time'
        name:
          $ref: '#/components/schemas/waitingroom_event_name'
        new_users_per_minute:
          $ref: '#/components/schemas/waitingroom_event_new_users_per_minute'
        prequeue_start_time:
          $ref: '#/components/schemas/waitingroom_event_prequeue_start_time'
        queueing_method:
          $ref: '#/components/schemas/waitingroom_event_queueing_method'
        session_duration:
          $ref: '#/components/schemas/waitingroom_event_session_duration'
        shuffle_at_event_start:
          $ref: '#/components/schemas/waitingroom_event_shuffle_at_event_start'
        suspended:
          $ref: '#/components/schemas/waitingroom_event_suspended'
        total_active_users:
          $ref: '#/components/schemas/waitingroom_event_total_active_users'
        turnstile_action:
          $ref: '#/components/schemas/waitingroom_event_turnstile_action'
        turnstile_mode:
          $ref: '#/components/schemas/waitingroom_event_turnstile_mode'
      required:
      - name
      - event_start_time
      - event_end_time
    waitingroom_waiting_room_id_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-single'
      - properties:
          result:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/waitingroom_waiting_room_id'
        type: object
    waitingroom_next_event_start_time:
      description: An ISO 8601 timestamp that marks when the next event will start.
      type:
      - string
      - 'null'
      example: '2021-09-28T15:00:00Z'
      x-auditable: true
    waitingroom_status:
      type: string
      example: queueing
      enum:
      - event_prequeueing
      - not_queueing
      - queueing
      - suspended
      x-auditable: true
    waitingroom_event_suspended:
      description: Suspends or allows an event. If set to `true`, the event is ignored and traffic will be handled based on the waiting room configuration.
      type: boolean
      default: false
      x-auditable: true
    waitingroom_query_preview:
      type: object
      properties:
        custom_html:
          $ref: '#/components/schemas/waitingroom_custom_page_html'
      required:
      - custom_html
    waitingroom_messages:
      type: array
      items:
        properties:
          code:
            type: integer
            minimum: 1000
          documentation_url:
            type: string
          message:
            type: string
          source:
            type: object
            properties:
              pointer:
                type: string
        required:
        - code
        - message
        type: object
        uniqueItems: true
      example: []
    waitingroom_rule_result:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/waitingroom_rule_action'
        description:
          $ref: '#/components/schemas/waitingroom_rule_description'
        enabled:
          $ref: '#/components/schemas/waitingroom_rule_enabled'
        expression:
          $ref: '#/components/schemas/waitingroom_rule_expression'
        id:
          $ref: '#/components/schemas/waitingroom_rule_id'
        last_updated:
          $ref: '#/components/schemas/waitingroom_timestamp'
        version:
          $ref: '#/components/schemas/waitingroom_rule_version'
    waitingroom_session_duration:
      description: Lifetime of a cookie (in minutes) set by Cloudflare for users who get access to the route. If a user is not seen by Cloudflare again in that time period, they will be treated as a new user that visits the route.
      type: integer
      default: 5
      maximum: 30
      minimum: 1
      x-auditable: true
    waitingroom_event_total_active_users:
      description: If set, the event will override the waiting room's `total_active_users` property while it is active. If null, the event will inherit it. This can only be set if the event's `new_users_per_minute` property is also set.
      type:
      - integer
      - 'null'
      maximum: 2147483647
      minimum: 200
      x-auditable: true
    waitingroom_turnstile_action:
      description: 'Which action to take when a bot is detected using Turnstile. `log` will

        have no impact on queueing behavior, simply keeping track of how many

        bots are detected in Waiting Room Analytics. `infinite_queue` will send

        bots to a false queueing state, where they will never reach your

        origin. `infinite_queue` requires Advanced Waiting Room.

        '
      type: string
      default: log
      enum:
      - log
      - infinite_queue
      x-auditable: true
    waitingroom_api-response-collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-common-2'
      - properties:
          result_info:
            type: object
            properties:
              count:
                description: Total number of results for the requested service.
                type: number
                example: 1
              page:
                description: Current page within paginated list of results.
                type: number
                example: 1
              per_page:
                description: Number of results per page of results.
                type: number
                example: 20
              total_count:
                description: Total results available without any search parameters.
                type: number
                example: 2000
              total_pages:
                description: The number of total pages in the entire result set.
                type: number
                example: 100
        type: object
    waitingroom_event_shuffle_at_event_start:
      description: If enabled, users in the prequeue will be shuffled randomly at the `event_start_time`. Requires that `prequeue_start_time` is not null. This is useful for situations when many users will join the event prequeue at the same time and you want to shuffle them to ensure fairness. Naturally, it makes the most sense to enable this feature when the `queueing_method` during the event respects ordering such as **fifo**, or else the shuffling may be unnecessary.
      type: boolean
      default: false
      x-auditable: true
    waitingroom_rule_expression:
      description: Criteria defining when there is a match for the current rule.
      type: string
      example: ip.src in {10.20.30.40}
      x-auditable: true
    waitingroom_estimated_queued_users:
      type: integer
      x-auditable: true
    waitingroom_waitingroom:
      type: object
      properties:
        additional_routes:
          $ref: '#/components/schemas/waitingroom_additional_routes'
        cookie_attributes:
          $ref: '#/components/schemas/waitingroom_cookie_attributes'
        cookie_suffix:
          $ref: '#/components/schemas/waitingroom_cookie_suffix'
        created_on:
          $ref: '#/components/schemas/waitingroom_timestamp'
        custom_page_html:
          $ref: '#/components/schemas/waitingroom_custom_page_html'
        default_template_language:
          $ref: '#/components/schemas/waitingroom_default_template_language'
        description:
          $ref: '#/components/schemas/waitingroom_description'
        disable_session_renewal:
          $ref: '#/components/schemas/waitingroom_disable_session_renewal'
        enabled_origin_commands:
          $ref: '#/components/schemas/waitingroom_enabled_origin_commands'
        host:
          $ref: '#/components/schemas/waitingroom_host'
        id:
          $ref: '#/components/schemas/waitingroom_waiting_room_id'
        json_response_enabled:
          $ref: '#/components/schemas/waitingroom_json_response_enabled'
        modified_on:
          $ref: '#/components/schemas/waitingroom_timestamp'
        name:
          $ref: '#/components/schemas/waitingroom_name'
        new_users_per_minute:
          $ref: '#/components/schemas/waitingroom_new_users_per_minute'
        next_event_prequeue_start_time:
          $ref: '#/components/schemas/waitingroom_next_event_prequeue_start_time'
        next_event_start_time:
          $ref: '#/components/schemas/waitingroom_next_event_start_time'
        path:
          $ref: '#/components/schemas/waitingroom_path'
        queue_all:
          $ref: '#/components/schemas/waitingroom_queue_all'
        queueing_method:
          $ref: '#/components/schemas/waitingroom_queueing_method'
        queueing_status_code:
          $ref: '#/components/schemas/waitingroom_queueing_status_code'
        session_duration:
          $ref: '#/components/schemas/waitingroom_session_duration'
        suspended:
          $ref: '#/components/schemas/waitingroom_suspended'
        total_active_users:
          $ref: '#/components/schemas/waitingroom_total_active_users'
        turnstile_action:
          $ref: '#/components/schemas/waitingroom_turnstile_action'
        turnstile_mode:
          $ref: '#/components/schemas/waitingroom_turnstile_mode'
    waitingroom_event_details_new_users_per_minute:
      type: integer
      x-auditable: true
    waitingroom_event_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/waitingroom_event_result'
        type: object
    waitingroom_default_template_language:
      description: The language of the default page template. If no default_template_language is provided, then `en-US` (English) will be used.
      type: string
      example: es-ES
      default: en-US
      enum:
      - en-US
      - es-ES
      - de-DE
      - fr-FR
      - it-IT
      - ja-JP
      - ko-KR
      - pt-BR
      - zh-CN
      - zh-TW
      - nl-NL
      - pl-PL
      - id-ID
      - tr-TR
      - ar-EG
      - ru-RU
      - fa-IR
      - bg-BG
      - hr-HR
      - cs-CZ
      - da-DK
      - fi-FI
      - lt-LT
      - lv-LV
      - ms-MY
      - nb-NO
      - ro-RO
      - el-GR
      - he-IL
      - hi-IN
      - hu-HU
      - sr-BA
      - sk-SK
      - sl-SI
      - sv-SE
      - tl-PH
      - th-TH
      - uk-UA
      - vi-VN
      x-auditable: true
    waitingroom_host:
      description: The host name to which the waiting room will be applied (no wildcards). Please do not include the scheme (http:// or https://). The host and path combination must be unique.
      type: string
      example: shop.example.com
      x-auditable: true
    waitingroom_single_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-single'
      - properties:
          result:
            $ref: '#/components/schemas/waitingroom_waitingroom'
        type: object
    waitingroom_estimated_total_active_users:
      type: integer
      x-auditable: true
    waitingroom_event_id_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-single'
      - properties:
          result:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/waitingroom_event_id'
        type: object
    waitingroom_status_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-single'
      - properties:
          result:
            type: object
            properties:
              estimated_queued_users:
                $ref: '#/components/schemas/waitingroom_estimated_queued_users'
              estimated_total_active_users:
                $ref: '#/components/schemas/waitingroom_estimated_total_active_users'
              event_id:
                $ref: '#/components/schemas/waitingroom_status_event_id'
              max_estimated_time_minutes:
                $ref: '#/components/schemas/waitingroom_max_estimated_time_minutes'
              status:
                $ref: '#/components/schemas/waitingroom_status'
        type: object
    waitingroom_status_event_id:
      type: string
      example: 25756b2dfe6e378a06b033b670413757
      x-auditable: true
    waitingroom_rule_description:
      description: The description of the rule.
      type: string
      example: allow all traffic from 10.20.30.40
      default: ''
      x-auditable: true
    waitingroom_custom_page_html:
      description: 'Only available for the Waiting Room Advanced subscription. This is a template html file that will be rendered at the edge. If no custom_page_html is provided, the default waiting room will be used. The template is based on mustache ( https://mustache.github.io/ ). There are several variables that are evaluated by the Cloudflare edge:

        1. {{`waitTimeKnown`}} Acts like a boolean value that indicates the behavior to take when wait time is not available, for instance when queue_all is **true**.

        2. {{`waitTimeFormatted`}} Estimated wait time for the user. For example, five minutes. Alternatively, you can use:

        3. {{`waitTime`}} Number of minutes of estimated wait for a user.

        4. {{`waitTimeHours`}} Number of hours of estimated wait for a user (`Math.floor(waitTime/60)`).

        5. {{`waitTimeHourMinutes`}} Number of minutes above the `waitTimeHours` value (`waitTime%60`).

        6. {{`queueIsFull`}} Changes to **true** when no more people can be added to the queue.


        To view the full list of variables, look at the `cfWaitingRoom` object described under the `json_response_enabled` property in other Waiting Room API calls.'
      type: string
      example: '{{#waitTimeKnown}} {{waitTime}} mins {{/waitTimeKnown}} {{^waitTimeKnown}} Queue all enabled {{/waitTimeKnown}}'
      default: ''
      x-auditable: true
    waitingroom_path:
      description: Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported.
      type: string
      example: /shop/checkout
      default: /
      x-auditable: true
    waitingroom_create_rule:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/waitingroom_rule_action'
        description:
          $ref: '#/components/schemas/waitingroom_rule_description'
        enabled:
          $ref: '#/components/schemas/waitingroom_rule_enabled'
        expression:
          $ref: '#/components/schemas/waitingroom_rule_expression'
      required:
      - action
      - expression
    waitingroom_preview_response:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-single'
      - properties:
          result:
            type: object
            properties:
              preview_url:
                $ref: '#/components/schemas/waitingroom_preview_url'
        type: object
    waitingroom_event_name:
      description: A unique name to identify the event. Only alphanumeric characters, hyphens and underscores are allowed.
      type: string
      example: production_webinar_event
      x-auditable: true
    waitingroom_zone_settings:
      type: object
      properties:
        search_engine_crawler_bypass:
          $ref: '#/components/schemas/waitingroom_search_engine_crawler_bypass'
    waitingroom_event_description:
      description: A note that you can use to add more details about the event.
      type: string
      example: Production event - DO NOT MODIFY
      default: ''
      x-auditable: true
    waitingroom_event_turnstile_mode:
      description: If set, the event will override the waiting room's `turnstile_mode` property while it is active. If null, the event will inherit it.
      type:
      - string
      - 'null'
      enum:
      - 'off'
      - invisible
      - visible_non_interactive
      - visible_managed
      x-auditable: true
    waitingroom_event_prequeue_start_time:
      description: An ISO 8601 timestamp that marks when to begin queueing all users before the event starts. The prequeue must start at least five minutes before `event_start_time`.
      type:
      - string
      - 'null'
      example: '2021-09-28T15:00:00Z'
      x-auditable: true
    waitingroom_rule_version:
      description: The version of the rule.
      type: string
      example: '1'
      x-auditable: true
    waitingroom_new_users_per_minute:
      description: Sets the number of new users that will be let into the route every minute. This value is used as baseline for the number of users that are let in per minute. So it is possible that there is a little more or little less traffic coming to the route based on the traffic patterns at that time around the world.
      type: integer
      maximum: 2147483647
      minimum: 200
      x-auditable: true
    waitingroom_event_details_session_duration:
      type: integer
      x-auditable: true
    waitingroom_total_active_users:
      description: Sets the total number of active user sessions on the route at a point in time. A route is a combination of host and path on which a waiting room is available. This value is used as a baseline for the total number of active user sessions on the route. It is possible to have a situation where there are more or less active users sessions on the route based on the traffic patterns at that time around the world.
      type: integer
      maximum: 2147483647
      minimum: 200
      x-auditable: true
    waitingroom_rule_action:
      description: The action to take when the expression matches.
      type: string
      example: bypass_waiting_room
      enum:
      - bypass_waiting_room
      x-auditable: true
    waitingroom_update_rules:
      type: array
      items:
        $ref: '#/components/schemas/waitingroom_create_rule'
    waitingroom_patch_rule:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/waitingroom_rule_action'
        description:
          $ref: '#/components/schemas/waitingroom_rule_description'
        enabled:
          $ref: '#/components/schemas/waitingroom_rule_enabled'
        expression:
          $ref: '#/components/schemas/waitingroom_rule_expression'
        position:
          $ref: '#/components/schemas/waitingroom_rule_position'
      required:
      - action
      - expression
    waitingroom_name:
      description: A unique name to identify the waiting room. Only alphanumeric characters, hyphens and underscores are allowed.
      type: string
      example: production_webinar
      x-auditable: true
    waitingroom_event_details_custom_page_html:
      type: string
      example: '{{#waitTimeKnown}} {{waitTime}} mins {{/waitTimeKnown}} {{^waitTimeKnown}} Event is prequeueing / Queue all enabled {{/waitTimeKnown}}'
      x-auditable: true
    waitingroom_queueing_method:
      description: 'Sets the queueing method used by the waiting room. Changing this parameter from the **default** queueing method is only available for the Waiting Room Advanced subscription. Regardless of the queueing method, if `queue_all` is enabled or an event is prequeueing, users in the waiting room will not be accepted to the origin. These users will always see a waiting room page that refreshes automatically. The valid queueing methods are:

        1. `fifo` **(default)**: First-In-First-Out queue where customers gain access in the order they arrived.

        2. `random`: Random queue where customers gain access randomly, regardless of arrival time.

        3. `passthrough`: Users will pass directly through the waiting room and into the origin website. As a result, any configured limits will not be respected while this is enabled. This method can be used as an alternative to disabling a waiting room (with `suspended`) so that analytics are still reported. This can be used if you wish to allow all traffic normally, but want to restrict traffic during a waiting room event, or vice versa.

        4. `reject`: Users will be immediately rejected from the waiting room. As a result, no users will reach the origin website while this is enabled. This can be used if you wish to reject all traffic while performing maintenance, block traffic during a specified period of time (an event), or block traffic while events are not occurring. Consider a waiting room used for vaccine distribution that only allows traffic during sign-up events, and otherwise blocks all traffic. For this case, the waiting room uses `reject`, and its events override this with `fifo`, `random`, or `passthrough`. When this queueing method is enabled and neither `queueAll` is enabled nor an event is prequeueing, the waiting room page **will not refresh automatically**.'
      type: string
      example: fifo
      default: fifo
      enum:
      - fifo
      - random
      - passthrough
      - reject
      x-auditable: true
    waitingroom_queue_all:
      description: If queue_all is `true`, all the traffic that is coming to a route will be sent to the waiting room. No new traffic can get to the route once this field is set and estimated time will become unavailable.
      type: boolean
      example: true
      default: false
      x-auditable: true
    waitingroom_event_details_disable_session_renewal:
      type: boolean
      example: false
      x-auditable: true
    waitingroom_search_engine_crawler_bypass:
      description: 'Whether to allow verified search engine crawlers to bypass all waiting rooms on this zone.

        Verified search engine crawlers will not be tracked or counted by the waiting room system,

        and will not appear in waiting room analytics.

        '
      type: boolean
      example: true
      default: false
      x-auditable: true
    waitingroom_enabled_origin_commands:
      description: A list of enabled origin commands.
      type: array
      items:
        enum:
        - revoke
        type: string
        uniqueItems: true
        x-auditable: true
      default: []
    waitingroom_event_custom_page_html:
      description: If set, the event will override the waiting room's `custom_page_html` property while it is active. If null, the event will inherit it.
      type:
      - string
      - 'null'
      example: '{{#waitTimeKnown}} {{waitTime}} mins {{/waitTimeKnown}} {{^waitTimeKnown}} Event is prequeueing / Queue all enabled {{/waitTimeKnown}}'
      x-auditable: true
    waitingroom_event_details_total_active_users:
      type: integer
      x-auditable: true
    waitingroom_suspended:
      description: Suspends or allows traffic going to the waiting room. If set to `true`, the traffic will not go to the waiting room.
      type: boolean
      default: false
      x-auditable: true
    waitingroom_rules_response_collection:
      type: object
      allOf:
      - $ref: '#/components/schemas/waitingroom_api-response-collection'
      - properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/waitingroom_rule_result'
        type: object
  parameters:
    waitingroom_page:
      description: Page number of paginated results.
      in: query
      name: page
      schema:
        type: number
        default: 1
        minimum: 1
    waitingroom_per_page:
      description: Maximum number of results per page. Must be a multiple of 5.
      in: query
      name: per_page
      schema:
        type: number
        default: 25
        maximum: 1000
        minimum: 5
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
    api_token:
      scheme: bearer
      type: http
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
externalDocs:
  description: Cloudflare Radar Documentation
  url: https://developers.cloudflare.com/radar/
x-forge-commands:
  abuse-reports:
    description: Submit and track abuse reports for phishing, malware, and other policy violations on Cloudflare-proxied sites
    groups:
      appeals:
        description: Appeal eligibility for abuse reports
      emails:
        description: Emails sent for abuse reports
      mitigations:
        description: Mitigation actions taken in response to abuse reports
  accounts:
    description: Account settings, members, roles, subscriptions, and API tokens for your Cloudflare account
    groups:
      applications:
        description: Applications operations
      categories:
        description: Categories operations
      organizations:
        description: Move accounts between organizations
      profile:
        description: View and manage the profile for a Cloudflare account
      roles:
        description: View the roles available for assigning to account members, each defining a set of permissions
      subscriptions:
        description: View and manage plan subscriptions attached to this account
      tokens:
        description: Create and manage scoped API tokens for programmatic access to the Cloudflare API
  ai-gateway:
    description: Proxy, cache, rate-limit, and observe requests to AI providers — OpenAI, Anthropic, Workers AI, and more
    groups:
      custom-domains:
        description: Manage custom hostnames that route requests through an AI Gateway
      custom-providers:
        description: Manage account-level custom AI providers and their endpoint settings
      datasets:
        description: 'Deprecated: manage filtered collections of gateway logs used by evaluations'
      dynamic-routing:
        description: Route requests across multiple AI providers with fallback, load-balancing, and versioned deployments
      dynamic-routing.deployments:
        description: Deploy dynamic route versions and view deployment history
      dynamic-routing.versions:
        description: Create and inspect saved versions of a dynamic route
      evaluation-types:
        description: 'Deprecated: list the evaluator types that evaluations can use'
      evaluations:
        description: 'Deprecated: score the logs in a dataset with selected evaluator types'
      gateways:
        description: Create and configure AI Gateways for an account
      gateways.providers:
        description: Store and rotate upstream AI provider keys for a gateway
      logs:
        description: Inspect, annotate, and delete gateway request logs stored by Legacy Logs
  ai-search:
    description: 'Managed search-as-a-service: crawl, index, and query content with AI-powered relevance and chat completions'
    groups:
      items:
        description: Content indexed by AI Search instances
      jobs:
        description: Indexing job lifecycle for AI Search instances
      namespace:
        description: Logical groupings for organizing AI Search instances
      tokens:
        description: Credentials used by AI Search instances
  ai-security:
    description: Detect prompt injection, PII, and unsafe topics in traffic to your AI applications
    groups:
      custom-topics:
        description: Organization-specific topic categories used by AI Security for Apps content detection
  analytics:
    description: Zone-level traffic analytics — dashboard summaries, per-colo breakdowns, and Argo latency metrics
    groups:
      colo:
        description: Per-data-center (colo) traffic analytics breakdown for the zone
      dashboard:
        description: Aggregated zone dashboard analytics — requests, bandwidth, threats, and page views
      latency:
        description: Argo Smart Routing latency analytics showing time-to-first-byte improvements
  argo:
    description: Network optimization features that speed up and improve reliability of traffic to your origins
    groups:
      smart-routing:
        description: Route traffic through the fastest network paths to your origin using real-time latency data
      tiered-caching:
        description: Reduce origin load by having upper-tier data centers serve cache misses before reaching your origin
  basin-catalog:
    description: Iceberg-compatible data catalog for R2 — organize objects into tables and namespaces for SQL query engines
    groups:
      credentials:
        description: Catalog access credentials for external query engines (Spark, Trino, etc.)
      maintenance-configs:
        description: Table maintenance settings — compaction schedules and snapshot expiration policies
      namespaces:
        description: Logical namespaces that group related tables within the data catalog
      namespaces.tables:
        description: Tables within catalog namespaces
      namespaces.tables.maintenance-configs:
        description: Table-level maintenance configurations and operations
      namespaces.tables.maintenance-runs:
        description: History of maintenance runs performed on tables
  billing:
    description: Account billing profiles and usage data for Cloudflare subscriptions and add-on services
    groups:
      profiles:
        description: Billing profile with payment method, address, and invoice preferences
      usage:
        description: Metered usage data for billed services — requests, bandwidth, and feature consumption
  botnet-feed:
    description: Botnet threat intelligence feeds — IP and ASN-level data on known command-and-control infrastructure
    groups:
      asn:
        description: ASN-level botnet activity data showing networks with known C2 infrastructure
      configs:
        description: Botnet feed subscription configuration and notification preferences
  builds:
    description: Build and deploy Workers from connected repositories, then inspect build status and logs.
    groups:
      deploy-hooks:
        description: Manage branch-specific HTTP hooks that start builds.
      limits:
[...]
