openapi: 3.2.0
info:
  title: Cloudflare Objects API
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
  description: 'Operations tagged Objects across 2 of this provider''s published API definitions: cloudflare-durable-objects-openapi.yml, cloudflare-r2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Objects
  description: List and manage individual Durable Object instances within a namespace.
paths:
  /accounts/{account_id}/workers/durable_objects/namespaces/{namespace_id}/objects:
    get:
      operationId: listDurableObjects
      summary: Cloudflare List Durable Objects
      description: Returns a list of Durable Objects within a namespace with cursor-based pagination.
      tags:
      - Objects
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/NamespaceId'
      - name: cursor
        in: query
        description: Cursor for pagination.
        schema:
          type: string
        example: example_value
      - name: limit
        in: query
        description: Maximum number of objects to return.
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: List of Durable Objects.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
  /accounts/{account_id}/r2/buckets/{bucket_name}/objects:
    get:
      operationId: listR2Objects
      summary: Cloudflare List Objects in Bucket
      description: List objects stored in an R2 bucket with optional prefix filtering and pagination.
      tags:
      - Objects
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/BucketName'
      - name: prefix
        in: query
        description: Filter objects by key prefix.
        schema:
          type: string
        example: example_value
      - name: delimiter
        in: query
        description: Delimiter for grouping object keys.
        schema:
          type: string
        example: example_value
      - name: cursor
        in: query
        description: Cursor for pagination.
        schema:
          type: string
        example: example_value
      - name: per_page
        in: query
        description: Number of objects per page.
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: List of objects.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.cloudflare.com/client/v4
      description: Cloudflare API v4 Production Server
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    NamespaceId:
      name: namespace_id
      in: path
      required: true
      description: The unique identifier of the Durable Object namespace.
      schema:
        type: string
    BucketName:
      name: bucket_name
      in: path
      required: true
      description: The name of the R2 bucket.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Workers permissions.
x-refined-from:
- cloudflare-durable-objects-openapi.yml
- cloudflare-r2-openapi.yml
