openapi: 3.2.0
info:
  title: Cloudflare Stream Signing Keys API
  description: Cloudflare Stream provides a single API for uploading, storing, encoding, and delivering live and on-demand video. The API supports direct uploads, TUS resumable uploads, live streaming via RTMPS and SRT, video playback with a built-in player, and signed URL access control.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API v4 Production Server
security:
- bearerAuth: []
tags:
- name: Signing Keys
  description: Manage signing keys for signed video URLs.
paths:
  /accounts/{account_id}/stream/keys:
    get:
      operationId: listSigningKeys
      summary: Cloudflare List Signing Keys
      description: Returns all signing keys for creating signed video URLs.
      tags:
      - Signing Keys
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of signing keys.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSigningKey
      summary: Cloudflare Create Signing Key
      description: Create a new signing key for generating signed video URLs.
      tags:
      - Signing Keys
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Signing key created.
        '401':
          description: Unauthorized.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token with Stream permissions.
externalDocs:
  description: Cloudflare Stream Documentation
  url: https://developers.cloudflare.com/stream/
