openapi: 3.1.0
info:
  title: Cloudflare Vectorize API
  description: >-
    Cloudflare Vectorize is a globally distributed vector database for building
    AI-powered applications. The API allows developers to create and manage
    indexes, insert and upsert vectors, and perform similarity queries for
    semantic search, recommendations, and classification tasks.
  version: '4.0'
  contact:
    name: Cloudflare Support
    url: https://support.cloudflare.com/
  termsOfService: https://www.cloudflare.com/terms/
externalDocs:
  description: Cloudflare Vectorize Documentation
  url: https://developers.cloudflare.com/vectorize/
servers:
  - url: https://api.cloudflare.com/client/v4
    description: Cloudflare API v4 Production Server
tags:
  - name: Indexes
    description: >-
      Create, list, update, and delete vector indexes.
  - name: Vectors
    description: >-
      Insert, upsert, query, get, and delete vectors within an index.
security:
  - bearerAuth: []
paths:
  /accounts/{account_id}/vectorize/v2/indexes:
    get:
      operationId: listVectorizeIndexes
      summary: Cloudflare List Vectorize indexes
      description: >-
        Returns all Vectorize indexes for the account.
      tags:
        - Indexes
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of indexes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexListResponse'
        '401':
          description: Unauthorized.
    post:
      operationId: createVectorizeIndex
      summary: Cloudflare Create Vectorize index
      description: >-
        Create a new vector index with the specified dimensions and distance
        metric.
      tags:
        - Indexes
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexInput'
      responses:
        '200':
          description: Index created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}:
    get:
      operationId: getVectorizeIndex
      summary: Cloudflare Get Vectorize index
      description: >-
        Retrieve details of a specific Vectorize index.
      tags:
        - Indexes
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IndexName'
      responses:
        '200':
          description: Index details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Index not found.
    put:
      operationId: updateVectorizeIndex
      summary: Cloudflare Update Vectorize index
      description: >-
        Update the configuration of a Vectorize index.
      tags:
        - Indexes
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IndexName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Updated description for the index.
      responses:
        '200':
          description: Index updated successfully.
        '401':
          description: Unauthorized.
    delete:
      operationId: deleteVectorizeIndex
      summary: Cloudflare Delete Vectorize index
      description: >-
        Delete a Vectorize index and all its vectors.
      tags:
        - Indexes
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IndexName'
      responses:
        '200':
          description: Index deleted successfully.
        '401':
          description: Unauthorized.
        '404':
          description: Index not found.
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}/insert:
    post:
      operationId: insertVectors
      summary: Cloudflare Insert vectors
      description: >-
        Insert new vectors into the index. If a vector with the same ID
        already exists, the request will fail.
      tags:
        - Vectors
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IndexName'
      requestBody:
        required: true
        content:
          application/x-ndjson:
            schema:
              type: string
              description: Newline-delimited JSON vectors.
      responses:
        '200':
          description: Vectors inserted successfully.
        '400':
          description: Bad request or duplicate IDs.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}/upsert:
    post:
      operationId: upsertVectors
      summary: Cloudflare Upsert vectors
      description: >-
        Insert or update vectors in the index. If a vector with the same ID
        exists, it will be replaced.
      tags:
        - Vectors
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IndexName'
      requestBody:
        required: true
        content:
          application/x-ndjson:
            schema:
              type: string
              description: Newline-delimited JSON vectors.
      responses:
        '200':
          description: Vectors upserted successfully.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}/query:
    post:
      operationId: queryVectors
      summary: Cloudflare Query vectors
      description: >-
        Perform a similarity search against the index. Returns the nearest
        vectors to the provided query vector.
      tags:
        - Vectors
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IndexName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vector
              properties:
                vector:
                  type: array
                  items:
                    type: number
                  description: The query vector.
                topK:
                  type: integer
                  description: Number of nearest neighbors to return.
                  default: 10
                returnValues:
                  type: boolean
                  description: Whether to return vector values.
                returnMetadata:
                  type: string
                  description: Whether to return vector metadata.
                  enum:
                    - none
                    - indexed
                    - all
                filter:
                  type: object
                  description: Metadata filter for the query.
      responses:
        '200':
          description: Query results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '401':
          description: Unauthorized.
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}/get_by_ids:
    post:
      operationId: getVectorsByIds
      summary: Cloudflare Get vectors by IDs
      description: >-
        Retrieve specific vectors by their IDs.
      tags:
        - Vectors
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IndexName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: Vector IDs to retrieve.
      responses:
        '200':
          description: Vectors retrieved.
        '401':
          description: Unauthorized.
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}/delete_by_ids:
    post:
      operationId: deleteVectorsByIds
      summary: Cloudflare Delete vectors by IDs
      description: >-
        Delete specific vectors from the index by their IDs.
      tags:
        - Vectors
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IndexName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: Vector IDs to delete.
      responses:
        '200':
          description: Vectors deleted.
        '401':
          description: Unauthorized.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API token with Vectorize permissions.
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the Cloudflare account.
      schema:
        type: string
    IndexName:
      name: index_name
      in: path
      required: true
      description: The name of the Vectorize index.
      schema:
        type: string
  schemas:
    VectorizeIndex:
      type: object
      properties:
        name:
          type: string
          description: The name of the index.
        description:
          type: string
          description: Description of the index.
        config:
          type: object
          properties:
            dimensions:
              type: integer
              description: Number of dimensions for each vector.
            metric:
              type: string
              enum:
                - cosine
                - euclidean
                - dot-product
              description: Distance metric used for similarity.
        created_on:
          type: string
          format: date-time
        modified_on:
          type: string
          format: date-time
    IndexInput:
      type: object
      required:
        - name
        - config
      properties:
        name:
          type: string
          description: The name of the index.
        description:
          type: string
          description: Description of the index.
        config:
          type: object
          required:
            - dimensions
            - metric
          properties:
            dimensions:
              type: integer
              description: Number of dimensions.
            metric:
              type: string
              enum:
                - cosine
                - euclidean
                - dot-product
    IndexResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/VectorizeIndex'
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
        messages:
          type: array
          items:
            type: object
    IndexListResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/VectorizeIndex'
        success:
          type: boolean
    QueryResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            count:
              type: integer
              description: Number of results returned.
            matches:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The vector ID.
                  score:
                    type: number
                    description: Similarity score.
                  values:
                    type: array
                    items:
                      type: number
                  metadata:
                    type: object
        success:
          type: boolean
