---
title: "Cloudflare Fundamentals - Improved publisher verification details on OAuth consent screens"
url: "https://developers.cloudflare.com/changelog/post/2026-08-04-oauth-consent-shields/"
date: "2026-08-05"
feed_url: "https://developers.cloudflare.com/changelog/rss/index.xml"
---
OAuth consent screens now display a shield icon with explanatory text beneath the consent screen title. Each shield icon indicates who owns the application and whether its domain ownership is verified. Green filled shield : Cloudflare owns and manages the application.
